[2019-05-09 02:24] patrickarlt opened #1 "Component: Checkbox"
https://github.com/Esri/calcite-web/issues/1030

Also See: https://ionicframework.com/docs/api/checkbox

[2019-05-09 02:25] patrickarlt opened #2 "Component: Select"
https://github.com/Esri/calcite-web/issues/1017 and https://github.com/Esri/calcite-web/issues/1021

Also See: https://ionicframework.com/docs/api/select

[2019-05-09 02:29] patrickarlt opened #3 "Component: ToggleSwitch"
Unable to find a design in Calcite Web 2.0.

Also See: https://ionicframework.com/docs/api/toggle

[2019-05-09 02:32] patrickarlt opened #4 "Component: Slider"
Couldn't find a design in Calcite Web 2.0.

Also See: https://ionicframework.com/docs/api/range

[2019-05-09 02:34] patrickarlt opened #5 "Component: Radio Group"
https://github.com/Esri/calcite-web/issues/1030

Also See: https://ionicframework.com/docs/api/radio-group, https://ionicframework.com/docs/api/radio

[2019-05-09 02:36] patrickarlt opened #6 "Component: Dropdown"
https://github.com/Esri/calcite-web/issues/1021 and https://github.com/Esri/calcite-web/issues/1017.

Also See: https://ionicframework.com/docs/api/select

[2019-05-09 02:37] patrickarlt opened #7 "Component: Loader"
https://github.com/Esri/calcite-web/issues/1022

Also See: https://ionicframework.com/docs/api/progress-bar

[2019-05-09 02:39] patrickarlt opened #8 "Component: Tabs"
https://github.com/Esri/calcite-web/issues/1014

Also See: https://ionicframework.com/docs/api/tabs

[2019-05-09 02:42] patrickarlt opened #9 "Component: Modal"
https://github.com/Esri/calcite-web/issues/1013

Also See: https://ionicframework.com/docs/api/modal

[2019-05-09 02:45] patrickarlt opened #10 "Component: Accordion"
https://github.com/Esri/calcite-web/issues/1015

[2019-05-09 02:49] patrickarlt opened #11 "Component: Tree Navigation"
http://proto.esri.com/#/detail/Navigation/Tree%20Navigation/1

I'm adding this to the initial list from @paulcpederson because we have a pretty big need for it on both the Developers Site (the existing side nav pattern isn't working for us anymore) and the Vector Tile Style Editor (our existing Angular tree component has issues).

[2019-05-09 17:16] macandcheese opened #12 "Global: SCSS Imports"
Make underlying variables available for each component's scoped SCSS file. We should leverage the calcite-colors, calcite-fonts, etc., repos here. Maybe through a root-level `includes.scss` file?

It might also be a good time to think about a calcite-tokens or low-level variable library of spacing, shadow values, etc.,

in 'stencil-config'...

[code]

[2019-05-10 22:54] paulcpederson opened #15 "Component: Alert"
example: https://ionicframework.com/docs/api/alert

[2019-05-18 14:18] #12 closed, assigned to nobody

[2019-05-20 21:16] patrickarlt opened #18 "First alpha release"
@paulcpederson @julio8a @macandcheese I would like to be able to present Calcite Components at the brown bag session in ~2 weeks. By then do you think we could cut an initial alpha release so I can start to integrate this into the ArcGIS for Developers and Vector Tile Style Editor. IT would be great to have:
  * `<calcite-tabs>` - can replace out current tabs in a few places on ArcGIS for Develope

[2019-05-22 16:25] asangma opened #20 "Custom :focus styles"
Are there any plans or patterns to do custom :focus states?
We sometimes see weird stuff with browser default focus outline.

Of course, we would want to retain accessibility.

I know there's stuff like outliner.js and stuff like that.

cc @driskull @jcfranco

[a11yproject.com article](https://a11yproject.com/posts/never-remove-css-outlines/)

[2019-05-31 17:32] macandcheese opened #28 "SCSS Methodology"
We should decide on a syntax and style for writing SCSS before we reach a point where we have so many components that updating them becomes a chore.

I'm mostly of the mindset that web components allow us to _avoid_ something as heavy as BEM, and use more lightly-scoped class names and 'is-active' type props on components to achieve styling.

Thoughts? 🍿

[2019-06-03 04:40] #28 closed, assigned to nobody

[2019-06-03 16:00] pr3tori4n opened #30 "Introduce Autoprefixer into the build process"
This has 2 major benefits.
1) It eliminates developers needing to intentionally read/write (while deving and code reviewing) vendor prefixes for CSS properties. Less work!
2) It prevents browser-specific bugs from a vendor prefix being accidentally omitted or typo'd.

https://github.com/postcss/autoprefixer

[2019-06-03 18:04] kumarGayu opened #31 "Component: Label"
This arose from #24
cc: @patrickarlt @macandcheese

[2019-06-04 21:09] macandcheese opened #34 "LocalStorage improvements for Tabs"
Taking a stab at this.... based on comments in https://github.com/ArcGIS/calcite-components/pull/32, we probably want to aggregate each component's localStorage use to a single store, instead of an individual store for each instance of that component.

Tab issue: https://github.com/ArcGIS/calcite-components/issues/8

Can maybe just leave it in the Tab component for now and then abstract into a uti

[2019-06-05 03:32] patrickarlt opened #35 "Conventions: Document <calcite-example> and basic contributing guide"
Breakout of https://github.com/ArcGIS/calcite-components/pull/32#discussion_r290391795.

[2019-06-05 03:33] patrickarlt opened #36 "Conventions: Naming conventions for attributes"
@driskull @ycabon Agreed we should document naming conventions https://github.com/ArcGIS/calcite-components/pull/32#discussion_r290522166.

Examples:

* `active` not `isActive`
* `disabled` not `isDisabled`

Some components will have to change to accommodate this.

[2019-06-05 16:34] patrickarlt opened #37 "Conventions: Should use a CSS naming convention like BEM?"
Breakout from https://github.com/ArcGIS/calcite-components/pull/32#discussion_r290388120

Discuss. I'll flesh this out later. 😄

[2019-06-05 16:35] patrickarlt opened #38 "Conventions: Color variable names"
Breakout from: https://github.com/ArcGIS/calcite-components/pull/32#discussion_r290411762

Discuss. I'll flesh this out later. 😄

[2019-06-05 16:37] patrickarlt opened #39 "Disscussion: Global configuration"
Breakout from https://github.com/ArcGIS/calcite-components/pull/32#issuecomment-498954866, https://github.com/ArcGIS/calcite-components/pull/32#issuecomment-498940293.

Discuss. I'll flesh this out later. 😄

[2019-06-05 17:41] #31 closed, assigned to kumarGayu

[2019-06-05 19:14] patrickarlt opened #40 "Conventions: Other Esri/ArcGIS component libraries"
Discuss. I'll flesh this out later. 😄

[2019-06-05 19:15] patrickarlt opened #41 "Conventions: 3rd party resources"
Discuss. I'll flesh this out later. 😄

[2019-06-05 22:53] vcolavin opened #42 "Bug: Calcite switch input `name` and `value` attributes overwritten"
cc @patrickarlt

I came across this while working on #1. I think this issue is coming from the [`syncProxyInput` method](https://github.com/ArcGIS/calcite-components/commit/187ef4ff4bd80e176ebca18f98ff459af6bbc120#diff-20c32e6a69324944338fbc027b1730d2R106). The method should check whether the `this.inputProxy` has a `name` or `value` before assigning `this.name` or `this.value`. It should also che

[2019-06-05 23:03] vcolavin opened #43 "Bug: Calcite Switch `switched` attr not working when proxy input passed in"
## To reproduce

[code]

## Expected result
Switch should be initially checked.

## Actual result
Switch is initially unchecked

## Workaround
You can put the `checked` attr on the input itself:

[code]

[2019-06-06 21:20] patrickarlt opened #45 "Conventions: Slot and Property validation."
Discuss. I'll flesh this out later. 😄

[2019-06-06 21:44] kumarGayu opened #46 "Multi Select Menu"
![Screen Shot 2019-05-28 at 12 41 49 PM](https://user-images.githubusercontent.com/9862218/59050066-4ba58780-883e-11e9-8b26-7cd3777ec8c9.png)
![Screen Shot 2019-05-28 at 12 41 23 PM](https://user-images.githubusercontent.com/9862218/59050068-4ba58780-883e-11e9-9473-443d1da58c07.png)

cc: @asangma @patrickarlt
I can start looking at development based existing design. may be we can enhance when we h

[2019-06-07 16:48] #43 closed, assigned to vcolavin

[2019-06-07 17:18] macandcheese opened #47 "Component: Chips"
It'd be nice to provide what Material Design offers: https://material.io/design/components/chips.html

Optional props for: icon, color, "canClose" / deselect (emit a close event). This would be useful for data table "currently selected", filter dropdowns, etc.

Consider allowing a Calcite-avatar (when built) / Calcite-icon to the left of text.

[2019-06-07 22:31] patrickarlt opened #50 "Convention: Exposing CSS properties for theming"
Components should provide CSS properties for theming. We need to decide on a pattern for this allow users to customize at least the colors of components.

We need a system in place for this. I think I have an idea based on custom properties and fallback values. https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#Custom_property_fallback_values.

This issue has origins in [

[2019-06-10 22:01] macandcheese opened #52 "Component: Cards"
The current cards in CW are focused towards marketing use cases, meaning any app-focused implementations need to be custom built. I think calcite-components is a good place to have a more comprehensive card component that can support consistent use of icons, title, descriptions, and provide options for click target, multi-select, etc.

Material provides a pretty exhaustive set of available layouts

[2019-06-10 22:51] driskull opened #53 "Tabs: Unregister a tab when it is removed from DOM to keep aria labels in sync"
Tabs: Unregister a tab when it is removed from DOM to keep aria labels in sync.

From[ Teams discussion](https://teams.microsoft.com/l/message/19:fd15b51dacd24e70895ec1218a54ae06@thread.skype/1560206584575?tenantId=aee6e3c9-711e-4c7c-bd27-04f2307db20d&groupId=56fae21a-9407-4943-859f-a9bfcf0bbad3&parentMessageId=1560206584575&teamName=Calcite&channelName=Calcite%20Components&createdTime=15602065845

[2019-06-12 16:30] macandcheese opened #55 "Component: Stepper"
This is a good candidate for inclusion in Calcite Components - it's used widely across apps and is inconsistently implemented. We'd probably want to support:

- title
- subtext (useful for persisting small contextually relevant data from past steps for a user to see without navigating back, especially on mobile)
- "returnable" - that is, are previously completed steps available to click on to view

[2019-06-12 23:22] #15 closed, assigned to nobody

[2019-06-14 17:58] jcfranco opened #57 "Set up Prettier"
Set up Prettier to automate formatting. This will use the same [config](https://github.com/ArcGIS/calcite-app-components/blob/master/prettierrc.json) from `calcite-app-components`.

[2019-06-14 19:24] paulcpederson opened #58 "Component Date + Date Range"
Draft spec for a date picker component. This is a very common need for almost every team, so would be good to start working on this one. Below is a rough draft:

# Date

Browser-consistent date selection can be accomplished with the `calcite-date` component. Set `value`, `min`, and `max` properties. Value will default to today if no value is provided:

[code]

We suggest you wrap the component and

[2019-06-14 23:26] #57 closed, assigned to jcfranco

[2019-06-18 15:50] patrickarlt opened #61 "Component: Combobox"
In a recent meeting we discussed some of the behavior around "select" and "dropdown" type elements discussed in:

* https://github.com/ArcGIS/calcite-app-components/issues/12#issue-453130840
* Multiselect/Filter Select From https://github.com/ArcGIS/calcite-components/issues/2#issuecomment-500260665
* https://github.com/ArcGIS/calcite-components/issues/46

In the end we settled on implementing som

[2019-06-18 15:50] #46 closed, assigned to kumarGayu

[2019-06-18 15:57] #2 closed, assigned to nobody

[2019-06-20 15:35] #53 closed, assigned to nobody

[2019-06-20 16:39] macandcheese opened #64 "Component: Color Picker"
Specs and designs to follow.

[2019-06-27 17:57] #42 closed, assigned to vcolavin

[2019-06-27 22:30] vcolavin opened #67 "Calcite-switch won't switch if not wrapped in <label>"
cc @paulcpederson @patrickarlt @macandcheese
I will include a fix for this in my upcoming PR for #1.

The most basic usage of calcite-switch is broken, probably as a result of [PR 48](https://github.com/ArcGIS/calcite-components/pull/48) (which I wrote):

[code]

You would expect that clicking on the resulting switch would toggle the value, but it doesn't. It works when wrapped in a label, like th

[2019-06-28 01:52] #7 closed, assigned to driskull

[2019-07-18 19:34] macandcheese opened #71 "Component: Buttons"
Should support:
type (primary, secondary, inline, etc.),
loading / loading complete,
icon and positioning of icons,
width (default, half, full),
scale (xl,l,m,s,xs, etc.),

[2019-07-23 20:19] jcfranco opened #74 "CalciteRadioGroup#focus() should focus first applicable item"
As noted in https://github.com/ArcGIS/calcite-components/pull/72#issue-299425059.

[2019-07-24 19:50] #67 closed, assigned to vcolavin

[2019-07-24 19:51] #4 closed, assigned to paulcpederson

[2019-07-24 19:56] #5 closed, assigned to jcfranco

[2019-07-29 21:15] #8 closed, assigned to patrickarlt

[2019-07-30 18:55] macandcheese commented on #71
Closing for now, can open issues for subsequent improvements.

[2019-07-30 18:55] #71 closed

[2019-07-30 19:03] macandcheese opened #79 "Enhancements: Buttons"
Catch all for button improvements after upcoming release

- for `appearance: inline` buttons, place the icon in a trailing position and adjust the spacing accordingly.
- scale icons / inline loader based on `scale` property
- allow focus state by removing `outline: none` on all appearance type aside from `inline` (as underline animation works for focus state in that case)

[2019-07-31 15:51] kellyhutchins opened #80 "Read-me link to example site is 404"
The link to the example site in the read-me is invalid: https://github.com/Esri/calcite-components

[2019-07-31 16:38] macandcheese opened #81 "Create Storybook for Docs"
Re: https://github.com/Esri/calcite-components/issues/80

I think a Storybook would be a good way to publish docs... The Calcite Design Site will eventually have *design* implementation guidance (and be behind Okta), so we'll still need public-facing implementation docs.

There's some discussion on how to integrate Stencil with Storybook, as well as some starters that have been created we could pr

[2019-07-31 21:15] jcfranco opened #82 "[Conventions] Custom vs native events"
It'd be useful to enhance the [event namespacing section](https://github.com/Esri/calcite-components/tree/master/conventions#event-namespacing) with info on when to add a custom event vs relying on native browser ones.

[2019-08-02 16:46] patrickarlt opened #86 "Remove dependency on calcite-fonts"
Currently our dependency on `calcite-fonts` is a private repo. We probably need to remove it as a dependency from `package.json` and include it some other way like from a CDN.

@paulcpederson I'm assigning you because @julio8a said you might have a solution for this.

[2019-08-02 16:48] paulcpederson commented on #86
The solution is to just remove it, I don't think it's more complicated than that.

[2019-08-02 22:44] #9 closed

[2019-08-02 22:45] paulcpederson commented on #10
adding myself to this as I'm going to give the ol' accordions a shot 🎹 🎶

[2019-08-03 00:35] #86 closed

[2019-08-09 17:09] ekenes commented on #58
ccing myself @ekenes since I want to track progress on this for our Smart Mapping workflows in the JS API.

[2019-08-09 20:12] patrickarlt commented on #11
@julio8a @macandcheese I'm going to have some time to spend on this since I want to use it for an upcoming release on the developers site. From a design perspective how we want to proceed? Should I forge ahead and just do a mix of http://proto.esri.com/#/detail/Navigation/Tree%20Navigation/1 and my own best judgement? I tried starting up https://github.com/ArcGIS/calcite-design-system to see if th

[2019-08-12 16:19] ekenes opened #93 "Floating panel doesn't allow for scrolling overflowed content"
This issue appears in the Map Maker project on dev. The dev build is currently broken so I'm using a prd link to also demonstrate the issue.

1. Open this link - http://jsapi.maps.arcgis.com/apps/mapviewer/index.html?webmap=5dbfdbcbf36d4c1d81c22f7039631e59 (This link is production, but the same issue exists on dev, which isn't working ATM)
2. Click the layer name "Dominant copy by U.S. county"
3.

[2019-08-12 16:22] ekenes commented on #93
Sorry. Wrong repo.

[2019-08-12 16:22] #93 closed

[2019-08-12 17:38] macandcheese commented on #11
Here's designs, combines the style and function of VTSE, Online, Calcite Design Site so it can be used for all purposes.

Propose having props for:
border/lines: true/false (the alignment lines are useful for deeply nested trees, but should give the option of not having them for shallow trees)

scale: default/compact(dense?) - useful for dense implementations like VTSE - 1/2 y-padding.

States:
Dr

[2019-08-12 17:55] paulcpederson commented on #11
✨ 👌

[2019-08-13 03:10] patrickarlt commented on #11
@macandcheese this looks great. I'll get started on this this week.

[2019-08-13 17:42] macandcheese commented on #18
Closing this :)

[2019-08-13 17:42] #18 closed

[2019-08-13 17:43] #3 closed

[2019-08-13 17:43] #1 closed

[2019-08-13 17:43] #79 closed

[2019-08-13 17:45] macandcheese commented on #80
Closing this, we still need to create a public docs site but this link is gone from readme now :)

[2019-08-13 17:45] #80 closed

[2019-08-13 17:49] macandcheese commented on #64
This should be built independently of an accordion as shown above, but we should doc and show examples of how to combine multiple in collapsible accordions since that will be a super common use case.

[2019-08-13 17:50] macandcheese commented on #35
This is done yeah?

[2019-08-13 17:50] #35 closed

[2019-08-13 17:51] macandcheese commented on #36
We still need to do a pass on this...
scale, size (xs vs extraSmall), appearance, etc.

[2019-08-14 07:07] macandcheese opened #97 "1.0 Release Cleanup"
Opening individual issues per component... stay tuned...

[2019-08-14 16:01] kumarGayu opened #98 "Provide short medium and long INTL format for date picker"
One requirement for DatePicker is to support the INTL format this has been an issue with Datepickers in the past as we support 30+ languages
Support for short, medium and long formats as mentioned INTL format

https://github.com/Esri/calcite-components/pull/92

[2019-08-14 20:46] dasa commented on #97
Are any of these `dependencies` loaded at runtime? If not, should they be set as `devDependencies` instead so that they don't get installed when doing a npm install?

@a11y/focus-trap: ^1.0.2
@esri/calcite-colors: ^1.3.1
@esri/calcite-base: github:ArcGIS/calcite-base
@esri/calcite-ui-icons: ^2.0.1

[2019-08-14 20:53] jcfranco opened #100 "Components from demo page not working properly in Edge"
Loading the demo page greets you with the following errors:

[code]

Tested using Edge Microsoft Edge 44.17763.1.0 and 42.17134.1.0 (thanks @driskull).

Assigning everyone so we can all go through our respective components to do some testing/fixing.

[2019-08-14 20:56] paulcpederson commented on #100
I think several of these are from tabs.

[2019-08-14 21:05] jcfranco commented on #100
Others may be affected. I only tested a few in isolation and noticed that `<calcite-switch>` isn't working properly for the following cases:

* `Switch with no wrapping label.`
* `With a proxy input element and changes on click.`

`<calcite-radio-group>` isn't working properly for the `External inputs` case.

[2019-08-14 21:51] macandcheese commented on #6
PR in - https://github.com/Esri/calcite-components/pull/96

[2019-08-14 21:51] #6 closed

[2019-08-14 22:00] vcolavin commented on #100
@jcfranco Interesting, I fixed an identical bug on `calcite-checkbox`, and I remember fixing it for `calcite-switch` too. Maybe I forgot to push that commit; I'll check.
https://github.com/Esri/calcite-components/issues/67

[2019-08-14 22:01] ffaubry opened #102 "Question/Research: What happened if an app try to register CC when a library already has and vice-versa"
The context of this question is:

As JSAPI will have a CC dependency, what happened if:
- JASPI lazily register the CC but the app has already register CC?
- JSAPI has dependency on version X but the app has dependency on version Y?

The more low level questions are:
- How backward/forward compatibility or breaking changes will be handled? We need a clear path forward for these scenarios as we kno

[2019-08-14 22:04] vcolavin commented on #100
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-switch/calcite-switch.tsx#L109-L111

Looks like my fix for #67 exists in `calcite-switch` as well, so maybe this is a separate bug with a similar symptom.

[2019-08-15 00:00] jcfranco opened #104 "<calcite-radio-group> doesn't select last if multiple items are checked"
The `Only one selected value (last wins)` case from the demo page isn't working as expected. The last item should be selected. This is being caused by the events fired while the component is initializing.

[2019-08-15 18:00] macandcheese opened #106 "Component: Data Grid"
Obviously a big one, would be great to wrap an existing library, apply our own custom styles and props, and make available as a component.

https://cdn.vaadin.com/vaadin-grid/5.2.0-alpha2/demo/#grid-basic-demos https://github.com/vaadin/vaadin-grid - I found this one to be pretty feature rich, open source, actively maintained, Apache 2.0 licensed.

We'll need to support things like pagination, inf

[2019-08-15 18:06] macandcheese opened #107 "Component: Inputs"
Opening a placeholder issue for inputs - we'd likely want to incorporate validation options, and associated messaging / error styles into this for consistency. Style wise, we'd likely have a default input field, similar to current ones, and a "minimal" option, and improvements to placeholder, label, spacing over current inputs.

[2019-08-18 16:32] patrickarlt commented on #100
I've resolved the issues with tabs as a part of https://github.com/Esri/calcite-components/pull/105.

[2019-08-20 19:05] julio8a opened #114 "Design Audit"
Ensure parity between Sketch library and implementation. Light and Dark theme. Calcite-component implementation might be further along than Sketch library, some components need to get updated in the Sketch library.

- [ ] Alerts (#15)
- [ ] Buttons (#71)
- [ ] loader (#7)
- [ ] modals (#83)
- [ ] progress (#25)
- [ ] radio-group (#5)
- [ ] slider (#4)
- [ ] switch (#33)
- [ ] tabs (#8)
- [ ] tree

[2019-08-20 19:39] julio8a opened #115 "Components: Phase 2 (VOTE)"
All,

After the v1.0 release in September, we're looking at adding more components. We need your help to identify which are the most important to you and prioritize our work. Please vote on which components you need sooner rather than later. We'll be taking the highest voted components into the next release. Also, if you have any suggestion please add in a comment for voting.

[2019-08-20 19:40] julio8a commented on #115
Inputs, forms & validation

[2019-08-20 19:40] julio8a commented on #115
Pagination

[2019-08-20 19:40] julio8a commented on #115
super select

[2019-08-20 19:40] julio8a commented on #115
Chips (labels)

[2019-08-20 19:40] julio8a commented on #115
Stepper (including vertical orientation)

[2019-08-20 19:40] julio8a commented on #115
Tooltips

[2019-08-20 19:40] julio8a commented on #115
color-picker

[2019-08-20 19:59] ekenes commented on #58
@julio8a @kumarGayu What is the estimated milestone for this? There are several JS API widgets that would like to take advantage of this component.

[2019-08-20 20:09] kumarGayu commented on #58
@ekenes Right now i am in training for 2 weeks, but by then whenever i get free time i will make this available. However, now we have the date picker in place for light theme.

[2019-08-20 20:22] ekenes commented on #58
Cool! So date + time picker is already available for light themes?

[2019-08-20 20:41] kumarGayu commented on #58
Time is not yet there. :(

[2019-08-20 22:04] ekenes commented on #58
Ok. What's the approximate timeline for adding time?

[2019-08-20 22:33] kumarGayu commented on #58
a week or 2 max.

[2019-08-20 23:37] macandcheese commented on #61
Chips will be a requirement for this https://github.com/Esri/calcite-components/issues/47

[2019-08-21 19:45] kevindoshier opened #119 "`calcite-button` - add a disabled attribute"
Would be nice on `calcite-button` to have a way to disable it

[2019-08-21 20:27] macandcheese commented on #119
@kevindoshier sure thing, I think we'll get requests for this pretty frequently.

We should probably have some docs around *how* to use disabled buttons within an interface - ideally disabled buttons are used sparingly, and when used, they are presented in conjunction with a tooltip (coming soon as a component), or other UI messaging to let a user know user *why* it's disabled.

[2019-08-22 14:41] macandcheese commented on #38
Closing this, we should be following conventions and using variables from https://github.com/Esri/calcite-colors. Feel free to re-open if that's not satisfactory :)

[2019-08-22 14:41] #38 closed

[2019-08-22 14:41] macandcheese commented on #11
Closing as this has been merged in, can open subsequent issues for any other tasks if needed ✨

[2019-08-22 14:41] #11 closed

[2019-08-22 20:25] macandcheese opened #122 "Improve icon handling in buttons"
Currently, we don't have a way of ensuring the size of an icon renders the scale of the button its contained within - also, passing raw path data to the `icon` prop is kind of annoying.

We should allow consumers to pass the string/name of a calcite-ui-icon to buttons as a prop, and use a `<calcite-ui-icon>`component or something like that to render it, where we have greater control over the icon

[2019-08-22 22:27] #119 closed

[2019-08-23 15:31] macandcheese opened #124 "Dropdown items should support links"
Currently, you can pass an `<a>` into the slot of a `calcite-dropdown-item`, but it's not ideal. The hitbox of the rendered `<a>` is contained within the padding of the `calcite-dropdown-item`, and keyboard navigation requires a user to tab "into" the item to access the `<a>`.

I want to add a "href" and a "linktitle" prop to the `calcite-dropdown-item`, and if present, move styling from the :host

[2019-09-03 21:02] pr3tori4n commented on #37
IMO no. Since the shadow dom encasulate's the styles, we're free to go back to using simple selectors since we don't have to worry about name-clashing, clobbering, bleed-out whatever.
`.name {}` or even a tag selector like `a {}` is fine. Using BEM would mean not benefiting from one of the coolest feature's the shadow dom provides.

If you're worried about polyfilled browsers - you don't have to.

[2019-09-04 15:40] #37 closed

[2019-09-04 17:07] macandcheese opened #129 "Global Config / Handle "on the fly" prop changes"
I do now have a use case for needing to globally change all component's theme immediately (light / dark theme toggle on Calcite docs site), which our current set up -  looking up the closest element's theme, doesn't allow for.

Maybe there's a third option between that and a global config with state tunnel (https://github.com/Esri/calcite-components/pull/66), but I think it will eventually be need

[2019-09-04 18:12] vcolavin opened #130 "Modals don't close on escape press if they don't have focus."
## To reproduce:

- Visit the index.html page and open any modal.
- Click a `p` tag within the modal, or any other non-focussable element, so that focus reverts to the `body` tag. You can confirm this by checking `document.activeElement` in the console.
- Press escape.

## Expected behavior:

Modal should close

## Actual behavior:

Modal does not close

## Workaround:

Focus any focussable elemen

[2019-09-04 21:35] paulcpederson commented on #30
In the generated dist files, the styles are prefixed, so marking this as closed.

[2019-09-04 21:35] #30 closed

[2019-09-05 23:53] vcolavin opened #132 "calcite-button is not tabbable when appearance="inline""
## To reproduce
[code]

## Expected result
You should be able to tab to this inline button (which really renders as an anchor tag).

## Actual result
You can't tab to it ;(

## Workaround
Adding an `href` makes it tabbable:

[code]

I guess the browser notices an anchor tag with no href and takes it out of the tab index!

## Suggested fix
I think that rendering a what is semantically "button" as a

[2019-09-05 23:58] macandcheese commented on #132
Nice find. The reason for rendering "inline" appearance `<calcite-button>` as an `<a>` is that it is then style-able as a wrapping bit of text that can be positioned "inline" and, most importantly, wrap multi-lines in text blocks. I was stumped at how to achieve the same styling with a `<button>`, but you are right in that's it's kind of hacky! I will do some digging to see if I can make it work.

[2019-09-06 00:04] vcolavin commented on #132
I figured it was something like that...

It totally makes sense to keep the ones with an `href` as an anchor! But for the `appearance="inline"` buttons... does `display: inline` do the trick?

[2019-09-06 16:37] jcfranco commented on #64
@julio8a I've been making progress on this one and had a few questions.

![401deda1-d695-4134-be32-1bee1d3c4db6](https://user-images.githubusercontent.com/197440/64444688-988d3a00-d089-11e9-829b-7e353b4a937e.jpg)

* (blue) I noticed there's no indicator for the current hue, can you update the mock to include this?
* (purple) is the eye dropper icon decorative or functional? If the latter, I don't

[2019-09-06 17:33] julio8a commented on #64
I'll work on item 1. Item two, maybe we need more discussion on this. We can talk about it in our next meeting.

[2019-09-06 17:34] julio8a commented on #64
Narrow color picker wrap inputs:

![image](https://user-images.githubusercontent.com/6144462/64448135-d55d2f00-d091-11e9-90fb-f15ff5741191.png)

^ for when the color picker needs to fit inside a panel

[2019-09-06 17:52] julio8a commented on #64
Handle, changes color when dragged based on value

![image](https://user-images.githubusercontent.com/6144462/64449201-443b8780-d094-11e9-868d-cacf50949941.png)

[2019-09-10 21:22] kevindoshier opened #134 "Issue with Edge browser"
We are seeing issues trying to load the new mapViewer into Edge, you can see the details of it here, it appears something with calcite-components but not positive.

https://devtopia.esri.com/WebGIS/arcgis-webviewer-app/issues/585

[2019-09-10 21:27] paulcpederson commented on #134
Related to https://github.com/Esri/calcite-components/issues/100 ?

[2019-09-10 21:29] kevindoshier commented on #134
Seems similiar, the errors are the same but just different property names

`[object Error]: {description: "Unable to get property 'O' of undefined or null reference", message: "Unable to get property 'O' of undefined or null reference", number: -2146823281, stack: "TypeError: Unable to get property 'O' of undefined or null reference at Anonymous function (http://local.arcgis.com:5555/node_modules/

[2019-09-11 16:08] kevindoshier commented on #134
@paulcpederson - I cant change labels/etc in this repo, pls mark as duplicate if you feel its a duplicate of #100

[2019-09-11 16:17] paulcpederson commented on #134
@macandcheese is looking into this, not sure if this is duplicate yet but I'll follow up

[2019-09-13 17:35] macandcheese commented on #134
@driskull yeah it's weird, it's emitted for each `EventEmitter` for each and every component, only three of which seem to use componentDidUnload at all, so I think it's an indication of some more systematic structuring issue... 👀 still looking...

[2019-09-16 17:14] macandcheese opened #135 "Modal functionality in Edge"
Modals "launch", but are unstyled and cannot be interacted with or dismissed. Console error `Object doesn't support property or method 'attachShadow’`

Expected Functionality:
Modals function like they do in Chrome, Safari, Firefox.

[2019-09-16 17:14] macandcheese opened #136 "[Edge Bug] Click events do not work in Calcite Tree"
When navigating with mouse, click events cause a `Unable to get property '0' of undefined or null reference` console error. Navigating with ENTER / SPACE / ARROWS works fine.

Expected functionality:
Click events should work as keyboard events do in Edge.

[2019-09-16 17:14] macandcheese opened #137 "[Edge Bug] Inconsistent functionality for date picker in Edge"
Weird one… Current date decrements by one for each child component HOVERED over or CLICKED on… Clicking a date will reset the date, but on subsequent child component hovers, the date will continue to decrement. Any clicks, even on next / previous month will decrement date by one.

Expected functionality:
Hovering over dates shouldn't cause any change, clicking on a date should set the date to the

[2019-09-16 17:14] macandcheese opened #138 "Proxy input doesn't work for Switch / Checkbox in Edge"
Clicking on "proxy input" for checkboxes and switches does not cause the component to check / uncheck. Keyboard functionality for ENTER / SPACE does work.

Expected functionality:
Clicking on the proxy input should check / uncheck the switch or checkbox

[2019-09-16 17:14] macandcheese opened #139 "Clicks don't register on Calcite Radio Group slotted text in Edge"
In Edge, clicking on the "slot" area that contains text does not register. Clicks only register on the surrounding `calcite-radio-group-item` padding.

Expected functionality:
Clicking anywhere in the `calcite-radio-group-item` should select the clicked item.

[2019-09-16 17:15] macandcheese commented on #134
@kevindoshier Closing this as this has been broken into smaller issues for each.

[2019-09-16 17:15] #134 closed

[2019-09-16 17:22] macandcheese opened #140 "[Edge Bug] Alerts do not work in Edge"
Due to shadowRoot API usage, Alerts don't work in Edge.

Expected Functionality:
Alerts work in Edge as they do in Chrome / Safari / Firefox.

[2019-09-16 17:22] macandcheese opened #141 "[Edge Bug] Dropdowns do not work in Edge"
Dropdowns don't work in Edge - Due to shadowRoot API usage.

Expected Functionality:
Dropdowns work in Edge as they do in Chrome / Safari / Firefox.

[2019-09-16 17:22] macandcheese opened #142 "[Edge Bug] Styling for `iconposition` prop is not applied."
In Edge, styling isn't applied to an icon to position it away from slot text.

Expected Functionality:
Icons have margin right / left in Edge.

[2019-09-16 17:25] macandcheese commented on #132
Unfortunately `buttons` can't be styled in that fashion due to some weird untraceable default browser styling. I think adding a "#" as href might be a relatively safe way to allow this.

[2019-09-16 17:35] vcolavin commented on #132
😞 that's fair. Thank you for your diligence!

In that case, I think we should make the `a` have `role="button"` when appropriate. Currently, when appearance is inline it has `role="link"`.

[2019-09-16 19:22] macandcheese commented on #140
Fixed in https://github.com/Esri/calcite-components/pull/143.

[2019-09-16 19:22] #140 closed

[2019-09-16 19:22] macandcheese commented on #141
Fixed in https://github.com/Esri/calcite-components/pull/143.

[2019-09-16 19:22] #141 closed

[2019-09-16 19:22] macandcheese commented on #142
Fixed in https://github.com/Esri/calcite-components/pull/143.

[2019-09-16 19:22] #142 closed

[2019-09-16 22:18] macandcheese commented on #39
I think this has been tabled for now, closing, can reference prior PR for ideas if we tackle this down the road.

[2019-09-16 22:18] #39 closed

[2019-09-16 22:19] macandcheese commented on #41
Closing this :) - we can open issues regarding any individual dependencies or resources later.

[2019-09-16 22:19] #41 closed

[2019-09-16 22:19] macandcheese commented on #40
Closing this :) - we can open issues regarding any interoperability with calcite-app-components or other libraries should they come up.

[2019-09-16 22:19] #40 closed

[2019-09-16 22:20] macandcheese commented on #50
I think we are relatively in sync on how we are using CSS vars throughout components - going to close this. Can open some individual issues if needed.

[2019-09-16 22:20] #50 closed

[2019-09-16 22:22] macandcheese commented on #100
Closing this as we've opened individual issues for all known Edge bugs, please add individual issues for anything else :)

[2019-09-16 22:22] #100 closed

[2019-09-16 22:28] macandcheese opened #144 "Component: Radio Button"

[2019-09-17 16:37] driskull opened #146 "CalciteButton exceeds its defined height"
![image](https://user-images.githubusercontent.com/1231455/65061399-b16dd900-d92e-11e9-87d1-3e422b0880e1.png)

The CalciteButton visually exceeds its defined height. I noticed the issue using the Popover component.

@julio8a not sure who to assign this to.

[2019-09-17 16:46] macandcheese commented on #146
Is this causing issues?

That's just the interpreted height of the slotted text - the entire button is clickable and the shadow-root has the correctly rendered height:

![Screen Shot 2019-09-17 at 9 41 54 AM](https://user-images.githubusercontent.com/4733155/65061854-a10a2e00-d92f-11e9-99f1-e467921d22ca.png)

If it's a problem (maybe with dynamically setting container height based on button height

[2019-09-17 16:49] driskull commented on #146
If you wanted to get the height of the button you would have to go into the shadow dom to get it which doesn't seem right.

[2019-09-17 16:50] macandcheese commented on #146
Yeah roger that, will take a look.

[2019-09-17 16:56] macandcheese commented on #146
Addressed in https://github.com/Esri/calcite-components/pull/147 :)

[2019-09-17 16:56] #146 closed

[2019-09-17 20:23] driskull commented on #146
thanks @macandcheese !!

[2019-09-18 02:00] AdelheidF opened #148 "calcite-button label not aligned"
In the image below all 3 rows have a calcite-button in the center with the same width.
The button labels do not align. It would be good to have the text centered inside the calcite-button.

<img src=https://user-images.githubusercontent.com/44481292/65099791-8f9b4300-d97c-11e9-86af-71133751ec05.png width=300/>

![image](https://user-images.githubusercontent.com/44481292/65100676-fc164200-d97c-11e9

[2019-09-18 03:27] macandcheese commented on #148
Hi @AdelheidF - you can try using `width="full"` to set the width to 100%, although without knowing the exact structure of the entire row it may not work out of the box (it's still `inline-block` so, you may need to use flexbox on the surrounding and containing elements). Does the button include the "grab handle" or is that a separately clickable areas with different functionality?

[2019-09-18 05:02] AdelheidF commented on #148
`width=full` solved it. Thanks.

[2019-09-18 05:02] #148 closed

[2019-09-18 19:45] macandcheese commented on #132
Just set tabindex to 0 on all tags works: https://github.com/Esri/calcite-components/pull/150

[2019-09-18 19:45] #132 closed

[2019-09-18 20:49] pr3tori4n commented on #136
Root cause:
`event.originalTarget` and `event.path` are not supported in Edge. MDN recommends avoiding the use of both and going with `event.composedPath()`.

This gets us past that issue, but then the logic for shouldSelect is not working in edge. event.target and event.parentTarget are not the same in Edge due to the lack of an actual shadowDom in polyfilled environments.

I recommend setting up

[2019-09-18 20:52] pr3tori4n commented on #136
@macandcheese @julio8a do you guys know where I can find the requirements for this component? We should get some tests added to cover these use cases and verify any changes don't break them.

[2019-09-18 20:57] macandcheese commented on #136
@pr3tori4n Great, thanks for checking in! The original issue was https://github.com/Esri/calcite-components/issues/11 but I know it was built for VTSE and additional use cases have been added since that issue. @patrickarlt will have more insight as author.

[2019-09-19 17:08] kevindoshier opened #151 "Component: Button - width="full" seems like its "half" now"
We use calcite-button, and set width to half, but now button text is wrapping, it seems like the half width became quarter

[2019-09-19 17:09] kevindoshier commented on #151
![image](https://user-images.githubusercontent.com/11093161/65265331-8b2e7180-dac5-11e9-8707-c354dc7d42f7.png)

[2019-09-19 17:12] macandcheese commented on #151
Hey @kevindoshier - thanks for the report. do you have a link to see a repro or a code snippet? It shouldn't be wrapping like that in isolation. We do have a couple of updates to buttons in the latest (unreleased) beta version, I'll see about cutting a new release.

[2019-09-19 17:14] kevindoshier commented on #151
Hey, sorry I meant that when we set it to half it looks really small, somethign changed, you can see it here

https://devext.arcgis.com/apps/mapviewer/index.html

[2019-09-19 17:25] macandcheese commented on #151
@kevindoshier Weird if you are pinned to a prior release it could have changed! This was fixed independently in a recent PR https://github.com/Esri/calcite-components/pull/150/files - it should go out in next release. Let's see if that resolves it when that release gets cut :)

[2019-09-19 18:20] macandcheese opened #153 "Add styling for popover"
Add shadow, background, perhaps invocation animations based on directionality.

[2019-09-19 19:23] macandcheese commented on #151
@kevindoshier can you try pinning to the new release and see if that fixes it? Still worrisome that an old pinned release could change like that?

[2019-09-19 20:32] julio8a opened #155 "Component: Tooltips"
## Light Theme

### Basic:

![image](https://user-images.githubusercontent.com/6144462/65278069-2cc2bc80-dae0-11e9-8a9f-91c8887b7226.png)
![image](https://user-images.githubusercontent.com/6144462/65278071-2f251680-dae0-11e9-90f7-6e2a6fb2c1bd.png)
![image](https://user-images.githubusercontent.com/6144462/65278083-32200700-dae0-11e9-9679-4bcda2169fa6.png)

### With action:

![image](https://user-i

[2019-09-20 14:37] kevindoshier commented on #151
@macandcheese - i pinned beta10 and it looks fine there, not sure why we saw this for that one time, thanks for your help

[2019-09-20 15:40] #151 closed

[2019-09-20 16:05] AdelheidF opened #156 "calcite-modal: would like to hide header and footer"
I want to show the Arcade editor in a fullpage modal, but don't need the header and footer because the editor comes with its own close and save buttons.

![image](https://user-images.githubusercontent.com/44481292/65342000-a3b29080-db86-11e9-87ca-e9ec0f69a0dd.png)

[2019-09-20 16:53] driskull commented on #155
API proposal

[code]

[code]

@julio8a @patrickarlt @paulcpederson does this look ok?

[2019-09-20 17:01] paulcpederson commented on #155
@driskull will devs be able to pass custom html into this? That is the one requirement I've heard over and over.

[2019-09-20 17:02] paulcpederson commented on #155
@julio8a does dismiss mean that the user will have to click the element to open the tooltip and then click the x to close it?

[2019-09-20 17:04] driskull commented on #155
@paulcpederson I'm thinking that is what the slot would be for. Anything placed inside would go below the text. Only the image goes above and it uses the image attribute.

`dismissible` would mean that the close button is rendered and will allow closing it. Opening it will still be up to the developer to do.

Do we want some way to auto open the tooltip? Like on hover or click or something?

[2019-09-20 17:07] paulcpederson commented on #155
Yeah, I feel like the hover/click interaction is a big part of what makes this a useful component, so we should probably try to handle that out of the box.

[2019-09-20 17:11] driskull commented on #155
Gotcha. So maybe by adding the following instead of `dismissible`?

`type: "hover" | "click";`

If its a hover tooltip, then it doesn't show the close box. it will close on mouseout.

[2019-09-20 17:18] bstifle commented on #155
yep, the intention is to have a hover, or click to open, depending on the need.

For the click to open, it would be good to add `esc` and click off functionality to make it easier to close it.

[2019-09-20 17:43] paulcpederson commented on #155
We should structure the dom differently in these two cases for accessibility. This article has a good breakdown of these two, they refer to them as "tooltips" and "toggletips" but very similar to our hover/click distinction https://inclusive-components.design/tooltips-toggletips/

[2019-09-20 17:51] driskull commented on #155
@paulcpederson What would you like the property called to distinguish these two interactions? I'm thinking `type` might not be correct.

Even hover and click might not be right because they would open on any accessible click like enter key and space bar. hover might also open on focus.

Naming is hard :)

[2019-09-20 17:53] macandcheese commented on #156
Hmmm, I feel like having a consistent header and footer is a large benefit of using the `<calcite-modal>` - just providing a container feels like it will lead to pretty inconsistent usage. Maybe we can look at adding an "edit title" UI to modals - would that help here?

[2019-09-20 17:54] paulcpederson commented on #155
maybe `mode`? Like `mode="click"` or `mode="hover"`

[2019-09-20 18:07] AdelheidF commented on #156
I would still end up with 2 closing X and too much space below the Arcade editor's OK/Cancel buttons.

I guess because Arcade editor is what it is right now I will not use calcite-modal. We can change that once we have a new Arcade editor version.

[2019-09-20 18:16] macandcheese commented on #156
Gotcha - I'm not familiar with Arcade but it should be possible to attach those "OK / Cancel" and "close" events to the ones in calcite-modal. Should we explore the "edit modal title" UI for the future?

[2019-09-20 18:54] AdelheidF commented on #156
Currently the Arcade editor displays the expression title in the header and when you click on that title or the edit icon it becomes an input box. I guess I could not do this in the header of an calcite-modal.

[2019-09-23 19:23] kevindoshier opened #157 "Component: calcite-button - would be nice to set the type to be "submit""
We'd like to set the type of the button for calcite-button to be "submit" so we can leverage form validation

[2019-09-23 19:58] macandcheese commented on #157
Good catch, going to work on this.

Buttons by default are `type="submit"`, so the only passable options are `reset` or `button`.

The issue is that there's no way for the rendered child button in shadow DOM to communicate to the containing "non shadow DOM" form that an event occurred on the rendered child button. This is how Ionic / Stencil solves: https://github.com/ionic-team/ionic/blob/bf2953c

[2019-09-23 23:16] macandcheese commented on #157
Added in https://github.com/Esri/calcite-components/pull/158

[2019-09-24 19:47] arjavbadjatiya commented on #155
@paulcpederson  We have the use case of the on-hover and on-click components that you mentioned in Online. Currently this is done via tooltips and information popovers (triggered by clicking the `i` icon). One of the goals for Q4 is to establish the pattern for using these components in Online.

I synced with @julio8a and @macandcheese  about their ongoing tooltip work and I am trying to use the n

[2019-09-24 19:59] driskull commented on #155
I don't have access to see those wiki pages.

[2019-09-24 21:09] driskull commented on #155
@arjavbadjatiya can you grant me access to that repo?

[2019-09-24 21:11] arjavbadjatiya commented on #155
I just did, let me know if you can see it now!

[2019-09-24 21:15] driskull commented on #155
Thanks! yes I can see now.

There is some conflicting information between the Tooltip design and the wiki guidelines.

The requirements for this issue has tooltips with a click, close button, image and buttons. Should we just use popover for those? cc @julio8a @paulcpederson ??

[2019-09-24 21:21] arjavbadjatiya commented on #155
@driskull The wiki only covers a specific configuration of the tooltip component that matches use cases in Online. I posted the wiki to get feedback on how best to use the component for this small set of use cases.  The component itself can have all of those additional configurations that you mentioned.

[2019-09-24 23:04] #157 closed

[2019-09-24 23:31] macandcheese commented on #58
Hey @kumarGayu - any update on the status of this or the related Edge issue? https://github.com/Esri/calcite-components/issues/137 - thanks in advance!

[2019-09-25 17:30] paulcpederson commented on #64
@jcfranco how's it going, any blockers? Working on a UI right now that needs a nifty little color picker, wondering if I can just hold out until you're done.

[2019-09-25 17:48] jcfranco commented on #64
@julio8a @paulcpederson Sorry for not giving any updates. I'm wrapping up some stuff and I'll get back to this. Do you have a timeframe for your UI work or an issue you could link to? Just to keep it on my mind.

[2019-09-25 17:55] paulcpederson commented on #64
It's 7.4 timeframe, so no rush, really

[2019-09-25 22:51] pr3tori4n opened #162 "Enhancement: Replace Event.keyCode with Event.key"
Seems `event.keyCode` is being deprecated.
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode

`event.key` is the new hotness
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key

**Components:** `caclite-tree-item`

[2019-09-27 23:12] patrickarlt commented on #136
Should be resolved in the next release.

[2019-09-27 23:12] #136 closed

[2019-09-30 16:00] asangma commented on #153
@macandcheese Would these be props?

[2019-09-30 17:46] macandcheese commented on #153
I would imagine it just providing default styling on the popover component - vs. just providing a functional popover. I'd imagine "doesAnimate" could be a prop, perhaps for animation? It could also just default to the same easing styles we use for Modals, Dropdowns, etc.

[2019-09-30 18:24] macandcheese commented on #156
Going to close this for now, maybe we can look at an "Editable Field" component down the road that could solve for this use case.

[2019-09-30 18:24] #156 closed

[2019-09-30 20:00] macandcheese opened #163 "Global Skeleton State Styles"
Placeholder issue - would be nice for each component (where applicable) to have an opt in "skeleton" state prop with consistent and subtle skeleton styling. This would need to be distinct from "loading" prop where the loader was present (like in buttons).

[2019-10-01 00:24] asangma commented on #153
![cool](http://giphygifs.s3.amazonaws.com/media/HaC3m9r4JFjPi/giphy.gif)

[2019-10-03 22:48] driskull commented on #155
I got the tooltip in a a working state with tests and all  but need a designer to take the rest. Anyone available to do that?

The only bummer is we have to do the positioning of the pointer arrow ourselves. Because the `Popper.js` logic can't find the arrow element when its in the `shadowRoot`. They don't support that yet and moving it into the element won't work right either.

[2019-10-03 22:59] julio8a commented on #155
@driskull, been in training from Oct 1 - 3 all day. Will do the review tonight or first thing tomorrow.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-09 16:48] driskull opened #166 "CalcitePopover: Enhance Popover"
We should move the interaction versions (click, close X, image, button, etc) to the popover.

- Add property to automatically setup the click handler. (false by default)
- Add property to enable the close button (false by default)
- Add slot to accept image

![image](https://user-images.githubusercontent.com/1231455/66502228-b4fe0700-ea79-11e9-8d61-69d5844230f5.png)

[2019-10-09 20:36] paulcpederson commented on #10
@julio8a no, haven't been able to go tackle this yet

[2019-10-10 17:04] macandcheese commented on #153
Closing this, addressed in other issues.

[2019-10-10 17:04] #153 closed

[2019-10-10 17:05] macandcheese commented on #114
Closing this, it's been addressed in other issues / repos.

[2019-10-10 17:05] #114 closed

[2019-10-10 21:56] macandcheese opened #169 "Add global variables to includes.scss"
We have a lot of duplicate css variables at the top of component .scss files, we could probably offload some of the more common ones like background, background-hover/-press, shadows,  state colors to our includes file - https://github.com/Esri/calcite-components/blob/master/src/assets/styles/includes.scss

Could probably organize and separate out mixins, etc.

[2019-10-10 22:44] ehusaint opened #170 "Disabled param does not work for calcite-button"
`<calcite-button scale="xl" disabled="true"> </calcite-button> `does not disabled the button.

[2019-10-10 22:59] macandcheese commented on #170
Hi @ehusaint, make sure you are using an updated version of the calcite-components beta, support for disabled buttons was only added a few releases ago - https://github.com/Esri/calcite-components/blob/master/CHANGELOG.md#v100-beta5---aug-21th-2019. Let me know if that clears it up or if there is still an issue. Thanks!

[2019-10-11 21:03] bstifle opened #172 "Component: update Sliders style"
Need to update implementation based on latest Sketch designs.

- Handle colors
- track colors
- hover state changes
- keep focused state same as hover
- notch breaks: down to 1px instead of 2px
- etc

![image](https://user-images.githubusercontent.com/14083530/66685791-50d27300-ec32-11e9-9798-a17227235907.png)

[2019-10-14 23:38] bstifle opened #173 "Component: Loaders"
- [x] Need to add Circle versions of loaders. see attached zip
- [x] Need to finesse easing/timing/feel of the spins across all loaders. reach out to me for explanation.
- [x] 100% state needs to be styled correctly. scale up text and add blue color. see attached zip
- [x] add loader dismissal. "when load is complete, scale down and opacity to 0%"

[Videos of loaders.zip](https://github.com/Esri/c

[2019-10-14 23:40] bstifle commented on #173
@paulcpederson  since you did the initial ones

[2019-10-15 15:53] driskull commented on #155
Installed

[2019-10-15 15:57] macandcheese commented on #163
cc @asangma - would be nice to have something consistent here if you all are planning to do something in calcite-app-components. We also have loader / progress components we should try to re-use if possible.

[2019-10-15 16:45] macandcheese opened #174 "Component: Pagination"

[2019-10-15 16:47] macandcheese commented on #115
An issue has been made for each of these and they've been added to "To Do" in ranked order in the Phase 2 project. Thanks all - feel free to use the breakout issues for further discussion / feedback!

[2019-10-15 16:47] #115 closed

[2019-10-15 16:48] macandcheese commented on #10
I'll take a look at this today

[2019-10-15 20:48] driskull commented on #166
Installed.

[2019-10-15 20:48] ehusaint opened #176 "Enhancement(Alert) - Allow alert component to be inline."
Enhancement - Allow alert component to be inline.

[2019-10-15 20:52] macandcheese commented on #176
Yeah, this is a valid use case... Need to figure out if we should unbundle from the `<calcite-alerts>`  handler since that contains a lot of the positioning and all of the queueing logic. I'd imagine an "inline" attribute would suffice for implementation, but I don't think we'd need a queue for that use case?

[2019-10-15 22:37] macandcheese commented on #170
I think this was resolved with the version bump - feel free to re-open if that's not the case.

[2019-10-15 22:37] #170 closed

[2019-10-16 20:46] macandcheese commented on #81
Addressed https://github.com/Esri/calcite-components/pull/177

[2019-10-16 20:46] #81 closed

[2019-10-16 23:20] julio8a commented on #166
Looks good. Closing this out.

[2019-10-16 23:20] #166 closed

[2019-10-17 17:11] julio8a opened #178 "Progress: Add dark theme"
match styles to Sketch library:

![image](https://user-images.githubusercontent.com/6144462/67031441-65958780-f0c6-11e9-9295-f53f70b90d79.png)

[2019-10-17 17:33] macandcheese commented on #178
These feel a little chunky in height yeah? Dark mode looks good!

[2019-10-17 17:44] bstifle commented on #178
they are 2 px @macandcheese  hahahaha

[2019-10-17 17:55] macandcheese commented on #178
Ah just the scaling in GH I guess 🤷‍♂️

[2019-10-17 20:53] AdelheidF opened #179 "multi-word attribute names should use dashes as separators"
I was looking at the attributes in different calcite-app-components and calcite-components and most of the multi-word names use a dash as the separator, like `filter-enabled`. But some of them don’t. E.g.:

iconposition:
https://github.com/Esri/calcite-components/tree/master/src/components/calcite-button

grouptitle:
https://github.com/Esri/calcite-components/tree/master/src/components/calcite-dro

[2019-10-17 20:59] macandcheese commented on #179
Yeah, good catch. This is a result of how camelCase attributes are handled - these instances in Calcite Components should be updated to use camelCase vs. lower case (IMO) - in practice this lets attributes to be written as `filter-enabled`. This coincides with attribute naming convention issue: https://github.com/Esri/calcite-components/issues/36

[2019-10-18 17:22] AdelheidF opened #181 "calcite-dropdown: hover state grey dot permanently on first item"
I don't think the calcite-dropdown places the grey dot correctly. When I set a calcite-dropdown-item to active that is not the first one it gets a blue dot correctly, but the first calcite-dropdown-item in the list has a grey dot. When I then hover over other items they get a grey dot while I hover, which is fine. But the first item just keeps that grey dot permanently.

![image](https://user-imag

[2019-10-18 17:30] macandcheese commented on #181
@AdelheidF - The focus state styling is assigned programmatically to the first item in the dropdown when it's opened. Maybe it should just assign focus when opened via keyboard? Not sure the best way to approach that, I think it's an accessibility requirement that an item is focused when the dropdown is opened. cc @paulcpederson did you have some insight here?

[2019-10-18 17:33] paulcpederson commented on #181
@macandcheese I think we could only show the dot on hover, rather than on hover + focus?

[2019-10-18 17:36] macandcheese commented on #181
I guess the issue is that, it's potentially a little weird that there's a possible state with an active, a hovered, and a focused item in one dropdown. Removing the dot from either hover or focused maybe solves for that?

[2019-10-18 17:48] paulcpederson commented on #181
Yeah, to keep it accessible you have to focus into the dropdown when it's opened and the focused item has to have a focus state.

There are approaches where you only show focus styles for keyboard focus and not mouse focus (like `button:focus:not(:focus-visible)` approach), but that won't help here as the focus is programmatically assigned, so you don't really know currently which input mode the u

[2019-10-18 17:52] macandcheese commented on #181
We could detect how the dropdown has been invoked (click vs. key) and... conditionally assign styling, but, seems like a little much. I believe WCAG says to focus the currently active / selected item which would... eliminate the weirdness, but in a multi-group dropdown, there are potentially multiple active items, I guess you'd need to focus the first one.

These GH dropdowns throughout these issu

[2019-10-18 18:05] paulcpederson commented on #181
I don't think you necessarily _have_ to focus the first element, actually. This example from the WAI aria leaves focus on the triggering element until you tab in: https://www.w3.org/TR/wai-aria-practices/examples/disclosure/disclosure-navigation.html

[2019-10-18 18:17] macandcheese commented on #181
This one does seem to solve by only focusing with keyboard, and not with click, which I think is more analogous than a nav menu with no active state - https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-2/menubar-2.html

What it does is also move focus with hover so you don't end up with three states, just selected and hover/focus as one.
<img width="798" alt="Screen Shot 2019-10-18

[2019-10-18 18:23] paulcpederson commented on #181
Wow that example is almost exactly what we're doing, I say 🚢 ship it

[2019-10-18 20:55] AdelheidF opened #182 "calcite-popover : offset is reversed if placement is vertical"
If I use a calcite-popover with `placement="vertical"` then `xOffset` modifies really the y placement and `yOffset` modifies the x placement.

Also, it would be nice if negative offset values would work. It currently seems to have an issue when displaying the popover above the reference element in that case. I would like the popover to overlap the reference element.

[2019-10-18 21:39] driskull commented on #182
According to the [Popper doc](https://popper.js.org/popper-documentation.html#modifiers..offset) it is flipped depending on whether or not it is horizontal or vertical.

This means that if the placement is top or bottom, the length will be the width. In case of left or right, it will be the height.

So we would have to flip them internally or we can change to accept a single string like the docume

[2019-10-18 21:40] driskull commented on #182
Another option is to just take a single value for offset and it will apply to either length or height depending on the position.

[2019-10-18 21:53] AdelheidF commented on #182
That won't work. I currently use both at the same time in the FeatureFilter actionPad popover.

Either way will work for me, but I lean towards two properties in case you have to modify one after creation.

[2019-10-18 22:07] julio8a commented on #182
I'm good with either.

[2019-10-21 16:38] macandcheese commented on #181
Before I dive in, @AdelheidF does the above example work for this case - with focus state item being "superseded" by hovered item?

[2019-10-21 16:43] AdelheidF commented on #181
That seems fine to me, whatever you guys think works best. I first assumed it's a bug what's there now.

[2019-10-21 17:33] jcfranco opened #185 "Unskip failing radio-group test."
https://github.com/Esri/calcite-components/pull/184/

[2019-10-22 16:39] patrickarlt opened #186 "Tab UI disappears when used with text content"
I've been working on some UI mockups inside Sketch and I've noticed that the tab component UI tends to disappear when used inline with text content for example a tabbed code block.

This screenshot is from the Sketch components but in a real implementation it is worse since the tab UI is the same size (and color) as the text leading to it getting lost.

![image](https://user-images.githubuserconte

[2019-10-22 17:03] driskull commented on #182
Installed.

[2019-10-23 06:41] AdelheidF opened #188 "calcite-date-picker not working with Maquette"
I’m trying to use calcite-date-picker in the FeatureFilter component, but I can’t get it to work. This is how it looks like when I click on it. The calcite-date-month shadow-root stays empty.
It’s using Maquette.

<img src=https://user-images.githubusercontent.com/44481292/67364501-86c20200-f524-11e9-94ce-ba67c5ac73f5.png width=200/>

<img src=https://user-images.githubusercontent.com/44481292/673

[2019-10-23 16:55] AdelheidF commented on #182
Looks good.

[2019-10-23 17:01] #182 closed

[2019-10-23 20:06] macandcheese commented on #188
Thanks for report - assigning to @kumarGayu as original author

[2019-10-23 20:09] macandcheese commented on #186
Agreed - I think we can add an "appearance" variant, I also think we need a slightly stronger hover state in general, we can look at that too cc @bstifle

[2019-10-23 20:10] AdelheidF commented on #188
Kumar is out until Nov 11. Is there someone else who could look at this?

[2019-10-23 20:22] AdelheidF commented on #188
test app with repro case:

https://devtopia.esri.com/WebGIS/arcgis-components/tree/adel2697/date-picker

Under /test-apps/FeatureFilter/index.html is the test app.
Click 'Filter layer' and then choose a date field.

This is a layer with date fields (pick field DAY):
../test-apps/FeatureFilter/index.html?url=https://sampleserver6.arcgisonline.com/arcgis/rest/services/Hurricanes/MapServer/0

[2019-10-23 23:19] AdelheidF opened #190 "calcite-popover placement issues when popover is too high"
If I place a calcite-popover with “bottom” but it ends up being too high to fit properly I end up with something like below (popover has Add button). My reference element is the 'Visualization attributes' text.

This can happen with smaller devices. It won’t happen anymore in my component because I’m calculating the height of the popover dynamically based on the height of the app, but I’m sure oth

[2019-10-24 06:09] driskull commented on #190
The recent fixes I checked in for popover may fix this. The only thing I can think of is to be able to disable the "flip" feature on occasion if you don't want it to figure out where to go.

[2019-10-24 16:48] bstifle opened #191 "Modal Styling Updates"
**Overall:**
- [x] 2px border radius on all corners of modals; (exceptions: docked mobile on bottom corners, fullscreen modals)

**Light theme:**
- [x] body copy needs to be secondary type color blk-170  #4a4a4a

**Dark theme:**
- [x] Modal should have fill of ui-foreground-dark #2b2b2b
- [x] divider lines  blk-180  #404040
- [x] body copy needs to be secondary type color blk-060  #BFBFBF
- [x] cl

[2019-10-24 18:27] bstifle commented on #186
@macandcheese  do you think adding a "contained" traditional tab style would be a good prop?

[2019-10-24 21:38] macandcheese commented on #191
OK, I can update this, although the content itself is actually set by the user we can doc recommended colors for text. 👍

[2019-10-24 22:18] kevindoshier opened #193 "<calcite-button> type="submit""
I just noticed this but if I have a button in a form thats type="button" instead of type="submit" for instance a cancel button, the click event is still submitting the form, and calling the click handler I have bound to it

[2019-10-24 22:28] bstifle commented on #191
ok got it. yeah maybe just as default?

[2019-10-24 22:40] paulcpederson commented on #193
@macandcheese for you?

[2019-10-24 23:44] kat10140 opened #195 "calcite-popover going offscreen"
Dhrumil is having issues with the popup popovers going offscreen, and not being able to scroll to the end.  He also mentioned that there is "no fixed location from where the popover will launch". I'll forward y'all the email thread for reference.

![image001](https://user-images.githubusercontent.com/48069902/67532975-30b4a200-f67d-11e9-850b-fdbac8dd2d97.png)

[2019-10-25 15:33] macandcheese commented on #193
Yep taking a look

[2019-10-25 17:23] asangma opened #196 "Enhancement : Switch. Allow slot to be positioned leading/trailing"
Currently, `<slot />` is always placed after `track`. Might be nice to have a prop for placing the default slot in front of or after.

Need it for cases where switches are in calcite-app-components panels and blocks.
![image](https://user-images.githubusercontent.com/12503298/67591100-791d9f80-f711-11e9-9632-141204e4a969.png)

[2019-10-25 17:31] julio8a commented on #178
#194

[2019-10-25 17:34] macandcheese commented on #193
addressed in https://github.com/Esri/calcite-components/pull/197

[2019-10-25 17:47] paulcpederson commented on #193
🥇

[2019-10-25 19:20] #178 closed

[2019-10-25 19:33] #155 closed

[2019-10-25 23:51] bstifle opened #199 "Button Styling Updates"
**Overall**
Solid buttons...
- [ ] Remove borders from hover and pressed states

![image](https://user-images.githubusercontent.com/14083530/67610352-f3b4e200-f746-11e9-8c7e-db964e3bf808.png)

-----

**Light theme**
- [ ] dark solid button styling to
idle  blk-190
hover  blk-180
press  blk-200

![image](https://user-images.githubusercontent.com/14083530/67610383-37a7e700-f747-11e9-9e6a-6b6019ce833

[2019-10-26 22:52] AdelheidF commented on #190
Here is another case. The placement is "bottom" and the popover doesn't fit, but there is more space below the referenceElement than above. But it still shows "top".

<img src=https://user-images.githubusercontent.com/44481292/67626971-836e9500-f808-11e9-875e-dd8a1332ce56.png width=200/>

[2019-10-27 06:51] AdelheidF commented on #195
Same issue with "top" placement (and probably "bottom"). The popover causes horizontal scrolling of the entire page.
In this case it should not center the caret.

<img src=https://user-images.githubusercontent.com/44481292/67630872-68714480-f84b-11e9-9483-2671494ffb01.png width=300/>

[2019-10-28 16:53] macandcheese commented on #193
@kevindoshier this should go out next beta version bump.

[2019-10-28 19:59] julio8a commented on #199
#200

[2019-10-28 20:22] macandcheese commented on #55
Configurable apps has a need for steppers with indication of step state (complete, incomplete, partially complete), as well as the possible need for a mode that provides step #97

cc @kstremel

--
Monitor has a need for a vertical alignment - should be visually similar to the eventual mobile implementation.

[2019-10-28 22:44] paulcpederson commented on #64
So I just got some bugs on a different color picker we're using in high contrast mode and thought I'd mention it in this thread. Basically the issue is that the color swatches/color fields are implemented with `background-color`, which gets lost in high-contrast mode:

![Screen Shot 2019-10-28 at 3 41 27 PM](https://user-images.githubusercontent.com/1031758/67723579-b98f4e80-f999-11e9-89fe-3bb8e2c

[2019-10-28 22:57] jcfranco commented on #64
@paulcpederson Thanks for sharing. I'll make sure to take this into consideration.

[2019-10-29 17:05] kat10140 opened #201 "Bug: calcite-popover pointer placement"
From Adelheid:

### Summary

The placement of the triangle pointer doesn't seem correct. I assume there should be no grey shadow looking through between the popover box and the triangle.

![image](https://user-images.githubusercontent.com/44481292/67626872-79e42d80-f806-11e9-8814-24fafbe7d782.png)

![image](https://user-images.githubusercontent.com/44481292/67626875-8799b300-f806-11e9-9170-c6a23fe

[2019-10-29 23:26] macandcheese opened #203 "Calcite modal - content section is not visible when docked"
The "content" slot is not visible when `docked=true` - it's present and scrollable but not reasonably so:

Reproduction :
https://esri.github.io/calcite-components/?path=/story/modal--simple

[2019-10-30 00:52] macandcheese opened #204 "Calcite modal - "secondary", and "back" button slots don't render"
Although they are present in the DOM - footer buttons in slots `secondary` and `back` won't render - just the `primary` slot works. The others appear in inspector but are not visible.

Reproduction: https://esri.github.io/calcite-components/?path=/story/modal--simple

[2019-10-30 15:21] asangma opened #205 "Modal - medium scale, max-width, and line length"
The current max-width of modal in scale medium makes for some non-optimal line lengths.
![image](https://user-images.githubusercontent.com/12503298/67872311-06d10480-faef-11e9-99db-3a8cff11bf60.png)
Currently it's `max-width: 64rem`. Perhaps it could be more like `48rem`.

Think we could make the max-width of modal a bit smaller in medium scale?
This is `max-width: 48rem`
![image](https://user-ima

[2019-10-30 15:59] macandcheese opened #206 "Tree nav - active color customization"
Would be nice to set the active dot and left-border color, similar to setting tab color.

Ideally you could set at an item-level but would also inherit from the closest parent with a designated color override.

[2019-10-30 20:59] driskull commented on #201
@kat10140 this may be a map viewer specific issue. Can you verify the shadow is from the popover?

[2019-10-30 21:41] kat10140 commented on #201
@driskull yeah this shadow isn't present for me

[2019-10-30 21:44] kat10140 commented on #201
![Screen Shot 2019-10-30 at 2 43 47 PM](https://user-images.githubusercontent.com/48069902/67901287-b32cde00-fb23-11e9-8f04-4aef257f3a6b.png)

[2019-10-30 21:47] driskull commented on #201
@AdelheidF can you comment on this?

[2019-10-30 22:29] AdelheidF commented on #201
Yes, user error. I had added a temporary shadow while popover didn't have one. Removed it now.

[2019-10-30 22:55] kat10140 commented on #201
Ok, closing this issue

[2019-10-30 22:55] #201 closed

[2019-10-31 14:38] kevindoshier commented on #193
@macandcheese - thanks, do you know when that beta will be available?

https://devtopia.esri.com/WebGIS/arcgis-webviewer-app/issues/803

[2019-10-31 14:54] macandcheese commented on #193
I'll try and cut a release today, tomorrow at latest. 🚢

[2019-10-31 17:00] kevindoshier opened #209 "<calcite-modal> slots for secondary and back buttons dont show the buttons"
You can see this in the storybook test here, it has slots set for both back and secondary but they are missing, if I add them within a form they show up ok

https://esri.github.io/calcite-components/?path=/story/modal--simple

[2019-10-31 18:25] paulcpederson commented on #209
looking at this now

[2019-10-31 20:04] macandcheese commented on #204
dupe of https://github.com/Esri/calcite-components/issues/209, closing

[2019-10-31 20:04] #204 closed

[2019-11-01 17:22] driskull commented on #195
Added a property to disable flipping the popover.

[2019-11-01 17:22] driskull commented on #190
Added a property to disable flipping the popover.

[2019-11-01 17:41] paulcpederson commented on #169
I think since @julio8a added https://github.com/Esri/calcite-components/blob/master/src/assets/styles/_colors.scss we are good on this one?

[2019-11-01 17:46] paulcpederson commented on #20
@bstifle do you have a set of designs for focus states library-wide? If we can get away with a single custom focus style everywhere that would be better, but we could also do one-off focus styles for every element as long as they're visually cohesive.

[2019-11-01 17:48] macandcheese commented on #20
cc @asangma and Mitch re out conversation yesterday as well

[2019-11-01 18:43] #203 closed

[2019-11-01 18:43] #130 closed

[2019-11-01 18:43] #135 closed

[2019-11-01 18:43] #205 closed

[2019-11-01 18:43] #209 closed

[2019-11-01 18:51] macandcheese commented on #195
released 🚀

[2019-11-01 18:51] #195 closed

[2019-11-01 18:51] macandcheese commented on #190
released 🚀

[2019-11-01 18:51] #190 closed

[2019-11-01 18:55] #199 closed

[2019-11-01 20:04] AdelheidF commented on #190
If I use the new `disableFlip` property the dropdown _always_ opens to where I set it, e.g bottom, even if there is plenty of space above it. This is not working for my case below.
Without making calculations I won't know if I need the popover above or below the reference element.

I need a 'dropdown' for the 'Natural Breaks' box in the UI. The box can be near the top or the bottom of the panel, d

[2019-11-01 20:21] driskull commented on #190
I think you need to use "auto" in this case. That's when it will figure out where to put the popup.

You can add scrollbars to the content inside it. We don't have any heights set for the popover so a user can define them.

---

It seems like you are using the Popover for a `<select>` menu use case which it wasn't designed for. I'm not sure this is the correct use case. A native select menu or a c

[2019-11-01 20:28] AdelheidF commented on #190
Tried that, they don't seem to make a difference if I don't give the content also a fixed height that would always fit. I was hoping I don't have to.

[2019-11-01 20:30] driskull commented on #190
Did you give it a height and an `overflow:auto`? That should work

[2019-11-01 20:45] macandcheese commented on #190
It does kind of seem like a use case for a dropdown or native select - the dropdown can look like this:
<img width="225" alt="Screen Shot 2019-11-01 at 1 44 53 PM" src="https://user-images.githubusercontent.com/4733155/68055425-d388a400-fcad-11e9-9051-ea2228dd8f24.png">

If needed, we can add a "selected left" vs. dot indicator of active item to dropdown

[2019-11-01 20:49] driskull commented on #190
We may need to have a good guide on which components are for certain use cases. We don't want the `calcite-popover` to be a hammer & nail for everything. 🔨

[2019-11-01 20:50] AdelheidF commented on #190
Tried the overflow suggestion:

![image](https://user-images.githubusercontent.com/44481292/68055732-95d84b00-fcae-11e9-8cde-337979e7c522.png)

[2019-11-01 20:52] driskull commented on #190
@AdelheidF if you are setting `overflow-y:auto` you also need to have a height defined for when it should start overflowing with a scrollbar. `height:200px`?

[2019-11-01 20:57] kevindoshier commented on #193
@macandcheese - I pulled the latest and now the submit button does not call into the onsubmit function set on the form element, it calls the default form behaviour which refreshes the page now

[2019-11-01 21:00] macandcheese commented on #181
Addressed in https://github.com/Esri/calcite-components/pull/211

[2019-11-01 21:18] AdelheidF commented on #190
OK, seems like the answer to my question is that I have to do some calculations myself to make it work with `calcite-popover` for all screen sizes or use `calcite-dropdown` with a bit of a different look.

This is another version of the same idea:
<img src=https://user-images.githubusercontent.com/44481292/68057151-4c89fa80-fcb2-11e9-980d-685888b6c8e5.png width=200/>

[2019-11-01 21:50] macandcheese commented on #193
Looked at again - https://github.com/Esri/calcite-components/pull/212, will keep this open until it's actually solved for you ;)

[2019-11-01 22:05] #181 closed

[2019-11-01 22:12] #169 closed

[2019-11-01 22:13] macandcheese commented on #176
@ehusaint can you provide a couple use cases? Trying to figure out if this should be handled by a separate component... Is the wish that these would be absolutely positioned, or just relatively placed in the flow?

[2019-11-04 18:32] #193 closed

[2019-11-04 19:09] asangma opened #213 "Bug : dropdown. Items take DOM space when hidden"
When dropdown is not active, the items still take up space. This is

Could be solved by setting height on `calcite-dropdown-wrapper` when `visibility:hidden`?
Note: no wrapper is added when there is only a single group.

![image](https://user-images.githubusercontent.com/12503298/68149938-9ca3cf80-fef3-11e9-9286-9acf25531868.png)
Note the scrollbar.

[2019-11-04 19:25] macandcheese commented on #213
Can you provide a link to where this is happening? I can't reproduce the "parent scrollbar" behavior.
Also, can could you clarify what "Note: no wrapper is added when there is only a single group." means here?

@asangma

[2019-11-04 22:19] #191 closed

[2019-11-05 20:57] paulcpederson commented on #176
@macandcheese we've used something similar to this in AGO as a callout for new UI's. It's not something that needs a toast notification, but it should still call out attention and be dismissible:

![Screen Shot 2019-11-05 at 12 54 14 PM](https://user-images.githubusercontent.com/1031758/68245239-72254580-ffcb-11e9-8935-2dd17f1832ef.png)

It's colocated with the feature itself and inline with the c

[2019-11-05 21:22] ehusaint commented on #176
Yes, we are basically looking for an alert similar to that that is inline.
For example - We have shopping cart. Each item in cart could have different
messaging at the line item level based on it's validation. So we would like
to display a message inline to the item.

On Tue, Nov 5, 2019 at 12:57 PM Paul Pederson <notifications@github.com>
wrote:

--
Abde Syedna (TUS)
Husain Tapiya

"Dream as if y

[2019-11-05 22:46] paulcpederson commented on #138
will be part of next release

[2019-11-05 22:46] #138 closed

[2019-11-05 22:46] paulcpederson commented on #139
well be part of next release

[2019-11-05 22:46] #139 closed

[2019-11-06 19:20] macandcheese commented on #10
Added in https://github.com/Esri/calcite-components/issues/10

[2019-11-06 19:20] #10 closed

[2019-11-06 21:22] paulcpederson commented on #185
FYI, fixing some tests so took a look at this as well, will be in next pr

[2019-11-06 21:23] jcfranco commented on #185
Thanks @paulcpederson! 🙇

[2019-11-06 22:21] asangma opened #218 "Enhancement: Popover border-radius"
Since Popover is a floating element, seems like it could benefit from some border-radius.

@paulcpederson @macandcheese @julio8a Ya?

[2019-11-06 22:25] asangma commented on #218
![image](https://user-images.githubusercontent.com/12503298/68343245-32c92880-00a1-11ea-8c15-adadc15ca640.png)

[2019-11-06 22:26] macandcheese commented on #218
That makes sense - modals, alerts, popovers, tooltips, dropdowns - read: floaty-things, should have border-radius.

[2019-11-06 22:26] asangma commented on #218
Cool...I'll submit a PR.

[2019-11-06 22:31] macandcheese commented on #218
Sounds good, I think we just need to account for the possibility of the close button abutting a corner, and applying the border-radius to the button in that case to prevent it from clipping above the border-radius of the container.

[2019-11-06 22:47] macandcheese opened #220 "Add selection modes to dropdown component"
There are use cases around the dropdown that:

- require multiple items to be selected within a dropdown-group (multiple active items)
- do not require any items to be selected within a dropdown-group (no active items) - use case as links / overflow menu for example.

We could add these as a `selection-mode` prop that accepts one of `["single", "multi", "single-persist", "none"]` - it should defau

[2019-11-06 22:51] macandcheese commented on #74
@jcfranco is this still an issue?

[2019-11-06 23:00] julio8a commented on #174
![image](https://user-images.githubusercontent.com/6144462/68345405-1d0a3200-00a6-11ea-8d2b-c2e848059425.png)

[2019-11-06 23:00] asangma commented on #218
Was thinking `overflow: hidden`.

[2019-11-06 23:11] jcfranco commented on #74
Yes, but IMO this is low priority. There are other component's with similar behavior (e.g., `calcite-tabs` and `calcite-button`).

[2019-11-06 23:17] #185 closed

[2019-11-06 23:29] paulcpederson commented on #174
Here is a stab at a quick spec for this. Using the above design example.

# calcite-pagination

Calcite pagination allows you to create a set of links for navigating between pages in longer API responses.

[code]

When a link is clicked we should emit an event with the desired state. Imagine we clicked the `4` above:

[code]

---

The reason for structuring and naming the props and event detail li

[2019-11-06 23:34] asangma opened #222 "Question: Is Popover's max-width needed?"
Can we do without the max-width on Popover?
Seems like the content should define this.

[2019-11-07 17:19] julio8a opened #224 "All components use global CSS variables"
Go through all components and ensure all CSS variables are using the globals:
https://github.com/Esri/calcite-components/blob/master/src/assets/styles/_colors.scss

[2019-11-07 17:21] #218 closed

[2019-11-07 19:36] paulcpederson commented on #104
this was fixed in beta.13

[2019-11-07 19:36] #104 closed

[2019-11-07 21:34] macandcheese commented on #179
Addressed in https://github.com/Esri/calcite-components/issues/179

[2019-11-07 21:34] #179 closed

[2019-11-07 22:48] macandcheese commented on #107
@paulcpederson agreed, maybe even some option for displaying as "drag and drop well".

What do we want this to look like?
- How should labels be handled - prop, slot, etc...

[code]

- required could come with some kind of styling / indication
- validation status could display in line, independently of a message shown - should accommodate for overlap with password browser extensions

Should we off

[2019-11-07 23:05] paulcpederson commented on #107
it may be worth looking at how the different platforms manage input validation, I know that Angular 2.0 has a specific syntax for how these attrs should be added.

[2019-11-07 23:06] paulcpederson commented on #107
I don't think this component should be concerned with aggregate errors. The input should only be concerned about itsself.

[2019-11-07 23:06] macandcheese commented on #107
I don't think we should validate anything, just allow updates to that prop for the purpose of displaying errors

[2019-11-08 01:38] paulcpederson commented on #107
Yeah, I agree it's on app devs to validate their own inputs, for sure. For reference here is what angular calls this stuff:

| State	| Class if true	| Class if false |
| ----- | ------------- | -------------- |
| The control has been visited. | `ng-touched` | `ng-untouched` |
| The control's value has changed. | `ng-dirty` | `ng-pristine` |
| The control's value is valid. | `ng-valid` | `ng-invali

[2019-11-08 01:44] paulcpederson commented on #107
Another nice-to-have would be to allow devs using the component programmatically to set a validator function so that when they return false we set the correct prop/show the message, etc for them:

[code]

[2019-11-08 17:26] ffaubry commented on #58
A bit of late feedback.

#### Feedback 1
A the case for a single calendar range selector. For Dashboard UI, the double calendar range selector is over killing. Too much space, etc. I would encourage a more compact range selector relying on a single calendar. You can look at:
- https://ember-power-calendar.com/docs/range-selection

#### Feedback 2
The case for date pattern. Currently if the calenda

[2019-11-10 21:35] macandcheese commented on #58
@ffaubry agree on those points - @julio8a can we make some tweaks to support single input range? - would likely just need to update the input area a bit.

[2019-11-12 01:27] macandcheese commented on #213
Fixed in https://github.com/Esri/calcite-components/pull/226, I tested this with a quick example div, let me know if the update doesn't solve for your use case when this next release goes out... @asangma

[2019-11-12 01:27] #213 closed

[2019-11-12 01:27] macandcheese commented on #220
Added in https://github.com/Esri/calcite-components/pull/226

[2019-11-12 01:27] #220 closed

[2019-11-12 01:44] macandcheese commented on #176
Ok I'm going to dig in on this, I guess the design question would be re: Paul's screenshot - should the "inline" version have any stylistic distinction... remove the drop shadow since they are no longer floating elements, etc...

[2019-11-12 21:46] driskull opened #228 "New Component: FAB"
### Description
A button for adding new things. It could be an extension or configuration of Action.

#### User Stories
As a map author I want easy access to the "add layer" workflow. I want to be able to do this from within the LayerList but I don't want to scroll all the way to the bottom, and having it at the top is weird.

https://github.com/Esri/calcite-app-components/issues/262

### Acceptan

[2019-11-12 21:58] macandcheese commented on #228
Use case makes sense, I wonder if parts of this can be handled by the existing button component?

For example, adding a "isRounded/isPill" and "revealTextOnHover" props (for lack of better names right now) to the existing button component could handle the *design* of the above.

That would just leave positioning up to the implementer which, kind of makes sense to me?

Say, to achieve a FAB impleme

[2019-11-12 22:03] driskull commented on #228
Yeah, this may be accomplished by wrapping the existing button. I wonder if we want to make it easier for the dev to just say `<calcite-fab>` rather than have to configure the button in a specific way.

Yes, I think they could.

Yeah. I'm on the fence here. I think @asangma wanted it to automatically have styles for positioning.

Thanks for the good questions @macandcheese

[2019-11-12 23:30] paulcpederson commented on #222
We should have a set of props that help determine width, sort of like modal has. Default could be an auto?

[2019-11-13 15:44] #224 closed

[2019-11-13 21:28] kat10140 opened #230 "New Component: Card"
### Description
Cards contain content and actions about a single subject.
See [Material card](https://material.io/components/cards/#anatomy).

#### User Stories
Developer wants to add a highly visual entry point to more content or a larger set of configurations.

### Acceptance Criteria
![image](https://user-images.githubusercontent.com/12503298/66436320-95b09c80-e9db-11e9-8ce7-d2e99e3c1b25.png)

[2019-11-13 21:42] macandcheese commented on #52
Closing in favor of https://github.com/Esri/calcite-components/issues/230

[2019-11-13 21:42] #52 closed

[2019-11-14 00:39] macandcheese commented on #176
This was added as a new component in this PR that also refactors Alerts - https://github.com/Esri/calcite-components/pull/232

Ultimately they were too different in use case to lump together despite sharing content structure and style. The new `<calcite-notice>` component can be positioned inline, accepts similar modifier props to `<calcite-alert>` and has a distinct but similar visual style. `<ca

[2019-11-14 21:29] #176 closed

[2019-11-14 23:18] ehusaint opened #234 "calcite-checkbox - Multiple checkbox and onChange event"
Two issues:
1. Multiple checkbox are been displayed for the below code.
2. No onChange event is been triggered on check.
3. listening on the calciteCheckboxChange is also not working.

<calcite-checkbox>
  <input name="myCheckbox" type="checkbox" onChange={this.handleInputChange} />
</calcite-checkbox>

[2019-11-14 23:19] ehusaint commented on #234
![Screen Shot 2019-11-14 at 3 02 00 PM](https://user-images.githubusercontent.com/23363475/68904160-2290f900-06f2-11ea-8dfb-12d127126a33.png)
 multiple checkbox image.

[2019-11-15 22:47] julio8a opened #237 "Buttons: Accessibility"
We use 3 main background colors in light theme:
- ffffff
- f8f8f8
- f3f3f3

However, our primary blue (brand blue) and red do not pass accessibility on the f3f3f3 background. Therefore, a few buttons need to have the next blue down h-bb-070 for text color.
Note: this does not apply to the dark theme.

Buttons that need updating:
- clear
- transparent
- outline (for consistency, these always have f

[2019-11-15 23:32] macandcheese commented on #36
As mentioned in https://github.com/Esri/calcite-components/pull/232#discussion_r346942353 - we should also look at updating and standardizing "color" attribute when it is in effect used to convey status / meaning of component (ie alert is currently red, green, yellow, blue -> warning, success, caution, information)...

[2019-11-15 23:49] evanmosby opened #239 "Additional Modal size between Med and Large"
We have a use case where its desirable to have a modal size in between the large and medium sizes. Medium is just too constraining and large feels quite empty. Any opportunity to add an additional size? Thanks for considering!

[2019-11-16 00:15] macandcheese commented on #239
Couple options off the top of my head...

Add an optional "max-width" attribute that, if defined, overrides the 'size' attribute value with a user-defined number, but it's also nice to enforce a little consistency between modals like our current scale does

We could reconfigure our current scale to accommodate xs -> xl - we'd probably always encounter "in betweens" that wouldn't work for folks but

[2019-11-16 00:40] paulcpederson commented on #239
The problem with child max-width is that you actually want to make the modal fullscreen at the determined breakpoint.

An additional prop for exact size is most likely the solution here.

[2019-11-18 23:27] driskull opened #240 "Loader: Create property flag for having a loader without the padding top/bottom"
There is space around `calcite-loader` to prevent people who do nothing from having it but up right against the container. We could look at removing that or make it configurable.

Currently, there is no way to remove that padding.

We just added a no-padding prop for modals, so that I think would be the attribute name here as well

[2019-11-19 17:01] julio8a commented on #237
#238

[2019-11-19 17:02] #237 closed

[2019-11-19 17:16] julio8a opened #243 "Date format"
This is based on the Intl discussion with @subgan82.

Related issues:
Inputs component: #107
date-picker (calendar): #58

I'm assuming this work will be tied into the input/selects and communication between the calendar (date+range) and inputs/selects.

[2019-11-19 18:19] macandcheese commented on #243
@julio8a can you expand on this a bit?
 It seems more like a pattern comprised things like accordion, inputs / select, label, etc. than a standalone component.

[2019-11-19 21:22] kat10140 commented on #230
added theme prop above. removing scale. don't need scale but will need layout options in v2

[2019-11-20 00:30] kat10140 commented on #230
@mitc7862 i can't assign you for some reason

[2019-11-20 03:30] macandcheese opened #246 "calcite-progress - don't display text slot if empty"
Currently, the `calcite-progress` component renders an empty `calcite-progress--text` div, even when no text is supplied.

The component, I believe (?), is meant to wrap content  - but, for my case I'd like to simply absolutely position it within a container (ie, ` <calcite-progress type="indeterminate"></calcite-progress>`). I wonder if it would be better to not allow anything to be passed as tex

[2019-11-21 00:59] julio8a commented on #243
I don't think this issue is for a new standalone component. My understanding of this is the logic for internationalization for date formating. Since every user of date-picker whether that be through input/select or calendar, they all need internationalization due to our global product exposure. Therefore, everyone who uses these specific calcite-components (date-picker/inputs with dates and time)

[2019-11-21 14:24] subgan82 commented on #243
Hi @julio8a

The request is for a DateTimeFormat Picker component, it has usages in Charts, Popups , Ops Dashboard. This component standardizes this Date formatting across our platform. This component uses native Intl to provide the format.

![Screen Shot 2019-11-21 at 8 19 29 AM](https://user-images.githubusercontent.com/1017712/69346175-f9afbd00-0c37-11ea-8971-65c8255fa912.png)

![Screen Shot 20

[2019-11-21 14:32] subgan82 commented on #243
Coming to https://github.com/Esri/calcite-components/issues/58

On these questions

Questions include:

how to integrate moment into the build without bloating people's apps
how to do locale-specific date formatting

Here also for the Date picker to use [Intl](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl) to set the date picker displayValue instead of using

[2019-11-21 23:18] ehusaint commented on #55
Also allow enable/disable tab as you move along the steps. Step 2 is disabled until Step 1 is not completed.

[2019-11-21 23:20] macandcheese commented on #34
Closing this, can re-open down the road if this gets tackled.

[2019-11-21 23:20] #34 closed

[2019-11-21 23:21] macandcheese commented on #172
I think @julio8a updated these!

[2019-11-21 23:21] #172 closed

[2019-11-22 00:20] julio8a commented on #172
Yeah, these should be good.

[2019-11-22 23:41] driskull opened #249 "Create shared repository & NPM project for shared utilities & assets"
Should we create a github repository where we can share code and assets across projects that are building stencil components? Something like `calcite-component-resources`?

Both `calcite-components` and `calcite-app-components` could use it as a dependency and we see other teams building components using stencil that could benefit from these shared resources.

For example, these could be shared:

[2019-11-22 23:53] driskull opened #250 "New Component: `calcite-icon`"
### Description

Convert the `CalciteIcon` functional component into a web component

#### User Stories

Currently, users have to get the path from `calcite-icons` project and then create an SVG with the path to that icon. There's a lot of boilerplate in that process and we want to ensure consistency for displaying icons. This component will promote that and eliminate boilerplate

### Acceptance C

[2019-11-22 23:56] macandcheese commented on #250
I like the functionality of: https://github.com/jpeterson/calcite-ui-icons-react (supplying one of three sizes "closest" to the requested size)

We should also figure out how this will work with existing components (ie as a consumer I want to pass the chevronDown24 icon to a calcite-button - it'd be nice to scale that icon proportionally to the scale attribute of the calcite-button)

[2019-11-22 23:58] macandcheese commented on #249
Agreed - we already have calcite-base that contains some mixins (for font-size, for example https://github.com/Esri/calcite-base/blob/master/dist/_type.scss) - would be good to leverage that if possible for things that may be applicable to others outside Stencil-land. calcite-component-resources/helpers could work as well.

[2019-11-22 23:58] driskull commented on #250
Ideally, they would tell the component to use `size:32` and "chevron-down"or similar and it would load the path for the correct size.

[2019-11-22 23:59] driskull commented on #249
We could add another folder for `components` inside `calcite-base` if that is the easier solution.

[2019-11-23 00:28] kat10140 opened #252 "New Component: Calcite-scrim"
We want a more widespread component for loading and disabled states. Gonna make our calcite-app functional component into a calcite "component component" that can be used in this repo and brought into arcgis-components (for Dhrumil).

#### Acceptance Criteria
Props for:
- loading
- ~disabled~

Div styling that matches our spinning science of where icon for loading state and changed opacity for dis

[2019-11-23 00:30] macandcheese commented on #252
Maybe related to loading / skeleton states? https://github.com/Esri/calcite-components/issues/163

[2019-11-23 00:33] macandcheese commented on #250
Yeah, makes sense. I think some components would want to control the size of icon, only accepting the string for name... IMO if a button is scale="s", we should size the icon a user requests for them within the component.

[2019-11-23 00:34] kat10140 commented on #252
sorry im editing the description i pushed enter and it submitted a blank issue @macandcheese 😄

[2019-12-02 18:17] asangma commented on #228
@macandcheese @driskull Do y'all think that we could for V1 of this component have a `sticky` prop and maybe an associate `stickyAlignment` prop? That is to say, for now nix any auto sticky behavior?

I also think that we could use `isPill` and `revealTextOnHover` in a `<calcite-fab>` wrapper and have the wrapper apply the props?

[2019-12-02 18:19] driskull commented on #228
Yeah we could do that.

[2019-12-02 18:23] asangma commented on #228
Kewl.

[2019-12-02 18:38] macandcheese commented on #228
I still kind of think positioning should be on the consumer... Wrap a `<calcite-fab>` or a `<calcite-button is-pill reveal-text-on-hover>` in a `<div class="my-custom-sticky"></div>` is kind of an expected story. Maybe that's just a `calcite-app-component` component...

[2019-12-02 18:42] asangma commented on #228
@macandcheese I can see that.
@driskull Maybe `calcite-panel` could have a special place in its heart for `calcite-fab`...and by heart I mean foot.

[2019-12-02 21:11] macandcheese opened #254 "Tree: Click / keypress function and selection mode bug"
Currently it seems as if you can enter "multi" select mode when using the `SPACE` key to select items in a `<calcite-tree>`, even with explicitly set "single" `selection-mode`.

Reproduction:

- go to: https://esri.github.io/calcite-components/?path=/story/tree--simple
- in `selection-mode:single` - clicking sibling items or using `ENTER` to select them should abide by "single select" mode and NOT

[2019-12-02 21:26] vcolavin commented on #20
Just to note, there is an open issue related to this in the Share dialog.

[2019-12-02 21:29] vcolavin commented on #20
https://devtopia.esri.com/WebGIS/arcgis-portal-app/issues/26747

[2019-12-03 16:40] asangma commented on #228
So the more I think about this, it seems like a FAB should have the behaviors that make it a FAB
- sticky to the bottom or top
- style that distinguishes it
- dynamic label show/hide

Otherwise, it's not a FAB, right?

[2019-12-03 16:48] macandcheese commented on #228
The argument for having "fab like styles" on the `<calcite-button>` would be that consumers could leverage existing button config options for a fab. A product may want a solid blue fab, or a square fab, etc., and we should support that within the system, within reason (ie, inline buttons shouldn't be a FAB...)

Adding a "rounded" prop would also allow folks to use a "pill" inline for any reason if

[2019-12-03 16:50] mitc7862 commented on #228
@asangma Would we nix the inline variant?

We could call it something other than "FAB" if it makes more sense. As long as it solves the UX problems we have, it doesn't matter if we follow googles naming paradigms.

[2019-12-03 17:46] asangma commented on #228
@mitc7862 I agree with not needing to stick with Googz names.

@macandcheese I totes get the technical aspects of a child component not being able to predict its parent's structure.

I would say that the main UX need of a FAB is to keep a primary action available and consistently positioned especially when content is scrolling. If this component doesn't solve that UX need, maybe we want to call th

[2019-12-03 23:45] kat10140 commented on #230
@asangma styling? 😬

[2019-12-05 23:04] pr3tori4n commented on #174
https://github.com/Esri/calcite-components/tree/master/src/assets/styles
type and shadow mixins.

[2019-12-06 18:50] driskull commented on #222
@asangma this is getting stale. Do we want to do anything?

[2019-12-06 22:16] noahmulfinger opened #258 "Document that global css file is needed for color variables"
In order for a lot of the color styling to work in the components, the calcite.css style file (found at `@esri/calcite-components/dist/calcite/calcite.css`) needs to be imported globally. If this isn't documented anywhere, there should be some documentation stating that this file is required and why it's needed in addition to things like `calcite-colors` and `calcite-base`.

cc @oknoway @paulcpede

[2019-12-09 21:45] macandcheese commented on #228
Added in https://github.com/Esri/calcite-components/pull/256

[2019-12-09 21:45] #228 closed

[2019-12-11 17:02] pr3tori4n commented on #174
@julio8a could you provide additional technical specifications for how the ellipses should work?

[2019-12-11 21:43] macandcheese commented on #258
Yeah, I think this became a dependency when the root-level included css vars were added. It'd be a cleaner story without the need to add the built css obviously, but not sure if there's a way to pass css var without that?

[2019-12-11 21:47] noahmulfinger commented on #258
@macandcheese Do you think those css vars could go in `calcite-colors` or `calcite-base`? Maybe making the additional calcite.css file necessary if you don't already include `calcite-colors`?

[2019-12-11 21:51] paulcpederson commented on #258
@noahmulfinger do you already pull in calcite-base as css vars?

[2019-12-11 21:59] noahmulfinger commented on #258
We're just importing `calcite-base/dist/_index.scss` and `calcite-colors/colors.scss` at the moment. So we're not importing `calcite-base/dist/variables.css` if that's what you mean.

[2019-12-11 22:51] macandcheese commented on #258
Added in https://github.com/Esri/calcite-components/pull/262 🎈

[2019-12-11 22:51] #258 closed

[2019-12-13 19:32] gavinr opened #263 "Slider: Drag the bar"
In the [slider component](https://github.com/Esri/calcite-components/issues/4), it would be useful in many of my use cases to have the ability for the user to drag the entire slider (so the min/max endpoints move in parallel) like this:

![rangeslider](https://user-images.githubusercontent.com/209355/70826582-eb733d80-1dac-11ea-96b5-b3c8ddc1c6d0.gif)

[2019-12-13 19:37] jwasilgeo commented on #263
👍 nice suggestion! Here's another sample out in the wild to draw inspiration from: https://refreshless.com/nouislider/behaviour-option/#section-drag

[2019-12-17 20:33] macandcheese commented on #188
Was this resolved in https://github.com/Esri/calcite-components/pull/257?

[2019-12-18 17:09] julio8a commented on #64
From a conversation with Fred:

It's important that we could pass the color to the component as a string with the following supported formats:

#RRGGBB
	#RRGGBBAA
	rgb(....)
	rgba(....)
	hsl(....)
	hsla(....)

And the value returned by the component should be the string type chosen by the user.

[2019-12-19 00:54] jcfranco commented on #250
Added in #256.

[2019-12-19 00:54] #250 closed

[2019-12-19 14:20] snoakes commented on #64
Hello,
I don't know if this is the correct place to ask, but I'd love to know a rough date for this.
Thanks for all your hard work,
Sarah

[2019-12-19 17:54] AdelheidF commented on #188
I tried it again with 1.0.0-beta.15.

The calendar now opens, it is very large and the date numbers don't align with the days of the week if I make it fit in the panel with `width: 100%;`. This also causes the horizontal scroll bars.
Would be nice if there was an option to have a smaller version with less padding around the numbers.

![image](https://user-images.githubusercontent.com/44481292/7119

[2019-12-19 18:34] jcfranco commented on #64
@snoakes Thanks for showing interest in this component's progress! 😄 I'm guesstimating early January for this.

[2019-12-19 20:44] mitc7862 commented on #188
@AdelheidF I think the calendar component will need to be opened in a popover or floating panel. I suspect the alignment issues are due to the narrow width.

[2019-12-19 20:51] AdelheidF commented on #188
@mitc7862 not sure how to add the calendar to a popover and leave the selected date in the panel to be clicked on. It seems to be one piece right now.
If I make the selected date a simple action that opens a popover the popover will initally just display that one line with the selected date, no calendar. The calendar only opens when you click on that selected date.

![image](https://user-images.gi

[2019-12-19 20:56] mitc7862 commented on #188
@macandcheese I think this may be a use case where we need the calendar and the date to be separate pieces. ☝️

[2019-12-19 21:00] macandcheese commented on #188
Yep! I think that is the intention - currently we just don't have a `calcite-input` component of `type=date` to leverage for that (open PR - wip).

Once we have that added I would imagine we want to break the two apart - allowing the calendar to be placed "on page" independent of an input - with no shadow or, wrapped in a calcite-accordion, calcite-popover, etc.

[2019-12-19 23:56] macandcheese commented on #249
`calcite-stencil-base` / `calcite-stencil-helpers` ?

[2019-12-20 01:50] paulcpederson commented on #174
Current behavior is as follows:

[code]

Screenshots of this progression:

![Screen Shot 2019-12-19 at 5 30 12 PM](https://user-images.githubusercontent.com/1031758/71222667-42ce4d80-2286-11ea-9623-c9ddd15226e9.png)
![Screen Shot 2019-12-19 at 5 30 20 PM](https://user-images.githubusercontent.com/1031758/71222668-4366e400-2286-11ea-960d-978d8f5ba450.png)
![Screen Shot 2019-12-19 at 5 30 27 PM](htt

[2019-12-20 17:02] driskull commented on #249
I like `calcite-stencil-base` better than helpers

[2019-12-20 18:49] julio8a commented on #249
Let's go with `calcite-stencil-base`. I'll reach out to the Github admins and get this repo started.

[2019-12-20 18:59] #246 closed

[2019-12-20 18:59] #240 closed

[2019-12-20 20:21] macandcheese commented on #196
This will be included in the `calcite-label` component - the ability to position inline or inline-with-space-between, so you can wrap checkbox, radio button, or switch in this manner.

[2019-12-20 21:29] macandcheese commented on #163
Closing for now, can re-open if we take this on.

[2019-12-20 21:29] #163 closed

[2019-12-20 21:30] macandcheese commented on #234
I think we should remove the proxy inputs that cause this - @patrickarlt have you tried out the stencil-ds-binding option for angular? I think if that works, we can remove the proxy inputs from CC?

[2019-12-20 21:33] #122 closed

[2019-12-21 00:12] rslibed opened #275 "Using calcite-components/calcite-icon with Webpack"
When following the steps to use `calcite-components` with Webpack, the warning below is logged in the console:

[code]

I am able to get rid of the warning by using the loader and passing in the window i.e.
[code]

However, using the loader is causing issues when using the `calcite-icon` component. Webpack isn't able to find the icon modules. The following error logs:
[code]

When importing `calci

[2019-12-21 00:22] driskull commented on #275
cc @jcfranco incase he knows anything :)

[2019-12-23 22:17] pr3tori4n commented on #174
@paulcpederson I think I have this logic as desired. Would you mind pulling down my branch and taking a look?
` hrobbins/pagination-component-174`

[2019-12-27 00:08] rslibed opened #276 "Change color of calcite-icon"
Is there a way to change the color of the icon other than using the `theme` property? i.e. Update the icon color by using a hexadecimal or RGBa value?

[2019-12-27 03:06] macandcheese commented on #276
Hi @rslibed - Adding a custom class and associated style should work:

`<calcite-icon class="my-icon-color-class" icon="arrowBoldLeft"></calcite-icon>`

[code]

We can do a better job of documenting that - and are open to suggestions if you have a more elegant solution in mind!

[2019-12-27 16:42] rslibed commented on #276
Ah yes that works. I was previously using SVGs instead of the `calcite-icon` component. And I was updating the color of the SVG with the css fill property so I was assuming that the fill property had to be used with the `calcite-icon` component. Closing the issue.

[2019-12-27 16:42] #276 closed

[2019-12-27 16:54] macandcheese commented on #276
Yeah the svg here is rendered as a child element with 'fill : currentColor' that inherits from the styles set on the parent 'calcite-icon' - as you mentioned, that's a little unexpected so I added a quick doc in a PR for others who run into this. Thanks!

[2019-12-30 17:47] paulcpederson commented on #174
@pr3tori4n behavior looks correct. We should work with @bstifle once this goes in to get the design matching the spec, though, I see a couple things that are off (hover states, etc) that will be quick things to address. I've put up static sites at temporary urls for design review before, and that seems to work fairly well.

[2019-12-30 22:24] pr3tori4n commented on #174
@bstifle http://localhost:3333/demos/calcite-pagination.html

This is my local dev server. It may come up or down depending on what i'm doing so hit me up if you can't get to this.

[2019-12-30 22:26] julio8a commented on #174
@pr3tori4n, I think you need to replace `localhost` with your computer name or Esri internal IP address

[2019-12-30 22:29] pr3tori4n commented on #174
whoops. Fixed :).

[2019-12-31 17:56] julio8a opened #278 "Component: Loader - swap square for circle"
Related to #173, but this should be done first and a higher priority.

[2019-12-31 21:45] driskull commented on #61
We have a need for this component as well with a few modifications:

## Modifications

- The select option should have a slot to take custom content on the leading and trailing side.
  - This will allow for a thumbnail or control on either side of the option.
- The select box on the dark theme should be dark as well as the dropdown
- The `selected` visual state could be defined by a background col

[2019-12-31 22:02] driskull commented on #61
I think we could have the `permanently open` as its own component that this one uses internally.

[2019-12-31 22:09] driskull commented on #61
## Proposed API

[code]

[2020-01-02 18:46] kumarGayu commented on #188
Added the correction. and is available with latest release.

[2020-01-02 18:50] AdelheidF commented on #188
Is it part of 1.0.0-beta.16? This seems to be the latest release.

[2020-01-07 18:24] rslibed opened #283 "Additional checkbox rendering in Webpack app"
Additional checkbox rendering in Webpack app when using either `calcite-switch` or `calcite-checkbox`.

<img width="205" alt="Screen Shot 2020-01-07 at 9 59 52 AM" src="https://user-images.githubusercontent.com/29421380/71918692-a803b900-3137-11ea-8072-c360841a692f.png">

cc: @macandcheese

[2020-01-07 19:23] macandcheese commented on #283
I believe these components were built to support users placing their own inputs inside the component, right @patrickarlt ?

Stencil now has an "unreleased" library that generates bindings for angular and react, perhaps that would allow us to strip out all the proxy input logic that causes this?

I think we could probably find a more short term fix to hide the duplicate checkbox with css in the mea

[2020-01-08 20:12] kumarGayu commented on #243
@julio8a do you have any comments on UX? and I feel only the first image component should go in calcite-components. also, if you agree, then can you and mike discuss on what should edit-custom should look like?

[2020-01-08 20:51] julio8a commented on #243
@macandcheese, would this be part of the `select` component?

[2020-01-08 21:22] asangma commented on #61
dzine
![image](https://user-images.githubusercontent.com/12503298/72017083-d78af200-3219-11ea-9418-ce41ce33886e.png)

[2020-01-08 21:57] asangma commented on #61
Should we leave the "summary" portion out for now? I see it in both the examples that @janett-baresel included in https://github.com/Esri/calcite-app-components/issues/383.

[2020-01-09 00:34] macandcheese commented on #243
I think this can be handled with some combination of the upcoming input / label / select components.

We haven't chatted about where a "normal" native select fits in, which is what it looks like the above screenshots would require... I think we should handle both a "normal" select that can utilize native spinners as well as our more complex "super select".

Maybe we need a "Calcite-select" and  se

[2020-01-09 00:47] macandcheese commented on #249
Thanks for setting this up @julio8a !

[2020-01-09 00:47] #249 closed

[2020-01-09 00:48] macandcheese commented on #230
@asangma can you give feedback on the currently open PR? Thanks!

[2020-01-09 15:17] subgan82 commented on #243
@macandcheese that sounds good,Can we able to do one unified component something like this

[code]

[2020-01-09 17:51] asangma commented on #61
Thanks for updating the api @driskull.

**re: chips**
Per recent discussion in the sync meeting, we thought it would be good to separate out the chips requirement. It could be its own component that interacts with this select component or something else. @macandcheese cool cool?

[2020-01-09 18:08] macandcheese commented on #61
Yes, agreed! in fact they already have an open issue :) - https://github.com/Esri/calcite-components/issues/47.

Lots of use cases for chips to exist on their own - in tandem with tree nav selected items, marketplace type filtering experiences, "user tags with avatars", etc. Should support icon, image, "click to close", etc.,

This component would just leverage those I think.

[2020-01-09 18:15] macandcheese commented on #243
I think that makes sense, there's a proposed API for that component here: https://github.com/Esri/calcite-components/issues/61 - feel free to leave feedback there!

[2020-01-09 18:25] dhrumil83 opened #284 "calcite-button: If icon is present, text in the button is now right justified instead of centered"
Was working fine with v1.0.0-beta.15. Broke with v1.0.0-beta.16

With icon:
`<calcite-button
        appearance="transparent"
        icon={plus32}
        scale="m"
        width="full"

        "Add Content"
      </calcite-button>`

![image](https://user-images.githubusercontent.com/14285436/72093938-31e38b80-32ca-11ea-9ca5-2c52e7af3368.png)

Without icon:
`<calcite-button
        appearance="t

[2020-01-09 18:50] subgan82 commented on #243
Thanks @macandcheese The proposed API looks good

[2020-01-09 19:18] macandcheese commented on #284
Should be fixed by https://github.com/Esri/calcite-components/pull/285

[2020-01-09 23:07] pr3tori4n opened #286 "bug: calcite-icon a11y tests are failing"
![image](https://user-images.githubusercontent.com/12614215/72112125-8a7a4f00-32f1-11ea-95ba-ccb740c75109.png)

Adding the a11y test helpers while working on pagination component. Found an error in the calcite-icon.

`role='img'` needs alt text apparently. Should this be hardcoded to match the icon name or should this be a prop?

[2020-01-10 08:11] janett-baresel commented on #61
@asangma if we get some text and thumbnail, it would already be good. We can see how we can extend the summary part inside SV if its out of scope for you right now.

[2020-01-10 15:54] macandcheese commented on #61
What is "summary"? Maybe I'm missing it above in mockup.

Sounds like we need a "selected-appearance-type" attribute to allow selection between dot, check, border, or outline (probably something useful for other components too like dropdown and tree nav that have a selected state, down the road), in a standardized way across components.

[2020-01-10 15:57] driskull commented on #61
I think a slot would be better so we can handle the color ramp use case.

[2020-01-10 16:01] macandcheese commented on #61
Would that be handled by slot for thumbnail?

Or does the selected outline ring change based on color ramp?

I just meant being able to choose the manner in which a selected item is highlighted. Could be a "none" option for those that want greater customization but I think we want to give folks matching styles to the other "selected items" in components if they don't need that.

[2020-01-10 16:07] #284 closed

[2020-01-10 16:14] macandcheese commented on #61
Couple more gotchas:

Looks like we'll need options to,

"remove from list when selected" - once an item becomes an appended chip, remove it from the filterable list of choices, and,

"create chip from string" - and then emit that in an event for an app to use.

Based on our wonderfully consistent tags and category options currently on the Content page in Online:

<img width="388" alt="Screen Shot

[2020-01-10 19:53] macandcheese commented on #20
@asangma did you all have any thoughts here?

[2020-01-11 00:07] patrickarlt commented on #61
Requirements from the Developers site tags component

* Generally follow the WCAG guidelines for [combobox](https://www.w3.org/TR/wai-aria-practices-1.1/#combobox)
* Display of the component should be a text box with chips for the selected items.
* Chips display a "X" icon to deselect the item represented by that chip.
* A list of available options should appear when the input is focused.
* Keyboa

[2020-01-13 17:38] macandcheese commented on #61
"Single lookup" here seems useful, this differentiation and nomenclature makes sense to me if we want something better than "super select"

https://uniform.hudl.com/components/selects/design

[2020-01-13 18:09] pr3tori4n commented on #174
@julio8a What's the process for moving an issue forward after its been merged. Do you have a verification process?

[2020-01-13 18:14] pr3tori4n commented on #61
We spoke briefly at the end of the meeting about the name of this component. Super select may not be the best descriptor. What about `calcite-combobox` or perhaps `calcite-tag-manager`? Any ideas?

[2020-01-13 18:19] macandcheese commented on #61
Of the above, I prefer combobox or "lookup" from above linked example. Tag manager sounds perhaps too specific to a workflow.

[2020-01-13 18:24] julio8a commented on #174
Once we merge the PR handles quite a bit of review. If it needs any more work we'll create new issues. Closing this guy!

[2020-01-13 18:24] #174 closed

[2020-01-13 19:04] jcfranco commented on #286
The Ionic icon component has a prop and falls back to the icon name. I don't like the fallback option because most icon names aren't very informative. And I don't think we gain a lot from the prop (compared to setting `aria-label` or `aria-labelledby` or `title`).

I'm leaning towards treating the component as an `img` and leaving it up to the user to decide which attributes to use.

[2020-01-13 19:30] macandcheese commented on #222
Going to close this, feel free to re-open if anything needs to be changed.

[2020-01-13 19:30] #222 closed

[2020-01-13 19:31] macandcheese commented on #252
Do we still need this component? It could also probably be some shared css mixin vs. a component...

[2020-01-13 19:34] julio8a commented on #36
What's the status of this issue? can we close for now?

[2020-01-13 19:34] julio8a commented on #45
What's the status of this issue? can we close this one?

[2020-01-13 19:40] julio8a commented on #82
What's the status of this issue? can we close or does it still need work?

[2020-01-13 19:40] #129 closed

[2020-01-13 19:41] julio8a commented on #188
Closing this out. re-open if needed.

[2020-01-13 19:50] AdelheidF commented on #188
Did someone verify it?

[2020-01-13 21:12] TheBlueDog opened #289 "Use up/down chevrons in accordions"
The use or left/right pointing chevron icons can be confusing when used in accordions. It can be unclear that the icon would point opposite directions to mean the same action, depending on which side of an accordion header its place. Left/right navigation is also used when navigating sliding panels.

The request is to change the accordion design to use up/down chevrons to separate it from panel na

[2020-01-13 21:25] macandcheese commented on #289
@asangma @mitc7862

currently Online uses a right-facing arrow to the left of the title, would the above be acceptable for your use cases?

[2020-01-14 16:43] driskull commented on #61
You're right. that sounds good.

[2020-01-14 16:56] driskull commented on #61
Why not just call it a `calcite-select` which is an enhanced selection component that does more than a native select element?

[2020-01-14 17:25] kumarGayu opened #290 "Calcite-popover: Event call back on close of a popover."
Component should have `onClose`  event for consuming app to have the latest state of the component.

[2020-01-14 19:30] jwasilgeo commented on #263
Another example: https://observablehq.com/@mootari/range-slider

[2020-01-14 20:36] pr3tori4n commented on #61
@patrickarlt @macandcheese @asangma I wanted to bring up a thought I had on the API in regards to implementing the list values. I think the assumption up until now has been that it would be done via slotted content. We could go that route, but I wanted to bring up the option of having the data supplied as rich data (an array of objects). The combobox could then render the list internally in its ow

[2020-01-14 21:08] driskull commented on #61
I think this would be inconsistent with the way other components work. If we can do it using child components that would be ideal.

[2020-01-14 21:51] driskull commented on #290
Installed

[2020-01-15 01:23] macandcheese commented on #55
@evanmosby @ehusaint did you all have any other requirements for this component?

[2020-01-15 01:47] evanmosby commented on #55
I think you have all the bases covered by what's been written above.
Perhaps consider optionally decoupling the stepper and content, allowing the stepper to be controlled independently. I'm thinking the Monitor post install we're working on, as an example, where the content might be positioned away from the stepper itself:

![abc123](https://user-images.githubusercontent.com/28676725/72397424-ba13

[2020-01-15 17:04] ehusaint commented on #55
Adam - Where are the requirements for stepper? Can I get a link to read
through those?

On Tue, Jan 14, 2020 at 5:47 PM Evan Mosby <notifications@github.com> wrote:

--
Abde Syedna (TUS)
Husain Tapiya

"Dream as if you'll live forever, Live as if you'll die today"

[2020-01-15 17:27] macandcheese commented on #55
There aren't reqs / specs from a product driver, but it will generally follow the current stepper design used in the Invite Members workflow in Online, with a lot of additions and added functionality such as what is listed above.

I'll open a draft PR for API feedback after it gets built out a bit!

[2020-01-15 17:52] rslibed commented on #283
Any updates on this issue? @macandcheese @patrickarlt

[2020-01-15 17:57] macandcheese commented on #283
Related: https://github.com/Esri/calcite-components/issues/234

@patrickarlt have you been able to experiment with https://github.com/ionic-team/stencil-ds-plugins for Angular? That would allow us to strip out all the "proxy input" stuff that (I believe) causes these, and simplify the switch, checkbox components a bit to prevent this.

@rslibed not a great solution but as a stopgap can you set `di

[2020-01-15 18:27] rslibed commented on #283
Sure, that can work for now. Thanks

[2020-01-15 19:46] subgan82 commented on #61
One requirement we have for `Calcite-Select` is to show Field Type as in this example

![Screen Shot 2020-01-15 at 1 45 18 PM](https://user-images.githubusercontent.com/1017712/72465768-5d201c00-379d-11ea-8eaf-08f65ed29142.png)

[2020-01-15 22:05] pr3tori4n commented on #61
@patrickarlt keyboard stepping works with tab and shift-tab at the moment. Is it necessary for the arrow keys to mimic that behavior as well?

[2020-01-15 22:22] driskull commented on #61
I think so. Its a requirement of the listbox role which is what we're pretty much going for.

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/listbox_role

[2020-01-15 22:30] driskull commented on #61
Can we call this component `calcite-select` or `calcite-listbox`?

[2020-01-16 17:30] driskull commented on #61
It seems like we have two components that we're discussing here:

1. An autocomplete/combobox component which main use cases are for selecting tags or values from data by typing and showing an autocomplete menu below.
2. An enhanced Select component with the ability to display custom HTML in the menu and options. as well as nesting indentation. Would also handle multiple selection as well. Potenti

[2020-01-16 22:43] asangma commented on #61
I agree with @driskull and think we should separate this out into two issues and close this one. I think it's causing some cunfuzedness.

[2020-01-16 22:52] macandcheese commented on #61
I think that's fine, so long as "#1" also supports nested items and their selection. I'd suggest also having a "native select" option with a custom styled input and natively rendered <options> (https://www.carbondesignsystem.com/components/select/code/)

[2020-01-16 22:55] driskull commented on #61
That might be a 3rd component then. Because it wouldn't be able to do the nesting or custom HTML if the native select is used as the menu.

[2020-01-16 23:05] macandcheese commented on #61
Maybe I'm being dense here... What's the difference between the "1" and "2" options above? One has option items that are limited to plain text, and the other allows custom html in option items? And both can have nested children, where a parent item can either select itself and all children or be selected independently?

[2020-01-16 23:11] macandcheese commented on #61
Is this correct?
`<calcite-select>` (populates input with a single selected plain text item - renders native option elements, no nesting)
`<calcite-multi-select>/<calcite-lookup>` (uses chips to indicate selection of one or multiple plain text items - renders custom slots of plain text, can be nested)
`<calcite-something>` - allows for custom HTML for each option - single item selectable

[2020-01-16 23:34] driskull commented on #61
I think its more like this:

`<calcite-select>` (populates input with a single selected plain text item - renders native option elements, no nesting)
`<calcite-combobox/calcite-autocomplete>` (uses chips to indicate selection of one or multiple plain text items - renders custom slots of plain text, can be nested)
`<calcite-custom-select>` - allows for custom HTML for each option - single item sele

[2020-01-16 23:46] driskull commented on #61
@asangma could something like this:

![image](https://user-images.githubusercontent.com/1231455/72572063-44376980-3876-11ea-9112-73a250880666.png)

replace this:

![image](https://user-images.githubusercontent.com/1231455/72572083-53b6b280-3876-11ea-891d-ec3624015296.png)

Both do multiple select in two different UIs and I'm not sure if that is justified.

https://jedwatson.github.io/react-select/

[2020-01-17 00:42] bstifle commented on #20
![Focus States Light Simple](https://user-images.githubusercontent.com/14083530/72574628-85cc1280-387e-11ea-9185-2b6b41605d7f.png)
![Examples Light](https://user-images.githubusercontent.com/14083530/72574631-8795d600-387e-11ea-9640-79738e019f0a.png)
![Examples Dark](https://user-images.githubusercontent.com/14083530/72574632-8795d600-387e-11ea-89f4-983299982494.png)

@asangma @julio8a @paulcpeder

[2020-01-17 00:47] bstifle commented on #20
There's 3 main things we are trying to solve with this design, weighted by importance:

1. Consistency across Esri properties and components
2. Noticeable, meaningful, and WCAG-able—While not being overly clunky and distracting.
3. Scalability and ease of use for current and future designs

[2020-01-17 00:51] driskull commented on #20
Looks good!

[2020-01-17 01:00] asangma commented on #20
Nice!
![slicer](https://user-images.githubusercontent.com/12503298/72575578-beb9b680-3881-11ea-80c8-923647c653f0.gif)

[2020-01-17 06:53] evanmosby commented on #58
One additional thought would be to consider a slot for range shortcuts? For instance, select yesterday, last week, month etc. A simple example: [Link](https://mengxiong10.github.io/vue2-datepicker/index.html#Shortcut
)
Monitor's got a bunch of date range selections - we're super interested in this. Looking epic!

[2020-01-17 19:00] macandcheese opened #297 "Update calcite-button to use calcite-icon"
We should update the button component to use the new `calcite-icon` component, and change the icon prop to only accept a valid "icon name string", and then control the scale of the rendered icon based on the scale of the button.

The icon and illustration team has a large update planned that removes the need for the "filled" option, so once they make their changes we can go ahead and make this upd

[2020-01-17 19:17] macandcheese commented on #243
Can this be closed? @subgan82 want to add any needed requirements to that issue?

[2020-01-17 22:14] kumarGayu commented on #243
@macandcheese don't you think this component is needed in calcite-components? user or consumer should do this by themselves in the consuming app using all those calcite-components?

[2020-01-17 22:19] subgan82 commented on #243
@macandcheese Initial the plan was to build the DateFormat Picker in Calcite components but if it is more App level we can implement it in `arcgis-app-components`, we  plan to develop this component in this sprint cycle for charts project. Ops-dashboard, Popup UX also needed this component.

Will calcite-select and other form based inputs be available sooner, any time line for this ?

[2020-01-17 22:29] macandcheese commented on #243
I do think it's a better candidate for app-components, whether that's arcgis-app-components or the map maker. There is an input component PR currently open and the "select" component discussion is open here - https://github.com/Esri/calcite-components/issues/61

Either way those would need to be built before this one 😄.

[2020-01-17 22:32] subgan82 commented on #243
Thanks. we will discuss with the teams that need this component where we can build it most likely it will be [here](https://devtopia.esri.com/WebGIS/arcgis-app-components)

[2020-01-21 22:14] AdelheidF opened #299 "calcite-button: icon disappears when the label has not enough space"
I'm adding 2 calcite-buttons in the smartMapping gallery.

If the panel is wide enough I get this
![image](https://user-images.githubusercontent.com/44481292/72846775-19725a00-3c56-11ea-9e0f-fdf4fbdb3079.png)

If the panel is smaller (on a smaller screen) I get this
![image](https://user-images.githubusercontent.com/44481292/72848177-e1b8e180-3c58-11ea-96f8-2d1a120ef7f3.png)
and eventually this (S

[2020-01-21 22:33] macandcheese commented on #299
Thanks for reporting - I'll add some fallbacks to vertically align side-by-side button text and maintain the size of the icon - eventually the icon will get a bit of a refactor to use the new `calcite-icon` component that should help as well: https://github.com/Esri/calcite-components/issues/297

[2020-01-22 16:37] CodeBarker commented on #284
@macandcheese  any idea when the next release is ?

[2020-01-22 16:47] macandcheese commented on #284
Will put one out today 🤙

[2020-01-22 19:20] #290 closed

[2020-01-22 19:36] macandcheese commented on #284
@CodeBarker released!

[2020-01-22 19:37] #299 closed

[2020-01-22 19:44] macandcheese opened #301 "New component: Calcite-avatar"
We should standardize the use and design of avatars across our apps and products. Hopefully this can provide multiple scale options, a consistent fallback "no photo" icon, "Initials with BG color" as an option, "avatar stack", etc.

https://uniform.hudl.com/components/avatars/user/design#Style

[2020-01-22 23:25] macandcheese commented on #196
Closing this as it'll be addressed in https://github.com/Esri/calcite-components/pull/248

[2020-01-22 23:25] #196 closed

[2020-01-23 00:37] julio8a opened #302 "Component: Native Select"
Style the closed state of the native select. Has the added benefit of spinner UI for mobile.
Don't need to style the expanded list.

[2020-01-23 00:46] bstifle commented on #20
moving this convo over at calcite-base https://github.com/Esri/calcite-base/issues/19

[2020-01-23 00:46] #20 closed

[2020-01-23 00:55] julio8a commented on #61
* Phase 1 for this component: just a text list with multiple selection. Can have hierarchy with parent/children. Includes chips #47
* Phase 2: Allow a slot for leading or trailing graphics.

[2020-01-23 18:04] julio8a commented on #302
Assigning to @macandcheese since this will just take the styles from inputs/forms.

[2020-01-23 23:12] macandcheese commented on #263
An example of this in the new Map Viewer Beta (cursor becomes `ew-resize`, I believe):

<img width="294" alt="Screen Shot 2020-01-23 at 3 09 12 PM" src="https://user-images.githubusercontent.com/4733155/73031938-6c811400-3df2-11ea-821c-af4cb0f124f0.png">

[2020-01-23 23:13] macandcheese opened #304 "Slider enhancement: Explicit value entry"
It'd be nice to include the ability to enter a value as part of this component, it's something that causes apps to need to build their own interpretations...

Example from MVB cc @asangma :

<img width="294" alt="Screen Shot 2020-01-23 at 3 08 46 PM" src="https://user-images.githubusercontent.com/4733155/73032088-e0232100-3df2-11ea-8d79-b1270224a27a.png">
<img width="294" alt="Screen Shot 2020-01-

[2020-01-23 23:53] macandcheese commented on #58
Agree @evanmosby I'd say that's almost expected behavior for many use cases.

[2020-01-24 18:25] noahmulfinger opened #305 "Calcite Tree Item: Every item has a large inline style tag"
If you inspect the shadow root for `calcite-tree-item` in the demo (https://esri.github.io/calcite-components/?path=/story/tree--simple), you'll see that every `calcite-tree-item` has a `<style>` tag with a lot of css. I'm not super familiar with shadow DOM and web components, but that seems like it adds a lot of duplication and increases the size of the DOM significantly.

Considering that `calci

[2020-01-24 18:30] julio8a commented on #305
@patrickarlt, assigning to you since you built calcite-tree.

[2020-01-27 20:21] AdelheidF commented on #188
Not working. Using 1.0.0-beta.17.

![image](https://user-images.githubusercontent.com/44481292/73210357-f38a0100-40fe-11ea-9fb4-79d334605151.png)

Would it be possible that someone other than me could verify this, because I have to wait for another release to test it again.

[2020-01-27 20:32] macandcheese commented on #188
@AdelheidF - is this happening exclusively with Maquette? If the original issue with Maquette throwing errors was resolved, and this is separate issue about incorrect display of dates in narrow containers, can we open as a separate issue?

Just want to make sure @kumarGayu or whoever picks it up knows what the current issue is. Thanks!

[2020-01-27 20:34] AdelheidF opened #307 "Enhancement: calcite-date-picker - easy way to change year"
If you start e.g. with a date like this:

![image](https://user-images.githubusercontent.com/44481292/73210832-ecafbe00-40ff-11ea-9dd9-1250229c1106.png)

And you want to change the year to 1900, there is no easy way to do this.

I can click on this arrow button through 100 years and 12 months until I reach 1900.
![image](https://user-images.githubusercontent.com/44481292/73211268-c4748f00-4100-11e

[2020-01-27 20:44] AdelheidF opened #308 "Bug: calcite-date-picker not displaying days in correct columns"
The date numbers don't align with the days of the week if I make it fit in the panel with `width: 100%;`.
Would be nice if there was an option to have a smaller version with less padding around the numbers.

I'm using calcite-shell and calcite-shell-panel on a Surface like screen. It handles the min width of the panel.

![image](https://user-images.githubusercontent.com/44481292/73212225-a019b200-

[2020-01-27 20:44] AdelheidF commented on #188
new issue: https://github.com/Esri/calcite-components/issues/308

[2020-01-27 20:46] macandcheese commented on #188
Thanks @AdelheidF ! Closing this one.

[2020-01-27 20:46] #188 closed

[2020-01-27 20:47] macandcheese commented on #307
@kumarGayu - I think the input used be of `type="date"` right?

[2020-01-27 21:30] bstifle opened #309 "Button Clear and Button Transparent style fixes"
### Button Clear and Button Transparent style fixes

**For light theme:**

1. Clear Light, Outline Light: change hover and press states to ui-foreground-press (#eaeaea)

**For dark theme:**

1. Change all Outline buttons to use ui-foreground-dark (instead of ui-background-dark)

2. Change border color on Outline Dark and Clear Dark to use ui-foreground-hover-dark  (#353535) _IDLE STATE only_

3. C

[2020-01-27 21:35] macandcheese commented on #309
Sounds good...

@julio8a - should we update the nomenclature in https://github.com/Esri/calcite-colors/blob/master/colors.scss to just use incrementing numbers instead of hover / press? It seems like we are no longer using those 1:1, and it's getting a bit confusing to use variables that don't match their meaning. Seems like we could extent the "-border" range to 4,5 to replace hover/press for tha

[2020-01-27 21:47] julio8a commented on #309
Yeah, It'll make the 3 colors states (idle, hover, press) more flexible.

[2020-01-27 22:17] kumarGayu commented on #64
@julio8a is this need to have a transperancy?

[2020-01-27 22:19] julio8a commented on #64
Yes, from one of the requirements from the Operations Dashboard, we did need RGBA.

[2020-01-27 22:21] kumarGayu commented on #64
@julio8a yes we were also thinking to have the opacity. However, I could not see that in the design. will there be any new design?

[2020-01-27 22:23] julio8a commented on #64
I'll work with @jcfranco on it. There shouldn't be any drastic changes. I will post here if they are significant.

[2020-01-27 22:23] jcfranco commented on #64
@julio8a I was under the impression that the component should be able to parse CSS colors with alpha, but not allow users to update it (based on the design).

[2020-01-27 22:38] macandcheese commented on #64
I think another tab next to "hsb / rgb" with rgba and then a 4th "alpha" field could work.
If it needed to be more apparent - a mutually exclusive slider / input combination could provide that functionality for hsb / rgb.

[2020-01-27 22:48] jcfranco commented on #64
I really like how https://github.com/Simonwep/pickr handles this. Among other things, it supports multiple modes and has an opacity slider (all configurable).

[2020-01-27 22:56] macandcheese commented on #64
I like that with the feedback: it'd be nice if there were individual fields for each RGBA/HSVA value. I could see that their implementation is easier for pasting in, but seems weird to make a user worry about formatting commas, %, parens, etc.

[2020-01-27 23:11] bstifle commented on #64
![image](https://user-images.githubusercontent.com/14083530/73222090-41126800-4117-11ea-9915-1ecacca26c53.png)

here's a design layout for opacity on the large and small pickers

[2020-01-27 23:23] macandcheese commented on #64
Feedback on above:

I think the "opacity" slider should (IMO) always be visible, if requested by a user via configuration because it can be used in combination with HSB / RGB, so weird to have it on a "sibling" tab.

The "tab list" should (IMO) support any combinations of "HSB / RGB / RGBA / HSLA", and if the latter two are selected, display 4 input fields for each value.

[2020-01-27 23:53] bstifle commented on #64
![image](https://user-images.githubusercontent.com/14083530/73224050-1e834d80-411d-11ea-8045-ded24248ffb9.png)

[2020-01-28 00:10] jcfranco commented on #64
@julio8a BTW, the eye dropper won't be possible to implement due to security restrictions.

[2020-01-28 00:46] bstifle commented on #64
whoa really?! @jcfranco

[2020-01-28 00:47] bstifle commented on #64
Also @jcfranco what is your avatar? asking for a friend.

[2020-01-28 01:33] jcfranco commented on #64
I'm afraid so. We can only sample pixels from a canvas we draw to.

It's an illustration I saw on Twitter a looooong time ago. I set it as my avatar because it reminded me of one my puppers. I truly wish I had the source.

[2020-01-28 01:40] bstifle commented on #64
sounds good. thanks man.

[2020-01-28 18:27] AdelheidF commented on #299
Looks good now. Thanks.

![image](https://user-images.githubusercontent.com/44481292/73293441-c1d57080-41b8-11ea-84fb-e42e1b97fac3.png)

![image](https://user-images.githubusercontent.com/44481292/73293345-918dd200-41b8-11ea-939f-5448f851563f.png)

![image](https://user-images.githubusercontent.com/44481292/73293376-a5d1cf00-41b8-11ea-8fc1-9feb0ecedae0.png)

[2020-01-29 04:39] oknoway opened #310 "Discussion: Use specific named vars for tree functionality"
I'd like to propose undoing cd61aa071e3fb2014791015d7a6c37a0cddeb4f0

The new Developers site had been using the old vars (specifically `-calcite-tree-indicator-active` and `--calcite-tree-line-active` to style specific parts of the tree. We'd really like that option back.

Re: #298

[2020-01-29 07:52] macandcheese commented on #310
Cc @julio8a for now can you revert the advice? Thanks... Moving forward in general we need a better story for overriding spot colors.

[2020-01-29 17:21] julio8a commented on #310
I can add those CSS vars back and just have the value be `--calcite-ui-blue` does that work for you @oknoway?

[2020-01-29 18:55] oknoway commented on #310
@julio8a That would be perfect. 👏

We're not currently changing `--calcite-tree-chevron-active`…

[2020-01-29 19:17] mitc7862 commented on #64
For Map Viewer beta, we need a simplified color picker for some workflows. I think it would be nice if the individual piece could be toggles on/off and rearranged. That way we can show it like a dropdown like so.

![image](https://user-images.githubusercontent.com/12564905/73389139-65da1d00-4288-11ea-956e-858348194e50.png)

we should also vet this design with Jennifer Bell from Esri's content team

[2020-01-29 21:30] bstifle commented on #64
-

1.

- [ ]

[2020-01-29 23:47] kat10140 commented on #252
@macandcheese I started on it, but don't have to finish it. We can talk about it in the meeting tomorrow

[2020-01-30 02:12] bstifle commented on #64
here are the latest designs

![image](https://user-images.githubusercontent.com/14083530/73414178-db62df00-42c2-11ea-96e2-b73c9a01695f.png)

[2020-01-30 02:14] bstifle commented on #64
@jcfranco

are you building the component in a way that can handle rearrangements like this?:

![image](https://user-images.githubusercontent.com/14083530/73414260-1e24b700-42c3-11ea-9472-35ca353d0a95.png)

[2020-01-30 19:11] jcfranco commented on #64
Just synced up w/ @julio8a: For the first iteration, the color picker will follow the designs that @bstifle [shared](https://github.com/Esri/calcite-components/issues/64#issuecomment-580052328) (sans opacity/alpha; that'll come later).

This will probably be an update to the component after the first iteration.

@julio8a @mitc7862 @bstifle WRT saved colors:

1. Should the amount of numbers be capp

[2020-01-30 19:40] macandcheese commented on #64
For saved colors.. IMO seems like we need two modes:

One is "non editable" in that a user can't add or remove them (use case - "recommended colors bases on your theme", like Story maps, or, "recently used colors", etc that an app could provide)

The other would be "editable" with some affordance to enter an "edit" mode where items can be deleted (maybe rearranged down the line as a follow up feat

[2020-01-30 19:46] bstifle commented on #64
@jcfranco

2. How would a user delete a color? Maybe CTRL+clicking (or similar) removes items?

1. yes 3
2. my thoughts would be dragging it out to delete, or no deletions. Since we have no "save" save button... i would rather just show the last x-number of colors used

[2020-01-30 22:43] rmstinson opened #313 "Component: Single & Multiple Selection Toggle Buttons"
We need multiple selection toggle buttons for behavior around font styling within calcite web, [like so.](https://material-ui.com/components/toggle-button/)

<img width="606" alt="Screen Shot 2020-01-30 at 2 03 28 PM" src="https://user-images.githubusercontent.com/12650705/73496546-ac557780-436d-11ea-97a0-bd92beb21b46.png">

[2020-01-30 22:51] macandcheese commented on #310
Resolved in https://github.com/Esri/calcite-components/pull/311

[2020-01-30 22:51] #310 closed

[2020-01-31 19:19] bpatterson88 commented on #61
Along with multiple selection, it would be nice to have aggregate selections, such as:

- Select all
- Deselect all
- Select _only_ this item

This would help support the Dashboards category filtering feature, would could use this component.

[2020-02-03 18:30] kumarGayu commented on #307
@macandcheese There was lot of features were not required and it was adding more pan for styling and it had diffrent behaviors in different browsers. o I prefered this but in this input i can put a pattern though.

[2020-02-03 23:02] jcfranco commented on #286
Installed.

[2020-02-04 17:20] jcfranco opened #887 "Tooling: Enable screenshot tests"
## Summary

Enabling screenshot tests would help catch potential visual regressions.

## Measure of Success

Test suite runs screenshot tests on all components.

### Resources

https://stenciljs.com/docs/screenshot-visual-diff

[2020-02-04 20:10] pr3tori4n commented on #286
Verified

[2020-02-04 20:10] #286 closed

[2020-02-04 21:37] bstifle commented on #47
![chips examples](https://user-images.githubusercontent.com/14083530/73789322-6aed0f80-4753-11ea-8368-25d305e9d49e.png)
![chip designs](https://user-images.githubusercontent.com/14083530/73789323-6b85a600-4753-11ea-8339-52a56d782077.png)

[2020-02-05 00:48] macandcheese opened #318 "Storybook: Add tooltip examples"
We don't currently have any examples of tooltips in the Storybook!

[2020-02-05 00:51] macandcheese commented on #313
Thanks, I wonder how much of this could be accomplished by the radio group - it's basically the "exclusive selection" from the link you provided.

Could we repurpose that to also allow multiple selections - could that potentially be confusing and we should have a distinct component?

The item on the right seems more like the "radio card" type component that had been discussed on Teams. Something w

[2020-02-05 18:05] AdelheidF opened #319 "calcite-button - don't run onclick if button is disabled"
Should be the same behavior as a native button which doesn't allow click on a disabled button.

cc @driskull

[2020-02-05 18:22] driskull commented on #319
Agreed. clicking on a native button that is disabled doesn't fire the onclick. We should probably do the same.

[2020-02-05 18:38] driskull commented on #319
@AdelheidF looking at the code, I'm not sure we can stop the clickEvent. The clickEvent is added by you and not something we control. If it were a custom event, we could control it.

@macandcheese you want to chime in?

It does seem like the "form" use case could be stopped when disabled though.

I'm also seeing that the slider could probably be prevented when disabled as well.

[2020-02-05 18:44] AdelheidF commented on #319
OK, thanks for looking into it.

[2020-02-05 19:52] macandcheese commented on #319
Yeah, we could surely figure something out to prevent disabled buttons from firing an onClick added in the DOM, although it might be a bit messy since AFAIK you can't prevent the onClick from firing if it's added in the DOM, you can only determine/alter the value of the onclick attribute, something like...

- on load, store the onclick attribute if provided
- if the button is disabled, clear the a

[2020-02-05 22:19] macandcheese opened #322 "Dropdown enhancement: ability to add icon to item"
Pretty common use case is for there to be an icon next to the item text:

![Screen Shot 2020-02-05 at 2 16 45 PM](https://user-images.githubusercontent.com/4733155/73888321-4875f780-4822-11ea-87ff-5f690bc8c5e0.png)

Currently users can add an icon in the slot but there's no way of ensuring consistent placement or scale without users needing a ton of custom CSS.

We should allow an icon={iconName}

[2020-02-05 22:33] bpatterson88 commented on #322
Dashboards uses this pattern a few times

![Screen Shot 2020-02-05 at 2 31 36 PM](https://user-images.githubusercontent.com/15875886/73889361-575da980-4824-11ea-9231-11fd8a88c5ed.png)
![Screen Shot 2020-02-05 at 2 31 49 PM](https://user-images.githubusercontent.com/15875886/73889363-59276d00-4824-11ea-9ea1-dc3ae73de56d.png)
![Screen Shot 2020-02-05 at 2 32 15 PM](https://user-images.githubusercont

[2020-02-05 22:34] macandcheese commented on #322
Based on above an "icon-position=start/end" is probably warranted as well.

[2020-02-05 22:52] driskull opened #323 "Stencil config update"
We recommend that you guys add this to your stencil config:

[code]

https://github.com/Esri/calcite-app-components/blob/master/stencil.config.ts#L63

[code]

[2020-02-06 00:28] #323 closed

[2020-02-06 04:38] macandcheese commented on #322
@bpatterson88  as a note,  for the "add something" use case where there might not be a need for an item to have an active state, you can use `selection-mode="none"` to prevent items from appearing as selected or active in a `calcite-dropdown-group` 🎈.

[2020-02-06 05:04] macandcheese commented on #61
@bpatterson88 do you have any UI examples of that? Use case makes sense and can imagine what it might look like but could be helpful to add here. Thanks

[2020-02-06 19:04] driskull opened #326 "Refactor - Consider using Popper v2 for Popover/Tooltip positioning"
Refactor - Consider using Popper v2 for Popover/Tooltip positioning

https://popper.js.org/

https://www.npmjs.com/package/@popperjs/core

---

This will likely result in breaking changes since some of the options/positioning have changed. Hopefully nothing too bad. We can probably also do away with some of the properties on the Popover/Tooltip.

[2020-02-06 21:50] macandcheese commented on #55
Proposed API
[code]
- Icons and numbers are opt-in, and can be combined.
- Layout is horizontal / vertical:
-- In horizontal, steps function as tabs with a shared content area in which requested step content is display
-- In vertical, content is contained within the step

- Either stepper orientation can be used on its own with no wrapped content, with a developer using emitted events with a detai

[2020-02-06 22:02] driskull commented on #55
The API looks good!

👍

I'm guessing this would be a aria role of list/list-item?

Suggestions:

- Maybe instead of `item-title` it could just be `heading`?
- Can the generated number be exposed as a non attribute prop so that a user could access that step number incase they want to reference it in the content?
- Should there be support for number type? Like [this](https://developer.mozilla.org/en

[2020-02-06 22:07] driskull commented on #326
cc @AdelheidF @kevindoshier

[2020-02-07 18:28] macandcheese commented on #319
Not installed after discussion: https://github.com/Esri/calcite-components/pull/320

[2020-02-07 18:28] #319 closed

[2020-02-07 18:58] kumarGayu commented on #308
@julio8a do you want to take a look at this stylling?

[2020-02-07 18:59] kumarGayu commented on #307
I will work on it this week or next week.

[2020-02-07 20:08] macandcheese commented on #55
Cool, thanks

I used `item-title` and `item-subtitle` to match Accordion Item.. we could switch to `heading` and `sub-heading`?

Yep, makes sense.

Hadn't considered that... roman numerals make sense, are there translation considerations for "a,b"

Also hadn't considered that.. what's the use case? Reverse the numbers themselves or the order of steps as well

[2020-02-07 21:15] driskull commented on #55
Yeah probably a different alphabet set.

I'm not sure, i was just thinking about the stuff you can do to a native `<ol>`

[2020-02-07 22:28] bstifle commented on #64
![image](https://user-images.githubusercontent.com/14083530/74070459-f6fe7180-49b5-11ea-862a-ed3b112f3aaf.png)

@jcfranco @macandcheese @mitc7862 @julio8a @asangma

design idea for + / -

Also, idea for stacking instances of "provided" vs "user added" colors

[2020-02-07 22:32] jcfranco commented on #64
Nice!

In your proposed design for the +/-, does it require changing the color to delete it? If so, this may cause unintentional changes.

[2020-02-07 22:40] macandcheese commented on #64
How are these swatch lists created? I was under the impression it'd be up to the app to pass an array of color values that render as swatches, with a title="" attribute, and an attribute for "is-editable".

Assuming the "plus minus" example is the "is-editable" version, coupla q's

- Would "-" be disabled until a swatch is selected to remove?
- Is there a confirmation or "undo" affordance for remo

[2020-02-07 23:22] bstifle commented on #64
yeah + should only be there if there is an RGB or hex module associated.

if no association to add colors, then only have -  (if editable prop)

I agree - should appear disabled until a color in that menu is selected.

[2020-02-07 23:54] jcfranco commented on #64
The component will support an array of color values.

I have saving colors working, but will wait for the final remove color design before adding it. Colors will not be rearrangeable (at least for the first release). When no `storage-id` is provided, users will have full control of these colors; otherwise, it's controlled by the component.

This would be a new requirement since it's not part of th

[2020-02-07 23:58] macandcheese commented on #64
@jcfranco Cool - yes agree on "recent colors" - apps should be able to provide those updates if they want to. Maybe in the future component can handle it but, not for now for sure.

[2020-02-08 00:51] #206 closed

[2020-02-08 00:53] bstifle commented on #64
![Example Dark wide](https://user-images.githubusercontent.com/14083530/74075985-46e73380-49ca-11ea-895a-9562e91f3900.png)
![Example Light wide](https://user-images.githubusercontent.com/14083530/74075987-48b0f700-49ca-11ea-94ef-a07744a3a096.png)

@jcfranco  here are the latest. hopefully this doesn't screw things up too bad

also realized how i forgot to include hover states for the color swatche

[2020-02-08 03:54] ajturner commented on #107
We're exploring calcite components for some uses in Hub. I ran into missing `<input/>` right away. While it's great Calcite has a lot of more advanced components like range sliders - there is a fundamental need for the basics for devs to start using. Inputs, Text, Lists, etc.

[2020-02-08 18:32] macandcheese commented on #107
Hi @ajturner - there's currently an open draft PR for input, needs a little more work but should be ready to go soon. Feel free to check it out and provide feedback on design or functionality: https://github.com/Esri/calcite-components/pull/248

Re: lists and text - could you expand on that a little? We know there's a need for layout / text rhythm helpers for more editorial type of content but hav

[2020-02-09 03:42] macandcheese opened #329 "Fix style inconsistencies for alert, notice, and accordion in RTL"
Certain configurations of Alert, Notice, and Accordion components are inconsistently styled between LTR / RTL.

**Alerts:**
The spacing between icon, content, and alert edge is not consistent. Update RTL to match LTR.

![alert](https://user-images.githubusercontent.com/4733155/74095709-6a34e000-4aa9-11ea-87e2-66109c83f957.png)

**Notice:**
When icon is `false`, there is no horizontal padding preve

[2020-02-09 19:28] macandcheese opened #330 "Nested Calcite Accordions incorrectly toggle parent"
Currently, nesting 'calcite-accordion' components as children of other 'calcite-accordion' components doesn't work as expected.

Any click events on the nested component close the top level parent, instead of toggling the active state of their own items.

Add a check to ensure the target 'calcite-accordion' only toggles items within itself, not the parent.

[2020-02-09 21:30] evanmosby commented on #55
Looks great! Really like the state combinations and how they affect the nav.

Attributes will work very well - it would be fairly trivial to write controller methods that govern those attributes within a framework like Angular or Vue, if the workflow is more complicated. I also like the methods  to advance the stepper, though attributes offer much more flexibility. An alternative to that might be

[2020-02-09 22:19] macandcheese commented on #55
Great, thanks for feedback.

I failed to mention 'active' itself is also just an attribute, methods are just helpers for setting that on first / last / next / prev / goTo(#).

Adding 'active' on a stepper item will remove 'active' from all others, but leave any other attribute in tact.

Additionally, if at initial load, 'active' isn't present on any stepper items, the component will set 'active' o

[2020-02-10 19:10] macandcheese commented on #330
Well... this actually works with no problem, I thought this had been an issue but 🤷‍♂ ... Closing...

[2020-02-10 19:10] #330 closed

[2020-02-10 19:25] #329 closed

[2020-02-10 20:45] #322 closed

[2020-02-10 22:53] driskull commented on #326
Installed. @AdelheidF when would you like to begin using this? When should we have a release?

[2020-02-10 23:48] macandcheese opened #333 "New Component: Radio Cards"
Not sure if there's a better name for this, but... some kind of containers that function as radio buttons. Follow up from discussion on Teams with @TheBlueDog @rmstinson @asangma @mcox @bstifle

"Live use case":

![Screen Shot 2020-02-10 at 3 39 13 PM](https://user-images.githubusercontent.com/4733155/74200508-fc5cf580-4c1b-11ea-83ff-8c3be7137c83.png)

Pseudo design - allowing for horizontal and v

[2020-02-11 00:11] AdelheidF commented on #326
I'm fine with whenever. We keep using beta 18 for the patch this week.

[2020-02-11 00:29] bstifle commented on #333
**_Radio Tiles_**

[2020-02-11 00:49] rmstinson commented on #333
I call the ones in the Share Dialog, _**Super Radio Buttons**_.

<img width="556" alt="Screen Shot 2020-02-10 at 4 49 33 PM" src="https://user-images.githubusercontent.com/12650705/74203691-5a420b00-4c25-11ea-933a-85ce6f0051fb.png">

[2020-02-11 22:02] evanmosby commented on #55
Oh cool -thanks for the clarification. The goTo(#) will be super handy for sure.

Makes sense to me!

[2020-02-12 07:32] driskull commented on #333
@asangma this is getting pretty similar to the pick-list. Could it use this internally or something?

https://esri.github.io/calcite-app-components/?path=/story/components-calcite-pick-list--basic

[2020-02-12 07:33] driskull commented on #318
@macandcheese I added this in the recent Popper changes.

[2020-02-12 08:51] macandcheese commented on #318
@driskull Nice! Thanks. I'll close this.

[2020-02-12 08:51] #318 closed

[2020-02-12 23:09] julio8a commented on #333
new issue for this coming soon

[2020-02-12 23:09] #333 closed

[2020-02-13 05:18] driskull commented on #252
@kat10140 is there a status update?

[2020-02-14 23:41] bpatterson88 commented on #61
This is a screenshot from the upcoming 8.1 release of Dashboards. You can see the UI to select All or Clear selection in the top right.

<img width="289" alt="Screen Shot 2020-02-14 at 3 35 39 PM" src="https://user-images.githubusercontent.com/15875886/74576516-f169d400-4f3f-11ea-9cc5-bbdb25e77923.png">

The screenshot from Google Data Studio shows the "select _only_ this item" use case. A bit mor

[2020-02-19 17:44] jcfranco opened #336 "Refactor: Add Storybook utility to obtain all available calcite-icon names"
This stems from https://github.com/Esri/calcite-components/pull/334#discussion_r379153497

[2020-02-19 19:04] #297 closed

[2020-02-20 05:10] AdelheidF opened #342 "calcite-popover: need setFocus for close button"
Need setFocus method for close button.

Similar to calcite-panel.
`setFocus(focusId?: "dismiss-button") => Promise<void>`

![image](https://user-images.githubusercontent.com/44481292/74902807-0ee1d800-535c-11ea-8999-94a332a14f56.png)

[2020-02-20 17:59] driskull commented on #326
Going to close!

[2020-02-20 17:59] #326 closed

[2020-02-21 22:51] macandcheese opened #347 "Card enhancements: image aspect customization and card clickability"
Two outstanding things to figure out with the card are:
- more smartly managing aspect ratio of slotted thumbnail image
- and, providing a way for users to create a card that's entirely clickable.

The card click ability gets messy because it would mean completely restructuring the component or forcing a user to set anchor attributes on a `calcite-card`, which is weird also.

We could:
- make anot

[2020-02-21 23:12] #230 closed

[2020-02-25 19:01] mitc7862 opened #349 "Component: ComboBox input"
We need ComboBox inputs that allow users to manually type single-values (string, number, date or time) **OR** open and select from a dropdown (or date picker) to populate the input.

Example:
![image](https://user-images.githubusercontent.com/12564905/75278068-11aa5600-57be-11ea-8261-243cd4f1b918.png)

[2020-02-25 19:08] mitc7862 commented on #349
As I briefly discussed with @macandcheese, the expected behavior here wouldn't open the date picker or drop down on focus as it would in a "super select". User's who type the value manually know exactly what value they want.

[2020-02-26 19:10] macandcheese opened #351 "Calcite-icon: don't render svg container if invalid icon is requested"
Now that we are using Calcite-icon within components, we often rely on users passing in a valid Calcite UI Icon name as an attribute on the parent component. This can lead to "empty" svg containers being rendered if the string is not a valid Calcite UI name.

Rather than handle this on each consuming parent component, it would be nice to make this check on the Calcite-icon component itself. We cou

[2020-02-27 18:55] macandcheese opened #352 "Calcite-input enhancement: Better file upload UI"
Placeholder issue to improve the UI of file upload in calcite-input

[2020-02-27 21:40] asangma opened #353 "Design: Tooltip and ActionPad in a Popover look similar"
## Tooltip
![image](https://user-images.githubusercontent.com/12503298/75489067-6f79a200-5966-11ea-8eca-91c16a71aa32.png)

## ActionPad in a Popover
![image](https://user-images.githubusercontent.com/12503298/75489120-83250880-5966-11ea-922c-29c0425e97eb.png)

Is this good or bad?
Should I stay or should I go now?

cc @driskull @jcfranco @paulcpederson

[2020-02-27 21:45] driskull commented on #353
🤷‍♂

[2020-02-27 21:46] cosbyr opened #354 "calcite-alert: Automatically generate "id" attribute on creation"
Alert Queue functionality requires that each calcite-alert element has a unique "id" attribute.

Rather than requiring users to generate this id and assign it to each alert, can we have a new guid id automatically generated on creation?

FYI, @macandcheese

[2020-02-27 22:05] macandcheese commented on #354
Thanks for submitting @cosbyr - this will be a good addition. If a user doesn't provide an id themselves, we can fall back to a generated guid.

Just to confirm, you are using a custom data attribute to target an alert to open, correct? `document.querySelector('[data-custom-id=myalert]').open()`

[2020-02-27 22:19] AdelheidF commented on #342
This works well now.Thanks.

[2020-02-27 22:19] #342 closed

[2020-02-27 22:20] cosbyr commented on #354
@macandcheese, we are doing this:
[code]
we then listen to the calciteAlertClose event and remove them from the DOM when finished by using the event.target property.

[2020-02-27 22:28] macandcheese commented on #354
Gotcha - yeah that makes sense. 👍

You'd lose the ability to explicitly call `close()` on an open or queued alert as we probably won't make the GUID a public prop... currently you can call close() on an alert to close or remove it from the queue if you know its id / data-custom id... but that's kind of a weird use case anyway.

This update will make queue "just work" for your use case and it's sti

[2020-02-28 00:29] asangma commented on #353
Thanks for the discussion y'all. Closing this and applying some app level changes.

[2020-02-28 00:29] #353 closed

[2020-03-02 16:18] macandcheese commented on #349
Thinking of the best way to add this to our roster... We currently have 3 components in progress that are somewhat similar to this:

- Calcite-input
- Calcite-select
- Calcite-combobox

I think this could be possible if using the "input action" slot with a dropdown that wrapped a button, or with an instance of date picker... But that would require users to style a button with a chevron / caret the

[2020-03-03 17:43] macandcheese commented on #308
@kumarGayu I think we just need to make sure the dates shrink in an appropriate way to stay aligned with the date labels on top...

[2020-03-04 17:45] macandcheese opened #358 "Use addon-context to clean up Storybook examples"
We should look into taking advantage of "addon-context" for Storybook to help clean up our demo. We could use global configuration options like theme, and dir (and possibly scale), to reduce the number of stories we need to write for rtl, dark theme, and reduce the number of knobs per story as well.

https://www.npmjs.com/package/@storybook/addon-contexts

[2020-03-04 17:49] macandcheese opened #359 "Update attribute / prop names: size vs. scale"
We currently have both "Scale" and "Size" props - we should consolidate to use just one.

For `calcite-modal` - because the current "size" prop really just controls "width" - we could update to use "width" instead of "scale" (since, nothing is changed besides width). We use "width" in addition to "scale" in `calcite-dropdown`, so the precedent is there and that would allow us to add an additional

[2020-03-04 17:51] macandcheese commented on #36
Opened: https://github.com/Esri/calcite-components/issues/359

We still need to clarify guidelines around active/selected. I think color is good as is....

[2020-03-04 18:40] bpatterson88 commented on #61
Here is an in progress mockup for Dashboards. In most cases the dropdown input will be no wider than about 300px, so we need an additional filtering input _outside_ of the chip area. Otherwise there won't be enough space for the user to filter the list.

![Screen Shot 2020-03-04 at 10 34 23 AM](https://user-images.githubusercontent.com/15875886/75911357-4d6b9e00-5e04-11ea-8824-dd45533e4292.png)

[2020-03-05 18:38] #354 closed

[2020-03-05 18:41] macandcheese commented on #358
`addon-contexts` does not have `html` storybook support (only React, Vue, etc...), but this functionality will be added in SB6: https://github.com/storybookjs/storybook/pull/10028

Keeping this open as a to-do for when we update.

[2020-03-06 17:05] kstinson14 opened #362 "Calcite-button enhancement: change transition configuration"
Right now I'm working on making a split button/dropdown menu component, and I'd like to make it change dimensions / text on screen resize.  However, the process is a bit awkward-looking due to the `calcite-button`'s transition configuration.

![resize](https://user-images.githubusercontent.com/17748358/76105143-6611ba80-5fa2-11ea-865b-913883587e26.gif)

Currently, the button (and the button's icon

[2020-03-06 21:42] jcfranco commented on #102
Sorry for the unacceptably long delay on this. Here are my thoughts on this:

Semantic versioning should help here since it gives a clear picture about the changes coming from an updated package.

The browser should throw a [`NotSupportedError` if a duplicate custom element is registered](https://developer.mozilla.org/en-US/docs/Web/API/CustomElementRegistry/define#Exceptions), but the following p

[2020-03-06 23:18] jcfranco commented on #74
Fixed via #364.

[2020-03-06 23:18] #74 closed

[2020-03-06 23:48] macandcheese opened #366 "[IE11] Accordion - Styling is broken"
Styling is broken, seems like spacing vars aren't working and dark theme vars aren't working.

<img width="465" alt="Screen Shot 2020-03-06 at 3 35 42 PM" src="https://user-images.githubusercontent.com/4733155/76130984-8e5ce180-5fc1-11ea-9e2f-519f2720b79d.png">

[2020-03-06 23:49] macandcheese opened #367 "[IE11] Card - Styling is broken"
Stlyling is broken, seems like Flexbox properties aren't being adhered to for spacing the footer slots:

<img width="265" alt="Screen Shot 2020-03-06 at 3 36 55 PM" src="https://user-images.githubusercontent.com/4733155/76131100-09be9300-5fc2-11ea-8d6b-174345013464.png">

[2020-03-06 23:50] macandcheese opened #368 "[IE11] Date Picker - Functionality and styling are broken"
Seems like there are some issues with the Date Picker in IE11 - haven't dived in to look. Also seems like dark theme vars aren't being applied to the child components that do render:

<img width="363" alt="Screen Shot 2020-03-06 at 3 37 41 PM" src="https://user-images.githubusercontent.com/4733155/76131165-3ffc1280-5fc2-11ea-8f97-99c95d5264a3.png">

[2020-03-06 23:53] macandcheese opened #369 "[IE11] Dropdown - Styling is broken"
Styling is broken, seems like spacing vars aren't working and dark theme vars aren't working.
<img width="310" alt="Screen Shot 2020-03-06 at 3 38 23 PM" src="https://user-images.githubusercontent.com/4733155/76131260-a4b76d00-5fc2-11ea-97b7-bedb13964b84.png">
<img width="262" alt="Screen Shot 2020-03-06 at 3 38 57 PM" src="https://user-images.githubusercontent.com/4733155/76131261-a5500380-5fc2-1

[2020-03-06 23:55] macandcheese opened #370 "[IE11] Icon - Icons do not render"
<img width="415" alt="Screen Shot 2020-03-06 at 3 39 08 PM" src="https://user-images.githubusercontent.com/4733155/76131290-c6185900-5fc2-11ea-8e63-40fc6e6af724.png">
<img width="463" alt="Screen Shot 2020-03-06 at 3 55 34 PM" src="https://user-images.githubusercontent.com/4733155/76131349-f233da00-5fc2-11ea-92c7-75267f32df40.png">

[2020-03-06 23:58] macandcheese opened #371 "[IE11] Loader - Loaders don't appear, styling is broken"
Indeterminate loaders don't seem to show at all, styling on those that do doesn't really work. I know we have the open PR for a circle, @julio8a do you have any insight on if that PR is still necessary?

<img width="415" alt="Screen Shot 2020-03-06 at 3 39 35 PM" src="https://user-images.githubusercontent.com/4733155/76131357-024bb980-5fc3-11ea-9ff0-029158e36d4b.png">

[2020-03-07 00:00] macandcheese opened #372 "[IE11] Modal - Styling is broken"
Styling is broken on Modals... as bad as they look I'm pretty sure it's just a flexbox property or two that need to be adjusted:

<img width="1440" alt="Screen Shot 2020-03-06 at 3 40 09 PM" src="https://user-images.githubusercontent.com/4733155/76131486-82721f00-5fc3-11ea-97fb-83b1d893d70a.png">
<img width="884" alt="Screen Shot 2020-03-06 at 3 59 34 PM" src="https://user-images.githubusercontent

[2020-03-07 00:03] macandcheese opened #373 "[IE11] Progress - Styling is broken"
Seems like the active bars aren't showing up for determinate or indeterminate:

<img width="1440" alt="Screen Shot 2020-03-06 at 3 41 05 PM" src="https://user-images.githubusercontent.com/4733155/76131604-f7ddef80-5fc3-11ea-846d-ab31fa3e2d97.png">

[2020-03-07 00:06] macandcheese opened #374 "[IE11] Radio Group - Functionality and styling are broken"
Kind of a weird one - the "value" seems to be displayed alongside the slotted text if both are present. Additionally the dark theme vars don't seem to be working:

<img width="394" alt="Screen Shot 2020-03-06 at 3 41 36 PM" src="https://user-images.githubusercontent.com/4733155/76131657-35427d00-5fc4-11ea-8691-59383f7d0cc4.png">
. Additionally the dark theme vars don't seem to be working:

<img wi

[2020-03-07 00:08] macandcheese opened #375 "[IE11] Slider - Functionality and styling are broken"
These don't work in IE11 ☹️  - can't drag handles with mouse or move with keyboard. Styling also doesn't seem to be working for spacing the ticks but, could just be a result of something else since the rest of the styling seems ok.

<img width="394" alt="Screen Shot 2020-03-06 at 3 42 07 PM" src="https://user-images.githubusercontent.com/4733155/76131711-6e7aed00-5fc4-11ea-9960-90c15c1c4419.png">

[2020-03-07 00:10] macandcheese opened #376 "[IE11] Tree - Styling is broken"
Styling doesn't seem to work in IE11 - also chokes on a non-closed tab in the dev demo page, but when that is resolved it looks like this:

<img width="302" alt="Screen Shot 2020-03-06 at 3 43 34 PM" src="https://user-images.githubusercontent.com/4733155/76131846-fc56d800-5fc4-11ea-93d6-db4427fb9eaf.png">

[2020-03-07 00:11] macandcheese opened #377 "[IE11] Tabs - Functionality is broken"
Tab nav items do not seem to render in IE:
<img width="394" alt="Screen Shot 2020-03-06 at 3 42 36 PM" src="https://user-images.githubusercontent.com/4733155/76131896-21e3e180-5fc5-11ea-8e63-f021fff5b3ac.png">

[2020-03-07 00:19] driskull commented on #377
dis for me? or @jcfranco ?

[2020-03-07 00:45] macandcheese commented on #377
Ah thought you did this one... carry on 🚶 ...

[2020-03-07 00:46] jcfranco commented on #377
lol I didn't do this one either, but I can take it. 😄

[2020-03-07 00:48] macandcheese commented on #377
🤷‍♂🤷‍♂🤷‍♂🤷‍♂ ha, must have been @patrickarlt ?

[2020-03-08 21:41] #336 closed

[2020-03-09 16:29] julio8a commented on #371
Yes, we still need to swap it out for the circle.

[2020-03-09 16:51] paulcpederson commented on #371
Now that we are going to a circle, we can accomplish this with multiple `circle` elements that are rotated. The square version had to use the dash-offset as the animation because you can't rotate the square. But using multiple circle elements stacked on one another I think will also work in ie11 and be lighter-weight.

[2020-03-10 16:16] dhrumil83 commented on #61
use case to consider as this is being worked on:
https://devtopia.esri.com/WebGIS/arcgis-app-components/issues/54

![image](https://user-images.githubusercontent.com/14285436/76333978-abd6c780-62af-11ea-8fb2-cd42256eddbf.png)

[2020-03-11 20:44] marcysilverman opened #381 "Calcite Button doesn't take onSubmit as a function in React"
When using calcite button in react in regards to a form, onSubmit is the standard function that you pass in the form html element, however, at the moment the calcite component does not recognize onSubmit as a target value.

Discussed with @macandcheese about this.

[2020-03-12 20:31] paulcpederson commented on #305
This should be fixed on the `master` branch now. Basically we were injecting all of the `calcite-` css variables into every component. Now we are declaring them once globally, this greatly reduces the amount of css within each component.

[2020-03-12 20:31] #305 closed

[2020-03-13 18:23] macandcheese commented on #381
Buttons currently look for an "onsubmit" in the DOM and then run that function when type=submit (default)... I'm not sure if we could even look for a React "onSubmit" event in the DOM 🤷‍♂.

The workaround for React for now as @marcysilverman found was to use type=button and run the form "onSubmit" function in "onClick" on the button instead. Certainly not ideal.

[2020-03-14 00:41] rslibed opened #385 "Calcite switch: Spacebar does not trigger onchange event"
Tested keyboard accessibility in an app which uses `calcite-switch` and noticed that the spacebar does not trigger the `onchange` event.

[2020-03-14 01:56] macandcheese commented on #385
It looks like there's a handler for SPACE  / ENTER to handle this... @vcolavin any idea?

[2020-03-14 21:25] paulcpederson commented on #375
Will be in next release

[2020-03-14 21:25] #375 closed

[2020-03-16 15:38] macandcheese opened #388 "New component : calcite-link"
I'd like to break "inline" type of "Calcite-button" into its own component. It's different in style and intended use than all other appearance types and there are many cases where it'd make more sense to have a "Calcite-link" components than rely on folks setting appearance="inline" on a button, like alert / notice action links.

I'd imagine both components could retain functionality of rendering

[2020-03-16 15:41] paulcpederson commented on #388
I'm good with that. Definitely should still render as an anchor or a button, I agree.

This could be a good opportunity to standardize how we display "external" links or links that open in a new tab if that is something we want to do.

[2020-03-16 16:53] julio8a commented on #388
Awesome!

[2020-03-16 23:09] rslibed commented on #385
Sample app: https://codepen.io/rslibed/pen/JjdveWe

Steps to repro:
1. Open the console
2. Click the switch
3. Observe the message logged into the console
4. Tab into the switch
5. Press the spacebar
6. Observe that the message is not logged into the console

[2020-03-17 16:55] #173 closed

[2020-03-17 16:56] #278 closed

[2020-03-17 16:56] #371 closed

[2020-03-17 16:57] #372 closed

[2020-03-17 17:02] paulcpederson commented on #370
fixed by https://github.com/Esri/calcite-components/pull/387

[2020-03-17 17:02] #370 closed

[2020-03-17 19:15] julio8a commented on #36
Okay, closing this one out. re-open if needed.

[2020-03-17 19:15] #36 closed

[2020-03-17 19:15] julio8a commented on #45
Checking back in on this one.

[2020-03-17 20:10] jcfranco commented on #82
I think we still need to add a note about leveraging existing DOM events whenever possible and to create custom ones when we need a specialized event.

[2020-03-18 01:00] paulcpederson commented on #374
I got this pretty much figured out

[2020-03-18 01:14] #373 closed

[2020-03-18 16:17] #374 closed

[2020-03-18 17:46] dhrumil83 opened #396 "Calcite Dropdown: If dropdown has many items, it should have its own scrollbar"
codepen: https://codepen.io/dhrumil83/pen/xxGzJBm

Couple of issues:
1. Dropdown has 50 items. It ends up using the pages scrollbar to show ~20-25 items. Only way to get to the rest of them is to use the key down button on the keyboard,
Calcite-dropdown should have its own scrollbar, similar to select.

![image](https://user-images.githubusercontent.com/14285436/76990530-5335a900-6905-11ea-9b1a-3b

[2020-03-18 20:47] julio8a commented on #309
in master now. Closing.

[2020-03-18 20:47] #309 closed

[2020-03-18 23:55] driskull opened #397 "Tooltip/Popover: create tool to initialize delegated events"
Tooltip/Popover: create tool to initialize delegated events

[2020-03-19 16:42] jcfranco commented on #396
@macandcheese @paulcpederson I can take this one if you want. 😄 Any recommendations on a max-height for scrolling?

[2020-03-19 16:48] paulcpederson commented on #396
Probably best to pick something fairly large and then add media queries based on screen height. Maybe like `400px`?

[2020-03-19 16:49] macandcheese commented on #396
Thanks @jcfranco. Maybe mirror width with a height: "s/m/l/auto", and default to "auto" which doesn't have a max height? It becomes kind of arbitrary to decide on these heights. Open to anything really.

It'd be a chore to implement but it would be  nice if you could specify a number of items to display before scroll vs. a height. Maybe down the line, ha.

[2020-03-19 17:13] #376 closed

[2020-03-19 17:15] jwasilgeo opened #399 "Tabs: optional tab-nav slot position"
Enhancement request/discussion.

When using `<calcite-tabs>` it would be an added bonus to be able to specify the position of the tab-nav slot to be either above or below the series of `<calcite-tab>`s.

The visual goal could be something in this direction:

![image](https://user-images.githubusercontent.com/4933392/77094737-ebea2880-69da-11ea-87e2-476f2654c1ec.png)

As a user-developer, is this p

[2020-03-19 17:28] jwasilgeo commented on #399
For what it's worth, I spoke to soon and answered my own question:

Yes; however, the active tab accent color is below the `<calcite-tab-title>` which is totally understandable.

I'll leave it up to the maintainers if you want to close this or leave it open for discussion. Thanks!

[2020-03-19 17:37] macandcheese commented on #399
Hi @jwasilgeo - thanks for submitting. I agree, this would be a good configuration option to have - perhaps in an update combined with adding another `appearance` style as requested here - https://github.com/Esri/calcite-components/issues/186.

I'll try and take a look like this after we work through some other open new component items; PRs are always welcome too :)

[2020-03-19 21:36] jcfranco commented on #396
The dropdown already imposes a [max-height](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-dropdown/calcite-dropdown.scss#L56), so maybe we just need to enable scrolling on the wrapper?

For the second part of this issue, should we always try to focus the active item and fallback to the first one when the dropdown is opened?

[2020-03-19 22:40] macandcheese commented on #396
Re: focusing, I think right now it only focuses the first item when opened via key, and not on click...

I had initially thought about focusing the active item but decided not to - I think focusing on the active one makes sense for "single" selection mode, but it got weird for "multi" - as in what would be the best UX for "multi" selection mode (and then for "none" just focusing the first one)

Op

[2020-03-19 22:48] macandcheese commented on #396
I suppose for "multi" we could just focus the first instance of an active item 🤷‍♂️

[2020-03-20 01:07] AdelheidF commented on #144
Any news on when we can expect this?

my design

<img src=https://user-images.githubusercontent.com/44481292/77128192-6da67a00-6a0c-11ea-933b-606c43c8ef68.png width=200/>

[2020-03-20 16:00] paulcpederson commented on #377
I have this pretty much done locally, FYI. Will pr today

[2020-03-20 17:42] asangma opened #403 "Popover - make pointer off by default"
What do we think about making the pointy pointer thing on Popover off by default?

Use case: most times we're using it MVB, the pointy bit is not needed. Also the thing it's pointing to is often in a scrolling panel, so if scrolling happens, Pointy-Pete is now lying.

Pointy-Pete of course still works nicely for Tooltip.

@macandcheese @paulcpederson @bstifle

[2020-03-20 17:47] asangma commented on #403
![pointy pete](https://user-images.githubusercontent.com/12503298/77191391-249c0780-6a98-11ea-8ada-d80efea4c50a.gif)

[2020-03-20 17:47] paulcpederson commented on #403
I'm good with that. IMO the indicator is superfluous and could be completely removed.

[2020-03-20 17:48] macandcheese commented on #403
Makes sense, only comment would be the functionality should IMO be the same between the popover and tooltip, just make both off by default and opt-in with the same attribute.

[2020-03-20 17:49] macandcheese commented on #403
Or, like Paul said, just remove altogether...

[2020-03-20 17:51] asangma commented on #403
I will trust y'all. I do think it's nice for tooltips tho...especially with cats.
![image](https://user-images.githubusercontent.com/12503298/77191830-ca4f7680-6a98-11ea-84ca-d970d1b38e12.png)

[2020-03-20 17:56] macandcheese commented on #385
Fixed in https://github.com/Esri/calcite-components/pull/391

[2020-03-20 17:56] #385 closed

[2020-03-20 18:09] paulcpederson commented on #368
I'm going to look into this today.

[2020-03-20 18:52] julio8a commented on #403
I’m good with hiding it by default.

[2020-03-20 19:15] bstifle commented on #403
im fine with hiding it. i think we should keep it in tho

[2020-03-20 19:40] AdelheidF opened #404 "calcite-dropdown: width as wide as dropdown-trigger ?"
The design:
<img src=https://user-images.githubusercontent.com/44481292/77197774-fbcd3f80-6aa2-11ea-8518-62adb8667f59.png width=250/>

The component appears inside a shell panel which changes width depending on browser width.
So it's hard to find a width=[s,m,l] that will fit in all cases.
Really what I would want is a dropdown that is as wide as the `dropdown-trigger` element. Or one that is at l

[2020-03-20 20:02] macandcheese commented on #403
Works for me. Can we just make them the same though? Feels weird to have to opt in in one place and opt out in another for two similar components IMO.

[2020-03-20 20:07] asangma commented on #403
@macandcheese 👍

[2020-03-20 20:08] asangma commented on #403
Thanks y'all.

[2020-03-20 20:22] bstifle commented on #403
yeah lets default them out @macandcheese fine with me

[2020-03-20 20:29] driskull commented on #403
IMO it should be optional for Popovers and mandatory for tooltips. Its more important for tooltips to point to a reference for what they are offering a tooltip for.

[2020-03-20 20:30] bstifle commented on #403
i also am fine with that.... i guess i dont mind either way. ill back away slowly...

[2020-03-20 20:41] macandcheese commented on #403
OK, yeah I guess I don't really have a strong preference other than making whatever we do consistent 😅. Seems like both on by default is how we have it now?

[2020-03-20 20:47] asangma commented on #403
I'm not sure that it's a problem to have Popover pointer off by default and Tooltip on by default. They're two different UXs and one of them benefits from having the pointer (Tooltip) and the other benefits from not having it.

[2020-03-20 20:58] macandcheese commented on #403
Could we just them as they are now and turn off the pointer if desired in MVB? Seems easiest and wouldn't require any changes...

[2020-03-20 21:13] asangma commented on #403
Making the change here will set a standard. And having three developers go through all their popovers and turn off the pointer...might be more work. And we'd have to manage that each time a new popover is created in MVB.

That being said, I was just looking at an interface that doesn't use pointers for the Tooltips, and it seems to work fine (contrary to what I was saying earlier).
![tooltips-dime

[2020-03-20 21:15] asangma commented on #403
So...I think turning the pointer off by default in both tooltip and popover would be good.

[2020-03-20 21:26] macandcheese commented on #404
Yeah, it may be worth it to add a few options here... one that was fixed to the size of the trigger element, one that expanded the dropdown (to edge of page) based on length of content, and... maybe some combination of those?

For naming...
- "constrain to width of trigger" = `inherit` or `trigger`
- "size to width of content (not extending past edge of page)" = `auto`
- "constrain to width of tri

[2020-03-20 21:55] driskull commented on #403
So we want to just remove it for both? Breaking change? :)

[2020-03-20 21:59] bstifle commented on #144
![image](https://user-images.githubusercontent.com/14083530/77209373-596d8600-6abb-11ea-997b-e411ae2861ec.png)

@AdelheidF this is the latest design
@julio8a how would you like to move forward?

[2020-03-20 22:12] bstifle commented on #403
just default off, leave the points in if needed

[2020-03-20 22:17] driskull commented on #403
I think you guys should test this before we do anything. It's really odd using the tooltip test page without pointers.  The tooltips are off centered from what they should be pointing at and it looks odd.

What do we gain by turning them off? It seems like a UX disadvantage for the user.

I pushed a branch `dris0000/no-arrows` for testing.

![image](https://user-images.githubusercontent.com/123145

[2020-03-20 22:18] driskull commented on #403
Can you tell what the above tooltip is referencing? Its the bold text but you can't tell without an arrow.

[2020-03-20 23:10] asangma commented on #403
The static example makes it weird.
In practice the user will have either set the pointer on the thing of interest or focused the element.
See the example above.

As a note, I'm not against keeping the pointer on the tooltip. I don't have a strong feeling about that.

I do however think that our Popover should have it off by default.

I also think it's fine to have it on by default for Tooltips and

[2020-03-23 03:53] pspraveenkr commented on #403
It looks like the popover position is already dynamic based on the parent element location (as much as the vertical space allows) when that element is clicked.

Given the above, this may be worth considering...
- Keep the pointer initially.
- When scrolling happens, let the popover follow the parent element until that element goes off screen? When the element goes off-screen, then remove the point

[2020-03-23 16:45] AdelheidF opened #407 "Component: time picking"
design for smartMapping Age renderer

<img src=https://user-images.githubusercontent.com/44481292/77340002-e5fd8b80-6ce9-11ea-8618-4f9e5ba5a228.png width=200/>

dojo component that we used in the past

<img src=https://user-images.githubusercontent.com/44481292/77340053-f9a8f200-6ce9-11ea-8f42-65eb196d7990.png width=300/>

Note: This must also work for 24 hour time format (00:00–23:59) and differe

[2020-03-23 20:32] julio8a commented on #144
We've had the design for a while, we just need this built-out by a dev. Moving this back into the WIP phase 2. @Esri/calcite-components, anyone has some cycles to start this one?

[2020-03-23 20:39] macandcheese commented on #144
We need to decide if we are going to continue to build components in this manner - some discussion was at the end of this issue: https://github.com/Esri/calcite-components/pull/391 - but we should make have that chat before we begin another component in this manner.

[2020-03-23 20:44] julio8a commented on #144
We have a meeting scheduled for this Thur at 3 pm. We can discuss this then. I'll add you @AdelheidF

[2020-03-23 20:55] AdelheidF commented on #144
I'm using the standard radio button right now and it works fine, just doesn't look so nice. It's not a showstopper for me.

<img src=https://user-images.githubusercontent.com/44481292/77362061-8ca75380-6d0d-11ea-94f4-3e107e56d4de.png width=200/>

[2020-03-23 21:00] macandcheese commented on #144
@AdelheidF - we will definitely be adding a Radio Button component! Currently, we just do some over the top stuff to support passed inputs in our other similar components and want to decide if we want to continue that :)

[2020-03-24 00:05] rmstinson commented on #64
Any thoughts or ideas on a mixed-state for the color picker input field? The direction the Charts team is taking this is to leave the input field blank, and filled back in once a change has happened on all selected elements, or just a single element is selected to display that color.

Like so:
![multiple_selections](https://user-images.githubusercontent.com/12650705/77374636-7eb2fc00-6d28-11ea-892

[2020-03-24 00:42] bstifle commented on #64
@rmstinson thats one way, but my first hunch is it could look disabled

sketch does this:
![image](https://user-images.githubusercontent.com/14083530/77376351-6abdc900-6d2d-11ea-9d47-2ddbd4d6daf2.png)

illustrator:
![image](https://user-images.githubusercontent.com/14083530/77376428-875a0100-6d2d-11ea-8635-6bcfeed7a125.png)

and photoshop just shows the color of the first thing you select. (not ve

[2020-03-24 15:35] asangma commented on #403
Thanks @pspraveenkr !
I agree that the moving popover can be distracting. And as for now, if the user scrolls, any pointer will no longer be accurate.

As such, we are generally showing a selected state or some sort of highlight on the thing that is selected especially if the popover is to the side. This makes the connection between the selected thing and its popover. Granted this is a UX that is

[2020-03-24 15:38] asangma opened #409 "Bump calcite-ui-icons to beta6"
Are we able to bump calcite-ui-icons to `3.0.0-beta.6` or will explosions happen?

cc @driskull @jcfranco @macandcheese @paulcpederson

[2020-03-24 15:40] paulcpederson commented on #409
Already bumped to 5 a while back, 6 i think just has some new paths so should be fine.

[2020-03-24 15:49] asangma commented on #409
@paulcpederson Cool!

[2020-03-24 16:35] driskull commented on #403
I think we should leave the pointer on by default.

The issues brought up are all issues specific to the map viewer usage. They are using a reference element that isn't what was clicked.

[2020-03-24 17:26] #367 closed

[2020-03-24 17:28] macandcheese commented on #403
Yeah this seems like a simple solution, leave as-in and just turn it off if you want to 😆

[2020-03-24 18:00] pspraveenkr commented on #403
👍

Yes - depends on usage. If the parent element is not in a scrollable container, then feels like pointer is ok to have most of the times. Otherwise, user has a choice of removing it.

What do you mean @driskull? I thought the reference element was the field node that was clicked.

[2020-03-24 18:11] driskull commented on #403
I don't think Adelheid set it up like that. For some of these she sets the reference element to the whole panel because she doesn't want it to scroll with the element.

[2020-03-24 23:32] #351 closed

[2020-03-25 00:31] cosbyr opened #413 "calcite-alerts: "alert-message" slot does not render correctly in Edge when generated dynamically in code"
Repro Steps:
1. Open Edge Browser (old non-chromium Edge)
2. Load HTML with this content
[code]

3. Alert does not show the alert-message content:
![image](https://user-images.githubusercontent.com/11748268/77489344-20078400-6df5-11ea-8353-b3911e340fc3.png)

Expected look:
![image](https://user-images.githubusercontent.com/11748268/77489383-38779e80-6df5-11ea-8e7b-6d7a993e1cbc.png)

[2020-03-25 01:20] macandcheese commented on #413
Thanks for reporting, I was able to reproduce this...

To add, in non-Chromium edge the appended slot is added "out of position" inside the alert but in a div that has an unexpected 'hidden=""' attribute.

Not reproducible in other browsers, I wonder if Stencil has issues placing a named slot after render (well... Clearly, ha...)

[2020-03-25 14:47] ajturner opened #415 "Calcite Checkbox emit the name or value"
I'm building a stencil component array of checkboxes for a filter group. I'd like to have a single watch for any checkbox change and then emit the specific checkbox. However, the current Checkbox emit is empty of detail.

Would it be possible for [`checkedWatcher`](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-checkbox/calcite-checkbox.tsx#L79) to instead be `this.c

[2020-03-25 14:49] ajturner commented on #415
For more context, here is the example component

[code]

[2020-03-25 15:06] cosbyr commented on #413
Found that if you set the innerHTML of a calcite-alert element like this it works:
[code]

[2020-03-25 15:49] paulcpederson commented on #415
@ajturner these are DOM events, so I believe the "web-component-y" way to do this is to use the `target` of the event and glean the information from that.

Can you try looking at `e.target` to see if that has what you need? If not we can for sure pass along a more robust payload in `detail`.

[2020-03-25 15:51] paulcpederson commented on #415
Honestly it may make sense for use to treat the `detail` prop as a developer API in all of our component events and provide useful, focused info over events regardless.

[2020-03-26 23:42] driskull commented on #397
Installed

[2020-03-27 18:17] macandcheese opened #420 "Update "isActive" prop to "active""
We have a few components using `isActive` prop whereas all others are using `active`.

- `calcite-loader`
- `calcite-modal`
- `calcite-tabs`

It's a breaking change, but we should have consistency between these prop / attribute names.

[2020-03-27 18:24] macandcheese commented on #409
@asangma want to open a PR to bump this (I think they are on .7 now)?

[2020-03-27 18:26] macandcheese commented on #407
@Esri/calcite-components are there other use cases for this?

Curious if this would best be served as a dropdown, part of a date, some combination of a time input and dropdown (I think input + dropdown has come up before in dicussions), want to get a discussion about best way to handle this.

[2020-03-27 19:16] paulcpederson commented on #407
This is actually already designed by @julio8a https://github.com/Esri/calcite-components/issues/58#issuecomment-514809436 basically to the right of date optional time.

[2020-03-27 19:17] paulcpederson commented on #407
In my mind these are two separate inputs you can tab to independently. Possibly time picker has a dropdown as well, though not sure what that would look like.

[2020-03-27 20:41] macandcheese opened #421 "Style - Add focus states to all components"
Placeholder issue for adding focus states to all components. For now we can include style mixins locally - eventually these should live in `calcite-base`...

[2020-03-27 23:33] paulcpederson commented on #307
This is going to be part of my date component updates / ie11 fixes

[2020-03-30 21:11] #396 closed

[2020-03-31 20:08] driskull commented on #61
Installed

[2020-04-01 20:11] macandcheese commented on #397
Closing, thanks for adding!

[2020-04-01 20:11] #397 closed

[2020-04-01 20:12] macandcheese commented on #409
Looks like this was updated in the last version bump, closing.

[2020-04-01 20:12] #409 closed

[2020-04-01 20:13] macandcheese commented on #377
Looks like this was fixed, closing.

[2020-04-01 20:13] #377 closed

[2020-04-01 20:14] macandcheese commented on #362
Looks like this was addressed in the `split-button` PR - safe to close @kstinson14 ?

[2020-04-01 20:28] #61 closed

[2020-04-01 20:29] macandcheese commented on #47
Installed

[2020-04-01 20:29] #47 closed

[2020-04-01 20:34] macandcheese commented on #403
This seems to be resolved per last discussion... Closing for now, re-open if need be.

[2020-04-01 20:34] #403 closed

[2020-04-01 22:25] #369 closed

[2020-04-01 22:27] #366 closed

[2020-04-01 22:28] #368 closed

[2020-04-01 22:29] paulcpederson commented on #307
In next release the parsing of the input has been improved

[2020-04-02 00:09] #421 closed

[2020-04-02 00:13] macandcheese commented on #243
Closing as it seems like this functionality will be built into a consuming library :)

[2020-04-02 00:13] #243 closed

[2020-04-02 00:14] macandcheese commented on #98
I believe @paulcpederson added locale support in his latest refactor of `calcite-date`

[2020-04-02 00:24] paulcpederson commented on #98
I addressed formatting the text in the input properly based on locale, but didn't add the ability to display the date with `"full", "long", "medium", "short"` for `dateStyle`:

| style | result |
| ---- | ------ |
| short | 4/1/20 |
| long | April 1, 2020 |
| full | Wednesday, April 1, 2020 |
| medium | Apr 1, 2020 |