[2021-04-09 17:40] paulcpederson commented on #1557
I think this is maybe working as intended. When you edit the year, you're not selecting a new day, you're just moving the calendar. So I've selected at date in 2018, if I type in 2020 and hit enter, the calendar is showing 2020, but I haven't selected a new day yet, if that makes sense.

/cc @bstifle for confirmation that this is the intended interaction model.

[2021-04-09 17:41] paulcpederson commented on #936
@AdelheidF I think this made it into beta.52

[2021-04-09 17:42] paulcpederson commented on #1555
I don't see this happening anymore.

[2021-04-09 17:48] COV-GIS commented on #1582
Here you go @caripizza https://codepen.io/COV-GIS/pen/BapJogR

The use case is a map view and a shell panel with action bar to toggle between widgets. It's a widget with tabs inside the shell panel which has a height greater than the height of the shell panel which has issues. I've tried several ways of adding heights and overflows to various elements but cannot achieve normal overflow scrolling a

[2021-04-09 17:54] paulcpederson commented on #1556
I don't think this bug repros any more either.

[2021-04-09 18:14] caripizza commented on #1582
@COV-GIS have you tried styling `calcite-tabs` with an actual height, like `height: 100vh;`? If you do this, adding `overflow-y: scroll;` to your existing `calcite-tab` styles in the pen seems to fix the issue for me.

[2021-04-09 18:23] caripizza commented on #1921
@macandcheese when was the last time you recall it looking that "previous" way? Do you have a version number?

[2021-04-09 18:43] caripizza commented on #1490
I gave Julio the bookmarklet code I came up with; it worked somewhat but could only find calcite-components in light DOM, wasn't able to pierce shadow DOM to find all the other components. I'm not sure this is something that can be prioritized at this time so I'm closing for now.

[2021-04-09 18:43] #1490 closed

[2021-04-09 18:46] AdelheidF commented on #1556
No, still the same.

https://devext.arcgis.com/apps/mapviewer/index.html?url=https://services1.arcgis.com/4yjifSiIG17X0gW4/arcgis/rest/services/FatalAccidents2017/FeatureServer/0

click layer name to select it, click on Filter on the tools at the right, add expression, change field to 'Date of crash'. Now type into the date input field, e.g. remove the 7 in 2017 to type in a 6.

[2021-04-09 18:48] AdelheidF commented on #1555
yes, this is fixed. Actually this is a (partial) duplicate of https://github.com/Esri/calcite-components/issues/1689.

[2021-04-09 18:48] #1555 closed

[2021-04-09 18:49] AdelheidF commented on #936
yes, this is good now.

[2021-04-09 18:49] #936 closed

[2021-04-09 18:58] AdelheidF commented on #1556
The onCalciteDatePickerChange event fires with this. I guess this is the date in the input box at that time. But since I'm in the middle of typing, maybe it should wait until I take a small break from typing?
![image](https://user-images.githubusercontent.com/44481292/114227957-8e4cb500-992a-11eb-8c91-c56faa23cf5a.png)

[2021-04-09 19:07] AdelheidF commented on #1556
The onCalciteDatePickerChange event fires with this. I guess this is the date in the input box at that time. But since I'm in the middle of typing, maybe it should wait until I take a small break from typing?

![image](https://user-images.githubusercontent.com/44481292/114227957-8e4cb500-992a-11eb-8c91-c56faa23cf5a.png)

It seems to round that date to 1/1/1000 because that is my min prop. If I rem

[2021-04-09 19:07] #1556 closed

[2021-04-09 21:45] AdelheidF commented on #1557
Then why does it still show the blue dot?

[2021-04-09 23:29] paulcpederson commented on #1557
Let me look at this a bit more.

[2021-04-10 00:11] zaramatheson opened #1945 "Bug: Overflow Menu doesn't work in certain scenario"
Clicking to open the overflow menu does not open the menu in New Map viewer when add layer item browser pane is open.
To reproduce:

![menuissue](https://user-images.githubusercontent.com/50747646/114251596-712ddb80-9956-11eb-94f8-ffb72111394b.gif)

cc @kevindoshier @driskull

[2021-04-10 00:19] kevindoshier commented on #1945
The popover is there but it gets hidden by the properties panel of the itemBrowser

![image](https://user-images.githubusercontent.com/11093161/114251929-b56dab80-9957-11eb-99ff-de3616933c57.png)

[2021-04-10 01:50] #1668 closed

[2021-04-10 01:51] #1667 closed

[2021-04-10 01:51] #1601 closed

[2021-04-10 03:02] AdelheidF commented on #1116
I would still like someone to comment on this. It's still annoying to me.

[2021-04-12 05:16] driskull commented on #1945
@kevindoshier this just sounds like a zindex issue. Can you adjust it on that specific panel so that it isn't over everything?

[2021-04-12 05:31] driskull commented on #1942
Thanks @kevindoshier. I'll get this logic working better.

[2021-04-12 05:34] driskull commented on #1937
Thanks @kevindoshier. I have a PR to fix this. Then you should be able to turn it off if you don't want to use it for this release.

This will give us time to perfect the height calculating logic.

cc @AdelheidF

[2021-04-12 05:43] driskull commented on #1938
@ethanbdev I think it should be one of the following:

HTML
[code]

JSX
[code]

[2021-04-12 05:44] driskull commented on #1938
Its probably also a duplicate of #1937 so I'll close for now.

[2021-04-12 05:44] #1938 closed

[2021-04-12 14:24] ethanbdev commented on #1938
Yes, sorry, I tried these too. I will track the other issue, thanks!

[2021-04-12 14:45] ethanbdev commented on #1937
Unless I missed something, I grabbed the `next` build and I am still seeting #1938 - setting the attribute in Stencil, the css for `overflow: y` does not get added

[2021-04-12 15:00] kevindoshier commented on #1937
I see the scrollbar if I set the attribute after its created

`element.setAttribute("overflow-actions-disabled", "");`

![image](https://user-images.githubusercontent.com/11093161/114416096-2fbf4b00-9b65-11eb-9d5f-01f8452ff627.png)

[2021-04-12 15:31] ethanbdev commented on #1937
Yes, this works for me too

[2021-04-12 15:42] joeyHarig opened #1947 "Enhancement: input-date-picker sates"
### Description
Add `disabled` and `readonly` states to the `calcite-input-date-picker` component.

### Acceptance Criteria
- `disabled` should disable the input and any pointer events
- `readonly` should set `readonly` on the input to true and also disable pointer events on the input

#### Which Component
- `calcite-input-date-picker`

#### Example Use Case
Disabled: When the date-input within a

[2021-04-12 15:49] bstifle commented on #1592
@nick-esri @TheBlueDog couple more iterations without changing the reds.

if we make the text smaller we need to consider Small which would then use 10px. i think those look good with the medium weight.

not a fan of the grayer text for these, as the messages themselves tend to be important

![image](https://user-images.githubusercontent.com/14083530/114423190-8ab06c80-9b7c-11eb-83cf-98c6b85dddec.

[2021-04-12 17:07] #860 closed

[2021-04-12 17:21] driskull commented on #1916
@paulcpederson can you take this one? I think you did some work on this so it may be fixed already.

[2021-04-12 17:22] macandcheese commented on #1931
I can see those borders in the map viewer now.

Kind of related to this... I find myself needing to override the "duplication" of spacing between two consecutively open blocks. Is that intentional? Was this changed in the latest version used in MV since I don't see it there?

[2021-04-12 17:24] macandcheese commented on #961
@zaramatheson  - Just following up here - I think this should be cleared up by now - feel free to close if so.

[2021-04-12 17:26] macandcheese commented on #953
Closing this @jcfranco - Codepen out of date with latest markup, feel free to re-open if this still happens but I think it's solved?

[2021-04-12 17:26] #953 closed

[2021-04-12 17:48] jcfranco commented on #953
Updated codepen. Verified this is fixed, thanks!

[2021-04-12 19:11] julio8a commented on #1116
https://github.com/Esri/calcite-components/pull/1949

[2021-04-12 19:42] arjanvanzutphen opened #1952 "New Component: AccountTile (& TopNav)"
### Description
Please provide some components in the Calcite Components like TopNav (https://calcite-react.netlify.app/top-nav) and the AccountTile (https://calcite-react.netlify.app/account-tile).

Several UI Frameworks like Material UI, Fluent UI, etc. provide comparable components. In the transition from Calcite-React to Calcite components, these components that we use but are missing at the m

[2021-04-13 15:30] ethanbdev opened #1954 "Bug: pick list retains a pick list item in its `selectedItems` when it is removed while selected"
### Summary
When a pick list item is selected, then removed while selected, calling `getSelectedItems` after a new selection will return a map containing the **old, removed** selected item _and_ the new one.

### Reproduction Steps

1. Create a pick list with a few items
2. Select a pick list item
3. Remove the above selected item
4. Select a new item
5. Observe the result from both the `calciteLi

[2021-04-13 16:57] eriklharper opened #1955 "Refactor: [calcite-slider] remove drag interaction listeners when the component is removed from the DOM"
### Summary

Event listeners added to the document are not disconnected when calcite-slider is removed from the DOM.

### Actual Behavior

Several event listeners are added to the document but are never cleaned up.

### Expected Behavior

All event listeners should be disconnected when the component disconnects from the DOM.

[2021-04-13 18:12] driskull opened #1957 "Bug: Label - Remove use of document.getElementById()"
### Summary

Remove use of document.getElementById since it won't work if the component is within another shadow dom component. It seems like other teams are wrapping our components in their shadow dom components so we need to be mindful of this.

The solution is to use this.el.getRootNode() and then query either the rootNode (document) or rootNode.host (shadow dom) element.

### Actual Behavior

[2021-04-13 18:15] driskull opened #1958 "Bug: Button - Remove use of document.getElementsByName()"
### Summary

Remove use of document.getElementById since it won't work if the component is within another shadow dom component. It seems like other teams are wrapping our components in their shadow dom components so we need to be mindful of this.

The solution is to use this.el.getRootNode() and then query either the rootNode (document) or rootNode.host (shadow dom) element.

### Actual Behavior

[2021-04-13 19:29] ethanbdev commented on #1925
Thanks @driskull 👍

[2021-04-13 19:40] ethanbdev commented on #1930
This looks good, thanks @driskull 👍

[2021-04-13 19:40] #1930 closed

[2021-04-13 19:40] #1925 closed

[2021-04-13 20:41] nick-esri commented on #1592
Thanks for these iterations @bstifle. I'm with you on the grey- now that I see them all together.

I quite like the 12px version in the 3rd column. Making the error text smaller does bring an element of hierarchy to the component.
<img width="441" alt="image" src="https://user-images.githubusercontent.com/3908500/114617780-95e7c300-9c76-11eb-9dea-047c99b8c9c7.png">

I do find the error icon slight

[2021-04-13 20:45] previnWong opened #1959 "Enhancement: Accordion add open/expand property"
### Description
Right now, there is no property to set whether the accordion can be open/expanded by default.  So user has to always click to expand.

### Acceptance Criteria
Add a boolean property so that the accordion can be open by default

### Relevant Info
![image](https://user-images.githubusercontent.com/11183838/114618595-6036e000-9c5e-11eb-9c65-9ce42aba7bff.png)

#### Which Component
Acco

[2021-04-13 20:49] macandcheese commented on #1959
Hi @previnWong - You can use `active` on a `calcite-accordion-item` to set it to open by default without user interaction: https://codesandbox.io/s/tender-spence-vludx

[2021-04-13 20:53] previnWong commented on #1959
That worked!  thank you!  Maybe add accordion item as a sub bullet under accordion in story book with it's properties.

[2021-04-13 20:53] #1959 closed

[2021-04-13 21:31] #1945 closed

[2021-04-13 21:31] bstifle commented on #1592
yeah man agreed on the space between. unfortunately we cant really make the icon smaller. it will make the lines fall off pixel and get all blurry unfortunately. i can def see a case for 12px icons but man with 633 concepts in the ui-icon library that could open a can of worms.

[2021-04-13 23:11] paulcpederson commented on #1020
@kat10140 no there is still no docs for this. I think it's still valid

[2021-04-14 04:37] ethanbdev commented on #1116
This fix looks good in charts, thanks @driskull!

[2021-04-14 05:08] AdelheidF commented on #1116
Yes, works well for me too for multi-select and single-selection lists. Tested with next.156.

[2021-04-14 05:08] #1116 closed

[2021-04-14 15:51] asangma opened #1964 "Enhancement: Add ability to disable selection in ValueList"
### Description
ValueList and by extension ValueListIem always has selection enabled.
Sometimes it shouldn't be.

### Acceptance Criteria

### Relevant Info

#### Which Component
ValueList & ValueListItem

#### Example Use Case

[2021-04-14 16:20] driskull commented on #1947
@paulcpederson @eriklharper @macandcheese We don't have `readonly` on `calcite-input` so we would need to add that first, correct? Is there a reason we don't have it currently?

[2021-04-14 16:22] paulcpederson commented on #1947
No, we should probably have `readonly` for inputs to maintain API parity with native HTML.

[2021-04-14 16:58] COV-GIS commented on #1939
Awesome! Thanks @driskull.

[2021-04-14 16:58] #1939 closed

[2021-04-14 17:01] macandcheese commented on #1947
Yeah agree.. right now you can add readonly and the styles will correctly apply, and the attribute will render on the child input element... however it’s not defined as a custom prop - it’s just getting spread if present - so it’s not getting documented.

Should add that so it’s on the calcite input and to the point of the issue probably anything that wraps one like a date, or time input.

[2021-04-14 17:11] eriklharper commented on #1947
I'm in favor of removing spread attributes as a general principle.  Best to always explicitly define the attributes being used.

[2021-04-14 17:40] driskull commented on #1947
Yeah, we shouldn't be passing everything into the internals of the component.

[2021-04-14 19:48] tyanthony opened #1967 "Enhancement: Event on Dropdown Item when SelectionMode is None"
### Description
When the dropdown list has the `selectionMode` set to `none`, the item that is selected is unknown. The `calciteDropdownSelect` event is fired, but we are unable to determine _which_ item was selected.

### Acceptance Criteria
Ability to determine _which_ item in the dropdown list was selected when the `selectionMode` is `none`.
Desired Behavior (1 of the following):
- exposed even

[2021-04-14 20:00] macandcheese commented on #1967
Follow up from Teams - likely have the parent detail include the selected item AND expose the child event as well. Likely applies to other components with parent/child events like this (accordion, tree, stepper, etc...)

[2021-04-14 20:09] AdelheidF commented on #1810
I'll close it once it's verified. Testing now with next.161

[2021-04-14 20:34] AdelheidF commented on #1810
It no longer shows the initial value that I set when creating the component. I can reproduce this with my Stencil and Maquette components. If I then hit up/down the value shows up.

[2021-04-14 21:06] AdelheidF commented on #1810
It's kind of nice that if I type 1 and then a bunch of 0s the thousand commas show up automatically. But this feature needs to be optional, because for some numbers a thousander comma doesn't make any sense, e.g. a year value. I don't see a property to hide it in the doc.

[2021-04-14 21:24] ethanbdev commented on #1810
Seeing this one too. Have a case where the value of a number input can be "reset". After it is changed with user interaction -> changed programmatically to a different value -> it is not reflected in the input. If the user nudges the number, it uses the set value to base the increase off. It seems to just be visual, maybe the component not re-rendering properly?

Could be related, but also after t

[2021-04-14 21:35] eriklharper commented on #1810
Should be able to set `format-locale="false"` in the cases where you need to set something like a year.

[2021-04-14 21:38] macandcheese commented on #1810
Can we update that to be opt-in so we don't have a `"false"` ? Something like `enable-locale-formatting` ?

[2021-04-14 21:47] eriklharper commented on #1810
What do people think of these prop names?

1. `locale-format`
2. `format-locale`
3. `enable-locale-formatting`
4. `number-localized`
5. `localized`

[2021-04-14 22:02] AdelheidF commented on #1810
Just to clarify. Number formatting should never be optional. With a French UI we always want to see a decimal comma. The part that should be optional is automatically displaying thousandth separators.

[2021-04-14 22:06] eriklharper commented on #1810
Sounds like we should just not automatically format the input as the user types, or are you saying there should be a way to opt-out of thousandth separators, but keep decimal separators, even when the user is not actively typing?

[2021-04-14 22:09] eriklharper commented on #1810
I noticed that some locales when using `Intl.NumberFormat.prototype.formatToParts` will omit the thousandth separator on a 4-digit number, but then include it when the number increases to 5 digits and beyond.

[2021-04-14 22:16] AdelheidF commented on #1810
Not automatically add thousandth separators as the user types. The user might still copy/paste a number with a thousandth separator, then just leave it there (or remove it if it's easier).

[2021-04-14 22:46] AdelheidF opened #1972 "Bug: calcite-input type=number initial value not showing"
### Summary
Using next.161.

It no longer shows the initial value that I set when creating the component. I can reproduce this with my Stencil and Maquette components. If I then hit up/down the value shows up.

Example
https://devext.arcgis.com/apps/mapviewer/index.html?url=https://services1.arcgis.com/4yjifSiIG17X0gW4/arcgis/rest/services/FatalAccidents2017/FeatureServer/0

Click layer to select

[2021-04-14 22:59] AdelheidF opened #1982 "Bug: calcite-input type=number can't update value by changing it internally"
### Summary
Using next.161.

If a value shows up or it's empty and I then change the value through another way, e.g. by picking a unique value or clicking on the histogram, the value that shows or doesn't show in the input doesn't change. This worked before so I'm pretty sure my component sets it correctly. Another proof is that if I click up/down it changes to the correct value just one higher/lo

[2021-04-14 23:02] rmstinson commented on #1592
Had a note about regular Hint Texts under input fields - for anything that's non-info/warning/error, I think it would be better if it were styling with Regular Avenir rather than Medium. For example, a Medium character counter easily becomes one of the most emphasized objects in a form, which it really doesn't deserve IMO.

![Screen Shot 2021-04-14 at 4 01 31 PM](https://user-images.githubusercont

[2021-04-14 23:07] AdelheidF opened #1983 "Bug: calcite-input type=number inside calciteInputInput event the value on the node is not updated"
### Summary

In the `calciteInputInput` event the input changes visually but node.value has the old value. The event detail looks right.

Example
https://devext.arcgis.com/apps/mapviewer/index.html?url=https://services1.arcgis.com/4yjifSiIG17X0gW4/arcgis/rest/services/FatalAccidents2017/FeatureServer/0

Click layer to select it, open Styles tool on right. Click Add field and select Fatalities. Cli

[2021-04-14 23:07] AdelheidF commented on #1810
Created separate issues
1 . https://github.com/Esri/calcite-components/issues/1972
2 . https://github.com/Esri/calcite-components/issues/1982
4 . https://github.com/Esri/calcite-components/issues/1983

[2021-04-15 00:58] AdelheidF commented on #1810
If I set `localFormat` to `false` then I see dot decimals for a French UX, so I can't do that. On a side note: with `localeFormat` set to `false` all problems go away.

[2021-04-15 01:51] AdelheidF commented on #1810
`localFormat = false`, decimal sign is wrong
![image](https://user-images.githubusercontent.com/44481292/114801841-62c63200-9d51-11eb-991c-e6a7be68654a.png)

`localeFormat = true`, decimal sign is correct, but value doesn't update
![image](https://user-images.githubusercontent.com/44481292/114802106-f8fa5800-9d51-11eb-8980-46e29469b27b.png)

`localeFormat` should have no effect on the decimal sign

[2021-04-15 15:23] asangma commented on #1964
@driskull Any thoughts on this?

[2021-04-15 15:28] eriklharper commented on #1810
Made this prop opt-in in #1969

[2021-04-15 16:20] dasa opened #1986 "Docs: Update README to remove `nomodule` script tag"
### Description

https://github.com/Esri/calcite-components/#script-tag

Can this be updated to remove the `nomodule` script tag and associated text now that older browsers are not supported?

https://github.com/Esri/calcite-components/#browser-support

[2021-04-15 16:21] asangma opened #1987 "Enhancement: Update Search to allow rounded appearance."
### Description
The search input is often overlooked in tighter interfaces and/or interim interfaces (in a popover).
Propose adding the ability to create a rounded appearance for Search.

Also propose that ValueList and PickList would set Search to `rounded` by default.

![image](https://user-images.githubusercontent.com/12503298/114903623-d73db700-9dcb-11eb-9ec2-4423fb3c1eb5.png)

### Acceptance

[2021-04-15 16:27] eriklharper opened #1988 "Enhancement: calcite-input type="number" should always display localized decimal separator and opt-in to group separator"
### Description

`calcite-input type="number"` should always display localized decimal separator by default and the group separator should always be handled when parsing, but for display it is based on a prop that is false by default.

### Acceptance Criteria

- [x] `calcite-input type="number"` should always display localized decimal characters based on the `locale` prop.
- [x] `calcite-input typ

[2021-04-15 17:06] #1982 closed

[2021-04-15 17:16] driskull commented on #1964
@asangma I think we need a generic list component that doesn't have to do with selection. Then the value/pick list can use it internally.

[2021-04-15 18:52] AdelheidF commented on #1982
This looks good now with `localeFormat` set to true. Tested with next.164

[2021-04-15 18:54] AdelheidF commented on #1810
related issue about decimal and group separators https://github.com/Esri/calcite-components/issues/1988

[2021-04-15 18:57] AdelheidF commented on #1972
I can't reproduce this anymore with next.164. It must have gotten fixed with https://github.com/Esri/calcite-components/issues/1982.

[2021-04-15 18:57] #1972 closed

[2021-04-15 19:11] ethanbdev commented on #1983
I think a fix went into next for this. It seems better, but now it seems to be stripping the last digit when I get the value, even though it looks correct in the display.
![229F0A7E-3442-4DB0-AEC4-A90D262F9EFB](https://user-images.githubusercontent.com/52869490/114925277-c0a35a00-9de3-11eb-9bd7-a64eb4d35fb8.GIF)

[2021-04-15 19:32] AdelheidF commented on #1983
I can still repo it with next.164 in that original test case.

Only up clicks...
![image](https://user-images.githubusercontent.com/44481292/114927573-7bccf280-9de6-11eb-89b1-4443d7a45fa8.png)

You can also see that sometimes I have to click twice 'up' to get a new value in the event.

[2021-04-16 19:51] alexabreu commented on #1913
We're running into the same issue on Field Maps. While I agree that opening `up` rather than `down` would address our current specific issue, I do think it makes sense for component consumers to have more granular control over a given popper's placement. Building on @joeyHarig's idea, it seems we could allow specifying a target selector for appending to the `shadowRoot` of the resulting element.

[2021-04-16 21:51] paulcpederson commented on #1913
I think `appendToBody` could be a boolean and get passed directly into popper

[2021-04-17 00:18] previnWong opened #1993 "Question: Webpack Missing Module"
### Question
Using Calcite in a Stencil web component.  After building the component, and using the web component in an Experience Builder application, there is an error that it there is a webpackmissingmodule.
![image](https://user-images.githubusercontent.com/11183838/115095654-e65d5b80-9ed6-11eb-9ca6-feeefe7bb47f.png)

Is there step missing when building the web component?
### Helpful Details

[2021-04-18 14:40] paulcpederson opened #1994 "Bug: Add Preact types to next builds"
### Summary

Currently next builds don't include the preact types for some reason. They seem to be generated by the build and they live in the `dist/types` folder, and other files are included in that folder, so not sure what is preventing them from being included.

I looked through the tooling for a while, but can't find anything obvious...

### Actual Behavior

Missing `dist/types/preact.d.ts`

[2021-04-19 17:11] #1983 closed

[2021-04-19 17:17] driskull commented on #1913
popper.js doesn't do any appending, neither does `calcite-popover`.

This would need to be handled in the components that internally use `popper.js` or `calcite-popover`. It would need to append to `getRootNode()` and not body incase used within a shadow dom. It would also then expose some internals of the component outside of it so I'm not sure this is the right approach.

[2021-04-19 18:06] AdelheidF commented on #1983
This looks good now.

[2021-04-19 18:52] ethanbdev commented on #1983
Looks okay to me too 👍

[2021-04-19 19:48] justingreco opened #1996 "Search Widget Inside of calcite-panel on Safari"
### Summary
There appears to be an issue when the ArcGIS JS API 4.x search widget is placed inside of a Calcite panel on Safari on macOS, it is not an issue on iOS or in other browsers (tested in Chrome).  I am thinking this is an issue with Safari and the shadow DOM.

The issue is demonstrated in this code pen:
https://codepen.io/justingreco/pen/qBRMwmm

It works in Chrome on macOS, but not in Sa

[2021-04-19 20:49] asangma commented on #1931
It's intentional. But it could be tightened up a bit.
Let's sync up on a bunch of this stuff. There are good reasons for the design decisions but we could def adjust the UI.

[2021-04-19 20:54] paulcpederson commented on #1557
It does not seem to show the blue dot at least on the current storybook: https://esri.github.io/calcite-components/?path=/story/components-controls-inputdatepicker--simple

1. click to open
2. tab to year
3. hit up arrow to increase year
4. date is gray not blue

I _think_ it's meant to work like this (ie changing the active date but not the selected date).

[2021-04-19 21:40] AdelheidF commented on #1557
OK, I'll close this issue. We can come back to it if other people report it.

I can still reproduce it with the storybook.

click to open calendar
click on year number and increase number by one via typing
date stays blue
if I close and re-open the calendar I still see the same thing

<img src=https://user-images.githubusercontent.com/44481292/115306652-01b9a800-a11d-11eb-9121-ece0a7ca87e1.png wid

[2021-04-19 21:41] #1557 closed

[2021-04-19 21:42] paulcpederson commented on #1557
@AdelheidF I think you would have to hit "Enter" to see the year change reflected in the calendar below.

[2021-04-20 13:55] justingreco commented on #1996
Tested search widget inside of Material Web Components mwc-drawer and can't replicate the issue in Safari.  Believe it might be more of a calcite-components issue than a JS API issue.

[2021-04-20 16:48] TheBlueDog commented on #1592
Real-world example of what a form could look like in our app. The text below the input being a heavier weight than the label can be quite distracting and doesn't fall in like with the information hierarchy.

![Screen Shot 2021-04-20 at 12 46 28 PM](https://user-images.githubusercontent.com/5419306/115434227-769ce880-a1d6-11eb-864e-09ca447848b1.png)

[2021-04-20 17:25] jcfranco opened #1997 "Bug: [color-picker] odd case where channel input can be cleared without setting empty color"
### Summary

With a color-picker that allows empty color, there is an odd scenario where a channel input will be empty, but not set the empty color.

![odd-empty-channel-color-picker](https://user-images.githubusercontent.com/197440/115438233-fec4c300-a1c1-11eb-81ed-4662bf114609.gif)

### Actual Behavior

☝🏼

### Expected Behavior

When the channel input is emptied after being restored, the color

[2021-04-20 17:47] jcfranco opened #1998 "Unstable Test: color-picker tests timing out"
## Summary

**Which component?:** calcite-color-picker

**Which test(s)?:**

Varied between runs, but some of these are:

**Test error:**

[code]

**PR that skipped the test:** #1995

## Additional Info

[2021-04-20 18:37] #1988 closed

[2021-04-20 20:10] COV-GIS commented on #1582
Thanks for looking into this @caripizza. The `100hv` height and scrolling leaves a portion inaccessible (height of the tabs) and the scrollbars are always visible in desktop browsers regardless of the widget's height. The issue can be overcome by accessing the shadow dom via JS and applying styles which is kind of hacky.

I previewed a shell panel and action bar for switching widgets with my users

[2021-04-20 20:10] #1582 closed

[2021-04-20 20:17] AdelheidF opened #1999 "Bug: calcite-input type=number ctrl+v pasting does not work on windows"
### Summary

On a Windows machine I can paste fine by right-click and then choosing Paste. But ctrl-v does not work. ctrl-v does work fine with a calcite-input type=text.

Tested with next.166

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-04-20 20:17] AdelheidF commented on #1810
copy/paste issue: https://github.com/Esri/calcite-components/issues/1999

[2021-04-20 20:35] ethanbdev opened #2001 "Bug: Setting `value` property of `calcite-input` to the string "undefined" renders the string itself"
### Description
If the input is `type=number`, it should handle the string "undefined" as non-numeric characters and render a blank input.
### Acceptance Criteria
`calcite-input` of type number should only render numeric values.

[2021-04-20 20:54] bstifle commented on #1592
@rmstinson 100% agree hint should be regular. i think hint should ALSO be ui-text-3 to be more subdued

@TheBlueDog the text would be then styled identically to the labels. isn't the idea for errors to be more prominent since they require immediate attention?

in general, i kinda like the idea of keeping things medium, and dropping them down one font size for error per this thing
![image](https://

[2021-04-20 20:55] ethanbdev opened #2002 "Bug: setting the value of a `calcite-input` to `undefined` gives errors in the console"
### Summary
Rendering `calcite-input` in stencil (could happen in other jsx/vdom) and setting the `value` property to undefined gives errors in the console.

![image](https://user-images.githubusercontent.com/52869490/115462888-0abf7d80-a1e0-11eb-8145-a2a5e58a3b0f.png)

[2021-04-20 21:19] eriklharper opened #2003 "Bug: localized formatting inconsistency when pasting numbers repeatedly in number inputs"
### Summary

Create a number input and do not set group-separator. Then paste in number 1,234,567.89, the number will change and remove the group separators. Good. Now paste in the number 1,234,567.89 again. Now the group separators stay.

### Actual Behavior

Create a number input and do not set group-separator. Then paste in number 1,234,567.89, the number will change and remove the group separa

[2021-04-20 21:50] #1999 closed

[2021-04-20 23:44] asangma opened #2004 "New Component: FlowMenu and FlowMenuItem"
### Description
Items used to indicate a list of drill-in items.
Currently, users can create this type of interaction using value-list, but there it's too easy for the UI to vary across different implementations.

This UX will likely be seen more broadly.

Also, usage of things like a single "FlowMenuItem" is already happening.

Maybe it's more generic e.g. "DrillinMenu" and "DrillinMenuItem" but

[2021-04-20 23:50] AdelheidF commented on #1999
This works fine now, tested with next.167

[2021-04-21 00:05] AdelheidF opened #2005 "Bug: calcite-input type=number - can enter weird numbers"
### Summary

- calciteInputInput returns 000000, should probably not display this
![image](https://user-images.githubusercontent.com/44481292/115477956-eec8d580-a1f9-11eb-9bec-f394e57dd3a8.png)

- calciteInputInput returns valid numbers 1 and 5, but it should not allow a display like this
![image](https://user-images.githubusercontent.com/44481292/115478060-1f107400-a1fa-11eb-8c3c-4be73c4c8f2a.png

[2021-04-21 00:09] AdelheidF commented on #1810
This is installed and working. Very nice!
We'll track little issues separately.

[2021-04-21 00:09] #1810 closed

[2021-04-21 00:11] paulcpederson commented on #1810
🎉 🎉 🎉 🎉 🎉

[2021-04-21 06:41] ChristopheSuter commented on #1863
Hi,
One more element: range date picker works fine. But still same problem with the simple one.
Best

[2021-04-21 14:16] bstifle commented on #2004
@asangma agreed this is good, but can we make the > icons 16px?

[2021-04-21 14:18] bstifle commented on #2004
also, assuming these will be able to handle summary, and a support icon, and be able to flip sides from start-to-end?

[2021-04-21 16:49] #1052 closed

[2021-04-21 16:52] macandcheese opened #2007 "Bug: Calcite Input Message "floating" variant bug"
### Summary
The "floating" variant of calcite-input-message doesn't attach to the control - it seems to float at the bottom of the container. Not sure why screener didn't catch this, maybe because the floating variant animates in?

### Actual Behavior
[Storybook link](https://esri.github.io/calcite-components/?path=/story/components-controls-input--with-label-and-input-message&knob-status_Label=id

[2021-04-21 17:03] #902 closed

[2021-04-21 17:14] macandcheese commented on #1532
@nwhittaker closing in favor of : https://github.com/Esri/calcite-components/issues/2007 - there seems to be a bug in the actual input component floating variant, it does appear in Storybook but it's not anchored to the component.

[2021-04-21 17:24] AdelheidF opened #2009 "Enhancement: calcite-input type=number - only allow integer inputs"
### Description

We have places where we use calcite-input and only allow integer values. It would be nice if calcite-input took care of this and not allow decimal separators. Otherwise we have to check the value in the event and 'fix' it accordingly everywhere we use it.

It would be great if it would stop you from doing that, even though once you hit enter it becomes a rounded number again.
![im

[2021-04-21 17:25] bstifle commented on #1592
another pass, based on feedback from adam.

Would be pretty smart to keep hint in a separate slot, would also be read directly after label for screenreaders.

and the hint can persist when a status message is displayed. @rmstinson @TheBlueDog @nick-esri thoughts?

![image](https://user-images.githubusercontent.com/14083530/115595229-4b7ccc80-a29c-11eb-96c2-9114c603231a.png)

[2021-04-21 17:57] macandcheese commented on #1592
For the text area character count and optional (or translated optional string), I think those are two areas we can look at to standardize around as well.

[2021-04-21 19:08] bstifle commented on #1592
yeah agreed. some more considerations.

![image](https://user-images.githubusercontent.com/14083530/115607854-1af05f00-a2ab-11eb-9479-2a1dbb2e58de.png)

[2021-04-21 21:18] ade10176 opened #2012 "Enhancement: Add `Don't show this again` option on the Alert component"
### Description
As a user, I'd like to have the option to select `Don't show this again` on an alert.

### Acceptance Criteria
- [ ] As a user, I can see and select a check box next to the `Don't show this again` on the alert
- [ ] The message can be updated/translated and support RTL

### Relevant Info
Some users would save continuously throughout their workflow and don't find the need to see `ch

[2021-04-22 00:16] AdelheidF opened #2015 "Bug: calcite-input type=number not correct with locales like fr-fr and de-de"
### Summary

When using a locale like fr or de the input correctly shows a comma decimal. But if the locale is fr-fr or de-de it's showing it the English way.

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-04-22 01:18] #2015 closed

[2021-04-22 02:19] AdelheidF commented on #2015
this looks good. tested with next.168

[2021-04-22 16:23] asangma commented on #2004
@bstifle

Thanks for helping clarify deets.

* summary: yes
* icon: yes (probably only on the start side)
  * maybe also include a slot on the start side to put whatever in there, e.g. a 48px thumb
* flip : no, but maybe there's a use case for this?

[2021-04-22 16:41] jcfranco commented on #1710
Sorry for the delay. I can't remember why I added block or panel. For panel, maybe because I was thinking about having it adjust the heading level of any child content, but that may be too complex/intrusive.

[2021-04-22 16:41] jcfranco commented on #1710
Verified locally!

[2021-04-22 16:41] #1710 closed

[2021-04-22 16:42] bstifle commented on #2004
perfperfperf

[2021-04-22 16:48] mpriour opened #2016 "Bug: Page scroll on clicking a RadioButton in a long RadioButtonGroup"
### Summary
When you have a RadioButtonGroup that is longer than the screen height, clicking on a CalciteRadioButton scrolls the page to the top.
I've isolated the cause to https://github.com/Esri/calcite-components/blob/master/src/components/calcite-radio-button/calcite-radio-button.tsx#L263. this.focused = true causes a focus() call for the underlying input element and the page scrolls.

### Act

[2021-04-22 18:06] joelcoxokc opened #2018 "Question: Is it possible to minimize bundle size to only what I need?"
### Question

I am using Angular, with the Angular CLI latest version.

When I pull calcite-components in, my bundled application exceeds 4000 files.
I am only using 3 or 4 of the calcite components.

Most typescript libraries will only bundle the modules that are used.

Is there a way to only bundle the modules that I need.
This will help me exclude the massive list of icon/json files and date-pi

[2021-04-22 18:56] paulcpederson commented on #2018
@joelcoxokc are those being loaded in the browser or just included in your built files? These files should be fetched dynamically on the client and not included in any bundles...

[2021-04-22 19:03] eriklharper opened #2019 "Research: explore using additional Screener APIs to improve screenshot testing"
### Background

Screener provides additional tools to perform visual testing on more complicated components, such as dropdowns or modals that require interaction to display additional UI.

### Desired Outcome

- [x] Explore how the Screener steps API would change our current testing (https://github.com/Esri/calcite-components/pull/3141, https://github.com/Esri/calcite-components/pull/3140)
- [x] I

[2021-04-22 19:17] paulcpederson opened #2020 "Enhancement: Add Change event to calcite-tile-select-group"
### Description

Currently the way you listen to changes to a calcite-tile-select-group is to listen for bubbled up input/checkbox events like so:

[code]

This is an internal detail and, we should make a new event while stopping propagation of the internal event.

### Acceptance Criteria

[code]

There is currently no property set on a `calcite-tile-select-group` which allows you to know which ar

[2021-04-22 22:58] #2001 closed

[2021-04-22 23:20] caripizza opened #2024 "Build: remove demo html's _assets from dist/collection folder"
## Summary
I'm not sure if this is more of a bug or not, so just starting with a blank issue template. This is a follow-up to my CC Dev Sync meeting's wiki bullet point ([4/22/21](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.wiki/tab::2bc3cae1-7547-41b0-a1cf-72bd303a0b1a?context=%7B%22subEntityId%22%3A%22%7B%5C%22pageId%5C%22%3A34%2C%5C%22sectionId%5C%22%3A46%2C%5C%22origin%5C%

[2021-04-22 23:44] noahmulfinger commented on #2002
I think I have the same issue in a slightly different context. When a form reset happens before a calcite-input is finished loading into the page, it throws the above error. I created a codepen for it: https://codepen.io/noahmulfinger/pen/yLgGJwj?editors=1010. Seems like it should get fixed by 4021b90, but if not I can open a separate issue.

[2021-04-23 01:21] joelcoxokc commented on #2018
@paulcpederson they are not being concatenated in the bundle, but everything is included in the final dist output.
Which exceeds 4000 files.
I am trying to deploy this to Azure-Static Webapps and they have a max file limit of 4000.

Ide like to just not include the entire library in the dist directory when I run my build.

[2021-04-23 02:49] paulcpederson commented on #2018
@joelcoxokc so I was just playing with this and you can leverage the angular cli config's `assets` section to serve assets from `node_modules` by adding the following to `angular.json` in `architect.build`:

[code]

Theoretically you could make that glob whatever you want and serve only the icons you need. For example, the following would only copy over icons dealing with bananas:

[code]

The sta

[2021-04-23 04:46] gavinr opened #2026 "Bug: `calcite-dropdown` error with Rollup"
### Summary

Error `Uncaught TypeError: Cannot read property 'isLink' of undefined` when clicking on a `calcite-dropdown` when using with Rollup.

### Actual Behavior

Error:
![image](https://user-images.githubusercontent.com/209355/115819444-5ba4c100-a3ee-11eb-88a5-7fe3c3156c6e.png)

### Expected Behavior

No error.

### Reproduction Steps

1. Open https://gavinr.github.io/calcite-components-svel

[2021-04-23 16:17] jcfranco commented on #1994
Installed and self-verified w/ the latest `@next` deployment: https://unpkg.com/browse/@esri/calcite-components@1.0.0-next.171/dist/types/

[2021-04-23 16:17] #1994 closed

[2021-04-23 16:41] julio8a commented on #2026
Thanks for opening this issue. We'll review and prioritize.

[2021-04-23 20:45] jcfranco commented on #2024
Installed and self-verified w/ latest `@next` deployment: https://unpkg.com/browse/@esri/calcite-components@1.0.0-next.172/dist/collection/

[2021-04-23 20:45] #2024 closed

[2021-04-23 21:56] jgrayson-apl opened #2030 "Enhancement: allow tile-select to have slotted content"
### Description
Please allow slotted content in a tile-select

### Acceptance Criteria

### Relevant Info
Changes in beta 53 (https://github.com/Esri/calcite-components/pull/1966/files/31b0d43b7887e539a716fe341121d1c9a590e4eb#diff-f923df7fcb21011574c46da47dea2dcf22ce6c2f78e8ed46f9924abea0761ee6R51-R61) changed the desired display since we were incorrectly adding additional content to the tile-sele

[2021-04-23 23:12] jcfranco opened #2033 "Bug: Ensure change events are only emitted on user interaction"
### Actual Behavior

Some components will emit a change event when `value` is set programmatically (e.g., color-picker) and also after user interaction. This would be consistent with how `<input>` works.

### Expected Behavior

Change events should only emit after the user interacts with a component and not when setting the changed property programmatically.

This aligns [with the HTML spec on inp

[2021-04-23 23:19] jcfranco opened #2034 "Enhancement: simplify slot names"
### Description

Some components have the component name in some of their slot names (e.g., `notice-title`). These should be simplified to not include the component name.

### Acceptance Criteria

Slot names are no longer prefixed by the component name.

#### Which Component

alert, chip, input, notice, shell

[2021-04-23 23:23] paulcpederson commented on #1809
@driskull sorry this was fixed a while back I totally spaced reassigning it.

[2021-04-23 23:24] driskull commented on #1809
👍 awesome

[2021-04-23 23:24] #1809 closed

[2021-04-23 23:25] driskull commented on #1579
This isn't pre 1.0 but is something we want to refactor soon since it allows a user to affect the shadow dom from the host element.

[2021-04-24 01:53] #1708 closed

[2021-04-26 04:33] macandcheese commented on #1506
Valid

[2021-04-26 14:17] bstifle commented on #1274
valid and being addressed in refactor

[2021-04-26 16:13] bstifle opened #2039 "Bug: Date picker styles"
### Actual Behavior
**1. bad range hovers when hovering inside existing range:**
<img width="365" alt="Screen Shot 2021-04-26 at 11 00 33 AM" src="https://user-images.githubusercontent.com/14083530/116114618-24990e80-a67f-11eb-8e04-64a8abc0820b.png">
<img width="284" alt="Screen Shot 2021-04-26 at 11 00 41 AM" src="https://user-images.githubusercontent.com/14083530/116114625-25ca3b80-a67f-11eb-9dc

[2021-04-26 16:24] asangma opened #2040 "Enhancement: pick/value-list and pick/value-list-item add nonInteractive prop"
### Description
Add a disableSelect property which disables select.
There are cases where value-list-items benefit from the ability to sort and quickly remove but where the UX suffers from an irrelevant selected state.

### Acceptance Criteria

### Relevant Info

#### Which Component
ValueList and ValueListItem

cc @driskull

[2021-04-26 16:28] #1919 closed

[2021-04-26 16:29] asangma commented on #2004
@driskull @macandcheese @jcfranco
Should this be a wrapper for PickList and PickListItem?

[2021-04-26 17:21] bstifle opened #2041 "Enhancement: Update Large component sizes"
Update large component sizes use 16px font (font-size-0) and 16px icons

padding and spacing remain the same

### Affected components

- [x] Accordion
- [x] Avatar
- [x] Button (pr #2533)
- [x] Checkbox
- [x] Chip
- [x] Combobox
- [x] Dropdown
- [x] FAB (pr #2533)
- [x] Input
- [x] Inline Editable (pr #2533)
- [x] Pagination
- [x] Radio Button
- [x] Radio Button Group
- [x] Radio Group (pr #2613)

[2021-04-26 18:03] bstifle opened #2042 "Remove border conflicts with backgrounds — Update border vars"
<img width="1402" alt="NEW BORDERS LIGHT" src="https://user-images.githubusercontent.com/14083530/116129546-d93b2c00-a68f-11eb-87c5-f210266f2fe6.png">
<img width="1402" alt="NEW BORDERS DARK" src="https://user-images.githubusercontent.com/14083530/116129552-da6c5900-a68f-11eb-9f74-722dc96a028a.png">

[2021-04-26 18:38] macandcheese commented on #2042
Is this a calcite-colors level or tailwind-level change?

[2021-04-26 20:08] asangma commented on #1927
Would someone mind verifying this.
I can provide details.

[2021-04-26 21:34] bstifle commented on #2042
i think tailwind. the colors used for the new ones are existing in calcite colors

[2021-04-26 22:43] driskull commented on #1831
@julio8a @paulcpederson @macandcheese

I can't complete the following components. They need refactoring to the host styling in order to remove the 'dir' attribute. Since these components set things like padding or margin on the host element and then modify them when in RTL, they need those styles moved to be internal to the component so that a selector doesn't have to be applied to the host in lig

[2021-04-26 22:53] driskull opened #2059 "Bug: Refactoring host element inconsistencies"
### Actual Behavior

Some of the components are setting attributes on the host element and they maybe shouldn't be. Lets discuss what to do in these scenarios.

### Expected Behavior

Host element should only have needed props and attributes applied to it. Things like aria roles, tabIndex, id and event listeners.

### Reproduction Steps or Sample

1. accordion-item: `<Host aria-expanded={this.acti

[2021-04-27 00:21] jcfranco opened #2060 "Bug: [calcite-input] inconsistent value when setting """
### Actual Behavior

`<calcite-input>` behaves inconsistently depending on when value is set to "".

### Expected Behavior

When initially set to "", value will be null. Later on, if you set the value prop to "", value will be "" instead of null (as it was in the beginning).

### Reproduction Steps or Sample

https://codepen.io/jcfranco/pen/rNjRKPO?editors=1000

### Relevant Info

_Version_: `@esr

[2021-04-27 01:26] jcfranco commented on #2059
Agreed. We should avoid tacking on to the host anything that can be encapsulated. Once we solidify the list of exceptions, we could add a rule to enforce it.

How do we want to divvy up the list?

[2021-04-27 01:34] paulcpederson commented on #2059
Agree we should clean these up and be really careful what we put on the host. Most of these are probably going to be for styling purposes as we use selectors like `:host([is-active])` for styles.  Depending on how far we want to go, many of these could be replaced by styles lower down the element tree attached to a class.

If props really need to be on a host element, we can use `reflect: true` as

[2021-04-27 15:12] joelcoxokc commented on #2018
@paulcpederson  we are already using the asset globs to ignore all the date-piker and icon assets.

However, I would also like to ignore the rest of the Javascript modules that we are not using.

My dist folder looks like this now, and I am not using 99% of this code, and we do not want out server serving all this code up.

![image](https://user-images.githubusercontent.com/4668188/116265666-eebc5

[2021-04-27 15:19] joelcoxokc commented on #2018
@paulcpederson  I noticed that the `defineCustomElements(window);` has an `exclude: []` option. Will excluding elements prevent them from being included in the output folder?

[2021-04-27 16:11] paulcpederson commented on #2018
You're seeing over 4000 js bundles? That doesn't seem right. Can you tell me what release that is?

I'm not totally sure what `exclude` does, the stencil docs are... nonexistent. If I had to guess I would say that probably just skips defining those tags and won't help with the bundles being moved over.

Another path here would be to use the custom elements bundles and define them yourself:

[code]

[2021-04-27 16:44] driskull commented on #2059
In most cases, we don't even need to import and return the host if we aren't' setting anything on it. So best bet would be to just not import and use the Host element.

It would definitely help if we had a rule where when host is used we could only set aria prefixed attributes as well as tabIndex.

[2021-04-27 16:49] driskull commented on #2059
JC: 1-5
Paul: 6-10
Matt: 11-15

Sound good?

[2021-04-27 17:04] eriklharper commented on #2060
@jcfranco should a falsy value always be `""` or `null'?

[2021-04-27 17:09] AdelheidF opened #2062 "Bug: calcite-block - gray border is on left for both LTR and RTL"
LTR:
![image](https://user-images.githubusercontent.com/44481292/116283174-6d64cc00-a740-11eb-8a7d-a28bc943555c.png)

RTL, border should be on the right
![image](https://user-images.githubusercontent.com/44481292/116283246-82d9f600-a740-11eb-8181-5c4f7c7ce26a.png)

### Actual Behavior

### Expected Behavior

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-compone

[2021-04-27 17:11] macandcheese commented on #2062
Related - can we just remove that border entirely from block edges and have it set on panel? https://github.com/Esri/calcite-components/issues/1931

[2021-04-27 17:14] paulcpederson commented on #2059
Is this part of the current 🏃🏻 ?

[2021-04-27 17:15] driskull commented on #2059
Good question. Do you think it should be @jcfranco @paulcpederson @julio8a?

[2021-04-27 17:21] julio8a commented on #2059
If this is something you guys feel comfortable with completed by the end of the sprint (5/7), Yes.
https://github.com/Esri/calcite-components/projects/8

[2021-04-27 17:23] julio8a commented on #1500
#2041 should be part of the refactor work ^

[2021-04-27 17:27] joelcoxokc commented on #2018
@paulcpederson  No it is only 236 js bundles.

With the assets, it exceeded 4000, But we already solved the 4000 issue.

I am using `"@esri/calcite-components": "^1.0.0-beta.50"`

I that output by simply running `ng build`

[2021-04-27 17:30] paulcpederson commented on #2018
Oh, thank goodness I was really concerned.

I'm not familiar enough with the internals of angular to know how it's managing the dependency tree, but have a play with the custom elements bundle and let me know if anything clicks, I can try to help when I have some cycles.

[2021-04-27 17:35] joelcoxokc commented on #2018
Great!.. That seemed to do the trick. Thank you soo much for you quick response and help on this.

[2021-04-27 17:45] macandcheese commented on #2012
Thanks for submitting @ade10176 - I agree having that functionality as a user would be nice to have, but I'm not sure if this component should contain that. It seems a little heavy to have an interactive control inside of a component as "fleeting" as alert - actions contained inside should be lightweight and not require multiple steps to complete.

Technically, the requested design could already b

[2021-04-27 18:25] bstifle commented on #2059
thinking Paul should handle 1-15

[2021-04-27 18:41] eriklharper commented on #2002
Fixed by #2036

[2021-04-27 18:41] #2002 closed

[2021-04-27 19:50] julio8a commented on #2059
@driskull @jcfranco @paulcpederson

Should I add this to this sprint?

[2021-04-27 21:22] TheBlueDog commented on #2012
How would this work with queued alerts as well? There might be three in the stack, but not all would have the capability of "don't show this again".

[2021-04-27 21:30] macandcheese commented on #2012
Yeah, that would ultimately be up to what the app puts as far as text / action there. If they decide it's "don't show again", they would need to handle which of their queued alerts that would apply to, and remove from queue if that happened? We could certainly improve the "queued" functionality too. Above is just a suggestion for that, I'd imagine if we went forward we would want to more strictly

[2021-04-27 22:13] jcfranco opened #2069 "Bug: popper content not positioned outside panel container"
### Actual Behavior

The popper content from some components is not positioned correctly when placed inside a panel.

**Note**: this is likely to happen outside of calcite-panel scenarios

### Expected Behavior

Popper content to be positioned outside of calcite-panel.

### Reproduction Steps or Sample

https://codepen.io/jcfranco/pen/mdRgmzB?editors=1000

Note that the above codepen is non-exhaus

[2021-04-27 22:35] driskull commented on #2069
@jcfranco do you think we should just expose the strategy setting on every component using popper? We don't always want it fixed otherwise it won't be hidden on internal scrolls like below.

![Apr-27-2021 15-33-26](https://user-images.githubusercontent.com/1231455/116320939-0827cf80-a76e-11eb-8dd3-3c8cc00267ab.gif)

Possible fixes:

1. expose `strategy` as defined in Popper and if more strategies

[2021-04-27 22:37] driskull commented on #2069
current:

![current](https://user-images.githubusercontent.com/1231455/116321188-72407480-a76e-11eb-9ba0-cb1632918633.gif)

[2021-04-27 23:06] driskull commented on #2069
related to #1913

[2021-04-27 23:16] jcfranco commented on #2069
@driskull I like option 2. Could we use another name to make it easier on users to know when to enable? Something like `appendToBody` from #1913 could work. WDYT?

[2021-04-27 23:41] driskull commented on #2069
Yes, but not appendToBody because it doesn't do that. What are you proposing?

I like strategy because it aligns with popper and if they add another option. We could use `position: absolute`?

[2021-04-28 00:16] driskull commented on #2069
@paulcpederson @caripizza @macandcheese @bstifle ^

Do you have any opinions on the name? Trying to see if there's a name that ties in popover context. Make it easier to associate that it is for the popping content and not the component itself.

[2021-04-28 00:22] caripizza commented on #2041
@bstifle Tabs doesn't have a large size yet (or `scale` property for that matter). It only has 1 size right now. Are you wanting to implement the S, M, L scale feature for Tabs from issue #803 here as well? Seems like that would also allow us to close issue #1610 too?

[2021-04-28 00:27] paulcpederson commented on #2069
That is a really hard concept to express succinctly in a prop! Maybe `popup-positioning: "absolute" | "fixed"`?

[2021-04-28 00:46] macandcheese commented on #2069
Yeah this is a tough one, ha. Kind of hard to sum up what the resultant change will be, maybe something like positioning-type, overflow-positioning?

Strategy does seem a little hard to parse initially, Popup-positioning is reasonable to me.

[2021-04-28 14:53] mpriour opened #2071 "Bug: [calcite-input] Missing name attribute on generated input element"
### Actual Behavior

`calcite-input` components with a `name` attribute do not set that `name` attribute on the generated `input` on initial render. However, once the input is typed into (not just tabbed through), the `input` element now has the reflected `name` attribute on it.

### Expected Behavior

`calcite-input` components with a `name` attribute should reflect that attribute down to the gen

[2021-04-28 15:48] bstifle commented on #2041
Correct!!!! I am speccing those out for you today

[2021-04-28 16:04] macandcheese commented on #2042
OK, I think we actually need to update this in calcite-colors repo - the values are there: https://github.com/Esri/calcite-colors/blob/ba782b1a87deb3ef6b5e98662220f24c0e40703c/dist/colors.scss#L528

[2021-04-28 16:36] jcfranco commented on #2069
Throwing in a few more into the ring:

- overlayPositioning
- popperPositioning // Popper's term for poppable content; good if we used 'popper' in our doc (not the lib)
- openPositioning
- openingStrategy

Overall, I think all of the suggestions in this thread are more expressive than `strategy` by itself.

[2021-04-28 16:39] driskull commented on #2069
I'm good with `overlayPositioning` or `popperPositioning`. Overlay might be better if we want to not expose popper.

[2021-04-28 16:44] AdelheidF commented on #2069
I like `openPositioning`. Most users won't know what popper means and I don't think of overlay when opening a small dropdown.

[2021-04-28 16:45] macandcheese commented on #2069
To clarify, would this be a prop for all components that use popper? Combobox, Date, Modal (?), Popover, Tooltip, etc...

[2021-04-28 16:46] driskull commented on #2069
Yes, that's the idea.

The only issue with 'open' is that some components use 'active', like dropdown.

[2021-04-28 16:47] macandcheese commented on #2069
`overlayPositioning` seems to work across multiple components, without the possible conflation with `active` mentioned above... I'm good with that.

[2021-04-28 16:48] driskull commented on #2069
I'm ok with 'openPositioning' if we rename all 'active' props to be 'open' :)

It creates more work but I think we aren't really consistent with open vs active on some of these.

[2021-04-28 16:52] macandcheese commented on #2069
For all popper / "overlay" components? That's a fine distinction to me... But we use it places like `calcite-block` too where it's never an overlay. I think we probably also need to refactor Alert to use popper now that I think of it.

[2021-04-28 16:52] bstifle commented on #803
![image](https://user-images.githubusercontent.com/14083530/116442532-36fa8000-a818-11eb-9415-ac6c3e2daff1.png)
specs

[2021-04-28 16:53] bstifle commented on #1610
![image](https://user-images.githubusercontent.com/14083530/116442582-45489c00-a818-11eb-9359-425a054b39a1.png)
specs

[2021-04-28 16:57] macandcheese opened #2072 "Enhancement: Refactor Alert component to use Popper"
### Description
Currently the alert component doesn't use Popper. I believe (?) it's the last "floating" component to not use Popper.

### Acceptance Criteria
Alert uses Popper under the hood. We probably want to constrain the positioning options of this, initially at least, to the bottom. Having the ability to use fixed / absolute "strategy" is nice as well.

### Relevant Info
- Use Popper to pos

[2021-04-28 16:59] driskull commented on #2069
I don't think alert or block need to use popper.

[2021-04-28 17:01] driskull commented on #2069
Alert is always at the bottom and not tied to a reference element. It doesn't need any popper logic.

[2021-04-28 17:01] jcfranco commented on #2069
FWIW, block's design didn't include any overlay.

[2021-04-28 17:05] macandcheese commented on #2069
Agree with block, was an example of a non-floaty that had 'open' nomenclature.

Alert actually has some other positioning use-cases where Popper could help, I mentioned it because it could use "absolute" in addition to fixed, as that's often requested when folks want to put an alert in a modal. I'll open a separate issue for that as it's not related to the discussion here, but should use whatever

[2021-04-28 18:01] jcfranco commented on #2060
IMO, it should be `null` meaning there's no number set.

[2021-04-28 21:17] driskull commented on #1831
@jcfranco @paulcpederson @julio8a should we have an issue to start using flow-relative css values like start/end and when we can start doing that conversion? This would get rid of 99% of the use for `getElementDir()`

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Logical_Properties

[2021-04-28 21:32] paulcpederson commented on #1831
Yeah, I wish tailwind used those properties instead, honestly. Like it would be great if `mr-1` just became `margin-inline-end: .25rem`. Not sure if that's possible...

[2021-04-28 21:37] driskull commented on #1831
@paulcpederson could we use this? https://github.com/20lives/tailwindcss-rtl

[2021-04-28 21:38] driskull commented on #1831
Or this one: https://github.com/stevecochrane/tailwindcss-logical

[2021-04-28 21:38] macandcheese commented on #1831
Found this as well - https://github.com/stevecochrane/tailwindcss-logical#flow-relative-margins - seems like we could also just add our own custom set without a plug-in too for margin and padding at least.

[2021-04-28 21:43] driskull commented on #1831
Yeah maybe we can do this in this order:

- Finish host dir removal
- Finish tailwind refactor
- tailwind v2 update
- tailwindcss logical and remove dir usage.

[2021-04-28 21:51] paulcpederson commented on #1831
@macandcheese I think we'd want the border-right/left, border-radius, and right/left sets as well, so a plugin is probably better. I don't think we support the vertical text mode, so maybe we could remove some of those or customize it.

@driskull that sounds like the right order. We could do a logical property thing before a v2 upgrade but we'd have to make sure whatever plugin was supported in 2

[2021-04-28 21:53] driskull commented on #2059
I got 5 of them done but I'm not sure if the rest could be done for this sprint. Maybe safer for next sprint?

[2021-04-28 22:03] eriklharper commented on #2071
Strange, I can't seem to reproduce this locally with the same preact version you're using.  Regardless I'll explicitly set the name attribute and hope that resolves it.

[2021-04-28 22:22] driskull commented on #2071
related to #1579

[2021-04-28 22:24] #2071 closed

[2021-04-28 22:30] driskull commented on #1737
@julio8a should this be part of the refactoring of tailwind?

[2021-04-28 22:31] driskull commented on #1740
@julio8a should this be a pre-1.0 breaking change?

[2021-04-28 22:38] driskull commented on #1737
It would be nice if these component variables were moved to be global variables so that the host element doesn't need to have a theme attribute applied.

[2021-04-29 01:32] jcfranco commented on #2059
I can take the following:

[code]

I'll update the description.

[2021-04-29 03:06] macandcheese commented on #1125
Valid

[2021-04-29 15:11] jgrayson-apl commented on #1850
Any workaround to this issue? (note: loading calcite-components via CDN)  Can I change the style of the internal calcite-input externally?

[2021-04-29 15:38] julio8a commented on #1740
Yes, likely. I want to spend some time reviewing all the `p-high` labels to see what else we have that might be breaking needed for 1.0

[2021-04-29 15:38] julio8a commented on #1737
@caripizza, can you review this along with the outstanding refactor work we have?

[2021-04-29 16:25] macandcheese commented on #1933
Here's a demo, kind of a choppy gif recording... These navigate with arrow keys as well. The "selection modes" of `single`, `single-persist`, and `multi` are borrowed from dropdown, and accordion, so they should be familiar and flexible enough for most use cases.

In this example these are enforcing a "check icon when selected" - but that obviously prevents these from being used with icons set dir

[2021-04-29 17:17] julio8a commented on #1831
Looping in @caripizza in this conversation as it involved refactor work.

[2021-04-29 19:51] caripizza opened #2078 "Tailwind: update to v3"
**Summary**
Update TailwindCSS in calcite-components from v1.9.6 to v3.0:

**Relevant Info**
- upgrade guide: https://tailwindcss.com/docs/upgrading-to-v2
- https://github.com/tailwindlabs/tailwindcss/blob/v2.0.0/CHANGELOG.md
- https://github.com/tailwindlabs/tailwindcss/releases/tag/v2.0.0

[2021-04-29 20:15] caripizza opened #2079 "Use CSS Logical Properties, remove dir usage"
**Summary**
Refactor component styles to use CSS Logical Properties and Values, perhaps via Tailwind v2 plugin

**Relevant Info**
- Background discussion: https://github.com/Esri/calcite-components/issues/1831#issuecomment-828786269
- MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Logical_Properties
- Tailwind plugins research: https://github.com/stevecochrane/tailwindcss-logical, https

[2021-04-29 20:29] bstifle commented on #803
![image](https://user-images.githubusercontent.com/14083530/116614544-ac8d4b80-a8ff-11eb-86a1-743078879ab2.png)

[2021-04-29 20:29] bstifle commented on #1610
![image](https://user-images.githubusercontent.com/14083530/116614572-b616b380-a8ff-11eb-8b13-6a147dc172f8.png)

[2021-04-29 20:32] bstifle opened #2080 "Enhancement: Add Large size for Tree"
**Summary**
Add Large size option to the Tree component's [`scale`](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-tree/calcite-tree.tsx#L50) property.

**Design mockups:**
![image](https://user-images.githubusercontent.com/14083530/116614898-245b7600-a900-11eb-8635-361aac1ea52f.png)

[2021-04-29 21:00] bstifle opened #2082 "Enhancement: Selection visuals for Tree"
Remove left-hand bar single selection active state style:
![image](https://user-images.githubusercontent.com/14083530/116617741-d183bd80-a903-11eb-82ac-d0fbaa14df23.png)

- Replace with circle (radio) visual
- Have ability to have multi select with checkmarks
- have ability to style multi select using `calcite-checkbox` including all available states such as idle, hover, selected, and indeterminat

[2021-04-29 21:02] caripizza commented on #1610
Hi @bpatterson88! Would you mind if I close this one in favor of #803? (@bstifle is looking to add an additional prop to the component in that issue, along with adding the SML scales.)

[2021-04-30 14:38] jcfranco commented on #1531
@kellyhutchins Could you help verify this one? 🙇🏼‍♂️

[2021-04-30 15:23] jcfranco commented on #1986
Installed.

@dasa could you help verify?

[2021-04-30 15:48] dasa commented on #1986
The text below the scripts needs to be updated too.

[2021-04-30 16:25] bstifle commented on #2080
![Tree-specs](https://user-images.githubusercontent.com/14083530/116724825-bd44cc80-a9a6-11eb-9028-fb2dbdb128e3.png)

Tree Specs!

[2021-04-30 16:34] bstifle commented on #2082
![Uploading Tree Specs.png…]()

[2021-04-30 16:34] bstifle commented on #2082
![Tree Specs](https://user-images.githubusercontent.com/14083530/116725789-0b0e0480-a9a8-11eb-83ca-5b2e06e5d479.png)

[2021-04-30 16:37] macandcheese commented on #2082
Comps look good, great alignment

🔲🔲
🔲🔲

It seems like the "checkbox" design functions differently than "check icon" - are parent-level items not selectable in that mode?

[2021-04-30 16:38] bstifle commented on #2082
to my understanding no, which is kind of a neat differentiator imo

[2021-04-30 16:41] macandcheese commented on #2082
Ok, it might be worth looking how these three layouts map to all 5 of the selection-modes, and how it interacts with the show-input prop (if they need to both still remain)?

If we can make that decision for them based on mode, we'll have less of a tree-mode-potpourri across our apps. Just props for theme, lines, scale is nice.

[2021-04-30 18:03] ade10176 commented on #2012
Thanks @macandcheese for this feedback!

[2021-04-30 18:22] caripizza commented on #1880
@raje9276 @babakbolour can one of you please clarify why this issue was re-opened instead of creating a new issue based on your follow-up comments? If we don't have an actionable, clear description of the new "wrong" behavior here - based on our updated Bug issue template - then I can't prioritize this alongside our other issues.

[2021-04-30 18:24] caripizza commented on #1610
Closing in favor of #803

[2021-04-30 18:24] #1610 closed

[2021-04-30 18:32] jcfranco commented on #1986
Thanks! I can't believe I missed that. 😅

PR submitted! https://github.com/Esri/calcite-components/pull/2083/

[2021-04-30 18:50] jcfranco commented on #1986
@dasa Installed!

[2021-04-30 19:16] jcfranco commented on #1986
Just checked and `GETTING_STARTED` is getting the 🪓 .

[2021-04-30 19:20] caripizza commented on #1941
@ethanbdev were you able to resolve this issue on your end based on [the Teams conversation](https://teams.microsoft.com/l/message/19:fd15b51dacd24e70895ec1218a54ae06@thread.skype/1617979641752?tenantId=aee6e3c9-711e-4c7c-bd27-04f2307db20d&groupId=56fae21a-9407-4943-859f-a9bfcf0bbad3&parentMessageId=1617979641752&teamName=Calcite%20Design%20System&channelName=Calcite%20Components&createdTime=16179

[2021-04-30 19:23] caripizza commented on #966
Hi @kat10140 - what exactly (and where) are you hoping to have this new documentation added? Are you thinking of different resources other than what we have on the main readme here?
https://github.com/Esri/calcite-components/blob/master/conventions/README.md#general-guidelines

[2021-04-30 19:30] jcfranco commented on #1986
Closing as verified!

[2021-04-30 21:57] driskull commented on #1602
I'm wondering if we should use the existing events or add additional events for the transitionEnd?

One issue is that it doesn't seem the `.e2e` tests get notified of transitionEnd.

[2021-05-01 01:10] raje9276 commented on #1880
![image](https://user-images.githubusercontent.com/30269081/116766332-c81b5380-a9de-11eb-8646-ccd8eb854642.png) ![image](https://user-images.githubusercontent.com/30269081/116766361-ee40f380-a9de-11eb-98d5-8f58ddd621b1.png)

@caripizza the Calendar should display western numbers (latin) rather than Indic numbers.
Do you want me to close this issue and open a new issue?

[2021-05-01 01:53] #1822 closed

[2021-05-03 15:18] caripizza commented on #1880
@raje9276 yes please - thank you for your help.

[2021-05-03 16:18] AdelheidF commented on #1689
Issue is still happening with a narrow shell panel when the picker is part of a calcite-block and has a calcite-action after.
![image](https://user-images.githubusercontent.com/44481292/116900109-36cdfc00-abed-11eb-8d51-85688056e291.png)

I noticed that it's caused by the calcite-action. If I take that away I can make the panel as narrow as I want and the picker adjusts correctly.

[2021-05-03 17:39] kevindoshier opened #2086 "Bug: Check for `ResizeObserver` existence before using it"
### Actual Behavior

Check that `ResizeObserver` exists before trying to use it, this is to support an issue that came in from a customer that still uses Firefox 68 where `ResizeObserver` is not supported

cc: @driskull

### Expected Behavior

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM package

[2021-05-03 18:12] caripizza commented on #2086
Since we only support [the last 2 versions of Firefox](https://github.com/Esri/calcite-components#browser-support), can you clarify why this was opened?

[2021-05-03 18:18] kevindoshier commented on #2086
https://devtopia.esri.com/WebGIS/arcgis-js-api/issues/35135

[2021-05-03 18:24] driskull commented on #2086
I'm actually kind of torn on this issue. I'm leaning toward the solution that MapViewer needs to use a polyfill to get this supported. We won't be able to get it to work without a polyfill. I'm thinking we don't want to do anything and continue to show the error so that the app is aware that they should provide a polyfill here.

[2021-05-03 18:26] driskull commented on #2086
@kevindoshier assigning back to you for now. Our support says we only support the last two versions so if an app needs to support an earlier version then a polyfill needs to be provided.

@jcfranco @paulcpederson @macandcheese let me know your thoughts here.

I could do the following, but then it would just break functionality.

[code]

[2021-05-03 18:29] driskull commented on #2086
What we can do, is document some of the browser functionalities that components need. Like resizeObserver, mutationObserver.

[2021-05-03 18:32] bstifle opened #2088 "Final Design Review for Refactored Components"
Design Audit of refactored components related to #1500

WIll be doing in-depth visual review of each component.

Final signoff of Design for refactor.

Goal is for implementation to match Figma

- [ ]  Accordion
- [ ]  Alert
- [ ]  Avatar
- [ ]  Button
- [ ]  Card
- [ ]  Checkbox
- [ ]  Chip
- [ ]  Color Picker
- [ ]  Combobox
- [ ]  Date Picker
- [ ]  Dropdown
- [ ]  FAB
- [ ]  Icon
- [ ]  Inline

[2021-05-03 18:33] kevindoshier commented on #2086
The only polyfill I've found is this one

https://www.npmjs.com/package/resize-observer-polyfill#usage-example

[2021-05-03 19:29] driskull opened #2091 "Refactor: calcite-input tests show 'The state/prop "value" changed during rendering' warnings"
## Summary

Test runs show the following warnings:

[code]

## Additional Info

probably related to this? https://github.com/Esri/calcite-components/pull/2036/files#diff-d4e9e38d573f92a6608141863d1a3ce63b4cc9c7bc0b97585e8a91c48ac9a705R286

[2021-05-03 19:32] eriklharper commented on #2091
This is caused anytime a number input's `.value` is set on the input programmatically to an invalid number, which resets the number back to the previous value, which one of the tests is doing.  I don't know why Stencil complains about this and if there is another way to implement this without triggering the warning, but I can look into it.

[2021-05-03 19:35] kevindoshier commented on #2086
Using the polyfill in the app appears to work fine,  Ill close this

[2021-05-03 19:35] #2086 closed

[2021-05-03 20:31] AdelheidF commented on #1906
With 1.0.0-beta.54 the blue focus box went missing
![image](https://user-images.githubusercontent.com/44481292/116929706-a9ea6900-ac13-11eb-9fe8-35636dd9fe99.png)

[2021-05-04 16:22] shoe913 commented on #635
Re-opening since this still appears to be an issue.

[2021-05-04 16:28] shoe913 commented on #669
Still valid, @cosbyr, can we re-open?

[2021-05-04 16:29] shoe913 commented on #674
Still valid, @cosbyr, can we re-open?

[2021-05-04 16:30] shoe913 commented on #678
Still valid, @cosbyr, can we re-open?

[2021-05-04 16:53] kellyhutchins commented on #1531
@jcfranco yes I'll test this today

[2021-05-04 17:37] macandcheese opened #2092 "Bug: Calcite label spacing bug in Safari"
In Safari, grid spacing does not seem to be applied to elements wrapped in a calcite-label.

Seems to not have x or y spacing, across the three label layouts (inline, inline-space-between, default)

### Actual Behavior

Screenshots from Storybook:
Chrome left, Safari center, Firefox right

![Screen Shot 2021-05-04 at 10 32 14 AM](https://user-images.githubusercontent.com/4733155/117045580-83383b00

[2021-05-04 17:43] kellyhutchins commented on #1531
Looks good!

[2021-05-04 18:15] jcfranco commented on #1531
Awesome. Thanks for verifying, @kellyhutchins!

[2021-05-04 18:15] #1531 closed

[2021-05-04 18:17] macandcheese opened #2093 "Bug: Pagination - setting `pageSize` to 0 logs console error"
### Actual Behavior

Setting "pageSize" to 0 will crash the Storybook and cause the page to be killed (at least in Chrome)

### Expected Behavior

### Relevant Info

https://codepen.io/mac_and_cheese/pen/eYLLbbN?editors=1000

Chrome Version 90.0.4430.93 (Official Build) (x86_64)

[2021-05-04 19:19] joeyHarig opened #2094 "Enhancement: stepper item events"
## Description
The `calcite-stepper-item` component does not emit any events on click or keypress. Our implementations of the stepper component in ArcGIS Monitor require us to watch for when a stepper item becomes active inorder to determine which step to render within the form adjacent to the stepper component.

#### Acceptance Criteria
Add an event to `calcite-stepper-item` that triggers on clic

[2021-05-04 19:55] raje9276 opened #2095 "For Arabic Calendar should display western numbers (1,2,3...) which will match the input field rather than indic numbers."
For Arabic Calendars the calendar control should display western numbers, currently it is displaying indic numbers. This is a mismatch between the input control and the calendar control.

### Actual Behavior

calendar control is displaying Indic numbers creating a mismatch between input control and calendar control.
![image](https://user-images.githubusercontent.com/30269081/117062108-e41d3e80-acd

[2021-05-04 19:55] raje9276 commented on #1880
@AdelheidF Please go ahead and close this issue.

A related issue is created at https://github.com/Esri/calcite-components/issues/2095

[2021-05-04 19:59] #1880 closed

[2021-05-04 20:15] kevindoshier opened #2096 "Bug: calcite-combobox: long strings arent formatted correctly"
### Actual Behavior

calcite-combobox:  long strings arent formatted correctly

![image](https://user-images.githubusercontent.com/11093161/117064249-c8fffe00-acda-11eb-8a4a-b1dc2c9dce05.png)

### Expected Behavior

Shouldnt mess up the formatting of the combobox

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM package

[2021-05-04 20:19] kevindoshier opened #2097 "Question: calcite-combobox programatically select a item"
### Question

I have a use case where I need to change the selection of the clacite-combobox from outside of the combobox, is there a way to do this?

[2021-05-04 21:16] asangma opened #2098 "Bug: ValueListItem drag-handle is the wrong color"
### Actual Behavior
The icon in a value-list-item is incorrect.

### Expected Behavior
The icon should be

| state | color |
|-----|-------|
| idle | border-color-3 |
| hover | text-color-1 |
| activated | text-color-1 |

cc @bstifle

### Reproduction Steps or Sample

1. view `demos/value-list/advanced.html`

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM p

[2021-05-04 22:44] driskull commented on #1831
Installed. needs verification.

[2021-05-04 23:00] driskull commented on #2097
@kevindoshier if you create the combobox with the items marked as selected does that work? The way it should work is like any select element, the item elements should be able to be toggled via their selected property.

[2021-05-04 23:01] driskull commented on #2096
@julio8a who would this be for?

[2021-05-04 23:02] kevindoshier commented on #2097
@driskull - yeah that works fine, but I have the case where Im switching the layerSwitcher to use the combobox and I need to keep the selection in the combobox in sync with the layerList, so if a layer is selected in the layerList I need to update the selection in the combobox

[2021-05-04 23:05] driskull commented on #2097
@kevindoshier does it not work when modifying an item's selected property at that time?

[2021-05-04 23:14] driskull commented on #2059
@paulcpederson can you take  6-10 or you want me to take them?

[2021-05-04 23:21] driskull commented on #1850
@jgrayson-apl I assigned to you just to verify the fix. I'll assign to someone else for now.

[2021-05-04 23:34] paulcpederson commented on #2059
Go for it, @driskull . I've only worked on modal from that set, so you may now more about most of those anyways...

[2021-05-04 23:39] driskull commented on #2059
Cool. i'll steal them back.

[2021-05-04 23:40] kevindoshier commented on #2097
@driskull - yeah that will update the selection (the blue dot) but not this part of the combobox

![image](https://user-images.githubusercontent.com/11093161/117082533-6701c180-acf7-11eb-801f-575c1e2e79f1.png)

[2021-05-04 23:49] #2003 closed

[2021-05-05 00:07] driskull commented on #2097
Ok makes sense. Seems like a bug :)

[2021-05-05 00:09] kevindoshier commented on #2097
@driskull - thanks, ill add an issue for that one

[2021-05-05 00:10] kevindoshier opened #2102 "Bug: calcite-combobox- updating the selected item doesnt update the "title" of the combobox"
If I update the selected item for the combobox, the title of the combobox doesnt seem to reflect the change, it remains to be the previously selected item

https://github.com/Esri/calcite-components/issues/2097

### Expected Behavior

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM package

[2021-05-05 15:19] kevindoshier opened #2103 "Bug: calcite-action-group - using menu-tooltip slot doesnt show the tooltip on hover of the overflow action"
Im placing a calcite-tooltip into the "menu-tooltip" slot of a calcite-action-group, but when hovering on the overflow action the tooltip is not being shown

![image](https://user-images.githubusercontent.com/11093161/117165685-8f7ecf80-ad7a-11eb-9756-2203b0d56da5.png)

### Expected Behavior

A tooltip for the overflow action should show up when hovering similiar to how the expand action works

##

[2021-05-05 16:08] ethanbdev commented on #1941
No luck, @caripizza. I still get postcss errors.. Is anyone else using calcite on windows?
![image](https://user-images.githubusercontent.com/52869490/117173247-70d00700-ad81-11eb-8d9f-9454567470c3.png)

[2021-05-05 17:08] macandcheese commented on #1921
It looks like we just stopped styling non-anchors of selection-mode:none - just need to update to match:

![Screen Shot 2021-05-05 at 10 04 57 AM](https://user-images.githubusercontent.com/4733155/117181222-d9bb7d00-ad89-11eb-8f3f-5c9acfbed8d3.png)

[2021-05-05 17:11] macandcheese commented on #1921
cc @TheBlueDog

[2021-05-05 22:08] driskull commented on #2102
@paulcpederson this is because the 'calciteComboboxItemChange' doesn't fire unless a combobox item is clicked. Do you know why?

[2021-05-05 22:33] driskull commented on #2102
Related to the discussion in #2033

In the components i've worked on i've just had a watcher that emits so that its always 1:1 (all prop changes are emitted no matter how they changed).

So we need a pattern defined I guess.

[2021-05-05 22:49] caripizza commented on #1831
To-do: add an issue to create an eslint rule (check `dir` attribute not applied) along with a test - in order to fully verify this one (for 5/10-5/21 sprint)

[2021-05-05 23:27] paulcpederson commented on #2102
Is this in a particular selection mode? https://codepen.io/paulcp/pen/xxqxqOG?editors=1010 changing selected on an item should update the displayed chips, etc

[2021-05-05 23:33] driskull commented on #2102
Like this:
https://codepen.io/driskull/pen/NWpWpZm?editors=1010

[2021-05-05 23:45] driskull commented on #2102
If you try the codepen I provided you see it's all messed up :\

[2021-05-06 00:13] jgrayson-apl commented on #1850
@driskull : tested with 1.0.0-next.189 and the styling of the filter looks correct now. Thank you!

![image](https://user-images.githubusercontent.com/5324720/117224605-3ab47680-adc5-11eb-83f1-5d6a585aa211.png)

[2021-05-06 00:14] driskull commented on #1850
Awesome thanks for testing!

[2021-05-06 00:14] #1850 closed

[2021-05-06 00:41] caripizza opened #2108 "Docs: add RTL stories for Storybook docs/Screener tests"
## Summary
Now that #1831 Epic has landed, ~we need e2e tests which confirm the component can inherit `dir="rtl"` from further up the DOM tree.~

Update per [this comment](https://github.com/Esri/calcite-components/issues/2108#issuecomment-846188037):

~(I'm thinking the tests can use `.getComputedStyle()` to check that the component's `dir` CSS property value is `rtl`.)~

## Measure of Success
~A

[2021-05-06 00:41] caripizza opened #2109 "Tooling: add Eslint rule to check for `dir=` attribute set directly on Host"
## Summary
When the `dir` attribute is applied directly onto Host components, it causes issues when the component needs to inherit the attributes from further up the DOM tree (ie., overriding it becomes difficult).

## Measure of Success
A new Eslint rule will catch when the `dir=` attribute is set directly on Host components in .tsx files.

### Background
This is a follow-on that we're hoping wil

[2021-05-06 01:01] paulcpederson commented on #2102
Oh of course, right. Yeah I think the combobox item's change event is not propagated outside the tree, so it's probably safe to  emit that on changes to the property.

[2021-05-06 02:20] #1849 closed

[2021-05-06 09:01] tkamiya0625 opened #2110 "Question: About the phone-hide feature of Show & Hide"
### Question
https://esri.github.io/calcite-web/quick-reference/class-sheet/
For example, if I want to use something like ".phone-hide" in the new Calcite, will I have to create it myself? Or will it be implemented in the future?

[2021-05-06 15:47] julio8a commented on #2096
Does this look like this might be part of refactoring? @caripizza

If it is, we should add it to that refactor epic.

[2021-05-06 15:53] bstifle commented on #1921
![image](https://user-images.githubusercontent.com/14083530/117328357-2e79f900-ae59-11eb-9da1-83e024c0795b.png)
Yep! left spacing should match the same as the headers for `none`

[2021-05-06 16:06] driskull commented on #2108
@jcfranco can you take this one? I'm not sure how it will work because testing 'dir' would pass if the 'dir' tag is on it.

[2021-05-06 16:08] jcfranco commented on #2108
![10-4](https://user-images.githubusercontent.com/197440/117330439-8b21e780-ae4a-11eb-8995-c4f4cdf2d5e8.gif)

[2021-05-06 20:28] AdelheidF commented on #1317
This is a real problem in the map viewer. User get into a state where the panel is completely broken and they need to refresh the page.

Could we please change `<calcite-radio-button-group>/<calcite-radio-button>` to use only `<label>` instead of `<calcite-label>` until this is fixed? The Stencil fix doesn't seem to happen soon.

![image](https://user-images.githubusercontent.com/44481292/11736145

[2021-05-06 20:30] eriklharper commented on #1317
We're going to instead remove labels entirely from both checkbox and radio and leave it up to the user to provide these.  This is more in keeping with native HTML form elements.  https://github.com/Esri/calcite-components/issues/1740

[2021-05-06 22:06] stevenalbers opened #2112 "Bug: calcite-tree ancestry mode - setting `selected` on nested `calcite-tree-item`s does not update lineage"
Clicking on a nested tree item correctly manages the selected/indeterminate state of its parents:

<img width="400" alt="Screen Shot 2021-05-05 at 5 20 25 PM" src="https://user-images.githubusercontent.com/5317415/117369993-8f65f900-ae7a-11eb-90c3-1064ea54abb0.png">

But if you're generating a `calcite-tree` and you initialize it by setting `selected` on a nested item, its ancestry isn't being upd

[2021-05-06 23:15] julio8a commented on #1542
ready to verify

[2021-05-07 00:58] mitc7862 opened #2113 "Enhancement: Allow icon size and position customizations for Tiles"
### Description
In order to launch the item details page/REST endpoint of a layer from within Map Viewer, I need the ability to add a launch indicator at the end of the tile

Existing component design:
![image](https://user-images.githubusercontent.com/12564905/117382911-60f51780-ae94-11eb-9c14-490492904306.png)

Proposed variant:
![image](https://user-images.githubusercontent.com/12564905/1173828

[2021-05-07 02:24] #1157 closed

[2021-05-07 02:24] #1014 closed

[2021-05-07 13:38] MikeTschudi commented on #683
Please keep open; still present at latest from unpkg (1.0.0-beta.54)
[code]

[2021-05-07 15:05] caripizza commented on #2042
@bstifle does this need to land with v1.0.0?

[2021-05-07 15:35] bstifle commented on #2042
Ideally yes. Im not sure if it would be a breaking change or not

[2021-05-07 16:23] jcfranco commented on #2033
Moving to next milestone based on yesterday's meeting. We'll have a meeting next week to discuss the pattern we want to adopt moving forward.

[2021-05-07 16:31] jcfranco opened #2115 "Refactor: consistent boolean names"
Stems from #1145

## Summary of changes

Booleans must adhere to the following for consistency:

* prefer adjectives (e.g., collapsible, moveable, etc), if an appropriate one does not exist, `-disabled`/`-enabled` suffixes can be used to describe the prop.
* avoid initializing booleans to true

This came up in https://github.com/Esri/calcite-components/pull/2841#discussion_r698597822. The goal for

[2021-05-07 16:39] jcfranco commented on #1542
The latest next should have it (it was added in `1.0.0-next.186`).

[2021-05-07 16:55] jcfranco commented on #758
Reviving this one for the remaining item of #1145 (wherever applicable, update value prop types to accept the most flexible type allowed) and adding it to the 5/10 - 5/21 milestone.

[2021-05-07 17:57] #1542 closed

[2021-05-07 19:31] caripizza commented on #2095
Thank you for adding this issue @raje9276. While chatting with @paulcpederson about this, we are wondering now - is the actual issue that the input's day/month/year value should also appear in Arabic?

Or does the date picker itself need a redesign, where all the numbers appear in English? Can you share the existing implementation you're referring to that shows the correct behavior?

[2021-05-07 20:26] caripizza commented on #2042
@driskull @jcfranco @paulcpederson looks like we're going to need to update the Sass variables' hex values in the table above over in calcite-colors. Then, cut a new release and consume that version here in cc.

Should all issues tied to this effort (ie., in both repos) have a "breaking change" label?

[2021-05-07 20:30] driskull commented on #2042
Yes, if they are breaking changes. I'm not sure the calcite-components would be breaking though.

[2021-05-07 20:36] paulcpederson commented on #2042
yeah we'd have to update the theme mixins in calcite-colors to change these. Theoretically no updates on the calcite components side should be required other than updating the calcite colors lib?

[2021-05-07 21:11] caripizza commented on #1831
@driskull @jcfranco do you think all components should have RTL stories for Storybook? Meaning, the story html snippet would have `dir="rtl"` (not just a knob). Would that help with verification on this one so we can have the new standard checked via Screener moving forward? (If so I'll create the issue)

[2021-05-07 21:52] asangma opened #2117 "New Component: CalciteList & CalciteListItem - general purpose list and list-item"
### Description
A general purpose list that enables users to construct list items that conform to Calcite styling.
The list will also replace the currently used functional component and act as a base for several other lists, e.g.

* ValueList
* ValueListItem
* PickList
* PickListItem
* Proposed FlowMenu & FlowMenuItem

#### User Stories
Any developer for whom our pre-baked list-item doesn't work.

[2021-05-07 21:53] asangma commented on #2117
@driskull Leaving the milestone up to you.

[2021-05-07 21:57] driskull commented on #1831
Yes, that sounds good for storybook and testing.

[2021-05-07 22:52] driskull commented on #1942
Closing. reopen if still an issue @kevindoshier

[2021-05-07 22:52] #1942 closed

[2021-05-07 22:52] driskull commented on #2069
Closing. reopen if still an issue.

[2021-05-07 22:52] #2069 closed

[2021-05-07 22:53] driskull commented on #2034
Closing. reopen if still an issue.

[2021-05-07 22:53] #2034 closed

[2021-05-07 22:53] driskull commented on #1927
Closing. reopen if still an issue.

[2021-05-07 22:53] #1927 closed

[2021-05-07 22:53] driskull commented on #1913
Closing. reopen if still an issue.

[2021-05-07 22:53] #1913 closed

[2021-05-07 23:08] jcfranco commented on #2059
1 – 5 installed!

[2021-05-10 12:40] ChristopheSuter commented on #1863
@caripizza Hi, could you reproduce this problem ? It is still the same in latest version.

[2021-05-10 15:08] bstifle commented on #2113
Cool! propose calling this variant `icon-end` and the original layout 'icon-start`

[2021-05-10 16:20] jcfranco commented on #1998
Closing as self-verified.

[2021-05-10 16:21] jcfranco commented on #407
FYI: moved to the next milestone.

[2021-05-10 16:33] ajoshipuraGH opened #2121 "Enhancement: Allowing Calcite themes to be imported with class in addition to theme="""
### Description
As of now we are importing themes with the attr theme="dark/light". This works for majority of the AEM components but when we use a style system we run into issues.  The style system can only be applied with a class:

eg:  if we need to add a dark style system: we would need to class="dark-mode" on the component.

Would it possible to add this functionality?  At present we have to

[2021-05-10 20:33] jul11557 opened #2122 "Enhancement: Improve color picker's thumb interaction"
### Description
Update the color picker to keep track of movements outside of the color field and color ramp while the user's mouse is down. While holding down the selection control, accidentally dragging outside of the color field causes the selection within the color field to be lost.

### Acceptance Criteria
1. While holding down the selection control, no matter where the user's mouse is on scr

[2021-05-11 00:55] AdelheidF opened #2123 "Bug: calcite-tile has a max-width too small for max shell-panel width"
### Actual Behavior

Using `calcite-tile` in a `calcite-block` that's inside a `calcite-shell-panel` or when `calcite-tile` is inside a `calcite-popover` on a wide screen does not look correct because of a `max-width` that's too small.

![image](https://user-images.githubusercontent.com/44481292/118052787-3265b980-b338-11eb-9660-96fca75cc4e4.png)

![image](https://user-images.githubusercontent.com

[2021-05-11 12:18] janett-baresel opened #2124 "A11y: keyboard navigation in Tabs is counterintuitive"
### Summary
When navigating through tabs via keyboard it is cumbersome to get from the tab to its content.

Additionally, both sighted and non-sighted users (screen reader users) are unable to navigate tab content. Screen readers are not provided with any context residing in the `calcite-tab` component.

### Actual Behavior / Reproduction Steps
1. tab through tabs via keyboard - navigation goes fr

[2021-05-11 19:03] driskull opened #2125 "Research: Should events be emitted by programmatic and/or user changes"
### Background

Should events be emitted by programmatic and/or user changes.

Research how we should be emitting events for components. Should it be only for user interaction or when a property watcher is fired.

Come up with use cases for both if we can and decide on an approach for when we do one vs the other or if we only do one of them.

#2033 #2102 https://github.com/Esri/calcite-components/

[2021-05-11 21:44] patrickarlt opened #2126 "Bug: <calcute-input type="number"> does not use native number input"
### Actual Behavior

`<calcite type="number">` does not show the native numeric keypad on mobile devices.

### Expected Behavior

`<calcite type="number">` should show the native numeric keypad on mobile devices for better accessibility by using `<input type"number">` internally.

### Reproduction Steps or Sample

https://codepen.io/patrickarlt/pen/XWMmwPb

![Screenshot_20210511-143819](https://us

[2021-05-11 21:48] patrickarlt opened #2127 "Bug: <calcite-input type="number"> allows non-numeric characters"
### Actual Behavior

`<calcite type="number">` allows all non-numeric non-alphabet characters.

### Expected Behavior

`<calcite type="number">` should not even allow you to enter non numeric characters potential related to https://github.com/Esri/calcite-components/issues/2009

### Reproduction Steps or Sample

![2021-05-11_14-32-54 (1)](https://user-images.githubusercontent.com/378557/117889070-

[2021-05-11 22:07] driskull commented on #2108
Yeah that should work. 👍

It should also make sure that the `dir` attribute is not applied onto the component tag in the first scenario.

[2021-05-11 23:09] bpatterson88 commented on #2092
Updating to Safari 14.1 fixes this issue. Apparently earlier versions of Safari do not support `gap` when used with `flex`, despite supporting it when used with `grid`. Interesting blog post on the issue: https://www.falldowngoboone.com/blog/the-curious-case-of-flexbox-gap-and-safari/

<img width="388" alt="Screen Shot 2021-05-11 at 3 53 07 PM" src="https://user-images.githubusercontent.com/158758

[2021-05-12 02:45] macandcheese commented on #2126
The screenshot of the `calcite-input` above does have custom increment buttons - we already override the native ones.

As far as the "showing the number pad"... I think this is, partly, a mobile OS / browser-specific thing, although I discovered an oddity on the CC input.

AFAIK an input of type `number` doesn't bring up the "numpad" in Safari... BUT - it does seem like it _should_ bring up the "n

[2021-05-12 02:51] macandcheese commented on #2127
What browser was the above screenshot from?

AFAIK each browser treats the number input field differently: only Chrome limits it to numbers (and "e") - calcite-input behaves this way in Chrome.

In Safari and Firefox, native inputs are NOT limited to just numbers - you can enter anything, and calcite-input behaves this way too.

Related: https://github.com/Esri/calcite-components/issues/961#issuec

[2021-05-12 03:03] macandcheese commented on #2092
@bpatterson88 nice diggin’

[2021-05-12 12:13] TheBlueDog commented on #803
Is there an update on this? Field Maps is in need of the sizes of tab to fix a UI defect.

[2021-05-12 15:51] eriklharper commented on #2127
Thanks for that added context @macandcheese .  I didn't realize the breadth of differences between browsers and this behavior.  Sounds like there is a big difference in opinion too when it comes to what a number input UI/UX _should_ be.  Honestly, I would love to remove all this keydown validation to prevent users from typing anything but valid number characters, but I might be in the minority on

[2021-05-12 15:53] bstifle commented on #2127
what about copy/pasting numbers into that field? if it has a comma, will it jack it up?

[2021-05-12 15:54] eriklharper commented on #2127
In Firefox the number `1,234.56` pastes verbatim in a number input.  In Chromium it strips the comma out, resulting in `1234.56`.

[2021-05-12 16:00] eriklharper commented on #2127
For locales, we support typing `,`, `.`, ` ` in addition to all the numbers of course, and there is extra validation put in there to ensure that the decimal separator can only be typed once, so in french you can only type `,` once in the number.

[2021-05-12 16:01] eriklharper commented on #2127
![image](https://user-images.githubusercontent.com/821864/118006987-979db880-b300-11eb-9854-a742561584cd.png)

Here's what a bunch of locale formats look like, with and without the `group-separator` option (thousandths character).

[2021-05-12 16:53] macandcheese commented on #2124
Hi @janett-baresel  - is there a direct link to a viewable example of this? I have tried to replicate it but have been unable to replicate step 4 above:

https://jsbin.com/jawibomese/edit?html,output

Re: the "expected behavior" - it sounds like the desire is for any subsequent "tab button press" to immediately focus available content inside the tab, as opposed to now where you need to "tab your w

[2021-05-12 17:13] AdelheidF opened #2130 "Bug: calcite-popover - close button in weird position"
It sounds like the current location of the close icon of a popover is by design. But it does look weird if the popover is a bit longer.
If you still think the current behavior is how it should be, please close this issue...

This is a popover containing a div

![image](https://user-images.githubusercontent.com/44481292/117897152-ff0f2600-b276-11eb-89ca-96d0be884353.png)

This is a popover containi

[2021-05-12 17:28] macandcheese commented on #2124
Hi @janett-baresel - is there a direct link to a viewable example of this? I have tried to replicate it but have been unable to replicate step 4 above:

https://jsbin.com/jawibomese/edit?html,output

Re: the "expected behavior" - it sounds like the desire is for any subsequent "tab button press" to immediately focus available content inside the tab, as opposed to now where you need to "tab your wa

[2021-05-12 17:30] julio8a commented on #1145
I can help with verification if I get some guidelines on how to verify.

I know this is a big one, should we have a quick meet on how we can tackle it?

[2021-05-12 18:06] bstifle commented on #2130
Oh weird, yeah that close button should always be in the right-top corner

[2021-05-12 18:19] bstifle opened #2131 "Enhancement: Add Tabs slot in Panel"
Idea to have Panels have Tabs built in via @TheBlueDog .

With the available props here are some quick mockups with tabs and how they can display within Panel:

![tabs panel](https://user-images.githubusercontent.com/14083530/118024597-7bac0e00-b324-11eb-858f-d29e83d9d57a.png)
![with actions](https://user-images.githubusercontent.com/14083530/118024589-7a7ae100-b324-11eb-8dcc-334e2a6007d2.png)

[2021-05-12 20:57] mitc7862 commented on #2131
@bstifle Can we have the option to use icon-tabs too?

[2021-05-12 23:22] driskull commented on #2109
After looking into this, i think maybe the commonTest will be enough. We would have to create a custom ESLint plugin to handle this and it doesn't seem to be worth the effort. Thoughts?

[2021-05-13 00:42] AdelheidF opened #2133 "Bug: calcite-popover - trap focus inside"
All 3 sub-issues here a related, so I added them into the same issue.

<details>
<summary>(1) (fixed with the use of `calcite-list`)</summary>
<br>
Add an option to value list to not allow selection of the text, only `action-end`.

![image](https://user-images.githubusercontent.com/44481292/118058980-4a433a80-b344-11eb-8140-8c3f70458446.png)

This is a lists of values in the filter component, clic

[2021-05-13 14:45] nwhittaker opened #2135 "Bug: Disabled labels toggle switches assoc. by `for` attribute"
### Actual Behavior
Given a disabled `<calcite-label>` element associated with a `<calcite-switch>` by its `for` attribute, clicking the label both focuses and toggles the value of the switch.

### Expected Behavior
Clicking the disabled label has no effect.

### Reproduction Steps or Sample

[code]

### Relevant Info
_Version_: `@esri/calcite-components@v1.0.0-next.191`

[2021-05-13 14:57] caripizza commented on #2109
@driskull that works for me, I'll close this one.

[2021-05-13 14:57] #2109 closed

[2021-05-13 16:14] TheBlueDog commented on #2131
This feature would be useful in Field Maps!

[2021-05-13 16:24] caripizza opened #2136 "Enhancement: refactor Alert to match Figma design"
### Description
Calcite-alert needs to match its new design in Figma.

### Acceptance Criteria
The component appears as it does in Figma.

### Relevant Info
#1500, Figma refactor project: https://github.com/Esri/calcite-components/projects/14

#### Which Component
Alert

[2021-05-13 16:34] mitc7862 opened #2137 "Enhancement: Place Action Bar Horizontally"
### Description
- I'd like to be able to place an action bar horizontally.
![image](https://user-images.githubusercontent.com/12564905/118153311-9b960d00-b3ca-11eb-82bb-b0000841cf49.png)
![image](https://user-images.githubusercontent.com/12564905/118156242-fb41e780-b3cd-11eb-9c11-f90d163db56d.png)

### Acceptance Criteria
- action bar can be used within a panel and other dialogs
- action bar can b

[2021-05-13 16:36] bstifle commented on #2137
very dope

[2021-05-13 16:50] caripizza commented on #1274
@bstifle is this issue work already included in the Tailwind/Figma refactor designs? If so can we close this one?

[2021-05-13 17:01] bstifle commented on #1274
Has not been addressed yet

[2021-05-13 17:23] bstifle commented on #1274
@caripizza

affected components

input, select, combobox, checkbox, radio button, radio group, inline editable, switch

and consequently, time picker input, and color picker

[2021-05-13 17:24] bstifle commented on #816
bring addressed in #1274

[2021-05-13 17:24] #816 closed

[2021-05-13 18:00] nwhittaker opened #2138 "Enhancement: Manage bottom margin on labels with inline layout"
### Description
Given a `<calcite-label>` element with an `inline` layout, it is currently difficult to maintain a clean vertical rhythm. The vertical spacing between either itself and the next sibling, or between itself and the bottom of the parent element, becomes disjointed and inconsistent.

Given a grid layout with a vertical gap of `24px`:

[code]

Instead of the expected `24px` between `<ca

[2021-05-13 18:02] caripizza commented on #1282
There is no description in this issue, closing

[2021-05-13 18:02] #1282 closed

[2021-05-13 18:08] caripizza commented on #2136
@jrowlingson would you be able to take on this one?

[2021-05-13 18:12] caripizza opened #2139 "Enhancement: refactor Input to match Figma designs"
### Description
calcite-input needs to match its new designs in Figma.

### Acceptance Criteria
The component appears as it does in Figma.

### Relevant Info
#1500, Figma refactor project: https://github.com/Esri/calcite-components/projects/14

#### Which Components
Input

[2021-05-13 18:14] caripizza opened #2140 "Enhancement: refactor Button to match Figma designs"
### Description
calcite-button needs to match its new designs in Figma.

### Acceptance Criteria
The component appears as it does in Figma.

### Relevant Info
#1500, Figma refactor project: https://github.com/Esri/calcite-components/projects/14

#### Which Component
Button

[2021-05-13 18:15] caripizza commented on #1874
Closing this one since select's RTL styles were fixed in pr #1909.

The other aspect of this issue ("(1)") is that calcite-select has the new Figma refactor (per pr #1719), but calcite-button and calcite-input haven't been refactored yet. This is why the sizes don't match right now (it's not a bug, it's expected).

Here are the follow up issues: #2139, #2140

[2021-05-13 18:15] #1874 closed

[2021-05-13 18:32] AdelheidF opened #2141 "Enhancement: calcite-tile - can't set focus on component"
### Actual Behavior

As a keyboard user when tabbing through the UI it jumps over the `calcite-tile` component. It has an `onClick` action and I can't access it via keyboard navigation.

Focus jumps from the block header (Information) directly to the link (Manage layer properties).

![image](https://user-images.githubusercontent.com/44481292/118169901-52e84f00-b3de-11eb-848c-2f45616d7b0a.png)

###

[2021-05-13 18:34] AdelheidF opened #2142 "Enhancement: calcite-tile add a disabled state option"
### Description

design
![image](https://user-images.githubusercontent.com/44481292/118170530-0bae8e00-b3df-11eb-9f0e-a77e5767ae4b.png)![image](https://user-images.githubusercontent.com/44481292/118170661-3567b500-b3df-11eb-9eb3-c4ae3cd55e57.png)

This is not possible currently.

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2021-05-13 18:36] caripizza commented on #1258
@driskull @jcfranco @julio8a should this one be assigned to a dev?

[2021-05-13 18:37] macandcheese commented on #2141
I’m not sure having a calcite notice be a wholly clickable entity is intended. It can contain a slotted link, or the optional close button can be focused.

Thoughts here @bstifle ?

[2021-05-13 18:38] caripizza opened #2143 "Tailwind: consume npm package for Tailwind config (post v1 release)"
### Description
Calcite-components currently includes its own Tailwind config. Eventually this config should move to our other project (for use in other applications). Then, calcite-components can install the Tailwind configuration via the npm package instead.

### Acceptance Criteria
calcite-components gets its Tailwind configuration from the npm package instead.

### Relevant Info
#1500

[2021-05-13 18:40] AdelheidF commented on #2141
Ideally we'd like to have the close button be replaceable with another action, e.g. the info icon. If the focus goes there, then that's fine.

[2021-05-13 18:41] AdelheidF opened #2144 "Enhancement: calcite-notice - add option to change the close icon to a different action"
### Description

From the story book
![image](https://user-images.githubusercontent.com/44481292/118171050-b58e1a80-b3df-11eb-86e9-e501e734ac37.png)

Design
![image](https://user-images.githubusercontent.com/44481292/118171495-203f5600-b3e0-11eb-98a5-4707893274ca.png)

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2021-05-13 18:43] julio8a commented on #1258
This one might need to be added to the next sprint.

[2021-05-13 18:58] macandcheese commented on #2144
There was a similar request for alert - in my mind a good addition to both notice and alert : https://github.com/Esri/calcite-components/issues/2012#issuecomment-827792704

[2021-05-13 19:00] macandcheese commented on #2141
Makes sense - there was a similar request for alert - attached a related comment to above issue - maybe that one is sufficient and this one can close?

[2021-05-13 19:10] AdelheidF commented on #2141
Still valid for calcite-tile, I updated the description

[2021-05-13 19:42] driskull commented on #1258
Should we have a wiki or readme file for 'areas of responsibility' with a table that has each component listed along side a lead dev, backup dev, PE and designer?

[2021-05-13 19:59] nwhittaker opened #2145 "Bug: calcite loader's `no-padding` attribute has no visible effect"
### Actual Behavior
The position of the visible loader elements remains unchanged when toggling the `<calcite-loader>` element's `no-padding` attribute.

Inside a box of the same dimensions as the loader:

| With `no-padding` | Without `no-padding` |
| - | - |
| <img width="66" alt="Screen Shot 2021-05-13 at 3 47 18 PM" src="https://user-images.githubusercontent.com/421496/118179157-ec295c80-b402-

[2021-05-13 20:06] asangma commented on #2130
Thanks for the correction @bstifle.
Should take much to fix it.

[2021-05-13 20:08] asangma commented on #2062
The border is now removed and shouldn't be an issue anymore.
Please reopen if this persists.

[2021-05-13 20:08] #2062 closed

[2021-05-13 20:12] asangma commented on #1734
@jcfranco I agree. I think we were mimicking the select UX. But looking at it now, it doesn't quite work with pick-list.

[2021-05-13 20:16] bstifle commented on #2130
ok so after talking with julio and adam, i think we did that deliberately........ so maybe its not a mistake. just cant remember when we did that with the X haha.

[2021-05-13 20:55] mitc7862 commented on #2130
@bstifle @julio8a @macandcheese

This looks bad when the popover has more than one or two lines of text in it. Having an X in the corner of a dialog is a convention that's been around since GUI computers have existed… seems odd to decide to do it differently for this, doesn't _look_ very deliberate to me.

Seems like the popover is used more like a dialog (modal, panel etc) and less like an alert

[2021-05-13 20:58] bstifle commented on #2130
![image](https://user-images.githubusercontent.com/14083530/118186977-fa2bad00-b403-11eb-87ba-aac3c681f960.png)

u mean like this? we'd need to require a header at that point

[2021-05-13 21:00] bstifle commented on #2130
and if the header wrapped, youd get this, which to me is just fine

![image](https://user-images.githubusercontent.com/14083530/118187230-4c6cce00-b404-11eb-987a-b219875924e4.png)

[2021-05-13 21:01] mitc7862 commented on #2130
Yeah, that's how header have behaved, so I'd be happy with something that

[2021-05-13 21:02] bstifle commented on #2130
ok then next problem, what if no header?

[2021-05-13 21:05] mitc7862 commented on #2130
Maybe it could revert to what it's currently doing…

Also, not sure what should happen if the image slot id filled.
would the header be above the image or below?
![image](https://user-images.githubusercontent.com/12564905/118187763-42db6a00-b3f4-11eb-886b-b3bbd4e972cd.png)

[2021-05-13 21:07] asangma commented on #1931
@TheBlueDog Maybe this isn't an issue anymore?

[2021-05-13 21:11] bstifle commented on #2130
![image](https://user-images.githubusercontent.com/14083530/118188344-d9fced80-b405-11eb-9cc3-7e582e34705b.png)
would be fine with this

[2021-05-13 21:15] bstifle commented on #2130
![image](https://user-images.githubusercontent.com/14083530/118188667-5bed1680-b406-11eb-800d-3807a7eec890.png)
this fine too. no reservations

[2021-05-13 21:21] AdelheidF commented on #2062
Yes, no more border.

![image](https://user-images.githubusercontent.com/44481292/118189323-79b27f80-b3f6-11eb-8ca1-2c6fe20e0e55.png)

[2021-05-13 21:25] AdelheidF opened #2147 "Bug: calcite-select - down arrow on wrong side in RTL"
This worked correctly with beta.54.
![image](https://user-images.githubusercontent.com/44481292/118189685-f2b1d700-b3f6-11eb-94bc-538b7b8f4255.png)

It no longer works correctly with next.190.
![image](https://user-images.githubusercontent.com/44481292/118189719-fcd3d580-b3f6-11eb-8569-5830c966f63b.png)

https://devext.arcgis.com/apps/mapviewer/index.html?url=https://services1.arcgis.com/4yjifSiIG

[2021-05-13 22:39] caripizza commented on #2147
Noticed this too when calcite-select in rtl has calcite-option-group within it. Thanks for reporting this @AdelheidF.

Just needs to use the rtl class selector to fix this (instead of the attribute):
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-select/calcite-select.scss#L94
[code]

[2021-05-13 22:59] #2127 closed

[2021-05-13 23:10] julio8a commented on #1258
Let's talk about this ^

[2021-05-13 23:20] caripizza opened #2149 "Docs: ensure components have usage/*.md snippets for a11y audit"
### Description
The following components are in line to be audited for Accessibility issues:

1. calcite-button
2. calcite-input
3. calcite-dropdown
4. calcite-label
5. calcite-loader
6. calcite-switch
7. calcite-checkbox
8. calcite-radio-button-group
9. calcite-popover
10. calcite-stepper
11. calcite-tree
12. calcite-action
13. calcite-panel

#### This issue should:
a) Check that each of the abov

[2021-05-13 23:27] caripizza commented on #2149
Out of the list of 13 above, I can see checkbox and radio-button-group have no usage examples in GH yet. The rest from the list do have examples.

I think as far as action items go, we just need to deploy a new static site from beta.54 that includes the updated demo html with these new snippets.

[2021-05-13 23:35] eriklharper commented on #1258
Sounds like a good CC meeting agenda item.

[2021-05-14 15:32] nwhittaker opened #2150 "Docs: `calcite-input` slot name is incorrect"
### Description
The doc shows the `calcite-input` element's slot name as `"calcite-action"`[1]:
<img width="530" alt="Screen Shot 2021-05-14 at 10 43 56 AM" src="https://user-images.githubusercontent.com/421496/118293895-2862c880-b4a8-11eb-9af9-1f5d246479af.png">

However, the code snippets show the slot as `"action"`:
https://github.com/Esri/calcite-components/blob/d8e931421d5d661bf83b32f8396d0b2

[2021-05-14 15:46] caripizza commented on #1097
It looks like Stencil may be able to do this for us in the component .scss files:
https://stenciljs.com/docs/docs-json#css-variables

[2021-05-14 15:55] driskull commented on #1097
Nice, yes lets do that.

[2021-05-14 16:07] nwhittaker opened #2151 "Bug: Clearable, numeric `calcite-input` with empty value not rendering"
### Actual Behavior
A `<calcite-input>` element crashes when initialized with the following attributes: `type="number"`, `clearable`, and `value=""` (or omit `value`). As a result, no input element is shown.

### Expected Behavior
The input element is present.

### Reproduction Steps or Sample
[code]

### Relevant Info
Stack trace:
[code]

_Version_: `@esri/calcite-components@1.0.0-next.192`

[2021-05-14 16:48] nwhittaker opened #2152 "Bug: `calcite-button` with handlebar `href` not linking"
### Actual Behavior
Given a `<calcite-button>` element in an Ember template with an `href` attribute set to a handlebar expression, clicking the button does nothing.

### Expected Behavior
Clicking the button should load the link specified by the handlebar expression.

### Reproduction Steps or Sample
[code]

See https://jsbin.com/dekozigeza/1/edit?html,js,output for a working test case with Ember

[2021-05-14 17:59] caripizza commented on #1020
I just added the layout prop with vertical/horizontal options to calcite-tile-select-group's stories in [pr #2129](https://github.com/Esri/calcite-components/commit/6b11306795722992521380a585b23d3ca5bca270#diff-76fd18f9bc59ea94cb1a711630cc9dc1b58277b25fe4987a188a78db020daf9fR17). Can someone on check it out and close this one if the updated stories suffice?

[2021-05-14 18:10] macandcheese commented on #2131
Yeah this is nice, visual feedback for now is limited to spacing - it would be nice for the space between title / summary text and top of tabs, to match the space from the top of the panel to the top of title / summary area.

Would be curious to see how tabs with long titles (or more than 3) work with scrolling in panels, especially the smaller width instances.

This reminds me of this old request

[2021-05-14 19:09] nwhittaker opened #2153 "Bug: `calcite-link` not linked if `href` defined later"
### Actual Behavior
If a `<calcite-link>` element's `href` attribute is not immediately known (i.e. waiting on resolving the link through a URL shortening service like Bitly), setting the `href` value later has no effect.

### Expected Behavior
After setting the link's `href` attribute, clicking the link works as expected.

### Reproduction Steps or Sample
[code]

1. Run the above snippet.
2. Wait

[2021-05-14 20:45] #1532 closed

[2021-05-14 20:47] #2072 closed

[2021-05-14 20:48] macandcheese commented on #1334
@driskull this was never replicable locally, going to close. Feel free to re-open if it still fails occasionally but this is pretty old now.

[2021-05-14 20:48] #1334 closed

[2021-05-14 20:59] #1015 closed

[2021-05-14 21:01] macandcheese commented on #961
@zaramatheson I think the above was addressed in some past updates - there's now the time picker input, and this PR should disallow entry of text in number input : https://github.com/Esri/calcite-components/pull/2128

[2021-05-14 21:01] #961 closed

[2021-05-14 21:01] macandcheese commented on #994
@bstifle @julio8a - not sure if this is still actionable, feel free to follow up if so.

[2021-05-15 04:54] bstifle commented on #2131
![Frame 6](https://user-images.githubusercontent.com/14083530/118348397-9abac380-b50f-11eb-9e28-cc532bd320e0.png)

@macandcheese some ideas for tab overflow. I prefer the bottom one with the dropdown

[2021-05-15 18:05] macandcheese commented on #2131
Hrm… could it just scroll horizontally? Not ideal but neither is having a ton of tabbed content in a small space. That’s also how tabs currently work - in my mind having an ellipsis w overflow items potentially beneath another overflow menu could get dense.

Maybe we can just make a slight update to the current tabs to have some kind of visual indicator there are more w/in a horizontally scrollabl

[2021-05-17 17:10] driskull opened #2154 "Enhancement: Single util to allow us to call DOM APIs across shadow boundary"
### Description

### Acceptance Criteria

Maybe something like (very rough):

[code]

### Relevant Info

We need to be able to do the following queries:

- querySelector
- querySelectorAll
- closest
- Potentially `getElementById` if we feel the slight performance increase is worth it over using `querySelector(#id)`

All of these will query the shadowDom first then go up the chain using `getRootNod

[2021-05-17 17:12] bstifle commented on #994
The way i see it, we either remove yellow, or go with this gold-brackish color:

![image](https://user-images.githubusercontent.com/14083530/118529138-c81e9180-b708-11eb-8d9c-460c32897ba9.png)

![image](https://user-images.githubusercontent.com/14083530/118529318-00be6b00-b709-11eb-8d4a-9c81f3023d32.png)

keep in mind that only hits 3:1 on white. It would fail on f8f8f8, f3f3f3. and eaeaea.

[2021-05-17 17:15] asangma commented on #863
@bstifle I added a design to the first comment if you wanna have a look.

[2021-05-17 17:23] bstifle commented on #2131
sure that could work. just slap a scrolly on there

[2021-05-17 17:25] macandcheese commented on #863
Designs look good! Would prefer to keep the current custom resize handle if possible since that’s different across browsers without that.

Could you mock-up a built-in character count? Would be nice to include that in a way that played well with the slotted items.

[2021-05-17 17:37] bstifle commented on #2131
![image](https://user-images.githubusercontent.com/14083530/118532553-b212d000-b70c-11eb-9f31-18090381798f.png)

[2021-05-17 17:39] asangma commented on #863
re: custom resize handle.
Sounds good.

re: char count
Whooops! Lemme add that.

[2021-05-17 17:40] bstifle commented on #863
agreed on resize handle!

[2021-05-17 17:44] driskull commented on #2103
@AdelheidF @kevindoshier installed. Can you let me know once 'next' is built?

[2021-05-17 17:54] macandcheese commented on #2131
Yeah, not sure we need comps or anything in figma / sketch since scrolling is already a part of tabs?

In the above, only the tab area would scroll - having the scroll bar under the back button insinuates the whole area is overflow-x.

[2021-05-17 17:55] asangma commented on #863
Updated.

[2021-05-17 17:58] macandcheese commented on #863
Looks good! Maybe an option for “limit” 00 / 00 count. But can work on that later, design wouldn’t change.

Maybe there’s a way to get the resize icon to better align w the items in footer? Open to ideas for updating our custom one as long as it’s something we are displaying for consistency across browsers.

[2021-05-17 18:09] julio8a commented on #994
I don't think there's anything actionable here. We don't want to change it as this is more of a decorative element and should not be relied on for notifying the user.

[2021-05-17 18:09] bstifle commented on #2131
![image](https://user-images.githubusercontent.com/14083530/118536250-1c2d7400-b711-11eb-91a6-bcc0ac8d4624.png)
better closer warmer

[2021-05-17 20:09] AdelheidF commented on #2103
I'm using `next.194` and I still see no tooltips, in all 3 different ways I tried before.

[2021-05-17 20:11] driskull commented on #2103
@AdelheidF do you have a sample I can look up? Maybe this is a separate issue to open.

[2021-05-17 20:20] AdelheidF commented on #2103
[code]

[2021-05-17 20:23] driskull commented on #2103
@AdelheidF can you verify that this line is actually finding the element? `tooltip2.referenceElement = document.getElementById("body-button");`

[2021-05-17 20:29] AdelheidF commented on #2103
I added a timeout now with the same result. I updated the code above for the test case.

[2021-05-17 20:31] caripizza commented on #2039
Related issue: #1845

[2021-05-17 20:33] caripizza commented on #2039
@bstifle how can I reproduce issue 2 from your description?

[2021-05-17 20:38] AdelheidF commented on #2103
I fixed that mistake and the tooltip on the document body is working now. The other 2 ways don't work. This means if the reference button gets removed I have to make sure the tooltip gets removed as well.

[2021-05-17 21:49] asangma commented on #1906
@driskull Started this but could use your help on the keyboard event handling See related PR.

[2021-05-17 21:49] driskull commented on #2103
Ok I have a fix for that I think @AdelheidF. I'll have another PR coming.

[2021-05-17 21:52] asangma commented on #2098
Mind verifying this one?

[2021-05-17 21:52] bstifle commented on #2039
@caripizza
idk if its only on september, but its on the "inside small container" variant on the demo page

![image](https://user-images.githubusercontent.com/14083530/118561160-3dea2380-b730-11eb-99fd-ee345c8a53bc.png)

[2021-05-17 21:52] asangma commented on #2098
@julio8a Mind verifying this one?

[2021-05-17 22:03] bstifle commented on #2098
@asangma should be border-1 #CACACA on idle 😇

[2021-05-17 22:46] driskull commented on #2103
@AdelheidF installed. Let me know once next 196 is available.

[2021-05-17 23:35] caripizza commented on #2039
Got it @bstifle, in that case maybe we can just add `width: 100%;` to the .text class [here](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-date-picker-month-header/calcite-date-picker-month-header.scss#L76) to prevent the header text from wrapping in smaller-width containers.

[2021-05-17 23:42] caripizza commented on #2059
#2114 was just merged. How should we verify this one @driskull ?

[2021-05-17 23:57] jcfranco commented on #2059
I've got a PR coming that will use custom a ESLint rule to catch cases where banned host attributes/props are used. We can verify with that. cc @julio8a

[2021-05-18 00:04] julio8a commented on #2098
Based on Bryan's comment, should I wait to verify then?

[2021-05-18 00:18] patrickarlt opened #2159 "Bug: Expand/Collapse chevrons are wrong in <calcite-action-bar> when position=end"
### Actual Behavior

When <calcite-action-bar position="end"> is set the chevrons point the wrong direction.

### Expected Behavior

Expand chevrons should point right and Collapse chevrons should point left. The chevron alignment should be controlled by `dir` not `position`.

### Reproduction Steps or Sample

1. Go to https://esri.github.io/calcite-components/?path=/story/components-action-bar--b

[2021-05-18 00:19] jcfranco commented on #1097
Moving to the 5/24-6/7 sprint. cc @caripizza

[2021-05-18 00:20] AdelheidF commented on #2103
Nice, all 3 ways are working with next.197.

[2021-05-18 00:33] driskull commented on #2103
Awesome. I'll let @kevindoshier verify as well.

[2021-05-18 00:44] AdelheidF commented on #1747
This must have gotten fixed before `beta.54`, because production is fine too.

![image](https://user-images.githubusercontent.com/44481292/118573440-6aee0480-b737-11eb-81e3-5cc546288837.png)

[2021-05-18 00:44] #1747 closed

[2021-05-18 15:32] janett-baresel commented on #2124
yes this sounds like what i was going for.

We are using the tabs in SV (https://devext.arcgis.com/home/webscene/viewer.html) inside the analysis viewer tool on the right. These tools are a bit complicated because you cannot really use them without a mouse (e.g. measure between 2 points in a scene). Open the measure distance tool and measure something in the scene. Then the tab container shows a U

[2021-05-18 16:27] asangma commented on #1147
ping

[2021-05-18 18:03] asangma commented on #2098
See new PR.

[2021-05-18 18:35] bpatterson88 commented on #2039
@caripizza Added that fix to https://github.com/Esri/calcite-components/pull/2132

[2021-05-18 19:44] #1740 closed

[2021-05-18 20:47] avezina opened #2162 "[Combobox] clear user entered text on blur"
## The description below is outdated and the issue title has been updated accordingly. Please read all the comments below before implementing, specifically https://github.com/Esri/calcite-components/issues/2162#issuecomment-1087759131.

### Description
My team is working on a widget where we need to be able to do multiple selections from a drop-down. For example in the mockup below with the multip

[2021-05-18 20:50] asangma commented on #2098
Updated with border-1

[2021-05-18 20:50] asangma commented on #2098
Thanks for catching that @bstifle!

[2021-05-18 21:40] driskull commented on #2159
@patrickarlt the position property is for when the action-bar is placed on the right or left of the map.

So if it is positioned left, it should point left.

[2021-05-18 21:42] jcfranco opened #2164 "Refactor: invert internal CalciteTree#root prop to conform w/ strict-boolean-attributes rule"
Inverting the value for the internal prop should allow us to restore the disabled rule (see https://github.com/Esri/calcite-components/pull/2163#discussion_r634763485).

cc @driskull

[2021-05-19 00:53] caripizza commented on #2121
Hi @ajoshipuraGH! Just posting an update here that @eriklharper brought up a similar issue up today in Teams. We'll be discussing this theme topic in our Thursday dev sync meeting agenda. Teams discussion is [here](https://teams.microsoft.com/l/message/19:e19ba3a68aa644f4a58f21e345228a61@thread.skype/1621377542616?tenantId=aee6e3c9-711e-4c7c-bd27-04f2307db20d&groupId=56fae21a-9407-4943-859f-a9bfcf

[2021-05-19 02:27] caripizza commented on #2149
Paul clarified the current Netlify pages were the result of him dragging the [`www`](https://stenciljs.com/docs/www) output folder from his local cc build into his Netlify account. (ie., drag and drop auto-deployment.)

This means I just need to a) ensure usage .md snippets exist for the above components (include at least 3 variants each), and that b). those snippets live in the updated demo html

[2021-05-19 14:21] dhatcher opened #2169 "Enhancement: Allow calcite-slider to set direction to rtl"
### Description
We have several use-cases where we would like to use the slider to have users select a minimum value
### Acceptance Criteria
The highlighted portion of the slider starts at the right-hand side.
### Relevant Info

#### Which Component
calcite-slider
#### Example Use Case
User needs to select a minimum value to be accepted in a filter.

[2021-05-19 14:28] macandcheese commented on #2169
Related https://github.com/Esri/calcite-components/issues/720

[2021-05-19 15:28] isaacviel opened #2171 "Bug: tooltip flashes on mobile"
### Actual Behavior

On iOS a button label appears after clicking button

### Expected Behavior

When clicking on this button, I should not see the hover/label

### Reproduction Steps or Sample

On a mobile device/simulator:
1. Navigate to https://master.sites.afd.arcgis.com/pricing/tile-estimator/ (Currently on dev only, prod after 5/20)
2. Click the `<<` icon in the top right to collapse the sid

[2021-05-19 16:02] caripizza opened #2172 "Deprecate "floating" input-message variant"
### Question
Per [this Teams conversation](https://teams.microsoft.com/l/message/19:fd15b51dacd24e70895ec1218a54ae06@thread.skype/1620320832990?tenantId=aee6e3c9-711e-4c7c-bd27-04f2307db20d&groupId=56fae21a-9407-4943-859f-a9bfcf0bbad3&parentMessageId=1620320832990&teamName=Calcite%20Design%20System&channelName=Calcite%20Components&createdTime=1620320832990), the Calcite design team is proposing th

[2021-05-19 16:27] jcfranco commented on #2108
Do we need to test for something internally? With the new `@calcite-components/ban-props-on-host` ESLint rule, `dir` should no longer be allowed on the host, so the above snippet is testing default browser behavior and nothing from the components themselves.

[2021-05-19 16:34] bstifle commented on #1147
pong

[2021-05-19 16:38] caripizza commented on #2108
@jcfranco should I rework the commonTests then? (I only added them to tile, tile-select, and tile-select-group to start)
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-tile-select/calcite-tile-select.e2e.ts#L132

[2021-05-19 16:57] driskull commented on #2171
It seems like this is the tooltip on the expand/collapse. It appears to be showing delayed because the simulator is running very slow.

I'm not sure what we can do to address this.

[2021-05-19 17:02] driskull commented on #2154
@jcfranco what about...

[code]

[2021-05-19 17:10] isaacviel commented on #2171
Thanks @driskull

That's actually just the gif. The conversion from mov to gif really slowed it down which helps see the issue but misrepresents the speed. Even in real-time, the issue is quite obvious as a flash.

[2021-05-19 17:15] jcfranco commented on #2108
Not unless we can find a way to generalize the screenshot diffing you've got there. Maybe we can rely on Screener for this and have each storybook have an RTL story?

[2021-05-19 17:27] driskull commented on #2117
Moving this to next milestone

[2021-05-19 17:38] caripizza commented on #2108
Works for me! I almost created the issue yesterday but ran out of time. Here's the notes I took:

Based on a quick audit of master, these components that were touched in 1831 don't have RTL stories yet and should:
- Button
- Card
- Checkbox
- Date Picker
- Input (story should include Input Message too)
- Input Date Picker
- Label
- Link
- Modal
- Pagination (only has a knob option right now)
- Rad

[2021-05-19 18:16] caripizza commented on #2149
Add robots.txt for no-indexing of Netlify site

[2021-05-19 18:22] jcfranco opened #2173 "Research: Explore automatically generating stories from docs-json build output"
**monday.com sync:** #18048538105

### Background

To improve our storybook workflow, `docs-json.json` could help create stories since it includes metadata for all components.

### Desired Outcome

Have a script that creates stories for all components from `docs-json.json`.

[2021-05-19 18:30] jcfranco opened #2174 "Epic: Introduce comprehensive/testable pattern for demo pages"
### Background

The idea is to have a somewhat repeatable set of layouts so that Screener can read more iterations, and also for better manual auditing since it (should be) easier to scan.

cc @bstifle

### Desired Outcome

For all demo pages to have a consistent layout that will allow Screener and ourselves to visually scan all possible states from components.

### Components that need updated de

[2021-05-19 18:32] bstifle commented on #2174
Initial design direction. The idea for that top bar section is for it to stick, so theme/etc can be changed whenever

![Input](https://user-images.githubusercontent.com/14083530/118865473-97745e80-b8a6-11eb-97d5-c9baca13fb99.png)
![Button](https://user-images.githubusercontent.com/14083530/118865478-98a58b80-b8a6-11eb-8283-e70f78d6fab2.png)
![Alert](https://user-images.githubusercontent.com/140835

[2021-05-19 19:33] bstifle commented on #2039
looks good ben! merge it in!

[2021-05-19 19:33] bpatterson88 commented on #2039
Closed by #2132

[2021-05-19 19:33] #2039 closed

[2021-05-19 19:36] bstifle opened #2175 "Bug: Date-Picker range hover visuals"
1. When hovering for a new range day, and then hovering outside of the "day area" the gray selection becomes square.
- Expected: should be round

<img width="279" alt="Screen Shot 2021-05-19 at 2 32 33 PM" src="https://user-images.githubusercontent.com/14083530/118873330-3e5cf880-b8af-11eb-9e35-53c559f2f98c.png">

2. When hovering for the second click of the range, blue bleeds through the hover st

[2021-05-19 20:30] driskull commented on #2171
I think the issue is that when clicking it, it focuses it which triggers the tooltip to show.

[2021-05-19 20:48] bstifle commented on #2162
Hi @avezina !

The dropdown seems like unnecessary redundancy. In this use case, can we just remove the dropdown and rely on the checkboxes?

[2021-05-19 20:54] isaacviel commented on #2171
Yeah, it seems like that's the issue for sure. Thanks @driskull

[2021-05-19 21:06] jcfranco opened #2177 "Tooling: Set up Screener to test against demo pages"
## Summary

With https://github.com/Esri/calcite-components/issues/2174, we'll want to include those pages into Screener's testing routine to improve testing of visual regressions.

We could use this as a first step towards https://github.com/Esri/calcite-components/issues/2019.

## Measure of Success

Demo pages are included as part of the Screener screenshot test suite.

### Resources

N/A

[2021-05-19 21:27] bpatterson88 commented on #2041
Taking on avatar

[2021-05-19 21:40] nwhittaker opened #2178 "Bug: Modal loses buttons on re-render"
A common pattern in Ember is to dynamically add and remove templates as needed. Applying this pattern to the `calcite-modal` component exposes an issue where the slotted button elements visually disappear on subsequent re-renders.

### Actual Behavior
| First render | Second render |
| - | - |
| <img width="866" alt="Screen Shot 2021-05-19 at 5 31 22 PM" src="https://user-images.githubusercontent.

[2021-05-19 21:45] caripizza commented on #2178
@nwhittaker thank you for this really well documented bug report.

[2021-05-19 21:49] caripizza commented on #2175
@bstifle can you clarify if this one is different than behavior from #1845?

[2021-05-19 21:49] nwhittaker opened #2179 "Docs: Modal events fire when animations ends"
### Description
Both the `calciteModalClose` and `calciteModalOpen` events are documented as firing when their respective animations begin. However, in code, they both fire when their respective animations end.

### Which Component
`<calcite-modal>`

### Resources
https://github.com/Esri/calcite-components/blob/52045a8229c4b26c6ccde5497fd3546b2bbb7d25/src/components/calcite-modal/calcite-modal.tsx

[2021-05-19 21:53] caripizza commented on #2175
Description should use the Bug issue template:
https://raw.githubusercontent.com/Esri/calcite-components/master/.github/ISSUE_TEMPLATE/bug.md

[2021-05-19 22:17] bstifle commented on #2175
similar behavior. but that #1845 issue isn't an issue anymore on master. ill close it

[2021-05-19 22:18] bstifle commented on #1845
this seems to have been resolved. @julio8a  can you verify on master?

[2021-05-19 22:51] julio8a commented on #1845
Verified on master. closing.

[2021-05-19 22:51] #1845 closed

[2021-05-19 23:43] AdelheidF opened #2180 "Enhancement: calcite-flow should detect calcite-panels within custom components"
### Description + Relevant Info + Example Use Case
Currently the custom `arcgis-filter` Stencil component includes a `calcite-panel`. This works fine if the filter component is used directly from inside a `calcite-shell-panel`.
![image](https://user-images.githubusercontent.com/44481292/118897150-8f281d80-b8be-11eb-9c35-bc44174393d4.png)

Sometimes though we want to use the filter component as par

[2021-05-20 00:03] #1957 closed

[2021-05-20 00:17] #1497 closed

[2021-05-20 06:50] driskull commented on #2179
related to #2074

[2021-05-20 06:53] driskull commented on #2180
@AdelheidF do you have a sample?

Looking at the code, it should work fine as long as the panels are not within the filter's shadowRoot.

[2021-05-20 14:18] caripizza commented on #2151
According to the prop's documentation, only calcite-input of `type="textarea"` should NOT support the clearable property:
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-input/calcite-input.tsx#L65

Which types of input need to support this property? @eriklharper @macandcheese do either of you know by chance?

[2021-05-20 14:34] macandcheese commented on #2151
It should definitely support number, the docs seem right there (as well as showing by default for the notes types). Seems like this happens only when the number input has a certain set of initial attributes?

[2021-05-20 15:57] jcfranco commented on #2033
Depends on #2125.

[2021-05-20 17:07] AdelheidF commented on #2180
No sample right now, but I will need this again in a little bit. Will report back then. Last time we tried it we didn't get it to work, but that's already a bit time ago.

[2021-05-20 17:48] jcfranco opened #2184 "Research: Minify "dist" distributable"
### Background

Currently, `calcite.js` from the "dist" output include whitespace and comments: https://unpkg.com/browse/@esri/calcite-components@1.0.0-next.202/dist/calcite/calcite.js. This file can be compressed a little more.

### Desired Outcome

Completely minified `calcite.js` in the dist output.

[2021-05-20 17:57] paulcpederson opened #2185 "Bug: Allow updating tab programatically"
### Actual Behavior

Setting `.active` on a tab title doesn't update the blue active underline position

### Expected Behavior

Setting active to a new tab should mark that tab as active and move the underline.

### Reproduction Steps or Sample

https://codepen.io/paulcp/pen/WNpoJdW

### Relevant Info

I think a watcher on the active prop of a tab should update location of underline.

_Version_: a

[2021-05-20 18:04] eriklharper commented on #2151
@nwhittaker I can't reproduce this locally in `@esri/calcite-components`'s dev server, but I am noticing issues when rendering the self-closing tag, which is not supported for custom elements, so your code should render the input like `<calcite-input type="number" clearable></calcite-input>`.

Could you post a Codepen or something that shows this specific error that you're seeing?

[2021-05-20 18:48] macandcheese opened #2186 "Enhancement: Button - Document "pass through"
### Description

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2021-05-20 18:54] macandcheese opened #2187 "Enhancement: Button / Link - Document "pass through" Anchor Props"
### Description
Currently we spread attributes to a rendered child anchor based on the presence of a 'href' attribute. We should stop the practice of blindly spreading these, and instead document the available attributes.

It seems like the three attributes we need to document are `rel`, `target`, `href`, but we should validate / verify we don't need to allow any other.

This practice follows Sten

[2021-05-20 19:16] eriklharper opened #2188 "Enhancement: change calcite-label's layout="inline" to use layout="horizontal""
### Description

To keep terminology consistent with other components, `calcite-label` should use the term "horizontal" to describe laying out slotted content as opposed to "inline".  This probably should also apply to `inline-space-between`, so the correct wording should be `horizontal-space-between`.

### Acceptance Criteria

`calcite-label`'s `layout` property should support the values `horizon

[2021-05-20 19:20] eriklharper opened #2189 "Bug: deprecate usage of the non-standard theme attribute"
### Actual Behavior

[code]

### Expected Behavior

[code]

We should be using a CSS class to set the theme variables instead of the non-standard HTML attribute "theme".  We will probably also need to set a `--calcite-theme-name` or similarly named CSS variable so components know what the current theme is set to.

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-c

[2021-05-21 00:00] caripizza commented on #2149
Verified deployment with Paul, and replied back to Jessica's email. Let her know that LA can start testing using the more up to date version of the project. (It's now closest to `@esri/calcite-components@1.0.0-next.202` from [today's merge](https://github.com/Esri/calcite-components/tree/9f1ec3c1e0ffd784eec089a55b0b535c1f1c3a7c)). Closing this out.

[2021-05-21 00:00] #2149 closed

[2021-05-21 00:04] caripizza commented on #1431
@bstifle does this one still apply?

[2021-05-21 00:15] caripizza commented on #2059
Verified on master by running `npm run lint:ts` locally. The only error was related to setupTests:
[code]

Marking this one verified and closing per Sprint planning conversation.

[2021-05-21 00:15] #2059 closed

[2021-05-21 00:21] caripizza commented on #1737
Verified on my local [master](https://github.com/Esri/calcite-components/tree/d1a104b371287cbe7dd46722aeb0ff50907f73a8) branch by searching for `theme=` in `*.scss` files. The only results now are:
[code]

Verified and closing.

[2021-05-21 00:21] #1737 closed

[2021-05-21 15:49] julio8a commented on #2098
Nice! thank @asangma. Verified on master.

[2021-05-21 15:49] #2098 closed

[2021-05-21 16:00] caripizza commented on #1230
Adding an update that Tile Select's rtl UI appears properly mirrored on page render. It's just using default browser behavior when text direction is rtl. In pr #2129 I added RTL stories to all Tile components which shows the UIs on render:

![image](https://user-images.githubusercontent.com/42423180/119165596-821c4300-ba12-11eb-9148-ce018ebd67c3.png)
![image](https://user-images.githubusercontent.

[2021-05-21 16:00] #1230 closed

[2021-05-21 17:13] driskull opened #2193 "Enhancement: color picker swatch theme lookup"
### Description

It seems this is the only component that looks up the theme to do something. Is it possible to refactor this logic to grab a CSS variable instead of looking up the theme?

[code]

### Acceptance Criteria

Instead of storing the colors in TS, the colors are just stored as a theme variable in CSS and grabbed to be set onto the svg?

### Relevant Info

[code]

#### Which Component

c

[2021-05-21 17:15] driskull commented on #2193
There may even be an existing css variable for border we can just use

[2021-05-21 17:32] bstifle commented on #1431
Yes i believe so!

[2021-05-21 18:00] caripizza commented on #2193
Good question @driskull seems doable to me. This also plays into @paulcpederson's [comment](https://github.com/Esri/calcite-components/pull/2114/files#r633891806) from #1737, and other thoughts I had about what semi-transparent background colors we want to offer.

Right now, we're using a bunch of alpha colors as CSS variables in the global stylesheet for theming. Should we just add a new alpha co

[2021-05-21 18:09] driskull commented on #2193
Actually, there is one more component doing something similar. Avatar uses theme to render a background.

https://github.com/Esri/calcite-components/blob/master/src/components/calcite-avatar/calcite-avatar.tsx#L112

[2021-05-21 18:12] paulcpederson commented on #2193
Avatar could probably look up closest element based on the new class as well and use that in it's logic?

[2021-05-21 18:14] caripizza commented on #2193
Yeah, maybe just reference the existing color properties from: `calcite-colors/dist/colors.d.ts`

The way this file does: .storybook/utils.tsx
[code]

[2021-05-21 18:24] driskull commented on #2193
Yeah. I'll create a dom util for lookup. Closest isn't' great if there is no class at all and it has to go through shadow root.

[2021-05-21 18:27] paulcpederson commented on #2193
Isn't closest how `getElementDir` works? Pretty sure we do that for most components...

[2021-05-21 18:29] lpaniccia-crown commented on #2189
If this moves to CSS, I'd love to have the option to match the user's system automatically with the prefers-color-scheme media query. Possibly with something like this:
`<div class="calcite-theme--auto"></div>`

[2021-05-21 18:37] driskull commented on #2189
yeah that would be possible as well.

[2021-05-21 19:05] macandcheese commented on #2189
+1, this would be a great addition !

[2021-05-21 19:08] driskull commented on #2193
Yeah. I wonder if its more performant to get the computed style of the component instead of going up the DOM? closest also has to cross shadow boundaries.

[2021-05-21 19:12] caripizza commented on #2108
I'll remove the rtl tests since they're just testing the browser default and we have the new ESLint rule, which checks for `dir` attribute on the host.

I'll also remove the experimental screenshot tests from the test script. (We'll rely on Screener stories for the screenshot testing moving forward, since we get the added benefit of their detailed regression information like the way style changes

[2021-05-21 19:15] paulcpederson commented on #2193
IIRC `getComputedStyle` forces a reflow which is a super costly operation for the browser, but I think we'd have to benchmark it to really know.

[2021-05-21 20:16] macandcheese commented on #1934
Can this support being used on it's own as a display swatch? It would also be nice if this could support displaying a set of values (ie for a gradient), and having that be a clickable entity w/out an entry field.

[2021-05-21 22:32] paulcpederson opened #2196 "Bug: Calcite Tree in input-enabled mode fires select twice when label is clicked"
### Actual Behavior

calciteTreeSelect event is fired twice

### Expected Behavior

calciteTreeSelect event should be fired once

### Reproduction Steps or Sample

1. go to https://codepen.io/paulcp/pen/GRWWoLx?editors=1111
2. click the _text_ of the first tree option to select it
3. notice the console has two logs that are identical

[2021-05-21 22:33] bstifle commented on #1934
yeah display would be dope. and gradient/ramps would be cool, somethin like this:

![image](https://user-images.githubusercontent.com/14083530/119204249-984df180-ba5a-11eb-8402-8fcf488d7b57.png)

[2021-05-21 22:34] paulcpederson commented on #2196
/cc @ptmdmusique

[2021-05-24 01:59] #381 closed

[2021-05-24 15:41] jcfranco commented on #2122
Installed.

@jul11557 Could you help verify w/ `next` (should deploy in a little bit)?

[2021-05-24 15:43] jcfranco commented on #2122
Actually, we have a release coming out today, so you could also verify w/ the updated docs page. I'll let you know when it rolls out. Thanks!

[2021-05-24 15:43] jul11557 commented on #2122
Awesome, thanks! Yes, I'll help verify when it's ready.

[2021-05-24 15:45] jcfranco commented on #1734
Installed!

@AdelheidF Can you help verify this one w/ `next` (deploying soon)?

[2021-05-24 17:21] jcfranco commented on #2171
@isaacviel This was installed last week. Can you help verify w/ `next`?

[2021-05-24 17:23] jcfranco commented on #2164
Verified locally!

[2021-05-24 17:23] #2164 closed

[2021-05-24 17:49] isaacviel commented on #2171
You bet. Where exactly should I be testing?

[2021-05-24 17:56] jcfranco commented on #2122
@jul11557 Docs page are updated now. Here's the color-picker story for verification: https://esri.github.io/calcite-components/?path=/story/components-controls-colorpicker--simple

[2021-05-24 18:03] jul11557 commented on #2122
@jcfranco Verified — exactly what I was looking for. Works great!

[2021-05-24 18:09] jcfranco commented on #2122
Awesome, thanks!

[2021-05-24 18:09] #2122 closed

[2021-05-24 18:15] jcfranco commented on #2171
If possible, could you update the tile-estimator app to use the latest release?

[2021-05-24 18:45] jcfranco opened #2199 "Research: Usage of CSS custom prop to define the theme"
### Background

Currently, developers have to explicitly set a class to specify the theme. It would be useful to support theme selection via a CSS prop. This would allow specifying the theme within another stylesheet.

cc @driskull

### Desired Outcome

Theming via CSS prop.

[2021-05-24 18:48] isaacviel commented on #2171
Thanks @jcfranco. We're hoping to be upgraded to the lasted version this week. I'll test as soon as we have an environment up.

cc @noahmulfinger

[2021-05-24 18:52] jcfranco commented on #2171
Sounds good. I'll go ahead and close this as self-verified then since our sprint is done. Please submit a new issue if you find anything else to address.

[2021-05-24 18:52] jcfranco commented on #2171
Closing as self-verified.

[2021-05-24 18:52] #2171 closed

[2021-05-24 18:54] julio8a commented on #1145
Talked with Franco and closing this now. Open up follow-ups if anything else comes up.

[2021-05-24 18:54] #1145 closed

[2021-05-24 20:11] AdelheidF commented on #1734
Cool, that works now.

A side note, it's kind of weird to me that I can use the down arrows on the title, but not on the (focused) icon at the end. When I use the down arrows on the icon the list just scrolls and my focus scrolls out of view eventually.

[2021-05-24 20:12] bpatterson88 commented on #2041
The avatar component renders at 40x40 in the codebase, but is 44x44 in Figma. Assuming the Figma version has the correct dimensions, should that be addressed as part of this issue?

[2021-05-24 20:15] jcfranco commented on #1734
@AdelheidF Thanks for verifying!

@asangma ☝🏼

[2021-05-25 13:35] andreasulmer opened #2203 "Bug: Select component arrow right-aligned in RTL"
### Actual Behavior
With `document.dir= "rtl"`, the triangle button to open the select options appears on the right.
![image](https://user-images.githubusercontent.com/25357523/119506729-7ad89a80-bd6e-11eb-9d87-d07f2a9ec531.png)

### Expected Behavior

The triangle should appear on the left

### Reproduction Steps or Sample

https://zrh-app-sd-2.esri.com/arcgis-play/f/yEV-

### Relevant Info

* Re

[2021-05-25 14:33] asangma commented on #2199
#### Naming suggestion
I suggest if we use BEM here, that we don't use "dark" and "light" as modifiers.
e.g. we should not do this: `calcite-theme--dark` and `calcite-theme--light`.

My thought here is that this assumes a `calcite-theme` which is modified to be dark or light. We could consider one of the themes to be the default so `calcite-theme` would be e.g. "dark" and the `--light` modifier wo

[2021-05-25 14:45] hccampos opened #2204 "Bug: error when using calcite-radio-group with Maquette.js (in JS API)"
### Actual Behavior

Creating a simple `calcite-radio-group` with Maquette.js triggers an exception and prevents the component from working:

![Screen Shot 2021-05-25 at 15 33 11](https://user-images.githubusercontent.com/3759114/119517881-4a95f980-bd78-11eb-9b1d-c39cf5130381.jpg)

### Expected Behavior

- The component should work normally.

### Reproduction Steps or Sample

Happens with a simple

[2021-05-25 14:57] jcfranco commented on #1831
Verified locally using custom `@calcite-components/ban-props-on-host' ESLint rule. The RTL Screener work will be tackled by https://github.com/Esri/calcite-components/issues/2108.

[2021-05-25 14:57] #1831 closed

[2021-05-25 16:20] isaacviel commented on #2171
@jcfranco this is still happening only the label is white now.

Here's a test from our Calcite Components v55 preview site:

https://user-images.githubusercontent.com/3312529/119533083-5b277f00-bd3a-11eb-949b-d5b066cbe260.mov

[2021-05-25 21:46] ffaubry opened #2208 "Enhancement: Expose calcite-filter or equivalent with improvements"
### Description

value-list implies that the data to be filtered are the value-list-items.
My issue is that my collection of value-list-items are coming from a service.
As the user types a word in the value-list filter component (calcite-filter), I would like to use the word and query the service and then update the value-list-items based on the result.

In that sense, it is not really about 'filt

[2021-05-25 23:17] dhrumil83 opened #2209 "Enhancement: Provide additional filter options for calcite-value-list"
### Description
We have the search filter, but also need the ability for additional filter that can be applied via slot="menu-actions"

### Acceptance Criteria
Potential solution could be for client to provide filter methods for each action in the menu.

### Relevant Info

#### Which Component
calcite-value-list, calcite-value-list-item and calxite-filter

#### Example Use Case
![attr](https://use

[2021-05-25 23:30] jcfranco commented on #1530
@lau11123 Do you have an isolate repro case with the pick list? The list component seems to be working as expected on my end.

[2021-05-25 23:37] AdelheidF commented on #2209
FYI, in the filter component we currently use the simple filter (just the input line) with a menu for sorting. Do we want to update this eventually to add the fancy filter too? If so, how would we make this work then?
I'd love to have the option to filter for number or string fields there.

<img src=https://user-images.githubusercontent.com/44481292/119580728-d4909300-bd75-11eb-868c-d8982e12824d.p

[2021-05-25 23:44] bpatterson88 opened #2210 "Calcite-Tree: drag-and-drop"
**monday.com sync:** #9469746373

Blocked by: #4854

### Description

As part of supporting responsive layouts in Dashboards, we are introducing a new UI surface for manipulating elements. This surface is essentially an expandable/collapsable tree structure that acts as an entry point for a number of editing workflows. The best component for this use case is `calcite-tree`, but it needs several en

[2021-05-26 07:27] driskull commented on #2199
Sounds good Alan.

[2021-05-26 07:30] driskull commented on #2199
Using a class seems like the right way.

How would a css variable adjust the selectors? I'm not sure how that would work but doesn't sound right

[2021-05-26 21:57] bstifle opened #2216 "Bug: X icons in close buttons should hover/press to ui-text-1 color"
When hovering over close buttons in CC, the X icon should change color to ui-text-1

Popover, Modal, Alert, Notice, Input (clear X) ((would affect inline-editable))

![image](https://user-images.githubusercontent.com/14083530/119736508-6b775100-be43-11eb-8080-7e33d90ccbe5.png)

[2021-05-26 23:27] jcfranco commented on #1530
Moving to backlog until we get a reproducible test case. cc @julio8a

[2021-05-27 00:09] asangma commented on #2130
I set it up to do what it currently does when there's no heading (and thus no header).
I think the header-less design still works with the close button mimicking what Notice does.

re: image.
There's no image slot.

[2021-05-27 00:20] asangma commented on #2130
re: image.
There's no image slot.
That being said, a user can an image into the default slot and set its width to 100%, and it works nicely.

*ignore the heading size and weight here and the lack of border*
<img src="https://user-images.githubusercontent.com/12503298/119746932-77b0dd80-be46-11eb-8f64-c22b3395fcda.png" width="400" />

[2021-05-27 00:30] jcfranco commented on #2141
@macandcheese Can you confirm if the tile should always be focusable, regardless of whether it has a link or not? Or is this specifically for the 'has link' case?

[2021-05-27 00:40] jcfranco commented on #2121
@ajoshipuraGH I believe this landed in the [previous release](https://github.com/Esri/calcite-components/blob/master/CHANGELOG.md#100-beta55-2021-05-24). Could you test using the updated `.calcite-theme--light` & `.calcite-theme--dark` classes?

[2021-05-27 00:50] macandcheese commented on #2141
I don’t think it should be focusable without a link - there’s no possible interaction there AFAIK.

[2021-05-27 01:18] AdelheidF commented on #2141
What if we want the entire tile clickable

![image](https://user-images.githubusercontent.com/44481292/119750690-af238800-be4e-11eb-8146-7971adf8c6c5.png)

[2021-05-27 02:44] bstifle commented on #2141
that is currently possible! @AdelheidF

[2021-05-27 05:18] AdelheidF commented on #2141
yes, but I can't set the focus on the tile. The focus jumps over the tile when using keyboard navigation. As a keyboard user I could never execute the click event on the tile because the tile never get the focus.

<img src=https://user-images.githubusercontent.com/44481292/119769477-5ca69380-be6f-11eb-988c-5e32379af9ad.png width=250/>

[2021-05-27 13:07] TheBlueDog commented on #2133
Follow

[2021-05-27 13:09] TheBlueDog commented on #2133
Follow

[2021-05-27 14:38] asangma commented on #2123
cc @AdelheidF Installed. :)

[2021-05-27 16:39] asangma opened #2223 "Enhancement: Popover "close-button" property should be "dismissible""
### Description
Popover uses the property `close-button` to turn on its close button.
Notice and Panel use `dismissible`.

Suggest deprecating `close-button` on Popover and using `dismissible`.

### Acceptance Criteria
Don't break stuff.

### Relevant Info

#### Which Component
Popover

#### Example Use Case
"I want to use Calcite Components and use the same prop to do the same thing in different

[2021-05-27 16:44] #1671 closed

[2021-05-27 17:14] ethanbdev commented on #1775
This looks good - I can't add labels but verified it

[2021-05-27 17:14] #1775 closed

[2021-05-27 17:29] jcfranco commented on #2184
Depends on https://github.com/ionic-team/stencil/issues/2911

[2021-05-27 17:31] bstifle opened #2224 "Enhancement: Slider needs Small and Large scales"
Slider needs small and large scales!

Figma designs:
https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=0%3A15235

[2021-05-27 18:19] eriklharper commented on #1775
Ah yes, we removed built-in label support as part of #2148 .   Same for checkbox: #2161.

Usage looks like this now for both radio and checkbox:

[code]

[code]

[2021-05-27 20:01] ethanbdev commented on #1775
Sorry, I mean I cannot add the "verified" label to the issue itself :)

[2021-05-27 20:08] eriklharper commented on #1775
😆 wrong label, lol!

[2021-05-27 23:02] asangma commented on #2130
@bstifle Mind verifying this one?

[2021-05-27 23:37] jcfranco commented on #2108
☝🏼  will be addressed by #2228

[2021-05-28 00:05] AdelheidF commented on #2123
Looks good. Thank you.

![image](https://user-images.githubusercontent.com/44481292/119911205-afcf2380-bf0d-11eb-8502-5cc84c000062.png)

[2021-05-28 00:05] #2123 closed

[2021-05-28 00:10] AdelheidF commented on #2130
Tested with next.209

Now it doesn't set the focus anymore on the close button. This worked before this update.

calcite-tile
![image](https://user-images.githubusercontent.com/44481292/119911321-f6bd1900-bf0d-11eb-9a91-06e4b95d816e.png)

div
![image](https://user-images.githubusercontent.com/44481292/119911463-308e1f80-bf0e-11eb-8d01-2cc1b51d19b9.png)

[2021-05-28 13:53] hccampos opened #2230 "A11y: [calcite-color-picker] - "ghost" focus ring when hue is set to 0 or 360"
### Summary

### Actual Behavior

When setting the hue to 0 or 360, the component ends up with a focus ring in the middle, as shown in the following image:
![Screen Shot 2021-05-28 at 14 44 15](https://user-images.githubusercontent.com/3759114/119993868-5974ea00-bfcc-11eb-93c2-2d6305a79253.jpg)

Could be related to https://github.com/Esri/calcite-components/issues/1297

### Expected Behavior

The

[2021-05-28 14:36] asangma commented on #2130
@AdelheidF Thanks for catching the focus issue. I may need some help from @jcfranco or @driskull on that one.

[2021-05-28 15:06] asangma opened #2232 "Enhancement: Refactor BlockSection design and spacing"
### Description
Refactor BlockSection to use Label.

### Acceptance Criteria
Don't break stuff.

### Relevant Info
Current implementation allows switch and text to be misaligned.
![image](https://user-images.githubusercontent.com/12503298/120004292-6d4c2c00-bf8b-11eb-9d26-09dc73e89c13.png)

#### Which Component
BlockSection

#### Example Use Case
All of them.

[2021-05-28 16:10] bstifle opened #2233 "Bug: Chip Hover state wrong on light theme"
### Actual Behavior
using wrong hover state, looks like its using dark theme's hover state overlay.

![image](https://user-images.githubusercontent.com/14083530/120012748-86fa6d00-bfa5-11eb-8e24-5e46cb7cc513.png)
![image](https://user-images.githubusercontent.com/14083530/120012763-8d88e480-bfa5-11eb-98b8-4f947c0a3cdf.png)

### Expected Behavior
Should be darker, like the `clear` chips

![image](h

[2021-05-28 16:43] andreasulmer opened #2234 "Enhancement: Option to make Modal closable by clicking outside the dialog"
### Description

Most modal web dialogs have the option to be closed by clicking outside the dialog, with the same behavior as clicking ✖, or pressing Esc. Calcite Modal does not provide this functionality.
It would ideally be configurable, the boolean could be called `disable-outside-close` (similar to `disable-escape`).

### Acceptance Criteria
Dialog closes when user clicks (or touches) outside

[2021-05-28 16:58] bstifle commented on #2234
**100% yes**

[2021-05-28 17:45] jcfranco commented on #1756
Installed.

[2021-05-28 17:45] jcfranco commented on #1756
@rslibed Can you help verify this one on `@next` when it updates?

[2021-05-28 18:30] AdelheidF commented on #2130
I tried `popover.heading` and wrapped the content text in a `calcite-label`. This did not work correctly because `calcite-label` didn't add the `<label>` element and so the styling is off. Is this expected?

<img src=https://user-images.githubusercontent.com/44481292/120027238-f96c4c80-bfa7-11eb-9466-5dcbbb325b33.png
 width=750/>

If I use a `div` as the content of the popover and copy the styles

[2021-05-28 21:06] jcfranco commented on #1957
@eriklharper Was this closed intentionally?

[2021-05-28 23:03] bstifle commented on #2233
fixed with #2229

[2021-05-28 23:03] #2233 closed

[2021-06-01 02:14] #2020 closed

[2021-06-01 17:02] jcfranco commented on #2108
Above PR is installed. 🎉

[2021-06-01 17:14] macandcheese opened #2241 "Docs: Enhance auto-generated documentation content"
### Description
To support https://github.com/ArcGIS/afd-calcite-documentation/issues/165, we need to improve / add to the auto-generated documentation per component. These improvements will also help fill out the readme files on GH.

There are some holes in the auto-generated documentation, mostly when the documentation is referencing a typed interface or content from a resource file. Some exampl

[2021-06-01 17:34] eriklharper commented on #1957
Yes, it was closed as per the linked PR, is that not correct?

[2021-06-01 17:48] ptmdmusique opened #2242 "Bug: Calcite Popover positions itself off the modal rather than the screen when using with Calcite Modal on Firefox and Safari"
### Actual Behavior

Calcite Popover has an additional offset based on the modal position if it's created inside the modal.
This happens on FIrefox and Safari but works on Chrome

### Expected Behavior

Calcite Popover should be positioned based on the screen on Firefox and Safari

### Reproduction Steps or Sample

1. Go to https://codepen.io/ptmdmusique/pen/QWbQNjN
2. Notice how the popover has a

[2021-06-01 17:49] ptmdmusique commented on #2242
cc @paulcpederson

[2021-06-01 18:00] jcfranco commented on #1957
We shouldn't be closing via PR/commits, since we want someone to verify an issue is fixed before closing it and to set the appropriate labels. cc @caripizza

[2021-06-01 18:04] eriklharper commented on #1957
Makes sense, I guess I did actually close it, since I assume its not getting closed automatically anymore on merged linked PRs?

[2021-06-01 18:09] caripizza commented on #2241
Related issue: #1097

@macandcheese when you have a moment, can you add in the docs-json data you're referring to here for clarity on each bullet point?

[2021-06-01 18:17] dhatcher commented on #720
Is there any update on when this might be able to be implemented/looked into?

[2021-06-01 18:19] jcfranco commented on #720
Hi @dhatcher. This is scheduled for the current sprint, so we're looking at having it land by 6/7.

[2021-06-01 18:28] macandcheese commented on #2241
Sure, here are some current data shapes from that file. As long as the content is present in the file we can display it consistently in the docs site.

Events without detail example (pagination):

[code]

Props without default values (TEXT.nextLabel):
[code]

For the tree example - it's just formatted differently than other acceptable values (scale vs selection mode here)

[code]

[2021-06-01 18:36] macandcheese opened #2243 "Docs: Use correct button order in Storybook"
### Description

Currently we are not using the correct button order in a few of our component examples in Storybook. We should update these to match the correct button order based on our placement documentation : https://developers.arcgis.com/calcite-design-system/components/button/

Correct example:
Modal : https://esri.github.io/calcite-components/?path=/story/components-modal--simple

### Whic

[2021-06-01 19:27] AdelheidF opened #2244 "Bug: calcite-block-section horizontal alignment issues"
Using next.210 but can reproduce with beta.54.

I would expect the text and toggle button to be horizontally aligned.
![image](https://user-images.githubusercontent.com/44481292/120379125-271d0280-c2d4-11eb-9875-6b0efeb5b7dd.png)![image](https://user-images.githubusercontent.com/44481292/120378797-baa20380-c2d3-11eb-833c-ae7fa9d4a450.png)

With a multi-line text the toggle is in a weird place, not

[2021-06-01 21:36] AdelheidF commented on #1228
Still an issue. I removed the `scale=s` prop from the first calcite-input here. The surrounding `calcite-block-section` has a `scale=s` prop.

![image](https://user-images.githubusercontent.com/44481292/120393198-648a8b80-c2e6-11eb-8b5d-692ccd18b8d8.png)

[2021-06-01 21:47] macandcheese commented on #2244
Possible duplicate of https://github.com/Esri/calcite-components/issues/2232 ?

[2021-06-01 21:49] #2244 closed

[2021-06-01 22:22] jcfranco commented on #1097
@asangma Is this on your radar for this sprint?

[2021-06-01 22:56] bpatterson88 opened #2245 "Enhancement: Add support for tabs in panel header"
### Description

Currently, placing tabs inside a panel header disrupts the padding and overall layout. The panel header should be updated to better support tabs and, potentially, other similar components.

Example of current UI:
![Screen Shot 2021-06-01 at 3 48 30 PM](https://user-images.githubusercontent.com/15875886/120399418-d5cf3c00-c2f0-11eb-8a6f-0f4f7dcf34a6.png)

### Acceptance Criteria

U

[2021-06-01 22:58] macandcheese commented on #2245
Related? https://github.com/Esri/calcite-components/issues/2131

[2021-06-01 23:01] bpatterson88 commented on #2245
Yep closing in favor of that one. Thanks!

[2021-06-01 23:01] #2245 closed

[2021-06-01 23:04] bpatterson88 commented on #2131
Placing tabs in the panel header is a requirement for the new Arcade editor. It looks like the "Tabs only" option would work for our needs, but we would probably want the option to use medium tabs rather than large.

Current UI:
![Screen Shot 2021-06-01 at 3 48 30 PM](https://user-images.githubusercontent.com/15875886/120400437-ba653080-c2f2-11eb-84de-1569c4676f33.png)

What we'd like:
![Screen Sh

[2021-06-02 15:12] #1513 closed

[2021-06-02 16:15] asangma commented on #2130
@AdelheidF This might need to be a different issue. Right now, the default slot of Popover is left unstyled to avoid conflict. A general solution for this might be a utility class or content component, but it's probably outside the scope of this issue.

[2021-06-02 16:16] asangma commented on #2130
@driskull Could use some help with the close button focus.

[2021-06-02 16:20] macandcheese commented on #2130
`calcite-label` isn't really meant to be used for displaying just text, instead it should be used when wrapping a control. Agree with Alan this could probably just be handled by styling a div or p tag with utility classes.

[2021-06-02 16:44] jcfranco commented on #2121
I'm going to go ahead and close this one based on ☝🏼 . @ajoshipuraGH Please reopen if this needs following-up.

[2021-06-02 16:44] #2121 closed

[2021-06-02 17:39] macandcheese opened #2248 "refactor: progress - Add progressbar role"
### Question
Should we be using the native progress element within the `calcite-progress` component?

### Helpful Details
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress

progressbar aria role: https://w3c.github.io/aria/#progressbar

[2021-06-02 17:48] macandcheese opened #2249 "New Component: Meter"
### Description
A consistently formatted and styled meter component that leverages the native meter element.

#### User Stories
Consistently display data limits, quotas, disc space, etc.

Can also be useful for item completeness, profile "filled out" progression messaging, etc.

### Helpful Details
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meter

Adobe Spectrum's implementation: ht

[2021-06-02 18:24] caripizza commented on #2203
Closing in favor of #2147

[2021-06-02 18:24] #2203 closed

[2021-06-02 18:33] macandcheese commented on #733
@bpatterson88 - this functionality should be available in the Combobox component - can you check to see if that satisfies this issue?

[2021-06-02 19:59] bpatterson88 commented on #733
Looks like it does. Closing.

[2021-06-02 19:59] #733 closed

[2021-06-02 21:20] asangma commented on #863
@julio8a @caripizza Pinging y'all for triaging this one.

[2021-06-02 21:23] julio8a commented on #863
Thx Alan! @jcfranco and I will be doing triage.

[2021-06-03 01:16] caripizza commented on #2243
Taking this one as a part of pr #2251, since I'm already modifying these components' RTL stories.

[2021-06-03 02:14] #1506 closed

[2021-06-03 14:16] asangma commented on #2117
@julio8a @caripizza Could use this sooner rather than later. :)

[2021-06-03 14:17] asangma commented on #2004
This project might be dependent on #2117

[2021-06-03 14:20] asangma commented on #863
Would be nice to have this available early enough for integration and testing for the ArcGIS Online 9.3 release.

[2021-06-03 15:46] driskull commented on #2199
@asangma can you create an issue to rename the theme classes?

[2021-06-03 15:59] AdelheidF opened #2254 "Enhancement: calcite-value-list + filter more events?"
### Description

From @dhrumil83

![image](https://user-images.githubusercontent.com/44481292/120675020-8bad9e00-c449-11eb-9306-78783ee62892.png)

Updated design for multi select on attributes, has the regular filter + additional filter via numbers, integers, strings and date.
https://www.figma.com/file/jqVQ2vzkumTI7wVf3eQMv1/Multiple-fields-formatting

Here is the issue:
Workflow attached.
Once u

[2021-06-03 16:11] driskull commented on #2130
@asangma you probably need to call setFocus instead of focus here now that is an action. https://github.com/Esri/calcite-components/blob/3c2d9a4f2e85548fc34f23ccc1bc51c2b26e6594/src/components/calcite-popover/calcite-popover.tsx#L220

[2021-06-03 16:32] nwhittaker opened #2255 "Bug: `mouseover` listener fired twice on buttons with tooltips"
### Actual Behavior
If a button has a tooltip, any user-land `mouseover` listener/handler on a `<calcite-button>` element is triggered twice when mousing onto the button.

The events passed to the listeners are almost identical except for differing `composedPath()` values:

|  | First event | Second event |
| - | - | - |
| **composedPath()** | `[calcite-button, ...]` | `[button, document-fragment,

[2021-06-03 16:50] julio8a commented on #2117
@jcfranco and I will be triaging issues tomorrow.

[2021-06-03 17:09] driskull commented on #2117
@asangma I'll start prioritizing it! Should start on it end of this week or early next week. Sorry for the delays.

[2021-06-03 17:46] driskull commented on #2255
@nwhittaker no events are added to the buttons, only to the `calcite-tooltip-manager` gets events. It doesn't seem like this is related. Maybe something related to the calcite-button itself?

[2021-06-03 17:47] driskull commented on #2254
I think we can either:

- Expose an event for when a filter is done so a user can further filter items
- Allow for a function to be called to filter more items.

[2021-06-03 17:52] driskull commented on #2209
duplicate of #2254

[2021-06-03 17:53] driskull commented on #2199
I think this is how the HTML gods intended things to be.

going to close, feel free to reopen if there are some ideas on how this would work.

[2021-06-03 17:53] #2199 closed

[2021-06-03 18:09] driskull commented on #2255
@nwhittaker I think this is as expected because the tooltip manager uses capture events.

[2021-06-03 18:34] nwhittaker commented on #2255
I would agree there's something special about the interplay between `calcite-tooltip-manager` and a `calcite-button`. If I replace the button w/ something else, like a link, I don't see the handlers fired twice.

If it was expected, wouldn't the handlers fire twice for non-button elements too?

[2021-06-03 18:36] driskull commented on #2255
Its probably the way calcite-button is spreading attributes to the internal tag. Probably happening on the host and the internal button.

[2021-06-03 18:37] driskull commented on #2255
#2187

[2021-06-03 18:38] driskull commented on #2187
related to #1579

[2021-06-03 18:38] driskull commented on #2187
@julio8a I think we should increase the priority of getting rid of the spreading attributes to internal children.

[2021-06-03 18:39] jcfranco opened #2256 "Refactor: Use calciteInternal prefix for internal events"
### Description

For clarity and to minimize unintentional usage, internal events should:

1. be renamed to use the `calciteInternal` prefix to make it easier to distinguish between internal/external events. Most internal events should be identifiable by the `@internal` JSDoc tag.
2. be stopped from propagating when handled.

Sidebar, an ESLint rule can be authored to catch all internal events tha

[2021-06-03 18:43] asangma commented on #2117
Yeet!

[2021-06-03 18:45] driskull commented on #2004
Should this be more generic like `ListMenu` and `ListMenuItem`? Does it need to be tied to flow? I'm thinking it might have uses outside of the flow component.

[2021-06-03 19:08] macandcheese commented on #2004
Agreed. This kind of pattern is commonly called a drillin or drilldown:

https://get.foundation/sites/docs/drilldown-menu.html

[2021-06-03 20:36] AdelheidF commented on #2209
from @driskull

I think we can either:

Expose an event for when a filter is done so a user can further filter items
Allow for a function to be called to filter more items.

[2021-06-03 20:36] AdelheidF commented on #2254
duplicate of https://github.com/Esri/calcite-components/issues/2209

[2021-06-03 20:36] #2254 closed

[2021-06-03 20:45] bstifle opened #2258 "Enhancement: Value list and Pick list, change summary font to Avenir"
### Description
Change Summary font in Value list and Pick list from monospace to avenir-regular (400)

#### Which Component
Value list and Pick list

![image](https://user-images.githubusercontent.com/14083530/120709661-bd8f2680-c482-11eb-8b19-75adbcefd6ed.png)

[2021-06-03 21:22] paulcpederson opened #2259 "A11y: No label for calcite-tile-select-group in screen reader"
### Summary

When using a `calcite-tile-select-group` the text present in the tile is not read by the screen reader.

### Actual Behavior

Screen reader reads "radio button, 1 of 4"

### Expected Behavior

Screen reader should announce "TEXT OF TILE, radio button, 1 of 4"

### Reproduction Steps

1. Go to calcite select group story
2. turn on voiceOver

### Relevant Info

This presents in Apple Vo

[2021-06-03 23:48] caripizza commented on #2193
Adding an update that this one was resolved via Matt's `getThemeName` addition in pr #2194, marking this installed.

[2021-06-04 00:41] Csmith246 commented on #2178
I've also noticed this behavior of the footer buttons disappearing. If you need another repro example, you can setup and run this project locally: https://github.com/Csmith246/calcite-4x-widget-sandbox

[2021-06-04 00:46] rslibed commented on #1756
Verified on v1.0.0-next.215. Title of modal is being read when modal is opened. Closing issue.

[2021-06-04 00:46] #1756 closed

[2021-06-04 00:47] jcfranco commented on #1756
Thanks, @rslibed!

[2021-06-04 03:45] julio8a commented on #2258
This should be connected to the refactor project. I think @mike9959 might be working on these for the refactor.

[2021-06-04 13:58] bsnider opened #2260 "Bug: Calcite Components incompatible with Webpack 5"
### Actual Behavior

I am trying to incorporate Calcite Components into a Webpack 5 app.  After following the steps outlined in the readme and then serving the app, I get the following error:

`[webpack-cli] TypeError: compiler.plugin is not a function
    at StencilPlugin.apply (C:\projects\R9-CentralBasin\node_modules\@stencil\webpack\dist\index.js:14:18)
    at createCompiler (C:\projects\R9-Ce

[2021-06-04 14:40] asangma commented on #2130
Thanks @driskull!

[2021-06-04 14:45] asangma opened #2261 "Enhancement: Block (and maybe BlockSection) - add status property and appropriate icon to header"
### Description
Add a property to Block that aligns with the Notice and Input status states.
Use the icon property/slot to show appropriate icons for states.

### Acceptance Criteria
* use existing statuses
* use existing same icons

### Relevant Info

#### Which Component
Block and BlockSection

#### Example Use Case
An input or something inside a Block is in an error or warning state...it needs

[2021-06-04 14:47] asangma commented on #2261
Could use this in time for 9.3.
cc @CodeBarker

[2021-06-04 15:05] TheBlueDog commented on #2131
After doing some experimenting with adding tabs to existing panel header patters, got talking with @bpatterson88 and his need is for scale. Neither of our use cases have a need for Heading/Summary in addition to the tabs.

Proposing a simpler solution to implement... this would include the options for back button, actions, and dismiss-able.  There would be a new scale property for the header compo

[2021-06-04 15:48] caripizza opened #2262 "Docs: remove `theme` attribute from demo html and stories, use classes"
### Description
This is a follow on to #2189. Now that pr #2194 is in, and we are deprecating the usage of `theme="light"` and `theme="dark"` attributes for hooking into a theme, we need to update our resources:

1. remove theme attribute from demo html pages
2. remove theme attribute from component stories

Refactors should instead use the new `.calcite-theme-light` or `.calcite-theme-dark` class

[2021-06-04 16:12] jcfranco commented on #1530
@lau11123 Closing per our conversation. This was an issue on the wrapping component side.

[2021-06-04 16:12] #1530 closed

[2021-06-04 16:17] bstifle commented on #2131
The horizontal misalignment of the text and icons is painful. If we are gonna build these into the component, let's increase the margin between the active line and the tab text to be centered

[2021-06-04 16:26] asangma commented on #1097
@jcfranco I won't be able to get to this for the 6/7 sprint.

[2021-06-04 16:40] asangma commented on #2131
Not sure that Panel needs a specific slot for Tabs.
Seems like you could put Tabs in the default slot of Panel.
![image](https://user-images.githubusercontent.com/12503298/120835187-d64a1b80-c518-11eb-8ec0-39060482e8b5.png)

[2021-06-04 16:43] asangma commented on #2131
Also, if you don't add a `heading` or `summary`, the Header node doesn't render, so you build the tabs inside the default slot.
![image](https://user-images.githubusercontent.com/12503298/120835578-5c666200-c519-11eb-9c1d-f3fe1c37bd01.png)

[2021-06-04 16:45] asangma commented on #2131
I also think that the Panel would probably need to manage the tab navigation.
Or Tabs would need to be reworked to be able to let the tab nav manage tab content that is in a different node.
This is because Panel's header is one node, and Panel's content is another node.

[2021-06-04 17:47] jcfranco commented on #2144
@macandcheese Would users expect the info icon to close it?

[2021-06-04 17:49] AdelheidF commented on #2144
The info icon opens a popover. It will never be closed in this use case.

[2021-06-04 17:50] macandcheese commented on #2144
I don't think so... it would also likely be any Calcite UI Icon so somewhat up to the implementer?

[2021-06-04 17:53] jcfranco commented on #2144
@AdelheidF Thanks for clarifying.

@macandcheese Would there be a use case for a trailing icon next to the close button? If so, we could add an icon-end slot and still allow it to be dismissed if necessary.

[2021-06-04 17:56] macandcheese commented on #2144
That was the ask in the issue linked above https://github.com/Esri/calcite-components/issues/2012#issuecomment-827792704 - slot makes sense for having a tooltip, if we can style the border to and limit size of slotted icon to match that of the appened "x"

[2021-06-04 18:02] jcfranco commented on #2144
Awesome. I think that will work. To recap, this should:

* add an icon-end slot for `calcite-action`s
  * placed before the close icon
  * close icon can be independently toggled via `dismissed`
  * styling should match the designs from the comment you linked above.

Does the above seem correct? Did I miss anything?

[2021-06-04 18:05] macandcheese commented on #2144
Seems good to me!

[2021-06-04 18:16] jcfranco commented on #2260
@bsnider Thanks for reporting this. Could you provide us with a repro case showing your webpack configuration?

[2021-06-04 18:21] TheBlueDog commented on #2131
@asangma You thinking that a tabbed would need to be its own standalone component?

[2021-06-04 18:29] jcfranco commented on #2113
I find `icon-start`/`icon-end` a bit misleading, since `start` is more of on top. Would there be cases where you'd need both the top and end icons?

[2021-06-04 18:51] julio8a commented on #947
Calcite is under the Esri MLA and not open source. The repository and NPM point to the license file in the repository.

Please let me know if there are any questions about this.

[2021-06-04 19:18] bstifle commented on #2144
![Uploading shia best part.png…]()
do it

[2021-06-04 19:18] bstifle commented on #2144
<img width="432" alt="shia best part" src="https://user-images.githubusercontent.com/14083530/120852403-c691fd80-c53f-11eb-9377-57fd2726923e.png">
do it

[2021-06-04 19:27] TheBlueDog commented on #2131
Examples of how the scaled versions would look. This would require a change in the spacing of tabs, such that the label centers itself vertically in the space.

![Screen Shot 2021-06-04 at 2 49 24 PM](https://user-images.githubusercontent.com/5419306/120853145-39ec3d00-c549-11eb-9267-853b0c01c117.png)
![Screen Shot 2021-06-04 at 2 49 33 PM](https://user-images.githubusercontent.com/5419306/1208531

[2021-06-04 20:19] macandcheese commented on #2131
Tabs already scroll horizontally when the space is too small to accommodate all the items.

Because this is utilizing an existing back button in the header I think the designs should solve for also having a header text lockup, since that is already present, even if unneeded from these two use cases. Seems weird to not make that available imo

[2021-06-04 20:20] bstifle commented on #2131
agreed. we should have all the possible variations accounted for

[2021-06-04 20:25] bstifle commented on #2131
the alternative would be making this it's own component. but not sure that's necessary

[2021-06-04 21:01] driskull commented on #2262
For the stories, how do we want to proceed? Do we want a knob for the theme class? Or do we just want each story to have another "dark" theme story?

[2021-06-04 21:09] caripizza commented on #2262
I vote actual dark theme story for Screener screenshot tests if we can (like the RTL ones)

[2021-06-04 21:17] caripizza commented on #2262
Do you think it'd be good to keep the existing theme knobs in place too?

[2021-06-04 21:24] driskull commented on #2262
I'm not sure about the knobs. We would have to use a class which is kind of an odd knob.

[2021-06-04 23:20] eriklharper opened #2266 "Enhancement: add calciteTileSelectGroupChange event"
### Description

Rather than relying on internal events like `calciteRadioButtonChange` and `calciteCheckboxChange`, the `calcite-tile-select-group` component should emit its own change event.

### Acceptance Criteria

`calcite-tile-select-group` emits its own custom event.

### Relevant Info

#### Which Component

`calcite-tile-select-group`

#### Example Use Case

#### Related

https://github.co

[2021-06-04 23:21] #1113 closed

[2021-06-04 23:21] eriklharper commented on #1113
Closing in favor of https://github.com/Esri/calcite-components/issues/2266

[2021-06-05 00:01] driskull commented on #2262
I'm wondering if we should just remove both knobs for `theme` and `dir` and just have something to automatically generate `dark` and `RTL` stories for every story we create? This would give screener better coverage and be more automatic so that we only have to create unique stories. It would have to automatically export a const for dark/RTL

What do you think @jcfranco?

[2021-06-05 00:02] asangma commented on #2130
@driskull Still having some trouble here. Let me know if you have time Monday to look at it.

[2021-06-05 00:03] driskull commented on #2130
Yeah sounds good

[2021-06-06 13:27] TheBlueDog commented on #2131
I'm wondering if there's a true use case for Header + Summary + Tabs. Would there be scaled versions of those?

[2021-06-07 13:55] hccampos opened #2267 "A11y: [calcite-color-picker] - focus should be set on the color field"
### Summary
Currently, calling `setFocus` on a `<calcite-color-picker>` sets the focus on the `hexInputNode` but that the first focusable element in the component is the color field.

### Actual Behavior
- Calling `setFocus` on a `<calcite-color-picker>` sets the focus on the `hexInputNode`.
- Furthermore, if `.setFocus()` is called immediately after creating the color picker, the hex input won't

[2021-06-07 14:35] macandcheese commented on #2131
A use case the docs site has is for the tabs to represent knob groups, with a title on top as in the comps.

Currently we are using blocks but tabs will help us save verticals space if this enhancement becomes available with a title and description area.

[2021-06-07 16:09] jcfranco commented on #720
Apologies, I didn't get a chance to wrap this up by today. I'll push it to the next spring (starts today) and will shoot for this week.

[2021-06-07 16:45] bstifle commented on #2249
gonna jump on this design this week

[2021-06-07 16:47] hccampos opened #2268 "Bug: calcite-dropdown throws errors on open (bad items array)"
### Actual Behavior

When opening a dropdown, an error is thrown:
[code]
As a consequence, no item is focused and other things like the `max-items` attribute fail.

### Expected Behavior

No errors should be thrown when opening the dropdown. Furthermore, the list of items should be rebuilt when needed, rather than only when the component gets loaded.

### Reproduction Steps or Sample

Could not re

[2021-06-07 17:20] previnWong opened #2269 "Bug: Calcite Flow not found in dist of calcite in JS API"
### Actual Behavior

In the calcite distributable in node modules in JS API, calcite flow is missing.  See screenshot below
![image](https://user-images.githubusercontent.com/11183838/121062509-ff1d1b80-c779-11eb-9c2e-775ce65072b7.png)

### Expected Behavior

A js file should exists in this folder for FLOW.

### Reproduction Steps or Sample

1.  Look under this directory and Calcite Flow is missin

[2021-06-07 17:50] paulcpederson commented on #2249
Here's a couple other versions of this UI from Online:

<img width="368" alt="Screen Shot 2021-06-07 at 10 48 25 AM" src="https://user-images.githubusercontent.com/1031758/121065743-f595b280-c77d-11eb-807b-272774bf2457.png">

<img width="502" alt="Screen Shot 2021-06-07 at 10 48 09 AM" src="https://user-images.githubusercontent.com/1031758/121065772-faf2fd00-c77d-11eb-9407-18a6c68947ba.png">

[2021-06-07 18:11] jcfranco commented on #2269
Installed. This will be available in `@next` and today's (later) release.

[2021-06-07 18:24] jcfranco commented on #2091
Changed the title, milestone and priority of this one since it's not an unstable test.

[2021-06-07 18:25] caripizza commented on #2268
Related: #2026

[2021-06-07 22:38] asangma commented on #2131
The main issue at hand (as I understand it) is an alignment issue.
Seems like we could solve this by matching spacing, font-size, and font-weight between CalciteTabTitle and CalcitePanel's header contents.

As far as the actions, seems like we can leverage our existing "actions-end" (and if need be "actions-start") slot pattern that we're using in a number of other components.

We can also add an

[2021-06-07 23:12] eriklharper commented on #2189
@driskull can this issue be closed now?

[2021-06-07 23:17] driskull commented on #2189
Assigned to @caripizza . Don't want to verify my own issue.

[2021-06-07 23:21] #407 closed

[2021-06-07 23:36] asangma commented on #2130
setFocus for "close-button" should be working now.
@driskull Added you as an assignee if you feel like verfeeing.

[2021-06-07 23:40] asangma opened #2273 "Enhancement: ActionMenu - close menu when item is selected"
### Description
From a [previous PR](https://github.com/Esri/calcite-components/pull/2157#issuecomment-853999405):
By default, close the ActionMenu when an item is selected.
We probably don't need a property to override this default.

### Acceptance Criteria
Keyboard accessibility.

### Relevant Info

#### Which Component
ActionMenu

#### Example Use Case
Selecting an item from the menu.

[2021-06-07 23:53] bstifle commented on #2249
![image](https://user-images.githubusercontent.com/14083530/121101447-788c2c80-c7c1-11eb-8038-616e6256122e.png)
![image](https://user-images.githubusercontent.com/14083530/121101458-7f1aa400-c7c1-11eb-8d51-41d073836219.png)
![image](https://user-images.githubusercontent.com/14083530/121101487-8b066600-c7c1-11eb-84a7-4ab3a80886e4.png)

Initial designs. any thoughts/additions/concerns lemme know!

[2021-06-08 00:33] driskull commented on #2117
@asangma about the "hit area". What should hitting the hit area do? Should each list item automatically have a hit area (button)? or should it depend on a property?

Should hitting the hit area toggle a property or just emit an event?

[2021-06-08 00:57] caripizza commented on #2185
I'm going to take a stab at this one alongside #803

[2021-06-08 11:12] TheBlueDog commented on #2131
After discussion with @asangma, I'm going to explore using tabs without a header or panel. As mentioned above, this may result in an enhancement to the tabs component instead.

[2021-06-08 14:51] asangma commented on #2117
re: hit area.
Good questions.

I def think ListItem should have a hit area by default. It's primarily an interactive component. For read-only content, a user can use

Here are my thoughts:
- ListItem should have a hit area by default as it should primarily enable _interaction_.
  - we should add a prop to disable that hit area
  - not sure whether prop should be something like `hit-area-enabled` d

[2021-06-08 14:55] asangma commented on #2004
Related #2117

[2021-06-08 14:57] asangma commented on #2004
@driskull

It might be useful to have a basic FlowMenuItem wrapper around ListItem.
As we can see in the example above, we can quickly see inconsistencies in something as simple as the size of the chevron icon. Might also be useful to have a "flow" or "drill-in" event...?

[2021-06-08 15:40] macandcheese commented on #2007
Closing as we will be removing this variant in #2172

[2021-06-08 15:40] #2007 closed

[2021-06-08 16:18] jcfranco commented on #2269
Closing as verified based on https://unpkg.com/browse/@esri/calcite-components@1.0.0-next.219/dist/custom-elements/bundles/.

[2021-06-08 16:18] #2269 closed

[2021-06-08 16:20] jcfranco commented on #1906
@AdelheidF This is installed. Can you help verify this one? 🙇🏼‍♂️

[2021-06-08 16:33] macandcheese commented on #2131
@TheBlueDog can you provide visual examples of the intended workflow? Tough to see what the result of that discussion is without some visuals for everyone to see.

[2021-06-08 16:36] driskull commented on #2004
@asangma what I mean is that it doesn't need to be called "calcite-flow-menu". It can be more generic like "calcite-drill-in"

[2021-06-08 16:39] macandcheese commented on #2004
Yes... we should take every opportunity to use human-readable / standard UX nomenclature for our components. Someone new to the system will be looking for "drill-in" not "flow-menu-item".

[2021-06-08 16:42] driskull commented on #2004
Yeah, it's one of the issues I have with ValueList/PickList => they are not standard UI terms.

[2021-06-08 16:45] driskull commented on #2117
I'm hearing that we need a selectable prop? It would be better to add the functionality rather than remove it. What do you think?

[2021-06-08 17:14] caripizza commented on #2108
After checking latest beta.56 docs, all components now have RTL stories in our Storybook, except:
- _Avatar, Loader (no visual different in RTL, so they don't need one)_
- **Progress**, **Slider** (AFAIK, these don't have RTL support yet, so they need support first then we can add stories)
- **Input Time Picker**, **Scrim** (these need RTL stories)

[2021-06-08 17:36] #2189 closed

[2021-06-08 17:36] #2262 closed

[2021-06-08 17:37] #2243 closed

[2021-06-08 17:39] caripizza commented on #2147
Hi @AdelheidF this was installed in beta.56, and is ready for your verification.

[2021-06-08 18:06] driskull commented on #2242
If you give that test div a position of relative it fixes it.

[code]

I'm not sure if 'modal' needs to do some slotted selector to do that but that fixes the issue.

[2021-06-08 18:31] caripizza commented on #2151
@nwhittaker I think this was fixed as of beta.56 as a part of Erik's time-picker feature. Can you confirm?

(If you agree, I'll remove the [BUG comments](https://github.com/Esri/calcite-components/blob/master/src/demos/calcite-input.html#L231) I had added in the demo calcite-input.html page.)

[2021-06-08 18:42] ptmdmusique commented on #2242
That fixes it! But there is still an overflow issue
![image](https://user-images.githubusercontent.com/37349324/121239580-4379eb80-c84e-11eb-9222-d7d80d2f5e98.png)

I'm checking the popper js doc and wondering if it's possible to expose `preventOverflow` mentioned [here](https://popper.js.org/docs/v2/modifiers/prevent-overflow/) ❓

[2021-06-08 18:48] AdelheidF commented on #1906
tested with beta.56

![image](https://user-images.githubusercontent.com/44481292/121240493-41fcf300-c84f-11eb-8dcf-7413f1747557.png)

The focus box is back, pointer is gone, but corners are still round.

[2021-06-08 18:48] #1906 closed

[2021-06-08 18:50] AdelheidF commented on #2147
tested with beta.56, it's fine now.

![image](https://user-images.githubusercontent.com/44481292/121240841-a15b0300-c84f-11eb-941d-9f4e274ec18e.png)

[2021-06-08 18:50] #2147 closed

[2021-06-08 18:57] driskull commented on #2242
We can potentially do that later down the road. 👍  I'm hesitant to do it right now because it opens a lot of options for that and makes the API more complex.

For now, can you just size the content inside the popover so that its not so wide?

[code]

[2021-06-08 19:32] ptmdmusique commented on #2242
I think we can try doing that `preventOverflow` as a boolean and see if it works

Also, I'm wondering if we can make the popover children of `body` instead because it escapes all the context problems overall (I _think_)

[2021-06-08 19:51] AdelheidF commented on #2130
Focus is working again, thanks.

[2021-06-08 19:51] #2130 closed

[2021-06-08 19:51] caripizza commented on #2041
Adding a note that I'm taking on the tabs portion of this issue as a part of 803

[2021-06-08 20:08] jcfranco commented on #1500
Will this also cover renaming `color` props to `status` or something more indicative of its intent? I landed onto this issue from https://github.com/Esri/calcite-components/issues/1220, but I don't see mention of this here. Let me know if we need to break this off into a separate issue. cc @asangma

[2021-06-08 20:19] nwhittaker commented on #2151
@caripizza, it looks good in my jsbin -- thanks for following up.

[2021-06-08 20:34] ptmdmusique commented on #2242
Ah that would works!

What do you think about this case

[2021-06-08 21:03] driskull commented on #2242
For that, the easiest solution would be to place the popover outside of the modal.

[2021-06-08 21:21] caripizza commented on #1500
@jcfranco not included in this one, no. I'll review that work with @bstifle and @macandcheese, then we'll create a new issue to address.

[2021-06-08 21:31] jcfranco commented on #1500
@caripizza Awesome, thanks!

[2021-06-08 21:34] jcfranco commented on #2108
Closing as verified. @caripizza Can you create a follow-up issue for ☝🏼 ? 🙇🏼‍♂️

[2021-06-08 21:34] #2108 closed

[2021-06-08 21:39] jcfranco commented on #2178
Installed.

@nwhittaker @Csmith246 Could you help verify this one? Thanks!