[2021-07-16 19:09] #2327 closed

[2021-07-16 19:10] TheBlueDog commented on #1460
Still valid

[2021-07-16 19:38] eriklharper commented on #2403
As a memory optimization we usually set refs on a class method or static function instead of an inline arrow function in the render method, that way the function isn't getting run on every render.  I'm wondering if that _could_ have an impact on what `node` is in the ref callback.

So instead of
[code]

We would do

[code]

I'm wondering if just doing that resolves the issue.

[2021-07-16 20:07] ManahariDahal opened #2561 "Enhancement: calcite-combobox demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-combobox following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- Combobox design should encompass the Figma HTML demo page

### Relevant Info
- The calcite-combobox demo page should have all the variants

#### Which Component
calcite-combobox

[2021-07-16 20:34] AdelheidF commented on #2403
Just tried it and it does not solve the issue.

[2021-07-16 20:47] asangma commented on #2459
@jcfranco Was able to bang this out. Hope that's all right.

[2021-07-16 20:52] AdelheidF commented on #2327
Looks good, tested with next.245.

[2021-07-16 21:07] bstifle commented on #1081
yep let's close it in favor of #2469

[2021-07-16 21:07] #1081 closed

[2021-07-16 21:13] bstifle commented on #2088
yeah this is redundant

[2021-07-16 21:15] bstifle commented on #1547
@julio8a yes still valid. Mike Stinson is working on it with his PR #2502

[2021-07-16 21:16] bstifle commented on #1549
Yes, keep open, needs development

[2021-07-16 21:52] jcfranco commented on #2403
I missed the above comments and was about to suggest the same. Based on https://reactjs.org/docs/refs-and-the-dom.html#caveats-with-callback-refs, anonymous ref functions would be called twice (first w/ null). I thought this would be the issue since it did fix it in my local testing.

[2021-07-16 22:02] jcfranco commented on #2437
Installed!

[2021-07-16 22:03] jcfranco commented on #2437
@joeyHarig Can you help verify once this gets deployed to `@next`? 🙇🏼‍♂️

[2021-07-16 22:05] jcfranco commented on #2357
Installed!

[2021-07-16 22:09] ManahariDahal commented on #2436
Ready to verify!

[2021-07-16 22:51] jcfranco commented on #2459
@asangma 💥💪💥

[2021-07-16 23:11] julio8a commented on #2436
The PR is not `installed` yet.

[2021-07-16 23:19] jcfranco commented on #2357
@julio8a Can you help verify this one? You can use https://codepen.io/jcfranco/pen/poPPwQq?editors=1000

[2021-07-16 23:24] julio8a commented on #2357
verified!

[2021-07-16 23:24] #2357 closed

[2021-07-16 23:31] julio8a commented on #2436
Verified on master, very nice work!

[2021-07-16 23:31] #2436 closed

[2021-07-17 00:06] jcfranco commented on #2060
Verified with issue test case.

[2021-07-17 00:06] #2060 closed

[2021-07-17 00:37] babakbolour commented on #1475
@julio8a ok. will have @raje9276 look at this and comment back.

[2021-07-19 15:15] bstifle opened #2566 "Bug: selected and hover dropdown no longer have an ellipse visible"
### Actual Behavior
No longer a visible ellipse. The icon update in #2485 must have caused a bug

![image](https://user-images.githubusercontent.com/14083530/126183653-e9e7d69e-61aa-4dc3-96fa-44b0a84d2637.png)

### Expected Behavior

Hover and selected need to have an ellipse:
![image](https://user-images.githubusercontent.com/14083530/126183865-0a896cfc-e166-4a3c-84ae-8df5671f702b.png)

hover col

[2021-07-19 15:22] bstifle commented on #1431
Hmm. Not seeing these shadows in our components @caripizza @julio8a

[2021-07-19 15:29] julio8a commented on #2566
Since it's a new version of the icon library, you need to run 'npm i' so it downloads the latest icons.

[2021-07-19 15:33] caripizza commented on #1431
@bstifle do the shadows appear in the Figma designs that we're using for the refactors?

[2021-07-19 16:37] AdelheidF commented on #2209
Once implemented, could you add an example like the one above to the doc so it's clear how to use it? Thanks!

[2021-07-19 16:49] bstifle commented on #1431
@caripizza yep! i wonder if this is just a shadows utility class we need to fix? other than the shadows, the other design criteria seem to be met in the issue

[2021-07-19 16:52] bstifle commented on #2209
will need to consider this for the new filter input design as well:
#1549

[2021-07-19 17:18] joeyHarig commented on #2437
@jcfranco Just verified that the issue has been resolved.

[2021-07-19 17:35] asangma commented on #2209
I think we should explore making the chips part of the Filter and representing text searches as chips.
I will make a mockup to demonstrate more clearly.
But the intention is to help clarify that that typing "shape" into the search input filters based on title/description. Other custom filters, e.g. from the fancy filter, could pushed to the stack of chips.

This would be a more UI-y version of wha

[2021-07-19 17:35] jcfranco commented on #2437
Awesome, thanks!

[2021-07-19 17:36] #2437 closed

[2021-07-19 17:42] caripizza commented on #2420
This one can be verified once we cut a new beta release today

[2021-07-19 18:19] caripizza commented on #2566
I can't replicate this issue, I see the bullet just fine on master:

![image](https://user-images.githubusercontent.com/42423180/126207908-9ac9d07a-f99b-48eb-911e-c40c3b254ca3.png)

@bstifle let me know if I'm missing something here!

[2021-07-19 18:37] jcfranco commented on #2291
Closing as self-verified.

@zaramatheson Please open a new issue if anything new comes up. Thanks!

[2021-07-19 18:37] #2291 closed

[2021-07-19 18:38] jcfranco commented on #2216
Moving to the next sprint. @julio8a Feel free to adjust the sprint if needed.

[2021-07-19 19:05] gpbmike commented on #834
This work is ready for review across two PRs (#2562, #2568). I'm blocked by lack of permissions in the calcite-components repository. If someone with permission would like to use my work, that's A-OK with me.

[2021-07-19 19:06] julio8a commented on #2566
@bstifle since it is a new icon from a new release you need to run￼ npm i

[2021-07-19 19:13] gpbmike opened #2569 "Bug: calcite-slider histogram does not line up with slider"
### Actual Behavior

![image](https://user-images.githubusercontent.com/8754/126213954-bfd94407-0303-4533-bcd1-c37700a9521b.png)

https://esri.github.io/calcite-components/?path=/story/components-controls-slider--histogram

The histogram extends beyond the slider. The range indicators on the histogram do not line up with the slider.

### Expected Behavior

Histogram and range indicators should lin

[2021-07-19 19:18] bstifle commented on #2566
WHOOPSIE

i see it now, thanks Julio

[2021-07-19 19:18] #2566 closed

[2021-07-19 19:36] julio8a commented on #834
@gpbmike, you should be good on the permissions now, can you check?

[2021-07-19 19:52] #2459 closed

[2021-07-19 20:15] jcfranco opened #2570 "Epic: Shadow DOM for all components"
Components should avoid using scoped styles as they are not ideal for the following reasons:

1. VDOM integration – VDOMs have their representation of the DOM tree that can potentially clash with any elements within the scoped component's 'internal' HTML structure
2. Breaks encapsulation
   a. Component internal elements are exposed in light DOM queries
   b. Scoped CSS is prone to being overridde

[2021-07-19 20:18] jcfranco commented on #2422
Installed!

@joeyHarig Can you help verify this one once `@next` updates?

[2021-07-19 23:05] joeyHarig commented on #2422
@jcfranco Verified! Thanks for your help

[2021-07-19 23:47] eriklharper commented on #2331
Not sure if this is a bug more so than it might be a feature request because the entered value will format correctly when the input box loses focus.

Is the requirement that the colon should be added and the value format updated on every keypress in the input box?

I avoided implementing it this way because I found the UX jarring while I was typing to see characters I hadn't typed being put in the

[2021-07-19 23:51] eriklharper commented on #2330
@AdelheidF  which browser/OS are you seeing this behavior?  I've tested this on Brave (Chromium), Chrome, Safari and Firefox on MacOS and it doesn't do this.

[2021-07-20 00:13] jcfranco commented on #2422
No problem and thank **you** for verifying. 😄

[2021-07-20 00:13] #2422 closed

[2021-07-20 00:13] AdelheidF commented on #2330
With a more recent next version I see this when I use backspace.

first backspace on the hour
![image](https://user-images.githubusercontent.com/44481292/126243130-649d83f8-99bb-48fb-b270-9504c938eaac.png)

second backspace on the hour
![image](https://user-images.githubusercontent.com/44481292/126242920-6c4fcf9b-5266-4a3c-a8fe-d447f92bc24e.png)

first backspace on the second
![image](https://user

[2021-07-20 00:13] #2330 closed

[2021-07-20 00:17] AdelheidF commented on #2331
This is not what I'm seeing. If I type `123456` or `120000` and click outside the input box the input box clears out.
![image](https://user-images.githubusercontent.com/44481292/126243302-0c45d2f2-93ac-456c-bd00-e045f55e6d62.png)

If I type in `:` it's fine.

Maybe it's OK to require users to enter those `:`.

[2021-07-20 00:20] jcfranco commented on #2331
The above does look like a bug.

I agree w/ @eriklharper's comment about formatting while you type jarring. If we can fix the above without requiring `:` as users type, it'd make it easier to use.

[2021-07-20 00:37] jgrayson-apl commented on #2491
@driskull: verified with **@v1.0.0-next.250** that using selection-mode="single" will now correctly highlight the selected option.

[test codepen](https://codepen.io/john-grayson/pen/zYwBVBZ)

Thank you!

[2021-07-20 00:52] #2491 closed

[2021-07-20 15:05] asangma commented on #2209
More thinking: the search input converted to chip would be at odds with our debounced filtering. Maybe it would be a separate mode.

[2021-07-20 16:08] bstifle commented on #2209
yeahhh. i think the search thing should just be stock calcite-input  (small or med)

[2021-07-20 16:09] driskull commented on #2209
The combobox could be used for filtering. Why do we need a filter component?

[2021-07-20 17:20] julio8a commented on #2542
verified.

[2021-07-20 17:20] #2542 closed

[2021-07-20 17:52] eriklharper commented on #2331
I see that now.  As long as the number can convert to a valid time value, I think it should add the colons in on blur.  I'll update it to do just that.

[2021-07-20 18:04] asangma commented on #2209
@driskull I was thinking combo-box could be nice for that.

[2021-07-20 18:10] driskull commented on #2209
Maybe we don't need a filter component if the combobox could handle the use case properly.

[2021-07-20 18:13] asangma commented on #2209
Hmmm...c'est possible.

[2021-07-20 18:31] driskull commented on #2499
From meeting. We will deprecate `calciteLookupChange` and create `calciteComboboxChange` to handle both single and multiple selection. cc @jcfranco

[2021-07-20 20:54] ManahariDahal opened #2576 "Enhancement: calcite-color-picker demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-color-picker following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- Color-picker design should encompass the Figma HTML demo page

### Relevant Info
- The calcite-color-picker demo page should have all the variants

#### Which Component
_calcite-color-picker_

[2021-07-20 21:03] AdelheidF opened #2577 "Bug: calcite-block-section and calcite-label+calcite-switch toggle buttons not aligned vertically"
### Actual Behavior

Beta.60

![image](https://user-images.githubusercontent.com/44481292/126394532-5342c347-0677-452e-9726-dbeff84d5075.png)

Top and bottom elements are `calcite-block-section`. Center is a `calcite-label` with a `calcite-switch`.

1. if you look at the three toggle buttons they're not aligned vertically
2. if you look at the very first toggle button it's not horizontally aligned

[2021-07-20 21:40] ManahariDahal opened #2580 "Enhancement: calcite-date-picker demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-date-picker following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- Date-picker design should encompass the Figma HTML demo page

### Relevant Info
- The calcite-date-picker demo page should have all the variants

#### Which Component
_calcite-date-picker_

[2021-07-20 23:03] jcfranco opened #2582 "Bug: disabled calcite-input + type=number allows interaction with the up/down buttons."
### Actual Behavior

The up/down buttons can be still be clicked when the input component is disabled.

### Expected Behavior

Value cannot be adjusted when clicking up/down buttons.

### Reproduction Steps or Sample

1. Open https://codepen.io/jcfranco/pen/XWRaqYW
2. Click on up/down buttons

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [x] CDN
- [ ] NPM package

[2021-07-20 23:28] caripizza commented on #2582
Related: #2378

[2021-07-20 23:31] caripizza commented on #1674
Closing in favor of #2456

[2021-07-20 23:31] #1674 closed

[2021-07-21 08:33] hccampos opened #2584 "Enhancement: calcite-slider - custom tick label formatters"
### Description

For certain use cases the default tick labels don't work well. For example, one may want to display textual labels rather than numerical ones.

It would be great to be able to format slider tick labels. This is already possible in the JS API `Slider` widget by using a `labelFormatFunction`: https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-Slider.html#labe

[2021-07-21 16:47] julio8a commented on #2549
verified on master.

[2021-07-21 16:47] #2549 closed

[2021-07-21 16:49] bstifle opened #2587 "Bug: calcite list item needs 2px margin between label and summary"
### Actual Behavior

currently has 0px margin between

### Expected Behavior

calcite list item needs 2px margin between label and summary to match other list components (value, pick)

[2021-07-21 16:55] ManahariDahal commented on #2529
Ready to verify!

[2021-07-21 17:00] julio8a commented on #2529
verified on master.

[2021-07-21 17:00] #2529 closed

[2021-07-21 20:39] asangma commented on #2587
Back to you @bstifle 🤘🏾

[2021-07-21 20:57] bstifle commented on #2587
perf

[2021-07-21 20:57] #2587 closed

[2021-07-21 23:05] asangma opened #2597 "Bug: Accordion chevron direction doesn't match Block"
### Actual Behavior
Note: this only applies when Accordion is `icon-position`: `end` and `icon-type`: `chevron` or `caret`.

**Block**
In Block the chevron indicates the direction of the resultant action. Down when collapsed...
![image](https://user-images.githubusercontent.com/12503298/126569967-f39827bc-30ea-4f15-a95c-53043fd707f6.png)

...up when opened.
![image](https://user-images.githubuserc

[2021-07-21 23:06] bstifle commented on #2597
yes! this is the way it was intended. thanks alan

[2021-07-21 23:16] asangma commented on #2597
Note, this reverts the changes discussed [here](https://github.com/Esri/calcite-components/issues/289#issuecomment-630419597).

But we have an established pattern in Block which is being used a fair amount.

[2021-07-21 23:19] bstifle commented on #2597
Yeah, the chevron direction paradigm should be different depending on start/end placement.

Start closed: pointing right
Start open: pointing down

End closed: pointing down
End open: pointing up

[2021-07-21 23:59] jgrayson-apl commented on #2499
Confirmed that the new 'calciteComboboxChange' event fires for both 'single' and 'multi' using **@v1.0.0-next.254**
[Test CodePen](https://codepen.io/john-grayson/pen/zYwBVBZ)

[2021-07-22 15:04] asangma commented on #2597
Agreed.
This is currently what we use in Block (right/end) and BlockSection (left/start).

[2021-07-22 16:45] jcfranco commented on #2420
Verified via https://esri.github.io/calcite-components/?path=/story/components-buttons-button--simple

[2021-07-22 16:45] #2420 closed

[2021-07-22 16:52] jcfranco opened #2600 "[Epic] Drop legacy code"
When this project started, it had to support IE11 along with other browsers that did not support native web component APIs, so it needed code and build options to target all browsers. We are at a stage where we can officially remove any remaining legacy code.

### Plan of action

- [x] drop any utils or code that feature-detects custom element APIs (#2604)
  - this may take more than a sprint, but

[2021-07-22 16:59] COV-GIS commented on #2420
Thanks. It works and looks great.

[2021-07-22 17:55] jcfranco commented on #2499
@jgrayson-apl Thanks for verifying!

[2021-07-22 17:55] #2499 closed

[2021-07-22 18:26] macandcheese opened #2602 "Enhancement: [Color Picker] Fix hue bar click and drag interaction"
### Description
Currently, dragging past the extent of the hue bar will cause an abrupt "snap" back to the opposite side of the hue bar.

### Acceptance Criteria
While using a mouse to click and drag past the component boundary, prevent the selector from snapping.

### Relevant Info
https://user-images.githubusercontent.com/4733155/126690043-888c038f-384f-499f-b545-b11ef5a49bee.mp4

https://esri.g

[2021-07-22 19:23] bstifle commented on #2512
salesforce calls its version of radio group, "Listbox"

https://www.lightningdesignsystem.com/accessibility/patterns/listbox/

[2021-07-22 20:12] ManahariDahal opened #2605 "Enhancement: calcite-scrim demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-date-picker following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-scrim design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-scrim_

[2021-07-22 20:25] julio8a commented on #2216
Self-verified input buttons idle/hover
I'm going to close this one and add notes to the inline editable issue: #2468

[2021-07-22 20:25] #2216 closed

[2021-07-22 21:31] jcfranco commented on #2315
Closing as this is outside of this project's scope. Let's see if that Stencil issue picks up traction, otherwise, we'll have to patch on the output-target side.

[2021-07-22 21:31] #2315 closed

[2021-07-22 21:48] jcfranco commented on #2391
@esride-nik Can you share your project setup? Intellisense is working fine for me:

![Screen Shot 2021-07-22 at 2 48 14 PM](https://user-images.githubusercontent.com/197440/126713792-a1368748-6100-422d-85e8-22852ab765b1.png)

[2021-07-22 22:30] julio8a commented on #2531
installed. @AdelheidF, would you mind verifying this one?

[2021-07-22 22:50] julio8a commented on #2241
@macandcheese, can we close this one?

[2021-07-22 22:52] #2241 closed

[2021-07-22 22:53] driskull commented on #1258
To do this correctly, I think we'll have to introduce a breaking change that adds a slot for content to be below the actual stepper items. Does that sound doable?

Currently, it tries to do this by moving nodes around in light dom.

[2021-07-22 23:00] asangma commented on #2040
@jcfranco not sure who to assign to for verfee since I created the issue. :)

[2021-07-22 23:00] caripizza commented on #1431
Re-opened after clarifying the remaining work needed in this issue with Bryan (@bstifle please correct or add anything I missed from our chat).

Based on first glance, it looks like:

1. [_popper.scss](https://github.com/Esri/calcite-components/blob/master/src/assets/styles/_popper.scss#L19) global styles - currently using `$shadow-2` sass var - needs to instead use `@apply shadow-2`:
2. Additiona

[2021-07-22 23:03] driskull commented on #1258
@jcfranco @julio8a I think we need to come up with a better architecture of `calcite-stepper` that doesn't have to move nodes around to display right.

A similar component to t his might be `calcite-tabs`. It has separate child components for the content and header whereas this tries to combine both the content and the header and so this odd logic of moving nodes has to happen.

Should we meet to

[2021-07-22 23:04] caripizza commented on #1431
Can we update the description to a) articulate which components are Level 0, 1, or 2 (I don't know), and b) so we can style their shadows based on their level?

[2021-07-22 23:10] driskull commented on #1258
Maybe it should be more like this>

[code]

[2021-07-22 23:27] driskull commented on #1258
We could create a new steps component and just deprecate stepper?

[2021-07-22 23:31] jcfranco commented on #2040
No prob. I can help verify. 😄

[2021-07-22 23:32] ManahariDahal opened #2611 "Enhancement: calcite-notice demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-date-picker following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-notice design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-notice_

[2021-07-22 23:40] driskull commented on #1258
The CSS grid method that @paulcpederson proposed above could work here but would need to be researched. I'm not sure how display:contents would work with shadowDom elements.

The other thing is that these two sets of components are very similar but architecturally different.

[2021-07-23 17:51] jcfranco commented on #1258
If possible, let's try to preserve the existing structure. We should explore the CSS grid approach before proposing another component.

Sidebar, I think `calcite-tabs` could be simplified as well:

[code]

vs.

[code]

There's other web component libs that follow this structure:

https://ant.design/components/tabs/
https://react.carbondesignsystem.com/?path=/story/components-tabs--playground
https

[2021-07-23 17:54] driskull commented on #1258
Sounds good. I'll let someone else handle this issue with the CSS grid approach.

[2021-07-23 18:24] driskull commented on #2378
@caripizza this should be fixed with #2582.

I think we should have an epic about disabled states and making sure that no child components are still operational or focusable. cc @jcfranco @julio8a

[2021-07-23 18:31] jcfranco commented on #2378
@driskull Yep, as we had discussed, I'll create an epic for this. I have a draft in the works. 😄

[2021-07-23 19:28] ManahariDahal commented on #2505
Ready to verify!

[2021-07-23 19:29] ManahariDahal opened #2616 "Enhancement: calcite-accordion demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-accordion following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-accordion design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-accordion_

[2021-07-23 19:37] caripizza commented on #2151
Closing this one since it's no longer an issue. (We'll remove the bug comments when we update the input demo html page in #2483.)

[2021-07-23 19:37] #2151 closed

[2021-07-23 19:43] julio8a commented on #2505
verified on master

[2021-07-23 19:43] #2505 closed

[2021-07-23 20:13] driskull commented on #2600
@jcfranco do we need to support these extras?

### dynamicImportShim

Dynamic import() shim. This is only needed for Edge 18 and below, and Firefox 67 and below. Defaults to false.

### safari10

Safari 10 supports ES modules with <script type="module">, however, it did not implement <script nomodule>. When set to true, the runtime will patch support for Safari 10 due to its lack of nomodule suppo

[2021-07-23 20:16] jcfranco commented on #2600
https://github.com/Esri/calcite-components/pull/2604#discussion_r675762038

[2021-07-23 20:25] caripizza commented on #2411
Installed, assigning to @tjameswhite for verification - the classes and global CSS var now appear in the latest release on master (`1.0.0-next.258`).

[2021-07-23 20:25] jcfranco commented on #2391
@esride-nik I submitted a [PR](https://github.com/Esri/calcite-components-examples/pull/42) to update the React example to TypeScript on the `calcite-components-examples` repo. Hope that helps.

Closing as this is outside this project's scope.

[2021-07-23 20:25] #2391 closed

[2021-07-23 21:57] am-maneaters opened #2620 "Enhancement: Add `closable` functionality to calcite-tabs-title"
### Description
Add action button to the calcite-tab-title component to allow for closing tabs

*Obviously very rough implementation below
<img width="552" alt="image" src="https://user-images.githubusercontent.com/50883428/126845046-2e9caf15-c592-4e11-850b-d80995b035d3.png">

### Acceptance Criteria
Include action button in tabs with custom icons and custom onClick event

### Relevant Info

####

[2021-07-23 22:47] eriklharper commented on #2477
Closing in favor of https://github.com/Esri/calcite-components/issues/1592

[2021-07-23 22:47] #2477 closed

[2021-07-26 16:17] driskull commented on #2329
@AdelheidF I'm not able to reproduce this. Do you have a sample?

[2021-07-26 16:20] caripizza opened #2622 "Docs: update demos/ index page to include links to all pages, remove old styles"
### Description
Right now we have some pages linked to on the main index.html page, but there are many other pages you can only get to by manually typing demos/ path into the browser.

### Acceptance Criteria
1. All demos/ html pages appear as clickable links on the main index.html file.
2. All demos pages source from the same updated styles (ie., no more gray background color pages with "Courier

[2021-07-26 16:20] caripizza commented on #2622
@julio8a should this one be worked on in the current sprint or next sprint?

[2021-07-26 16:22] julio8a commented on #2622
Not this sprint. Will look at the next sprint.

[2021-07-26 16:58] gpbmike opened #2623 "Docs: Installation CDN"
### Description

The [installation instructions](https://github.com/Esri/calcite-components#installation) use the unpkg CDN. *.arcgis.com should probably be the recommendation like [ArcGIS for JavaScript](https://developers.arcgis.com/javascript/latest/get-started/)

[code]

[2021-07-26 17:33] driskull commented on #2623
@jcfranco do you think we could have a URL on the CDN that redirects to the latest version like unpgk does?

Otherwise, we probably need to have some kind of instruction changes like this:

**Replace `<VERSION>` with the correct version tag before adding to your document.** eg. 1.0.0-beta.60

[code]

[2021-07-26 17:37] caripizza opened #2624 "Enhancement: match combobox w/o chip height to single selection-mode height"
### Description
When there is no chip selected in a combobox with selection-mode set to "multi" or "ancestors", the height should match its "single" selection-mode height (24px / 32px / 44px high per Figma designs).

~Additionally, a CSS transition of some sort should be added to accommodate the height change when an item is selected and the chip appears, and when the chip disappears after the sel

[2021-07-26 17:39] zaramatheson opened #2625 "Bug: Add width property for dropdown button"
When MV updated to Beta 60, the width of the dropdown shrunk. Beta.58 was fine.
![image](https://user-images.githubusercontent.com/50747646/127033418-a2d63562-3ddd-4d13-a237-4bc885d4e5c3.png)

Talked to @asangma and the change that caused this is here:
https://github.com/Esri/calcite-components/commit/cc8d424903a134227f40ecb91ce5ae5032ee5717#diff-717513f97b6ede6d16b1ad91d26a20deb137955e0743cfebf03

[2021-07-26 17:51] ManahariDahal opened #2626 "Enhancement: calcite-card demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-card following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-card design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-card_

[2021-07-26 17:52] ManahariDahal opened #2628 "Enhancement: calcite-dropdown demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-dropdown following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-dropdown design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-dropdown_

[2021-07-26 17:54] jcfranco commented on #2623
I'll see if we can do the redirect option.

[2021-07-26 17:55] ManahariDahal opened #2629 "Enhancement: calcite-fab demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-fab following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-fab design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-fab_

[2021-07-26 17:56] ManahariDahal opened #2630 "Enhancement: calcite-inline-editable demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-inline-editable following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-inline-editable design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-inline-editable_

[2021-07-26 17:56] driskull commented on #2623
I'm second guessing that actually. As a best practice, we wouldn't want users to use the redirect since it could automatically break their apps. Maybe its best we have something that automatically updates the readme's?

[2021-07-26 17:58] ManahariDahal opened #2631 "Enhancement: calcite-label demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-label following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-label design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-label_

[2021-07-26 17:58] ManahariDahal opened #2632 "Enhancement: calcite-link demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-link following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-link design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-link_

[2021-07-26 17:59] ManahariDahal opened #2633 "Enhancement: calcite-loader demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-loader following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-loader design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-loader_

[2021-07-26 18:01] ManahariDahal opened #2634 "Enhancement: calcite-pagination demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-pagination following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-pagination design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-pagination_

[2021-07-26 18:02] ManahariDahal opened #2635 "Enhancement: calcite-popover demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-popover following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-popover design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-popover_

[2021-07-26 18:03] jcfranco commented on #2623
True. Would there be any other case where we want the redirect-to-latest behavior from unpkg?

Going back to the original request, I'll look at automating this on each release.

[2021-07-26 18:07] ManahariDahal opened #2636 "Enhancement: calcite-progress demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-progress following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-progress design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-progress_

[2021-07-26 18:12] ManahariDahal opened #2637 "Enhancement: calcite-select demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-select following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-select design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-select_

[2021-07-26 18:13] driskull commented on #2623
I'm not sure. I would say probably not.

[2021-07-26 18:15] ManahariDahal opened #2638 "Enhancement: calcite-slider demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-slider following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-slider design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-slider_

[2021-07-26 18:17] ManahariDahal opened #2639 "Enhancement: calcite-stepper demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-stepper following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-stepper design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-stepper_

[2021-07-26 18:18] maxdahal opened #2640 "Enhancement: calcite-tabs demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-tabs following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-tabs design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-tabs_

[2021-07-26 18:19] ManahariDahal opened #2641 "Enhancement: calcite-tile demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-tile following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-tile design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-tile_

[2021-07-26 18:20] ManahariDahal opened #2642 "Enhancement: calcite-tooltip demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-tooltip following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-tooltip design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-tooltip_

[2021-07-26 18:21] ManahariDahal opened #2643 "Enhancement: calcite-tree demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-tree following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-tree design should encompass the Figma HTML demo page

### Relevant Info
- It should have all the variants

#### Which Component
_calcite-tree_

[2021-07-26 18:55] caripizza commented on #2378
Verified by running docs locally from master branch and attempting to interact with a clearable, disabled input that includes a value; no input buttons are clickable/keyboard navigable.

[2021-07-26 18:55] #2378 closed

[2021-07-26 19:22] eriklharper commented on #2331
@AdelheidF : I discussed this with @jcfranco and we came up with the idea to create a new `calcite-input-time` component that will replace the current input box inside `calcite-input-time-picker` which will be modeled after the native browser implementations like this one from Chrome:

![image](https://user-images.githubusercontent.com/821864/127046380-2442a56d-fd06-44a0-9858-6f1ffac4dd81.png)

Th

[2021-07-26 19:22] #2331 closed

[2021-07-26 19:25] jcfranco commented on #2331
For posterity, we backed off from option this because of the many ambiguous values it introduces.

[2021-07-26 19:27] eriklharper commented on #2331
These ones I labeled "vague" are the values that can be interpreted multiple ways and would induce a lot of confusion if we tried to support them because some people would expect for instance `1111` to be `01:01:11` and another person might expect it to be `11:01:01`

![image](https://user-images.githubusercontent.com/821864/127047100-9d1c1f78-2bc1-423c-8be3-2e25eb3e2415.png)

[2021-07-26 19:32] eriklharper commented on #2329
Closing this in favor of a new `calcite-input-time` component which will solve this issue by showing the seconds field when the `step` field is less than `60`.

https://github.com/Esri/calcite-components/issues/2331#issuecomment-886963949

[2021-07-26 19:32] #2329 closed

[2021-07-26 20:06] caripizza commented on #2384
![image](https://user-images.githubusercontent.com/42423180/127051830-6995dd22-23f6-46ac-82d1-4428d61bc75d.png)

[2021-07-26 21:25] asangma commented on #2454
A note on the future refactor using Calcite List.
As mentioned in the comment [here](https://github.com/Esri/calcite-components/pull/2502#issuecomment-883610499), refactoring the PickListItem to user ListItem will allow the dot or checkmark to become part of the main hit area and thus the hover area.

This is true. However, any action added will be to the left (in LTR) of that check or dot since t

[2021-07-26 21:43] caripizza commented on #2172
Moving to current sprint per Calcite Design Team request (prerequisite for the Figma calcite-input refactor work)

[2021-07-27 15:35] ethanbdev opened #2651 "Enhancement: Make combobox dropdown optional when allowing custom input"
### Description
Make the dropdown from clicking on the combobox optional, open to whether it is only optional with custom input or optional all the time.
### Acceptance Criteria
It is possible via a prop to not have the combobox dropdown open
#### Which Component
`calcite-combobox`
#### Example Use Case
For a use case of a multiple-number input control, the combobox works pretty well with the cust

[2021-07-27 16:48] jcfranco opened #2652 "Enhancement: Slider should support input and change events"
### Description

Similar to `HTMLInputElement`, an input and change events would allow users to distinguish between actively changing and the final value when the user drags any thumb.

### Acceptance Criteria

The slider has the following events:

* `calciteSliderInput` – fires on other interactions that update `value` and as the thumb is dragged (on move)
*  `calciteSliderChange` – fires on othe

[2021-07-27 17:58] bstifle commented on #1592
All here, please take a look at this semi-exhaustive list of visuals for validation:

![Status Validation](https://user-images.githubusercontent.com/14083530/127203472-7ca640ad-7879-413b-a511-1b1bd04fe844.png)

Key features:

- Space between validation icons and text is 8px in all scales
- validation text is 1 font-size smaller than the label of it's parent in all scales
- validation text is ui-te

[2021-07-27 18:03] jcfranco opened #2655 "Epic: consistent disabled prop behavior"
https://github.com/Esri/calcite-components/issues/2582 surfaced an issue where some of our components may not be implementing `disabled` appropriately. This epic should help us ensure all components implement this property correctly and prevent keyboard/pointer interaction with the element as well as its children (if applicable).

### Action plan

- [x] audit behavior of current components with `d

[2021-07-27 18:05] jcfranco commented on #2655
@Esri/calcite-design-representatives can you chime in on this one?

[2021-07-27 18:18] bstifle commented on #1431
@caripizza this issue is for specific components (listed in the description at the bottom) and wont apply to all components with shadows

[2021-07-27 18:25] bstifle commented on #1431
here are the depth values and which components use them:

<img width="1250" alt="Depth Light" src="https://user-images.githubusercontent.com/14083530/127207833-4698ae6c-a166-49ce-98cc-52d371e16a5d.png">
<img width="1250" alt="Depth Dark" src="https://user-images.githubusercontent.com/14083530/127207842-de7b0085-25fe-42d3-8591-ba6da28d5493.png">

[2021-07-27 18:31] driskull commented on #2403
@AdelheidF just curious, why not just do this?

[code]

If you add an event listener to that node, you'll also need to remove the event listener when the calcite-input is removed.

[2021-07-27 20:08] COV-GIS opened #2659 "Enhancement: radio button white background when unchecked"
### Description

Unchecked radio buttons would have better contrast and IMHO look better with a white (or corresponding in dark theme) background like checkbox does.

![image](https://user-images.githubusercontent.com/14297903/127220040-3062b361-312d-4dfc-a210-fdbfc3fbf2c9.png)

Visually doesn't seem to match other controls.

#### Which Component

radio button

[2021-07-27 21:04] #2526 closed

[2021-07-27 21:04] ManahariDahal commented on #2526
Ready to verify!

[2021-07-27 21:10] driskull commented on #2177
From the little research I've done it seems like we would need the CI to run our local build and serve the demos so that the screener-runner can access the local URL and begin running visual tests.

I'm not sure we we can use the built in stencil server or if we need to copy the files and use something else? If we can use the stencil server, we need to be able to hook into when it is ready and in

[2021-07-27 21:38] ManahariDahal commented on #2508
Ready to verify!

[2021-07-27 21:41] eriklharper commented on #2177
Here's the response I got back from Loyal that guides us through the steps to try to make this work:

[2021-07-27 21:43] ManahariDahal commented on #2633
Ready to verify!

[2021-07-27 21:44] julio8a commented on #2508
verified on master

[2021-07-27 21:44] #2508 closed

[2021-07-27 21:45] julio8a commented on #2633
verified on master

[2021-07-27 21:45] #2633 closed

[2021-07-27 21:49] julio8a commented on #2605
verified on master

[2021-07-27 21:49] #2605 closed

[2021-07-27 21:51] julio8a commented on #2636
verified on master

[2021-07-27 21:51] #2636 closed

[2021-07-27 22:53] driskull commented on #2177
Yep that makes sense.

I guess the part I'm unsure of is if the web server can just be the stencil build with the `--serve` argument. If so, what are the hooks we need to listen for to be able to start running the screener-runner.

[2021-07-27 23:09] julio8a commented on #2531
self-verified on master

[2021-07-27 23:09] #2531 closed

[2021-07-27 23:21] julio8a commented on #2582
verified on Codepen.

[2021-07-27 23:21] #2582 closed

[2021-07-28 02:00] jcfranco commented on #2513
A few questions on this one.

* Do we have a default/common display value?
* Do we need to support more than `inline` | `inline-block`?

In any case, I think we could enhance the `renders` test helper to test the display.

[code]

[2021-07-28 05:47] ManahariDahal commented on #2635
Ready to verify!

[2021-07-28 16:28] driskull commented on #2513
No, I don't think so. It depends on the component.

Yes, I know that some of our components are displayed as block, flex, or inline-flex by default. We should just keep them consistent once we decide and probably document their default display as well.

The problem I'm seeing at this time is that some do not set a display at all and by default that makes them `inline`. However, they have heights s

[2021-07-28 16:29] driskull commented on #2513
@jcfranco I can take this one if you want.

[2021-07-28 16:48] macandcheese commented on #2131
For posterity... we will be adopting a tab-inside-panel approach on the docs site component preview. It requires a bit of spacing and border fudging to bring into alignment with the panel heading, but using it OOTB inside the panel content isn't that bad.

[2021-07-28 17:41] julio8a commented on #2635
verified on master

[2021-07-28 17:41] #2635 closed

[2021-07-28 18:15] joeyHarig opened #2664 "Enhancement: Format total pagination count"
### Description
Add commas to the total pagination count when pages exceed 1,000 to make the count more readable.

#### Which Component
`calcite-pagination`

#### Example Use Case
Representing thousands of items in a table view. The page count below should read "10,752".

<img width="1177" alt="Screen Shot 2021-07-28 at 12 10 26 PM" src="https://user-images.githubusercontent.com/55154968/127374471

[2021-07-28 18:21] eriklharper commented on #2177
As I recall, this was a stumbling block I ran into as well.  I remember putting in a wait somewhere so that my local server was running properly before the runner started.

[2021-07-28 18:29] driskull commented on #2177
Just playing devils advocate here... 😈

Storybook-screener solves these issues already and has a method to use the steps API in screener. Do we really want to move off of that? Would it be easier to just update the stories to have a single story that then does all the steps to toggle sizing, theme, rtl, etc and take screenshots after each step?

The nice thing about storybook-screener is its alrea

[2021-07-28 19:41] ManahariDahal commented on #2536
Ready to verify!

[2021-07-28 19:42] ManahariDahal commented on #2580
Ready to verify!

[2021-07-28 20:03] julio8a commented on #2177
We need automated integration in the demo pages as they show all the variations (props) in one place. This is very helpful for manual testing as we can see everything in one place and not have to click around to get props.

It sounds like we need a bit more research on this and possible some help from Loyal and team?

[2021-07-28 20:09] caripizza commented on #2655
IMO only interactive components should have a `disabled` prop. (ie., `disabled` prop is used to prevent interaction or communicate that an action is unavailable to the user.)

Maybe all we need to ask is does the component need to prevent interaction?

[2021-07-28 20:14] julio8a commented on #2580
verified on master

[2021-07-28 20:14] #2580 closed

[2021-07-28 20:14] julio8a commented on #2536
verified on master

[2021-07-28 20:14] #2536 closed

[2021-07-28 20:44] eriklharper commented on #2177
This is exactly the approach I employed at my last job.  Here's an example of a story I wrote that contains all the relevant permutations that Screener was able to capture and which we could manipulate to open dropdowns and such: https://arubanetworks.github.io/meridian-editor-frontend/?path=/story/singleselect--default

It is definitely extra work to support both Storybook and Demo pages for sure

[2021-07-28 20:46] eriklharper commented on #2177
I've been busy with other things, but if we want to know sooner rather than later if the screener-runner approach will work smoothly, then I and others who would like to collaborate on this should start spending some time trying to set this up to see how far we can get with it.  I feel like I'll know a lot more about how things should go once I can see it working and evaluate the setup against jus

[2021-07-28 20:52] driskull commented on #2177
This is what I was thinking too. We can just convert our storybook to act as a visual testing tool.

Yes, this would work too. If we still want to have a storybook for public consumption.

What we gain from using storybook to do visual testing is the automation of starting up the server, navigating to each page and taking screenshots.

The way the non storybook demos are setup, they show more than

[2021-07-28 20:55] eriklharper commented on #2177
I actually think that the more you can stuff on the page, the better because Screener charges on a per-screenshot basis.  It is actually more economical to put all you can on a single page, which reduces the total number of screenshots per run.  Screener is excellent at picking up even the slightest changes regardless of how many pixels it is looking at.

[2021-07-28 20:58] driskull commented on #2177
Hah that's one way to get around pricing :) Have a ton of components on a single page and every component is basically a step.

The potential pitfalls is that opening one component may cover another. Unless they are spread out enough. Just seems like potential for conflict.

[2021-07-28 21:04] eriklharper commented on #2177
This shouldn't matter because when you start adding Steps that open up other pieces of UI, Screener will take both an initial screenshot and a second screenshot after the new interaction was applied.  It is actually a good thing to do this because then you would also be able to see potential visual conflicts that occur as a result of the step interactions, such as things going out of alignment in

[2021-07-28 21:09] driskull commented on #2177
I guess that part probably falls into the research category.

Correct me if I'm wrong, but screener just takes a screenshot at a specified resolution and no scrolling the page right? Looking at the demos, it seems a lot of them require scrolling to have full coverage.

[2021-07-28 21:11] eriklharper commented on #2177
Great question.  I don't actually know the answer to that, but I can assume that based on the resolution and how much content the page contains, that yes, there would potentially be clipping of content.

[2021-07-28 23:16] driskull commented on #2664
I think we need to render all pages using Intl number formatting. That should solve this issue. 👍

[2021-07-29 15:12] alexabreu commented on #840
@julio8a @driskull Field Maps is exploring building something similar to this to handle building **simple** Arcade expressions.  To clarify, did you you guys mean `arcgis-components` or `arcgis-app-components`? I ask because we were hoping to build a shareable web component, and my understanding is that that arcgis-components utilize Maquette rather than Stencil.

[2021-07-29 16:49] driskull commented on #840
arcgis-app-components

[2021-07-29 17:40] raje9276 commented on #1475
I18n Considerations
1. 12hour vs 24 hour clock. In some locales default is 24 hour clock
2. AM/PM should be translated in some locales
3. AM/PM location may be after or before the time. Example: 10.00 **PM** can be written as **오후** 10시
4. Native numbers should be considered for Arabic.
5.

[2021-07-29 18:17] bpatterson88 commented on #840
Feel free to move this issue to the appropriate repo. Looks like I am not a member or don't have the right permissions to move to either `arcgis-app-components` or `arcgis-components` so someone else will need to do that.

[2021-07-29 18:22] driskull commented on #840
I don't think we can transfer to devtopia. It needs to be copy/pasted.

[2021-07-29 18:24] julio8a commented on #2611
verified on master

[2021-07-29 18:24] #2611 closed

[2021-07-29 18:57] bpatterson88 commented on #840
Moved it over here: https://devtopia.esri.com/WebGIS/arcgis-app-components/issues/1020

[2021-07-29 18:57] #840 closed

[2021-07-29 19:07] caripizza commented on #2456
Scales are installed. Next item to-do: update button colors to match Figma

[2021-07-29 20:55] jcfranco commented on #2513
Thanks for tackling this one, @driskull!

I had asked if we had a default display based on our common component structure (I think most use an internal wrapper) to possibly define a default on the global CSS and define needed overrides in individual component stylesheets. If applicable, this could slightly reduce the file size while simplifying the pattern and test util. WDYT?

[2021-07-29 21:02] julio8a commented on #2530
@bstifle can you take a look at this one

[2021-07-29 21:03] driskull commented on #2513
Gotcha. I don't think we're supposed to define `:host {` styles on the global stylesheet right? We would have to target all the `calcite-` prefixed components.

It seems like we don't really have a default display anyway. Our "inline" components are displayed as either `inline-block` or `inline-flex`. Our "block" components are displayed as `block` or `flex`.

Maybe we could work to make these all

[2021-07-29 21:06] julio8a commented on #749
@bstifle, is this one ready for implementation?

[2021-07-29 21:17] driskull commented on #2513
@asangma @jcfranco what do you think? Should we only have our components default display be `flex` and `inline-flex` for consistency?

Should we document the default display value (using a custom JS tag)?

[2021-07-29 21:18] bstifle commented on #2530
This is tricky since there are only two options.

Here are a few solutions:
![image](https://user-images.githubusercontent.com/14083530/127567118-c570e7e4-157a-4553-83ef-74d8ac077512.png)

1.  Adding support icons to your dropdown.

2. Remove the dropdown and have two buttons: Request new file, and Download available file

3.  Use a native select and dropdown

I recommend #2 since it is the most c

[2021-07-29 22:16] driskull commented on #2570
@jcfranco should we have issues to convert the components? I can start taking one of them.

[2021-07-29 22:21] driskull commented on #2527
We can probably add a property to do this:

[code]

What do you think @paulcpederson ?

[2021-07-29 22:40] jcfranco commented on #2524
@bstifle @asangma Would this be handled by the ongoing styling refactor?

[2021-07-29 22:55] jcfranco commented on #2172
@caripizza Can you help verify this one? Thanks! 🙇🏼‍♂️

[2021-07-29 23:18] jcfranco commented on #2570
@driskull To keep things simple, I think we can use this issue and have multiple PRs link to tasks/subtasks. cc @julio8a @caripizza

On the conversion part, we're still waiting on results from the form-usage survey, but it'd be great if you can kick start a draft PR (shadow all the things!). 🥇

[2021-07-29 23:29] jcfranco commented on #2448
Fixed via https://github.com/Esri/calcite-components/issues/683.

[2021-07-29 23:29] #2448 closed

[2021-07-29 23:38] jcfranco commented on #2446
@noahmulfinger Can you help verify this one?

[2021-07-29 23:47] jcfranco commented on #1602
Verified via https://codepen.io/jcfranco/pen/gOWzapR?editors=1010

[2021-07-29 23:47] #1602 closed

[2021-07-29 23:55] driskull commented on #2570
I think the biggest changes are going to be the logic for handling clicks on `calcite-label` elements.

If the native `label` and native `input` are now in shadow, clicking on a label won't focus or change the input.

In components like `calcite-radio-button`, we could listen for the event `calciteLabelFocus` and handle it. But what about native elements like `<calcite-label><input type="checkbox"

[2021-07-29 23:56] jcfranco commented on #2009
Verified with https://codepen.io/jcfranco/pen/qBmYONO

@eriklharper Please avoid closing issues without verification.

[2021-07-30 03:53] jcfranco commented on #2403
@driskull If I remember correctly, we made those events internal, to revisit general events at some point, and are not available in the typings. Seems like another epic (defining reusable, high-level events vs duplicate, component-specific ones).

In any case, the issue is valid regardless of those events being available.

[2021-07-30 04:47] gpbmike opened #2675 "Bug: calcite-input with clearable + "enter" key = no value"
### Actual Behavior

- Using the `clearable` attribute (or `type="search"`) will result in no value when using the "enter" key to submit a form.
- Input is cleared

### Expected Behavior

- Input value is submitted
- Input not cleared

### Reproduction Steps or Sample

Examples: https://codepen.io/gpbmike/pen/gOWzMOW

[code]

1. Add `clearable` or `type="search"` to `calcite-input`.
2. Submit form

[2021-07-30 15:24] jcfranco commented on #2303
Installed!

@rslibed can you help verify this one?

[2021-07-30 15:28] jcfranco commented on #2570
@driskull Great points. Let's meet next week and draft a plan for this. The form-usage survey results should help streamline what we need to cover.

[2021-07-30 16:16] driskull commented on #2513
Yeah that kind of makes sense since most native elements are either block or inline by default. Maybe we should follow.

That means any parent component would need to style slotted children to be flex.

[2021-07-30 16:30] eriklharper commented on #2403
Are you talking about the `calciteInputInput` and `calciteInputBlur` events and the like?

[2021-07-30 16:32] eriklharper commented on #2009
Did I miss the memo on that?  Should we be creating codepens for every resolved issue now?

[2021-07-30 17:03] driskull commented on #2675
This seems to be because the clear button is submitting the form. Adding `type="button"` to it fixes it. Probably need to do that for all buttons in this component.

Wouldn't be an issue if it were a shadowed component :)

[2021-07-30 17:13] noahmulfinger commented on #2446
I updated the codesandbox I linked to beta.60, and looks like I am still seeing the same behavior after following the repro steps.

[2021-07-30 17:24] bstifle commented on #2311
Here's my design for this!

![select all](https://user-images.githubusercontent.com/14083530/127689498-33d432c5-1e3b-440e-8e1a-840ebe8d75fd.png)

[2021-07-30 18:08] caripizza commented on #2172
Verified on master branch (currently at `1.0.0-next.259`), calcite-input-message no longer supports a `type` property. (Its previous `type="default"` variant styles are now standard.)

Here's a screenshot showing the new active message styles in each scale:

![image](https://user-images.githubusercontent.com/42423180/127693745-b11100a0-8644-4900-911d-818f10439c8f.png)
[code]

[2021-07-30 18:09] #2172 closed

[2021-07-30 18:25] asangma commented on #2524
@jcfranco The stylesheet update might be. But we need to make a call on which amount of spacing to use.

[2021-07-30 19:11] bstifle commented on #1592
Closing design discussion, moving over to triage

[2021-07-30 21:27] caripizza commented on #1220
I'm re-opening this issue to collect feedback from the team. (For now I've left the issue title/description intact.)

For components that have a `color` property, the Calcite Design Team is currently considering the following change for v1:

| component | values | v1.0.0 proposed values |
|---|---|---|
| **colors for _status_** | |
| calcite-alert | `"blue" \| "green" \| "red" \| "yellow"` | `"inf

[2021-07-30 22:20] bstifle commented on #1220
lookin good!!!!

[2021-08-02 16:24] jcfranco commented on #2335
Installed!

@hccampos Can you help verify this one?

[2021-08-02 16:52] ManahariDahal commented on #2642
Ready to be verified!

[2021-08-02 16:59] julio8a commented on #2174
Still valid and being worked on.

[2021-08-02 18:32] ManahariDahal opened #2686 "Enhancement: calcite-action demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-action following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-action design should encompass the Figma HTML demo page

#### Which Component
_calcite-action_

[2021-08-02 18:34] ManahariDahal opened #2687 "Enhancement: calcite-block demo html update to achieve parity with Figma"
### Description
- This issue aims to achieve parity between the calcite-block following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-block design should encompass the Figma HTML demo page

#### Which Component
_calcite-block_

[2021-08-02 18:35] ManahariDahal opened #2688 "Enhancement: calcite-flow demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-flow following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-flow design should encompass the Figma HTML demo page

#### Which Component
_calcite-flow_

[2021-08-02 18:36] ManahariDahal opened #2689 "Enhancement: calcite-panel demo html update to achieve parity with Figma"
### Description
- This issue aims to achieve parity between the calcite-panel following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-panel design should encompass the Figma HTML demo page

#### Which Component
_calcite-panel_

[2021-08-02 18:38] ManahariDahal opened #2690 "Enhancement: calcite-pick-list demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-pick-list following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-pick-list design should encompass the Figma HTML demo page

#### Which Component
_calcite-pick-list_

[2021-08-02 18:39] ManahariDahal opened #2691 "Enhancement: calcite-sortable-list demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-sortable-list following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-sortable-list design should encompass the Figma HTML demo page

#### Which Component
_calcite-sortable-list_

[2021-08-02 18:41] ManahariDahal opened #2692 "Enhancement: calcite-tip-manager demo html update to achieve parity with Figma #2643"
### Description
This issue aims to achieve parity between the calcite-tip-manager following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-tip-manager design should encompass the Figma HTML demo page

#### Which Component
_calcite-tip-manager_

[2021-08-02 18:41] bstifle commented on #2466
i think this was completed in https://github.com/Esri/calcite-components/pull/2360

[2021-08-02 18:42] ManahariDahal opened #2693 "Enhancement: calcite-value-list demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-value-list following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-value-list design should encompass the Figma HTML demo page

#### Which Component
_calcite-value-list_

[2021-08-02 18:43] caripizza commented on #1274
@bstifle this one looks complete to me now that the input refactor pr is merged. Can you confirm and close if so?

[2021-08-02 18:47] caripizza commented on #2455
Verified by running Storybook docs locally on master branch and comparing with Figma designs for Input, Color Picker (hex input), Date Picker Input, and Time Picker. (The most recent cc release I used for comparison is 1.0.0-next.259.)

[2021-08-02 18:47] #2455 closed

[2021-08-02 18:48] #2411 closed

[2021-08-02 18:54] caripizza commented on #1958
I can verify this one - @driskull can you suggest a code snippet for me to confirm the fix?

[2021-08-02 19:04] bstifle commented on #2466
verified

[2021-08-02 19:04] #2466 closed

[2021-08-02 19:08] rslibed commented on #2303
Verified 🥇
 `calciteColorPickerChange` event is fired only when thumb drag is complete.

[2021-08-02 19:34] driskull commented on #1958
@caripizza you will have to setup a page with a shadowed component that uses the button.

[code]

[code]

[2021-08-02 19:44] jcfranco opened #2694 "Unstable Test: calcite-color-picker › emits event when value changes"
## Summary

**Which component?:** `calcite-color-picker`

**Which test(s)?:**

`src/components/calcite-color-picker/calcite-color-picker.e2e.ts`

**Test error:**

[code]

**PR that skipped the test:** https://github.com/Esri/calcite-components/pull/2695

## Additional Info

Test needs to be updated to expect increase in input events without hardcoding.

[2021-08-02 19:46] jcfranco commented on #2309
Installed! @hccampos can you help verify this one too?

[2021-08-02 19:54] jcfranco commented on #2303
@rslibed Thanks for verifying!

[2021-08-02 19:54] #2303 closed

[2021-08-02 20:11] caripizza commented on #1958
Verified the fix locally with this code on master branch (closest prior release is 1.0.0.next-259):
[code]

Form submit/reset behavior works as expected, closing.

[2021-08-02 20:11] #1958 closed

[2021-08-02 20:45] ptmdmusique opened #2697 "Tooling: error on fresh repo clone"
### Actual Behavior

I cloned the repo, then got error about `Plugin` after `npm install` then `npm start`.
![image](https://user-images.githubusercontent.com/37349324/127921442-07f605bd-d089-4593-b0b4-e667af13410b.png)

I tried `npm run build` then it starts throwing Tailwind `@apply` error
![image](https://user-images.githubusercontent.com/37349324/127921465-2bb05ff8-b55c-48fe-9d99-17566e918eb4.

[2021-08-02 20:55] caripizza commented on #2451
How can this one be verified?

[2021-08-02 21:41] bstifle commented on #1274
correct!

[2021-08-02 21:41] #1274 closed

[2021-08-02 22:10] caripizza commented on #2697
Related: #1941

@ptmdmusique can you provide a) your system details and b) the version of node you used when you attempted the installs?

[2021-08-02 22:28] caripizza opened #2701 "Docs: document undocumented props/methods/events"
### Description
This is a follow-on to #2241. This issue should add descriptions for all undocumented items in .tsx files.

You can find these easily when you add the strict flag to the `docs-readme` output target in stencil.config.ts. Check out master and run a local build; you'll see the following warnings:

[code]

### Which Component
All components that appear with a warning in the list above

[2021-08-02 22:48] jcfranco commented on #2446
@noahmulfinger Thanks for testing. Moving this to the current sprint based on ☝🏼 .

@driskull Can you take another look at this one? 🔍 👀

[2021-08-02 22:52] jcfranco commented on #678
Closing as verified based on https://github.com/Esri/calcite-components/issues/678#issuecomment-880073652 and ☝🏼 . Please create a new issue if anything further is needed.

[2021-08-02 22:52] #678 closed

[2021-08-02 22:52] ptmdmusique commented on #2697
Hey @caripizza

Here is my spec:
- Windows 10
- Node v14.17.0
- npm 6.14.13

[2021-08-02 23:33] ManahariDahal opened #2703 "Enhancement: calcite-list demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-list following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-list design should encompass the Figma HTML demo page

#### Which Component
_calcite-list_

[2021-08-02 23:58] driskull commented on #2697
Autoprefixer has its own types here: https://unpkg.com/browse/autoprefixer@10.3.1/lib/autoprefixer.d.ts

However, we still have a npm package for `@types/autoprefixer` which is deprecated.

https://www.npmjs.com/package/@types/autoprefixer

Seems like we also need to update `postcss` or lock it to a version that works with `autoprefixer`. Currently, we just have `@stencil/postcss` installed. Ill s

[2021-08-03 00:00] jcfranco commented on #834
Installed!

[2021-08-03 00:02] jcfranco commented on #2697
@driskull Thang triaged, thanks!

[2021-08-03 00:04] driskull commented on #2697
I'm also seeing this on build:

[code]

Do we want to do these bundles @jcfranco ?

[2021-08-03 00:06] jcfranco commented on #2697
No, those aren't standalone components, so no bundle. 🚫 📦

[2021-08-03 00:52] jcfranco opened #2706 "Bug: calcite-slider histogram not taking host width into account"
### Actual Behavior

The slider histogram has a fixed width and is not placed correctly based on the slider width.

### Expected Behavior

The histogram should align with the data values regardless of the slider's size.

### Reproduction Steps or Sample

1. Open https://codepen.io/jcfranco/pen/jOmpMLR?editors=1000
2. Notice how the histograms of the 3 differently-sized sliders have identical width

[2021-08-03 00:56] jcfranco commented on #2332
This is behaving as expected. Using the event's `target`/`currentTarget` to access info available on the component is the recommended way. The detail object from custom events will only have a value if there's data that can't be obtained from a component attribute/property.

[2021-08-03 00:56] #2332 closed

[2021-08-03 03:43] gpbmike commented on #2675
This looks fixed to me on the codepen example (points to beta 61). I don't know what the process is for closing out issues.

[2021-08-03 03:58] #2675 closed

[2021-08-03 11:41] hccampos commented on #2309
Tested with Firefox 91 and clicking the track works fine now.

[2021-08-03 11:41] #2309 closed

[2021-08-03 11:43] hccampos commented on #2335
Now works in Safari, Chrome and Firefox. Looking good 👍

[2021-08-03 11:43] #2335 closed

[2021-08-03 15:15] caripizza commented on #2697
Thanks @jcfranco and @driskull! @ptmdmusique can you test drive beta.61 to see if this issue still occurs?

[2021-08-03 15:17] caripizza commented on #2697
Oops - I just noticed Matt's pr was merged after we released beta.61 last night, so this one will need to wait for 1.0.0-next.262 to test the fix.

[2021-08-03 15:18] caripizza commented on #2380
This looks to me like it's from the action-pad's .container class, that has `max-width: 15vw;` style (I think even when expanded):
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-action-pad/calcite-action-pad.scss#L25

Should the width match action-bar and instead be `20vw;` to show more of the truncated text labels?

[2021-08-03 15:34] ethanbdev commented on #2305
Closing due to https://github.com/Esri/calcite-components/issues/2499

[2021-08-03 15:34] #2305 closed

[2021-08-03 16:22] AdelheidF commented on #2331
Is there already an issue for this `calcite-input-time` component? I can't find it to link here.

[2021-08-03 16:26] AdelheidF commented on #2531
looks good, thanks

![image](https://user-images.githubusercontent.com/44481292/128051766-45ed908c-a82c-4dfa-b650-7e9bb0d54bfb.png)

[2021-08-03 16:29] jcfranco commented on #2309
@hccampos Thanks for verifying!

[2021-08-03 16:29] jcfranco commented on #2335
@hccampos Thanks for verifying! 💪🏼

[2021-08-03 16:38] caripizza commented on #924
Looks to me like the only ones left to address adjust here are in Tree and Modal, does that sound correct?

[2021-08-03 16:50] jcfranco commented on #2600
Closing as verified!

Any remaining legacy code can be removed in separate PRs.

[2021-08-03 16:50] #2600 closed

[2021-08-03 17:16] driskull commented on #2446
Yeah i'll take another crack at this one

[2021-08-03 17:20] AdelheidF commented on #2009
Verfied as well with next.261, looks good.

Yes, please don't close issues that I open before I (myself) verified them. I'm happy to do the verification.
I was just out of office for a bit this time.

[2021-08-03 17:23] bstifle commented on #2131
@mitc7862 in case u wanted it reopen

[2021-08-03 17:48] julio8a commented on #2512
## Tabs

Clean up the amount of children

[code]

## Calcite-Flow

Rename to Calcite-drill-in, following standard naming for this component

## Clacite-inline-editable

integrate with input and make a prop

## Radio

Bring the radio group into the larger radio story
https://mdbootstrap.com/snippets/jquery/marta-szymanska/593151
https://ant.design/components/radio/#Radio/Radio.Button

[2021-08-03 18:50] jcfranco commented on #2694
Installed!

[2021-08-03 18:51] jcfranco opened #2708 "Tooling: Fix peer dependency warnings on npm install"
## Summary

`npm run install` shows the following warnings:

[code]

These peer dependencies should be reviewed and possibly added as regular/dev dependencies to avoid issues.

## Measure of Success

All peer dependency warnings are gone.

### Resources

[2021-08-03 19:03] AdelheidF opened #2709 "Enhancement: Create calcite-input-time component"
### Description

Create a new `calcite-input-time` component to be used by `calcite-input-time-picker` to solve issues https://github.com/Esri/calcite-components/issues/2331 and https://github.com/Esri/calcite-components/issues/2329

-----------
From @eriklharper

I discussed this with @jcfranco and we came up with the idea to create a new `calcite-input-time` component that will replace the curre

[2021-08-03 19:03] AdelheidF commented on #2331
Issue created for calcite-input-time https://github.com/Esri/calcite-components/issues/2709

[2021-08-03 19:36] julio8a commented on #834
verified on master

[2021-08-03 19:36] #834 closed

[2021-08-03 19:37] bstifle commented on #924
@caripizza i think this is done. Modal, we decided to keep 4px. Tree should no longer have the highlight bar as a selected state, so that will go away, i gonna call this one donezo!

[2021-08-03 19:37] #924 closed

[2021-08-03 21:09] ManahariDahal opened #2712 "Enhancement: calcite-split-button demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-split-button following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-split-button design should encompass the Figma HTML demo page

### Relevant Info
- should have all the variants

#### Which Component
_calcite-split-button_

[2021-08-03 22:10] ManahariDahal opened #2713 "Enhancement: calcite-sortable-list demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-sortable-list following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- calcite-sortable-list design should encompass the Figma HTML demo page

#### Which Component
_calcite-sortable-list_

[2021-08-03 22:29] AdelheidF opened #2714 "Bug: calcite-select with long string is cut off"
### Actual Behavior

If a selected string inside a `calcite-select` is very long the string is just cut off. Could it add ellipses?

![image](https://user-images.githubusercontent.com/44481292/128094483-b77caadd-a649-4f97-bb6b-7496c2aa3dbb.png)

### Expected Behavior

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM packa

[2021-08-03 22:40] joeyHarig opened #2715 "Bug: calcite-stepper-item container margin"
### Actual Behavior
The `<div/>` with class `container` within the `calcite-stepper-item` component has margin-bottom. Because the margin is being applied to an element within the `calcite-stepper-item` and not to the item itself, the hight of the item is being messed up.

This isn't a big issue other than its effects of the focus-border of the `calcite-stepper-item`. As you can see from the scree

[2021-08-03 22:50] asangma commented on #2625
I'm thinking we revert the change and make `calcite-dropdown-trigger-container` width: 100%.
This may still require the user to put something like `width:100%` on Dropdown but it will allow the user to accurately set the width on whatever is inserted into the `dropdown-trigger` slot.

Do you see an issue with that @driskull ?

[2021-08-03 22:52] asangma commented on #2625
On a separate note, it seems like the `width` property on Dropdown seems to be more inline with how we're using Scale in other components. Seems like we may want to rework this property here.

In addition, the `width` property affects the content. Perhaps we should offload the content width control to the dropdown-item or dropdown-group?

[2021-08-03 22:53] driskull commented on #2625
I agree that it seems like the dropdown should just fill its space and let the user decide the max available width.

[2021-08-03 23:15] AdelheidF opened #2720 "Bug: calcite-popover close-button partially hidden"
### Actual Behavior

wrong:
![image](https://user-images.githubusercontent.com/44481292/128097680-edaccb5c-f38a-4378-8725-92d2a915ebc8.png)

correct:
![image](https://user-images.githubusercontent.com/44481292/128097707-b16f7c84-8e90-49ff-ac8d-276878112ed8.png)

![image](https://user-images.githubusercontent.com/44481292/128097912-a55a4ad8-26df-4b1a-9fac-602a6d2dbaae.png)

![image](https://user-im

[2021-08-03 23:20] jcfranco opened #2721 "Enhancement: Simplify calcite-tabs structure"
### Description

The current structure for tabs is a bit cumbersome for simple use cases:

[code]

The following structure is a proposal to simplify its usage and hopefully covers most basic use cases:

[code]

To preserve existing tab-customization use cases, the following approaches could work:

1. Adding "title" slot to allow customizing `tab`'s title:

[code]

1. Adding `icon-start`/`icon-end`

[2021-08-03 23:24] caripizza commented on #1681
closing in favor of #2461

[2021-08-03 23:24] #1681 closed

[2021-08-03 23:26] driskull commented on #2720
Note:

[4:11 PM] Matt Driscoll
    putting an overflow:hidden on the shadowRoot .content div seems to fix it
​[4:11 PM] Matt Driscoll
    Seems like a component issue. Its missing some styles to handle a bunch of text content I think

[2021-08-04 16:09] caripizza opened #2724 "Tooling: "Unchanged files with check annotations" failures on pr builds prevents merge"
### Background
Our current pr build checks include an "Unchanged files with check annotations" beta GitHub feature that will show a security warning tied to a file that wasn't changed in the pr. Here's an example from pr #2502, showing a build check failure due to a "Shell command built from environment values" issue in support/prepReleaseCommit.ts:

![image](https://user-images.githubusercontent.

[2021-08-04 17:25] caripizza opened #2726 "Enhancement: add `readonly` property to calcite-input"
### Description
Add `readonly` property to calcite-input, ensure it renders with accompanying styles. Per @macandcheese:

See [Discussion in Teams](https://teams.microsoft.com/l/message/19:fd15b51dacd24e70895ec1218a54ae06@thread.skype/1628092970609?tenantId=aee6e3c9-711e-4c7c-bd27-04f2307db20d&groupId=56fae21a-9407-4943-859f-a9bfcf0bbad3&parentMessageId=1628092970609&teamName=Calcite%20Design%20Sy

[2021-08-04 17:28] caripizza commented on #2726
@macandcheese please add anything I missed here. @julio8a @jcfranco we may need to add this one to the current sprint.

[2021-08-04 17:37] macandcheese commented on #2726
Thanks for adding. Probably a larger discussion around other native attributes we don't explicitly accept should happen - pattern, inputmode, etc could be useful and currently not possible to use.

[2021-08-04 17:53] jcfranco commented on #2726
@caripizza Added!
@macandcheese Agreed.

[2021-08-04 18:06] julio8a commented on #2461
verified on master.

[2021-08-04 18:06] #2461 closed

[2021-08-04 18:11] julio8a opened #2727 "Unstable Test: combobox"
## Summary

**Which component?:**
`Combobox`

**Which test(s)?:**
`src/components/calcite-combobox/calcite-combobox.e2e.ts`

**Test error:**
[code]

**PR that skipped the test:** #2710
PR still pending design and code review

## Additional Info
Inline changed to block

[2021-08-04 19:31] bstifle opened #2728 "Bug: calcite-font-weight-bold is the wrong weight"
calcite-font-weight-bold is the wrong weight

[code]

should be:

[code]

[2021-08-04 20:27] driskull commented on #2726
Agreed.

This is why I was thinking we could have a `input` slot on `calcite-input` where a user can just slot a native input with all these attributes. Then we could still have `calcite-input` with shadowRoot and maintain native form support as well.

[2021-08-04 20:38] macandcheese commented on #2726
That is Ionic's approach: https://github.com/ionic-team/ionic-framework/blob/2d6e45e8d11e3c1ebf00359fe99805c6994653a6/core/src/components/input/input.tsx#L45
https://github.com/ionic-team/ionic-framework/blob/2d6e45e8d11e3c1ebf00359fe99805c6994653a6/core/src/components/input/input.tsx#L408

Is this what that would look like?
```<calcite-input><input slot="input" readonly  inputmode="tel" /></calci

[2021-08-04 20:49] driskull commented on #2726
I guess we should follow ionic 👍

[2021-08-04 20:50] asangma commented on #2625
@zaramatheson Instead of adding a width property, I updated the component to better respect its container. User will still need to put something like a "width: 100%" style on CalciteDropdown, but once that is done, the user should be able to set the width on whatever is passed into the `dropdown-trigger` slot and that should work, e.g.

[code]

[2021-08-04 21:22] driskull commented on #2446
I think we may just need to log a warning for this.

[2021-08-04 21:39] AdelheidF opened #2729 "Bug: calcite-list no longer as wide as panel"
calcite 2 weeks ago:

![image](https://user-images.githubusercontent.com/44481292/128258186-39d38b86-5d01-4e2d-8783-77c6cad70816.png)

calcite next.261:

![image](https://user-images.githubusercontent.com/44481292/128258256-56545284-7941-4b44-854e-ae69663339b5.png)

If I uncheck `display:flex` here it's fine.

![image](https://user-images.githubusercontent.com/44481292/128258529-1b51887a-9a15-4c1a

[2021-08-04 22:07] asangma commented on #2729
@caripizza Gonna punch this one out.

[2021-08-04 22:09] driskull commented on #2714
@jcfranco can we triage this for this milestone?

[2021-08-04 22:23] jcfranco commented on #2714
Added to this sprint. I assigned to you since you're already working on it.

[2021-08-04 22:46] ManahariDahal commented on #2634
Ready to verify @julio8a

[2021-08-04 22:47] ManahariDahal commented on #2561
ready to verify @julio8a

[2021-08-04 22:58] julio8a commented on #2561
Verified on master

[2021-08-04 22:58] #2561 closed

[2021-08-04 22:59] driskull commented on #2726
@jcfranco should it be `readOnly` or `readonly`? `calcite-rating` uses camel casing, however the default HTMLInputElement does not.

[2021-08-04 23:09] julio8a commented on #2634
verified on master

[2021-08-04 23:09] #2634 closed

[2021-08-04 23:10] julio8a commented on #2642
verified on master

[2021-08-04 23:10] #2642 closed

[2021-08-04 23:12] driskull commented on #2729
👊

[2021-08-04 23:15] bstifle opened #2735 "Bug: Block heading color is wrong on idle"
### Actual Behavior
heading text is ui-text-3 at idle
![image](https://user-images.githubusercontent.com/14083530/128267384-17c586c5-51a4-4f74-8849-4506fa6cf2cd.png)

### Expected Behavior
heading text should be ui-text-1 at all times
![image](https://user-images.githubusercontent.com/14083530/128267334-818f069a-7cba-4c6f-acc5-925a062c651b.png)

[2021-08-04 23:41] ManahariDahal commented on #2703
ready to verify!

[2021-08-04 23:55] AdelheidF opened #2736 "Bug: calcite-input no longer has the same height as calcite-action"
With next.261. It was fine with beta.60.

`calcite-input` and `calcite-action` have both `scale=s`.

![image](https://user-images.githubusercontent.com/44481292/128270046-9c3f2712-6b03-4e3e-8444-72c68753673e.png)

### Actual Behavior

### Expected Behavior

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM package

[2021-08-05 00:15] AdelheidF commented on #2180
This is working fine now. Closing.

[2021-08-05 02:26] bstifle commented on #2736
@asangma currently the actions are at 32px, 48px, 64px.

Would you be down with getting actions down to 24, 32, 44 like buttons, inputs, selects, etc?

[2021-08-05 02:58] julio8a commented on #2736
Why would they not follow the height scale from all other components?

[2021-08-05 04:18] bstifle opened #2739 "Bug: histogram vertical lines are disconnected from slider handles"
### Actual Behavior

the verticle white lines are way off from the handle
![image](https://user-images.githubusercontent.com/14083530/128290131-ef570858-e782-4144-b203-56f93580d35d.png)

![image](https://user-images.githubusercontent.com/14083530/128289664-191b4d54-d8cd-42b7-b120-1b3d4c2c0357.png)

### Expected Behavior

 The vertical white lines should follow with the handles (like they are conne

[2021-08-05 14:19] asangma opened #2740 "Bug: Block shows toggle icon when header-menu-actions has content"
### Actual Behavior
Block show toggle icon when there's content in the `header-menu-actions` slot.

### Expected Behavior
Block shouldn't show toggle icon when there's content in the `header-menu-actions` slot.

### Reproduction Steps or Sample

1. See Block demo.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM package

[2021-08-05 14:20] asangma commented on #2740
@caripizza @jcfranco Another quick one punch-out-able.

[2021-08-05 14:39] AdelheidF opened #2741 "Bug: missing vertical scroll bars in panel with use of custom elements, calcite-match-height not working"
-> Make `calcite-match-height` work inside of Flow.

Missing vertical scroll bars
![image](https://user-images.githubusercontent.com/44481292/128368679-5f747e2c-46b8-4bac-8ddf-2881ade1999c.png)

![image](https://user-images.githubusercontent.com/44481292/128368757-77fa400d-2f7e-4d4e-932d-b5a6dfb678ce.png)

If I add this to the custom element it's fine
[code]
### Actual Behavior

### Expected Behav

[2021-08-05 16:27] jcfranco commented on #2726
@driskull For consistency, I think `readOnly`/`read-only` (prop/attr) makes sense.

[2021-08-05 16:28] driskull commented on #2726
Sounds good. PR open for this.

[2021-08-05 16:40] julio8a commented on #2736
If there are no objections with updating the heights of `calcite-action`: S (24px) , M (32px), and L (44px) we can have this one updated this sprint by prioritizing `calcite-action` Figma/tailwind refactor. Will wait until 8/9 for feedback/comments on this.

[2021-08-05 17:00] bstifle commented on #2175
This was fixed in a past issue and I just verified

[2021-08-05 17:00] #2175 closed

[2021-08-05 17:34] bstifle opened #2744 "Enhancement: remove clear and transparent appearances from FAB"
### Description
remove clear and transparent appearances from FAB. They don't belong on the Depth level that FAB lives on. The level 2 shadow interferes with the design of those appearances as well.

### Acceptance Criteria

remove clear and transparent appearances

#### Which Component
FAB

[2021-08-05 17:45] asangma commented on #2180
@driskull Revisiting this one. Do you think it would be weird to let Flow grab whatever the last child is and remove it when the back button is clicked?

[2021-08-05 17:47] driskull commented on #2180
Yeah I think that could be bad.

[2021-08-05 17:49] asangma commented on #2180
Seems like you'd only wanna put elements in there that would be part of a flow though, no?

[2021-08-05 17:51] driskull commented on #2180
Yes, but removing any last node seems like it could go badly.

[2021-08-05 17:57] asangma commented on #2180
True.
I'm thinking that custom elements are gonna continue to be a thing we see regularly.
True, users can hook into the "calcitePanelBackClick" event, but there may be some unintended behaviors there too.

What if the user could register a partial tag (i.e. the prefix of a tag) with Flow.

[code]

[2021-08-05 17:58] asangma commented on #2180
note: I don't know what a good name for that prop would be.

[2021-08-05 17:58] driskull commented on #2180
Yeah, we could add a `selector` prop that by default has `calcite-panel` but the user could change it to whatever.

[2021-08-05 18:01] asangma commented on #2180
Got it.
Will work out details with you offline.

[2021-08-05 18:02] asangma commented on #2180
cc @AdelheidF ⬆️
Thoughts?

[2021-08-05 18:15] ethanbdev commented on #2009
@eriklharper I am seeing that with `step="any"` a decimal also cannot be inputted. This doesn't seem right, what is intended?

https://codepen.io/mpayson/pen/XWRxXBr

[2021-08-05 18:17] AdelheidF commented on #2180
That sounds great. My custom elements though don't always start with the same `vuvuzela-`. Could it be instead a prop or class on the custom tag?

![image](https://user-images.githubusercontent.com/44481292/128400734-cd0a1bfb-00d9-4edc-b665-9dc445a41fd2.png)

[2021-08-05 18:17] caripizza commented on #2744
Adding this one to the button refactor per team conversation

[2021-08-05 18:25] AdelheidF commented on #2009
We can't upgrade to beta.61 because of this.

[2021-08-05 18:27] AdelheidF commented on #2133
(1) and (2) are fixed with the use of the new `calcite-list`. (3) is still valid. Changed the title.

[2021-08-05 18:43] julio8a opened #2748 "refactor(Loader): match Figma and utilize Tailwind"
Related prs:
- pr #1636

[2021-08-05 19:59] AdelheidF commented on #2625
Looks good. Tested locally with next.262

![image](https://user-images.githubusercontent.com/44481292/128413243-90c38f9a-96ea-4970-bc76-e1d46b94ce5e.png)

[2021-08-05 19:59] #2625 closed

[2021-08-05 20:09] asangma commented on #2736
@bstifle will need to see how that affects..kinda everything.

It would have broad effects in existing implementations.

As a note, when Action is not showing text and is just the icon, medium would be 32x32 which I believe is smaller than suggested mobile touch size.

It's also pretty small hit areas for widely separated interfaces like left and right action-bars.

[2021-08-05 20:09] AdelheidF commented on #2714
I don't see a change with next.262

![image](https://user-images.githubusercontent.com/44481292/128414473-e2f6047a-191a-47d1-ad97-57f4ee1d8d50.png)

[2021-08-05 20:12] driskull commented on #2714
Did you update the CSS?

[2021-08-05 20:14] AdelheidF commented on #2714
It was merged around 4pm, and next.262 is from 11am. There is no next.263 yet

[2021-08-05 20:28] asangma commented on #2180
A class makes sense to me.
Thoughts @driskull ?

[2021-08-05 20:33] driskull commented on #2180
@asangma no, we call the prop `selector` and it can be any HTML selector but defaults to `calcite-panel`

[2021-08-05 20:42] AdelheidF commented on #2180
How would this selector work in my case above? https://github.com/Esri/calcite-components/issues/2180#issuecomment-893679671

[2021-08-05 20:43] driskull commented on #2180
You could set the selector to a class. eg: `.arcgis-layer-view`

[2021-08-05 21:20] AdelheidF commented on #2714
Good with next.263

![image](https://user-images.githubusercontent.com/44481292/128422766-8db529d0-fb8d-4ac0-be97-acf0af3c4815.png)

[2021-08-05 21:20] #2714 closed

[2021-08-05 21:26] asangma commented on #2180
Oooohhhh.... @driskull I get it now.

[2021-08-05 21:55] julio8a commented on #2458
@bstifle, this one already has s, m, and l.

Does it need anything else?

[2021-08-05 22:08] julio8a commented on #2468
- The heights for S (24px), M (32px), and L(48px) should already be taken care of from the input refactor.
- the close `X`. Currently, this is using calcite-button, but will need to be switches to a native button. Similar to Alert: https://github.com/Esri/calcite-components/blob/master/src/components/calcite-alert/calcite-alert.tsx#L118
- Spacing and general color will need a review against what's

[2021-08-05 22:14] julio8a commented on #2470
@bstifle, merged the PR for this one. Can you verify it on master?

[2021-08-05 22:26] samMatenaer opened #2751 "Bug: Calcite-popover content resize causes incorrect popover positioning"
￼
### Actual Behavior
Before:
![image](https://user-images.githubusercontent.com/50883428/128427006-5e0cafe9-f7ee-4298-9f58-5bf348cad602.png)

After:
![image](https://user-images.githubusercontent.com/50883428/128427030-7f4d2a17-4d64-449e-8e30-1317c4bc8205.png)

When popover-placement is centered below the reference element and the size of the popover content changes, the popover position is not u

[2021-08-05 23:30] driskull commented on #2751
We can setup a mutation observer and call resize. @jcfranco should we prioritize this for this sprint or not?

[2021-08-05 23:33] driskull commented on #2751
On the other hand, the user that modified the popover can just call resize on it as well. So just a matter of if we want to automatically do it for them using mutation observer

[2021-08-05 23:36] driskull commented on #2751
@samMatenaer this fixes it.

[code]

[2021-08-06 08:27] babakbolour commented on #2009
@AdelheidF just surfing the repo and saw this one!  the screenshot at the beginning comment shows RGB values, but I assume that  is just one application of the component. Can Calcite-input accept numbers bigger than 999? and if yes, then what is the behavior of this component, when an international user enters a number like this: "12 345" or "12'345"? in other words does the component accept diffe

[2021-08-06 14:02] samMatenaer commented on #2751
@driskull thanks, that's actually what i have been using to get around this problem; my code is a little more complicated than the example so it ends up just feeling a little messy.

[2021-08-06 15:24] samMatenaer commented on #2380
Should the width of this component really change based on screen width? If anything, rather than resizing the entire action pad, it might be better to just auto collapse the pad? For example, in the image below, the text should not be cut off.

<img width="556" alt="image" src="https://user-images.githubusercontent.com/50883428/128533549-d996e5a7-2e00-4aa5-ae91-8a156513fd69.png">

When you reduce

[2021-08-06 16:18] AdelheidF commented on #2009
yes, we tested that

[2021-08-06 16:31] bstifle commented on #2736
@asangma agreed. pretty much all the layout components utilize action.

another way around this would be to not use actions in tandem with inputs, per the OG issue. use a native button and style accordingly

[2021-08-06 16:39] AdelheidF commented on #2736
This is a breaking change for a bunch of our components.

[2021-08-06 16:43] bstifle commented on #2458
i believe the Large size type is wrong, and the spacing between the type and icons are off on small and large

[2021-08-06 16:44] bstifle commented on #2458
also, there are no examples of action pad or action bar in small or large sizes, would be dope to update the demo there

[2021-08-06 16:46] raje9276 commented on #2127
@eriklharper what is the behavior with native numbers like Arabic?

Does input accept native numbers like these
<html>
<body>

١ | ٢ | ٣ | ٤ | ٥ | ٦ | ٧ | ٨ | ٩
-- | -- | -- | -- | -- | -- | -- | -- | --

</body>
</html>

[2021-08-06 16:48] bstifle commented on #2468
only thing there is L should be 44px total height

[2021-08-06 16:54] bstifle commented on #2470
lookin good!

[2021-08-06 16:54] #2470 closed

[2021-08-06 17:02] AdelheidF commented on #2736
What about adding a size XS for `calcite-action` that would then match calcite-input? Still a breaking change, but at least it's easy to fix.

[2021-08-06 17:05] driskull commented on #2727
@julio8a i'm not seeing any skipped test from that PR

[2021-08-06 17:06] macandcheese commented on #2736
Couldn't actions that are slotted in those locations just use scale="l", just a 4px change from current?

[2021-08-06 17:35] macandcheese commented on #2042
What's the status of this? Would be great to get the correct values in there, it's a little weird now when switching between dark and light theme in a UI: https://jmp.sh/k0OOfHQ

[2021-08-06 17:54] caripizza commented on #2042
@macandcheese just waiting on a new release of calcite-colors [per my comment in the linked issue](https://github.com/Esri/calcite-colors/issues/68#issuecomment-880827606)  cc @paulcpederson

[2021-08-06 18:08] julio8a commented on #2042
I can help publish. I'm looking at the latest for calcite-colors and it's [6.0.0](https://github.com/Esri/calcite-colors/blob/master/package.json#L3), same as on NPM. Does that need to be updated before publishing a new version?

[2021-08-06 18:31] AdelheidF commented on #2729
Looks good. Tested locally with next.263.

[2021-08-06 18:31] #2729 closed

[2021-08-06 19:55] ManahariDahal commented on #2626
ready to verify @julio8a

[2021-08-06 20:24] julio8a commented on #2626
verified on master

[2021-08-06 20:24] #2626 closed

[2021-08-06 20:24] julio8a commented on #2703
verified on master

[2021-08-06 20:24] #2703 closed

[2021-08-06 20:26] ManahariDahal commented on #2638
ready to verify @julio8a

[2021-08-06 20:27] julio8a commented on #2638
verified on master

[2021-08-06 20:27] #2638 closed

[2021-08-06 20:32] julio8a commented on #2643
verified on master

[2021-08-06 20:32] #2643 closed

[2021-08-06 20:36] ManahariDahal commented on #2576
ready to be verified @julio8a

[2021-08-06 20:39] julio8a commented on #2576
verified on master

[2021-08-06 20:39] #2576 closed

[2021-08-06 21:02] julio8a commented on #2637
verified on master

[2021-08-06 21:02] #2637 closed

[2021-08-06 23:51] bstifle commented on #749
Here's the design with an opacity slider:

![image](https://user-images.githubusercontent.com/14083530/128580730-486e856b-aa0c-4f79-89fe-4958701dda5d.png)

[2021-08-06 23:57] rmstinson commented on #2453
Should be resolved with the Pick List issue: https://github.com/Esri/calcite-components/pull/2502

[2021-08-07 00:24] jcfranco opened #2761 "Bug: [calcite-dropdown] closes after selection even with `disableCloseOnSelect`"
### Actual Behavior

`calcite-dropdown` closes if an item has a non-text node child when `disableCloseOnSelect` is enabled. Note, that this behavior **is expected** when the group's selection mode is set to `none`.

### Expected Behavior

For the dropdown to remain opened regardless of the item's content (does not apply to `selection-mode=none`).

### Reproduction Steps or Sample

1. Open the foll

[2021-08-09 17:13] jcfranco commented on #2570
Quick update: @driskull and I met up last week and we'll work on some prototypes by the end of the week. We'll use this to gauge the strategy moving forward. 💪🏼

[2021-08-09 17:17] AdelheidF commented on #1679
this is fine now

[2021-08-09 17:17] #1679 closed

[2021-08-09 17:29] driskull opened #2763 "Bug: DatePicker - setting range logic & unable to set the same date as range"
### Actual Behavior

It's tough just to get the range correct. Especially since when you hover a range and click, it doesn't set to what it is telling you.

For example:

![test](https://user-images.githubusercontent.com/1231455/128739459-ac4643cb-c279-472e-a148-a0073834e3fa.gif)

I would expect the range to be what the blue hover is set to but it does the opposite.

I think we should fix:

- Sett

[2021-08-09 17:32] eriklharper commented on #2009
@babakbolour correct.  The input component accepts the locale-appropriate thousand separators.

[2021-08-09 17:34] jcfranco commented on #2694
Closing as self-verified. Color picker tests have been stable since install.

[2021-08-09 17:34] #2694 closed

[2021-08-09 17:38] eriklharper commented on #2009
Definitely a bug.  The `any` step should allow all types of number values, including decimals according to the HTML spec.  https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/step  I'll create a bug issue to address this.

[2021-08-09 17:39] eriklharper opened #2764 "Bug: calcite-input type="number" step="any" doesn't support decimals"
### Actual Behavior

Decimals cannot be entered when a number calcite-input's step is set to "any".

### Expected Behavior

Decimals are supported with the "any" step in the native number input, so calcite-input support the same.

### Reproduction Steps or Sample

[code]
1. Type `123.45`
2. Result: decimal is ignored

### Relevant Info

@eriklharper I am seeing that with `step="any"` a decimal als

[2021-08-09 17:55] jcfranco commented on #2512
I think we've narrowed down the list of changes. Moving this to the backlog until we get closer to the batch renaming beta release.

[2021-08-09 18:22] eriklharper commented on #2127
Doesn't look like it currently.  I see a brief flash of the arabic numerals on initial load, but it looks like one of our number validator functions ignores them so we'll have to convert the localized number characters back to english numbers to do the validation instead of validating the locale characters. Thanks for testing this!  I'll create a new issue that adds locale numeral support, and thi

[2021-08-09 18:22] eriklharper opened #2765 "calcite-input type="number" doesn't support display or entry of locale-specific number characters"
Doesn't look like it currently.  I see a brief flash of the arabic numerals on initial load, but it looks like one of our number validator functions ignores them so we'll have to convert the localized number characters back to english numbers to do the validation instead of validating the locale characters. Thanks for testing this!  I'll create a new issue that adds locale numeral support, and thi

[2021-08-09 18:22] #1034 closed

[2021-08-09 19:45] bstifle commented on #2763
1. This behavior is nice when the datepicker is on its own, but not inside of inputs.

2. The ux needs to be corrected when clicking on an explicit start/end date range input.

I dont want this changed unless we are talking about #2

[2021-08-09 19:59] asangma opened #2767 "Enhancement: CalciteListItem add styles for slotted CalciteHandle"
### Description
ListItem has styles for Action and Icon.
It should have similar styles for Handle.

### Acceptance Criteria
Match UI.

### Relevant Info

#### Which Component
CalciteListItem

#### Example Use Case
When ListItems are in SortableList and using Handle for the handle.

[2021-08-09 20:11] jcfranco commented on #2724
Installed!

If this shows up again, I can try something similar to [this](0e60ba9195c63b98d46b26264f3e99058617b7c9) where arguments are passed individually to the command runner.

[2021-08-09 20:14] jcfranco commented on #2724
Before that, another option would be to quote all commands, like this blog post suggests: https://auth0.com/blog/preventing-command-injection-attacks-in-node-js-apps/

[2021-08-09 21:03] driskull commented on #2042
Yes.

[2021-08-09 21:06] julio8a commented on #2041
@justinhough will work on:
* Radio button
* ration button group
* rating

[2021-08-09 21:11] driskull commented on #2042
https://github.com/Esri/calcite-colors/blob/master/CONTRIBUTE.md#releasing-a-version

[2021-08-09 21:22] ManahariDahal opened #2769 "Enhancement: demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-radio following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- _calcite-radio_, _calcite-radio-button(rtl)_, _calcite-radio-button-group_, _calcite-radio-button-group(rtl)_, and _calcite-radio-group_ should be combined into one _calcite-radio_ page

#### Which Compone

[2021-08-09 21:25] jcfranco commented on #2577
Looks like label or block-section needs to tweak the trailing space. @Esri/calcite-design-representatives Do you think this is the case or are there other things to consider?

[2021-08-09 21:33] caripizza commented on #2577
Which version? This might be fixed in latest `next` [per my comment in Justin's pr](https://github.com/Esri/calcite-components/pull/2681#issuecomment-892215276)

[2021-08-09 21:35] jcfranco commented on #2577
@caripizza Thanks for the update!

@AdelheidF Can you update the description with the version and also check if this is fixed in `next`?

[2021-08-09 21:50] AdelheidF commented on #2577
Tested with next.265.

Horizontal alignment is correct now. Vertical is not.

![image](https://user-images.githubusercontent.com/44481292/128778991-9e746dda-13d3-418d-8b1b-f0990489c729.png)

[2021-08-09 22:51] bpatterson88 opened #2770 "Enhancement: Resize calcite-panel with click-and-drag"
### Description

Allow users to resize calcite-panel with click and drag.

### Acceptance Criteria

- User can click and drag to resize calcite-panel width

### Relevant Info

Changing the width of the panel through width-scale property (M->L) doesn't leave enough room for the dashboard preview.

#### Which Component

`calcite-panel`

#### Example Use Case

ArcGIS Dashboards is planning to place c

[2021-08-10 14:38] bstifle commented on #2770
This would be so dope! What are your thoughts on the hover/press/drag states?

Just simple like figma, or do you want to design something more like vscode?

[2021-08-10 16:29] julio8a commented on #2748
This one is not needed after all. @bstifle, please reopen if needed.

[2021-08-10 16:29] #2748 closed

[2021-08-10 16:47] caripizza commented on #2724
Verified, the [security alert](https://github.com/Esri/calcite-components/security/code-scanning/5?query=ref%3Arefs%2Fheads%2Fmaster) shows it was fixed in Franco's commit here: https://github.com/Esri/calcite-components/commit/a69e2783a33d0506cde5a3d7a2f86904db89ddcd

[2021-08-10 16:47] #2724 closed

[2021-08-10 16:55] driskull commented on #2535
@COV-GIS I'm not seeing any event in the codepen unless I change the event to `calciteRadioButtonGroupChange`. Then it seems to work fine.

[2021-08-10 17:13] hccampos opened #2778 "Enhancement: make calcite-tooltip delay customizable"
### Description

In certain cases the tooltips can be very easy to miss due to the long delay of 500ms. It would be nice to be able to customize the delay.

If we don't want to allow specifying the delay in milliseconds, we could support `fast`, `slow`, `none` or something similar.

Thoughts?

<sub>SVCH</sub>

[2021-08-10 17:25] COV-GIS commented on #2535
Guess you have to use the right event. Thanks @driskull.

[2021-08-10 17:25] #2535 closed

[2021-08-10 17:48] caripizza commented on #2726
Looks like `read-only` doesn't work on a numeric input's up/down arrows - I can still use the keyboard arrow keys to change the input's value. I can also use the Esc key to clear a numeric input's value. I tried this code with `1.0.0-next.265`:

[code]

Should I create a new issue to make this new prop work on number inputs?

[2021-08-10 19:04] driskull commented on #2770
It would probably be good to add a `resizable` prop to where we need it. Maybe just the `calcite-shell-panel` for now? We would also use a tailwind property for setting css resize.

[2021-08-10 19:05] driskull commented on #2726
We can just use this issue @caripizza

[2021-08-10 19:09] caripizza commented on #2726
Got it @driskull, are you working on that already or should I take a stab at it?

[2021-08-10 19:17] driskull commented on #2726
I have something but you can take it over if you want :D

[2021-08-10 19:19] bstifle commented on #2530
@andrewctate were you able to take a look at those  solutions?

[2021-08-10 19:25] bstifle commented on #1931
@TheBlueDog @asangma  can we close this since we are removing that border?

[2021-08-10 19:28] bstifle commented on #997
@macandcheese is this still necessary? panels heights can vary based on the props used

[2021-08-10 19:39] andrewctate commented on #2530
Hi @bstifle. Thanks for your solutions comment. I did see it, but assumed it was directed at the Calcite Components team.

We fixed the problem on our end by overriding the text color. I opened this issue just to share the feedback we received in case your team found it useful in considering any changes to this styling in `calcite-components` itself.

Thanks for your time in researching this for m

[2021-08-10 19:56] bstifle commented on #2530
@andrewctate can you share a screenshot on your solution?

Thanks!

[2021-08-10 19:58] julio8a commented on #2778
Yes, this will be a good enhancement. I've noticed this too when hovering over elements with tooltips. Sometime I look somewhere else and notice that the tooltip shows up. Franco and I will triage this.

[2021-08-10 20:04] #997 closed

[2021-08-10 20:11] andrewctate commented on #2530
<img width="455" alt="download options" src="https://user-images.githubusercontent.com/315764/128928418-b4d2575a-aaff-4713-91cc-9a78999db5d3.png">

[2021-08-10 20:22] hccampos commented on #2778
Great! Then I can probably contribute a PR for this, if you don’t get to it before. Just let me know once it’s ready for development/triaged.

[2021-08-10 20:49] bstifle commented on #1592
@justinhough this is the most up do date and accurate comment:

https://github.com/Esri/calcite-components/issues/1592#issuecomment-887715401

[2021-08-10 21:28] caripizza commented on #2457
Self-assigning and adding to next sprint, per conversation with @julio8a.

[2021-08-10 21:36] julio8a opened #2781 "refactor(Action Pad): match Figma and utilize Tailwind"
5/19 QA: visual design looks good based on what Cari and Bryan see in Figma

8/10: Needs S and L scale

Related prs:
- pr #1816

Figma designs: https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1184%3A6690

[2021-08-10 21:37] caripizza commented on #1220
Self-assigning and adding to next sprint per conversation with @julio8a

[2021-08-10 21:52] asangma commented on #2781
ActionPad doesn't support scale.

[2021-08-10 21:56] bstifle commented on #1220
@caripizza  looks like we need to add one to notice as 'neutral'

![image](https://user-images.githubusercontent.com/14083530/128940372-153e4e3f-89c9-47c2-8bd5-494d443fe5e7.png)

[2021-08-10 21:57] asangma commented on #2452
ActionBar doesn't support scale.

I believe the extra space around the trigger was addressed [here](https://github.com/Esri/calcite-components/pull/2557).

Is this a suggestion for a code change or a Figma update?

[2021-08-10 22:24] #1931 closed

[2021-08-10 22:30] driskull commented on #2778
If you can create a PR that would be great!

[2021-08-10 22:58] driskull commented on #2726
Installed fix

[2021-08-11 15:07] caripizza commented on #1220
What icon should an alert have when its new color is "brand"?

This is the current list: https://github.com/Esri/calcite-components/blob/master/src/components/calcite-alert/interfaces.ts#L3

[2021-08-11 15:39] caripizza commented on #2726
Verified fixed on `1.0.0-next.266` using the same snippet from my above comment, closing this out.

[2021-08-11 15:39] #2726 closed

[2021-08-11 15:43] bstifle commented on #2452
Why would we need to do that with the hover state, to account for the focus ring...?

The hover/press states should go edge to edge

[2021-08-11 15:50] caripizza commented on #2042
Verified on [`1.0.0-next.266`](https://unpkg.com/@esri/calcite-components@1.0.0-next.266/dist/calcite/calcite.css), the new border var values appear as:

[code]

[2021-08-11 15:50] #2042 closed

[2021-08-11 15:56] caripizza commented on #2697
@ptmdmusique I'd like to close this one if we can - did the fix work for you? (Yesterday we released 1.0.0-next.266 so this one is ready to be verified.)

[2021-08-11 16:19] caripizza commented on #1301
@bstifle can we close this one? Input has the border-input color. However, Figma shows different border colors for buttons based on color so I don't think that part of the issue is valid anymore.

[2021-08-11 16:29] caripizza commented on #1547
@rmstinson are you still working on this one or was this covered in your pr #2502?

[2021-08-11 16:30] bstifle commented on #2458
@asangma @julio8a @macandcheese yo guys. Action type. Currently Small text size is text--2h, Medium is text--2h, and Large is text-0h.

Would like to stay consistent with the global font scaling and get medium to use text--1h

[2021-08-11 16:33] caripizza commented on #1672
closing in favor of #2471 and #2469

[2021-08-11 16:33] #1672 closed

[2021-08-11 16:34] bstifle commented on #1301
Yep! oldie!

[2021-08-11 16:34] #1301 closed

[2021-08-11 16:35] caripizza commented on #1817
Related: #2728

[2021-08-11 16:36] julio8a commented on #2452
Same comment I posted in the action-pad, currently, action-bar doesn't support scale, which we need to add (S and L). It's really odd how it works now where you can change the scale of `action` inside action bar and it breaks.

The goal would be to set it at the parent level (action-bar) and action would follow, in this instance.

[2021-08-11 16:38] ptmdmusique commented on #2697
Hmmm, I think I still have the same error

[2021-08-11 16:51] caripizza commented on #1928
@eriklharper is this one still relevant?

[2021-08-11 16:52] macandcheese commented on #2452
Is there a way to address this at the action level? Why does the focus ring rely on space around the element?

This 1px space occurs when using calcite-action elements that are slotted (in this case, in a panel). Focus, hover, placement all seem to have slightly different visuals, and looks sloppy. Can we eliminate these small px differences with action?

<img width="800" alt="Screen Shot 2021-08-

[2021-08-11 17:04] asangma commented on #2781
I don't think it needs scale.
It's a container for Actions and/or ActionGroup, and Action has scale. ActionPad is responsive to its content.

[2021-08-11 17:08] caripizza commented on #2697
Bummer @ptmdmusique, thanks for the update. I'm not sure re: cache cleaning, however that error matches the one @ethanbdev reported in #1941 exactly. We'll keep this issue open while we continue to look into it.

[2021-08-11 17:08] eriklharper commented on #1928
Yes, I would think this would be a good enhancement still.

[2021-08-11 17:19] bstifle commented on #2452
agreed the margin is strange. things should be edge to edge. focus should just be an internal 2px stroke

[2021-08-11 17:21] ethanbdev commented on #2697
Yes, this is the same issue it looks like, thanks!

[2021-08-11 17:49] paulcpederson commented on #2527
This is a nice approach!

I would change the promise signature slightly so that the resolved value is what we use for the custom value. That way a dev could transform things if need be (ie escape certain chars, dedupe things, etc). If resolved with a falsey value this could stop the addition entirely?

[code]

or something like that.

[2021-08-11 18:00] bpatterson88 commented on #2770
- Simple like Figma, using either the `ew-resize` or `col-resize` cursors.
- Min width would match `width-scale=s`, max-width would match `width-scale=l`
- Closing and reopening panel would retain custom width if set.

[2021-08-11 18:01] bstifle commented on #2770
cool. what about behaviors like double clicking to expand to longest item?

[2021-08-11 18:11] asangma commented on #2781
Got it. This is a much more specific issue. It probably shouldn't be considered a scale setting for ActionBar.
We might consider something like an `expand-button-scale` property.

@driskull thoughts on that naming?

[2021-08-11 18:15] driskull commented on #2781
Yeah this is tricky because `action`s can be child elements as well as stand alone elements.

So, we could have a scale on the action-bar/pad but then it would override the scale on action. The `action-bar` expanded property does this for `text-enabled`.

[2021-08-11 18:21] asangma commented on #2781
Thinking the property would just affect the expand button that ActionPad is responsible for inserting.

[2021-08-11 18:23] driskull commented on #2781
We could go either way but we should decide if scale should be a thing a user sets on a parent or child component. It would be more convenient to just set it on the parent once and not have to set it on every child.

[2021-08-11 18:24] asangma commented on #2452
In ActionMenu, the button inside Action is not actually getting focused. That's why the additional fun tims. The Action is getting `active` set on it, and the focus styles are targeted to slotted Actions with that prop.

@driskull Is there a straight-forward way for ActionMenu to tell its slotted Actions to handle focus (i.e. pass focus on to the button in Action's shadow DOM)?

[2021-08-11 18:32] driskull commented on #2452
@asangma unfortunately, no. The actions should not actually be focused so we need to have active styles that mimmic it better.

We're going to run into this more and more as we only allow focus on one element at a time for a component. Especially if the component opens a menu or something like that.

https://www.digitala11y.com/aria-activedescendant-properties/
https://www.w3.org/TR/wai-aria-pract

[2021-08-11 18:38] driskull commented on #2452
Here's a good summary: https://developers.google.com/web/fundamentals/accessibility/focus/using-tabindex#managing_focus_in_components

[2021-08-11 18:44] julio8a commented on #2781
I think it's best to set it at the parent. Seems like it can be a hassle to set it to all the children. It's easier with one and done.

[2021-08-11 19:01] bpatterson88 commented on #2770
Double click to expand would be pretty cool to have, but probably not a requirement.

Another wrinkle is handling items with right aligned actions. I suppose they would hug the right edge of the panel until they collide with the left edge of the item at which point they would overflow the panel. (The reality is probably more complex than that but I think that'd be the target behavior.)

[2021-08-11 20:24] caripizza commented on #2727
^ agree with @driskull  - @julio8a I'm going to close this one but please re-open if I missed something here.

[2021-08-11 20:24] #2727 closed

[2021-08-11 20:33] AdelheidF commented on #2764
In what sprint will this be? Map Viewer is waiting on it because we can't upgrade from beta.60 without it.

cc @jcfranco @julio8a

[2021-08-11 20:34] AdelheidF commented on #2009
Closing this. The new issue is handled via https://github.com/Esri/calcite-components/issues/2764

[2021-08-11 20:42] asangma commented on #2781
Have we established a pattern/philosophy on cascading properties in our components?

[2021-08-11 20:44] asangma commented on #2452
Thanks @driskull.
@bstifle @macandcheese Does this help explain the situation and the reasoning behind the solution that was devised?

[2021-08-11 20:53] ManahariDahal opened #2789 "Enhancement: calcite-radio-button-group demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the `calcite-radio-button-group` following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- `calcite-radio-button-group` should be isolated from other radio component to make it easier to test

#### Which Component
`calcite-radio-button-group`

[2021-08-11 21:00] jcfranco commented on #2764
@eriklharper What's your estimated level of effort for this?

[2021-08-11 21:01] eriklharper commented on #2764
That should be a fairly quick turnaround, maybe a day or two?

[2021-08-11 22:41] TheBlueDog commented on #2770
Since you can't predict what content will be in the panel, and what components will be used for that content, this would over complicate things.

I'm in favor of just simple implementation. Maybe not even put a max on it. We follow the principle of "let the user be in control of their workspace." So if they want the left panel 800px wide, let em.

[2021-08-11 22:49] jcfranco commented on #2764
@eriklharper Thanks! Added to the current sprint, although it may roll over to the next one. Can you update the issue title and description to match our templates?

[2021-08-11 22:54] TheBlueDog commented on #2770
Panels can still be open/closed by using the actions in the action bar

[2021-08-11 23:05] ManahariDahal opened #2791 "Enhancement: calcite-radio-group demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the `calcite-radio-group` following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- `calcite-radio-group` should be isolated from other radio component to make it easier to test

#### Which Component
`calcite-radio-group`

[2021-08-11 23:20] julio8a commented on #1817
Since this is not publicly documented, we can change this anytime and not wait for a big rename sprint.

[2021-08-11 23:29] julio8a commented on #2739
closing in favor of #2569

[2021-08-11 23:29] #2739 closed

[2021-08-11 23:43] jcfranco commented on #2569
Closing in favor of #2706

[2021-08-11 23:43] #2569 closed

[2021-08-11 23:47] paulcpederson commented on #991
https://github.com/ionic-team/stencil/pull/2989 looks like they are going to allow us to opt out of the default stencil hydrated style visibility. That would enable us to actually fix this.

[2021-08-12 00:02] jcfranco commented on #2439
@tyanthony Can you help answer the above and possibly provide a test case instead of screenshots?

[2021-08-12 00:05] bstifle opened #2793 "Enhancement: Add "hint-text" to calcite-label"
### Description
Add `hint-text` property to `calcite-label`

### Acceptance Criteria
need text separate from calcite-message and calcite label to solve for static support text

### Relevant Info
Could be neat to use for character count requirements

#### Which Component
`calcite-label`

#### Example Use Case
![Hint stuff](https://user-images.githubusercontent.com/14083530/129118796-11a631b1-5772-4

[2021-08-12 00:16] jcfranco commented on #1656
@asangma What's your call on this one?

[2021-08-12 00:21] jcfranco commented on #1082
@Esri/calcite-design-representatives Any tips to distinguish the pressed state on ☝🏼 ?

[2021-08-12 00:24] jcfranco commented on #2232
@asangma Do you have cycles to work on this for the next sprint? Otherwise, I can label this as 'help wanted'.

[2021-08-12 00:30] jcfranco commented on #2525
Closing in the name of consistency.

[2021-08-12 00:30] #2525 closed

[2021-08-12 16:22] macandcheese commented on #2793
Can we at least style plain text in that named slot? If it’s not a prop, consistency of visual style goes out the window, which we have begun to lose sight of while making many of these props just open slots.

Right now calcite label is just one big slot anyway for the most part… so folks can already put non-styled / non-text content and position and style themselves.

[2021-08-12 17:48] asangma commented on #2781
My though on this is that if the parent is rendering the children and can set the `scale` properties on each of those children (e.g. DatePicker), then the property should cascade.

If the children are being written in by the app, each `scale` prop should be set during that process.

Seems like the `scale` property should affect the scale of the thing the property is being set on.

As far as conven

[2021-08-12 17:50] driskull commented on #2781
What we want to avoid is having an action-bar with actions that have different scales. So to me it seems like the action-bar should enforce that.

[2021-08-12 17:53] asangma commented on #2781
Seems like an educational approach should help with that.

If anything though, seems like ActionGroup would be the appropriate place to implement a cascading `scale` property.

[2021-08-12 19:18] samMatenaer commented on #2433
this also ends up being annoying in callback functions using typescript where users then have to assert the type to avoid strict typing errors
[code]

[2021-08-12 21:28] asangma opened #2800 "Enhancement: Alert - update autoDismissDuration to accept CSS time values"
### Description
Update Alert's autoDismissDuration property to also accept valid CSS time values: `ms` and `s`.

### Acceptance Criteria
Valid CSS duration values are accepted.
Existing strings continue to be accepted.

### Relevant Info
Sometimes "fast" is too slow.

#### Which Component
Alert

#### Example Use Case
Showing a success message in a blocked ui.

[2021-08-12 21:29] asangma commented on #2800
Alternatively, make "fast" faster.
Or add "turbo".

[2021-08-12 21:50] asangma opened #2801 "Enhancement: Scrim - render default slot"
### Description
Render default slot in Scrim.
This will allow users more flexibility for loading, success, error, etc. states and messages.

[code]

### Acceptance Criteria
* Render the default slot.
* Add CSS to retain some padding around anything that is added to the default slot
* Possibly also add some CSS for some reasonable/expected content, e.g. Notice or "modal" like use-cases

### Relevan

[2021-08-12 21:53] asangma commented on #2801
Another example use case would be

1. either set `loading` to a Panel or manually add Scrim to the Panel
2. when the process is done, show status (error or success), remove `loading` prop from Panel or Scrim
3. add Notice to Scrim
4. based on timing set in app, remove Scrim.

[2021-08-13 10:22] yannikmesserli commented on #2778
Part of the same integration that triggers this feature request, SV also used to hide certain tooltips when the mouse was over. E.g. in this situation, the tooltip goes over the close button, so the user would be annoyed to move away to get to the button:
![2021-08-13 12 20 31](https://user-images.githubusercontent.com/1910449/129343052-8be0e287-6f20-436a-bb68-34405594d5b3.gif)

Can we also add a

[2021-08-13 15:11] asangma commented on #2801
@jcfranco @caripizza This might be needed/helpful relatively soon and the update is low effort and low risk.

[2021-08-13 16:18] jcfranco commented on #2801
Added to the following sprint.

[2021-08-13 16:19] asangma commented on #2801
Thanks @jcfranco!

[2021-08-13 16:19] asangma commented on #2801
Do you want me to handle the PR?

[2021-08-13 16:23] driskull commented on #2778
Yeah could we get a separate issue for that?

[2021-08-13 16:42] caripizza commented on #2577
Where is the code snippet so we can reproduce the issue?

[2021-08-13 16:43] asangma opened #2806 "Bug: z-index is leaking out and causing conflicts"
From https://github.com/Esri/calcite-components/pull/2650#issuecomment-898580756

cc @bstifle

### Actual Behavior
Some components have z-index conflicts.

- [ ] DatePicker
- [ ] Slider
- [ ] ColorPicker
- [ ] ComboBox
- [ ] Dropdown
- [ ] Input
- [ ] InputDatePicker
- [ ] Popover
- [ ] Scrim

@bstifle Please ensure that these are all the places you're seeing the issues.

### Expected Behavior
No

[2021-08-13 16:51] asangma commented on #2806
@driskull

The work that @ManahariDahal is doing presents some consistent DOM and CSS classes that can be used to help with this. 🤞🏾

[2021-08-13 16:53] driskull commented on #2806
@asangma but these aren't issues with the demo pages, they are issues with the components themselves. A user could run into this as well.

[2021-08-13 16:55] asangma commented on #2806
@driskull Ah. Understood. I'll update the issue.

[2021-08-13 16:57] jcfranco commented on #2801
That'd be awesome. Feel free to grab it and remove the `help wanted` label. :)

[2021-08-13 16:58] driskull commented on #2806
We may need to setup some kind of test for this.

For example, having a div with a `z-index:2` and a component where they are both absolutely positioned at `top:0; left:0;`. The component should never be on top of the div.

This would test that any internal z-index used within the component is constrained within the component using `position:relative`.

No more leaky z-index issues.

@jcfranco wha

[2021-08-13 17:22] AdelheidF commented on #2577
The test case is part of Map Viewer.

Can you not reproduce it with a `calcite-block-section` and a `calcite-label` with a `calcite-switch`?

[2021-08-13 17:23] samMatenaer opened #2807 "Docs: Consistent slot documentation"
### Description
All the available slots in the Panel component are documented in a Slots list in the [documentation](https://esri.github.io/calcite-components/?path=/docs/components-panel--basic).

However, for components like Card [don't have a similar list](https://esri.github.io/calcite-components/?path=/docs/components-card--simple), making it difficult to find available slots

List of compone

[2021-08-13 17:25] caripizza commented on #2577
@AdelheidF we have various devs working on style issues like this, and some don't have access to what you're looking at. Any code you can give us will help us fix the issue faster, thanks.

[2021-08-13 17:43] bstifle opened #2808 "Bug: Stepper needs to use -h text sizing instead of -wrap"
Stepper needs to use -h text sizing instead of -wrap in all scales and sizes, headers and summaries, and the numbers

### Actual Behavior
Stepper type using text-wrap

### Expected Behavior
Stepper type using text-h

[2021-08-13 17:46] caripizza commented on #2458
Blocked by #2736

[2021-08-13 17:50] asangma commented on #2458
I'll have a look at how that affects things.
@bstifle Per your comment, it looks like you're suggesting

| text size | scale |
|:-------:|:-----:|
| --2h? | s |
| --1h | m |
| -0h | l |

Is that correct?

[2021-08-13 18:03] asangma commented on #2736
I see two things going on here.

1. We could add styles in Input to target a slotted Action or Button.
  - we do this is other places effectively
2. Input currently sets heights based on scale. We should consider letting the height be defined by the font sizes and padding.
3. We can also update Input styling to be more responsive to its slotted content.

[2021-08-13 18:05] julio8a opened #2810 "refactor(Rating): match Figma and utilize Tailwind"
Related issues:
- #2041

Related prs:
- pr #1638
- or #2220

Design:
- 24, 32, ~~48~~ 44 height without chips

[2021-08-13 18:10] hccampos commented on #2778
@yannikmesserli that one isn't really an issue. It is happening because we're placing the tooltip inside of the menu item. If the tooltip is placed outside (e.g. as a sibling) then the tooltip does get hidden when moving the mouse away from the menu item.

[2021-08-13 18:20] asangma commented on #2736
Note that 1. is probably the  simplest approach though I think 2. should be considered at some point as a separate discussion. And 3. is probably a broader philosophical suggestion toward more flexible componentry.

[2021-08-13 18:22] justinhough commented on #2810
@julio8a I thought large was `44px`.

[2021-08-13 18:36] julio8a commented on #2810
Whoops, Yes, typo on my part, I'll update description.

[2021-08-13 18:40] ManahariDahal commented on #2616
ready to verify @julio8a

[2021-08-13 19:15] driskull commented on #2806
For example, if you add a `z-index:1` on the `.conatiner` of `calcite-slider` it is fixed.

[2021-08-13 20:13] ethanbdev commented on #2764
LGTM on next, https://codepen.io/mpayson/pen/XWRxXBr

[2021-08-13 20:23] julio8a commented on #2456
Verified on master demo pages

[2021-08-13 20:23] #2456 closed

[2021-08-13 20:25] julio8a commented on #2080
Verified on master demo pages.

[2021-08-13 20:26] julio8a commented on #2465
Verified on master

[2021-08-13 20:26] #2465 closed

[2021-08-13 20:41] caripizza commented on #2082
Tree scales were installed in pr #2803.

Next I'll fine-tune the selection visuals with Bryan in Figma. We'll need to support all 5 of tree's selection-modes, which were implemented according to the specs here:
- https://www.w3.org/TR/wai-aria-practices-1.1/#:~:text=Selection%20in%20multi-select%20trees
- https://www.w3.org/TR/wai-aria-practices-1.1/#:~:text=Alternative%20selection%20model%20--%20

[2021-08-13 20:50] julio8a commented on #2468
Verified on master demo pages.

[2021-08-13 20:50] #2468 closed

[2021-08-13 20:53] julio8a commented on #2735
Verified on master

[2021-08-13 20:53] #2735 closed

[2021-08-13 20:57] julio8a commented on #2744
verified on master

[2021-08-13 20:57] #2744 closed

[2021-08-13 20:58] julio8a commented on #2474
verified on master

[2021-08-13 20:58] #2474 closed

[2021-08-13 21:04] julio8a commented on #2616
Verified on master

[2021-08-13 21:04] #2616 closed

[2021-08-13 21:07] julio8a commented on #2547
Verified on master, demo pages.

[2021-08-13 21:07] #2547 closed

[2021-08-13 21:11] julio8a commented on #2472
verified on master

[2021-08-13 21:11] #2472 closed

[2021-08-13 21:20] julio8a commented on #2350
I can create an issue to update the styling for this one.

[2021-08-13 21:21] julio8a commented on #2350
verified on master demo pages

[2021-08-13 21:21] #2350 closed

[2021-08-13 21:24] julio8a opened #2812 "Enhancement:"
### Description

Related issue: #2350
Styling update for new header group list. This was added but didn't go through design review or updates.
![](https://user-images.githubusercontent.com/1231455/125869222-6eec3e71-8d06-484e-8a00-737919ad5a04.png)

### Acceptance Criteria
Recommendation would be to follow the dropdown group font weight and color.
<img width="403" alt="image" src="https://user-ima

[2021-08-13 21:25] julio8a commented on #2451
Following up on Cari's question. Also adding @jcfranco and @driskull

[2021-08-13 21:38] jcfranco commented on #2764
@eriklharper Thanks for tackling this and thanks to @ethanbdev for verifying!

[2021-08-13 21:38] #2764 closed

[2021-08-13 21:59] #2740 closed

[2021-08-13 22:01] kevindoshier opened #2813 "Bug: calcite-action-menu does not seem to honor its `expanded` attribute"
### Actual Behavior

When using a `calcite-action-menu` within a `calcite-action-bar` it should honor the `expanded` attribute, but it instead mirrors what the expand attribute is on the `calcite-action-bar`.  If the actionBar is not expanded the actionMenu will not be expanded even though the `expanded` attribute is set on the `calcite-action-menu`.

### Expected Behavior

`calcite-action-menu` s

[2021-08-13 22:12] noahmulfinger commented on #2547
I also just took another look at this (on the Storybook), and its seems partially fixed, but the behavior still seems unexpected to me. When I choose 12/14 as in the steps I listed above, it still updates the second input. I would expect that if I click the first input, any action I take would only update the first date.

Happy to open a second issue if this requires more discussion of the expecte

[2021-08-13 23:04] asangma commented on #2458
@bstifle
Here's how it would look in an interface.
Thoughts?

![image](https://user-images.githubusercontent.com/12503298/129425822-cfe8aa49-645a-4ed5-ad62-9d65bf450161.png)

[2021-08-14 00:07] ellenupp opened #2814 "Enhancement: Expose property for fallback placements in calcite-dropdown"
### Description
Similar to `calcite-popover`, it would be great if `calcite-dropdown` exposed a property to set fallback (flip) placements. I am using placement "bottom" but when it flips it goes to "top-start" because that's hardcoded as the first fallback. I'd want it to be mirrored and fallback to "top" (centered over dropdown trigger).

### Acceptance Criteria
Able to configure fallback/flip p

[2021-08-14 00:23] asangma commented on #2801
Will do.

[2021-08-14 00:29] jcfranco commented on #2451
@driskull helped out by removing some IE11 chunks (🎉), but the following items remain:

1. https://github.com/Esri/calcite-components/blob/5cf0ccf4461c261bc74e99012cc0214950d70aba/src/utils/key.ts#L1-L4
2. https://github.com/Esri/calcite-components/blob/0a709cff3f4a10ca8e9cbd093f418e53c2b519ee/src/components/calcite-input/calcite-input.scss#L544-L550
3. https://github.com/Esri/calcite-components/b

[2021-08-14 00:54] nwhittaker opened #2815 "Question: Tooltip `start`/`end` placement and RTL"
### Question
The `<calcite-tooltip>` component supports a `placement` attribute ​that has the following effects:

| Edge | Alignment | Result |
| - | - | - |
| `top` | `start` |  Tooltip placed _above_ ref. element and flush with the _left_ edge. |
| `top` | `end` | Tooltip placed _above_ ref. element and flush with the _right_ edge. |
| `bottom` | `start` | Tooltip placed _below_ ref. element and

[2021-08-14 01:25] nwhittaker opened #2817 "Bug: Tooltip with `auto-end` placement behaves like `auto-start`"
### Actual Behavior
A `<calcite-tooltip>` component with `auto-end` placement aligns itself flush with the reference element's top or left(/leading?) edges. Here's it's flush with the left edge:

<img width="881" alt="Screen Shot 2021-08-13 at 9 01 54 PM" src="https://user-images.githubusercontent.com/421496/129430096-c78e4d6b-cfba-493a-b074-ec1fca27b8e5.png">

### Expected Behavior
The tooltip sh

[2021-08-14 02:14] nwhittaker opened #2818 "Bug: Tooltip offset-skidding not reversed in RTL layout"
### Actual Behavior
Tooltips with `top` or `bottom` placement and non-zero `offset-skidding` are offset in the same direction regardless if layout is LTR or RTL.

| Baseline | LTR | RTL |
| - | - | - |
| <img width="1286" alt="Screen Shot 2021-08-13 at 9 53 59 PM" src="https://user-images.githubusercontent.com/421496/129431032-74c647f7-12ab-4724-bb0a-2718f47c507f.png"> | <img width="1286" alt="Scr

[2021-08-14 05:42] jcfranco commented on #991
@paulcpederson Thanks for the update! Do you think you'll be able to take this on this current sprint? Otherwise, I'll unassign and label this as `help wanted`.

[2021-08-16 15:45] #1323 closed

[2021-08-16 16:03] asangma opened #2823 "Bug: Panel heading and summary should be allowed to wrap"
### Actual Behavior
The update [here](https://github.com/Esri/calcite-components/commit/8085fbe207682d9d0a3a66442f78cd9b3cb6a5f7#diff-b21f80b9fd202502f92995d56073caa7d05c12dd8c9ef8a3622115ea048e8d50) was a regression.
Long strings get truncated.

### Expected Behavior
Panel heading and summary should be allowed to wrap.

### Reproduction Steps or Sample

1. View a Panel with a long heading or summ

[2021-08-16 16:17] JonUihlein opened #2824 "Bug: header/h4 element still rendered in calcite block without setting a heading"
### Actual Behavior

header/h4 element still rendered in `<calcite block>` without setting a `heading` property.

### Expected Behavior

no header/h4 element should be displayed if not providing a `heading` property

### Reproduction Steps or Sample

Create a `<calcite-block>` without a `heading`

### Relevant Info

![calcite-block-header](https://user-images.githubusercontent.com/2378615/12959565

[2021-08-16 16:18] jcfranco commented on #1863
Assigning to @benelan for verification.

@driskull Is this repro case sufficient for verification? https://github.com/Esri/calcite-components/issues/1863#issuecomment-812004213

[2021-08-16 16:23] asangma commented on #2823
This example shows a regular case where multiple layers that all have similar names, and the distinctive part of those names are at the end of the string.

* Popular Demographics in the United States - Country
* Popular Demographics in the United States - State
* Popular Demographics in the United States - County
* Popular Demographics in the United States - Zip Code
* Popular Demographics in the

[2021-08-16 16:25] driskull commented on #1863
To verify, set your timezone to somewhere in europe and click around.

[2021-08-16 16:30] asangma commented on #2823
cc @mitc7862 Could use your input on this.

As I recall, truncating strings was an issue, but it have not been as relevant in Panel heading.
Seems at least relevant in summary.

[2021-08-16 16:33] jcfranco commented on #2402
Verified!

[2021-08-16 16:33] #2402 closed

[2021-08-16 16:35] benelan commented on #1863
I was able to repro the issue in the current release by changing my timezone. I can verify that the issue is fixed in next.

[2021-08-16 16:39] jcfranco commented on #2040
Verified!

[2021-08-16 16:39] #2040 closed

[2021-08-16 16:46] jcfranco commented on #2659
@Esri/calcite-design-representatives Can you chime in on this one? Seems like a low-effort one for this sprint.

[2021-08-16 16:46] driskull commented on #2815
The `VariationRtl` are the correct ones to use. The others do not respect RTL

[2021-08-16 16:54] driskull commented on #2818
Offset skidding is not `dir` dependent at this time. Maybe in the future but Popper itself doesn't do anything depending on RTL/LTR

[2021-08-16 16:57] driskull commented on #2817
I think this is because...

https://popper.js.org/docs/v2/constructors/#placement

We're not modifying anything with the positioning here.

[2021-08-16 17:11] bstifle opened #2825 "Bug: Split Button styling issues"
# Actual Behavior

### Light theme:

- `transparent danger` is using wrong text and icon color
- `transparent brand` is using wrong text and icon color

### Dark theme:

- `solid inverse` is using wrong text, icon and fill color
- `clear inverse` is using wrong border and divider color
- `outline inverse` is using wrong border and divider color
- `transparent danger` is using wrong text and icon c

[2021-08-16 17:20] driskull commented on #2813
@jcfranco @julio8a can we triage this for this milestone? I can take it.

[2021-08-16 17:24] caripizza commented on #2659
Agreed. I think we just need to add `bg-foreground-1` to the radio [on this line](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-radio/calcite-radio.scss#L4). Should we assign this one to Justin @julio8a?

[2021-08-16 17:36] driskull commented on #2446
@noahmulfinger we now log a warning when this happens and we will put the issue in the backburner and discuss if we want to refactor this further.

[2021-08-16 17:38] nwhittaker commented on #2818
A couple possibly related upstream issues:
* https://github.com/popperjs/popper-core/issues/695
* https://github.com/popperjs/popper-core/issues/1170

Looks like the current recommendation is to add a [custom modifier](https://popper.js.org/docs/v2/modifiers/#custom-modifiers) for it.

[2021-08-16 17:41] caripizza commented on #2825
@bstifle I'm not seeing any of these issues on master. Where are your screenshots from?

[2021-08-16 17:45] jcfranco commented on #1469
@macandcheese Is this still applicable with the most recent changes?

[2021-08-16 17:56] AdelheidF commented on #2736
Solving this issue now by applying a height of 24px to the action to make it match the input.

[2021-08-16 18:02] jcfranco commented on #2513
Verified locally!

[2021-08-16 18:02] #2513 closed

[2021-08-16 18:03] #2736 closed

[2021-08-16 18:03] nwhittaker commented on #2817
I think my issue is with what happens after popper chooses the side with the most space. For `auto-start` and `auto-end` placements, I would expect the tooltip to then try to align itself with the reference element along the cross axis.

Maybe there's an upstream bug here? I have yet to find a scenario where `auto-start` and `auto-end` actually end up with different placements of the tooltip.

[2021-08-16 18:13] nwhittaker commented on #2818
The `CalciteTooltip.placement` attribute has logic to support RTL layouts, so my thinking is it'd be natural to expect the same of the offset-related properties.

[2021-08-16 18:27] benelan commented on #2534
Are the ones listed above the only TEXT string values that are not capitalized, or should I look through the rest of the components for any additional issues?

[2021-08-16 18:34] julio8a commented on #2801
Before moving forward, we should have a design discussion around this.

[2021-08-16 18:54] eriklharper opened #2826 "Bug: calcite-tile's "large visual" variant doesn't center the content"
### Actual Behavior

The large icon in `calcite-tile`'s "large visual" option displays on the left in LTR and on the right in RTL modes.

![image](https://user-images.githubusercontent.com/821864/129614965-8de60fc3-9ba8-4a88-9125-5929bbf9110a.png)

![image](https://user-images.githubusercontent.com/821864/129615038-caa3d1c5-82e9-4d86-aac7-b2f4096ffa86.png)

### Expected Behavior

The icon and desc

[2021-08-16 19:50] jcfranco commented on #2801
@julio8a Sounds good. Sorry for overlooking that step. 😅

[2021-08-16 20:05] caripizza commented on #2534
@benelan thanks for asking. I think we just need to focus on these for this issue (I just searched on latest next.270):

[code]

[2021-08-16 20:43] macandcheese commented on #1469
@jcfranco nope - looks like https://github.com/Esri/calcite-components/pull/2669 resolved this. Closing 👍

[2021-08-16 20:43] #1469 closed

[2021-08-16 20:49] ManahariDahal opened #2828 "Enhancement: remove header in all demo page"
### Description
The updated navigation bar covers the header, so the placeholder header should be removed from all the demo page

#### Which Component
- `all` demo page

[2021-08-16 21:10] jcfranco commented on #749
Moving to next sprint. Draft PR should be up today.

[2021-08-16 21:11] jcfranco commented on #2113
Moving to next sprint. Draft PR should be up today.

[2021-08-16 21:19] julio8a commented on #2577
CodePen example:
https://codepen.io/julio8a/pen/gOWJwvQ

[2021-08-16 21:48] driskull commented on #2828
I have this open: https://github.com/Esri/calcite-components/pull/2796

[2021-08-16 21:52] #2828 closed

[2021-08-16 22:21] asangma commented on #2801
@julio8a There's not really a design since it's an empty slot.

But for a design review, I would dig syncing with @bstifle on default padding for when a user drops in a known component.

[2021-08-16 22:39] justinhough commented on #2577
@caripizza The easiest solution might be to add the following to check for `inline-space-between`, which would add the necessary margin based on the codepen example from @julio8a. I can't see we would want to add the margin in any other case to the switch unless it is using that specific flex layout.

[code]

[2021-08-16 22:56] caripizza opened #2831 "Bug: Tooltip / Popover arrow placement is off when component loaded with `open` attribute"
### Actual Behavior

With current behavior on master (closest release is next.270), a tooltip or popover with the `open` attribute on initial page load will display the popper arrow in the wrong location:
![image](https://user-images.githubusercontent.com/42423180/129638710-26b972a6-857a-4f7c-8c36-aa26738165e8.png)

### Expected Behavior

![image](https://user-images.githubusercontent.com/42423180

[2021-08-16 23:25] julio8a commented on #2801
Can a user drop anything in there? Seems like we're opening up some bad UX practices on this. Can they drop an accordion in there with content or any other component?

Wondering if there's something more controlled for messaging in this environment.

@macandcheese @bstifle what do you guys think about this one?

[2021-08-16 23:35] driskull commented on #2751
I don't think we should do anything here. Any objections to closing?

[2021-08-16 23:35] caripizza commented on #2831
^ Fixed in pr #2830

[2021-08-17 00:25] ethanbdev opened #2834 "A11y: Tab navigation through a single-select value list skips items after the first one"
### Summary
Tab navigation with a single select value list seems a bit odd. The items that come after the first do not get a focus indication and are skipped when navigating the list using `tab`.

### Actual Behavior

The value list items after the first one are skipped. In single select mode, the value list items have a tab-index of -1 applied it seems.
![B9A62729-D7EC-451B-BBED-D93F10D35FB6](htt

[2021-08-17 06:02] hccampos opened #2835 "[Alert] - options for seeing queued messages without dismissing them"
### Description

We are using the `<calcite-alert>` in order to display errors, warnings or success messages. However, it has been reported that collapsing all the messages into a single one (with the indicator showing how many messages are present) is not ideal since it forces users to close messages in order to see what other messages may be available.

It would be interesting to have a way of l

[2021-08-17 15:35] jcfranco opened #2837 "Tooling: Improve next deployment script"
## Summary

The [`deployNextFromTravis`](https://github.com/Esri/calcite-components/blob/ddff29422d184f5035a2d92f03fda27e883883c2/support/deployNextFromTravis.sh) script works fine for the most part, but there are instances where duplicate `next` commits/tags are pushed to the repo and trip the release process. I suspect this happens when multiple next-deploying PRs land really close to each other

[2021-08-17 15:35] caripizza commented on #2831
Verified fixed in 1.0.0-beta.62, closing.

[2021-08-17 15:35] #2831 closed

[2021-08-17 15:36] asangma commented on #2801
It's a default slot, so they can drop "anything" in there.
It definitely seems weird if we come up with weird examples.
But consider useful examples like the updated one above.

Keep in mind that

- we want to avoid property bloat
- best practices are less about limitation and more about education
- healthy flexibility is key to componentry success

[2021-08-17 15:51] #2751 closed

[2021-08-17 16:21] macandcheese commented on #2801
Some thoughts...

Having a "loading" prop on calcite-scrim and then still needing to have a way to slot a calcite-loader component seems like a fractured story. One or the other yeah?

The screenshot originally shown in the OP was (IMO) an example of something we would never want people to do - have a user leave a non-interactive loading state, only to present them with blocked interactive control

[2021-08-17 17:20] asangma commented on #2801
Thanks for the feedback @macandcheese.
While I have a different opinion on the scale of the risk, I do agree it's a risk.

And as you said, we have requests for this and rendering the default slot will address those requests.

And indeed, some documentation is called for.

Discussed the general UX of this and aligned on some light styling with @bstifle and will demonstrate in an upcoming PR.

cc @

[2021-08-17 17:22] bstifle commented on #2801
Mr. @asangma and I chatted through some design specs with scrim. The idea is to get a simple cushion of padding (1 rem) all around so anything that gets slotted in has some breathing room. The other change would be to up the opacity on the scrim itself, since right now the opacity on top of a busy panel makes things like determinate loader pretty hard to read

[2021-08-17 17:23] bstifle commented on #2801
FWIW IDT the risk is a big one either. Some interesting concepts can be achieved with a "locked" content area or things like that... not tied to loading only

[2021-08-17 17:33] AdelheidF commented on #2801
There are cases where we need to block interaction when loading a panel. We currently can't stop the process (e.g. generating SmartMapping renderers) that's going on in the background.

[2021-08-17 17:36] macandcheese commented on #2801
That is totally fine... The original screenshot (no longer there) showed a scrim with a notice inside with no way to dismiss it.

[2021-08-17 17:38] asangma commented on #2801
It's like there was a reason I deleted it. 😆

[2021-08-17 17:51] COV-GIS opened #2838 "Enhancement: controls, buttons, etc respect <fieldset disabled="">"
### Description

As a possible part of the native form integration project having any component which can be disabled respect `<fieldset disabled="">`

### Acceptance Criteria

As stated.

#### Which Component

All components which can be disabled or would be found in a form.

#### Example Use Case

It's much easier to disable a single element than all components in a form.

[2021-08-17 17:57] asangma commented on #2770
This looks like a solid enhancement for when the Shell is in its default state (`content-behind="false"`).

There are some UX concerns we'd want to address for when `content-behind="true"` as it has impacts on a map-centric application might work (e.g. Map Viewer).

That being said, if this needs priority, we could

1. do a V1 in which we disable the drag-to-resize capability when `content-behind=

[2021-08-17 17:58] asangma commented on #2770
@bpatterson88 I believe this would actually be an enhancement to ShellPanel and Shell.

[2021-08-17 18:17] kevindoshier opened #2840 "Bug: calcite-input: using type="url" the placeholder string in rtl languages does not render correctly"
### Actual Behavior

Using a `calcite-input` of type="url", the placeholder string doesnt seem to render correcty, was reported by BeyondSoft to the mapViewer repo.

![calcite-input](https://user-images.githubusercontent.com/11093161/129779143-0150d972-be7d-4ad8-a824-58371c83340d.png)

### Expected Behavior

See above screenshot of the expected behaviour

### Reproduction Steps or Sample

codepen

[2021-08-17 18:27] justinhough commented on #1082
@caripizza @jcfranco Is this what you were both thinking for the active state click? Would you also want to flash the text color from dark to light in the same context?

![CleanShot 2021-08-17 at 12 25 28](https://user-images.githubusercontent.com/9469422/129780572-e4bf7cf6-81d3-48c5-bcdc-31786e375101.gif)

[2021-08-17 19:42] noahmulfinger commented on #2446
@driskull Thanks, I can see the console warning in my codesandbox now.

[2021-08-17 20:31] ManahariDahal commented on #2632
@julio8a ready to verify!

[2021-08-17 20:33] ManahariDahal commented on #2712
@julio8a ready to verify!

[2021-08-17 21:02] bstifle commented on #1082
i think the active foreground-3 should just press to fg-2 or fg-1

[2021-08-17 21:15] benelan commented on #2697
I have the same issue on Windows. I was able to get it working on WSL2 with Ubuntu 20.04 as a temporary workaround.

[2021-08-17 21:25] justinhough commented on #1082
@bstifle I think the fg-2 works, but here are both for comparison.

fg-2
![CleanShot 2021-08-17 at 15 22 40](https://user-images.githubusercontent.com/9469422/129802544-a356dc4a-47ba-4979-9469-9a9868bc6014.gif)

fg-1
![CleanShot 2021-08-17 at 15 24 27](https://user-images.githubusercontent.com/9469422/129802692-d4c2ae75-7c19-4737-823b-169d1c797b3f.gif)

@caripizza @jcfranco

[2021-08-17 21:25] ManahariDahal commented on #2713
@julio8a ready to verfiy!

[2021-08-17 21:34] ManahariDahal opened #2845 "Enhancement: some demo pages have inconsistent title"
### Description
Few demo pages that got merged have incorrect/inconsistent titles.

### Acceptance Criteria
- will update all the inconsistent ones once all the demo pages are merged so it's easy to change them all at once

### Relevant Info
- the existing open PRs' title will be updated accordingly.

#### Which Component
- merged demo pages that have an inconsistent title

[2021-08-17 21:34] ManahariDahal commented on #2845
@jcfranco apologies if we already have an issue related to it.

[2021-08-17 22:31] kevindoshier opened #2847 "Bug: calcite-action-menu and overflow action on calcite-toolbar, the menu floats behind any detached panels"
### Actual Behavior

When using either `calcite-action-menu` or the overflow menu in an action bar, the menu that is displayed will be beneath any detached `calcite-panels` in the app

### Expected Behavior

The menu should appear on top of any panels to make it more useable

### Reproduction Steps or Sample

1.  Using the new mapviewer compress the window height until the "..."  overflow menus ap

[2021-08-17 22:50] driskull commented on #2840
@kevindoshier `<input type="url" placeholder="https://<أدخل عنوان URL>"/>` does the same thing. This is just a browser thing.

[2021-08-17 22:52] kevindoshier commented on #2840
Ok ill mark the one in the mapViewer repo with this info, thanks

[2021-08-17 23:23] caripizza commented on #1082
@justinhough looking good! (`bg-brand` was just an example showing an obvious color change targeting that `:active` selector.)

Couple questions:
- Do we need to update the `:active` background color for **all** calcite-action appearances (`"clear" | "outline" | "solid"`), or only solid?
- Should we add designs for the `"outline"` appearance in Figma, or is that not a valid appearance? (Something

[2021-08-18 00:05] jcfranco commented on #2113
![starting-starting-now](https://user-images.githubusercontent.com/197440/129816084-b8216af8-c42f-43bc-b764-2b311b3ed0a2.gif)

[2021-08-18 00:13] jcfranco commented on #2113
Actually, going to put this on hold until we decide on the rules for when to use slots vs props for icons. cc @asangma @macandcheese

[2021-08-18 00:22] caripizza commented on #2706
I happened upon this issue while investigating #2457. It looks like this started happening in 1.0.0-next.236, after setting `shadow: true` in [calcite-graph.tsx](https://github.com/Esri/calcite-components/pull/2423/files#diff-a8e20ed09e8a382be826d7c02796c4d0f4eb642b59d466e2375b63cf02214967R9).

The [`svg` slider selector style override](https://github.com/Esri/calcite-components/blob/master/src/co

[2021-08-18 14:49] justinhough commented on #1082
@caripizza Thanks! Are those questions for me or @bstifle?

[2021-08-18 14:52] janett-baresel opened #2848 "Enhancement: Clearer/better to see checkboxes"
### Description
calcite-checkbox is hard to see when the small size is used. The line for the check is so thin, that even in normal size it is pretty subtle.
Here a comparison of calcite-checkbox in small and checkbox icons we used in the past:
![image](https://user-images.githubusercontent.com/11048042/129920125-f7159c04-f551-473d-a6de-11c9fbd2be3e.png)

The line looks pretty blurry and is hard t

[2021-08-18 15:09] janett-baresel opened #2849 "Enhancement: Readonly for input box"
### Description
We would like a readonly mode for input boxes. Main driver is a control for showing a url or code and allowing the user to copy it. They can do that by selecting the text (and copy/paste) or by pressing an additional button next to the input.

### Acceptance Criteria
- the content of the input box cannot be changed (same as when disabled)
- the content of the input box can be viewe

[2021-08-18 15:51] caripizza commented on #1082
@justinhough those are questions for anyone who knows what calcite-action **_should_** look like with the Figma/Tailwind refactor. @bstifle or @asangma - do you guys have a preference on colors for calcite-action? cc @julio8a

[2021-08-18 15:54] caripizza commented on #2849
@janett-baresel `readOnly` was added to calcite-input in #2726, so it's available for use in beta.62 if you can install this version.

[2021-08-18 16:41] asangma opened #2850 "Docs: Block code snippet is wrong"
### Description
Block's "header with control" code snippet is wrong.

It's this:
[code]

should be more like

[code]

But REALLY it would probably be best like this.

[code]

### Which Component
Block

### Resources

[2021-08-18 17:33] julio8a commented on #2713
verified on master

[2021-08-18 17:33] #2713 closed

[2021-08-18 17:33] julio8a commented on #2712
verified on master

[2021-08-18 17:33] #2712 closed

[2021-08-18 17:33] julio8a commented on #2688
verified on master

[2021-08-18 17:33] #2688 closed

[2021-08-18 17:33] julio8a commented on #2641
verified on master

[2021-08-18 17:33] #2641 closed

[2021-08-18 17:33] julio8a commented on #2632
verified on master

[2021-08-18 17:33] #2632 closed

[2021-08-18 18:00] benelan opened #2851 "Refactor: Consistent use of resource files for slots"
### Description
For some components slots are hardcoded into the .tsx file rather than being imported from a resource file. Here are the components with hardcoded slots (I searched ``<slot name="`` to find these):

[code]

Examples:
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-modal/calcite-modal.tsx#L171
https://github.com/Esri/calcite-components/blob/master/src/c

[2021-08-18 18:16] ethanbdev commented on #1468
Hey @jcfranco, it looks like this one could be back? It seems to now emit an event, but the value is null instead of the color the picker shows. See:
https://codepen.io/eborgen/pen/LYRwjEm?editors=1001

[2021-08-18 18:17] julio8a commented on #2690
verified on master

[2021-08-18 18:17] #2690 closed

[2021-08-18 18:18] julio8a commented on #2639
verified on master

[2021-08-18 18:18] #2639 closed

[2021-08-18 18:18] julio8a commented on #2482
verified on master

[2021-08-18 18:18] #2482 closed

[2021-08-18 18:19] caripizza commented on #2457
@bstifle There are no histogram variants in Figma for slider, does it need to look the same as it does now?

[2021-08-18 18:52] ellenupp opened #2852 "Bug: Dynamically created dropdown items are not keyboard navigable"
### Actual Behavior

After `calcite-dropdown` is rendered, any `calcite-dropdown-items` (or group with items) that are added dynamically cannot be accessed by keyboard (using arrow keys or tab).

### Expected Behavior

It should be possible to navigate to all dropdown items using the keyboard.

### Reproduction Steps or Sample

See sample: https://codepen.io/ellupp/pen/MWmMGyd?editors=1010
1. open

[2021-08-18 19:05] jcfranco commented on #1468
Confirmed with beta.62. Can you open a new issue for this?

[2021-08-18 19:34] ethanbdev opened #2853 "Bug: `calcite-color-picker` value attribute stays null when the format property is "rgb""
### Actual Behavior

The value of the color picker element does not change from null when the format is "rgb"
start from null -> change the color -> color updates visually but value attribute is null

### Expected Behavior

start from null -> change the color -> element value attribute should match the visual color

### Reproduction Steps or Sample

https://codepen.io/eborgen/pen/LYRwjEm?editors=1

[2021-08-18 19:34] ethanbdev commented on #1468
https://github.com/Esri/calcite-components/issues/2853

Thank you!

[2021-08-18 20:21] caripizza commented on #2082
@bstifle I'm blocked on this one until I know what tree should look like in all 5 selection modes. Can you please clarify?

[2021-08-18 20:36] bstifle commented on #2457
@caripizza
![image](https://user-images.githubusercontent.com/14083530/129968702-d7064038-7c43-44b1-b996-6dde0d20419a.png)

[2021-08-18 21:43] samMatenaer opened #2854 "Bug: Add types to public events EventEmitter"
Many components are either missing or have incomplete event types which makes causes a headache with handling events in typescript.

For example, here is an excerpt from my code using the calcite-components-react package
[code]
You can see the return type on calciteInputInput is currently `any`, when it should have a specific type.

This is because the [EventEmitter has no type provided](https://g

[2021-08-18 21:51] bstifle commented on #2082
@caripizza

![image](https://user-images.githubusercontent.com/14083530/129976991-0cb0a541-6715-430b-9bfa-c4214226309d.png)
https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1183%3A21400

[2021-08-19 05:42] bstifle opened #2856 "Bug: close icon wrong size in tip manager"
### Actual Behavior

cant change icon to correct size because of this: https://github.com/Esri/calcite-components/blob/master/src/components/calcite-action/calcite-action.tsx#L171

### Expected Behavior

Need to use a 24px X close icon for tip manager

maybe not use action, and just use a styled native button.

### Relevant Info
![image](https://user-images.githubusercontent.com/14083530/130014210

[2021-08-19 05:42] bstifle commented on #2856
@justinhough

[2021-08-19 14:23] apfister opened #2857 "Bug: Action Bar expand collapse not honored on Action item click"
### Actual Behavior
When an action bar is collapsed, clicking on an action item within the bar will auto-expand the entire bar.
![action bar expand collapse (1)](https://user-images.githubusercontent.com/5233042/130086163-7c1cdf26-fd6b-4f39-88ab-8b18b3fb3310.gif)

### Expected Behavior
When an action bar is collapsed, clicking on an action item should honor the current expand/collapse status of th

[2021-08-19 15:34] benelan opened #2859 "Docs: Add closing tags to usage examples"
### Description
Some of the storybook usage examples are self closing and need to be changed to have closing tags as defined in the [spec](https://developers.google.com/web/fundamentals/web-components/customelements):

### Which Component
I will go through and check all of the components.

### Example
https://esri.github.io/calcite-components/?path=/docs/components-avatar--simple

[2021-08-19 15:47] benelan opened #2860 "Docs: Add basic usage example to all components"
### Description
There are a lot of components without usage examples. I will add at least a 'Basic' example to all of them.

[2021-08-19 16:05] macandcheese commented on #2860
We'd like to eventually consume these samples in the developer site, where we can generate component samples from the provided snippets.

It would be great if each example could have explicit data points for title, description, and then the code sample. Perhaps having individual files for each sample?

Right now, it's hard to parse the returned files since it's often a mix of inline code, text, ot

[2021-08-19 16:08] benelan opened #2861 "Research: Look into markdown linting"
### Background

At the moment we run prettier on markdown files but there is not any linting. Having some automatic checks for the documentation would make life a lot easier as the product grows. I found a couple options:

[eslint-plugin-markdown](https://github.com/eslint/eslint-plugin-markdown) - This one would be the easiest to integrate and is what I would look at first. It lints code blocks i

[2021-08-19 16:11] benelan commented on #2860
@macandcheese Do you want to set up a meeting next week to discuss this? I can do it however works best for you and then go through and change the rest of them too.

[2021-08-19 16:26] asangma commented on #2801
@jcfranco @caripizza May I pass this to you to assign a verifier?

[2021-08-19 16:36] driskull commented on #2861
Would we want to exclude automatically generated doc markdown files like the component readme's

[2021-08-19 16:39] benelan commented on #2861
@driskull Yeah that would make sense. For the eslint plugin just focusing on the markdown files in the usage directory for each component would be enough.

[2021-08-19 16:42] driskull commented on #2857
This seems to be an issue with our actionbar component and react.

The problem is that the click is causing another render which is setting the expanded on the actionbar to true and textEnabled on the action to true as well.

If you remove both of those props then things seem to work fine.

Those two props need to stay in sync so that their state is the same.

[2021-08-19 16:49] driskull commented on #2852
Seems like dropdown needs to setup a mutation observer so it can update it's state.

[2021-08-19 18:12] caripizza commented on #2457
@bstifle thanks, should it look like that with the color stops in action too? (ie., solid b-bb-30 for the highlighted range?)

[2021-08-19 18:55] gavinr commented on #1621
Note I've updated the sample case to the latest version of calcite and this is still an issue.

[2021-08-19 19:26] ManahariDahal opened #2863 "Enhancement: demo homepage"
### Description
The current demo home page will be updated to a better UX/UI

### Acceptance Criteria
- make usage of existing calcite-components to give a consistent look

### Relevant Info
- homepage would have either `calcite-tile`/`calcite-card` or both layout

#### Which Component
- `index.html`

[2021-08-19 20:56] bstifle commented on #1616
![image](https://user-images.githubusercontent.com/14083530/130142686-e0f092e8-e7a2-4c0c-949d-ae6428e7366b.png)
existing design. clicking the red would launch calcite-color-picker in a popover

related issue https://github.com/Esri/calcite-components/issues/1934

[2021-08-19 20:56] asangma opened #2864 "Bug: Action - align font sizes"
Breaking this off from #2458 to address just the font sizes.
@justinhough can then move on #2786.

### Actual Behavior

Action font sizes are

| text size | scale |
|:-------:|:-----:|
| --2h | s |
| --2h | m |
| --1h | l |

### Expected Behavior

Font sizes should be

| text size | scale |
|:-------:|:-----:|
| --2h | s |
| --1h | m |
| -0h | l |

so that it aligns with other components.

### Rep

[2021-08-19 20:57] asangma commented on #2458
Broke out the font-size stuff into it's own issue.

[2021-08-19 20:58] julio8a commented on #2864
Thanks Alan

[2021-08-19 21:01] jcfranco commented on #1616
@bstifle I'm not sure I follow. Would #1934 replace this one? Would it be used as a base?

[2021-08-19 21:02] jgibson02 commented on #1934
This would be exactly what we're looking for to replace the custom color picker we built in ArcGIS Velocity

![image](https://user-images.githubusercontent.com/5069711/130142894-2a7cdbd5-24ce-423c-8676-bc044be93511.png)

[2021-08-19 21:21] ssylvia opened #2865 "Bug: @stencil/core/internal/client not found from custom-elements with Webpack 5"
### Actual Behavior
I receive the following error when trying to include this package in a Webpack 5 bundle with StorybookJS

[code]

### Expected Behavior

Bundle without error

### Relevant Info

It looks like it is related to this PR: https://github.com/Esri/calcite-components/pull/781 where the `dist/custom-elements/index.js` is copied to `dist/custom-elements/index.mjs` for rollup support.

I

[2021-08-19 22:36] eriklharper commented on #1616
I prefer the name `calcite-input-color` over `calcite-input-color-picker` for the same reason I prefer `calcite-input-time` over `calcite-input-time-picker`.  No need to have the `-picker` at the end when the last word is sufficient for communicating the type of input it is.

Also, the designs do appear to conflict between this issue and #1934.  Do both designs need to be accommodated in the same

[2021-08-19 23:54] ethanbdev opened #2866 "Enhancement: Allow disabling resize on a `calcite-input` of type textarea"
### Description
There is not a way now to disable the resizing of a textarea input. The only way now is to use nested css like so:
[code]
but this is prone to breaking with new releases and is hard to maintain

### Acceptance Criteria
Have a property that hides the resize icon, maybe `disable-resize`, that can be used to hide it and not allow the user to change the height/width.

#### Which Compon

[2021-08-20 00:16] jcfranco commented on #1616
@eriklharper You bring up a good point. The main purpose of these components is to provide a way to quickly input the value. The picking part is more of a next step when fine-tuning the value. I'm going to move this discussion to https://github.com/Esri/calcite-components/issues/2512.

WRT to the design, I have no preference as long as both match functionality.

[2021-08-20 00:19] jcfranco commented on #2512
Via https://github.com/Esri/calcite-components/issues/1616, should we drop the `-picker` from `calcite-input-<type>-picker`?

From @eriklharper:

[2021-08-20 12:22] janett-baresel commented on #2849
great news. thanks.

[2021-08-20 12:22] #2849 closed

[2021-08-20 16:19] benelan opened #2868 "Research: Set goals for and discuss cascading scale"
### Background
Continuing the Teams discussion on #2781 about how we want to handle cascading scale. One of the options was to use a -- var for scale and remove the prop. Another option was not cascading and having the user set the prop on all of the components that they want to change.

### Desired Outcome
- Create pros/cons for the options above as well as any other ways to handle cascading scal

[2021-08-20 16:57] macandcheese opened #2869 "New Component: Calcite Video"
**monday.com sync:** #9453625707

### Description
WIP! - This branch has been sitting stale for some time. We'd like to finish up the video component and integrate it into the library.

https://github.com/Esri/calcite-components/tree/macandcheese/wip-video

#### User Stories
The original user story came from videos used on the documentation site. We'd like to replace that custom code with a calcit

[2021-08-20 17:45] driskull commented on #2868
By their nature, props aren't supposed to cascade. I think if we want scale to cascade, we should look into using a CSS class for it.

If we're ok with a prop scale not cascading then we just don't have it cascade.

[2021-08-20 19:32] jcfranco opened #2872 "Test: Revisit calcite-date-picker.e2e.ts > "when the locale is set to Slovak calendar""
## Summary

**Which component?:** `calcite-date-picker.e2e.ts`

**Which test(s)?:**

`calcite-date-picker.e2e.ts > "when the locale is set to Slovak calendar"`

https://github.com/Esri/calcite-components/blob/27531d525df5a8fa1dd6d8b61e51cbf95869543c/src/components/calcite-date-picker/calcite-date-picker.e2e.ts#L123

**Test error:**

N/A

**PR that skipped the test:** N/A

## Additional Info

Stems

[2021-08-20 20:07] asangma commented on #2741
@AdelheidF I made it so `calcite-match-class` is now available in CalciteFlow. Let me know this helps.

[2021-08-20 20:20] driskull opened #2873 "Tooling: Bump typescript version past 4.2.4"
## Summary

typescript version is stuck at `"4.2.4"` currently. I tried to bump it to the latest at the time `4.3.5` but it failed during storybook testing.

## Measure of Success

We can use the latest typescript

### Resources

https://github.com/Esri/calcite-components/pull/2870

[2021-08-20 20:37] julio8a opened #2874 "Bug: Safari Input buttons"
### Actual Behavior

Safari: buttons don't align with the input.

<img width="455" alt="image" src="https://user-images.githubusercontent.com/6144462/130290701-de46dea3-f42d-4e56-865d-d71b0c9f7fd6.png">

### Expected Behavior
On Chrome:
<img width="1331" alt="image" src="https://user-images.githubusercontent.com/6144462/130290724-3dfa3b17-cbdf-466a-95a7-83bb47cbcaed.png">

### Reproduction Steps o

[2021-08-20 23:00] julio8a commented on #2864
@justinhough, this is what we should move forward with the refactor on Action for now.
From this PR: https://github.com/Esri/calcite-components/issues/2458

[2021-08-20 23:13] asangma commented on #2113
Per our recent sync, the proposal is to add a slot that can be used for that icon.
@mitc7862 This should enable your proposed design.

[2021-08-20 23:38] dulldrums opened #2876 "Enhancement: Link styles cannot be overridden inline"
### Description

`<calcite-link>` styles cannot be overridden inline. Attempting to provide a `style` attribute inline does nothing to the text inside the link.

This is particularly an issue when dealing with the `text-decoration` css property.

Attempting to override Link styles inline is not following best practices and is probably discouraged. Ran into this behavior when rewriting a page and w

[2021-08-20 23:44] jcfranco opened #2877 "Tooling: Speed up test runs"
**monday.com sync:** #18048531756

## Summary

Current test runs on the CI are taking about ~20 mins. We should look into speeding these up.

Ideas:

- clean up tests/assertions
- revisit common tests/helpers to see if some are still relevant or if they can be merged
- move non-interactive E2E tests to be spec tests. `newSpecPage()` is much faster since it does not require a full Puppeteer instanc

[2021-08-21 00:12] dulldrums opened #2878 "Enhancement: Add ability to add tooltip to Icon in List component"
### Description

Cannot add a tooltip to an Icon placed inside a List Item component.

Adding a tooltip to an icon in a List component item row could be useful in certain cases. In this specific case, there were multiple icons in the row, and adding a tooltip could clarify their behavior.

Currently, we can only add a tooltip to the List Item component or components using `slot="actions-start"`, b

[2021-08-22 20:34] ope-nz commented on #1574
+1 a table component is vital to my product migration to calcite.

[2021-08-23 01:44] #815 closed

[2021-08-23 01:44] #734 closed

[2021-08-23 15:38] macandcheese commented on #1933
Can we bump the priority of this? We are still using a hand-rolled solution using Calcite Chips on the icon search linked above.

[2021-08-23 15:45] ethanbdev commented on #1933
+1, have a need for this as well!

[2021-08-23 16:56] driskull commented on #2878
@asangma this is because the pointer events for the content is set to `none`. https://github.com/Esri/calcite-components/blob/master/src/components/calcite-list-item/calcite-list-item.scss#L74-L77

Do we need that set?

Here's a temporary workaround...

[code]

[2021-08-23 17:12] yannikmesserli opened #2880 "Bug: Uncheck and unfocused calcite-check is smaller than checked and unfocused"
### Actual Behavior

The calcite-check, when checked and unfocused is 16x16px:
![Screenshot 2021-08-23 at 19 04 04](https://user-images.githubusercontent.com/1910449/130488162-7c03eb41-7a68-4795-9bec-ab7cdd6a46a6.png)
When it is focused, it is shrunk to allow space for the usability focused visuals:
![Screenshot 2021-08-23 at 19 04 48](https://user-images.githubusercontent.com/1910449/130488326-c1

[2021-08-23 17:23] macandcheese commented on #1033
@evanmosby does this issue address this need? https://github.com/Esri/calcite-components/issues/2801

[2021-08-23 17:25] macandcheese commented on #885
@asangma is this still valid?

[2021-08-23 17:27] macandcheese commented on #947
Might need to ping Stencil as that PR is still open.

[2021-08-23 17:28] macandcheese commented on #817
@asangma is this still needed?

[2021-08-23 17:30] macandcheese commented on #1097
Is this still something we need now that developer site will be source of truth for public documentation? The component-level variables are now available in the documented output. For the developer site documentation, we can just get the Calcite Color values from the repo.

[2021-08-23 17:31] macandcheese commented on #998
Can we prioritize #1316 and this one @julio8a ?

[2021-08-23 17:32] evanmosby commented on #1033
@macandcheese - Yes I believe so, especially as you described it here https://github.com/Esri/calcite-components/issues/2801#issuecomment-900441403

[2021-08-23 17:35] macandcheese commented on #993
@CodeBarker is this still a valid issue?

[2021-08-23 17:36] macandcheese commented on #1373
I think this is out of scope for the current component. cc @julio8a

[2021-08-23 17:37] macandcheese commented on #1332
Closing

[2021-08-23 17:37] #1332 closed

[2021-08-23 17:38] macandcheese commented on #1514
@asangma Action Group now has a layout property - can this be closed?

[2021-08-23 17:39] macandcheese commented on #1033
@evanmosby thanks, closing this one. Feel free to re-open or re-submit if the above feature doesn't end up working for you.

[2021-08-23 17:39] #1033 closed

[2021-08-23 17:41] macandcheese commented on #1147
@asangma is this still valid in CC?

[2021-08-23 17:42] macandcheese commented on #1529
@eriklharper - looks like `step` is available in the component - can this be closed?

[2021-08-23 17:45] macandcheese commented on #1759
@eriklharper is this still valid?

[2021-08-23 17:48] eriklharper commented on #1529
`step` is technically available, but it doesn't exactly function as intended for every possible step value.  There currently are not enough sufficient unit tests for all the possible step values (we're currently only testing `step="1"` to allow seconds input) so we should keep this issue open to not only add the missing tests for the various step values we want to support.  The native time inputs

[2021-08-23 17:48] macandcheese commented on #1993
@previnWong can you verify if this is still an issue with the latest version?

[2021-08-23 17:50] macandcheese commented on #1529
@eriklharper cool, thanks for the context, was just doing some cleanups 🧹

[2021-08-23 17:50] julio8a commented on #998
Is this one a duplicate?
https://github.com/Esri/calcite-components/issues/2426

[2021-08-23 17:51] julio8a commented on #1373
Yes, this is out of scope for this component and more related to charting. Closing, please reach out to me if there are questions on this one.

[2021-08-23 17:51] #1373 closed

[2021-08-23 17:51] eriklharper commented on #1759
Yes, still relevant.  We can lump this issue under a "native form support" epic which has been thrown around as a possible effort we might pursue for all the calcite form components. @jcfranco

[2021-08-23 17:53] previnWong commented on #1993
I think Accordion is now there.  Although I switch to use js api instead of web component.  Closing for now.

[2021-08-23 17:53] #1993 closed

[2021-08-23 17:53] macandcheese commented on #998
Related, could use that one to track. The tooltip issue linked above should also solve for that.

[2021-08-23 19:04] CodeBarker commented on #993
yup
![image](https://user-images.githubusercontent.com/3944714/130503255-a8a1786e-8f12-48d1-b819-6d60dece1966.png)

[2021-08-23 19:27] shubhamsoengg opened #2881 "Bug: calcite-slider component calls emitChange function on page load"
### Actual Behavior

The calcite-slider component calls the "emitChange" function in the "componentWillLoad" lifecycle method. This is causing a bug in the arcgis-charts-config-histogram component.
https://github.com/Esri/calcite-components/blob/2b4f41be2f51704f1f2ec2f1e8026b719ee69084/src/components/calcite-slider/calcite-slider.tsx#L124

### Expected Behavior

The emitChange function should be c

[2021-08-23 20:36] MikeTschudi opened #2882 "Bug: runtime changes to dropdown max-items have no effect"
### Actual Behavior

The `max-items` value only has an effect after a page refresh and before the first opening of the dropbox.
![image](https://user-images.githubusercontent.com/2125181/130515324-7817906e-ab1c-41dd-a7ee-2d684e82c2dc.png)

Subsequent modifications have no effect:
![image](https://user-images.githubusercontent.com/2125181/130515538-30bfd6a9-8091-4dda-8e41-deb0215222d2.png)
![image]

[2021-08-23 22:19] benelan opened #2884 "Enhancement: Add slots to components that have props for external content"
### Description
Proposed by @asangma on Teams and summarized in this [wiki page](https://github.com/Esri/calcite-components/wiki/Property-vs-Slot).

### Acceptance Criteria
Add slots to the components (listed below) with props that handle external content. The most common scenario is icons.

#### Which Components
[Action](https://developers.arcgis.com/calcite-design-system/components/action/#compo

[2021-08-23 22:27] macandcheese commented on #2884
Can we clarify the icon props suggestion? I was under the impression those would remain. It seems like an inconvenience and an invitation for design fragmentation to remove them on something like a button.

[2021-08-23 22:30] benelan commented on #2884
My understanding is that the prop would stay and then some would be deprecated on a case by case basis. I was just tasked with documenting the proposal by @asangma so I'll wait for him to clarify.

[2021-08-23 23:22] MikeTschudi commented on #674
@1.0.0-beta.62 & NVDA 2020.4, continues to be a problem

[2021-08-23 23:29] caripizza commented on #2577
@justinhough sorry for my delay. Looking at this closer, it seems like the issue stems from the fact that calcite-block-section uses a [native label](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-block-section/calcite-block-section.tsx#L128) with its own padding/margins alongside its calcite-switch (ie., it doesn't use a calcite-label right now).

It looks like addi

[2021-08-23 23:34] AdelheidF commented on #2577
This was my original question. I can add the margin on my side to fix this. Wasn't sure if you wanted to have it all aligned out of the box.

[2021-08-23 23:38] MikeTschudi commented on #635
verified @1.0.0-beta.62 with Accessibility Insights for Web (Chrome extension) FastPass

[2021-08-24 00:26] ManahariDahal commented on #2687
ready to verify!

[2021-08-24 00:27] ManahariDahal commented on #2628
ready to verify!

[2021-08-24 01:34] MikeTschudi commented on #669
@1.0.0-beta.62, still found by Firefox' Accessibility developer tool

[2021-08-24 01:44] #1426 closed

[2021-08-24 02:37] AdelheidF commented on #2741
`calcite-match-height` works great now. Thanks.

[2021-08-24 02:37] #2741 closed

[2021-08-24 14:41] apfister commented on #2857
@driskull are you saying i should be doing it a different way in React?

[2021-08-24 15:41] COV-GIS opened #2885 "Bug: active tab "underline" not visible when when tabs contained in initially hidden panel"
### Actual Behavior

As stated and shown here: https://codepen.io/COV-GIS/pen/ExXxzWj

### Expected Behavior

Active tab should be underlined when panel is shown.

Switching tabs or resizing the window causes the underline to appear.

### Relevant Info

_Version_: `@esri/calcite-components@v1.0.0-beta.62`

- [ ] CDN
- [ ] NPM package

[2021-08-24 15:50] jcfranco commented on #2881
@shubhamsoengg Thanks for reporting this issue. Can you update the title and description to follow our issue templates? https://github.com/Esri/calcite-components/issues/new?assignees=&labels=bug%2C+0+-+new%2C+needs+triage&template=bug.md&title=Bug%3A+

Also, issue assignment is managed by the team, so no need to assign.

[2021-08-24 15:56] driskull commented on #2857
@apfister this should work correctly if you do not set `textEnabled` on any of the actions within the actionbar.

[2021-08-24 16:34] benelan opened #2887 "Docs: Add child components that are not included in the parent storybook page"
### Description
Most of the components with direct children have those children documented on the same storybook page, e.g. [Tabs](https://esri.github.io/calcite-components/?path=/docs/components-tabs--simple), [Flow](https://esri.github.io/calcite-components/?path=/docs/components-flow--basic), [Shell](https://esri.github.io/calcite-components/?path=/docs/components-shell--basic). etc.

The compo

[2021-08-24 16:46] benelan commented on #2807
List Item, Pick List Item, and Value List Item all have the proper jsdoc slot tags in the code. The issue with those components is that they are not documented at all in storybook under their parents. I created a different issue to fix that: #2887. The rest of the missing slots are added in #2888.

[2021-08-24 17:03] AdelheidF opened #2889 "Bug: calcite-sortable-list around calcite-block changes block layout"
When I add `calcite-sortable-list` around `calcite-block` elements that I want to sort they suddenly appear all in one line.
I have to add `flex-flow: column nowrap;` to `calcite-sortable-list` to make them appear properly.

<img src=https://user-images.githubusercontent.com/44481292/130658923-d3c1af07-99a3-46f3-bf78-85b39068412f.png width=250/>

![image](https://user-images.githubusercontent.com/

[2021-08-24 17:38] julio8a commented on #2512
For the input-based, I think it makes sense to use just color, time, date since you know what and where it will go into.

For general components, I'd like to keep picker and stay consistent with other frameworks:

Shopify:
![image](https://user-images.githubusercontent.com/6144462/130662819-fa27feb2-6e1c-4ed8-a4af-848296c65e9d.png)

Salesforce:
![image](https://user-images.githubusercontent.com/61

[2021-08-24 17:48] macandcheese commented on #2512
Couple thoughts... Agree on most of the above. I think across the board the nomenclature could be standardized more... we use a lot of non-recognizable terms that folks not familiar with the system won't be looking for. We can obviously try to educate and promote but it seems like we just try to stick to more industry standard terms as a rule.

For tabs - I like the change to 'tab-title-group'. I

[2021-08-24 18:49] benelan commented on #2861
### Findings
[eslint-plugin-markdown]( https://github.com/eslint/eslint-plugin-markdown) works by identifying fenced code blocks inside markdown files and linting them with the plugins/rules used in the repo. Therefore the html fenced code blocks in the usage examples will not be linted unless we adding a plugin or rules for html. It is possible to only lint the usage markdown files and you can de

[2021-08-24 19:57] benelan opened #2892 "Docs: Break usage examples with sub-examples into multiple files"
### Description
Usage examples should be in the follow format:
* title - parsed from file name
* description - text at the beginning of the file
* code example - fenced code block

Each file should only have one usage example. This will make it easier to parse the examples for use in the developer doc. Currently some of the usage examples have multiple sub-headers and examples in a single file. Th

[2021-08-24 20:23] driskull commented on #2697
Is this still an issue with the bump to stencil 2.7.0?

[2021-08-24 20:45] driskull opened #2894 "Unstable Test: calcite-date-picker.e2e.ts getLocaleData"
## Summary

**Which component?:**

datepicker

The problem is that we don't know when the locale data has been loaded. We need an event on the datepicker to know when the locale is ready. Currently, there's no way to know.

**Which test(s)?:**

**Test error:**

[code]

**PR that skipped the test:** #2899

## Additional Info

[2021-08-24 20:52] benelan commented on #2859
Hey @jcfranco, @julio8a, an one of you please help verify this when you get a chance?

[2021-08-24 20:59] ManahariDahal commented on #2640
ready to verify!

[2021-08-24 21:01] ethanbdev commented on #2697
Not for me

[2021-08-24 21:03] ManahariDahal commented on #2769
ready to verify!

[2021-08-24 21:08] benelan commented on #2492
Hi @dasa, I added Color Picker [usage examples](https://github.com/Esri/calcite-components/tree/master/src/components/calcite-color-picker/usage), do you want to verify before I close the issue? I also created #2860 to add usage examples to the rest of the components that don't have any.

[2021-08-24 22:13] MikeTschudi opened #2897 "A11y: element counts (m of n) are incorrect in dropdown in Chrome"
### Summary

First pass through dropdown using keyboard provides wrong counts of items in group; subsequent passes while dropdown is open have correct counts.

### Actual Behavior

[code]

### Expected Behavior

[code]

### Reproduction Steps

Using example https://esri.github.io/calcite-components/?path=/story/components-buttons-dropdown--groups-and-selection-modes with NVDA on.

1. Tab to Open D

[2021-08-24 23:29] jcfranco commented on #2869
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/calcite-components-5f7d10460071bf0024e66277/issues/Esri/calcite-components/2869?planning-poker) with ZenHub @julio8a @macandcheese

[2021-08-25 00:02] julio8a commented on #2825
@bstifle, can you provide more details here ^

[2021-08-25 00:17] jcfranco commented on #2813
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/calcite-components-5f7d10460071bf0024e66277/issues/Esri/calcite-components/2813?planning-poker) with ZenHub @driskull

[2021-08-25 00:24] benelan commented on #2850
Hey @asangma, Should I change it to the 2nd or 3rd code block?

[2021-08-25 00:25] jcfranco commented on #2834
This is by design. Keyboard focus is only allowed within the active item. The up/down arrows can be used to navigate between items when the item content has focus.

[2021-08-25 00:25] #2834 closed

[2021-08-25 00:25] jcfranco commented on #2834
cc @benelan

[2021-08-25 00:28] jcfranco commented on #2824
This is by design. @asangma can correct me if I'm wrong, but block should always have a heading. It is not documented as such, so we should mark it as required.

cc @benelan

[2021-08-25 00:42] jcfranco commented on #2854
Thanks for bringing this up. We need to do an audit of our custom events as we will be removing any custom event payload that is not already on the component itself.

For the `calciteInputInput` case, you can to through the event's `target`/`currentTarget` to get the value: https://codepen.io/jcfranco/pen/eYRmJej?editors=0010

cc @benelan

[2021-08-25 01:00] jcfranco commented on #2840
Closing based on ☝🏼 .

I think the translation text can use the LTR/RTL mark characters to enforce direction. Without that, the browser doesn't know how how to properly place the URL characters: https://www.w3.org/International/articles/inline-bidi-markup/#where

[2021-08-25 01:00] #2840 closed

[2021-08-25 01:45] #758 closed

[2021-08-25 15:12] jcfranco commented on #2492
Verified locally!

[2021-08-25 15:12] #2492 closed

[2021-08-25 15:13] ethanbdev commented on #2834
Thanks @jcfranco , I will pass that along

[2021-08-25 15:53] bstifle commented on #2825
Whoa weird! Not seeing these problems anymore

[2021-08-25 15:54] bstifle opened #2900 "Bug: Demo page mislabel on Split Button"
### Actual Behavior

Label says **Clear Brand**

### Expected Behavior

Should say **Clear Neutral**

### Relevant Info

![Untitled-1](https://user-images.githubusercontent.com/14083530/130823742-99115a50-30f4-406e-9b23-1b7936036e27.png)

[2021-08-25 15:56] #2507 closed

[2021-08-25 15:56] #2080 closed

[2021-08-25 16:04] bstifle opened #2901 "Bug: Combobox single select filled text using wrong weight"
### Actual Behavior

Filled weight in combobox single select text is using avenir-medium 500
![image](https://user-images.githubusercontent.com/14083530/130825272-23aa069e-bff2-47fc-bd16-79251d958b8e.png)

### Expected Behavior

Filled weight in combobox single select text should use avenir-regular 400
![image](https://user-images.githubusercontent.com/14083530/130825470-12dc3ae8-c7bf-4f5f-9a23-f8

[2021-08-25 16:53] benelan commented on #2697
Still an issue for me even with a fresh clone :(
![image](https://user-images.githubusercontent.com/10986395/130832587-6d4fea2e-6415-404b-b911-0d015c56c7e6.png)

[2021-08-25 18:56] bpatterson88 opened #2908 "Enhancement: Action bar - Collapse Disabled"
### Description

Add 'collapse disabled' prop to action bar.

### Acceptance Criteria

When 'collapse disabled' is true:
- Action bar can't be collapsed
- Action bar items do not need icons

### Relevant Info

#### Which Component

Action bar/Action item

#### Example Use Case

Dashboards is using the action bar for our visualization configs. Each action is a different part of the config. Since th

[2021-08-25 21:40] #2640 closed, assigned to julio8a

[2021-08-26 16:32] benelan opened #2913 "Refactor: remove calcite prefix from component filenames"
### Description
Remove ``calcite-`` from the component directories and filenames. It is unnecessarily verbose, and removing it would make our naming convention similar to that of ionic: https://github.com/ionic-team/ionic-framework/tree/main/core/src/components/select

### Acceptance Criteria
All of the ``calcite-`` prefixes are removed from the component directories and filenames.

[2021-08-26 16:41] caripizza opened #2914 "Enhancement: support highlighting histogram range when slider's min value is negative"
### Description
Add support for highlighting a histogram range when calcite-slider's `min` prop value is a negative number.

While working on #2457, I'm noticing that slider's track range handles the negative `min` value just fine:

![image](https://user-images.githubusercontent.com/42423180/131000372-7e5b6186-9ab3-48e8-b8ab-6f1f4e231b78.png)

However, when the slider includes histogram data, the

[2021-08-26 17:57] #2908 closed, assigned to nobody

[2021-08-26 23:52] AdelheidF opened #2918 "Bug: calcite-input step:0.1 issues with arrows"
(1)
If step is 0.1 the arrow-up only goes up to 1. Once it reaches 1 the arrows don't do anything anymore. Same when going down to 1. Same with 0 and 2. I can type in a value fine, it's just an issue with the arrows.

(2)
Using the arrow up/down keys on my keyboard when the input has the focus just moves the cursor around inside the input. No value change happening. Apparently the value should go

[2021-08-27 00:20] driskull opened #2920 "A11y: Input - Add intl props for calcite-input internal buttons"
### Summary

The input component needs aria-labels for the clear/increase/decrease buttons. To do so, we need to add `intl` props so users can set these.

### Actual Behavior

Number buttons are not labeled.

### Expected Behavior

Number buttons are labeled.

### Reproduction Steps

1.

### Relevant Info

[code]

### Working W3C Example/Tutorial

[2021-08-27 00:24] driskull opened #2921 "Bug: Default display for calcite-label should be defined."
### Actual Behavior

calcite-label is displayed as inline by default. Should it be? Should the 'layout' property change the default display?

### Expected Behavior

At very least, a test is setup to test the default display and if any layout prop changes should affect that.

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NP

[2021-08-27 04:16] jcfranco opened #2925 "Refactor: Audit custom event payload for consistency"
### Summary

We have inconsistencies when it comes to emitting custom events:

1. Emitting with a value
  * with an object, e.g., `this.calciteFoo.emit({ foo: "foo" })`
  * with a value, e.g., `this.calciteFoo.emit("foo")`
2. Typing the event – `EventEmitter` is not typed consistently
  * typed based on the types from 1, e.g., `calciteFoo: EventEmitter<FooDataObject>;`
  * untyped `calciteFoo: Eve

[2021-08-27 05:06] julio8a opened #2926 "Bug: Inline editable `disabled` has a hover state"
### Actual Behavior

The disabled inline editable should not have a hover state. Moreover, I think the idle text should be a lighter gray to appear disabled.

![image](https://user-images.githubusercontent.com/6144462/131074593-ab063317-69aa-4e8d-8ab0-f2de3fe1a46a.png)

### Expected Behavior

No hover state and lighter text to appear disabled.

### Reproduction Steps or Sample

Hover over the disa

[2021-08-27 16:23] AdelheidF opened #2928 "Bug: calcite-slider with step:0.1 returns long decimals"
I have a `calcite-slider` with step of 0.1, min/max = 0/5, snap=true.
`CalciteSliderUpdate` returns numbers like 1.9000000000000001 and 2.4000000000000004 in `event.target.value`.

### Actual Behavior

### Expected Behavior

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM package

[2021-08-27 20:00] AdelheidF opened #2936 "Docs: calcite-popover says there is an image slot."
### Description

calcite-panel says there is an image slot. It's not working, I think it should not be there.

### Which Component

### Resources

[2021-08-27 21:24] asangma opened #2937 "Enhancement: Tile. Add styles for Icon in actions-end slot"
### Description
Add a convenience styles for CalciteIcon in Tile's "actions-end" slot.

~Blocked until #2890 is merged.~

### Acceptance Criteria
* Use layout styles only.

### Relevant Info
Suggested style for CalciteIcon
[code]

#### Which Component
Tile

#### Example Use Case
Adding a CalciteIcon ~or CalciteAction~ to a the "actions-end" slot.
(CalciteActions already seems to be responding acco

[2021-08-27 21:54] AdelheidF opened #2938 "Bug: calcite-color-picker calls calciteColorPickerInput on initial setup"
I noticed that the initial setup of `calcite-color-picker` already calls the `calciteColorPickerInput` event.
That's an issue because by just creating this popover it sets an effect on the layer.

[code]

### Actual Behavior

### Expected Behavior

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM package

[2021-08-27 23:00] driskull commented on #2936
Installed. docs should be fixed once a docs build happens.

[2021-08-27 23:03] julio8a commented on #2452
@driskull, is this one considered installed too based on https://github.com/Esri/calcite-components/pull/2934?

[2021-08-27 23:07] driskull commented on #2452
I think so.

[2021-08-27 23:23] benelan opened #2940 "Bug: Color input does not display the selected color"
### Actual Behavior
In Chrome an input with type="color" does not consistently display the selected color. It appears gray no matter which color is selected. It does work sometimes but most of the time it does not. It consistently works in Firefox for me. @julio8a mentioned that the input is completely empty in Safari.

### Expected Behavior
The input is supposed to display the selected color by c

[2021-08-28 00:00] benelan opened #2941 "Bug: Color input does not use calcite-color-picker on Firefox"
### Actual Behavior
 Firefox does not use our color picker when selecting a color for an input with type="color".
![image](https://user-images.githubusercontent.com/10986395/131197547-e87f8d06-9789-45eb-b3d1-596c2fb35b4f.png)

### Expected Behavior
Use calcite-color-picker

### Reproduction Steps or Sample
https://codepen.io/benesri/pen/qBjOdbG

### Relevant Info
Firefox 91.0.2 (64-bit)
Windows 10

[2021-08-28 00:40] svlesiv opened #2942 "Bug [calcite-tooltip]: partially visible tooltip inside a small container"
### Actual Behavior
A tooltip might not fit inside a small container (for example, inside a dropdown with a few items).

<img width="249" alt="Screen Shot 2021-08-27 at 5 37 05 PM" src="https://user-images.githubusercontent.com/35533801/131200607-35a5c406-1bad-4684-b952-66884f756add.png">

### Expected Behavior
A tooltip will be shown outside of a small container.

### Reproduction Steps or Sample