[2021-01-27 00:25] julio8a commented on #1283
@jcfranco, still valid?

[2021-01-27 00:30] julio8a commented on #1305
Is this still an issue?
On the latest storybook updating the prop updates the select theme
https://esri.github.io/calcite-components/?path=/story/components-select--basic

[2021-01-27 00:31] jcfranco commented on #1283
I think this got fixed by #866. @macandcheese Can you confirm?

[2021-01-27 00:32] gpbmike commented on #1305
Looks good in beta 48. Thanks!

[2021-01-27 00:32] #1305 closed

[2021-01-27 01:21] kevd commented on #837
Yep, not seeing labels here

https://esri.github.io/calcite-components/?path=/story/components-slider--range

[2021-01-27 03:43] jcfranco commented on #901
This got fixed by https://github.com/Esri/calcite-components/pull/1038.

Self-verified with https://codepen.io/jcfranco-the-scripter/pen/VwKoBgx?editors=0010

[2021-01-27 03:43] #901 closed

[2021-01-27 04:13] julio8a commented on #1283
Verified! thx @jcfranco!

[2021-01-27 04:13] #1283 closed

[2021-01-27 04:50] julio8a commented on #1149
valid

[2021-01-27 04:59] julio8a commented on #1321
I think @paulcpederson had mentioned that on the current Online avatar, they can infinitely generate color parings. I'm wondering if we can generate a set?

The thing would be to avoid people having the same color?

CCing @bstifle (The color guru2.0)

[2021-01-27 05:03] bstifle commented on #1321
yeah we worked on these so that they would always pass contrast. text color looks off. should be 6a6a6a.

@paulcpederson hel!p

[2021-01-27 17:12] paulcpederson commented on #1321
It... is #6a6a6a , no help needed my dude.

@capeoples the offending avatar is probably not a calcite-avatar yet? In that case the answer your a11y woes is to update it to use `calcite-avatar`!

[2021-01-27 17:12] paulcpederson commented on #1321
Feel free to reopen if this is indeed a bug in CC

[2021-01-27 17:12] #1321 closed

[2021-01-27 17:14] julio8a commented on #1321
Thanks all!

[2021-01-27 17:27] julio8a commented on #1355
Unless I'm missing something, the week still shows starting on Sunday (ned.)

Storybook:
![image](https://user-images.githubusercontent.com/6144462/106029287-c78ebc00-6081-11eb-88ae-119c9fd059c0.png)

Local build:
![image](https://user-images.githubusercontent.com/6144462/106029369-dd03e600-6081-11eb-9581-740a3689dbd7.png)

[2021-01-27 17:32] julio8a commented on #1107
Following up on this issue, @asangma

[2021-01-27 18:08] caripizza commented on #1355
@julio8a did you select the "sk" locale in your screenshots?

[2021-01-27 18:12] subgan82 opened #1479 "Bug: certain `dependencies` are listed as `devDependencies`"
### Summary

When Calcite-Components is used in an application , there are couple of dependencies listed as `devDependencies` throwing runtime errors as follows

### Actual Behavior

Throws runtime errors for react, angualar, ember based apps using calcite-components
/node_modules/arcgis-charts-components/dist/esm/calcite-modal.entry.js
Cannot find module: '@a11y/focus-trap/focusable'. Make sure t

[2021-01-27 18:47] paulcpederson commented on #1355
@julio8a clear your cache and try again, storybook caches pretty heavily

[2021-01-27 18:48] paulcpederson commented on #1355
I just verified this on docs site.

[2021-01-27 18:48] #1355 closed

[2021-01-27 19:21] caripizza commented on #1270
Aha - thanks for that @Csmith246. Confirmed the bug on my end too in the current v1.0.0-beta.48 release. Looks like specifically it was in the calcite-pick-list-item component, and it was fixed in this commit a couple weeks ago (ie., Alan removed the `mix-blend-mode: multiply` styles), so I'm thinking the next release should include the fix:
https://github.com/Esri/calcite-components/commit/1e3f17

[2021-01-27 19:43] julio8a commented on #1355
ah, cache issue, thx @paulcpederson.

[2021-01-27 19:56] julio8a commented on #254
@patrickarlt, is this something you can work on?

[2021-01-27 20:27] caripizza commented on #1365
Verified fixed while running tests on my local master branch just now, and I also confirmed with Matt - closing.

[2021-01-27 20:27] #1365 closed

[2021-01-27 21:21] bstifle commented on #1341
Verified

[2021-01-27 21:21] #1341 closed

[2021-01-27 21:23] bstifle commented on #1356
Verified

[2021-01-27 21:23] #1356 closed

[2021-01-27 21:24] bstifle commented on #1330
Verified

[2021-01-27 21:24] #1330 closed

[2021-01-27 21:28] bstifle commented on #990
@paulcpederson this is assigned to you and is `p-high`

Has there been any movement? Thank you.

_end comment_

[2021-01-27 21:31] bstifle commented on #1082
@asangma this is assigned to you, is it still relevant?

Has there been any movement? Thank you.

_end comment_

[2021-01-27 21:36] paulcpederson commented on #990
duplicate of https://github.com/Esri/calcite-components/issues/720

[2021-01-27 21:36] #990 closed

[2021-01-27 21:54] bstifle commented on #1464
Hi yalls, where does this stand? What is the priority for this?

[2021-01-27 22:11] julio8a commented on #1111
I'm on a mac so the settings are different. However, I did set change my timezone to a Chinese city `Baiyin - China mainland`, and didn't get the issue.

Verified fixed.

[2021-01-27 22:11] #1111 closed

[2021-01-27 22:12] bstifle commented on #1464
@asangma do you have an eta?

[2021-01-27 22:12] bstifle commented on #967
@kat10140 Is this issue still valid?

[2021-01-27 22:13] bstifle commented on #1406
@jcfranco do you have an eta on this?

[2021-01-27 22:13] bstifle commented on #1467
@eriklharper do you have an eta on this?

[2021-01-27 22:14] bstifle commented on #1081
@asangma do you have an eta on this?

[2021-01-27 22:14] bstifle commented on #972
@asangma me again, do you have an eta on this issue?

[2021-01-27 22:16] bstifle commented on #1412
@paulcpederson hi fren, do you have an eta on this?

[2021-01-27 22:18] paulcpederson commented on #1412
yeah, ETA: Jan 4, 2021, 2:49 PM PST

[2021-01-27 22:21] julio8a commented on #1412
@bstifle, Looks like this just needs verification

[2021-01-27 22:31] paulcpederson commented on #960
due to how this is implemented now (chips in input) I don't think this is something we can do at this point.

[2021-01-27 22:31] #960 closed

[2021-01-27 23:09] bstifle commented on #1412
@paulcpederson  thanks but can you do it sooner

[2021-01-27 23:13] bstifle commented on #1412
Verified

[2021-01-27 23:13] #1412 closed

[2021-01-27 23:24] paulcpederson commented on #1412
![doc from back to the future saying "ready"](https://user-images.githubusercontent.com/1031758/106067488-9d55f200-60b3-11eb-8e97-da8476365628.gif)

[2021-01-27 23:39] eriklharper commented on #1467
@bstifle glad you asked!  Just put up a PR for it: #1467

[2021-01-27 23:46] jcfranco commented on #1406
@bstifle No, sir. I do not.

[2021-01-27 23:55] jcfranco commented on #1464
Since this is a regression, I'd say high.

[2021-01-28 00:23] julio8a commented on #771
Is this still valid?

[2021-01-28 00:27] julio8a commented on #947
This is still in the works.

[2021-01-28 01:26] #1467 closed

[2021-01-28 02:12] #1272 closed

[2021-01-28 04:55] julio8a commented on #1274
@bstifle, we good to close this?

[2021-01-28 16:00] bstifle commented on #1274
Still valid. The borders have not been updated in code

[2021-01-28 22:15] codylawson opened #1484 "Bug: Date range unexpectedly calls calciteDateRangeChange"
### Summary
In some cases a controlled `calcite-date`, configured with `range`, will call `calciteDateRangeChange` when the `start` and `end` properties are changed via another control in the UI.

### Actual Behavior
In Vue if you store a `start` and `end` date as a data and pass these values to the `calcite-date` component, changes to the state from any other component on the UI will cause the ca

[2021-01-28 22:16] codylawson commented on #1484
@paulcpederson

[2021-01-29 00:07] ethanbdev opened #1485 "Enhancement: Add ability to set "any" on the step property of calcite-input"
### Description
Currently, the step property can only be set to a number. The native HTML input has an option for "any" to be set. This option would leave the ability to use the arrows to increment by 1 but remove the step being considered during validation, removing tooltips like this:
![image](https://user-images.githubusercontent.com/52869490/106213892-86320580-6182-11eb-86e6-764fdc4412fa.png)

[2021-01-29 00:38] eriklharper opened #1487 "Bug: calcite-checkbox doesn't need aria attributes since it uses a native checkbox input"
### Summary

`calcite-checkbox` renders a hidden `<input type="checkbox">` under the hood, so the aria attributes are redundant and confusing to screen reader users who will hear multiple checkboxes for the same element.

### Actual Behavior

A screen reader like NVDA reads out `clickable banana checkbox checked checkbox checked` when rendering a checkbox like:

[code]

### Expected Behavior

Scre

[2021-01-29 17:43] julio8a opened #1490 "Research: Bookmarklet that highlights components on a webpage"
### Background
Create a bookmarklet to detect where components are being used on a page. This can help us identify what components are being used in different apps to understand adoption and how many components are being used.

Here's an example bookmarklet I put together that highlights anchor tags. I couldn't figure out how to do components since they use shadow dom.
[code]

### Desired Outcome

[2021-01-30 00:04] paulcpederson commented on #1484
Have a pr open that I _think_ will fix this.

[2021-01-30 00:54] jcfranco commented on #1479
Installed.

[2021-02-01 16:27] macandcheese commented on #1205
Leave open - could use the background-color prop nomenclature from Modal

[2021-02-01 17:04] jcfranco commented on #1479
I missed one dependency. Fix coming up...

[2021-02-01 17:14] julio8a commented on #803
This issue says in development, who is working on it?

[2021-02-01 17:17] julio8a commented on #913
Is this one still valid? If so, what's the status? Maybe this is something I can work on or @bstifle

Seems like a low priority one though and might get fixed with the spacing scale that gets implemented to all the compnents?

[2021-02-01 17:18] julio8a commented on #890
Is this issue still valid?

[2021-02-01 17:19] julio8a commented on #885
@asangma, this is still something to work on?

[2021-02-01 17:23] julio8a commented on #862
Seems like this one is good to close?

Please re-open if necessary.

[2021-02-01 17:23] #862 closed

[2021-02-01 17:26] julio8a commented on #817
Great discussion here all. What's the status of this issue?

[2021-02-01 17:27] julio8a commented on #816
@bstifle, can you check this is compliant now? if so, please close this issue.

[2021-02-01 17:27] julio8a commented on #815
Any updates on this one @asangma ?

[2021-02-01 17:28] julio8a commented on #808
Still valid?

[2021-02-01 17:31] julio8a commented on #796
I verified this on the storybook, closing.

[2021-02-01 17:31] #796 closed

[2021-02-01 17:32] julio8a commented on #757
Closing, please re-open is still valid.

[2021-02-01 17:32] #757 closed

[2021-02-01 17:51] macandcheese commented on #803
Not being worked on right now.

[2021-02-01 17:52] macandcheese commented on #913
Wouldn't get fixed with spacing, it's about where the slider rests at the high / low bounds. You can see here: https://esri.github.io/calcite-components/?path=/story/components-label--wrapping-components-other-than-input

Low priority but should keep open so we can address it at some point.

[2021-02-01 17:53] macandcheese commented on #862
Yeah it already did all the requested items, safe to close.

[2021-02-01 17:53] julio8a commented on #913
Thanks @macandcheese

[2021-02-01 17:54] macandcheese commented on #817
I would still like to update the design and functionality of the drag and drop to what was shown in above gif but it's probably a separate enhancement issue than what this originally was for.

[2021-02-01 18:24] gpbmike opened #1496 "Enhancement: calcite-select value should be captured in FormData"
### Description

It would make calcite components much easier to work with if their value could be captured with `FormData` without extra steps.

### Acceptance Criteria

`FormData` should contain `<calcite-select>` value if `<calcite-select>` has the `name` attribute and its parent `<form>` is passed to `FormData`.

https://developer.mozilla.org/en-US/docs/Web/API/FormData/FormData

### Relevant

[2021-02-01 18:54] driskull opened #1497 "Bug: Slider value should move on MouseDown instead of MouseUp"
### Summary

Bug: Slider value should move on MouseDown instead of MouseUp

### Actual Behavior

Slider value changes on mouse up. 🐁

### Expected Behavior

Slider value changes on mouse down. 🐭

### Reproduction Steps

1. View  a calcite-slider
2. Click on a spot on the range
3. Notice it won't change if you press and hold on a location.
4. The native input slider will change immediately.

### Re

[2021-02-01 18:55] driskull opened #1498 "Question: Why does switch have both switched and value"
### Question

Question: Why does switch have both switched and value?

Shouldn't it just have one source of truth for whether or not the switch is toggled in the on state?

### Helpful Details

[2021-02-01 19:05] macandcheese commented on #1498
Not sure on this, I think @eriklharper did that one?

[2021-02-01 19:09] driskull commented on #1498
Never mind, It is to support native form submission

[2021-02-01 19:09] #1498 closed

[2021-02-01 19:11] driskull commented on #1497
Also, if I press and drag and then unpress outside of the slider the mouse still moves the slider

![Uploading Feb-01-2021 11-06-33.gif…]()

[2021-02-01 19:18] eriklharper commented on #1498
Correct.

`switched` communicates whether the switch is on or off (just like `checked`).
`value` is just a label that overrides the default "on" text that is reported to the form when the switch is turned on.

[2021-02-01 21:15] bstifle commented on #816
it wont be compliant until the color changes are in master

[2021-02-01 23:18] driskull commented on #1497
Another nice improvement would be to multiply the step value if the user is holding the shift key while using arrow keys.

[2021-02-01 23:35] eriklharper commented on #1317
Just verified latest Stencil release 2.4.0 is still causing this issue.

[2021-02-02 18:07] Csmith246 commented on #1270
@caripizza We're still experiencing this issue in our codebase. Could we open this issue until the fix is published and confirmed?

[2021-02-02 18:14] caripizza commented on #837
@kevindoshier can you clarify this one for me with a code snippet example? When I select the `label-handles` checkbox knob on the story link you provided, the min and max value labels appear.

Are you instead asking for the "Temperature, upper/lower bound" text labels to appear?

[2021-02-02 18:17] caripizza commented on #1107
Hi @kevindoshier, are you asking for calcite-panel's `width-scale` property to be updated after the attribute is changed on a parent shell-panel?

I can see `calcite-panel` is styled with a 100% width, so setting `width-scale="l"` on a parent shell-panel will constrain the child calcite-panel width per [these styles](https://github.com/Esri/calcite-components/blob/dd10e9c2e2035715b1b72b87f90c6b86e

[2021-02-02 18:36] caripizza commented on #1107
Just chatted with Kevin in Teams, he's good with current behavior so this one can now be closed.

[2021-02-02 18:36] #1107 closed

[2021-02-02 18:38] caripizza commented on #837
chatted with @kevindoshier in Teams, he's looking for the max/min-labels to appear like so:
![image](https://user-images.githubusercontent.com/42423180/106646413-93fcd780-6542-11eb-87f4-6d7bde274ebe.png)

[2021-02-02 19:20] jrowlingson opened #1500 "Epic: Consistent font/size, spacing scale, color, etc for components"
### Description
Enable consistency throughout the component library of font/size, spacing scale, color, shadow, focus states, etc.

Now that @asangma 's tailwind configuration refactor has landed (https://github.com/Esri/calcite-components/pull/1415), we should be in a good spot to begin the larger component refactor to use said configuration. I'd suggest grabbing a range below (e.g. a-b) if you a

[2021-02-02 19:21] jrowlingson commented on #1500
Grabbing `calcite-a*` through `calcite-b*`

[2021-02-02 21:34] caripizza commented on #873
@driskull is this still an issue?

[2021-02-02 21:40] driskull commented on #873
This has been fixed

[2021-02-02 21:41] #873 closed

[2021-02-02 23:14] kevindoshier opened #1502 "Bug: Unintentional padding in the calcite-shell footer slot"
There is padding being set for the calcite-shell footer slot that I spoke to Alan about and it should not be there, can you pls remove it?

Here is the code

https://github.com/Esri/calcite-components/blob/dd10e9c2e2035715b1b72b87f90c6b86ef7f56fd/src/components/calcite-shell/calcite-shell.scss#L70

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-02-02 23:18] kevindoshier commented on #1502
PR here:
https://github.com/Esri/calcite-components/pull/1503

[2021-02-03 22:33] mitc7862 opened #1506 "Enhancement: Make option for icon-only buttons responsive to container width"
### Description
I was able to make a grid of action buttons that fill the width of a panel, but the icon's doesn't appear centered because the calcite icon button width is restricted.

What we want it to look like:
![image](https://user-images.githubusercontent.com/12564905/106818060-9d626e80-662c-11eb-9e09-01dd4aa47fea.png)

As close as we could get:
![image](https://user-images.githubusercontent

[2021-02-03 23:17] macandcheese commented on #1506
I think restricting to a square (or a rectangle when icon-start and icon-end are populated), should still be available somehow.

[2021-02-03 23:20] mitc7862 commented on #1506
Agree, I would suggest that still be the default behavior… but I think all components should have a responsive state for varying-width containers.

[2021-02-03 23:33] asangma commented on #1506
I think you could use Action as a starting place.

That being said, I think this could be handled by using a layout attribute or some layout attributes.

If we wanted to start small to get a feel for it, we could add a layout attribute to ActionGroup to help accomplish that design. I have a couple other designs that would benefit from that.

Also, Action already has a `text-enabled` attribute that

[2021-02-03 23:35] asangma commented on #1506
Also, this would allow users to have an ActionPad with a grid layout.

[2021-02-03 23:43] asangma commented on #1506
Looks like Action might also need a layout property.

[2021-02-04 01:56] #1146 closed

[2021-02-04 01:56] #1138 closed

[2021-02-04 02:09] noahmulfinger opened #1507 "Bug: calcite-input form reset behavior doesn't match native input"
### Summary

When you call reset on a form containing a calcite-input, it clears the value regardless of what the initial value was.

### Actual Behavior

I've created a codepen where you can see the reset behavior: https://codepen.io/noahmulfinger/pen/GRNpBgb. Click the Reset button and the calcite-input will go blank, but the native input will not

### Expected Behavior

Behavior should match th

[2021-02-04 20:11] paulcpederson commented on #283
@eriklharper did your recent changes to hidden checkboxes help fix this issue? Thinking this may be taken care of now.

[2021-02-04 21:22] julio8a commented on #1145
Where are we with this issue?

[2021-02-04 21:25] julio8a commented on #1349
Does this one just need to be verified?

[2021-02-04 21:26] julio8a commented on #964
Is this the accessibility tab on each component in the storybook? or is this something else?

[2021-02-04 21:27] julio8a commented on #1220
Closing this, as it should be covered here #1144
re-open if needed.

[2021-02-04 21:28] julio8a commented on #1144
Can I close in favor of #1500 ?

[2021-02-04 21:29] jcfranco commented on #1145
I'll have a few PRs for some items before the end of the week.

[2021-02-04 21:58] jcfranco commented on #964
It's somewhat related. Automating a11y audits with storybook stories. @eriklharper Could Screener be used for this?

[2021-02-04 23:48] driskull opened #1511 "Enhancement: Deprecate CalciteAction and achieve feature parity with CalciteButton"
### Description

Deprecate CalciteAction and achieve feature parity with CalciteButton

### Acceptance Criteria

- CalciteButton should be able to disable text without having to remove the text
- Indicator support
- Active support (highlighted) // would this be appearance on button?
- All components that expect a CalciteAction can use a CalciteButton instead
- Slot names may change from 'action'(s

[2021-02-04 23:51] driskull commented on #1511
cc @jcfranco @asangma @paulcpederson @macandcheese

[2021-02-04 23:53] driskull commented on #1511
Let me know if this is something we would want to do for V1.

[2021-02-05 01:08] kat10140 commented on #967
@bstifle yes i'll take care of it tomorrow

[2021-02-05 01:56] #1096 closed

[2021-02-05 02:11] windwp opened #1513 "Question: Is there anyway to use calcite with snowpack"
### Question
Hi i want to use calcite-components with https://www.snowpack.dev/.
Is there any tutorial to do this? i check readme and It only have document with webpack

### Helpful Details

[2021-02-05 04:59] julio8a commented on #1445
@macandcheese, is this is the issue you mentioned in our meeting that we can close?

Want to confirm.

[2021-02-05 05:00] julio8a commented on #1261
From a meeting today, it seems that we are okay with selected and active throughout the library. We just need the documentation within the components as to which one is used.

Closing, re-open if needed.

[2021-02-05 05:00] #1261 closed

[2021-02-05 05:02] julio8a commented on #1437
@jcfranco, from the meeting we had today, we should merge this one and not wait for 1.0.

[2021-02-05 05:03] julio8a commented on #1145
Thanks for the update @jcfranco

[2021-02-05 05:04] julio8a commented on #744
What's the status of this issue?

[2021-02-05 05:07] julio8a commented on #1511
If yes, please add to the 1.0 project.

[2021-02-05 15:25] macandcheese commented on #1445
Keep open until the linked pr is merged

[2021-02-05 16:03] asangma commented on #1506
@mitc7862 Do you mind if I rename this and update the first comment to be more about making layout options specific to the ActionGroup (with a note about this having the potential of becoming a broader pattern)?

[2021-02-05 16:07] macandcheese commented on #1506
I think a regular button still needs to have this option, since it’s basically styling users might want to just update a prop on a button.

Not that it would preclude action bar from also having a layout like “grid” in addition to horizontal or vertical that could be used like this.

[2021-02-05 16:18] asangma commented on #1506
@macandcheese Seems like the Button should be a bit more prescriptive considering it's usage, but perhaps I'm missing something. Let's connect on this.

[2021-02-05 16:31] asangma commented on #1506
I'll make a new issue specific to Action and ActionGroup so if we wanna do something similar in Button, we can do that too.

[2021-02-05 16:38] asangma opened #1514 "Enhancement: Add layout options for Action and ActionGroup"
### Description
re: #1506

Allow Actions to be displayed in a grid.
![image](https://user-images.githubusercontent.com/12564905/106818060-9d626e80-662c-11eb-9e09-01dd4aa47fea.png)

### Acceptance Criteria
* works with text-enabled on/off
* works inside a panel
* works inside ActionPad
* probs doesn't need to work with ActionBar
* pattern could be generalized and used more broadly
* doesn't break s

[2021-02-05 16:52] julio8a opened #1515 "Enhancement: nomenclature of light and dark buttons"
### Description
Update the nomenclature of `dark` and `light` buttons.
Their current naming is confusing, and adding the themes (light/dark) to the mix doesn't make it any easier.

### Acceptance Criteria
Rename buttons, @bstifle and @paulcpederson have worked the deitails.

### Relevant Info
![image](https://user-images.githubusercontent.com/6144462/107063530-5771eb80-678f-11eb-9478-e2e28eccfacb.

[2021-02-05 16:56] julio8a opened #1516 "Enhancement: calcite-icon only build with icons users need"
### Description
This came up in a Microsoft Teams [conversation](https://teams.microsoft.com/l/message/19:fd15b51dacd24e70895ec1218a54ae06@thread.skype/1612542779216?tenantId=aee6e3c9-711e-4c7c-bd27-04f2307db20d&groupId=56fae21a-9407-4943-859f-a9bfcf0bbad3&parentMessageId=1612542779216&teamName=Calcite%20Design%20System&channelName=Calcite%20Components&createdTime=1612542779216) as a valid concern

[2021-02-05 17:48] eriklharper commented on #283
Proxy input support is gone from `calcite-checkbox` and yes, [this fix](https://github.com/Esri/calcite-components/pull/1483/files) should resolve this issue but the only way that I can imagine it occurs is when `!important` styles are being applied to `input` tags in the CSS that affect the rules hiding the checkbox from view.  Not sure if this webpack app is doing that kind of thing, but that fi

[2021-02-05 17:53] eriklharper commented on #964
Not sure how these a11y storybook features work, but as far as I know Screener only will work on exported functions from `.story` files that return JSX.  Either that or you use `screener-runner` manually to target html output of your choosing.  They support storybook but don't as far as I have inquired about support much in the way of any other storybook features other than the raw stories themsel

[2021-02-05 23:06] #283 closed

[2021-02-05 23:07] paulcpederson commented on #283
@rslibed feel free to reopen if this can still be reproduced but at least locally I'm not seeing this anymore in the webpack example

[2021-02-05 23:38] jcfranco commented on #1479
@subgan82 Can you help verify this one? Thanks! 🙇‍♂️

[2021-02-06 01:55] #313 closed

[2021-02-06 01:55] #98 closed

[2021-02-07 01:56] #934 closed

[2021-02-07 02:22] macandcheese commented on #1258
Valid

[2021-02-08 18:08] bstifle opened #1524 "A11y: Remove "Clear" prop from FAB"
![image](https://user-images.githubusercontent.com/14083530/107262466-3535d300-6a06-11eb-9ddc-56832c4b2147.png)

Having the `clear` prop seems counter productive for a FAB, which will typically be on top of other content. definite minefield for legibility problems

[2021-02-08 18:43] julio8a commented on #669
Still valid

[2021-02-08 18:43] julio8a commented on #674
Still valid

[2021-02-08 21:22] subgan82 commented on #1464
Hi @asangma

Any update on this issue . Due to this regression we are unable to upgrade calcite components version in charts to use other calcite components fixes.

[2021-02-08 21:22] subgan82 commented on #1479
Thanks @jcfranco looks good will verify in the sample app and confirm.

[2021-02-08 23:55] eriklharper commented on #407
Did some research on the `step` attribute on `<input type="time">` and came to find out that it only supports `1-6, 10, 12, 15, 20, 30, 60` (the default), as well as these same numbers multiplied by 60: `60, 120, 180, 240, 300, 360, 600, 720, 900, 1200, 1800, 3600` which increment the minutes and disable the seconds, as well as 60 multiplied by the second set of numbers which increment just the ho

[2021-02-09 01:51] AdelheidF opened #1527 "Bug: calcite-pick-list - can't enter list via keyboard after search if nothing is selected"
### Summary
Initially nothing is selected in my list
<img src=https://user-images.githubusercontent.com/44481292/107304412-d9833e00-6a35-11eb-9759-c201b7ec5c18.png width=200/>

Then I start a search
<img src=https://user-images.githubusercontent.com/44481292/107304460-ed2ea480-6a35-11eb-9130-b0910f33bea4.png width=200/>

Now I can't use the keyboard to get to the only visible pick-list-item. When

[2021-02-09 16:17] nwhittaker opened #1528 "Add support for resize style on inputs of type textarea"
### Description
The ability to fine-tune a `<textarea>` element's resize behavior is controlled via the `resize` style[1]. When dealing with a `<calcite-input type="textarea">` element, there's currently no way to set this style on the underlying `<textarea>` element.

### Acceptance Criteria
An interface is provided at the `calcite-input` level to set the `<textarea>` element's `resize` style.

#

[2021-02-09 16:30] bstifle commented on #407
thanks for researching this! are there any links to examples of these behaviors your have on hand?

[2021-02-09 16:37] macandcheese commented on #1528
As a note, I think we want to break input type text area into its own calcite-textarea component, but we haven’t gotten around to that quite yet.

[2021-02-09 16:40] eriklharper commented on #407
Good question.  I can whip up a codepen real quick and send you a link that will allow you to switch between these different step modes to see the result in the browser.

[2021-02-09 18:57] eriklharper commented on #407
@bstifle check this out: https://codepen.io/eriklharper/pen/abBmOGz?editors=1111  I made it so that you can pick the values that work from a dropdown, but there's also a text number input that you can edit freely to put in any number you want as well.

[2021-02-09 19:34] bstifle commented on #407
this is awesome, thanks erik. would be awesome to use this as documentation for time

[2021-02-09 19:52] eriklharper opened #1529 "Enhancement: step support for time picker components"
### Description

Add support for the `step` attribute/property for `calcite-time-picker` and `calcite-input-time-picker`.  Functionality should probably match what the native time input does in Chromium.

### Acceptance Criteria

Both time-picker components support the `step` attribute as specified by the most popular browser implementations.  Involve design on how best to implement this as well.

[2021-02-09 19:59] lau11123 opened #1530 "A11y: pick-list-items in pop-up pick-list are not listening to keyboard selection"
### Summary
The event listener for `pick-list` where `multiple` = `true` isn't picking up selection changes to a `pick-list-item` using keyboard navigation in Map Viewer Betas pop-up configuration. I would expect that the Space key should select and de-select items in a `pick-list` the same way a mouse click does. Right now, the Space key doesn't select or de-select a `pick-list-item` in the chart

[2021-02-09 20:02] lau11123 commented on #1530
@asangma I can't adjust the label, milestones, assignees, etc. in this repo. Could you apply the appropriate ones please? :D

[2021-02-09 20:55] kellyhutchins opened #1531 "A11y: Calcite block header uses h3 for heading content"
### Summary
If an app uses the calcite block the heading section renders as h3 and there doesn't seem to be a documented way to overwrite that behavior. If the app doesn't have an h2 then this will be flagged as an accessibility issue. There doesn't seem to be a slot for heading here: https://github.com/Esri/calcite-components/tree/master/src/components/calcite-block
### Actual Behavior
The app sh

[2021-02-10 16:20] nwhittaker opened #1532 "Docs: Toggling `input-message-active` appears to do nothing"
### Description
On the [With Label](https://esri.github.io/calcite-components/?path=/story/components-input--with-label), [With Slotted Action](https://esri.github.io/calcite-components/?path=/story/components-input--with-slotted-action), [Textarea](https://esri.github.io/calcite-components/?path=/story/components-input--textarea), and [Simple - Dark mode](https://esri.github.io/calcite-components

[2021-02-10 16:36] asangma commented on #1464
I believe disabled this as it has accessibility issues. Instead the app would turn on `multiple`.

[2021-02-10 16:39] asangma commented on #1464
Another way of putting that is that we don't currently have a way to shift-click using keyboard navigation.

[2021-02-10 16:40] subgan82 commented on #1464
The multiple selection is used with charts format UX workflows, would it be addressed as its a regression ?

[2021-02-10 16:46] asangma commented on #1464
@jcfranco It looks like value-list-item is referring to a CSS color var that isn't in CalciteColor yet...? Looks like it might be pulling from the Tailwind config.

[2021-02-10 17:17] macandcheese commented on #1532
Storybook issue, I’ll get this sorted..

[2021-02-11 01:56] #1190 closed

[2021-02-11 01:56] #1187 closed

[2021-02-11 15:24] asangma commented on #1466
@driskull It like it. It sounds like a more measured approach.

[2021-02-11 17:33] subgan82 commented on #1479
tested using 1.0.0-next.83. this issue is resolved. No additional dependencies are needed.

![2021-02-11_11-33-17](https://user-images.githubusercontent.com/1017712/107674815-fe0d2f00-6c5c-11eb-9c9f-78f4c9850645.png)

[2021-02-11 17:49] jcfranco commented on #1479
Thanks! Closing as verified.

[2021-02-11 17:49] #1479 closed

[2021-02-11 19:05] eriklharper opened #1536 "Bug: hidden radio inputs can be made visible with !important css rules"
### Summary

`calcite-radio-button` uses an `<input>` tag that is invisible to participate in forms and to provide built-in accessibility features and screen reader support, but the CSS that hides it is not protected from external rules that override it with the `!important` flag.

### Actual Behavior

On an HTML page with `<calcite-radio-button>` rendered, with this css on the document it will re

[2021-02-11 19:17] asangma opened #1537 "Testing: Add test that checks if CSS vars successfully updated values for theming"
## Summary
Our Tailwind config references CSS vars which should allow users to theme component colors and fonts.
We need to check to ensure that those CSS vars are working in that way.

## Measure of Success

- Add unit test set to make sure that css variables are defined.
- Add unit test set to make sure that overwriting each calcite css variable does in fact render the override.
- The tests can

[2021-02-11 20:12] driskull commented on #1511
closing: decided to keep calcite-action

[2021-02-11 20:12] #1511 closed

[2021-02-11 20:15] driskull opened #1538 "Enhancement: getAttributes() utility helper to spread attributes"
### Description

Enhancement: getAttributes() utility helper to spread attributes

### Acceptance Criteria

getAttributes is used in a few components and should be converted to a utility.

### Relevant Info

https://github.com/Esri/calcite-components/search?q=getAttributes%28

#### Which Component

#### Example Use Case

[2021-02-11 20:57] asangma opened #1540 "Enhancement: ShellPanel add header slot"
### Description
Add header slot for ShellPanel.
This will add a container above the main content container (which receives default slot content).

cc @driskull @kevindoshier

### Acceptance Criteria

### Relevant Info

#### Which Component
ShellPanel

#### Example Use Case

[2021-02-11 21:00] asangma opened #1541 "Enhancement: Shell. Add prop for "overlay content" (name TBD) and update default content to be a column between ShellPanels"
### Description
Currently, default slot content is placed behind any content in ShellPanels.
Update Shell to treat default content as a column that fits between ShellPanel content.

Default for this prop will be false.
Behavior like for the MVB will need to set this to true. cc @kevindoshier

### Acceptance Criteria

### Relevant Info

#### Which Component
Shell & ShellPanel.
Maybe also CenterRow.

[2021-02-11 21:44] AdelheidF opened #1542 "Bug: calcite-block - missing 'closed' state sign"
### Summary

People mistake a block header for a popover title and never click on it. Could we add a down caret or something back in?

<img src=https://user-images.githubusercontent.com/44481292/107702288-e2ab1f80-6c6e-11eb-9a15-fcb7eacbed8f.png width=300/>

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-02-11 22:20] pspraveenkr commented on #1542
I'm one of those people

[2021-02-11 23:13] asangma commented on #1500
I'll take `calcite-c*` through `calcite-d*` once #1520 lands.

[2021-02-12 01:56] #1276 closed

[2021-02-12 18:21] eriklharper commented on #1536
This is currently blocked by a Stencil bug that I created here: https://github.com/ionic-team/stencil/issues/2825

[2021-02-12 18:41] joshtaylor0404 opened #1546 "Bug: Calendar component's month steppers do the opposite of expected"
### Summary
The month steppers on calendar component do the opposite of what is expected.

### Actual Behavior
When clicking the right stepper, the previous month is displayed. When clicking left toggle, the next month is displayed.

### Expected Behavior
When clicking the right stepper, the next month should be displayed. When clicking the left stepper, the previous month should be displayed.

##

[2021-02-12 20:09] bstifle opened #1547 "Accessibility: Distinct Hit/Hover States for Pick List and Value List"
Currently the hover state triggers the whole item and action background transition. This is an outlier for the Calcite Component system, as actions should have distinct hover/hit states from other elements. This is an accessibility concern as it is confusing when trying to make a decision between the item selection and the overflow/action area.

Current vs proposed design:

![image](https://user-i

[2021-02-12 21:40] bstifle opened #1549 "Enhancement: New styling for filterEnabled prop on Pick List/Value List"
New style update for `filterEnabled` prop in order to differentiate the element more from the items beneath it.

Reports of users missing the filter altogether since it was styled too similarly.

Here is the current vs proposed design:

![image](https://user-images.githubusercontent.com/14083530/107825221-5d943900-6d48-11eb-884d-90628b39353b.png)

[2021-02-12 21:41] bstifle commented on #1549
@asangma  for 👀

[2021-02-12 22:00] bstifle commented on #1549
ok after talking with @macandcheese it probably is better to just use calcite-input

![image](https://user-images.githubusercontent.com/14083530/107826942-6df9e300-6d4b-11eb-9693-dc1398a13f15.png)

[2021-02-12 23:08] #1438 closed

[2021-02-13 01:30] #1546 closed

[2021-02-13 01:30] paulcpederson commented on #1546
@joshtaylor0404 This should be fixed in beta.50 , feel free to reopen if it's still not working.

[2021-02-16 17:02] caripizza commented on #1118
Verified resolved in the latest release of @esri/calcite-components@1.0.0-beta.50, closing.

[2021-02-16 17:02] #1118 closed

[2021-02-16 17:15] caripizza commented on #1270
@Csmith246 @bcree11 based on what I'm seeing this should now be resolved in the latest release of @Esri/calcite-components@1.0.0-beta.50, can you please check on your end when you have a moment?

[2021-02-16 17:15] #1270 closed

[2021-02-16 17:17] nel11211 opened #1554 "Enhancement: Remove resize animation from calcite-shell-center-row"
### Description
There have been issues with the center-row resize animation on the ArcGIS Charts side causing scrollbar flashing. [Here is the issue](https://devtopia.esri.com/WebGIS/arcgis-charts/issues/2052) in charts repo. As per discussion with @asangma, the recommended solution at this time is to remove the resize animation on the center-row.
### Acceptance Criteria
Center-row resize animatio

[2021-02-16 17:17] nel11211 commented on #1215
Closing in favor of #1554, based on conversation with @asangma and Ganesh.

[2021-02-16 17:17] #1215 closed

[2021-02-16 18:09] AdelheidF opened #1555 "Bug: calcite-input-date-picker ignores width:100%"
### Summary
This started with beta.49 when switching from `calcite-date` to `calcite-input-date-picker`.

<img src=https://user-images.githubusercontent.com/44481292/108103691-24591300-703f-11eb-8bdd-1b0410b68874.png width=200/>

<img src=https://user-images.githubusercontent.com/44481292/108109125-58840200-7046-11eb-8687-36c73854ae30.png width=300/>

It no longer reacts to my `width:100%` setting

[2021-02-16 18:25] paulcpederson commented on #1104
Yes this was an intentional change. While technically correct per unicode CLDR spec, the previous format was "a bit weird" to users, so the format was updated to use `mm/dd/yyyy` but in the correct order and with the correct separator.

@julio8a could speak to this from a design perspective.

[2021-02-16 18:26] paulcpederson commented on #1104
Here's a link to the issue with discussion of this update: #1265

[2021-02-16 18:27] AdelheidF opened #1556 "Bug: calcite-input-date-picker switches to 1/1/1000 when trying to edit date via input box"
### Summary
(1) I'm trying to type in a new date into the input box and this is what I see in the calendar while typing: January 1000...
<img src=https://user-images.githubusercontent.com/44481292/108105122-10aeac00-7041-11eb-90c5-3f71d29a1b11.png width=200/>

(2) If I start with a valid date 7/7/2017 and just remove the last '7', the date in the input box switches to 1/1/1000.
<img src=https://us

[2021-02-16 18:28] paulcpederson commented on #1104
I'm going to close this. If we want to update the placeholder more let's open a new issue to discuss as this one keeps getting marked as stale. AFAIK the current behavior represents accurately what was designed by the design team.

[2021-02-16 18:28] #1104 closed

[2021-02-16 18:29] paulcpederson commented on #1265
Verified in beta.49

[2021-02-16 18:29] #1265 closed

[2021-02-16 18:45] eriklharper commented on #1536
Addressed by #1551

[2021-02-16 18:45] #1536 closed

[2021-02-16 18:50] eriklharper commented on #1485
Looks like this issue has been resolved.  Will go ahead and close it.

[2021-02-16 18:50] #1485 closed

[2021-02-16 19:03] AdelheidF opened #1557 "Bug: calcite-input-date-picker editing year in calendar has no effect in input box"
### Summary
When I edit the year inside the calendar header from e.g. 2021 to 2018 nothing happens inside the input box.

![image](https://user-images.githubusercontent.com/44481292/108108962-2c688100-7046-11eb-9265-c05d864981c5.png)

This worked fine with beta.48. It now longer works with beta.50.

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-02-16 21:58] #1487 closed

[2021-02-16 22:03] driskull commented on #1554
Maybe a better option to just disable the scrolling on the center row via a prop.

[2021-02-16 22:08] asangma opened #1562 "Bug: Button alignment property doesn't align content text properly"
### Summary
`alignment` property doesn't apply to text.

### Actual Behavior
e.g. `alignment="start"` still has centered text.

### Expected Behavior
The `alignment` property should apply to text.

### Reproduction Steps

1. Look at it.

### Relevant Info

[2021-02-16 22:11] driskull commented on #1502
Needs verification

[2021-02-16 22:13] driskull commented on #1497
@eriklharper do you think you can address this one?

[2021-02-16 22:14] eriklharper commented on #1497
My pleasure!

[2021-02-16 22:30] asangma commented on #1562
nvmd

[2021-02-16 22:40] asangma commented on #1554
@driskull I had considered that, but thought it might be better to simplify.

[2021-02-16 22:42] asangma commented on #1540
@kevindoshier Mind giving this a verify?

[2021-02-16 22:43] kevindoshier commented on #1540
I cant I dont have access here to do that

[2021-02-17 01:54] AdelheidF commented on #972
doesn't seem to happen anymore

<img src=https://user-images.githubusercontent.com/44481292/108145279-06f86900-7080-11eb-9d7a-a51bffaba8fb.png width=200/>

[2021-02-17 01:54] #972 closed

[2021-02-17 01:56] #1203 closed

[2021-02-17 14:12] crowjonah opened #1566 "Bug: calcite-checkbox focus outline is multiplied and persistent"
### Summary

In Safari (`Version 14.0.3 (15610.4.3.1.6, 15610)`), I have Preferences > Advanced > Accessibility > "Press Tab to highlight each item on a webpage" checked. Without this setting, `calcite-checkbox` elements are not tab accessible. While tabbing, focus outlines persist even when the element no longer has focus, and also appears to render oddly.

### Actual Behavior

GIF screen recordi

[2021-02-17 17:49] jcfranco commented on #558
Closing as it was installed a while back.

[2021-02-17 17:49] #558 closed

[2021-02-17 21:16] caripizza commented on #1323
@joeyHarig is this issue still relevant? If so, can you provide a code snippet for your example screenshot?

[2021-02-17 21:44] driskull commented on #1537
@caripizza can you take this one?

[2021-02-17 22:10] asangma commented on #1540
@kevindoshier No worries.

I'll close this having verified it on your build. :)

[2021-02-17 22:10] #1540 closed

[2021-02-17 22:13] asangma opened #1569 "Bug: Panel's back button and menu actions don't have tooltips"
### Summary
Update Panel to use CalciteTooltip for internal Actions.

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-02-18 01:57] #567 closed

[2021-02-18 05:44] driskull opened #1573 "Docs: Add additional storybook sections for grouping components"
### Description

Docs: Add additional storybook sections for grouping components

### Which Component

All

### Resources

Group similar components such as the "form" components similarly to how app components are grouped.

[2021-02-18 14:12] MidasXIV opened #1574 "Epic - New Component: Table / Grid"
### Description
Add a functional table / grid component.

### Epic issues

#### Phase I: Table - Simple functionality
- [x] #6697
- [ ] https://github.com/Esri/calcite-design-system/issues/7630
- Design target: May 2023
- Target release: August 2023

#### Phase II: Table - Advanced functionality
- [ ] #6646
- Design target: May 2023
- Target release: TBD

### Implementation
Design work will be car

[2021-02-18 15:19] asangma commented on #1554
@nel11211 Would you mind verifying this? If you don't have perms to do so, leave a comment, and I'll hit the button.

[2021-02-18 15:20] #1562 closed

[2021-02-18 16:59] ethanbdev opened #1575 "Bug: Changing `disabled` attribute of calcite-switch visually removes disabled, but the toggle will not work."
### Summary
![12F8FA83-DBD9-47C7-A6B2-DEF7D32BE3F6](https://user-images.githubusercontent.com/52869490/108392504-a3795300-71c7-11eb-98c7-ba7559964b75.GIF)
It seems like the input in the shadow dom has disabled persisted even though disabled has been removed from the switch itself.
![image](https://user-images.githubusercontent.com/52869490/108391962-12a27780-71c7-11eb-8695-ed7f60fd9c39.png)
Couldn

[2021-02-18 18:37] paulcpederson opened #1576 "Docs: Ensure demo pages include required props"
### Description

Some of the demos are missing props that are required but the component. Below is an exhaustive list of props declared as required in our code:

- calcite-action
  - [x] text
- calcite-alert
  - [x] label
- calcite-chip
  - [x] value
- calcite-combobox
  - [x] label
- calcite-combobox-item
  - [x] textLabel
  - [x] value
- calcite-loader
  - [x] label
- calcite-option-group
  labe

[2021-02-18 22:07] driskull commented on #1573
I will take an initial stab at this.

@julio8a @asangma @juliepowell maybe you could help with grouping the components into sections.

[2021-02-19 00:03] driskull commented on #1573
Installed storybook organization changes. Needs verification.

[2021-02-19 00:18] driskull opened #1579 "refactor: Remove getAttributes() utility helper and no longer spread attributes."
### Description

Remove getAttributes() utility helper and no longer spread attributes. #1579

### Acceptance Criteria

We only set defined properties on internal elements

### Relevant Info

#### Which Component

All components using getAttributes() helper utility:

- [x] `calcite-button` #2410
- [x] `calcite-dropdown-item` #2427
- [x] `calcite-input` #2443
- [x] `calcite-label` #2503
- [x] `calc

[2021-02-19 00:27] nel11211 commented on #1554
This change seems to improve the "flickery" issue [described here](https://devtopia.esri.com/WebGIS/arcgis-charts/issues/2385), and moderately improves the scrollbar flashing, but does not completely resolve it. Looking into a fix that @asangma suggested for that on the charts side Charts via AmCharts styles.

It would probably be fine to keep this change. As mentioned, it improves the visual qual

[2021-02-19 01:42] COV-GIS opened #1582 "Question: tabs/tab overflow in shell panel how to?"
No amount of height or overflow styles will make tabs in a shell panel scroll on y overflow. It would be great if just the tab content scrolled and not the tab navs. But the shell panel scrolling the entire tabs component would be better than nothing.

Or maybe tabs are not suitable for a shell panel?

Here's a couple examples with no height or overflow and shell panel scrolls overflow just fine.

[2021-02-19 18:19] driskull commented on #1582
Yeah, it sounds like an update to the tabs so that their content scrolls when necessary. Does that sound correct?

[2021-02-19 18:23] driskull commented on #1574
@mitc7862 @asangma what do you think?

[2021-02-19 18:25] driskull commented on #1575
It seems like the `disabled` property needs to be watched for changes and update the input. @macandcheese @paulcpederson @eriklharper who can take this one?

[2021-02-19 18:28] eriklharper commented on #1575
I can take a look at this one.  Would be good while I'm in there to remove the proxy input stuff too.

[2021-02-19 18:39] caripizza opened #1584 "Stories/Demos: use svg placeholder utility/abandon network calls to fetch images"
### Demos
Our component demos include a few dynamic placeholder image links, which make Screener tests fail when the images change. Instead, we should use fixed images that don't change so Screener tests are less brittle.

### Details
Update the offending placeholder image links in the demos/ folder with static image links or svg data URIs
(Teams discussion is [here](https://teams.microsoft.com/l/

[2021-02-19 18:48] stevenalbers opened #1585 "Enhancement: Add event emitter to combobox filter input"
My current use case depends on adding a fallback option if no items in the combobox's list match the provided filter:

<img width="500" alt="Screen Shot 2021-02-19 at 10 34 44 AM" src="https://user-images.githubusercontent.com/5317415/108546815-806da280-729e-11eb-9078-d46acf4d5cf7.png">
<img width="463" alt="Screen Shot 2021-02-19 at 10 37 18 AM" src="https://user-images.githubusercontent.com/5317

[2021-02-19 19:25] ethanbdev commented on #1575
Thanks Erik, if you do remove the proxy input can that be in the same release as this fix? I am using that to workaround, like so:
[code]
Thanks for taking a look!

[2021-02-19 19:26] eriklharper commented on #1575
Sure thing Ethan!  I've done a proxy input removal before, and it is pretty straightforward, so definitely doable in the same release 👍

[2021-02-19 19:43] jrowlingson commented on #1500
Grabbing calcite-e* through calcite-h*

[2021-02-19 20:01] driskull commented on #1585
I think we already have an event `calciteFilterChange`, it's just not documented.

[2021-02-19 20:01] COV-GIS commented on #1582
Correct.

I played around some more with overflows and heights. Any kind of overflow scrolling other than the top level element in the shell panel causes odd behavior. For example scrollbars on both sides of the action bar and in the nested element itself.

The way I'm displaying widgets in or using the shell panel might be an issue to.  I'm adding all widgets to the shell panel with `display: non

[2021-02-19 20:28] COV-GIS commented on #757
FWIW...setting min/max string length on an `calcite-input` still isn't possible. Adding `maxLength` would be useful when setting up feature attributes for editing with field attributes. As opposed to manual length validation or setting `maxlength` on the input thru the vnode.

[2021-02-19 20:55] driskull commented on #1582
@julio8a do you know who should work on this one?

[2021-02-19 20:57] julio8a commented on #1437
Checking back in on this, can we merge @jcfranco?

[2021-02-19 21:08] MikeTschudi commented on #1575
I bumped into this in parallel. What I saw was if the `calcite-switch` is initially disabled, it stays permanently disabled because the "disabled" attribute is added to the `<input>` tag when the component is created (in addition to the `<calcite-switch>` tag). If initially enabled, it's possible to change its disable state because "disabled" attribute changes only affect the `<calcite-switch>`.

[2021-02-19 21:11] driskull commented on #1566
@eriklharper @macandcheese Do you know why we have a `focused` property on this component? Shouldn't we have a setFocus method?

I think the issue may be related to the focused property. It watches for onFocus and then sets focused property which then calls focus again.

cc @jcfranco for API consistency.

[2021-02-19 21:29] julio8a commented on #1582
@caripizza is taking this one.

[2021-02-19 22:07] driskull commented on #758
This issue getting a bit stale. Do we want to increase priority?

[2021-02-19 22:08] driskull commented on #782
This issue getting stale. Who can we assign it to?

[2021-02-19 22:09] driskull commented on #808
I think we need to increase priority on this one and fix it before release.

[2021-02-19 22:10] driskull commented on #816
Can we close or assign this issue?

[2021-02-19 22:12] driskull commented on #846
still valid?

[2021-02-19 22:14] driskull commented on #840
Whats the status on this component?

IMO, it seems like it would be too tied to a specific query language so maybe belongs in arcgis components?

[2021-02-19 22:21] jcfranco commented on #758
@driskull Yeah, I think it should be bumped. I guess it would be tackled by https://github.com/Esri/calcite-components/issues/1145.

I'll close this in favor of the umbrella issue and reference this one.

[2021-02-19 22:29] #1060 closed

[2021-02-19 22:32] #1144 closed

[2021-02-19 22:38] gpbmike commented on #846
It looks like there is [no longer a `mirrored` property](https://esri.github.io/calcite-components/?path=/docs/components-icon--simple) and there's an example of `flipRtl`, so I'm going to say "no". Thanks! 😄

[2021-02-19 22:38] #846 closed

[2021-02-19 22:41] driskull commented on #1312
I think in this case, we may prefer users to use a PickList/ValueList or Combobox. @julio8a thoughts?

[2021-02-19 22:43] driskull commented on #1408
I think this is fixed now that we use popper. @Rohtash2020 can you verify?

[2021-02-19 22:45] driskull commented on #1462
This issue still valid?

[2021-02-19 22:49] driskull commented on #1470
I'll leave this up to the design gurus. If that's how we want it to appear by default, that change can be made.

[2021-02-19 22:50] driskull commented on #1470
I think we can close this issue and open a new issue if we need to change the defaults for the FAB.

[2021-02-19 22:50] #1470 closed

[2021-02-19 23:00] driskull commented on #1515
Since this is a breaking change, we should do it before 1.0

[2021-02-20 00:03] julio8a commented on #808
@Esri/calcite-components can someone take this one?

[2021-02-20 00:06] jcfranco commented on #808
![tenor-1](https://user-images.githubusercontent.com/197440/108574463-58953380-72cc-11eb-9d3d-f19b5a5678c8.gif)

[2021-02-20 00:08] julio8a commented on #1515
I added this to the 1.0 project.

[2021-02-20 00:09] julio8a commented on #1445
Linked PR was merged, can we close/?

[2021-02-20 00:09] eriklharper commented on #1566
The `focused` property is there so that the hidden `<input>`'s blur and focus methods can be responded to in order to update styling on the host UI.  This is so the keyboard can navigate normally to the hidden input and the `calcite-checkbox` styling will update appropriately.

[2021-02-20 00:13] julio8a commented on #1349
verified.

[2021-02-20 00:13] #1349 closed

[2021-02-20 03:52] stevenalbers opened #1590 "Enhancement: Add combobox config option to highlight ancestry on child select"
Some workflows only store the deepest value selected, so I'm looking for a mode where when you click on a child, every parent is also checked. I'll try to highlight most possible scenarios here, but can go into more detail if needed.

### Long example

Clicking on `Grandchild` should show `Grandchild`, `Child`, and `Parent` as selected, but only show the chip for `Grandchild`:

[code]

Clicking on

[2021-02-20 15:47] justingreco commented on #1582
I am able to achieve this by defining the height of the calcite-tabs component, which works fine in Chrome and Firefox, however makes it no usable in Safari.

calcite-tabs {
    height: calc(100% - 40px);
}

[2021-02-22 03:16] driskull commented on #1566
@eriklharper I think we should separate the focus and the styling for this. The problem that it's setting styling but it is also setting the focus on the input. We should be doing that through a setFocus method to be consistent.

What if we called it `active` instead of `focused` and let focusing happen through setFocus?

The issue now is that the input already has event listeners for focus and bl

[2021-02-22 17:06] #871 closed

[2021-02-22 17:13] driskull commented on #808
@julio8a @macandcheese besides checkbox, it seems like calcite-radio-button needs this change too.

https://github.com/Esri/calcite-components/blob/master/src/components/calcite-radio-button/calcite-radio-button.tsx#L63-L71

[2021-02-22 17:35] driskull commented on #1473
Seems its fixed now. Closing :)

[2021-02-22 17:35] #1473 closed

[2021-02-22 17:45] AdelheidF commented on #552
looks good. Tested with @next.

<img src=https://user-images.githubusercontent.com/44481292/108747718-9ffd0900-74f2-11eb-8e78-86378022458f.png width=250/>

[2021-02-22 17:45] #552 closed

[2021-02-22 17:52] nel11211 commented on #1554
Closing

[2021-02-22 17:52] #1554 closed

[2021-02-22 18:03] capeoples opened #1592 "Enhancement: Input invalid state styling"
### Description
Currently, input invalid states have the label turn red, and will have the error message below.
<img width="454" alt="Screen Shot 2021-02-22 at 9 49 52 AM" src="https://user-images.githubusercontent.com/30473086/108748684-b8215800-74f3-11eb-9388-cf0c5353abb2.png">

This can create a weird red/blue state when the input is in focus:
<img width="432" alt="Screen Shot 2021-02-22 at 9 5

[2021-02-22 18:11] jcfranco commented on #1437
I'll work on having a PR by tomorrow at the latest.

[2021-02-22 19:32] jcfranco commented on #808
Installed.

[2021-02-22 19:33] jcfranco commented on #808
@macandcheese Can you help verify this one? 🙇‍♂️

[2021-02-22 19:55] macandcheese commented on #808
Works locally on master, thanks!

[2021-02-22 19:55] #808 closed

[2021-02-22 20:03] julio8a commented on #1584
Verified!

[2021-02-22 20:03] #1584 closed

[2021-02-22 20:12] eriklharper commented on #1025
@codylawson can you explain your use case for this a bit more?  It sounds like you just need to be able to read (not write) the `valueAsNumber` property, correct?

[2021-02-22 20:17] #1576 closed

[2021-02-22 20:18] codylawson commented on #1025
@eriklharper That's correct, this would just be to store the value in local state. By default input `value` is a string, even if the input type is `number`, meaning you have to `parseFloat` or similar to get the proper value. My recommendations was to just follow the dom api standard and expose `valueAsNumber` as well.

[2021-02-22 21:27] capeoples opened #1597 "Enhancement: [Inline Editable] Add appearance="minimal" property"
**monday.com sync:** #18048538017

### Description
For the inline editable component, it would be ideal to be able to update the button styles for the "x" and "✔️" to be any supported button style. This will enable this component to fully adapt to whatever design/workflow is needed.
<img width="395" alt="Screen Shot 2021-02-22 at 1 23 50 PM" src="https://user-images.githubusercontent.com/30473086/

[2021-02-22 22:08] driskull commented on #1025
Would we want to expose 'childEl' as something and let the user access things like `valueAsNumber` and `valueAsDate`?

[2021-02-22 22:11] codylawson commented on #1025
@driskull I think that would be acceptable as well.

[2021-02-22 22:11] driskull commented on #1025
I'm just trying to avoid having to duplicate native input logic for these things

[2021-02-22 22:22] paulcpederson commented on #1592
I agree this is a good change. Surveying the current components that van have invalid or red states they pretty uniformly use border/background/icon to communicate it:

<img width="242" alt="Screen Shot 2021-02-22 at 2 19 23 PM" src="https://user-images.githubusercontent.com/1031758/108777739-22002880-7519-11eb-8ed7-90f1faccdfaf.png">
<img width="186" alt="Screen Shot 2021-02-22 at 2 18 42 PM" src

[2021-02-22 22:57] eriklharper commented on #1025
On board with this idea, because like you said we would have to duplicate all the native properties otherwise.

[2021-02-23 00:29] bstifle commented on #1592
Awesome. @capeoples looking forward to seeing that exhaustive form view!!

[2021-02-23 14:57] ethanbdev commented on #1464
This looks good in the next builds now, since next.84 👍

[2021-02-23 16:22] bstifle commented on #816
assign it, this is still relevant

[2021-02-23 16:25] bstifle commented on #816
#1247 is related

[2021-02-23 17:02] Csmith246 commented on #1270
Looks like it's fixed in the latest version. Thanks!

[2021-02-23 17:28] jcfranco commented on #1464
Thanks, @ethanbdev! Closing as verified based on ☝️

[2021-02-23 17:28] #1464 closed

[2021-02-23 17:34] julio8a commented on #816
I'm wondering if this can be taken care of during the refactor of those components

[2021-02-23 17:44] jcfranco commented on #1468
Installed! Note that the change event will not be emitted as it's considered the initial value and therefore unchanged.

@ethanbdev Could you help verify on @next (updating soon)?

[2021-02-23 17:59] macandcheese commented on #816
Unassigning - I’m super busy with AFD site stuff so leaving open if someone else can grab.

[2021-02-23 18:03] ethanbdev commented on #1468
Looks great, thanks @jcfranco! 💯

[2021-02-23 18:04] #1468 closed

[2021-02-23 18:06] driskull commented on #816
@julio8a can you assign someone

[2021-02-23 18:08] julio8a commented on #816
@caripizza, if you have any questions on which vars to use, reach out to @bstifle.

[2021-02-23 18:12] driskull opened #1601 "Research: Investigate removal of host-context SCSS use in components"
### Background

https://github.com/Esri/calcite-components/pull/1510#discussion_r580636342

### Desired Outcome

Research: Investigate removal of host-context SCSS use in components

[2021-02-23 18:15] driskull opened #1602 "Research: How to best handle notification of animation complete"
### Background

https://github.com/Esri/calcite-components/pull/1510#discussion_r580651509

A lot of our components are using setTimeout to wait for animations to end and then calling setFocus(). This is quite brittle. We should expose the animationend/transitionend event to notify when internal animations are completed.

We need to do some prototype work.

https://github.com/Esri/calcite-componen

[2021-02-23 18:25] paulcpederson commented on #1602
This is a cool idea!

[2021-02-23 18:28] paulcpederson commented on #1601
`host-context` styles were a shim to get dark mode working in IE11 I believe.

I think we could note under our browser support section that dark mode and theming don't work in IE11 and remove it. I would need to actually crack them open and be sure that light mode still works without it.

[2021-02-23 19:14] driskull commented on #1466
Installed.

[2021-02-23 19:15] driskull commented on #1466
@kevindoshier @AdelheidF this will be useful for the map viewer to easily move some actions into a sub menu.

[2021-02-23 19:20] driskull commented on #1601
Can we just use both host and host-context for now? Or should we replace them?

[2021-02-23 19:58] eriklharper opened #1604 "Replace checkbox's focused prop with setFocus method"
@eriklharper I think we should separate the focus and the styling for this. The problem that it's setting styling but it is also setting the focus on the input. We should be doing that through a setFocus method to be consistent.

What if we called it `active` instead of `focused` and let focusing happen through setFocus?

The issue now is that the input already has event listeners for focus and bl

[2021-02-23 20:37] driskull commented on #1025
@eriklharper @jcfranco I'm not sure if we can add a readOnly property like this. Seems like we would have to use a method. Is that correct?

[2021-02-23 20:51] paulcpederson commented on #1601
Basically if you want to support dark mode in IE11, you need to add the dark theme vars to the `:host-context` selector. If you don't do this, IE11 will get the light theme variables. For example, stepper items have it declared and they look good in dark on ie11:

<img width="1546" alt="Screen Shot 2021-02-23 at 12 46 10 PM" src="https://user-images.githubusercontent.com/1031758/108905912-20943600

[2021-02-23 20:54] driskull commented on #1601
<img src="https://media.giphy.com/media/zKsfeEYZI4Ku4/giphy.gif" />

[2021-02-23 21:38] bstifle commented on #816
@caripizza vars are here: #1247

[2021-02-23 21:40] bstifle commented on #816
@caripizza https://github.com/Esri/calcite-components/issues/1274 vars are here

[2021-02-23 21:43] bstifle commented on #1274
assigning @caripizza since it's related to https://github.com/Esri/calcite-components/issues/816#issuecomment-784397087

[2021-02-23 22:34] eriklharper commented on #1025
When you say "readOnly" property, are you talking about the idea of exposing the `childEl` or the `valueAsNumber` property?

[2021-02-23 22:35] driskull commented on #1025
childEl prop

[2021-02-23 22:39] eriklharper commented on #1025
A method could work, which would return the input element, but I was thinking just a plain ol javascript getter (POJG? lol) which we could maybe call `input` perhaps since that _is_ the actual input?

[2021-02-23 23:05] driskull commented on #1025
I'm not sure it would get added unless it has the prop decorator though.

[2021-02-23 23:57] eriklharper commented on #1025
I'll look into if this is possible, and even consult the Stencil Slack peeps to see what they think.

[2021-02-24 00:14] jcfranco opened #1608 "Test: [alert] fix unstable tests"
### Summary

The [`a11y tests`](https://github.com/Esri/calcite-components/blob/02be9a4/src/components/calcite-alert/calcite-alert.e2e.ts#L13-L25) tests fail intermittently, which bogs down builds and deployments.

These tests should be restored when they are stable and reliable.

[2021-02-24 00:17] julio8a commented on #1515
Greetings!

What's the status of this one?

[2021-02-24 00:22] jcfranco commented on #1538
Verified locally.

[2021-02-24 00:22] #1538 closed

[2021-02-24 00:24] paulcpederson commented on #1515
I think the new names for these that @bstifle mentioned were `neutral` for what's currently light and `inverse` for what's currently dark. These would flip with theme.

[2021-02-24 00:28] paulcpederson commented on #1585
@stevenalbers this will be in the next release

[2021-02-24 00:44] driskull commented on #1601
Installed. Only `accordion` has host-context being used. We could possibly remove that in the future if someone wants to make an issue.

[2021-02-24 00:44] jcfranco commented on #1602
What's the priority of this one?

[2021-02-24 00:54] driskull commented on #1602
I'd say medium to low. I think all of these things work now with the timeouts but they are subject to breaking.

[2021-02-24 00:55] bpatterson88 opened #1610 "Enhancement: Add Small and Large Tabs"
### Description

Current tabs component comes in one size, which looks like medium. Dashboards would like to use tabs in the side panel in the future, and the medium size would be a bit a large for that.

### Acceptance Criteria

Tabs can be rendered small

### Relevant Info

#### Which Component

Tabs

#### Example Use Case

Mockup for how we're planning to use tabs:
![Screen Shot 2021-02-23 at 4

[2021-02-24 01:09] macandcheese commented on #1610
Related - https://github.com/Esri/calcite-components/issues/803 - should just have S, M, L cc @bstifle

[2021-02-24 15:40] bstifle commented on #1610
yep! designs are done, just need to implement

![image](https://user-images.githubusercontent.com/14083530/109025394-4fb5b080-7684-11eb-9877-5096dfea0a1f.png)

[2021-02-24 15:50] ethanbdev commented on #1592
👍 for this as well! We are currently overriding the blue border with red, so this would be great to remove that.

[2021-02-24 15:55] bstifle commented on #803
![image](https://user-images.githubusercontent.com/14083530/109027371-52190a00-7686-11eb-8192-37c3ce493627.png)

most recent designs and prop names

[2021-02-24 16:30] bstifle commented on #1515
yep! correcto.

visuals:
![image](https://user-images.githubusercontent.com/14083530/109032422-43812180-768b-11eb-992c-d9f094b31753.png)

[2021-02-24 16:36] julio8a commented on #1610
I can give this a try!
![](https://media3.giphy.com/media/y9X0F8VgTkmU8/giphy.gif)

[2021-02-24 16:40] bstifle commented on #1610
hahahaha love stimpy

[2021-02-24 17:31] AdelheidF commented on #1116
How can I make this higher priority? Can we at least fix the alignment issue with action-end?

[2021-02-24 18:01] driskull commented on #1025
Yeah I opened a support issue and didn't realize we had opened one before about this. :(

[2021-02-24 18:26] jcfranco commented on #1474
Installed!

@ethanbdev Could you help verify w/ @next once it updates?

[2021-02-24 18:26] eriklharper commented on #1566
Fixed by #1603

[2021-02-24 18:26] #1566 closed

[2021-02-24 18:38] julio8a commented on #1408
verified.

[2021-02-24 18:38] #1408 closed

[2021-02-24 18:40] julio8a commented on #1573
Nice! Thanks for the work on this.

[2021-02-24 18:40] #1573 closed

[2021-02-24 18:41] julio8a commented on #1312
Agreed, picklist or value list should work. @svlesiv can you try either of those components?

[2021-02-24 18:48] ethanbdev commented on #1474
👍 Thank you!

[2021-02-24 18:48] #1474 closed

[2021-02-24 20:02] #1604 closed

[2021-02-24 20:32] svlesiv commented on #1312
I will try it, thank you!

[2021-02-24 23:45] julio8a commented on #1359
The component library is getting an audit by level access, will bring this up.

[2021-02-25 00:12] driskull commented on #1437
Do we need an issue for the input version that opens a color picker or is there already one?

[2021-02-25 00:16] jcfranco commented on #1437
I don't think we have one. I'll create it.

[2021-02-25 15:53] jcfranco commented on #771
@bstifle If this is still valid, could you add more info on what needs to be done?

[2021-02-25 16:14] jcfranco commented on #1082
I think this is still relevant. Any action with the `active` prop doesn't display the pressed state when clicked.

![clicking-actions](https://user-images.githubusercontent.com/197440/109182077-7be33700-7741-11eb-80f1-5e05b7e1b145.gif)

[2021-02-25 16:25] jcfranco opened #1616 "New Component: Input Color Picker"
### Description
`<calcite-input-color>` will act as a trigger for the Calcite color picker while reflecting the currently selected color. Since browsers already provide a native <input type="color">, this component starts as a minimal implementation focused on opening the picker and displaying the selected value, with additional capabilities considered as future enhancements.

#### User Stories
As

[2021-02-25 16:31] jcfranco commented on #1437
☝️ https://github.com/Esri/calcite-components/issues/1616

[2021-02-25 17:24] driskull commented on #1165
Is this one done @asangma ?

[2021-02-25 19:49] asangma opened #1617 "Enhancement: Combobox non-selectable headings"
### Description
Add ability to have non-selectable headings for groups of items.

### Acceptance Criteria

### Relevant Info

#### Which Component
ComboBox

#### Example Use Case

https://w3c.github.io/aria-practices/examples/listbox/listbox-grouped.html

[2021-02-25 20:10] paulcpederson commented on #744
@julio8a I can take a look at this

[2021-02-25 20:16] julio8a commented on #744
Thanks @paulcpederson

[2021-02-25 20:45] gavinr opened #1621 "Bug: calcite-button does not call on:submit event setup with Svelte"
### Summary

In Svelte, events are setup using `on:...` syntax. So the correct way to setup a form would be:

[code]

Because the "type" of the button is "submit", per #193, it should call our form `on:submit` handler.

### Actual Behavior

When using `calcite-button` (with `type="submit"`), the svelte `on:submit` handler **is not** called.

### Expected Behavior

When using `calcite-button` (with

[2021-02-25 20:56] bstifle commented on #771
i think this wont be doable until tabs, input, and slider are up to date.

[2021-02-25 21:31] svlesiv commented on #1312
Among three options (PickList, ValueList, Combobox), Combobox seems more appropriate for us. In that case, we would need to switch from Select to Combobox everywhere to be consistent. Thank you for your response.

[2021-02-25 21:32] driskull commented on #1312
Awesome. i'll close this. Feel free to reopen if necessary.

[2021-02-25 21:32] #1312 closed

[2021-02-25 21:52] ethanbdev opened #1622 "Enhancement: Add a method to set focus on the calcite-filter for a pick list with filter enabled"
### Description
It would be nice to have a method on the pick list component to set focus on the filter when enabled. Right now the setFocus focuses on the pick list itself. This way we can programmatically take the user directly to the search box to immediately start typing.
### Acceptance Criteria
A method callable on the pick list to focus the underlying calcite-filter instead of the pick list

[2021-02-25 22:01] driskull commented on #1621
This might just be because the button is in shadow dom.

[2021-02-25 22:01] AdelheidF opened #1623 "Docs: calcite-action - samples missing required text prop"
### Description
https://github.com/Esri/calcite-components/tree/master/src/components/calcite-action

The doc says that text is a required property, but 2 of the 3 samples under usage don't have it.
You don't get an error if you don't add it.

### Which Component

### Resources

[2021-02-26 00:43] jcfranco commented on #1437
Installed.

`calcite-color` will now be `calcite-color-picker` in the upcoming next/beta releases. cc @pemberdom @subgan82 @ethanbdev

Event renames landing soon (#1624).

[2021-02-26 01:22] jcfranco opened #1626 "Unstable Test: [calcite-modal] accessibility checks › setFocus › can focus close button directly"
## Summary

**Which component?:** `calcite-modal`

**Which test(s)?:**

`accessibility checks › setFocus › can focus close button directly`

**Test error or URL to failed Travis build:**

https://travis-ci.org/github/Esri/calcite-components/builds/760523989

[code]

**PR that skipped the test:** https://github.com/Esri/calcite-components/pull/1625

## Additional Info

The active modal transition d

[2021-02-26 02:08] AdelheidF commented on #936
This is still happening.

[2021-02-26 02:10] driskull commented on #1169
Going to close this until the focus helper supports shadow dom.

[2021-02-26 02:12] AdelheidF commented on #1244
Still there...

[2021-02-26 02:15] AdelheidF commented on #1228
Still the same...

[2021-02-26 02:36] ddred11 commented on #1125
@macandcheese Would be nice to add this, as we merge this component into BA. Thanks

[2021-02-26 02:38] macandcheese commented on #1125
Agreed, maybe a good one for @caripizza ?

[2021-02-26 06:11] bstifle commented on #1014
Valid

[2021-02-26 16:01] caripizza commented on #1125
@macandcheese sure! 👍

[2021-02-26 16:26] julio8a commented on #1165
This one is done, there might be modifications as we refactor the components, but we can create new issues in that case. Nice work @asangma!

[2021-02-26 16:26] #1165 closed

[2021-02-26 16:51] julio8a opened #1628 "refactor(notice): tailwindify"
Supports #1500

[2021-02-26 18:45] AdelheidF opened #1630 "Bug: calcite-action: appearance=outline doesn't work"
### Summary

appearance=outline doesn't work

![image](https://user-images.githubusercontent.com/44481292/109341727-ac999e00-781f-11eb-9b7e-88296b7aefc7.png)

I'd like to have this look for an input with an action

![image](https://user-images.githubusercontent.com/44481292/109341673-95f34700-781f-11eb-8e05-48616f079ece.png)

---------------------

When I don't use a border the focus box looks lik

[2021-02-26 18:46] AdelheidF commented on #1630
from @driskull

@alan0002 do you know if action is supposed to support "outline" or do we need to update that doc/interface?

[2021-02-26 19:00] driskull commented on #1623
Should be updated next release.

[2021-02-26 19:47] bpatterson88 opened #1631 "Enhancement: Configurable slider highlighting"
### Description

Allow slider to highlight different sections of the rail, ex. left of the handle _or_ right of the handle.

### Acceptance Criteria

- Single value: rail can highlight right, left, or none

### Relevant Info

Dashboards currently uses sliders to filter visualizations, and depending on the operator we highlight different parts of the rail. This request will give Calcite parity with

[2021-02-26 19:56] paulcpederson commented on #1631
@bpatterson88  would this need to apply to range as well or just single value?

[2021-02-26 23:53] paulcpederson commented on #1500
gonna rip through `calcite-modal` and also `calcite-loader`

[2021-02-27 00:13] paulcpederson commented on #1500
WE really need to do something about the border situation. Very annoying to not be able to set borders via the apply rules.

[2021-02-27 00:18] paulcpederson commented on #1500
Maybe also a `transition-1` or some other configured transition helper for applying out main transition

[2021-03-01 16:57] #1484 closed

[2021-03-01 16:58] driskull commented on #1541
Installed.

[2021-03-01 17:12] bpatterson88 commented on #1631
@paulcpederson Nope, just the single value.

Also, updated the request to include a 'none' option for highlighting, where the slider is used to select a single value.

[2021-03-01 18:07] driskull opened #1637 "Bug: center row on shell isn't displaying correctly"
### Summary

Bug: center row on shell isn't displaying correctly when contentBelow is false.

### Actual Behavior

center row is positioned to the right.

### Expected Behavior

center row is positioned to the bottom.

### Reproduction Steps

1. See demos/shell/demo-app-advanced-center-row.html

### Relevant Info

![image](https://user-images.githubusercontent.com/1231455/109539162-d946f300-7a75-1

[2021-03-01 19:15] paulcpederson commented on #1500
Going to try and tackle stepper today!

[2021-03-01 21:02] nwhittaker opened #1641 "Bug: Active tab event fired before tab title is hydrated"
### Summary
While the `calcite-tab-title` component renders, it fires off a `calciteTabsActivate` event before the component is fully hydrated. As a result, listeners interested in the `calcite-tab-title` element (maybe to get its `id` property for accessibility purposes) are unable to do so. The event is not fired again until the user changes tabs.

The `calcite-tab-nav` component's `calciteTabCh

[2021-03-02 00:54] caripizza commented on #1500
Grabbing `calcite-tab`, `calcite-tabs`, `calcite-tab-nav`, and `calcite-tab-title`

[2021-03-02 17:13] macandcheese opened #1642 "Enhancement: Panel - remove tabIndex from internal content containers"
### Description
Hoping to prevent that unstyled focus ring around the slotted panel content... either by tabbing to content in the pane, or inadvertently clicking on non-interactive elements (background, header).

This adds an extra container to tab through to reach meaningful content with keyboard, and for moused users it's kind of an annoyance. My use case is using Panels that are not dismissibl

[2021-03-02 18:12] driskull commented on #1642
@macandcheese @arjavbadjatiya The reason the panel is focusable is because it can often be scrollable and aXe was saying that scrollable areas should have tabIndex 0 so that keyboard users can navigate to them and scroll them.

If we want to ignore that rule we can remove it.

https://dequeuniversity.com/rules/axe/4.0/scrollable-region-focusable

[2021-03-02 18:12] driskull commented on #1642
If we want to keep this rule, we can add it to conventions doc.

[2021-03-02 18:13] driskull commented on #1642
The other option is to have some kind of logic to see if a panel is scrollable or not. I'm thinking that is maybe complicated though.

[2021-03-02 18:18] driskull commented on #1621
https://www.hjorthhansen.dev/shadow-dom-and-forms/

[2021-03-02 18:19] arjavbadjatiya commented on #1642
We should definitely continue allowing scrolling to be accessed with a keyboard. I'm not sure why the background needs a focus state to enable that. How are we doing the keyboard scrolling in a modal like this one without adding the focus state to the background? @rpanichakit9541 implemented this one if I'm not mistaken. There is a little bit of scrolling that you can use arrow keys for, provided

[2021-03-02 18:21] macandcheese commented on #381
Still relevant

[2021-03-02 18:56] macandcheese commented on #1642
My interpretation from that link is that as long as there is something focusable *inside* the scrolling container, it should be fine - they just use an autofocusing input which is kind of a confusing example maybe?

[2021-03-02 18:58] driskull commented on #1642
Yes that's correct. Sometimes a panel doesn't have a focusable element inside of it but should still be scrollable.

[2021-03-02 19:02] macandcheese opened #1643 "Enhancement: Panel - Show truncated "Heading" text on hover"
### Description
Currently, if your heading text is truncated by the Panel component, you can't see the full copy. It would be nice to show the full text on hover. I think a Tooltip would be overkill, but some way to see what's been cut off by the ellipsis would be great. Obviously we should encourage brevity with these headings but this in an inevitability at some point.

### Acceptance Criteria
H

[2021-03-02 19:27] arjavbadjatiya commented on #1642
Makes sense. Do we have a lot of instances like that though @driskull ? If there are no focusable elements within it, what's the content that would go below the fold and require scrolling? Copy?

[2021-03-02 19:28] driskull commented on #1642
I'm not sure on that one.

[2021-03-02 23:48] julio8a opened #1646 "refactor(Pagination): tailwindify"
Supports #1500

[2021-03-03 16:09] asangma opened #1647 "Enhancement: CalciteLink - add rel=”noopener noreferrer” for security"
### Description
As noted by the security team, all hrefs in our apps should include `rel="noopener noreferrer"`.
Add this is a default attribute on the anchor element of CalciteLink.

Problem?

### Acceptance Criteria
The attribute is on by default.
Should we have a prop to turn it off?

### Relevant Info

#### Which Component
CalciteLink

#### Example Use Case
Security in applications.

[2021-03-03 16:16] julio8a commented on #1647
This should only happen when there's a domain change? I remember @macandcheese implementing something like this in our old doc site links. We only applied to links going to external URLs.

[2021-03-03 16:20] macandcheese commented on #1647
I think this should be up to the user to add, currently it's not a defined prop but gets spread to the child link.

[2021-03-03 16:55] paulcpederson commented on #1647
`noopener` and `noreferrer` both only apply to cross domain links. Anything internal is sort of a moot point (ie. `esri.com/page-1/`links to `esri.com/page-2/`).

There are situations where you would probably want to keep the referrer. This would essentially allow other sites to see your referral traffic. If you put on `noreferrer` the site you link to will see the traffic reported as direct traff

[2021-03-03 17:30] julio8a opened #1649 "refactor(link): tailwindify"
Supports #1500

[2021-03-03 17:47] asangma opened #1650 "Enhancement: PickList remove margin-top from description"
### Description
There's a heap of space in there that gets multiplied where there are a lot of items.
cc @bstifle

### Acceptance Criteria
Tighter UI.

### Relevant Info

#### Which Component
PickList
Change here should also appear in ValueList

#### Example Use Case
Any PickList or ValueList with more than a few items.

![Screen Shot 2021-03-03 at 9 46 03 AM](https://user-images.githubusercontent

[2021-03-03 18:06] julio8a opened #1652 "refactor(label): tailwindify"
Supports #1500

[2021-03-03 18:12] dasa commented on #1647
It sounds like this may now be the browser's default: https://www.chromestatus.com/feature/6140064063029248

[2021-03-03 18:34] julio8a commented on #1500
Taking calcite-f* to calcite-h*

[2021-03-03 18:35] julio8a opened #1654 "refactor(FAB): tailwindify"
Supports #1500

[2021-03-03 19:52] lau11123 opened #1656 "Bug: Scroll bar encroaching on icons in action toolbars in Map Viewer"
### Summary
If you open Map Viewer Beta in Firefox on a laptop sized screen using the recommended scale (125%) then the scroll bars on <b>collapsed</b> action toolbars encroach on the icons. This doesn't occur when the scale is reduced or on larger monitors, but since it occurs at the recommended scale for a standard laptop I think it might be worth addressing. When I inspected the action bar in F

[2021-03-03 20:12] driskull commented on #1656
@asangma now that we have the overflow menu installed. Can we just remove the scrolling? https://github.com/Esri/calcite-components/issues/1466

[2021-03-03 20:42] julio8a opened #1658 "refactor(Filter): tailwindify"
Supports #1500

[2021-03-03 20:47] julio8a opened #1660 "refactor(Flow): tailwindify"
Supports #1500

[2021-03-03 20:54] julio8a opened #1662 "refactor(Graph): tailwindify"
Supports #1500

[2021-03-03 21:07] julio8a opened #1664 "refactor(handle): tailwindify"
Supports #1500

[2021-03-03 22:07] julio8a opened #1666 "refactor(Icon): tailwindify"
Supports #1500

[2021-03-03 22:09] julio8a commented on #1666
This one was already done.

[2021-03-03 22:09] #1666 closed

[2021-03-03 22:10] julio8a opened #1667 "refactor(inline-editable): tailwindify"
Supports #1500

[2021-03-03 22:23] julio8a opened #1668 "refactor(input): tailwindify"
Supports #1500

[2021-03-03 23:57] abigailmbravo-uxuidev commented on #1592
Hey everyone! Here is a list of the invalid error states around form controls. For consistency, @capeoples and I wanted to explore removing the red label on input and this is how the rest of the form control would be represented. We have discussed with @macandcheese and we have all agreed on what we have here!

This is ready to go. Please let me know if anyone has any questions.
<img width="837" a

[2021-03-04 00:58] asangma opened #1671 "Question: Do we need the image node in Popover?"
### Question
Propose removing the image slot from Popover.

Right now we have an [image node](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-popover/calcite-popover.tsx#L346-L352) in Popover.

The image slot seems like an unnecessary and unused feature.
Supporting it also causes unnecessary nesting of nodes when there's just content.

### Helpful Details
Divs with si

[2021-03-04 15:56] bstifle opened #1672 "Enhancement: Tip Manager spacing and design improvements"
![image](https://user-images.githubusercontent.com/14083530/109991312-d5161200-7ccf-11eb-93f1-3ad9c6078c9c.png)

Let's bring tip manager into the future!

Figma link
https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1183%3A20943

[2021-03-04 19:47] bstifle opened #1674 "Enhancement: Get buttons up to design spec"
Many buttons have improper colors for idle/hover/press states.

This issue is to take care of that once and for all!!!

Figma link:
https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1706%3A0

![buttons](https://user-images.githubusercontent.com/14083530/110050148-ee8f7c00-7d18-11eb-8aa0-efea01b1461b.png)

[2021-03-04 20:38] #1569 closed

[2021-03-04 22:57] julio8a commented on #1671
This sounds good to me

[2021-03-05 02:05] #1235 closed

[2021-03-05 02:05] #1232 closed

[2021-03-05 02:05] #1221 closed

[2021-03-05 02:05] #1143 closed

[2021-03-05 02:05] #1115 closed

[2021-03-05 16:40] asangma commented on #1671
Thanks @julio8a!

[2021-03-05 18:05] julio8a opened #1676 "refactor(option): tailwindify"
Supports #1500

[2021-03-05 18:08] julio8a commented on #1676
Option and option-group don't have CSS

[2021-03-05 18:08] #1676 closed

[2021-03-05 18:08] julio8a opened #1677 "refactor(panel): tailwindify"
Supports #1500

[2021-03-05 18:42] AdelheidF opened #1679 "Bug: calcite-button - make padding fit other components"
### Description
Could we add an option to align the icon at the very end of the button instead of after the text?
When clicking on the button a popover opens. The component below is a calcite-select.

I could work around this issue by using a button and an action but then I have two pieces doing the same thing and a visible separator.

![image](https://user-images.githubusercontent.com/44481292/11

[2021-03-05 18:46] julio8a opened #1680 "refactor(calcite-pick-list): tailwindify"
Supports #1500

[2021-03-05 18:47] bstifle opened #1681 "Enhancement: get Switch styles up to snuff"
![image](https://user-images.githubusercontent.com/14083530/110159964-ff8bcc00-7db0-11eb-8d3a-8e65e4cc32f4.png)

Figma link https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=0%3A16948

[2021-03-05 18:51] macandcheese commented on #1679
@AdelheidF already in there with `alignment="icon-end-space-between"` -

https://jsbin.com/neguharora/

However, the button doesn't really align with the select below it:

![Screen Shot 2021-03-05 at 10 50 43 AM](https://user-images.githubusercontent.com/4733155/110160301-af0c7280-7da0-11eb-90df-bb486c009d71.png)

I think the upcoming Tailwind pass will solve that? (@asangma @bstifle )

[2021-03-05 18:56] julio8a opened #1683 "refactor(calcite-pick-list-group): tailwindify"
Supports #1500

[2021-03-05 19:10] julio8a opened #1685 "refactor(calcite-pick-list-item): tailwindify"
Supports #1500

[2021-03-05 19:10] AdelheidF commented on #1679
Oh, sorry that I missed that.

But yes, would be great if they'd align. The third line uses a calcite-action.
![image](https://user-images.githubusercontent.com/44481292/110162156-31963180-7da3-11eb-8b68-68d7a5340a97.png)

[2021-03-05 20:55] smambrose commented on #749
Is there any progress on this one? Testers for charts keep running into it and noticing they can't control this.

[2021-03-05 21:37] jcfranco commented on #749
@smambrose Not for the time being. I'll move this to backlog until it's ready for development. I estimate this will land after 1.0.0 ships (after April).

[2021-03-05 22:27] julio8a opened #1687 "refactor(popover): tailwindify"
Supports #1500

[2021-03-05 22:28] #1646 closed

[2021-03-05 22:28] #1649 closed

[2021-03-05 22:29] #1660 closed

[2021-03-05 22:33] gpbmike opened #1688 "Bug: calciteDropdownOpen is fired when dropdown is open"
### Summary

An extraneous `calciteDropdownOpen` event is fired.

### Actual Behavior

Clicking on the dropdown button to close the dropdown fires `calciteDropdownOpen` followed by `calciteDropdownClose`.

### Expected Behavior

Only `calciteDropdownClose` should fire.

### Reproduction Steps

1. Click on dropdown button to open dropdown.
2. Click on dropdown button again to close dropdown.

https

[2021-03-05 23:17] #1654 closed

[2021-03-05 23:18] #1664 closed

[2021-03-05 23:36] AdelheidF opened #1689 "Bug: calcite-input-date-picker - width issues"
### Summary

I display the `calcite-input-date-picker` next to a `calcite-action`. The action opens a popover with unique values.

perfect look:
<img src=https://user-images.githubusercontent.com/44481292/110185483-4dabca00-7dc7-11eb-99cc-8e2bec0475a3.png width=250/>

narrow panel, if I remove the padding it's fine:
<img src=https://user-images.githubusercontent.com/44481292/110185517-67e5a800-7dc

[2021-03-05 23:43] julio8a opened #1691 "refactor(popover-manager): tailwindify"
Supports #1500

[2021-03-05 23:44] julio8a commented on #1691
Doesn't have styles! WIN!

[2021-03-05 23:44] #1691 closed

[2021-03-05 23:45] julio8a opened #1692 "refactor(progress): tailwindify"
Supports #1500

[2021-03-05 23:51] julio8a opened #1694 "refactor(radio): tailwindify"
Supports #1500

[2021-03-06 02:05] #927 closed

[2021-03-06 02:05] #754 closed

[2021-03-06 17:16] macandcheese commented on #683
Open

[2021-03-07 02:07] #1149 closed

[2021-03-07 15:43] julio8a opened #1697 "refactor(radio-button): tailwindify"
Supports #1500

[2021-03-07 16:02] julio8a opened #1699 "refactor(radio-button-group): tailwindify"
Supports #1500

[2021-03-07 16:08] julio8a opened #1701 "refactor(radio-group): tailwindify"
Supports #1500

[2021-03-08 04:36] #1658 closed

[2021-03-08 04:50] #1699 closed

[2021-03-08 04:52] #1687 closed

[2021-03-08 04:52] #1683 closed

[2021-03-08 04:54] #1685 closed

[2021-03-08 04:58] #1662 closed

[2021-03-08 16:55] driskull commented on #1689
@asangma this seems like only style changes, right?

[2021-03-08 17:00] #1701 closed

[2021-03-08 18:08] paulcpederson commented on #1590
PR under review

[2021-03-08 18:27] paulcpederson commented on #1460
@TheBlueDog I just locally tried a combobox with 4000 items and it was _slightly_ sluggish but overall fine. Have you tried the combobox in single select mode?

[2021-03-08 18:38] asangma commented on #1637
Thanks @driskull!

[2021-03-08 19:35] jcfranco opened #1705 "Docs: Review internal events"
### Description

https://github.com/Esri/calcite-components/pull/1517 added doc to all public events and made pending ones internal to be reviewed in this issue.

Please review the internal events of each component and determine whether they should be made public. Please add doc for any that will be exposed.

### Which Component

- [x] `calcite-inline-editable` (@alexabreu)
- [x] `calcite-stepper`

[2021-03-08 20:04] #1677 closed

[2021-03-08 20:40] macandcheese commented on #1705
Switch, input public events look good, I'll make some updates to accordion/stepper 🚀

[2021-03-08 23:20] nwhittaker opened #1707 "Bug: Toggling a modal's close button changes height of modal header"
### Summary
Sometimes it is necessary to dynamically change whether or not a `<calcite-modal>` element's close button is enabled. For example, a delete confirmation initially has the close button enabled, but once the user chooses to do the delete, the modal could stick around in a _waiting_ state to ensure the delete succeeds before it dismisses. While in this state, the close button becomes disa

[2021-03-08 23:46] julio8a opened #1708 "refactor(radio-group-item): tailwindify"
Supports #1500

[2021-03-09 00:46] driskull commented on #1617
Installed

[2021-03-09 01:02] AdelheidF opened #1709 "Bug: calcite-dropdown is stopping a document click event in its handler"
### Summary
After clicking on an action I open a popover. Whenever the user then clicks outside of that popover I want it to close automatically. So I create a click handler on the document when I open the popover. That works well if I click anywhere except when I click on a calcite-dropdown. It seems to stop the event handling.

### Actual Behavior

### Expected Behavior

### Reproduction Steps

[2021-03-09 01:28] macandcheese commented on #1709
@AdelheidF do you have a codepen of the setup you have? Drop down does a similar thing to close itself that you are doing for the popover.

[2021-03-09 01:33] AdelheidF commented on #1709
You don't think this is causing the issue for me?
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-dropdown/calcite-dropdown.tsx#L389

[2021-03-09 02:34] macandcheese commented on #1709
No I was just hoping to get a reproduction case so I could look at what you are seeing with the popover setup.

[2021-03-09 02:37] jcfranco opened #1710 "Enhancement: Auto-adjust headingLevel of child elements"
### Description

https://github.com/Esri/calcite-components/pull/1639/ added `headingLevel` to the block, panel, pick-list-group and tip-manager components. The level prop needs to be set on the parent and child elements (except for tip & tip-manager). As an enhancement, the remaining components should follow this pattern to make it easier for users.

### Acceptance Criteria

Root elements with a

[2021-03-09 06:02] driskull commented on #1710
@jcfranco how does this affect block or panel? I think it's just the `pick-list` and `value-list` that need to modify the `pick-list-group`.

[2021-03-09 06:04] driskull commented on #1709
@macandcheese we should check to see if we're stopping propagation on other components where we shouldn't be.

[2021-03-09 06:04] driskull commented on #1709
@AdelheidF are you using the `popover-manager`? There is an option to handle this event for you.

https://github.com/Esri/calcite-components/blob/master/src/components/calcite-popover-manager/calcite-popover-manager.tsx#L31

[2021-03-09 18:02] ajoshipuraGH opened #1712 "Bug: Icon for the calcite link does not flip in RTL"
### Summary
the icon on the end does not flip in position to the start neither does it rotate when we view the page in RTL mode:
https://aem-author-dev.esri.com/content/esri-sites/language-masters/en/sandbox/c3p0/modular-content-strip.html?wcmmode=disabled

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-03-09 18:12] asangma commented on #1617
Looks grood!

[2021-03-09 18:18] asangma commented on #1617
Reopening...

Seems like we'd want the label to wrap and keep the chevron to the right.
![image](https://user-images.githubusercontent.com/12503298/110518212-b0031400-80c0-11eb-8e30-df377a0841e1.png)

I can add styles for this.

[2021-03-09 18:33] asangma commented on #1689
@driskull Yeah.

[2021-03-09 18:58] driskull commented on #1617
Yeah that sounds right. Its kind of unrelated though right?

[2021-03-09 19:12] asangma opened #1715 "Bug: Panel heading should be Medium"
### Summary
It got set to Bold.

Panel > .header > .header-content > .heading

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-03-09 19:17] asangma commented on #1715
I suggest not making UI changes as part of a refactor.

[2021-03-09 19:17] paulcpederson commented on #1715
Figma designs had demi, not medium, right?

@asangma you need to pull in calcite fonts from the CDN onto the app-components demo pages. They will currently render a true bold because they use the system default avenir.

[2021-03-09 19:18] asangma commented on #1715
@paulcpederson Copy that. I will update this issue.

[2021-03-09 19:26] asangma commented on #1715
Hmm...our Tailwind font-weights might be out of sync.

[2021-03-09 19:27] AdelheidF commented on #1709
That fixed the problem for me. Thanks.

Though I still think dropdown should not cancel a click event coming from the outside.

[2021-03-09 19:27] driskull commented on #1709
I agree

[2021-03-09 21:32] paulcpederson commented on #1556
Related to https://github.com/Esri/calcite-components/issues/905

[2021-03-09 22:50] julio8a commented on #1715
PR merged that reverts this to the previous font-weight. Panel heading is back to Medium.

[2021-03-09 22:50] #1715 closed

[2021-03-09 23:24] asangma commented on #1650
@julio8a @bstifle Would one of y'all mind verifying?

[2021-03-09 23:31] asangma commented on #1671
@julio8a Mind if I assign this one to you?

[2021-03-10 00:20] asangma commented on #1689
@AdelheidF Ping me if need be, and I can close.

[2021-03-10 01:56] jcfranco commented on #1437
Verified locally.

[2021-03-10 01:56] #1437 closed

[2021-03-10 01:57] AdelheidF commented on #1623
looks good

[2021-03-10 02:06] paulcpederson commented on #1515
verified this is part of beta.51

[2021-03-10 02:12] #1445 closed

[2021-03-10 16:36] bstifle commented on #1650
Verification Complete ✅

[2021-03-10 16:41] #1650 closed

[2021-03-10 20:37] driskull commented on #1507
@noahmulfinger can you verify this fix?

[2021-03-10 20:40] driskull commented on #1466
@kevindoshier @AdelheidF if we remove the scrollbar on the action-bar and action-pad, then you will need to use the slot `menu-actions` on `calcite-action-group` so that nothing gets cut off.

This means that you would need to use a window resize/matchMedia event to either add or remove the slots depending on available space.

[2021-03-10 20:40] driskull commented on #1466
example:

[code]

[2021-03-10 21:01] ajoshipuraGH commented on #1712
Hi Adam, Need it to work with AEM,  Tim mentioned that that dir attr is
being added by the calcite js and not AEM code

On Wed, Mar 10, 2021 at 8:38 AM Adam Tirella <notifications@github.com>
wrote:

[2021-03-10 23:35] jcfranco commented on #1527
Installed. @AdelheidF could you help verify in the upcoming @next update? 🙇‍♂️

[2021-03-10 23:44] ethanbdev opened #1733 "Bug: calcite-shell-panel hiding content when it overflows the panel height"
### Summary
I think this has been reported already in the viewer, but I did not see an issue for it here, so wanted to put one in for tracking.

When content in a shell panel, such as a long value list, overflows the height of the panel, the items are hidden rather than scrollable. Seems to happen in a shell panel but not in a calcite-panel - still trying to work out exact case.
![image](https://u

[2021-03-11 00:31] AdelheidF opened #1734 "Bug: calcite-pick-list - keyboard user selection issue"
### Summary
I'm a keyboard user only and I open a pick-list inside a popover with radio button selection, one selected item at a time. Let's say item 2 is initially selected. So I tab my way to it. Now I want to select the item number 5. I plan to use the arrow down key 3 times to go there and then select it with 'space'.  Same way it works for multiple selection. But as soon as I use the arrow ke

[2021-03-11 00:51] jcfranco commented on #1734
@asangma WDYT? Splitting up keyboard navigation and selection would also make the experience consistent for both multiple and single selection modes.

[2021-03-11 16:06] ethanbdev commented on #1733
Just adding, after looking some more it seems like any panel that gets this selector added has the issue:
![image](https://user-images.githubusercontent.com/52869490/110816814-88d35080-8240-11eb-85fd-6b1c0a1c4ec8.png)

So even if I use a panel not _directly_ inside a calcite shell panel (but still a child of), it gets this css and has the issue.

[2021-03-11 16:56] jcfranco commented on #1507
Verified using the description's test case.

[2021-03-11 16:56] #1507 closed

[2021-03-11 16:56] jcfranco commented on #1466
@driskull Does this issue need to be split up or should we move it to the beta.52 milestone?

[2021-03-11 16:57] driskull commented on #1466
@jcfranco it's installed.

[2021-03-11 17:08] jcfranco commented on #1466
Got it. Wasn't sure if anything else was needed after the follow-up comments.

Who can verify this?

[2021-03-11 17:41] macandcheese commented on #1642
Just to clarify here - it's not a concern to remove this @arjavbadjatiya - @driskull, it also seems like dismissible was handled explicitly on purpose, just want to make sure removing the two tabIndex declarations doesn't break anything intentional - @asangma do you have any insight here?

[2021-03-11 17:45] driskull commented on #1642
@macandcheese I'm not sure. All I know is that aXe says that if a panel is scrollable it needs tabindex for a user to control that scrolling.

[2021-03-11 17:46] driskull commented on #1642
Yes, I'm guessing anything that isn't focusable. text, images, etc.

[2021-03-11 17:49] driskull opened #1737 "Enhancement: Remove styles that directly hook into a theme attribute"
### Description

I think we'll need to remove styles that directly hook into a theme attribute as well, as that will no longer happen. A quick search reveals the following:

[code]

These vars will need to be moved to the actual global theme variables, I think.

### Acceptance Criteria

No more variables hooking into theme attribute

### Relevant Info

https://github.com/Esri/calcite-components/pu

[2021-03-11 19:02] zaramatheson opened #1739 "Enhancement: Improve cut off text display in panel headers"
In Map Viewer, long layer names get cut-off on the panel headers:

![image](https://user-images.githubusercontent.com/50747646/110839986-0b680a00-8259-11eb-8e61-02564562ed7a.png)

Would be nice to improve this so the entire layer name is visible.

cc @asangma

[2021-03-11 19:08] macandcheese commented on #1739
related: https://github.com/Esri/calcite-components/issues/1643

[2021-03-11 19:49] driskull opened #1740 "Bug: remove calcite-label from internals of checkbox and radio"
### Summary

Bug: remove calcite-label from internals of checkbox and radio

### Actual Behavior

these two components automatically add a calcite-label internally

### Expected Behavior

User is expected to add their own calcite-label externally

[2021-03-11 20:36] driskull opened #1741 "Enhancement: All form control components should support form.reset() to reset their default value"
### Description

Enhancement: All form control components should support form.reset() to reset their default value

### Acceptance Criteria

When a parent form reset event is fired, the component resets to its initial value.

### Relevant Info

#### Which Component

All. [TODO UPDATE LIST WITH CHECKBOXES]

#### Example Use Case

TODO

[2021-03-11 20:52] #1692 closed

[2021-03-11 20:54] #1697 closed

[2021-03-11 21:56] #1680 closed

[2021-03-11 21:57] #1694 closed

[2021-03-12 00:18] caripizza commented on #1500
@jrowlingson I can open a pr to revert that 3px border width addition in the tailwind config. I only added it because I thought calcite-tabs needed the 3px border to stay, but since calcite-notice now has a border [width of 2px](https://github.com/Esri/calcite-components/pull/1633/files#diff-bf1f60d4dbf75f463605b9c51b954b45fcdadeb3a0e2fdcabc683d3cd9bb1f0aR93), I went with that for calcite-tab-nav

[2021-03-12 00:36] AdelheidF opened #1747 "Bug: calcite-switch - alignment issues in RTL"
### Summary

It shows two calcite-block-section and one calcite-switch, surrounded by calcite-label.

<img src=https://user-images.githubusercontent.com/44481292/110873798-64e72d80-8287-11eb-9d39-b259d02517ec.png width=200/>

LTR:
<img src=https://user-images.githubusercontent.com/44481292/110874184-2c941f00-8288-11eb-8bb1-ada66e3da715.png width=200/>

### Actual Behavior

### Expected Behavior

#

[2021-03-12 04:29] Olga8614 commented on #1747
https://github.com/ArcGIS/I18N-BYS-Bugs/issues/6389 - reported by BYS

[2021-03-12 16:59] jrowlingson commented on #1500
@caripizza that would be great!

[2021-03-12 19:29] COV-GIS opened #1748 "Enhancement: avatar compatible for use as action in action bar"
### Description

I'm using avatar as an action as shown below. It's perfectly serviceable with a couple additional styles. The main issue is the when the action bar isn't collapsed and lack of text, which in this case would be name or username. Perhaps avatar could have an optional `text` property (or just use avatar name) and treated as a action when added to an action bar. Not a particularly hig

[2021-03-12 21:06] ethanbdev commented on #1733
It is a bit messy, but I have added my popover repro case to the codepen.
![Uploading image.png…]()

[2021-03-12 22:23] AdelheidF opened #1749 "Bug: calcite-panel - disabled:true makes panel scroll to top"
### Summary
We want to disable the panel if the user opens a popover overlapping it.
If you disable the panel while you're scrolled to the bottom it will automatically scroll up. So the user has to scroll back down after closing the popover.

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-03-12 22:30] AdelheidF opened #1750 "Bug: calcite-shell-panel - header slot messes up fab button"
### Summary

Might have started with beta.51.

The "header" in the calcite-shell-panel that the layerSwitcher is in, it pushes everything down.
<img src=https://user-images.githubusercontent.com/44481292/111005284-607e4b80-833f-11eb-977a-6f9c8c572b05.png width=250/>

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-03-12 23:06] AdelheidF opened #1752 "Bug: calcite-panel - issue with scrollbars"
### Summary

from Dhrumil:

I think this was after the latest calcite update.
I see a few panels where the scroll ability is gone, and in all of them I use the calcite-panel directly without calcite-flow.
Places where calcite-panel is wrapped with calcite-flow, scrolling is not an issue.

Is wrapping calcite-panel within calcite-flow a new requirement? If not, can this be fixed for 9.1?

beta.51:

[2021-03-12 23:12] AdelheidF opened #1753 "Bug: calcite-shell-panel with button in header slot with weird focus box"
### Summary

Is there something we could do?

<img src=https://user-images.githubusercontent.com/44481292/111007980-f2d51e00-8344-11eb-94a4-0e66a1b5a405.png width=300/>

<img src=https://user-images.githubusercontent.com/44481292/111008053-1ef09f00-8345-11eb-8cda-82b57bd79706.png width=400/>

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-03-12 23:28] driskull commented on #1753
@AdelheidF this UI actually needs to be updated to use the `calcite-combobox` instead of a button/popover combination.

[2021-03-12 23:30] AdelheidF commented on #1753
cc @kevindoshier

[2021-03-13 00:03] AdelheidF commented on #1749
I noticed a second thing.

On the left is my panel without the popover. On the right is the panel in disabled state (I'm hiding the popover to show the issue better). Notice where the footer buttons are.

<img src=https://user-images.githubusercontent.com/44481292/111010740-37b08300-834c-11eb-8ff1-c52fba9309f7.png width=210/><img src=https://user-images.githubusercontent.com/44481292/111010786-633

[2021-03-13 02:26] kellyhutchins opened #1755 "Bug: Dismissible "x" icon is too small in the panel component"
### Summary
If you enable "dismissable" in the panel component an "x" icon is added to the panel header but the icon size by default is small. The x icon at this scale is noticeably smaller than the other icons in the header.

### Reproduction Steps

Enable dismissible in the sample:
https://esri.github.io/calcite-components/?path=/story/components-app-panel--basic

### Relevant Info
In order to w

[2021-03-15 17:55] rslibed opened #1756 "A11y: calcite-modal"
### Summary
Repoerted issues regarding `calcite-modal`.

### Issues
 - When a page first opens and a modal is opened on load, a screen reader should announce that there is a window open on the page

- The modal title does not get read aloud for screen readers

- The content in the modal does not get read by a screen reader so a non sighted user will not be able to read the content in the panels

[2021-03-15 20:03] AdelheidF opened #1758 "Enhancement: calcite-dropdown - more alignment options for RTL"
### Description

I use a `calcite-dropdown` (`alignment:end`) with a `calcite-action` that opens a menu below the action. This works well with LTR.

<img src=https://user-images.githubusercontent.com/44481292/111213969-949b7b80-858e-11eb-8c58-49d8644d5acc.png width=250/>

In RTL though this opens the menu on top of the action.

<img src=https://user-images.githubusercontent.com/44481292/111213912-

[2021-03-15 21:01] #1753 closed

[2021-03-15 21:47] driskull commented on #1758
@macandcheese do we need alignment options for the dropdown? I'm wondering if we can just remove it and handle the positioning internally?

We don't offer positioning for combobox, input-date-picker either.

[2021-03-15 22:09] driskull commented on #1758
The other option is to automatically do the switch for users in RTL?

[code]

[2021-03-15 22:25] eriklharper opened #1759 "Enhancement: label support for input-time-picker"
### Description

This issue will add full labelling support for `calcite-input-time-picker`.

### Acceptance Criteria

`calcite-input-time-picker` should support wrapping `calcite-label` and `label` elements with tests reflecting this usage pattern.

### Relevant Info

#### Which Component

`calcite-input-time-picker`

#### Example Use Case

#### Original reference comment

I think I'll create a f

[2021-03-15 22:53] eriklharper opened #1760 "Enhancement: add valueAsDateTime support to time-picker components"
### Description

Adds support for passing in a `Date` object for the value via the `valueAsDateTime` property.

### Acceptance Criteria

### Relevant Info

#### Which Components

`calcite-input-time-picker`
`calcite-time-picker`

#### Example Use Case

#### Requested by:

Future: Is there another type we could additionally support? Not sure if `Date` would work since it includes the non-time compo

[2021-03-15 23:41] driskull commented on #1758
Installed breaking change.

dropdown now has a placement property consistent with popover.

popover also gains additional options to handle RTL for start/end.

[2021-03-16 00:13] jcfranco commented on #1466
Closing.

[2021-03-16 00:13] #1466 closed

[2021-03-16 15:48] asangma opened #1764 "Enhancement: InputMessage - reduce prominence of the font and spacing between text and icon"
### Description
Suggest making the font less prominent and tightening up the space between the icon and the text.

Side note: perhaps we have some distinction between instructional/helper text and JIT messages.

Right now, more prominence might be good for error or warning messages, but for instructional text, it messes with the visual hierarchy.

It also seems like we could reduce the space betwe

[2021-03-16 15:54] macandcheese commented on #1764
Yeah I'd agree this is more of a "hint / tip" or "description" (which we've always talked about adding as a prop so we could provide some built-in styling, perhaps between the label and the top of control, or below in regards to description).

As displayed, how would a resultant error or message be shown - as a replacement? I see these as mutually exclusive. I think the styling updates above look

[2021-03-16 15:58] macandcheese commented on #1764
Related :
input message styling- https://github.com/Esri/calcite-components/issues/1592
old "hint" issue - https://github.com/Esri/calcite-components/issues/538

[2021-03-16 16:52] asangma commented on #1764
Thanks @macandcheese!

[2021-03-16 16:57] asangma commented on #1764
@macandcheese

That makes sense to me.
This was the case that made me wonder if it still an input-message so that as a dev, one would update the prop and the string.

Perhaps when the status prop is e.g. `default` or `idle` or something, and we only apply more prominent styling if it's something more urgent like `warning` or `danger`.

The icon prop would remain independent as it is now.

[2021-03-16 19:32] driskull commented on #1749
Installed.

[2021-03-16 20:43] TheBlueDog commented on #1764
The tailwind-ified version of the current input in small. The margin below the label is `mb-1` (4px) and the margin above the description is `mt-2` (8px)

<img width="792" alt="Screen Shot 2021-03-16 at 4 38 46 PM" src="https://user-images.githubusercontent.com/5419306/111376966-832d9e80-8676-11eb-9a8e-3841e34ce5cf.png">

The preference would be for these to both be 4px. The lower slot is too far

[2021-03-16 20:53] TheBlueDog commented on #1764
If we want these to adhere to the web form spec, `hint` is what is used for placeholder text.

The `description` is the helper text that appears below the input. When there is a validation message, it replaces the description.

The design specs are documented here: http://apps.esri.com/design/web/#/fieldmaps/design/input-types-textbox

[2021-03-16 23:37] driskull commented on #1656
@asangma i'll assign back to you if you want to tackle the scrollbar issue for Firefox.

[2021-03-17 01:12] TheBlueDog opened #1767 "Enhancement: Calcite-icon option for adornments"
### Description
Enhance the `calcite-icon` component by adding the option to display an adornment layer over the chosen icon.

There are cases where an icon needs additional definition, but is not interactive like a button.

Icon library will not require additional versions of every icon to be created each time the adornment is needed by a product.

### Acceptance Criteria
- I can choose to displa

[2021-03-17 01:22] TheBlueDog commented on #1592
Because in many cases the validation message is critical to our users workflow, we would prefer to see that text in red also to provide additional visual distinction from the description text.

<img width="383" alt="Screen Shot 2021-03-16 at 9 20 17 PM" src="https://user-images.githubusercontent.com/5419306/111400383-9acc4d80-869d-11eb-950c-ffcd38260cf1.png">

[2021-03-17 01:34] paulcpederson commented on #1592
I just checked and the ui-danger passes WCAG 2.0 on the ui-background, so would be fine from an accessibility perspective.

[2021-03-17 05:53] #1652 closed

[2021-03-17 05:53] #1628 closed

[2021-03-17 16:07] dozer76 commented on #1767
This will be an awesome addition for Site Scan's upcoming feature - Enterprise Fleet Management. We need to use icons to represent certain actions like this in interactive tables, which can be thought of as activity feeds. examples include:

- Maintenance event was completed on a drone
- Maintenance event is past-due
- A new document has been added to the organization (i.e. training guide)
- A doc

[2021-03-17 17:03] AdelheidF commented on #1752
SUPER HIGH PRIORITY for 9.1!

[2021-03-17 17:09] driskull commented on #1733
@asangma I think you recently added that CSS that might be causing the issue.

[2021-03-17 17:37] asangma commented on #1500
Hey y'all. I'm backed up with a bunch of fixes and will have to come back to this refactor later. Please feel free to take on C and D.

[2021-03-17 17:40] driskull commented on #1258
@jcfranco @paulcpederson @macandcheese @julio8a  I think we need to revisit this component and it's API.

We could just have a property for `currentPosition` called `step` and get rid of the methods and internal events going on.

The `updateContent()` method seems pretty hacky.

Would we want to do this pre 1.0?

[2021-03-17 17:43] macandcheese commented on #1258
I think maybe @eriklharper had looked at this (?) - I know it works fine in vertical mode, the bug is in the "tab" functionality in horizontal mode for React since it's (I think?) doing what label does and creating / removing Nodes after it's mounted in React

[2021-03-17 17:56] jcfranco commented on #1258
We should not be manipulating nodes from the light DOM. This workflow will break in all VDOM libs since they assume their VDOM tree is the source of truth.

Would we ever need to support running checks/code between steps (e.g., validation)? Having a prop might make that tricker to implement.

[2021-03-17 17:58] eriklharper commented on #1258
I addressed this issue related to stepper a while back https://github.com/Esri/calcite-components/issues/1245.  The way I resolved that was to refactor how I was rendering the `<input>` inside `calcite-radio-button`.  Basically I converted radio-button from a shadowed to a scoped component, which allowed me to render the `<input>` in JSX as opposed to doing it manually with the DOM API.  My guess

[2021-03-17 18:02] macandcheese commented on #1258
Can we just use tabs internally for horizontal stepper content?

[2021-03-17 18:02] driskull commented on #1258
Good point.

[2021-03-17 18:10] ethanbdev opened #1775 "Bug: calcite-radio-button forcing the panel to shift upward"
### Summary
I bit of a tricky repro, still looking into it, but when a radio button is selected it can cause the UI to shift with the right use case. In particular using it at the bottom of a calcite flow -> calcite-panel. See the codepen, selecting one of the radio buttons on a smallish screen will make it happen. It will only happen when there is a scroll bar present.

It seems like the input el

[2021-03-17 18:11] johnmgriffith commented on #1767
@macandcheese I wanted to tackle those points, because I had some the same thoughts. You brought up some great questions.

- For the smaller icons and larger icons, they all use the same size adornment, using an 11px circle. You can see in Erich's screenshot that all the adornments are the same size, and since these are primarily for statuses I think that's the way to go. This would be especially

[2021-03-17 18:14] johnmgriffith commented on #1767
Yeah, also, `layer-broken` and `check-layer` could be removed if we have these adornments implemented. We'd just have to make sure that people who are using those icons aren't using them as actionable icons. Otherwise we should keep them as is.

[2021-03-17 18:26] eriklharper commented on #1775
Thanks for reporting this @ethanbdev !  I have a fix already to go :)

[2021-03-17 18:36] #1585 closed

[2021-03-17 18:36] #1590 closed

[2021-03-17 18:39] paulcpederson commented on #1023
closing in favor of duplicate https://github.com/Esri/calcite-components/issues/1756 which is more comprehensive.

[2021-03-17 18:39] #1023 closed

[2021-03-17 18:39] ethanbdev commented on #1775
Thank you for taking a look so quick!

[2021-03-17 18:41] eriklharper commented on #1775
My pleasure!  I had a hunch I knew what was causing it, and I was correct.  Gotta love one-liners!

[2021-03-17 19:54] paulcpederson commented on #1258
I don't think you need to move dom around to have both of these modes work the same with the same markup. Here's an example with CSS Grid:

https://codepen.io/paulcp/pen/OJbYEVq

Basically you can set the items to be pass through and position the title vs content where you need it on the grid without moving things around. Just show/hide the active step rather than ripping it out and dumping it som

[2021-03-17 21:40] asangma commented on #1750
@AdelheidF A simple fix I found was to set `overflow:hidden` on your component, e.g. on `arcgis-filter`.

I can add a style for a slotted `calcite-panel` or `calcite-flow`, but I would be reluctant to do a wildcard `*` selector.
I could maybe do a `[class^="arcgis-"]` to target our micro apps...?

cc @driskull @jcfranco @paulcpederson

[2021-03-17 21:42] driskull commented on #1750
Probably not a good idea.

[2021-03-17 21:51] AdelheidF commented on #1750
So, we should add `overflow:hidden` to all panel-components that show a fab button and could be used with a layer switcher?

[2021-03-17 22:35] asangma commented on #1750
I think apply `overflow:hidden` to any of the `arcgis-[your component name]` elements.
This would apply to Popup config, etc. as well. (Can't seem to get Dhrumil's handle to appear here).

Charts would need to do something similar, but there seems to be other things happening with that mico-app.

[2021-03-17 22:46] asangma commented on #1750
I'll keep trying other things in the meantime.

[2021-03-17 22:52] asangma commented on #1750
Update: hold off on adding the overflow:hidden. I'll try to find another way that doesn't require that. If I can't soon, you'll have to add it.

[2021-03-18 01:06] joeyHarig opened #1785 "Enhancement: calcite-input-date-picker and calcite-input-time-picker placement props"
### Description
Prop to adjust the placement of the date picker or time picker popover relative to the input

### Acceptance Criteria
Should behave similarly to the placement prop of components such as `calcite-popover` or `calcite-dropdown`

#### Which Component
`calcite-input-date-picker` and `calcite-input-time-picker`

#### Example Use Case
<img width="554" alt="Screen Shot 2021-03-17 at 7 01

[2021-03-18 01:29] joeyHarig opened #1786 "Enhancement: add actions-end and actions-start slots to calcite-accordion-item's header"
### Description
Ability to add a button to the header of `calcite-acccordion`. There are props for title and subtitle, but no option to include any button or action in the accordion header.

#### Which Component
calcite-accordion

#### Example Use Case
<img width="375" alt="Screen Shot 2021-03-17 at 7 26 13 PM" src="https://user-images.githubusercontent.com/55154968/111559842-e2fb7680-8756-11eb-8b

[2021-03-18 05:23] paulcpederson commented on #381
Old issue, but wanted to answer @svlesiv  's question in case others run into this.

To enable <kbd>enter</kbd> to submit in a form, you can add a hidden submit button. Save a ref to it, and then simply call `click()`. The button doesn't have to be visible for this to work. Here is a little snippet:

[code]

This assumes you're using hooks and `useRef`. You could do the same thing with class compo

[2021-03-18 15:24] bstifle commented on #1592
Green, and yellow do not pass. so we'd be inconsistent by doing that

[2021-03-18 15:42] bstifle commented on #1592
also, does not pass on all foregrounds

![image](https://user-images.githubusercontent.com/14083530/111654255-95bee980-87d6-11eb-84f0-bc826f7fd864.png)

![image](https://user-images.githubusercontent.com/14083530/111654302-a0797e80-87d6-11eb-9865-f9f897404e35.png)

i'd call that a no-go

[2021-03-18 15:45] bstifle commented on #1592
let's move forward with the red input border, and removing the red input-label styling.

[2021-03-18 16:23] paulcpederson commented on #1592
Cool I can try to help update these.

[2021-03-18 18:26] asangma commented on #1750
@AdelheidF Installed.

You can ignore the overflow suggestion earlier.
If you see a lack of a scrollbar where there should be one, try setting `height:100%` on things.

If a Panel or Flow is placed directly into the default slot, it should work as-is.
For anything else, you'll probably need to put `height: 100%` on it.
This includes a Panel inside something else, e.g. `arcgis-[some thing]` > `calc

[2021-03-18 18:34] driskull commented on #1733
I'm not sure the shell panel is supposed to scroll by default. I'm not seeing any overflow defined for it to do so. @asangma do you know?

Same thing with the popover, the user needs to define a scrollable area.

[2021-03-18 18:36] driskull commented on #1733
If you add a height to the `<calcite-panel>` inside the popover it scrolls fine.

Maybe we need better doc for components where they need their height set to be scrollable?

[2021-03-18 19:17] asangma commented on #1733
If you would prefer to put your own stuff in there, you'll be responsible for handling scroll behavior.
Try putting your content inside a CalcitePanel. It will give you a lot of that stuff for free.

[2021-03-18 19:24] asangma commented on #1733
Or we can do like we do in ShellPanel where we do :slotted styles for our own components, yeah?

In the case of the popover, you can set your max-height class on Panel, but you'd also need to add an overflow rule.

We don't set that because we don't know what needs to happen in various cases.

[2021-03-18 20:29] ethanbdev commented on #1733
@driskull, the panel has a height (of 100%), it is coming slotted from the shell panel. If I set `height: auto` on the panel then it does fix the issue. Doing this was not needed pre-beta.51 and there was no documented change on it. Going forward is this what we should do?

@asangma It is hard to explain, I do not want to post a screenshot of the UI here, but the UI is in a panel, and that panel h

[2021-03-18 23:03] TheBlueDog commented on #1592
As long as the color is not in the shadow can be set or overridden by the app

[2021-03-19 00:28] asangma commented on #1733
Just merged an update.
Once that's on @next, try it by setting the `height-scale` prop on Panel.
It will also work to write a height style onto Popover...but the Panel prop would be the suggested approach.

[2021-03-19 15:34] ethanbdev commented on #1733
Looks good @asangma 🚀, so we should use `height-scale` instead of our own `max-height`. Makes sense to me!

Thank you for taking a look!

[2021-03-19 15:34] #1733 closed

[2021-03-19 16:16] AdelheidF commented on #1752
Looks good with next.123. I see scrollbars again.

<img src=https://user-images.githubusercontent.com/44481292/111810869-b600ae00-8893-11eb-9564-34e4ada60173.png width=200/>

[2021-03-19 16:16] #1752 closed

[2021-03-19 16:21] asangma commented on #1733
Yew!

[2021-03-19 16:23] AdelheidF commented on #1750
looks good with next.123

[2021-03-19 16:23] #1750 closed

[2021-03-19 16:23] AdelheidF commented on #1749
looks good with next.123

[2021-03-19 16:23] #1749 closed

[2021-03-19 18:23] driskull opened #1809 "Bug: Tree item does not show if it starts expanded"
### Summary

Bug: Tree item does not show if it starts expanded

### Actual Behavior

https://codepen.io/driskull/pen/KKNOKpN?editors=1000

![image](https://user-images.githubusercontent.com/1231455/111826014-6b882d00-88a5-11eb-98d2-343a3747c0ab.png)

### Expected Behavior

The tree item children should be visible.

![image](https://user-images.githubusercontent.com/1231455/111826050-75119500-88a5

[2021-03-19 18:24] AdelheidF opened #1810 "Bug: calcite-input (number) has no locale support"
### Summary
In French e.g. the decimal separator needs to be a comma and date separator needs to be a dot. I can't find a way to make this happen.

![image](https://user-images.githubusercontent.com/44481292/111825089-49da7600-88a4-11eb-934b-48ff4044925e.png)

<img src=https://user-images.githubusercontent.com/44481292/111824707-c751b680-88a3-11eb-9837-8f9e5ae44a8f.png width=200/>

Outside of thos

[2021-03-19 19:28] ethanbdev commented on #1810
You can set step to "any" to get rid of that hover tip @AdelheidF , if it is not set it defaults to 1.

[2021-03-19 19:35] AdelheidF commented on #1810
Thanks, that works.

[2021-03-19 22:31] AdelheidF commented on #1810
What is the plan for a French UI that uses calcite-input with step:1 when the user enters a decimal value? I assume the message won't be translated.

[2021-03-19 23:44] rmstinson opened #1813 "Enhancement: Disable spinner and horizontal spinners for Read Only Inputs"
### Description
Current spinner inputs keep their spinner enabled when input is read-only. Proposing that we disable the spinner buttons along with the input field.
### Acceptance Criteria
If those spinners are disabled, we got a stew goin'.
### Relevant Info
NA
#### Which Component
Input
#### Example Use Case
![Read Only Disabled Spinners](https://user-images.githubusercontent.com/12650705/111851

[2021-03-20 01:14] macandcheese commented on #1813
For input of type number, should we hide the number increment / decrement buttons (either in horizontal or vertical) altogether when in readonly?

[2021-03-20 02:11] #1205 closed

[2021-03-22 14:13] bstifle commented on #1813
yeah that makes sense to just hide them if we can!!

[2021-03-22 15:50] bstifle opened #1817 "Bug: Incorrect font weight syntax. "Normal" should be "Regular""
[code]

should be

[code]

[2021-03-22 16:47] ethanbdev opened #1818 "Tooling: "@types/sortablejs" is a dependency in latest next build"
## Summary
Using calcite components inside another stencil project, the stencil build fails because its needs the "@types/sortablejs" package. It happens if using the type `HTMLCalciteValueListElement`
![image](https://user-images.githubusercontent.com/52869490/112026428-70dab700-8af3-11eb-930e-d319dacfbf0a.png)

Types are coming correctly from the `components.d.ts` file
![image](https://user-imag

[2021-03-22 18:35] AdelheidF opened #1819 "Enhancement: improve calcite-action-bar overflow menu handling"
### Description
There was a new slot added to action-group for the overflow-menu.

[code]

But it requires the app to count all actions and groups in the action bar and guess their height to know how many actions need to be added to the slot in order to avoid scrollbars. Instead this logic should be handled by calcite, especially since it knows the height of action items and groups.

Maybe each ac

[2021-03-22 20:11] macandcheese opened #1820 "Enhancement: Improve event detail on Dropdown"
### Description
There's no public `calciteDropdownItemSelect` event... because the `calciteDropdownSelect` level event only returns the `calcite-dropdown` target, as a user I have to traverse that element to find what `calcite-dropdown-items` have an `active` attribute. Which is fine for single-group dropdowns but when there are multiple dropdown groups with potentially multiple selection-modes, i

[2021-03-22 20:12] #1820 closed

[2021-03-22 20:12] macandcheese commented on #1820
Whoops - totally forgot we added the `selectedItems` prop just for this 😄

[2021-03-22 20:38] AdelheidF opened #1821 "Bug: calcite-shell-center-row cut off at top if height-scale is large"
### Summary
The center shell panel at full height is being cut off at the top.

![image](https://user-images.githubusercontent.com/44481292/112055052-9b3c6c80-8b13-11eb-8f44-20404f6f08af.png)

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-03-22 21:02] subgan82 opened #1822 "Bug: Panel Actions styles are not as expected"
### Summary

The chart actions on the top are not in correct position should be on right

![2021-03-22_15-42-59](https://user-images.githubusercontent.com/1017712/112057767-b74a0900-8b27-11eb-8ea5-7cce28b4d513.png)

### Actual Behavior

The chart actions on the top are in left

### Expected Behavior
The chart actions on the top  should be on right

### Reproduction Steps

https://devtesting.mapsde

[2021-03-22 21:46] asangma commented on #1822
@subgan82 FYI, this is an issue with Panel.

[2021-03-22 21:53] asangma commented on #1821
Installed.

[2021-03-22 22:13] AdelheidF commented on #1810
@paulcpederson @macandcheese is this doable for beta.52?

[2021-03-22 22:24] AdelheidF commented on #1527
The first issue is fixed, but the second isn't.

[2021-03-22 22:36] AdelheidF commented on #1758
Using `bottom-trailing` in this case places the dropdown above the action.

![image](https://user-images.githubusercontent.com/44481292/112066569-d6469c00-8b23-11eb-813a-35523bb2f10c.png)
![image](https://user-images.githubusercontent.com/44481292/112066600-e5c5e500-8b23-11eb-897e-76a481f93226.png)

If I change it to `bottom-start` it's fine.

test case:
https://devext.arcgis.com/apps/mapviewer/in

[2021-03-22 22:40] paulcpederson commented on #1810
@AdelheidF date picker can already do this. For example, try `fr-CH` as lang. Not sure why the `fr` locale doesn't use the dot separator, but would be easy to just remove fr and replace it with `fr-CH`. Maybe @raje9276 can comment on the distinction between these two regions.

[2021-03-22 22:43] AdelheidF commented on #1689
The issue with a wide panel is fixed. Thanks!

<img src=https://user-images.githubusercontent.com/44481292/112067131-cda29580-8b24-11eb-899f-b45ac57e7469.png width=300/>

The issue with a narrow panel is not.

<img src=https://user-images.githubusercontent.com/44481292/112067313-18bca880-8b25-11eb-9ef7-940280852106.png width=200/>

test case:
Open Chrome debugging tools and make them very wide, so

[2021-03-22 22:45] AdelheidF commented on #1689
The calendar is always left aligned, even in RTL. Is this purpose?

<img src=https://user-images.githubusercontent.com/44481292/112067566-836de400-8b25-11eb-87f1-7705b8676064.png width=250/><img src=https://user-images.githubusercontent.com/44481292/112067615-954f8700-8b25-11eb-8cca-462e86b28d20.png width=250/>

[2021-03-22 22:50] asangma commented on #1819
This seems like it could be a generalized utility or something like that.

**OverflowManager**
* wraps the main list of things
* has a limit property : [ n | "auto" ]*

**OverflowContainer**
* container that receives the overflowing items
* maybe this is a wrapper for Popover?
* probably also needs to be able to insert items into a nested component
  *  e.g. if Actions need to get added to an Acti

[2021-03-22 22:51] AdelheidF commented on #1810
fr-CH is French spoken in Switzerland.

de or es is not any better:

<img src=https://user-images.githubusercontent.com/44481292/112067995-40f8d700-8b26-11eb-811d-56ea982f33a0.png width=250/><img src=https://user-images.githubusercontent.com/44481292/112068063-6554b380-8b26-11eb-90a8-a10c6b15cca8.png width=250/>

Who would do this?

[2021-03-22 22:56] paulcpederson commented on #1810
`de` seems to render `.` correctly. Set locale to `de` on the storybook docs: https://esri.github.io/calcite-components/?path=/story/components-controls-inputdatepicker--simple

[2021-03-22 23:03] asangma commented on #1822
@subgan82 Installed.

[2021-03-22 23:04] AdelheidF commented on #1810
Oh, I see now.

![image](https://user-images.githubusercontent.com/44481292/112068809-e791a780-8b27-11eb-8f27-eb336cd1acc2.png)

It says it's using `document.documentElement.lang` which is set correctly to those languages in my case but it has no effect. If I pass in a `locale` prop then it works correctly, at least for the codes it supports.

[2021-03-22 23:05] AdelheidF commented on #1810
Never mind, fixing the date issue on my side.

[2021-03-22 23:14] paulcpederson commented on #1810
Playing around with the demo pages, setting lang on the html tag works. Wondering if this is a race condition or something? The lang must be set prior to the component being initialized or rendered in the DOM. This is a one-time lookup at initialization (it's not "live" and won't re-render the component if the lang changes later).

[2021-03-22 23:29] driskull commented on #1689
@AdelheidF can you create an issue for the calendar alignment? We need to update to use those new placements added.

[2021-03-22 23:32] AdelheidF opened #1826 "Bug: calcite-input-date-picker calendar alignment"
### Summary
The calendar is always left aligned, even in RTL.

<img src=https://user-images.githubusercontent.com/44481292/112067566-836de400-8b25-11eb-87f1-7705b8676064.png width=250/><img src=https://user-images.githubusercontent.com/44481292/112067615-954f8700-8b25-11eb-8cca-462e86b28d20.png width=250/>

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-03-22 23:32] AdelheidF commented on #1689
https://github.com/Esri/calcite-components/issues/1826

[2021-03-22 23:40] driskull commented on #1758
I'm not seeing that:

![image](https://user-images.githubusercontent.com/1231455/112071562-44dc2780-8b2d-11eb-80c0-65d6187339ef.png)

[2021-03-22 23:45] AdelheidF commented on #1758
That is not really flipped for RTL. Not sure how you got into that state Did you flip to rtl before opening the filter panel?

It should look like this.
<img src=https://user-images.githubusercontent.com/44481292/112071837-dcda1100-8b2d-11eb-8ba0-6a4123c34764.png width=400/>

[2021-03-22 23:48] driskull commented on #1758
![image](https://user-images.githubusercontent.com/1231455/112072130-6b4e9280-8b2e-11eb-8be2-c7e60fea6f5c.png)

[2021-03-22 23:48] subgan82 commented on #1822
@asangma will this be in v1.0.0-beta.52

[2021-03-22 23:54] driskull commented on #1819
I have a PR that will use resizeObserver to handle this dynamic slotting scenario. It needs some more logic to it though.

[2021-03-22 23:54] AdelheidF commented on #1758
You're using `bottom-leading`. I want `bottom-trailing`. Does this work for you?

I used `bottom-end` before, so I thought the corresponding universal version is `bottom-trailing`.
In LTR I want the bottom right corner of the action align with the top right corner of the dropdown.

[2021-03-23 00:07] driskull commented on #1758
hmm toggling rtl/ltr on that element doesn't seem to do anything. Are you sure it's using latest code?

Maybe try having RTL before page loads?

[2021-03-23 00:13] driskull commented on #1758
I think the issue might be because we're setting `dir=` on the host and some state is getting lost here. I'll need to investigate more.

[2021-03-23 14:04] bstifle commented on #1592
@nick-esri can you post a screenshot please

[2021-03-23 15:58] paulcpederson commented on #936
@AdelheidF I've opened a pr to fix this because I can't stand to watch you battle the github bot any longer

[2021-03-23 16:09] driskull opened #1831 "Bug: Remove setting `dir=` on components"
### Summary

Bug: Remove setting `dir=` on the host of components

### Actual Behavior

Components are setting the `dir` attribute on their host and child components. When they do so, it makes it difficult to switch direction in an application because the author has to remove all of these `dir` attributes everywhere.

### Expected Behavior

Instead, we should be using the utility class or only set

[2021-03-23 16:37] asangma commented on #1822
@subgan82 I'm thinking it can be. Would be good to test it out in `@next` yeah?

[2021-03-23 18:06] kMcPherson1 opened #1836 "Bug: Text in Select control does not appear in dropdown menu on iOS device"
### Summary

When operating the Select control within Chrome browser on an iOS device, text does not appear as expected.

https://esri.github.io/calcite-components/?path=/story/components-controls-select--basic

### Actual Behavior

Text does not appear in the dropdown list on iOS device

### Expected Behavior

Text should appear as it does on the desktop browser

### Reproduction Steps

1. Naviga

[2021-03-23 18:45] Csmith246 commented on #1836
This appears to be an issue that arises from the html `select` and `option` native elements. The solution is to not only populate the option's `label` attribute, but also put the text nested into the option: https://stackoverflow.com/questions/35021620/ios-safari-not-showing-all-options-for-select-menu/41749701

I feel like a solution could be created in the `calcite-option` where if only the `lab

[2021-03-23 22:23] caripizza commented on #1831
I'm going to take a stab at `calcite-chip` to start

[2021-03-24 17:16] eriklharper commented on #1810
Looks like it should be easy to update the display number in the input with `Intl.NumberFormat`, but as far as restricting invalid characters based on locale, that would be a bit more involved, and would likely need to be tackled in maybe a second pass.  I'll update once I have more information.

[2021-03-24 21:18] Csmith246 commented on #1073
@jcfranco @asangma  Hey guys, Would you guys be able to tell me what the potential plan is for this going forward? Do you think that this use case warrants a brand new calcite component, or are we going to try to make new configurability options for the `Calcite-Value-List` to handle this? Either way, I have some availability in the coming weeks, and am willing to get involved in the development f

[2021-03-24 21:43] subgan82 commented on #1575
Using the proxy input has issues to keep the `checked` attribute in the sync. So with proxy input `checked` attribute should reflect the value of the `switched` attribute of the `calcite-switch`

[2021-03-24 22:57] AdelheidF commented on #1821
verified with next.127

![image](https://user-images.githubusercontent.com/44481292/112394214-944f5e80-8cb9-11eb-880f-c46b8638c99e.png)

[2021-03-24 22:57] #1821 closed

[2021-03-25 00:11] AdelheidF opened #1842 "Bug: calcite-fab with native hover text"
### Summary

calcite-fab displays the native style hover text. Is this purpose?

<img src=https://user-images.githubusercontent.com/44481292/112399456-78e95100-8cc3-11eb-950b-72741729814f.png width=550/>

Also, this is from the doc:
<img src=https://user-images.githubusercontent.com/44481292/112399364-51928400-8cc3-11eb-9932-68d9269cda62.png width=550/>

But if I don’t provide a label and my text

[2021-03-25 00:16] driskull commented on #1842
We also have these:

9 results - 9 files

src/components/calcite-block/calcite-block.tsx:
  173              onClick={this.onHeaderClick}
  174:             title={toggleLabel}
  175            >

src/components/calcite-block-section/calcite-block-section.tsx:
  121            tabIndex={0}
  122:           title={toggleLabel}
  123          >

src/components/calcite-card/calcite-card.tsx:
  147

[2021-03-25 18:47] AdelheidF opened #1844 "Enhancement: calcite-popover-manager not working through shadow dom"
### Description

I tried this (1)
![image](https://user-images.githubusercontent.com/44481292/112526777-8ce29080-8d5f-11eb-9188-3c9bca74061e.png)

and this (2)
![image](https://user-images.githubusercontent.com/44481292/112526896-af74a980-8d5f-11eb-93e4-3755832b31fe.png)

and around the action that opens the popover (3)
![image](https://user-images.githubusercontent.com/44481292/112528795-ccaa7780

[2021-03-25 18:47] julio8a opened #1845 "Bug: Date picker: Range, end date selected hover style"
### Summary
When hovering over the active range end date there is a gray bg that should not show up.
![image](https://user-images.githubusercontent.com/6144462/112526985-c87d5a80-8d5f-11eb-86c8-9cd4f8c1cbd5.png)

### Actual Behavior
No gray background behind the selected date hover.

### Expected Behavior
No gray background when hovering over end date selected range

### Reproduction Steps
Hover o

[2021-03-25 19:14] julio8a opened #1846 "Share the upcoming release changes in the changelog"
### Description
Folks would like to be aware of breaking changes earlier.

### Which Component
This applies to all components.

[2021-03-25 19:22] driskull commented on #1844
The problem is querying all the popovers that need to be closed. If they cross shadow DOM boundaries I cant query them to close them. So a popover manager needs to be in each shadow DOM that exists for it to work.

[2021-03-25 20:03] driskull commented on #1844
Sorry adelheid :(

[2021-03-25 20:03] #1844 closed

[2021-03-25 20:22] jcfranco commented on #1527
@AdelheidF (2) should be fixed now.

Could you help verify w/ @next when you get a chance? Thanks!

[2021-03-25 22:06] driskull commented on #1842
This is on purpose for now. We may opt to change it to the `calcite-tooltip` at some point.

I'll get that fixed.

In the future, we can decide which components we should change `title` attributes to be `calcite-tooltip`.

[2021-03-25 22:15] AdelheidF commented on #1527
This works fine now, tested locally with next.129. Thanks.

[2021-03-25 22:15] #1527 closed

[2021-03-26 16:55] asangma opened #1849 "Expose a CSS var for Panel a base width."
### Question
Currently the CSS vars for Panel widths are defined in the shadow.
It could be useful to users to be able to adjust these for their purposes.

I propose we expose these and allow users to overwrite them.
It would probably mean having a var for each width-scale.

Currently it looks like this inside of Panel
[code]

We will offer a base panel-width var at the global level.

[code]

Exis

[2021-03-26 16:55] asangma commented on #1849
cc @kevindoshier

[2021-03-26 18:09] jgrayson-apl opened #1850 "Bug: calcite-filter used in calcite-pick-list with dark theme doesn't use dark theme font color"
### Summary
calcite-filter used in calcite-pick-list with dark theme doesn't use dark theme font color so we can't see what is being typed

### Actual Behavior
font color is same as background

### Expected Behavior
light font color so we can see what we're typing

### Reproduction Steps

[code]

[2021-03-26 18:37] macandcheese commented on #1849
I've run up to this frequently recently.

I'd also encourage allowing override of `flex-direction` in some way for the `.main` div in the shadow root of `calcite-shell`.

Allowing this to be user-configured would mean that I can stack my panels for certain screen sizes as I need to. Currently I need to access that `.main` div via JS and manually change that `flex-direction` property:

![Screen Sho

[2021-03-26 18:42] nick-esri commented on #1592
Since Description, Helper Text and Error Message are presented beneath an input, they are mutually exclusive:
- **Description**: A string placed beneath an input that provides instructions as to how to fill out the field. Descriptions are optional and restricted to a maximum of 255 characters.
- **Helper Text**: A string placed beneath an input that provides character constraint information for st

[2021-03-26 20:05] ethanbdev opened #1852 "Bug: Cannot type in `color-picker` hex input in Firefox"
### Summary
Cannot type in the hex input in the color picker component if the user highlights the text and types, and if the user backspaces then types, it works.

Happens in Firefox, not chrome, have not tested other browsers.

### Reproduction Steps
**update**
1. Highlight all of the text in the hex input, then try to type
2. Typing will not input any values, you have to use the backspace and en

[2021-03-26 20:21] AdelheidF commented on #1506
@dhrumil83 verified this.

[2021-03-26 21:18] asangma commented on #1849
@macandcheese I could see that.

I would suggest utilizing our Layout interface and call the property `layout`.

That being said, I think with your mobile stuff, there's the additional complexity of `content-behind` in Shell.

[2021-03-26 21:49] driskull commented on #1849
I'm ok with exposing them. Maybe we don't document them for a while though incase we need to refactor them?

[2021-03-26 21:50] asangma commented on #1849
@driskull That makes sense to me. That says to me that we should leave this out of the Tailwind config for now too.

[2021-03-26 21:53] driskull commented on #1849
My only concern about this is that by exposing this, we are intentionally allowing inconsistencies between our apps. There should be a good reason for it :)

[2021-03-26 22:13] macandcheese commented on #1849
I was thinking it could just be a css var to not clutter with a prop, and avoid doccing it unless needed: `--calcite-shell-flex-direction`. Not sure about content-behind but just changing the flex direction works for my few use cases that don't use content-behind. So that might just not be applicable for those types of layouts. Simple stacking works like this though.

[2021-03-26 22:22] asangma commented on #1849
@macandcheese Sounds like we need a new issue. :)

[2021-03-26 22:26] asangma commented on #1849
@driskull I see your concern. In this case, it's the sizing of the panel which I think can vary between apps without negatively affecting the cross-app experience.

I am also thinking that selecting the perfect panel sizes for all apps is a hard ask, so adding in some flexibility might be nice.

A middle ground would be to only expose a single CSS var that the other width-scale values would be bas

[2021-03-26 23:08] #743 closed

[2021-03-26 23:08] asangma commented on #743
Closing in favor of a different approach.

[2021-03-27 01:49] #1502 closed

[2021-03-29 03:17] macandcheese commented on #1125
Keep open

[2021-03-29 12:22] CodeBarker commented on #1849
If we are worried about consistency I think we could solve the preplanned issue slightly differently too.

Preplanned only has the left panel
![image](https://user-images.githubusercontent.com/3944714/112835618-8312a300-9067-11eb-9945-238bae714d79.png)

I think an equally valid option to consider is that if there is no right actionbar/panel in the app that the left panel doesnt scale width down as

[2021-03-29 14:37] asangma commented on #1849
Thanks @CodeBarker!

@driskull I think I will take a whack at exposing a base panel width CSS variable that will set the `s` size. `m` and `l` will be calculated off of that.

I can make the current values stay approximately the same.

[2021-03-29 17:35] julio8a commented on #803
This is still needed

[2021-03-29 19:24] COV-GIS opened #1856 "Bug: native change event target value is not reset on calcite-input clear button click until clear button is released"
### Summary

`calcite-input` clear button click can be captured via `change` event and checking event target value for empty string. The component clears and event fires immediately on clicking the clear button, however the event target value does not change until the user releases the clear button and the input refocuses. Initially suspected a race condition, but upon further testing determined t

[2021-03-29 20:17] driskull commented on #1850
@asangma I think it just needs some styling work.

[2021-03-29 20:18] driskull commented on #1846
@jcfranco would it be possible to generate an updated `NEXTCHANGELOG.md` during the `next` build generation?

[2021-03-29 21:11] tjameswhite commented on #1831
I'm not sure this approach is going to solve the problem -- it looks like this just moves it up one level. If I'm reading this right you have moved component level `dir` to a class wrapping the element.

We are setting `dir` on the `body`. This needs a pattern more like `[dir="rtl"] [calcite-component] {//do something}`

[2021-03-29 21:33] driskull commented on #1831
Actually, it moves it down a level. It keeps the class internal.

This still doesn't solve telling all the components to re-render if a higher level dir attribute changes. We would need some sort of store for that.

[2021-03-29 22:16] caripizza commented on #1831
@driskull should this file be updated too?
https://github.com/Esri/calcite-components/blob/master/conventions/README.md#i18n

[2021-03-29 22:24] driskull commented on #1831
Yes definately

[2021-03-29 22:49] paulcpederson commented on #1831
@driskull yeah adding a store would be awesome. Going to write some thoughts. Maybe we should make a new issue to capture this?

In the component I think it would look like:

[code]

The store itself would be pretty simple:

[code]

Not totally sure how you would get the store into the library to allow end devs to manipulate it. Something like this would be great, but I don't know if it's possible

[2021-03-29 22:59] driskull commented on #1831
Yeah I don't think we should tackle the store at this point. I think this issue is a step in the right direction though so we're not internally setting `dir` which then becomes difficult to change.

[2021-03-29 23:09] driskull commented on #1831
I took a stab at some of them. Could others put their GitHub handle next to the remaining components?

[2021-03-29 23:53] paulcpederson commented on #1831
I see what you did there.

[2021-03-30 01:39] jcfranco commented on #1846
This seems to be a duplicate of https://github.com/Esri/calcite-components/issues/1076.

I was hoping `standard-version` would have made an update to make this easier, but it doesn't seem to be the case. I think it's possible to do this, but I'd like to avoid managing two changelogs. Instead, I would propose updating our tooling to manage an unreleased/upcoming section in the changelog for anythin

[2021-03-30 02:25] macandcheese commented on #1014
Valid

[2021-03-30 02:26] macandcheese commented on #1228
Valid

[2021-03-30 14:20] bstifle commented on #1852
getting the same bugs in Brave

[2021-03-30 15:26] caripizza commented on #1500
Grabbing `calcite-button` today

[2021-03-30 15:40] jcfranco commented on #1852
Installed.

[2021-03-30 15:41] jcfranco commented on #1852
@ethanbdev could you help verify this w/ `@next`? Thanks! 🙇🏼‍♂️

[2021-03-30 15:55] ChristopheSuter opened #1863 "Bug: calcite-date-picker - selecting day activates previous day in certain cases"
### Summary
Selects previous day when click on Calendar. Screenshot click on March the 24th selects March the 23rd

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info
![image](https://user-images.githubusercontent.com/78811924/113018515-ee9c6380-9180-11eb-8e7d-08a38217c995.png)

[2021-03-30 16:23] driskull commented on #1846
@jcfranco I had Julio create this issue but the request came from @AdelheidF. We just need a more visible way to see upcoming changes rather than a user having to checkout the repo and run a specific script.

As for the priority, I don't think its high. Probably a low priority that could increase if more users ask us for upcoming changes frequently.

[2021-03-30 16:36] macandcheese commented on #1786
Hey @joeyHarig - do you have a screenshot of a more macro view of that UI?

Right now accordion items don’t really have facility for being dismissed or deleted (you can obviously just remove from DOM, but if the trash can in the screenshot above deletes the accordion item it is contained within, that may be a weird UI moment).

We have action slots in block and other components so there is precede

[2021-03-30 16:39] macandcheese commented on #1248
@bstifle @asangma was this added already?

[2021-03-30 16:41] macandcheese commented on #1157
Still valid - apologies for delay on this @jgibson02 - I run into the need occasionally as well.

@bstifle anything here? The same indicator icon from action makes sense. We just need to make sure it is aligned and works with all combinations of indicator-icon positions and decorative icons!

[2021-03-30 17:04] AdelheidF commented on #1244
That seems to be good now.

![image](https://user-images.githubusercontent.com/44481292/113026978-744aef80-913e-11eb-92c5-83dfab1b9337.png)

[2021-03-30 17:04] #1244 closed

[2021-03-30 17:08] jgrayson-apl opened #1865 "Bug: calcite-input configured with precision > 0 doesn't format values correctly"
### Summary
calcite-input configured with precision > 0 doesn't format values correctly

### Actual Behavior
![image](https://user-images.githubusercontent.com/5324720/113028059-b163b180-913f-11eb-8578-9742293def47.png)

### Expected Behavior
![image](https://user-images.githubusercontent.com/5324720/113028134-c7717200-913f-11eb-9bff-ae992529cbb5.png)

### Reproduction Steps

` <calcite-input

[2021-03-30 17:11] macandcheese commented on #1865
Hi @jgrayson-apl , could you check out master / next and see if this fix by @paulcpederson took care of this https://github.com/Esri/calcite-components/pull/1830?

[2021-03-30 18:18] joeyHarig commented on #1786
@macandcheese Thank you for taking a look at this.

We are building a UI that allows users to configure notifications and subscribe to custom events. There could be several events and each event may have several expressions. We are using accordions to collapse the events the user isn't currently working on.

The user needs to be able to delete events and it seems like a better use of space to plac

[2021-03-30 18:55] bstifle commented on #1248
i think so

[2021-03-30 19:11] ethanbdev commented on #1831
Quick question @driskull, does this change make it so the `dir` attribute does not need to be set on the component for it to pick up the browser direction?

[2021-03-30 19:56] ethanbdev commented on #1831
Cool, thanks 😃

[2021-03-30 20:16] ethanbdev commented on #1852
Looks good, thanks @jcfranco for the quick fix 👏

[2021-03-30 20:16] #1852 closed

[2021-03-30 20:37] driskull commented on #1831
Updated issue to reflect that we can still set the `dir` attribute on shadowed elements. Just not on light DOM elements or on the host.

Eventually, we can re-render shadowed DOM elements when necessary based on an ancestor `dir` change.

[2021-03-30 21:49] jcfranco commented on #1836
@Csmith246 Thanks for the extremely useful info. PR coming up!

[2021-03-30 22:20] jcfranco commented on #1836
Installed. @kMcPherson1 Can you help verify this w/ `@next` (should update in ~15 mins)?

[2021-03-30 22:52] #1575 closed

[2021-03-31 15:20] caripizza commented on #1863
Hi @ChristopheSuter - do you have any information? Please provide your snippet of code, the calcite-components npm package version you're using, your browser version - anything to help us investigate this issue.

[2021-03-31 15:55] ChristopheSuter commented on #1863
Hi,
Here is some code
`<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">

     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <meta name="mobile-web-app-capable" content="yes">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="apple-mobile-web-app-status-bar-style" content="default">
     <script typ

[2021-03-31 16:01] ChristopheSuter commented on #1863
Hi,
Here is a codepen, I am using latest version of Chrome
https://codepen.io/christophesuter/pen/JjEEbYd

[2021-03-31 16:10] caripizza commented on #1863
@ChristopheSuter I don't see the issue in your CodePen. How can I reproduce?

[2021-03-31 16:18] AdelheidF commented on #1542
John Nelson ran into it as well: https://devtopia.esri.com/WebGIS/arcgis-webviewer-app/issues/2981

[2021-03-31 17:06] ChristopheSuter commented on #1863
I have the same behavior in Chrome, Edge and FF, could this be linked to my locale (fr-ch) ?

[2021-03-31 17:13] ChristopheSuter commented on #1863
Chrome Version 89.0.4389.90, Edge Version 89.0.774.63 (Official build) (64-bit) and FF 87.0 (64-bit)

[2021-03-31 18:29] caripizza commented on #1863
@ChristopheSuter Based on what I know, you need to either set the document's `lang` attribute, or set the `locale` attribute on the calendar itself to see the proper locale data appear.

Here's an example via the 1st route: https://codepen.io/caripizza-the-animator/pen/GRrrmyy

(Note that CodePen doesn't allow access to higher-up elements like the `<html>` tag, so I went with a Javascript approach

[2021-03-31 18:33] AdelheidF opened #1874 "Bug: calcite-select height and RTL issues"
### Summary

(1)
first row is a calcite-button, second row is a calcite-select, third row is a calcite-input. The components no longer have the same height.

production:
<img src=https://user-images.githubusercontent.com/44481292/113192995-50f27400-9214-11eb-8b1a-d98d0f6f4ff0.png width=200/>

devext (next.127)
<img src=https://user-images.githubusercontent.com/44481292/113193165-8303d600-9214-11eb

[2021-03-31 18:58] AdelheidF commented on #1842
sorry never mind....

[2021-03-31 20:22] AdelheidF commented on #1842
Tested this now with next.134.

I have textEnabled=true, text="Add expression", and no label.

Now I see nothing on hover. This is fine with me, but now the doc doesn't fit anymore.

[2021-03-31 20:25] driskull commented on #1842
It will only show the native tooltip when not textEnabled. We can update the doc for that.

[2021-03-31 20:27] driskull commented on #1842
https://github.com/Esri/calcite-components/pull/1875

[2021-03-31 20:49] #1842 closed

[2021-03-31 21:34] driskull opened #1876 "Unstable Test: FAIL src/components/calcite-combobox/calcite-combobox.e2e.ts (74.343 s)"
## Summary

This test seems unstable. Fails every once and a while.

**Which component?:**

calcite-combobox

**Which test(s)?:**

FAIL src/components/calcite-combobox/calcite-combobox.e2e.ts (74.343 s)

**Test error:**

FAIL src/components/calcite-combobox/calcite-combobox.e2e.ts (74.343 s)
  ● calcite-combobox › should filter the items in listbox when typing into the input
    expected event "ca

[2021-03-31 21:43] jcfranco commented on #1876
@driskull can you assign someone to this, so we don't lose track of it?

[2021-03-31 23:00] driskull commented on #1819
Installed.

[2021-03-31 23:07] AdelheidF commented on #1819
cc @kevindoshier

[2021-03-31 23:18] AdelheidF commented on #1874
Something is majorly wrong with `calcite-select` suddenly in RTL (tested with next.127 and next.133). I assume this is related to the height issue.

![image](https://user-images.githubusercontent.com/44481292/113222688-5ebbef80-923c-11eb-8d8e-a2a2bdeb8530.png)

production is fine

![image](https://user-images.githubusercontent.com/44481292/113222796-a04c9a80-923c-11eb-8429-12901635e57f.png)

[2021-03-31 23:21] jcfranco commented on #1409
This should be fixed now.

Self-verified with the [provided test case + `@calcite-components@1.0.0-next.138`](https://jsbin.com/cekudiqaka/1/edit?html,js,output).

[2021-03-31 23:21] #1409 closed

[2021-03-31 23:31] AdelheidF commented on #1826
Not seeing a difference with next.133

![image](https://user-images.githubusercontent.com/44481292/113223472-14d40900-923e-11eb-98b6-ef7c4cab04ab.png)

![image](https://user-images.githubusercontent.com/44481292/113223510-2f0de700-923e-11eb-8ede-ed77fca37add.png)

[2021-03-31 23:38] AdelheidF opened #1880 "Bug: calcite-input-date-picker issue with Arabic"
### Summary

This does not seem correctly formatted for Arabic.

![image](https://user-images.githubusercontent.com/44481292/113224006-4bf6ea00-923f-11eb-9e33-086e057a9ca1.png)

Hebrew is fine.

![image](https://user-images.githubusercontent.com/44481292/113224064-6f219980-923f-11eb-9eae-43ef9d063a9a.png)

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-03-31 23:51] driskull commented on #1826
I'll open another PR> I see the issue.

[2021-03-31 23:56] driskull commented on #1880
@AdelheidF this would be for Paul.

[2021-03-31 23:58] paulcpederson commented on #1880
@AdelheidF can you give more details, what locale string are you sending?

[2021-04-01 00:02] AdelheidF commented on #1880
![image](https://user-images.githubusercontent.com/44481292/113225584-da209f80-9242-11eb-98c1-4e8a51a2070e.png)

[2021-04-01 00:04] AdelheidF commented on #1880
I'm not sure if this is the case here, but when a string contains things like slashes, you can't build the fully formatted string in the code. We normally have to add the complete string with placeholders into the language file and the translators change it in a way so that the formatting is correct in the UI.

[2021-04-01 00:09] paulcpederson commented on #1880
Not there are bigger problems with the `input` part of this component. Previously this was one component and arabic rendered correctly, but looks like now it's wrong. If you open the calendar picker you'll see the right to left +correct arabic numerals, day names, month names, etc.

[2021-04-01 00:17] paulcpederson commented on #1863
@caripizza most likely this is due to @ChristopheSuter 's time zone. @ChristopheSuter what time zone are you experiencing this issue in?

The easiest way to set timezone and debug on mac (without changing your whole OS) is to launch a new chrome instance passing a TZ config:

[code]

The reason I think it may be time zone related is that if you select "today" and somebody is across the date line,

[2021-04-01 00:22] driskull commented on #1880
It might be fine after next is updated 🤷  :)

[2021-04-01 00:45] paulcpederson commented on #1767
@johnmgriffith do we have these glyphs available? Assuming you would want these drawn to fit the 11x11 artboard right?

Could also have a `calcite-adornment` component which you could pass as the default slot to an icon. This would enable you to use an adornment with other components as well like `calcite-avatar` or `calcite-action`

[2021-04-01 00:59] paulcpederson commented on #1712
This must be for some other component which uses an icon internally? Icons inside links work correctly in terms of their position within the link flow:

https://codepen.io/paulcp/pen/bGggKNa

The icon doesn't flip itself. We'd need to add  `icon-start-mirror` `icon-end-mirror` for that.

@ajoshipuraGH what would be really helpful would just be a copy + paste of the source elements that display thi

[2021-04-01 01:21] AdelheidF commented on #1880
Seems to work with next.139

![image](https://user-images.githubusercontent.com/44481292/113230440-d9d9d180-924d-11eb-8cb4-4243dbccc597.png)

[2021-04-01 01:22] AdelheidF commented on #1826
works with next.139

![image](https://user-images.githubusercontent.com/44481292/113230556-19082280-924e-11eb-84f3-2041a917e392.png)

[2021-04-01 01:41] macandcheese commented on #1712
We do have that prop, icon-flip-rtl which can accept start, end, or both:

https://github.com/Esri/calcite-components/tree/master/src/components/calcite-link#properties

[2021-04-01 01:54] #1477 closed

[2021-04-01 01:56] paulcpederson commented on #1712
OK, yeah we should add that to the storybook. Works great https://codepen.io/paulcp/pen/bGggKNa . I'm going to close this.

@ajoshipuraGH feel free to reopen with a code sample and we can look into it more.

[2021-04-01 01:56] #1712 closed

[2021-04-01 05:27] raje9276 commented on #1880
@AdelheidF @paulcpederson Why does the input (Text box) shows latin number but the Calendar control shows Indic numbers?

The right behavior should be Text box matching the calendar control
Example: WPF Control
![image](https://user-images.githubusercontent.com/30269081/113247610-3b129c80-9270-11eb-9dbc-098899e1d189.png)

[2021-04-01 05:58] ChristopheSuter commented on #1863
@caripizza I had already tried this, same problem, @paulcpederson I'm on a PC .. I am in Central European Time (GMT+2), in Switzerland

[2021-04-01 06:33] ChristopheSuter commented on #1863
![image](https://user-images.githubusercontent.com/78811924/113252745-8191e680-92c4-11eb-9d9b-ab6d33fe0d97.png)
![image](https://user-images.githubusercontent.com/78811924/113252889-bb62ed00-92c4-11eb-8e88-c942b5b26a38.png)
I changed the Javascript Engine timeZone (to California) with that Chrome Extension, but still same behavior

[2021-04-01 15:22] paulcpederson commented on #1406
@bstifle eta is whenever #1885 lands 😄

[2021-04-01 15:30] caripizza commented on #1863
@ChristopheSuter can you provide your snippet of code? The last CodePen you provided included `locale="en"` on the calendar component so I want to make sure that's not an issue.

[2021-04-01 15:55] ChristopheSuter commented on #1863
@caripizza is this you need ? I updated it with locale='fr-ch' and your javascript ..
https://codepen.io/christophesuter/pen/JjEEbYd

[2021-04-01 16:19] bstifle opened #1886 "Bug: Color Picker "saved colors" faint outline is off spec"
### Design
Light mode outline: rgba(0, 0, 0, .15)
![image](https://user-images.githubusercontent.com/14083530/113323550-b3627780-92db-11eb-9ea0-a08d37066edc.png)

Dark mode outline: rgba(255, 255, 255, .15)
![image](https://user-images.githubusercontent.com/14083530/113323488-a04fa780-92db-11eb-894a-45f6ae9ec041.png)

### Current build
(colors close to the background get lost):

![image](https://u

[2021-04-01 16:36] kevindoshier commented on #1819
It works but there needs to be either an option or have the default behaviour to hide the popover once the action within the popover is clicked, otherwise its 2 clicks to open something, one to active the action, and another to close the overflow menu.

Also in the app we use the popover with the pointer when we show popover menus off of the actionBar, this one does not use that and doesnt look co

[2021-04-01 16:39] julio8a commented on #1886
This should be addressed in the refactor: #1679

[2021-04-01 16:46] driskull commented on #1819
@kevindoshier the `calcite-action-group` has a `menuOpen` property which you can set to false to close any open menus on action click.

We can create an event on `calcite-action` like `calciteActionClick` that you could listen on the action-bar? Would that help to know if one is clicked?

I'll add the pointer arrow for this thanks.

---

@kevindoshier can you open an issue for @asangma and @caripi

[2021-04-01 17:05] kevindoshier opened #1888 "Enhancement:"
### Description
@kevindoshier can you open an issue for @asangma and @caripizza to address the styling part? I know that the popover added rounded corners but maybe that was a bad call since the action buttons are not rounded.

![action_bar](https://user-images.githubusercontent.com/11093161/113328868-b193b680-92d1-11eb-9c53-923393882c5e.png)

![rounded_cornders](https://user-images.githubusercont

[2021-04-01 17:11] driskull commented on #1819
@asangma @julio8a When should the popover have a pointer? It seems with `calcite-panel`, we don't use a pointer right now and I'd like this to be consistent. For the action menu, should we always have a pointer?

Is this ok?

![image](https://user-images.githubusercontent.com/1231455/113329634-a9884680-92d2-11eb-9069-3a66bc536acc.png)

[2021-04-01 17:31] kevindoshier commented on #1819
This will be perfect, but I tried it and setting menuOpen to false on the action-group didnt hide the menu, im doing something like this

`const groups = container.querySelectorAll("calcite-action-group");
            groups.forEach(function (element) { return element.menuOpen = false; });
        };
`

[2021-04-01 17:34] kevindoshier commented on #1819
One other thing I noticed is the menus only get put into the overflow actions if the page is resized, if the page starts off at a height where they should be in the overflow I have to resize the page to trigger it,  is there something the app should do to just resize after the page loads?

[2021-04-01 17:36] driskull commented on #1819
@kevindoshier do you have an app I could look at?

[2021-04-01 17:39] kevindoshier commented on #1819
Its non-minified, will take a bit to load

http://kdoshier.esri.com/mapviewer/dist/index.html

[2021-04-01 17:50] driskull commented on #1819
Thanks for sharing @kevindoshier. I see the issues. 👍

[2021-04-01 17:55] kevindoshier commented on #1819
This is an awesome improvement,  I really like that its all just automatic, will be very helpful for any clients using this

[2021-04-01 17:57] driskull commented on #1819
Yeah, using the `resizeObserver` makes it possible. You should look into using the resizeObserver anywhere you need to know where the width or height of something changes. Such as panel widths,etc.

[2021-04-01 18:04] #1888 closed

[2021-04-01 18:04] driskull commented on #1888
Being addressed during ongoing refactoring

[2021-04-01 19:31] paulcpederson commented on #1880
I agree, but even the WPF control has mixed numbers, notice the year is in arabic...

[2021-04-01 19:45] driskull commented on #1819
@kevindoshier I think all those issues have been addressed. Can you test with the latest `next` version once it's deployed?

[2021-04-01 19:49] kevindoshier commented on #1819
@driskull - Awesome!  Thanks, I will test as soon as the `next` version is available

[2021-04-01 20:49] bstifle commented on #1592
![image](https://user-images.githubusercontent.com/14083530/113352375-c5571100-9301-11eb-8441-24b1102dca8e.png)

so if we use ui-danger-hover, it passes on all 3 foreground colors.

I'm not convinced this is an improvement

[2021-04-01 22:10] TheBlueDog commented on #1592
This is using `v-rr-180` (`#B3000F`) on top, as compared to `h-rr-070` below. It passes AA on all. Shown here against `ui-foreground-3`

![Screen Shot 2021-04-01 at 6 07 53 PM](https://user-images.githubusercontent.com/5419306/113359164-3653f400-9315-11eb-95d0-c36485889f50.png)

[2021-04-01 22:13] babakbolour commented on #1880
@paulcpederson what Rajeev is pointing to is the 'date format' issue (should be <day>/<month>/<year>). Presentation of the digits itself (indic vs western)  is a diff story; but both acceptable at this time.

[2021-04-01 22:45] bstifle commented on #1592
Right, yeah that color is about the same as #A82B1E visually.

We could either:
- keep existing
- use ui-danger-hover for these error states
- or rework all of the reds on light theme to be darker

[2021-04-01 23:16] AdelheidF opened #1896 "calcite-action-menu: when opening menu set focus on first action"
### Summary
If the popover opens the focus is not inside the popover.

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-04-01 23:17] AdelheidF opened #1897 "Bug: calcite-action-menu - close popover when clicking outside"
### Summary
Close popover when clicking outside, same way as calcite-dropdown works.

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-04-01 23:19] nick-esri commented on #1592
If the text is being tinted we probably don’t need the border of the field to be red- feels like overkill.

Tangentially related, can I ask about the size of the icon? It looks a little large compared to the font size.

Agree with Bryan on the super red box- not a fan either.

[2021-04-01 23:26] eriklharper opened #1900 "Bug: calcite-label overrides slotted children's disabled property"
### Summary

`calcite-label` shouldn't override the `disabled` prop on slotted children.

### Actual Behavior

When a `calcite-label` wraps other `calcite-*` components that have their `disabled` attribute set, label will reverse that setting.

### Expected Behavior

The label component shouldn't override any children attributes.

### Reproduction Steps

[code]
Result: calcite-switch is enabled wh

[2021-04-01 23:57] TheBlueDog commented on #1592
And the red border get hidden by the focus ring. Unless we can change the focus ring color on fields with errors to red.

[2021-04-02 00:03] #1900 closed

[2021-04-02 16:00] jcfranco commented on #1886
Installed.

[2021-04-02 18:21] kevindoshier commented on #1819
@driskull - looks good!  The only issue I see remaining is initally at load time the actions arent put into the overflow until I resize the window, everything else looks great though

[2021-04-02 18:22] nick-esri commented on #1592
@bstifle - I know we probably need to drive to a decision here.

On reflection I think it's reasonable to "keep existing" if that means going with with the red border / red focus ring when the field is in error. Can you confirm that when the field is in focus the border will be red too?

I quite like some other aspects of @capeoples proposal in the description:
![](https://user-images.githubuserco

[2021-04-02 18:31] driskull commented on #1819
Cool. I'll get that fixed.

[2021-04-02 18:54] TheBlueDog commented on #1592
Tailwind has a built in solution for handling the focus ring, color, width, inset, opacity and offset. Seems like that could be really useful here. https://tailwindcss.com/docs/ring-color

[2021-04-02 20:02] AdelheidF opened #1906 "Bug: calcite-action-menu styling"
### Summary
In the filter component I switched from a calcite-dropdown to a calcite-action-menu.

dropdown:
<img src=https://user-images.githubusercontent.com/44481292/113449318-6ac9bd80-93b2-11eb-81b6-edf763eea4f5.png width=200/><img src=https://user-images.githubusercontent.com/44481292/113449425-a82e4b00-93b2-11eb-9ad4-57597b09cf1a.png width=200/>

action-menu:
<img src=https://user-images.gith

[2021-04-02 20:06] AdelheidF commented on #1897
verified locally with next.140

[2021-04-02 20:06] #1897 closed

[2021-04-02 20:09] driskull commented on #1906
@asangma we should decide if the action menu should have a pointer or not.

Since both the `panel` and `action-bar` use the `calcite-action-menu`, we should probably be consistent right?

[2021-04-02 20:19] driskull commented on #1819
@kevindoshier I'm going to close this one out. If it's still broken after 'next.143' release then we can create another issue.

[2021-04-02 20:19] #1819 closed

[2021-04-02 20:45] kevindoshier commented on #1819
Sounds good, thanks!

[2021-04-02 22:09] AdelheidF commented on #1896
Tested locally with next.142.

It now sets the focus on the first action in the menu after opening the menu, but when using the up and down arrows the focus doesn't move, unlike calcite-dropdown. Also, hitting space doesn't execute the action. As a keyboard only user it's impossible to select the focused action or move down to another one.

[2021-04-02 22:32] julio8a commented on #1874
@AdelheidF,

When I try to access that link in Chrome the page just keeps trying to load content and my computer fan goes crazy but nothing ever loads. Not sure if this is on my end?
Video:
[chrome-page-doesn't-load.zip](https://github.com/Esri/calcite-components/files/6251439/chrome-page-doesn.t-load.zip)

On Safari I am able to access the app and the RLT on select looks fine.

![image](https://u

[2021-04-02 22:49] AdelheidF commented on #1874
Maybe you run into the shield page on devext. Try this instead.

https://qaext.arcgis.com/apps/mapviewer/index.html
does this load for you? Just accept some of the info messages.
Now try this
https://qaext.arcgis.com/apps/mapviewer/index.html?url=https://services1.arcgis.com/4yjifSiIG17X0gW4/arcgis/rest/services/FatalAccidents2017/FeatureServer/0
does the layer load?
Now try this in Arabic
https:/

[2021-04-02 22:56] AdelheidF commented on #1874
https://github.com/Esri/calcite-components/pull/1909

[2021-04-02 23:00] driskull commented on #1896
Ah, forgot this was using activedescendent. This will need some more work then 👍

[2021-04-04 22:18] jcfranco commented on #1406
Installed. Thanks @paulcpederson for tackling this one! 🎉

@capeoples could you help verify? It should be available for testing on `@esri/calcite-components@next` or when 1.0.0-beta.52 ships.

[2021-04-05 16:14] TheBlueDog commented on #1906
Following. Agreed. The mix of radius and non-radius seems odd.

[2021-04-05 16:20] bstifle commented on #1592
@nick-esri

yeah I think making the text gray could be nice.

Yes, red error borders are gonna be in for sure. As far as focusing then and staying red, i think that makes sense for most cases, but i believe we'll have a way to disable that.

[2021-04-05 16:35] macandcheese commented on #1906
Could those actions just render as dropdown-items of "selection-mode:none" in a dropdown which would still not have a tail but have the correct 4px border radius?

[2021-04-05 16:39] jcfranco commented on #1836
Verified with Chrome (iOS) + the latest doc update: https://esri.github.io/calcite-components/?path=/story/components-controls-select--basic.

[2021-04-05 16:39] #1836 closed

[2021-04-05 16:40] jcfranco commented on #1886
Closing as self-verified.

[2021-04-05 16:40] #1886 closed

[2021-04-05 16:42] jcfranco commented on #1406
Verified w/ beta.52 update of https://esri.github.io/calcite-components/?path=/story/components-controls-colorpicker--simple.

[2021-04-05 16:42] #1406 closed

[2021-04-05 16:45] asangma opened #1911 "Bug: Tooltip "beak" shadow is on top"
### Summary
The pointy beak part is casting a shadow on the main square part.

### Actual Behavior
![image](https://user-images.githubusercontent.com/12503298/113599398-6a6c3500-95f3-11eb-9697-090a86c76fb4.png)

### Expected Behavior
A unified shadow.

### Reproduction Steps

1.

### Relevant Info

[2021-04-05 16:54] caripizza commented on #1911
@asangma how can I reproduce the issue?

[2021-04-05 17:12] bstifle commented on #1911
@caripizza its clear in the documentation of the issue:

![image](https://user-images.githubusercontent.com/14083530/113602374-259ec900-9608-11eb-83f1-f9a90b0617ae.png)

[2021-04-05 17:25] jcfranco commented on #1622
@ethanbdev Could you help verify this one? 🙇🏼‍♂️

[2021-04-05 17:26] jcfranco commented on #1758
@driskull Can this be verified or does it need a follow-up issue?

[2021-04-05 17:27] driskull commented on #1758
I think this was fixed. @AdelheidF ?

[2021-04-05 17:48] AdelheidF commented on #1758
Just tried it again with next.142 and it seems to work correctly now with `bottom-trailing`.

[2021-04-05 17:48] #1758 closed

[2021-04-05 18:39] joeyHarig opened #1913 "Enhancement: Append to body prop"
### Description
Introduce an append-to-body prop to components that use popper.js (dropdown, popover, input-date-picker etc). These types of components may be used within modals, drawers, or other wrappers that make it difficult to show the full popover.

`append-to-body` would determine if the popover would be added as a direct child to the `<body>` tag.

### Acceptance Criteria
- Will need to ca

[2021-04-05 19:18] ethanbdev commented on #1622
Looks good to me!
https://codepen.io/eborgen/pen/VwPaMVN

My only comment would be to document that "filter" is an option for the `focusId` argument.

[2021-04-05 20:16] asangma opened #1914 "Bug: Panel and ShellPanel need flex grow, shrink, and basis defined"
### Summary
The height is not calculated correctly in Safari due to a lack of flex definitions.

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-04-05 21:04] jcfranco commented on #1622
Noted.

---

Closing as verified, thanks!

[2021-04-05 21:04] #1622 closed

[2021-04-05 21:07] joeyHarig opened #1916 "Bug: Combobox max-items being ignored"
### Behavior
When `allow-custom-values` is true and `max-items` is greater than 0, the input of a custom value causes the `max-items` prop to be ignored (showing the full list).

### Expected Behavior
Custom values should not influence the application of `max-items` to the combobox dropdown.

### Reproduction Steps

1. Go to the combobox in the storybook
2. Set `max-items` to 4
3. Set `allow-custo

[2021-04-05 21:27] kellyhutchins opened #1917 "A11y: The aria-expanded in calcite-block should be on the button not the article element"
### Summary
This issue was reported during an accessibility audit of the configurable apps. Here's how they reported the issue:

The info panel's points of interest expandable/collapsible controls contain invalid ARIA attributes and are not marked up correctly:
-Invalid: the aria-expanded attribute is on the article element
-The button is missing aria-expanded
The aria-expanded attribute should be

[2021-04-05 21:31] asangma commented on #1911
Weirdly, it looks like it's only happening in the devext environment.
Let me know if you need access to that @caripizza.

[2021-04-05 23:18] AdelheidF commented on #1896
Using next.146...

When I open the menu I now can move up and down using the arrow keys and hitting enter/space selects the grey action. But when I open the menu I no longer see the typical blue focus box.

![image](https://user-images.githubusercontent.com/44481292/113637844-6ad3f280-962a-11eb-961b-bd78d07f1441.png)

[2021-04-05 23:20] caripizza commented on #1911
@asangma that would rule!

[2021-04-05 23:21] driskull commented on #1896
@AdelheidF yes that's by design. It's using `activedescendant` so that the button doesn't lose focus.

https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-actions-active-descendant.html

[2021-04-05 23:28] #1896 closed

[2021-04-06 19:33] asangma commented on #1914
Flow also needs to be updated.

[2021-04-06 22:01] AdelheidF commented on #1874
(2) is fixed with next.147

[2021-04-06 22:24] AdelheidF commented on #1874
Moving part (1) to a later date

cc @caripizza

[2021-04-06 22:40] asangma opened #1919 "Enhancement: ShellPanel - add tests for Panel and Flow heights and scrolling"
### Description
With updates to how height is handled in ShellPanel, Panel, and Flow, it will be helpful to add tests to ensure that Panels and Flows (with Panels) have heights that equal the height of ShellPanel's `content__body` node.

It would also be helpful to ensure proper scrolling behavior.

Related PR #1918

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Us

[2021-04-07 01:53] #1524 closed

[2021-04-07 01:53] #744 closed

[2021-04-07 13:24] catchanuj opened #1920 "Bug: [TextField] cannot customize outlined input label font size"
### Summary
When increasing the font size of the Outlined Input Form labels, the notched outline that renders by default for all `TextField`s doesn't accommodate for the increased label width.
### Actual Behavior
<img width="599" alt="Screen Shot 2021-04-07 at 9 18 15 AM" src="https://user-images.githubusercontent.com/73266554/113872962-5f93da80-9782-11eb-998a-b93ca43e1a11.png">

### Expected Beha

[2021-04-07 13:25] #1920 closed

[2021-04-07 16:12] macandcheese opened #1921 "Bug: Dropdown styling issues post-refactor"
### Summary
There are some regressions since the Tailwind refactor to the styling of dropdown:

- selection-mode:none should not have padding for a selector

Current:
![Slice1](https://user-images.githubusercontent.com/4733155/113900250-7afee580-9782-11eb-841c-5bc90174ab6c.png)

Desired:

![Screen Shot 2021-05-05 at 10 08 51 AM](https://user-images.githubusercontent.com/4733155/117181306-ee981080-

[2021-04-07 16:14] driskull commented on #1913
@joeyHarig I'm guessing that they are getting cut off because you have an `overflow:hidden` on the modal content. Is that correct?

I don't think the `popover` would apply here since you can position that wherever in the DOM. However, the others may.

[2021-04-07 16:14] driskull commented on #1911
I think this was fixed already

[2021-04-07 16:50] bstifle commented on #1921
![image](https://user-images.githubusercontent.com/14083530/113904194-6d078f80-9797-11eb-9a6f-78a9dd7708e5.png)
figma^

yes these things should be lined up

[2021-04-07 16:55] bstifle commented on #1921
selection-mode:none should not have padding for a selector ✅

borders below group-titles should NOT be full width. **(design change, disregard)**

[2021-04-07 17:10] joeyHarig commented on #1913
@driskull The overflow of the CC modal body is set to `auto` (we didn't apply any additional styles). They're not being cut off, but rather actually making the modal scrollable (on mac so that isn't visible).

In our app, we're using a custom dropdown component based on vue-select (https://vue-select.org/). Vue-select is appending the dropdown menu to the html `<body>` in order for it to appear on

[2021-04-07 17:13] jcfranco commented on #1917
Installed.

[2021-04-07 17:36] driskull commented on #1913
@joeyHarig I think we'll have to do some research on this.

We can't just move it into the body since it's encapsulated in shadowDOM and we don't want to move it to light DOM and expose it to user styles.

[2021-04-07 17:52] joeyHarig commented on #1913
@driskull Could you use the body as the shadow host and then use `body.shadowRoot.appendChild` to add the menu nodes to the shadow tree?

[2021-04-07 18:51] asangma commented on #1911
Thanks @driskull.

[2021-04-07 18:51] #1911 closed

[2021-04-07 19:32] ethanbdev opened #1925 "Docs: Update the doc section for how to add a tooltip to `calcite-action-bar` expand action"
### Description
with beta.52, this section of the doc no longer works:
[code]
It would be helpful to show the proper way to do this to help making the update to the new version, it was confusing to me.

### Which Component
calcite-action-bar

cc: @driskull

[2021-04-07 19:36] kevindoshier commented on #1925
@ethanbdev - I had to make this change as well, its not a slot for the expand tooltip, from the .53 changes list

action-bar, action-pad: Replace 'tooltipExpand' properties with 'expand-tooltip' slots (#1841) (38787d4)

[2021-04-07 19:41] ethanbdev commented on #1925
Thanks @kevindoshier, so the tooltip needs to be appended to the action bar now instead of the document body?

[2021-04-07 19:43] kevindoshier commented on #1925
I think this should work

[code]

[2021-04-07 19:44] driskull commented on #1925
Yes, that' is correct.

[2021-04-07 19:58] ethanbdev commented on #1925
Thanks 😃

[2021-04-07 21:00] TheBlueDog opened #1926 "Enhancement: Add border for Action Bars"
### Description

Currently when an action bar is used, there is no separation between it and the rest of the content on the page without adding customization.

Example:

![Action-Bar Default](https://user-images.githubusercontent.com/5419306/113941125-91ca2a00-97cc-11eb-9a96-b78814c7d30a.png)

![Screen Shot 2021-04-07 at 4 43 19 PM](https://user-images.githubusercontent.com/5419306/113932572-c4225

[2021-04-07 21:52] kellyhutchins commented on #1917
Tested locally and looks great. Thanks for the quick fix @jcfranco

[2021-04-07 21:52] #1917 closed

[2021-04-07 22:05] asangma opened #1927 "Enhancement: Add CSS utility class to ShellPanel to help match flex container heights"
### Description
Add a class that helps users correctly size their own elements when putting them inside of a container component (e.g. ShellPanel).

### Acceptance Criteria
* works with ShellPanel
* works with non component tags, e.g. `div` or a custom element.
* works with nested tags, e.g.
[code]
cc @AdelheidF @kevindoshier @driskull

### Relevant Info

#### Which Component

#### Example Use Cas

[2021-04-07 22:26] stdavis commented on #381
Is there any interest in using something like this to output React components? https://github.com/ionic-team/stencil-ds-output-targets

[2021-04-07 22:33] eriklharper opened #1928 "Enhancement: drop IE11 support by refactoring input to use HTMLInputElement's stepup and stepdown"
### Description

See TODO comment here: https://github.com/Esri/calcite-components/blob/master/src/components/calcite-input/calcite-input.tsx#L479-L480

### Acceptance Criteria

`calcite-input` uses the stepdown and stepup API to increment and decrement number values.

### Relevant Info

#### Which Component
`calcite-input`
#### Example Use Case

[2021-04-07 23:18] paulcpederson commented on #381
@stdavis yes, I opened a pr about this the other day: https://github.com/Esri/calcite-components/pull/1829

One or two things left to work through, but it is planned at some point in the future.

[2021-04-08 01:55] #1541 closed

[2021-04-08 03:04] bstifle commented on #1926
i think border-1 is too much. suggest using border-2 #dfdfdf to match whats already used in action bar and action pad

[2021-04-08 13:54] ethanbdev opened #1930 "Bug: `calcite-action-bar` expand tooltip not opening on hover when used inside web component"
Using the new slot, the tooltip does not open on hover. The action bar is being used inside a web component, that could be related to the issue. I cannot reproduce in a code pen. Sent @driskull a url where it is reproducible.
![98781FEF-2192-40EB-AC1F-4999C16B4EE8](https://user-images.githubusercontent.com/52869490/114039413-8fe98080-9837-11eb-90f5-6af01afe8923.GIF)

[2021-04-08 14:07] TheBlueDog opened #1931 "Enhancement: Calcite-Block leading and trailing variants"
### Description

Using the block component inside a panel to create sections, it appears that it only has a border on the left. This border is visible when the block is used in a trailing panel.

When a block is used in a leading panel, the border appears missing as it is still on the left.

Example:

![Block Default](https://user-images.githubusercontent.com/5419306/114041408-8883a080-9852-11eb-8

[2021-04-08 14:28] bstifle commented on #1931
also thinking about how important those lines are. can we remove them completely? @asangma are there cases where that side border is used outside of a panel?

[2021-04-08 14:35] TheBlueDog commented on #1931
I could see adding the border to the entire leading/trailing panel instead and then removing them from block.

[2021-04-08 14:38] macandcheese commented on #1531
Keep open

[2021-04-08 14:39] macandcheese commented on #1931
Yeah the border on just the side of block seems weird. I’ve had to manually add a border to solve for the above layout, it should be in the component OOTB IMO

[2021-04-08 14:51] macandcheese opened #1932 "Enhancement: Shell / Shell Panel - content-behind should allow both fixed and detached shell-panels"
**monday.com sync:** #18048508783

### Description

Consider the following app layout:

<img width="1680" alt="Screen Shot 2021-04-08 at 7 47 12 AM" src="https://user-images.githubusercontent.com/4733155/114047713-beb72500-983e-11eb-909f-4fd7f3b2f5aa.png">

In the above, `content-behind` is used on `calcite-shell`. However, I need to manually add padding to the map container to account for the lef

[2021-04-08 14:54] TheBlueDog commented on #1931
In the example here it appears to be only on the bottom? https://next.sites.afd.arcgis.com/calcite-design-system/components/layout/block/

[2021-04-08 15:20] macandcheese opened #1933 "New Component: chip-group and selection modes"
### Description

We need a workflow for single or multi selection of chips.

Material refers to these as “choice” / “filter” chips - https://material.io/components/chips#types

Our options could match other components in our system like dropdown, accordion, etc., with a single/ multi / single-persist / none selection mode prop.

#### User Stories

Single select cc @asangma

Multi select:
Category

[2021-04-08 15:57] bstifle opened #1934 "New Component: input-color"
To be added in the suite of inputs.

suggested name: `input-color`

- Can invoke color picker from swatch. (need ability to disable that functionality for use inside color picker)

design:
![image](https://user-images.githubusercontent.com/14083530/114058512-224e4c00-9859-11eb-92a1-cc07e18887db.png)

Figma link:
https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=0%3A9270

[2021-04-08 16:25] asangma commented on #1931
Once we have the expand/collapse chevrons back in, we should remove the border.

[2021-04-08 16:26] asangma commented on #1931
Wait...is this about Figma?

[2021-04-08 17:18] TheBlueDog commented on #1931
No. It appears that Figma is accurately representing the component code as built.

[2021-04-08 17:45] asangma commented on #1931
Strange that the border is showing up when the Block is collapsed.
It should only be there when it's expanded.

That being said, I think it's fine if we remove it.

[2021-04-08 17:52] asangma commented on #1931
Not sure why you're not getting those borders.
ActionBar should have the borders already.

![Screen Shot 2021-04-08 at 10 52 07 AM](https://user-images.githubusercontent.com/12503298/114073795-88869f00-9858-11eb-898b-dfaaa188ca49.png)

[2021-04-08 18:26] TheBlueDog commented on #1931
@asangma Did you mean to post that in the issue about the borders on actionbars? :)

[2021-04-08 19:10] driskull commented on #1930
Yeah, it's because it's put into another shadowDom element and it's trying to find the tooltip with `docoment.getElementById()`.

We will have to introduce some logic to query the shadow dom instead.

[2021-04-08 22:14] kevindoshier opened #1937 "Bug: calcite-action-bar - overflowActionsDisabled issues"
### Summary

When I use `overflowActionsDisabled`,  overflow still seems to be enabled on the initial load, and the scrollBar is still disabled,  but once its loaded and I resize the window the overflow stays, so it seems the flag is being honored only after the initial loading of the component

### Actual Behavior

### Expected Behavior

I think when its disabled the scrollBar should be visible,

[2021-04-08 22:20] ethanbdev opened #1938 "Bug: `overflow-actions-disabled` attribute not getting set when added at render time in Stencil"
Adding it via jsx in Stenciljs does not add the attribute to the action bar correctly, and the vertical scroll is missing

[code]
![image](https://user-images.githubusercontent.com/52869490/114103133-6d7a5600-987d-11eb-9bd5-ce2be100d35f.png)

If it is added manually in `componentDidRender` it works:
[code]
I am not sure if it needs to be set in a different lifecycle method, or is something else. T

[2021-04-08 22:28] COV-GIS opened #1939 "Enhancement: add scale to calcite-action-menu"
### Description

`calcite-action-menu` doesn't have `scale` property. And the action button only "fits" with medium `calcite-action-bar` and `calcite-action-pad` actions.

### Acceptance Criteria

### Relevant Info

#### Which Component

`calcite-action-menu`

#### Example Use Case

Any `calcite-action-bar` or `calcite-action-pad` with small or large scale actions.

[2021-04-09 14:33] paulcpederson commented on #1913
https://github.com/Esri/calcite-components/pull/1940 addresses a similar issue in combobox. Basically popper was computing the wrong direction for the combobox dropdown so it would open _down_ all the time. We may be able to apply a similar fix to other components. For example, in the gif above, the date picker would open _up_ rather than down, making it less important to overflow the container.

[2021-04-09 15:36] ethanbdev opened #1941 "Tooling: cannot run calcite-components locally, getting build errors on the css files"
## Summary
Trying to run calcite-components locally, with this workflow:
clone -> `npm install` -> `npm start` and hit build errors on the css files like so:
![image](https://user-images.githubusercontent.com/52869490/114204831-7e26dc80-990e-11eb-9170-092fec805276.png)

I get numerous similar errors on many components. This is on:

Node v14.14.0
Npm 6.14.9
Windows 10

Is there a step I am missing

[2021-04-09 15:52] kevindoshier opened #1942 "Bug: with the action-bar overflow changes, a window size of 1440 x 655 will clip the expand action"
### Summary

A window size of 1440 x 655 will clip the expand action

![image](https://user-images.githubusercontent.com/11093161/114207097-da8afb80-9910-11eb-894b-cbe9d3b89791.png)

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2021-04-09 16:22] caripizza commented on #1582
@COV-GIS can you provide your snippet of code for me? I played with `calcite-shell-panel` inside of `calcite-tabs` in this pen here, and didn't run into any issues like you described yet (so I'm guessing your setup is a bit different): https://codepen.io/caripizza-the-animator/pen/mdRRwbK