[2021-06-08 21:49] ptmdmusique commented on #2242
I see. Well I'll stick to the `relative` and `auto`. Closing! Thanks a bunch 👋

[2021-06-08 21:49] #2242 closed

[2021-06-08 21:51] asangma commented on #1931
@TheBlueDog The settled design was to get rid of the left/right border.

[2021-06-08 21:54] asangma commented on #963
@jcfranco @caripizza Bringing this one back up. Seems like often when someone uses Block, they need to hand-roll a popover for menu actions.

[2021-06-08 22:34] asangma commented on #2117
To be clear, I am thinking more about having a **clickable area**. And the only behavior would be to emit an event upon click.

If "selectable" means having a selected state, it's probably something we'd not include here.

In cases like a list of items that let the user drill into a flow, the item should be clickable but not have a **selected state**.
In cases where there needs to be a selected st

[2021-06-08 22:36] driskull commented on #2117
Yes, but to do that I need to either render a button or a div. We need a good prop to explain what this button is for.

[2021-06-08 22:39] asangma commented on #2117
I agree there should be a prop.

As far as the name of the prop, I honestly don't know if something like "selectable" is confusing if we're not also including a selected state.

As far as whether it's on by default, seems like most uses of this thing will have it on, but I will defer to your judgement.

[2021-06-08 22:46] driskull commented on #2117
It's just better to add functionality than to disable it.

What if we also included a selected state? Is there any use case where clicking the content should not toggle a selected state?

[2021-06-09 00:03] kellyhutchins opened #2284 "Docs: Documentation issues at beta 56"
### Description
I've noticed a few places where the doc needs to be updated to reflect the changes at beta 55/56

- [x]  Sample code on Alert page uses the old slot names (alert-message, alert-link)

https://github.com/Esri/calcite-components/blob/v1.0.0-beta.56/src/components/calcite-alert/readme.md

- [x] In calcite-panel the code sample shows a slot with header-leading-content and header-traili

[2021-06-09 00:27] AdelheidF opened #2286 "Bug: calcite-radio-button-group with calcite-radio-button"
Alignment is wrong now with beta.55. Was working correctly with beta.54.

beta.55
![image](https://user-images.githubusercontent.com/44481292/121274299-0e39c180-c87f-11eb-8945-d9b684383ae1.png)

![image](https://user-images.githubusercontent.com/44481292/121274075-8bb10200-c87e-11eb-9540-5515f95f2625.png)

beta.54 (Map Viewer production)
![image](https://user-images.githubusercontent.com/44481292/

[2021-06-09 01:03] kevindoshier commented on #2286
@AdelheidF - I ran into this too, and this fixed it for my case

`<calcite-label layout="inline">
   <calcite-radio-button />
    My Radio Label
</calcite-label>`

[2021-06-09 01:08] jcfranco commented on #2273
@driskull Can you update the issue fields? This is still marked as new and awaiting triage.

[2021-06-09 12:42] TheBlueDog commented on #1931
@asangma sounds good. It's still present in the code. Is there an issue for updating the component?

[2021-06-09 12:50] TheBlueDog commented on #2131
@macandcheese Here's our current production app. When the user selects a layer in the leading panel, the center panel is updated to show the form and templates canvas. The tabs are used to switch between those two views.

![Screen Shot 2021-06-09 at 8 44 39 AM](https://user-images.githubusercontent.com/5419306/121356911-539dd380-c8ff-11eb-9ba9-c83b6b8423c0.png)

What I'm exploring is removing the

[2021-06-09 13:11] TheBlueDog commented on #2117
Here's an example of where we would use this...

Sorry if the context is cropped out, but this is a block in a trailing panel to show all of the arcade expression in your form. Clicking the expression applied/removes that expression from the selected form input (Note, this is a hack we had to do in order to make it selectable, but limit it to one and provide the ability to unselect it.) The chip i

[2021-06-09 14:26] nwhittaker commented on #2178
Looks good to me in the jsbin -- thanks for swift fix!

[2021-06-09 14:26] #2178 closed

[2021-06-09 14:55] bstifle commented on #2117
ooh thats fun @TheBlueDog love it

[2021-06-09 16:14] Olga8614 commented on #1747
We verified this defect on AGOL 9.2 Devext site (6/9/2021) in Arabic and Hebrew language on FF/Chrome/Edge(Chromium)/Safari browsers. On/Off switcher of Include in legend is left aligned now but is still flipped. So this defect is partly fixed. Thanks!

[2021-06-09 16:42] julio8a commented on #2004
Can we standardize these and make the names more approachable before 1.0?

Cc'ing @jcfranco

[2021-06-09 16:50] jcfranco commented on #2004
☝🏼  Yeah, we should definitely target component renames before 1.0.0 since they're trickier to maintain in a non-breaking fashion.

Can we create an issue to collects all rename candidates and try to do them in a sprint before 1.0.0?

[2021-06-09 16:59] AdelheidF commented on #2286
No, that didn't do anything. Maybe because it's inside a block-section?

<img src=https://user-images.githubusercontent.com/44481292/121397621-5b627580-c909-11eb-851f-e990f96064dc.png width=200/>

<img src=https://user-images.githubusercontent.com/44481292/121397407-235b3280-c909-11eb-8baa-cfb94140388b.png width=400/>

[2021-06-09 17:08] AdelheidF commented on #2286
I figured it out. The text now needs to be outside of the radio-button as well.

[2021-06-09 17:08] #2286 closed

[2021-06-09 17:23] julio8a commented on #2004
Yes, @macandcheese and @bstifle can work on it. Bryan and Adam, please create an issue for this and work on new name proposals for components that need updating.

Franco and I will triage for a sprint.

[2021-06-09 17:59] joeyHarig opened #2290 "Bug: calciteTreeSelect event doesn't fire on spacebar keypress"
### Actual Behavior
The event `calciteTreeSelect` fires when the user clicks on a tree item or presses enter while focused on the tree-item. When the user is focused on the `calcite-tree-item` and presses the spacebar key, the `calcite-tree-item` appears to be selected, but the event doesn't fire.

### Expected Behavior
The event `calciteTreeSelect` should fire on click, enter keypress and spaceba

[2021-06-09 18:00] bstifle commented on #2249
Leaving discussion open for this until next Wednesday 6/16

[2021-06-09 18:43] zaramatheson opened #2291 "Bug: Date Picker - First Day of the week is not localized"
Reported in the Map Viewer Time Slider Date Picker:

In Russian, the calendar is localized, by the first day of the week is Sunday which is incorrect:

![image](https://user-images.githubusercontent.com/50747646/121410862-dcc10480-c917-11eb-87ff-06afad211be6.png)

https://devtopia.esri.com/WebGIS/arcgis-webviewer-app/issues/1913

cc @paulcpederson @jcfranco

[2021-06-09 18:51] driskull commented on #2096
I think we should elevate this, mapviewer can't use this for layer selector until this is fixed. @julio8a @jcfranco @caripizza

[2021-06-09 19:31] paulcpederson commented on #1916
@joeyHarig so I just tried this out on the current docs and looks like it was fixed, can you confirm?

[2021-06-09 19:55] jcfranco commented on #2096
@driskull @kevindoshier Does this codepen represent the issue? https://codepen.io/jcfranco/pen/YzZOXNp?editors=1000

[2021-06-09 20:08] driskull commented on #2096
@jcfranco yes but also when the selection mode is single

[2021-06-09 20:11] joeyHarig commented on #1916
@paulcpederson It still seems to be broken.

![Jun-09-2021 14-08-30](https://user-images.githubusercontent.com/55154968/121422271-4ba85880-c92c-11eb-9708-c402f8759611.gif)

[2021-06-09 20:15] jcfranco commented on #2096
Got it. Thanks for the info. Adding it to this sprint as `help wanted`. cc @caripizza

[2021-06-09 20:19] driskull commented on #2097
addressed in https://github.com/Esri/calcite-components/issues/2102

[2021-06-09 20:19] #2097 closed

[2021-06-09 21:13] paulcpederson commented on #1916
so the repro steps are just type in custom tag and hit enter?

[2021-06-09 21:19] joeyHarig commented on #1916
1. Go to the combobox in the storybook
2. Set max-items to 4
3. Set allow-custom-values to true
4. Enter a custom value
5. Notice that the dropdown no longer obeys the max-items rule

If you click away and click back, the list is limited to 4 again, but immediately after entering a custom value, the list doesn't recognize `max-items`

Browser: Chrome Version 91.0.4472.77

[2021-06-09 21:22] paulcpederson commented on #1916
OK, thanks @joeyHarig

[2021-06-09 21:59] asangma opened #2295 "Bug: ActionMenu - fix offsetDistance & focus ring"
### Actual Behavior
1. Since ActionMenu no longer has a pointer, there is now too much space between the menu and its trigger.
2. Focus ring is sometimes cut off

### Expected Behavior
1. offsetDistance of zero
2. unclipped focus outline

### Reproduction Steps or Sample

<img width="604" alt="Screen Shot 2021-06-09 at 2 59 13 PM" src="https://user-images.githubusercontent.com/12503298/121435176-4

[2021-06-09 22:40] asangma opened #2297 "Question: border-radius - Seems like we should use Tailwind or add it to our config"
### Question
Right now, there's a [CSS var for border radius](https://github.com/Esri/calcite-components/blob/master/src/assets/styles/global.scss#L45).
Seems like we should either use Tailwind's default border-radius (which is 0.25rem/4px) or store our custom one in the config, yeah?

### Helpful Details
Tailwind's border radius: https://tailwindcss.com/docs/border-radius

[2021-06-09 22:45] asangma commented on #2297
cc @bstifle

[2021-06-10 14:36] bstifle commented on #2297
as long as we have 4px border radius im a happy boi

[2021-06-10 16:34] caripizza commented on #2297
Our current config includes the following values ([mostly defaults](https://github.com/tailwindlabs/tailwindcss/blob/v1.9.6/stubs/defaultConfig.stub.js)):
[code]
What new values are you proposing?

[2021-06-10 16:37] ethanbdev opened #2301 "Bug: `calciteLookupChange` event is not triggered when a new chip is added in a combobox"
### Actual Behavior

When a user adds a custom value to a combobox, there is no way to listen for that. I think it should trigger the lookupChange event since the custom value is immediately selected.

### Expected Behavior

`calciteLookupChange` should trigger when a new chip is added and selected, or a seperate event could be used.

### Reproduction Steps or Sample

See codepen:
https://codepen.

[2021-06-10 18:23] rslibed opened #2303 "Enhancement: calcite-color-picker (calciteColorPickerChange)"
### Description
When using calcite-color-picker, the `calciteColorPickerChange` event fires while the thumb is dragged.

### Acceptance Criteria
Detect a value change only when the user completes the thumb drag.

#### Which Component
calcite-color-picker

#### Example Use Case
Configuration app makes network requests when input events are fired and has very chatty behavior with the current behavio

[2021-06-10 20:37] ethanbdev opened #2305 "Enhancement: Trigger `calciteLookupChange` event when the comobox is in single select mode"
### Description
Currently, the `calciteLookupChange` event does not emit when the combobox is in single select mode. It would be a nice convenience to have it emit on single select the same it does for multi.
### Acceptance Criteria
An event is emitted when the selected item changes in single select mode on the combobox
### Relevant Info
Right now it checks specifically for multi select: https://g

[2021-06-10 20:48] caripizza commented on #803
Adding the latest mockups from Bryan:
![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/42423180/121594684-431a5580-c9f2-11eb-8372-f68813795363.png)
![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/42423180/121594786-63e2ab00-c9f2-11eb-8ebd-9a70309a2dc1.png)

[2021-06-11 00:02] TheBlueDog commented on #803
@bstifle Are these in component or experimental figma?

[2021-06-11 15:00] hccampos opened #2309 "Bug: calcite-slider - in Firefox, clicking the slider track doesn't trigger a change"
### Actual Behavior

- In Firefox, clicking on the slider track doesn't trigger a change whereas in Chrome it does.
- When dragging, changes fire normally.

### Expected Behavior

Clicking the track should trigger a change just like in Chrome.

### Reproduction Steps or Sample

1. Open an app with a <calcite-slider> in Firefox
2. Click on the track.
3. Note that changes don't get triggered.

### R

[2021-06-11 16:59] nwhittaker opened #2310 "Bug: Tooltip can close prematurely for non-leaf nodes"
### Actual Behavior
If a tooltip is associated with a reference element that contains child nodes, mousing off a child node (but not off the reference element) causes the tooltip to close.

![Screen Recording 2021-06-11 at 12 48 30 PM](https://user-images.githubusercontent.com/421496/121723702-d916b480-cab4-11eb-95a5-286abdf37c15.gif)

### Expected Behavior
Tooltip is open as long as the mouse is

[2021-06-11 18:26] jgibson02 opened #2311 "Enhancement: Select all for combobox"
### Description
Provide a way to include a "select all/none" button for ~~a pick-list~~ Combobox

### Acceptance Criteria
Final designs in this [Figma file](https://www.figma.com/file/ujZYHdimnVC3yA2PyYOH85/Epic%3A-Combobox-Redesign?type=design&node-id=274-82801&mode=dev). These designs also take into account updated selection icons from issue #10580.
### Relevant Info

#### Which Component
~~pick

[2021-06-11 18:36] macandcheese commented on #2311
Super valid. Some thoughts:

- This should be an opt-in functionality.
- This has also come about the combobox as well, so any solution should be designed with both of these components in mind (dropdown multi-select too ?).
  - For combobox, this might require a new prop (also valid without the select-all use case), `max-displayed-chips` (?), any chips after which are appended to a “+n” chip.
  -

[2021-06-11 20:27] driskull opened #2313 "Question: Slot cleanup questions"
### Question

- calcite-input
  - should 'calcite-action' be documented as just 'action'? I think its wrong now. bug?
- calcite-dropdown
  - Should 'dropdown-trigger' just be 'trigger'?
-  calcite-tab
  - Should 'tab-nav' just be 'nav'?

### Helpful Details

Slot cleanup questions

[2021-06-11 20:28] driskull commented on #2313
cc @julio8a

[2021-06-11 20:50] julio8a commented on #2313
Thx @driskull, these updates would match up consistency with nomenclature across components?

[2021-06-11 20:51] driskull commented on #2313
I think so. the first one might be a doc bug but someone needs to confirm.

[2021-06-11 23:59] paulcpederson opened #2315 "Bug: Boolean props work incorrectly in react output target"
### Actual Behavior

boolean props render with `true` or `false` strings. So:

[code]

becomes:

[code]

### Expected Behavior

`false` values for booleans should be ommited, like:

[code]

According to this: https://github.com/ionic-team/stencil-ds-output-targets/issues/123 we could use the following to update the boolean behavior:

[code]

We should investigate if we can just patch and fix this

[2021-06-14 07:08] hccampos commented on #2230
@jcfranco this now works 👍  However, noticed a slightly different but related issue:
1. Initialize the `calcite-color-picker` with pure white.
2. Tab to the hue handle - notice you can't move the handle with the keyboard ⚠️
4. Tab to the color handle and move to a different color - works 👍
5. Tab back to the hue handle and try to move it with the keyboard - color gets reset to pure white.

This ma

[2021-06-14 12:45] RalucaNicola opened #2316 "A11y: calcite-slider sets a zero value when hitting Enter/space"
### Summary

We use the slider to set the opacity of a color. Hitting Enter/space when the thumb is selected sets the slider value to zero:
![Jun-14-2021 14-38-48](https://user-images.githubusercontent.com/8091967/121893469-4711e480-cd1e-11eb-87f5-cf55eb99fc51.gif)

### Actual Behavior
Currently when hitting Enter/space with the slider thumb on focus, the value of the slider is set to zero.

### E

[2021-06-14 15:33] caripizza commented on #1020
Closing this one. As of beta.56, Tile Select Group has both Light/Dark stories which allow the component to be viewed in vertical layout ([via knob](https://esri.github.io/calcite-components/?path=/story/components-tiles-tile-select-group--light)).

[2021-06-14 15:33] #1020 closed

[2021-06-14 15:54] asangma commented on #1097
@jcfranco I need to get up to speed on Storybook.js so I think this won't be done in this sprint.

[2021-06-14 15:56] asangma commented on #2297
@caripizza I think `default` is 4px.

I'm not so much proposing a new value. :)
I just noticed that we're defining a 3px radius in our [global.scss](https://github.com/Esri/calcite-components/blob/master/src/assets/styles/global.scss#L45).

[2021-06-14 16:24] bsnider commented on #2260
@jcfranco sorry for the delay.  Here's a repro case.  If line 114 in webpack.config is commented out, it'll compile: https://github.com/USEPA/R9-CentralBasin/blob/calcite-comps-repro/webpack.config.js#L114

[2021-06-14 17:47] caripizza commented on #1537
Update: I added a bunch of e2e tests for this issue in pr #2114, after we removed the `theme` attribute from component .scss files. However, there are still 26 component stylesheets referencing the global theming CSS vars, so per this issue they'll need e2e tests as well:

[code]

[2021-06-14 17:53] caripizza commented on #2297
@asangma Got it, it looks like the `--calcite-border-radius` var was added long ago in pr #235, so it's a super old value. As far as I know, we can refactor it out at this point and go with your `default` 4px suggestion.

Do you want to take a crack at that work, as a part of this issue? (Thinking we can also remove that `px` 1px borderWidth addition in the config, since that's already included in

[2021-06-14 21:27] ade10176 commented on #2117
<img width="347" alt="Screen Shot 2021-06-14 at 2 23 44 PM" src="https://user-images.githubusercontent.com/49533268/121961361-32345180-cd1c-11eb-8494-26c529de23df.png">
Hoping this is the right issue to add this use case. When the user hovers over an item, is it possible to support hover state on both label and action areas as one item vs separate?

[2021-06-14 22:27] asangma commented on #2297
@caripizza I might be able to get to it this sprint or next. It'll include refactoring a couple stylesheets I think.

[2021-06-14 23:07] driskull commented on #2315
We shouldn't have any boolean properties that are true by default, so can you just leave the attribute off in this scenario? `<CalciteSlider labelTicks={false} />`

[2021-06-14 23:10] paulcpederson commented on #2315
@driskull yeah I mean I think people can code around it, but it's a little time bomb for every react user. I should clarify that you wouldn't just be doing `<CalciteSlider labelTicks={false} />` it would be more like `<CalciteSlider labelTicks={someStatefulVariableThatChanges} />`

[2021-06-14 23:13] driskull commented on #2315
Agreed. It's just a JSX workaround that we need to solve so to me it seems like it should be fixed in the ds library.

[2021-06-14 23:17] paulcpederson commented on #2315
Yeah, that would be ideal, for sure.

[2021-06-15 00:00] driskull commented on #2259
@paulcpederson Should the `calcite-label` be inside the component or should it wrap the `calcite-tile`?

It would be nice if it used the `calcite-tile.heading`, however, it seems that the heading is optional and we would need it to be required if the tile has `input-enabled`.

[2021-06-15 00:03] driskull commented on #2096
I think a designer needs to take this issue since it's mostly a design decision on what to do and then updating the SCSS.

[2021-06-15 00:31] caripizza commented on #2096
@kevindoshier @driskull Can you please add the code snippet that shows the issue? I'm having trouble replicating

[2021-06-15 00:33] kevindoshier commented on #2096
Doesnt this one reproduce it?

https://github.com/Esri/calcite-components/issues/2096#issuecomment-858050015

[2021-06-15 00:38] caripizza commented on #2096
Thanks @kevindoshier, I missed that comment. Can you add repro steps to the Description to help make it more clear? Or is this just a question of what it should look like when it's refactored to wrap?

[2021-06-15 00:39] kevindoshier commented on #2096
Its just about needing it to be styled correctly

[2021-06-15 15:25] bstifle commented on #2096
Couple of options for this:

![image](https://user-images.githubusercontent.com/14083530/122080636-09679700-cdc4-11eb-81ad-bbcb2943e58e.png)

[2021-06-15 16:07] caripizza commented on #2096
@driskull - I chatted with @bstifle about this just now. What if we just truncate the selected item's text label with ellipses ("...") if it's over 25 characters long?

[code]

Here's what that looks like on master without any extra styles:
![image](https://user-images.githubusercontent.com/42423180/122084364-9c99d000-cdb6-11eb-80ca-3f7d6c5bdde5.png)

The list item would still show the full label

[2021-06-15 16:08] driskull commented on #2096
That sounds reasonable to me.

[2021-06-15 16:14] bstifle commented on #2131
Going to leave this design discussion open until next Tuesday 6/22

[2021-06-15 17:44] driskull commented on #2096
Maybe make this a domUtil as well?

[code]

[2021-06-15 17:47] driskull commented on #2096
@caripizza actually, can we just use CSS to do this? Seems like we can just use the `truncate` tailwind class and set a max-width on the tags and selected item?

[2021-06-15 17:59] caripizza commented on #2096
@driskull I think with just CSS, we'd have to make sure the chip's close button stays visible too. I prefer the domUtil approach, since many components could opt into this trim pattern.

[2021-06-15 18:01] driskull commented on #2096
I think we can do that with css still. The text already has a container inside the chip.

[2021-06-15 18:06] caripizza commented on #2096
@driskull can I assign this to you then? It sounds like you got it working

[2021-06-15 18:45] nwhittaker opened #2318 "Bug: Mousing over non-reference elements keeps tooltip open"
### Actual Behavior
Mousing off a tooltip's reference element and then continuously mousing over other elements within the same `<calcite-tooltip-manager>` prevents the tooltip from closing.

![ezgif-3-14eaa7d2909c](https://user-images.githubusercontent.com/421496/122106279-b7d10380-cde7-11eb-9260-1d375b56c52a.gif)

### Expected Behavior
The tooltip closes after mousing off the reference element.

[2021-06-15 19:00] bstifle commented on #2318
Nice catch!

[2021-06-15 21:33] driskull commented on #2259
This can be fixed by just adding an `aria-label` on the `radio/switch`.

![image](https://user-images.githubusercontent.com/1231455/122126360-77bd5100-cde6-11eb-9a33-6277b607b8f3.png)

[2021-06-16 00:15] driskull opened #2321 "Question: locale property may need to be removed"
### Question

Should we have components with a `locale` property? (date-picker, input-date-picker, input)

### Helpful Details

We have a few components using a `locale` property for specifying the locale to use for the component.

However, there's already a global attribute to handle this.  See https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/lang#syntax

Currently, the default for th

[2021-06-16 16:58] eriklharper commented on #2321
I agree.  This is quite similar to the page theme.  It is basically a global that all our components should be aware of.

[2021-06-16 18:01] caripizza opened #2323 "Unstable Tests: calcite-input "number locale support""
## Summary
The following e2e tests are failing now that the project is using a newer node version (v14.17.1):
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-input/calcite-input.e2e.ts#L745-L818

It seems like Puppeteer is not using the requested locale. Instead it's using the default English locale to format a number:
[code]
Since `localizeNumberString` function call

[2021-06-16 18:02] caripizza commented on #2323
cc @driskull @eriklharper

[2021-06-16 18:09] caripizza commented on #2323
I'll open a pr to comment these `expects` out for now

[2021-06-16 18:25] caripizza commented on #2241
Self-assigning this one for our upcoming developer docs update.

To-do:
* [ ] replace "private" Custom JSDocs Tag with "internal" to exclude that property from prop tables/docs-json. Ex in calcite-tile.tsx:
[code]
(per [this comment](https://github.com/Esri/calcite-components/pull/1523#discussion_r587605665))

* [ ] add jsdoc tags for the component's theming CSS variables. Ex in calcite-tile.scss:

[2021-06-16 18:48] eriklharper commented on #2005
@AdelheidF @jcfranco Should we diverge from how the native `<input type="number">` element works by truncating `00000` to just `0`?  In a native number input, it allows multiple zeros, both in the display and the stored value at form submission time:

![image](https://user-images.githubusercontent.com/821864/122275598-be6b8380-ce98-11eb-946b-05087c94f3c8.png)

[2021-06-16 18:52] AdelheidF commented on #2005
I don't see where this would ever be useful for an input field of type number.

[2021-06-16 19:49] driskull commented on #2318
Installed.

[2021-06-16 19:55] driskull commented on #2323
Thanks for taking care of this @caripizza 🍕 🥇

[2021-06-16 20:02] bstifle commented on #2249
Alrighty! Moving this one over to developer hands

[2021-06-16 20:33] driskull commented on #2096
Installed.

[2021-06-16 21:57] bstifle commented on #2261
@asangma  suggest making the red line 2px to be cohesive with notice and alert

[2021-06-16 23:11] AdelheidF commented on #2142
Nice

![image](https://user-images.githubusercontent.com/44481292/122306570-888cc600-cebd-11eb-9ab5-6d1dc850ae4c.png)

[2021-06-16 23:11] #2142 closed

[2021-06-16 23:23] caripizza commented on #2297
@asangma what if we do this in global.scss instead? (Might require less stylesheet changes.)
[code]

[2021-06-17 17:51] asangma commented on #2261
Updated UI.
![image](https://user-images.githubusercontent.com/12503298/122448728-ed95f980-cf59-11eb-9ed7-279c09647c3a.png)

[2021-06-17 17:52] asangma commented on #2261
Hmmm...I had the impression we were nixing the border.

[2021-06-17 18:06] bstifle commented on #2261
YEAH kill it. that comment was from last night

[2021-06-17 19:07] AdelheidF commented on #1475
From Erik

It looks promising to see that the Intl.DateTimeFormat api supports locale formatting through this similar formatToParts API that I used to add number locale support https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/formatToParts so it looks like we would do something quite similar for time formats as well.  We would simply extract the

[2021-06-17 20:22] AdelheidF opened #2327 "Bug: calcite-input-time-picker - input box should support 12 hour format"
### Actual Behavior

`hourDisplayFormat` seems to only work for the little picker popup, not the main input box. This is very confusing for people that are not used to the 24 hour format.

![image](https://user-images.githubusercontent.com/44481292/122468810-08279d00-cf71-11eb-8a87-19ee8a6c1e3f.png)

When I see this I would definitely think it’s 5:55 in the morning.

![image](https://user-images.g

[2021-06-17 20:25] AdelheidF opened #2328 "Bug: calcite-input-time-picker - clicking arrows should keep popup open"
### Actual Behavior

When I click the arrows above and below the seconds the little popup stays open, which is very convenient when I want to click it a bunch of times. When I click the arrows once for hour, minute, and meridiem the popup closes, which is annoying if you want to click it several times. You’re basically forced to enter a new number value instead of using the arrows.

![image](https

[2021-06-17 20:27] AdelheidF opened #2329 "Bug: calcite-input-time-picker - when to show ':00' for seconds"
### Actual Behavior

It’s not consistent about when it displays the seconds or not. If I just clicked the seconds arrows and set it to 00 it stays on. If I click the arrows for minutes or hours the seconds display goes away. I don’t really care one way or another if seconds is set to 00, but it should be the same in all cases.

![image](https://user-images.githubusercontent.com/44481292/122467627-

[2021-06-17 20:29] AdelheidF opened #2330 "Bug: calcite-input-time-picker - unexpected behavior when typing in a number"
### Actual Behavior

When entering a new number value I don’t get a cursor. It’s a bit weird if I wanted to change the ‘2’ in 12 to a ‘0’, e.g.

![image](https://user-images.githubusercontent.com/44481292/122467826-d8c46080-cf6f-11eb-8738-2eed6b9e2297.png)

If I use a backspace to delete the number, to enter a new one, it closes the popup and changes the time to an empty input box.

![image](https

[2021-06-17 20:30] AdelheidF opened #2331 "Bug: calcite-input-time-picker - when entering time without ':' into input box"
### Actual Behavior

When editing the time value directly inside the input box then it works well if I stick to the format and leave the ‘:’ alone. If I remove a ‘:’ though things don’t work anymore. It would be nice if it added the ‘:’ automatically back in. This is especially useful if I started with an empty input box.

![image](https://user-images.githubusercontent.com/44481292/122468086-1923d

[2021-06-17 20:32] AdelheidF opened #2332 "Question: calcite-input-time-picker - calciteInputTimePickerChange does not return event.detail"
### Question

The calciteInputTtimePickerChange event returns a CustomEvent without a detail property. Is this expected? I have to use event.target.value to get the value. I thought CustomEvent always returns significant info via details.

### Helpful Details

[2021-06-17 20:34] AdelheidF opened #2333 "Docs: calcite-input-time-picker - add more details"
### Description

(1)
The doc should mention how the `value` needs to look like that you pass in. It took me a while to figure out that you don’t pass in am/pm and instead use 24 hour time format.

(2)
And it would be useful if it said that `step` is entered in seconds. A step of 3600 doesn't work, so a valid range would be useful too.

(3)
Also, I’m always a fan of examples.

### Which Component

[2021-06-17 20:49] asangma commented on #2261
@caripizza Would you mind assigning this one to someone to verify? :)

[2021-06-17 20:50] caripizza commented on #2291
Related: #1355

[2021-06-17 20:52] caripizza commented on #2261
@asangma yep I'll verify it

[2021-06-17 20:52] asangma commented on #2261
🙏🏾

[2021-06-17 20:53] asangma commented on #2261
See `demos/shell/block-configurations.html`

[2021-06-17 21:24] caripizza commented on #2261
Verified the new UI and behavior on master: now block and block-section can each have their own unique `status` properties. And when `status` is set to `valid` or `invalid`, the elements render with a status icon which matches the valid/invalid input-message status icons.

[2021-06-17 21:25] #2261 closed

[2021-06-18 04:56] sanjayng007 commented on #1863
I am also experiencing the same issue with **calcite-input-date-picker**.
**Version: v1.0.0-beta.56**
**Timezone: India Standard Time (GMT+5:30)**

Using with Vue.js
[code]

https://user-images.githubusercontent.com/17921952/122508382-8b9fc780-d01f-11eb-989d-dbb1fdf69986.mp4

https://user-images.githubusercontent.com/17921952/122508458-a83bff80-d01f-11eb-8448-f174367ec5af.mp4

[2021-06-18 10:56] hccampos opened #2335 "Bug: calcite-color-picker - color indicator doesn't follow pointer in Safari"
### Actual Behavior

![color-picker-safari](https://user-images.githubusercontent.com/3759114/122550528-125e9f80-d034-11eb-9c87-7565bf5e3336.gif)

As can be seen above, when moving the mouse pointer in Safari, the color indicator doesn't match the pointer, like it does in Chrome and Firefox.

### Expected Behavior

The color indicator should always match the pointer like it does in Chrome and Fire

[2021-06-18 11:52] esride-nik opened #2336 "create types for using calcite components with react + typescript"
## Summary
Setting up React with TypeScript and Calcite Components I'm experiencing the same issues described by @paulcpederson [in relation to preact here](https://github.com/Esri/calcite-components/pull/693#issue-441717917), the main symptom being the error message "Property 'calcite-<thing>' does not exist on type 'JSX.IntrinsicElements'.". The components are working, but I obviously get no typ

[2021-06-18 13:10] paulcpederson commented on #2336
@esride-nik this is exactly what the [@esri/calcite-components-react](https://www.npmjs.com/package/@esri/calcite-components-react) package was meant to provide. It's essentially a wrapper around calcite components to make events more ergonomic, etc.

Here is an example of how to use it in a react project: https://github.com/Esri/calcite-components-examples/tree/master/react

This is a pretty new

[2021-06-18 13:55] phenderson00 opened #2337 "Enhancement: Allow for greater nesting of calcite-combobox-items within calcite-combobox"
### Description
Per Paul Pederson, there is currently a depth limit of 3 for nesting calcite-combobox-items within a calcite-combobox.  My use case requires a depth of 4, so while functionally everything is working correctly, visually it does not appear as it should.

### Acceptance Criteria
Ability to nest calcite-combobox-items within a calcite-combobox to a depth of at least 4.

### Relevant In

[2021-06-18 18:15] AdelheidF opened #2338 "Bug: calcite-panel used in calcite-shell-center-row issue with long heading text"
### Actual Behavior

From Jeffrey Sutherland

For layers with long names, the data table does not show in it's entirety. Also noticed some related, finnicky behavior when opening and closing panels on the left and right and the data table resizing on the fly.

![0678da80-d040-11eb-897c-e0e63a17c2c1](https://user-images.githubusercontent.com/44481292/122601278-e63c2200-d025-11eb-9d29-c37d36b69bf0.p

[2021-06-18 23:17] #2005 closed

[2021-06-18 23:19] AdelheidF commented on #1734
I do think this change here we made is correct and we need it (e.g for selecting a unique value in the filter component), but it seems that in some scenarios it is useful that a move with the arrow buttons also selects the new row and fires the change event (e.g. when trying out the different layer blending modes).

Would it be possible to keep the current behavior as the default and then add a ne

[2021-06-21 17:16] AdelheidF opened #2344 "calcite-pick-list - single selection with 2 change event options"
### Description

Read https://github.com/Esri/calcite-components/issues/1734 first...

I do think this change here we made is correct and we need it (e.g for selecting a unique value in the filter component), but it seems that in some scenarios it is useful that a move with the arrow buttons also selects the new row and fires the change event (e.g. when trying out the different layer blending mode

[2021-06-21 17:16] AdelheidF commented on #1734
Created a new issue for comment above https://github.com/Esri/calcite-components/issues/2344.

[2021-06-21 17:16] #1734 closed

[2021-06-21 18:04] jcfranco commented on #1097
@asangma I think for this one we need to first determine which ones are the global CSS vars. Those would get a Storybook MDX page (e.g. https://raw.githubusercontent.com/Esri/calcite-components/master/src/1-introduction.stories.mdx). We also need to decide what will be the best way to doc these. I guess the simplest would be a markdown table for each CSS var group where we list the vars and their

[2021-06-21 18:19] driskull commented on #1097
Lets let this issue focus on the global ones and we can create individual issues for components.

[2021-06-21 18:34] AdelheidF commented on #2005
Tested with the latest next.226 (from 11 days ago!)

I can no longer enter 1.... or 1,,,,, so that part is good.
Waiting on a newer next release to test 0000.

[2021-06-21 18:38] caripizza commented on #1097
@jcfranco @driskull I can doc the CSS properties from each component stylesheet over in #2241 if that's helpful. I like the idea of using this issue to doc the global vars. (Adam and I are working on getting those added for our next developer docs update.)

[2021-06-21 19:51] jcfranco commented on #2224
I believe this is also related to #1500. Assigned to 7/5 milestone. cc @caripizza @julio8a

[2021-06-21 19:55] jcfranco commented on #921
@asangma I see you're assigned to this. Do you have some cycles to tackle this for this sprint?

[2021-06-21 20:11] jcfranco commented on #2113
@bstifle @mitc7862 Could you confirm whether ☝🏼  is possible with the proposed changes?

[2021-06-21 20:14] asangma commented on #921
I'll have a quick look at the component, but I should be able to smack it.

[2021-06-21 20:19] asangma commented on #921
Oh yeah...looks pretty straightforward. I can knock this out for the 7/2 sprint.

[2021-06-21 20:20] jcfranco commented on #921
Awesome. Thanks!

[2021-06-21 20:27] jcfranco commented on #2321
This makes sense. We can deprecate `locale` props and remove prior to 1.0.0 since it wouldn't affect the behavior.

[2021-06-21 20:55] dhrumil83 opened #2348 "Bug: calcite value list with drag enabled throws an error when within another sortable component"
https://codepen.io/dhrumil83/pen/PoNNNMd

Keep console open, and drag "Block with value list" slowly to the 2nd block. Things work, but error in console.

Note: The "Block with value list" block contains calcite-value-list with drag enabled. If you turn the calcite-value-list drag-enabled to false, there is no error on drag and drop moving the calcite blocks..

p-b5f138bd.js:7 Uncaught TypeError:

[2021-06-21 20:58] jcfranco commented on #2186
Closing as invalid based on https://github.com/Esri/calcite-components/issues/1579 and https://github.com/Esri/calcite-components/issues/2187

[2021-06-21 20:58] #2186 closed

[2021-06-21 20:58] jcfranco commented on #2169
Closing as duplicate of #720.

[2021-06-21 20:58] #2169 closed

[2021-06-21 21:02] lau11123 commented on #2348
@driskull @asangma

[2021-06-21 21:03] jcfranco commented on #933
@zaramatheson The new time picker component was installed last week. @eriklharper Do you think this is still valid with the component?

[2021-06-21 21:29] jcfranco commented on #932
The time picker input component has visual cues for updating time values: https://esri.github.io/calcite-components/?path=/story/components-controls-time-input-time-picker--light-theme.

Closing.

[2021-06-21 21:29] #932 closed

[2021-06-21 21:38] driskull opened #2349 "Unstable Test: calcite-input › number type › typing zero and then a non-zero number sets and emits the non-zero numbe"
## Summary

**Which component?:**

input

**Which test(s)?:**

**Test error:**

Summary of all failing tests
FAIL src/components/calcite-input/calcite-input.e2e.ts (334.899 s)
  ● calcite-input › number type › typing zero and then a non-zero number sets and emits the non-zero number
    expect(received).toBe(expected) // Object.is equality
    Expected: "0"
    Received: null
      767 |       awa

[2021-06-21 21:39] TheBlueDog opened #2350 "Enhancement: Add groups to lists"
### Description

Field Maps has an immediate need for being able to use groups in a `value-list`.  Add `calcite-*-list-group` to the value list and the calcite list components

### Acceptance Criteria

Would expect these to work the same way groups do in the current `pick-list`

### Relevant Info

#### Which Component

calcite-value-list
calcite-list (Current PR #2274)

#### Example Use Case

[2021-06-21 21:46] caripizza commented on #1350
Closing this one in favor of the Figma/Tailwind refactor project here: https://github.com/Esri/calcite-components/projects/14

[2021-06-21 21:46] #1350 closed

[2021-06-21 21:47] driskull commented on #2350
@asangma we need to decide if we want to allow groups for lists. The grouping shown [here](https://esri.github.io/calcite-components/?path=/story/components-pick-list--grouped) always seemed weird because in the example they would be best as two different lists.

[2021-06-21 22:00] caripizza commented on #1152
Closing in favor of Level Access a11y audit results

[2021-06-21 22:00] #1152 closed

[2021-06-21 22:15] TheBlueDog commented on #2350
One of two use cases in Field Maps is that we have this same list of field in the layer (shown here in MV), but we group them into REQUIRED and OPTIONAL fields.  Pick-list doesn't work for our workflow, but Value-list does. The base calcite-list would probably be even better, but not having the groups means we will need to either hack the component or build our own.

![Screen Shot 2021-06-21 at 6

[2021-06-21 22:16] TheBlueDog commented on #2350
Our current fully custom implementation
![Screen Shot 2021-06-21 at 6 16 18 PM](https://user-images.githubusercontent.com/5419306/122834574-d38f4a80-d2bc-11eb-8451-3f0aac28f471.png)

[2021-06-21 22:17] driskull commented on #2350
Gotcha. those use cases make sense.

[2021-06-21 22:57] jcfranco commented on #2313
1. This is a doc issue: https://github.com/Esri/calcite-components/issues/2150.
2. I think we could simplify and have a consistent name for trigger slots (similar to another PR that @driskull recently submitted).
3. Similar to ☝🏼 , but no strong preference. Sidebar, is `nav` commonly used or do we need `navigation`? I know there's a `<nav>` element, but it has different semantics.

[2021-06-21 23:02] jcfranco commented on #931
https://github.com/Esri/calcite-components/issues/407 was installed in the previous release. Closing!

[2021-06-21 23:02] #931 closed

[2021-06-21 23:03] jcfranco commented on #815
@asangma Is this still valid? If so, can you provide an estimate to help triage?

[2021-06-21 23:10] jcfranco commented on #734
@macandcheese Is this still valid with the latest implementation? If so, can it be done via a prop or CSS var instead of having modal 'know about' stepper?

[2021-06-21 23:19] jcfranco commented on #254
@macandcheese I'm confused. The following

seems to contradict

In single-selection, shouldn't there be at the most one node item selected? Maybe I'm missing something.

[2021-06-21 23:23] macandcheese commented on #2313
We hope to tackle a true “app navigation” story this year, for which we probably (?) want to use ‘calcite-nav’ (and ‘calcite-nav-*’ for child components).

Using “nav” in tabs is a little misleading IMO, it’s really a wrapper for only ‘calcite-tab-title’ children.

Maybe ‘calcite-tab-title-group’? To me it’s a more literal name, and more closely matches other instances of parent-child component no

[2021-06-21 23:24] driskull commented on #2348
Created PR for this issue. What is the priority of it?

[2021-06-21 23:26] jcfranco commented on #950
Closing in favor of #1616.

[2021-06-21 23:26] #950 closed

[2021-06-21 23:30] driskull commented on #2313
We don't prefix any slots elsewhere with `calcite-` or `component-` so we should be consistent.

[2021-06-21 23:33] macandcheese commented on #2313
I meant a slot names ‘title-group’ based on a component of ‘calcite-tab-title-group’, but obviously that’s a much larger change to rename the ‘calcite-tab-nav’ component.

[2021-06-21 23:34] dhrumil83 commented on #2348
If possible, will be good to get it into the next beta(57?) release.

[2021-06-21 23:36] macandcheese commented on #734
I’m not sure how we could style this with css to achieve the desired layout, since we’d need to position the stepper inside or adjacent to the header div based on the type of alignment.

It’s been requested a few times but we can close it until a team comes back with another ask.

[2021-06-21 23:47] macandcheese commented on #254
Probably should have read as "using the SPACE key to select items should **NOT** cause both siblings ...".

This is old enough to be closed, the storybook doesn't behave like this anymore so it can probably be closed.

[2021-06-22 00:02] AdelheidF commented on #2005
Tested now with next.227 and 0000 is good too.

[2021-06-22 00:16] jcfranco commented on #2268
Installed.

[2021-06-22 00:17] jcfranco commented on #2026
Installed.

[2021-06-22 00:28] jcfranco commented on #2230
Awesome, thanks for the breakdown! I see the above issues in the previous release, so I'll create a follow-up issue.

[2021-06-22 00:28] jcfranco commented on #2230
Closing as verified based on the above.

[2021-06-22 00:28] #2230 closed

[2021-06-22 00:33] jcfranco commented on #2268
@hccampos @gavinr Can either of you help verify this one? FYI, this will be in today's release. Thanks!

[2021-06-22 01:11] jcfranco commented on #2018
Closing based on the above comment. @joelcoxokc Please submit a new issue if anything else is needed.

@paulcpederson Thanks for the support! 💪🏼

[2021-06-22 01:11] #2018 closed

[2021-06-22 01:12] jcfranco commented on #254
@macandcheese Thanks for clarifying. Closing!

[2021-06-22 01:12] #254 closed

[2021-06-22 04:17] julio8a commented on #2223
Verified in master

[2021-06-22 04:17] #2223 closed

[2021-06-22 04:23] julio8a commented on #2273
Verified on master.

[2021-06-22 04:23] #2273 closed

[2021-06-22 04:28] julio8a commented on #2096
Verified on master.

[2021-06-22 04:28] #2096 closed

[2021-06-22 04:38] julio8a commented on #2295
verified on master.

[2021-06-22 04:38] #2295 closed

[2021-06-22 04:41] julio8a commented on #2318
verified on master.

[2021-06-22 04:41] #2318 closed

[2021-06-22 04:52] julio8a commented on #2310
Verified.

[2021-06-22 04:52] #2310 closed

[2021-06-22 05:24] julio8a commented on #803
verified on master.

[2021-06-22 05:24] #803 closed

[2021-06-22 05:32] julio8a commented on #2103
Verified on master. Closing.

[2021-06-22 05:32] #2103 closed

[2021-06-22 05:39] julio8a commented on #1916
verified on storybook. closing.

[2021-06-22 05:39] #1916 closed

[2021-06-22 05:44] julio8a commented on #2185
verified on master. closing.

[2021-06-22 05:44] #2185 closed

[2021-06-22 07:52] esride-nik commented on #2336
Thanks a ton @paulcpederson! I didn't realize this was released a week ago. My clone of the examples repo was older and it never came to my mind to pull any updates. Squiggly lines are gone, events are working as attributes in general. Maybe you could enhance the [React guide](https://developers.arcgis.com/calcite-design-system/framework-examples/react/).

Intellisense for tag attributes is not co

[2021-06-22 14:20] asangma commented on #921
@kevindoshier Installed.

[2021-06-22 14:20] paulcpederson commented on #2336
Hmmm, are you seeing props but no events or just no real info about components at all?

They are both "right" but I think the one on developers.arcgis.com will continue to improve and evolve. @julio8a could comment on that more.

I'd say just opening issues as you find stuff would be a huge help. Thinking we could break off the Intellisense into its own issue and close this one?

[2021-06-22 14:45] bstifle commented on #2113
No just one or the other.

Just icon-top or icon-end, not at the same time :)

[2021-06-22 15:09] ethanbdev commented on #2301
Fixed in beta.57 by https://github.com/Esri/calcite-components/pull/2292, thanks @paulcpederson

[2021-06-22 15:09] #2301 closed

[2021-06-22 15:53] paulcpederson opened #2355 "A11y: Radio Buttons don't work in high contrast mode"
### Summary

High contrast mode on Windows "improves legibility" by increasing contrast. Our radio buttons (probably due to exploiting background color?) don't show anything in this mode:

### Actual Behavior

<img width="267" alt="Screen Shot 2021-06-22 at 8 45 53 AM" src="https://user-images.githubusercontent.com/1031758/122957480-d464c280-d336-11eb-94db-44ad0690319c.png">

### Expected Behavior

[2021-06-22 15:54] caripizza commented on #2241
For the event details content, Franco helped clarify that due to this Stencil issue:
https://github.com/ionic-team/stencil/issues/2747

The only way he knows of to get the event detail's content would be inline doc'ing in the .tsx file like this (instead of the interface name):
[code]

He's opening a support ticket with Stencil to see if there's a workaround. The issue applies to the following eve

[2021-06-22 16:24] caripizza commented on #2297
@julio8a can you add this one to your alert refactor? I think we should keep using this `--calcite-border-radius` global CSS var if we can (just needs the update from my above comment).

[2021-06-22 16:31] jcfranco opened #2357 "Bug: color-picker hue thumb cannot be nudged via keyboard when color is #000 or #fff"
### Actual Behavior

When the color value is #fff or #000, tabbing to the hue handle will not move when the arrow keys are pressed. This works as expected when the color is another value.

### Expected Behavior

The hue handle can be nudged regardless of color value.

### Reproduction Steps or Sample

1. Initialize the calcite-color-picker with pure white.
2. Tab to the hue handle
3. Press left/ri

[2021-06-22 16:31] jcfranco commented on #2230
Created issue: https://github.com/Esri/calcite-components/issues/2357

[2021-06-22 16:58] TheBlueDog commented on #2040
Field Maps has a use for this. We have a list of fields in the layer that will never need a selected state.

[2021-06-22 17:02] asangma commented on #2117
@ade10176 Thanks for the comment.

For that use case, the icon would go into the content-end slot of this component.
If you need it for ValueListItem, you can put CalciteIcon (not CalciteAction) into the actions-end slot. You will need to add some styles to center and pad it though. Have a look at the Configure Fields in Map Viewer. :)

[2021-06-22 17:28] eriklharper commented on #933
I don't think this is valid because this is relying on using `<calcite-input type="time">` which is a) completely separate component and b) the new `input-time-picker` component doesn't use the `type="time"` native equivalent, so unless there are bugs or unintended behavior with the current way the input displays the meridiem, then this is safe to close IMO.

As an aside, the confusion around whet

[2021-06-22 17:55] capeoples opened #2359 "Bug: Single-select combobox height does not match other form controls"
### Actual Behavior

In the beta.57 build, the single select combobox is a much shorter height / has less internal padding than inputs.

<img width="1152" alt="MicrosoftTeams-image (8)" src="https://user-images.githubusercontent.com/30473086/122975004-c10e2300-d347-11eb-9c3d-db05da67ecad.png">

### Expected Behavior

The styling of the height/padding should match inputs to create a consistent form

[2021-06-22 18:09] caripizza commented on #2359
Related: #1874

calcite-input hasn't been refactored yet which is why the heights don't match right now (it's not a bug, it's expected).

Here is the follow up issue to address: #2139

[2021-06-22 20:19] bstifle commented on #2131
All here, we don't have a final design for this and we need to move forward. @TheBlueDog @asangma @macandcheese

[2021-06-22 20:33] jcfranco commented on #2260
Took a look at this and this is an issue with the plugin. It has not been updated to work w/ Webpack 5. I've submitted a PR in the meantime: https://github.com/ionic-team/stencil-webpack/pull/9.

Interestingly, after submitting the PR, I found out that there's a fork of the plugin that works w/ version 5: https://github.com/GenesysPureConnect/stencil-webpack

[2021-06-22 20:34] jcfranco commented on #2260
Closing as this is outside of the project's scope and I have already submitted a PR and suggested an alternative plugin to use.

[2021-06-22 20:34] #2260 closed

[2021-06-22 21:17] jcfranco opened #2362 "Docs: Storybook HTML preview tab includes dynamically created markup for scoped components"
### Description

For any scoped components, any internal HTML will get included in the HTML preview tab of a story.

To see this, go to https://esri.github.io/calcite-components/?path=/story/components-controls-radio-radio-button-group--light-theme and click on the HTML tab. You will see:

<details>
<summary>
calcite-radio-button-group + internal HTML
</summary>

[code]
</details>

instead of

<de

[2021-06-22 21:19] julio8a commented on #2323
Verified on Travis, no failed tests.

[2021-06-22 21:19] #2323 closed

[2021-06-22 21:21] julio8a commented on #2102
Verified with latest on Codepen.

[2021-06-22 21:21] #2102 closed

[2021-06-22 21:24] julio8a commented on #2193
Verified on lastest storybook

[2021-06-22 21:24] #2193 closed

[2021-06-22 21:48] MikeTschudi commented on #669
Still present @1.0.0-beta.57

[2021-06-22 22:06] MikeTschudi commented on #674
@1.0.0-beta.57 & NVDA 2020.4

The menu
![image](https://user-images.githubusercontent.com/2125181/123005682-57a00b80-d36b-11eb-9b40-18da1765bcfc.png)

is read as
[code]

[2021-06-22 22:09] MikeTschudi commented on #683
still present @1.0.0-beta.57 with NVDA 2020.4

[2021-06-22 22:11] MikeTschudi commented on #678
still present @1.0.0-beta.57 with NVDA 2020.4

[2021-06-22 22:28] jcfranco commented on #963
@asangma Couple of questions for you:

1. When the user slots in actions, should the toggle icon still be displayed or is it dropped in favor of the menu? If we do need to show it do we place it before the toggle icon?

    ![Screen Shot 2021-06-22 at 3 12 50 PM](https://user-images.githubusercontent.com/197440/123006406-7357e180-d36c-11eb-8340-ffd7ff7f625f.png)

2. (Revisiting https://github.com/

[2021-06-22 22:33] macandcheese commented on #963
This change has created a weird moment in our icon search. We currently slot an action when chips are selected beneath (ignore the incorrect color overrides, this is just a local build).

This causes the caret affordance to disappear (blinking is just video recording):

https://user-images.githubusercontent.com/4733155/123008033-07c34380-d36f-11eb-97c3-a58d3d2ce792.mp4

[2021-06-22 22:44] jcfranco commented on #963
@macandcheese Can you share a snippet? I think it may be unrelated. As far as I can tell, there haven't been any installs related to this issue yet.

[2021-06-22 22:51] MikeTschudi commented on #635
still present @1.0.0-beta.57 with Accessibility Insights for Web (Chrome extension)

[2021-06-22 22:52] AdelheidF commented on #2223
`setFocus("close-button")` still uses the old name. Is this expected?

https://github.com/Esri/calcite-components/blob/master/src/components/calcite-popover/calcite-popover.tsx#L228

[2021-06-22 22:52] driskull commented on #2223
Yes, that wasn't changed.

[2021-06-22 22:56] AdelheidF commented on #2223
How can I find out what focusIds are supported without looking at the code?

[2021-06-22 23:02] driskull commented on #2223
Right now the code is the best way. The interface isn't being generated into doc. I think we would need to get stencil to fix it.

[2021-06-22 23:03] driskull commented on #2223
Can you open a doc issue? We can probably just doc it in the method.

[2021-06-22 23:06] AdelheidF opened #2364 "Docs: calcite-popover should list supported focusId values for setFocus()"
### Description

`calcite-popover` supports `setFocus("close-button")`. It would be nice to document this somewhere for the component.
There are probably other components with the same issue.

Side note: I would think "dismiss-button" would make more sense now.

### Which Component

calcite-popover

### Resources

[2021-06-22 23:31] caripizza opened #2365 "Enhancement: calcite-switch - update demo html to match Figma designs"
### Description
The goal of this issue is to achieve parity between the calcite-switch ~Figma design~(nixed this requirement on 7/9) demo HTML page, and any usage snippets we provide.

### Acceptance Criteria
1. ~Variants illustrated in the Figma designs match the variants illustrated on the demo HTML page.~
1. The component's usage example is updated to match (src/components/calcite-switch/usage/

[2021-06-22 23:34] MikeTschudi commented on #947
@julio8a, I see the license referral in npm, but the license is missing from the distribution:
![image](https://user-images.githubusercontent.com/2125181/123012722-a489df00-d377-11eb-8f88-d5948687f31b.png)

From Keith Ryden:

[2021-06-23 00:39] driskull commented on #2362
This may be another reason to not create light dom nodes within the component. Slotted nodes are better in those cases.

[2021-06-23 05:01] jcfranco commented on #2362
This is more of an issue with scoped components where all of the internals are in the light DOM. Slots in scoped components would have the same issue.

[2021-06-23 05:16] driskull commented on #2362
Yeah, but instead of the component creating the light dom input elements, it would be better if those input elements were slotted if they do need to be in light dom.

[2021-06-23 14:05] TheBlueDog commented on #2131
We are going to. look at a whole different approach, moving the canvas area out of a panel and the existing tabs float above the content area.  Just reviewed this design with our PO yesterday. We won't be needing this any longer.

![Screen Shot 2021-06-23 at 10 03 19 AM](https://user-images.githubusercontent.com/5419306/123110606-3fcb9480-d40a-11eb-8351-e8db1c05520d.png)

[2021-06-23 15:08] jcfranco commented on #2291
Installed. @zaramatheson You can use the following codepen after `@next` deploys (in ~10 mins) to verify. https://codepen.io/jcfranco/pen/vYxqWVM?editors=1000

[2021-06-23 15:10] jcfranco commented on #2316
Installed.

[2021-06-23 15:12] jcfranco commented on #2316
@RalucaNicola You can use the following codepen after `@next` deploys (in ~10 mins) to verify. https://codepen.io/jcfranco/pen/rNyEYPp?editors=1000

[2021-06-23 15:16] jcfranco commented on #2150
Installed. @nwhittaker Can you help verify this? The [input's readme](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-input/readme.md#slots) should be updated by tomorrow. 🙇🏼‍♂️

[2021-06-23 15:22] jcfranco commented on #2144
Installed.

@AdelheidF Can you help verify once you use the latest next or the next beta release (beta 58)? 🙇🏼‍♂️

[2021-06-23 16:13] caripizza opened #2377 "Bug: calcite-input type="number disabled buttons are clickable/keyboard navigable"
### Actual Behavior

### Expected Behavior

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM package

[2021-06-23 16:17] macandcheese commented on #2377
Should these be tab-to-able at all, even when not disabled? Native input spinners, and clear buttons, are not navigable with keyboard.

Those actions can be done with the esc, or arrow keys, so having them be tab-to-able is actually extra steps for keyboard users and not in alignment with native functionality.

[2021-06-23 16:23] caripizza opened #2378 "Bug: when calcite-input is `disabled` and `clearable`, the clear button is still clickable/keyboard navigable"
### Actual Behavior
When input type is number, and the input includes a value with `clearable` and `disabled` properties:
- the clearable button is still clickable and keyboard navigable, and is able to update the input's value
- the Up/Down arrow buttons are still clickable, and are able to update the input's value

Reproducible via Storybook iframe link:
https://esri.github.io/calcite-components

[2021-06-23 16:25] caripizza commented on #2377
Created this one on accident, closing in favor of #2378

[2021-06-23 16:25] #2377 closed

[2021-06-23 16:36] bstifle commented on #2131
Sounds good, thanks for the follow up!

[2021-06-23 16:36] #2131 closed

[2021-06-23 16:42] macandcheese commented on #2377
@caripizza sounds good.

[2021-06-23 16:51] driskull opened #2380 "Bug: Action pad expanded on mobile device size doesn't work correctly"
### Actual Behavior

I have a Calcite Action Pad defined as a sibling to a Calcite Shell component which contains a header and my mapView div like this:

[code]

It is not visible by default but is triggered by a click event on an icon. On desktop the labels show up as expected but on mobile they do not show up at all. When expanded the action pad expands by a few pixels but no text appears. Is th

[2021-06-23 17:06] AdelheidF commented on #2144
I'm using next.231.

Do we really need these vertical lines?

Without adjusting the position of the icon...

![image](https://user-images.githubusercontent.com/44481292/123138613-17439a80-d40a-11eb-8c93-3c4e0d36f1e4.png)![image](https://user-images.githubusercontent.com/44481292/123138711-35a99600-d40a-11eb-9804-c438448b3ef0.png)

now with aligment...

![image](https://user-images.githubuserconten

[2021-06-23 17:09] jcfranco commented on #2144
I think we can remove the divider if there's only one icon displayed. @macandcheese WDYT?

Weird how the action is not aligned. Can you confirm if that is a slotted icon or an action? If it's an action, can you share a snippet for the above?

[2021-06-23 17:13] AdelheidF commented on #2144
I'm now adding a vertical-align...

[code]

[2021-06-23 17:17] macandcheese commented on #2144
The vertical lines denote hit / touch area, this action should be treated the same as the dismiss button. It also visually matches an alert displaying a queue length and a dismiss button, so I don’t think we should change that design, although I agree it looks weird when not spaced consistently.

Re: The question of alignment - this is the drawback to suggesting content with slots vs. being more p

[2021-06-23 17:18] jcfranco commented on #2144
I renamed the class but not the slot. 🤦🏼  Fixing...

[2021-06-23 17:21] asangma commented on #1964
Closing as this is a ghost of duplicate past re #2040.

[2021-06-23 17:21] #1964 closed

[2021-06-23 17:26] jcfranco commented on #2144
The slot is for a calcite-action to help with layout and button interactions.

![Screen Shot 2021-06-23 at 10 23 11 AM](https://user-images.githubusercontent.com/197440/123141232-08aab280-d40d-11eb-857f-7559deffe62b.png)

@macandcheese The dismiss button by itself doesn't have the vertical line (https://esri.github.io/calcite-components/?path=/story/components-notice--simple). Do we only show vert

[2021-06-23 17:30] macandcheese commented on #2144
Let’s use alert when queue and dismiss are present as the example to follow. When slotted action and dismiss are present, use vertical lines on either side of the slotted action.

If it’s just the single item (action or dismiss), treat it as we do the dismiss now (no border).

cc @bstifle to confirm the designs in Storybook are up to date / have parity with Figma.

[2021-06-23 17:31] AdelheidF commented on #2144
So the correct slot name should be "action-end"? I use a similar slot name in other components and there it's called "actions-end" (with an s). Are you sure you want to go with "action-end"?

[2021-06-23 17:37] jcfranco commented on #2144
I used single because all of the designs had only one action at the most, but I do see that in my list of requirements I used plural. @macandcheese, @bstifle can you confirm if notice would support multiple actions? If so, I can update accordingly.

[2021-06-23 17:43] bstifle commented on #2144
well. We dont add the verical lines in block/panel/value list etc. not sure we should add those here

[2021-06-23 17:52] bstifle commented on #2144
![image](https://user-images.githubusercontent.com/14083530/123144979-ea9b7d00-d421-11eb-826f-a938cdd5925b.png)

[2021-06-23 17:55] jcfranco commented on #2144
@bstifle Noice! One more question: if there's only one action, show it directly and skip the `...` menu (w/o vertical lines as well)?

[2021-06-23 17:56] AdelheidF commented on #2144
My wanted design is this one.
![image](https://user-images.githubusercontent.com/44481292/118171495-203f5600-b3e0-11eb-98a5-4707893274ca.png)
You click on the icon to get more info about it.

The design above https://github.com/Esri/calcite-components/issues/2144#issuecomment-867041115 says to me the notice is the info. This is different.

[2021-06-23 17:56] macandcheese commented on #2144
Alert is a more analogous component than any of block, panel, or value list, and this is how we treat two trailing "things":

![Screen Shot 2021-06-23 at 10 54 33 AM](https://user-images.githubusercontent.com/4733155/123145313-8d97cb00-d411-11eb-8838-03cbede21f73.png)

Let's make sure these are all visually consistent. I don't have a strong preference to what end. Maybe make the "queued" value a c

[2021-06-23 17:59] bstifle commented on #2144
@jcfranco

sorry that was confusing. the dots were not meant to be an overflow. just an action next to X. would just stack em to the side like this if more than one:

![image](https://user-images.githubusercontent.com/14083530/123145783-cc824c80-d422-11eb-9210-77688355f21c.png)

[2021-06-23 18:01] bstifle commented on #2144
Chip for queue would be dope

![image](https://user-images.githubusercontent.com/14083530/123146098-2420b800-d423-11eb-8229-3f7c29f56534.png)

[2021-06-23 18:04] jcfranco commented on #2144
@bstifle Got it. 👍🏼

Should we doc a recommended amount of notice actions? We could tackle this later if we need a mechanism to deal with the notice title/message overflowing into the actions area.

[2021-06-23 18:05] bstifle commented on #2144
no more than 2 would be best. that screen shot up there would be worst case in my opinion

[2021-06-23 18:07] jcfranco commented on #2144
I'll have a PR for this today that will:

* remove vertical delimiters
* rename `action-end` slot to `actions-end`
* support multiple actions
* update action slot doc with recommended number of actions to use

[2021-06-23 18:07] jcfranco commented on #2144
Thanks everyone!

[2021-06-23 18:25] macandcheese opened #2381 "Question: Should input clearable button be keyboard navigable?"
### Question
Currently, the clearable button for an input (when explicitly requested via prop, or with a default clear button like type search), is keyboard navigable.

Native "clear" functionality does not allow a user to tab to the affordance. It can be clicked but a keyboard user can use `esc` while the input is in focus:

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/search

[2021-06-23 19:02] bstifle opened #2382 "Enhancement: Alert supporting actions-end"
### Description
alert needs to support up to 2 actions in the end slot next to the X

![image](https://user-images.githubusercontent.com/14083530/123152019-b7f58280-d429-11eb-8498-f5c600c1cd48.png)

[2021-06-23 19:04] bstifle opened #2383 "Enhancement: Update Alert queue to use chips"
### Description
Alert queue change to chips, and get rid of the vertical lines.

Small chips for small alert, medium chips for medium alert, large chips for large alert

Design:
![image](https://user-images.githubusercontent.com/14083530/123153991-ef652e80-d42b-11eb-9638-97564979a0dc.png)

[2021-06-23 19:06] bstifle commented on #2382
hover and hit space to match X

[2021-06-23 19:37] caripizza opened #2384 "Epic: refactor styles to delineate whether text should wrap (ensure line-height is set alongside font-size)"
### Description
As a part of the #1500 refactor effort, we want to standardize the way font sizes appear across components.

Since each of our font-sizes includes a default line-height, we should use these selectors in order to delineate whether a font at a certain size should wrap or not: https://github.com/Esri/calcite-components/blob/master/tailwind.config.js#L74-L97

This Epic tracks the follo

[2021-06-23 19:37] caripizza commented on #2384
cc @jrowlingson @julio8a

[2021-06-23 19:39] caripizza commented on #2384
(This issue is intended to be used for tracking, ie., making sure we cover the above work for v1, not assigning to a single person.)

[2021-06-23 19:46] driskull opened #2385 "Bug: Fix use of invalid tailwind variables."
### Actual Behavior

- calcite-combobox-item.scss 'colors.border.1' does not exist in your theme config.
- calcite-accordion.scss - 'borderColor.2' does not exist in your theme config.

### Expected Behavior

There are no references to tailwind variables that do not exist

### Reproduction Steps or Sample

Using this VSCode plugin can display the error

https://marketplace.visualstudio.com/items?i

[2021-06-23 19:58] driskull commented on #2385
If we can prevent these errors in the future that would be ideal too :)

[2021-06-23 19:59] driskull commented on #2385
https://github.com/tailwindlabs/tailwindcss-intellisense/issues/346

[2021-06-23 20:44] caripizza commented on #2297
Self-assigning this one per conversation with Julio

[2021-06-23 21:50] jcfranco commented on #963
@asangma 🔊  https://github.com/Esri/calcite-components/issues/963#issuecomment-866379004

[2021-06-23 22:34] julio8a commented on #2383
I was doing refactor for Alert and this was an easy add #2339

[2021-06-24 00:06] jcfranco commented on #2290
@joeyHarig Can you confirm if this is still an issue? The following codepen uses the latest and the event seems to fire on click and Enter/Space keydown: https://codepen.io/jcfranco/pen/gOmNByj

Sidebar, I did notice that when a nested item is selected, two events are fired. @paulcpederson Do you know if this is the expected behavior? If not, I'll create a separate issue for this.

[2021-06-24 00:09] paulcpederson commented on #2290
@jcfranco it's the multiple trees, each one emits a change event, so when you select one of the nested ones you get n events based on your depth.

[2021-06-24 00:10] paulcpederson commented on #2290
I don't know if it's _expected_, though...

[2021-06-24 00:31] asangma commented on #2117
Assigning to myself for styling.

[2021-06-24 09:16] RalucaNicola commented on #2316
Tested with your app Franco and it looks good, Space and Enter now keep the thumb value.

[2021-06-24 09:16] #2316 closed

[2021-06-24 13:44] esride-nik opened #2391 "Intellisense with React + TypeScript"
## Summary
As requested by @paulcpederson, I'm opening this issue:
Using the NPM package "@esri/calcite-components-react" in a project with React and TypeScript, intellisense for tag attributes is not correct. _components.d.ts_ has the same long list of standard attributes for every tag, but none of the Calcite-specific events etc. These would be great to have.

## Measure of Success
Intellisense

[2021-06-24 13:45] esride-nik commented on #2336
Sure! Here it is: https://github.com/Esri/calcite-components/issues/2391
Thanks!

[2021-06-24 13:45] #2336 closed

[2021-06-24 16:45] jbartley commented on #2344
@jcfranco @asangma @julio8a can you comment on this request?  It is a change in behavior for how the new map viewer allows users to arrow down through different blend modes.

Here is how it works on production:
![caclcite list keyboard navigation production](https://user-images.githubusercontent.com/2277787/123301482-8c79a300-d4d0-11eb-98fa-eb7ca3b926ad.gif)

Here is how it works on dev:
![caclcit

[2021-06-24 16:52] jcfranco commented on #2344
From an implementation-perspective, totally doable. I think an opt-in prop would work well. The name would just have to indicate that it only applies for single-select.

From the UX-side of things, it makes sense to me to have these two modes, but I'll defer to @asangma's UXpertise™.

[2021-06-24 17:14] joeyHarig commented on #2290
@paulcpederson Let me update our CC dependency and I'll get back to you.

[2021-06-24 19:29] nwhittaker commented on #2255
Now that https://github.com/Esri/calcite-components/issues/2310 is merged and released, I updated the issue to reflect its behavior as of `1.0.0-next.227`.

In summary, I see the `mouseover` event fired twice. I'm not seeing the `mouseout` event fired twice. However, when it fires, I'm seeing it's target is the `<button>` element instead of the `<calcite-button>` element -- don't know if that's ex

[2021-06-24 19:37] driskull commented on #2255
Yes, that is expected because mouseover fires on entering each new element, even child elements. This is to keep a popover open when hovering child elements.

[2021-06-24 20:08] asangma commented on #2344
This make sense to me too.
I agree that we should have made it an opt-in change.

@jcfranco Because the current behavior (on dev) is similar to how radio buttons work, maybe be call it something like "radio-select"?

[2021-06-24 20:09] asangma commented on #2344
Sorry...to be clear.
We'd add that property and set it to `true` by default.

[2021-06-24 20:09] driskull commented on #2344
If we do have two different modes, we should probably swap the roles for the elements as well. Since the keyboard UX is actually defined by W3 depending on the role and we need to follow that to meet a11y guidelines. I believe this is a listbox role right?

[2021-06-24 20:14] driskull commented on #2344
No true bools by default :) It would need to be disabled

[2021-06-24 20:16] asangma commented on #2344
re: true bools.
Oh yeah...I forgot.

re: roles
Seems like it'd be a listbox regardless of the mode.
[This doc](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/listbox_role#keyboard_interactions) says that selection on focus is optional.

[2021-06-24 20:23] asangma commented on #2344
It seems like in a lot of our other use cases (i.e. selecting one or multiple fields), the arrow-only-changes-focus approach is good.

The blend mode case would benefit from arrow-also-changes-selection.

Perhaps we add a `radio-select` or `select-on-focus` property that would be turned on for blend modes.

`radio-select` might be good because it includes "single select" in the meaning...?

[2021-06-24 20:27] driskull commented on #2344
http://blog.junjizhi.com/all/technical/2020/08/11/a11y-listbox-menu.html

[2021-06-24 20:33] asangma commented on #2344
@driskull 👍🏾

[2021-06-24 20:46] jcfranco commented on #2344
@driskull Excellent points.

To recap, the pick list component would use a role of `listbox` regardless of selection mode, correct?

WRT naming, the spec uses the phrase `selection follows focus` to describe the move-and-select behavior, so the prop name could be based on this (`single-selection-follows-focus` or `selection-follows-focus`).

[2021-06-24 20:49] nwhittaker commented on #2255
The two events I was seeing had the same targets and composed paths -- so thought it might be the same issue. That being said, I'm unable to reproduce the issue anymore w/ the reduced test case. What I observed in https://github.com/Esri/calcite-components/issues/2255#issuecomment-867897481 was in-app, so there may be other factors going on -- I'll close this issue. Thanks for looking!

[2021-06-24 20:49] #2255 closed

[2021-06-24 20:53] driskull commented on #2344
Yes. its wrong now.

[2021-06-24 20:54] driskull commented on #2255
No problem. thanks for testing again and reporting it!

[2021-06-24 21:14] asangma commented on #2344
`selection-follows-focus` seems sufficient. :)

[2021-06-24 21:57] nwhittaker commented on #2150
Thanks @jcfranco, I'll keep an eye out for it.

How do you want to handle fixing the code samples on [popup-config-example.html](https://github.com/Esri/calcite-components/blob/d8e931421d5d661bf83b32f8396d0b227f531923/src/demos/shell/popup-config-example.html) to use the `action` slot name?

[2021-06-24 22:01] jcfranco commented on #2150
@nwhittaker Ah, I missed that. I'll submit a follow-up PR in a few.

[2021-06-25 00:05] jcfranco commented on #2268
Closing as self-verified. Please submit a new issue if something else needs to be addressed.

[2021-06-25 00:05] #2268 closed

[2021-06-25 00:05] jcfranco commented on #2026
Closing as self-verified. Please submit a new issue if something else needs to be addressed.

[2021-06-25 00:05] #2026 closed

[2021-06-25 01:48] #1083 closed

[2021-06-25 01:48] #1080 closed

[2021-06-25 01:48] #1077 closed

[2021-06-25 01:48] #1075 closed

[2021-06-25 01:48] #964 closed

[2021-06-25 02:17] jcfranco commented on #2150
☝🏼  💥

[2021-06-25 02:19] jcfranco commented on #2284
Installed!

@kellyhutchins Thanks for reporting this. Can you help verify this one? 🙇🏼‍♂️

[2021-06-25 03:50] jcfranco commented on #2344
One more thing, should this also apply to the value list? They are similar and share the same logic.

[2021-06-25 14:28] asangma commented on #921
@caripizza @julio8a Would y'all like to verify this one?

[2021-06-25 15:42] caripizza commented on #2042
https://github.com/Esri/calcite-colors/pull/71 has been installed, just need to cut a new release. I'll work with Paul on this after next week. (Then we can use this issue to track consuming the updated version.)

[2021-06-25 16:33] asangma commented on #2344
I think so.

[2021-06-25 16:40] kellyhutchins commented on #2284
@jcfranco  the alert one looks good but I still see "header-trailing-content" and "header-leading-content" here:
https://github.com/Esri/calcite-components/tree/master/src/components/calcite-panel

[2021-06-25 17:05] jcfranco opened #2402 "Bug: value-list + single selection allows tabbing through navigated items"
### Actual Behavior

In single-selection mode, navigating through value list items with up/down keys leaves them tabbable until an item is selected.

### Expected Behavior

After navigating through items, the only tabbable item should be the selected one.

### Reproduction Steps or Sample

1. go to https://codepen.io/jcfranco/pen/vYxoPbQ
2. tab or click the selected (3rd) item
3. press up key 2 ti

[2021-06-25 17:25] kellyhutchins commented on #1786
On the instant app team we've run into a few cases where it would be nice to be able to add slotted content to the accordion item header. One use case is the Nearby app where we add the count of items inside the accordion to the header. Here's an example:

https://www.arcgis.com/apps/instant/nearby/index.html?find=Calle%2520Emilio%2520Carranza%2520Poniente%2520442%252C%2520Obrera%252C%2520Ju%25C3%

[2021-06-25 17:42] rslibed commented on #1786
In the Instant Apps configuration experience, we use `calcite-accordion-item` to show/hide the `calcite-color-picker`. However, there isn't a simple way to display a color that is currently selected.

![image](https://user-images.githubusercontent.com/29421380/123463792-d0d47400-d5a0-11eb-8697-c93c60f94e9e.png)

It would be great if there was a slot to pass in an element like `calcite-color-picker

[2021-06-25 17:58] jcfranco commented on #2344
Installed.

[2021-06-25 18:11] asangma commented on #963
We may also want to retain the ability to "overload" the `control` slot.
That is to say, if Actions are added to `header-menu-actions`, we'd treat them like Panel does but use the Block's `control` slot.

And if Actions (or whatever) are also added directly to the `control` slot, we'd honor that. The `...` Action to open the menu would just always stay at the end of the header (right in LTR and le

[2021-06-25 18:16] asangma commented on #2258
Installed and ready for you to review again. lol

[2021-06-25 18:33] jcfranco commented on #2173
Started looking into this and based on the info from `docs-json.json` we can:

* associate type-matching knobs per attribute
* use `usage.md` files to create individual stories

There are two key missing pieces affecting automating stories:

* knowing which knobs to show for each story from usage examples. We have some stories that exclude or hardcode attributes based the use case.
* configuring k

[2021-06-25 19:24] AdelheidF commented on #2344
Tested on local build. Looks good.

[2021-06-25 19:56] bstifle commented on #2258
Done and done

[2021-06-25 19:56] #2258 closed

[2021-06-25 20:17] driskull commented on #2173
For the range issue, I think we can avoid interfaces for now until the bug is fixed.

The only way I can think of doing this is with another JSON (basic.md.json?) file where we can specify which knobs should be excluded for the usage example. Then we could access that data using custom docs generation. https://stenciljs.com/docs/docs-custom and build the storybook files?

Unless we can have some k

[2021-06-25 20:19] driskull commented on #2173
If we just need to specify knobs per component, then maybe custom jsdoc tags could work? https://stenciljs.com/docs/docs-json#custom-jsdocs-tags

[2021-06-25 20:40] AdelheidF opened #2403 "Bug: calcite-input - HTMLCalciteInputElement in ref undefined"
### Actual Behavior

Happens with beta.58, but not with beta.56.

When replacing a calcite-input with something else on a re-render I get an error that `node` is `undefined`.

![image](https://user-images.githubusercontent.com/44481292/123482786-9972c100-d5ba-11eb-89cf-edfafa3e4dd7.png)

[code]

It could be related to https://github.com/Esri/calcite-components/issues/2060

### Expected Behavior

#

[2021-06-25 21:01] #2344 closed

[2021-06-25 21:02] AdelheidF commented on #2364
Is good now. I still think "dismiss-button" would be better.

[2021-06-25 21:02] #2364 closed

[2021-06-25 21:37] jcfranco commented on #2173
Inlining would certainly help. I also forgot to mention that default values coming from a module would also need to be inlined. I know it's small, but I'd rather avoid doing so since we do use that pattern often. I'll see if I can do this w/o explicitly inlining interfaces/types/default values.

I like the idea of having special markers in the usage files. It would keep knob info close to the stor

[2021-06-25 21:40] driskull commented on #2173
Yeah, we can have a HTML comment that won't be rendered with some kind of parsable formatting.

[2021-06-25 21:55] jcfranco commented on #2284
@kellyhutchins I updated the usage files, but the readme's haven't been updated yet. We have a GH action that submits a PR for readme updates every day at 5:45p. The readmes should be up to date by tonight. Sorry for the hassle!

[2021-06-25 21:56] kellyhutchins commented on #2284
@jcfranco  got it thanks!

[2021-06-25 21:57] jcfranco commented on #2403
@AdelheidF I misunderstood the issue you found. It could be related to the way the input is used in a maquette context. Do you have more info on how to repro or a condensed sample?

[2021-06-25 22:25] AdelheidF commented on #1317
I came another case with the same issue. It worked with beta.54 and no longer works with beta.55 and later.

If I use `calcite-tooltip-manager` around a basic `div` I can already reproduce the same issue as above. `calcite-tooltip` is used inside a `calcite-block-section` with a toggle switch, which is inside a `calcite-block` and that is inside a `calcite-panel`.

When clicking on a style tile to

[2021-06-25 22:43] AdelheidF commented on #1317
This is causing the issue too. If I don't use `calcite-label` it's OK.

[code]

[2021-06-25 23:42] eriklharper commented on #1317
Interesting, I'm curious to see a screenshot of the Elements panel to see what the DOM structure looks like and if there is any improperly relocated slotted content anywhere.  [In regards to this repro](https://github.com/Esri/calcite-components/issues/1317#issuecomment-868862956), @AdelheidF, I'm wondering at any place in the tree that replicates that bug is a `calcite-label` or any other `scoped

[2021-06-26 00:18] jcfranco opened #2405 "Research: Add automated check to ensure doc and actual slot names match"
**monday.com sync:** #18048538142

### Background

Stems from https://github.com/Esri/calcite-components/pull/2394#discussion_r659088119

#2144 had an issue where the documented slot did not match with the actual slot name. Having some automated check would help catch these issues earlier.

cc @driskull

### Desired Outcome

Either of the following would work to ensure correct slot name usage:

*

[2021-06-27 01:49] #2159 closed

[2021-06-28 15:50] kellyhutchins commented on #2284
Looks good!

[2021-06-28 15:50] #2284 closed

[2021-06-28 16:41] tyanthony commented on #748
This would be a useful enhancement for our team as well - being able to have a predefined set of colors for our users would be very helpful
![image](https://user-images.githubusercontent.com/17069279/123673170-282b4c00-d80e-11eb-8a10-6f39428942e8.png)

[2021-06-28 17:01] nwhittaker commented on #2150
I see the doc and demos updated -- thanks!

[2021-06-28 17:01] #2150 closed

[2021-06-28 18:18] jcfranco commented on #2290
@joeyHarig Did you get a chance to test this with the latest?

[2021-06-28 18:24] joeyHarig commented on #2290
@jcfranco I have not yet, but I will have time tomorrow and I'll get back to you by EOBD

[2021-06-28 18:25] jcfranco commented on #2290
Thanks! I truly appreciate it. 😄

[2021-06-28 20:02] AdelheidF commented on #1317
Tried a new way (Erik suggested) for `calcite-radio-button-group` but that caused a blank panel as well.

![image](https://user-images.githubusercontent.com/44481292/123696568-b4d70980-d810-11eb-860a-3901b3f14fd6.png)

![image](https://user-images.githubusercontent.com/44481292/123696666-d46e3200-d810-11eb-80da-20a87656dc14.png)

[2021-06-28 22:00] AdelheidF commented on #1317
I looked more into the issue with `calcite-tooltip-manager` https://github.com/Esri/calcite-components/issues/1317#issuecomment-868862956. I reduced my panel contents to basically nothing except that it still contains `calcite-tooltip-manager` and I run into this issue. I do not create any tooltips, blocks, or toggles, only a basic `div`.

[2021-06-28 23:11] caripizza commented on #2297
@asangma  I jumped the gun on this one, calcite-alert really wants that 3px border-radius. I was hoping to refactor it to only have a 2px top border width, but now that its corners are rounded (pr #2339), it shows a wonky curved top border with anything other than the 3px border-radius. I'm leaving this value in place for now and we can revisit down the road if needed.

[2021-06-29 15:00] bstifle commented on #2297
@caripizza the only corner radius in CC should be 4px :)

[2021-06-29 18:10] driskull commented on #2349
This one also seems to be unstable.

[code]

[2021-06-29 18:15] tjameswhite opened #2411 "Enhancement: Animation options"
### Description
Update _animation.scss to provide reusable animations for elements.

Add timing to `root` to allow users to customize timing.
Add classes for animation trigger, and named animations.

[code]

### Sample Use
Animate card in-up on page load:
[code]

[2021-06-29 18:28] macandcheese commented on #1786
Having the actions-end and actions-start slots that block does would be useful here.

[2021-06-29 20:32] joeyHarig commented on #2290
@jcfranco I created a code pen where I have reproduced the bug: https://codepen.io/joeyHarig/pen/eYWmpbm?editors=1111

It looks like `selection-mode="children"` is the difference. I changed selection mode to equal "single" on our end and it resolved the issue.

[2021-06-29 20:41] driskull opened #2412 "Bug: ColorPicker display is inline by default which makes the height only 19px."
### Actual Behavior

Bug: ColorPicker display is inline by default which makes the height only 19px.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/1231455/123864430-9be95980-d8df-11eb-88e2-1e537f93dc93.png)

### Expected Behavior

[code]

### Reproduction Steps or Sample

Can be seen on storybook as well. https://esri.github.io/calcite-components/?path=/story/components-contro

[2021-06-29 20:42] driskull commented on #2412
cc @julio8a @caripizza We should make sure that all components have the correct display type by default so that their dimensions are correct.

[2021-06-29 21:07] caripizza commented on #2412
@driskull sorry can you clarify? Was a defect introduced on one of our related refactor prs?

[2021-06-29 21:10] driskull commented on #2412
@caripizza nope I don't think so, it seems like it was always like this.

I just wanted to make an announcement to the peeps who work on the SCSS files.

We might need to do an audit to make sure that the host has the correct display type for all components.

[2021-06-30 15:33] jcfranco commented on #2290
@joeyHarig Awesome. Thanks for the additional info. I see the issue now. Will submit a PR soon.

[2021-06-30 15:51] bstifle opened #2417 "Enhancement: Update icon sizes within Notice and Alert medium sizes"
### Description
Update icon sizes within Notice and Alert to match the global consistency of medium components

### Acceptance Criteria
- Medium Scale  alert/notice should use small scale for the X and start icon.
- Large scale alert/notice should use medium scale the X and start icon

#### Which Component
notice and alert

[2021-06-30 16:22] caripizza commented on #2241
@macandcheese Couple notes for the "Values" column of the Properties table on docs site:
- when a component's prop is **optional** (or when `!prop.default`), we should show `undefined (default)` (ie., mimic the way it appears on Storybook)
- when a component's prop **type** is an interface name, include [a case in the switch](https://github.com/ArcGIS/afd-calcite-documentation/compare/dev...macand

[2021-06-30 16:52] tyanthony commented on #749
Having the ability to change the Opacity would be a great enhancement for our team as well. An example of a use case for us:

![image](https://user-images.githubusercontent.com/17069279/124000773-ec28f000-d9a1-11eb-8b10-45c6ae931ec9.png)

[2021-06-30 16:53] jcfranco commented on #2144
Installed.

[2021-06-30 16:53] jcfranco commented on #2144
@AdelheidF Slot names should be fixed (now `actions-end`). Can you help verify?

[2021-06-30 16:55] jcfranco commented on #2303
Did some research on this and found a few libs that do this via 2 events (similar to `<input>`'s `input` and `change` events):

- https://material-ui.com/api/slider/ (`change` + `changeCommitted`)
- https://ant.design/components/slider/#components-slider-demo-event (`change` + `afterChange`)
- https://opensource.adobe.com/spectrum-web-components/components/slider (`input` + `change`)
- https://sap

[2021-06-30 17:00] driskull commented on #2303
Agreed. input + change.

[2021-06-30 17:02] macandcheese commented on #2241
Thanks for the updates. This sounds reasonable - although not sure best course on manually adding interface details. Maybe we can infer a url and link to an associates file or worst case, the component in some way on GH?

[2021-06-30 18:02] AdelheidF commented on #1317
This bug in in triage since mid Jan, could we get them to look at this faster? https://github.com/ionic-team/stencil/issues/2801

[2021-06-30 19:22] caripizza commented on #2359
Looking at this again, I'm not sure it's due to calcite-input not having its new heights yet. It'll certainly help, but the combobox heights themselves are different depending on selection-mode.

In Figma, combobox with selection-mode set to "single" doesn't match the other combobox input heights (multi and ancestors). @bstifle was that intentional?

@capeoples in the interim, you can use the CSS

[2021-06-30 19:35] driskull commented on #1317
The bug has to do with textContent and that wouldn't apply to the `calcite-tooltip-manager` right @eriklharper ?

The tooltip manager isn't a scoped or shadow component so maybe that has to do with it?

We might want to have separate issues since they may not be related.

[2021-06-30 19:43] driskull commented on #1317
@AdelheidF regarding the tooltip one: Can you send the raw output HTML in the browser that is problematic?

[2021-06-30 19:46] bstifle commented on #2417
Design

![image](https://user-images.githubusercontent.com/14083530/124022079-f652ea80-d9b1-11eb-9775-4cdec605261d.png)

[2021-06-30 19:49] bstifle commented on #2359
@caripizza yep! Intentional.

Combobox single select is input-sized. and Combobox with multi select needs to support calcite-chips within, hence the bigger height

[2021-06-30 20:02] bstifle commented on #2359
@capeoples These heights are currently correct and in master, maybe there needs to be a release

[2021-06-30 20:04] bstifle commented on #2359
going to close this one out as it is already verified and in master via bpatterson's work

![image](https://user-images.githubusercontent.com/14083530/124024120-65314300-d9b4-11eb-9405-3232e7bbe5e4.png)

![image](https://user-images.githubusercontent.com/14083530/124024071-564a9080-d9b4-11eb-9c35-6c2f225b1175.png)

![image](https://user-images.githubusercontent.com/14083530/124024145-6a8e8d80-d9b4

[2021-06-30 20:04] #2359 closed

[2021-06-30 20:20] AdelheidF commented on #1317
I removed all my content from inside `tooltip-manager` here to simplify.
![image](https://user-images.githubusercontent.com/44481292/124025522-660ea880-d9a5-11eb-883f-fb5fc0722f4e.png)

After the click on the Types tile you can see that the new panel is in the wrong place in the dom.
![image](https://user-images.githubusercontent.com/44481292/124025809-c0a80480-d9a5-11eb-86df-036105e400ca.png)

[2021-06-30 20:24] driskull commented on #1317
So the panel is inside the tooltip manager inside the other panel? That seems very wrong.

[2021-06-30 20:30] ManahariDahal commented on #2365
I have updated the Figma design we had for Switch, will create a PR soon.

[2021-06-30 21:20] AdelheidF commented on #1317
Same is happening with `calcite-popover-manager`.
![image](https://user-images.githubusercontent.com/44481292/124031682-76765180-d9ac-11eb-8655-4225f0c7f3d0.png)

And same with `calcite-label` (as mentioned before)
![image](https://user-images.githubusercontent.com/44481292/124033045-4af46680-d9ae-11eb-8e62-7b632535fe0c.png)

It works correctly when I use a non-existing dummy tag.
![image](https:/

[2021-06-30 21:24] mhogeweg commented on #2305
is anyone actively working on this? we are using this widget and are being affected by this issue.

[2021-06-30 21:48] COV-GIS opened #2420 "Enhancement: button loading indication with text"
### Description

Button able to be in the loading state but also shows the text, i.e. loading indicator in the button icon location.

Or better yet a `loadingText` property or the like so the loading and button text could be different.

#### Example Use Case

Waiting for a geoprocessing task to complete and the button with just the loading indicator for 10-30 seconds without text isn't intuitive t

[2021-06-30 22:23] AdelheidF commented on #2144
Tested with next.234. Looks good, thank you.

Without any styling
![image](https://user-images.githubusercontent.com/44481292/124038669-5c417100-d9b6-11eb-955a-85262cc08fbe.png)

With styling
![image](https://user-images.githubusercontent.com/44481292/124038777-8eeb6980-d9b6-11eb-903e-ce96364de0c5.png)

With close icon
![image](https://user-images.githubusercontent.com/44481292/124039054-09b48480-

[2021-06-30 22:23] #2144 closed

[2021-06-30 22:42] eriklharper commented on #2303
`input` + `change` feels right, its the most idiomatic.

[2021-06-30 22:50] driskull commented on #1317
My guess is that if the component isn't using `shadow: true` and it has a default `<slot />` then this error occurs.

We can probably verify by adding `shadow: true` to the `calcite-tooltip-manager` or removing the `<slot />` from it.

What do you think @eriklharper?

[2021-06-30 22:55] eriklharper commented on #1317
I'm convinced more than ever that this is definitely a problem with the dom relocation logic that Stencil does to try and "polyfill" slot behavior without using shadow DOM.  Even though `calcite-tooltip-manager` and `calcite-popover-manager` aren't `scoped` components, they're still not using shadow, so that tells me that the same logic Stencil applies to scoped components applies to these compone

[2021-06-30 22:57] driskull commented on #1317
Previously, i was just rendering `<Host />` so I could go back to that as shown here: https://github.com/Esri/calcite-components/commit/5974e7359a4bb406bcc1a7a4337c235224faf6ba#diff-a2f85c5f1a5b52a5a99d59322f5e298c7bb507a724df36bb2ab7dc6235e63701

I guess an empty div would probably work too.

[2021-06-30 22:59] eriklharper commented on #1317
I would try `<Host />` if Stencil requires you to have a `render()` method.  My guess is that an empty `<div>` won't resolve it because Stencil still needs to relocate the slotted content you provide the component to be within the empty div.

[2021-06-30 23:00] driskull commented on #1317
Yeah try removing the render method first.

[2021-06-30 23:02] driskull commented on #1317
For the label, its a bit more complicated. You either have to use shadow or get stencil to fix it.

[2021-06-30 23:07] eriklharper commented on #1317
Exactly, label is the tricky one because we want the slotted content to be inside the actual `<label>` element that `calcite-label` renders.  We're gonna have to convert it to shadow I think ultimately.  This bug doesn't seem to affect any other Stencil customers for some reason.  It also could be `maquette` that is doing something odd to trigger this.  The ultimate test to see if that's the case

[2021-06-30 23:19] AdelheidF commented on #1317
This change happened for `tooltip-manager` between beta.54 and beta.55: https://github.com/Esri/calcite-components/commit/f5ea968dc25b4700c2f08e528d7d5b3ee8f07768#diff-7c65d6e65fa48582a890403c6e1a4db9100c331566ef8aa034d2bd01e4717c1e

[2021-06-30 23:24] paulcpederson commented on #2359
@bstifle single select + input next to each other on `master` look like this:

<img width="657" alt="Screen Shot 2021-06-30 at 4 23 25 PM" src="https://user-images.githubusercontent.com/1031758/124043310-9e22e500-d9bf-11eb-8349-d676aa5140a9.png">

This is intentional?

[2021-06-30 23:53] driskull commented on #1317
To me, it does seem like its maquette since the HTML that is in the DOM is incorrect. It's not like Stencil is rendering that part.

[2021-06-30 23:54] driskull commented on #1317
@AdelheidF are you sure that adding a vnode key doesn't solve this with maquette? https://maquettejs.org/typedoc/interfaces/vnodeproperties.html#key

[2021-06-30 23:55] eriklharper commented on #1317
One thing I haven't tried is reaching out to the maintainers of `maquette` to see what they think of this strange bug.

[2021-06-30 23:56] driskull commented on #1317
Looking at the calcite-panel example screenshot, the panel is going inside the other panel. Which leads me to beleive it can't distinguish between the two?

![image](https://user-images.githubusercontent.com/1231455/124045282-286d4800-d9c4-11eb-8590-624d6a46461f.png)

[2021-06-30 23:59] driskull commented on #1317
Maybe maquette just doesn't know how to deal with custom elements that don't have shadow dom?

[2021-07-01 01:13] AdelheidF commented on #1317
I do
`return <Transparency key="type-size-transparency" {...transparencyProps} />;`

[2021-07-01 01:18] AdelheidF commented on #1317
I do.

first panel:
[code]
second panel:
[code]
third panel:
[code]

[2021-07-01 05:03] bstifle commented on #2359
@paulcpederson yep input still needs refactor work #2139

Combobox is good to go 👌🏻

[2021-07-01 15:41] joeyHarig opened #2422 "Bug: Conflicting class names in scoped components"
### Actual Behavior
The `<div/>` rendered inside of `calcite-radio-button` has a class of "container". This is a very common class name in many apps and may cause conflicting style declarations. This is the case in ArcGIS Monitor.

Can we change the class name to something more specific: "calcite-radio-button-container"?

<img width="500" alt="Screen Shot 2021-07-01 at 9 27 22 AM" src="https://use

[2021-07-01 16:32] capeoples commented on #2359
@bstifle, this is probably a larger conversation, but there are 2 considerations that would make the out of the box components work better for us in the home app:

- It would be great to have padding/heights of all components match. The screen posted above is a very common use case, and having multi-select comboboxs be taller/have different padding than inputs and single-select comboboxs gives it

[2021-07-01 16:52] driskull commented on #2422
@eriklharper more reason to make all of our components shadowed :D

[2021-07-01 17:00] driskull commented on #1317
For the tooltip-manager, the render method does need to be there. I'll just make it a shadowed component.

[2021-07-01 17:00] eriklharper commented on #2422
I'm surprised Stencil's scoped feature doesn't BEM-ify or randomize that class name.  We can totally remove that classname and just target the `div` directly in the CSS as a fast fix.

[2021-07-01 17:01] eriklharper commented on #1317
Just `tooltip-manager` and not `popover-manager`?

[2021-07-01 17:19] driskull opened #2424 "Enhancement: Alert - queue length number should be localized."
### Description

Enhancement: Alert - queue length number should be localized.

https://github.com/Esri/calcite-components/pull/2339#discussion_r661769180

The number displayed for queue length should be localized so that it appears correct in different languages.

### Acceptance Criteria

Number appears correct in different languages.

### Relevant Info

#### Which Component

Alert

#### Example

[2021-07-01 17:33] r-watkins opened #2425 "Enhancement: Left-aligned Checkbox for Card Component"
### Description
Proposing that the selectable card component's checkbox either be left aligned or have the options to change the alignment to the left when it makes sense for the developer to do so.

![Screen Shot 2021-06-30 at 9 50 23 AM](https://user-images.githubusercontent.com/17993027/124165509-b98cff00-da56-11eb-90d9-482febf2e30c.png)

### Acceptance Criteria
- Make card component's checkbox

[2021-07-01 17:34] driskull commented on #1317
The PR above will make tooltip-manager and popover-manager shadowed components which should fix this.

@eriklharper maybe you can just do the same for the other components. Even if stencil fixes this, it seems like all our components should be shadowed.

[2021-07-01 17:37] driskull commented on #2425
For consistency, i'd prefer to just choose one and not have it configurable.

[2021-07-01 17:54] eriklharper commented on #1317
Yes, that is definitely the plan.  Might be a bit involved to convert radio to shadow since it relies so much on the native radio behavior, but should be worth it.

[2021-07-01 18:23] macandcheese commented on #2425
Let’s go w left aligned cc @bstifle -

@r-watkins can you also add the issue for using a calcite tooltip so it’s more noticeable than the native label on hover ? Thanks!

[2021-07-01 18:24] jcfranco commented on #1317
@AdelheidF @eriklharper Just curious, could you check if there's an error thrown in the console when this happens (including caught exceptions)? I wrote the [this maquette (out-of-the-box) + scoped calcite-component repro case](https://codepen.io/jcfranco/pen/VwbLbyN?editors=0010), but in this sample it doesn't re-render after throwing an exception. If there's no error thrown, can either of you wa

[2021-07-01 18:26] julio8a commented on #2425
Agreed, for visibility left alignment works best.

[2021-07-01 18:29] r-watkins opened #2426 "A11y: Card Component Checkbox Should Have a Visible Label"
### Summary
When the card component is selectable the checkbox does not have a visible label.

![Screen Shot 2021-06-30 at 9 50 23 AM](https://user-images.githubusercontent.com/17993027/124170505-5aca8400-da5c-11eb-9e30-a82105299136.png)

### Actual Behavior

There is a Select/Deselect label that appears which I think serves screen readers and will provide context for most sighted users.

![Screen

[2021-07-01 18:35] TheBlueDog commented on #2425
In terms of information hierarchy, I feel having it on the left in the common card use gives it too much importance. My preference would be to keep it on the right.  The use in the selectable tile component creates a really odd left margin.

My vote would be keep it on the right, or allow the consumers to switch it based on the context of the app.

[2021-07-01 18:39] bstifle commented on #2359
@capeoples I understand the idea, but multi select comboboxes hold chips in them, so they compensate. Some options to consider:

1. We could make M scale combobox use S chips (doesn't solve for Small scale combobox though)
2. Make chips smaller across the board, but.... Small chips are already uber tight.
3. Not use chips in combobox

To your second bullet, The new padding scale was something put

[2021-07-01 18:41] TheBlueDog commented on #2425
I might not mind them on the left as long as they looked like Online does.

![Screen Shot 2021-07-01 at 2 40 55 PM](https://user-images.githubusercontent.com/5419306/124174439-5ca34000-da7a-11eb-9a87-e6a441447360.png)

[2021-07-01 18:43] julio8a commented on #2359
An idea I talked about with Mitch and Colleen was a potential prop for padding on components or a variable change. Initial ideas, but something to further discuss with the Calcite team from both technical and design standpoint. I was out the last few days, but I will follow up with you guys on this.

[2021-07-01 18:45] bstifle commented on #2359
I would be a fan of that idea if we did away with the S M L scales. Seems overly complicated to maintain 3 scales + padding variables, when the scales are prescribing padding

[2021-07-01 18:45] julio8a commented on #2359
The matching in heights, padding, font size, etc. will 100% be there and something we are working in our refactor project. I think next sprint, the major form elements will be a priority (input).

You can see the state of refactoring and matching Figma here:
https://github.com/Esri/calcite-components/projects/14

[2021-07-01 18:50] julio8a commented on #2359
Also, for this issue, Combobox has the correct height. It's the other form elements that don't match. You can see this in the project URL posted above in my previous comment based on the refactor.

[2021-07-01 18:57] bstifle commented on #2425
good point @TheBlueDog

Maybe we could drop the opacity of the white fill a bit

[2021-07-01 19:01] eriklharper commented on #1317
Trying to test the fix now with the author's temporary package, but I'm having install issues trying to pull it down.  Hopefully he can remedy it so I can try soon.

[2021-07-01 19:02] bstifle commented on #2425
hmmm, but with busier backgrounds the drop in opacity is a little rough

![image](https://user-images.githubusercontent.com/14083530/124176766-f9fb7580-da74-11eb-9a68-364aa18c97c2.png)

[2021-07-01 19:05] bstifle commented on #2425
that being said. i dont think it's fair to just keep it to one side. i think making it configurable is more inline with how Tile handles the selection side

![image](https://user-images.githubusercontent.com/14083530/124177044-5199e100-da75-11eb-9dee-cde73e4f0e17.png)

[2021-07-01 19:19] paulcpederson commented on #2359
Correct, this issue is more in regards to the fact that several versions now have had mismatches in height as different components are are rolling out as "correct" at different times. These updates need to be prioritized so the ui feels cohesive again, because at the moment it's a bit crazy:

<img width="754" alt="Screen Shot 2021-07-01 at 12 07 14 PM" src="https://user-images.githubusercontent.co

[2021-07-01 19:53] TheBlueDog commented on #2425
In that last example having it on the left looks like a mistake. Definitely competes with having any sort of icon there.

[2021-07-01 21:18] bstifle commented on #2425
@TheBlueDog  it can exist without the icon as well, had to account for both

![image](https://user-images.githubusercontent.com/14083530/124190452-eb6a8980-da87-11eb-9061-2ce588217741.png)

[2021-07-01 21:24] TheBlueDog commented on #2425
@bstifle  Yeah. Those examples look much more purposeful. I think this makes a good argument for letting the consumers configure which side its on.

[2021-07-01 21:32] bstifle commented on #2359
Agreed. This refactor is coming along, just.... slowly.

Tile doesn't quite count, but here are those components in figma:

![image](https://user-images.githubusercontent.com/14083530/124191755-df7fc700-da89-11eb-95f1-394bc3d981b3.png)

[2021-07-01 21:37] bstifle commented on #2425
100% my argument. I dont see why we cant have both ✨

[2021-07-01 21:46] driskull commented on #2425
It just seems like having two different designs for the same UI will lead to inconsistency. The whole point of calcite components is for design consistency. I think we should choose whether the checkbox goes on the left or the right.

If we are going to let them choose we should have some guidelines on when to use which and not to use both designs in the same app for UI consistency.

[2021-07-01 21:50] bstifle commented on #2425
Agreed about consistency. But we also have a lot of flexibility, which allows for inconsistencies. Alerts for example, can have and icon, or not. Can be dismissible, or auto-dismiss. We can have icons at the start of a button, or at the end, or both.

like you said, i think good documentation + freedom in placement is the stronger case.

[2021-07-01 21:51] driskull commented on #2425
I think in those cases its more about adding or removing functionality. In this example it just seems like a design preference.

[2021-07-01 21:52] bstifle commented on #2425
buttons start or end is not about functionality. neither is rounded or square buttons.

[2021-07-01 21:56] bstifle commented on #2425
if we are going to leave things to design preference, I prefer the checkbox on the right. seems better for the hierarchy.

[2021-07-01 21:57] driskull commented on #2425
If we do give the choice, we just gotta document good guidelines. We should have them for things like square vs rounded buttons too.

[2021-07-01 21:58] bstifle commented on #2425
Agreed and agreed

[2021-07-01 22:02] paulcpederson commented on #2359
This screenshot makes my heart soar like a mighty eagle.

[2021-07-01 22:03] bstifle commented on #2359
![external-content duckduckgo](https://user-images.githubusercontent.com/14083530/124194440-37203180-da8e-11eb-90ea-966ff523680c.gif)

[2021-07-01 22:07] caripizza commented on #2385
Installed. @driskull can you please verify?

[2021-07-01 22:12] driskull commented on #2385
Looks good. no more tailwind errors in these files.

[2021-07-01 22:12] #2385 closed

[2021-07-01 22:20] asangma commented on #1097
LOL! I just saw the last couple comments here.
I started on [some tables](https://github.com/Esri/calcite-components/blob/asangma/doc-css-vars-1097/src/6-custom-theme-introduction.stories.mdx#available-css-varirables) similar to what you suggest @jcfranco.

[2021-07-01 22:22] asangma commented on #1097
I've also had a chat with @bstifle about _broadly_ documenting the font size usage in different scales.
Note: I am updating files for the Storybook but I'm guessing this info would likely go on Developers yeah?

[2021-07-02 00:16] caripizza commented on #2297
Got it @bstifle

[2021-07-02 00:37] caripizza commented on #2241
@macandcheese After more analysis, I found that we can use the [`@see`](https://jsdoc.app/tags-see.html) JSDoc tag with a markdown link that leads to the interface definition on GitHub master branch:
[code]
Which generates this typing info in components.d.ts:
[code]

and produces this data in docs-json:
[code]

That said, since we can't use a relative link leading to the interface definition (ie.,

[2021-07-02 01:01] macandcheese commented on #2241
For the link, we could replace master with the current version of calcite components. That way at least the interface could be viewed. Later we could scrape that link for content and the child item that contained that interface.

For private, should we show it at all on dev docs ?

[2021-07-02 01:15] jcfranco commented on #2290
Installed!

@joeyHarig Can you help verify this one?

[2021-07-02 01:33] caripizza commented on #2241
You mean replace the text on docs site right? (Where does the cc version coming from?)

I'm not sure! Storybook shows them but doesn't delineate them as private right now. (Which is why I thought it could be a nice addition.)

Once example is the `hovered` property on calcite-checkbox: https://esri.github.io/calcite-components/?path=/docs/components-controls-checkbox--simple

[code]

[2021-07-02 01:33] jcfranco commented on #2417
@bstifle Updated description based on our conversation.

[2021-07-02 02:01] jcfranco commented on #683
Installed.

@MikeTschudi Can you help verify this one? I created a codepen with your snippet https://codepen.io/jcfranco/pen/OJmPXvv?editors=1001

[2021-07-02 13:56] TheBlueDog commented on #2425
@driskull  Problem is with being overly strict is that there are so many ArcGIS applications, we can't really know every context. Provide some documentation on what Calcite's "preferred" use is, but let the designers and developers make the choice for the app.

[2021-07-02 15:40] macandcheese commented on #2425
Candidly it seems like nothing other than visual preference (of which I don’t really have one).

It does seem like unnecessary design fragmentation that will lead to a less cohesive experience across ArcGIS apps.

If one had a different meaning, function, etc. having two seems more justifiable, IMO.

[2021-07-02 15:42] driskull commented on #2425
I feel the same way but it seems like there are some strong opinions on having it customizable. :)

[2021-07-02 16:00] macandcheese commented on #1097
Yep, I would suspect we eventually have a more comprehensive "theming" page on the Developers site that provided these css vars, and maybe some live updating components to see the result (similar to Storybook). We could even have a few custom themes we use as samples across our examples, something Material does a great job at in their usage examples.

[2021-07-02 16:05] jcfranco commented on #2412
Installed!

[2021-07-02 16:06] caripizza commented on #2383
Assigning to @bstifle for verification

[2021-07-02 16:08] #2412 closed

[2021-07-02 16:13] bstifle commented on #2383
yep verified julio added it

[2021-07-02 16:13] #2383 closed

[2021-07-02 16:14] julio8a commented on #2216
assigning to @bstifle for verification.

[2021-07-02 16:14] julio8a commented on #2136
assigning to @bstifle for verification.

[2021-07-02 16:18] caripizza commented on #2297
Assigning to @asangma for verification.

[2021-07-02 16:57] jul11557 commented on #2425
In case you guys want a product perspective: yes, we prefer customizable! :D We're about to implement this component as currently designed, and if you swap the position of the check we will have to revisit this component to see if the new placement still works. This seems like a minor level of customization...it doesn't seem like the checkbox position would cause any major inconsistency. (Also agr

[2021-07-02 17:29] caripizza opened #2433 "Docs: some readme tables show incorrect types and attribute values"
### Description
While testing `npm run build` locally to analyze auto-generated component data (#2241), I noticed some of the readmes show more up-to-date values than what appears on Storybook.

### Which Component
Here's the list of disparities I noticed:

1. `ancestors` prop on combobox-item - `any[]` in "Type" column should show `ComboboxChildElement[]`
2. `ancestors` prop on combobox-item-grou

[2021-07-02 17:45] MikeTschudi commented on #683
Thank you, @jcfranco!  I added relatives to the codepen and I can tab into and out of the top of the tree.

![image](https://user-images.githubusercontent.com/2125181/124311366-78fab780-db22-11eb-895a-719607fa0a32.png)

@cosbyr

[2021-07-02 17:54] joeyHarig commented on #2290
@jcfranco Can confirm works great!

[2021-07-02 18:05] jcfranco commented on #683
Awesome, thanks for verifying!

[2021-07-02 18:05] #683 closed

[2021-07-02 18:05] jcfranco commented on #2290
Thanks for verifying! 🎉

[2021-07-02 18:05] #2290 closed

[2021-07-02 18:54] caripizza commented on #2241
The CSS vars portion of this issue has been installed.

@macandcheese how should I proceed on this one? Yesterday I pushed the test branch I used for analyzing the docs-json, visible here: https://github.com/Esri/calcite-components/compare/caripizza/2241-auto-generated-docs-json-as-markdown

If you run `npm run build` on this branch, it will a) update component readmes (existing behavior) and b).

[2021-07-02 19:05] julio8a commented on #2117
Verified

[2021-07-02 19:05] #2117 closed

[2021-07-02 19:05] bstifle commented on #2117
looking good @asangma !!!! ✅

[2021-07-02 19:22] macandcheese commented on #2241
I think those todos are accurate, can you add them to the open issue in the afd repo for auto generating content? Then we can decide what to show and how to display it.

Is there an expected beta release this will land in so we can consume it via npm in that project?

[2021-07-02 20:16] bstifle commented on #2136
verified!

[2021-07-02 20:16] #2136 closed

[2021-07-02 20:20] bstifle commented on #2216
Modal X is not ui-text-3 on idle

Input close X and other controls (spinners, chevrons, etc)  are not ui-text-3 on idle

Popover, Alert, Notice are good ✅

[2021-07-02 20:47] caripizza commented on #2241
The next beta release will have the CSS props portion (beta.59, I'm guessing release on next Tuesday cc @julio8a).

However considering we just determined scope of the final action items, I need more time to finish the remaining doc to-dos. I need to gather the full list of affected props/events/methods, add the docs, and then test that they're properly updated via the build script. That means I d

[2021-07-02 20:49] caripizza commented on #2378
I just tested and the clearable button is clickable/keyboard navigable on all input types that have the `disabled` attribute set. I'll update the issue title.

[2021-07-02 20:52] evanmosby commented on #2082
Looking forward to these options with ArcGIS Monitor! Especially the center option (checks w/o box) for facet filter multi-select!

[2021-07-02 21:23] jcfranco commented on #720
FYI, I've got PR coming up soon. A couple of questions popped up from this:

* does `mirrored` only affect the component visually or does it also invert keyboard interaction?
* how should we deal with the histogram + slider use case? Based on https://material.io/design/usability/bidirectionality.html#mirroring-layout, talking to some teams that work w/ data visualization + sliders and some good ol

[2021-07-02 21:29] julio8a commented on #2241
Yes, we should do a release on Tuesday so that Adam can get started with what did make it out.  CC'ing @jcfranco

Let's regroup on what's left after this release and review the possible timeframe for them.

[2021-07-02 22:18] ManahariDahal opened #2436 "Enhancement: calcite-alert - update demo html to match Figma designs"
### Description
This issue aims to achieve parity between the calcite-alert Figma design, its demo HTML page, and any usage snippets we provide.

### Acceptance Criteria

- Variants illustrated in the Figma designs match the variants illustrated on the demo HTML page.

### Relevant Info

- Figma: calcite-alert needs to match the design in Figma and the usage of either flex/grid to achieve it

####

[2021-07-02 23:01] andreasulmer commented on #2234
Tested locally w/ npm @1.0.0-next.237
Tested on Win 11 Chrome, Firefox, Edge, Chrome w/ mobile touch emulation, Android Chrome.

✔ by default, modal now closes on outside click
✔ `<calcite-modal disable-outside-close...>` disables the outside close
✔ behaves as expected on drag-clicks, reliably triggers close on outside mouse-up
❌ One minor inconsistency with drag-release:
  * Mouse (non-touch) de

[2021-07-02 23:16] jcfranco commented on #2422
This issue should tackle namespacing CSS classes used by all scoped components. Fortunately, there's only 4 at the moment. I've updated the description.

We'll tackle moving these to shadow DOM in a separate issue.

[2021-07-02 23:18] joeyHarig opened #2437 "Bug: input-enabled calcite-tree not removing items from selected"
### Actual Behavior
Items are not removed from the selected array (returned from `calciteTreeSelect` -> `event.detail.selected`) once they have been unchecked.

### Expected Behavior
When `input-enabled` is true and items are unselected, the items should be removed from the array: event.detail.selected.

### Reproduction Steps or Sample
https://codepen.io/joeyHarig/pen/eYWmpbm?editors=1111

### Re

[2021-07-02 23:39] jcfranco commented on #967
Closing based on #1518. Verified that label does set shadow DOM button's `aria-label` attribute.

[2021-07-02 23:39] #967 closed

[2021-07-02 23:42] jcfranco commented on #965
This was superseded by https://github.com/Esri/calcite-components/issues/2117.

[2021-07-02 23:42] #965 closed

[2021-07-02 23:44] jcfranco commented on #970
@asangma @kat10140 Is this still valid?

[2021-07-02 23:45] caripizza commented on #720
I'll defer to @macandcheese and team here since I'm newer to the conversation. To me, slider's UI in rtl means `minValue` => `maxValue` appears as `maxValue` <= `minValue` on the scale (for single and range use cases):
![image](https://user-images.githubusercontent.com/42423180/124336800-597c8280-db54-11eb-94f4-efbad1b17a8e.png)

So yes, I think of the keyboard interaction being inverted. (ie., de

[2021-07-03 00:05] jcfranco commented on #1617
Closing.

@asangma If this is still valid, can you open another issue? Thanks!

[2021-07-03 00:05] #1617 closed

[2021-07-03 00:07] jcfranco commented on #1656
@asangma @lau11123 Is this still valid?

[2021-07-05 13:17] lau11123 commented on #1656
@jcfranco not anymore. I checked and it looks like the introduction of the overflow menu has overcome the original issue I reported. It seems like the discussion about the need for scroll bars on the action bar even with the overflow menu has been concluded, but just in case it hasn't I'll leave it up to @asangma to make the final call on this issue.

[2021-07-06 13:15] tyanthony opened #2439 "Bug: Calcite-Input content is not left-align in Firefox"
### Actual Behavior
In Firefox, the Calcite Input content is center-aligned. It is correct in Chrome and Safari.

### Expected Behavior
In Firefox, the content (Browse, etc.) should be left-aligned

### Reproduction Steps or Sample

Firefox (incorrect):
![image](https://user-images.githubusercontent.com/17069279/124605866-59bd9c00-de3a-11eb-9f08-ad6b08e79955.png)

Chrome/Safari (correct):
![image]

[2021-07-06 15:35] #2234 closed

[2021-07-06 15:38] bstifle commented on #720
@caripizza that makes sense to me. maxValue <= minValue in RTL

[2021-07-06 16:08] driskull commented on #2425
IMO its a design decision that the calcite design team should be making and not leaving up to each team to decide. It seems a bit of a cop out to do that.

If we are going to do it, we should have some sort of a property to toggle based on whether the primary goal is the card's content or the checkbox. That way there is some meaning to having it right/left and not just a design preference.

[2021-07-06 16:49] jcfranco commented on #1656
Sounds good. Thanks!

@asangma you are the judge, jury and executioner on this one.

[2021-07-06 16:50] jcfranco commented on #963
Installed.

[2021-07-06 16:52] jcfranco commented on #963
@kat10140 Can you help verify this one? If not, let us know if you want us to reassign it. Thanks!

[2021-07-06 16:53] jcfranco commented on #2196
Installed!

[2021-07-06 17:12] macandcheese commented on #2439
To confirm, this is only for input of type “file”?

[2021-07-06 17:29] jcfranco opened #2440 "Bug: Tree with nested tree elements fires duplicate events"
### Actual Behavior

A tree with nested tree children (as items) will emit duplicate events (one per nested tree in the hierarchy).

### Expected Behavior

A single tree select event should fire at the root of the tree.

### Reproduction Steps or Sample

With the following: https://codepen.io/jcfranco/pen/eYWZYwL?editors=1001

1. Click parents until you reach the E item
2. Click on the E item
3. N

[2021-07-06 17:43] jcfranco commented on #720
Moving to the next milestone. This should land this week.

[2021-07-06 19:10] julio8a commented on #2425
Thanks for chiming in all. This is a small level of detail, and I don't see a big enough use case(s) for adding the left/right option or moving it to the left. There is an impact on hierarchy and a level of subjectivity/preference on the placement.

Since just moving it will cause visual disruption on the current implementation and there isn't a strong enough use case or benefit for having the opt

[2021-07-06 19:37] driskull commented on #2350
@julio8a @jcfranco should this issue be designed first before being implemented?

[2021-07-06 19:37] julio8a commented on #2426
We just had an accessibility audit from a third-party company. Will check with them on the a11y requirements for something like this.

[2021-07-06 19:41] driskull commented on #678
@eriklharper I think your changes should fix this issue right?

[2021-07-06 19:41] julio8a commented on #2350
If a dev is ready, I think this is small enough of an update that we can get started on it. We can have @bstifle review at the PR state for UI feedback.

[2021-07-06 19:43] driskull commented on #2420
@jcfranco @julio8a this needs a design first right?

[2021-07-06 20:01] eriklharper commented on #678
I believe so, yes, the change we made recently to `calcite-button` removes attribute spreading, so setting `aria-label` on the shadowRoot `<button>` will be accomplished by sending in a `label` to `calcite-button` like `<calcite-button label="foo">`

[2021-07-06 20:10] bstifle commented on #2350
![image](https://user-images.githubusercontent.com/14083530/124660611-0c5a2280-de6c-11eb-9d56-394049b44303.png)

quick design for this. @TheBlueDog what do you think?

[2021-07-06 20:20] bstifle commented on #2420
@driskull loading button is already in... so i imagine this would look like this:

![image](https://user-images.githubusercontent.com/14083530/124661811-a40c4080-de6d-11eb-8320-cb547e91ede6.png)

Same 16px size and same space between as a button with icon

[2021-07-06 20:27] jcfranco commented on #2420
Thank you both for bringing this up and for the spec design! 💪🏼

[2021-07-06 20:31] bstifle commented on #2420
@jcfranco @driskull julio had a good idea to make these also have the disabled property:

![image](https://user-images.githubusercontent.com/14083530/124663074-3a8d3180-de6f-11eb-83b2-d0f69d2dcb73.png)

[2021-07-06 20:39] macandcheese commented on #2420
If `loadingText` as requested is introduced, let's just make sure we handle potential width changes with a transition of some sort, changing the size and text of a button at the same time can be jarring.

[2021-07-06 20:50] AdelheidF commented on #1317
Using next.237, `calcite-tooltip-manager` no longer causes a blank panel. Thanks!

[2021-07-06 20:58] AdelheidF commented on #1228
Tested with next.237, still seeing the same thing.
If the block-section (scale=s) is open at start the input box appears by default as scale=m, unless it's explicitly set as scale=s.

[2021-07-06 22:37] zaramatheson opened #2445 "Bug: Calcite-panel does not account for long text"
Related Map Viewer issue: https://devtopia.esri.com/WebGIS/arcgis-webviewer-app/issues/3463

The string ends in an elipsis and there is no tooltip over it:

![image](https://user-images.githubusercontent.com/50747646/124674585-e33b9100-de6f-11eb-901d-bd967e9e8803.png)

cc @jcfranco

[2021-07-06 23:01] driskull commented on #2328
@AdelheidF Can you verify that this is still happening in the latest version?

[2021-07-06 23:12] noahmulfinger opened #2446 "Bug: Updating calcite-tooltip reference-element fails in specific case"
### Actual Behavior

When updating the `id` and `reference-element` for a calcite-tooltip simultaneously (like via React state), the tooltip stops working if the tooltip is before the reference element. The reason this fails does make some sense. When the `calcite-tooltip` renders first, it can't find the matching reference element because the element has not been rendered with the new ID yet. Thi

[2021-07-06 23:38] joeyHarig opened #2448 "A11y: user focus cannot leave calcite-tree using shit + tab"
### Summary
Once focused within a `calcite-tree`, the user cannot use shit + tab to focus on elements earlier in the tabindex.

### Actual Behavior
When focused within a `calcite-tree`, shift + tab will tab backwards in the tab index until the first `calcite-tree-item` of the is reached. Once focused on the first item, shit + tab will set the focus to the selected `calcite-tree-item` or leave the

[2021-07-07 00:53] AdelheidF commented on #2328
still the same with next.237

[2021-07-07 01:23] jcfranco commented on #2417
Installed.

[2021-07-07 02:13] jcfranco opened #2450 "Research: Define pattern for components to look up ARIA labeling info automatically"
### Background

Some of our components have a `label` property solely to assign a11y labels on the host or internal components. I think we can simplify this by enhancing our components to look up this info without relying on a custom prop.

Ionic Framework has a util for looking up the ARIA label: https://github.com/ionic-team/ionic-framework/blob/master/core/src/utils/helpers.ts#L127-L140. Maybe

[2021-07-07 03:13] bstifle commented on #2417
verified  ✅✨💰

[2021-07-07 03:13] #2417 closed

[2021-07-07 13:51] TheBlueDog commented on #2350
Does the group title have a background color? Or is it transparent?

[2021-07-07 16:18] driskull commented on #2450
@jcfranco that utility assumes that the component is wrapped by a label or the component itself has aria-labeledby. I'm not sure that would work for a lot of the components.

It may work for some of the input/control components that we expect are wrapped by a calcite-label.

[2021-07-07 16:26] driskull commented on #2446
I think this is kind of expected. If it can't find the ID it's not going to work and it can't wait for that ID to start existing. It uses `.getElementById()` so if its not there it can't assign it.

In this case, I would recommend to not use a string for the reference element but a HTMLElement. The HTML element is always preferred if possible. The string ID is just a convenience.

[2021-07-07 16:30] COV-GIS commented on #1939
This is seems to have regressed in v1.0.0-beta.59 @driskull.

[2021-07-07 16:42] jcfranco commented on #2450
The util also tries to find an associated label (using `for`). We can use it as a base and extend it to include `calcite-label` and `aria-label` in that algorithm. This logic would work for any component, IMO.

[2021-07-07 16:45] driskull commented on #2450
Yes, but it means instead of just setting a label on a component the user has to create a calcite-label or label element somewhere.

[2021-07-07 16:46] jcfranco commented on #2450
The user can set `aria-label` on the component itself.

[2021-07-07 17:04] driskull commented on #1939
@COV-GIS calcite-action-menu now has a slot "trigger" where you can supply your action with all its props.

[2021-07-07 17:10] paulcpederson opened #2451 "Remove IE specific workarounds"
### Background

We have several workarounds for ie11 in the codebase, we can safely remove them now.

[2021-07-07 17:11] noahmulfinger commented on #2446
@driskull Thanks. That makes sense. One thing that could address this is having the tooltip query for the reference-element right when the tooltip gets activated. That way it will always have the latest information about the DOM when trying to display the tooltip

If that's not feasible, I think adding some documentation about recommended/best practices would be helpful, like:
- use html element i

[2021-07-07 17:20] julio8a opened #2452 "Refactor(Action Bar): match Figma and utilize Tailwind"
Related prs:
- pr #1805
- pr #2429

5/19 QA: the only additional changes needed:
- upping margin-right for .button--text-visible .icon-container from mr-2 to mr-3:
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-action/calcite-action.scss#L110
- ensure font-size matches Figma (may need `h` suffix)

[2021-07-07 17:21] COV-GIS commented on #1939
Thanks @driskull.

FYI...The slotted action has a small margin which adds a "gutter" to one side of the action pad.

[2021-07-07 17:22] driskull commented on #1939
Thanks, i'll create an issue for that one unless you want to handle it. I think i saw that as well. We need to probably add a slotted style for the action-menu in that component.

[2021-07-07 17:28] julio8a opened #2453 "refactor(Value List): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related prs:
- pr #1730
- pr #1731

Design:
- Needs full refactor, see Figma spacing
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1183%3A21916

6/24: Mike Stinson is working on this refactor - CP

[2021-07-07 17:28] julio8a opened #2454 "refactor(Pick List): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related issues:
- #1547

Related prs:
- pr #1682
- pr #1684
- pr #1686

Design:
- Needs full refactor, see figma spacing
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1183%3A7816

6/24: Mike Stinson is working on this refactor - CP

[2021-07-07 17:33] julio8a opened #2455 "refactor(Input): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Linked issue:
- #2139
- #2216

Related issues:
- #2041
- #1228

Related prs:
- pr #1653

Design:
- [ ] Needs Small Medium and Large scales for everything, cant fully QA
- [ ] needs full refactor (color, type no wrap line height, spacing)
- [ ] borders need to be updated to bord

[2021-07-07 17:33] julio8a opened #2456 "refactor(Button): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Linked issue:
- #2140

Related issues:
- #2041

Design:
- Issues above^
- full refactor (spacing, color, and non-wrapping text classes)
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=0%3A2053

[2021-07-07 17:35] julio8a opened #2457 "refactor(Slider): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Linked issue:
-#2224

Related issues:
- #720

Design:
- Medium is good. Small and Large need to be added
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=0%3A15235

[2021-07-07 17:42] julio8a opened #2458 "refactor(Action): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

5/19 QA: Work that needs to be addressed:
-  add Clear variant to Figma (Bryan)

Related prs:
- pr #1501

Design:
- needs small and large variants
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1184%3A3828

[2021-07-07 17:49] driskull opened #2459 "Bug: Slotting a calcite-action-menu inside a calcite-action-bar or calcite-action-pad display issues"
### Actual Behavior

Slotting a calcite-action-menu inside a calcite-action-bar or calcite-action-pad display issues.

The slotted action has a small margin which adds a "gutter" to one side of the action pad.

### Expected Behavior

The slotted action of the action-menu doesn't have a gutter to one side of the action-bar/pad.

### Reproduction Steps or Sample

[code]

### Relevant Info

![image](

[2021-07-07 17:55] driskull commented on #1939
https://github.com/Esri/calcite-components/issues/2459

[2021-07-07 17:56] driskull commented on #1939
Thanks created issue!

[2021-07-07 18:02] eriklharper commented on #2450
Assuming we support the pattern of setting `aria-label` directly on calcite form components, even with an automated system that also assigns an aria-label on internal elements inside the shadowRoot of said form components (to get a11y tests to pass), wouldn't that result in duplicate `aria-label`'s being set, because you would have one on the custom element and the same one on the `<input>` inside

[2021-07-07 18:05] eriklharper commented on #2450
What's confusing to me is that when we make a shadowed component that renders an `<input>` in its shadowRoot, browsers, screen readers and a11y tests expect that shadowed `<input>` to be properly labeled even though the custom host element has an `aria-label` on it, or is wrapped in a label or calcite-label.

It almost feels like the cleanest solution is to not use `<input>` tags inside shadowRoot

[2021-07-07 18:06] julio8a opened #2460 "refactor(Tree): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related issues:
- #2080
- #2041
- #2082

Related prs:
- pr #1732

Design:
- Needs full refactor, see Figma
- Needs Small Medium and Large Scales, see Figma
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1183%3A21400

[2021-07-07 18:09] julio8a opened #2461 "refactor(Switch): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related prs:
- pr #1860

Design:
- Hover state needs to go inward (currently outset), and change to brand-hover (see Figma)
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=0%3A16948

[2021-07-07 18:09] julio8a opened #2462 "refactor(Color Picker) match Figma and utilize Tailwind"
Related issue:
- #1431

Related prs:
- pr #1784
- pr #1787

Design:
- Spacing needs to match figma
- RGB/HSV tabs need to use small scale tabs (for small and medium size CP)
- RGB/HSV tabs need to use medium scale tabs (for large size CP)
- Opacity option missing

[2021-07-07 18:14] driskull commented on #2446
Yeah we might be able to do that. I'll investigate and leave this issue open.

[2021-07-07 18:25] driskull commented on #2450
It may be a problem that the input and label are across shadow boundaries. I think they have to be within the same root node. I'm not 100% sure though. If that is the case, we may need to have both the native input and label slotted in order to keep them in the same root node and still allow styling to them.

[2021-07-07 18:25] driskull commented on #2450
Yes it would duplicate unless we removed it on the host (which seems like a bad practice).

[2021-07-07 18:36] driskull commented on #2446
@jcfranco @julio8a  can we triage this one and put it in current milestone?

[2021-07-07 18:37] jcfranco commented on #2446
Added to the current milestone.

[2021-07-07 18:41] julio8a opened #2465 "refactor(Date Picker): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related prs:
- pr #2132
- pr #1793
- pr #1794
- pr #1795
- pr #1799

Related issues:
- #1431
- #2175

Design:
- Spacing needs to match figma
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=0%3A6416

[2021-07-07 18:42] julio8a opened #2466 "refactor(Dropdown): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related issues:
- #2041
- #1921
- #1431

Related prs:
- pr #1857

Design:
- Needs refactor stuff. Spacing, sizes of radio selection
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=0%3A7828

[2021-07-07 18:42] julio8a opened #2467 "refactor(Flow): match Figma and utilize Tailwind"
Related prs:
- pr #1661
- pr #2202

Design:
- Back button should have 16px x padding (48px wide total)
- Panel and Flow spacing needs work:
    - Top and bottom should be 20px
    - Left and Right of header and summary should be 24px

[2021-07-07 18:42] julio8a opened #2468 "refactor(Inline Editable): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related issues:
- #2041

Design:
- Issues above^
- full refactor (spacing, color, and non-wrapping text classes)
- close `X` idle (ui-text-3) and hover (ui-text-1) need to be updated
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1183%3A22445

[2021-07-07 18:42] julio8a opened #2469 "refactor(Tip Manager): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related prs:
- pr #1774

Design:
- Needs refactor spacing/type fix, and match latest design in Figma
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1183%3A20943

[2021-07-07 18:43] julio8a opened #2470 "refactor(Tile and Tile Select): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related issues:
- #1230

Related prs:
- pr #1769
- pr #1770
- pr #1771

Design:
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1183%3A19780

[2021-07-07 18:43] julio8a opened #2471 "refactor(Tip): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related prs:
- pr #1772
- pr #1773

Design:
- Needs refactor spacing/type fix, see Figma
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1183%3A20823

[2021-07-07 18:43] julio8a opened #2472 "refactor(Split Button): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

This has a dependency on button

Related issues:
- #2041

Related prs:
- pr #1618

Design:
- Needs full refactor, see Figma
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=0%3A15832

[2021-07-07 18:44] julio8a opened #2473 "refactor(Panel): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related prs:
- pr #1678

Design:
- Panel and Flow spacing needs work:
    - Top and bottom should be 20px
    - Left and Right of header and summary should be 16px
    - https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=1183%3A7662

[2021-07-07 18:44] julio8a opened #2474 "refactor(FAB): match Figma and utilize Tailwind"
Description
This component needs to match Figma designs.

Acceptance Criteria
The component appears as it does in Figma.

Related issues:
- #2041

Related prs:
- pr #1655

Design:
- Needs full refactor
- https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=0%3A8165

[2021-07-07 18:47] driskull commented on #2328
@AdelheidF can you create a codepen with steps? I'm unable to reproduce it on our test apps.

[2021-07-07 18:47] driskull commented on #2328
cc @eriklharper if he can reproduce

[2021-07-07 18:58] driskull commented on #2328
Seems like this component also needs a story in storybook. cc @eriklharper

[2021-07-07 18:59] driskull commented on #2328
@AdelheidF I'm not seeing it here: https://esri.github.io/calcite-components/?path=/story/components-controls-time-input-time-picker--light-theme

[2021-07-07 19:01] eriklharper commented on #2450
This is definitely true in the context of using native browser behavior for both form accessibility and native form behavior.

The problem is we're making custom elements that compose native form elements (either inside or outside a shadowRoot) without a browser API for taking control of native form behavior, which puts us in an awkward position of trying to both take advantage of native form beha

[2021-07-07 19:07] driskull commented on #2450
Yes that might solve the problems.

But if we made our `<calcite-input>` have a required slot for a native input element, we could wrap and style the native input as well as keep support native form behavior.

We could do the same with `<calcite-label>` and require a slot for a native label element.

[2021-07-07 19:13] nel11211 opened #2476 "Bug: I18N-Arabic only: Mixture of Indic and European numerals for RGB values in Color Picker"
### Actual Behavior

RGB values in the color picker display as Indic numerals when user profile language is set to AR and FF browser is used.

### Expected Behavior
RGB values should display as European numerals.

### Reproduction Steps or Sample

1. Open "My Settings" on an Devext test user and set language to Arabic.
<img width=500px src="https://user-images.githubusercontent.com/66378014/124812

[2021-07-07 19:19] eriklharper commented on #2450
Converting `calcite-input` to `scoped` would accomplish essentially the same thing without the user having to provide the native input.

If we decide to stick with using scoped components, there would be no need to do this since `calcite-label` already exposes its internal `label`.

[2021-07-07 19:21] eriklharper commented on #2450
A third option we could explore would be to completely ditch using `<input>` and `<label>` and instead just use ARIA roles on generic divs: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/textbox_role

[code]

This method (in theory) would allow assistive technologies to still work without the complexity of having to manage native inputs and labels, but the major drawback wou

[2021-07-07 19:26] driskull commented on #2450
I think the scoped components have issues of their own and it sounds like Stencil might be moving away from them. IMO its better to have a shadowed component that can separate its internals from being exposed.

I don't think this would work unless both the label div and input div are in the same shadowRoot. It faces the same issue as this: `It may be a problem that the input and label are across s

[2021-07-07 19:42] eriklharper commented on #2450
We could try setting the role and `contenteditable` on the Host element, that way the editable div isn't inside a shadowRoot.

[2021-07-07 19:43] julio8a commented on #2140
closing in favor of #2472

[2021-07-07 19:43] #2140 closed

[2021-07-07 19:44] julio8a commented on #2139
closing in favor of #2455

[2021-07-07 19:44] #2139 closed

[2021-07-07 19:45] driskull commented on #2450
yeah that might work. I'm not sure a native form would pick it up based on the role though.

[2021-07-07 19:46] driskull commented on #2450
Would be a good research project @eriklharper

[2021-07-07 19:59] driskull commented on #1958
Can we get this issue elevated so that we use the `queryElementsRoots` in dom utils?

What do you think @jcfranco Should this be a priority since it uses document and would fail inside a shadowRoot.

[2021-07-07 20:27] eriklharper commented on #2450
Right, we would have to implement our own form component in that case, most likely.

Another possibility down the road is we can support native forms with separate native-supported components, similarly to the `calcite-select` which was intentionally made to support the browser-native select dropdown UI.  That way people have a choice whether they need native form support or not.

[2021-07-07 20:28] AdelheidF opened #2477 "Bug: calcite-input type=number allows value entered outside of min/max range"
### Actual Behavior

When using the arrows it blocks the user to go past the min-max range, but it allows users to enter a value outside of that range.
I'd expect the value to return back to the previous valid value.

### Expected Behavior

return back to the previous valid value or stay at the range max or min value.

### Reproduction Steps or Sample

[code]

1. Enter `22`
2. Value `22` stays in

[2021-07-07 20:38] eriklharper commented on #2450
There's even a `form` role, go figure. https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Form_Role

[2021-07-07 20:45] eriklharper commented on #2450
@driskull where did you hear this?

[2021-07-07 20:46] driskull commented on #2450
https://ionic.zendesk.com/hc/en-us/requests/34736

[2021-07-07 20:47] driskull commented on #2450
It makes sense because per spec slots are for shadow components. We should probably move away from scoped components and have all shadowed ones.

[2021-07-07 20:51] driskull commented on #2450
If we implement our own form with role then we will have to implement all the logic that native forms do. It's doable but it duplicates a lot of work that the browser handles already.

IMO I think that slotting inputs, textareas, labels would make it simpler to maintain native support for forms and forms within frameworks as well as get rid of some duplicate props that we have on input components

[2021-07-07 20:55] eriklharper commented on #2450
Looks like I need an Ionic account to login to that.  Could you snip out the part that's relevant perhaps?

![image](https://user-images.githubusercontent.com/821864/124826990-56094280-df2a-11eb-92e9-8f13ec2e23d1.png)

As per scoped versus shadow, I think ultimately shadow is better otherwise what's the point of making encapsulated styles?  But I also am unsure if shadow is the end-all-be-all part

[2021-07-07 20:59] driskull commented on #2450
Yeah I think so. I think that is the point though right? We can style the native form elements and offer some stuff on top of them without having just a CSS library that requires they add a class on the native element.

The styling is still encapsulated in the shadow dom I think, right? The slotted styles would be untouchable to the end user.

I don't see why they wouldn't as they are still just w

[2021-07-07 21:17] asangma opened #2479 "Bug: ActionBar and ActionMenu unnecessary margin"
### Actual Behavior
When the action-menu is present, the trigger gets an additional margin which causes a visual gap.
![Screen Shot 2021-07-07 at 2 13 18 PM](https://user-images.githubusercontent.com/12503298/124829665-bbaafe00-df2d-11eb-964f-cf3b6a6ad914.png)

### Expected Behavior
No margin. No gap.
![Screen Shot 2021-07-07 at 2 16 21 PM](https://user-images.githubusercontent.com/12503298/124829

[2021-07-07 21:21] jcfranco opened #2480 "Bug: slider's min value thumb not placed correctly when range is -100 – 0 and both min and max are 0"
### Actual Behavior

For a range of -100 – 0, sliders are placed at opposite ends when both min-value/max-value are 0

### Expected Behavior

Both thumbs to overlap at 0

### Reproduction Steps or Sample

https://codepen.io/jcfranco/pen/LYyNqmj?editors=1000

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [x] CDN
- [ ] NPM package

[2021-07-07 21:35] eriklharper commented on #2450
Except that the styling is unrestricted because its not inside a shadowRoot.

[2021-07-07 21:38] jcfranco opened #2481 "Bug: slider's max value thumb can't be moved via pointer if thumbs overlap at min edge"
### Actual Behavior

The max thumb can't be grabbed when thumbs overlap at the min edge. Users can tab into the thumb and move it via the keyboard, but this seems broken.

### Expected Behavior

When both thumbs overlap at the edge, click/tap should grab the max value thumb

### Reproduction Steps or Sample

https://codepen.io/jcfranco/pen/eYWZxxz?editors=1000

### Relevant Info

_Version_: `@esri

[2021-07-07 21:48] AdelheidF commented on #2328
Sorry, my bad. A re-render causes this.

[2021-07-07 21:48] #2328 closed

[2021-07-07 22:01] ManahariDahal opened #2482 "Enhancement: calcite-button - update demo html to match Figma designs"
### Description
This issue aims to achieve parity between the calcite-button Figma design, its demo HTML page, and any usage snippets we provide.

### Acceptance Criteria
- Variants illustrated in the Figma designs match the variants illustrated on the demo HTML page.

### Relevant Info
- Figma: calcite-button needs to match the design in Figma.

#### Which Component
calcite-button

[2021-07-07 22:04] ManahariDahal opened #2483 "Enhancement: calcite-input - update demo html to match Figma designs"
### Description
This issue aims to achieve parity between the calcite-input Figma design, its demo HTML page, and any usage snippets we provide.

### Acceptance Criteria
- Variants illustrated in the Figma designs match the variants illustrated on the demo HTML page.

### Relevant Info
- Figma: calcite-input needs to match the design in Figma.

#### Which Component
calcite-input

[2021-07-07 22:04] driskull commented on #2479
duplicate of #2459

[2021-07-07 22:31] asangma commented on #2479
Closing

[2021-07-07 22:31] #2479 closed

[2021-07-07 22:31] driskull commented on #2209
We need to discuss how we want to handle supporting this.

@AdelheidF @dhrumil83
Currently, if you just listen for `calciteFilterChange` you can know to go through the items that aren't already filtered and filter them by setting their item to have the hidden attribute. That is what the built in search filter does.

Do we need to do anything else?

[2021-07-07 22:33] asangma commented on #2459
@caripizza @jcfranco This would be a minor fix but the bug causes a pretty noticeable UI bug.

[2021-07-07 22:52] driskull commented on #957
Do we have an icon for this? a dot?

[2021-07-07 22:59] driskull commented on #957
@julio8a I think we need a bullet icon to do this.

[2021-07-07 23:03] jcfranco commented on #1958
Added to the next sprint. Will move to this one if the queue clears up.

[2021-07-07 23:06] jcfranco commented on #2459
Added to the next sprint. Will move to this one if the queue clears up.

[2021-07-07 23:07] julio8a commented on #957
we need an icon, I'll create an issue/request in the calcite-ui-icons repository.

[2021-07-07 23:08] driskull commented on #957
Should we move this issue to next sprint then since it is blocked?

[2021-07-08 00:06] driskull commented on #2249
@jcfranco @julio8a  I think new components need to go through an API design process before being implemented.

Just looking at the designs, it's not super clear on how the API for this component should be implemented.

The native HTML meter element has the following attributes: min, max, low, high, optimum, value.
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meter#attributes

It seems

[2021-07-08 00:38] driskull commented on #2450
Yeah, that's one of the cons to using slots, they are still in light dom so they can be styled with. I'm sure we could control most of it though.

[2021-07-08 14:57] thomasknabl opened #2489 "Bug: Drag-n-Drop for value list and block not working on touch"
**monday.com sync:** #18048538104

### Actual Behavior
Drag-n-Drop for value list and block not working on touch in the following two cases. To be precise on iPad there is no dragging at all on win chrome touch you can drag a list entry but you can't drop it.

https://esri.github.io/calcite-components/?path=/story/components-value-list--basic&knob-class=calcite-theme-light&knob-dir=ltr&knob-disabl

[2021-07-08 15:12] jcfranco commented on #2249
@driskull I was thinking the API would come from the implementation phase, but we could tweak this of course.

Looking closer at the existing summary and your comment, I agree with you that this needs more detail. Along with the design mockups, we should make sure the summary lists the requirements on what this component should do. For example,

[code]

Having this would help with the API design,

[2021-07-08 15:31] jgrayson-apl opened #2490 "Bug: calcite-combobox incorrect indentations for second level calcite-combobox-items"
### Actual Behavior

second level combobox-items are not being indented

### Expected Behavior

second level combobox-items should be indented

### Reproduction Steps or Sample

See combobox storybook:
[https://esri.github.io/calcite-components/?path=/story/components-controls-combobox--simple](https://esri.github.io/calcite-components/?path=/story/components-controls-combobox--simple)

See in Cod

[2021-07-08 15:42] jgrayson-apl opened #2491 "Bug: calcite-combobox only visually highlights the selected item on every other time"
### Actual Behavior

calcite-combobox only visually highlights (blue dot and bold text) the selected item on every _other_ selection

### Expected Behavior

calcite-combobox should visually highlight (blue dot and bold text) the selected item _every_ time there's a selection

### Reproduction Steps or Sample

See calcite-combobox Storybook:
[https://esri.github.io/calcite-components/?path=/story/c

[2021-07-08 16:53] driskull commented on #2490
@jcfranco @julio8a can we move this to current milestone?

[2021-07-08 17:06] dasa opened #2492 "Docs: ColorPicker missing Usage section"
### Description

Most controls seem to have a Usage section, like [here](https://esri.github.io/calcite-components/?path=/docs/components-controls-checkbox--simple), but ColorPicker [does not](https://esri.github.io/calcite-components/?path=/docs/components-controls-colorpicker--simple).

### Which Component

ColorPicker

### Resources

[2021-07-08 17:07] jcfranco commented on #2490
Can you provide an effort estimate on this one (1, 2, 3, 5, 8, 13, 21, 40)? Seems like a 1 or 2 to me.

[2021-07-08 17:08] driskull commented on #2490
dos

[2021-07-08 18:49] driskull commented on #2249
Sounds good @jcfranco. More documented requirements along with the designs should be enough if they are thorough.

[2021-07-08 19:27] jgrayson-apl commented on #2491
https://user-images.githubusercontent.com/5324720/124979340-c3c77400-dfe7-11eb-958b-1afce03dd8c0.mp4

[2021-07-08 19:33] driskull commented on #2491
Thanks @jgrayson-apl! This one seems a bit trickier. what do you think @jcfranco @julio8a ?

[2021-07-08 20:22] driskull commented on #2491
Seems the issue only shows when mode is single selection. I'm guessing an event issue here.

[2021-07-08 22:11] bstifle opened #2494 "Enhancement: Add 2px margin between heading and summary for Block and CalciteListItem"
### Description
Add 2px margin between heading and summary for Block and Calcite-List to match what picklist and valuelist are doing. currently no margin and the text is butted up with the line-heights

### Acceptance Criteria
2px margin between heading and summary

#### Which Component
Block and CalciteListIem

[2021-07-08 22:26] driskull commented on #2422
Maybe we can shadowDom them next sprint?

[2021-07-08 22:45] asangma commented on #2494
Updated to focus on CalciteListItem. :)

[2021-07-08 23:08] driskull commented on #2378
Looked into this issue and I see a few things that are causing issues here:

- Why are we using `mousedown` events instead of click events here?
- Why are we using `div`s for buttons instead of `button` elements here?
- Why are `pointer-events` being used in a nested fashion? It's causing issues when the component host sets `pointer-events: none` and an internal node has `pointer-events: initial`.

[2021-07-08 23:09] driskull commented on #2378
I have a starting point for this but I think its a bit more complicated so maybe @eriklharper can tackle it.

https://github.com/Esri/calcite-components/pull/2495/files

[2021-07-08 23:34] driskull commented on #2378
This might be more of an epic to handle disabled components correctly.

We could setup a global test to make sure when a component is disabled and the tab key is hit, nothing inside the component is focused.

And add a global test utility to click an element and test that it hasn't changed something.

[2021-07-09 15:04] jgrayson-apl commented on #2490
The indentations look correct when tested with **v1.0.0-next.239**:
[https://codepen.io/john-grayson/pen/QWvEdzG](https://codepen.io/john-grayson/pen/QWvEdzG)

[2021-07-09 15:23] bstifle commented on #2249
@jcfranco i can provide more details for this

[2021-07-09 15:30] jgrayson-apl opened #2499 "Bug: calcite-combobox - calciteLookupChange event not fired when selection-mode is 'single'"
### Actual Behavior

The calcite-combobox 'calciteLookupChange' event is not fired when selection-mode is 'single'.

Reported by user in [GeoNet](https://community.esri.com/t5/calcite-design-system-questions/calcitelookupchange-event-when-combobox-selectionmode-is-single/m-p/1077037#M26)

### Expected Behavior

The calcite-combobox 'calciteLookupChange' event should fire regardless of selection-mo

[2021-07-09 15:32] jgrayson-apl commented on #2499
oops!  Just found workaround using 'calciteComboboxItemChange'...

[2021-07-09 16:58] zaramatheson commented on #2291
@jcfranco It looks like this is an issue still for other languages https://devtopia.esri.com/WebGIS/arcgis-webviewer-app/issues/3522

[2021-07-09 18:32] julio8a commented on #963
Verified on master

[2021-07-09 18:32] #963 closed

[2021-07-09 19:10] driskull commented on #2499
@jcfranco @julio8a should this be for this sprint?

Looking at the docs, the calciteLookupChange says its just for when the 'selectedItems' change.

It seems like we have internal state for selectedItems and selectedItem. I'm wondering if we should use the same event and refactor selectedItem to just use selectedItems?

[2021-07-09 19:12] julio8a commented on #2297
Verified in master

[2021-07-09 19:12] #2297 closed

[2021-07-09 19:14] julio8a commented on #2348
verified

[2021-07-09 19:14] #2348 closed

[2021-07-09 19:25] jcfranco commented on #1076
Installed.

[2021-07-09 19:35] julio8a commented on #2196
verified

[2021-07-09 19:35] #2196 closed

[2021-07-09 20:56] driskull commented on #1958
Think this should be pre 1.0

[2021-07-09 22:33] ManahariDahal opened #2505 "Enhancement: calcite-modal - update demo html to achieve parity with Figma designs"
### Description
This issue aims to achieve parity between the calcite-checkbox following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- Modal design should encompass the Figma HTML demo page

### Relevant Info
- The calcite-modal demo page should have all the variants

#### Which Component
calcite-modal

[2021-07-09 22:36] jcfranco commented on #720
Installed.

Slider now has a `mirrored` property for end-users to opt-in. This prop will be ignored if there is a histogram associated with it.

[2021-07-09 22:58] jcfranco commented on #1076
Closing as self-verified from recent next update: https://github.com/Esri/calcite-components/blob/master/CHANGELOG.md#unreleased-2021-07-09

[2021-07-09 22:58] #1076 closed

[2021-07-09 22:58] asangma opened #2506 "Enhancement: CalciteChip"
### Description
Align Chip a bit more (but not totally) with Button.
One immediate benefit would be to provide a chip style that works well on our background color (`--calcite-ui-background`).

Add
* `neutral` option to color
* `inverse` option to color
* `outline` option to appearance

Deprecate
* `color="grey"`
  * yes, "grey" with an "e".

### Acceptance Criteria

* Avoid breaking changes.
* Al

[2021-07-09 22:58] asangma commented on #2506
cc @mitc7862

[2021-07-09 23:00] julio8a commented on #2337
verified on beta.59

[2021-07-09 23:00] #2337 closed

[2021-07-09 23:04] joeyHarig opened #2507 "Bug: calcite-input-date-picker range event not firing"
### Actual Behavior
When the user types into the range inputs on the `calcite-input-date-picker`, rather than using the date picker popover ui, the event `calciteDatePickerRangeChange` doesn't fire.

### Expected Behavior
The event `calciteDatePickerRangeChange` should fire when a valid date is typed into either of the rage text inputs, similar to how event `calciteDatePickerChange` fires when a v

[2021-07-09 23:53] ManahariDahal opened #2508 "Enhancement: calcite-checkbox - update demo html to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-checkbox following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- Checkbox design should encompass the Figma HTML demo page to achieve parity

### Relevant Info
- The calcite-checkbox demo page should have all the variants

#### Which Component
calcite-checkbox

[2021-07-12 17:04] driskull commented on #2420
@asangma or @julio8a can you handle adding the transition for this?

[2021-07-12 17:35] julio8a commented on #720
verified

[2021-07-12 17:35] #720 closed

[2021-07-12 17:38] julio8a commented on #2291
To avoid having individual language issues created, it seems we need a list of the languages that need Mon as the first day of the week and tackles them all. @jcfranco, is this something the i18n team can help us identify?

[2021-07-12 18:15] caripizza commented on #2041
Taking on button from this list (from #2456)

[2021-07-12 19:02] bstifle opened #2512 "Streamlined name changes to components to limit confusion"
## Summary
Names of certain components are confusing or inconsistent with the naming of other components

## Measure of Success
have component names changed to be more accurate and less confusing

### Name change proposals

**Calcite-tab-nav -> calcite-tab-title-group**

Reasoning: Matches other child / parent component nomenclature,

Prevents conflation with upcoming calcite-nav / calcite-nav-*

[2021-07-12 19:34] babakbolour commented on #2291
@julio8a  we will get the list to you @raje9276

[2021-07-12 19:35] julio8a commented on #2291
Thanks @babakbolour!

[2021-07-12 20:12] driskull commented on #2350
@asangma I think we need to enhance the `calcite-list-item` to support nesting. Do we want to do that? Seems like currently, its restricted to a flat list.

[2021-07-12 21:02] eriklharper commented on #1579
Resolved by #2410, #2427, #2443, #2503, #2509

[2021-07-12 21:02] #1579 closed

[2021-07-12 21:13] driskull opened #2513 "Tooling: Make sure that components are honoring a correct default display value."
## Summary

I've noticed a few components that are by default displayed as inline but should probably be displayed as block by default.

For example, a new component `calcite-list` is displayed as `inline` by default. cc @asangma

`calcite-alert` is also displayed as `inline` by default.

It seems this is an issue with more than a few components.

## Measure of Success

All components are displaye

[2021-07-12 21:18] bpatterson88 commented on #2041
Taking on input

[2021-07-12 21:26] driskull commented on #2513
Other components with issues:

- dropdown-group
- fab
- graph?
- inline editable?
- label?
- link
- notice (this is inline by default but then flex when [active]). I think there are a few like this.

We should probably just have a test for every component I think.

[2021-07-12 21:31] dhrumil83 commented on #2209
I think the issue is both filters working together.
e.g.
User filters by "Number" fields
Types something "Shape" in search
Currently I have both filters applied. Now if user clears the "Number" filter, client does not have a way to know what's in the search box.

[2021-07-12 21:36] ptmdmusique opened #2514 "Combobox: change dropdown focus/open behavior"
### Question

Currently the combobox element will open the dropdown whenever it's focused. I'm wondering if we can make it more like a `select` tag where it will only open the dropdown on clicked or on some certain keys pressed instead

cc @paulcpederson

[2021-07-12 21:38] paulcpederson commented on #2514
@bstifle this came up recently while looking into some accessibility issues. Interested in your thoughts.

[2021-07-12 21:41] jcfranco commented on #2209
Maybe something like this could help?

[code]

This would allow users to tap into the component's filtering and override filtered items if necessary (e.g., no search term, but user has custom number-type filter applied). I think this would be more flexible than the event approach since it allows hooking directly into the filtering step.

WDYT?

[2021-07-12 21:48] ptmdmusique opened #2515 "Bug: Combobox input's focus style"
### Actual Behavior

After the dropdown is opened, pressing Esc will make the box loses its focus style. We can still type inside the input and I _think_ it's still focused, but it loses its focused style for the border

### Expected Behavior

The input should not lose the focus style as it's still focused

### Reproduction Steps or Sample

https://esri.github.io/calcite-components/?path=/story/co

[2021-07-12 22:35] julio8a commented on #2041
Woah, nice Ben! That's a big one. Feel free to reach out if you need any help. @jcfranco was going to work on input this sprint, but go ahead and take it. Will re-assign the issue to Ben.

[2021-07-12 23:12] babakbolour commented on #2291
@julio8a  pls access this web tool we created for the info: [here](http://i18nsrv1/localelookup/GroupFormats)
this is reading from CLDR.
Also, I hope you don's hard-code the first day of the month, by  UI language! has to be by locale/region (i.e. for Switzerland, we should show Monday, regardless of the languages spoke there: German, Italian, French, other). if you need coding help, @raje9276 can

[2021-07-12 23:16] dhrumil83 commented on #2209
Ideal solution might be that the client provides the pick list all the needed information, and then the pick list takes care of everything (similar to how search filter currently works)

Suggestion above would help, but seems like client would have to track and maintain bunch of things, though it would provide more flexibility.

[2021-07-12 23:28] ankitagupta820 opened #2517 "Docs: Add additional information for using attributes related to labels i.e used with aria-labels or tooltips."
### Description
Component attributes related to labels do not have sufficient information on usage. For instance Calcite-slider ->“max-label”, “min-label” , weather used as tooltip or aria label. Information about how these labels are rendered on UI etc.

### Which Component
-	Calcite-slider: “max-label”, “min-label”
-	Calcite-pagination: “text-label-next”, “text-label-previous”
-	Calcite-pick-lis

[2021-07-12 23:31] jcfranco commented on #2209
Could you expand on this suggestion? Maybe an ideal-situation snippet?

[2021-07-12 23:45] ankitagupta820 opened #2519 "Enhancement: Calcite-pagination: Support for locale numerals for page numbers."
### Description
The pagination component must locale numbers for page numbers. For instance arabic, hebrew do not support latin numerals.

### Acceptance Criteria
Component UI shows numbers in locale specific to the language used in browser settings.

### Relevant Info

#### Which Component
calcite-pagination

#### Example Use Case
For instance calcite-datepicker shows locale specific numerals as

[2021-07-12 23:53] ankitagupta820 opened #2520 "Bug: Input Date Picker - user is able to input more than 4 numbers for the year"
### Actual Behavior

### Expected Behavior
For calcite-input type="date" or "datetime-local" the placeholder format shows mm/dd/yyyy. User should be able to enter 4 character long number for year, instead the user is able to input a 6-character number for year.
![image](https://user-images.githubusercontent.com/65870621/125369672-95bc9980-e331-11eb-956d-68235dd0b77e.png)

### Reproduction Steps or

[2021-07-12 23:56] ankitagupta820 opened #2521 "Enhancement: For type=”tel”, the input must be restricted to numbers (0-9), hyphens (-) and parenthesis ()."
### Description
Calcite-input , type="tel" (telephone) is not input restricted. A user can enter all possible characters.
Instead, the input must be restricted to numbers (0-9), hyphens (-) and parenthesis ().

### Acceptance Criteria
input characters are restricted to numbers (0-9), hyphens (-) and parenthesis ().

### Relevant Info

#### Which Component
calcite-input , type="tel"

#### Example U

[2021-07-13 00:00] driskull commented on #2209
I don't think the pick-list can do the advanced filtering here. It doesn't know about the types of the items and stuff like that.

[2021-07-13 00:01] dhrumil83 commented on #2209
Expand the metadata prop, or perhaps have an additional filterMetadata prop.
https://github.com/Esri/calcite-components/tree/master/src/components/calcite-value-list-item

For text filter, currently client passes something like this:

[code]

Could be expanded to:
[code]
or maybe
[code]

Now when user filters by text, or via the dropdown(number and/or popup), or any combination of these 3 pick lis

[2021-07-13 00:04] ankitagupta820 opened #2522 "Enhancement: calcite-input type=”time” does not support different locales."
### Description
calcite-input, type=”time” does not support different locales.
Existing support only for 12 & 24 hour clocks.

### Acceptance Criteria
calcite-input of type="time" should support localization of time formats. (AM/PM strings), default clock formats in different locales (12/24 hour clocks) etc.

### Relevant Info

#### Which Component
calcite-input, type="time"

#### Example Use Case

[2021-07-13 00:54] jcfranco commented on #2209
I second what @driskull said. The lists don't have enough info for non-text filtering. `metadata` is used as additional data to find text matches.

Not sure if this helps, but here's an example of how my proposal could work for your use case:

[code]

Admittedly, this doesn't address how active filter options are displayed in the UI, so we'll also need someone from the design team to chime in on t

[2021-07-13 14:42] asangma opened #2524 "Bug: Panel header/heading x-spacing doesn't match Block header/heading x-spacing"
### Actual Behavior
Alignment between Panel header and Block header is off.
Note this will not apply when
- Panel has a back button
- Block has any content (icon, drag handle) in the start position of its header

### Expected Behavior
* suggested x-padding for Block is 0.75rem (`px-3`)
* This would also mean that Panel `.header-content` should also get x and y padding to match (`p-3`)
* Because Pa

[2021-07-13 14:43] asangma commented on #2524
cc @TheBlueDog spoke with Ade about this.

[2021-07-13 14:51] bstifle commented on #2524
this is good. ill update in figma/sketch

[2021-07-13 16:42] julio8a commented on #2420
Not sure I have the technical chops, but I can give it a try

[2021-07-13 17:06] bstifle opened #2525 "Enhancement: Modal width property values are misleading. Change to Narrow, Moderate, Wide"
### Description
Modal width property values are misleading because the they are the same as Scale which uses S M L.

Change S M L width values to -> Narrow, Moderate, Wide

![image](https://user-images.githubusercontent.com/14083530/125495402-cf3ef38d-7d06-4f25-99a3-d913aef1a797.png)

[2021-07-13 17:11] dhrumil83 commented on #2209
This works as well.
Pick list will still take care of the text filter, and the client will handle the filter that comes via the dropdown.

[2021-07-13 17:18] macandcheese commented on #2525
Moderate seems a little weird to be a width value… I don’t think there’s anything wrong with it also being medium (or matching s,m,l). FWIW I think dropdown also has this width property.

[2021-07-13 17:38] bstifle commented on #2525
Narrow, Default, Wide would prob be better

[2021-07-13 17:54] ManahariDahal opened #2526 "Enhancement: calcite-avatar demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-avatar following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- Checkbox design should encompass the Figma HTML demo page

### Relevant Info
- The calcite-avatar demo page should have all the variants

#### Which Component
calcite-avatar

[2021-07-13 18:03] asangma commented on #2524
@bstifle

I propose we use the Panel 0.75rem spacing. It's also what Block uses for its content area. Thoughts?

Also, that back button is a CalciteAction with `scale="s"`. We'd need to update that component.

[2021-07-13 18:12] bstifle commented on #2524
@asangma i deleted that comment cuz it was innacurate

[2021-07-13 18:14] bstifle commented on #2524
@asangma that being said.. i think using 1 rem in both cases would be stronger. panel with a 12px left is pretty tight

[2021-07-13 19:58] ptmdmusique opened #2527 "Question: combobox item callback"
**monday.com sync:** #18048538148

### Question

Is there anyway we can expose something like a `isValid` callback for `calcite-combobox-item` or `calcite-combobox` so we can validate the item the user adds before actually add it to the `combobox` ❓

We're having a tag list feature for items and one of the issue came up is that tags that have trailing/leading spaces are considered as separated tag

[2021-07-13 21:03] caripizza commented on #2456
I'm not seeing what calcite-button should look like with text + 1 icon, or with 2 icons. Can you help me understand what that's supposed to look like @bstifle? (Is it supposed to appear like the FAB designs and have 12px margin between?)

[2021-07-13 21:04] ManahariDahal opened #2529 "Enhancement: calcite-icon demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-icon following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- Icon design should encompass the Figma HTML demo page

### Relevant Info
- The calcite-icon demo page should have all the variants

#### Which Component
calcite-icon

[2021-07-13 21:05] asangma commented on #2524
@bstifle Let's have a look at the two options together in a demo app yeah?

[2021-07-13 21:37] drewdaemon opened #2530 "Research: Inactive Dropdown Options Mistaken For Disabled"
### Background

We recently used dropdown Calcite components in the Hub application and got feedback from users that the lighter, inactive text color that shows on the `calcite-dropdown-item` sometimes led to dropdown options being mistaken for being disabled when they were really just not _active_.

### Desired Outcome

See if it might be worth denoting inactive options in a way that isn't easily

[2021-07-13 21:49] samanthahunter commented on #2530
An example of our first implementation and some customer feedback (loudoun.gov):
<img width="295" alt="Screen Shot 2021-07-13 at 5 47 51 PM" src="https://user-images.githubusercontent.com/33425289/125529768-38cf8578-b7a5-421f-877b-2713e88d4a3c.png">

[2021-07-13 21:53] AdelheidF opened #2531 "Docs: calcite-block - description for slot=icon is wrong"
### Description

![image](https://user-images.githubusercontent.com/44481292/125530132-179b0c25-e73f-4cb6-91ff-02f5d9c9c199.png)

Though icon seems to appear at the leading side.
![image](https://user-images.githubusercontent.com/44481292/125530192-ed44cf92-b6b9-475b-8f40-4188376d172c.png)

### Which Component

### Resources

[2021-07-13 22:59] driskull commented on #2525
I would prefer to keep it s,m,l if possible for consistency

[2021-07-13 23:08] driskull commented on #2522
This component just displays a native input element. I don't think the native browser supports this formatting so we likely won't be able to do anything here.

For example this does nothing different, even if you set your browser locale differently.

[code]

[2021-07-13 23:10] driskull commented on #2521
@eriklharper we should probably just get rid of these.

[2021-07-13 23:10] driskull commented on #2521
@julio8a @jcfranco should we get rid of `calcite-input` type for 1.0?

[2021-07-13 23:32] driskull opened #2532 "Tooling: global test utility for focused components when disabled/loading"
## Summary

I've noticed a few "control" components that when disabled, they can still be focusable. For example, you can still tab to a disabled calcite-input element and hit enter on it.

https://github.com/Esri/calcite-components/issues/2378#issuecomment-876809215

## Measure of Success

We should setup a global test to test any component that has a disabled or loading property to make sure tha

[2021-07-13 23:35] driskull commented on #2305
`calciteLookupChange` is documented as emitting when 'selectedItems' have changed. However, we don't have any event for when 'selectedItem' has changed.

I'm wondering if we should add a separate event for when a 'selectedItem' has changed or if we should reuse the same event and document it differently.

Internally, there's no reason why we can't just use 'selectedItems' when the mode is "single"

[2021-07-14 15:39] MikeTschudi commented on #678
At calcite-components version 1.0.0-beta.59, the latest on unpkg.com, the element is updated:
![image](https://user-images.githubusercontent.com/2125181/125649501-ba7d18d3-216c-4a88-9bb3-a3e68258ce0d.png)
to
![image](https://user-images.githubusercontent.com/2125181/125649597-19d984b5-e43e-4c44-b668-f4c670a27987.png)
when the menu selection is changed.

But the screen reader no longer says the nam

[2021-07-14 16:46] driskull commented on #678
@MikeTschudi you would need to set the 'label' property on the 'calcite-button' and not set the 'aria-label' there.

[2021-07-14 17:23] caripizza opened #2534 "Enhancement: capitalize all default `TEXT` string values in resource files"
### Description
While working on #2241 (default values portion of the issue), I noticed some component TEXT strings aren't capitalized:
- calcite-alert: `TEXT.intlClose` (should be "Close", not "close")
- calcite-chip: `TEXT.close` (should be "Close", not "close")
- calcite-date-picker: `TEXT.nextMonth` and `TEXT.prevMonth` (should be "Next month" and "Previous month", not "next month" and "previo

[2021-07-14 17:24] MikeTschudi commented on #678
@driskull, thank you--that does speak the button name. But then it doesn't get updated when I choose a new menu option:
[code]
after change to "Date Modified":
![image](https://user-images.githubusercontent.com/2125181/125665257-07bdfab2-6f99-442d-97e9-24304780dce8.png)

[2021-07-14 17:36] driskull commented on #678
I don't think it is supposed to get updated. It's not a select listbox.

It's this role:

https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-2/menubar-2.html
https://www.digitala11y.com/menuitemradio-role/

[2021-07-14 17:38] driskull commented on #678
Those menu items shouldn't need an aria-label since they have text inside them.

[2021-07-14 17:48] eriklharper commented on #2521
Get rid of what exactly?  The illegal telephone characters or the `type="tel"` altogether?

I think we should move towards supporting each `type` of input as separate components, so it would become `calcite-input-tel` if we decide to support that.

[2021-07-14 17:50] COV-GIS opened #2535 "Bug: calcite-radio-button-group events only fire when clicking the labels and not radio buttons"
### Actual Behavior

In a radio button group when clicking on a radio button wrapped in a label events only fire when clicking the label and not the button.

### Expected Behavior

When a radio button is clicked and/or the check state of the group has changed events should fire.

### Reproduction Steps or Sample

https://codepen.io/COV-GIS/pen/BapJogR

### Relevant Info

_Version_: `@esri/calcite-

[2021-07-14 17:50] driskull commented on #2521
the `type="tel"`.

👍

[2021-07-14 17:51] eriklharper commented on #2521
We'll probably need an Epic to capture deprecating the `type` property from `calcite-input` and make separate tickets that break out all the existing supported types into separate components.

[2021-07-14 18:04] ManahariDahal opened #2536 "Enhancement: calcite-rating demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-rating following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- Rating design should encompass the Figma HTML demo page

### Relevant Info
- The calcite-rating demo page should have all the variants

#### Which Component
calcite-rating

[2021-07-14 18:32] jcfranco commented on #947
Blocked by https://github.com/ionic-team/stencil/issues/2169. Fortunately, there is a [PR](https://github.com/ionic-team/stencil/pull/2791) for it.

[2021-07-14 19:03] mpayson opened #2538 "Bug: Number input event not fired when removing remaining decimal value"
### Actual Behavior

When I type "1.2" into a number input then delete "2", the component only emits events for "1" and "1.2" not "1", but the final input displays "1".

### Expected Behavior
The component emits an event for the final "1" as well.

### Reproduction Steps or Sample

Codepen: https://codepen.io/mpayson/pen/BaRpXvy

Type "1.2" into the input then delete "2" and check the console logs

[2021-07-14 19:30] #2490 closed

[2021-07-14 22:06] #2365 closed

[2021-07-14 22:41] caripizza commented on #2456
^ I'll go with the above margins for now

[2021-07-14 23:01] bstifle commented on #2456
@caripizza yep just like fab and split button

![image](https://user-images.githubusercontent.com/14083530/125703546-8e0700ba-b748-4e05-811b-772a9de7ea37.png)

https://www.figma.com/file/E3SB0i5wPy7AagB7KcjF05/?node-id=0%3A2053

[2021-07-14 23:27] AdelheidF opened #2541 "Bug: calcite-list not looking the same as calcite-pick-list"
### Actual Behavior

The 2 lists don't match on the vertical padding and on the  definition between items.

calcite-list&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbs

[2021-07-14 23:59] caripizza opened #2542 "Docs: calcite-radio-button-group, calcite-radio-button - Storybook "Docs" fail to render"
### Description
Go to Storybook, click on either Radio Button Group or Radio Button stories. Then click "Docs" tabs. The screen is blank and the console shows several error logs. (Happens when locally previewing the docs as well)

### Which Component
Radio Button Group, Radio Button

### Resources
I found this related Storybook issue which matches the error stack trace in Dev Tools console:
https:

[2021-07-15 15:03] caripizza commented on #2241
@macandcheese all prs installed on master!

[2021-07-15 15:13] julio8a commented on #2241
Great job @caripizza!

[2021-07-15 16:09] asangma commented on #2541
@caripizza @jcfranco Would be nice to get this in soon since CalciteList is starting to get used.

[2021-07-15 16:20] jcfranco commented on #2541
@asangma Can you estimate the level of effort for this? If simple, do you have some cycles to wrap this up this week?

[2021-07-15 16:37] asangma commented on #2541
LOE is very low.
I could make it happen today.

[2021-07-15 16:39] jcfranco commented on #2541
@asangma Up for grabs for this milestone. 💪🏼

[2021-07-15 16:57] noahmulfinger opened #2547 "Bug: calcite-input date range picker changes the wrong input"
### Actual Behavior

In certain cases, when I am choosing a new value for the first input in the date range picker, it will instead change the second input.

### Expected Behavior

My expectation is that only the first date picker would be updated when I modify the first input. Same applies to the second input.

### Reproduction Steps or Sample

1. Go to https://esri.github.io/calcite-components/?

[2021-07-15 17:58] driskull commented on #2420
Assigning to @bstifle and @julio8a for the following:

[code]

[2021-07-15 17:58] driskull commented on #2420
https://github.com/Esri/calcite-components/pull/2441#pullrequestreview-700425347

[2021-07-15 19:57] ManahariDahal opened #2549 "Enhancement: calcite-chip demo html update to achieve parity with Figma"
### Description
This issue aims to achieve parity between the calcite-chip following the similar layout on the Figma HTML Demo page and any usage snippets we provide.

### Acceptance Criteria
- Chip design should encompass the Figma HTML demo page

### Relevant Info
- The calcite-chip demo page should have all the variants

#### Which Component
calcite-chip

[2021-07-15 20:57] jcfranco commented on #2437
@joeyHarig I started looking into this and noticed that it works correctly if you press the shift key when clicking items. You can use this as a workaround in the meantime. Also, note that the selection mode should be `multi` and not `multiple`.

@paulcpederson Since users have an expectation of how checkboxes should behave, should we always toggle the value when clicking an input-enabled tree ite

[2021-07-15 20:59] jcfranco commented on #2403
@AdelheidF Any chance you have an isolated test case or snippet for this?

[2021-07-15 21:16] paulcpederson commented on #2437
@jcfranco this is a bug. This worked fine in beta.58 https://codepen.io/paulcp/pen/mdmWQRW

I'm not sure what changed but they should work like checkboxes.

[2021-07-15 21:23] jcfranco commented on #2437
Thanks for the info! The regression is probably related to my previous changes. It's worth noting that the event payload selection issue is present in beta.58 too. Will fix! 💪🏼 🛠️

[2021-07-15 22:07] julio8a commented on #1097
I think this is covered by the work @caripizza did for the doc site with the CSS vars, Cari can you confirm?

[2021-07-15 22:09] julio8a commented on #2216
@bstifle, can you verify this one on master?

[2021-07-15 22:15] caripizza commented on #1097
@julio8a Not quite - I think Alan's working on doc'ing out the global CSS vars in this issue. (I only doc'ed the component stylesheet vars thus far.)

[2021-07-15 22:49] #2425 closed

[2021-07-15 22:54] julio8a commented on #2224
closing this one, this is already documented in the refactor issue:
https://github.com/Esri/calcite-components/issues/2457

[2021-07-15 22:54] #2224 closed

[2021-07-15 23:13] driskull commented on #2350
@asangma I'll take a stab at the nesting styling. lord help us.

Can I get some assistance? Maybe one of the designers can take over?

![image](https://user-images.githubusercontent.com/1231455/125869222-6eec3e71-8d06-484e-8a00-737919ad5a04.png)

[2021-07-15 23:15] julio8a commented on #771
This one should be addressed with the refactor of the color picker, closing
https://github.com/Esri/calcite-components/issues/2462

[2021-07-15 23:15] #771 closed

[2021-07-15 23:18] julio8a commented on #834
@gpbmike, do you think this is something you can help us implement?

[2021-07-15 23:19] julio8a commented on #840
Want to follow up on this one ^

[2021-07-15 23:21] driskull commented on #840
I think we should close this or move it to arcgis components. query builder isn't a generic UI that belongs in calcite components.

[2021-07-15 23:23] julio8a commented on #924
This one is tied to the refactor

[2021-07-15 23:23] julio8a commented on #925
This one still needed?

[2021-07-15 23:25] gpbmike commented on #834
Sure I can give it a go.

[2021-07-15 23:26] julio8a commented on #940
Is this one still valid?

[2021-07-15 23:26] jcfranco commented on #2291
@zaramatheson Can you help verify? Otherwise, we'll close as self-verified.

@babakbolour Thanks for the great resource! The date picker has its own resources to build its UI: https://github.com/Esri/calcite-components/tree/master/src/components/calcite-date-picker/assets/calcite-date-picker/nls

[2021-07-15 23:29] jcfranco commented on #2259
Verified using https://esri.github.io/calcite-components/?path=/story/components-tiles-tile-select-group--light + VoicerOver.

[2021-07-15 23:29] #2259 closed

[2021-07-15 23:29] julio8a commented on #962
- action already has scales.
- action bar has a refactoring issue for scales
- I'll add an action pad refactor issue for scales as well.

Closing this one.

[2021-07-15 23:29] #962 closed

[2021-07-15 23:30] #966 closed

[2021-07-15 23:32] jcfranco commented on #2267
Closing as self-verified with the following: https://codepen.io/jcfranco/pen/YzVZdLj?editors=1000

[2021-07-15 23:32] #2267 closed

[2021-07-16 04:02] julio8a commented on #834
I'll add it to the coming sprint and assign to you.

[2021-07-16 04:07] julio8a commented on #840
Let's move it to ArcGIS components. @bpatterson88, do you need help moving it over?

[2021-07-16 04:10] julio8a commented on #926
From the conversation, I'm closing this one. Please reopen if needed.

[2021-07-16 04:10] #926 closed

[2021-07-16 04:11] julio8a commented on #940
This one still valid?

[2021-07-16 04:20] julio8a commented on #970
Closing this one, please reopen if still valid.

[2021-07-16 04:20] #970 closed

[2021-07-16 04:21] julio8a commented on #971
Is this still valid?

[2021-07-16 04:21] julio8a commented on #981
This one still valid @jcfranco ?

[2021-07-16 04:22] julio8a commented on #994
Closing this. Please reopen if still valid.

[2021-07-16 04:22] #994 closed

[2021-07-16 04:24] julio8a commented on #1004
Is this issue still valid?

[2021-07-16 04:25] julio8a commented on #1021
Those designs look good!

[2021-07-16 04:26] julio8a commented on #1025
This one still valid?

[2021-07-16 04:29] julio8a commented on #1034
Is this issue still valid?

[2021-07-16 04:30] julio8a commented on #1073
Is this issue still valid?

[2021-07-16 04:31] julio8a commented on #1078
Still valid?

[2021-07-16 04:31] julio8a commented on #1079
Does this relate to the work @caripizza did?

[2021-07-16 04:34] julio8a commented on #1081
This component's spacing will be adjusted with the tip manager refactor.
https://github.com/Esri/calcite-components/issues/2469

Should we close this one?

[2021-07-16 04:37] julio8a commented on #1097
@asangma, can you work on this in the 7/19 sprint?

[2021-07-16 04:40] julio8a commented on #1159
What's the status of this one?

[2021-07-16 04:42] julio8a commented on #1166
Closing, please reopen if still valid.

[2021-07-16 04:42] #1166 closed

[2021-07-16 04:43] julio8a commented on #1174
@eriklharper, is this still valid?

[2021-07-16 04:46] julio8a commented on #1248
Closing, if still needed, please add to refactor for this component: https://github.com/Esri/calcite-components/issues/2452

[2021-07-16 04:46] #1248 closed

[2021-07-16 04:52] julio8a commented on #1274
Some of these already have the input-border, input is one of the main outliers atm. Ben is working on input refactor
https://github.com/Esri/calcite-components/issues/2455#issue-939111957

[2021-07-16 04:54] julio8a commented on #1301
I'm' assuming this one is still valid? we should just add as an action item for input, buttons, etc., and close this one.

[2021-07-16 04:56] julio8a commented on #2088
Can we use #1500 instead since that's the epic for the refactor?
We also have the Figma project.  https://github.com/Esri/calcite-components/projects/14

[2021-07-16 04:56] #2088 closed

[2021-07-16 04:57] julio8a commented on #998
is this one related?
https://github.com/Esri/calcite-components/issues/1316

[2021-07-16 04:59] julio8a commented on #1317
Seems like this was resolved, reopen if this is still a valid issue.

[2021-07-16 05:03] julio8a commented on #1338
Is this issue still valid?

[2021-07-16 05:05] julio8a commented on #1380
Is this issue still valid?

[2021-07-16 05:07] julio8a commented on #1398
For me it shows the text of the button and that it's a button:
![image](https://user-images.githubusercontent.com/6144462/125894793-ff5fa2d9-dccf-4be0-8e17-35c758603d07.png)

Can you check this again?

[2021-07-16 05:09] julio8a commented on #1419
This one valid?

[2021-07-16 05:10] julio8a commented on #1426
Is this issue still valid?

[2021-07-16 05:10] julio8a commented on #1431
checking in on this one again

[2021-07-16 05:10] julio8a commented on #1458
@asangma, this one still needed?

[2021-07-16 05:11] julio8a commented on #1460
Is this issue still valid?

[2021-07-16 05:12] julio8a commented on #1462
reopen if still valid.

[2021-07-16 05:12] #1462 closed

[2021-07-16 05:12] julio8a commented on #1469
Still valid?

[2021-07-16 05:13] julio8a commented on #1471
@jcfranco and @asangma, is this issue still valid?

[2021-07-16 05:14] julio8a commented on #1475
@babakbolour can you take a look at this one

[2021-07-16 05:22] #1516 closed

[2021-07-16 05:23] julio8a commented on #1528
Added as a criteria in description for new component issue #863

closing this one.

[2021-07-16 05:23] #1528 closed

[2021-07-16 05:25] julio8a commented on #1537
@caripizza, should I add this issue to the coming 7/19 sprint?

[2021-07-16 05:26] julio8a commented on #1547
Bryan, is this one still valid? if so, can we add these requirements and close this issue?

[2021-07-16 05:27] julio8a commented on #1549
Still valid?

[2021-07-16 15:20] jcfranco commented on #1402
This was addressed by https://github.com/Esri/calcite-components/issues/2284. Closing.

[2021-07-16 15:20] #1402 closed

[2021-07-16 16:01] caripizza commented on #1537
@julio8a Can I try and tackle this in the following sprint instead? (Sprint 8/2 – 8/13)

(I'd prefer to add these tests after more of the big-ticket components have been refactored.)

[2021-07-16 16:03] caripizza commented on #1431
@julio8a @bstifle isn't this already covered in our refactors based on the Figma designs?

[2021-07-16 16:04] bstifle commented on #2216
dang it. input and inline editable dont have this fix

[2021-07-16 16:05] bstifle commented on #2216
I mentioned this in the comment above, before merge

https://github.com/Esri/calcite-components/issues/2216#issuecomment-873238055

[2021-07-16 16:09] asangma opened #2553 "Docs: List storybook is misleading"
### Description
The first list-item uses all the slots and the following items don't making it seem like the first item is a header.

![image](https://user-images.githubusercontent.com/12503298/125977185-b8f2b40a-5f51-49f6-b7df-e8dc20c55106.png)

### Which Component
CalciteList

### Resources

[2021-07-16 16:10] julio8a commented on #1537
moved

[2021-07-16 16:10] asangma commented on #2553
Suggest doing something more akin to what's in the demo.

[2021-07-16 16:11] Csmith246 commented on #1073
I think this issue can be closed now

[2021-07-16 16:12] driskull commented on #1159
I think we can close

[2021-07-16 16:12] eriklharper commented on #1426
Yep, I'd leave this open, as it will come in handy in multiple places.

[2021-07-16 16:13] eriklharper commented on #1174
I would say yes, this is still valid and I would actually like to link up the results we get back from Level Access testing on this component to see if using a fieldset would improve the score too.

[2021-07-16 16:18] jcfranco commented on #1073
Thanks. Closing!

[2021-07-16 16:18] #1073 closed

[2021-07-16 16:23] AdelheidF commented on #1317
It's not resolved for calcite-label.

[2021-07-16 16:33] driskull opened #2554 "Unstable Test: dropdown-item - item selection should work when placed inside shadow DOM"
## Summary

Investigate why the following change is necessary.

https://github.com/Esri/calcite-components/pull/2485#pullrequestreview-708562921

https://github.com/Esri/calcite-components/blob/deb41815531c0d1282a7357b0e3f6667b8a9fd74/src/components/calcite-dropdown/calcite-dropdown.e2e.ts#L951

**Which component?:** dropdown-item

**Which test(s)?:**

https://github.com/Esri/calcite-components/pu

[2021-07-16 16:53] AdelheidF commented on #2541
Good now, thank you. Tested with next.243

![image](https://user-images.githubusercontent.com/44481292/125982389-be8fe672-9a56-4e09-b1db-3d34f113588f.png)

[2021-07-16 16:53] #2541 closed

[2021-07-16 17:02] driskull commented on #2553
@asangma I can update them here: https://github.com/Esri/calcite-components/pull/2550

[2021-07-16 17:13] caripizza commented on #2542
Installed, we can verify this one when Storybook is deployed again next week.

[2021-07-16 17:14] asangma commented on #2553
Thanks @driskull!

[2021-07-16 17:14] #2553 closed

[2021-07-16 17:14] asangma commented on #2541
Woot!

[2021-07-16 17:42] julio8a commented on #1431
Yes, closing.

[2021-07-16 17:47] julio8a commented on #2216
Thanks, Bryan! Bringing this back to in dev

[2021-07-16 18:18] jcfranco commented on #2209
@asangma Could you chime on this? I think we've got a solution worked out for the functionality, but it's not clear what UI/UX changes are needed for the lists.

[2021-07-16 18:23] driskull commented on #2209
Should this use a `calcite-action-menu` or `calcite-dropdown`?

[2021-07-16 18:32] julio8a commented on #957
verified on storybook

[2021-07-16 18:32] #957 closed

[2021-07-16 18:37] julio8a commented on #2248
verified label in progress from storybook.

[2021-07-16 18:37] #2248 closed

[2021-07-16 18:42] julio8a commented on #2542
Sounds good, I can verify next week.

[2021-07-16 18:47] eriklharper commented on #1025
As long as the need still exists to have this, then this issue is still valid.  We are planning at some point deprecating calcite-input's `type` property in favor of individual components for each type, which would include number in this case, but it is still  being discussed and issues still need to be created and prioritized to make that happen.

We should include this ticket as a requirement on