[2021-11-08 23:19] AdelheidF commented on #3371
I just ran into this too and I don't see any updates for `calcite-switch` as part of beta.67. Is there some doc missing? I would have thought there would be something about `switched` being deprecated.

[2021-11-08 23:55] y0n4 commented on #2914
So there are two issues here. @caripizza
One, which I just realized is that the histogram is not getting highlighted between -100, 0 because there is no histogram data between -100 to 0 so it should just be a flat line as it is showing here as expected.

Second which is the true bug I see is that the histogram showing between -100, 0 is not supposed to be there because the histogram data only show

[2021-11-09 00:24] AdelheidF commented on #2133
https://codepen.io/afreitag/pen/LYjmaWv?editors=1000

Click on the button to open the popover. Wait until focus sits on close button, now tab 4 times, all good. Now tab one more time, the focus should go back to the close button. How can I know that the focus left the list to set it back to the close button? A keyboard-only user would be lost now.

[2021-11-09 02:09] AdelheidF commented on #2141
I don't necessarily need to call `setFocus()`, but I want to be able to tab to a calcite-tile and hit enter/space to execute a click handler. Some keyboard users might want to tab to it to call the href.

Here is a sample. The first 2 tiles have an onclick and the bottom 2 tiles have an href. after the page loads the first button has the focus, then start tabbing. You can see it jumps right over t

[2021-11-09 02:57] jcfranco commented on #2208
Installed!

Recap:

* `calcite-filter` is now public
* added `items` and `filteredItems` props
* `data` and event payload is deprecated and will be removed in the next sprint
* I will create follow-up issues for
  * dropping deprecated props in the next sprint
  * adding support for custom filter function

[2021-11-09 03:07] AdelheidF opened #3453 "calcite-radio-group calls calciteRadioGroupChange on initial setup"
I noticed that the initial setup of calcite-radio-group already calls the calciteRadioGroupChange event.
See also https://github.com/Esri/calcite-components/issues/2938

### Actual Behavior

calls event on initial setup

### Expected Behavior

only calls event if the user clicks on radio button

### Reproduction Steps and Sample

https://codepen.io/afreitag/pen/XWaqwaM?editors=1000

_Sample_:

1.

[2021-11-09 03:12] jcfranco opened #3454 "[calcite-filter] Add support for custom filter function"
### Description

There is a need to support custom filtering for end-users (see #2208, #2209).

### Acceptance Criteria

Allow users to pass a custom filter function to `calcite-filter`. This still needs more details, but a few items to consider:

* custom filter function should support pick/value list filtering
* could support async methods to allow for complex setups (need to gauge need for this

[2021-11-09 11:47] fendiaoxiaoshuazi opened #3455 "Enhancement: add month-year and year appearance to calcite date picker"
### Description
Support month-year and year only appearance in the calcite date picker.

Here are the screenshots of the month-year and year only appearance in bootstrap date picker
![image](https://user-images.githubusercontent.com/26078106/140918561-ee99475e-689a-474f-9780-3346542b5645.png)
![image](https://user-images.githubusercontent.com/26078106/140918589-baeb0b95-a078-479b-a2c0-5925a3130f0d

[2021-11-09 15:27] jcfranco commented on #3214
[Belated] Installed!l

[2021-11-09 17:12] AdelheidF opened #3462 "calcite-tile with content slot"
### Description

A place where we can e.g. insert a chip.

![image](https://user-images.githubusercontent.com/44481292/140971662-38431ba1-00f7-419b-9009-577382020e1c.png)

### Acceptance Criteria

- [x] Deprecate “content-start” slot

<img width="228" alt="image" src="https://github.com/Esri/calcite-design-system/assets/29716057/440092e1-b504-46ae-a976-eec36892a410">

- [x] Deprecate “content-end”

[2021-11-09 17:29] jcfranco commented on #2179
Verified w/ latest readme contents.

[2021-11-09 17:29] #2179 closed

[2021-11-09 17:39] jcfranco commented on #3383
Verified with https://codepen.io/jcfranco/pen/wvqXrrb?editors=1000 on an iOS device.

[2021-11-09 17:39] #3383 closed

[2021-11-09 17:40] jcfranco commented on #2949
Verified with https://codepen.io/jcfranco/pen/wvqXrrb?editors=1000 on an iOS device.

[2021-11-09 17:40] #2949 closed

[2021-11-09 17:42] jcfranco commented on #3371
Installed.

[2021-11-09 17:48] jcfranco commented on #3371
@AdelheidF You are right, it is missing. I'll update the changelog. It got skipped by the changelog-generating script because it was typed as a [refactor](https://github.com/Esri/calcite-components/commit/6876686ac9ce30fae6f866403ec9373713617889) (vs feat for adding a prop?). cc @driskull

[2021-11-09 17:54] jcfranco commented on #3371
https://github.com/Esri/calcite-components/pull/3464

[2021-11-09 18:13] benelan commented on #3371
verified on `beta.69`

[2021-11-09 18:13] #3371 closed

[2021-11-09 18:15] benelan commented on #3349
verified on `beta.69`

[2021-11-09 18:15] #3349 closed

[2021-11-09 18:16] benelan commented on #3344
verified on beta.69

[2021-11-09 18:16] #3344 closed

[2021-11-09 18:17] benelan commented on #3271
verified on beta.69

[2021-11-09 18:17] #3271 closed

[2021-11-09 18:20] benelan commented on #3215
Assigning back to @y0n4 based on Cari's comment

[2021-11-09 18:22] benelan commented on #3214
verified on beta.69

[2021-11-09 18:22] #3214 closed

[2021-11-09 18:24] benelan commented on #3134
verified on beta.69

[2021-11-09 18:24] #3134 closed

[2021-11-09 18:26] benelan commented on #3103
verified on beta.69

[2021-11-09 18:26] #3103 closed

[2021-11-09 18:33] benelan commented on #782
In beta.69 the number increases but at a slow rate. Should we increase it? The native input's rate of increase is much faster.
https://codepen.io/benesri/pen/ExvRoYJ?editors=1000

cc @macandcheese

[2021-11-09 18:37] macandcheese commented on #782
@benelan Agreed - the speed of incrementing / decrementing with the arrow keys or the buttons should match a native input element where incrementing / decrementing "accelerates".

The codepen above also has a strange interaction where the cursor occasionally flips to the start of the input.

[2021-11-09 18:41] benelan commented on #782
@Elijbet I'm assigning the issue back to you, can you try to get the rate of increase/decrease to match the [native input element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number). Thanks!

[2021-11-09 19:11] asangma commented on #3272
@jmanke Would it work if you were to toggle the `drag-enabled` property when there's only one item?

[2021-11-09 19:18] asangma opened #3466 "Handle color should be darker."
### Description
The handle icon is currently a bit too subtle and can easily be missed especially if an end user's display contrast is cranked up.

### Acceptance Criteria
More visible icon. Suggest text-color-3.

### Relevant Info

#### Which Component
CalciteHandle

#### Example Use Case
Low vision users or not perfect display setups...or just complex interfaces.

[2021-11-09 19:20] jmanke commented on #3272
@asangma Yep, that works perfectly! Don't know why I didn't think to do that, thank you.

[2021-11-09 19:25] #3272 closed

[2021-11-09 21:46] driskull commented on #2570
Installed. Do we need to set for verification?

[2021-11-10 02:20] fendiaoxiaoshuazi commented on #3455
Hi calcite team, I am a PE of the Survey123 team, and we are currently working on replacing our date and time picker with the calcite date and time picker for better A11y and I18N support. The month/year and year only appearance is critical for us, so we cannot fulfill the replacement at this point.

Do you have a timeframe time for this enhancement to be implemented?

[2021-11-10 02:47] jcfranco commented on #2570
Here's a quick summary of the changes introduced by this work:

- Shadow DOM was enabled on the components mentioned in the description.
- Additional components are now form-associated (form submit, reset and input validity, if applicable), this is the current list:
  - `calcite-checkbox`
  - `calcite-combobox`
  - `calcite-input`
  - `calcite-input-date-picker`
  - `calcite-input-time-picker`
  -

[2021-11-10 02:55] jcfranco commented on #2091
Warnings are no longer observed with the latest codebase. Closing!

[2021-11-10 02:55] #2091 closed

[2021-11-10 03:05] jcfranco opened #3474 "[calcite-input] expose calciteInputChange"
### Description

With #2570 installed, `calcite-input` now uses shadow DOM and the `change` event will no longer be available to end-users as it is not composed. Exposing it will provide users a component-specific event with the same semantics.

### Acceptance Criteria

Expose the [`calciteInputChange` event](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-input/calci

[2021-11-10 15:51] asangma commented on #2992
@benelan I realized that the update assumes that
- a ShellPanel in `slot="primary-panel"` has `position="start"`
- a ShellPanel in `slot="contextual-panel"` has `position="end"`

But I need to think I need to think through how to target those styles since the `slot` names are defined in Shell.

[2021-11-10 15:52] asangma commented on #2992
For the time being though, I'm not sure how many users are flipping those slots and positions.

[2021-11-10 16:13] jcfranco commented on #2135
Confirmed this is no longer an issue with the latest release: https://codepen.io/jcfranco/pen/MWvByGa?editors=1000

[2021-11-10 16:13] #2135 closed

[2021-11-10 16:32] jcfranco commented on #2570
Adding to ☝, https://github.com/Esri/calcite-components/issues/3383 and https://github.com/Esri/calcite-components/issues/2949 will need to be tested again.

[2021-11-10 17:18] Elijbet commented on #782
Cool, I'll work on the cursor and speed issue next.

[2021-11-10 23:55] caripizza opened #3489 "Enhancement: [_animation.scss] add reduced motion support for .calcite-animate global CSS class"
### Description
Add [`prefers-reduced-motion`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion) CSS media feature for the [`.calcite-animate`](https://github.com/Esri/calcite-components/blob/master/src/assets/styles/_animation.scss#L48) global CSS class. This will ensure animations only apply when the prefers-reduced-motion media feature matches `no-preference` on a

[2021-11-10 23:57] caripizza commented on #3081
Sorry for the delay, @tim-white-esri! Yes and thank you for including the snippet here. I've created a new issue for that work here: #3489.

[2021-11-11 00:31] anveshmekala opened #3491 "Enhacement: Match animation timing global variable value with calcite base transition & add scales for animation timing variable"
### Description

Global transition variable is added in #2607  which allows to customize the duration time for animation/transitions which is currently set to `300ms` . Match `--calcite-animation-timing` global variable value with `calcite-base` [transition](https://github.com/Esri/calcite-base/blob/master/dist/_variables.scss#L2) value which is `150ms` . With the [audit](https://github.com/Esri/c

[2021-11-11 00:44] caripizza commented on #3081
@anveshmekala recapping what we discussed with Franco in our prior meet - as a part of this work, we should decrease the value of the global timing CSS var from 300ms to 150ms, so we can match the default [`$transition`](https://github.com/Esri/calcite-base/blob/master/dist/_variables.scss#L2) Sass var from calcite-base.

Then, components like calcite-action-pad, calcite-block, calcite-shell, and

[2021-11-11 00:52] anveshmekala commented on #3081
@caripizza  i just added a issue  3491 stating this approach.

I added an issue [#3941](https://github.com/Esri/calcite-components/issues/3491) for this change.

[2021-11-11 17:24] Olga8614 commented on #2840
@driskull @jcfranco - can you please wrap the URL placeholder into _span dir="ltr"_ ? I don't think translation team can do it on their own.

[2021-11-11 19:54] jcfranco commented on #1475
Adjusting milestone to install this (breaking change) after the upcoming app release.

[2021-11-11 21:14] tyanthony commented on #2137
What's the status of this enhancement request? This would definitely be a welcome enhancement as we could use a horizontal Action Bar and would love to see this be available

[2021-11-12 00:13] AdelheidF opened #3494 "calcite-action-bar inside shell-center-row has thick gray border"
This thick gay border should not be on the top, left, bottom of the action-bar
![image](https://user-images.githubusercontent.com/44481292/141386901-0dd5ca64-7661-495a-8f05-1d85c8d2c742.png)

cc @asangma

### Actual Behavior

thick gray border

### Expected Behavior

no border

### Reproduction Steps and Sample

https://codepen.io/afreitag/pen/ZEJjaRa?editors=1000

### Relevant Info

_Reproducible

[2021-11-12 00:16] AdelheidF opened #3495 "calcite-action-bar inside shell-center-row expand tooltip doesn't work at first"
When adding the action-bar programmatically the expand tooltip doesn't work initially. Once you expand and collapse the action-bar the expand tooltip starts working.

![image](https://user-images.githubusercontent.com/44481292/141387420-4f57b38f-26b1-47cc-b7da-0ced1c35dace.png)

cc @driskull

### Actual Behavior

expand tooltip doesn't work initially

### Expected Behavior

expand tooltip should w

[2021-11-12 00:18] AdelheidF commented on #3494
@asangma

[2021-11-12 19:04] benelan commented on #2992
Thanks Alan! @ellenupp can you test with your repro case using `@next` to make sure its working the way you want?

[2021-11-12 19:41] ellenupp opened #3500 "Panel is dismissed on escape keyup rather than keydown"
### Actual Behavior

A dismissible panel is closed with 'escape' on keyup, while other components like dropdown and combobox are closed on escape keydown.

### Expected Behavior

Panel should also be dismissed on escape keydown for consistency. Using the same event would make it simpler to stop propagation of that event in the case you have for example a dropdown inside a dismissible panel, where

[2021-11-12 23:19] ellenupp commented on #2992
Yeah this works great, thank you! I notice there is a border around the action bar now though I can easily target that to remove it.

[2021-11-12 23:23] benelan commented on #3438
verified on `next`

[2021-11-12 23:23] #3438 closed

[2021-11-12 23:29] benelan commented on #2992
Thanks for testing! @asangma is the border around the action bar by design or a side effect?

[2021-11-13 06:12] jcfranco commented on #2708
This is no longer an issue with Node 16/npm 7+ as [peer dependencies are installed automatically](https://github.blog/2021-02-02-npm-7-is-now-generally-available/#peer-dependencies).

[2021-11-13 06:12] #2708 closed

[2021-11-15 19:36] jgrew opened #3513 "popover inside stepper-item only works in vertical layout"
Popover inside stepper-item only displays when stepper is set to layout="vertical"

### Actual Behavior

Popover only displays in vertical stepper layout

### Expected Behavior

Popover should display in horizontal stepper layout

### Reproduction Steps and Sample

https://codepen.io/jgre/pen/jOLQLaV?editors=1010

### Relevant Info

_Reproducible version_: `@esri/calcite-components@1.0.0-beta.69`

[2021-11-15 20:28] #2126 closed

[2021-11-15 20:32] benelan commented on #1865
closing as a duplicate of #3443

[2021-11-15 20:32] #1865 closed

[2021-11-15 20:33] benelan commented on #3443
verified on `next`

[2021-11-15 20:33] #3443 closed

[2021-11-15 23:48] AdelheidF opened #3515 "calcite-input: problem typing e.g. -0.5"
I'd like to enter value -0.5 by typing this character-by-character into the number input box.
Open the codepen and enter these characters in this order:
[code]
-> now value switches to "0", the negative sign gets lost.

This works:
[code]

### Actual Behavior

value switches to positive

### Expected Behavior

can enter values like this

### Reproduction Steps and Sample

https://codepen.io/afreit

[2021-11-16 00:30] benelan commented on #3389
verified on `next`

[2021-11-16 00:30] #3389 closed

[2021-11-16 00:32] benelan commented on #3372
verified on `next`

[2021-11-16 00:32] #3372 closed

[2021-11-16 00:34] benelan commented on #3346
verified on next

[2021-11-16 00:34] #3346 closed

[2021-11-16 00:36] benelan commented on #3295
verified on next

[2021-11-16 00:36] #3295 closed

[2021-11-16 00:39] benelan commented on #3215
verified on next

[2021-11-16 00:39] #3215 closed

[2021-11-16 00:41] benelan commented on #2938
verified on next

[2021-11-16 00:41] #2938 closed

[2021-11-16 00:51] benelan commented on #2914
@y0n4 the snippet that Cari provided in her [comment above](https://github.com/Esri/calcite-components/issues/2914#issuecomment-957926448) still doesn't work. Is something being done wrong in the sample? Here is her code: https://codepen.io/benesri/pen/dyzQdJY

[2021-11-16 18:26] asangma commented on #2992
@ellenupp I believe you should be able to add a block to your app's stylesheet and do something like this. Let me know if that works.

[code]

[code]

[2021-11-16 18:33] benelan commented on #2992
Thanks for the confirmation Alan! This is verified on next.

[2021-11-16 18:33] #2992 closed

[2021-11-16 20:54] Elijbet commented on #782
I researched and didn't see an easy way of finding out the exact rate of change, but I took a video and tracked the time to be about 100ms. Would an estimate like that work?

[2021-11-16 22:00] #3236 closed

[2021-11-16 22:01] benelan commented on #3362
verified on next

[2021-11-16 22:01] #3362 closed

[2021-11-16 22:03] benelan commented on #3212
verified on next

[2021-11-16 22:03] #3212 closed

[2021-11-16 23:24] paulcpederson opened #3526 "Add invalid handling to calcite-input-date-picker"
### Description

When a user enters totally invalid input into a date picker, no feedback is given to the user or to the app developer.

### Acceptance Criteria

- add `status` prop to calcite-input-date-picker (`status: "idle" | "invalid" | "valid"`)
- new `CalciteInputDatePickerInvalid` event added to calcite-input (emitted on blur of input with invalid date entered)

### Relevant Info

#### Whi

[2021-11-17 00:39] jcfranco commented on #3107
Verified with https://codepen.io/jcfranco/pen/abyPJJV?editors=1010

[2021-11-17 00:39] #3107 closed

[2021-11-17 00:45] jcfranco commented on #3184
Verified with https://codepen.io/jcfranco/pen/ExvGWmw?editors=1010

[2021-11-17 00:45] #3184 closed

[2021-11-17 13:54] yannikmesserli opened #3529 "Calcite-button: when having empty icon-end or icon-start, it adds padding"
### Actual Behavior

[code]

Has extra padding at the end.

### Expected Behavior

No padding

### Reproduction Steps and Sample

A sample code: https://codepen.io/yannikm/pen/VwzqEzZ?editors=100

### Relevant Info

_Reproducible version_: `@esri/calcite-components@1.0.0-<version>`

- [x] CDN
- [x] NPM package

Not a regression

[2021-11-17 17:28] benelan commented on #3243
I'm closing as self verified. @nwhittaker if this is still an issue I can reopen it.

[2021-11-17 17:28] #3243 closed

[2021-11-17 18:34] BlakeStearman opened #3530 "Bug: calcite-input-date-picker not clearing date properly when deleted via keyboard"
### Actual Behavior

If you select a date via the calendar, say today's date, then clear the date using the keyboard from the input box and try to select today's date again from the calendar, the date value does not get set in the input text box again. It remains empty and shows the placeholder text.

### Expected Behavior

If you clear the date using the keyboard, then select the same date via th

[2021-11-17 18:38] rpanichakit9541 opened #3531 "Bug: l10n formatting issue for calcite-input-date-picker"
### Actual Behavior

incorrect date formatting in multiple locales
1. In LV the date value and the placeholder do not match. The date value once selected shows as 2021.11.4, but the placeholder shows up as DD.MM.YYYY
![LV_date_format](https://user-images.githubusercontent.com/44479773/142259779-3d826ef3-00b0-420b-be62-df67b4fc49b1.png)

2. For KO both the placeholder and date should be displayed a

[2021-11-17 19:04] BlakeStearman commented on #3530
@benelan for triaging.

@paulcpederson may be able to help.

[2021-11-17 19:05] BlakeStearman commented on #3531
@benelan for triaging.

@paulcpederson may be able to help.

[2021-11-17 23:01] asangma opened #3533 "CalciteButton - incorrect layout with space-between"
### Actual Behavior
When Button has `alignment="space-between"` and `width=[ "half" | "full" ]`, the layout has extra space in the start area.
This seems to be caused by the loader still taking up space.

This may also cause issues with `icon-start-space-between` and `icon-end-space-between`.

### Expected Behavior
The loader shouldn't take up space if it's not visible.

### Reproduction Steps and

[2021-11-17 23:05] AdelheidF commented on #2141
Closing this as I can use the added `content-start` and `content-end` slots with actions, so the focus goes there.

[2021-11-17 23:50] jcfranco commented on #2141
Reopening. Discussed with the team and we will be enhancing tile with a button mode to support the original use case of having an entire tile be clickable.

[2021-11-18 14:04] MikeTschudi opened #3536 "Suggestion: add browser support by platform to README"
### Description

README lists four supported browsers. It would be helpful to know on what operating systems these browsers are supported. Or should we assume that if you can get the browser flavor on your platform, calcite-components will be supported?

The browsers are widely available across platforms:
* Windows: Brave, Chrome, Firefox, & Edge
* MacOS: Brave, Chrome, Firefox, Safari, & Edge
* i

[2021-11-18 16:26] asangma commented on #1813
@Elijbet Hopefully [this codepen](https://codepen.io/mtb-alan/pen/QWMYxMp) will help.

When the input is set to `read-only`, the increment buttons and input remain interact-able.

I believe @rmstinson is suggesting that `read-only` should respond to mouse and keyboard the same way as `disabled`.

@rmstinson I think we should also update the `disabled` appearance no?

[2021-11-18 17:00] caripizza commented on #3335
Adding notes from my meet with Alan and Adam from 10/27:

Some items that complicate this proposal are:
- value-list-item is just a pick-list-item, with a drag icon (ie., handle) which will show if it's in a value-list with `dragEnabled` (displays drag icon instead of the standard pick-list-item icons (circle/check))
- value-list and pick-list are Lists, and each have their own `getIconType` metho

[2021-11-18 17:00] #3335 closed

[2021-11-18 17:20] caripizza commented on #2914
@benelan Sorry for the confusion here. Yona clarified to me that the histogram array needs to include the slider's minValue when its negative, like this:

[code]

Here's an example of the behavior working:
https://github.com/Esri/calcite-components/pull/3087/commits/e561e36eec65294adea880acf0c242c4aea7519f

We did improve the JSDoc description (see https://github.com/Esri/calcite-components/pull/3

[2021-11-18 18:45] driskull commented on #2770
@asangma do we have a design for this?

[2021-11-18 18:52] rslibed opened #3537 "New component: Splitter"
### Description
A component that allows users to easily resize the dimensions of a panel(s) by dragging an element on the page.

Example: https://www.telerik.com/kendo-angular-ui/components/layout/splitter/

### Acceptance Criteria
- Provide the ability to slot this into existing components like `calcite-shell-panel` or expose an attribute/property to enable/disable this behavior
- Ability to use

[2021-11-18 18:54] rslibed commented on #3537
cc: @kellyhutchins @bcree11 @csmith246

[2021-11-18 19:01] benelan commented on #3537
This seems like a duplicate of #2770, can you confirm @rslibed ?

[2021-11-18 19:03] rslibed commented on #3537
Yep! Looks like a duplicate. Thanks for referencing that issue. Closing.

[2021-11-18 19:03] #3537 closed

[2021-11-18 19:03] rslibed commented on #2770
FYI @kellyhutchins @bcree11 @Csmith246

[2021-11-18 19:07] kellyhutchins commented on #2770
@rslibed  nice! Glad to see its already in progress. This will be useful in both the config panel and in the instant apps that use the shell.

[2021-11-18 22:50] Elijbet opened #3540 "Unstable Test: calcite-input › number type › tests related to output of increment/decrement on long hold"
## Summary

**Input of type number**

**Which test(s)?:**

correctly increments and decrements on long hold on mousedown and step is set to a decimal
should emit an event every 100ms on keyboard down ArrowUp/ArrowDown and stop on keyboard up

**Test error:**

 FAIL  src/components/calcite-input/calcite-input.e2e.ts (169.812 s)
  ● calcite-input › correctly increments and decrements on long hold on

[2021-11-18 23:40] asangma opened #3541 "DropDownItem is missing flex definition"
### Actual Behavior
The `.dropdown-item-content` does not have a flex definition. This means that content layout inside the default slot is inconsistent due to the inability to accurately calculate the width of the container.

### Expected Behavior
`.dropdown-item-content` should have flex defined, e.g. `flex: 1 1 auto`.

### Reproduction Steps and Sample
View the sample below.

_Sample_: https://

[2021-11-18 23:44] asangma commented on #3541
@benelan This is probably a one-line fix if someone wants to add it to their PR.

[2021-11-19 00:05] Elijbet commented on #1813
@rmstinson If you could also provide styles suggestions for disabled vs read-only, that'd be awesome. Thanks!

[2021-11-19 00:59] eriklharper opened #3543 "Deprecate calcite-radio by moving markup and styles into calcite-radio-button"
### Description

Now that `calcite-radio-button` is shadowed, the `calcite-radio` component, which originally existed purely to encapsulate the Esri radio branding behind a shadow root so that `calcite-radio-button` could expose its child native input as a scoped component (for native form integration), is no longer needed.

### Proposed Advantages

This ticket will deprecate the separate internal

[2021-11-19 15:53] mjuniper commented on #2941
I see the same thing on chrome and I notice that it just renders an `<input type="color" />` so the browser handles the colorpicker aspect. That makes me think that this is actually the intended behavior?

[2021-11-19 15:55] mjuniper commented on #1934
We would love something like this too for use in [hub-metadata-editor-field](https://esri.github.io/hub-components/?path=/story/components-hubmetadataeditorfield--input).

[2021-11-19 16:26] jcfranco commented on #2887
Reopening to verify.

[2021-11-19 16:27] jcfranco commented on #2887
Verified via internal storybook! 🎉

[2021-11-19 16:27] #2887 closed

[2021-11-19 17:47] sam11927 opened #3544 "Enhancement: Calcite-panel sticky header"
### Description
There should be an option to make the header of a `calcite-panel` sticky to the top (`position: fixed`).
### Acceptance Criteria
The header can stick to the top of a panel
#### Which Component
`calcite-panel`
#### Example Use Case
A panel header has a scroll to top button and it is useless unless the user can always see the header.

[2021-11-19 23:27] jcfranco commented on #3174
This should be fixed in the following release: https://codepen.io/jcfranco/pen/VwzRxwp?editors=1000

[2021-11-19 23:50] benelan commented on #3160
For this one either double the alpha value or use the same as disabled for `borderLight`

https://github.com/Esri/calcite-components/blob/master/src/components/calcite-color-picker-swatch/resources.ts#L7-L8

[2021-11-20 00:08] AdelheidF commented on #782
Looks good to me now.

[2021-11-20 00:10] macandcheese commented on #2823
@asangma Is this still an issue? It might be good to tackle truncation across all components - some options might be to reveal the full title on hover in a native label / tooltip, or truncate the middle portion to reveal end, etc.

[2021-11-20 00:14] benelan commented on #2765
closing as duplicate of #3079

[2021-11-20 00:14] #2765 closed

[2021-11-20 00:20] benelan commented on #1954
@ethanbdev Can you provide a codepen to repro this issue?

[2021-11-20 00:26] asangma commented on #2937
@jcfranco Updated.

[2021-11-20 00:26] eriklharper opened #3545 "Consider substituting input type="hidden" for CSS in form component utility"
### Description

The hidden input that is created by the `defaultSyncHiddenFormInput` helper in components that implement the `FormComponent` (and other derivatives like `CheckableComponent`) could be updated to make the input's `type` set to `"hidden"` so that implementing components don't have to employ the `hidden-form-input()` Sass mixin just to visually hide it in the UI.

Ionic does exactly

[2021-11-20 00:28] macandcheese commented on #1220
We should also make sure to audit `calcite-input-message`, right now its using nomenclature tied to input validation state, but we could make that consistent with the above proposed values.

[2021-11-20 00:32] macandcheese commented on #404
@patrickarlt would the above use case be solved if the text would wrap lines?

[2021-11-20 00:46] AdelheidF commented on #404
The native component doesn't wrap, it just gets wider. It might become a messy look if things start wrapping especially if the text has no spaces. I definitely prefer no wrapping.

[2021-11-20 00:50] macandcheese commented on #404
Which native component are you referencing - a select?

Are the screenshots in the OP still using this `calcite-dropdown` still? I think `calcite-select` or `calcite-combobox` may be better fits, I'm not sure if they existed or were capable enough when this issue was opened.

[2021-11-20 01:14] AdelheidF commented on #404
Correct, the calcite-select didn't exist when I opened this issue. And calcite-select is doing it fine.
![image](https://user-images.githubusercontent.com/44481292/142708753-42f2b73d-ec34-471c-96af-f18dc51bad23.png)

This is still using calcite-dropdown, but I will change it to calcite-select now.
![image](https://user-images.githubusercontent.com/44481292/142708853-c056f8a5-2ee2-4409-8054-85ddd7b

[2021-11-20 01:29] nel11211 opened #3546 "Calcite Flow without removing panels from the DOM"
### Description

It seems that the `calcite-flow` component removes each panel from the DOM on a `back()` call. This poses an issue for ArcGIS Charts implementation. One of the panels we add to our `calcite-flow` harbors underlying logic for the chart config modifications. Ideally this would stay active throughout the usage of the UI. But since it seems that calcite-flow actually removes each pane

[2021-11-20 01:33] jcfranco commented on #1621
This should be fixed in the next release: https://github.com/jcfranco/calcite-components-svelte-form-submit-issue

![svelte-submit-working](https://user-images.githubusercontent.com/197440/142709632-53742417-82eb-46e0-a351-5fe9ea60ffc6.gif)

[2021-11-20 01:34] jcfranco commented on #1621
Installed via https://github.com/Esri/calcite-components/pull/3287

[2021-11-20 01:43] jcfranco commented on #1856
This should be fixed via https://github.com/Esri/calcite-components/issues/3474 in the next release: https://codepen.io/jcfranco/pen/VwzRdwB

Note that when the text is cleared, it will be `null` vs `""`. This will be addressed by https://github.com/Esri/calcite-components/issues/3381.

[2021-11-20 01:45] #3213 closed

[2021-11-20 06:57] jcfranco commented on #3246
I believe this is no longer an issue since `calcite-checkbox` was refactored this sprint. @nwhittaker Can you confirm? https://codepen.io/jcfranco/pen/mdMoKJv?editors=1000

[2021-11-20 07:03] jcfranco commented on #3240
This is working as expected. `value` can take any value type and is therefore not reflected (following https://developers.google.com/web/fundamentals/web-components/best-practices#do-not-reflect-rich-data-properties-to-attributes.).

[2021-11-20 07:03] #3240 closed

[2021-11-20 07:22] driskull commented on #3546
@nel11211, we do have a property on the flow called beforeBack, which can be used to store the panel if necessary.

https://github.com/Esri/calcite-components/blob/master/src/components/calcite-flow/calcite-flow.tsx#L34-L42

Otherwise, we can look into doing something different. It might not be ideal to keep the panel in DOM when not in use though but maybe we could just hide it instead.

[2021-11-21 19:20] jcfranco commented on #3247
The list is working as expected. The observed issue is caused by a missing [`key` option (Ember)](https://api.emberjs.com/ember/2.6/classes/Ember.Templates.helpers/methods?anchor=each#:~:text=li%3E%0A%20%20%7B%7B/each%7D%7D%0A%3C/ul%3E-,Specifying%20Keys,-The%20key%20option) for elements that are generated from an array. This helps Ember keep track of nodes between renders.

Once a key is provided

[2021-11-21 19:20] #3247 closed

[2021-11-22 18:37] nel11211 commented on #3546
Thanks @driskull,
The problem isn't so much that we lose access to the object reference, it's the fact that the panel is removed from the DOM automatically by `calcite-flow`. That in turn initiates the Stencil destructor routine for the chart configuration panel. When that happens we lose active watchers, lifecycle positions, prop/value states, etc. associated with that config panel and all its ch

[2021-11-22 18:39] driskull commented on #3546
@nel11211 I think you should be able to use the `beforeBack` property to specify a function to move the panel's content before the panel is removed.

[2021-11-22 18:48] nel11211 commented on #3546
Hmm, so you mean something like:
- Grab the panel using `beforeBack`.
- Move it outside the `calcite-flow` (say as a sibling).
- Hide that panel.

Then on forward navigation:
- Move the panel back into the `calcite-flow`.
- Unhide that panel.

Ya that sounds plausible, I'll try it out and see how it goes. Thanks

[2021-11-22 20:09] ethanbdev commented on #1954
Yeah, let me work on one.. Maybe I am missing something easy but how does the `getSelectedItems` method work in the codepen? https://codepen.io/eborgen/pen/gOxJpey?editors=1011

[2021-11-22 20:28] nel11211 commented on #3546
This doesn't seem to work. Because `calcite-flow` back method always calls `lastItem.remove()` after `beforeBack` finishes, it doesn't matter if I move the element to a new place in the DOM, it still gets removed by `calcite-flow`.

[2021-11-22 20:53] driskull commented on #3546
@nel11211 can you remove the content from the panel that you need to keep? The panel will get removed but you can save anything you need from it.

[2021-11-22 21:19] nel11211 commented on #3546
Do you mean append child elements back and forth between the flow panels and the dummy locations? It sounds a bit hacky, dynamic element restructuring done after the render seems to go against the purpose to using Stencil components.

If that will actually work and there's no other way to deal with the calcite-fab calling `.remove()` I can try to write something to that effect. But I'm apprehensiv

[2021-11-22 21:22] rmstinson commented on #1813
So as far as the visual design goes, I'm proposing we follow this design, with the disabled inputs set to .5 opacity, following the disabled state of the calcite button's example.

In addition, we need to add the appropriate aria tag so that even is a component is disabled, screen readers & keyboard navigators will still be able to focus on the component and communicate the info and status of the

[2021-11-22 22:13] macandcheese commented on #3541
We should probably add the content start / end slots to dropdown item as well when that larger refactor takes place, which could solve for this long term.

[2021-11-22 22:50] asangma commented on #1813
@rmstinson @Elijbet If they're not already there, we may need to add an `intlDisabled` property to allow users to localize that string for that aria tag.

Mike, I'm assuming that that aria tag would default to "disabled"?

[2021-11-22 22:54] asangma commented on #3541
@macandcheese Totes agree. It's probably still good for a default container to use the full width so that if something is `width: 100%` inside there, the resulting width calculation makes sense, yeah?

[2021-11-22 23:01] saumeel12 opened #3551 "List Item Component: Nesting Enhancement and Drag and Drop"
### Description

Request for nesting functionality for the list item component. This would also work with the drag and drop functionality of the List item component.

### Acceptance Criteria

The user should be able to nest list items under other list items either through a button or drag and drop.

### Relevant Info

This enhancement was discussed with Alan and Mitch to determine this as an effec

[2021-11-22 23:21] benelan commented on #1954
`getSelectedItems()` returns a Promise that is resolved with a Map, so log something like `console.log(...selectedItems.entries());`

[2021-11-22 23:28] jcfranco opened #3552 "color-picker not initializing values properly when set early while using the custom-elements bundle"
### Actual Behavior

Creating a color-picker instance programmatically and setting its `value` property should get picked up properly.

### Expected Behavior

The initial value gets process properly regardless of the output target being used.

### Reproduction Steps and Sample

_Sample_: https://codesandbox.io/s/calcite-components-color-picker-initial-value-setting-in-custom-elements-bundle-t3seb?

[2021-11-23 01:18] jmanke opened #3555 "calcite-value-list: Removing an item after re-ordering removes more than one item in certain cases"
### Actual Behavior

Removing an item from the calcite-value-list removes more than one item.

### Expected Behavior

Removing an item from the calcite-value-list should only remove the item selected to be removed.

### Reproduction Steps and Sample

NOTE: This bug seems specific to Ember

Setup

1. Create a calcite-value-list with drag-enabled prop
2. Create a backing class with two items to be r

[2021-11-23 01:26] Olga8614 commented on #3079
Another bug reported for the mixture of Western and Indic numerals: https://github.com/ArcGIS/I18N-MOR-Bugs/issues/2401

[2021-11-23 02:41] rmstinson commented on #1813
@asangma Yep, the string would default to "disabled," as long as it's preceded with some description of the component w/ the screenreader, ie, "input, Contact Name, disabled," like so: https://youtu.be/bUeqVNX3oLE?t=58

[2021-11-23 20:59] zaramatheson commented on #2291
@jcfranco It looks like this is still an issue for some languages: https://devtopia.esri.com/WebGIS/arcgis-webviewer-app/issues/3522

[2021-11-23 21:16] ethanbdev commented on #1954
Right 🤦

Here you go on a repro, let me know if it makes sense:
https://codepen.io/eborgen/pen/gOxJpey?editors=1011

[2021-11-23 21:24] anveshmekala commented on #3120
Couldn't reproduce this in local on master thought its repro in codepen & jsfiddle

[2021-11-23 22:03] benelan commented on #1954
Makes sense to me, thanks for the repro sample!

[2021-11-23 23:50] benelan commented on #3120
I can repro locally
[code]

[2021-11-24 00:00] benelan commented on #3120
Hmm, `next` also repros for me. Does the code above repro for you @anveshmekala?

[2021-11-24 00:04] y0n4 commented on #2937
For `calcite-tile`, there is the slot name: `content-start` and `content-end` but not under the name actions-end. The padding styling is at least fulfilled https://github.com/Esri/calcite-components/blob/master/src/components/calcite-tile/calcite-tile.scss#L72

Were you referring to the `content-end` slot or something else? @asangma

[2021-11-24 00:09] anveshmekala commented on #3120
Yup. Able to reproduce with above snippet. I believe the only diff is the version of cc, in the snippet attached in PR [3565](https://github.com/Esri/calcite-components/pull/3565/files#diff-6b7035fc97879b561336e007c1f24527d7bd2334fe72ca1ec610c2c183a4d104R41) it is referring to head.js . Thanks @benelan

[2021-11-24 00:11] benelan commented on #3120
`head.js` is the code that is built locally when running the demos, so if it repros on `next` but not on `head.js` maybe you successfully fixed it?

[2021-11-24 00:17] anveshmekala commented on #3120
There are no code changes in PR 3565 . It has do with the version I guess.

[2021-11-24 00:20] benelan commented on #3120
If there are no code changes then in terms of functionality it should be the same as `next`. @jcfranco any thoughts?

[2021-11-24 01:13] jcfranco commented on #3120
I remember [a difference in behavior with `MutationObserver` when running on the dev server vs a local build](https://github.com/Esri/calcite-components/issues/1409#issuecomment-760364275).

[2021-11-24 01:42] benelan commented on #3120
It repros for me locally. Are you looking in the console like the repro steps mention?

[2021-11-24 01:59] anveshmekala commented on #3120
mouse click is emitting `calciteRadioGroupChange event`

[2021-11-24 02:14] anveshmekala commented on #3120
Able to repro this on prod build.

[2021-11-24 15:28] ajturner opened #3567 "Enhancement: calciteCheckboxChange event should include state"
### Description

currently `calciteCheckboxChange` [emits an empty event](https://github.com/Esri/calcite-components/blob/555594ea03d79a54e443210b176fbc5bad8e88bb/src/components/calcite-checkbox/calcite-checkbox.tsx#L126)

It would be useful for listeners to include the current checkbox state in the event.

### Acceptance Criteria

`event.detail.value` is the new state of the checkbox

### Relevan

[2021-11-24 18:45] eriklharper opened #3570 "Expand snapshot coverage of CalciteTileSelect and CalciteTileSelectGroup"
### Description

This ticket will expand Screener snapshot coverage of both of these components using the new Screener steps and calcite helpers.  Ideally focus states can be captured as a follow up to #3516.

### Which Component

`CalciteTileSelect` and `CalciteTileSelectGroup`

### Resources

Consult the wiki on Screenshot Testing for snippets https://github.com/Esri/calcite-components/wiki/Scre

[2021-11-24 19:24] FelFly opened #3572 "Suggest adding configuration for aria-live on calcite-alert"
### Summary

While the rendered calcite-alert component does have a `role="alertdialog"` on it, typically I'd expect to use that in conjunction with an [aria-live region](https://www.w3.org/TR/wai-aria-1.1/#aria-live), especially on auto-dismissing alerts. It appears that the component can support this today through code modification, but I didn't see option for configuration on https://developers

[2021-11-26 15:17] arxit-nis opened #3574 "When disabling Radio Button and Radio Button group can be selected"
### Actual Behavior

When setting the disabled property to a Radio Button or Radio Button group, the component can be still selected.

### Expected Behavior

When the property 'disabled' is set to the component, it should not be selectable.

### Reproduction Steps and Sample

_Sample_: https://developers.arcgis.com/calcite-design-system/components/radio-button/

1. From the properties, uncheck the

[2021-11-29 14:45] nwhittaker commented on #3246
@jcfranco, verifying the issue is no longer possible in https://codepen.io/jcfranco/pen/mdMoKJv, thanks.

[2021-11-29 16:13] AdelheidF commented on #2333
looks good now, thanks

[2021-11-29 16:13] #2333 closed

[2021-11-29 17:53] nwhittaker opened #3576 "`<calcite-option>` value attribute missing when set via handlebars after delayed render"
### Actual Behavior
Given a `<calcite-option>` element with a `value` attribute set to a handlebars expression, if the element is rendered dynamically, the `value` attribute is never set. However, if the element is rendered immediately on page load, the `value` attribute is set.

### Expected Behavior
To maintain a consistent behavior, the `value` attribute is set in both cases.

### Reproduction

[2021-11-29 17:56] AdelheidF opened #3577 "calcite-action alignment=center issues when inside calcite-action-group with layout=grid"
With beta.66

![image](https://user-images.githubusercontent.com/44481292/143918389-f79f2215-fa5d-4f65-a022-c86a1d773fd2.png)

with beta.67

![image](https://user-images.githubusercontent.com/44481292/143918476-225c6f13-d158-4d61-b3e0-925ff0b673ad.png)

In the release notes for beta.67 I see this (@eriklharper):

![image](https://user-images.githubusercontent.com/44481292/143918612-db4ca3d2-ac66-4

[2021-11-29 17:58] nwhittaker commented on #3243
Verified with https://github.com/Esri/calcite-components/issues/3576, thanks!

[2021-11-29 18:00] AdelheidF commented on #3577
Is there a workaround for this? It's part of a new component in the map viewer.

[2021-11-29 19:37] kstinson14 opened #3578 "calcite-combobox: overlay-positioning='fixed' causes menu to become width of viewport"
### Actual Behavior
When `overlay-positioning='fixed'` is set on a `calcite-combobox`, the menu becomes the width of the viewport rather than being constrained to the width of the combobox itself:
![Screen Shot 2021-11-29 at 2 10 43 PM](https://user-images.githubusercontent.com/17748358/143928153-6a07859d-dbdd-4fa3-b7c8-47c5e9dc987e.png)

### Expected Behavior
I would expect that changing the `ove

[2021-11-29 20:07] jcfranco commented on #3577
Here's a workaround in the meantime: https://codepen.io/jcfranco/pen/xxXxqGY?editors=1000

[2021-11-29 23:14] AdelheidF opened #3580 "calcite-panel height issues"
When using calcite-panel the height is no longer correct.

With beta.69
![image](https://user-images.githubusercontent.com/44481292/143956435-6f28cba9-bc74-4c79-9f86-94ab0502c384.png)
![image](https://user-images.githubusercontent.com/44481292/143956582-caef9d94-b433-43f5-9d9a-4e0ab3ac75ea.png)

With beta.70
![image](https://user-images.githubusercontent.com/44481292/143956479-578441ff-2353-417c-a

[2021-11-29 23:45] jcfranco commented on #3580
@y0n4 Can you take a look at this one?

[2021-11-29 23:50] jcfranco commented on #3580
@AdelheidF Could you update the repro case? It looks the same using both versions (69 & 70).

[2021-11-30 00:28] jcfranco commented on #3246
Thanks for verifying! cc @benelan

[2021-11-30 00:28] #3246 closed

[2021-11-30 00:31] bpatterson88 commented on #1631
@benelan Dashboards uses sliders for less than, greater than, and equals queries. Different parts of the slider rail are highlighted depending on the operator. The screenshots below show our current implementation.

![Screen Shot 2021-11-29 at 4 30 29 PM](https://user-images.githubusercontent.com/15875886/143963885-9c73b512-229b-4e6e-b47e-568d50357f1e.png)
![Screen Shot 2021-11-29 at 4 30 38 PM](h

[2021-11-30 01:29] driskull commented on #1813
I think a disabled component shouldn't receive focus. https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled

@jcfranco do you think it would be helpful to add another step to the triage process to vet the issue and try to catch/edit some of the details of the issue before a dev is assigned? Otherwise, we have to rely on all devs to vet details like this. Just trying to improve effi

[2021-11-30 01:33] driskull commented on #3373
We might just need to improve documentation and make `label` required.  Label is like a title and description is like a subtitle in this case. You can't have just a subtitle without a title.

@benelan @jcfranco Any suggestions on how we can catch these things before assignment? I don't want to waste dev time. Or we can communicate that issues require further investigation before proceeding with de

[2021-11-30 02:09] jcfranco commented on #3373
`calcite-value-list-item#label` [is marked as required](https://developers.arcgis.com/calcite-design-system/components/value-list/#component-api-properties-label). Sidebar, `calcite-pick-list-item#label` [is not](https://developers.arcgis.com/calcite-design-system/components/value-list/#component-api-properties-label). cc @benelan

@driskull Let me assure you that nobody wants to waste dev time, t

[2021-11-30 02:11] AdelheidF commented on #3196
Could the panel header node be exposed somehow? Then we could anchor the popover below the header.

[2021-11-30 03:31] jcfranco commented on #2208
[Belated] Installed!

[2021-11-30 03:33] jcfranco commented on #2937
@asangma can you help clarify this?

[2021-11-30 03:42] jcfranco commented on #1817
@macandcheese Is this still valid? `normal` seems to be the norm... (badumtss 🥁: 😅 ). If so, do you agree [renaming this](https://github.com/Esri/calcite-components/blob/master/src/assets/styles/_type.scss#L20) is still a safe change or do we need to hold on to the previous one? It doesn't look like this is used by our components at the moment.

[2021-11-30 03:51] macandcheese commented on #1817
I think we can leave this as is (`normal`), unless @paulcpederson or @asangma have other thoughts.

`normal` is already the css value for 400 weight. `regular` is usually just used in the font names themselves.

[2021-11-30 16:35] BlakeStearman commented on #3064
Keep open

[2021-11-30 19:11] paulcpederson opened #3597 "Combobox: Focus styles remain after clicking another combobox"
### Actual Behavior

Clicking on labels for multiple comboboxes leaves the focus style on all of them.

### Expected Behavior

Clicking the label of any combobox or form control should  remove focus style from now unfocused combobox.

### Reproduction Steps and Sample

_Sample_: https://codepen.io/paulcp/pen/qBPEEao?editors=1000

1. Click the label text of each combobox
2. Observe all three have f

[2021-11-30 22:06] macandcheese commented on #3544
@sam11927 Could you clarify this a bit or provide a Codepen? Is this a request to have `calcite-blocks` sticky to the top of a panel?

[2021-11-30 22:20] zaramatheson opened #3602 "Date Picker is not localized for Bulgarian (bg)"
AGOL introduced Bulgarian as a new language for this release and it looks like Calcite Date Picker has not been updated with it:
Locale = bg

https://codepen.io/zmatheson/pen/YzrPwdb?editors=1010

cc @jcfranco

[2021-11-30 22:23] Elijbet commented on #3317
I think there might be a misunderstanding of how the date-picker works. These are 2 independent fields, one with min attribute and one without. I wouldn’t expect picking a date on the one without to set the minimum attribute on the other. Am I misunderstanding the issue?

[2021-11-30 22:30] joeyHarig commented on #3317
@Elijbet In the codepen I'm setting the min for input-2 after a date select form input-1.

The issue is that the 'min' value being passed to the date-picker from the input isn't being updated when the 'min' value on the input is updated.

[2021-11-30 22:31] zaramatheson commented on #3602
### Description
AGOL introduced Bulgarian as a new language for this release and it looks like Calcite Date Picker has not been updated with it:
Locale = bg

### Acceptance Criteria

Support Bulgarian Languague

### Relevant Info

#### Which Component
calcite-input-date-picker

#### Example Use Case

ArcGIS Online Map Viewer Time Slider, Filter,

[2021-11-30 22:57] MukeZ opened #3604 "Bug: can't pan a jsapi map behind a detached shell-panel"
### Actual Behavior

The issue is that you cannot drag the "map" under a `calcite-panel` when the panel is displaying.

### Expected Behavior

You should be able to drag the "map" under a `calcite-panel` when the panel is displaying.

### Reproduction Steps and Sample

It worked in the version 1.0.0-beta.69, but not working since 1.0.0-next.295.

It can be easily reproduced by switch the version o

[2021-11-30 23:12] jcfranco commented on #3317
@Elijbet It looks like the issue is that the date-picker isn't updating internally when `min` is updated after initialization.

[2021-11-30 23:43] AdelheidF commented on #3580
@y0n4 Hi, what's the status on this one?

[2021-12-01 00:06] ShangleiZ opened #3605 "Button hover Status and Dropdown Focus Status"
### Here are 2 small issues/questions I have when we use Calcite components in ArcGIS Monitor.

### Should the red button hover status be red instead of blue?
![image](https://user-images.githubusercontent.com/41970091/144147183-998cdd3d-e7c4-441e-a765-0350241aeac4.png)
![image](https://user-images.githubusercontent.com/41970091/144147199-2e8e3aa1-6786-4e15-8a73-7ce46c682347.png)

### When the dro

[2021-12-01 00:12] benelan commented on #3604
Something is funky with the provided sample, it looks like you didn't include the Calcite Components CSS? I was not able to reproduce it here: https://codepen.io/benesri/pen/JjroXgd

[2021-12-01 00:24] MukeZ commented on #3604
Sorry, I just updated CSS, but it already reproduced in your sample.

For example, you cannot drag the map in this area
![image](https://user-images.githubusercontent.com/9669996/144149289-e218779f-8f58-4b7d-82ef-4949d6353d50.png)

[2021-12-01 00:45] y0n4 commented on #3580
Hi @AdelheidF , I've been looking into it all day and trying to form a solution that can keep this issue and the other fixed issue on a happy medium but it's been clashing. Reverting the changes is possibly up there and I might consider to readdress the other fixed issue at a later time. I will try to wrap this up by tomorrow

[2021-12-01 01:04] benelan commented on #3604
Ah I got it, thanks for reporting this issue! `1.0.0-next.295` was released for [this feat](https://github.com/Esri/calcite-components/commit/2c5fdcc2dd39a3941d22b787fc13e25d0080ebdb), @asangma can you take a look? It actually looks like an issue with `calcite-shell-panel`. Here is a [simplified repro sample](https://codepen.io/benesri/pen/OJxPybZ?editors=1000).

### Steps
1. Click on the map view

[2021-12-01 04:28] moosetraveller opened #3608 "Option to change checkbox behaviour in tree with ancestors"
### Description
At the moment, when using a tree with `selectionMode="anchestors"`, I cannot add action buttons to a `calcite-tree-item` and since everything is within a label, it's a pain to format the item.

Ways to solve this:
- separate the checkbox from the rest of the item
- having a `selectionMode="none"` so developers can add their own checkboxes
- add a slot for action buttons which are a

[2021-12-01 05:25] moosetraveller commented on #3608
#### Workaround
Here is a workaround to use buttons within the tree:

[code]

Note: I am using Angular.

![image](https://user-images.githubusercontent.com/3456293/144176325-df6479ab-cfce-4aa2-b499-69b7ea4f6b11.png)

[2021-12-01 07:24] jcfranco opened #3609 "pointer cursor shown by calcite-label can be misleading if it has no interactive content"
### Actual Behavior

Any content wrapped in a calcite-label will cause the pointer cursor to be shown on hover.

### Expected Behavior

Label should not modify the cursor. This should be handled individually by components.

### Reproduction Steps and Sample

_Sample_: https://codepen.io/jcfranco/pen/abLzWZP?editors=1000

1. Note the cursor change when hovering over a label-wrapped, non-interactive

[2021-12-01 17:57] ellenupp opened #3610 "Extra left padding in dropdown item in selection-mode:none"
### Actual Behavior

There is extra left padding in dropdown items in a group with selection-mode='none'.

![image](https://user-images.githubusercontent.com/14304581/144287513-726e0899-5a59-42e7-83f9-d0d5b37cd226.png)

### Expected Behavior

In none selection mode, the dropdown items should be left-aligned with the header as per this issue: https://github.com/Esri/calcite-components/issues/1921#i

[2021-12-01 21:34] jmanke commented on #2770
Tried implementing this and it's looking great! However, I found when dir=rtl resizing seems to be inverted (please see this [codepen](https://codepen.io/jmanke/pen/bGoNmwB?editors=1010))

[2021-12-01 21:44] mjuniper opened #3613 "Changes to calcite-label's status property are not propagated to child calcite-inputs"
### Actual Behavior

If you wrap a `calcite-label` around a `calcite-input` or a `calcite-input-message` they will inherit the `status` prop of the `calcite-label`. But if you then programmatically change the value of `status` on the `calcite-label`, the change will not flow down to the input or the message.

### Expected Behavior

I expected the input and input message `status` to stay in sync wi

[2021-12-01 21:47] mjuniper commented on #3613
I will provide a codepen but I really think the branch better illustrates the problem because it mainly becomes a problem when you are building a stencil component out of calcite components and you have the `status` prop of a label _bound_ to a `Prop` or `State` in your component.

[2021-12-01 21:49] jmanke commented on #2770
I was also wondering if there's a way to set both the min and max width when it's resizable? For example, it would be nice to have the `min-width` of the calcite-shell-panel be the `min-width` of `width-scale="m"` and the `max-width` be the `max-width` of `width-scale="l"`.

[2021-12-01 21:50] driskull commented on #2770
I'll fix the RTL part. 👍

[2021-12-01 21:58] macandcheese commented on #3033
I mentioned #2835 above - while this issue may inform that one, this one can proceed - that's not a blocker and this is a reasonably simple add.

[2021-12-01 22:48] benelan commented on #2770
This is not possible at the moment, the only props added for this were `resizable` (boolean) and `intlResize` (string for i18n label).

[2021-12-01 23:02] benelan commented on #782
verified on `next`

[2021-12-01 23:02] #782 closed

[2021-12-01 23:15] benelan commented on #1856
verified on `next`

[2021-12-01 23:15] #1856 closed

[2021-12-01 23:23] benelan commented on #2145
verified on `next`

[2021-12-01 23:23] #2145 closed

[2021-12-01 23:24] bpatterson88 commented on #2770
@benelan Is there a plan to make this more flexible? [As mentioned above](https://github.com/Esri/calcite-components/issues/2770#issuecomment-897034144), Dashboards requires the ability to resize panels to a maximum width of at least `width-scale="l"`.

[2021-12-01 23:26] benelan commented on #2770
Can you please create an enhancement for that?

[2021-12-01 23:46] Elijbet commented on #3099
I tried to explore that option, but I don't see how removing overflow:hidden would work with modals that have both large content and a combobox.  Here is a sample: https://codepen.io/elijbet/pen/JjroqZq

[2021-12-01 23:47] bpatterson88 opened #3615 "Enhancement: Configurable min, max, and default widths for resizable panel"
### Description

Allow for configurable min, max, and default widths for a resizable panel.

### Acceptance Criteria

- Min width is available as a property for resizable panels
- Max width is available as a property for resizable panels
- Default width is available as a property for resizable panels

### Relevant Info

#### Which Component

`shell-panel`

#### Example Use Case

Dashboards places

[2021-12-01 23:47] driskull commented on #3099
I think this is a bigger issue that applies to any component using popper.js. If placed inside a model, it's contained within that modal by default.

If we want it outside of that modal, the popper node would need to be appended to the document.body instead. This would require some discussion and refactoring.

I think we should setup a discussion and push the issue to a different milestone.

[2021-12-01 23:50] ellenupp commented on #3610
Also I noticed there are CSS variables for padding, but they don't seem to be used. So unfortunately can't use that as a quick fix.
![image](https://user-images.githubusercontent.com/14304581/144332381-14e27081-1ce1-42d5-b47f-952b44c3f638.png)

[2021-12-02 00:00] benelan commented on #2770
here is an example of the current functionality https://codepen.io/benesri/pen/JjroXgd

[2021-12-02 00:17] benelan commented on #3109
verified on storybook

[2021-12-02 00:17] #3109 closed

[2021-12-02 00:24] benelan commented on #3366
@macandcheese can you take a look at this one for design? I don't think there should be a close animation if there is another alert already queued. There was no close animation before this fix, we just needed to remove the delay before the progress bar started moving. I used Noah's sample and changed the version to `next`.

[2021-12-02 00:30] benelan commented on #3436
Hi @anveshmekala, I'm unable to reproduce this issue with the sample you provided. Can you edit it and make the issue reproducible please?

[2021-12-02 00:50] macandcheese commented on #3366
So, this is kind of a weird one. Because an individual alert animates in, the alert "object" should animate out before another one can replace it. If we didn't do that, we'd be replacing the content of the alert vs. replacing the alert itself, which the animation infers.

That said - it's not a great interaction. Ideally when we handle multiple queued alerts with this update: https://github.com/Es

[2021-12-02 00:54] benelan commented on #3366
Thanks for looking Adam. This is verified on `next` then.

[2021-12-02 00:54] #3366 closed

[2021-12-02 00:55] macandcheese commented on #3610
Yes this should be updated to the previous functionality. @benelan we should probably also remove those css variables since it seems like a component-specific variable here.

[2021-12-02 00:55] macandcheese commented on #3572
We might also want to address focus trapping in alerts in relation to this.

[2021-12-02 00:58] macandcheese commented on #3608
@asangma seems like a good place for the "list item slot paradigm" with slots for content-end.

[2021-12-02 01:01] AdelheidF commented on #3580
Hi, any updates today?

[2021-12-02 18:05] jcfranco commented on #3174
Installed via #2777.

[2021-12-02 18:57] y0n4 commented on #3580
@AdelheidF I opened a pr, hoping to merge today

[2021-12-02 21:08] driskull commented on #3602
@jcfranco @paulcpederson Do you know the process for localization within calcite for this? Its kind of an outlier because we don't do any other localization within calcite.

[2021-12-02 21:22] jcfranco commented on #3578
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/calcite-5f7d10460071bf0024e66277/issues/Esri/calcite-components/3578?planning-poker) with ZenHub @driskull

[2021-12-02 21:26] driskull commented on #3578
Yes, I think so. That's why the element needs to be placed in the body sometimes.

[2021-12-02 21:28] benelan commented on #3574
In version `beta-70` it is not selectable, however we still need to remove the focus when clicking a disabled radio button, eg
https://codepen.io/benesri/pen/vYeORvJ

[2021-12-02 21:36] jcfranco commented on #3530
This could possibly be related to https://github.com/Esri/calcite-components/issues/3003. cc @eriklharper

[2021-12-02 21:43] jcfranco commented on #3513
This could be related to https://github.com/Esri/calcite-components/issues/1258.

[2021-12-02 21:54] bsvensson commented on #3602
FYI - The actual Bulgarian CLDR strings can be found in https://github.com/unicode-org/cldr-json/blob/main/cldr-json/cldr-dates-modern/main/bg/ca-generic.json
Compare the English (World) strings in https://github.com/unicode-org/cldr-json/blob/main/cldr-json/cldr-dates-modern/main/en-001/ca-gregorian.json

[2021-12-02 22:00] macandcheese commented on #3430
This occurs when using the `calcite-icon` component inside chip as well - probably independent of `avatar` : https://jsbin.com/miyowogisa/1/edit?html,output

[2021-12-02 22:13] jcfranco commented on #3574
I this can be fixed by making the following changes to https://github.com/Esri/calcite-components/blob/master/src/utils/label.ts:

1. Adding a `disabled` prop to the `LabelableComponent` interface
2. Update `onLabelClick` to return early if the labelable component is disabled

[2021-12-02 22:16] jcfranco commented on #3602
Deferring to @paulcpederson since he introduced those localization files. We should add this info to a wiki page for posterity. cc @benelan

[2021-12-02 22:20] jcfranco commented on #3577
@eriklharper Can you look at this for the upcoming sprint?

[2021-12-02 22:29] paulcpederson commented on #3602
We had Babak Bolour and Rajeev Krishnan send us these json files. I spec'd what we'd need and they delivered a folder of them which I pr'd in.

[2021-12-02 22:31] paulcpederson commented on #3602
Now that we dropped ie11 we could theoretically start using Intl for this as I think the api's have good enough support IIRC, but I could be wrong on that one...

[2021-12-02 22:39] asangma commented on #3398
The `selected` prop is used by TipManager to track which Tip is active.
It also allows Tip to style the `.container` in its shadow DOM in a way that works in TipManager.

My suggestion is to add a note in the doc about how the `selected` prop is used...?

[2021-12-02 22:50] driskull commented on #3602
That would be ideal so we don't have to manage this :)

[2021-12-02 23:39] AdelheidF commented on #3580
tried to verify, but next.313 is not accessible. If I just use "next" I get next.311.

[2021-12-03 01:48] macandcheese commented on #674
Keep open - @benelan maybe we can re-triage this one?

[2021-12-03 15:32] MikeTschudi commented on #669
@1.0.0-beta.70, still found by Firefox' Accessibility developer tool

[2021-12-03 17:58] AdelheidF commented on #3580
Tested with next.314. Seems to work fine now, but I can't easily test all cases people saw it with currently.

[2021-12-03 18:10] driskull commented on #2079
Here are all the current instances:

@benelan @jcfranco can we prioritize this for a sprint?

It would include...

- Replacing CSS with logical css properties instead of getElementDir usage
- Removing use of rtl css utiity

[code]

[2021-12-03 18:12] eriklharper commented on #2079
Hoo boy that's a lot!

[2021-12-03 19:12] driskull commented on #3357
@benelan @jcfranco

We have some internal events on this class that would handle this issue. Do we want to rename them and document them?

https://github.com/Esri/calcite-components/blob/master/src/components/calcite-inline-editable/calcite-inline-editable.tsx#L173-L186

[2021-12-03 20:22] patrickarlt commented on #404
@macandcheese generally not because we often have really long text that is considred "1 item" like a file name that shouldn't wrap or doesn't have a character that is a break point.

[2021-12-03 21:11] patrickarlt opened #3624 "Radio group and button do not match at same scale."
### Actual Behavior

Sometimes component scales don't always match up. For example on https://developers.arcgis.com/net/uwp/sample-code/ we have a `<calcite-radio-group>` next to a `<calcite-button>` both are "medium" scale:

![2021-12-03_13-03-59](https://user-images.githubusercontent.com/378557/144672632-5d87a5b4-c6d1-4150-b98c-968780e34cd4.png)

If I want the heights to match I either need to s

[2021-12-03 21:13] benelan commented on #3624
You can disregard the bot, the sample provided is reproducible

[2021-12-03 21:16] patrickarlt commented on #2868
In looking into https://github.com/Esri/calcite-components/issues/3624 it might be nice to split scale into 2 parts:

1. text scale
2. "size" scale

In the case of https://github.com/Esri/calcite-components/issues/3624 I could then set the "size" scale so the components are the same height and the text scale to the same level to ensure the text stays the same size.

[2021-12-03 21:20] mjuniper opened #3625 "calcite-popover does not work properly when inside a component's shadow-dom"
[This](https://github.com/Esri/calcite-components/issues/1844) issue is similar but I don't think it's exactly the same.

### Actual Behavior

If I create a stencil component with a `calcite-popover` in it, the popover will not work properly **if the component has `shadow: true`**. Specifically:

1. The popover will not open  when you click the toggle button (unless I explicitly open it with a cli

[2021-12-03 22:24] eriklharper opened #3626 "See if using ShadowRoot.delegatesFocus allows us to call .focus on any focusable calcite component"
### Background

Focusable calcite components have been implementing a `setFocus` method as a recommended convention from Ionic, but the [`HTMLElement.focus()`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/focus) method would be nicer to be able to use since it is common to all HTMLElements.  This issue will explore whether using [`ShadowRoot.delegatesFocus`](https://developer.mozil

[2021-12-03 22:56] jcfranco commented on #2079
@driskull Moved to the upcoming sprint. I can help with this early next sprint. Let me know how you want to divvy it up.

[2021-12-03 23:59] asangma opened #3629 "ListItem is missing line-height definition"
### Actual Behavior
ListItem's label and description are missing line-height definitions, e.g. it's using `text--1`.

### Expected Behavior
ListItem's label and description should have line-height defined, e.g. `text--1h`.
Could probably be set at the :host or `.container` level.

### Reproduction Steps and Sample

_Sample_: https://codepen.io/mtb-alan/pen/GRMpjqd

1. Inspect the label and/or desc

[2021-12-06 01:50] #2937 closed

[2021-12-06 18:24] driskull commented on #3495
This is due to the use of the getSlotted utility...

The utility dom.getSlotted() is great, but one problem is that if a user slots an element after initialization using JS, the getSlotted() method doesn't know about the newly slotted element until a re-render occurs.

We might want to setup a mutation listener to re-render for those scenarios.

[2021-12-06 18:25] driskull commented on #3495
@benelan @jcfranco Can you triage this? I think we need a utility refactor first.

[2021-12-06 18:49] benelan commented on #3495
This issue is currently in the next sprint starting 12/20. Do you think it needs to be in the current sprint starting today?

[2021-12-06 18:57] driskull commented on #3495
I think that's fine.

[2021-12-06 19:06] benelan commented on #2720
Hi @AdelheidF, I have been [unable to repro](https://codepen.io/benesri/pen/GRMoYgY?editors=1000) this issue in codepen, can you give it a try? It may be related to something else in your code besides the `heading` length.

[2021-12-06 21:03] benelan commented on #3580
Verified on `next`, @AdelheidF if people still have issues with any edge cases you can reopen this issue.

[2021-12-06 21:03] #3580 closed

[2021-12-06 21:09] benelan commented on #3552
verified on next

[2021-12-06 21:09] #3552 closed

[2021-12-06 21:15] benelan commented on #3223
@macandcheese can you please help me verify this installed design issue?

[2021-12-06 21:17] benelan commented on #3174
verified on next

[2021-12-06 21:17] #3174 closed

[2021-12-06 21:22] driskull commented on #3495
@jcfranco Is this the approach we want to take?

[code]

It would look something like this...

[code]

[code]

[2021-12-06 21:25] driskull commented on #3495
This would also involve going through any component that uses `getSlotted` and adding an `onSlotchange` listener to call forceUpdate.

[2021-12-06 21:33] macandcheese commented on #3223
LGTM although I don't believe that css variable should be customizable, teams can just adjust padding themselves with divs they slot. Oh well, it's fine for now and we can re-visit when these get refactored with the list-item slot paradigm.

[2021-12-06 22:14] macandcheese commented on #1933
@benelan let's look at re-prioritizing this one if possible next triage.

[2021-12-06 22:17] patrickarlt commented on #3624
It is worth noting that I did fix this by simply setting `height`  on the `<calcite-radio-group>` but I think the issue still stands that there might be a need for some way to sync sizes across components.

[2021-12-06 23:06] AdelheidF commented on #2720
https://codepen.io/afreitag/pen/RwLrvKe?editors=1000

[2021-12-06 23:51] driskull commented on #2913
This is a nice thing we could do prior to 1.0 release.

[2021-12-06 23:51] driskull commented on #3133
This would be nice to do pre 1.0 release.

[2021-12-06 23:52] #2873 closed

[2021-12-06 23:53] driskull commented on #2806
Not sure if this one should be pre 1.0 @jcfranco @benelan

[2021-12-06 23:56] #1817 closed

[2021-12-07 01:00] jcfranco commented on #3495
According to MDN, [`onslotchange`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLSlotElement/slotchange_event) bubbles, so we could look at adding a util for any components using slots (`SlottedComponent`).

[2021-12-07 01:13] driskull commented on #3495
@jcfranco There's no JSX listener defined for anything other than the slot tag it seems. So we would have to manage the listener I think.

[2021-12-07 01:16] jcfranco commented on #3495
If we add a utility similar to our other ones we can manage the listeners.

[2021-12-07 01:18] driskull commented on #3495
This doesn't seem to work for me. Not sure why...

[code]

[2021-12-07 01:22] jcfranco commented on #3495
You have to attach it to the shadow root. `onslotchange` bubbles, but isn't composed, so it won't reach the host.

[2021-12-07 01:25] driskull commented on #3495
Ok, yep that works. cool

[2021-12-07 02:02] benelan commented on #2208
verified on `next`! https://codepen.io/benesri/pen/wvrMRyE?editors=0010

[2021-12-07 02:02] #2208 closed

[2021-12-07 02:02] benelan commented on #3138
verified on `next`! https://codepen.io/benesri/pen/wvrMRyE?editors=0010

[2021-12-07 02:02] #3138 closed

[2021-12-07 17:38] ethanbdev commented on #1933
@jay-bis ended up implementing something similar for a different project, I am not sure if some if it could be reused / moved to this repository

[2021-12-07 19:11] #3223 closed

[2021-12-07 22:54] Elijbet opened #3645 "Bug: calcite-date-picker min and max not updating"
### Actual Behavior

Date-picker doesn’t update internally when min/max attributes are updated after initialization.

### Expected Behavior

Should be able to change the min/max props and have it update internally.

### Reproduction Steps and Sample

The following code pen includes steps to reproduce this bug.
https://codepen.io/elijbet/pen/ZEXWyPM?editors=1001

### Relevant Info

Reproducible ver

[2021-12-07 23:24] moosetraveller commented on #3608
Related #3127

[2021-12-07 23:25] driskull commented on #2079
@jcfranco you want to just start from the bottom of the list? I've started from the top.

[2021-12-07 23:46] moosetraveller opened #3646 "Closing and Opening of Calcite Tree Children does not work as expected"
### Description

I was not sure if that would be a bug or an enhancement. In my opinion it's a bug. However, I was not sure if the behaviour is as intended by design. Therefore, I submit an enhancement issue. Please change labels if applicable/needed.

Click on the expand/collapse icon, checkbox or label of the 'group' item does not work as expected when `selectionMode="ancestors"`:

![Example Tre

[2021-12-08 00:07] jcfranco commented on #3645
Moving to current milestone. cc @benelan

[2021-12-08 00:19] jcfranco commented on #3604
Verified via https://codepen.io/jcfranco/pen/BawKxaZ?editors=1000.

[2021-12-08 00:19] #3604 closed

[2021-12-08 01:15] jcfranco commented on #3576
I'm afraid this is the same issue as [#3240](https://github.com/Esri/calcite-components/issues/3240#issuecomment-974606786). `calcite-option`, as well as other components, do not reflect their `value` property (by design).

I'm not sure if there is a way to force Ember to set the attribute when updating the DOM from an expression. If not, a workaround would be to use a data attribute instead.

Clo

[2021-12-08 01:15] #3576 closed

[2021-12-08 01:46] jcfranco commented on #2928
@Elijbet Since you fixed a similar `calcite-input` bug, do you want to take a stab at this one?

[2021-12-08 02:39] Elijbet commented on #2928
Yep, that'd be great. Thanks!

[2021-12-08 10:57] Biboba commented on #2865
Thanks @andygup ! I confirm your fix works.

[2021-12-08 11:13] fendiaoxiaoshuazi opened #3659 "Bug: calciteDatePickerChange always get triggered twice"
### Actual Behavior

The calciteDatePickerChange event of calcite-input-date-picker always gets triggered twice when the date picker is changed.
![calcite date picker](https://user-images.githubusercontent.com/26078106/145198751-a296adf2-4cff-406c-af35-71b03e1fc46d.gif)

### Expected Behavior

The calciteDatePickerChange event should only be triggered once when the date picker is changed
### Repro

[2021-12-08 17:41] eriklharper opened #3660 "Document officially supported locale list"
### Description

This ticket will address documenting the official list of supported locales in calcite components and updating demo pages like the one used for time picker.

### Which Component

All

### Resources

ArcGIS API for Javascript official locale support page: https://developers.arcgis.com/javascript/latest/localization/#locale-support

[2021-12-08 17:41] eriklharper commented on #3660
cc @benelan @jcfranco

[2021-12-08 18:32] paulcpederson commented on #3597
@Elijbet are you working on this already? I think I have a fix for it I could pr

[2021-12-08 20:11] #2697 closed

[2021-12-08 22:28] anveshmekala commented on #3609
@jcfranco Is it expected from label component to delegate the pointer cursor for slotted labelable components ?

[2021-12-09 00:26] ethanbdev commented on #2697
Thanks for fixing this @paulcpederson! 🍻

[2021-12-09 00:27] Csmith246 opened #3667 "Calcite Dropdown - Dropdown positioning is incorrect when nested in shadow DOM - Only in Browsers other than Chrome (confirmed in Firefox & Safari)"
### Actual Behavior

Issue can be seen in following codepen, when using FF or safari (it behaves properly in Chrome)(https://codepen.io/csmith55/pen/NWardEd?editors=1000)

Dropdown opens further to the right than it should. This appears to be a cumulative effect

![image](https://user-images.githubusercontent.com/22039422/145312230-17f7b4fc-6351-42a3-bd14-cd59b378f21c.png)

### Expected Behavior

[2021-12-09 00:55] driskull opened #3668 "Some components are missing RTL equivalent CSS"
### Actual Behavior

Some components are missing RTL equivalents for animation, box-shadow, gradients, etc.

- [x] alert
- [x] date-picker-day
- [x] date-picker-month-header
- [x] input-date-picker
- [x] loader
- [x] panel

### Expected Behavior

All components offer RTL support when these styles are used.

Use logical properties for text-align, floats/positions/resize, and box model properties wi

[2021-12-09 03:26] fendiaoxiaoshuazi opened #3671 "Enhancement: input-time-picker should also show the referenced time format as placeholder"
### Description
Currently, the input-date-picker shows the referenced date format as the placeholder, but the input-time-picker does not have the referenced format placeholder. Add placeholder to time picker.
![image](https://user-images.githubusercontent.com/26078106/145326527-83de54ee-3bc5-4532-9789-8e0a9d0feb1c.png)

### Acceptance Criteria
- Add referenced time format as a placeholder to input

[2021-12-09 15:44] nwhittaker commented on #3576
@jcfranco, #3240 was not dealing with a rich-data value (neither is this one) and it lacked the detail about delayed rendering, so I just want to make sure we're talking about the same thing:

<img width="1119" alt="Screen Shot 2021-12-07 at 9 26 39 PM" src="https://user-images.githubusercontent.com/421496/145140430-593e3cc6-704f-4b67-a714-3044b3a198ce.png">

Out of curiosity, I added a couple sta

[2021-12-09 18:34] jcfranco commented on #3453
This is no longer reproducible with the latest release: https://codepen.io/jcfranco/pen/dyVXrQL?editors=1000. Probably fixed via #3120.

[2021-12-09 18:34] #3453 closed

[2021-12-09 18:44] jcfranco commented on #3609
I updated the description. In short, label should not modify the mouse cursor since it doesn't know about its children.

[2021-12-09 20:27] driskull opened #3675 "calcite-link has no default display for it's host"
### Actual Behavior

calcite-link has no default display for it's host

### Expected Behavior

calcite-link should be displayed as inline-block or inline-flex?

### Reproduction Steps and Sample

_Sample_:

1. https://codepen.io/driskull/pen/LYzZooe?editors=1010

### Relevant Info

_Reproducible version_: `@esri/calcite-components@1.0.0-<version>`

- [x] CDN
- [x] NPM package

Regression? _Last wo

[2021-12-09 20:27] driskull commented on #3675
@benelan @jcfranco plz triage

[2021-12-09 21:30] y0n4 opened #3676 "Refactor calcite-input for stepUp/stepDown feature"
**monday.com sync:** #18048538274

### Description
This snippet is no longer in the current master branch. Need to refactor to use `stepUp` and `stepDown` feature and it's [not supported by Firefox yet](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/stepUp#browser_compatibility)

https://github.com/Esri/calcite-components/blob/f86d27a89b25d2111d6194623db51c18356c3ff3/src/compone

[2021-12-09 23:57] driskull commented on #3667
Seems to be fixed if the `calcite-dropdown` is positioned as relative within the shadowDom.

[2021-12-10 01:03] benelan commented on #3609
verified on next

[2021-12-10 01:03] #3609 closed

[2021-12-10 01:04] benelan commented on #3597
verified on next

[2021-12-10 01:04] #3597 closed

[2021-12-10 01:06] benelan commented on #3533
verified on next

[2021-12-10 01:06] #3533 closed

[2021-12-10 01:08] benelan commented on #1688
verified on `beta.71`

[2021-12-10 01:08] #1688 closed

[2021-12-10 01:12] benelan commented on #1707
It looks like the height is still changing on `next`. @Elijbet can you please take another look at this one.

https://codepen.io/benesri/pen/MWEjWeb?editors=1000

[2021-12-10 01:18] benelan commented on #2451
@jcfranco can you please help verify this one? The code you commented snippets above were removed but I'm not sure if there's anything else that needs to be done.

[2021-12-10 01:20] benelan commented on #2570
Seems like there haven't been any complaints and everything I've tried has worked. Is there anything specific I should do to verify this one? cc @jcfranco @driskull

[2021-12-10 01:25] benelan commented on #3500
verified on next

[2021-12-10 01:25] #3500 closed

[2021-12-10 01:27] #3381 closed, assigned to benelan

[2021-12-10 16:37] jwasilgeo opened #3681 "setAssetPath() and a hard-coded `/assets` path"
### Actual Behavior

When consuming calcite-components via NPM while using assets locally, if I specify my own unique destination folder name when copying assets from `node_modules` and call `setAssetPath()`, icon resources cannot resolve the correct URL and break in my live web application.

Caveat: if I ensure that `/assets` is present in the destination folder path and that `/assets` is present

[2021-12-10 17:11] benelan commented on #3681
@jwasilgeo a github repo may be better for a repro sample in this scenario. Do you think you can put one together?

[2021-12-10 17:14] Elijbet commented on #1707
Hmm... can't seem to reproduce it on my end. I looked at it on a larger screen, but don't see the height change.

[2021-12-10 17:20] benelan commented on #1707
Weird, @nwhittaker can you repro with the sample above? Maybe I'm just seeing things.

[2021-12-10 17:33] tyanthony opened #3682 "Bordered Calcite Tabs does not allow for long tab titles"
### Actual Behavior

Calcite `Tabs` - `bordered`, long tab titles overflow. This happens only with bordered Tabs.

### Expected Behavior

Long tab titles should not overflow and the tabs should allow for titles of any length (same as non-bordered tabs).

### Reproduction Steps and Sample

1. Implement Calcite bordered `Tabs` with at least 2 tabs.
2. The second tab has a long title (at least longer

[2021-12-10 17:37] nwhittaker commented on #1707
I can't repro the issue in https://codepen.io/benesri/pen/MWEjWeb?editors=1000 in the latest versions of Chrome, Edge, Firefox, and Safari on macOS. Specifically, I don't see the height change anymore when the calcite-modal's `scale` attribute is a valid value.

I do see a hight change when the `scale` attribute is set to an invalid or empty value, but I'm not sure that's in scope or what the expe

[2021-12-10 17:37] jwasilgeo commented on #3681
Sure @benelan, I've fired up some stackblitzes.

Case 1 in my original repro steps which includes an `/assets` folder in my custom destination directory: https://stackblitz.com/edit/vite-fdnumn?file=package.json

Case 2 in my original repro steps which neglects to include `/assets` anywhere in my custom destination directory: https://stackblitz.com/edit/vite-re8cnw

Please note the `package.json`

[2021-12-10 18:12] jcfranco commented on #3576
Unlike native HTML form elements, some of our components allow `value` to be of any type, not just string. This is why we do not reflect the property, regardless of the actual value.

Taking a step back, may I ask why you need `value` to be reflected? Is it for styling?

[2021-12-10 18:17] benelan commented on #1707
![cc_issue_1707](https://user-images.githubusercontent.com/10986395/145622107-d895e991-0778-4751-a5fa-12f55b9eb2fe.gif)
Interesting, I'm on Windows (only one on the team I think) so maybe its an OS issue. I'll assign it to myself and try to get it working on my machine when I have some time.

[2021-12-10 18:52] jmanke opened #3684 "Remove header padding in calcite-block when there is no heading and it's open"
### Description
Currently, calcite-block has extra padding in the header when heading is unset and the calcite-block is open `<calcite-block open>`. We have a requirement for some calcite-blocks to be configured like this in our setup.

### Acceptance Criteria
When a calcite-block is configured without a heading and is open, remove the header padding.

### Relevant Info
![Screen Shot 2021-12-10 at

[2021-12-10 19:20] benelan commented on #1813
verified on next

[2021-12-10 19:20] #1813 closed

[2021-12-10 19:33] benelan commented on #3495
verified on `beta.71`, cool stuff!

[2021-12-10 19:33] #3495 closed

[2021-12-10 19:47] jmanke opened #3685 "calcite-value-list doesn't emit the calciteListOrderChange event when using a keyboard"
### Actual Behavior

When sorting a `calcite-value-list` with a keyboard, no `calciteListOrderChange` event is emitted.

### Expected Behavior

When sorting a `calcite-value-list` with a keyboard, the `calciteListOrderChange` event should be emitted since the list is being re-ordered.

### Reproduction Steps and Sample

_Sample_: [codepen](https://codepen.io/jmanke/pen/YzrGeqZ?editors=1111)

1. Cr

[2021-12-10 19:55] benelan opened #3686 "Update relevant components to use ConditionalSlotComponent"
### Description
Any components that conditionally use `getSlotted` should be updated to use the `ConditionalSlotComponent` interface.

### Proposed Advantages
Fixes an issue where `getSlotted` doesn't know about elements slotted after initialization using JS, until a re-render occurs.

### Relevant Info
The interface is defined in the  [`conditionalSlots.ts`](https://github.com/Esri/calcite-compon

[2021-12-10 19:58] nwhittaker opened #3687 "CSS selector syntax in `id` attribute breaks `<calcite-tooltip>`"
### Actual Behavior
If the tooltip's `reference-element` is an element `id` string that includes certain characters (e.g. periods, commas, etc...), the reference element is not found and a warning appears in the console.

### Expected Behavior
All valid `id` strings are supported and the reference element is found because the `reference-element` attribute is documented to support `id` strings, not

[2021-12-10 21:44] jcfranco commented on #3567
This is by design and is the preferred choice to get the component's value (going through the event's `target`/`currentTarget`). cc @benelan

[2021-12-10 21:44] #3567 closed

[2021-12-10 21:47] jcfranco commented on #3684
I'll let @asangma chime in on this, but the header is required by design. See https://github.com/Esri/calcite-components/issues/2824#issuecomment-905065990. cc @benelan

[2021-12-11 01:13] jcfranco commented on #3545
[Belated] Validation will break if we change the form inputs to use the "hidden" type or the hidden attribute, so we would still need the mixin.

[2021-12-13 03:27] babakbolour commented on #1475
@jcfranco just wondering why the bot is labeling this a stale, if there is a milestone (of 126/ - 12/7) assigned to it?

[2021-12-13 17:42] benelan commented on #1475
The bot marks issues as stale when there isn't any activity for a month. However, you're right this issue shouldn't be marked as stale since it has the `in development` label. I'll fix the github action to exclude issues that are in development.

[2021-12-13 19:10] arjavbadjatiya commented on #3108
@macandcheese Could we consider this one for 10.1? As teams are starting to implement this, it'll help if they can adopt a standardized component!

[2021-12-13 19:16] macandcheese commented on #3108
I think standardizing this across the platform is a great idea, and I'd be happy to work on designs for it. I do think the level of complexity here is somewhat above what most Calcite Components currently contain, and as such may (?) be better suited for Arcgis components or another shared internal library.

If this were to be a part of CC, we'd need a way to allow users to configure / translate t

[2021-12-13 19:22] benelan commented on #3108
I personally agree that this should start as an `arcgis-app-component`, especially with the timeline above. That repo is able to move a lot faster, and in the long run it can always be ported over to CC. I don't think we have the bandwidth to be adding new Calcite Components before v1 release.

[2021-12-13 20:14] Elijbet commented on #3613
I noticed that the status on the input has styling associated with it, but the one on label doesn't. These two aren't connected. Can we discuss whether we should have a status property on the label, and if yes then what would the behavior be?

[2021-12-13 20:32] driskull commented on #3613
@eriklharper @jcfranco Do we need the status property on the label? It doesn't seem to do anything by itself

[2021-12-13 20:47] benelan opened #3694 "Bug: browser-specific switch focus border regressions"
### Actual Behavior

~~There is a black border around a calcite-switch when clicking on the text of a parent calcite-label.~~

Even with the black border fix, `calcite-switch`'s focus border still has regressions. It looks different in FF and Chrome, but both of them are not correct.

-  In Chrome there is no focus border when clicking on the switch itself. When clicking on the label the border is

[2021-12-13 20:49] macandcheese commented on #3694
Yeah it looks like the focus outline is no longer being applied - previously:
<img width="347" alt="Screen Shot 2021-12-13 at 12 48 56 PM" src="https://user-images.githubusercontent.com/4733155/145886600-b467cacb-0240-4623-951c-46b9513cfb70.png">

[2021-12-13 20:51] benelan commented on #3694
Yup the focus outline is present in `beta.69`. I didn't know if removing that was by design but I assumed that ugly black border was not.

[2021-12-13 21:22] eriklharper commented on #3613
It doesn't appear that `status` needs to be declared as a `@Prop` on label because the input looks up the value with `getElementProp` anyway and when label is mutated, a re-render occurs in label, but that doesn't trigger a passing of the new status down to its children.

The fix for this would either require adding logic to label to pass the new status value down on mutations to the children (whi

[2021-12-13 21:36] driskull commented on #3613
Yeah, we need to discuss this pattern. A child component won't know when a parent changes.

[2021-12-13 22:02] jgibson02 opened #3695 "Enhancement: Subtitle/description for combobox-item"
### Description
Provide a subtitle/description prop for displaying a secondary label on a combobox-item

### Acceptance Criteria
- [ ] A prop is provided to render a secondary label within a combobox-item

### Relevant Info

#### Which Component
combobox-item

#### Example Use Case
In ArcGIS Velocity, we have a spatial reference selector which has ~9000 items, and users often are familiar with cho

[2021-12-13 23:33] benelan opened #3697 "Bug: black focus border around shell content"
### Actual Behavior
When clicking on the jsapi map, a black focus border appears. It seems like the border is coming from #2992

### Expected Behavior
No black focus border

### Reproduction Steps and Sample

_Sample_: https://codepen.io/benesri/pen/poWRjYy?editors=1000

1. Click on the map

### Relevant Info

_Reproducible version_: `@esri/calcite-components@1.0.0-beta.71`

- [x] CDN
- [ ] NPM pa

[2021-12-14 00:44] Elijbet opened #3699 "Bug: action-bar and panel don't line up when nested side by side."
### Actual Behavior

Action-bar and panel don't line up when nested side by side.

### Expected Behavior

Feedback from @macandcheese:
On one hand it would be hard to ensure they are always the same height (since you can slot anything into header-actions of a panel), but it would be nice for the simple case of title + action bar to line up (you can see this same issue live in Map Viewer).

### Rep

[2021-12-14 00:50] AdelheidF commented on #3699
The padding probably needs to be fixed first (https://github.com/Esri/calcite-components/issues/3494).
https://codepen.io/afreitag/pen/ZEJjaRa

[2021-12-14 00:57] macandcheese commented on #3684
@jmanke - could you share a few screenshots of the larger workflow - it could help us understand the full context and need (feel free to ping on Teams if you don't want to share publicly here) - thanks!

[2021-12-14 01:15] AdelheidF opened #3701 "calcite-popover-manager closes popovers outside its node or not matching the selector"
Closes popovers not inside popover-manager or popovers that do not match the selector

cc @driskull

### Actual Behavior

Closes all popovers on page

### Expected Behavior

only closes popovers that are inside the popover-manager node or inside the popover-manager node and match the selector

### Reproduction Steps and Sample

https://codepen.io/afreitag/pen/JjrEGax?editors=1000

### Relevant Inf

[2021-12-14 01:36] driskull commented on #3430
Seems like some flex alignment is needed here.

[2021-12-14 01:40] Elijbet commented on #3430
@benelan Do you think you could put together a codepen for this outside of the documentation?

[2021-12-14 19:04] COV-GIS opened #3711 "Slotted button enabled in disabled input"
### Description

Allow a slotted button to be enabled with the input disabled.

### Acceptance Criteria

As stated.

### Relevant Info

#### Which Component

`calcite-button`

#### Example Use Case

The user does not update the value of the input but rather uses the slotted button to populate the value of the input via a geoprocessing task.

The input can be set to `read-only` but the input is foc

[2021-12-14 20:00] AdelheidF commented on #3196
We get several bug reports about popovers being partially hidden in several of our components all due to calcite-panel or its content not having a good reference element that doesn't scroll out of view or scroll into positions where popper places them weird.

Could we give this issue a higher priority, please?

[2021-12-14 20:09] benelan commented on #3196
Moving this to the next sprint starting 12/20

[2021-12-14 20:12] AdelheidF commented on #3053
Could we please give this issue a higher priority? We get bug reports logged about it.

[2021-12-14 20:29] benelan commented on #3474
verified on next

[2021-12-14 20:29] #3474 closed

[2021-12-14 20:30] benelan commented on #2914
verified on next

[2021-12-14 20:30] #2914 closed

[2021-12-14 20:55] benelan commented on #3241
verified on `next`

[2021-12-14 20:55] #3241 closed

[2021-12-14 21:45] nwhittaker commented on #3239
@benelan, I updated the sample to pull in the latest `@next` version (see [snapshot](https://jsbin.com/zojonalera/edit?html,js,output)), and I agree that it does not look fixed there.

[2021-12-14 21:54] benelan commented on #2538
Relevant code
https://github.com/Esri/calcite-components/blob/14a8f75f99750e0c0f6d9ca7d39a3b641d46757e/src/components/calcite-input/calcite-input.tsx#L613-L621

[2021-12-14 21:58] driskull commented on #3701
cc @jcfranco

I think we're working towards deprecating the "manager" components for tooltip/popover. So we could introduce a "group" property on the tooltip/popover that handles when tooltips/popovers can be closed.

[2021-12-14 21:59] benelan opened #3716 "Unstable Test: calcite-input › number type › allows decimals when the supplied step is a whole number"
## Summary

**Which component?:**
`calcite-input`
**Which test(s)?:**
`calcite-input › number type › allows decimals when the supplied step is a whole number`
**Test error:**
[code]

**PR that skipped the test:** #3717

## Additional Info

[2021-12-14 22:45] anveshmekala commented on #3694
@benelan I don't see a black border while toggling the switch with label. Visual difference i see between `beta.69` and `.71` is the shrinked `focus-outline`.

[2021-12-14 22:47] benelan commented on #3694
you don't see this?
![image](https://user-images.githubusercontent.com/10986395/146091518-5886b073-1f01-47a2-84f6-f468c888325a.png)

[2021-12-14 22:50] anveshmekala commented on #3694
nope. i am using chrome. The black border is visible in edge though.

[2021-12-14 22:50] benelan commented on #3694
That screenshot is from Chrome, looks like it's not as obvious in FF

[2021-12-14 22:52] benelan commented on #3694
Strange, are you able to repro enough to work on this issue? If not someone else may have to do it

[2021-12-14 22:53] anveshmekala commented on #3694
Yup. I can use edge to fix the issue. Thanks @benelan

[2021-12-14 23:29] macandcheese opened #3720 "[Action] When used as dropdown trigger, can't activate dropdown with space key"
### Actual Behavior
When used in the `dropdown-trigger` slot of `calcite-dropdown`, it is hard as a keyboard user to interact with the `calcite-action` component to open the dropdown. A user needs to hold down `space` key _until the animation of the dropdown opening completes_, otherwise the dropdown won't open completely and revert to a closed state.

### Expected Behavior
As a keyboard user, I e

[2021-12-14 23:48] benelan commented on #3645
verified on next

[2021-12-14 23:48] #3645 closed

[2021-12-14 23:52] benelan commented on #2928
verified on next

[2021-12-14 23:52] #2928 closed

[2021-12-15 00:00] benelan commented on #3610
@Elijbet can you take another look at this one, on `next` the "Link" item still has the extra padding.
![image](https://user-images.githubusercontent.com/10986395/146098288-9317fa57-cde3-49ee-8b3d-140f15768cd6.png)

This is the correct padding in `1.0.0-beta.68` before the regression:
![image](https://user-images.githubusercontent.com/10986395/146098225-0aa2dda7-ecf5-47ec-a2d1-0674e316ab35.png)

[2021-12-15 00:03] benelan commented on #3529
verified on next

[2021-12-15 00:03] #3529 closed

[2021-12-15 00:14] benelan commented on #3242
@nwhittaker can you please help me verify this one on `next` when you get a chance? I don't see an "update options" button in the repro sample.

[2021-12-15 00:33] benelan commented on #3132
verified on next

[2021-12-15 00:33] #3132 closed

[2021-12-15 00:34] benelan commented on #2457
@macandcheese can you please help me verify this design issue?

[2021-12-15 00:44] benelan commented on #3317
verified on next

[2021-12-15 00:44] #3317 closed

[2021-12-15 00:46] nwhittaker commented on #3242
Looks like I may have overwritten the head revision. I'll update the issue description with the older revision meant for this issue: https://ember-twiddle.com/d6f427deeec2a6ae2c9dcf62ecedb61f/db6e00bf0ce2799502ac73f9f730ec3bcae2d66e.

[2021-12-15 00:50] benelan commented on #3242
Thanks for the repro sample, this issue is verified on next.

[2021-12-15 00:50] #3242 closed

[2021-12-15 00:52] benelan commented on #3437
verified on next

[2021-12-15 00:52] #3437 closed

[2021-12-15 00:56] macandcheese commented on #2457
@benelan done - thanks!

[2021-12-15 00:57] #2457 closed

[2021-12-15 01:01] AdelheidF opened #3722 "calcite-input-date-picker not changing after pasting new date string"
Instructions:
- copy string that's inside the input box
- change date to 10/15/2021 via calendar popover
- paste copied string into input box (it's 12/10/2021 again)
- open calender, it correctly highlights 12/10
- click on 12/15, nothing happens now, input box won't change to 12/15

### Actual Behavior

input box doesn't change to 12/15/2021

### Expected Behavior

input box should change to 12/1

[2021-12-15 01:23] AdelheidF opened #3723 "calcite-input-date-picker calendar should not change year in certain case"
Reported by Beyondsoft

Instruction:
- place cursor in input box and hit backspace 1-3 times
- the calendar popover updates to weird years
- the probability that users actually want to switch from year 2021 to year 202, 20 or 2 is probably nil
- therefore the calendar popover should not change its year until a valid date is entered in the input box or the user clicked on a date inside the calendar

[2021-12-15 04:25] jmanke commented on #3120
@benelan Yes it's working great, thank you!

[2021-12-15 17:14] benelan commented on #3120
Awesome, thanks for checking! Verified on `next`.

[2021-12-15 17:14] #3120 closed

[2021-12-15 17:49] AdelheidF opened #3724 "calcite-input-date-picker partially hidden by panel header"
Instructions:
- open calendar popover
- notice that the top of the calendar will not show on top of the panel header
- if I add more space above the input box it's fine
- if I remove some space above the input box it's fine too and the calendar shows below

<img src=https://user-images.githubusercontent.com/44481292/146238457-b8d1d42c-146a-48b2-be51-21ea6328b5a7.png width=300/>

Reported by Beyond

[2021-12-15 19:18] macandcheese commented on #3724
I've encountered this with the internally rendered `.header` div `z-index` declaration when other components are positioned over it like dropdown, etc. Unless there's a reason seems like we shouldn't be setting that internally as it causes users to have to use JS to unset that `z-index`.

[2021-12-15 22:19] benelan commented on #3491
@macandcheese can you please help verify this installed design issue?

[2021-12-15 22:22] macandcheese commented on #3491
Looks great - thanks for the work on this @anveshmekala. cc @asangma for reference.

[2021-12-15 22:22] asangma opened #3725 "PickList and ValueList - add position definition for slotted Dropdown"
### Actual Behavior
In Firefox and Safari, when a Dropdown is added to the `menu-actions` slot of PickList (and ValueList), the Dropdown's position doesn't respect the `sticky` position of the header.

![image](https://user-images.githubusercontent.com/44481292/149390995-e13d0cd4-3e17-461a-82dc-a846143bb2b5.png)

### Expected Behavior
Dropdown should stay sticky with the header.
Solution appears t

[2021-12-15 22:23] benelan commented on #3491
verified on next!

[2021-12-15 22:23] #3491 closed

[2021-12-15 23:11] macandcheese commented on #3675
I believe this needs to be set as `inline` to keep it displaying as it does now - because of how the link may wrap with longer strings, see example:
https://jsbin.com/tapecupitu/1/edit?html,js,output

<img width="325" alt="Screen Shot 2021-12-15 at 3 10 04 PM" src="https://user-images.githubusercontent.com/4733155/146279119-b190a3a9-b0a5-4ed3-9a7e-acdc35cb1623.png">

[2021-12-15 23:23] macandcheese commented on #3615
These values actually already exist: https://github.com/Esri/calcite-components/blob/master/src/components/calcite-shell-panel/calcite-shell-panel.scss#L84-L86
[code]

but they aren't documented and there's currently an issue preventing them from working if set externally because they are set again here: https://github.com/Esri/calcite-components/blob/master/src/components/calcite-shell-panel/calc

[2021-12-15 23:32] macandcheese commented on #3682
![](https://github.trello.services/images/mini-trello-icon.png) [Tab Border Issue](https://trello.com/c/UqOzhCAJ/38-tab-border-issue)

[2021-12-15 23:32] macandcheese commented on #3033
![](https://github.trello.services/images/mini-trello-icon.png) [Alert positioning Issue](https://trello.com/c/tGxUFyLG/37-alert-positioning-issue)

[2021-12-15 23:37] macandcheese commented on #3615
These values actually already exist: https://github.com/Esri/calcite-components/blob/master/src/components/calcite-shell-panel/calcite-shell-panel.scss#L84-L86
[code]

but they aren't documented and there's currently an issue preventing them from working if set externally because they are set again here: https://github.com/Esri/calcite-components/blob/master/src/components/calcite-shell-panel/calc

[2021-12-15 23:40] driskull commented on #3675
Makes sense, maybe we should set it to inline in the host and add a test as well?

It also looks weird with RTL since it doesn't position the icons correctly:

https://jsbin.com/tuzupuqere/1/edit?html,js,output

[2021-12-16 19:13] rpanichakit9541 opened #3727 "calcite-tooltip performance issues when rendering many instances"
### Actual Behavior

When rendering a bunch of calcite-tooltip (300 in the sample CodePen), I noticed some slow rendering when scrolling in Firefox. In Chrome, the rendering does not blink in and out, but the scrolling itself becomes a bit laggy.

![tooltip_performance](https://user-images.githubusercontent.com/44479773/146433572-b3bcc50f-5546-4ff0-97d6-dd8633ffa5a1.gif)

### Expected Behavior

I

[2021-12-16 20:30] driskull commented on #2570
I guess we can mark it verified and close 👍

[2021-12-16 20:43] #2570 closed

[2021-12-16 21:16] asangma commented on #3697
I don't think this is a Calcite thing.
It is default behavior in the api.
If you remove all the Calcite stuff from the codepen, you'll see the same behavior.

[2021-12-16 21:21] benelan commented on #3697
Oh, my mistake. I'll bring it up with the JSAPI team, closing this issue.

[2021-12-16 21:21] #3697 closed

[2021-12-16 21:34] benelan commented on #3694
Nice, on `next` the black is blue in Chrome, but it still looks different than before (`beta.69`).

On `beta.69` both Chrome and FF:
![image](https://user-images.githubusercontent.com/10986395/146452199-fac24a6a-4365-41f9-a941-f7b15100f672.png)

on `next` in FF:
![image](https://user-images.githubusercontent.com/10986395/146451293-c542b6b0-b4f4-4d14-99f9-1a0ee6fffe56.png)
There is a dotted border

[2021-12-16 22:03] macandcheese commented on #3694
Not on purpose - the screenshot from beta.69 is the expected design across all browsers.

[2021-12-16 22:06] benelan commented on #3694
Thanks for the confirmation Adam. @anveshmekala I'm assigning back to you, with the goal of getting the focus border to look like it does in `beta.69` on all browsers.

[2021-12-16 22:23] anveshmekala commented on #3694
@benelan  sounds good. Please update the description and expected behavior as well. Thanks.

[2021-12-16 22:41] benelan commented on #3694
Updated, thanks!

[2021-12-17 00:12] jmanke opened #3732 "calcite-dropdown-item: icon-end is not positioned at the end"
### Actual Behavior

The `icon-end` icon is not positioned at the end, it is positioned next to the content.

### Expected Behavior

The `icon-end` icon should be positioned at the end as it did before the regression was found.

### Reproduction Steps and Sample

_Sample_: [codepen](https://codepen.io/jmanke/pen/jOGmqqB)

1. Create a `calcite-dropdown-item` with `icon-end` set.
2. Observe the icon

[2021-12-17 17:26] asangma commented on #3697
@driskull will be able to address it.

[2021-12-17 17:36] benelan commented on #3697
Might not be related, but there was a black focus border around `calcite-switch` on Chrome as well, which is fixed in `next`. https://github.com/Esri/calcite-components/issues/3694

[2021-12-17 18:33] joeyHarig opened #3734 "`overlay-position="fixed"` broken when used within a modal"
### Actual Behavior

When a component that has `overlay-position="fixed"` is rendered within a `calcite-modal`, the position of the popover element is offset. The distance that the popover is offset by seems to be directly correlated to the x and y position of the modal itself.

#### `overlay-position="fixed"` used outside of modal works well
<img width="1450" alt="Screen Shot 2021-12-17 at 11 14

[2021-12-17 21:42] asangma commented on #2823
Still an issue.
I think that revealing on hover would be a bit taxing especially considering cases where there are a bunch of potential strings that are identical except for the last part of the string, e.g. a Demographics layer.

I like the middle truncation idea, but it can run into similar issues.

I know that multi-line headings and summaries aren't pretty, but it's really useful to be able to

[2021-12-17 21:45] macandcheese commented on #2823
Agreed for the scope of this issue - revealing all is the safest. Apps can truncate strings themselves if they need for now.

[2021-12-17 21:52] y0n4 commented on #2823
[reproduced](https://codepen.io/yonacorn/pen/wvrdELB)

[2021-12-17 23:22] asangma opened #3737 "In mobile, Popover (floating) elements to appear as bottom sheets"
**monday.com sync:** #9469736524

### Description
Update components that use a "floating" element (often using Popper ors Popover) so that the floating element appears as [a sheet](https://material.io/components/sheets-bottom) when in mobile.

- Dropdown
- Combobox
- DatePickerInput
- ColorPickerInput
- PickList and ValueList menu-actions slot
- Popover itself
- and probably others

Do NOT include

[2021-12-20 10:35] yannikmesserli opened #3740 "Calcite Flow: showBackButton configurable"
### Description

- ~When setting `showBackButton` on a `calcite-panel`, the back button does not show up.~
- When putting a `calcite-panel` inside a `calcite-flow`, a back button shows up in the header.

### Acceptance Criteria

A configuration to avoid the calcite-flow setting the back button on the calcite-panel

### Relevant Info

_Reproducible version_: `@esri/calcite-components@1.0.0-beta.71`

[2021-12-20 17:10] jmanke commented on #3732
fixed in version `@esricalcite-components@1.0.0-next.335`

[2021-12-20 17:10] #3732 closed

[2021-12-20 17:34] driskull commented on #3740
@yannikmesserli

In the first example, the attribute should be `show-back-button` without any value assigned. Boolean attributes should not be set like `show-back-button="true"`.

In the second example, the flow is what is setting the `showBackButton` property. https://github.com/Esri/calcite-components/blob/master/src/components/calcite-flow/calcite-flow.tsx#L111

You can't do the following as it

[2021-12-20 18:33] benelan commented on #3398
Looks like this is [already documented](https://developers.arcgis.com/calcite-design-system/components/tip/#component-api-properties-selected). Closing the issue.

[2021-12-20 18:33] #3398 closed

[2021-12-20 22:20] AdelheidF commented on #2445
I think it's OK that it displays ellipses if the text does not fit in one line, but if it would display the full text on hover somehow that would be great.

[2021-12-21 00:53] driskull opened #3743 "Refactor tailwind config"
## Background

Our tailwind config was first created when Tailwind was on V1 and the config has some stuff we likely no longer need. There are also some naming we can change to make it consistent with latest Tailwind configs.

related to #2143

### Todo

- Revisit names and structure of colors
  - borderColor
  - backgroundColor
  - background
- Verify that the custom plugins we have defined are n

[2021-12-21 01:09] driskull commented on #3743
It looks like we should setup our color like this if we want to have `text-color-x`.

https://play.tailwindcss.com/L5OEDfYxtU?file=config

We could also just remove the `-color-` part and have `text-x`?

[2021-12-21 12:28] yannikmesserli commented on #3740
Oh, right. Sorry about that.

We would like to remove it. Especially because when using a tsx render, going back does not remove the nodes inside the calcite-flow, where other navigation actions add or remove some calcite-panel within the calcite-flow. How can we achieve that?

[2021-12-21 17:44] jcfranco commented on #968
@kat10140 Can you confirm if `calcite-list` would solve this or do you need value-list to be updated?

[2021-12-21 17:45] macandcheese commented on #1021
Closing.

[2021-12-21 17:45] #1021 closed

[2021-12-21 17:46] macandcheese commented on #1062
This is possible with https://developers.arcgis.com/calcite-design-system/components/tile/#component-api-slots - please follow up if that does not satisfy requirements @noahmulfinger.

[2021-12-21 17:46] #1062 closed

[2021-12-21 17:48] driskull commented on #968
I think this should be a `refactor` issue to use the `calcite-list` internally.

[2021-12-21 17:50] macandcheese commented on #1125
Note - ensure this shows on focus as well.

[2021-12-21 17:53] macandcheese commented on #1147
@asangma is it safe to close this - at this point may be a little out of scope for CC and better suited for an app / arcgis-component to implement.

[2021-12-21 17:54] jcfranco commented on #1156
@driskull Can you confirm if the latest version of the components still have issues?

[2021-12-21 18:01] driskull commented on #1156
@jcfranco it seems like slider is the only one still having an aXe issue

[2021-12-21 18:05] macandcheese commented on #1164
Possible currently - improved by https://github.com/Esri/calcite-components/issues/3074 - out of scope for select component.

[2021-12-21 18:08] jcfranco commented on #1174
@eriklharper Can you provide more info on the results with and without fieldset?

[2021-12-21 18:12] macandcheese commented on #1316
Closing.

[2021-12-21 18:12] #1316 closed

[2021-12-21 18:18] macandcheese commented on #1380
@zaramatheson can you verify if this is still a valid issue? Thanks!

[2021-12-21 18:20] jcfranco commented on #1419
Will revisit this once https://github.com/Esri/calcite-components/issues/2913 lands.

[2021-12-21 18:21] driskull commented on #3740
@yannikmesserli you can just not have the flow and only have the panel. That would be the way to not have the back button.

[2021-12-21 18:23] jcfranco commented on #1423
This is already supported via the `format` property (https://github.com/Esri/calcite-components/pull/1439).

[2021-12-21 18:23] #1423 closed

[2021-12-21 18:27] macandcheese commented on #1514
@asangma can you confirm if this is still needed?

[2021-12-21 18:28] jcfranco commented on #1496
This is already supported via #2570. 🎉

[2021-12-21 18:28] #1496 closed

[2021-12-21 18:31] jcfranco commented on #1160
Discussed w/ @macandcheese and decided we will not pursue this. cc @benelan

[2021-12-21 18:31] #1160 closed

[2021-12-21 18:31] jcfranco commented on #1161
Discussed w/ @macandcheese and decided we will not pursue this. cc @benelan

[2021-12-21 18:31] #1161 closed

[2021-12-21 18:33] zaramatheson commented on #1380
@macandcheese Yes it appears to still be valid:
![image](https://user-images.githubusercontent.com/50747646/146980901-035a81df-6404-48f1-93e3-fbbae0f5a1a6.png)

[2021-12-21 18:37] macandcheese commented on #1380
Seems like we'll need to audit the `placeholder` values for each locale : https://github.com/Esri/calcite-components/tree/master/src/components/calcite-date-picker/assets/calcite-date-picker/nls

[2021-12-21 18:43] jcfranco commented on #1162
`calcite-select` shares the same typing behavior as the native element. It won't show a lookahead/typeahead UX, but it will change option if a matching character is typed. If the latter is desired, `calcite-combobox` can be used instead. Closing! cc @macandcheese @benelan

[2021-12-21 18:43] #1162 closed

[2021-12-21 18:44] jcfranco commented on #1156
@driskull Awesome, thanks for the update. I'll repurpose this for the remaining issue.

[2021-12-21 18:50] jcfranco commented on #3613
I think this got left out after we decided and refactored components to have explicit props. `getElementProp` was used early on for components using pass-through props, but this isn't ideal for the reasons you've mentioned above.

[2021-12-21 18:57] jcfranco commented on #1318
I believe this is fixed in the latest version. Tested w/ NVDA + Chrome, Firefox and VO + Chrome. Closing!

[2021-12-21 18:57] #1318 closed

[2021-12-21 19:22] driskull commented on #3613
from meeting...

- We will deprecate Status on label
- We will refactor usage of getElementProp (Epic issue)

[2021-12-21 19:32] macandcheese opened #3754 "[Combobox] - Internally rendered input has incorrect id assigned"
### Actual Behavior
`calcite-combobox` is assigning the `guid` *function* as a string, not the result of the function, to the internal input.

<img width="1528" alt="Screen Shot 2021-12-21 at 11 27 47 AM" src="https://user-images.githubusercontent.com/4733155/146986703-0a5db498-cb88-4f7a-927d-279cd9f578e7.png">

https://github.com/Esri/calcite-components/blob/c24ae4e242ab6da7a516b96ea29554ec8c411b

[2021-12-21 19:51] benelan opened #3755 "[Input Message / Input] Remove usage of `getElementProp` to set `status`"
### Description
`calcite-input-message` and `calcite-input` should not use `getElementProp` to set `status`.

### Proposed Advantages
This is not a great pattern for inheriting properties - as of now it only detects and sets on load. Users should manage `status`  on each component individually.

### Relevant Info
The verbiage on `calcite-label` here: (https://github.com/Esri/calcite-components/tre

[2021-12-21 19:59] macandcheese commented on #3755
To clarify (I think), this property should be kept on `calcite-input-message` and `calcite-input`, but their use of `getElementProp` to get and set the prop from `calcite-label` should be stopped.

The verbiage on `calcite-label` here: (https://github.com/Esri/calcite-components/tree/master/src/components/calcite-label#basic) should also be removed.

[2021-12-21 20:03] benelan opened #3757 "Remove usage of getElementProp"
### Summary
Remove usage of the `getElementProp` util.

`getElementProp` is misleading from a naming and implementation perspective and needs to be revisited.

**Current implementation**

[code]

1. `getElementProp` reads as a helper to get a prop, but it will actually get an attribute (string) OR whatever fallback value is provided.
2. The `prop` argument is used to build the selector for searchi

[2021-12-21 20:04] macandcheese commented on #3613
Could we preserve this property on label? It would allow us to style `invalid` label text which has been requested (but proceed with the removal of children using `getElementProp`)

[2021-12-21 20:09] nwhittaker opened #3758 "Add support for `download` attribute to `calcite-link`"
### Description
Native anchor elements provide a `download` attribute for prompting a resource/data download. Since `<calcite-link>` wraps an `<a>` element, it'd be nice to expose this part of the native API.

### Acceptance Criteria
A `download` attribute on the `<calcite-link>` element is passed through to the underlying `<a>` element.

### Relevant Info
[`download` attribute doc][1]

[1]: https

[2021-12-21 20:16] macandcheese commented on #3758
We may want to add this for `calcite-button` - when used with a `href` that renders an `<a>` tag internally.

[2021-12-21 20:18] driskull commented on #3613
Yeah, if we preserve the property, we should have it actually do something on the component.

[2021-12-21 20:24] ethanbdev commented on #749
Hey @jcfranco, was there just a little bit left to do on this? Checking on if it could be for this release cycle, thanks!!

[2021-12-21 20:31] macandcheese commented on #1755
Thoughts on this @asangma

[2021-12-21 20:33] macandcheese commented on #3058
We should match the behavior requested in the OP - example of "click on input to close" : https://mui.com/components/autocomplete/

[2021-12-21 21:45] driskull commented on #3757
Taking the first example (`accordion-item`)...

Instead of the `accordion-item` looking up at the parent to see what it's `iconType`, `iconPosition` or `active` state, those things should be set by the `accordion`. So it seems like logic needs to be moved to the parent.

So it seems in general, the logic just needs to move from the child to the parent component and the `getElementProp` shouldn't b

[2021-12-21 21:47] driskull commented on #3757
@benelan @jcfranco how do we want to divide this up? What sprint?

[2021-12-21 21:49] driskull commented on #2143
@benelan @jcfranco I think we can start on this one too. Bringing tailwind config into its own repo.

[2021-12-21 21:51] mpayson opened #3760 "Emit calciteAlertClose after animation"
### Description
Similar to `calcite-modal`, it'd be helpful to receive the close event from an alert after its animation has completed so that it's not preemptively removed from the DOM when integrating with a framework like React.

### Acceptance Criteria
`calcite-alert` emits an event after its animation completes (or has some other mechanism to notify a parent when it's done animating).

### Re

[2021-12-21 22:00] nwhittaker opened #3761 "Race condition setting `for` click handler for labelable components"
### Actual Behavior
If the rendering of a `<calcite-label>` element (or its `for` attribute) occurs after the assoc. input component is rendered, clicking the label does not focus or otherwise affect a "click" event on the input.

### Expected Behavior
Clicking the label should always affect a "click" event on whatever input is referenced via the label's `for` attribute, because it's consistent wi

[2021-12-21 22:45] jcfranco commented on #1079
The Stencil team is looking into improving Storybook integration. I'll leave this open and revisit once there's an update. Related issues:

https://github.com/ionic-team/stencil/issues/3104
https://github.com/ionic-team/stencil/issues/2328
https://github.com/storybookjs/storybook/issues/4600

[2021-12-22 00:24] benelan opened #3766 "Bug: the first hyphen entered into number input is removed"
### Actual Behavior
When typing `-` in number input, you have to type it twice in order for the hyphen to appear

### Expected Behavior
Only have to type a hyphen once

### Reproduction Steps and Sample

_Sample_: https://codepen.io/benesri/pen/bGorQYW

1. Type `-` and it won't add the character. Type it again and it will
2. Switch to `beta.70` and it works fine

Also reproducible in the doc: http

[2021-12-22 00:24] benelan opened #3767 "Bug: hyphen is removed when typing negative decimals in number input"
### Actual Behavior
You can't type negative decimal numbers, eg `-0.5`. The hyphen is removed when typing the `0`. If you type `0.5` then go back and add the hyphen it works fine.

### Expected Behavior
Typing negative decimal values does not remove the hyphen

### Reproduction Steps and Sample

_Sample_: https://codepen.io/benesri/pen/bGorQYW

1. Type `-0.5` and notice the hyphen is removed after

[2021-12-22 00:40] benelan commented on #3081
@macandcheese can you please help me verify this design issue?

[2021-12-22 00:46] driskull commented on #3379
I think this one is blocked. Should it be in a milestone still?

[2021-12-22 00:47] driskull commented on #3357
Awaiting response from above

[2021-12-22 00:48] benelan commented on #3357
Sorry, for the delay Matt. I would defer to Franco's input but that sounds like a good plan to me.

[2021-12-22 00:51] benelan commented on #3379
I'll move it into the back burner for now.

[2021-12-22 00:51] jcfranco commented on #3379
I think we can close if LA suggested this approach. Can you post their guidance here?

[2021-12-22 01:09] benelan commented on #2138
Whoever picks this issue up, here is a [good example](https://codepen.io/jcfranco/pen/vYmoKYq?editors=1000) of the current state of `label`'s vertical spacing.  It can be used to make sure the implementation standardizes the spacing, and/or provides the user a way to control it.

[2021-12-22 08:41] yannikmesserli commented on #3740
Since Calcite-components is the official web UI, Scene Viewer is using the flow to animate panel as the user drill-in configuration, as it should be. It would be sad not to use it because the back buttons is forced to appear when a calcite panel is inside a calcite flow.

Moreover, a calcite panel may not have a header - it's well supported. However, when within the calcite flow, the panel suddenl

[2021-12-22 17:44] driskull commented on #3740
Hey @yannikmesserli,

If there are 2 or more panels inside of the flow, it will show the back button. That's how it works. This can be verified by removing one of the panels inside of your codepen.

So, if you don't want the back button you can either...

- Remove one of the panels inside the flow
- Remove the flow (parent) and just use a panel

[2021-12-22 17:46] ptmdmusique opened #3772 "[Tree Item] Add support for disabled tree-item"
### Question

Is there any way to disable a single `tree-item` on a list, e.g.: make it not focusable/clickable

I tried with `pointer-events: none` and it works, but it seems like if the `tree-item` is in the first layer of the tree, it's still focusable
Also, notice if a disabled `tree-item` is clicked first, the tree automatically select the first item in the list

https://codepen.io/ptmdmusiqu

[2021-12-22 18:12] macandcheese commented on #3760
This would be a good addition

[2021-12-22 18:30] macandcheese commented on #3081
LGTM!

[2021-12-22 18:30] #3081 closed

[2021-12-22 18:50] macandcheese commented on #3772
Currently this isn't possible - a valid enhancement request though. Updating title.

[2021-12-22 19:26] driskull commented on #3196
It looks like the `calcite-shell-panel` has a slot named `header`. Can you throw a div in that and use that div as the reference element for the popover?

I don't think this slot is documented but I'm not sure why not? @asangma?

[2021-12-22 19:33] AdelheidF commented on #3196
Most of our app components are just calcite-panels that the app places into the shell-panel. This would require all apps to create that header div and pass a reference of it to the app components. This works but is a bit complicated. Could each panel have that kind of slot/header instead?

[2021-12-22 20:04] driskull commented on #3196
@AdelheidF so if I understand correctly...

- You need a way to attach a popover to the header of a panel
- So that the popover doesn't scroll with the content of a panel
- Attaching to the panel itself won't work because the target would be too large.

So we can either...

- Create a slot for supplying a reference element
  -  Not ideal because it wouldn't be anything visible.
- Create a read onl

[2021-12-22 20:10] jmanke commented on #3312
We also have a need to customize resize on the `textarea`. In our case, we require `resize: vertical`.

[2021-12-22 20:11] AdelheidF commented on #3196
yes!

the placement is weird if we do this

[2021-12-22 22:28] driskull commented on #3196
@jcfranco this is the only way I can think of doing this, right?

[code]

If we make this a pattern, we would probably be better off with one standard method name to return all elements we want to expose.

[2021-12-23 00:56] driskull opened #3780 "calcite-inline-editable throws error if no calcite-input is slotted"
### Actual Behavior

An inline-editable component throws an error if no input is slotted.

[code]

### Expected Behavior

There should be a visual error displayed instead of just a JS error that is pretty vague.

### Reproduction Steps and Sample

Add an inline-editable and do not slot a calcite-input.

OR

slot the input after initialization.

[code]

You should be able to slot the element at any

[2021-12-23 01:03] driskull commented on #3686
@benelan @jcfranco can we increase priority on this one and divvy up the work?

[code]

[2021-12-23 07:59] yannikmesserli commented on #3740
@driskull in Scene Viewer, the panels inside the flows are set or remove depending on the user's navigation. If he drills in one of the panels, then there is one more calcite-panel added to the calcite-flow.

Hence why I changed this issue to be a feature request - to change how it works. I can't change the labels, though. Please, help me by changing the labels.

[2021-12-23 15:38] jcfranco opened #3781 "Remove deprecated props/attrs, events, etc. before 1.0.0"
### Description

We've been deprecating props in favor of breaking changes whenever possible during the beta phase. Before 1.0.0 rolls out, these will need to be removed. This issue should help keep track of the items that need to be removed to tackle everything in a single sprint before release.

We should also work on a migration document that encompasses all changes.

cc @benelan

### Proposed

[2021-12-23 16:39] driskull commented on #3740
@yannikmesserli I'm a little confused about the UX you are proposing. You would like the user to be able to drill in but not be able to go back?

[2021-12-23 19:50] benelan commented on #3686
This is currently in the next sprint, do you think it should be moved to this one? I took your list and added it to the issue description with checkboxes. When someone **starts** working on a component, check off the box so we don't have overlaps. If anyone else has ideas for divvying up the work let me know.

[2021-12-23 22:00] jcfranco commented on #3686
Let's not modify the milestone, we still have issues to address for this short sprint.

[2021-12-23 22:02] benelan commented on #3430
Thanks for fixing the avatar issue! However, I am still able to repro this issue in [Adam's example on `next`](https://codepen.io/benesri/pen/GRMMeYo). Sorry for moving the goal post, but I'd like to continue using this issue in case there is a fix that works for all affected components (maybe in `calcite-icon`?). I edited the title and description of the issue.

[2021-12-23 22:06] Elijbet commented on #3430
Sorry I missed the other affected coponents. I'll get back to that in a bit.

[2021-12-23 23:18] anveshmekala commented on #2800
@asangma please update the  expected values of `fast| turbo` for `calcite-alert` in the description

[2021-12-23 23:23] eriklharper opened #3783 "Disabled checkboxes and radios should not be focusable"
### Actual Behavior

Disabled checkboxes and radio-buttons are focusable and display focus styling even when disabled.

### Expected Behavior

Neither checkboxes nor radio-buttons should be focusable or show visual indicators of focus state when disabled.

### Reproduction Steps and Sample

https://codepen.io/eriklharper/pen/jOGGRwp

### Relevant Info

_Reproducible version_: `@esri/calcite-compon

[2021-12-23 23:59] macandcheese commented on #2800
It does seem a bit weird to pass either a css value or a string as a value. Could we just update the underlying variables used and only accept slow/medium/fast?

Otherwise just removing the duration as a prop, and accepting a css variable to override a single default seems like another option.

I’m comfortable just making fast… faster if needed.

[2021-12-24 00:29] #3783 closed

[2021-12-24 19:59] jcfranco commented on #3239
This was fixed in the previous milestone. The original repro case is a bit misleading. If you swap out the components for their native equivalents, you can see they behave the same now (see https://jsbin.com/wofovax/2/edit?html,js,output):

**using `<select>`**
![select-selectedOption-native](https://user-images.githubusercontent.com/197440/147369756-9d05485d-4ef4-47eb-afd7-de1c8187674c.gif)

**us

[2021-12-27 19:25] driskull commented on #3780
@jcfranco @macandcheese @eriklharper @asangma  What do you think should happen when a `calcite-inline-editable` doesn't have a `calcite-input` slotted?

- Should we show nothing?
- Should there be an error displayed?
- Should we render a basic `calcite-input` using the default slot?

[2021-12-27 19:57] driskull commented on #3780
I think we should also discuss this pattern>

[code]

It's weird that the scale looks down or up through the DOM.

[2021-12-27 20:10] macandcheese commented on #3780
This component has always been a bit weird in structure to me - is it possible to consider having “input editable” just be an opt-in mode of input component?

Obviously a bigger lift but this seems like an outlier as far as usage goes.

[2021-12-27 22:45] driskull commented on #3686
This issue is actually a bit bigger than I thought.

I noticed a few more components that need this. These ones don't use getSlotted but instead query the host element for a slot. For example: `this.el.querySelector(<bleh>)`.

I excluded ones that already have a mutation observer setup on them because they wouldn't need to listen for slot changes.

- calcite-alert
- calcite-card
- calcite-combobox

[2021-12-28 19:49] benelan commented on #3540
Hi @Elijbet, unstable test issues are marked as installed after the test is no longer unstable. The PR to fix the test and un-skip it would be the one to resolve this issue. Setting this back to assigned (these issues are low priority for the most part).

[2021-12-28 20:58] jcfranco commented on #1004
Still valid.

[2021-12-28 22:48] jcfranco commented on #2800
👍

[2021-12-28 22:58] anveshmekala commented on #2800
Here is the [prototype](https://github.com/Esri/calcite-components/runs/4654039785?check_suite_focus=true) of how it may look like if we allow users to control the `autoDimissDuration`.

cc: @macandcheese , @asangma , @jcfranco

[2021-12-29 02:07] macandcheese commented on #2800
Yeah, I guess I don’t see a reason to let people set their own value here if we are already providing three speeds.

There is an open issue to pause the timer when hovering or focusing over the alert which would solve for the “dismisses too fast while trying to interact” case- but generally even having three seems overkill, imo.

@asangma thoughts on just adjusting the existing three values? I don

[2021-12-29 16:00] asangma commented on #3699
I think this would be a low-risk easy adjustment, i.e. reducing the top/bottom padding to 0.75rem.

[2021-12-29 17:15] anveshmekala commented on #2800
Agree that allowing custom value would be a breaking change and to let the user's pause the timer when hovering/focusing would solve the issue of dismissing too fast.

Thanks @macandcheese .

[2021-12-29 17:59] asangma commented on #1656
I think having scrollbars when `overflow-actions-disabled` is enabled makes sense even if it's not pretty. Without the scrolling, there can be actions that are no longer available to the user.

As far as FF, @lau11123 is that the scrollbar that appears only during interaction or is it persistent?

[2021-12-29 18:03] asangma commented on #1656
note: It looks like FF doesn't respect system settings on Mac. I have scrollbars turned on, and they appear as intended in Chrome and Safari, but only appear during interaction in FF.

[2021-12-29 18:22] asangma opened #3807 "ComboBox icon should be a caret"
### Actual Behavior
Combobox currently uses a chevron icon.

### Expected Behavior
Seems like it should use a caret no?

### Reproduction Steps and Sample

_Sample_: https://codepen.io/mtb-alan/pen/KKXQmrY

1. View icon.

### Relevant Info

_Reproducible version_: `@esri/calcite-components@1.0.0-<version>`

- [ ] CDN
- [ ] NPM package

Regression? _Last working version_: `@esri/calcite-components@

[2021-12-29 19:04] asangma commented on #2937
Ah...looks like this is no longer a valid issue.

[2021-12-29 19:05] asangma commented on #3725
@benelan Mind if we push up the priority on this?

[2021-12-29 19:11] macandcheese commented on #3807
I don't really see a reason to change this to be honest - Caret icon just appear slightly heavier.

[2021-12-29 19:14] macandcheese commented on #2800
Issue for reference: https://github.com/Esri/calcite-components/issues/3338

[2021-12-29 19:34] asangma commented on #2823
Noice!

[2021-12-29 19:34] #2823 closed

[2021-12-29 19:55] benelan commented on #3725
I put it in the next sprint @asangma

[2021-12-29 20:06] #3807 closed

[2021-12-29 20:36] joeyHarig opened #3808 "Add `selection-mode` to radio-button-group and radio-group"
### Description
Add selection-mode to `calcite-radio-button-group` and `calcite-radio-group` so that developers can utilize `selection-mode="multi"`.

### Acceptance Criteria
- selection-mode: multi
- selection-mode: single

### Relevant Info

#### Which Component
- `calcite-radio-button-group`
- `calcite-radio-group`

#### Example Use Case
Implement multi select multiple choice from UI form.

[2021-12-29 22:58] driskull commented on #3808
I think this would be opposite to how radio-buttons work. By design, they are not multi. This UI would be better suited for a checkbox.

[2021-12-29 23:02] #3808 closed

[2021-12-29 23:34] anveshmekala commented on #2800
For prototype purpose , i had reduced the duration scales by half and able to notice the difference.

[2021-12-29 23:44] benelan commented on #2078
This has been installed for a week there have not been any reports of build or visual issues. I'm closing this as verified, thanks for doing this Matt!

[2021-12-29 23:44] #2078 closed

[2021-12-29 23:47] benelan commented on #2079
This has been installed for two weeks and there have not been any reports of visual regressions or unintended changes. Closing as verified!

[2021-12-29 23:47] #2079 closed

[2021-12-29 23:53] benelan commented on #3279
verified on beta.72

[2021-12-29 23:53] #3279 closed

[2021-12-30 00:26] Elijbet opened #3815 "Research: nested popper is contained within the component instead of overflowing"
**Related Issues**
#3099
#3724
#3725
#3667

### Background

We have an issue with components using nested popper.js. Instead of overflowing, these are contained within the component.

eg. if placed inside a modal, a combobox is contained within that modal by default.

### Desired Outcome

In this example the calcite-combobox list container needs to overflow like it does with calcite-select.

Sampl

[2021-12-30 00:52] jcfranco commented on #1004
Installed! Now, global interval and timeout methods resolve to the right type as they are called from their corresponding context object. The original issue will still arise whenever the global methods are called directly as TS will resolve them using Node's global declarations (pulled in by `jest` dependencies) (see https://github.com/microsoft/TypeScript/issues/842#issuecomment-301228428).

[2021-12-30 01:11] benelan opened #3818 "Rework the internal contributing and conventions doc"
### Description
The goal is to get the internal doc looking like [Hub's](https://esri.github.io/hub-components/?path=/docs/guides-setup--page)

1. I am going to break the conventions into different files by topic so that they can be items in the storybook sidebar like above.
    - Testing
    - Documentation
    - A11y
    - i18n
    - Style
    - Maybe more?

2. I will audit the existing conventi

[2021-12-30 01:20] jcfranco commented on #2800
@asangma Do you have suggestions for updating the existing `slow`, `medium`, `fast` values? If not, let's go ahead and close this. cc @benelan

[2021-12-30 17:21] jmanke commented on #3685
Noticed on @next that the event detail is different when using a keyboard. When using a keyboard the event detail is the element itself. When using a mouse the event detail is the value assigned to the `calcite-value-list-item`.

[2021-12-30 17:41] ethanbdev commented on #1954
Looks good in my repro!

[2021-12-30 17:41] #1954 closed

[2021-12-30 18:06] Elijbet commented on #3430
@benelan: I’ve discussed this with @asangma and he thinks it might not be something that can be fixed from within our components. Seems like that's just what DIV does with images and SVGs. It just likes to add a few pixels to the bottom. He thinks we're up against default browser behavior in this case.

He is suggesting to design and build a ChipGroup (or Chips or ChipList) component that helps th

[2021-12-30 18:06] jcfranco commented on #3685
My bad. I'll submit a fix in a few.

[2021-12-30 18:23] driskull commented on #3430
If I add `vertical-align: top;` to the first chip it seems to fix it.

I also noticed that the icon is 16x16 but the text has a line-height of 19.

[2021-12-30 18:23] macandcheese commented on #3430
I'm not sure we need a wrapping container for individual chips ... we do have https://github.com/Esri/calcite-components/issues/1933 - which would have a parent group but to handle selection logic, but individual chips shouldn't be required to have a parent.

[2021-12-30 18:56] driskull commented on #3815
It seems like carbon does it the same way. An issue I found says that its just up to the container to overflow: visible.
https://github.com/carbon-design-system/carbon/issues/2573

Spectrum components have the same issue It appears.
https://webcomponents.dev/edit/collection/fO75441E1Q5ZlI0e9pgq/EYQn9T6wOnieZbv4xnPj/src/index.stories.js?p=stories

Paper has same issue:
https://www.webcomponents.org

[2021-12-30 19:34] jcfranco opened #3821 "[calcite-loader, calcite-input-message] Drop `active` in favor of `hidden`"
### Description

Stems from https://github.com/Esri/calcite-components/pull/3778/files#r774706383

It seems that `calcite-loader/calcite-input-message[active]` is used to toggle visibility, so we should deprecate/remove it in favor of the global `hidden` attribute.

https://codepen.io/jcfranco/pen/KKXQErV?editors=1000

To avoid breaking changes:

* `active` should be deprecated
* styles for `hidde

[2021-12-30 19:42] driskull commented on #3821
Agreed.

We do have some components that are not visible by default...

- modal
- popover
- tooltip
- ?

However, these use `visibility`  to hide them instead of `display`. Also, we would expect those components to not be visible by default. In this case, I think I would expect loader to be visible by default.

[2021-12-30 20:46] MikeTschudi opened #3822 "tooling: remove @esri/eslint-plugin-calcite-components dependency"
## Summary

One cannot install this dependency because of its outdated dependencies:
[code]

## Measure of Success

Successful fresh install of calcite-components dependencies.

### Resources

Alternate is to update upstream dependency https://github.com/jcfranco/stencil-eslint-core/pull/1 followed by an update to eslint-plugin-calcite-components

[2021-12-30 22:39] benelan commented on #3734
We have an [existing issue](https://github.com/Esri/calcite-components/issues/3815#event-5826423437) to rework how we handle popovers. However, for now you will need to use the default `absolute` value for `overlay-position`. If that does not work in your use case we can reopen this issue.

[2021-12-30 22:39] #3734 closed

[2021-12-30 23:26] jcfranco opened #3826 "Properly type list order change event payload in shared-list-logic"
### Description

Stems from https://github.com/Esri/calcite-components/pull/3825

The [shared list implementation uses `any`](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-pick-list/shared-list-logic.ts#L154) to workaround TS complaining about incompatible types regarding the list order change event payload.

### Proposed Advantages

Improved types.

### Relevant In

[2021-12-30 23:27] anveshmekala opened #3827 "Enhancement: allow customizing motion for components utilizing base transition variables"
### Description

Allowing users to customize the animation/transition duration for components using `$transition` variable from `calcite-base` repo
cc @jcfranco

### Acceptance Criteria

All component animations/transitions which are utilizing `$transition` use `--calcite-animation-timing` instead to determine duration.

### Relevant Info
Refer to #3081

#### Which Component
All components in calc

[2021-12-30 23:57] jcfranco commented on #3760
Implementer hint: https://github.com/Esri/calcite-components/pull/2074/files can be used as an example on how to accomplish this.

[2021-12-30 23:57] jcfranco commented on #3545
Closing based on ☝🏼 .

[2021-12-30 23:57] #3545 closed

[2021-12-31 00:32] jcfranco commented on #3711
Closing as won't fix. I think it'd be confusing and complex to allow parts of a disabled component be interactive.

[2021-12-31 00:32] #3711 closed

[2021-12-31 00:32] jcfranco commented on #3711
Is it possible for you to share some screenshots or mockups of the desired UI/UX? Maybe there's an alternative way to set this up. cc @macandcheese

[2021-12-31 15:54] jcfranco commented on #2538
Verified with repro case!

[2021-12-31 15:54] #2538 closed

[2021-12-31 15:56] jcfranco commented on #2720
Verified with [updated codepen](https://codepen.io/jcfranco/pen/MWEVygX?editors=1000)!

[2021-12-31 15:56] #2720 closed

[2021-12-31 16:10] BlakeStearman commented on #3064
Keep open for validation&hellip;

[2021-12-31 19:31] asangma commented on #2800
I think like-a-dis.

slow: 600ms
medium: 300ms
fast: 150ms

[2021-12-31 20:57] anveshmekala commented on #2800
@asangma  the alert will be dismissed in 0.15 seconds when set to `fast`. Do you mean `1500ms` by chance?

[2021-12-31 22:28] jcfranco commented on #3540
Stabilized via https://github.com/Esri/calcite-components/pull/3566. 🐴 🤠 💨

[2021-12-31 22:29] jcfranco commented on #3257
Stabilized via https://github.com/Esri/calcite-components/pull/3566. 🐴 🤠 💨

[2021-12-31 22:29] jcfranco commented on #2946
Stabilized via https://github.com/Esri/calcite-components/pull/3566. 🐴 🤠 💨

[2021-12-31 22:30] jcfranco commented on #2349
Stabilized via https://github.com/Esri/calcite-components/pull/3566. 🐴 🤠 💨

[2021-12-31 22:31] jcfranco commented on #3716
Stabilized via https://github.com/Esri/calcite-components/pull/3566. 🐴 🤠 💨

[2021-12-31 22:55] jcfranco commented on #3822
Our `@esri/eslint-plugin-calcite-components` dependency got updated to the latest version.

@MikeTschudi could you share your repro steps for our verification process? Thanks and Happy New Year! 🍾 🎉

[2021-12-31 23:24] asangma commented on #2800
Wow wow...I totally mixed this up with a different discussion. Sorry.

I don't wanna mess with the default timing. The suggestion was to accept time values for `autoDismissDuration`.
So existing values ("slow", "medium", "fast") all still do the same thing, but a user could go like

`auto-dismiss-duration="1200ms"`
or
`auto-dismiss-duration="12s"`

and Alert we be like "Sweet, homie. I'll hang out

[2021-12-31 23:35] anveshmekala commented on #2800
Referring to the comments above, i think the idea is to avoid the option of user's parsing time values as `prop( )`  or a `css` variable and fine tune the existing values.

 cc @macandcheese , @jcfranco

[2021-12-31 23:38] jcfranco commented on #2800
Correct. To reiterate, we'll skip setting actual values and keep that internal for now.

[2021-12-31 23:52] asangma commented on #2800
In that case, we might consider adding an "extra-fast" to AlertDuration. I know...I joked about "turbo", but it will be useful for certain use cases.

I think the existing values are good as-is.

If we add an "extra-fast" value, I'd suggest it follow the same 4000ms increment and be `2000ms`.

[2022-01-01 00:09] asangma opened #3834 "Action appearance="clear" hover state should follow general pattern"
### Actual Behavior
When Action has `appearance="clear"`, its hover state is kind of a border.

### Expected Behavior
It should probably be a solid background color and follow the same pattern that Button uses and utilize `--calcite-button-transparent-hover`.

Yes, that's what Button uses for `appearance="transprent"`, but that's a different discussion.

### Reproduction Steps and Sample

_Sample_

[2022-01-01 00:16] driskull opened #3835 "Refactor: replace popper.js with floating-ui"
### Description

Refactor: replace popper.js with floating-ui

### Proposed Advantages

Future support

### Relevant Info

https://github.com/floating-ui/floating-ui
https://floating-ui.com/
https://floating-ui.com/docs/getting-started

#### Which Component

All that use popper.js

[2022-01-01 01:33] jcfranco commented on #3434
@macandcheese Hope you don't mind, but I dug a bit into this and found out that this does work in the latest version with `color=neutral` (formerly `dark`): https://codepen.io/jcfranco/pen/bGovBpo?editors=1000

In the repro case, since an invalid color value is used, the parent button (in the shadow DOM) doesn't get a color set, so the icon picks up the color from the default button styling. iOS's

[2022-01-01 01:33] #3434 closed

[2022-01-03 01:18] macandcheese commented on #1258
Keep open

[2022-01-03 07:50] yannikmesserli commented on #3740
The component provide a `back` method, which clearly allow users to build different UI using the same functionality, so I think there is room for adding the back button being an opt-out option.

[2022-01-03 16:51] macandcheese commented on #674
Keep open

[2022-01-03 19:30] macandcheese commented on #2800
This seems almost too fast to be able to read anything other than a quick success / failure message:

https://user-images.githubusercontent.com/4733155/147971509-9c435c60-2bd1-4970-9c7c-a0594a303dee.mov

Is there an example of where this would be used - maybe some kind of more inline messaging or visual affordance could work?

Again I agree that the current fast isn't so .. fast - I think we can j

[2022-01-03 19:45] macandcheese opened #3838 "[Chip] Remove "status" colors"
### Description
The chip being used to convey state with associated colors has always seemed a bit strange to me. I am proposing we remove these. This also aligns with the goals of https://github.com/Esri/calcite-components/issues/2506.

cc @asangma
### Acceptance Criteria
The chip component removes yellow, green, blue, red status colors. Blue should be `brand` to match button nomenclature and all

[2022-01-04 17:11] asangma commented on #3541
Woot!

[2022-01-04 17:11] #3541 closed

[2022-01-04 17:13] asangma commented on #1914
@benelan I know this is old, but I created the issue and made the fix. I'm OK to close it.

[2022-01-04 17:36] #1914 closed

[2022-01-04 19:06] AdelheidF commented on #1475
According to Olga the current format of ss:mm:hh is not correct for Arabic

![image](https://user-images.githubusercontent.com/44481292/148110669-d34924f6-bf50-4e2c-9c8b-01fd1ebf6b45.png)

https://codepen.io/afreitag/pen/QWqrRGg

[2022-01-04 21:42] asangma opened #3858 "PickListItem : remove reference to "compact" prop"
### Description
There is mention of a "compact" mode which no longer exists.

### Which Component
PickListItem

### Resources
https://github.com/Esri/calcite-components/tree/master/src/components/calcite-pick-list-item#calcite-pick-list-item

[2022-01-04 21:46] asangma opened #3859 "Action: deprecate "compact" property"
### Description
Deprecate the `compact` property.

### Acceptance Criteria
Include updates to screener and and e2e tests.

### Relevant Info

#### Which Component
CalciteAction

#### Example Use Case

[2022-01-04 21:47] asangma commented on #3859
cc @AdelheidF @kevindoshier Do you know if this property is being used?

[2022-01-04 21:52] AdelheidF commented on #3859
Yes, it's used in filter and layer-override.

[2022-01-04 21:56] AdelheidF commented on #3859
used here:
![image](https://user-images.githubusercontent.com/44481292/148129042-8785231c-12a9-418d-a774-e10342a5b9b4.png)

without it:
![image](https://user-images.githubusercontent.com/44481292/148128974-d7854340-79d8-4f59-97fe-ce48ae73a70b.png)

[2022-01-04 21:58] asangma opened #3860 "deprecate `disablePadding` , `noPadding` in favor of CSS variables"
### Question
Label currently has a `disableSpacing` property which "eliminates any space around the label".

[code]

There has been some call to introduce this approach to other components. Should we? Or is this a broader issue?

Some points from a discussion are:
* Components shouldn't have margins at the :host or .container level.
  *  Label currently does this.
* Spacing is core part of a UI's

[2022-01-04 22:02] driskull commented on #3860
Yes, we should space children but not parent components. In this case, it's probably best if the parent handles the spacing and the children don't have spacing on their own.

[2022-01-04 22:04] driskull commented on #3859
This property might be ok to have as it just adjusts internal width.

[2022-01-04 22:07] macandcheese commented on #3860
I agree that components should not "space themselves".

I think `calcite-label` is a bit of an outlier because it is so often a part of a larger group of multiple `calcite-labels` .

If we had a `calcite-label-group` type component, we could offload the spacing responsibility to that parent, and continue to have consistent rhythm in forms, while keeping a single `calcite-label` free of any applied

[2022-01-04 22:10] asangma commented on #3860
Agreed.

[2022-01-04 22:12] driskull commented on #3860
I think that is warranted :) Some type of group component.

[2022-01-04 22:14] asangma commented on #3860
The pattern for "[something]-group" sounds good to me.

And I agree about not wanting to do `calcite-form` unless it had the implied logic.

[2022-01-04 22:16] driskull commented on #3860
At some point we might need a `fieldset` equivalent component.

[2022-01-05 00:14] AdelheidF opened #3861 "calcite-panel should have an onscroll event"
### Description

I have a calcite-panel that contains a calcite-button that opens a small popover with the button as the reference element. I want to close the popover if the user clicks outside of the popover. This works fine with a click handler on the document unless the user clicks on the scroll bars or scrolls the panel. In that case the click event doesn't fire. If the user e.g. scrolls the

[2022-01-05 01:16] driskull commented on #3861
@jcfranco @benelan can we discuss how we can do scroll events for scrollable elements within a component?

[2022-01-05 16:02] MikeTschudi commented on #3434
@jcfranco, thanks for solution; works perfectly!

[2022-01-05 17:30] benelan commented on #3861
Sure, I added it as an agenda item for our next meeting.

[2022-01-05 17:46] macandcheese commented on #2133
Is this specific to list? Looking at it now it just seems like we don't trap focus inside a popover. That seems like a reasonable thing to have support though.

[2022-01-05 18:05] AdelheidF commented on #2133
not really, `trap focus inside a popover` is the better description for what I need probably.

[2022-01-05 21:43] y0n4 commented on #3624
Hi. I tried to reproduce with the html source including the class styling used just for those components (`calcite-radio-group`, `calcite-label`, `calcite-button`). I think it seems like this issue is not present in the latest version

@1.0.0-beta.55
https://codepen.io/yonacorn/pen/PoJeMqX

@1.0.0-beta.73 (latest)
https://codepen.io/yonacorn/pen/ExwRLWW

[2022-01-05 21:53] MikeTschudi commented on #3822
1. Check out commit a961f4a0d31a7254aec8b67cb6beca55599e4434 ("test(input): stabilize e2e tests (#3566)")
2. Delete node_modules and package-lock.json
3. `npm install`: gets above error
4. Check out commit e469c7952b50e41982727932e8c0a8deb060adeb ("build(deps): bump @esri/eslint-plugin-calcite-components (#3830)")
5. `npm install`: success!

[2022-01-05 21:58] benelan commented on #3624
@macandcheese can we get your input on this one? It does look like they are pretty close, maybe a couple pixels off. Here it is without all of the custom classes:
https://codepen.io/benesri/pen/poWKVqE?editors=1000

[2022-01-05 22:08] vivzhang opened #3864 "Add Hub related svgs to `calcite-icons`"
### Description
There are a few SVGs we would like to use in Hub and could not find substitutes for in `calcite-icons`.

### Acceptance Criteria
Add below SVGs to `calcite-icons` -

survey:
`<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 20.2" xml:space="preserve"><path d="M5.8,10.9H0v-2h5.8V10.9z M5.8,3.5H0v2h5.8V3.5z M5.8,13.6v-2.1H4v2.1H5.8z M

[2022-01-05 22:26] macandcheese commented on #3624
Just to confirm - these components both have a height of 32px at the link above, so I think this is safe to close.

[2022-01-05 22:26] #3624 closed

[2022-01-05 23:28] asangma opened #3866 "Bug: Action size is wrong when loading"
### Actual Behavior
When `scale="l"`, the loading state of Action is wrong.

### Expected Behavior
Should be the same size.

### Reproduction Steps and Sample

_Sample_: https://codepen.io/mtb-alan/pen/NWazzLg

1. view the difference between the two actions.

### Relevant Info

_Reproducible version_: `@esri/calcite-components@1.0.0-<version>`

- [ ] CDN
- [ ] NPM package

Regression? _Last workin

[2022-01-06 00:02] jcfranco commented on #3686
@driskull Let's tackle the ones you listed separately since those would fall more into a consistency/clean up phase. I can help out this sprint. How do you want to split these up?

[2022-01-06 00:05] driskull commented on #3686
@jcfranco any way you wish. I can start from the top or bottom of the list. 👍

[2022-01-06 00:34] #3864 closed

[2022-01-06 14:45] gmiele commented on #3740
In addition to what @yannikmesserli already started to point out above:
- Scene Viewer offers several ways for the user to get back in the flow
   - The 2 buttons are present in the footer (confirmation/done and cancel)
   - The icon button in the action bar/toolbar can be used to go back to the first view
- This is a well-established UX in Scene Viewer and we should not break it. Forcing the back

[2022-01-06 16:38] asangma commented on #3743
Wouldn't this conflict with [font sizes](https://github.com/Esri/calcite-components/blob/master/tailwind.config.ts#L65-L67) which appear as `text-1`, etc. with `@apply`?

[2022-01-06 17:13] asangma commented on #3743
re: conflict
I know there's a note in the Tailwind file that suggests we should start using `text-Nh` or `text-N-wrap`, but I wonder if that's still a good approach.

[2022-01-06 17:30] driskull commented on #3740
Thanks @gmiele, I'll defer to our design team and wait for them to chime in.

[2022-01-06 17:33] driskull opened #3868 "Refactor combobox max-items to align with dropdown's max-items."
### Description

Apply the resize observer logic done in this PR to the combobox so that they are similarly structured.

https://github.com/Esri/calcite-components/pull/3378

### Proposed Advantages

Consistency

### Relevant Info

https://github.com/Esri/calcite-components/issues/3048

#### Which Component

Combobox

[2022-01-06 17:38] driskull commented on #3743
@asangma I'm not sure...

The tailwind playground is good for testing out these things quickly:
https://play.tailwindcss.com/

https://tailwindcss.com/docs/configuration

[2022-01-06 17:55] jcfranco commented on #2800
👍🏼

[2022-01-06 18:00] eriklharper commented on #3860
For context on the `disable-spacing` attribute, that was added in order to allow browsers that don't support flex gap to be able to specify spacing manually: https://github.com/Esri/calcite-components/blob/cedcc695cb318525a7d735c2db72068260fa8d27/src/components/calcite-label/readme.md#browser-caveat.

The tricky thing about label is that it can be used standalone or as a parent.  Label's spacing C

[2022-01-06 18:07] eriklharper commented on #3860
Correct me if I'm wrong, but currently `calcite-label` doesn't apply any margin styles to itself.  It only spaces its children by targeting the container div so that when it is used in a parent (wrapping) scenario, there's no need to put in extra markup or styles to space the label text away from the input the label is wrapping.

[2022-01-06 18:09] jcfranco commented on #3357
Yes, exposing the internal `calciteInlineEditableChangesConfirm` & `calciteInlineEditableEditingCancel` events is the goal. Aside from making these public, we should:

* review the names - IMO they read a bit disconnected currently
* type the emitters as `void`

@y0n4 Can you pick this one up?

[2022-01-06 18:17] driskull commented on #3860
Do we still support any of these browsers? Maybe we can just deprecate and remove this property?

[2022-01-06 18:42] jcfranco commented on #3053
Verified with https://codepen.io/jcfranco/pen/BawrLPz. Input is not restricted, but the value is properly parsed.

[2022-01-06 18:45] eriklharper commented on #3860
I suppose it might be safe to remove based on this.  We only support 2 major versions back from the current versions right?

![image](https://user-images.githubusercontent.com/821864/148434608-b8a1ae1c-b66c-4ea7-8797-ca8a2357c0e5.png)

[2022-01-06 18:47] AdelheidF commented on #3053
I don't think it's fixed if it still allows users to enter values like '5-----'

[2022-01-06 18:49] benelan commented on #3053
We decided to not strict the input, but rather parse the value correctly. So even though it displays `5-----` , the value is `5`. Typing another five will remove the invalid dashes and it becomes `55`.

[2022-01-06 18:56] AdelheidF commented on #3053
Ok, so you do automatically undo user's characters if the user enters the second 5. Why not do it right away?

[2022-01-06 19:01] benelan commented on #3053
The native number input allows you to type the two hyphens and keeps them there. This is because `-5e-5` is a valid number. However with the native input you can also type `5-55-5`. And it doesn't parse out invalid hyphens. Would you restricting the number of dashes to two like native does be sufficient?

[2022-01-06 19:05] eriklharper commented on #3053
The native number input allows you to type up to 2 hyphens in the input so as to accommodate values like `-5e-5`.  We can't restrict the user from typing a hyphen at the end of the value because it would prevent them from being able to enter a value like the one above.  We can set this up so that it restricts the input to a maximum of 2 hyphens.

[2022-01-06 19:15] COV-GIS commented on #3711
Thanks for consideration @jcfranco. I ended up going a different direction with the workflow and agree with your assessment of complexity.

[2022-01-06 19:21] jcfranco commented on #3185
Verified via https://codepen.io/jcfranco/pen/zYELrbd?editors=1000

[2022-01-06 19:21] #3185 closed

[2022-01-06 19:22] jcfranco commented on #3681
We'll need to add this to the doc. Stencil moves each component's assets directory to the root of the build output. As a way to make it easier for users to copy all assets, we unify everything under `/assets`, which is why we need to hardcode at the moment (see https://github.com/Esri/calcite-components/pull/1457).

[2022-01-06 19:31] AdelheidF commented on #3053
Idea from Paul B. : it should fix itself when it looses focus

So we kind of expect users to type something like this? Mhh...
-
--
-5-
-5-5
-5e-5

Yeah I don't know what the best behavior would be. We get a bunch of issues from people being able to enter values that are not allowed or just weird.

[2022-01-06 19:49] COV-GIS opened #3869 "Missing declaration files in dist/types/components.d.ts"
The following errors occur when compiling TS using component types. I versioned back thru to `beta-70` from `beta-73` and it's an issue with all those versions. `// @ts-ignore` can be used to suppress the errors as a temporary fix.

[code]

[2022-01-06 19:52] jcfranco commented on #3686
I'll start from the bottom today.

[2022-01-06 19:58] AdelheidF commented on #3053
Maybe it would help having this one fixed too:
https://github.com/Esri/calcite-components/issues/3003 (when I programmatically update values in the input they don't show)

Then we can better 'fix' the values in the box to what we want to allow. Most number input min/max ranges use simple numbers like 1 to 10 or 1 to 100. In those cases I don't have to worry about numbers like -5e-5.

[2022-01-06 20:08] jcfranco commented on #3602
Thanks for the info, @paulcpederson! I'll work on a prototype to see if we can leverage Intl. In the meantime, I'll reach out to get the missing localization file.

[2022-01-06 20:51] benelan commented on #3053
What is currently installed should fix that though, because those weird inputs are parsed out of the actual value. So even if the component looks a bit weird, it won't break someone's app. And restricting it to two hyphens will at least make it less weird. Past changing that, I think any other enhancements/fixes should go into a new issue.

[2022-01-06 20:57] jcfranco commented on #3602
Early prototyping shows that `Intl` does not have the necessary info to replace the localization files 1-1. Some items are not available or don't match from [`Intl.DateTimeFormat.formatToParts`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/formatToParts):

* `default-calendar` - this may be fine since it doesn't seem to be used at the moment

[2022-01-06 21:19] asangma commented on #3743
Thanks for sharing that playground. That's nice.

Our case is that we've got our custom values for font sizes that uses the `text-N` pattern.
That's why we ended up with "color" as part of our font color pattern.

I could be wrong, but seems like we'd need to update the names of our font size keys if we wanted to make `text-N` the pattern for font color.

[2022-01-06 21:26] driskull commented on #3743
Agreed. I'll leave that up to you guys. Now that we will be making this a shared project, it might be something to consider. I'm not sure how obvious or user friendly the numbers are. If we are going to do it, now would be the time.

[2022-01-06 21:34] benelan commented on #3869
You can disregard the bot, this bug report does not require a sample. We are aware of the issue and currently investigating. The issue is not reproducible on `next`, so you can use that for development purposes until this is resolved.

[2022-01-06 21:48] driskull commented on #3602
bummer :(

[2022-01-06 23:16] jmanke commented on #3027
This is a high priority issue for the Dashboards team 🙂

[2022-01-06 23:16] jmanke commented on #3555
This is a high priority issue for the Dashboards team 🙂

[2022-01-06 23:38] driskull commented on #3027
@asangma @jcfranco maybe we can meet and discuss a plan for this one?

[2022-01-07 00:00] jcfranco commented on #3686
Got carried away and tackled everything from the description's list. I submitted a draft PR for now. All that's missing is testing.

Do you have ideas for how the helper would work? Testing rerendering after any slot is updated should suffice, right?

[2022-01-07 00:03] driskull commented on #3686
Lol nice

Correct. Just adding a slotted element after initial rendering should suffice.

[2022-01-07 00:18] macandcheese commented on #3723
I agree our current implementation there is a bit lacking. A native (or calcite-input) of type="date" also provides helpers for focusing day, month, year independently and incrementing / decrementing with arrows. I wonder if having this component leverage that would improve the overall UX.

[2022-01-07 01:10] jmanke opened #3874 "UX Improvements: Selecting a range on the calcite-date-picker"
### Description
Currently, the calcite-date-picker is a bit unintuitive when selecting a date range. It would be nice if the range UX was similar to other range date pickers.

Examples:

- [daterangepicker](http://www.daterangepicker.com/)
- [jquery-date-range-picker](https://longbill.github.io/jquery-date-range-picker/)
- [hoteldatepicker](http://lopezb.com/hoteldatepicker/)

### Acceptance Crite

[2022-01-07 03:15] mpriour opened #3875 "A11Y: Radio buttons don't show checked state in high contrast mode"
### Summary
High contrast mode on Windows renders webpages with forced colors and removes box-shadows and background colors. Calcite-component's radio buttons use box-shadows to indicate checked state. This doesn't work on high contrast and makes it impossible to determine which radio button is selected.

### Actual Behavior
<img width="434" alt="Screen Shot 2022-01-06 at 7 52 39 PM" src="https://

[2022-01-07 03:29] mpriour commented on #3875
Closely related to #2355

[2022-01-07 17:05] macandcheese commented on #3875
It may be good to audit all of our components. I know you can provide user-defined high contrast colors in MS as well so could be something to test against. Cc @benelan

[2022-01-07 17:15] jcfranco opened #3877 "calcite-value-list no longer displays selection outline on items"
### Actual Behavior

Selected items have no outline.

#### Before
![Screen Shot 2022-01-07 at 9 06 58 AM](https://user-images.githubusercontent.com/197440/148580420-a7469289-72d6-4594-bf44-9ce57687fe89.png)

#### After
![Screen Shot 2022-01-07 at 9 08 26 AM](https://user-images.githubusercontent.com/197440/148580423-9e35d91b-6ea4-40b2-ae72-6a20370dd9dd.png)

### Expected Behavior

Selected items s

[2022-01-07 17:23] jcfranco commented on #2311
I think separate issues would be good. Do we also need to include the value list too? cc @benelan

[2022-01-07 17:51] jmanke opened #3878 "Number input: Value changes by itself indefinitely"
### Actual Behavior

In certain situations the `<calcite-input type='number'>` will auto increment/decrement by itself indefinitely.

![chrome-capture](https://user-images.githubusercontent.com/19629809/148585073-df518eb7-6b09-4feb-ab2b-b83c7b02a8fd.gif)

### Expected Behavior

The number input should not change its value in unexpected ways.

### Reproduction Steps and Sample

_Sample_: [codepen](

[2022-01-07 17:54] asangma commented on #3430
TLDR: I think that the alignment issue isn't a Calcite issue but resulting from default browser behavior.

I agree.
I think that the misalignment is coming from the default behavior of the containing element, e.g. a `div` whose default `display` is `block`.

A simple fix is to add `display: flex` to the parent `div` or follow @driskull's suggestion, but, _and seriously BUT_, doing so seems like it

[2022-01-07 18:05] macandcheese commented on #3430
Yeah I guess the question is then.. assuming we add the above “chip filter group” - should that component handle alignment of “normal” non selectable chips? I don’t have a preference.

[2022-01-07 18:17] jcfranco commented on #791
Gonna put this in the Freezer until the missing `tslint-stencil` rules are ported to https://github.com/ionic-team/stencil-eslint (see https://github.com/Esri/calcite-components/pull/3009).

[2022-01-07 18:48] Elijbet opened #3880 "Refactor(dropdown): nodeType checking for elements used in the dropdown-trigger slot of calcite-dropdown"
### Description

We shouldn't have to keep blacklisting elements in the keyDownHandler when a different button type of element is slotted. Need to refactor nodeType checking or create a document for which node types are allowed in dropdown trigger. That way we can maintain this list of exclusion nodes.

Related PR: #3857

[2022-01-07 22:50] jcfranco commented on #3686
We can try bundling that work as a separate PR using this issue. We can create a separate one if it's running after the sprint. WDYT?

[2022-01-07 22:56] jcfranco commented on #3878
Yikes, this is a gnarly one. Thanks for reporting this.

This regression got introduced in beta 69. Probably from https://github.com/Esri/calcite-components/pull/3340.

@Elijbet Do you think you can take a look at this one for this sprint?

[2022-01-07 22:59] driskull commented on #3686
same issue separate pr sounds good

[2022-01-07 23:21] Elijbet commented on #3123
It seems like the navigation doesn’t work because it’s handled on the tree item level and is unaware that the current state of the entire tree (and of the nested tree items). It moves up/down siblings only. Looks like the whole keyboard interaction logic needs to be moved a level up so the arrow up/down can move to next node whether it’s a sibling, a parent, or a child. Also so that I can have a p

[2022-01-07 23:35] driskull opened #3881 "Refactor getSlotted dom utility method"
### Description

Update the getSlotted method signature to match below.

[code]

### Proposed Advantages

Allows the slotName parameter to be optional.

### Relevant Info

https://github.com/Esri/calcite-components/pull/3788#discussion_r780582298

#### Which Component

N/A

[2022-01-07 23:41] Elijbet commented on #3878
Yeah, I'll look at it. Sorry, missed that somehow.

[2022-01-07 23:47] driskull opened #3882 "Refactor getSlotted dom tests to run in browser"
### Description

Refactor getSlotted dom tests to run in browser

### Proposed Advantages

This will allow accurate testing of getSlotted() to see if it has assignedNodes.

### Relevant Info

https://github.com/Esri/calcite-components/pull/3788#discussion_r780580724

It might be a good idea to refactor all the dom e2e tests so that the whole utility file is able to be executed in browser for the m

[2022-01-07 23:49] driskull commented on #3123
I agree with that assessment @Elijbet. The parent should handle the interaction. This way, there are only listeners setup on the parent component which is a good refactor.

[2022-01-08 00:48] AdelheidF opened #3883 "calcite-time-picker/calcite-input-time-picker: wrong order of time in RTL"
According to Olga the current format of ss:mm:hh is not correct for Arabic or Hebrew. The numbers should not switch order between LTR and RTL.

value="18:46"
![image](https://user-images.githubusercontent.com/44481292/148110669-d34924f6-bf50-4e2c-9c8b-01fd1ebf6b45.png)

![image](https://user-images.githubusercontent.com/44481292/149235717-29449841-0dce-4db8-8fac-e97640323e57.png)

https://codepen.

[2022-01-08 00:53] AdelheidF commented on #1475
Currently the `lang` property has to be on the component itself for it to translate the am/pm strings. If this is intended then this prop is missing in the doc.
https://codepen.io/afreitag/pen/QWqrRGg

[2022-01-08 02:19] AdelheidF commented on #3515
I think this got fixed by this one: https://github.com/Esri/calcite-components/issues/3053

[2022-01-08 02:24] #3515 closed

[2022-01-10 17:55] jcfranco opened #3887 "Audit components for compatibility with high-contrast mode"
### Background

Stems from #3875. To improve a11y, we should audit all components to make sure they are usable under high-contrast mode.

### Desired Outcome

All components are compliant with high-contrast mode. Updating the conventions doc with common patterns is a plus.

[2022-01-10 17:55] jcfranco commented on #3875
Agreed. Created https://github.com/Esri/calcite-components/issues/3887 as a starting point. Feel free to modify it. cc @benelan

[2022-01-10 18:13] jcfranco commented on #2451
Verified locally! There is [one possible item](https://github.com/Esri/calcite-components/blob/28e122a5b2af171134b7cbcf2f1a4f9b0599c29c/src/components/calcite-stepper-item/calcite-stepper-item.tsx#L246) left, but I'll tackle that when I [refactor stepper](https://github.com/Esri/calcite-components/issues/1258).

[2022-01-10 18:13] #2451 closed

[2022-01-10 20:23] jcfranco commented on #3887
@mpriour has volunteered some cycles to work on this. Thanks! 🙇

[2022-01-10 21:14] MikeTschudi commented on #669
@1.0.0-beta.73, still found by Firefox' Accessibility developer tool

![image](https://user-images.githubusercontent.com/2125181/148840451-811b7415-0406-4bbf-8922-2f4dac8f58ce.png)

[2022-01-10 22:16] driskull opened #3890 "Combobox: chip overflows border when 1 row is visible."
### Actual Behavior

Combobox: chip overflows border when 1 row is visible.

<img width="469" alt="Screen Shot 2022-01-10 at 1 52 33 PM" src="https://user-images.githubusercontent.com/1231455/148847417-899ea79f-a682-4160-abaf-05f7884b14ed.png">

### Expected Behavior

Chip should not overflow border

### Reproduction Steps and Sample

_Sample_:

1.https://codepen.io/pen?editors=1000
2. Look

### R

[2022-01-10 22:17] driskull commented on #3890
Plz add a screener test for this as well.

[2022-01-10 22:24] driskull opened #3891 "Combobox: Icon moves when opening menu"
### Actual Behavior

Combobox: Icon moves when opening menu

![bug-combobox gif](https://user-images.githubusercontent.com/1231455/148847865-9caa2f8b-e321-4d7c-a53b-62cb5c6b3aaf.gif)

### Expected Behavior

Icon should stay in place

### Reproduction Steps and Sample

_Sample_:

1. https://codepen.io/driskull/pen/ZEXqebw?editors=1000
2. Click to open the combobox
3. 👀

### Relevant Info

_Reproduc

[2022-01-10 22:59] driskull commented on #3891
Also add a storybook screener test for this.

[2022-01-10 23:19] y0n4 commented on #3420
Hi could you provide an example of an expected order of a tab key forward/backward and shift+tab sequence for this code sample? It could be an instruction by text or by video. Thanks!

[2022-01-11 01:40] jcfranco commented on #3027
@jmanke @ffaubry Can you share some additional info on your list usage? We can set up a meeting as well if it makes it easier.

[2022-01-11 02:52] jcfranco opened #3894 "Tabbing between pick-list item content can prevent slotted actions from being tabbed into"
### Actual Behavior

Tabbing between pick-list item content can prevent slotted actions from being tabbed into.

### Expected Behavior

Consistent tabbing through pick list item content.

cc @asangma

### Reproduction Steps and Sample

_Sample_: https://codepen.io/jcfranco/pen/eYGPRRr

1. Click first item
2. Press Tab (focus shifts to action)
3. Press Shift + Tab (focus shifts back to item content

[2022-01-11 04:02] benelan commented on #3869
@COV-GIS this issue is fixed in the `beta.74` patch we just released tonight. Do you want to make sure it works on your end before I close this issue?

[2022-01-11 14:23] MikeTschudi commented on #3420
@y0n4, I modified the https://codepen.io/miketschudi/pen/wvqpXRq to make visiting the neighbor before and after more obvious, and I switched it from *beta.68 to *beta.74.

Open the pen in Chrome or Chromium Edge:
1. Start the pen
2. Click in the demo area on "Neighbor before"
3. Tab: you enter list with "Child 1"
4. Keep tabbing past "Child 3": you land on "Neighbor after"
5. Shift-tab: you re-ent

[2022-01-11 14:55] COV-GIS commented on #3869
The above errors are resolved @benelan. Thanks.

However `calcite-value-list.d.ts` errors saying there is no declaration file for `sortablejs`. Which is odd as it is a dependency of the package. Easy enough for me to add `@types/sortablejs`.

[2022-01-11 14:55] #3869 closed

[2022-01-11 15:55] 4andy opened #3900 "Misalignment of tooltips in calcite-blocks in FireFox"
### Actual Behavior

Calcite-tooltips display misaligned in Firefox when located within a calcite-block.  I was unable to reproduce the issue in Chrome or Edge browsers.

![image](https://user-images.githubusercontent.com/41160084/148974335-5da172a8-a21d-48c9-8664-f6da1b5e2b0c.png)

### Expected Behavior

Tooltips aligned with reference element.

### Reproduction Steps and Sample

[https://jsbin.c

[2022-01-11 17:45] jcfranco commented on #3869
Interesting. Are you explicitly importing `calcite-value-list.d.ts` or is this type error coming up when you run your build? Do you have a repro case we could look at?

[2022-01-11 18:22] COV-GIS commented on #3869
When building. Only using "@esri/calcite-components" for element types. https://github.com/CityOfVernonia/Widget.PhotoAttachments

[2022-01-11 18:57] BennyBaruba commented on #3312
In the ArcGIS Mission app, we need to set the initial Text Area size to 100px to visually accommodate a max limit of 400 characters.  Without requiring the users to scroll.  We had a workaround to set this.  However the moving of the Text Area input to the shadow root in a recent version of Calcite Components, broke the code we were using to do this.  Thanks for looking into this.

[2022-01-11 19:17] macandcheese commented on #863
For the initial scope of this component I propose we limit the functionality to that of a native textarea, and later work on an enhancement for the footer slots, built-in character count, etc.

[2022-01-11 19:50] macandcheese commented on #3312
A native `textarea` has `row` and `col` attributes - When we break this out to its own computer I wonder if we can use these and then provide a css variable to pass `resize: none` to the shadowed `textarea`

[2022-01-11 20:37] driskull commented on #3900
Setting the `calcite-tooltip-manager` to have `position:relative;` fixes it. We might want to do that by default?

[2022-01-11 22:38] jmanke commented on #3027
@jcfranco  A meeting works for me, I can demo how we're currently using it.

[2022-01-12 00:07] y0n4 commented on #3420
Please ignore this one, it was a typo ^

[2022-01-12 00:19] AdelheidF commented on #3053
beta.74 only allows 2 hyphen, verified

[2022-01-12 00:20] #3053 closed

[2022-01-12 00:46] anveshmekala commented on #3101
Currently, the hyphenation in slider is aligned vertically below the `minHandle` label which looks like a regression bug. Correct me if am wrong @asangma & @macandcheese

Guessing it should look like below attached hyphenation for both mirrored and non-mirrored slider. Correct me if am wrong.

![4E565FCB-B3F1-4AF8-9C72-A5571529BDD8_4_5005_c](https://user-images.githubusercontent.com/88453586/14904

[2022-01-12 16:42] jwasilgeo opened #3918 "calcite-date-picker-day: API for theming and setting properties from calcite-date-picker or calcite-input-date-picker"
### Description

Is there an API currently available to set properties and, separately, change styles/themes of individual `calcite-date-picker-day`s from the level of the parent `calcite-date-picker` or `calcite-input-date-picker`?

The goal is to let individual `calcite-date-picker-day` properties or styles/themes be data-driven and easily applied via the parent `calcite-date-picker` or `calcite

[2022-01-12 16:49] jcfranco commented on #3101
I think this is indeed a regression. I believe the hyphenated parts always stayed aligned on the same level. @eriklharper Can you confirm?

[2022-01-12 16:56] anveshmekala commented on #3101
Screener run in PR #3813  bring ups an interesting edge case where the thumbs are aligned horizontally and overlapped in previous runs.  The description of this issue showcase thumb handles when overlapped align vertically.  Did the design changed  since the issue is created or we must be dealing with a regression bug .

[2022-01-12 18:04] AdelheidF commented on #3602
Changed the codepen to beta.74 and now I see this. I don't think it's correct for Bulgarian, the input box doesn't show yyyy.
The calendar is good now.

![image](https://user-images.githubusercontent.com/44481292/149196670-18509ff2-44a7-4ef7-b652-ad7aec29eb61.png)

[2022-01-12 18:30] #3494 closed

[2022-01-12 19:15] driskull commented on #3722
This seems to be fine in beta 74. @AdelheidF can you confirm?

[2022-01-12 19:19] driskull commented on #3727
I'm not noticing any performance issues on FF/Chrome with beta71 or 74.

[2022-01-12 19:21] AdelheidF commented on #3722
yes, looks good with beta.74

[2022-01-12 19:21] #3722 closed

[2022-01-12 19:24] rpanichakit9541 commented on #3727
@driskull - I see the blinking issue on my FF 96.0 and Chrome Version 97.0.4692.71 (Official Build) (64-bit)

[2022-01-12 22:41] y0n4 commented on #3725
Hi, could you include an attached gif? Thanks!

[2022-01-12 22:51] jmanke opened #3924 "calcite-panel: Ability to scroll to top"
### Description

I am using a calcite-panel that needs its scroll position reset to the top when a certain action happens.

### Acceptance Criteria

Having the ability to set the scroll position of the calcite-panel. In my case, I only need to set the scroll position to (0, 0).

### Relevant Info

In the absence of the shadow-dom, I would use [element.scrollTop](https://developer.mozilla.org/en-US

[2022-01-12 23:03] AdelheidF commented on #3079
I can't reproduce this anymore. All numbers appear in Western numerals.

![image](https://user-images.githubusercontent.com/44481292/149236856-22502952-3766-43f8-bc79-04df58f32c56.png)

@Olga8614 do you see the same?

[2022-01-12 23:13] jcfranco commented on #3602
I believe this is expected. The placeholder format comes from the bg localization file. cc @raje9276

I will create a separate issue for this.

[2022-01-12 23:27] jcfranco opened #3925 "date-picker locale attr/prop value should be case insensitive"
### Actual Behavior

Stems from https://github.com/Esri/calcite-components/issues/3602#issuecomment-1011314264

When using `locale="zh-CN"` and `locale="zh-cn"`, only the former works as it matches its localization file (the former defaults to English).

**Note**: this also applies to any supported locale with a language and region code

### Expected Behavior

Using `locale="zh-CN"` or `locale="zh

[2022-01-12 23:34] #3602 closed

[2022-01-12 23:37] AdelheidF commented on #3602
BG is good: https://www.localeplanet.com/icu/bg-BG/index.html

[2022-01-13 00:20] driskull commented on #3196
Have a potential solution here: https://github.com/Esri/calcite-components/pull/3926

[2022-01-13 03:39] MukeZ opened #3928 "Combobox with allowCustomValues and single selectionMode"
### Actual Behavior

1. Set allowCustomValues and selectionMode is single to the Combobox.
2. Select a item from Combobox.
3. Type a new value to the Combobox
4. It automatically selects two items displays nothing in the input while the DropDownList is opening
5. Close the DropDownList, it displays the first item rather than the inputted data

You can compare the behaviours when selectionMode is m

[2022-01-13 17:08] anveshmekala commented on #3423
Related to #404 .

[2022-01-13 17:39] benelan commented on #2946
Its been two weeks and I haven't seen this test fail, verified!

[2022-01-13 17:39] #2946 closed

[2022-01-13 17:39] benelan commented on #3540
Its been two weeks and I haven't seen this test fail, verified!

[2022-01-13 17:39] #3540 closed

[2022-01-13 17:39] benelan commented on #3716
Its been two weeks and I haven't seen this test fail, verified!

[2022-01-13 17:39] #3716 closed

[2022-01-13 17:44] benelan commented on #3239
verified using Franco's sample

[2022-01-13 17:44] #3239 closed

[2022-01-13 17:45] benelan commented on #3427
verified on `beta.74`

[2022-01-13 17:45] #3427 closed

[2022-01-13 17:48] benelan commented on #3530
verified on `beta.74`

[2022-01-13 17:49] benelan commented on #3574
verified on `beta.74`

[2022-01-13 17:49] #3574 closed

[2022-01-13 17:53] benelan commented on #3610
verified on `beta.74`

[2022-01-13 17:53] #3610 closed

[2022-01-13 17:54] benelan commented on #3675
verified on `beta.74`

[2022-01-13 17:56] driskull commented on #3924
@benelan @jcfranco we should discuss this along with if we want to emit scroll events.

[2022-01-13 17:59] benelan commented on #3685
verified on `beta.74`

[2022-01-13 17:59] #3685 closed

[2022-01-13 18:04] benelan commented on #3694
verified on `beta.74`

[2022-01-13 18:04] #3694 closed

[2022-01-13 18:07] benelan commented on #3822
verified on `master`

[2022-01-13 18:07] #3822 closed

[2022-01-13 18:10] benelan commented on #3687
verified on `beta.74`

[2022-01-13 18:10] #3687 closed

[2022-01-13 18:14] macandcheese commented on #3928
Thanks @MukeZ - good catch on this case.

[2022-01-13 18:15] AdelheidF commented on #3925
Is it expected that "zh" or "ZH" doesn't work but "pt" does work?
Normally the language codes for those are more specific like zh-ch or pt-br.

[2022-01-13 18:18] benelan commented on #3200
verified on `beta.74` 🌈
https://codepen.io/benesri/pen/gOGZRvV

[2022-01-13 18:18] #3200 closed

[2022-01-13 18:21] benelan commented on #3425
verified on `beta.74`

[2022-01-13 18:21] #3425 closed

[2022-01-13 18:42] jcfranco commented on #3925
Looking at the implementation, it is expected. `pt` works because we have the fallback available. @raje9276 In this case, should we always provide the fallback alongside the specific locale values or just the latter?

FWIW, `pt-PT.json` is available, but `pt-BR.json` is missing.

[2022-01-13 18:45] macandcheese opened #3931 "[Combobox] - Unable to use icon to close dropdown while open"
### Actual Behavior

If the dropdown is open, interaction with the chevron is disabled

https://user-images.githubusercontent.com/4733155/149390361-e9a8269f-1c07-4422-a13c-4a460855b696.mov

.

### Expected Behavior

I would expect to be able to toggle the dropdown by using the icon affordance at all times. It uses `cursor:pointer` which indicates interactivity.

### Reproduction Sample

https://de

[2022-01-13 20:29] asangma commented on #3743
re: text color
Does it make sense to call it something like `text-gray-N`?
The values for the existing numbers would remain but we'd replace "color" with "gray".

re: font size
Does it make sense to use the Tailwind naming convention?
`text-sm`, `text-base`, `text-lg`, etc.?

I'm not suggesting that we use the default values for those (even though they're largely the same). That'd be a different d

[2022-01-13 20:30] asangma commented on #3743
note: the "gray" suggestion is based on Tailwind's pattern.

[2022-01-13 20:38] benelan commented on #3827
verified on `beta.74`

[2022-01-13 20:38] #3827 closed

[2022-01-13 21:40] asangma commented on #3101
Am I mistaken in thinking that the vertical stacking of the thumbs is an unintended result of the hyphen wrapping?
That is to say, when the two values are very close, should the thumbs have the same behavior that they have elsewhere on the slider, i.e. on top of each other?

[2022-01-13 22:00] asangma commented on #3101
As @jcfranco suggests

The visual bug, i.e. the vertical stacking appears to be resulting from the hyphen in the `:after` wrapping.

I suggest updating the `.thumb .handle__label` display to be `flex` or some other solution to keep the `:after` from wrapping.

[2022-01-13 23:46] avezina commented on #3737
This would be a great enhancement and would be helpful for cases where the window is smaller like in the [JSAPI Utility Network Trace widget](https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-UtilityNetworkTrace.html).

Right now we are seeing issues with the Combobox dropdown component where the dropdown is hidden within the window which adds a scroll to the whole window

[2022-01-13 23:55] avezina commented on #3931
We have also observed this issue in the new [Utility Network Trace widget](https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-UtilityNetworkTrace.html) which is using this component. It is difficult to "get out" of the Combobox right now. Thank you!
![image](https://user-images.githubusercontent.com/50338557/149427288-2eb744e9-47d3-4e5e-ba95-471a5712d0e0.png)

[2022-01-14 00:39] Elijbet opened #3936 "Unstable test: dropdown > opens when dropdown-trigger is an action or a button"
### Which Component

dropdown

### Which Tests(s)

[code]
### Test error

AIL src/components/calcite-dropdown/calcite-dropdown.e2e.ts (71.921 s)
119 ● calcite-dropdown › opens the dropdown with click, enter, or space › opens when dropdown-trigger is an action
120
121 expected event "calciteDropdownOpen" to have been called 1 times, but was called 2 times
122
123 705 | await page.waitForChanges();

[2022-01-14 01:08] Elijbet opened #3938 "Unstable test: input > when both 'ArrowUp' and 'ArrowDown' are pressed at the same time most recently pressed key takes over"
### Which Component

input

### Which Tests(s)

[code]

### Test error

[code]

### Skipped In

#3933

### Additional Info

_No response_

[2022-01-14 17:11] macandcheese commented on #2966
Bumping this - still need to support a "non-detached" `shell-panel` on the left with a `detached` on the right.

[2022-01-14 18:18] eriklharper opened #3939 "Use new global attribute watch utility for Time Picker's lang attribute"
### Description

The time picking components are using the `attribute` option of the `@Prop` decorator that Stencil provides for customizing which attribute should be watched for changes in the case where it needs to differ from the internal property name, in this case the global `lang` attribute is being watched to update the internal `locale` property.  The new utility for watching global attrib

[2022-01-14 20:58] anveshmekala commented on #3101
Update on the issue:

When the thumbs are overlapped or colliding, they should be aligned horizontally(see screenshot below) rather than vertically as mentioned in the OG description and `hyphen` should be wrapped in between the handles rather than below the `minLabel`.
![D4A586B8-C13F-4F50-8C6A-9004CAB5B12D_4_5005_c](https://user-images.githubusercontent.com/88453586/149584232-ece8a0d9-1cdf-4cf5-

[2022-01-15 01:53] jcfranco commented on #3766
Verified via repro case!

[2022-01-15 01:53] #3766 closed

[2022-01-15 01:54] jcfranco commented on #3767
Verified via repro case!

[2022-01-15 01:54] #3767 closed

[2022-01-17 10:41] fendiaoxiaoshuazi commented on #3531
1. For BS, the date value format should be changed to DD.MM.YYYY. similar to how the placeholder already is.
2. For ZH-HK, both the placeholder and date should be displayed as "DD/MM/YYYY" instead of "YYYY/MM/DD"

[2022-01-17 15:12] gmiele commented on #3740
Thanks, @driskull. Any updates on the topic?

[2022-01-18 17:31] asangma commented on #3780
I agree with @macandcheese here.
Doing that to the `CalciteInput` might also go a long way to enabling our list item components to have an inline-editable UX.

[2022-01-18 17:46] driskull commented on #3780
@benelan @jcfranco can you guys comment on the proposal and triage a new issue if applicable?

[2022-01-18 18:07] driskull commented on #3740
Hi @gmiele. Not yet, the issue still needs to be triaged.

[2022-01-18 18:32] RalucaNicola opened #3949 "calcite-tabs component not throwing events when used inside a custom web component"
### Actual Behavior

I'm using a calcite-tabs component inside of a custom web component. Clicking on the tab titles does not switch them (the same tab remains active all the time).

### Expected Behavior

I would expect that the current active tab switches based on the tab title that the user clicks on.

### Reproduction Sample

https://codepen.io/ralucanicola/pen/mdBvbem?editors=1010

### Reprod

[2022-01-18 18:45] eriklharper commented on #3780
Option #3 makes the most sense to me.  I'm realizing too that the name of the component should probably include the word `input` in it to communicate than an input will be rendered, but that's just an aside.

[2022-01-18 18:45] eriklharper commented on #3780
I have this on the agenda to discuss today.

[2022-01-18 18:48] eriklharper commented on #3780
I like this idea as well, but I would prefer if we do go this route to break out number functionality into the `calcite-input-number` component before we add editable behavior to CalciteInput.  If others feel the same, I would happily take on the task of moving all the number functionality out of Input into the new InputNumber component.  I've been wanting to do that for a long while especially be

[2022-01-18 19:30] bpatterson88 opened #3950 "Enhancement: Set `action` to brand color"
### Description

Allow `action` component to be set in brand color (blue). This would allow for a primary action in an action bar, similar to how button lockups have a primary button.

### Acceptance Criteria

`action` component has a property that renders it with a brand color background, such as `color="brand|neutral"`.

### Relevant Info

n/a

### Which Component

`action`

### Example Use Case

[2022-01-18 20:48] mpriour commented on #3887
@jcfranco @benelan Here is the high contrast audit I did.
https://github.com/Esri/calcite-components/wiki/High-Contrast-Audit

I'm happy to make any edits for clarification or consistency.

[2022-01-18 20:54] driskull commented on #3924
Proposal...

[code]

[2022-01-18 20:55] driskull commented on #3861
Proposal:

[code]

[2022-01-18 22:40] mpriour commented on #3875
Radio buttons are visible in high contrast now. However, there is a slight but obvious overlap and misalignment of the selection indicator for small and medium scales. It needs to be scaled by the radio button size and not a set size for all scales.

[2022-01-18 23:03] asangma opened #3953 "Action : Update story and Screener test"
### Description

Update the story for screener to align with the updates in #3929.
Most screenshot tests should use a container without a defined width.

We will probably need defined widths on containers for `text-enabled` examples.

cc @Elijbet

### Acceptance Criteria

Accurately check for changes in Action.

### Relevant Info

_No response_

### Which Component

Action

### Example Use Case

_

[2022-01-18 23:08] macandcheese commented on #3780
Yep, same with textarea!

[2022-01-19 00:43] jcfranco commented on #3780
For the immediate issue, I think we should update the component to work regardless of when the input is slotted.

Unless I'm missing a use case, this situation seems like a user error. We could update the doc to emphasize that slotting an input is required. I believe all examples have an input already. @driskull do you recall where this came from?

I initially liked this as well, but reconsidered

[2022-01-19 00:47] zaramatheson opened #3955 "Action-bar - Arabic text is is cut off in Firefox"
### Actual Behavior

Arabic text is cut off in Map Viewer in Firefox only.
![image](https://user-images.githubusercontent.com/50747646/150042299-4a200e0d-88a8-43b9-b773-cbf87eaaf900.png)

### Expected Behavior

Text should not be cut off:
![image](https://user-images.githubusercontent.com/50747646/150042364-2a914776-c2cb-445e-9436-8d96439ce09e.png)

### Reproduction Sample

https://www.arcgis.com/

[2022-01-19 00:47] driskull commented on #3780
We can have `calcite-input` that internally renders a `calcite-input-editable` which could also be a standalone component.

That way, we get the best of both worlds... a mode and code separation.

[2022-01-19 00:59] jmanke opened #3956 "calcite-input type="number": Incorrect negative values in some locales"
### Actual Behavior

When typing a negative number in certain locales (et, ar), the `calciteInputInput` event always has the value set as `-1`. Additionally, when focusing off of the input, the value is reset to `-1`.

### Expected Behavior

The value emitted should reflect the value typed into the `calcite-input` since this would be consistent with other locales such as `en`.

### Reproduction Sa

[2022-01-19 01:40] jcfranco commented on #3818
Jotting some ideas:

* Internal patterns
  * form-associated components
  * labelable components
  * conditionally-slotted rendering components
  * internal event handling
  * distinguishing between internal and external prop setting
  * global attribute utils
* E2E vs spec testing

[2022-01-19 14:51] macandcheese commented on #1088
Still valid, nice to have post 1.0 IMO

[2022-01-19 14:55] macandcheese commented on #3181
This should be simple to update with a ‘thumbnail-position’ (or substitute of a prop name) option with the values listed above (defaulting to current behavior) to provide solution for multiple use cases.

Thoughts @asangma @mitc7862 ?

[2022-01-19 14:56] macandcheese commented on #3950
This seems reasonable to me, thoughts @asangma ?

[2022-01-19 16:28] asangma commented on #3953
@benelan I discussed this with @Elijbet. She has the understanding to take it on.

[2022-01-19 16:46] jcfranco opened #3957 "Drop dist-custom-elements-bundle output target"
### Description

Stencil has deprecated the `dist-custom-elements-bundle` output target and will be removed at a later date. They have opened the following ticket to gauge feedback on the change https://github.com/ionic-team/stencil/issues/3136. Assuming plans don't change, we should be prepared to drop that output target. cc @benelan

### Proposed Advantages

* Avoid deprecated/removed output tar

[2022-01-19 17:01] asangma commented on #3955
@benelan I can take this on.
I added a Codepen and some repro steps.

[2022-01-19 20:30] benelan commented on #3956
In `beta.72` when typing `-123` you can see in the console that the value is `NaN`.  Since then, I made changes to invalid number sanitation, which is a little funky in this case due to an existing bug. I'll look into why `-123` is `NaN` in those locales.

[2022-01-19 20:40] driskull commented on #3861
@AdelheidF we already have an event for this, can you confirm this works already? https://github.com/Esri/calcite-components/blob/master/src/components/calcite-panel/calcite-panel.tsx#L168

[2022-01-19 20:51] benelan commented on #3956
- `In beta.55`, `calciteInputChange` started emitting `-1` instead of `-123`. [`beta.54`](https://github.com/Esri/calcite-components/blob/master/CHANGELOG.md#100-beta54-2021-04-22) correctly emits `-123`.
- `In beta.72`, `calciteInputInput` started emitting `NaN` instead of `-123`. [`beta.71`](https://github.com/Esri/calcite-components/blob/master/CHANGELOG.md#100-beta71-2021-12-07) correctly emit