[2022-07-09 02:40] #404 closed

[2022-07-09 02:47] jcfranco commented on #3079
I thought we had already created follow-up issues for this. 🥲 @benelan can we create an issue to update additional components that display numbers? Aside from `calcite-slider`, we may also need to update `calcite-alert`. There may be others.

@AdelheidF Thanks for the reminder. 🏆

[2022-07-09 03:04] AdelheidF commented on #404
FYI. We had just added `position: relative;` to all those dropdowns in lists to fix the not being sticky scrolling issue with the menu. But this now messes up the width. Need to remove it again, seems to still be sticky now.

![image](https://user-images.githubusercontent.com/44481292/178089212-ba83b049-b35f-4f70-b549-10bdac8fbc59.png)

[2022-07-09 03:11] benelan opened #4893 "add numberingSystem property to components that display numbers"
### Description

We added a numberingSystem property to `calcite-input` for localization. We should also add it to all other components that display numbers out of the box.

### Acceptance Criteria

New `numberingSystem` property that behaves like it does for `calcite-input`

### Relevant Info

_No response_

### Which Component

- [x] calcite-alert (Dibs'd by Ben)
- [x] calcite-slider
- [x] calci

[2022-07-09 03:12] benelan commented on #3079
new issue: #4893

[2022-07-11 15:22] geospatialem commented on #4865
@driskull thanks for taking a peek at this issue! This will be the same resolution as the `tooltip` screen reader fix in adding an `aria-live="polite"` for JAWS, NVDA, and VoiceOver.

[2022-07-11 16:42] mjuniper opened #4895 "thumbnail overflows calcite-card when it has rounded corners"
### Actual Behavior

When calcite-card has a thumbnail and `--calcite-border-radius-base` is used to give it rounded corners, the thumbnail overflows the card at the corners.

![image](https://user-images.githubusercontent.com/942837/178314413-be23ffb4-ee1b-462a-8e7b-427c93178d65.png)

### Expected Behavior

calcite-card should respect `--calcite-border-radius-base`.

I think applying `overflow: h

[2022-07-11 18:54] mpayson opened #4896 "Active tab underline doesn't fill the width if an icon is dynamically added"
### Actual Behavior

If an icon is dynamically added to an active tab title, the underline for the title does not fill the width
<img width="218" alt="Screen Shot 2022-07-11 at 2 53 44 PM" src="https://user-images.githubusercontent.com/5892789/178337502-9166c40b-5a13-4265-b9d4-42e8f6a826ce.png">

### Expected Behavior

The underline width matches the width of the title

### Reproduction Sample

ht

[2022-07-11 19:45] geospatialem commented on #674
Updating the issue context to focus on NVDA and VoiceOver. In JAWS, the group name context is read back in both the Firefox and Chrome browsers.

Since [JAWS is used by just over 50% of screen reader users](https://webaim.org/projects/screenreadersurvey9/#primary), downgrading the priority of this to `medium`, but as @jcfranco, would be good to wait on this until our audit takes place in the comin

[2022-07-11 19:52] geospatialem commented on #1174
We have more context on implementing with `<fieldset>` and `<legend>`in issue #4600, so will close this issue as a result.

Also includes additional components that could benefit from this approach.

[2022-07-11 19:52] #1174 closed

[2022-07-11 19:59] geospatialem commented on #1471
@asangma Does the [`setFocus`](https://developers.arcgis.com/calcite-design-system/components/action-bar) method in the `action-bar` component fulfill the intent?

[2022-07-11 20:19] patrickarlt opened #4898 "<calcite-stepper> should not wrap items"
### Actual Behavior

Since Calcite stepper presents a linear UX pattern it should not wrap horizontally.

![Uploading Screen Shot 2022-07-11 at 1.17.43 PM.png…]()

### Expected Behavior

I would expect text to wrap inside `<calcite-stepper>` instead of the entire step to wrap.

### Reproduction Sample

https://esri.github.io/calcite-components/?path=/story/components-stepper--simple

### Reproduct

[2022-07-11 20:19] patrickarlt commented on #4898
Likely related to https://github.com/Esri/calcite-components/issues/1258

[2022-07-11 20:34] geospatialem commented on #2897
The dropdown counts are coming in as-expected with NVDA in Chrome (`Version 103.0.5060.114`) and Firefox (`Version 91.11.0esr`). Can you verify, @MikeTschudi?

[2022-07-11 20:48] MikeTschudi commented on #2897
NVDA in Chrome (`Version 103.0.5060.114`) and Firefox (`Version 102.0.1`) works as expected with Calcite v1.0.0-next.516.  Thank you, everyone!

[2022-07-11 21:08] #2897 closed

[2022-07-11 23:39] benelan opened #4900 "Avatar: add option to set the background color"
### Description

Add a CSS variable or property that allows users to change the background color of `calcite-avatar`. That is a pretty common use case in profile configuration. The app developer would have to choose colors that meet contrast ratio guidelines, and then the user could select one of those colors in the profile UI.

### Acceptance Criteria

A CSS variable (my preference) or property f

[2022-07-12 01:45] #4781 closed

[2022-07-12 16:26] tom7248 opened #4902 "calciteModalOpen emitted when changing calcite-input-message active"
### Actual Behavior

If a calcite-modal contains a calcite-input-message, changing the active property of the message causes the modal to emit a calciteModalOpen.

### Expected Behavior

calciteModalOpen should only be emitted once

According to the docs: https://developers.arcgis.com/calcite-design-system/components/modal/#component-api-events-calciteModalOpen

### Reproduction Sample
https://cod

[2022-07-12 17:48] driskull commented on #4721
Seems like the current positioning of the handle is based on a fixed offset size. That would need to change to be relative instead of fixed.

[2022-07-12 17:51] driskull commented on #2380
Can we just remove these max widths and let users set their own max width on the action-bar,action-pad,action-group?

[2022-07-12 17:54] driskull commented on #2380
If we do want a set max-width by default, we can add a CSS variable that users could override?

[2022-07-12 20:46] driskull commented on #2380
Another option would be to have a prop like `widthScale` similar to what is on the panel. We could have sizes for s/m/l and also have a CSS var if a user wants to customize it.

[2022-07-12 20:54] geospatialem commented on #3145
@ashetland Can you take a look at the global style to determine the feasibility prior to our 1.0.0 release? If its feasible - once design recommendations are accepted, we can relay on to developers. cc @yelenakreyndel

[2022-07-12 21:15] geospatialem commented on #991
Verified on `beta.84` ✅
![verify-stencil-fix](https://user-images.githubusercontent.com/5023024/178596589-d451f34a-0917-4485-a113-3f6adcf9adbc.gif)

[2022-07-12 21:16] driskull commented on #4388
@geospatialem can you test out this PR? https://github.com/Esri/calcite-components/pull/4905

[2022-07-12 22:02] geospatialem commented on #3043
Verified on `beta.84` ✔️
![verify-rating-clear](https://user-images.githubusercontent.com/5023024/178603120-5377717d-496d-4a44-b762-74f647f49c90.gif)

[2022-07-12 22:02] #3043 closed

[2022-07-13 09:12] janett-baresel opened #4911 "dropdown item without href attribute doesn't trigger onclick through keyboard "enter""
### Summary

The calcite dropdown generally works with keyboard navigation. However, it only works the dropdown item has an href is defined when clicking on the item. If the code only uses the onclick event, the keyboard "enter" key is not triggering the callback on onclick.

### Actual Behavior

When only an onclick handler is defined, pressing enter is not triggering the code path that is trigge

[2022-07-13 15:06] mpriour opened #4912 "Excessive borders rendered in High Contrast mode for several components"
### Summary

The [High Contrast Audit](https://github.com/Esri/calcite-components/wiki/High-Contrast-Audit) revealed that several components have excessive borders that make them overly visually busy in High Contrast mode. This was classified as a Severity 2 (Needs improvement) level issue in the audit.

The following components are effected by this issue:
* Accordion
* Combobox
* Dropdown
* Tree

[2022-07-13 17:37] jcfranco commented on #991
Looks like it's a Stencil bug: https://github.com/ionic-team/stencil/issues/3437.

[2022-07-13 20:58] paulcpederson commented on #991
@hccampos that example doesn't look it's actually running any of calcite's js. If this was the pr that broke dist/components, then you should be able to just remove the css file and see unstyled components, but you don't see anything. No shadow dom, no markup, nothing.

https://codesandbox.io/s/calcite-components-firefox-fouc-bug-repro-forked-4ipiun

I think there is a larger problem with the dist

[2022-07-13 21:07] geospatialem commented on #4388
The first item works great. Items are now read back via all screen readers when interacting with the combobox items. 💯

@driskull Are numbers 2 and 3 (listed below) in scope for this issue, or should separate issues be created to address them?

- [x] **Complete**

- [ ] **Partial Completion**. There is some indication with expanded, but no indication when collapsed.

- [ ] **Not yet completed.** U

[2022-07-13 21:08] driskull commented on #4388
Lets create separate issues for those @geospatialem. Thanks

[2022-07-13 21:20] jcfranco commented on #991
@paulcpederson The repro case is importing loader instead of label. If you fix the import, and follow the steps you described, you'll see the unstyled component. The problem is that Stencil components from `dist-custom-elements` never apply the hydrated attribute, which is more apparent with these changes.

[2022-07-13 21:42] geospatialem commented on #4388
Verified on `next`. Follow-up issues to follow shortly.

[2022-07-13 21:42] #4388 closed

[2022-07-13 21:43] geospatialem opened #4917 "Combobox item selection state is not read back to screen reader users"
### Summary

Unselected states for `combobox-item`s are read back to screen reader users, but selected ones are not.

**Some of the expected behavior has been mitigated, but additional development is needed.**

### Actual Behavior

If a user selects a `combobox-item`, context is not currently provided to the screen reader that selection has taken place. When (Unselected items are read back as unse

[2022-07-13 21:54] geospatialem opened #4918 "Combobox selection not announced to screen reader users"
### Summary
Selection is not announced to `combobox` in `selection-mode="single"` on-demand or when in focus. Other `selection-mode`s receive announcement when in focus, but not on-demand.

### Actual Behavior

After selecting a `combobox-item` where `selection-mode="single"` context is is not provided to the screen reader, even when the `combobox` is in focus and a selected value is displayed vis

[2022-07-13 22:00] geospatialem commented on #4895
Verified on `next.530`

![verify-card-border-radius](https://user-images.githubusercontent.com/5023024/178844011-d05726be-fc3f-4305-916b-eb8a57a2f9d7.png)

[2022-07-13 22:00] #4895 closed

[2022-07-13 22:28] eriklharper commented on #4756
Sounds like the issue is just that the component doesn't respond to browser or OS locale changes properly.  Is that correct?

[2022-07-13 22:41] driskull commented on #4918
@geospatialem do you have any idea on how to fix this? We already have the `aria-expanded` set.

[2022-07-13 22:47] driskull commented on #4917
The combobox already sets `aria-selected` on the item. Is there something missing?

[2022-07-13 23:05] geospatialem commented on #4918
I _think_ if some of the aria props are moved to the `Host` it'll mitigate the issue. I've got a similar fix in the works for `accordion-item`, and will link in the PR here after some follow-up testing tomorrow.

[2022-07-14 00:18] eriklharper commented on #4756
From the looks of it, this doesn't seem possible to do with the existing browser APIs.  I'm going to do some more research, but I don't think there's a way to access this system setting via javascript in the browser.

[2022-07-14 00:49] benelan commented on #4756
IIRC `navigator.language` should be the system's preferred language when provided.

Last time I looked into this I found it really depends on the browser and OS. For example, FireFox:

 https://firefox-source-docs.mozilla.org/intl/locale.html#regional-preferences

@macandcheese said he is using Mac/Chrome:
https://developer.chrome.com/docs/extensions/reference/i18n/#mac-os-x

I know on Windows you

[2022-07-14 01:39] jcfranco commented on #4898
FYI, it looks like #4367 would fix this

![improved-stepper-layout](https://user-images.githubusercontent.com/197440/178868738-fd8bc72e-1f9c-4f53-96c6-25aadead5a33.gif)
.

[2022-07-14 01:43] jcfranco commented on #1258
FYI, I revived https://github.com/Esri/calcite-components/pull/4367 and just need some help from @macandcheese or @asangma on reviewing/tweaking the styles. ⚡🧟 ⚡

[2022-07-14 15:08] #4792 closed

[2022-07-14 15:17] geospatialem commented on #4879
Verified on `beta.86`

![verify-input-disabled-spinbtns-interaction](https://user-images.githubusercontent.com/5023024/179016973-1d4cb1d8-12ed-4fdb-943a-1345d46cd57a.gif)

[2022-07-14 15:17] #4879 closed

[2022-07-14 16:02] macandcheese opened #4932 "[Block] Add icon property, update slot nomenclature"
### Description

The current Block slot documentation / naming is overly limiting, in practice an action or other element may be applicable :

https://developers.arcgis.com/calcite-design-system/components/block/#component-api-slots-control

### Which Component

Block

Proposing that we rename the current slots to ones more consistent with the system:

Control -> Actions End
Icon -> Content Start

[2022-07-14 16:19] geospatialem commented on #3976
Verified for `calcite-input` in `beta.86`.

![verify-input-selectText-method](https://user-images.githubusercontent.com/5023024/179029328-13db10af-a82c-45af-9c81-2376d82f9c32.gif)

[2022-07-14 16:19] #3976 closed

[2022-07-14 17:10] driskull commented on #1786
In actuality,  we may need to add 4 slots. `actions-start`,  `actions-end`,  `content-start` and `content-end`. That way, content can still be clickable to toggle the accordion whereas actions will not toggle the accordion. Is this correct? @macandcheese @jcfranco

[2022-07-14 19:40] kevindoshier commented on #4595
This still doesnt seem correct,  in the sample programatically a nextStep, prevStep are being used, but there is the case where we dont use that and the user will just click one of the stepper positions, for that case we do not get back a position, here is a codePen

https://codepen.io/kevindoshier/pen/wvyNLJV

[2022-07-14 20:56] macandcheese opened #4935 "[Block] - Re-evaluate hiding the open / close icon when action-end / slotted"
### Description

We received feedback that hiding the chevron open / close affordance when actions are slotted into a block can be confusing as the indicator is not present.

### Acceptance Criteria

Consider always persisting the caret even when actions are present. We may not need to act on this but it is worth exploring if having it present at all times is worthwhile.

### Relevant Info

cc @as

[2022-07-14 22:14] driskull commented on #4595
@kevindoshier can you create a new issue for this? I have a fix in progress.

[2022-07-14 22:34] geospatialem commented on #4595
@kevindoshier, For some reason the Codepen sample wasn't providing a value for the second or the last stepper item.

[Updated the html in this sample](https://codepen.io/geospatialem/pen/vYRydaM) that seems to recognize click events. In the updated Codepen are you experiencing the same behavior? If so, can you provide the steps to replicate the experience?

[2022-07-14 22:43] kevindoshier commented on #4595
I see, we dont have any content within each stepper item for our use case, but that does seem to fix the issue, we use this more for navigation.   Adding empty content to each stepper seems to fix it,  @driskull  should I still add an issue though?

[2022-07-15 00:48] jcfranco commented on #4898
Fixed via #1258. https://codepen.io/jcfranco/pen/rNdWdYQ?editors=1000

[2022-07-15 05:54] jcfranco commented on #3513
Fixed via https://codepen.io/jcfranco/pen/LYdbBLw?editors=1010.

[2022-07-15 08:01] janett-baresel opened #4944 "calcite dropdown cannot be navigated with keyboard when containing a disabled item"
### Summary

When creating a dropdown with a disabled dropdown item, the user cannot reach any elements passed the disabled item.

### Actual Behavior

When tabbing through the dropdown items the dropdown closes when the focus would reach the disabled item.

Note: if I use a dropdown group with the same items, this works as expected.

### Expected Behavior

When tabbing through the dropdown items

[2022-07-15 15:42] nwhittaker opened #4945 "Flesh out input selection API"
**monday.com sync:** #18048508910

### Description

With the addition of [`CalciteInput.selectText`][1], it'd be helpful to expose other parts of the wrapped input's selection API.

[1]: https://github.com/Esri/calcite-components/pull/4827

### Acceptance Criteria

Expose some or all of these for text/number inputs:

- [ ] [`select` event][1]
- [ ] [`selectionStart` property][2]
- [x] [`selectionE

[2022-07-15 16:28] benelan commented on #991
Which version are you using? We released `beta.86` as a patch

[2022-07-15 17:39] eriklharper commented on #4756
Yeah, and even if the specific browser provides a hook into the OS locale, which would imply a default hour cycle, it would still need to hook into the OS hour cycle checkbox to determine if a user has overridden the default.

[2022-07-15 18:38] jcfranco commented on #991
@benelan I believe this is referring to the original issue.

@janett-baresel I've already communicated the impact/priority on this.

[2022-07-15 19:13] geospatialem commented on #1258
Verified with the [codesandbox sample](https://codesandbox.io/s/nifty-ardinghelli-28ry7?file=/src/App.js) with `next.533` ✅

![verified-stepper-dom-manipulation](https://user-images.githubusercontent.com/5023024/179295009-5d7593c0-ed48-41fa-a245-541c072dc219.png)

[2022-07-15 19:13] #1258 closed

[2022-07-15 20:30] geospatialem commented on #4912
Verified on `beta.68` 👍🏻

`accordion`:
![verify-accordion-high-contrast](https://user-images.githubusercontent.com/5023024/179305850-e8ff7833-af89-470f-a528-b7aa6938a419.PNG)

`combobox`:
![verify-combobox-high-contrast](https://user-images.githubusercontent.com/5023024/179305851-192102fe-7a2e-42fd-b700-245c61138f58.PNG)

`dropdown`:
![verify-dropdown-high-contrast](https://user-images.githubuserc

[2022-07-15 20:30] #4912 closed

[2022-07-15 21:15] geospatialem commented on #3079
Verified the default numbering system for Arabic is Latin across browsers, and when using the `numberingSystem` prop can set to "arab" on `beta.86`. 👍🏻

Follow-up for the `numberingSystem` prop for `alert`, `slider`, `stepper`, `date-picker`, and `time-picker` will be relayed in #4893.

[2022-07-15 21:15] #3079 closed

[2022-07-15 21:24] driskull commented on #4944
@benelan @jcfranco I think dropdown should be navigated via arrow keys instead of using tab. Tab should probably skip out of the dropdown to the next focusable element in the DOM.

Example: https://www.w3.org/WAI/ARIA/apg/patterns/menubutton/
https://www.w3.org/WAI/ARIA/apg/example-index/menu-button/menu-button-actions-active-descendant.html

@geospatialem Is that correct?

Maybe we can use this i

[2022-07-15 21:34] geospatialem commented on #2476
Verified on `beta.86`

### Default
![verify-colorpicker-firefox-default](https://user-images.githubusercontent.com/5023024/179313535-ff80cd29-d039-48e4-b9ed-6c453cfe3def.png)

### `numberingSystem` prop set to arab
![verify-colorpicker-firefox-numberingsystem-prop](https://user-images.githubusercontent.com/5023024/179313762-b03de321-faca-47d1-a34f-213049c6f560.png)

[2022-07-15 21:34] #2476 closed

[2022-07-15 21:35] driskull commented on #4595
@kevindoshier created PR: https://github.com/Esri/calcite-components/pull/4938

[2022-07-15 21:40] benelan commented on #4944
That sound intuitive to me, but I'll defer to kitty/franco

[2022-07-15 22:01] geospatialem commented on #4944
@driskull Yes, that is the expected behavior, using arrow keys to access the items. 👍🏻

This only seems to apply when the `dropdown-group` isn't present, as Janett mentioned, so the initial behavior when using `dropdown-group` is performing as intended. Should we account for the missing group? If there is no specified `groupTitle` prop on the group, only the items are shown, like this [example](ht

[2022-07-15 22:04] driskull commented on #4902
@jcfranco I think this would fix it. Does this sound reasonable?

[code]

[2022-07-15 22:07] geospatialem commented on #3513
Verified on `next.533` ✔️

![verify-popover-stepper-horizontal](https://user-images.githubusercontent.com/5023024/179317328-731fdf66-1116-4c60-bacf-a8c8c1833a8f.png)

[2022-07-15 22:07] #3513 closed

[2022-07-15 22:09] driskull commented on #4944
We may want to document that all dropdown items are contained within a `calcite-dropdown-group` and that its mandatory? The group [sets the menu role](https://github.com/Esri/calcite-components/blob/master/src/components/dropdown-group/dropdown-group.tsx#L86). cc @macandcheese @benelan @jcfranco

Should we throw an error or something if items are not within a group?

[2022-07-15 22:15] benelan commented on #4944
I'd say so, since in other components groups are optional so people may assume the same for dropdown.

[2022-07-15 22:16] geospatialem commented on #4944
Good idea. Will update the docs to include this. 👍🏻

[2022-07-15 22:43] annierm18 commented on #4756
Thank you for the info @eriklharper and @benelan! I will discuss this with Babak and will follow up soon.

[2022-07-15 22:48] driskull commented on #4944
It might be best to actually refactor the roles so that the menu role is on the dropdown instead of the dropdown-group. The dropdown-group should have a "group" role. Then we can just make keyboard navigation work without a `group`. Thoughts?

[2022-07-15 23:38] macandcheese commented on #4944
Multiple groups with mixed selection modes can be contained within a single dropdown, if they are all the same role moving it to the parent is fine, but we should make sure they don’t each need a unique role.

[2022-07-18 15:31] macandcheese commented on #4944
If we make groupTitle required we’d need a way to prevent its display (optionally) - there are times it may not make sense to display the groupTitle (the dividing line still appears) but have it read.

For the mixed groups, I meant that we should ensure the roles do not need to be different internally, nothing to do with documentation for users.

Basically, do dropdown group of selection mode sing

[2022-07-18 15:45] geospatialem commented on #4004
A second [Community question](https://community.esri.com/t5/calcite-design-system-questions/remove-digit-separator-from-slider/m-p/1192723#M179) arose on this topic as well, also specific to using Slider with years.

[2022-07-18 18:25] nwhittaker opened #4954 "Regression with stepper `cursor` style"
### Actual Behavior

Hovering stepper content shows the `pointer` style cursor.

### Expected Behavior

Hovering stepper content shows the `default` style cursor.

### Reproduction Sample

https://codepen.io/nwhittaker-esri/pen/abYJNpp

### Reproduction Steps

1. Visit the sample
2. Mouse over the active stepper item's content

### Reproduction Version

next.533

### Relevant Info

Likely introduc

[2022-07-18 19:09] annierm18 commented on #4756
Update on this - the i18n team would like for this to be implemented if it's possible.

[2022-07-18 19:16] eriklharper commented on #4756
What we can support is an `hour-cycle` property, but we won't be able to set the hour cycle based on the user's OS setting.  I can look into doing this in browser-specific time format settings, but after the research I did I discovered the browsers don't have a hook into the OS-level system preferences like I assumed they would.  Perhaps in the future this is something they will implement.

Would

[2022-07-18 19:23] annierm18 commented on #2519
@jcfranco This issue is still valid https://jsbin.com/sudacej/edit?html,output.

[2022-07-18 19:40] nwhittaker opened #4955 "Regression with stepper item `disabled` styling"
### Actual Behavior

The title of the disabled stepper item is no longer at half opacity:

<img alt="Screen Shot 2022-07-18 at 3 30 56 PM" src="https://user-images.githubusercontent.com/421496/179602611-f301f4fc-98b1-4d6c-84b3-2db2a7862223.png">

### Expected Behavior

The title of the disabled stepper item is at half opacity:

<img alt="Screen Shot 2022-07-18 at 3 31 43 PM" src="https://user-imag

[2022-07-18 21:02] benelan commented on #4756
I'm pretty sure it's possible using `navigator.language` like I mentioned above. What about something like [this](https://stackoverflow.com/a/64480119)?

[code]

[2022-07-18 21:11] benelan commented on #4756
Looking at the guys code you would probably have to check for "PM" too:
[code]

[2022-07-18 21:12] #2138 closed

[2022-07-18 21:40] geospatialem commented on #4571
Verified in beta.86

![verified-buddhist-calendar-with-thai-lang](https://user-images.githubusercontent.com/5023024/179622135-8ab01912-d3cd-401f-a098-94c4c4937140.png)

[2022-07-18 21:40] #4571 closed

[2022-07-18 21:50] nwhittaker opened #4956 "Regression with stepper-item bottom margin"
### Actual Behavior

In a horizontal layout, the last element of the active stepper-item's content is given a bottom margin.

### Expected Behavior

In a horizontal layout, no margin is applied to the last element.

### Reproduction Sample

https://codepen.io/nwhittaker-esri/pen/JjLWRmX

### Reproduction Steps

1. Visit the sample
2. Inspect the active stepper item's content and notice it has one

[2022-07-18 22:16] annierm18 opened #4957 "Input-time-picker: left-hand field initially displays number instead of am/pm when am/pm precedes time for locales with 12 hr time period"
### Actual Behavior

After completing step 4 in the repro steps, the user will see a number.
![Screenshot (94)](https://user-images.githubusercontent.com/25759835/179626677-a1416fe4-67a2-4610-b2af-c9d933756fc2.png)

However, after step 5, the left field changes to am/pm (translated) and the number shifts to the right.
![Screenshot (95)](https://user-images.githubusercontent.com/25759835/179626684-

[2022-07-18 22:30] eriklharper commented on #4756
Correct, I wouldn't expect this to work anyway because `Intl.DateTimeFormat` is just a formatting api.  It knows nothing about user preferences.

[2022-07-18 22:35] geospatialem commented on #4662
Verified on beta.86
![verify-clear-select-radio](https://user-images.githubusercontent.com/5023024/179628598-eb98f2e6-8426-4fd8-8ecd-b9a253e8f9f6.gif)

[2022-07-18 22:35] #4662 closed, assigned to geospatialem, benelan

[2022-07-18 22:40] eriklharper commented on #4756
That code snippet won't work consistently enough to rely on it.  Didn't work for me when I changed my OS time preference to 24 hour with an en-US locale.

[2022-07-18 22:50] gpbmike opened #4959 "Tooltip will not display if reference element is a disabled button"
### Actual Behavior

The tooltip `<calcite-tooltip>` will never display if the reference element is a disabled button `<calcite-button disabled>`.

### Expected Behavior

I would expect the tooltip to display. My use case is a tooltip to explain why the button is disabled (in a toolbar of buttons).

### Reproduction Sample

https://codepen.io/gpbmike/pen/MWVpbEK

### Reproduction Steps

[code]

Ho

[2022-07-18 23:34] jcfranco opened #4961 "Add built-in translations to components"
### Overview

Currently, our components have placed the responsibility of text translations on the user. Unfortunately, this pattern has lead to some unnecessary boilerplate from teams/projects that have to support more than one locale and do not provide customized strings (e.g., each project needs to set up translation for the same strings and update each component).
The goal for this epic is to

[2022-07-18 23:36] eriklharper commented on #4756
The kicker there is "_default_ system language".  The trick is getting it to recognize the non-default hour setting, which it doesn't appear to support.

[2022-07-19 13:50] geospatialem commented on #981
Closing this issue in favor of #3757. Content has been placed in the epic.

[2022-07-19 13:50] #981 closed

[2022-07-19 15:54] paulcpederson commented on #3121
We also have a use case for this. Seems pretty straight forward, I could try to add this?

[2022-07-19 16:33] gpbmike commented on #4959
Okay fair enough, thanks.

[2022-07-19 16:33] #4959 closed

[2022-07-19 18:36] paulcpederson opened #4967 "Accordion: Initially expanded accordion items don't toggle"
### Actual Behavior

If you set an accordion item to be expanded on load, the user will never be able to close it.

### Expected Behavior

Even if the accordion item is expanded on load, the user should be able to close/open later.

### Reproduction Sample

https://codepen.io/paulcp/pen/NWYpEwr?editors=1000

### Reproduction Steps

1. Click the last accordion item
2. Notice it doesn't open

### Re

[2022-07-19 19:50] macandcheese commented on #4768
It seems the styles for nested items also differ between List and Pick List - it would be great to do a design pass to ensure they are consistent, and see if we need a border at all (or an option to enable / disable).

[2022-07-19 19:54] driskull opened #4968 "Add a common test util for all OpenCloseComponents"
### Description

Add a common test util for all OpenCloseComponents.

### Acceptance Criteria

A common utility to handle https://github.com/Esri/calcite-components/pull/4962#pullrequestreview-1043972984

### Relevant Info

https://github.com/Esri/calcite-components/pull/4962#pullrequestreview-1043972984

### Which Component

All openCloseComponents

### Example Use Case

_No response_

[2022-07-19 20:26] jcfranco commented on #4955
@nwhittaker Thanks for catching this, #4954 and #4956 and for the excellent bug reports! PRs are up and should land this week.

[2022-07-19 21:18] kevindoshier opened #4969 "calcite-panel: setting `closed` to false doesnt remove `dismissed`"
### Actual Behavior

When setting the `closed` attribute on calcite-panel to false, the deprecated `dismissed` attribute is not also removed

### Expected Behavior

`dismissed` should be removed when setting `closed` to false

### Reproduction Sample

https://codepen.io/kevindoshier/pen/abYJXZZ

### Reproduction Steps

1. Open the sample above
2. Click the "X" and wait for panel to toggle
3. Obser

[2022-07-19 21:18] driskull commented on #4969
cc @anveshmekala

[2022-07-19 21:40] mjuniper opened #4970 "Setting tabindex="-1" on calcite-button does not work"
### Actual Behavior

When I set tabindex="-1" on a calcite-button I would expect to not be able to give it focus by tabbing to that element.

### Expected Behavior

calcite-buttons with tab-index="-1" gets focus when tabbing.

### Reproduction Sample

https://codepen.io/mjuniper/pen/MWVpLdj?editors=1000

### Reproduction Steps

1. visit https://codepen.io/mjuniper/pen/MWVpLdj?editors=1000
2. get f

[2022-07-19 21:43] seanthayer opened #4971 "`calcite-tabs` ignores `layout="center"` attribute"
### Actual Behavior

When `calcite-tabs` is passed a `layout="center"` attribute, the `calcite-tab-nav` component does not center.

### Expected Behavior

The `calcite-tab-nav` component would center its content along the element, as per documentation.

### Reproduction Sample

https://codepen.io/seanthayer/pen/VwXpgNd

### Reproduction Steps

1. Create `calcite-tabs` with `layout="center"` attrib

[2022-07-19 23:42] benelan commented on #3121
Sure, @paulcpederson, we always appreciate your help!

[2022-07-20 00:10] anveshmekala commented on #4967
Agreed. Ideally, they should be in sync with each other given they have a default value and it's hard to determine whether the value of the prop is set by the user or the default which is required to determine which one is set by the user.

[2022-07-20 16:12] driskull commented on #4967
I think part of the problem is that there are currently 2 sources of truth for the value. I think one of them (preferably the newer prop) needs to be the source of truth and the other one should just act like an alias for setting it.

[2022-07-20 16:13] geospatialem opened #4976 "Add `groupSeparator` prop to Slider"
### Actual Behavior

The Slider component displays numbers that are comma separated, but not all situations require a comma, such as years (`1970`).

We've received a few Community posts asking for functionality to support years on:
- [May 14](https://community.esri.com/t5/calcite-design-system-questions/format-labels-values-on-slider/m-p/1173994#M137) and
- [July 17](https://community.esri.com/t5

[2022-07-20 17:04] driskull commented on #4970
@jcfranco I think this is an issue with the `updateHostInteraction` utility function. Its removing tabindex set by the user.

[2022-07-20 17:59] benelan commented on #4865
verified on master

[2022-07-20 18:00] benelan commented on #4864
verified on master

[2022-07-20 18:00] #4864 closed

[2022-07-20 18:55] geospatialem commented on #2115
Verified in beta.86 with the `filter-disabled` attribute and in the [docs](https://developers.arcgis.com/calcite-design-system/components/combobox-item/#component-api-properties-filterDisabled).

[2022-07-20 18:55] #2115 closed

[2022-07-20 20:45] mjuniper opened #4980 "calcite-dropdown in calcite-card will not extend outside card"
### Actual Behavior

If you use a calcite-dropdown in a calcite-card, the dropdown content is clipped by the card.

### Expected Behavior

calcite-dropdown should work when in a calcite-card.

### Reproduction Sample

https://codepen.io/mjuniper/pen/gOeWRJp?editors=1000

### Reproduction Steps

1. visit https://codepen.io/mjuniper/pen/gOeWRJp?editors=1000
2. click the dropdown trigger
3. observe t

[2022-07-20 21:42] eriklharper commented on #3209
What is the difference between `non-interactive` and `disabled`?

[2022-07-20 22:24] jcfranco commented on #4980
As a workaround, the dropdown should be able to escape the card by using `overlay-positioning: fixed`. https://codepen.io/jcfranco/pen/eYMWEoo?editors=1000

[2022-07-20 22:29] jcfranco commented on #4355
@benelan Can we prioritize this doc? I think it's necessary since popper/floating-ui-owner components can be used in different contexts. cc @driskull

[2022-07-21 14:36] tannerjt commented on #4969
I encountered this same issue.  As a temporary fix, I'm setting both `closed` and `dismissed` props on `calcite-panel`.  It looks like the [draft PR](https://github.com/Esri/calcite-components/pull/4977) will resolve the issue once merged.

[2022-07-21 14:40] mjuniper commented on #4980
Oh, great point, thank you!

[2022-07-21 14:43] mjuniper commented on #4980
I think that since the [proposed fix](https://github.com/Esri/calcite-components/pull/4981) has [problems](https://github.com/Esri/calcite-components/pull/4981#discussion_r926073889), the workaround is a more than sufficient solution.

[2022-07-21 16:10] #4980 closed

[2022-07-21 18:48] anveshmekala opened #4996 "modal,dropdown, combobox : deprecated `active` prop is not acting as alias with `open`"
### Actual Behavior

Whenever the user sets either of `active` or `open` prop, the other one should be in sync and deprecated prop should act as an alias. The same applies when the user removes either of the props.

E.g:
`<calcite-combobox open active> </calcite-combobox>`

When the user removes the `open` prop, then the `active` prop still stays.

### Expected Behavior

- If the user sets `active

[2022-07-21 20:54] driskull commented on #2426
Maybe we could bump up the design priority on this one? We have it in our current milestone but we can't do anything until we get the design decisions made. @jcfranco @yelenakreyndel

[2022-07-21 23:01] geospatialem commented on #3209
Blocked due to re-work on the `list` component.

Will revisit, and determine feasibility, or if the `non-interactive` prop will proceed with the updated component structure.

[2022-07-22 16:42] driskull commented on #2380
Ping. cc @jcfranco

[2022-07-22 16:58] macandcheese commented on #2380
This would be my preference - provide a `component-max-width` css var, and expand to the longest string in the slotted actions by default.

[2022-07-22 17:11] jcfranco commented on #4970
@driskull We could look into having the util check for any user-set `tabindex` before taking control, but there could be cases where we still need to override it at runtime (e.g., to prevent tabbing into children).

@mjuniper May I ask what your use case is? For context, all interactive components control the component/host element's `tabindex` to support the `disabled` state.

[2022-07-22 17:29] driskull commented on #4970
Yeah thats the tricky part. It would need to store the user defined value and set it back when necessary.

[2022-07-22 17:30] driskull commented on #4970
I do think the use case is reasonable though. A user would expect their defined tabindex to be honored. I think it falls into the category of not messing with host attributes/classes.

[2022-07-22 17:33] geospatialem commented on #4434
On hold with `list` component rework process.

[2022-07-22 17:42] macandcheese commented on #3074
From #4738 We could look at the behavior of MUI as an example - they by default have a clear affordance that is opt-out with disableClear - this could be combined with fixing the regression to solve all the requests in - https://github.com/Esri/calcite-components/issues/3074

Basically always prevent ability to "double click clear" in single-select, but have the clear affordance, which in your use

[2022-07-22 17:57] geospatialem commented on #4768
cc @jcfranco potential linting rule implementation?

[2022-07-22 17:58] jcfranco commented on #4765
@nwhittaker Can you clarify whether you are using the attribute or the property? Styling should work via the attribute: https://codepen.io/jcfranco/pen/NWYgvdd?editors=1111

Also, could you provide more info on your use case?

[2022-07-22 18:00] noahmulfinger commented on #4611
Just wanted to see if there could be any more movement/discussion on this issue. The focus/blur events are pretty important for form validation and matching native input behavior.

cc @macandcheese

[2022-07-22 18:01] macandcheese commented on #4771
Recording of this - it seems to inconsistently focus the action pad items - when it does, it correctly closes:

iOS / Safari :

https://user-images.githubusercontent.com/4733155/180497544-0bfea4d5-19d7-4900-b65b-54b33775c416.mp4

[2022-07-22 18:06] geospatialem commented on #4772
Also pertains to `dropdown` component. Resolution is to set the `max-height` to a percentage of the view height.

[2022-07-22 18:25] jcfranco commented on #4776
@annierm18 Could you advise on this one? Looks like the [abbreviated names](https://github.com/unicode-org/cldr-json/blob/main/cldr-json/cldr-dates-full/main/pt-PT/ca-generic.json#L106-L114) are longer than the [short version](https://github.com/unicode-org/cldr-json/blob/main/cldr-json/cldr-dates-full/main/pt-PT/ca-generic.json#L124-L132) for `pt-PT`.

[2022-07-22 18:54] geospatialem commented on #4783
Addressing #4764 first to determine if the fix will apply to this 🐛 as well.

[2022-07-22 18:58] driskull commented on #3074
`clearDisabled` would be preferred to `disableClear` so the attribute is `clear-disabled`

[2022-07-22 19:05] driskull commented on #2380
Ok. I'll proceed with that. Thanks

[2022-07-22 19:40] benelan commented on #3740
Closing this issue - when we met with @gmiele and @yannikmesserli we suggested working with MV to align their UX with the intended drill in/out of `calcite-flow`.

[2022-07-22 19:40] #3740 closed

[2022-07-22 19:44] yelenakreyndel commented on #2426
@driskull thank you for addressing this. We now have officially a dedicated designer who handles component enhancements. That's @ashetland. Matt, based on your comment, it sounds like this should be a 1.0 enhancement? @jcfranco

[2022-07-22 19:46] yelenakreyndel commented on #2426
@driskull These are the prioritized enhancements Aaron is working on this year: https://confluencewikidev.esri.com/display/Calcite/Enhancement+Requests
Should this issue be added too? @jcfranco

[2022-07-22 19:58] driskull commented on #2426
I'll defer to @jcfranco for the priority

[2022-07-22 20:23] nwhittaker commented on #4765
@jcfranco, I think you're right, this should be working as expected. I think my confusion was compounded by a couple things:
1. A workaround in app code that cleared the `autofocus` attribute. This was working around a now-fixed Safari bug where it ignored the `FocusOptions.preventScroll` option.
2. Autofocusing not working correctly in Codepen (at least for me) due to a security restriction: `Blo

[2022-07-22 20:23] #4765 closed

[2022-07-22 20:59] driskull commented on #2137
@macandcheese anything I need to do to move this along?

[2022-07-22 21:36] ashetland commented on #2426
Thanks @yelenakreyndel for tagging me here. I'm going to add this to our Figma doc so it's documented there and ready to go when @jcfranco and the team set a priority.

[2022-07-22 21:50] yelenakreyndel commented on #2137
@driskull @macandcheese Just looked at this issue for the first time. Has it been addressed? If not, do Calcite designers need to define a solution? @jcfranco does this need to be prioritized for 1.0? Adding @ashetland for visibility.

[2022-07-22 21:53] geospatialem opened #5003 "[Action] Evaluate need to provide an alternative style for `active` state"
### Description

One of three issues stemmed from #4813.

Determine if there is a need for differing styles to further emphasize an `active` state. Currently a light gray state is provided in light mode, and dark gray for dark mode. Could additional context be provided to users?

![example-with-action-1](https://user-images.githubusercontent.com/5023024/176245329-adb5d36b-ef06-4f02-8d17-5b2dd6ca7d

[2022-07-22 21:55] macandcheese commented on #5003
Note: explore if a "subtle" and "loud" (... with better names) could work, or if a single state such as the bordered example above is best. Note that users can always customize both the indicator and the action active state through css vars, so that may be a justification for a single one)...

[2022-07-22 21:58] yelenakreyndel commented on #1574
I'm going to assign this to @macandcheese to work on next.

[2022-07-22 22:03] geospatialem opened #5005 "Action: When using "indicator" provide a string to allow users to override default string to convey meaning"
### Description

One of three issues stemmed from #4813.

Allow users to provide a string to support the `action` component when using `indicator`, where content changes depending on the use case.

Implement an `indicator-label` prop that by default provides descriptive context. The current value in translations is `indicator present`, which can be a fall back. Could provide users with ability to

[2022-07-22 22:21] driskull commented on #2137
I think I just need testing and approval from @macandcheese.

[2022-07-23 09:40] jcfranco commented on #4762
I believe this is working as expected. For lazy-loaded components (`dist`), they need to hydrate before their props are properly initialized. Basically, they start as plain HTMLElements and get upgraded as soon as their implementation is loaded and defined in the browser (see  [example](https://codepen.io/jcfranco/pen/jOzwKrp?editors=1011)).

[2022-07-23 10:06] jcfranco commented on #4762
Wanted to share one more observation, it appears that the loaded component 'shell' has setters wired up based on the type. This would explain why the appropriate value type gets assigned when setting an 'empty attribute' (see [example](https://codepen.io/jcfranco/pen/xxWrzLw?editors=1011)).

[2022-07-25 17:49] jcfranco commented on #4611
Thanks for the ping. According to our roadmap, we'll be looking at consistent focus/blur behavior across components in the upcoming sprints (starting in August). We have [an issue](https://github.com/Esri/calcite-components/issues/3626) to look into `delegatesFocus`, but none for `focus`/`blur` in particular. We could repurpose this one for that subtask. cc @benelan

[2022-07-25 19:05] jcfranco commented on #2426
Can we clarify what this issue entails now? The entire thread has multiple suggestions. This is what I'm seeing:

The visible label is no longer in scope.

- [ ] Setting `title` on the checkbox to get the native tooltip. Do we need this if the aria-label is set accordingly?

- [ ] Avoiding click confusion from hover effects 😵‍💫 This would be good to tackle before 1.0.0.

Let me know if I missed an

[2022-07-25 21:20] driskull commented on #4911
@janett-baresel That onclick handler is only going to fire onclick. You would need to set an `onkeydown` handler as well.

[2022-07-25 21:21] driskull commented on #4911
@janett-baresel if you want to know when something is clicked or enter key, you should listen to `calciteDropdownSelect` event.

[2022-07-25 21:23] driskull commented on #4911
@jcfranco @benelan this issue may not be valid.

One part of it we could improve is that if the user supplies their own `onclick` it overrides the onclick we set on the host. We could move that `onclick` to an internal container. Should we do this?

[2022-07-25 21:47] jcfranco commented on #3821
I updated the issue to include `calcite-input-message`. I think the other components brought up earlier can stay as is since, `active`/`open` is linked to their behavior . Loader and input message are more like atoms that can be displayed/hidden by an owning component.

[2022-07-25 23:20] jcfranco commented on #4944
I noticed a difference in default selection behavior when you have a group (`selection-mode: single`) vs without (`selection-mode: none` or behaves like it): https://codepen.io/jcfranco/pen/PoRKdgz?editors=1000

Seems confusing to have them behave differently.

[2022-07-25 23:45] driskull commented on #4944
Looks like a separate issue. @jcfranco can you create an issue for that?

Looks like the dropdown item expects a `parentDropdownGroupEl`

[2022-07-26 02:14] jcfranco opened #5020 "Default selection behavior differs between a dropdown + grouped items vs dropdown + items"
### Actual Behavior

Default selection behavior differs between a dropdown + grouped items  (selection-mode: single) vs dropdown + items (selection-mode: none or behaves like it): https://codepen.io/jcfranco/pen/PoRKdgz?editors=1000

Seems confusing to have them behave differently.

cc @driskull

### Expected Behavior

Both dropdown setups should share the same selection mode behavior (single).

#

[2022-07-26 03:45] jcfranco commented on #4911
That sounds complex. 🤯

Taking a step back, looks like that `onclick` is bubbling from the internal anchor and is available via the global HTML properties. I agree that `calciteDropdownSelect` should be used instead. @janett-baresel do you have a selection in your use case? If so, you'd have to wait for https://github.com/Esri/calcite-components/issues/1967 to land to acquire the selected element

[2022-07-26 03:50] jcfranco commented on #3099
I think I've found a way to move forward with this w/o having to wait for improvements to floating-ui. Will have a test PR up soon.

[2022-07-26 12:38] webmapLee commented on #5003
[code]
is it can  help？

[2022-07-26 15:44] nwhittaker opened #5021 "Emit `calciteStepperItemChange` when navigating by stepper methods"
### Description

When a user clicks a button that invokes a [stepper method][1] and navigates a stepper, the stepper should emit a `calciteStepperItemChange` events.

[1]: https://developers.arcgis.com/calcite-design-system/components/stepper/#component-api-methods

### Acceptance Criteria

A stepper emits a `calciteStepperItemChange` whenever the step changes either by clicking a stepper-item hea

[2022-07-26 15:47] gpbmike opened #5022 "calcite-input: browser-saved logins work but do not display"
### Actual Behavior

If you use calcite-input in a login form and the user saves login information to the browser, on return visits, the inputs appear to be empty. However, the "hidden-form-input" will have the values.

https://user-images.githubusercontent.com/8754/181050115-3c7c77d5-b266-41ca-83d8-6ddd888dd0e7.mov

### Expected Behavior

Changes to the value of "hidden-form-input" should propaga

[2022-07-26 15:53] ashetland commented on #5020
Adding @KatelynSeitz to this. Our Figma component is still in review, but I believe it has the expected behavior.

[2022-07-26 15:57] macandcheese commented on #5020
This just recently started occurring when we removed the wrapping group component requirement, should be unrelated to anything in Figma.

Why did we remove the requirement for the group? Is it now possible to mix grouped and ungrouped within a single dropdown... If there isn't a group - how does a user choose a selection-mode for the ungrouped items?

[2022-07-26 15:58] driskull commented on #5020
@jcfranco should we still require the group? We can revert that change.

[2022-07-26 16:27] nwhittaker opened #5023 "Unify the `calciteStepperItemChange` and `goToStep` interfaces"
### Description

The number emitted by the `calciteStepperItemChange` event is asymmetrical with the number expected by the stepper's `goToStep()` method.

In the former case, the step's 0-based position is provided, but in the latter case, the step's 1-based step number is expected. This provides for some confusing API ergonomics on the consumer side.

### Acceptance Criteria

The `calciteStepper

[2022-07-26 17:27] annierm18 commented on #4776
@jcfranco For this, it would be okay to use the short version instead of the abbreviated version. Once you have a mockup of the component ready with the short version, could you share a screen shot of it in this issue?

[2022-07-26 17:33] driskull commented on #4768
https://codepen.io/driskull/pen/XWEedNo?editors=1000

[2022-07-26 17:39] gpbmike opened #5026 "calcite-input: input loses focus on every keypress when login info saved (safari)"
### Actual Behavior

Using Safari, If you use calcite-input in login form and choose to save email/password, when you return the inputs will lose focus on every keypress.

https://user-images.githubusercontent.com/8754/181073838-52e50e9a-0b9f-4a98-bae3-8115ba5372ec.mov

### Expected Behavior

User should be able to freely type email and password without having to re-focus on the field.

### Reprod

[2022-07-26 17:48] driskull commented on #5020
@benelan can we use this issue to update the doc to make sure that a group is required? We should make it pretty clear.

I think hiding the ungrouped items will help with that as well.

[2022-07-26 18:16] sonofflynn89 opened #5027 "calcite-input-date-picker's range mode doesn't provide the correct time for the end date"
### Actual Behavior

Using the `range` mode on the input picker, select a valid range and inspect the `calciteDatePickerRangeChange` event.

Notice that `detail.start` date has a timestamp of 00:00 (Local Time), indicating the start of the day.
Notice that the `detail.end` date has a timestamp of 00:00 (Local Time), indicating the **_start_** (not the end) of the day

### Expected Behavior

Using

[2022-07-26 18:22] macandcheese commented on #3682
This was resolved by https://github.com/Esri/calcite-components/pull/4714

Example: https://codepen.io/mac_and_cheese/pen/qBoPNba?editors=1000

[2022-07-26 18:27] yelenakreyndel commented on #3312
@ashetland

[2022-07-26 18:32] yelenakreyndel commented on #2520
CC @ashetland

[2022-07-26 18:35] jcfranco commented on #4672
@macandcheese @paulcpederson Would we ever need to match `,` from combobox items? This is the only concern I have if we use it to commit custom values.

[2022-07-26 18:46] paulcpederson commented on #4672
Yeah that's a good question. Maybe this is a configurable prop?

[2022-07-26 19:05] jcfranco commented on #4672
Here are some options I see:

1. always use `,` to commit (consistent, but we potentially lose matching commas in items)
2. add prop to include `,` to commit values (could lead to inconsistent behavior/expectations)
3. add prop to allow extra committing keys (could lead to inconsistent behavior/ expectations more so than ☝️)
4. do nothing and only use `Enter` (consistent, but may require 'retraini

[2022-07-26 19:16] BlakeStearman commented on #2709
The home app team is also interested in this enhancement. We're currently using `input-time-picker` in our UI for scheduling tasks where a start or end time is needed when rebuilding hosted scene layers on a schedule, and had also run into the behaviors that https://github.com/Esri/calcite-components/issues/2331 and https://github.com/Esri/calcite-components/issues/2329 cover. Notebook task schedu

[2022-07-26 19:42] jcfranco commented on #4776
![Screen Shot 2022-07-26 at 12 41 30 PM](https://user-images.githubusercontent.com/197440/181097981-248532bf-bdf7-4a56-86be-e8d17b1d66ec.png)

[2022-07-26 20:08] paulcpederson commented on #4672
I wonder if there is another way like adding an event on keypress and letting devs wire this up themselves (with a method for tag entry). Similar in concept to https://github.com/Esri/calcite-components/issues/2527 where it's very open ended

[2022-07-26 23:31] eriklharper commented on #2709
Great to hear, I am currently working on this component!

[2022-07-27 19:44] jcfranco commented on #4672
I think this is different. I see the value in allowing devs to process custom values, but I don't understand why we need to make the value commit experience customizable. I would expect our combobox's UX for entering custom chips to work the same regardless of the context.

[2022-07-27 20:44] driskull commented on #4911
I think we can close this issue and work on #1967.

- The codepen should have a `<calcite-dropdown-group>` surrounding the items.
- The `calciteDropdownSelect` should be used to know when something has been selected via keyboard or click.

[2022-07-27 20:54] anveshmekala opened #5036 "modal : no longer close modal on `esc` key when open on page load"
### Actual Behavior

When the `active` prop is set on the modal on page load ,  `esc` key isn't closing the modal.

### Expected Behavior

`esc` key press should close the modal

### Reproduction Sample

https://codepen.io/ANVESHMEKALA/pen/vYReQgJ

### Reproduction Steps

1. Open the code pen
2. Try to press `esc` key and observe modal wont close.

### Reproduction Version

 1.0.0-next.542

### Re

[2022-07-27 22:58] jcfranco commented on #5022
@gpbmike Thanks for reporting this. Just a quick update, the team is looking into this. We have a potential fix that could ship soon. Do you think the Site Scan team could help us do some additional browser testing w `@next` once it's installed?

[2022-07-27 23:00] driskull commented on #4911
@janett-baresel closing. Let me know if you have any further questions.

[2022-07-27 23:00] #4911 closed

[2022-07-27 23:17] gpbmike commented on #5022
Yep. We can help test.

[2022-07-28 08:18] jcfranco commented on #3668
Sounds good. Let’s repurpose this one for the date picker and I’ll create separate issues for anything that came up in https://github.com/Esri/calcite-components/pull/3636#issuecomment-989262308.

[2022-07-28 08:27] jcfranco commented on #3860
@anveshmekala can this be marked as installed? Also, can you update the title as @benelan suggested above? Thanks! 🙌

[2022-07-28 15:23] anveshmekala opened #5043 "popover,notice, chip,panel : setting `closable` prop to false does not remove `dismissible`."
### Actual Behavior

When the `dismissible` prop is set to `true ` and in the script, user sets the `closable` prop to `false`, the `dismissible` prop still stays as an attribute, and the `clear (x)`  icon is still visible in the component.

Note: This behavior is observed when the user uses one prop as an attribute (either deprecated or new one) and uses another to mutate the value.

### Expected

[2022-07-28 16:21] yelenakreyndel commented on #1574
@macandcheese Mitch needs this for Analysis.

[2022-07-28 16:40] macandcheese commented on #1574
@jcfranco lets sync on this, I know there are many existing data grid libraries in use across the platform.

To scope the design requirements it would be good to understand what we would use if we go that route - it may be a case of theming an existing library.

It would also likely provide us the complex capabilities like editable table cells, groups, multiple selection, freezing columns, reorder

[2022-07-28 17:16] driskull commented on #1574
Agreed. It might be too much work to create our own grid component. Hopefully, we can decide on one to use with the ability to style it to match our design system.

[2022-07-28 17:34] yelenakreyndel commented on #4157
@rmstinson @ashetland - Haven't we resolved this already?

[2022-07-28 18:15] ashetland commented on #4157
I believe this will be handled through theming with tokens. There's been a lot of back and forth on this in the meetings, but I think the key takeaway is that the standard Calcite buttons won't be changing in size, but once everything is defined in tokens we would be able to theme everything and have a UI kit for Brand that has everything adjusted. We should confirm this with Bruno. I am not able

[2022-07-28 18:20] yelenakreyndel commented on #4157
I'm also unable to tag Thanh so I'm tagging @cebender instead. My understanding is that the Brand team identified a large button and already added it to the Brand component library (we also already made a decision that Brand components will live in a separate Figma file). @cebender - is this accurate? Am I missing something?

[2022-07-28 19:22] ashetland commented on #2426
@jcfranco The only other suggestion if found was this:

This is definitely something to consider from an accessibility standpoint as well. Without a visible label it just looks like a box over the image.

I'd also like to add that maybe we should look at the need for a checkbox when the footer contains buttons. This seems like a very confusing state. The card is selectable and it has buttons that

[2022-07-28 19:33] ashetland commented on #2426
@jcfranco Sorry, looks like moving the checkbox has already been done. But the other issue might be worth discussing.

[2022-07-28 19:41] macandcheese commented on #2426
It is pretty common to have other actions in a card when selectable (for instance these from Online):
<img width="847" alt="Screen Shot 2022-07-28 at 12 31 15 PM" src="https://user-images.githubusercontent.com/4733155/181622986-6f8482e4-bc20-4ccc-859c-dc05ef412b1a.png">

Also shown, users often place links to a detail page, author page, etc., in the title / subtitle slots which have their own hitb

[2022-07-28 20:32] ashetland commented on #2426
Thanks Adam, that context helps a lot!

[2022-07-28 21:40] jcfranco commented on #3364
@benelan Triaged this simple doc fix.

[2022-07-28 21:45] jcfranco opened #5049 "scrim description should mention that it does not prevent keyboard interaction"
### Description

The visual appearance of scrim and mouse behavior may lead developers to think it also prevents interacting with the contents behind it.

### Which Component

`calcite-scrim`

### Resources

https://github.com/Esri/calcite-components/blob/master/src/components/scrim/readme.md
https://github.com/Esri/calcite-components/blob/master/src/components/scrim/scrim.tsx

[2022-07-28 22:10] benelan commented on #5020
I opened doc PRs for this. Unfortunately I am still able to repro on `next` using [Franco's sample](https://codepen.io/jcfranco/pen/PoRKdgz?editors=1000). Maybe the roles were causing the issue somehow? Reassigning back to dev.

[2022-07-28 22:11] benelan commented on #4944
@driskull Is this issue still ready for verification after the revert in #5025?

[2022-07-28 22:13] driskull commented on #5020
@benelan franco's second example is invalid. Whats the issue?

[2022-07-28 22:16] driskull commented on #4944
Yes.

The navigation issue is because of the lack of a group.

[2022-07-28 22:17] benelan commented on #5020
Woops sorry you're right, I didn't read the code closely enough. Closing as verified on `next`!

[2022-07-28 22:17] #5020 closed

[2022-07-28 22:21] benelan commented on #4944
Thanks. Closing this issue: every `dropdown-item` must have a parent `dropdown-group`. I put in a couple doc PRs to make that clear, including #5050

[2022-07-28 22:21] #4944 closed

[2022-07-28 22:49] benelan commented on #2554
verified on master

[2022-07-28 22:49] #2554 closed

[2022-07-28 23:35] jgrayson-apl commented on #3578
Not sure if this helps, but changing the _display_ style property of the _.popper-container_ to _'contents'_ fixed this issue in may app.

https://codepen.io/john-grayson/pen/MWVOvme

[2022-07-28 23:45] jcfranco commented on #3578
@jgrayson-apl Thanks for sharing that workaround! @benelan Maybe we could add a note about this to https://github.com/Esri/calcite-components/issues/4355.

Perfect timing though, as the fix for this [landed today](https://github.com/Esri/calcite-components/pull/5045): https://codepen.io/jcfranco/pen/VwXrzdE

[2022-07-29 00:06] jgrayson-apl commented on #3578
wow... you guys jumped on that quickly!  Sorry, after further testing I realized it only _seemed_ like it was working... unfortunately that display setting invalidates the 'fixed' positioning, which I didn't realize until I tried the fix on a combobox that was not the last item in my block.  ...apologies...

[2022-07-29 00:10] jcfranco commented on #3578
No worries. Thanks for following up! 🏆

[2022-07-29 00:31] benelan commented on #4629
@macandcheese can you help verify that this is the intended spacing when there is no `placeholder-icon`?
![image](https://user-images.githubusercontent.com/10986395/181658862-d3293118-5b36-4f42-ab4f-bdbef7fc2682.png)
https://codepen.io/benesri/pen/VwXrMwR

[2022-07-29 00:57] macandcheese commented on #4629
Two pieces of feedback on that: It seems the example shown should use the same spacing as input :
![Screen Shot 2022-07-28 at 5 54 38 PM](https://user-images.githubusercontent.com/4733155/181660854-c7ec6b1d-babd-44d3-8125-940d50140459.png)

It seems like there is extra padding on the left - and you can see there is a cursor change at the left side that coincides with that extra space.

I would als

[2022-07-29 00:59] benelan commented on #4629
Yeah I agree with that feedback. Assigning back to dev for some adjustments. Thanks Adam!

[2022-07-29 01:29] benelan commented on #4629
@anveshmekala - let me know if you don't have cycles to work on this, I can put it up for grabs in the current milestone. I also updated the codepen with the examples from Adam's feedback - https://codepen.io/benesri/pen/VwXrMwR

[2022-07-29 01:39] benelan commented on #4629
@macandcheese one more question - when a `combobox` has a `placeholder-icon` and the selected `combobox-item` has an `icon`, which icon should be displayed next to the placeholder text?

 It is currently the item's icon, which is how it behaves when the combobox does not have a `placeholder-icon`. However, should the `placeholder` and `placeholder-icon` props to be "in sync"?
![image](https://user

[2022-07-29 17:34] Elijbet opened #5056 "openCloseComponent: apply the interface to additional components to have consistent eventing for opening/closing"
### Description

Implement openCloseComponent.

### Acceptance Criteria

Component implements the interface to emit open, beforeOpen, close, beforeClose events.

### Relevant Info

_No response_

### Which Component

* block
* input time picker
* notice
* tooltip

### Example Use Case

_No response_

[2022-07-29 17:39] macandcheese commented on #1574
@yelenakreyndel this may be a research task to determine library, licensing, etc., before it moves to design, as the available UI to design / theme may differ.

[2022-07-29 19:07] benelan commented on #4731
verified on beta.86

[2022-07-29 19:07] #4731 closed

[2022-07-29 19:10] benelan commented on #4691
I don't have VoiceOver, but verified w/ NVDA in beta.86

[2022-07-29 19:10] #4691 closed

[2022-07-29 19:59] anveshmekala commented on #4629
I have some bandwidth to fix this.

[2022-07-29 22:58] driskull commented on #4866
I tried a few things with voiceover but no luck. I think this one might be related to the shadowRoot/slotting of web components. We might need to experiment or research a bit more.

[2022-07-30 03:40] jcfranco commented on #3099
Installed 2 PRs that should help fix the main issue as long as the combobox is positioned below (see https://codepen.io/jcfranco/pen/zYWPQey). Otherwise, there is an issue with z-index layering. I've submitted #5058 to fix this and other z-index issues.

[2022-07-30 04:09] jcfranco commented on #2806
I stumbled on this one after working on #5058 and I think the proposed solution won't work as expected because of our `floating-ui` usage. Creating a stacking context per component means that all z-layer ordering is contained and makes it trickier to fix cases where you need to escape (see https://codepen.io/jcfranco/pen/gOeXVLB?editors=1010). I now think that the way to go is to define and use z-

[2022-07-30 04:21] jcfranco commented on #2177
Closing this since we'll be [moving away from Screener](https://github.com/Esri/calcite-components/issues/4825) at a later point. This should also help us stick to a single, consistent way of doing screenshot tests.

[2022-07-30 04:21] #2177 closed

[2022-08-01 14:40] gavinr commented on #4773
It looks like this is fixed in 1.0.0-beta.86. Thanks!

[2022-08-01 14:40] #4773 closed

[2022-08-01 15:51] geospatialem commented on #4866
Will dig into some research with this one this week. Thanks for taking an initial look at this, @driskull!

[2022-08-01 17:23] geospatialem commented on #4762
Gotcha, thanks for the explanation and resources. 👍🏻

@jcfranco Is there anything doc-wise we could add in for users, in particular mentioning lazy loading and its benefits? Not sure on placement, but perhaps on the [FAQ](https://developers.arcgis.com/calcite-design-system/faq) page?

Maybe its overkill, but this tripped me up a bit, so wondering if it could impact others as well.

[2022-08-01 17:55] macandcheese commented on #4629
I agree with @benelan - persisting the icon when the entered characters (or placeholder text) is there may be confusing - using the placeholder icon (or no icon if there is no placeholder icon), would I think avoid that. cc @ashetland

[2022-08-01 18:25] benelan commented on #2806
linking to #4372

[2022-08-01 18:34] jcfranco commented on #4762
That is an excellent idea! This has come up a few times where users expect 1:1 behavior w/ native elements and even between our lazy-loaded & tree-shakeable components bundle. cc @benelan

[2022-08-01 19:55] geospatialem commented on #1786
Verified on beta.90
![verify-accordion-actions](https://user-images.githubusercontent.com/5023024/182233856-f2422b09-733b-48ea-8822-ed0e6f160cd5.gif)

[2022-08-01 19:55] #1786 closed

[2022-08-01 20:23] geospatialem commented on #1967
Verified on next.551 with [Codepen](https://codepen.io/geospatialem/pen/RwMQNjM).

![verify-selectnone-dropdown-items](https://user-images.githubusercontent.com/5023024/182239749-f421dc2a-aaf8-4306-8915-69f64808591f.gif)

[2022-08-01 20:23] #1967 closed

[2022-08-01 20:40] jcfranco commented on #3815
https://github.com/floating-ui/floating-ui/pull/1827 should help address some issues related to using the `fixed` positioning strategy. Tested locally on some of our reported issues and floating-UI placement seems to work as expected.

If additional testing looks good, I believe we can consider this fixed once ☝️, #4372 and #4355 land.

[2022-08-01 20:54] geospatialem commented on #2137
Verified on next.551
![verify-horizontal-action-group](https://user-images.githubusercontent.com/5023024/182244905-70e80838-4eec-4c6d-81b5-1d39c6d63039.gif)

[2022-08-01 20:54] #2137 closed

[2022-08-01 21:14] geospatialem commented on #2380
Verified on next.551.

If a smaller width is desired users can set the max width using the `--calcite-action-pad-expanded-max-width` var.

![verified-action-pad-width](https://user-images.githubusercontent.com/5023024/182247277-9fa78e14-3eac-4a10-85f1-e07c70d1ff50.png)

[2022-08-01 21:14] #2380 closed

[2022-08-01 21:21] geospatialem commented on #3364
Verified on master.

[2022-08-01 21:21] #3364 closed

[2022-08-01 23:04] benelan opened #5063 "Filter: allow users to choose to match or ignore specific item properties"
### Description

Right now `calcite-filter` matches every property of the item's object. It would be great if we could create a new property that specifies either properties to ignore or the properties to match. The property type `Array<string>` so it would need to be set in JavaScript. Something like

[code]
or
[code]

thoughts on this @jcfranco?

### Acceptance Criteria

A new property that eith

[2022-08-02 01:02] jcfranco commented on #3099
#5058 landed.

[2022-08-02 01:08] jcfranco commented on #4372
All components should now use the [contextual tailwind z-index utils](https://github.com/Esri/calcite-components/blob/master/tailwind.config.ts#L213-L221) when layering is needed. If developers need to tweak layering, they can reference our z-index layers and set z-indices in their apps accordingly.

[2022-08-02 01:47] jcfranco commented on #3724
This was recently fixed via https://github.com/Esri/calcite-components/issues/3099. You'll need to [set `overlay-positioning=fixed` on the input-date-picker though](https://codepen.io/jcfranco/pen/vYRdLxW?editors=1000).

Regarding the original use case, the same fix applies. The only outstanding issue is proper placement of nested Floating UI elements, which I hope [this](https://github.com/Esri/c

[2022-08-02 14:07] geospatialem commented on #4762
Closing this issue as its not an issue, and will follow up on supporting documentation regarding lazy loading. Thanks again for the background, @jcfranco!

[2022-08-02 14:07] #4762 closed

[2022-08-02 15:59] geospatialem commented on #4768
Verified on next.540 ✔️

[2022-08-02 15:59] #4768 closed

[2022-08-02 16:07] nwhittaker opened #5067 "Opening modal immediately after hydration yields inconsistent transitions"
### Actual Behavior

Once a `calcite-modal` element becomes hydrated, setting the `open` attribute causes the modal's backdrop to appear abruptly while the dialog area transitions in smoothly.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/421496/182421026-5834f1a7-d7b5-45a2-80b2-0b4019322143.gif)

### Expected Behavior

The modal's backdrop also transitions in smoothly.

![ezgi

[2022-08-02 16:20] geospatialem commented on #4771
Verified with iOS on Safari and Chrome via next.553

https://user-images.githubusercontent.com/5023024/182423633-50191a66-aca7-4f44-a810-f8d9f96e05d5.mp4

[2022-08-02 16:20] #4771 closed

[2022-08-02 17:07] macandcheese opened #5068 "[Tile Select Group / Tile Select] Move selection mode setting to parent"
### Description

Currently, a user needs to set radio/checkbox on all child Tile Select items to enable a specific "mode". This should match our other components with similar functionality, and have a single setting on the parent control the behavior of the child items.

### Acceptance Criteria

The radio / checkbox setting is moved to the parent. Maybe look at updating the name to single / multip

[2022-08-02 17:18] nwhittaker opened #5069 "Changes to `autofocus` property not reflected in `calcite-input` attributes"
### Actual Behavior

Given a `<calcite-input>` element, toggling its `autofocus` property does not add/remove its `autofocus` attribute.

### Expected Behavior

Given a `<calcite-input>` element, toggling its `autofocus` property does add/remove its `autofocus` attribute.

### Reproduction Sample

https://ember-twiddle.com/9f794f79e6c1d25b00a276a2ee8524b9

### Reproduction Steps

1. Visit the samp

[2022-08-02 17:57] geospatialem commented on #4863
This was solved with PR [4936](https://github.com/Esri/calcite-components/pull/4936/files#diff-1750b7bbce65a82bbddc6f7213b8f1cd41eec744c2d2ad386557f0d4d735e51b). 💯

Verification confirmed on next.553 via [Codepen sample](https://codepen.io/geospatialem/pen/KKoQoGB).

[2022-08-02 17:57] #4863 closed

[2022-08-02 18:58] driskull commented on #2489
I think theres a few issues here, mostly that the two sortable lists aren't playing well together and that is not easy or really possible to separate them at this time.

The demo should be updated so that both the `calcite-sortable-list` as well as the `calcite-value-list` both have unique `group` properties that will allow them to work separately.

That can be seen here: https://codepen.io/drisku

[2022-08-02 21:18] zaramatheson opened #5070 "Calcite-input can lose focus when next to slider in certain scenario"
### Actual Behavior

To reproduce:
Go to highlight the input value, drag the mouse outside of the input box and release the mouse select button and you see the slider get highlighted and input box loses focus

![HoldnRelease](https://user-images.githubusercontent.com/50747646/182474711-5ad5b7bc-00f0-40b9-a993-4ac95e73ffde.gif)

### Expected Behavior

The focus should remain on the input.

### Repr

[2022-08-02 21:36] jcfranco commented on #5070
I believe this is a wrapping-component issue and not specific to Calcite. I should know because I created it. 😂 In any case, I'll dig into it and will close this one my hunch is correct.

[2022-08-02 22:09] benelan opened #5071 "Flow Item: replace the use of Panel in Flow"
### Description

Create a new flow-item component that will internally use `calcite-panel`.
- This new component should include the `showBackButton` and `beforeBack` properties and we should deprecate them on `calcite-panel`.
- `calcite-flow` should be updated to work with the new `calcite-flow-item` only. End users will need to rename their `calcite-panel`s to `calcite-flow-item` where they are u

[2022-08-02 22:16] benelan opened #5072 "Flow: do not remove child items from the DOM when drilling"
### Description

Update `calcite-flow` to no longer remove a `calcite-flow-item` from the DOM when drilling. Instead, a `selected` property should be added to `calcite-flow-item` to determine which item is actively visible instead of assuming the last child item in a flow wins. The `calcite-flow` will be updated to look at the `selected` property of a `calcite-flow-item`.

### Acceptance Criteria

[2022-08-03 01:59] Elijbet opened #5074 "Add an opacity transition to all components with opening/closing behavior for consistency."
**monday.com sync:** #9453466519

### Description

Add an `opacity` transition to all components with opening/closing behavior for consistency.

### Acceptance Criteria

All components with an open/close UI transition with `opacity`.

### Relevant Info

The wiring up of the open/close utility/pattern in issues #5056 #4689 #4975 requires a transition to hook on to.

Be aware that there are cases wh

[2022-08-03 13:52] RSantosGIS commented on #1574
Adam T. suggested that the ArcGIS Knowledge Studio team +1 the requirement for a data-grid component.  Having a data grid is required for our project, and we have been asked to use Calcite wherever possible.  We are basically looking for something like the MUI data grid.

[2022-08-03 13:53] RSantosGIS commented on #2620
Just wanted to bump this requirement from the ArcGIS Knowledge Studio team again following our conversation with Adam T. yesterday.

[2022-08-03 15:15] RSantosGIS opened #5075 "Calcite-components-react ValueList onSelect event does not fire"
### Actual Behavior

In Calcite Component react, the onSelect event does not appear to fire when we select a ValueListItem in a ValueList.  We cannot use "onClick" because we also have a dropdown menu driven by a button on the valueListItem component.

This problem is blocking needed functionality in ArcGIS Knowledge Studio

### Expected Behavior

selecting a value list item fires the onSelectEven

[2022-08-03 15:30] RSantosGIS opened #5076 "(React) Calcite Action Groups always collapse, not just when space runs out"
### Actual Behavior

Members of Calcite Action Groups appear to just always collapse into the collapse menu regardless of the space in the parent container.  I am not sure what exactly causes the collapse behavior

### Expected Behavior

Calcite Action Groups should only automatically collapse if the space to contain all the Actions runs out.  As space runs out, more items should be added to the o

[2022-08-03 15:39] benmccann opened #5077 "Crashes on Node.js due to lack of `exports` map in `package.json`"
### Actual Behavior

Crashes when running in Node.js without a bundler

The simplest fix and best is to add an `exports` map in `package.json`. Alternatively, all packages referring to this one could be updated to do CommonJS-style imports (i.e. `import * as components from '@arcgis/calcite-components'`)

This has been reported as an issue in multiple places:
- https://github.com/sveltejs/kit/issu

[2022-08-03 15:39] anveshmekala commented on #4629
`<input/>` inside combobox is a native one which is why there is a difference in spacing with `calcite-input` even after the fix [5073 ](https://github.com/Esri/calcite-components/pull/5073).

We can replace `input` in combobox with `calcite-input` unless there is a known limitation that prefers the native one.  OR we can add the missing border to input in Combobox but there could be a chance of m

[2022-08-03 15:43] tcc-sejohnson commented on #5077
Just copying the repro from one of our issues to make it easier on the lib authors.

1. Clone the following repo: https://github.com/georgeboot/svelte-kit-named-export-issue
2. Run npm install
3. Run npm run dev
4. Visit http://localhost:5173/arcgis
5. See error

[2022-08-03 16:10] benmccann opened #5078 "Make reproduction bot smarter"
### Summary

I filed an https://github.com/Esri/calcite-components/issues/5077 and had the "incomplete issue report" label applied eventhough I provided a reproduction

### Desired Outcome

Github reproductions should be supported. codepen, codesandbox, and jsbin cannot be used to reproduce Node.js issues. stackblitz could also be added as a supporter reproduction platform

### Resources

_No resp

[2022-08-03 16:11] benmccann commented on #5077
None of those would work, because they only run the JS in the browser and this is a Node.js issue. I could provide a stackblitz that reproduces the issue, but don't really see the point since I've already provided a github repository

@Elijbet @jcfranco could we get the `incomplete issue report` label removed since the bot incorrectly applied it?

[2022-08-03 16:15] driskull commented on #4866
@geospatialem how do we provide that context?

[2022-08-03 16:41] macandcheese commented on #5076
I agree this is unexpected behavior. The `overflowActionsDisabled` isn't really a solution since it prevents appending items at all, even when they should collapse due to viewport size. I suppose as a workaround someone could conditionally set / remove this property themselves based on viewport, but that is a pain.

[2022-08-03 17:03] benelan commented on #5077
It's removed, sorry about that!

[2022-08-03 17:12] benelan commented on #4969
verified on next

[2022-08-03 17:12] #4969 closed

[2022-08-03 17:13] benelan commented on #4967
verified on next

[2022-08-03 17:13] #4967 closed

[2022-08-03 17:21] benelan commented on #4956
Verified on `next.554`, however the cursor is no longer `pointer` when hovering over the content, is that expected?

[2022-08-03 17:21] #4956 closed

[2022-08-03 17:23] benelan commented on #4954
verified on next

[2022-08-03 17:23] #4954 closed

[2022-08-03 17:24] benelan commented on #4955
verified on next

[2022-08-03 17:24] #4955 closed

[2022-08-03 17:24] mitc7862 opened #5079 "Add "Required" property and inline action slot calcite input labels"
### Description

We need a better way to indicate to users when fields are required in order to run an analysis tool.
We also need the ability to let users show parameter-specific help. Both of these needs could be met by enhancing the calcite label component to have the following:

1. A boolean property that allows developers to indicate if a form field is required. If the property is set to true

[2022-08-03 17:26] geospatialem commented on #4866
Not super confident in a good implementation. It seems like prior to closing, perhaps in the [`calciteInternalDropdownItemSelect`](https://github.com/Esri/calcite-components/blob/master/src/components/dropdown/dropdown.tsx#L358-L368), we'd need to ensure the selection is heard back prior to running lines 365-371.

Was able to get it to successfully work after delaying via a `setTimeout` of 0.05 se

[2022-08-03 17:27] benelan commented on #4898
verified on next

[2022-08-03 17:27] #4898 closed

[2022-08-03 17:31] driskull commented on #4866
hmmm Let me play around with it a bit.

It could be that it's getting hidden when not open when it shouldn't be.

[2022-08-03 17:48] benelan commented on #5078
Thanks for the feedback! To provide some background, [here is the bot](https://github.com/marketplace/actions/need-more-info) I created to check for samples. It works by checking for text specified in [a config](https://github.com/Esri/calcite-components/blob/master/.github/need-info.yml). I'll find a way to match GitHub URLs as samples without getting false positives when linking to other issues

[2022-08-03 18:22] geospatialem commented on #4595
Verified on `next` with https://codepen.io/kevindoshier/pen/wvyNLJV

[2022-08-03 18:22] macandcheese commented on #5079
@benelan @jcfranco - noted as high priority. Mitch has available cycles to help with design if needed.

From design standpoint - would need to figure out how to display this / position the slot amongst other unnamed content slotted in label - the inline / inline-space-between layouts would need to be considered.

It is achievable currently: https://codepen.io/mac_and_cheese/pen/LYddREp?editors=100

[2022-08-03 18:56] jcfranco commented on #5021
We only emit change events on user interaction, so any code calling the stepper methods needs to sync up accordingly. Reason being that the code calling the stepper methods knows that there is potentially a change in step, hence why we don't emit. It also helps avoid cases where we can't distinguish where a change event came from.

I think what's missing is a property to easily know the selected s

[2022-08-03 20:42] geospatialem commented on #5036
Verified on next

[2022-08-03 20:42] #5036 closed

[2022-08-03 20:56] geospatialem commented on #4688
This epic is looking fantastic! 😎

@anveshmekala - are the epic tasks completed and ready for verification?

[2022-08-03 21:08] jcfranco commented on #4957
Related issue: https://github.com/Esri/calcite-components/issues/4893

[2022-08-03 21:15] anveshmekala commented on #4688
Yup, these are complete and ready for verification, but the list can grow over time.

[2022-08-03 21:24] benelan opened #5082 "Action Menu: trigger's focus ring is overlapped"
### Actual Behavior

Action Menu's trigger Action needs a bit of tweaking for the focus style.

1. Using the `calcite-action-menu` component:
    https://codepen.io/benesri/pen/GRxxNPb
    ![image](https://user-images.githubusercontent.com/10986395/182709249-0f42278e-92f4-4842-bd99-3adcdf71d79b.png)
    The top of the trigger has a focus ~~ring~~ line, and the first menu action is focused.

2. Usi

[2022-08-03 21:32] benelan commented on #5076
Reproducible outside of react as well: https://codepen.io/benesri/pen/OJvvWJy

In the sample if you add this CSS it works:
[code]

[2022-08-03 22:13] geospatialem commented on #4776
Verified on next

[2022-08-03 22:13] #4776 closed

[2022-08-03 22:47] geospatialem commented on #4156
Verified on next

[2022-08-03 22:47] #4156 closed

[2022-08-03 22:51] geospatialem commented on #4766
Verified on beta.90

[2022-08-03 22:51] #4766 closed

[2022-08-03 22:52] geospatialem commented on #4603
Verified on beta.90

[2022-08-03 22:52] #4603 closed

[2022-08-04 20:46] benelan commented on #5043
@anveshmekala when I change the sample to `next` the close button is still there for all of the components. Am I doing something wrong?

[code]

[2022-08-04 20:49] benelan commented on #4902
verified on next

[2022-08-04 20:49] #4902 closed

[2022-08-04 20:51] benelan commented on #4883
verified on next

[2022-08-04 20:51] #4883 closed

[2022-08-04 20:53] benelan commented on #4851
verified on next

[2022-08-04 20:53] #4851 closed

[2022-08-04 20:59] benelan commented on #4425
fixed by #5012 - thanks @jcfranco  :trophy:

[2022-08-04 20:59] #4425 closed

[2022-08-04 21:10] benelan commented on #4772
verified on next

[2022-08-04 21:10] #4772 closed

[2022-08-04 21:32] benelan commented on #4826
verified on next

[2022-08-04 21:32] #4826 closed

[2022-08-04 21:48] macandcheese commented on #4702
This is released - https://codepen.io/mac_and_cheese/pen/oNqqRQM?editors=100

Do we need to keep this open until the change is logged for Figma now? cc @benelan @SkyeSeitz

[2022-08-04 21:51] SkyeSeitz commented on #4702
Change has been logged in Figma. I can start providing a Figma update when I get tagged in PRs if that is helpful.

[2022-08-04 22:05] benelan commented on #3099
verified on next

[2022-08-04 22:05] #3099 closed

[2022-08-04 22:10] benelan commented on #3431
verified on next

[2022-08-04 22:10] #3431 closed

[2022-08-04 22:12] benelan commented on #3578
Verified on next using Franco's sample

[2022-08-04 22:12] #3578 closed

[2022-08-04 22:30] benelan commented on #3955
verified an increased `line-height` on next

[2022-08-04 22:30] #3955 closed

[2022-08-04 22:33] benelan commented on #3967
verified on master

[2022-08-04 22:33] #3967 closed

[2022-08-04 22:36] benelan commented on #3860
verified in storybook's doc, e.g. [loader](https://esri.github.io/calcite-components/?path=/docs/components-loader--simple)

[2022-08-04 22:36] #3860 closed

[2022-08-04 22:39] benelan commented on #4290
@bsvensson @daniellaumer can I have some help verifying that this issue is resolved? I don't have a touch laptop. Thanks!

[2022-08-04 22:45] benelan commented on #3373
Woops the mention must have gotten buried in my emails, thanks for taking care of this Matt. [Verified on master](https://github.com/Esri/calcite-components/blob/master/src/components/pick-list-item/readme.md)

[2022-08-04 22:45] #3373 closed

[2022-08-04 22:47] bsvensson commented on #4290
I can help test @benelan - do you have a codepen or similar to test before/after?

[2022-08-04 22:52] benelan commented on #4290
Before:
https://codepen.io/benesri/pen/wvmmLJW

After:
https://codepen.io/benesri/pen/NWYYZpb

[2022-08-04 22:55] benelan commented on #3835
This has been installed for two weeks and I've been using/testing/verifying floating-ui related components with no issues. I'm marking this as verified, awesome work Matt!! :trophy:

[2022-08-04 22:55] #3835 closed

[2022-08-04 23:45] kevindoshier opened #5099 "calcite-panel: Set the default heading to be a `div` to accommodate more audiences"
### Summary

The mapViewer has been undergoing accessibility review, and one of the issues that came up was the headers within calcite-panels which we use all over the app.  The comment from those reviewers is

`[Issue]
There are dialogs present that have headings that do not match their visual level. The first heading starts with <h3> instead of <h2>.`

Could we consider setting the default for `

[2022-08-04 23:56] benelan commented on #4689
This is looking really good, nice work Eliza!

The only issue I found is that `calciteModalOpen` and `calciteModalBeforeOpen` do not emit on page load like the rest of the components. However they do emit correctly when you close and reopen the modal. Here is a codepen with all of the affected components open on page load:
https://codepen.io/benesri/pen/VwXXJBZ?editors=1111

I'm assigning this bac

[2022-08-04 23:58] Elijbet commented on #4689
Thanks Ben, I'll take care of that.

[2022-08-05 00:32] benelan commented on #4814
Bumping the RepoRepro™️ sample to `next` fixes the sub tree issue. However removing the parent `div` still causes a runtime error
![image](https://user-images.githubusercontent.com/10986395/182977129-c0de320a-f28f-4ff0-b8b0-762a56145d4d.png)

@jcfranco is this expected behavior, in which case I'll document it, or is more tweaking needed?

[2022-08-05 00:48] benelan commented on #5082
Nice! All of the focus ring clipping is resolved.

When opening the menus, both the trigger and first menu item have focus rings. Is that correct, or should only the first menu item have the focus ring? I updated the samples in the issue body to use `next`

[2022-08-05 00:59] benelan commented on #4996
I tested this on `next`, you still need to set both `active` and `open` to false in order to close the combobox:
https://codepen.io/benesri/pen/abYYewb?editors=1010

Assigning this back to dev for another look

[2022-08-05 01:05] benelan commented on #5043
Assigning this one back to dev for another look as well:
https://codepen.io/benesri/pen/bGvvXYM?editors=1010

[2022-08-05 06:24] driskull commented on #5082
Its by design that it has both rings since only one truly has focus and the other is visual by arrow key.

[2022-08-05 07:49] daniellaumer commented on #4290
I tested both links on my touch laptop and the bug still exists on both. Not sure if the bug was not fixed correctly or something goes wrong with loading the new version of calcite in the second app?

[2022-08-05 10:30] fendiaoxiaoshuazi opened #5101 "The year input box of the date picker with Buddhist calendar jumps to wired number when backspace is hit"
### Actual Behavior

When I hit backspace, the year value changes from 2565 to 830 then to 1003
![calcite year](https://user-images.githubusercontent.com/26078106/183058540-1cbaf010-2417-4146-82da-766a5c670166.gif)

### Expected Behavior

I want to switch the year to 2565, but I am not able to change that using the year input box. When I try delete and add any number, the input box jumps to a wire

[2022-08-05 13:27] daniellaumer opened #5102 "Dropdown placement/positioning wrong"
### Actual Behavior

When placing a dropdown on the bottom of a page, sometimes the items are places below the button and therefore not visible/accessible. This only happens for some window sizes and can be best observed when changing the window height:

![BugCalciteDropdown2](https://user-images.githubusercontent.com/93542103/183086331-c9d8c3e8-1da2-4537-9b21-0c112752a8b5.gif)

### Expected Behav

[2022-08-05 13:56] geospatialem commented on #3982
Screen reader support verified status as of 8/5 on `beta.86` via https://codepen.io/geospatialem/pen/OJvZbjd:
- [x] VoiceOver/Safari
- [ ] NVDA/Firefox
- [ ] JAWS/Chrome

Both Windows screen readers are not supported with this fix, but the `value-list` component has known a11y issues with both Windows screen readers that are unrelated to the `dragEnabled` property.

There is, however some text pre

[2022-08-05 15:37] anveshmekala commented on #5043
From the initial debugging, what I observed is `<script/>` is executed even before `connectedCallback`  which means `watchers` are not invoked when `dismissible =false` or `closable=false` in the script.

[2022-08-05 16:18] macandcheese commented on #5099
It does seem a bit weird that we have a default set at all. I almost wonder if it should be rendering a plain div / span by default, and only render h1-h6 when a user sets this property.

Ultimately, even if in Map Viewer defaulting to h2 makes sense, it may not be the case for another app, and they would need to adjust that similarly.

[2022-08-05 16:46] benelan commented on #5082
Thanks for the confirming Matt. verified on `next`

[2022-08-05 16:46] #5082 closed

[2022-08-05 17:45] benelan commented on #4918
verified on `next` using NVDA (I don't have JAWS or VoiceOver but I assume Kitty already tested all of them)

[2022-08-05 17:45] #4918 closed

[2022-08-05 20:36] Elijbet commented on #4971
Wasn’t able to replicate this issue working properly at either beta.83 or beta.82.
Setting layout snapshots at these levels results in the following:

`tabs` does not center
<img width="999" alt="Screen Shot 2022-08-05 at 1 24 57 PM" src="https://user-images.githubusercontent.com/19231036/183158582-2ed8dc42-20c1-40c5-bd82-95e0e8437864.png">

`tab-nav` does center but doesn’t center titles
<img wid

[2022-08-05 23:37] jcfranco opened #5109 "combobox throws error when typing a custom value and then trying to open the menu"
### Actual Behavior

It seems the combobox expects custom values to be committed when opening the item menu, doing so throws the following:

[code]

### Expected Behavior

At a minimum, no error should be thrown. What may need discussion is whether to allow the regular menu open experience and preserve the in-progress text if a selection is made.

### Reproduction Sample

https://codepen.io/jcfran

[2022-08-08 06:23] janett-baresel commented on #4911
Thanks for the clarification. Will change and let you know if I run into any more issues.

[2022-08-09 00:27] benelan opened #5113 "Pagination: inconsistent focus ring"
**monday.com sync:** #18005546057

### Actual Behavior

When clicking the number directy next to the ellipses, the focus ring is actually on the number after.

![image](https://user-images.githubusercontent.com/10986395/183535181-5927fb44-456f-45e9-ad7d-8a3d752c496e.png)

### Expected Behavior

The number that was clicked has a focus ring, which is how the component behaves when clicking on a page

[2022-08-09 16:02] ReneU commented on #4032
@macandcheese @jcfranco @benelan are there any plans to support this in one of the upcoming releases? We have a lot of UIs in ArcGIS Velocity we would like to migrate but this is the only issue blocking us from doing so since we don't want to have a mixed experience (UI controls from different component libraries on the same page).

[2022-08-09 17:49] samMatenaer commented on #5077
We're also running into this issue using Vitest in our project

[2022-08-09 18:39] jcfranco commented on #3724
Floating UI fixes landed, shipped and our deps were bumped. This seems to work as expected locally. Marking as installed! 🎉

[2022-08-09 18:51] jcfranco commented on #3667
Local testing w/ latest version of `floating-ui` (see https://github.com/Esri/calcite-components/issues/3815#issuecomment-1201698447 for more info) seems to work as expected. Marking as installed!

[2022-08-09 18:56] jcfranco commented on #3725
The latest version of `floating-ui` has fixes for shadow DOM positioning (see https://github.com/Esri/calcite-components/issues/3815#issuecomment-1201698447). I couldn't test w/ the original codepen since it doesn't reproduce the issue, but based on other, similar issues, this may be fixed. @AdelheidF @subgan82 Would either of you be able to test w/ `@next`?

[2022-08-09 19:06] AdelheidF commented on #3725
Actually with the upgrade to beta.86 we had to remove all those `position:relative` to make it work properly again.

[2022-08-09 20:07] jcfranco commented on #3815
The floating UI PRs were installed and are included in the latest release. Local testing of referenced issues looks good! @benelan Per our convo, assigning to you for follow up once the doc is done.

[2022-08-09 22:01] jcfranco commented on #4032
Would using an 'empty' option work in the meantime? https://codepen.io/jcfranco/pen/oNqMBRJ?editors=1010

Assuming ☝️ was fixed, would this address this issue or are there additional functional differences from the MDN example? https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select#try_it

[2022-08-09 22:07] jcfranco commented on #5070
Quick update: After digging into this, I think it's best if we update label to not assume there will only be one labelable. For comparison, browsers only focus on the first labelable and ignore the rest.

[2022-08-09 22:52] Olga8614 commented on #4776
Still observed with PT language on devext
![image](https://user-images.githubusercontent.com/29614798/183775371-4e970b4c-d1b9-49f9-ac26-d3a3a6648f42.png)

[2022-08-10 00:00] jcfranco commented on #4996
I believe this is working as expected. The default for both is false, so we honor whichever is present and can't assume the lack of `open` means closed. To summarize:

1. none specified ➡️ closed
2. any specified (both or either) ➡️ open

The codepen does bring up some subtle behavior related to updating components before hydration. It looks like setting attributes before hydration does populate t

[2022-08-10 03:28] benelan commented on #4996
This contradicts what we [discussed in a related PR here](https://github.com/Esri/calcite-components/pull/4807#issuecomment-1202720528), specifically:

Not sure if it matters that there are inconsistencies w/ the way deprecated props behavior with their replacements since it's not supported. But if it is inconsistent, I don't think we should say anything in the doc about how it behaves; only that

[2022-08-10 03:31] benelan commented on #4996
closing this as verified on `next` - I'll bring the discussion about my comment above to the open, related PR

[2022-08-10 03:31] #4996 closed

[2022-08-10 07:53] ReneU commented on #4032
@jcfranco yes, I think we could go with the 'empty' option for now. Thank you.

It seems like it's still getting initialized with the first `calcite-option` child's value if `value` is undefined. However, it looks like this matches the native behavior. I guess that's not a blocker for us and we could implement a workaround.

The only remaining thing that would be great to have (and is a [functiona

[2022-08-10 15:11] geospatialem commented on #3667
Verified placement in Firefox with next.557 via https://codepen.io/geospatialem/pen/VwXBGNv.

![verified dropdown positioning](https://user-images.githubusercontent.com/5023024/183940467-4776652a-0d7a-476f-8fea-a1385cd1e166.png)

[2022-08-10 15:11] #3667 closed

[2022-08-10 15:15] geospatialem commented on #4971
Verified on next.557

![verify calcite-tabs center layout](https://user-images.githubusercontent.com/5023024/183941301-b076bec1-d355-4ee5-b44e-2ff57c24510c.png)

[2022-08-10 15:15] #4971 closed

[2022-08-10 15:45] geospatialem commented on #3724
Verified both Codepen examples where `input-date-picker` has an `overlay-positioning="fixed"` (https://codepen.io/afreitag/pen/gOGmWeg and https://codepen.io/jonasdepelsmaeker/pen/XWZLoJd) in `next.557`.

![verify calcite-input-date-picker in panel](https://user-images.githubusercontent.com/5023024/183948962-db2e7324-a299-4326-b1bb-c73c8d58c983.png)

![verify calcite-input-date-picker in modal](ht

[2022-08-10 15:45] #3724 closed

[2022-08-10 15:50] geospatialem commented on #4372
Verified on master ✨

[2022-08-10 15:50] #4372 closed

[2022-08-10 16:09] nwhittaker opened #5127 "Regression with `calciteStepperItemChange` event"
### Actual Behavior

Clicking anywhere within a step item's content causes the stepper to emit its [`calciteStepperItemChange`][1] event.

[1]: https://developers.arcgis.com/calcite-design-system/components/stepper/#component-api-events-calciteStepperItemChange

### Expected Behavior

Clicking anywhere within a step item's content area does not emit the `calciteStepperItemChange` event.

### Repro

[2022-08-10 17:10] jcfranco commented on #3121
Stealing this one... 👿

[2022-08-10 18:47] nwhittaker opened #5130 "Inactive `input-message` adds white-space below a `label`"
### Actual Behavior

Given a `<calcite-label>` that contains a `<calcite-input>` and an inactive `<calcite-input-message>`, its bottom white-space is greater than a `<calcite-label>` that only contains a `<calcite-input>`.

### Expected Behavior

Given a `<calcite-label>` that contains a `<calcite-input>` and an inactive `<calcite-input-message>`, its bottom white-space is the same as a `<calcite-

[2022-08-10 19:19] anveshmekala commented on #5043
This is a similar [issue](https://github.com/Esri/calcite-components/issues/4996#issuecomment-1210005463) where setting attributes changes props but not the other way around prior to hydration.

[2022-08-10 21:16] rpanichakit9541 opened #5131 "calcite-checkbox needs to hide the SVG element from screen readers"
### Summary

From an accessibility audit, a recommendation was made to add `aria-hidden="true"` `focusable="false"` and `role="none"` to the `<svg class="check-svg">` element inside `calcite-checkbox`

### Actual Behavior

`<svg class="check-svg">` is not hidden from screen readers

### Expected Behavior

`<svg class="check-svg">` should be hidden from screen readers

### Reproduction Sample

http

[2022-08-10 21:37] geospatialem opened #5132 "Epic: `setFocus` method should focus on the component's first focusable element"
### Background
Remove the `focusId` parameter used in any `setFocus` methods. Components should instead focus on the first focusable element, and there should not be an available parameter option.

cc @driskull

### Plan of action
- [ ] Deprecate `focusId` across CC:
    - [ ]  `action-bar`
    - [ ] `action-pad`
    - [ ] `modal`
    - [ ] `panel`
    - [ ] `pick-list`
    - [ ] `popover`
    - [

[2022-08-10 23:13] benelan commented on #3725
I can't repro the issue using the sample Alan provided. `beta.91` just released, can someone who can repro in MV please test?

[2022-08-11 14:43] fendiaoxiaoshuazi opened #5136 "date-picker: the weekday and date are not correlated in some locales (including en-gb, en-au, nb, es, de ...)"
### Actual Behavior

The weekday and date are not actually correlated.

### Expected Behavior

The weekday and date should be correlated. As you can see in the screenshot below, August 11 is a Thursday, but in some locales, August 11 appears below Saturday.

**en-gb**
![image](https://user-images.githubusercontent.com/26078106/184159834-0776ac29-8bb7-4c3c-9a5c-936421fa093c.png)

**en-au**
![image]

[2022-08-11 15:33] geospatialem commented on #5136
Thanks for bringing this forth, @fendiaoxiaoshuazi!

Adding additional context that this seems to occur in August 2022 and May 2023, but no other month in 2022/2023.

An additional Codepen for context: https://codepen.io/geospatialem/pen/dymqNVd.

[2022-08-11 16:16] nwhittaker opened #5137 "No longer able to transition scrim from `hidden` state"
### Actual Behavior

Given `<calcite-scrim>` with transition styles, toggling its `hidden` attribute shows/hides the scrim abruptly.

### Expected Behavior

Given `<calcite-scrim>` with transition styles, toggling its `hidden` attribute shows/hides the scrim in accordance to its transition styles.

### Reproduction Sample

https://codepen.io/nwhittaker-esri/pen/zYWJNJz

### Reproduction Steps

1.

[2022-08-11 21:51] geospatialem commented on #4813
Some additional research is needed to proceed.

Additional context provided by @macandcheese from https://github.com/Esri/calcite-components/pull/5139#issuecomment-1212478332:

[2022-08-12 06:40] jonas-dp opened #5141 "webpack example for 1.0.0-beta.91 does not build"
### Actual Behavior

When running `npm start` after `npm install` on the[ webpack example code](https://github.com/Esri/calcite-components-examples/tree/master/webpack), webpack logs a couple of breaking errors.
The site won't load.

### Expected Behavior

No webpack errors should occur and the example site should be loaded correctly.

### Reproduction Sample

https://github.com/Esri/calcite-compo

[2022-08-12 16:16] ajturner commented on #1088
Relevant ideas from @rweber-esri [about skeleton configuration in this issue](https://github.com/Esri/hub-components/issues/621)

[2022-08-12 17:19] joeyHarig opened #5142 "Popover: popovers don't close when clicking another reference-element"
### Actual Behavior

A `calcite-popover` will close when `auto-close` is set to true and the user clicks outside the popover. But, if the user clicks on the reference element of a second popover, the first popover will remain open.

<img width="475" alt="Screen Shot 2022-08-12 at 11 14 14 AM" src="https://user-images.githubusercontent.com/55154968/184410657-5846db1e-4ad0-4c48-9465-d696e1be312a.png

[2022-08-12 17:43] benelan commented on #5141
Thanks for logging this issue. I was able to repro and I downgraded the webpack sample to `beta.86` while we investigate.

[2022-08-12 17:56] nwhittaker opened #5143 "Accordion's selection mode can become stale"
### Actual Behavior

Given a `<calcite-accordion selection-mode="single">`, then dynamically changing its `selection-mode` to `multi`, the user is unable to expand multiple sections.

### Expected Behavior

Given a `<calcite-accordion selection-mode="single">`, then dynamically changing its `selection-mode` to `multi`, the user is able to expand multiple sections.

### Reproduction Sample

https:/

[2022-08-12 20:28] jcfranco opened #5144 "Split input to type-specific components"
### Overview

`<calcite-input>` has grown in complexity and has introduced some mixed messaging in terms of the types it supports as it started mimicking the native `<input>`. This effort aims to
split the component into simpler, focused type-specific components.

Additionally, we've identified `<calcite-inline-editable>` as an input-like that slightly modifies input's UX and depends on users slot

[2022-08-12 22:11] AdelheidF commented on #3725
Will test this with beta.92...

[2022-08-13 00:11] kevindoshier opened #5146 "calcite-split-button (firefox): if used as a fab button within a calcite-panel, the dropdown menu is offset in firefox"
### Actual Behavior

The dropdown menu for the split button shows up in the wrong place in firefox

### Expected Behavior

The dropdown menu should show up directly below the button

### Reproduction Sample

https://codepen.io/kevindoshier/pen/bGvxXOB

### Reproduction Steps

1, Open the above codepen using firefox, cant repro in chrome
2. Click the dropdown notice that the menu shows up in the wr

[2022-08-13 00:30] jcfranco commented on #5146
Closing as this was fixed by https://github.com/Esri/calcite-components/issues/3815#issuecomment-1209822596 and available in the latest release: https://codepen.io/jcfranco/pen/wvmEVZo?editors=1010. 🎉

[2022-08-13 00:57] jcfranco commented on #5137
You bring up a good point. When we made the change, we were focused on ensuring that `hidden` worked consistently across components, but ended up breaking the native HTML element expectation you mentioned. We'll revisit. Sorry for the hassle!

@Elijbet Let's revert this and work on preventing components from overriding the global `hidden` style instead. Maybe https://stylelint.io/user-guide/rules/

[2022-08-13 00:59] jcfranco commented on #5137
@benelan triaged for this release.

[2022-08-13 01:24] jcfranco opened #5147 "Consistent focus/blur eventing across components"
**monday.com sync:** #18048591137

### Overview

Currently, developers have to rely on `focusin`/`focusout` (composable + bubbling) from component internals or using, internal, blur/focus events for a few components.†
The goal for this effort is to provide a general solution for focus/blur events given that these events are commonly used and expected in many web development scenarios.

Also for co

[2022-08-13 01:44] jcfranco commented on #4357
This has been addressed by https://github.com/Esri/calcite-components/pull/5046.

[2022-08-13 01:44] #4357 closed

[2022-08-15 16:51] benelan commented on #5102
This works as expected if you set `placement` to "top".

[code]

[2022-08-15 20:16] AdelheidF opened #5152 "calcite-panel - calcitePanelDismissedChange is called twice"
### Actual Behavior

 `calcitePanelDismissedChange` is called twice when clicking on close once.
 `calcitePanelDismiss` doesn't have this issue.

### Expected Behavior

 `calcitePanelDismissedChange` is called once when clicking on close once.

### Reproduction Sample

https://codepen.io/afreitag/pen/RwMqNzX

### Reproduction Steps

call the codepen and click on panel close button

### Reproductio

[2022-08-15 22:52] anveshmekala commented on #5152
couldn't reproduce with `beta.91`  https://codepen.io/ANVESHMEKALA/pen/KKordGj?editors=1111

[2022-08-15 23:20] #5152 closed

[2022-08-15 23:41] benelan commented on #5077
The GeoNet forum that you linked has the correct answer; you will need to use dynamic imports. Here is a SvelteKit example using the ArcGIS API for JavaScript:
https://github.com/benelan/arcgis-esm-samples/tree/main/jsapi-sveltekit-template

Does that help? If not can you please elaborate on the issue you are facing and/or provide another repro sample that better demonstrates the problem? Thanks!

[2022-08-15 23:48] benmccann commented on #5077
This issue is asking for `exports` to be added to the `package.json` so that users are no longer forced to use dynamic imports, but can use regular static imports

[2022-08-16 00:01] benelan commented on #5077
I'm not very familiar with SvelteKit, but wouldn't static imports cause the ArcGIS JavaScript API to render on the server? They don't support server side rendering, so even if we add `exports` the reproduction sample will not work.

[2022-08-16 02:59] benmccann commented on #5077
Yes, it would cause it to render on the server. I had assumed these components would work on the server because you distribute CommonJS files. I'm a maintainer of SvelteKit and haven't used these components myself, but wanted to get to the bottom of this as we've seen users running into it. What scenario are the CommonJS files intended for if not for running on the server? It could make sense to r

[2022-08-16 14:25] geospatialem commented on #4355
Verified on `master.sites`.

[2022-08-16 14:25] #4355 closed

[2022-08-16 14:35] geospatialem commented on #3815
Verified with the `overlay-positioning` attribute when the value is set to "fixed". 👍🏻

[2022-08-16 14:35] #3815 closed

[2022-08-16 14:45] geospatialem commented on #4144
Verified on `next`

https://user-images.githubusercontent.com/5023024/184908850-c59c8461-e630-422c-b44d-5e05cf09a3a5.mov

[2022-08-16 14:45] #4144 closed

[2022-08-16 14:49] geospatialem commented on #5127
Verified on`next.561`

[2022-08-16 14:49] #5127 closed

[2022-08-16 14:57] geospatialem commented on #5141
Verified `beta.86` build for the webpack example in the calcite-components-examples repo.

[2022-08-16 14:57] #5141 closed

[2022-08-16 17:26] tyanthony commented on #4741
@benelan We have resolved the issue that was causing this bug. For a previous version, we needed a wrapping container around the `dropdown-group`s. This is what was causing the bug noted above. Removing that container, and instead using just the dropdown groups has resolved the bug and it is working correctly now on the latest Calcite version (beta.91).

It's still unclear why this happened, but I

[2022-08-16 17:26] #4741 closed

[2022-08-16 17:39] benelan commented on #5102
Reopening, @daniellaumer reached out and provided another repro sample:
https://codepen.io/benesri/pen/VwXVXor?editors=1000

It is inconsistent, but open the dropdown and it is above the trigger, refresh and try again and it will eventually be below the trigger. I wasn't able to repro in `beta.86` so it may be due to the switch from popper to floating-ui

[2022-08-16 17:51] jcfranco opened #5162 "[New component] Skeleton states"
### Description

Resource loading components lack a way to notify developers that the component is fully loaded and ready to be displayed. Let's explore a new component to offer support across the design system.

### Acceptance Criteria

- A component is available to display while an app is loading to indicate loading is in progress.
- Notifies users of loading content within resource-loading comp

[2022-08-16 17:53] AdelheidF opened #5163 "calcite-dropdown placement prop lost options"
### Actual Behavior

when upgrading from beta.86 to beta.91
![image](https://user-images.githubusercontent.com/44481292/184946046-d0925d12-6e69-4a2d-a7be-1c78de4611fc.png)

no breaking change listed in release notes

cc @driskull

### Expected Behavior

no error

### Reproduction Sample

n/a

### Reproduction Steps

n/a

### Reproduction Version

beta.91

### Relevant Info

_No response_

### Regr

[2022-08-16 18:01] nwhittaker opened #5164 "Regression with `calcite-button#form` where form is not submitted/reset"
### Actual Behavior

Give a submit or reset button associated with a non-ancestor form, clicking the button does not submit/reset the form.

### Expected Behavior

Give a submit or reset button associated with a non-ancestor form, clicking the button does submit/reset the form.

### Reproduction Sample

https://codepen.io/nwhittaker-esri/pen/wvmQjMO

### Reproduction Steps

1. Visit the sample and

[2022-08-16 19:00] benelan commented on #5077
Sorry if I wasn't clear, I was saying that the ArcGIS API for JavaScript ([`@arcgis/core`](https://www.npmjs.com/package/@arcgis/core)) cannot render on the server. So the repro app won't work even after fixing the errors from this issue, you will still need to use dynamic imports.

Putting the repro sample aside, Calcite Components are web components and they rely on browser APIs. So using static

[2022-08-16 20:27] benmccann commented on #5077
I'm not following the explanation for why CommonJS modules are provided. That link just says you have to use `rollup-plugin-commonjs` if you're using Rollup and encounter a CommonJS dependency. But that's not really a reason to make dependencies be CommonJS in the first place. Rollup users would much prefer if you didn't make them utilize `rollup-plugin-commonjs` to handle a given component

[2022-08-16 20:51] jcfranco commented on #5075
I looked at the repro case and the item selection event does fire, but under a different name (`onCalciteListItemChange`):

https://codesandbox.io/s/objective-pine-xfkfpf?file=/src/InvestigationContentValueListItem.js

The event fires when `selected` changes, so we'll probably have to revisit this separately to be consistent with other item selection components.

TypeScript-wise, there will be an

[2022-08-16 20:55] jcfranco opened #5167 "ValueListItem has no emitter for onCalciteListItemChange"
### Description

`calcite-value-list-item` reuses `onCalciteListItemChange` from its wrapped `calcite-pick-list-item`, but doesn't have an emitter for it, so it is missing from the types.

Stems from https://github.com/Esri/calcite-components/issues/5075#issuecomment-1217151710

### Acceptance Criteria

Add an event emitter for `onCalciteListItemChange` so the types are in sync (similar to https:/

[2022-08-16 21:11] benelan commented on #5077
Sorry my thoughts got shmushed together. I meant:

Stencil uses `rollup-plugin-commonjs` internally and I can use the `namedExports` property to fix the errors.

I'll have to do some invesitgating about whether removing CJS entrypoints will affect the `hydrate` build. We don't get a lot of Node users so I'm not sure at the moment.

[2022-08-16 21:22] nwhittaker opened #5168 "Overflowing subtree content is clipped"
### Actual Behavior

Overflowing content within a nested `<calcite-tree>` is clipped by the `"children"` slot container.

<img width="286" alt="Screen Shot 2022-08-16 at 5 08 50 PM 2" src="https://user-images.githubusercontent.com/421496/184986620-2bd41faa-f7fb-4a1b-a06a-4063ef0eeaa2.png">

### Expected Behavior

Overflowing content is allowed to flow out of the `"children"` slot container.

<img

[2022-08-16 23:50] benelan opened #5171 "Input: move duplicate code to utils"
### Description

As we split Input into multiple components by type (Input Number, Input Text, Input Time, etc.) we are starting to get a lot of duplicate code. We should move the duplicate code to a new util: `src/utils/input.ts`.

### Proposed Advantages

It will make bugs easier to fix in the future when everything is in one place.

### Which Component

- `calcite-input`
- `calcite-input-text`

[2022-08-17 00:59] jcfranco commented on #5164
Agreed. We can revisit our form-associated pattern to accommodate this. In the meantime, can you use the form-descendant approach as a workaround?

For prioritization, can you share more info about your use case and the impact of this?

[2022-08-17 13:08] RSantosGIS commented on #5075
Understood.  I can type cast the component for now to suppress the typescript error.  I'll play around with this other event.

[2022-08-17 15:04] nwhittaker commented on #5164
One use-case where I came up against this issue was when I tried to treat the contents of a modal like a form, and the modal's buttons like form buttons:

[code]

This lets me consolidate the submission logic and retain native submission behavior:
* Click submit button
* Hit `Enter` key when input is focused

Currently achieving this behavior would require separate handlers and added logic:

[code

[2022-08-17 15:26] fendiaoxiaoshuazi commented on #5136
Hi @geospatialem, will this fix be included in the next release? If possible could you please let me know the general release date of the next build? We will schedule a hotfix to upgrade to the new build.

[2022-08-17 18:45] eriklharper commented on #5171
Original comment that sparked this issue for context: https://github.com/Esri/calcite-components/pull/5149#discussion_r947323426

[2022-08-17 19:40] Elijbet opened #5176 "Audit/review how `display` on `host` plays w/ `hidden`."
### Background

We need to ensure that `hidden` works consistently across components.

The snipped below was tried as a solution but reverted back. Aside from breaking transition on the scrim, it also doesn't align with the consumer's assumption about how Calcite hides elements and how native HTML elements use it.

[code]

### Desired Outcome

Ensure that hidden worked consistently across componen

[2022-08-17 20:59] geospatialem opened #5177 "Panel `zIndex` placing component underneath map after load"
### Actual Behavior

Previously the `calcite-panel` was placed on top of the map in the tutorial. Once upgraded to beta.91, we're able to see the `calcite-panel` load, but it disappears from the display once the map loads up.

![actual behavior of calcite-panel with map in beta.91](https://user-images.githubusercontent.com/5023024/185241627-4c5bff42-71a3-4160-8889-3b7a356a166e.gif)

### Expected B

[2022-08-17 21:41] geospatialem commented on #5136
@fendiaoxiaoshuazi We're working through the fix this afternoon, and will keep you apprised as soon as its merged in. Hoping to have a fix via `next` very soon. 👍🏻

[2022-08-17 22:29] driskull commented on #5177
@jcfranco looks like related to this change:

https://github.com/Esri/calcite-components/commit/c01f71e5b840cac0f0b7810f027321711f87a90d#diff-2c3914b1417521aa066e81877b4fbdb75da90feb8e10bc6d0c6282124022d7e0

[2022-08-17 22:31] driskull commented on #5176
I think we should probably just hide an inner container when hidden is on the host instead of applying styles directly on the host.

In a perfect world, we could keep the host styles pretty minimal to just things like the default display type and they wouldn't change during the component runtime.

[2022-08-18 02:48] rweber-esri opened #5182 "calcite-popover not re-registering itself with PopoverManager during connectedCallback method"
### Actual Behavior

`calcite-popover` does not work as expected after re-appending it to the DOM

### Expected Behavior

`calcite-popover` works as expected after removing from DOM, then re-appending to DOM.

### Reproduction Sample

https://codepen.io/rweber-esri/pen/QWmzgxZ

### Reproduction Steps

1. Add a `calcite-action` and obtain a reference to it
2. Add a `calcite-popover` and pass refere

[2022-08-18 13:43] geospatialem commented on #5136
@fendiaoxiaoshuazi [Verified with `beta.92`](https://codepen.io/geospatialem/pen/wvmREaY), released late yesterday.

![verified august calendars for locales en-au, en-gb, de, nb, and es](https://user-images.githubusercontent.com/5023024/185409451-b4f2b0cd-0a79-453a-affa-60a503cf80d7.png)

[2022-08-18 13:43] #5136 closed

[2022-08-18 14:11] geospatialem commented on #5137
Verified in last night's release, beta.92.

![verify scrim](https://user-images.githubusercontent.com/5023024/185416310-f4b1ee4e-909a-4887-a63a-3b464e7fa70c.gif)

[2022-08-18 14:11] #5137 closed

[2022-08-18 14:28] geospatialem commented on #3121
Verified in beta.92 👍🏻

[2022-08-18 14:28] #3121 closed

[2022-08-18 15:37] gpbmike commented on #5022
Thanks all

[2022-08-18 16:21] jcfranco commented on #4686
Closing as duplicate of https://github.com/Esri/calcite-components/issues/4072.

[2022-08-18 16:21] #4686 closed

[2022-08-18 18:09] driskull commented on #5182
NIce catch.

[2022-08-18 21:26] ade10176 opened #5186 "Option to hide selection-mode from calcite trees"
### Description

The bullet indicator on a selected/hovered state of a calcite tree conflicts with the pending changes indicator that we've been using in Field Maps. We're looking for a way to relax the appearance of these states to the degree that the bullet is not present.

![image](https://user-images.githubusercontent.com/49533268/185497143-07afd773-1f4f-4690-9162-9015845a86be.png)

cc: @nwhit

[2022-08-19 15:41] jcfranco commented on #4072
@benelan I triaged this one to this milestone since I already had something in the works for it.

[2022-08-19 22:44] macandcheese opened #5191 "[Combobox] Combobox now requires two tabs to navigate through the component."
### Actual Behavior

Combobox now requires two tabs to navigate through the component:
The first tab focuses the component but not the input. The second tab correctly focuses the input.

Version 91: https://codepen.io/mac_and_cheese/pen/ExErbYd?editors=100

### Expected Behavior

A single tab will focus the component and the internal input is immediately actionable:

Version 86: https://codepen.io

[2022-08-22 16:43] driskull commented on #5191
Looks like a regression from https://github.com/Esri/calcite-components/commit/1798571cc7e3185c35f68aaf7f63d9377b3bad31 cc @geospatialem

[2022-08-22 16:55] anveshmekala commented on #5191
we may need to remove the `tabIndex` to get this fixed.

[2022-08-22 17:13] ek070 opened #5196 "Date automatically changes when manually entered on certain timezones"
### Actual Behavior

The date in the input date picker changes when manually entered on certain timezones. As the user enters the year field, the day decreases on each entry
![input_date_picker](https://user-images.githubusercontent.com/111767399/185976616-66eb5f22-67ef-41d0-b3dd-d0a8f21df701.gif)

### Expected Behavior

Date shouldn't change as user manually enters.

### Reproduction Sample

http

[2022-08-22 17:17] geospatialem commented on #5182
Verified on next
![verify-popover-callback](https://user-images.githubusercontent.com/5023024/185980668-d23a3c4d-9008-4e19-8d21-2ca4f4efa1b3.gif)

[2022-08-22 17:17] #5182 closed

[2022-08-22 17:29] geospatialem commented on #5191
That it is. Thanks for diagnosing, @driskull!

@anveshmekala Removing the `tabIndex` will work for this fix. Thanks for tackling so fast!

[2022-08-22 17:54] geospatialem commented on #5142
Verified popovers close with `auto-close` attribute when clicking another popover, or reference element, via `next`

![verify-popover-autoclose](https://user-images.githubusercontent.com/5023024/185986975-8a334955-4ea2-43cd-b3b2-0677964c7b19.gif)

[2022-08-22 17:54] #5142 closed

[2022-08-22 19:02] ethanbdev opened #5197 "[calcite-label] Label text cursor type on hover should match the control it wraps"
### Description

When a `calcite-label` wraps a control, it always uses the `text` cursor even though it is clickable and will focus the control it wraps. This is especially relevant for the checkbox where interacting with the label will actually selec / deselect the checkbox. Here is a gif example of what I mean:

![860BB6D8-5722-4DC1-9C43-0B5551D5A3B6](https://user-images.githubusercontent.com/5

[2022-08-23 00:38] macandcheese commented on #5197
It would be tough to match the cursor style of any slotted control since they can vary - it seems like a native `label` element uses the `default` cursor though, not `text`.

Would that be a safer / more expected default? FWIW a native checkbox uses `default` too, not `pointer`, so maybe we should evaluate instances where we use that.

[2022-08-23 03:21] jcfranco commented on #5191
Removed `needs triage` label and assigned to this milestone based on the assignment, status label and linked PR.

[2022-08-23 03:39] jcfranco commented on #5197
Agreed on the complexity. Probably not worth it if users may not expect a cursor change based on default browser behavior.

[2022-08-23 14:33] macandcheese opened #5204 "[Card] Remove hover / press effect"
### Description

The card has a hover / press effect right now. That doesn’t really make sense, as a card can contain one or many internally rendered hit areas.

We should remove the hover and press effects from the card.

Additionally, like we did for border radius, we should have a component level css variable to override the single (and “empty”) default shadow: https://github.com/Esri/calcite-c

[2022-08-23 15:09] ashetland commented on #5204
I'd like to second this. Can we implement it for 1.0?

[2022-08-23 15:29] geospatialem commented on #3122
This issue is `blocked` awaiting creation of https://github.com/Esri/calcite-components/issues/863, which was included in the design phase of the new component, `calcite-textarea`.

Prior to addressing this enhancement, the `textarea` component will be developed and implemented. cc @ashetland

[2022-08-23 15:43] geospatialem commented on #3312
This issue is blocked awaiting creation of https://github.com/Esri/calcite-components/issues/863, which was included in the design phase of the new component, `calcite-textarea`.

Prior to addressing this enhancement, the `textarea` component will be developed and implemented. cc @ashetland

[2022-08-23 18:06] jcfranco commented on #5204
Triaged to this sprint.

[2022-08-23 18:27] jcfranco opened #5205 "Add a test helper for `OpenCloseComponent` implementors"
### Test type

new common test helper

### Which Component(s)

Components implementing the `OpenCloseComponent` interface

### Unstable Tests

_No response_

### Test error, if applicable

_No response_

### PR skipped, if applicable

#

### Additional Info

Related issue: https://github.com/Esri/calcite-components/issues/5056

[2022-08-23 18:59] jcfranco opened #5206 "OpenCloseComponents do not emit when setting `--calcite-duration-factor`"
### Actual Behavior

Setting `--calcite-duration-factor` to 0 allows users to skip animations, but prevents (before)open/close events from being emitted.

### Expected Behavior

All (before)open/close events to be emitted regardless of transition duration.

### Reproduction Sample

https://codepen.io/jcfranco/pen/MWVReVQ?editors=1111

### Reproduction Steps

Click on toggle and notice how events a

[2022-08-23 19:15] jcfranco commented on #5067
Looks like the initial transition is skipped entirely because the host is initially rendered as end state (host initially rendered w/ `open`), so there's no initial set of props to animate/transition from.

[2022-08-23 19:17] jcfranco commented on #5101
Possibly related to https://github.com/Esri/calcite-components/issues/3723

[2022-08-23 19:41] arjanvanzutphen opened #5207 "Input date picker with range ignores valueAsDate parameter"
### Actual Behavior

InputDatePicker with the range parameter ignores the valueAsDate parameter value and the input element stays empty.
The single inputDatePicker honours the valueAsDate parameter with a pre filled date value in the input element
![image](https://user-images.githubusercontent.com/25850072/186250375-5f3f09b2-e9a7-40e0-8410-c2b20fc5f6dc.png)

### Expected Behavior

The inputDatePic

[2022-08-23 19:41] jcfranco commented on #4970
Friendly ping. 😄

---

Side note: it looks like [support for `inert` is getting there](https://caniuse.com/?search=inert), at least from a `last 2 versions` perspective. Once it's widely supported, we'll definitely refactor our interactive component pattern and we would no longer need to mess w/ the host's tab index.

If this is a showstopper, we could look at introducing an internal component sol

[2022-08-23 20:10] joeyHarig opened #5208 "[calcite-input-date-picker] add status prop"
### Description

Add a `status` prop to the `calcite-input-date-picker` component that would behave the same as the `status` prop on `calcite-input`.

![Screen Shot 2022-08-23 at 2 08 27 PM](https://user-images.githubusercontent.com/55154968/186255952-3c1076d7-2174-44c7-8da9-13ea24367e1d.png)

### Acceptance Criteria

same as the `status` prop on `calcite-input`

### Relevant Info

_No response_

[2022-08-23 21:02] driskull commented on #4970
@jcfranco correct. Most but not all.

[2022-08-23 21:02] joeyHarig opened #5210 "[calcite-modal] close button padding is broken"
### Actual Behavior

Notice the misaligned spacing on the top example:

<img src="https://user-images.githubusercontent.com/4733155/186274286-8306499a-dc54-4af9-af56-e7567f83bd55.jpg">

### Expected Behavior

Spacing from the bottom example.

### Reproduction Sample

https://codepen.io/joeyHarig/pen/OJvGbOq?editors=1010

### Reproduction Steps

1. inspect the modal close button
2. notice that the

[2022-08-23 21:16] ethanbdev commented on #5197
I think default works, or an easy way for a component consumer to customize it via a variable? Really we just want the consistency

[2022-08-23 21:49] jcfranco commented on #5210
@joeyHarig Maybe I'm missing something, but I don't see a typo. It's assigning the padding var value if defined and using the internal variable as a fallback:

https://codepen.io/jcfranco/pen/eYMoBwR?editors=1000

[2022-08-23 21:59] joeyHarig commented on #5210
@jcfranco Oh I see! I wasn't aware of that syntax for css variable fallbacks - my apologies!

[2022-08-23 22:03] macandcheese commented on #5210
There was definitely a style regression at some point - notice the misaligned spacing on the top example (latest), compared to before the change (beta 86).
![Group 75](https://user-images.githubusercontent.com/4733155/186274286-8306499a-dc54-4af9-af56-e7567f83bd55.jpg)

[2022-08-23 22:04] jcfranco commented on #5210
@macandcheese Thanks for catching that. We'll repurpose the issue to fix the spacing discrepancy. Thanks for starting the chain reaction, @joeyHarig! 🎉

[2022-08-23 22:52] jcfranco commented on #5131
@rpanichakit9541 Thanks for reporting this. Can you share more info about the audit? Is it affecting a particular screen reader + browser combination? cc @geospatialem

[2022-08-23 22:59] rpanichakit9541 commented on #5131
@jcfranco - I'm not sure about the screen reader + browser combination.  The issue is filed here https://devtopia.esri.com/webgis/arcgis-portal-app/issues/39881 .

I just saw the "Note" recommendation and the screenshot below, so I filed the issue accordingly

## Note
[code]
![calcite-checkbox-svg](https://user-images.githubusercontent.com/44479773/186280533-cb8a330c-a122-4111-bff2-c98529cd56ae.jp

[2022-08-23 23:10] jcfranco commented on #5204
PR is up!

@macandcheese @ashetland Can you confirm if we need any of these states when the card is selectable? I'm assuming we don't since pressing on the component does nothing for selection.

[2022-08-23 23:36] jcfranco commented on #5131
@rpanichakit9541 Awesome, thanks!

[2022-08-24 00:03] jcfranco commented on #5168
@paulcpederson @macandcheese I have a couple of questions:

* Do you recall why tree items use [`overflow: hidden`](https://github.com/Esri/calcite-components/blob/master/src/components/tree-item/tree-item.scss#L111) on the children container?
* Would it be possible to transition on the [children container's height vs transform](https://github.com/Esri/calcite-components/blob/master/src/components

[2022-08-24 00:27] jcfranco commented on #3939
Closing in favor of https://github.com/Esri/calcite-components/issues/4213.

[2022-08-24 00:27] #3939 closed

[2022-08-24 00:34] paulcpederson commented on #5168
I think Pat added that https://github.com/Esri/calcite-components/commit/3e6e48c57c3a47b540cb1267a4a3a8fbca9f3f98 but I'd assume it's to prevent scroll because the height for collapsed children containers is set to 0

I don't think you can transition to `height: auto` only between a length or percentage https://developer.mozilla.org/en-US/docs/Web/CSS/height#formal_definition

[2022-08-24 00:36] paulcpederson commented on #5168
you could maybe do some JS hijinx and get the auto height as a pixel value and transition to that?

[2022-08-24 17:08] MichalisM commented on #3615
Yes, please! Can you make them publicly available? It's going to be super helpful!

[2022-08-24 17:49] anveshmekala commented on #5210
This is an interesting regression that was not reported by the screener and `padding` is corrected to `padding-block`  during the build which adjusted the spacing.

[2022-08-24 18:27] macandcheese commented on #5204
Correct

[2022-08-24 20:37] anveshmekala commented on #5043
can we close this one @benelan ?

[2022-08-24 20:39] anveshmekala opened #5218 "combobox: tabbing through the component should focus input field."
### Test type

new test to verify if tabbing through the component focuses the `input` field in the `combobox`

### Which Component(s)

combobox

### Unstable Tests

_No response_

### Test error, if applicable

_No response_

### PR skipped, if applicable

#

### Additional Info

Related to #5191

[2022-08-24 21:49] AdelheidF commented on #3724
looks good with beta.93

[2022-08-24 21:56] AdelheidF commented on #5163
verified with beta.93

[2022-08-24 21:56] #5163 closed

[2022-08-24 22:05] AdelheidF commented on #3725
works fine with beta.93

[2022-08-25 22:27] AdelheidF commented on #1689
can no longer repro it

[2022-08-25 22:27] #1689 closed

[2022-08-26 14:51] nwhittaker commented on #5067
There may be some confusion on my part around when an element is considered rendered relative to when it is considered hydrated.

I understand if there's no transition when `open` is enabled before hydration. But enabling it any time after hydration feels like it should be safe to assume the styles for the unopened state were applied.

[2022-08-26 16:52] avezina opened #5226 "[Combobox] add min-items property and require a minimum number of chips"
### Description

Provide the option to set a required minimum number of chips selected.

### Acceptance Criteria

- By default, no min is set.
- If a min is set:
  - then the user cannot dismiss chips any further once the limit is met
  - the input is invalid until the min number of chips is met
- The item that was initially selected does not need to be the one that remains: once adding more chips

[2022-08-26 18:26] ashetland opened #5227 "[Stepper-item] vertical layout bottom padding only applied when there is a slotted element"
### Actual Behavior

On vertical layout:
- No bottom padding when content is text
- 20px bottom padding when content is slotted element
<img width="339" alt="CleanShot 2022-08-26 at 11 15 47@2x" src="https://user-images.githubusercontent.com/108549080/186967318-e8dc7631-2f44-46d6-a52b-08657956bcb8.png">

### Expected Behavior

Bottom padding should be consistent regardless of content type.

### Re

[2022-08-26 20:39] benelan commented on #2124
verified on `beta.93`

[2022-08-26 20:39] #2124 closed

[2022-08-26 20:41] bsvensson commented on #4290
No improvement on my Dell Latitude 7320 touch laptop -- running Windows 10 Enterprise (10.0.1042 Build 19042)
* Edge Version 104.0.1293.63 (Official build) (64-bit)
* Chrome Version 104.0.5112.102 (Official Build) (64-bit)

[2022-08-26 20:42] benelan commented on #4290
Thank you both for testing, I'm assigning this issue back to dev.

[2022-08-26 22:57] jcfranco commented on #4814
Per our convo, this above error is a separate issue.

[2022-08-30 17:50] yelenakreyndel commented on #3526
@ashetland is this item similar to the one you are working on?

[2022-08-30 20:27] ashetland commented on #3526
No, this is a separate issue and component. Not related to the input-time enhancement.

[2022-08-30 21:11] macandcheese opened #5245 "[Button / FAB] Improve scale of internally rendered icons"
### Description

Noted as feedback on Button / FAB - but possibly relevant in other places where icons are rendered internally.

Button / FAB of scale S, M, L all render a `<calcite-icon>` of scale S internally. We should consider bumping the scale of that icon to M when the parent Button / FAB is scale L.

Unfortunately the icons don't scale with the component sizes, but in the case of L Button /

[2022-08-31 00:23] SkyeSeitz opened #5248 "[Block] collapsible prop should persist when control slot is populated"
### Description

Requesting that when the control slot is populated in Block, the collapsible chevron does not go away.

### Acceptance Criteria

The collapsible chevron persists when the control slot is populated.

### Relevant Info

_No response_

### Which Component

Block

### Example Use Case

_No response_

[2022-08-31 13:52] nick-esri commented on #4802
Field Maps web is also affected by this bug:
<img src="https://user-images.githubusercontent.com/3908500/185446752-58ae509a-b180-4565-a0a7-cdace68591fa.png" width="300">

Ideally the title should wrap before it collides with the checkbox. Possible to prioritize this fix @benelan ? Thanks

[2022-08-31 16:29] ashetland commented on #5245
Is this something we want to look at for v1/ui-kit-v2?

[2022-08-31 18:10] macandcheese commented on #5248
Related - we should look into aligning these slots with our other components - introducing the `action / content / start / end` paradigm from List. The current `icon` and `control` are unique to Block and are a bit limiting w/r/t layout needs. cc @asangma

[2022-08-31 19:18] driskull commented on #3615
Maybe we shouldn't do this part either.

[2022-08-31 21:06] mpayson opened #5249 "Calcite-scrim in panel content blocks panel header"
### Actual Behavior

When calcite-scrim is rendered as panel content, it blocks the panel header so the panel actions are not clickable. This appears to have broken with beta.91.

### Expected Behavior

Calcite scrim only displays over panel content when in the default content slot, not the panel header. We have a use case where we need to show that the panel content is loading, but still allow th

[2022-08-31 21:12] asangma commented on #5248
We should discuss this as it would have broad effects on in-production interfaces where real estate is at a premium and where the current design of a mutually exclusive chevron and control (what would be action-end) has proven to be functional or at least non-problematic.

[2022-08-31 22:50] asangma commented on #5071
A follow-up issue for FlowItem might be to

* add a breadcrumb UI
* add the option to turn on a "back to top" button

[2022-08-31 22:51] driskull commented on #5071
If those buttons are built into the UI I think it would be nice if those buttons had tooltips too.

[2022-09-01 01:27] benelan opened #5252 "Input: typing numbers in a different numberingSystem does not work"
### Actual Behavior

When typing numbers while using a different numberingSystem, the previous digits are sanitized because they are not numbers (in the JS sense).

### Expected Behavior

Typing numbers does not sanitize previous characters in the input. The input should allow users to type numbers while using a different `numberingSystem` the same way it works with the default `numberingSystem` (

[2022-09-01 16:41] macandcheese commented on #5245
If possible - from a code standpoint its a small change so we'd just need to look at design implications.

[2022-09-01 16:51] macandcheese commented on #5249
The panel itself actually has a built in `loading` property - but it suffers from the same issue: https://codepen.io/mac_and_cheese/pen/dyebBON?editors=1100

In the case of using the built in `loading` it was not a regression, it seems to always have behaved like this - I suppose the current behavior (of `calcite-panel` loading) could be to have a loading state occur on slotted header content? Sho

[2022-09-01 18:24] macandcheese commented on #5248
I am not sure lack of logged user problems justifies not evaluating components for improvement. That said, it would obviously be good to test the proposed change against those cases and see if it is more trouble than its worth, or if there is an escape hatch, but the functionality / ui is inconsistent currently.

[2022-09-01 19:01] macandcheese opened #5254 "[Alert] Make placement of link slot consistent with Notice"
### Description

Currently, the alert's slotted link content is placed in a trailing position adjacent to slotted message content. We should style and position this to match the notice component, where it is consistently placed beneath slotted message or title content.

### Acceptance Criteria

The notice and alert slot have the same placement and styling for slotted link content.

### Relevant In

[2022-09-01 19:35] mjuniper opened #5255 "Allow for specifying heading font-family"
### Description

In the Hub app, we allow customers to specify a body font and heading font (to be applied to h1 - h6 elements). Today, body fonts are adopted by calcite components via CSS inheritance. But there is no way, as far as I know, to specify heading fonts.

I propose a CSS custom property that, when set, will apply to `h1` - `h6` elements.

### Acceptance Criteria

Heading elements in ca

[2022-09-01 19:37] paulcpederson commented on #3682
@macandcheese there was a regression in beta 91 and the centered tabs are broken again. https://codepen.io/paulcp/pen/rNJqbZO

If I use beta.86 this codepen works great, but if I use anything 91 and newer it's broken.

Not sure what caused this regression. We can open a new issue too, if that's easier.

[2022-09-01 21:17] mpayson commented on #5249
Personally, I think it makes sense for the loader to only overlay on top of the content not the header -- this way the user can still see the header for the expected content while it's loading, not be blocked from closing the panel if needed, etc. We originally tried this approach before using the slotted scrim.

Nice! Appreciate the workaround, will give it a try for now

[2022-09-01 23:18] benelan opened #5258 "Date Picker: missing year and incorrect date order for "zh-CN" locale"
### Actual Behavior

An Esri Community user reported that the year is missing in the header of the Date Picker when using the "zh-CN" locale. I confirmed with @annierm18 that the year is missing, and she said the date's order is also incorrect. Additionally, the first day of the week is incorrect, but thats not on us ([CLDR issue](https://unicode-org.atlassian.net/browse/CLDR-11510)).

### Expecte

[2022-09-02 01:05] Elijbet opened #5259 "Add groupSeparator prop to Pagination"
### Description

Currently, the `pagination` component automatically adds the language's corresponding number separator to the page value, but not all situations require it displayed as separated. Devs would need the option to toggle it to match the context of where they are used, eg. AGOL does not show separators for the content.

### Acceptance Criteria

`groupSeparator` prop is added to `pagina

[2022-09-02 02:17] AdelheidF commented on #4333
Could I also somehow 're-apply' the filter after the list changes order?

E.g. my list has 100 items and they're sorted A-Z. Now I enter a filter string "SOMETHING" and the list 'shrinks' to 20 items. Now the user clicks on a menu option (next to the filter input) to sort the list via Z-A. Now it re-renders the list items. The list now displays all 100 items sorted Z-A and the filter still shows "

[2022-09-02 16:03] subgan82 commented on #5079
Hi All

Any update on this issue , we are looking to use this for showing analysis help for parameters. Can we have it for Online release 10.3?

[2022-09-02 16:29] tim-white-esri commented on #3489
Any traction on this? I just received another complaint from a site visitor about animations not respecting reduced motion.

This is important for accessibility.

[2022-09-02 17:27] ashetland commented on #5245
On the Design and Figma side, we would be good to include this update to Button and FAB. Padding adjustments would be made to maintain height.

Should we look at applying this approach across Calcite? For example, Chip uses a S icon at the L scale.

[2022-09-02 17:31] BLin2525 opened #5260 "Switch should not be mirrored in RTL"
### Actual Behavior

Actual result:
Switches are mirrored when in right to left mode

![image](https://user-images.githubusercontent.com/109546792/188202650-40dbd586-bedc-4ef5-9643-906ceb0ef022.png)

Expected:
Toggle buttons should not be mirrored in right to left.

Additional information:
- This behavior also occurs in AR langauge.
- This behavior also occurs on Chrome/Edge (Chromium)/Safari brow

[2022-09-02 17:32] BLin2525 commented on #5260
[paulcpederson](https://devtopia.esri.com/paulcpederson) commented [21 hours ago](https://devtopia.esri.com/WebGIS/arcgis-portal-app/issues/37307#issuecomment-3650200)
This is something that would need to be addressed in Calcite Components. We can open an issue over there depending on what the desired outcome is.

[2022-09-02 18:45] geospatialem commented on #3489
@tim-white-esri Thanks for re-pinging this issue. We'll be adding this to our upcoming sprint. For a workaround [Codepen](https://codepen.io/jcfranco/pen/JjvjpOV) in the meantime.

[2022-09-02 18:45] geospatialem commented on #3489
The solution will update the internal duration factor based on user preferences. This will still give developers the flexibility to override the animation, but would not be supported by Calcite.

[2022-09-02 19:23] BLin2525 commented on #5260
@paulcpederson

[2022-09-02 20:01] geospatialem commented on #5191
Verified on beta.93

[2022-09-02 20:01] #5191 closed

[2022-09-02 20:05] geospatialem commented on #5218
Verified test on master branch.

[2022-09-02 20:05] #5218 closed

[2022-09-02 20:08] geospatialem commented on #5177
Verified on the [SDK site](https://developers.arcgis.com/calcite-design-system/tutorials/create-a-mapping-app).

![verified zindex with map](https://user-images.githubusercontent.com/5023024/188228690-7b92503f-2358-44bd-b90a-c680c9d1920a.png)

[2022-09-02 20:08] #5177 closed

[2022-09-02 20:10] geospatialem commented on #5210
Verified on next.579

![verify modal close button padding](https://user-images.githubusercontent.com/5023024/188228915-0fd9ba81-ddb6-43f8-ba1b-3fa792683a82.png)

[2022-09-02 20:10] #5210 closed

[2022-09-02 20:16] geospatialem commented on #5204
Verified on next
![verify-card-hover](https://user-images.githubusercontent.com/5023024/188229619-15bd3962-d588-4902-857a-0f3408bc8306.gif)

[2022-09-02 20:16] #5204 closed

[2022-09-02 21:28] Olga8614 commented on #3531
We verified this defect on ArcGIS Online 10.3 devext site (8/29/2022) in LV/it-CH languages with Safari/Chrome/Edge Chromium/FF browsers.
The hint message is displayed as "DD.MM.YYYY" in LV/it-CH languages as expected.
But Format of selected date is displayed as "DD.MM.YYYY." rather than "DD.MM.YYYY" in LV language (That is, redundant point is displayed at the end of date) on left filters pane und

[2022-09-02 22:03] paulcpederson opened #5262 "calcite-link: fix underline positioning when used with calcite-fonts v2.x"
### Actual Behavior

The updated calcite fonts package includes expanded language support. However, because of this the font metrics have changed, making the height of each artboard taller. So even though an `e` will be the same height, when you select it, the selectable area on 2.0 fonts (which use Avenir World) will be taller.

![bbc03ad3-ab23-4453-8244-4592f5585cb4](https://user-images.githubus

[2022-09-04 19:27] janett-baresel opened #5270 "Auto focus modal content by default"
### Summary

When using a modal dialog the content is not auto focused.

### Actual Behavior

Opening a modal from a button will not auto focus the content. The focus stays in the document and continues "behind".

### Desired Behavior

When opening a modal dialog the focus is automatically moved to the content or close button. Basically, call setFocus by default when the modal is opened. I cannot

[2022-09-06 18:45] jcfranco commented on #5196
Possibly related to https://github.com/Esri/calcite-components/issues/3723.

[2022-09-06 21:33] ReidPritchard opened #5276 "Combobox item not finding parent's scale"
### Actual Behavior

Combobox items use a closest call in their `connectedCallback` method to find their scale, but on initial load their `combobox` parent does not have their properties set in the DOM. This means the combobox-item falls back to a scale of 'm'. This then leads to odd UI when adding or removing items dynamically since the new items are properly scaled but the old items are not.

Th

[2022-09-06 21:43] geospatialem commented on #2519
Closing in favor of #4893.

[2022-09-06 21:43] #2519 closed

[2022-09-06 21:43] geospatialem commented on #2424
Closing in favor of #4893.

[2022-09-06 21:43] #2424 closed

[2022-09-06 23:34] eriklharper commented on #3723
@AdelheidF Is the ask here that the calendar shouldn't update unless at least a 4-digit year is typed?  Technically `202`, `20` and `2` are all valid years, so it sounds like the ask is to only update the calendar when a full 4 digits are typed, otherwise you'll prevent someone from typing in valid single, double and triple digit years (in number format as opposed to padded zero string representat

[2022-09-07 00:11] Olga8614 commented on #567
We verified this defect on ArcGIS Online 10.2 Production site (09/02/2022) and ArcGIS Online 10.3 devext site (09/02/2022) in EUN language with Edge chromium(105.0.1343.25)/Chrome(105.0.5195.54)/FF(104.0.1) browsers. "Fid" and "Expression" buttons are display well on Styles option pan of Map ewer beta. So this defect is fixed. Thanks!

[2022-09-07 00:58] AdelheidF commented on #3723
Yes, I'd prefer that we ask the user to always enter a 4 digit year, otherwise there are too many options of what it could mean.

[2022-09-07 12:24] janett-baresel commented on #5270
@jcfranco I would like to change this from a bug report to an enhancement suggestion. Would I need to create a new ticket and close this one?

[2022-09-07 17:25] gavinr opened #5278 "comboBoxItem.toggleSelected() triggers an event"
### Actual Behavior

When calling [toggleSelected()](https://developers.arcgis.com/calcite-design-system/components/combobox-item/#component-api-methods-toggleSelected), the `calciteComboboxChange` event is emitted.

### Expected Behavior

When calling [toggleSelected()](https://developers.arcgis.com/calcite-design-system/components/combobox-item/#component-api-methods-toggleSelected), the `calcit

[2022-09-07 19:03] benelan commented on #5270
Hi Jannet, we can use this issue, I just changed the labels. Thanks!

[2022-09-07 22:45] jcfranco commented on #5186
Would the [`none` selection mode](https://github.com/Esri/calcite-components/issues/3121) help here? Otherwise, we'll design to review this. cc @macandcheese

[2022-09-07 22:54] macandcheese commented on #1471
I think this can be closed - setting `setFocus()` on a panel's `dismiss-button` back to the invoking action when the panel emits the `onCalcitPanelDismissedChange` event is pretty straightforward to manage.

[2022-09-08 00:47] Apahadi73 opened #5281 "Fire an event when the user closes the popover by clicking outside of the popover region"
### Description

We have been using `calcite-popover` components to customize and configure chart configuration in ArcGIS Charts components. Currently, we have implemented various wrapper popover components that wraps `calcite-popover` component for our custom use case. When we use the autoClose feature of the calcite-popover component, we don't have any existing way to notify the wrapper componen

[2022-09-08 14:14] nwhittaker commented on #5186
Thanks, I do think this new selection mode does get us most of the way there. One difference is that the disclosure arrows are no longer outdented.

| A "blank" selection mode | `none` selection mode |
| - | - |
| <img width="160" alt="Screen Shot 2022-09-08 at 10 00 22 AM" src="https://user-images.githubusercontent.com/421496/189144046-91102c23-1b64-4300-a898-bfa034cfbe4a.png"> | <img width="162"

[2022-09-08 16:29] ade10176 commented on #5186
Thanks @jcfranco I think the relationships are a bit confusing in the `none` selection mode. I'd expect all children to be aligned regardless whether they have a grand child or not. Are you able to clarify if that's by design or a bug @jcfranco?

[2022-09-08 16:48] jcfranco commented on #5186
@macandcheese @ashetland WDYT about ☝️? If we did want to preserve alignment, we can use the blank icon for none-selection. Luckily, we have a [old commit with this](https://github.com/Esri/calcite-components/pull/5128/commits/4b17d9ffe184cde7ba19388022251d636cc8c6dc) that we can reapply.

[2022-09-08 16:50] macandcheese commented on #5186
Agree w @ade10176 on this one :)

[2022-09-08 16:56] ashetland commented on #5186
Agree w/ @ade10176 as well, alignment should be preserved. 😁

[2022-09-08 16:58] paulcpederson commented on #5260
Updated the title and body of the issue to better adhere to the standards set in Calcite's contributing guide.

[2022-09-08 17:15] jcfranco commented on #5186
Triaging to this sprint. cc @benelan @geospatialem

[2022-09-08 19:04] gpbmike opened #5284 "calcite-input: required and type attributes should behave like HTML input"
### Actual Behavior

- The `required` attribute does not prevent form submission when the value is empty.
- The `type` attribute does not prevent form submission when value is invalid (ex: email)

### Expected Behavior

- When `required` attribute is present and value is empty (""), form submission should be blocked.
- When `type` attribute is set to "email" and value is not a valid email address,

[2022-09-08 19:09] sam11927 opened #5286 "Performance optimization for calcite list and floating UI"
### Description

Several things are happening so please feel free to add anything if I missed it.

1. Calcite list is not performative when there are components containing floating UIs nested into the calcite-list-item. We believe this is because `reposition` is being called too many times and likely should be debounced.
2. Though better, similar issues are seen with the `calcite-value-list`.
3. T

[2022-09-08 20:34] AdelheidF opened #5287 "calcite-input type=number and calcite-input-number missing up/down labels"
### Summary

calcite-input type=number and calcite-input-number are missing up/down aria labels.
Or maybe they should be hidden via aria-hidden.

![image](https://user-images.githubusercontent.com/44481292/189220407-9d2021c9-fc05-4f4d-93aa-f5bbf8889df2.png)

### Actual Behavior

missing up/down aria labels, maybe via new props

### Expected Behavior

 up/down aria labels or hidden

### Reproductio

[2022-09-08 22:04] geospatialem commented on #4976
Verified on `next`.

[2022-09-08 22:04] #4976 closed, assigned to geospatialem, benelan

[2022-09-08 22:05] geospatialem commented on #5259
Verified on `next`.

[2022-09-08 22:05] #5259 closed

[2022-09-08 22:29] jcfranco commented on #5286
Triaged per our convo to focus on a stopgap while we dig into the issue.

[2022-09-08 22:36] geospatialem commented on #4957
Verified on `next`.

![verify-time-picker-locale](https://user-images.githubusercontent.com/5023024/189237757-8a30305e-64d1-477a-8a9a-38588897939a.gif)

[2022-09-08 22:36] #4957 closed

[2022-09-08 23:36] geospatialem commented on #4880
The scrollbar is fixed with smaller `max-item` numbers, but when `max-items` is set to 8 or greater the scroller seems to still be added in.

It looks like this is a regression, last working in `beta.74`. @driskull, can you take a look?

- [`next`](https://codepen.io/geospatialem/pen/zYjrgeY) - scrollbar present when it shouldn't be
- [`beta.74`](https://codepen.io/geospatialem/pen/PoeZMxO) - expe

[2022-09-08 23:39] driskull commented on #4880
@geospatialem the scrollbar is still dependent on the window size as well. That might be the reason for it. It has a max height of `45vh`.

[2022-09-09 14:14] geospatialem commented on #4880
Thanks @driskull for the background! Was able to get the list without the scrollbar when opening in a larger window. Marking this as verified. ✔️

[2022-09-09 14:14] #4880 closed

[2022-09-09 20:45] canadajebus opened #5294 "calcite select component - add method to open"
### Description

The only method available on the calcite select component is setFocus().  This just seems to highlight the border of the element.  I'd like to have access to an open() method that opens the select / drop down.  This would be callable when another element such as the div/span beside it is clicked.

### Acceptance Criteria

See above.

### Relevant Info

_No response_

### Which Com

[2022-09-09 23:49] jcfranco commented on #5294
Thanks for the enhancement request. Unfortunately, the current implementation relies on `<select>`, which does not expose a way for us to support this.

Stepping back a bit, could you break down your use case?

[2022-09-10 00:02] canadajebus commented on #5294
Thanks for the reply.  Basically the div element that is the parent to the select component I'm creating, I want to wire a click event to.  I want that click event on the larger div to open the select element.

Basically my code so far looks like this:

[code]

Screenshot of current display with the parent div of the select highlighted in Chrome:
![image](https://user-images.githubusercontent.com/

[2022-09-12 16:37] AdelheidF commented on #2133
another use case:

This popover has 2 focusable elements.
![image](https://user-images.githubusercontent.com/44481292/189707846-da48969c-944b-414d-9022-0ab156af37f3.png)
I tab once to get to the button
![image](https://user-images.githubusercontent.com/44481292/189707929-bb91647a-6de3-49ff-8817-7a9e1298f8aa.png)
If I tab one more time the focus is lost from the popover and here on my browser page.

[2022-09-12 17:18] macandcheese commented on #2133
Yeah, in that case the behavior could be more like a modal. If we add focus trapping to popover, do we need to offer `disableEscape` and related options from modal? cc @geospatialem

[2022-09-12 18:20] geospatialem commented on #2133
We got similar feedback from a screen reader user earlier this summer, as they were expecting functionality similar to a modal. Would be a great feature to add to the component.

Ideally we'd like to always allow escape as an option for closing, as it is an expected behavior for keyboard users when open.

It looks like tooltip closes with the escape key, and there is no `disableEscape` property. P

[2022-09-12 19:29] jcfranco commented on #5294
Gotcha, thanks for sharing. I'm afraid we can't do much else regarding opening programmatically.

Although, not exactly what you requested, if you use a `calcite-label` as the parent, clicking on it will focus the select and allow users to open it via the keyboard or simply by clicking it. This brings it closer to the native HTML experience.

[2022-09-12 19:47] geospatialem commented on #4689
Verified in beta.93

[2022-09-12 19:47] #4689 closed

[2022-09-13 17:05] macandcheese opened #5312 "[Rating] Unexpected component behavior after setting value as user"
### Actual Behavior

As an end-user, after interacting with the rating, there is unexpected behavior that occurs after setting (or clearing) a user-set value.

https://user-images.githubusercontent.com/4733155/189963194-da8ee607-f4a8-46bf-8e21-9b36d2aeef64.mov

- If I've set, or set and cleared, the component will reset on a subsequent keyboard-invoked focus.
- I cannot immediately use space or en

[2022-09-13 20:52] svlesiv opened #5316 "calcite-input: icon-flip-rtl prop is not working"
### Actual Behavior

 Adding `icon-flip-rtl` property to the `calcite-input` component with an icon will not position the icon to the right.

<img width="927" alt="Screen Shot 2022-09-13 at 1 37 52 PM" src="https://user-images.githubusercontent.com/35533801/190004944-9a824a9b-0371-4ad6-af83-542effea67b8.png">

### Expected Behavior

The icon will be positioned to the right within the input field.

[2022-09-13 23:30] jcfranco commented on #5316
@svlesiv Maybe it's a doc issue, but the prop is working as expected. Setting `icon-flip-rtl` won't flip the icon automatically. The component has to be in an RTL context for the flip to happen: https://codepen.io/jcfranco/pen/ExLNPoL

Sidebar: unlike `input`, you need closing tags for `calcite-input`.

[2022-09-13 23:32] jcfranco commented on #5294
Closing based on ☝️.

[2022-09-13 23:32] #5294 closed

[2022-09-13 23:38] svlesiv commented on #5316
Great, thank you!

[2022-09-13 23:38] #5316 closed

[2022-09-13 23:57] driskull commented on #5312
@macandcheese the codepen seems to be incorrect for the issue.

[2022-09-14 00:07] macandcheese commented on #5312
Wrong link - updated. It's just a single instance of a rating component, but it illustrates the issue.

[2022-09-14 15:53] mpayson opened #5318 "Tooltip does not work with disabled button"
### Actual Behavior

Tooltip does not show up on hover when its target button is disabled

### Expected Behavior

Tooltip shows up like the doc example
<img width="490" alt="Screen Shot 2022-09-14 at 11 52 25 AM" src="https://user-images.githubusercontent.com/5892789/190202900-54b9f3e8-f18e-4777-a4f1-973b104c2c6e.png">

#### Additional context from #6461
When a disabled button contains information

[2022-09-14 16:00] AdelheidF commented on #2133
I think `calcite-modal` has the same issue.

We just got an issue from the accessibility testing group about this too.
[code]

[2022-09-14 16:34] driskull opened #5319 "Define and adopt a consistent tooltip pattern for all components"
### Description

Define a consistent pattern for adding tooltips to components.

Currently, we have some tooltips that are built in and configured by a property. We also have some components that allow slotting a tooltip component.

We should clean up this pattern and define when one vs the other is allowed or if both should always be allowed.

### Acceptance Criteria

A consistent pattern/rule fo

[2022-09-14 17:17] driskull commented on #5318
@mpayson For this, I think you would need to wrap the button in a div so that you can add the tooltip to that div instead.

Disabled elements don't fire hover events so we can't really do anything here. Its the same if you change <calcite-button> to <button>.

[2022-09-14 17:30] mpayson commented on #5318
Ah that makes sense, thanks for clarifying!

[2022-09-14 17:31] driskull commented on #5318
@mpayson actually, we may be able to do something here. I'll see if we can but for now wrapping it would be a good solution.

[2022-09-14 18:16] AdelheidF opened #5321 "calcite-slider throws error"
### Actual Behavior

When clicking left of handle on slider an error occurs and no calciteSliderInput event gets called. After that nothing works anymore. This started with beta.91.

![image](https://user-images.githubusercontent.com/44481292/190230955-f1cd3a76-73d0-4f83-a7b6-20eee7de5740.png)

### Expected Behavior

no errors

### Reproduction Sample

https://codepen.io/afreitag/pen/ExLNOeN

###

[2022-09-14 22:01] geospatialem commented on #5260
@annierm18 Is there an expected behavior with `switch` when in RTL?

We were able to verify in Apple's iOS their switch toggle is flipped, but want to confirm if that's the expected behavior, or if we should pursue disabling mirroring while in RTL.

![screenshot of ios switch toggle in rtl flipped](https://user-images.githubusercontent.com/5023024/190270406-30f98829-8be0-429f-aabf-fcb04ebb80a5.png

[2022-09-14 22:30] macandcheese commented on #1934
Note for @ashetland we should re-evaluate these proposed designs for validity.

[2022-09-14 23:00] driskull commented on #5319
The pattern should cover

- Default tooltips: If and when tooltips should be present by default within a component.
- Turning off default tooltips: If we should be able to disable a tooltip that is present by default.
- Slotting tooltips in place of default tooltips: Overriding a default tooltip with a custom one.

[2022-09-14 23:09] driskull commented on #5072
@benelan @jcfranco Is this something we want to do pre 1.0?

If we add an `open` property to the `flow-item`, to support it in `flow` we would also probably need to add an `open` property to `panel` which I don't think we want to do.

[2022-09-14 23:49] jcfranco commented on #4702
Closing as self-verified. cc @geospatialem

[2022-09-14 23:49] #4702 closed

[2022-09-15 15:08] C-Joubert opened #5328 "Color picker: "R", "G" and "B" not flipped in RTL"
### Actual Behavior

Hi! I'm Chris from the ArcGIS Urban team in Zurich.

(All the following screenshots were taken from https://developers.arcgis.com/calcite-design-system/components/color-picker/)

Color picker in LTR (Correct):
![Screenshot from 2022-09-15 16-49-04](https://user-images.githubusercontent.com/108517747/190436058-56e879e7-6733-4808-9b05-3d0ed39d1d35.png)

Color picker in RTL (inco

[2022-09-15 17:25] driskull opened #5329 "Panel: Escape key closes panel even when closable is true"
### Actual Behavior

Panel: Escape key closes panel even when closable is true

### Expected Behavior

Panel: Escape key should only close panel if the panel is closable

### Reproduction Sample

https://codepen.io/driskull/pen/MWGJrga?editors=1010

### Reproduction Steps

1. Open codepen
2. Focus on panel
3. Hit esc key

### Reproduction Version

Latest

### Relevant Info

_No response_

### Regr

[2022-09-15 17:25] driskull commented on #5329
@benelan @jcfranco can we triage this one?

[2022-09-15 18:33] jcfranco commented on #5328
@C-Joubert I can't reproduce this (see https://codepen.io/jcfranco/pen/poVRaWp?editors=1010), can you share more info about your repro case?

[2022-09-15 18:33] jcfranco commented on #5329
Triaged! 🚀

[2022-09-15 20:39] geospatialem commented on #3526
This enhancement was mentioned by the MapViewer team as well to accommodate start/end dates for the time slider.

![Mapviewer timeslider options with start date and end date validation](https://user-images.githubusercontent.com/5023024/190504232-fd79e36e-918b-4afe-9560-1fdfb7b342d2.png)

[2022-09-15 20:43] asangma opened #5331 "Button neutral and outline uses wrong color for border"
### Actual Behavior

When Button is `appearance="outline"` and `color="neutral"`, the border color is set to `foreground-3`.

### Expected Behavior

Border color should be `border-1`.

### Reproduction Sample

https://codepen.io/mtb-alan/pen/vYjgrJE

### Reproduction Steps

Inspect the button in the example.

### Reproduction Version

latest

### Relevant Info

_No response_

### Regression?

_No

[2022-09-15 20:44] asangma commented on #5331
cc @ashetland

[2022-09-15 20:44] asangma commented on #5331
cc @macandcheese

[2022-09-15 21:21] ashetland commented on #5331
@asangma Sadly, the codepen is blank, but I agree with this one.

[2022-09-15 21:23] asangma commented on #5331
LOLz. I pasted the wrong url.

[2022-09-15 23:47] Elijbet commented on #3682
There are several problems with tabs raised in this issue with regard to regression.

Part 1: Calcite Tabs confirmed to allow for long tab titles in the current release:
https://codepen.io/elijbet/pen/zYjNpwz?editors=1010
Part 2: Is addressed in the PR.
Part 3: Bordered and center layout does not work and looks like it never did. Does this need to be addressed as a new issue?

[2022-09-15 23:56] benelan opened #5333 "Bug: Error when Tree is the root node in a custom element"
### Actual Behavior

When `calcite-tree` is the root node, it doesn't render and there is an error in the console.
![image](https://user-images.githubusercontent.com/10986395/190527476-df1545a6-aa2d-446f-85d6-ce8c9f2097ff.png)

### Expected Behavior

`calcite-tree` still works correctly when it is the root node, e.g. the behavior when you wrap the tree with a `div` in the repro sample below.

###

[2022-09-15 23:56] benelan commented on #4814
Verified based on ☝️
I created a new issue for the error due to tree assuming there will be a parent node #5333

[2022-09-15 23:56] #4814 closed

[2022-09-16 00:22] benelan commented on #2381
verified on beta.94

[2022-09-16 00:22] #2381 closed

[2022-09-16 00:29] benelan commented on #4212
verified on beta.94
https://codepen.io/benesri/pen/MWGJPrV?editors=0010

[2022-09-16 00:29] #4212 closed

[2022-09-16 00:40] benelan commented on #5102
verified on beta.94
https://codepen.io/benesri/pen/VwXVXor?editors=0010

[2022-09-16 01:35] benelan commented on #4072
Unfortunately, in `beta.94` it doesn't let you paste valid hex at all now. Also, should it be using `internalSetValue()` instead of only setting the Input's value?

https://github.com/Esri/calcite-components/blob/ed9306124c6b0570fe3606a47b33840aeab129bb/src/components/color-picker-hex-input/color-picker-hex-input.tsx#L187

The way it is now won't update Color Picker's value property, as well as so

[2022-09-16 02:11] macandcheese commented on #5331
👍 agreed

[2022-09-16 06:40] C-Joubert commented on #5328
Hi @jcfranco, thank you for the quick response.

Sorry, I forgot to mention that we are using it in React.
I managed to reproduce the error here:
https://codesandbox.io/s/ancient-shape-f5d738?file=/src/App.js

[2022-09-16 06:58] C-Joubert commented on #5328
I think I found the issue now. You have to specify the "dir" property directly (`dir={"rtl"}`) for the RTL to work.
If you just use `style={{direction:'rtl'}}` then you get my error.
(I've updated the repro case above)

Ok so this is a more minor bug than I thought.
If this is intended, then maybe just update the documentation that css won't be enough to flip the component, and add `dir` to the li

[2022-09-16 15:25] jcfranco commented on #5328
We don't check CSS direction by design. This avoids layout thrashing when trying to use `dir` in rendering.

I'm not sure about doc'ing this since it is not a recommended practice:

[From MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/direction#:~:text=Note%20that%20text%20direction%20is%20usually%20defined%20within%20a%20document%20(e.g.%2C%20with%20HTML%27s%20dir%20attribute)%20rather%20t

[2022-09-16 16:04] driskull commented on #5318
@benelan @jcfranco can we use this issue as an area for discussion on if we should remove the `pointer-events:none` on disabled `calcite-button`?

[2022-09-16 16:07] COV-GIS opened #5334 "Tooltip: add `scale` property and `pointerDisabled` with the ability to disable the pointer"
### Description

Tooltip with half the padding and possibly slightly smaller font size.

### Acceptance Criteria

Add boolean `compact` (or similar) property to accomplish the above.

Also...possibly a property to disable the arrow element. When combined with `compact`, toolitp would be more like a native browser title.

### Relevant Info

_No response_

### Which Component

tooltip

### Example U

[2022-09-16 16:44] macandcheese commented on #5334
It does seem like we could offer scale property here to control the padding, and set a default font size. Currently you can add a custom declaration to adjust the font size of slotted content.

We expose `disable-pointer` on `calcite-popover`, that also seems like a reasonable addition to tooltip.

Thoughts cc @asangma @ashetland ?

[2022-09-16 19:29] benelan commented on #5318
Sure, @macandcheese do you have any design thoughts?

[2022-09-16 20:56] jcfranco commented on #5318
@benelan FYI, there's some initial discussion in the [related PR](https://github.com/Esri/calcite-components/pull/5320#issuecomment-1247337691).

[2022-09-16 22:27] jcfranco commented on #2266
Closing this one as developers can listen to the `calciteTileSelectChange` event per tile (a la radio/checkbox) instead. I also find it a bit odd to have a container component emit selection events. We can always revisit later this if we get enough requests.

[2022-09-16 22:27] #2266 closed

[2022-09-19 17:32] jcfranco commented on #4072
Taking another look! 👀

[2022-09-19 17:50] ethanbdev commented on #5286
Adding on that I am seeing poor performance with the `input-time-picker` when it is inside a custom element

[2022-09-19 20:55] jcfranco commented on #5333
Triaged for this release. cc @benelan @geospatialem

[2022-09-19 21:23] Elijbet opened #5345 "Fix(tabs): bordered and center layout combination does not work"
Related Issue: [#3682](https://github.com/Esri/calcite-components/issues/3682)

### Actual Behavior

The component doesn't currently support the `bordered` + `center` combination. I checked back to beta84 and it seems like it never did. `bordered layout="center"` just ignores the `bordered` attribute.

### Expected Behavior

bordered and layout="center" combined props should display the intended d

[2022-09-20 05:05] Elijbet opened #5348 "fix(button): styles missing some RTL equivalent CSS"
### Actual Behavior

`button` is missing RTL equivalents for animation, box-shadow, etc.

### Expected Behavior

`button` offers RTL support when these styles are used.

Use logical properties for box-shadow, box model properties, width/height, etc to be set based on the language used.

### Reproduction Version

v1.0.0-beta.94

### Relevant Info

Eg. some of the date box shadows use x-offset.

[co

[2022-09-20 15:04] Elijbet commented on #3668
Actually, I decided to rework this issue to cover all the components that need physical positioning swapped with logical, and have multiple PRs instead of separate issues. I noticed that there are quite a bit of components just with box-shadow physical positioning not accounting for RTL.

[2022-09-20 15:26] jcfranco commented on #5245
Priority bumped and triaged to this sprint. cc @brittneyzwolfer @benelan @geospatialem

[2022-09-20 15:55] geospatialem commented on #5328
Concur with Franco thoughts, and don't think we'd provide documentation on this since its not an industry supported approach.

We have some documentation on the [Localization page](https://developers.arcgis.com/calcite-design-system/localization/#right-to-left-rtl).

@C-Joubert, is there some context we could add in that helps provide the context of using `dir="rtl"`? The documentation currently s

[2022-09-20 16:23] Elijbet commented on #5348
Closing this in favor of #3668. Decided to rework  #3668 issue to cover all the components that need physical positioning swapped with logical (if missing support for RTL), instead of creating separate issues.

[2022-09-20 16:23] #5348 closed

[2022-09-20 16:31] macandcheese commented on #5334
Yes, `disable-pointer` shouldn't be limited to a single scale. I think using the `s`, `m`, `l` scale instead of default / compact makes sense. We use 10px on `s` `input-message`, so maybe worth evaluating that as well.

[2022-09-20 20:07] anveshmekala commented on #4764
The focus trapping and `calciteModalOpen` event trigger issues are resolved with `beta.93`. Could you please verify @nwhittaker.  Thanks.

[2022-09-20 20:17] nwhittaker commented on #4764
Verifying the code sample exhibits the expected behavior with `beta.93` -- thanks!

[2022-09-20 20:17] #4764 closed

[2022-09-21 01:45] benelan commented on #4246
To recap, this issue occurs when you build w/o an existing `components.d.ts` file, which manifests in new clones since we don't commit the generated file. As mentioned above, doing a second build fixes the issue. This is a [known Stencil issue](https://github.com/ionic-team/stencil/issues/3239), but we set up checks to prevent the missing types from making it into a release.

- #5323
- #5062

Clos

[2022-09-21 18:56] #5102 closed

[2022-09-21 19:01] benelan commented on #5071
verified on `next`, which has the events missing from `beta.94`

[2022-09-21 19:01] #5071 closed

[2022-09-21 20:31] AdelheidF opened #5369 "setFocus() requires a timeout in componentDidLoad()"
### Description

There is a change with setFocus in beta.94. The call itself works fine, but in the past I could just do this:
[code]
This no longer works. I have to add the setFocus() call into a timeout now. Not sure though what a reliable wait time is.

This is the case both for panel or flow-item, or if I want to set the focus on a close button I add myself. No difference there.

From @driskul

[2022-09-21 20:36] jcfranco commented on #5369
Could be related to https://github.com/ionic-team/stencil/issues/3580.

[2022-09-21 22:58] driskull opened #5371 "Common resource to store debounce consts"
### Background

https://github.com/Esri/calcite-components/pull/4527#discussion_r976809350

It would be nice if we had a location where we all shared common debounce timeouts for usage throughout components.

### Desired Outcome

A utility resource to store debounce timeouts. Potentially similar to the storage of z-index values.

[2022-09-21 23:48] geospatialem commented on #4060
This also came up in a [Community post](https://community.esri.com/t5/calcite-design-system-questions/add-style-to-dynamically-added-calcite-accordion) on 9/21/2022 to modify the header color.

As mentioned in the description above the background can be changed. Additionally, a customized border and icon color (if present) can be accessed, but not the header or description text color.

A Codepen e

[2022-09-22 11:15] dmartini-zrh opened #5374 "[Tree] Content density factor, remove left padding when list is non-nested"
## Description

This ticket concerns 2 enhancement requests to the Tree component.
They both come from specific use cases but might be beneficial for additional ones.

### Actual Behavior
1. When using a Tree component in combination with action buttons for each item of the list, the latter can appear very narrowly spaced.  In particular, this is the case when the `scale` is set to `s`
<img width=

[2022-09-22 16:44] macandcheese commented on #5374
Agreed, this would be great to look at, I think there's a lot of valid changes suggested here.

Removing the padding when there is no nested content makes a lot of sense to me. I struggle a bit with the "cozy / compact" terminology - to me cozy insinuates a density that is higher than default. If possible, finding a good default for s/m/l without the need for a secondary layout property would be i

[2022-09-22 17:16] LanceStasinski opened #5375 "`Action Bar` width changes when an `Action` gets an indicator."
### Actual Behavior

The width of an `Action Bar` component changes when an `Action`'s indicator is toggled which leads to distracting layout changes.
![190012279-aadc3751-c757-4efe-a1dc-4937077d2ca8](https://user-images.githubusercontent.com/57465065/191782499-140232ba-a5df-4073-98e2-76ce6d5515b3.gif)

### Expected Behavior

I expect the width of the `Action Bar` to remain constant when an `Actio

[2022-09-22 18:03] benelan opened #5377 "Unstable tests: Action Bar, Filter, Input Text, Input Number, Modal, Radio Button"
### Test type

unstable tests

### Which Component(s)

 action-bar, input-text, input-number, modal, radio-button

### Unstable Tests

- ~`calcite-action-bar › overflow actions › should slot 'menu-actions' on resize of component`~

- ~`calcite-input-number › increment/decrement functionality › should emit an event on an interval when up/down buttons are down and stop on mouseup/mouseleave`~ https:

[2022-09-22 18:49] jmanke opened #5379 "calcite-panel: Pressing escape will close the panel regardless of the closed or dismissed props"
### Actual Behavior

Pressing escape in a calcite-panel will cause close the panel even when `closable` or `dismissible` are false.

### Expected Behavior

Pressing escape should only hide the calcite-panel when `closable` is true.

### Reproduction Sample

https://codepen.io/jmanke/pen/abGLvEj?editors=1000

### Reproduction Steps

1. Go to reproduction sample
2. Click anywhere inside the calcite-

[2022-09-22 19:57] jcfranco commented on #5286
@ethanbdev @sam11927 We picked up the most recent version of `@floating-ui/dom`, which reverted a PR that was causing the performance hit. There was another PR that landed before that fixed additional shadow DOM positioning issues. Local testing looks good, but can you test w/ the latest `next` and check for floating-ui/popper issues you may have encountered before? FWIW, using `overlay-positionin

[2022-09-22 20:20] jmanke commented on #5379
fixed by #5330, closing

[2022-09-22 20:20] #5379 closed

[2022-09-22 20:37] AdelheidF commented on #5287
looks good, tested with beta.93

[2022-09-22 20:37] #5287 closed

[2022-09-22 21:10] AdelheidF commented on #4414
looks good, tested with beta.93

[2022-09-22 21:10] #4414 closed

[2022-09-22 21:25] ashetland commented on #5334
Agree on a full scale set of `s`, `m`, `l`. Here's a Chrome tip with our 10px-font tooltip overlaid. Might be worth going to 11px to increase readability.
<img width="467" alt="CleanShot 2022-09-22 at 14 22 31@2x" src="https://user-images.githubusercontent.com/108549080/191853914-e690b8bb-879f-494e-8ac4-213ce7090f06.png">

[2022-09-23 08:34] fendiaoxiaoshuazi commented on #5258
It also happens on `ko` and `ja`.

[2022-09-23 12:10] dmartini-zrh commented on #5374
@macandcheese thanks for your reply.
Exact terminologies and defining whether `density` and `size` shall be distinct or a single property are design topics that I wanted to suggest... but go beyond this ticket  😉
My idea of "cozy / compact" refers to other design systems such as SAP's [Fiori](https://experience.sap.com/fiori-design-web/cozy-compact/) (which basically recommends "cozy" for touch de

[2022-09-23 15:46] macandcheese commented on #5374
Yep, that context makes sense. Usually that ends up being an app-level or across multiple component type of user selection, so perhaps applicable at some point outside of tree specifically.

Maybe in this case if scale updates aren’t sufficient a line item space css var could work.

[2022-09-23 17:03] AdelheidF commented on #1060
related: https://github.com/Esri/calcite-components/issues/5369

[2022-09-23 23:32] mpayson opened #5381 "Pick list filter is missing icon in Firefox"
### Actual Behavior

The pick list filter icon is not displaying in Firefox but it is visible in other browsers

Firefox
<img width="1000" alt="Screen Shot 2022-09-23 at 7 29 35 PM" src="https://user-images.githubusercontent.com/5892789/192069296-6f256f9f-fa38-448e-8bb5-ced16982a39e.png">

Chrome
<img width="1003" alt="Screen Shot 2022-09-23 at 7 29 52 PM" src="https://user-images.githubuserconten

[2022-09-26 15:21] sam11927 commented on #5286
My testing with `next` last Friday still showed a performance dip with a small-moderate amounts of items, but I will test again and post. I am using 100 items as a benchmark in the codepens, though many users may have more than this.

[2022-09-26 15:24] capegreg opened #5382 "At min level 0, slider handle appears above scale, and label ticks no longer display 0 value"
### Actual Behavior

Issue 1.
As of 1.0.0-beta.94, the slider handle is positioned above the scale when value is 0.

Issue 2.
Handle jumps to scale line as slider value increases.

Issue 3.
The minimum tick level 0 no longer displays.

![image](https://user-images.githubusercontent.com/1051118/192314048-3eb7ba7e-f83d-4cf4-b901-29a7054a3706.png)

### Expected Behavior

In previous version 1.0.0-bet

[2022-09-26 15:28] sam11927 commented on #5286
TTI for 300 items is still around 1 second (maybe a bit more) for value-list, which is way better than it was previously.

Calcite-list still has a very long TTI but for now in analysis we can just use the value-list

[2022-09-26 18:17] annierm18 commented on #5260
@geospatialem the decision to flip a switch for RTL may vary from company to company. At ESRI, we decided not to mirror switches - we have documentation on this in the "General UI mirroring rules" section of this article: https://i18n.esri.com/website/html/RTL/index.html#general_1. This issue would be considered low priority for us.

[2022-09-26 20:30] geospatialem commented on #5260
Thank you for your great guidance to help us prioritize, @annierm18!

[2022-09-26 20:44] geospatialem commented on #5382
Looks like a regression from https://github.com/Esri/calcite-components/pull/5138 cc @Elijbet

[2022-09-27 02:00] nwhittaker commented on #2818
This issue appears to have been resolved somewhere in the [`next.539`][1] release. Possibly by https://github.com/Esri/calcite-components/pull/3836.

[1]: https://github.com/Esri/calcite-components/releases/tag/v1.0.0-next.539

[2022-09-27 02:00] #2818 closed

[2022-09-27 11:54] C-Joubert commented on #5328
Deaer @jcfranco and @jcfranco, thank you for the engagement and info! I appreciate it, and I definitely learned something.

This is a great idea, perhaps adding to https://developers.arcgis.com/calcite-design-system/localization/#right-to-left-rtl that you can also set the `dir` property on the component itself, with an example.

![Screenshot from 2022-09-26 10-53-53](https://user-images.githubuse

[2022-09-27 14:16] geospatialem commented on #5328
@C-Joubert thanks for your feedback! Will add in an example in the near future, and update this issue once resolved.

[2022-09-27 14:59] nwhittaker opened #5388 "Tooltip appears above modal overlay"
### Actual Behavior

If a tooltip is visible when a modal appears, the tooltip is layered above the modal's background overlay.

<img width="426" alt="Screen Shot 2022-09-27 at 10 54 09 AM" src="https://user-images.githubusercontent.com/421496/192561049-a467015d-c181-48d4-8dd7-9f8efba703d1.png">

### Expected Behavior

The tooltip is layered below the overlay.

### Reproduction Sample

https://cod

[2022-09-27 16:00] paulcpederson opened #5389 "Tile select: checked state border is hidden by other tiles"
### Actual Behavior

<img width="921" alt="Screen Shot 2022-09-27 at 8 54 17 AM" src="https://user-images.githubusercontent.com/1031758/192575326-752eddd4-fffc-4d05-892a-60914741f728.png">

Blue outline for checked tiles is underneath subsequent tiles.

### Expected Behavior

Should be able to see the full blue outline.

### Reproduction Sample

https://codepen.io/paulcp/pen/poVpxNZ

### Reproduct

[2022-09-27 20:47] driskull commented on #2004
It would be nice to schedule this one for a milestone after the new list PR gets merged. cc @jcfranco @benelan

[2022-09-27 23:14] jcfranco opened #5396 "modal's open behavior depends on hydrated attribute"
### Actual Behavior

Beta 93 introduced a regression (see https://github.com/Esri/calcite-components/commit/f1322c898d6e1a0d400cb5a3d97a08169b71b8f6) where an earlier approach using `calcite-hydrated` was not removed before merging. The bug causes modal's open behavior to be tied to the `calcite-hydrated` attribute, which may not be applied when the component is wrapped by another Stencil componen

[2022-09-28 00:28] jcfranco commented on #2868
Discussed with the team and we will not pursue cascading scale via props outside of parent/child structures (e.g., `accordion`/`accordion-item`). Doing so introduces opportunities for unintentional scale overrides across subtrees. I'll submit a separate issue to drop any scale lookups outside of this (looks like it's just the input components).

[2022-09-28 00:28] #2868 closed

[2022-09-28 00:28] jcfranco commented on #2868
@patrickarlt Apologies for the belated reply. Could you provide additional info about the use case? + @macandcheese @SkyeSeitz @ashetland for design considerations regarding separate text/size scale. We can also move this to a separate discussion.

[2022-09-28 11:52] amring1 commented on #4272
Was this fixed by the above PR?

[2022-09-28 21:48] anveshmekala commented on #5382
I stumbled up on this one while working on #4721 .

[2022-09-29 20:39] rslibed opened #5399 "Popover reference element position issues"
### Actual Behavior

When opening a popover with a trigger element, the popover will be incorrectly positioned for a brief moment, then correct itself.

### Expected Behavior

When opening a popover with a trigger element, the popover will correctly open next to the reference element

### Reproduction Sample

https://codepen.io/rslibed/pen/bGMvBPL

### Reproduction Steps

1. Open CodePen
2. Click

[2022-09-29 22:55] jcfranco commented on #4124
@macandcheese @ashetland @SkyeSeitz Can we confirm if this is a supported use case from the UI/UX perspective? If so, we should widen the placement options.

According to our doc, [any element can be slotted as a trigger](https://developers.arcgis.com/calcite-design-system/components/dropdown/#component-api-slots-dropdown-trigger), so it's not clear what our dropdown trigger/placement guidance is.

[2022-09-30 19:46] ashetland commented on #4124
I agree this make a lot of sense. Since anything can be a trigger, the dropdown should be positionable to where it best fits the use case. Top / bottom / left / right + start / end would all be acceptable depending on the layout.

[2022-09-30 20:58] driskull commented on #4124
Yeah I think if we allow it on dropdown because its not a form element then that's fine. We should run it by the a11y team though just to make sure. We can ask them if a role of "menu" is allowed to open on the sides.

[2022-10-03 14:43] geospatialem commented on #5382
Verified on `next` ✔️

[2022-10-03 14:43] #5382 closed

[2022-10-03 20:17] benelan opened #5403 "[Input] Should we translate value to different languages"
### Description

Now that we are working on getting the numberingSystem property and translation strings set up, the idea was brought up in a i18n meeting last week to translate our Input `type="text"` for consistency.

@annierm18 can you see if this is suggested/necessary?

### Acceptance Criteria

Determine whether we need to translate our Input component's value to different languages. If we do

[2022-10-03 22:03] geospatialem commented on #4840
Verified in `beta.95`. ✔️

[2022-10-03 22:03] #4840 closed

[2022-10-03 22:23] geospatialem commented on #4802
Verified on beta.95
![verified card select padding](https://user-images.githubusercontent.com/5023024/193696560-01bf72d2-48dd-4401-b834-86d457ba8475.png)

[2022-10-03 22:23] #4802 closed

[2022-10-03 22:27] geospatialem commented on #5329
Verified in beta.95

[2022-10-03 22:27] #5329 closed

[2022-10-04 01:23] mpayson opened #5407 "Flow documentation page is blank"
### Description

Flow documentation page seems to crash and show a blank page. Reproducible on Mac Firefox & Chrome

### Which Component

Flow

### Resources

https://developers.arcgis.com/calcite-design-system/components/flow/

<img width="1680" alt="Screen Shot 2022-10-03 at 9 22 02 PM" src="https://user-images.githubusercontent.com/5892789/193714324-a8129e1b-cce7-464f-a79d-dfe68a142e4a.png">

[2022-10-04 14:09] #5186 closed

[2022-10-04 15:05] geospatialem commented on #4213
Verified deprecation of `locale` and full support of `lang` prop in `beta.95`.

[2022-10-04 15:47] geospatialem commented on #3489
Experiencing some unexpected behavior in Windows with the `loader` component in `beta.95` when animations are disabled. The expectation is no animation is present when users set the system preferences to disable animations.

Rerouting back to dev, @anveshmekala where [this line](https://github.com/Esri/calcite-components/pull/5314/files#diff-c49920304a00485cbed674dfc0677ec47b04eefcb45cacfbfe25ce6f

[2022-10-04 16:33] geospatialem commented on #4896
Verified in `beta.95`.

![verified active tab style for tab with indicator](https://user-images.githubusercontent.com/5023024/193875035-aa88adc2-8d4c-4c48-94e8-ae45cde1606f.png)

[2022-10-04 16:33] #4896 closed

[2022-10-04 16:37] geospatialem commented on #5027
Verified in `beta.95`.

![verified end of day in input date picker component](https://user-images.githubusercontent.com/5023024/193875913-3a3b0c15-7038-4aa8-965d-c97a112455b5.png)

[2022-10-04 16:37] #5027 closed

[2022-10-04 16:49] geospatialem commented on #5396
@mjuniper Could someone on the Hub team verify the fix with `beta.95`, released last week?

With the `hub-components` script inclusion, unsure which would be the best version to test with this fix to ensure the `modal` opens regardless of hydration. 🛠️

[2022-10-04 16:53] macandcheese commented on #4629
Ideally the spacing is the same, in that example the bullet dot is visually misaligned. IMO it would make sense to push it out to match the item with icon. When there is an icon and item is selected, I do find it weird the dot isn’t present, even if it pushes the icon over, it could still be aligned to the gutter of icon / bullet.

When selection mode is none (no visual), we don’t need the space.

[2022-10-04 16:53] macandcheese commented on #4629
Ideally the spacing is the same, in that example the bullet dot is visually misaligned. IMO it would make sense to push it out to match the item with icon. When there is an icon and item is selected, I do find it weird the dot isn’t present, even if it pushes the icon over, it could still be aligned to the gutter of icon / bullet.

[2022-10-04 17:08] geospatialem commented on #5131
Verified in `beta.95`

![Screen Shot 2022-10-04 at 12 07 19 PM](https://user-images.githubusercontent.com/5023024/193882700-7cfb7160-a4e2-4014-8aca-02366ffc4b4a.png)

[2022-10-04 17:08] #5131 closed

[2022-10-04 17:45] jcfranco commented on #5403
This seems very complex and niche. Could you also share an example demonstrating how this would work?

[2022-10-04 17:53] benelan commented on #5403
Yeah I agree I would prefer to not have to do this. It was just brought up in the translations pseudo testing meeting so I thought I'd log an issue. @anveshmekala I think you mentioned it?

I don't think it would work in terms of translating a string while typing, because it would need to send a REST request to Google Translate, or another API, for every key. It _might_ work on blur, but that's ju

[2022-10-04 18:07] geospatialem commented on #4629
Given the context of alignment to accommodate `combobox` with and without icons (_info below_)...

@jcfranco **Should we proceed with closing and creating a new issue with this context or re-assigning this issue to the current or next sprint to tackle?** Fairly low in prioritization, but seems pertinent for the 1.0.0 release.

The recommended fix would include:
- [ ] Spacing the selection indicato

[2022-10-04 18:58] benelan commented on #5407
This should now be fixed on [`next.sites.afd`](
https://next.sites.afd.arcgis.com/calcite-design-system/components/flow/) (Esri vpn required). It will be deployed early next week on the public docs.

[2022-10-04 19:02] anveshmekala commented on #5403
Yup, I mentioned in the meeting regarding the number system and the outcome is that we don't translate locales with a logarithmic numbering system. Regarding Indic digits, we can explore the option but I do agree it can get complex. And the built-in translations are different because it's more of a static text rather than the user typing actively.

I don't think `<input type="text"/>` should be tr

[2022-10-04 19:11] kevindoshier commented on #5146
@jcfranco - this seems to be back again, with beta.95

[2022-10-04 19:25] geospatialem commented on #1471
Closing per the discussion above, with the `setFocus` method.

[2022-10-04 19:25] #1471 closed

[2022-10-04 19:37] geospatialem commented on #3725
Verified in August - Closing. 🚀

[2022-10-04 19:37] #3725 closed

[2022-10-04 19:47] benelan commented on #5403
Oh okay I must of misunderstood during the meeting. It sounds like no one thinks we should support translating input type="text" so I'm going to close this issue

[2022-10-04 19:47] #5403 closed

[2022-10-04 19:55] benelan commented on #5403
FWIW I have indic digits working in a codepen. I should have a PR soonish
https://codepen.io/benesri/pen/XWqYzrP?editors=0010

It only supports the `numberingSystem`s supported by `Intl.NumberFormat`, which are listed here
![image](https://user-images.githubusercontent.com/10986395/193912865-3858febe-44b6-4ee3-9681-7effee687616.png)
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference

[2022-10-04 20:07] geospatialem commented on #674
Context for the group is provided across JAWS, NVDA, and Voiceover. Closing this issue for the resolution.

[2022-10-04 20:07] #674 closed

[2022-10-04 21:17] ethanbdev commented on #5146
Also seeing this as back with popovers too, I can show in the viewer where

[2022-10-04 22:28] COV-GIS opened #5413 "Panel width scale"
### Description

A little more width for `m` width panel or add an additional width scale size.

The width scales between `m` and `l` seem disproportionate.

The medium to small ratio is 1.67 and large to medium is 2.25.

Propose `m` panel width calc be increased; or the current `l` becomes `xl` and `l` is sized half way between `m` and `l`; or similar.

### Acceptance Criteria

A responsive panel

[2022-10-04 22:41] COV-GIS commented on #5413
Closing.

Just realized I can set `--calcite-panel-width-multiplier`.

Perhaps add it to docs under styles.

[2022-10-04 22:41] #5413 closed

[2022-10-04 23:05] jcfranco commented on #5146
Thanks for reporting this. I knew it was odd this didn't come up during next testing before beta.95.

Can you share, even if it's in pseudo code, the general structure of your components? For context, floating-ui added a way for us to add back the fix for this, but we need to define a mechanism of when to do so since it can impact performance.

[2022-10-04 23:49] kevindoshier commented on #5146
@jcfranco - the codepen in the original issue above will repro it

[2022-10-05 01:04] mpayson opened #5414 "Flow item `scrollContentTo` does not work"
### Actual Behavior

It doesn't look like calling `scrollContentTo` on `calcite-flow-item` is working. It does still work on `calcite-panel`

### Expected Behavior

`scrollContentTo` scrolls the panel to the specified position

### Reproduction Sample

https://codepen.io/mpayson/pen/KKRBVjK

### Reproduction Steps

1. Open the codepen
2. Scroll panel to the bottom
3. Click button to scroll to top

[2022-10-05 18:31] jmanke opened #5417 "Input - Icon does not appear in Firefox browser"
### Actual Behavior

The calcite-input's icon does not appear in Firefox.

![Screen Shot 2022-10-05 at 11 23 36 AM](https://user-images.githubusercontent.com/19629809/194134199-b404896b-53b9-4389-b5f9-fbb931c3334d.png)

### Expected Behavior

The calcite-input's icon should appear in Firefox.

### Reproduction Sample

https://codepen.io/jmanke/pen/bGMjxGL?editors=100

### Reproduction Steps

1. Op

[2022-10-05 19:06] mpayson commented on #5417
Related #5381

[2022-10-05 20:25] omarkawach opened #5419 "[Combobox] Long Item text-labels should wrap"
### Actual Behavior

With a combobox and combobox items set to a fixed width of 250px, an item's text-label should get wrapped if the label is too long.

When a label is long and has spaces, I noticed that the wrapping works well. However, if the label does not have spaces, there is no wrapping.

Not all users name their layers with spaces. Some use underscores, camel cases, etc.

![Screen Shot 20

[2022-10-05 21:22] AdelheidF opened #5420 "calcite-slider no longer displays value 0"
### Actual Behavior

slider min value is 0 and that value displays with beta.93 and no longer displays with beta.95

beta.93
![image](https://user-images.githubusercontent.com/44481292/194166314-ce4c9b68-187e-4ac5-8ebd-6224ee284ede.png)

beta.95
![image](https://user-images.githubusercontent.com/44481292/194166235-b24d694e-54a2-48a3-b9e4-5fb6367866ec.png)

If I use a min value of 1 it appears, but