[2022-01-19 21:00] driskull commented on #3861
Tested on your codepen...

[code]

Going to close this one!

[2022-01-19 21:00] #3861 closed

[2022-01-19 22:00] COV-GIS opened #3961 "Enter key event should submit form"
### Description

Enter key event should submit form if any calcite input like component therein is focused.

I noticed this behavior on the desktop which is annoying but easy enough to get around by tabbing to submit button or using the mouse. But this is a problem on mobile devices....

1. The mobile keyboard `Go` button does nothing. The user has to close the keyboard and click the submit button

[2022-01-20 00:28] eriklharper commented on #3780
Yeah if we can somehow encapsulate the inline editable experience in a separate component that we can compose in all of the (eventually one day) separate input components, that would be the best reuse pattern that keeps all the use cases consistent.  Since right now its assumed an input will be slotted, then I imagine we will have to support textarea and others.

[2022-01-20 03:07] AdelheidF commented on #3925
We have a language code pt-BR. So what's the plan for that one?

[2022-01-20 13:49] MikeTschudi commented on #3420
Works beautifully in the codepen when the version is switched to *beta.75--thanks!

[2022-01-20 16:52] macandcheese commented on #3181
Sure, I think the card content and slot alignment itself can stay as is: just positioning the thumbnail at the values mentioned above (top, bottom, start, end)  would let folks achieve “horizontal” cards as well as some other layouts.

[2022-01-20 19:28] asangma commented on #3430
@macandcheese yeah...I think any chip in the chip group would get that alignment.

[2022-01-20 19:51] y0n4 commented on #3755
Is it also recommended to remove the verbiage or change the code demo by adding additional status prop in the components for [calcite-input ](https://github.com/Esri/calcite-components/tree/master/src/components/calcite-input#with-label) and [calcite-input-mesage](https://github.com/Esri/calcite-components/tree/master/src/components/calcite-input-message#basic)?

[2022-01-20 20:44] jcfranco commented on #3925
I think we should do 2 things:

1. add support for `pt-BR`
2. enhance the locale util to fetch the base language file if the specific one cannot be found and show English if this one fails.

I'll create issues for these.

[2022-01-20 21:07] jcfranco commented on #3925
Actually, the base language [lookup worked before](https://codepen.io/jcfranco/pen/NWaZbbN?editors=1000). We didn't have a test for this case, so this ended up introducing a regression. I'll create an issue for this. cc @y0n4

[2022-01-20 21:13] jcfranco opened #3965 "input-date-picker/date-picker no longer looks up the base language file if the specific locale code is not supported"
### Actual Behavior

Setting `pt-BR` (no matching locale file) as the date-picker's `locale` no longer loads the `pt` locale.

### Expected Behavior

When an unsupported locale value with language and region is provided (e.g., `pt-BR`), the language file should be used as the locale before falling back to English.

### Reproduction Sample

https://codepen.io/jcfranco/pen/NWaZbbN?editors=1000

###

[2022-01-20 21:13] jcfranco commented on #3965
Triaged to this milestone. cc @benelan

@y0n4 Can you look at this one?

[2022-01-20 21:41] driskull commented on #3780
This pr fixes any errors when an input is not slotted in an inline-editable. https://github.com/Esri/calcite-components/pull/3889

However, it doesn't show any error state if the slotted input is missing.

@eriklharper can you review the PR?

[2022-01-20 22:36] AdelheidF commented on #3925
Olga says yes, they're the same for calendar.

[2022-01-20 23:08] jcfranco opened #3967 "All custom events are marked as cancelable"
### Description

The automatically-generated [`docs-json.json`](https://unpkg.com/@esri/calcite-components@1.0.0-beta.75/dist/extras/docs-json.json) shows all custom events as cancelable. This file is used to power the SDK and in its current state will be misleading since [Stencil makes all custom events cancelable by default](https://github.com/ionic-team/stencil/issues/1023#issuecomment-42002241

[2022-01-20 23:21] Elijbet commented on #3761
Did some additional testing and confirmed it also occurs outside of Ember.

https://user-images.githubusercontent.com/19231036/150437490-0d591a7f-6c37-42d5-ad43-cfe20316a5a6.mov

[2022-01-20 23:21] raje9276 commented on #3925
@jcfranco pt is default for pt-PT (Portuguese Portugal) and it is different from pt-BR (Portuguese Brazilian). For Calendar the translations and formats are same but ESRI translation (resource files) are translated for pt-PT and pt-BR (different translations).

Did translation services team give you the translations?

[2022-01-20 23:46] jcfranco commented on #3925
@raje9276 Thanks for the info!

We have calendar resource files for [`pt.json`](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-date-picker/assets/calcite-date-picker/nls/pt.json) and [`pt-PT.json`](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-date-picker/assets/calcite-date-picker/nls/pt-PT.json), but none for `pt-BR`. If I understood

[2022-01-20 23:52] raje9276 commented on #3925
@jcfranco you need 2 files pt-PT.json (pt.json) and pt-BR.json even though they are the same.

We need 2 files because there is a possibility that the translations may change as we add more strings or the current translations change as part of language update.

[2022-01-21 00:15] jcfranco commented on #3925
Got it. I'll submit a PR to add the missing file. Thanks again!

[2022-01-21 00:52] Elijbet opened #3971 "Enhancement: Introduce avatar stacking."
### Description

Update: The description attached below has been covered in #1933, and this issue is being repurposed to introduce Avatar Stack. Something along this concept: https://developer.atlassian.com/platform/forge/ui-kit-components/avatar-stack/

Putting this here as a consideration for the design backlog @SkyeSeitz @ashetland @alisonailea.
@macandcheese suggested this as something that ha

[2022-01-21 01:28] jmanke opened #3973 "calcite-segmented-control: calciteSegmentedControlChange event should be cancellable"
**monday.com sync:** #18048707764

### Description

The `calciteSegmentedControlChange` event on the `calcite-segmented-control` should have the ability to be cancellable as per the [docs](https://developers.arcgis.com/calcite-design-system/components/segmented-control/#api-reference-events-calciteSegmentedControlChange).

### Acceptance Criteria

The `calciteSegmentedControlChange` event should c

[2022-01-21 01:50] jcfranco commented on #2452
If there's pending work regarding this, can we create a separate issue and close this one? From what I gather, the rest from the original issue has been addressed. Let me know if this isn't the case. cc @benelan

[2022-01-21 02:56] macandcheese commented on #2452
Yeah I don’t think this is an issue anymore at least for my case above.

[2022-01-21 15:34] mpayson opened #3974 "Update source maps in calcite-components-react to avoid warnings"
### Description

With the latest create-react-app (5.0), building calcite-components-react results in a stream of warnings about invalid source maps. Looking at some of the source maps in the distribution, it appears they point to an `src` folder that's not included which causes the warnings. Here's an example from `dist/components.js.map`:

There's a [CRA issue for this](https://github.com/facebo

[2022-01-21 18:07] benelan commented on #3761
@Elijbet can you post a codepen for that repro sample please?

[2022-01-21 18:35] TheBlueDog commented on #3890
We are seeing this behavior in Field Maps as well.

![Screen Shot 2022-01-21 at 1 26 59 PM](https://user-images.githubusercontent.com/5419306/150581600-7037bb86-e055-4a59-8b28-9587e4fcb8aa.png)

[2022-01-21 18:36] benelan commented on #3890
Triaging this to the next sprint cc @jcfranco @macandcheese

[2022-01-21 18:37] benelan commented on #3891
Triaging this to the next sprint since it may be related to #3890 cc @jcfranco @macandcheese

[2022-01-21 18:37] asangma commented on #3955
@benelan I made a PR but then realized this issue doesn't have a milestone.

[2022-01-21 18:38] benelan commented on #3955
No worries, it happens.

[2022-01-21 19:00] macandcheese commented on #3971
Specifically for chips, this could potentially be encompassed by https://github.com/Esri/calcite-components/issues/1933.

[2022-01-21 19:00] benelan commented on #3974
The react output target has a peer dep of react 16.7.0 which will cause issues with CRA 5 even if this is resolved.

[2022-01-21 19:07] benelan commented on #3974
Never mind it looks like they don't let you do that anymore
![image](https://user-images.githubusercontent.com/10986395/150585803-d1d5f12b-ec77-4060-88ce-2773ecd9912b.png)

[2022-01-21 19:09] ellenupp opened #3976 "Add `select` method to calcite-input"
### Description

Similar to the `setFocus` method, we would like a `select` method on the calcite-input to wrap the [input select method](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/select).

As a workaround we can do something like `calciteInput.shadowRoot.querySelector('input').select()`, but it would be preferable for the api to expose this so we don't need to go into the

[2022-01-21 19:17] mpayson commented on #3974
I believe create react app works with older versions of react (by changing the react version in package.json, [stack](https://stackoverflow.com/questions/46566830/how-to-use-create-react-app-with-an-older-react-version) & [CRA](https://github.com/facebook/create-react-app/discussions/9917) discussions), so it's possible to meet the peer dependency and still have the issue. Also, I think this stems

[2022-01-21 19:30] benelan commented on #3974
I'm pretty sure you have to downgrade `react-scripts` too which would be downgrading CRA. Do you have a repro sample of `react-scripts` v5x and `react` v16x?

[2022-01-21 20:06] ellenupp opened #3978 "Error when expanding action bar with expand tooltip"
### Actual Behavior

For an expandable action bar with a tooltip in the `expand-tooltip` slot, expanding the action bar results in a console error:

![image](https://user-images.githubusercontent.com/14304581/150593321-8da5ac49-679d-4b9e-b1c1-7ec921860020.png)

### Expected Behavior

Action bar expands and collapses with no error

### Reproduction Sample

https://codepen.io/ellupp/pen/xxXovPg?edit

[2022-01-21 20:33] ellenupp commented on #3720
In dashboards we are using a dropdown triggered by a calcite-fab, which suffers from the same problem.
https://codepen.io/ellupp/pen/LYyKQwq?editors=1000

[2022-01-21 20:44] zaramatheson opened #3979 "Date-Picker - Unable to edit year input"
### Actual Behavior

Editing the year on calcite date-picker or input-date-picker does not stick.
![date](https://user-images.githubusercontent.com/50747646/150597345-d97a0731-38ed-4616-8027-b006e8503e19.gif)

### Expected Behavior

The year you enter into the calendar should stick and the calendar should update to reflect that year.

cc @fra

### Reproduction Sample

https://esri.github.io/calcit

[2022-01-21 20:52] benelan commented on #3974
@mpayson, this should be fixed in the coming `0.17.0` release of `@esri/calcite-components-react`. Can you please verify using your app after the release? Thanks!

[2022-01-21 20:56] jcfranco commented on #3526
Validation is something we want to support consistently across our form/value components. I'd like for the design team to look at this holistically before we start thinking about implementation. cc @HeathMeyette @macandcheese @benelan

[2022-01-21 21:08] AdelheidF commented on #3979
we had an issue before https://github.com/Esri/calcite-components/issues/1557

[2022-01-21 21:16] Elijbet commented on #3761
https://codepen.io/elijbet/pen/XWeLvWW?editors=1010

[2022-01-21 21:32] y0n4 commented on #3755
Does `calcite-label` still need the `status` property other then the purpose of having it propagate to `calcite-input`/`calcite-input-message`?

[2022-01-21 21:35] driskull commented on #3755
No, we should deprecate it or remove it.

[2022-01-21 21:49] FelFly opened #3982 "calcite-value-list drag-enabled selection and auditory reordering not available to screen-readers"
### Summary

Using a screen-reader with the calcite-value-list, I want to hear inline instruction on what keystrokes to use to interact with the component. I want to be able to "pick up" an item, hear the value label of the item associated with the drag control, move my selection and hear its current position, and "drop" my selection in a new position.

Applicable WCAG Guidelines
[1.3.3 Sensory Ch

[2022-01-21 23:18] jmanke commented on #3924
Tried this on next, works great for me, thank you!

[2022-01-23 23:23] mpriour opened #3986 "Progress component is fully invisible in high contrast mode"
### Summary

The progress component is fully invisible in high contrast mode. Both the track and the bar use `background-color` values to make the elements show. The values used are changed to `none` by the forced colors rendering process that occurs in high contrast, making them not show at all.

This issue was discovered as part of #3887 - [High contrast audit](https://github.com/Esri/calcite-co

[2022-01-24 00:03] mpriour opened #3987 "Calcite-switch has no selected state color in high contrast mode"
### Summary

The switched or checked state for `calcite-switch` is not visible in any browser when a high contrast accessibility theme is selected on a Windows computer. The lack of color makes it hard to determine what state the switch is in, unless there are obvious labels on either side of the switch.

This issue was discovered as part of #3887 - [High contrast audit](https://github.com/Esri/ca

[2022-01-24 01:48] #3684 closed

[2022-01-24 18:10] mpriour commented on #3987
There are a few options for the checked state of the switch track in high contrast mode:

* `linkText` system color - `linkText` should always be a distinctly different color that normal text and have good contrast with the window's background color.
<img width="550" alt="switch-linktext" src="https://user-images.githubusercontent.com/142636/150838291-9f738523-5472-4c94-a4c5-5a27a2c0bdd1.png">

*

[2022-01-24 18:13] benelan commented on #3987
cc @macandcheese

[2022-01-24 18:16] benelan commented on #3864
Yes that is correct. I can make sure the icons bump before the next release.

[2022-01-24 19:18] macandcheese commented on #3987
IMO the `canvasText system color` is the best option here.

[2022-01-24 19:20] driskull commented on #3987
It seems like we need to setup screener tests for high contrast mode. @eriklharper @benelan @jcfranco

[2022-01-24 19:21] eriklharper commented on #3987
Perfect use case!

[2022-01-24 19:29] mpriour commented on #3987
Thanks @macandcheese, that matches the color I used in the radio button high contrast fix.

[2022-01-24 19:49] MehulChoksey commented on #3987
+1 for `canvasText system color `

[2022-01-24 21:29] benelan opened #3995 "Bug: calciteTreeSelect emits when opening/closing child trees"
### Actual Behavior

`calciteTreeSelect` emits when opening/closing child trees, even though no selection is happening

### Expected Behavior

`calciteTreeSelect` should only emit when an item is selected.

### Reproduction Sample

https://codepen.io/benesri/pen/QWOLJPa

### Reproduction Steps

1. Click on the caret to open/close child 2
2. Notice in the console that clicking on the caret emits `c

[2022-01-24 23:36] saumeel12 opened #3997 "Enhancement: Request for Nesting, Drag and Drop, Collapse for Value List Items"
### Description

This is a feature request for the List Item/ Value List component. This is part of an effort to bring the UI for Content and Member Categories into Calcite.

This was originally opened here: https://github.com/Esri/calcite-components/issues/3551 but has been updated with newer designs in this issue. This also works with Inline editing for list item which I believe is an active iss

[2022-01-24 23:37] saumeel12 commented on #3997
@asangma

[2022-01-25 10:54] gmiele commented on #3740
thanks, @driskull.

As I'm not familiar with your process and timelines:
- What does this mean in terms of timeline?
- What does the triage process include for such issues?
- When will the next triage happen?

/cc @jcfranco

[2022-01-25 17:19] macandcheese opened #4003 "[Bug] - Slotted Dropdown no longer displays correctly on load"
### Actual Behavior

As of beta 75, slotted dropdowns in a panel no longer display. Even when `placement="bottom"` is used, the element displays off screen.

### Expected Behavior

The dropdown (slotted in panel in center row) behaves as it did in beta 74 and correctly displays.

74 repro (working):
https://jsbin.com/samedesaxo/1/edit?html,output

### Reproduction Sample
75 repro (not working):
ht

[2022-01-25 18:00] jcfranco commented on #3740
We triage every 2 weeks, focusing on bug fixes, and high-priority items (for 1.0.0 release and stakeholders). You'll need to sync up w/ @benelan on this.

FWIW, we release every 2 weeks.

Tomorrow.

[2022-01-25 18:24] benelan commented on #3878
verified on beta.75

[2022-01-25 18:24] #3878 closed

[2022-01-25 18:26] benelan commented on #3659
verified on beta.75

[2022-01-25 18:26] #3659 closed

[2022-01-25 18:33] benelan commented on #3629
@asangma can you verify this one? The line height is on content rather than host/container like suggested, so I just want to make sure that's what you're looking for.

[2022-01-25 18:34] benelan commented on #3577
verified on beta.75

[2022-01-25 18:34] #3577 closed

[2022-01-25 18:35] AdelheidF commented on #3003
Looks good to me.

[2022-01-25 18:36] benelan commented on #3048
verified on beta.75

[2022-01-25 18:36] #3048 closed

[2022-01-25 18:37] benelan commented on #3003
Thanks for checking, looks good to me as well. verified on next

[2022-01-25 18:37] #3003 closed

[2022-01-25 19:47] benelan commented on #4003
triaging this to next sprint since it is preventing the afd doc from being updated cc @macandcheese @jcfranco

[2022-01-25 20:01] paulcpederson opened #4004 "Enhancement: Custom labels for slider handles and ticks"
### Description

Currently the slider supports a `labelHandles` prop which shows the numeric value of each handle above the slider. There are many cases where the numeric value is not user friendly, and we'd like the ability to set a custom handle text.

### Acceptance Criteria

API should allow for dynamically updating the custom handle text in response to changes. We propose adding this via an a

[2022-01-25 20:13] mpriour opened #4005 "a11y Date-picker component is unusable in high contrast"
### Summary

In high contrast mode on Windows, the date-picker component is not useable.
* There is no visible indicator of the selected date.
* There are too many interior borders.
* There is no visible date range indicator.
* There is no visible indicator of a keyboard focused date.

This issue was discovered as part of #3887 - [High contrast audit](https://github.com/Esri/calcite-components/wik

[2022-01-25 20:28] mpriour commented on #4005
This issue could use some design help, @macandcheese. It might also benefit from some input by an actual high contrast user like @MehulChoksey.

By moving the `outline-none` tailwind apply rules to the focus state, it solves the major problems of the single date date-picker.
<img width="550" alt="date-picker with better focus rules" src="https://user-images.githubusercontent.com/142636/151053020-1

[2022-01-25 21:18] macandcheese commented on #4005
It seems like we could simplify that and use the secondary color (like in your filled example), which matches the approach on switch, for example. I'm not sure if that introduces further complexity to ensure the text color of numbers works.

If the rounded "ends" cause issues, it may be simpler to use a full fill on this. Perhaps we could look at a few other design systems examples for inspiration

[2022-01-25 21:35] mpriour commented on #4005
@macandcheese I'm currently writing an article about high contrast support in other design systems, basically it is rarely considered or designed for.

The text in the filled example is surrounded in a rectangle of black (the window background color). This ensures that the text is always readable no matter what color it is on top of. That is a W3C standard that all the browsers are doing in high c

[2022-01-25 21:52] MehulChoksey commented on #4005
My preference will be ![image](https://user-images.githubusercontent.com/854529/151065324-8f291ff8-8637-4ba5-85f2-aae77aada368.png) . Start and end cell background could be the green if possible (same color as that for the other cells in the range)

[2022-01-25 22:20] nwhittaker opened #4007 "FAB inside `<form>` unexpectedly causes form submission"
### Actual Behavior

Clicking a FAB that's inside a `<form>` causes the form to submit which can lead to an unexpected page refresh.

### Expected Behavior

Clicking the FAB does not trigger form submission.

### Reproduction Sample

https://codepen.io/nwhittaker-esri/pen/LYOYmvR?editors=1001

### Reproduction Steps

1. Visit the codepen and click the FAB.
2. Notice the form's `onsubmit` handler p

[2022-01-25 22:30] driskull commented on #4007
I think you are correct.

We may also want to set the type to button in these components as well.

![image](https://user-images.githubusercontent.com/1231455/151070440-d463e3ef-aaad-45b1-8bbb-c45c4b8b1762.png)

[2022-01-25 22:55] mpriour commented on #4005
@macandcheese & @MehulChoksey here are some screen shots with the `highlight` versus `canvasText` colors for the fill. I couldn't easily get the fill to draw in the start and end dates, but I could remove the fill from there, so that is what these show.

|Fill style|Selected|Selecting end date|Adjusting start date|
|-|-|-|-|
|`highlight`|<img width="248" alt="Screen Shot 2022-01-25 at 4 20 24 PM"

[2022-01-25 23:03] MehulChoksey commented on #4005
Agree. Like the highlight one better...
Also, the color contrast for Next and Prev btn for the Month selection could be a bit more...

[2022-01-25 23:25] macandcheese commented on #4005
Agreed

[2022-01-25 23:26] macandcheese commented on #4005
Agreed.

[2022-01-25 23:55] jcfranco opened #4009 "popover's internal hiding of overflow trips up positioning when nested"
### Actual Behavior

Nesting popovers will demonstrate issues with positioning. See the repro case for more details.

### Expected Behavior

Nested popovers to be placed properly.

### Reproduction Sample

https://codepen.io/jcfranco/pen/mdqdKzz?editors=1000

### Reproduction Steps

1. Click on the buttons from the already open parent popover
2. Notice the behavior (each configuration has a descri

[2022-01-26 01:16] jcfranco commented on #3160
@Elijbet Looks like this got fixed a while back. Can you confirm if anything else is pending?

[2022-01-26 01:19] Elijbet commented on #3160
I believe it was finalized and merged.

[2022-01-26 01:26] jcfranco commented on #3160
Thanks, updating labels!

[2022-01-26 01:27] jcfranco commented on #3160
Never mind, you had already done so. 😅

[2022-01-26 15:44] jul11557 commented on #3338
@macandcheese +100 on this! We have a custom alert in ArcGIS Mission that does exactly what you're suggesting:

- It allows users to manually dismiss the alert with an `x` button _and_ we set an automatic dismiss timer on the alert. That way, we can allow un-intrusive messages to automatically disappear, and impatient users could easily tap the X to close.
- It remains on-screen when users click a

[2022-01-26 18:02] jul11557 commented on #3338
No prob!

Thanks—we should be all set with the alert sound stopping. The only other requirement that we may need with regards to sensor buttons would be the ability to click or expand multiple alerts so they can be viewed in a vertically stacked position (when the alert is positioned on the far right side of the page). I know stacking is generally not the preferred practice, but in this particular

[2022-01-26 18:08] macandcheese commented on #3338
Agreed - this has been requested and although a bit stale can be tracked here: https://github.com/Esri/calcite-components/issues/2835

[2022-01-26 18:14] macandcheese commented on #2835
@jcfranco - I think you mentioned you had an idea for this that wouldn't require a wrapping `calcite-alerts / calcite-alert-group`.

Could you expand on that (alert queue pun alert 🚨 )? Multiple items may need to be positioned in a single fixed container along with "extra UI elements", I am not sure the best way to achieve that without some kind of wrapping parent to control placement and manage e

[2022-01-26 19:50] ellenupp commented on #2885
Encountering this as well. Put together a sample before I noticed this was already logged: https://codepen.io/ellupp/pen/ZEaYeMV?editors=1010

[2022-01-26 21:20] driskull commented on #3727
@rpanichakit9541 does this codepen make any difference?

https://codepen.io/driskull/pen/JjOoJaa?editors=0010

[2022-01-26 21:25] rpanichakit9541 commented on #3727
@driskull - Unfortunately, I still see the issue in your codepen

![tooltip_perf](https://user-images.githubusercontent.com/44479773/151249472-c9818da4-1eda-4af3-9f82-441d3b7f1e1c.gif)

[2022-01-26 21:25] benelan commented on #3101
The functionality described in Anvesh's comment above is verified on `next`

[2022-01-26 21:25] #3101 closed

[2022-01-26 21:29] benelan commented on #1475
Verified on `next` with the caveat Adelheid mentioned

We don't document global attributes, but do you think this should be mentioned somewhere due to the caveat? @jcfranco @macandcheese

[2022-01-26 21:35] COV-GIS opened #4012 "calcite-accordion-item content padding"
### Description

`calcite-accordion-item`'s shadow dom `div[class="accordion-item-content"]` has a rendered padding of `0 0.75rem 0.5rem 0.75rem`. The top padding of `0` puts any content right up against the bottom of the accordion header and the header focus can overlap the content by a pixel or so.

### Acceptance Criteria

~~Put some space between `calcite-accordion-item` header and content.~~

[2022-01-26 21:36] driskull commented on #3727
@rpanichakit9541 I'm not sure we can do anything to fix this at this time.

If you remove setting the referenceElement on the tooltip, I suspect the performance issue will no longer be a problem.

@benelan @jcfranco maybe we can move this to the backburner for now?

The reason for this performance hit is that it updates the placement of the tooltip when scrolling occurs. We need to have the positi

[2022-01-26 21:40] rpanichakit9541 commented on #3727
@driskull - Yes I verified that removing `referenceElement` does resolve the issue.

[2022-01-26 21:46] benelan commented on #2948
verified on `beta.75` https://codepen.io/benesri/pen/GROgvRJ

[2022-01-26 21:46] #2948 closed

[2022-01-26 23:27] anveshmekala commented on #3572
@macandcheese & @asangma  can we default the `aria-live` value to be `polite` and when `autoDimiss` is enabled set it to `assertive` . Any thoughts?

[2022-01-26 23:39] macandcheese commented on #3572
I found this example where its configurable via prop in a similar component: https://bootstrap-vue.org/docs/components/toast#comp-ref-b-toast-props

[2022-01-27 00:07] macandcheese commented on #3834
@asangma are any other changes to existing components needed to make this consistent across the library?

[2022-01-27 00:12] anveshmekala commented on #3572
Was thinking to use the existing user configurable prop `autoDimiss`  to set assertive for `aria-live` as the example did using `role` instead of having a new prop for just the aria-live .

[2022-01-27 00:18] AdelheidF commented on #3883
looks good to me now

[2022-01-27 00:20] AdelheidF commented on #3883
Actually, I think the unit needs to stay in front of the number.

This is wrong
![image](https://user-images.githubusercontent.com/44481292/151268708-6567776f-cd94-4540-8731-b1c11acf5905.png)

[2022-01-27 00:34] jcfranco commented on #3979
@eriklharper Can you look at this for the next milestone?

[2022-01-27 00:47] AdelheidF commented on #1475
I tested all languages here:
https://codepen.io/afreitag/pen/MWOYOrp

Some don't seem to place the am/pm correctly. I don't know which version is right, but it should be the same between `calcite-time-picker` and `calcite-input-time-picker`.

![image](https://user-images.githubusercontent.com/44481292/151270846-b17b212d-508f-48e3-9e59-633d1893e754.png)

![image](https://user-images.githubuserconte

[2022-01-27 00:53] benelan commented on #3883
Assigning back to @anveshmekala to look into ^

[2022-01-27 00:54] jcfranco commented on #3900
Separate discussion, but is there a way we can test this across components? We'll need to audit for other components that may need `position: relative`?

[2022-01-27 00:55] AdelheidF commented on #3883
Those 2 might be related, not sure. https://github.com/Esri/calcite-components/issues/1475#issuecomment-1022739244

[2022-01-27 01:08] jcfranco commented on #3949
Looks like the tab-title's [tab change handler](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-tab-title/calcite-tab-title.tsx#L189) needs to check the event's `composedPath` instead. It doesn't work when wrapped in another custom element because the event is retargeted, so the target is not the tab-title, but the wrapping element.

[2022-01-27 15:02] moosetraveller commented on #3891
It happens as well when the menu is closed:

![image](https://user-images.githubusercontent.com/3456293/151384705-07456641-1034-449c-b677-ebb6dd317b51.png)

`1.0.0-beta.75`

[2022-01-27 16:27] anveshmekala commented on #2800
@benelan  can we close this issue considering we iterate the existing values instead of having a prop for users to pass the time value in `ms| s` ?

[2022-01-27 16:56] asangma opened #4015 "Disabled state may not be significant different enough"
### Actual Behavior

Sometimes when all Actions are disabled, the disabled state may have too much contrast to be seen as disabled especially when there are not other not-disables Actions in the UI.

### Expected Behavior

More disabled-y disabled lack of contrast.

### Reproduction Sample

https://codepen.io/mtb-alan/pen/bGYdGeP

### Reproduction Steps

1. View the sample

### Reproduction Versio

[2022-01-27 17:34] raje9276 commented on #1475
Calcite Input picker is the right format. AM/PM should be placed before the hour :minutes
CLDR Code
<timeFormatLength type="short">
   <timeFormat>
   <pattern>**a h:mm**</pattern>
</timeFormat>

[2022-01-27 17:39] anveshmekala commented on #3883
@AdelheidF  Setting meridiem  in front of the time format is applicable for just `rtl` direction ?

cc: @asangma

[2022-01-27 17:42] AdelheidF commented on #3883
Seems to be also the case for ko and zh, see here: https://github.com/Esri/calcite-components/issues/1475#issuecomment-1023475022

Isn't there a lookup you could use?

I don't know those specifics....

[2022-01-27 18:19] driskull commented on #3625
@mjuniper I have a PR with a fix. Do you think you could test it out in your app? https://github.com/Esri/calcite-components/pull/4014

[2022-01-27 18:22] jcfranco commented on #2800
@macandcheese @asangma Can you confirm if we need to tweak the values and if so, which values to use? Otherwise, let's close.

[2022-01-27 18:22] driskull commented on #3727
I think floating-ui might fix this performance a bit. It would allow us to not reposition any hidden tooltips.

[2022-01-27 18:24] macandcheese commented on #2800
Defer to @asangma here as the initial issue was his.

[2022-01-27 21:56] jcfranco commented on #3883
@anveshmekala brought this up, but is this a duplicate of #1475? They both seem related to the ordering of time parts per locale.

[2022-01-27 22:00] AdelheidF commented on #3883
The original issues addressed separate things, but what's left is kind of similar now.

I opened this issue here because of you guys not commenting on this: https://github.com/Esri/calcite-components/issues/1475#issuecomment-1005093188

[2022-01-27 23:18] driskull commented on #4009
I can get this to work by using the word break mixin instead of overflow:hidden.

However, the action button used for the close button doesn't support rounded corners. So we would likely have to find some way to support that.

![image](https://user-images.githubusercontent.com/1231455/151459348-89178839-6149-4e58-8b8b-359827bff186.png)

[2022-01-27 23:21] benelan commented on #4009
I'll be working on #3152 which will create a global css var for border radius. So we will have precedent and the ability to use it here if design approves

[2022-01-27 23:32] driskull commented on #4009
@jcfranco @benelan @asangma do we even want to allow nested popovers? That seems like not the best UX.

[2022-01-27 23:33] AdelheidF commented on #3883
To recap:

What's left here is that in RTL languages AR and HE the am/pm is on the wrong side in `calcite-time-picker`. `calcite-input-time-picker` is correct.

https://codepen.io/afreitag/pen/MWOYOrp

[2022-01-27 23:33] AdelheidF commented on #1475
To recap:

What's left here is that in LTR languages ZH and KO the am/pm is on the wrong side in `calcite-time-picker`.
`calcite-input-time-picker` does it correctly.

https://codepen.io/afreitag/pen/MWOYOrp

[2022-01-27 23:34] asangma commented on #3953
@Elijbet I updated the first comment.

[2022-01-27 23:35] benelan commented on #4009
Yeah I agree it's a bit weird. @jcfranco do you have a valid use case for it?

[2022-01-27 23:37] AdelheidF commented on #4009
There are plenty of use cases in the map viewer and they are not weird.
E.g. shell right panel opens a popover for some more complicated setting like symbol styler, filter, .... Then a small popover opens from the first popover for selecting a color, a field, some other single values.

[2022-01-28 10:10] gmiele commented on #3740
Thanks, @jcfranco.

@benelan - I'll set up a call for next week. The requested improvement, reg. the `back-button` being an opt-out option, is crucial for us, and depending on its availability we would need to go different paths on Scene Viewer.

[2022-01-28 17:55] macandcheese commented on #3740
@asangma can you (or @mitc7862) provide an example of a similar configuration pattern in MV? It seems like the "options" flow might be better suited to a popover vs. a third flow panel as its its non-linear.

Small implementation nitpick - those footer buttons should really each take up half the width of the footer as shown here: https://developers.arcgis.com/calcite-design-system/components/flow/

[2022-01-29 01:14] macandcheese commented on #3821
Do we need to allow this to be configured at all?

Should users just be adding and removing the element, or does having the ability to toggle visibility via prop aid in a transition or fade-in or something? cc @asangma

[2022-01-29 01:52] driskull commented on #3821
I don't think so. We just choose what we want to do.

That's a good question. If a user had to construct a `calcite-modal` at the time that the user wanted to display it would that be problematic? It might be an inconvenience. Currently, a user can just write the HTML for a modal and then enable it at a later time.

As for `hidden` vs `active`... hidden will set `display:none` which might be probl

[2022-01-29 01:55] driskull commented on #3821
In the case of `calcite-loader`, we probably don't need an active property and can just use the hidden attribute.

I don't see any animation going on when setting active for this component. It's also not a component that contains any content, so there's no reason not to just remove it or set hidden property on it.

[2022-01-29 01:55] benelan commented on #3152
@macandcheese / @asangma - thoughts on the shadow half of this issue?

[2022-01-30 01:45] #3379 closed

[2022-01-31 17:39] benelan commented on #3257
I have not seen this test fail since the fix, verified

[2022-01-31 17:39] #3257 closed

[2022-01-31 17:39] benelan commented on #2349
I have not seen this test fail since the fix, verified.

[2022-01-31 17:39] #2349 closed

[2022-01-31 17:43] benelan commented on #1004
verified on master

[2022-01-31 17:43] #1004 closed

[2022-01-31 19:58] AdelheidF commented on #3699
this looks good since beta.73

[2022-01-31 20:04] AdelheidF commented on #3965
Works with beta.74, doesn't work with beta.75, works with next.

[2022-01-31 20:11] benelan commented on #3646
verified on `beta.74` using the doc sample with `selection-mode="ancestors"` https://developers.arcgis.com/calcite-design-system/components/tree/#sample

[2022-01-31 20:11] #3646 closed

[2022-01-31 20:20] benelan commented on #3357
verified on beta.75 https://codepen.io/benesri/pen/oNobyqg

[2022-01-31 20:20] #3357 closed

[2022-01-31 20:22] benelan commented on #3033
verified on beta.74 in the doc sample https://developers.arcgis.com/calcite-design-system/components/alert/#sample

[2022-01-31 20:22] #3033 closed

[2022-01-31 21:04] asangma commented on #3629
Looking good!

[2022-01-31 21:04] #3629 closed

[2022-02-01 00:03] eriklharper commented on #3979
Looks like the reason that editing the year by itself doesn't change the value is that the component requires you to click a day on the resulting month that appears when you change the year.  I see the reasoning behind this UX decision, because when you start typing the year, the expectation is that the month display reflects the given month of the year that is present in the box, but because the

[2022-02-01 02:02] jgibson02 opened #4032 "calcite-select: Allow having no initial value"
### Description

It is sometimes useful to have no initial value for a `select` to coerce the user to make an explicit decision. Currently this seems to not be supported by `calcite-select` since it seems to always be initialized with the first `calcite-option` child's value if `value` is undefined and no `calcite-option` is `selected`. In plain HTML, `<option hidden disabled />` might be used, ho

[2022-02-01 17:56] macandcheese opened #4035 "[Stepper] Improve iconography and appearance options"
### Description

Feedback has been given regarding the "active step" icon used in Stepper / Stepper Item. Using a filled radio icon may incorrectly imply that the selected step is a one-of-many choice the user has made, rather than an indication of the current step. We should explore other iconography - it may make sense to just use the same "outline circle" icon as a yet-to-be-completed step in "

[2022-02-01 18:57] macandcheese opened #4036 "[Design] Remove transition from focus style"
### Description

This is a currently a bullet point in https://github.com/Esri/calcite-components/issues/3345 - but it can be accomplished independently.

Our transition for focus outline can cause components to appear slow, or laggy. It can also cause a situation where quickly tabbing through a set of components leads to a situation where the focus ring can't keep up.

### Acceptance Criteria

Re

[2022-02-01 19:20] eriklharper commented on #1475
Closing this and we'll continue discussion of the issue in #3883.

[2022-02-01 19:34] macandcheese opened #4037 "[Shell Panel] Emit "Resize End" Event"
### Description

It would be nice to have a "resize end" event emit the pixel width of the component when a user finishes interaction. For mouse users emitting on drag end, for keyboard users it could emit on each adjustment.

### Acceptance Criteria

Add an event that emits the pixel width of the shell panel component after resize.

### Relevant Info

_No response_

### Which Component

Shell Pan

[2022-02-01 19:47] AdelheidF commented on #3883
Looks like this issue is now also used for:

In LTR languages ZH and KO the am/pm is on the wrong side

[2022-02-01 19:51] macandcheese commented on #4032
This one's tough as we match native behavior and there is no native placeholder attribute.

The single-select combobox could accomplish this:

[code]

Although the above [does not allow you to clear selection](https://github.com/Esri/calcite-components/issues/3074) - not sure if that is desirable for your workflow.

[2022-02-01 20:33] mpayson commented on #3974
Verified in my app, closing as resolved, thank you!

[2022-02-01 20:33] #3974 closed

[2022-02-01 20:55] babakbolour commented on #3883
it would be great if we could put the am/pm on the correct side for KO, ZH, HE, AR. case in point is the 'nationalization' we do for GeoScene/China and we want the UI look appropriate for the culture. thank you.

[2022-02-01 21:12] driskull commented on #4037
@macandcheese I thought about this a while back but shouldn't a user be able to setup a resize observer in this case?

There are a lot of components that may change size depending on interaction and I don't think we want to try and add events for all of them.

[2022-02-01 21:21] macandcheese commented on #4037
Yes agreed it wouldn't make sense generally - this one seems it could be expected / justified as the resize functionality is offered by the component.

That said, it's a nice-to-have, folks (read: me 😆) can set it up on their own as you mention.

[2022-02-01 23:32] jmanke commented on #3956
@benelan It looks like the specific issue I logged above is fixed; however, there are some other issues with negative numbers with the same locales. Please see this [codepen](https://codepen.io/jmanke/pen/gOXPQZd?editors=1011). I can make another issue if it's not related to this one.

[2022-02-01 23:36] benelan commented on #3965
verified by Adelheid on next

[2022-02-01 23:36] #3965 closed

[2022-02-01 23:48] benelan commented on #3956
This is a different problem, it looks like the number isn't being delocalized correctly before being set as the value.  `e.target.value` should be delocalized to `1.5`. Right now it is `1,5` which is causing issues when converting it to a number. Can you please create a new issue, and I'll take a look?

[2022-02-01 23:57] ethanbdev opened #4038 "Expose `scale` attribute of calcite-filter to enable using different size inputs"
### Description

The underlying `calcite-input` and `calcite-icon` both have a scale prop to control the size/height of the control. Exposing these props up through the `calcite-filter` would allow aligning the size of the filter with other components in a layout.

### Acceptance Criteria

A `scale` prop exists on `calcite-filter` that takes `"s" | "m" | "l"`, with "m" as the default.

### Relevan

[2022-02-01 23:58] jmanke commented on #3956
Sounds good, thanks @benelan 🙂

[2022-02-02 00:05] AdelheidF commented on #3979
Switching the blue background to the inactive grey background is not really clear to me, I see something highlighted and assume it's selected. Maybe it would be better then to remove any background color.

That would be nice and something I'd prefer. Feb 29 could switch to a day before, that is an edge case anyway.

----------

https://codepen.io/afreitag/pen/yLPOpVY

Try this:
Edit year from 2020

[2022-02-02 00:13] eriklharper commented on #2321
Fixed by #3354

[2022-02-02 00:13] #2321 closed

[2022-02-02 01:06] ellenupp commented on #3234
@benelan This is regressed again in beta75. You can repro using the same sample above. I don't have the power to reopen this, would you prefer a new issue?

[2022-02-02 01:15] benelan commented on #3234
I can repro with the sample above in `beta.75`. This is a [dropdown PR](https://github.com/Esri/calcite-components/pull/3378) that landed for that release, @anveshmekala can you check and see if its related?

[2022-02-02 01:16] eriklharper commented on #3979
Makes total sense, I can see how that's confusing.

[2022-02-02 01:16] driskull commented on #3234
We need to setup a screener test for this one so it doesn't break again.

[2022-02-02 01:16] benelan commented on #3234
We might want to add a story for this if it is a common regression

[2022-02-02 01:17] eriklharper commented on #3979
I agree this is a non-desirable UX because the month display does not update in real time as you type a new year value.  It requires you to hit enter or unfocus the year box by tabbing in order for the entered month to re-render.  We should definitely fix it so that the month display updates in real time.

[2022-02-02 01:19] eriklharper commented on #3979
I'd like others to chime in on this since it feels very weird to arbitrarily decide which day should be selected when Feb 29th is entered as the day.  @jcfranco @benelan @driskull

[2022-02-02 01:43] benelan commented on #3979
One other option would be to allow invalid dates with the value of "Invalid Date" like here https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date#return_value

Then we could just keep the date the same, and if its not valid it will be reflected in the value.

If we want go go deeper with that, we could eliminate a huge annoyance of the whole date being cleared

[2022-02-02 01:51] jmanke opened #4040 "calcite-input type="number": value is not delocalizing in some locales"
### Actual Behavior

In locales such as 'et' and 'ar' the value on the calcite-input remains in the original locale, causing issues when parsing the value into a number.

### Expected Behavior

The value should be delocalized so that it can be parsed into a javascript number since this is the behavior for most other locales.

### Reproduction Sample

https://codepen.io/jmanke/pen/gOXPQZd?editors=1

[2022-02-02 01:54] benelan commented on #3979
You can already type invalid dates so it wouldn't be unprecedented, e.g. https://codepen.io/benesri/pen/zYPqRaM

At least with the suggestion above the value will communicate that it is invalid, which will help developers with their validation.

[2022-02-02 12:02] mpayson commented on #3760
Thanks all for working on this! I verified the fix in my app, should I close the issue? cc @benelan

[2022-02-02 16:30] macandcheese commented on #4009
We certainly don’t want to incentivize it -“chasing” popover placement can be annoying as - but it should functionally work if a design team determines it is unavoidable.

[2022-02-02 19:08] macandcheese commented on #3979
I think the current behavior we have when using the arrow up / arrow down key to increment / decrement is the the expected behavior. We should replicate that (update calendar immediately).

[2022-02-02 19:16] jcfranco commented on #4038
@ethanbdev Thanks for submitting this. Next time, can you ping @benelan or myself to triage accordingly?

Adding @macandcheese for design review.

[2022-02-02 19:45] ethanbdev commented on #4038
Yes, sorry, apologies. I figured it was a small change but will wait next time.

[2022-02-02 20:05] benelan commented on #3760
Thanks for verifying @mpayson!

[2022-02-02 20:05] #3760 closed

[2022-02-03 17:57] y0n4 commented on #3890
Hi, the codepen link takes me to a blank editor. Is it alright if you can update with another codepen link please? Thanks!

[2022-02-03 18:04] asangma commented on #3181
Ehyo!
Here are some designs.

### Thumbnail in the start position
![image](https://user-images.githubusercontent.com/12503298/152401057-1a23871f-f612-4617-934e-35bd488db089.png)

### Thumbnail in the end position
![image](https://user-images.githubusercontent.com/12503298/152401197-92a42a4e-590e-4ffd-b1ef-ebbad400c9db.png)

### Thumbnail in the bottom position
![image](https://user-images.githubus

[2022-02-03 18:12] macandcheese commented on #3181
Looks good - I think we'll need to validate the chosen width (40%). For the `thumbnail-position:bottom` - I think it should go beneath the footer as that is more consistent with the prop naming / other displays.

I am happy to make the title required. If we do that I'd like to have a summary / description as well, as optional, to encourage consistent lockups.

[2022-02-03 18:16] macandcheese commented on #3976
This would also be nice to add to the `input-editable` functionality - when a user enters `editing-enabled`, have the text selected as shown above.

[2022-02-03 19:48] jcfranco commented on #3572
@FelFly Would the proposal above address the main issue of the alert not being announced when it is auto-dismissable or would you still need fine-grained control over `aria-live`?

[2022-02-03 19:55] asangma commented on #3181
Copy that.
I'm cool with tweaking the thumbnail percentage. Open to suggestions.

[2022-02-03 19:56] asangma commented on #3181
Updated bottom position design. ⬆️

[2022-02-03 19:58] asangma commented on #3181
Should I take this to mean that title is required and summary/description is optional?

[2022-02-03 20:05] macandcheese commented on #3181
Users often use the subtitle slot for a rich lockup like [icon][text][link] so maybe we can keep that as slot. A title has little justification for having content besides text content aside from being used as a link (which might be the only use case we would lose by turning title into a required string).

[2022-02-03 20:14] FelFly commented on #3572
@jcfranco So it would default to polite, but use assertive when auto-dismissible? I think that's fine.

[2022-02-03 21:16] jcfranco commented on #3572
Awesome. Thanks for confirming!

[2022-02-03 21:30] driskull commented on #3234
I can take this one @anveshmekala

[2022-02-04 00:24] anveshmekala commented on #3572
@FelFly Is the issue related to safari browser precisely as mentioned ?

[2022-02-04 00:54] rslibed opened #4060 "Expose CSS variable to style accordion item header in active state"
### Description

When an accordion item is selected within an accordion, provide a css variable to configure the color of just the accordion item header to more obviously indicate that it is selected.

There appears to be `--calcite-accordion-item-background` but that seems to color the entire accordion background (header and contents).

### Acceptance Criteria

![image](https://user-images.github

[2022-02-04 14:04] FelFly commented on #3572
@anveshmekala No, not necessarily. I just test with Safari because it's the safest browser combo for VoiceOver, since both are produced by Apple. Essentially I would expect it to "at least" work with Safari.

[2022-02-04 14:49] macandcheese commented on #4060
Thoughts @asangma ?

Before adding something like this I’d like to try making the active accordion item more obvious by default than providing this variable, we run into issues here as some accordion appearance types has no x-padding on the header.

[2022-02-04 15:25] MikeTschudi commented on #674
At NVDA 2021.3.1 & calcite-components version 1.0.0-beta.76, the latest on [unpkg.com](https://unpkg.com/@esri/calcite-components/dist/calcite/calcite.esm.js), continues to be an issue.

[code]

[2022-02-04 16:00] anveshmekala commented on #3572
For safari, @jcfranco  couldn't reproduce the issue. As mentioned [here](https://www.w3.org/TR/wai-aria-1.2/#:~:text=Elements%20with%20the%20role%20alert%20have%20an%20implicit%20aria%2Dlive%20value%20of%20assertive%2C%20and%20an%20implicit%20aria%2Datomic%20value%20of%20true.), `role` attribute will set the `aria-live` attribute implicitly. We do see the issue for chrome though. Could you please

[2022-02-04 19:00] joeyHarig opened #4062 "Add `popover-scale` prop to calcite-input-date-picker"
### Description

Allow for developers to define separate scales for the input and popover of the `calcite-input-date-picker`. A medium input may match the scale of the other form inputs, but the medium popover could be too large.

### Acceptance Criteria

Add a prop to `calcite-input-date-picker`: `popover-scale`

### Relevant Info

_No response_

### Which Component

calcite-input-date-picker

##

[2022-02-04 20:22] BlakeStearman commented on #3064
Bumping this to keep open. Would be nice to fix for proper A11Y support.

cc @benelan @paulcpederson

[2022-02-04 21:39] AdelheidF opened #4063 "calcite-input: emits invalid number"
### Actual Behavior

This is new with beta.76, beta.75 didn't do this.

https://codepen.io/afreitag/pen/rNGreWY

Type in '5--' and watch what the component emits. It's 3 times the valid value 5. This is good.

Now start over and type in '-'. The component emits '-' which is not a valid value.
Instead it should not emit anything, just like if I had just cleared a number like 100 via select+backspac

[2022-02-05 19:42] macandcheese opened #4064 "[Dropdown] When clicking focusable element outside dropdown to close, don't return focus to trigger"
### Description

There's a bit of a weird interaction (imo) when you click outside a dropdown to close it and that click occurs on a focusable element.

The component returns focus to the trigger element:

https://user-images.githubusercontent.com/4733155/152656500-9f495ccd-d213-4d93-869c-bf7457e00b75.mov

This makes sense when the click occurs on a non-focusable element (or 'esc' key hit). But cu

[2022-02-07 17:26] benelan commented on #3925
verified on beta.76

[2022-02-07 17:26] #3925 closed

[2022-02-07 17:27] benelan commented on #3117
verified on beta.76 with the issue's repro sample

[2022-02-07 17:27] #3117 closed

[2022-02-07 17:51] benelan commented on #3160
verified on beta.76

[2022-02-07 17:51] #3160 closed

[2022-02-07 17:52] #3420 closed

[2022-02-07 18:04] benelan commented on #3430
verified for avatar, a new issue has been created for a grouping component

[2022-02-07 18:04] #3430 closed

[2022-02-07 18:15] jcfranco commented on #4064
https://github.com/Esri/calcite-components/pull/4010 should fix this (specifically https://github.com/Esri/calcite-components/pull/4010/commits/915cc2757725fd36742a50ce886b4a77174a84ad). I had to change it since it was failing expectations from the test helper.

[2022-02-07 18:16] benelan commented on #3754
verified in the documentation sample

[2022-02-07 18:16] #3754 closed

[2022-02-07 18:28] benelan commented on #3755
verified on beta.76

[2022-02-07 18:28] #3755 closed

[2022-02-07 18:44] benelan commented on #3234
verified on next

[2022-02-07 18:56] #3699 closed

[2022-02-07 19:05] benelan opened #4066 "Fab: When used as dropdown trigger, can't activate dropdown with space key"
### Actual Behavior

Same issue as #3720 for `calcite-fab`

### Expected Behavior

The dropdown should stay open when pressing space (same resolution as #3720)

### Reproduction Sample

https://codepen.io/ellupp/pen/LYyKQwq

### Reproduction Steps

1. Focus the fab and press space, notice the dropdown does not stay open
2. Do the same with button/action, and notice that the dropdown stays open

##

[2022-02-07 19:48] benelan commented on #4009
verified on next

[2022-02-07 19:48] #4009 closed

[2022-02-07 20:00] benelan commented on #4003
verified on next

[2022-02-07 20:00] #4003 closed

[2022-02-07 20:11] benelan commented on #3894
verified on next

[2022-02-07 20:11] #3894 closed

[2022-02-07 20:19] benelan commented on #4038
verified on next https://codepen.io/benesri/pen/JjOENQL

[2022-02-07 20:19] #4038 closed

[2022-02-07 20:21] benelan commented on #3924
verified by Jeff!

[2022-02-07 20:21] #3924 closed

[2022-02-07 20:32] benelan commented on #3877
verified on next

[2022-02-07 20:32] #3877 closed

[2022-02-07 21:01] benelan commented on #3686
any suggestions for how to verify this one @driskull @jcfranco

[2022-02-07 21:05] driskull commented on #3686
@benelan should be able to reproduce this by...

- Create a block
- After a delay, slot an icon into the icon slot.
- verify the icon is placed correctly in shadow dom. Should be surrounded by `<div class="icon">`

[2022-02-07 22:20] benelan commented on #1955
verified on next

[2022-02-07 22:20] #1955 closed

[2022-02-07 22:39] benelan commented on #3543
verified on next. `calcite-radio-button` doesn't look or behave differently than before

[2022-02-07 22:39] #3543 closed

[2022-02-07 23:12] benelan commented on #1225
verified using the doc sample https://developers.arcgis.com/calcite-design-system/components/accordion/#sample

[2022-02-07 23:12] #1225 closed

[2022-02-07 23:27] benelan commented on #3625
@mjuniper this should be fixed in `beta.76`, can you please try testing it in your app?

[2022-02-07 23:34] jmanke opened #4071 "calcite-popover-manager: undesirable auto-close behavior"
### Actual Behavior

A calcite-popover-manager with the auto-close property will auto-close in an undesirable way. Starting your click (mouse down) inside the popover and ending (mouse up) outside the popover will cause the popover to close.

### Expected Behavior

The popover should only close when both the mouse down and mouse up occur within the popover. This is because some frustrations can oc

[2022-02-07 23:40] benelan commented on #3868
verified on next https://codepen.io/benesri/pen/JjOEOKZ

[2022-02-07 23:40] #3868 closed

[2022-02-07 23:50] jmanke opened #4072 "calcite-color-picker: Add ability to paste hex (with # symbol) into hex input"
### Description

Currently, pasting a color with the full hex string (ex. #FF00FF) into the hex input will not work. The last character is truncated and the value is not accepted. This is something users routinely do in Dashboards.

### Acceptance Criteria

Pasting a full hex string (with the # symbol included) should update the color-picker's color.

### Relevant Info

_No response_

### Which Co

[2022-02-08 00:18] driskull commented on #4066
@benelan I think this should be handled via https://github.com/Esri/calcite-components/issues/3880

We can't keep adding components to the code inside dropdown. This "blocklist" isn't maintainable.

[2022-02-08 00:30] jcfranco commented on #3572
For context, I tested locally using a simple page using the code from the description in Safari and VO does behave as expected. Could the `<iframe>` be affecting VO's behavior?

[2022-02-08 13:52] FelFly commented on #3572
Sorry, I missed the notification. Where would you like me to re-verify?

[2022-02-08 17:55] jcfranco commented on #3681
@benelan Can you take a stab at the doc for this? 🙇🏼‍♂️

[2022-02-08 18:12] zaramatheson opened #4075 "Date Picker - First day of the week is not localized"
### Actual Behavior

This was fixed for Russian via this issue: https://github.com/Esri/calcite-components/issues/2291 but it is still an issue for a number of other languages.

In CS/DA/DE/EL/ES/ET/FI/FR/HR/IT/LT/LV/NL/NB/PL/RO/SR/SV/TR/VI/BS/SL/CA/HU/UK languages, the first day is still Sunday rather than Monday.

Here is detailed list of languages/locales and their expected First days of the we

[2022-02-08 18:21] macandcheese commented on #4075
In addition to updating the defaults above, A nice quality of life feature would be to allow configuration of a "week start day" option.

This is referenced in this example as `start-weekday`: https://bootstrap-vue.org/docs/components/form-datepicker

[2022-02-08 18:47] benelan commented on #3938
Test was fixed in PR #3989 which was 15 days ago. The test has been stable, verified on master

[2022-02-08 18:47] #3938 closed

[2022-02-08 18:59] jgibson02 commented on #3890
I can file this as a new item, but I thought it might be relevant here due to the adjustments to chip margin: should there be margin between the last chip and the combobox placeholder?

[2022-02-08 20:04] noahmulfinger opened #4076 "calcite-input: Fails to update number programmatically after blur event"
### Actual Behavior

When the input is type `number` and you trigger a blur event, the next time you update the value via JavaScript, it doesn't display the correct new value (it looks like it does update the internal state, just not the displayed value).

cc @MonikaKanduri4525

### Expected Behavior

I would expect the displayed value to always match the value passed in via JavaScript.

### Repro

[2022-02-08 21:12] y0n4 commented on #3928
What if `selection-mode` is still single and nothing is selected. Then you add a custom value... does the custom value get auto selected?

[2022-02-08 21:20] noahmulfinger opened #4077 "calcite-button: Allow "download" property when "href" property is set"
### Description

When passing in an href to the calcite-button, it becomes an `a` tag under the hood, so it would be useful to have a `download` property added to match the native behavior.

### Acceptance Criteria

When the`href` property has a value, a `download` attribute on the <calcite-button> element can be passed through to the underlying `a` element.

### Relevant Info

A download attribut

[2022-02-08 21:47] MukeZ commented on #3928
Yes, it will auto selected the new value

[2022-02-08 21:51] noahmulfinger opened #4078 "calcite-input: Form auto-fill/autocomplete does not work in all browsers"
### Actual Behavior

If I have a stored credit card or address in my browser auto-fill settings, the auto-fill option only appears in Chrome (but clearing the auto-fill does not work). The auto-fill option does not appear in Firefox or Safari.

### Expected Behavior

I would expect auto-fill behavior similar to native form behavior across browsers.

### Reproduction Sample

https://codepen.io/noah

[2022-02-08 21:58] noahmulfinger opened #4079 "calcite-input: pass through native input attributes"
## Repurposing this issue to add all of the [native input attributes](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#individual_attributes) that should be passed through.

### Description

The `accept` attribute restricts the type of files that can be selected when an input has the type `file`. It would be useful to have this attribute available on calcite-input.

### Acceptance C

[2022-02-08 23:35] asangma commented on #2800
I think we can close.
Iterating the values seems like a better broad solution.

[2022-02-08 23:35] #2800 closed

[2022-02-09 03:21] mpriour commented on #4078
The `autofill` property is not passed down to the input element inside the shadow dom.

[2022-02-09 18:09] eriklharper commented on #3079
This is what I would try first before exploring any kind of numbering system override prop.  Because input uses the browser's  `Intl.NumberFormat` api, passing in a locale string for the `lang` prop that specifies the numbering system would be the way I'd recommend achieving something like this.  You can use a template string in your JS to still include the passed-in lang by writing something like

[2022-02-09 18:36] jgibson02 commented on #4032
@macandcheese what're your thoughts on supporting `hidden` on a `calcite-option` to hide it from the list and act like a placeholder akin to the native behavior?

[2022-02-09 18:47] macandcheese commented on #4032
That would work - it seems like that works only when `hidden` is the first option. Maybe we could just render that internally based on the presence of an (added) placeholder attribute? Would be open to either option there.

[2022-02-09 22:30] jgibson02 commented on #4032
If it only works for the first option, then your suggestion certainly sounds cleaner to me rather than adding a `hidden` prop and depending on documenting that behavior.

[2022-02-10 00:15] AdelheidF opened #4082 "calcite-input-message: contained link does not work"
### Actual Behavior

The doc for `calcite-input-message` says:
"Allows the passing of content, links, etc."

but when I try to add a `calcite-link` or `a` tag the link does not work. It does nothing when I hover or click on it.

### Expected Behavior

the link works like a link

### Reproduction Sample

https://codepen.io/afreitag/pen/rNYmOBL

### Reproduction Steps

see the codepen

### Reproduct

[2022-02-10 00:17] AdelheidF commented on #4063
Could this be please assigned to a milestone? It broke with beta.76 and causes issues for us. Thanks!

[2022-02-10 00:21] benelan commented on #4063
Yeah I'm going to revert #4020 before the next release. This regression effects `en` locale (which is most of our customers). I will reopen #3956 and find a different solution that does not create this regression.

[2022-02-10 00:23] benelan commented on #3880
Closing this issue in favor of bug #4066, which should take this refactor into account when implementing the fix. The fix will show up on the changelog unlike this refactor issue.

[2022-02-10 00:23] #3880 closed

[2022-02-10 00:26] AdelheidF commented on #3701
OK, I didn't know this and there is no doc.

I feel like the default should be `auto-close: false`, just like `calcite-popover-manager` has it. But I guess that would work.

`selector` is not working either.

[2022-02-10 00:27] paulcpederson commented on #4082
the `pointer-events: none` that is causing this is actually on `host`, so until this gets fixed in calcite you can work around by setting `pointer-events: auto` on the element: https://codepen.io/paulcp/pen/WNXjQxe

[2022-02-10 00:52] macandcheese commented on #3834
@asangma - I'm going to move this to an enhancement request. There are other components that use the `clear` prop name so we should audit these consistently if we decide to make a change.

[2022-02-10 18:27] jcfranco commented on #3780
This got fixed in beta.76 via b00bdf7 and no longer throws an error: https://codepen.io/jcfranco/pen/qBVmJWB?editors=1000. Marking this one as verified! cc @benelan

[2022-02-10 19:43] #1741 closed

[2022-02-10 20:03] benelan opened #4098 "Audit css variables for alignment with design tokens"
### Background

We need to figure out which CSS variables (both global and component scoped) are used in each component. Once we have a list we can determine naming convention trends and do a big rename if necessary before v1 release.

Additionally, none of the global variables are documented on the component doc pages. We need to determine the conventions for documenting them in the component `ts

[2022-02-10 23:38] benelan commented on #3536
Hi @MikeTschudi, we appreciate the suggestion, however we are going to keep the supported browsers information the same for now. Just FYI, we don't have a mobile story at the moment, but if you run into issues on any of the platforms feel free to log an issue and we will investigate!

[2022-02-10 23:38] #3536 closed

[2022-02-11 00:50] jcfranco commented on #3572
I meant to share this earlier, but this is what I see on Mac 11.6.1, Safari + VO when I test locally using the markup from the description's codepen (notice how the alert is read by VO as soon as the page loads).

![alert-safari-vo](https://user-images.githubusercontent.com/197440/153521160-1f170b8f-471c-47c6-a995-6c12904811ac.gif)

[2022-02-11 01:01] anveshmekala commented on #3572
re-verify the issue in safari using VO and if it exists please share a gif or video.

[2022-02-11 17:11] macandcheese commented on #4098
It would be great to denote via metadata which is global, and which is local to the component, so in the docs we can label or separate the two types.

[2022-02-11 17:16] macandcheese opened #4103 "[Calcite Shell Panel / Calcite Panel] - Scrolling doesn't work when content programmatically added"
### Actual Behavior

When adding content programmatically, scrolling is not working.

### Expected Behavior

I'd expect the content to scroll in the same manner as content that is not programmatically added. The example shows `detached` shell panels but this occurs with or without that.

### Reproduction Sample

https://jsbin.com/pudabotaru/edit?output

### Reproduction Steps

1. Go to sample app

[2022-02-11 18:43] benelan commented on #3681
I added a couple sentences to the [readme](https://github.com/Esri/calcite-components#2-assets) and the get started page, which will be updated next week.

Closing this issue as self verified.

[2022-02-11 18:43] #3681 closed

[2022-02-11 19:46] ajturner commented on #3152
@benelan can you clarified what _installed_ means in this project context? Is there a PR or documentation we can refer to for starting to use this great enhancement?

[2022-02-11 19:54] benelan commented on #3152
Installed means that it is available on `next` and will be released in `beta.77` next week! There is no documentation yet, but here is a small sample: https://codepen.io/benesri/pen/JjOJMRB?editors=1100

Please note that this should not be used in Esri products. It is for end users who need to customize the component to meet their own design system's criteria.

[2022-02-11 20:04] AdelheidF commented on #4063
looks good with next

[2022-02-11 21:41] macandcheese commented on #4103
Closing as it can be fixed by re-structuring content. Sample updated to show function.

[2022-02-11 21:41] #4103 closed

[2022-02-11 22:51] eriklharper commented on #3152
Verified on next

[2022-02-11 22:51] #3152 closed

[2022-02-12 03:12] jwasilgeo commented on #3681
Thanks for taking care of this!

[2022-02-13 15:05] ranga-tolapi opened #4105 "Scale=xxl/xl/xs"
### Question

Is there a way to increase/decrease the scale of calcite components locally or globally beyond the existing l/m/s scales?

e.g.
- Increase the scale of calcite-input component to 2 times of current large scale.

### Helpful Details

https://developers.arcgis.com/calcite-design-system/components/input/

[2022-02-14 16:53] macandcheese opened #4106 "Docs: Incorrect prop description for calcite-tip-manager"
### Description

The generated doc for the `closed` prop of `calcite-tip-manager` reads "Alternate text for closing the `calcite-tip-manager`", which seems like a mistake.

We should update this to accurately describe the prop, which is probably more along the lines of "is the tip manager hidden" (... separately seems like that could be "active" to match other components, but ... for another time)

[2022-02-14 21:05] ReidPritchard opened #4111 "[calcite-filter] Initial property setup does not run filter method"
### Actual Behavior

Rendering a calcite filter with a pre-defined search value. The filteredItems property is an empty array even though there are matching results. The filter method is not called initially so the filteredItems property is misleading (an empty array even though some items match).

### Expected Behavior

I would expect on first prop set / (render in stencil) the filter method woul

[2022-02-14 22:09] #4063 closed

[2022-02-15 00:26] jcfranco commented on #3027
[Belated] Blocking this one until @benelan @asangma @driskull sync up on it this sprint.

[2022-02-15 02:27] jcfranco commented on #3572
It looks like this is working as expected. If the browser has focus and you load [the following codepen](https://codepen.io/jcfranco/pen/LYOzLyZ?editors=1010) (based on the repro case), you'll notice that VO reads out the alert as soon as it pops up.

![safari-vo-alert-working-as-expected](https://user-images.githubusercontent.com/197440/153980691-cd25704a-dc52-447e-8f5b-2065e2ca8bb6.gif)

I'm goi

[2022-02-15 02:27] #3572 closed

[2022-02-15 04:22] jcfranco commented on #4075
@macandcheese Can you submit a separate enhancement ticket for that? It's out of scope for the original request.

[2022-02-15 15:08] brettephillips opened #4112 "Virtualized Select Component"
### Description

Enhance the Select component to contain a virtualized property that will render rows as the user scrolls (lazy loading dropdown items).

### Acceptance Criteria

- [ ] Virtualized property is added
- [ ] Virtualized property is optional
- [ ] Select dropdown items are not loaded at once, but instead when needed

### Relevant Info

_No response_

### Which Component

Select

### Ex

[2022-02-15 16:42] macandcheese opened #4113 "[Date Picker] Weekday Start Option"
**monday.com sync:** #18048508903

### Description

Breakout from https://github.com/Esri/calcite-components/issues/4075#issuecomment-1032923598

A nice quality of life feature would be to allow configuration of a "week start day" option.

This is referenced in this example as start-weekday: https://bootstrap-vue.org/docs/components/form-datepicker#internationalization

### Acceptance Criteria

Da

[2022-02-15 19:27] TheBlueDog opened #4116 "Add `no-padding` property to `block`"
### Description

There are many places where we use calcite-block inside of leading and trailing panels. It's not always desirable to have the built in padding. When using other components, such as lists, inside a block the vertical rhythm and alignment is thrown off.

Modal has a property for `no-padding` that work well in order to remove the padding. The default setting could be `true` as to not

[2022-02-15 19:34] jcfranco opened #4117 "Change <calcite-button>'s default type to be "button" rather than "submit""
### Description

As `calcite-button` is used more and more as a building block for other components and not just forms, we should change the default type accordingly. A few design systems/widgets also use "button" as the default type:

https://github.com/ing-bank/lion/tree/master/packages/button
https://github.com/shoelace-style/shoelace/blob/next/src/components/button/button.ts#L67-L71
https://gi

[2022-02-15 19:59] jcfranco commented on #4075
@zaramatheson @olga8614 We have 2 locale files that are missing from https://olga8614.github.io/calendars/:

* MK – updated according to https://github.com/unicode-cldr/cldr-core/blob/master/supplemental/weekData.json#L153
* HI – left as is (starting on Sunday) according to https://happydays365.org/days-of-the-week/weekdays-in-hindi/#:~:text=The%20first%20day%20of%20the,%E2%80%9CMangalwar.%E2%80%9

[2022-02-15 20:12] mjuniper commented on #3152
Thanks for this - it's working great. Have you given any thought to the box-shadow part?

[2022-02-15 20:14] mjuniper commented on #3181
FWIW we currently use the title slot so we can make it a link.

[2022-02-15 20:38] macandcheese commented on #3152
I think it's something we'll eventually want to support as part of the general theming story but not at this time. cc @asangma

[2022-02-15 21:54] mjuniper commented on #3625
Shoot, sorry i missed those comments. Yes, it is fixed! Thanks a bunch!

[2022-02-15 22:11] benelan commented on #1380
closing as duplicate of #3531

[2022-02-15 22:11] #1380 closed

[2022-02-15 22:17] jcfranco commented on #1997
This seems to be fixed in the latest version. Closing!

[2022-02-15 22:17] #1997 closed

[2022-02-15 22:17] benelan commented on #1656
Closing as resolved

[2022-02-15 22:17] #1656 closed

[2022-02-15 22:22] macandcheese commented on #2092
Tested in latest Safari and this is no longer an issue.

[2022-02-15 22:22] #2092 closed

[2022-02-15 22:26] benelan commented on #2355
closing as duplicate of #3875

[2022-02-15 22:26] #2355 closed

[2022-02-15 22:38] macandcheese commented on #2380
Depending on screen size this will happen on sizes greater than mobile : https://jsbin.com/xowipikasa/edit?html,output

It may be worth not making the action bar / pad proportionally scale and instead expand to the width of the longest text string...

[2022-02-15 22:43] macandcheese commented on #2426
It seems like the "Actual Behavior" referenced in the OP no longer works - we should ensure that functionality is working.

[2022-02-15 23:55] paulcpederson opened #4120 "Transparent accordion now has a border"
### Actual Behavior

Transparent accordions (since beta 76) have a border around three sides.

### Expected Behavior

Transparent accordions should be transparent.

### Reproduction Sample

https://codepen.io/paulcp/pen/zYPProK?editors=1000

### Reproduction Steps

1. apply the `appearance="transparent"` prop

### Reproduction Version

1.0.0-beta.76

### Relevant Info

_No response_

### Regressio

[2022-02-16 00:56] #3625 closed

[2022-02-16 01:06] benelan commented on #3064
still reproducible in `beta.77` using the included sample

[2022-02-16 16:07] MikeTschudi commented on #674
https://codepen.io/miketschudi/pen/dyZZjRG

[2022-02-16 16:17] mitc7862 opened #4121 "Allow warning color property for Tab Icons"
### Description

We need to show a warning state for particular sections of analysis details. The easiest way would be to allow a color property to be passed to the tab's icon or to allow danger/warning/success properties to be set on the tab itself.

### Acceptance Criteria

- Tabs can have an icon to indicate warning, danger, or success.
- Tab statuses can be set independently from other tabs in

[2022-02-16 18:18] Olga8614 commented on #4075
@jcfranco I have compiled my list of First Days of the Week based on our Locale Lookup tool, that has a lot of different locales.
You can find it here: https://i18n.esri.com/website/landing
Please go to i18n Data and Tools -> Tools
![image](https://user-images.githubusercontent.com/29614798/154329962-daad4510-f061-42f4-96f9-8df018f9696e.png)

[2022-02-16 18:21] Olga8614 commented on #4075
(you need to be on esri VPN and sign in with AVWORLD account to see the Locale Lookup Tool)

[2022-02-16 18:33] jcfranco commented on #4075
@Olga8614 That's awesome, thanks for sharing!

[2022-02-16 20:18] jcfranco opened #4123 "Change accordion-item's header to use a semantic <button> instead"
**monday.com sync:** #18048483324

### Description

The current header element uses a `<div>` and it would be useful to replace it with a `<button>` (similar to [`calcite-block`](https://github.com/Esri/calcite-components/blob/master/src/components/block/block.tsx#L213-L229)).

### Proposed Advantages

Promotes semantic HTML.

### Which Component

`calcite-accordion-item`

### Relevant Info

Stems

[2022-02-16 21:57] jcfranco commented on #4075
Installed!

[2022-02-16 22:52] ellenupp opened #4124 "calcite-dropdown: Add additional placement options for left/right"
**monday.com sync:** #18048508861

### Description

Currently, the only [documented](https://developers.arcgis.com/calcite-design-system/components/dropdown/#component-api-properties-placement) placements for the dropdown are variations of top/bottom. We have a scenario where it would be ideal for the menu to open to the left or right instead. Setting any valid popper placement currently appears t

[2022-02-17 00:20] AdelheidF commented on #3883
looks good with next

[2022-02-17 00:28] driskull commented on #4124
hey @ellenupp I'm not sure we want to support those.

I think for these kind of menus like dropdown, combobox, etc. We only want to have them open above or below consistent with how native select menus appear.

@jcfranco @benelan Maybe we can further restrict them from even working if we are concerned with users setting them.

[2022-02-17 01:19] ellenupp commented on #4124
I guess my use case is not a typical use case for a dropdown, where it'd be in a form or such. These are floating menus that appear around each widget on the dashboard. That means their position will be highly variable (depends on dashboard layout & also browser window size) and there may or may not always be space for the menu to open above or below the trigger, in which case it'll need to open n

[2022-02-17 01:52] AdelheidF commented on #3079
adding that lang doesn't seem to fix it in FF

![image](https://user-images.githubusercontent.com/44481292/154389236-c3e3e8db-659f-4210-a737-c939c8617c7e.png)

[2022-02-17 02:44] AdelheidF opened #4126 "calcite-slider labels appearing vertical inside calcite-popover"
### Actual Behavior

Caused by upgrade from beta.76 to beta.77

![image](https://user-images.githubusercontent.com/44481292/154394412-1624edbc-e4cb-4c6e-85fb-cc728198aa42.png)

![image](https://user-images.githubusercontent.com/44481292/154397555-5e0b776a-0cfb-4379-ad48-9ce6e8e80f10.png)

### Expected Behavior

![image](https://user-images.githubusercontent.com/44481292/154394468-7707208d-4bbf-4cd

[2022-02-17 03:36] AdelheidF commented on #4126
I think this install for popover broke it:
https://github.com/Esri/calcite-components/commit/31b7d8ff72a8673d6bb7a1b5bcfe52a7443c56f3#diff-2c88956271241eaf8204f4d12134f4fff58f10aeac5dc0dd8e18ad9e21f37607R69

Because I see this:
![image](https://user-images.githubusercontent.com/44481292/154399821-ad6d1ec4-c7d4-416a-8182-294e79a53154.png)
If I switch word-break off it's fine.

cc @driskull

[2022-02-17 08:17] RalucaNicola opened #4127 "calcite-combobox-items not aligning when added dynamically to calcite-combobox"
### Actual Behavior

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/8091967/154433075-c292bc2f-8e2c-41a4-8aa6-aea45b92639b.png)
This is just a silly app I made to repro the bug, in reality I have a service with a lot of diseases that I query as the user types in to offer them disease suggestions. As new suggestions come in, I remove the old calcite-combobox-items and add the

[2022-02-17 18:42] driskull commented on #4126
I think we can solve this by either setting word break back to normal on any child of the popover content or set word break to normal within that slider element.

[2022-02-17 20:14] jgibson02 opened #4143 "calcite-combobox with single row of chips is missing margin or should be on new line"
### Actual Behavior

From the Storybook:
<img width="438" alt="image" src="https://user-images.githubusercontent.com/5069711/154562624-d4001a88-6fbb-4ffd-ade7-447e61c0ff55.png">

The placeholder does wrap to a new line if there is not enough space remaining to be inline with chips, so I think it's just a matter of adding margin
<img width="423" alt="image" src="https://user-images.githubuserconten

[2022-02-17 20:26] mpayson opened #4144 "calcite-filter stop escape key propagation to prevent closing parent panels"
### Description

Currently if a user presses "escape" within `calcite-filter` that event will propagate which can have unintended consequences like closing a dismissible parent panel. Here's an [example codepen](https://codepen.io/mpayson/pen/NWwXBey) -- type a value into the filter then hit escape, notice the whole panel will close

### Acceptance Criteria

In the above example, pressing the esca

[2022-02-17 21:26] driskull commented on #4126
@AdelheidF as a temporary workaround, just set the following styles on the slider...

[code]

[2022-02-17 22:31] driskull commented on #4126
@jcfranco @asangma should this be fixed on slider to set word-break to normal?

This could pop up if any other component or user styles applies word-break.

The alternative would be to try to target slotted elements in popover and set the word break but that might not be good.

[2022-02-17 22:45] vijayendranj commented on #4124
@driskull Is there another UI calcite proposing in those scenarios?. simply restricting them from working is not a good user experience. Users use browsers in several ways  for ex. if the layout goes from landscape to portrait the height may be considerably less.

We'd be happy give a demo of how we are using this in Dashboard.

[2022-02-17 23:42] asangma commented on #3181
Update. Add the `background-color` to the thumbnail container so that if the content is taller than the thumbnail, it looks like this.
![card-tall-content-short-image](https://user-images.githubusercontent.com/12503298/154590143-09312c25-7372-4a29-8fe6-13cf337403dd.png)

[2022-02-18 00:23] jcfranco commented on #2941
This is correct.

The plan moving forward would be to deprecate `type=color` and introduce a color-specific input. Looks like it'd be https://github.com/Esri/calcite-components/issues/1616 or https://github.com/Esri/calcite-components/issues/1934. @benelan @macandcheese Let's sync up next week to decide which one. FWIW, Map Viewer has a custom version of the former.

Closing based on ☝️.

[2022-02-18 00:23] #2941 closed

[2022-02-18 16:47] gpbmike opened #4146 "calcite-modal: Poor color contrast ratio for "back" slot in dark theme"
### Actual Behavior

The text in `<calcite-button slot="back">` in `<calcite-modal>` is too dark when using the dark theme. (Contrast ratio 1.48:1)

![image](https://user-images.githubusercontent.com/8754/154724550-5e7025b7-806b-4d4a-9fed-260071d4e5f1.png)

### Expected Behavior

[Contrast ratio should be 4.5:1](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Perceiva

[2022-02-18 17:22] gpbmike commented on #3961
Also of note, I'm still on beta.46 and have a hack to get default form behavior (submit on enter/return) working. The hack involves adding a hidden `<button type="submit">` to the form. As I evaluate beta.77, I see that the default form behavior still does not work (this issue) and that my hack also no longer works. I'm guessing because the input the user interacts with was moved to the shadow DOM

[2022-02-18 18:34] eriklharper commented on #3079
Use `locale` instead of `lang` and it should work.  Input hasn't been updated to use `lang` yet so you still have to set it with `locale`.

This example shows the default Arabic display (first one) and Arabic with latin numbering (second one) in Firefox using the `locale` prop:

<img width="962" alt="image" src="https://user-images.githubusercontent.com/821864/154742174-2092ef56-770e-46f3-aab9-73b

[2022-02-18 18:35] eriklharper commented on #3079
Based on this, it seems like we can close this issue since western numbers can be set in the locale string.  What do you think @AdelheidF @jcfranco @babakbolour ?

[2022-02-18 18:53] jcfranco opened #4148 "Cache DateTimeFormatter instances"
### Description

Currently, the `time` util will [create multiple `Intl.DateTimeFormatter` instances for the same locale](https://github.com/Esri/calcite-components/blob/master/src/utils/time.ts#L39). This can be improved by reusing one for the same locale.

### Proposed Advantages

Less instances generated for the same locale.

### Which Component

`src/utils/time.ts`

### Relevant Info

_No resp

[2022-02-18 19:10] jcfranco commented on #3079
@dasa I was not aware of this. This is awesome, thanks for sharing!

@eriklharper Agreed.

Sidebar: I'll create a separate issue to update `calcite-input` to use `lang`. It'd be good to do this for consistency.

[2022-02-18 19:47] jcfranco commented on #3725
This is blocked by #3815.

[2022-02-18 21:33] driskull commented on #3724
I don't recall about the zindex. Was that added by me?

[2022-02-18 22:35] jcfranco commented on #3724
[Added way back in the early days](https://github.com/Esri/calcite-app-components/blame/master/src/components/calcite-panel/calcite-panel.scss#L64).

The demo pages and screenshot tests should help catch any issues from dropping z-index, right?

[2022-02-18 22:47] driskull commented on #3724
Yeah it should. It might have been from when the header was over the panel?

[2022-02-18 23:04] benelan opened #4151 "Button: 100 percent height in some environments"
### Actual Behavior

In jsbin ***and a local html file*** `calcite-button` is 100% height. The height is normal in codepen, codesandbox, our dev site doc sandbox, storybook, etc.

### Expected Behavior

Button is the same height regardless of environment. Especially on a local HTML file, if it was just jsbin then it would probably be something weird they do.

### Reproduction Sample

https://jsbin

[2022-02-18 23:55] anveshmekala commented on #2872
this test is passing locally. Ref  [#2902](https://github.com/Esri/calcite-components/pull/2902/files#diff-75d874aa637026098d9dd3e76b98b711ec569b2262c0629f0d3efb63aea00e0aR133)

[2022-02-20 00:27] bsvensson commented on #4151
The difference seems to be `<!DOCTYPE html>`. Codepen etc seem to add that. When you don't have it, you'll get the wrong height.

Firefox console (without DOCTYPE) says: `This page is in Quirks Mode. Page layout may be impacted. For Standards Mode use “<!DOCTYPE html>”.`

cc: @benelan

[2022-02-20 04:32] benelan commented on #4151
Thanks for the follow up. After reading a bit about [Quirks Mode](https://developer.mozilla.org/en-US/docs/Web/HTML/Quirks_Mode_and_Standards_Mode) it sounds like this isn't a problem on our end, so I'm closing this issue.

[2022-02-20 04:32] #4151 closed

[2022-02-20 06:46] benelan commented on #3605
cc @macandcheese for design

[2022-02-20 07:48] benelan commented on #4105
Hi @ranga-tolapi, there currently is not a way to increase the scale above  `l`. If you use a textarea the height is resizable, does that work for your use case? If not, can you describe your use case?

[code]

[2022-02-20 17:01] macandcheese commented on #3605
For the first screenshot, only the destructive delete button should be using that color - cancel is a secondary action and associating it with red / delete probably isn’t needed.

The focus color should be overridable with the brand css variable.

The dropdown focus was added for accessibility - AFAIK that is intentional and working as intended.

[2022-02-22 18:13] #3883 closed

[2022-02-22 18:51] jcfranco commented on #3608
This depends on https://github.com/Esri/calcite-components/issues/2884.

[2022-02-22 19:29] mitc7862 opened #4155 "Include slot for inline 'info icon' before or after label text."
### Description

For analysis, we will need to provide parameter-based help for various inputs in the form. We'd like to include an inline action that triggers a popover with the helpful information in it.

### Acceptance Criteria

- [ ] There is a way for developers to include an icon in the label
- [ ] You can include the icon before or after the label text
- [ ] The icon can be used to trigger

[2022-02-22 21:34] macandcheese commented on #4155
Thanks for submitting, this is a common use case ... could you add designs for the other layouts of input - inline and inline-space-between?

Additionally, the label text (or multiple strings) and child control can be placed in any order, so comps that show some less common arrangements could help us understand where to position the named slot.

I anticipate this will be very commonly used and bec

[2022-02-22 21:36] macandcheese commented on #4143
This should be addressed in https://github.com/Esri/calcite-components/pull/4068

[2022-02-22 22:17] macandcheese commented on #4146
Thanks for reporting this @gpbmike - this was an instance of the documentation using an outdated value for the button color. There is a PR on the documentation site repo : https://github.com/ArcGIS/afd-calcite-documentation/pull/298

[2022-02-22 23:41] macandcheese opened #4156 "[Shell / Shell-Panel] Allow a single detached shell-panel at the end of the shell in content-behind mode"
### Actual Behavior

Currently you cannot have a single detached `shell-panel` positioned at the right/end of the `shell` when `content-behind` is set (this works as expected with when not in `content-behind`).  A user needs to "fake" an empty `shell-panel` in the `primary` slot in order for one in the `contextual` slot to appear at the right/end.

### Expected Behavior

I would expect to be able

[2022-02-23 18:58] jcfranco commented on #4078
Thanks for the breakdown, @y0n4. Going to put this one in the freezer for now. cc @benelan

FWIW, here are some additional browser bug reports on shadow DOM + autocomplete:

https://bugzilla.mozilla.org/show_bug.cgi?id=1629226
https://bugzilla.mozilla.org/show_bug.cgi?id=1644302
https://bugs.webkit.org/show_bug.cgi?id=172567

[2022-02-23 21:36] asangma commented on #4156
I think this calls for deprecating the primary and contextual panel slot names.
I am seeing enough examples of designs that have a single panel on the end side.

@benelan @jcfranco cool?

[2022-02-23 21:50] cebender opened #4157 "Add Button size Extra Large"
### Description

We use rounded calcite buttons with icons only on esri.com for UI controls (e.g. play buttons) and are finding that the large size isn't quite big enough to pull your attention. You can see an example on the second section on the page here https://www.esri.com/en-us/industries/sustainability/overview where the white play button shows up over the image.

UI Controls: https://www.fi

[2022-02-23 23:27] macandcheese commented on #4105
@asangma I wonder if we should really dive into the multiplier options for use off a single medium scale. These requests will continue to pop up...

[2022-02-23 23:46] eriklharper opened #4158 "calcite-tree: Allow all keydown events to propagate"
### Description

Currently `keydown` events are suppressed inside `tree-item`'s keydown handlers in order to avoid ancestor tree-items from receiving a bubbled keydown event that do not apply to them.  We need to instead allow keydown events to propagate outside the root calcite-tree component, so we'll need to refactor how the keydown behavior is applied.

### Proposed Advantages

The existing ke

[2022-02-24 00:45] asangma commented on #2188
Hi. Sorry to do this late, but seems like the "inline" terminology is something we should keep since it's more inline (no pun intended) with CSS terminology and stuff.

OK, maybe the pun was intended.

[2022-02-24 17:44] jcfranco commented on #3667
This is blocked by https://github.com/Esri/calcite-components/issues/3815.

[2022-02-24 18:26] jcfranco commented on #1125
If the implementation of this ends up using popper or `calcite-popover`, it may be blocked by https://github.com/Esri/calcite-components/issues/3815.

[2022-02-25 00:01] AdelheidF commented on #404
The original test case has been changed to calcite-select a while ago.
![image](https://user-images.githubusercontent.com/44481292/155627499-f6654cf4-f8b8-4a54-8eb9-883f11a2fa1a.png)

The font selection has images that calcite-select or calcite-combobox don't support. So it's still a valid issue.

![image](https://user-images.githubusercontent.com/44481292/155627699-d684e06e-af22-49e7-8337-ce3aa7d

[2022-02-25 00:16] macandcheese commented on #404
My thoughts on this are still along the lines of "A more comprehensive approach might be to have some "widthMode" property that allowed you to select from a set of options like "min-width is that of trigger", "fit to content", or "default width"."

[2022-02-25 01:36] AdelheidF commented on #3079
OK, adding `locale="ar-u-nu-latn"` does work, but I really don't think it's good that we expect every client to now check the user's locale and add that prop only for ar to every calcite-input box. Same issue if we change the prop to `lang`. It should have at least a prop that can stay the same for all locales. Something like `latin-numbers=true`, and I'd prefer this be the default because it's ho

[2022-02-25 16:42] eriklharper commented on #3079
One solution could be to update your arabic entry in that list to use `ar-u-nu-latn` instead of just plain `ar`  I'm guessing that this might not work because you are relying on the `html lang="ar"` attribute which wouldn't match the name in the json, but if the json file encoded a key/value pair you could store the `key` as `ar` which would match the html lang attribute and then have the value se

[2022-02-25 18:58] y0n4 commented on #3890
The merged pr #4068 also includes the spacing fix from @jgibson02 suggestion

[2022-02-25 21:00] AdelheidF commented on #2476
this is the related issue for calcite-input https://github.com/Esri/calcite-components/issues/3079

[2022-02-25 21:04] AdelheidF commented on #3079
We already have an issue for calcite-color-picker: https://github.com/Esri/calcite-components/issues/2476

[2022-02-25 21:31] jcfranco commented on #4015
@asangma Do you have a suggestion for improving the disabled look?

[2022-02-25 21:50] macandcheese commented on #4121
@mitc7862 good news - this is already possible with the `--calcite-ui-icon-color` css variable :

https://jsbin.com/boxexaheye/1/edit?html,output

[2022-02-25 21:50] #4121 closed

[2022-02-25 21:59] macandcheese commented on #4116
I agree with this use case - however I don't think it should be "True by default" - disabling the padding here would be a breaking visual change so having it as opt-in behavior works.

cc @asangma - we may also want to look at adding a reciprocal pattern to panel to provide a consistent spacing when needed.

[2022-02-25 22:00] macandcheese commented on #4121
@mitc7862 good news - this is already possible with the `--calcite-ui-icon-color` css variable :

https://jsbin.com/kuguqivuna/1/edit?html,output

[2022-02-25 22:29] jcfranco commented on #4111
@ReidPritchard Thanks for reporting this.

[Fixit note] Filtering needs to happen on `componentWillLoad`. Later updates to the component properly trigger filtering.

[2022-02-25 23:11] nwhittaker commented on #3064
Noticing this issue in the field-apps-web project, as well.

[2022-02-25 23:17] y0n4 commented on #3931
I noticed that the chevron icon is not focusable/tabbable (this can be addressed by wrapping it in a calcite-button).

Right now when the dropdown is opened, the whole combobox gets focused. In the case when the chevron icon gets clicked and the dropdown opens/closes, which in element gets focused? The whole combobox or the chevron icon button or does it depend on which element gets clicked?

[2022-02-25 23:24] jcfranco commented on #404
@macandcheese Sorry for sounding like a broken record, but do we really need an option to customize the width? It seems heavy-handed. [Rehashing my earlier comment](https://github.com/Esri/calcite-components/issues/404#issuecomment-915469219), but could we:

1. have the dropdown's minimum width be the width of the trigger and,
2.  allow it to grow if the dropdown items are wider than the trigger?

[2022-02-26 01:12] jcfranco opened #4168 "value list should only leave the selected item as tabbable"
### Actual Behavior

Navigating with the keyboard will leave navigated elements as tabbable.

### Expected Behavior

Only the selected item should be tabbable after the list loses focus.

### Reproduction Sample

https://codepen.io/jcfranco/pen/jOavwbX?editors=1000

### Reproduction Steps

1. tab or click the selected item
2. press ⬆️/⬇️ to go to the last item (don't select)
3. press Tab to move f

[2022-02-26 01:12] jcfranco commented on #4168
@y0n4 Can you take a look at this one?

[2022-02-27 00:10] ffaubry opened #4169 "action-bar expanded not respected when expand-disabled"
### Actual Behavior

[code]
The action bar doesn't render expanded.

### Expected Behavior

My expectation is that expand-disabled only remove the UX at the bottom of the action-bar ">>" and "<< Collapse".
I still want to be able to control if the action-bar is expanded independently of the expand-diabled.

### Reproduction Sample

[See code in "Actual Behavior"](https://codepen.io/ffaubry/pen/LYO

[2022-02-28 13:27] TheBlueDog commented on #4116
@macandcheese maintaining current behavior as the default is what I meant. The description has been updated to reflect that. Good catch.

[2022-02-28 18:06] AdelheidF opened #4171 "calcite-color-picker: drag not working on touch"
### Actual Behavior

Dragging works with mouse interaction, but not on touch.
If this is a limitation with touch then it should at least be mentioned in the doc.

### Expected Behavior

dragging works across all devices

### Reproduction Sample

https://codepen.io/afreitag/pen/jOaeejz

### Reproduction Steps

open the codepen on a touch device

### Reproduction Version

@esri/calcite-components@1.

[2022-02-28 18:11] AdelheidF opened #4172 "calcite-input: up/down button hold not working with touch"
### Actual Behavior

Holding the up/down arrows to speed up the number change works with mouse interaction, but not with touch.
If this is a limitation with touch then it should at least be mentioned in the doc.

### Expected Behavior

Holding up/down arrows with touch keeps incrementing or decrementing the number.

### Reproduction Sample

https://codepen.io/afreitag/pen/jOaeejz

### Reproduction

[2022-02-28 22:21] benelan opened #4174 "Slider does not reset when a form is reset"
### Actual Behavior

`calcite-slider` does not reset when a form is reset.

### Expected Behavior

I expect `calcite-slider` to reset when a form is reset.

### Reproduction Sample

https://codepen.io/benesri/pen/QWOZPgW?editors=1010

### Reproduction Steps

steps in sample

### Reproduction Version

beta.77

### Relevant Info

_No response_

### Regression?

_No response_

[2022-03-01 18:42] benelan commented on #4076
verified on `next`

[2022-03-01 18:42] #4076 closed

[2022-03-01 18:45] benelan commented on #3890
verified on next

[2022-03-01 18:45] #3890 closed

[2022-03-01 18:50] benelan commented on #3978
verified on next

[2022-03-01 18:50] #3978 closed

[2022-03-01 18:53] macandcheese commented on #3931
My vote would be to not make the element itself focusable at all - just keep the visual as an affordance (and change the cursor to the same as the input). Clicks anywhere on the input would focus and open / close and focus. That behavior is replicable with a keyboard Esc press.

Thoughts @asangma ?

[2022-03-01 20:51] benelan commented on #3900
verified on next

[2022-03-01 20:51] #3900 closed

[2022-03-01 20:53] benelan commented on #3949
verified on next

[2022-03-01 20:53] #3949 closed

[2022-03-01 20:58] benelan commented on #4075
@Olga8614 or @zaramatheson can you please help verify that this issue is fixed on `next`. I'm not sure what I'm looking at.

[2022-03-01 21:08] benelan commented on #4005
verified on beta.77

[2022-03-01 21:08] #4005 closed

[2022-03-01 21:14] benelan commented on #3987
verified on beta.77

[2022-03-01 21:14] #3987 closed

[2022-03-01 21:19] benelan commented on #3986
verified on beta.77

[2022-03-01 21:19] #3986 closed

[2022-03-01 21:23] benelan commented on #2872
Verified on master. This test passed locally for me and has been passing in PR checks too.

[2022-03-01 21:23] #2872 closed

[2022-03-01 21:46] benelan commented on #3686
verified on beta.77
https://codepen.io/benesri/pen/gOXQeyv?editors=0010

[2022-03-01 21:46] #3686 closed

[2022-03-01 21:52] jcfranco commented on #4082
Verified with the repro case + beta.77. 🎉

[2022-03-01 21:52] #4082 closed

[2022-03-01 22:39] AdelheidF commented on #4082
looks good to me too, thanks

[2022-03-02 17:37] Elijbet opened #4178 "Bug: calciteTree selection in multi and multi-children"
### Actual Behavior

In selection mode multi-children, clicking on parent selects/deselects all as well as highlights for the occasion, but it won’t highlight if all items are selected, also won’t stop highlighting if all are deselected.

In selection mode muli, clicking on parents emits an array of selected nested items, but it neither selects all nor deselects all, nor it highlights when all ite

[2022-03-02 18:55] macandcheese opened #4179 "[Slider] Value labels can overflow container bounds and cause scrolling"
### Actual Behavior

If the label has a long string, and abuts the edge of a container, the extra width will cause horizontal scrolling. It also seems to have trouble determining its placement after its added to a container.

A thought would be to "dock" the string at the left or right-most extent of the container, although I could imagine this wouldn't always be desirable.

### Expected Behavior

[2022-03-02 22:55] jcfranco commented on #3613
This has been addressed by https://github.com/Esri/calcite-components/issues/3755. To summarize,  `HTMLCalciteLabelElement#status` is deprecated and it is now recommended to set the `status` on `calcite-input` and `calcite-input-message` directly.

Closing.

[2022-03-02 22:55] #3613 closed

[2022-03-03 00:18] jcfranco commented on #3099
This is blocked by https://github.com/Esri/calcite-components/issues/3815.

[2022-03-03 16:16] AdelheidF opened #4186 "calcite-input-date-picker: can't change year when using min/max props"
### Actual Behavior

You can't change the year in the calendar component when also using min/max props.
If I remove min/max it works fine.

### Expected Behavior

I expect that I can type in a new year in the calendar component.

### Reproduction Sample

https://codepen.io/afreitag/pen/yLPOpVY

### Reproduction Steps

1. click on date to open calendar
2. click on year and try to change it, this is

[2022-03-03 16:58] ethanbdev opened #4187 "calcite-input-date-picker: minAsDate/maxAsDate not respected"
### Actual Behavior

When setting the `minAsDate` and `maxAsDate`, the min/max is not respected and the user can change the date to something before/after the defined min and max.

### Expected Behavior

The user should not be able to select a date outside the bounds of the min/max.

### Reproduction Sample

https://codepen.io/eborgen/pen/xxPmvBq

### Reproduction Steps

1. Open the date picker
2.

[2022-03-03 16:58] ethanbdev commented on #4187
Possibly related to #4186

[2022-03-03 20:23] macandcheese opened #4192 "[Shell Panel] Add placement option to allow positioning at top or bottom of shell"
### Description

As a designer / developer, I may want to "pin" a shell-panel to the bottom of my shell. Consider the desired design

<img width="1678" alt="Screen Shot 2022-03-03 at 12 20 04 PM" src="https://user-images.githubusercontent.com/4733155/156646778-dd43bcbc-0ffb-48b6-89e7-6e55d78c600d.png">

### Acceptance Criteria

A new property (detached-placement/position?) is available to allow pl

[2022-03-03 22:23] macandcheese commented on #404
I don't think there is a use case for the dropdown being "narrower-than-trigger". But very often, dropdowns are triggered by a square "icon action" of 48px width. In these cases, setting the minimum width to 48px is useless - the content will always be wider.

Imagine a set of three actions, that each launches a dropdown to configure x. Some of the dropdown-items are longer than others. Without a

[2022-03-04 00:22] stevenalbers opened #4196 "calcite-combobox: choosing the selected option in a single select emits [undefined]"
### Actual Behavior

Previously the single select mode on `calcite-combobox` would re-select the option if you chose it while it's already selected. From beta.70 onward though the same action now emits `[undefined]` instead.

### Expected Behavior

It could go one of two ways:

* Maintain the behavior from beta.69 and previous, where the chosen option is emitted, and the component's state remains

[2022-03-04 00:24] AdelheidF opened #4197 "calcite-popover doesn't show when referenceElement is calcite-panel"
### Actual Behavior

calcite-popover doesn't show when referenceElement is calcite-panel, `placement="leading-start"`.

I'm guessing it's related to this change: https://github.com/Esri/calcite-components/pull/4115

![image](https://user-images.githubusercontent.com/44481292/156674718-105f44be-816f-479c-920b-73cbd2dd3398.png)

### Expected Behavior

popover shows when it's set to open

### Reprodu

[2022-03-04 15:40] jmhauck opened #4198 "wrong content is shown for nested tab"
### Actual Behavior

When clicking on a nested child tab the wrong content is shown.

Start with the following and click on "Child 2"... notice that it shows "Parent content 2" rather than the expected "child content 2"

![image](https://user-images.githubusercontent.com/2170893/156792185-39de7c13-10e7-4ffd-ab95-34d2165c3c75.png)

### Expected Behavior

When clicking on a nested child tab the chil

[2022-03-04 19:35] mpayson opened #4199 "[calcite-components-react] Support React 17+"
### Description

With React 18 on the horizon, it'd be great if the React output target can support React 17+, and the Stencil docs suggest this is supported ([doc](https://stenciljs.com/docs/react)):

### Acceptance Criteria

React 17+ supported

### Relevant Info

_No response_

### Which Component

React output target

### Example Use Case

_No response_

[2022-03-04 21:22] jcfranco commented on #404
Thanks for the rundown. I know the proposed changes would cause some open dropdowns to be a different width in some cases, but wouldn't it be better for ergonomics to not have the user think about this?

Even with the sizing mode prop, I think you would also run into an issue of inconsistent trigger sizes if they're not using the same element + configuration.

In any case, I ~hacked~ whipped up a

[2022-03-04 21:37] macandcheese commented on #404
I agree the width difference is minor, although not ideal - that we can live with if needed.

The "have to set width:200px" on your dropdown group because you've used our built-in icon offering seems weird. If that can be handled by the component without needing to choose a width-mode, it would be a better option.

Just IMO - Opting into a prop for the "really long non-wrapping string" use case do

[2022-03-05 04:07] driskull commented on #4197
Interesting. For some reason, the popover is getting "escaped". `data-popper-escaped`. https://popper.js.org/docs/v2/modifiers/hide/

[2022-03-05 06:24] Olga8614 commented on #4075
We verified this defect on AGOL 10.1 devext and qaext site (3/3/2022) in CZ/DA/DE/EL/TR language with FF/Safari/Chrome/Edge(Chromium) browsers. The first day is still Sunday rather than Monday on calendar on time slider options pane. Please refer to "https://github.com/ArcGIS/I18N-BYS-Bugs/issues/7699.jpg" So this defect is not fixed. Thanks!
![image](https://user-images.githubusercontent.com/2961

[2022-03-05 22:56] zaramatheson commented on #4075
@Olga8614 This fix hasn't made it into MV yet. @benelan or @jcfranco Can you direct us to how to verify this on next?

[2022-03-06 01:45] AdelheidF commented on #4075
@zaramatheson  if you change your codepen to use this below instead of `next`, you can pick the calcite version to use. The latest is beta.78.

[code]

[2022-03-07 02:54] fendiaoxiaoshuazi opened #4206 "Set value on calcite-input-time-picker works incorrectly when default value exists"
### Actual Behavior

When the default value exists on the calcite-input-time-picker, the set value on the input time picker will work incorrectly.

For example, the input time picker has the default value of 11:00, when I try to set the input time picker's value to 14:30 by code, the input time picker will receive an incorrect value 14:00:00. (Note: if the input time picker does not have the defau

[2022-03-07 02:56] fendiaoxiaoshuazi commented on #4206
The issue was found in the Survey123 JS API. When the time question has the default value, and they want to change the value through the JS function, the value cannot be set correctly.

[2022-03-07 22:09] apfister opened #4208 "Pick List Item in Pick List Group - Removable prop causing entire Group to be removed"
### Actual Behavior

When using a Pick List Item with its `removable` property in a Pick List Group, when the "X" is clicked to remove the item, the entire Pick List Group is removed.

### Expected Behavior

Only the Pick List item in the group should be removed, not the entire Group and any other items.

### Reproduction Sample

https://codepen.io/apfister/pen/LYOvJKG?editors=1000

### Reproducti

[2022-03-08 16:41] macandcheese commented on #4155
When you say build custom input labels, do you mean just slot the div inside a `calcite-label` like this?

https://jsbin.com/zexapenizo/1/edit?html,output

I think the issue with potentially styling or placing a named slot is that, like in Mitch's example, there are many potentially valid placements for the tooltip.

[2022-03-08 16:57] Elijbet opened #4210 "calcite-label: prop doesn't reflect in componentFirstSiblingPage use case of labelable test"
### Actual Behavior

Follow up on #4029:

It appears that setting label.id = ${id} sets the prop but does not set the attribute in componentFirstSiblingPage use case of labelable (commonTests.ts), while setting label.setAttribute("for", ${id}) sets both attribute and the prop. Demo of componentFirstSiblingPage is confirmed to wire up both prop/attribute when setting attribute, but only wiring prop

[2022-03-08 17:02] TheBlueDog commented on #4155
We could certainly start with one as an opinionated pattern that we all use.

[2022-03-08 17:48] jcfranco opened #4211 "Calling `click()` on switch element does not toggle"
### Actual Behavior

`HTMLCalciteSwitchElement#click()` does not toggle.

via @dbouwman

### Expected Behavior

`HTMLCalciteSwitchElement#click()` toggles the component on/off.

### Reproduction Sample

https://codepen.io/dbouwman/pen/gOXqMow?editors=1000

### Reproduction Steps

1. get a reference to the switch element
2. call `click()` on it
3. notice there is no change

### Reproduction Version

[2022-03-08 17:55] jcfranco opened #4212 "Audit components for `HTMLElement#click` behavior"
### Background

Stems from https://github.com/Esri/calcite-components/issues/4211

Components similar to switch (e.g., checkbox) with single-click behavior should be updated to work with `HTMLElement.click`.

This issue will focus on identifying these components and which ones are not handling the expected `myElement.click()` behavior.

### Desired Outcome

A list of components that need to handle

[2022-03-08 19:08] jcfranco commented on #3891
FWIW, this landed in beta.76.

Verified via repro case.

[2022-03-08 19:08] #3891 closed

[2022-03-08 19:20] jcfranco opened #4213 "Deprecate `locale` prop in favor of global `lang` attr/prop"
### Description

The following components have a custom prop (`locale`) for users to specify the language. These should be deprecated in favor of the global `lang` attr/prop:

### _public_

* `input`
* `input-time-picker`
* `date-picker`

### _internal_

* `time-picker`
* `date-picker-month-header`

### Acceptance Criteria

For public usage:

1. deprecate `locale`
2. use the global attribute watch

[2022-03-08 19:34] jcfranco commented on #3761
Verified with repro case. Great job, @Elijbet!

[2022-03-08 19:34] #3761 closed

[2022-03-08 21:47] BennyBaruba opened #4214 "Radio Button Group item does not stay checked after navigating away and back in"
### Actual Behavior

Using the CC Radio Button Group with two Radio Buttons.  When the user first accesses the page with the Radio Buttons, the "Off" Radio Button is correctly selected.  If the user navigates to a different view or clicks the browser back button and then back in to the view with the Radio Button component.  Neither the "Off" or "On"  Radio buttons are selected.  If I log out the R

[2022-03-08 22:12] jul11557 opened #4215 "Bug: calcite-dropdown-group attributes not respected when using custom elements bundle"
### Actual Behavior

When in multi-select mode, the calcite-dropdown does not show checkmarks and behaves as if it is still in "single" selection mode.

### Expected Behavior

- [ ] The multi-select checkmarks should display if the dropdown is used in a custom widget
- [ ] Users should be allowed to select multiple items from list

### Reproduction Sample
https://github.com/tre11178/jsapi-custom-w

[2022-03-09 16:20] asangma commented on #3931
Basically, the behavior should be the same as CalciteSelect.

[2022-03-09 18:36] jcfranco commented on #4215
This may be a duplicate of https://github.com/Esri/calcite-components/issues/3368.

[2022-03-09 20:24] jul11557 commented on #4215
@jcfranco it does look to us like it may be the same issue. Thanks for catching, we did a search for duplicates and didn't see that one. Does this issue plus #3368 provide enough info for you all to look into resolving the bug?

[2022-03-10 01:59] ellenupp opened #4220 "Text alignment inconsistencies in dropdown items"
### Actual Behavior

When a dropdown is used inside a container with `text-align` set, it is inconsistently applied to the dropdown items as well.

Here, `text-align: center` is set on a div containing the dropdown. The alignment is applied to the dropdown items.
![image](https://user-images.githubusercontent.com/14304581/157571659-a7ac51e4-5a10-42fc-9053-c8ccf067ccd5.png)

However when there is a

[2022-03-10 04:28] macandcheese commented on #4220
Good catch, we should ensure we are setting text-align explicitly to prevent this.

[2022-03-10 18:18] eriklharper commented on #4206
Thanks for reporting this and reproducing the issue!  I am the original author of this component and have verified this locally. It appears to be caused by the internal `calciteTimePickerChange` event listener sending an incorrect time value back up to the input component.  I can fix this by making the internal time-picker component respect direct value setting so that it doesn't interfere with di

[2022-03-11 14:45] jcfranco commented on #3225
Fixed via #2655.

[2022-03-11 14:49] jcfranco commented on #2865
[belated] closing as verified based on ☝🏼.

[2022-03-11 14:49] #2865 closed

[2022-03-11 15:01] jcfranco commented on #3226
Fixed via #2655.

BTW, the original codepen seems to have been modified for another bug, so I created this one for testing: https://codepen.io/jcfranco/pen/XWVrZqy

[2022-03-11 15:11] jcfranco commented on #1846
Closing, as this was addressed by https://github.com/Esri/calcite-components/issues/1076 in beta.60.

[2022-03-11 15:11] #1846 closed

[2022-03-11 15:13] jcfranco commented on #1478
Fixed via #2655.

[2022-03-11 19:10] paulcpederson commented on #4196
@benelan would be good to up-level this and prioritize it for a future sprint.

[2022-03-11 20:56] AdelheidF commented on #1478
Looks good, I can no longer focus the disabled list items. Tested with 1.0.0-next.415

[2022-03-11 20:56] #1478 closed

[2022-03-12 20:58] nwhittaker opened #4229 "Event dispatched for programmatic change if input has focus"
### Actual Behavior

If a `calcite-input` element has focus, and its value is changed programmatically, it will dispatch a `calciteInputChange` event when it's blurred.

### Expected Behavior

A `calciteInputChange` event is not dispatched because the value was not changed due to a user interaction.

### Reproduction Sample

https://ember-twiddle.com/5f817823e90d22b8417ae66304a80c52

Ember sample

[2022-03-14 01:58] #4210 closed

[2022-03-14 16:35] benelan commented on #4199
My understanding is that we would need to change the output target's react peer dep version, which would cause issues for everyone using 16x

cc @jcfranco

[2022-03-14 16:46] jcfranco commented on #4064
Fixed by #2655: https://codepen.io/jcfranco/pen/MWrYVwV?editors=1010.

[2022-03-14 17:00] jcfranco commented on #4214
Thanks for reporting this. I have a few questions:

1. Would it be possible to submit a repro case with your TSX + VDOM setup?
2. What is your VDOM environment? I see `vnodeSelector` in one of the screenshots, so I'm guessing it's either maquette (standalone or from the JS API).
3. Where are `RadioButtonGroup`/`RadioButton` coming from? They seem to be external since neither our components have an

[2022-03-14 18:19] macandcheese opened #4231 "[Value List] Keyboard usability enhancements in drag-enabled mode"
### Description

Following up from Teams chat - some improvements to the value list while in `drag-enabled` mode to make using with a keyboard a bit easier:

- Add support for `esc `to exit that mode (currently only hitting spacebar again exits the mode)
- Add support for `home` / `end` to quickly move an item to either extent (and preventDefault so the page doesn't scroll up / down)

### Acceptan

[2022-03-14 19:46] nwhittaker opened #4232 "No `change` event if input cleared after setting value programmatically with focus"
### Actual Behavior

If an empty `calcite-input` element has focus and its value is set programmatically, it will not dispatch a `calciteInputChange` event if it's manually cleared and blurred.

### Expected Behavior

A `calciteInputChange` event is dispatched because the value was changed due to a user interaction.

### Reproduction Sample

https://ember-twiddle.com/84ec2591fdac5ae61ae10e6dc804d6

[2022-03-14 21:14] jcfranco commented on #2204
@hccampos Can you confirm if this is still an issue? I could not reproduce with the latest version used by the API.

[2022-03-14 23:13] jcfranco commented on #674
Our components will go over an a11y audit. Blocking this until that is completed.

[2022-03-15 00:19] jcfranco commented on #1121
There's been some changes to the components since the last comment (all components using shadow DOM + Stencil updates).

@AdelheidF can you confirm if this still an issue with the latest version? Thanks! 🙇

[2022-03-15 00:27] jcfranco commented on #4215
@jul11557 I believe so, thanks!

[2022-03-15 02:31] benelan commented on #4098
Audit results: https://github.com/Esri/calcite-components/wiki/CSS-Variable-Audit

[2022-03-15 05:29] driskull commented on #3513
Yep, seems to be related.

[2022-03-15 18:19] paulcpederson commented on #2033
#4229  I think is related to this as well.

[2022-03-15 18:43] ellenupp commented on #4124
Here is a video showing the usage, including an example where left placement is preferable over top or bottom.
![2022-03-15_11-31-42 (3)](https://user-images.githubusercontent.com/14304581/158448913-0f44d745-d0b4-4869-a307-1a28c37d4c62.gif)

[2022-03-15 18:48] AdelheidF opened #4237 "calcite-input type=number not always updating value in box if starting with min/max value or when going back to default"
### Actual Behavior

1.)
This is related to this fixed issue https://github.com/Esri/calcite-components/issues/3003. A special case still exhibits the problem.

If the value inside the input box is the same as its min or max value, changing the value of the input box programmatically won't update the value displayed in the input box.

2.)
When resetting the values to their original value programma

[2022-03-15 18:57] jmanke opened #4238 "RTL - Color picker HSV/RGB fields incorrectly mirrored"
### Summary

The RGB and HSV fields are incorrectly RTL mirrored.

### Actual Behavior

![image](https://user-images.githubusercontent.com/19629809/158449379-67431b2e-2aee-4184-ac7a-0563c5669db7.png)

### Expected Behavior

The RGB and HSV fields should not be RTL mirrored, they should be in R,G,B and H,S,V order like on EN language.

### Reproduction Sample

https://codepen.io/jmanke/pen/NWXqBRb

[2022-03-15 20:30] AdelheidF commented on #1121
This setup works fine now.

![image](https://user-images.githubusercontent.com/44481292/158466574-a61eb759-e49e-4a02-b362-4b1a8f881cdb.png)

[2022-03-15 20:30] #1121 closed

[2022-03-15 21:16] asangma commented on #3181
@macandcheese
Thinking more on the designs and discussing with @eriklharper, this design seemed better and more robust. How you feel?

<img width="669" alt="image" src="https://user-images.githubusercontent.com/12503298/158474074-948ceabf-712c-46e1-915d-0991fa0641c2.png">

[2022-03-15 21:19] driskull commented on #4197
@jcfranco we can do one of two options pretty easily...

1. Add a property to turn off the "hide" modifier.
2. Remove hiding the popover when it is "data-popper-escaped".

What do you think?

[2022-03-15 21:19] driskull commented on #4197
This demo explains pretty well if you scroll down. https://popper.js.org/docs/v2/modifiers/hide/#demo

[2022-03-15 21:21] jcfranco commented on #4197
Let's do 2. I think showing when escaped is fine since it means popper couldn't place it ideally. We still want to hide it if the reference is not visible, right?

[2022-03-15 21:29] macandcheese commented on #3181
Agree

[2022-03-15 21:45] macandcheese commented on #2882
@MikeTschudi - this seems to be resolved testing with v77 - can you verify in this sample : https://jsbin.com/nerohulacu/edit?html,js,output

[2022-03-15 21:51] macandcheese commented on #2852
@ellenupp - this seems to have been resolved at some point, as it seems to work on beta 77 - https://codepen.io/mac_and_cheese/pen/abEOPNo?editors=1010.

Going to close this, feel free to re-open if this isn't resolved.

[2022-03-15 21:51] #2852 closed

[2022-03-15 21:51] #2882 closed

[2022-03-15 22:00] benelan commented on #2520
This issue should be fixed for `calcite-input-date-picker` rather than `calcite-input`. The issue is reproducible in the doc sample: https://developers.arcgis.com/calcite-design-system/components/input-date-picker/#sample

[2022-03-15 22:06] macandcheese commented on #2445
I think removing truncation is the way to go here - simply letting the text wrap prevents this from being an issue and teams can choose to truncate on their own if they really want to. cc @asangma

[2022-03-15 22:15] macandcheese commented on #2380
cc @asangma - maybe we can look at not proportionally scaling this component, I think it would resolve https://github.com/Esri/calcite-components/issues/3337 as well. Thoughts?

[2022-03-15 22:17] jcfranco commented on #2913
Closing as verified! 🎉

[2022-03-15 22:17] #2913 closed

[2022-03-15 22:20] MikeTschudi commented on #2882
@macandcheese, I tried it both with my sample locally in Chrome, Firefox, & Edge, and with in the jsbin setup in Chrome, and it works beautifully; thank you!

[2022-03-15 22:34] AdelheidF opened #4240 "calcite-tile: content-start icon not spaced correctly in RTL"
### Actual Behavior

spacing missing in case of RTL

![image](https://user-images.githubusercontent.com/44481292/158483572-094cf9f9-cb20-416c-9d89-a8bbd5eb153c.png)

### Expected Behavior

spacing the same between LTR and RTL

### Reproduction Sample

https://codepen.io/afreitag/pen/GRyJzZX

### Reproduction Steps

look at the spacing of the text to the icon on the right

### Reproduction Version

[2022-03-15 23:19] jgrayson-apl opened #4242 "Popover stopped working between beta.77 and beta78"
### Actual Behavior

calcite-popover stopped working between beta.77 and beta.78

### Expected Behavior

expected popover to keep working between beta.77 and beta.78

### Reproduction Sample

https://codepen.io/john-grayson/pen/gOopqEV

### Reproduction Steps

1.click on the information icon to the right of of 'Recent Weather' and notice how the popover appears.
2. change calcite-component version

[2022-03-16 00:12] jcfranco commented on #3368
Marking this as a duplicate of #4215.

[2022-03-16 00:12] #3368 closed

[2022-03-16 00:39] benelan opened #4246 "Bug: Missing types when building from a new clone"
### Actual Behavior

Some of the components have missing types when building from a new clone. For example, here are the correct files for `calcite-combobox`:
https://unpkg.com/browse/@esri/calcite-components@1.0.0-beta.78/dist/types/components/combobox/

And here is what it looks like when files are missing:
https://unpkg.com/browse/@esri/calcite-components@1.0.0-beta.79/dist/types/components/com

[2022-03-16 14:46] hccampos opened #4248 "Enhancement: calciteCheckboxChange event should include modifiers or underlying click or keyboard event"
### Description

When toggling a checkbox, some apps may want to perform special logic depending on the state of modifier keys.

It would be great to have a way of looking at the state of the modifier keys when handling the `calciteCheckboxChange` event (but potentially others as well). Alternatively, the original `KeyboardEvent` or `MouseEvent` that triggered the `calciteCheckboxChange` could be

[2022-03-16 14:48] Zay commented on #4246
I can confirm that 4 type definitions are missing.
I used https://github.com/Esri/calcite-components-examples/angular (currently on beta-78)

and ran commands:
- npm install
- ng build
- ng serve

This works fine.

Then upgraded to version "1.0.0-beta.79" using
npm install @esri/calcite-components@latest

Getting the following errors on ng serve now:
ERROR in node_modules/@esri/calcite-components/

[2022-03-16 21:07] benelan commented on #4246
@Zay we will be releasing `beta.80` tonight to patch this issue.

[2022-03-16 22:02] phlorah commented on #749
Any update on this?

[2022-03-16 22:48] benelan commented on #4168
verified on beta.79

[2022-03-16 22:48] #4168 closed

[2022-03-16 23:03] benelan commented on #4111
@ReidPritchard can you please verify that the fix is what you are looking for? You can get the filtered items by adding this line of code:

[code]

Unfortunately `filteredItems` is still `undefined` on the initial load, unless I'm missing something.

[2022-03-16 23:04] benelan commented on #4064
Verified using Franco's sample!

[2022-03-16 23:04] #4064 closed

[2022-03-16 23:14] benelan commented on #3995
verified on beta.79

[2022-03-16 23:14] #3995 closed

[2022-03-16 23:22] benelan commented on #3866
Looks like the actions are now 100% width since `beta.75`, is that by design or a regression @asangma / @macandcheese ?
https://codepen.io/benesri/pen/mdpeQLd

[2022-03-16 23:26] benelan commented on #3727
@rpanichakit9541 can you please verify that this issue is resolved in `beta.79`? I was unable to reproduce the issue with your original sample

[2022-03-16 23:29] benelan commented on #3226
verified in beta.79

[2022-03-16 23:29] #3226 closed

[2022-03-16 23:33] benelan commented on #3225
verified on beta.79

[2022-03-16 23:33] #3225 closed

[2022-03-16 23:37] rpanichakit9541 commented on #3727
@benelan - I just verified that changing to beta.79 resolved it.

[2022-03-16 23:38] #3727 closed

[2022-03-16 23:39] benelan commented on #3123
verified on beta.79 🎉

[2022-03-16 23:39] #3123 closed

[2022-03-16 23:46] benelan commented on #1156
verified on beta.79 - all a11y tests are passing on storybook using the repro steps provided

[2022-03-16 23:46] #1156 closed

[2022-03-17 16:41] asangma opened #4262 "Calcite Button - space-between alignment is wrong"
### Actual Behavior

With `alignment="space-between"`, icons and text are shifted toward flex-end.
It appears to be related to the loader element being rendered even when there's no `loading` prop.

The layout is also weird when `loading` is turned on.

### Expected Behavior

The space-between alignment should space the elements apart, i.e. on either side of the container.

Also, how the loading s

[2022-03-17 16:43] #4262 closed

[2022-03-17 17:32] Elijbet opened #4265 "Bug: [combobox] Mac Fn + right/left (home / end) should toggle corresponding first/last item into focus & scroll into view after opening listbox"
### Actual Behavior

Mac Fn+left (home) initially focuses on the first item in the open listbox, but won't scroll to the last when hitting Fn+right (end). And after you scroll down to it manually, it won't scroll back to home.

### Expected Behavior

Mac Fn + right/left (home / end) should toggle corresponding first/last item into focus & scroll into view if open or after opening the listbox.

###

[2022-03-17 17:46] gpbmike commented on #4146
This looks good to me now. Thanks all.

![image](https://user-images.githubusercontent.com/8754/158863648-e81f489c-66df-4168-b430-828f7ef502d2.png)

[2022-03-17 17:46] #4146 closed

[2022-03-18 01:59] #3875 closed

[2022-03-18 13:19] FelFly commented on #3181
Hello - This issue was shared with me because we're redoing our cards and currently wrestling with image thumbnails aspect ratios. Glancing at the mocks above, which mostly seem to feature a square image similar to the 1:1 group thumbnail, is the pattern for the 3:2 item thumbnail what I see on Alan's post, where underneath the image is essentially white space?

[2022-03-18 14:48] sam11927 opened #4272 "Enhancement: dropdown placement when not enough space in parent component"
This is regarding the `calcite-dropdown`. When there is not enough space in the parent component, the dropdown will now autofill to where it thinks there is space. Instead, we should be able to specify where to place it. For example, if there is a small component in the top right corner of the screen that creates a dropdown, it will autofill the placement to be `top` when it makes far more sense f

[2022-03-18 16:18] benelan commented on #4158
verified on beta.80!
https://codepen.io/benesri/pen/XWVXBjg?editors=1010

[2022-03-18 16:18] #4158 closed

[2022-03-18 17:00] chclose opened #4274 "Format description field for List item"
Hi there,

I'd like to add a carriage return to the description tag of the List item /pick list item:

html code (pulled from calcite pick list item which also behaves the same way):

I'd like the above description tag to read in the web app as:

DataSource: City of Moncton
Effective: 2021-09-21

Instead of as one line.

I would have thought the description tag would accept some level of formattin

[2022-03-18 17:45] benelan commented on #4075
Hi @zaramatheson and @Olga8614! Did you get a chance to verify this issue? It is now available on `beta.80` as well.

[code]

[2022-03-18 17:52] zaramatheson commented on #4075
@Olga8614  Here is an updated codepen. Can you help verify?
https://codepen.io/zmatheson/pen/qBpZNqx

If you just edit the locale here, it should update:
![image](https://user-images.githubusercontent.com/50747646/159057007-3a4d48ca-bc2e-486d-9402-b615e80c1c24.png)

[2022-03-18 18:04] macandcheese commented on #863
As a note - when this is split into its own component - handling resize options on the component level will allow us to change the custom icon affordance... Currently teams cannot adjust the resize direction / capability without hacking into shadow DOM. This has come up a few times recently.  cc @jcfranco @benelan priority bump?

[2022-03-18 18:25] macandcheese commented on #4242
@jgrayson-apl - I verified this works on v80 - could you give that a try and close if you can confirm?

[2022-03-18 18:25] benelan commented on #3866
@macandcheese mentioned 100% width makes sense for expanded action bars. verified on `beta.80`

[2022-03-18 18:25] #3866 closed

[2022-03-18 19:39] Olga8614 commented on #4075
Updated codepen works good to me

[2022-03-18 19:41] benelan commented on #4075
thanks for confirming!

[2022-03-18 19:41] #4075 closed

[2022-03-18 20:19] benelan commented on #4111
Looks like the component wasn't hydrated yet. Franco provided a working example:
https://codepen.io/jcfranco/pen/eYyZgmz?editors=1011

Verified on beta.80

[2022-03-18 20:19] #4111 closed

[2022-03-18 20:29] benelan commented on #2655
verified on beta.80
https://codepen.io/benesri/pen/vYpGgKz?editors=1000

[2022-03-18 20:29] #2655 closed

[2022-03-18 23:26] jcfranco commented on #749
Apologies for the belated update. I have an old PR with the functionality in place, but no tests set up. I'll sync it with the latest changes and add the missing tests for the assigned milestone.

[2022-03-18 23:45] rpanichakit9541 opened #4276 "calcite-input-date-picker: not preventing typing values outside or min/max"
### Actual Behavior

When typing into the input, I can change the value to be less than the min or greater than the max

![below_min_input_date_picker](https://user-images.githubusercontent.com/44479773/159097261-bbdf25f9-0634-49cc-bbb7-239e2225003a.gif)

### Expected Behavior

The textbox should restrict the user input to be within the min/max values similar to how the actual date picker is behav

[2022-03-19 00:46] jcfranco opened #4277 "Allow setting the input-time-picker value from a ISO 8601 formatted value or a Date instance"
### Description

Currently, it's a bit challenging to set the time picker value from an incoming Date instance. End users need to build a string from the date instance and use that to set the value. Allowing users to set the time via a ISO 8601 formatted value or a Date instance would be a great improvement.

### Acceptance Criteria

Similar to `input-date-picker` and `date-picker` users should be

[2022-03-19 00:46] jcfranco commented on #1760
Superseded by https://github.com/Esri/calcite-components/issues/4277.

[2022-03-19 00:46] #1760 closed

[2022-03-21 11:26] arxit-nis opened #4279 "Calcite-tooltip sometimes throws browser console error"
### Actual Behavior

Using calcite-tooltip components is sometimes producing a console error (Chrome browser).
The error is : `o.getElementById is not a function` at https://js.arcgis.com/calcite-components/1.0.0-beta.77/p-2e29554c.js

### Expected Behavior

Even if the behavior of the component seems to be still OK, the error should not appear in the console.

### Reproduction Sample

https://dev

[2022-03-21 17:01] driskull commented on #3027
@jcfranco @asangma Do you know what we decided to do here? Can we get the issue updated with the necessary changes

[2022-03-21 17:37] jcfranco commented on #2920
I'd like to propose removing the stepper buttons from the tab order. Keyboard users will most likely use the ⬆️ ⬇️  keys to nudge the values and not go through the increase/decrease buttons. This aligns with the way `<input type=number>` behaves. The following component libs work similarly:

* https://opensource.adobe.com/spectrum-web-components/components/number-field/
* https://explore.fast.desi

[2022-03-21 17:45] jcfranco commented on #3027
We were going to meet to discuss, but schedules weren't aligning. @benelan Can we schedule something?

[2022-03-21 17:47] driskull commented on #3027
Cool. I saw this marked as "high" but we need some requirements before moving forward.

[2022-03-21 17:54] jcfranco opened #4281 "Inconsistent list item height when there's a mix with and without description"
### Actual Behavior

List item heights are not consistent if there's a mix of them with and without `description` set.

### Expected Behavior

List item heights are consistent.

### Reproduction Sample

https://codepen.io/jcfranco/pen/YzYGPYb?editors=1010

### Reproduction Steps

Set up list with items where some use `description` and other don't.

### Reproduction Version

beta.80

### Relevant I

[2022-03-21 18:48] driskull commented on #2920
I'm ok with that proposal.

[2022-03-21 18:53] driskull commented on #3668
@jcfranco can we maybe shelve this issue to the backburner? I think we might just wait to revisit these.

[2022-03-21 19:21] jcfranco commented on #3955
@asangma Is this still valid? I didn't see a difference in FF when comparing the codepen between its version (beta.65) and the latest.

[2022-03-21 19:26] Elijbet commented on #3555
I also noticed that when you drag item 2 into the first position in the list and remove item 2, it won't remove it visually.  The data is still correct (item 1 is the only one in the list) but the calcite-value-list is not rendering the removal properly.

[2022-03-21 20:38] jcfranco commented on #2920
You are time-traveling fast! 🚀 The proposed changes already landed in https://github.com/Esri/calcite-components/pull/2609/.

Closing!

[2022-03-21 20:38] #2920 closed

[2022-03-21 21:49] rpanichakit9541 opened #4282 "calcite-input-date-picker: hidden date-picker takes up space and affect layout on first render"
### Actual Behavior

When `calcite-input-date-picker` is first rendered the hidden date-picker takes up space in the layout while it's not visible.

![input_date_picker_scroll](https://user-images.githubusercontent.com/44479773/159368420-c5a79781-0a78-4cb9-b0e0-3e4e8b38cb0a.PNG)

### Expected Behavior

The component should not take up the space for the date-picker until it is active and visible.

[2022-03-21 22:24] jcfranco commented on #3724
FYI, I've submitted a PR for the z-indexing issues.

[2022-03-22 15:30] macandcheese commented on #4281
I don’t know if this is a problem. Lists should be presenting sibling items that display the same content, maybe something we could suggest in the documentation.

But as it stands if a summary or description wrapped, you would end up with different heights as well, and I don’t know if we want to get into adjusting that, imo.

[2022-03-22 16:37] rpanichakit9541 opened #4283 "calcite-input-date-picker: incorrect end of previous month date in some locales"
### Actual Behavior

When the locale is set to "sk" or "bg" (I think it's any language that orders Monday - Sunday instead of Sunday - Saturday) , look at March 2022 in the Calendar and notice that the last date of February shows up as 27 instead of 28.

![end_of_month_sk](https://user-images.githubusercontent.com/44479773/159528724-2f7858a4-665f-4863-8f8b-24e39d9c6afc.png)

### Expected Behavior

[2022-03-22 21:52] jcfranco commented on #3668
I think we should at least look for any animation props that would look odd in RTL. The rest may be minor and worth tackling later. I'll defer to the UXperts™: @macandcheese @asangma

[2022-03-23 01:23] Elijbet opened #4289 "combobox/combobox-item: tabbing out after selecting chips by clicking leaves the listbox open and focused"
### Actual Behavior

If you use arrow down to add chips and tab out of it, it works correctly, but if you click on items to add chips and tab out if it, it'll proceed to focus on the next element, leaving the current combobox open and focused.

https://user-images.githubusercontent.com/19231036/159601566-d08136e0-5fca-4077-9fe3-c2dd545090b0.mov

### Expected Behavior

Tabbing out of combobox after

[2022-03-23 16:54] daniellaumer opened #4290 "Calcite range slider not working properly on touch laptop"
### Actual Behavior

When trying to drag a calcite slider on a laptop with touch screen, the dragging of the slider does not work. The slider thumb keeps stopping and you have to re-drag it. See attached screenshot:
![CalciteSliderDrag](https://user-images.githubusercontent.com/93542103/159752574-ea3fbdef-eb82-4660-b158-4fb5a0c2ee0a.gif)

Note: A common html range slider works fine.

### Expected

[2022-03-23 19:23] macandcheese opened #4291 "[Input Message] Fix overzealous animation"
### Actual Behavior

When making an input-message active by adding the attribute, currently the animation is rather ... in your face. I think we should tone this down a bit.

https://user-images.githubusercontent.com/4733155/159779399-1a3c561b-3537-40f4-8964-d46e90f244eb.mov

![bam-cooking-show](https://user-images.githubusercontent.com/4733155/159779330-d38e9a9c-e07c-4648-9c95-06c24b0f8322.gif)

[2022-03-23 20:38] jmanke opened #4293 "calcite-split-button: Cannot navigate dropdown with keyboard"
### Summary

When opening the dropdown in the split-button, I am unable to navigate the list with arrow keys (up and down).

### Actual Behavior

The dropdown belonging to the split-button does not allow keyboard navigation through its items.

### Expected Behavior

The dropdown belonging to the split-button should allow keyboard navigation (up and down arrow keys) through its items.

### Reproduc

[2022-03-23 21:14] anveshmekala commented on #3982
@FelFly I believe the issue of `spacebar` unable to activate the button is related to VoiceOver. I had put up a [codepen ](https://codepen.io/ANVESHMEKALA/pen/YzYpyKp)example to illustrate the same. Though VoiceOver suggests to hold VO keys with spacebar to activate button but it isn't working irrespective of whether the element is a component or native one.
cc: @jcfranco

[2022-03-23 21:36] FelFly commented on #3982
@anveshmekala I tested your codepen in Safari with VoiceOver and I was able to change the semantic button text with `spacebar` and also the `VO keys + spacebar`. `VO keys + spacebar` doesn't work with the `span` and I'm not gonna lie, I'm not very good at javascript, so I can't identify what is missing in your codepen. But in this W3C example: https://codepen.io/FelFly/pen/ExoNMmx which is div mas

[2022-03-23 21:52] noahmulfinger opened #4294 "Optionally keep tooltip open when user clicks on reference element"
### Description

Currently when a tooltip is attached to a button, the tooltip will open on hover and then close immediately when clicked. This causes a problem in my use-case (a click-to-copy button) where the text of the tooltip changes once the user clicks. The tooltip closes before user can see the change in the text. In previous versions of calcite components (I last checked beta.55), the too

[2022-03-23 22:43] anveshmekala commented on #3982
Apologies to not mention about the browser earlier and i was testing with chrome98. Tried testing with safari and holding `VO keys + spacebar` didn't change the text of the  button, I had to leave the keys and make another keypress ( any key)  for the button element to change its `innertext`. And https://codepen.io/FelFly/pen/ExoNMmx works as expected with `VO keys + spacebar`

The issue is with t

[2022-03-23 23:27] driskull commented on #4294
I can revert this back. I thought it might be nice to just get it the tooltip out of the way once a user clicks on the reference element. @jcfranco what do you think?

[2022-03-24 01:21] macandcheese commented on #4294
I think this would be a nice option. There are cases like this where you may want to persist it - in this case you can't see the "Copied!" success text. We encounter the same issue in the docs site component preview when clicking to copy the code : https://developers.arcgis.com/calcite-design-system/components/notice/#sample

[2022-03-25 01:35] benelan opened #4305 "Stepper in custom element - next/previous methods have no visual effect"
### Actual Behavior

When stepper is in a custom element, the `nextStep` and `prevStep` methods do not visually change position. However, the `calciteStepperItemChange` event does trigger and the position is changed internally.

### Expected Behavior

Stepper works like it does when it is not inside a custom element.

### Reproduction Sample

https://codepen.io/benesri/pen/MWrJqzj

### Reproductio

[2022-03-25 14:23] BennyBaruba opened #4306 "It is not possible to override the Icon color in the Chip component"
### Actual Behavior

When overriding the Icon color using `--calcite-ui-icon-color` for the Chip component, the icon color does not change.  However the text color changes.

### Expected Behavior

 Using `--calcite-ui-icon-color` to override the Icon color for the Chip component, should change the color for the icon and not the color of the text in the Chip.  The workflow should be the same as see

[2022-03-25 14:23] BennyBaruba commented on #4306
@macandcheese

[2022-03-25 19:47] #2651 closed

[2022-03-25 23:11] macandcheese commented on #4178
@asangma do you want to help me work through some of the UI oddities here?

I think the combination of blue text, checks, etc., is incredibly confusing and should be improved with more consistent indication of selection:
![Screen Shot 2022-03-25 at 4 10 12 PM](https://user-images.githubusercontent.com/4733155/160213316-056b9959-0587-4a8a-bf7b-484574b134de.png)

Additionally, "unselected" tree item

[2022-03-25 23:40] macandcheese commented on #4281
Documentation site follow up for guidance on using these consistently:  https://github.com/ArcGIS/afd-calcite-documentation/issues/311

[2022-03-25 23:40] #4281 closed

[2022-03-25 23:42] jcfranco commented on #4282
You can use `overlay-positioning="fixed"` to escape the calendar popper from the scrolling container. https://codepen.io/jcfranco/pen/eYyvWzW?editors=1000

[2022-03-26 01:16] benelan opened #4315 "Disabled Stepper Item steals the visual selection when using the methods to change steps"
### Actual Behavior

The disabled stepper-item does not show as visually selected (good). However the stepper before the disabled one no longer shows as visually selected.

### Expected Behavior

If there are no enabled items after a stepper-item, then the item should still be visually selected after using `nextStep` or `prevStep`.

### Reproduction Sample

https://codepen.io/benesri/pen/PoEWKXv

[2022-03-28 15:36] rpanichakit9541 commented on #4282
@jcfranco - Thank you for the workaround.  For some reason when I try to apply this to the actual usage in the Home app I'm seeing a weird result where the popover is positioned incorrectly far from the input. Do you know why this would be happening?

![date_picker_position_fixed](https://user-images.githubusercontent.com/44479773/160434525-0e2cdfb5-406a-46de-9eb1-7848d105d762.gif)

[2022-03-28 16:16] macandcheese commented on #3074
@benelan @jcfranco - the icon placeholder / clear affordance has come up a few times since this issue. Could we bump priority on this a small bit?

[2022-03-28 16:52] gavinr commented on #4199
I worked around this by adding `--legacy-peer-deps` when installing, like this:

[code]

but that workaround is not ideal.

Would it be possible to set the output peer dep to `>=16`?

[2022-03-28 17:12] MonikaKanduri4525 commented on #3074
+1. We need the icon placeholder for the VTSE product.

[2022-03-28 17:15] gavinr opened #4317 "[calcite-components-react] `active` property on Calcite Modal is not bindable to a boolean in React"
### Actual Behavior

Creating a modal like this:

[code]

Shows the modal:
![image](https://user-images.githubusercontent.com/209355/160451423-46a06caf-c353-487b-8eba-c6dbc90fc5e2.png)

### Expected Behavior

The modal should **not** initially show since `active` property is set to `false`

### Reproduction Sample

https://codesandbox.io/s/nostalgic-frost-serugy?file=/src/App.js

### Reproduction

[2022-03-28 17:19] benelan commented on #4317
Possible duplicate of #3230, I'll document that this sprint.

[2022-03-28 17:35] benelan commented on #4317
Correct. [Here is a codesandbox](https://codesandbox.io/s/react-cc-radio-group-change-error-forked-g23wx?file=/src/App.js) with another workaround for the same type of issue.

[2022-03-28 17:47] benelan commented on #4317
Closing this issue as a duplicate of #3230

[2022-03-28 17:47] #4317 closed

[2022-03-28 18:17] gavinr commented on #4317
Thanks @benelan!

[2022-03-28 19:16] benelan commented on #4143
verified on storybook https://esri.github.io/calcite-components/?path=/story/components-controls-combobox--simple

[2022-03-28 19:16] #4143 closed

[2022-03-28 20:27] jcfranco commented on #4290
@daniellaumer Thanks for reporting this.

Additional testing on Windows 10 (thanks @bsvensson!) revealed issues with the following:

* Chrome version 99.0.4844.82 (Official Build) (64-bit)
* Chrome Version 100.0.4896.46 (Official Build) beta (64-bit)
* Chrome Version 100.0.4896.56 (Official Build) beta (64-bit)
* Edge 99
* Firefox 99 (probably the worse, similar to Edge 99)
* Firefox Beta 100 (beh

[2022-03-28 20:38] jcfranco commented on #4282
@rpanichakit9541 Oh, I _think_ this is a Popper issue where if an ancestor applies certain styles (e.g. `transform`) it messes up the positioning. This can happen with nested poppers or if a parent element applies these styles itself. It looks like modal applies `transform`. We can check if modal styles can be tweaked to avoid this. Can you share the hierarchy of components used in your GIF?

[2022-03-28 21:04] rpanichakit9541 commented on #4282
@jcfranco - Thanks for the info.  I believe the implementation in my GIF is actually using a Home app specific `Overlay` component that we created before we started using `calcite-components` and it does have `transform: translate3D(0, 0, 0) scale(1);` styling.

I'll try switching to using `calcite-modal` and let you know if that fixes it.

[2022-03-28 21:22] jcfranco commented on #4282
I think you'll encounter the same issue as `modal` uses `transform` at the moment. If possible, could you test removing the `Overlay` component's transform and see if that fixes positioning?

[2022-03-28 21:37] rpanichakit9541 commented on #4282
@jcfranco - I just tried removing `transform` from `Overlay` and that fixed it as you suspected.

[2022-03-28 23:00] benelan commented on #2814
verified on next
https://codepen.io/benesri/pen/popwvWG

[2022-03-28 23:00] #2814 closed

[2022-03-28 23:31] benelan commented on #4127
verified on next
![image](https://user-images.githubusercontent.com/10986395/160503991-a14fecf3-5dbc-4ea5-a4b0-5d40e8454f50.png)

[2022-03-28 23:31] #4127 closed

[2022-03-28 23:34] driskull commented on #4293
@jcfranco this one is a bit tricky, can we setup some time to go through our options?

The root if the issue is that there are nested default slots in play here and querying for assigned elements gets tricky.

[2022-03-29 15:57] nick-esri opened #4323 "InputMessage flashes on page load"
### Actual Behavior

When defining an input message for validation- the message is initially inactive and hidden. On page load the input message is briefly displayed before being hidden leading to a flash / visual artifact.

### Expected Behavior

The message should not show up at all on page load / refresh.

### Reproduction Sample

https://codepen.io/neilsonblack/pen/WNdOdqL

### Reproduction St

[2022-03-29 16:34] geospatialem commented on #3064
verified on `next`  ✅

[2022-03-29 16:34] #3064 closed

[2022-03-29 17:02] jcfranco commented on #4242
Closing based on ☝️ ([test app](https://codepen.io/jcfranco/pen/abEwaZg?editors=1010)).

[2022-03-29 17:02] #4242 closed

[2022-03-29 17:05] ethanbdev commented on #4276
Could be related: https://github.com/Esri/calcite-components/issues/4187

[2022-03-29 17:29] macandcheese commented on #4323
I think this may be a combination of https://github.com/Esri/calcite-components/issues/991 and, specifically to input message, this crazy animation that makes the root issue more noticeable : https://github.com/Esri/calcite-components/issues/4291

[2022-03-29 18:18] nick-esri commented on #4323
Thanks @macandcheese - looks like the stencil fix we were waiting on for #991 was merged, also agree it would be nice to tone down the animation :+1:

[2022-03-29 20:41] jcfranco commented on #4238
@anveshmekala I _think_ the layout within inputs is correct in RTL, it's the order of the inputs that needs to be fixed. cc @macandcheese

[2022-03-29 20:51] jmanke commented on #4238
@anveshmekala @jcfranco Yes @jcfranco is correct

[2022-03-29 21:03] jcfranco commented on #2093
I originally thought this was a storybook configuration issue (similar to https://github.com/Esri/calcite-components/issues/1127), but it looks like the problem is at the root of the component. I think we should update `pagination` to prevent `num` (number of items per page) being less than 1. @anveshmekala @macandcheese @driskull WDYT?

[2022-03-29 21:08] jcfranco commented on #2093
Repro case: https://codepen.io/jcfranco/pen/dyJRrgB?editors=1000

[2022-03-29 21:16] macandcheese opened #4326 "[Combobox] Add an option to limit the amount of displayed chips"
### Description

The Combobox can often become crowded when many chips are selected.

Propose to add a `limitChips`(name tbd) property that appends all additional chips after that numeric value to a non-dismissible "+n" chip.

Questions to answer:
- What chips are visible - is it decided by order entered, alphabetically, etc.
- Should there be an affordance for "no individual chips" - as in, "4 se

[2022-03-29 21:21] LeviRemi commented on #4326
Customer example where they dislike how other containers in the same row grow in height to accommodate the ever-expanding combobox. This layout also does not scale well for large quantities of selection.
<img width="869" alt="Screen Shot 2022-03-29 at 2 20 27 PM" src="https://user-images.githubusercontent.com/21701076/160709136-b9d01749-887e-4d82-81ac-368b4785ccb5.png">

[2022-03-29 22:44] anveshmekala commented on #2093
Yup agreed. It is better to make sure `num` prop value is always greater than 1. Does this mean we mask the text to be one even if the user type in zero ?

[2022-03-29 23:08] macandcheese commented on #2093
Agreed. I think it’s named to correlate to a specific ArcGIS data structure but ‘num’ as a prop name is a little confusing here - we don’t use shorthand names like that anywhere else

[2022-03-29 23:16] benelan commented on #2095
Is this still valid

[2022-03-30 00:00] driskull commented on #4196
@paulcpederson @benelan this seems to be fine in beta 77+. Last reproduction was in beta 76.

This is already what happens now.

Do we want to do anything else?

Should we be able to unselect a value in single select mode?

[2022-03-30 00:07] driskull commented on #2426
@benelan @jcfranco I think this should go through design to position the label alongside the checkbox.

We don't want to just implement it without consulting the design team and updating figma/etc.

[2022-03-30 00:09] jcfranco commented on #2426
We did triage this together, but I'll defer to @macandcheese.

[2022-03-30 00:14] macandcheese commented on #2426
We decided during triage not to address the add a visible label portion of the request. However the “actual behavior” in the OP doesn’t work - we should at least have a native label show up as it used to.

[2022-03-30 15:00] geospatialem commented on #4208
Verified in `next` 👍🏻

[2022-03-30 15:00] #4208 closed

[2022-03-30 15:20] geospatialem commented on #4174
verified on next 👍🏻

[2022-03-30 15:22] macandcheese commented on #1471
@asangma @jcfranco - checking on this - is this in scope?

[2022-03-30 15:22] macandcheese commented on #1147
@asangma ping for validity check

[2022-03-30 15:30] #4169 closed

[2022-03-30 17:07] eriklharper commented on #2426
Just now seeing this fairly old issue, but the `tile-select` component has very similar UX to the card component's checkbox mode, and the entire "tile" is clickable and focusable (both functionally and visibly):

![image](https://user-images.githubusercontent.com/821864/160889483-2efb6fb2-f36d-43d6-9df6-665fd15c7a81.png)

Sounds like a good UX discussion to be had where we take into account consis

[2022-03-30 17:39] macandcheese commented on #2426
Part of the current distinction between the two components is the difference in click areas. Tiles serve a different purpose than cards, which can often include multiple interactive areas.

Making the entire card clickable could be discussed, but IMO - that can often lead to misinterpretation of hitbox areas when apps add "subtitles as link to author page", footer actions, etc.

That said, some of

[2022-03-30 18:31] driskull commented on #4293
The root of the problem is that the slotted dropdown group is in light dom, but the dropdown itself is in shadow dom

they can't communicate easily

We would need a way to tell the dropdown where its items are and where to query

[2022-03-30 18:40] benelan commented on #4106
[Verified on storybook!](https://esri.github.io/calcite-components/?path=/docs/components-tips-tip-manager--basic#properties)

[2022-03-30 18:40] #4106 closed

[2022-03-30 19:03] AdelheidF opened #4333 "calcite-pick-list needs an event specific to its filter to get filtered items"
### Description

When using `calcite-pick-list` with `filterEnabled:true` the only way to get to the filtered items is by listening to `calciteFilterChange` and using `event.path[0].filteredItems`.

Before November 2021 we could get the filtered items via `calciteFilterChange` and `event.detail`.
See: https://github.com/Esri/calcite-components/pull/3449

cc @dhrumil83

### Acceptance Criteria

The

[2022-03-30 19:20] juliepowell commented on #3108
Should this be part of ArcGIS App Components?

[2022-03-30 19:22] geospatialem commented on #4305
verified in next. 🎉

[2022-03-30 19:22] #4305 closed

[2022-03-30 19:25] juliepowell commented on #2249
This is a good candidate for Calcite - consistent design to be used across ArcGIS. Should it be ported from ArcGIS App Components?

[2022-03-30 19:29] AdelheidF opened #4334 "selection list with icon, title, snippet selection"
### Description

closed select

![image](https://user-images.githubusercontent.com/44481292/160914113-cb2b7dd7-d14f-496f-8ec0-f690192eb9f8.png)

different versions of selection lists

![image](https://user-images.githubusercontent.com/44481292/160914066-3041f9d5-25c7-4ac2-ba75-b590d8f895e9.png)![image](https://user-images.githubusercontent.com/44481292/160914311-6ca124c3-6997-4133-8f45-a4eb1e2b033

[2022-03-30 19:44] macandcheese commented on #4334
This could perhaps be a configuration of single-select combobox where the summary and slotted content is displayed at idle in addition to in the dropdown.

[2022-03-30 19:52] AdelheidF commented on #1574
Current look on production.

![image](https://user-images.githubusercontent.com/44481292/160918561-9f1e41bc-6786-4aa9-a2fc-baba9315c511.png)

on a small screen
![image](https://user-images.githubusercontent.com/44481292/160919090-5ea91d9e-0987-4484-909d-5555f818df94.png)

Russian
![image](https://user-images.githubusercontent.com/44481292/160919356-e8979063-c2a8-4924-998f-9e7243838ef4.png)

RGB st

[2022-03-30 20:47] geospatialem commented on #4186
verified in next:

![screenshot of  year change in date picker](https://user-images.githubusercontent.com/5023024/160927874-a3ab8938-8de9-4247-8b88-d7de19525f02.png)

[2022-03-30 21:35] geospatialem commented on #4215
Verified in beta.80:

![screenshot of multi select dropdown option behavior](https://user-images.githubusercontent.com/5023024/160934907-b495ed74-058a-4a37-aa8f-ab2cc77f5b0d.png)

[2022-03-30 21:35] #4215 closed

[2022-03-30 23:06] zaramatheson commented on #3955
@jcfranco @asangma This is still an issue in MV using beta.77

[2022-03-30 23:11] AdelheidF commented on #3955
beta.77 was released Feb 14, 2022. This PR got merged Jan 28. So I assume this is still an issue with the latest beta.80.

[2022-03-30 23:30] asangma opened #4336 "ListItem - Let content-start and content-end slot occupy full width"
### Description

When only the `content-start` or `content-end` is used, let it take up the full width of the content area.

Currently the content slots are set to `flex: 0 1 auto`.
This works great for most cases.

In some cases, it is helpful to use one slot for custom content. This is especially helpful if the content needs to have a dynamic width and would benefit from getting an calculation o

[2022-03-30 23:54] benelan commented on #4199
@gavinr I'm checking with stencil to see if that would break anything. We followed their example:

https://github.com/ionic-team/stencil-ds-output-targets/blob/main/packages/example-project/component-library-react/package.json#L41-L44

[2022-03-31 16:09] tresh11178 opened #4348 "Combobox is not filtering certain values"
### Actual Behavior

When inputting certain values, the Combobox dropdown does not properly filter the options as expected.

### Expected Behavior

The expectation is that all values should be filtered properly based on the input from the user.

### Reproduction Sample

https://codepen.io/tre11178/pen/KKZXMYW?editors=100

### Reproduction Steps

1. Click into the Combobox
2. Type "F" into the inpu

[2022-03-31 18:04] ffaubry opened #4350 "calcite-inline-editable keeps emitting events after editing was cancelled or confirmed"
### Actual Behavior

The calcite-inline-editable element will emit events after the editing has been cancelled or confirmed.
The event is emitted on mouse hovering on the edit button.

![image](https://user-images.githubusercontent.com/3506166/161120844-eba4ca10-2100-4db2-a814-3448c480e325.png)

### Expected Behavior

After editing the events should not be emitted.

### Reproduction Sample

https:

[2022-03-31 21:11] jcfranco commented on #4282
@rpanichakit9541 Awesome. Thanks for testing. I'm going to close this issue since `overlay-positioning` is the way to go.

I will create issues for the following:

* refactor modal styles to avoid using transforms
* updating the doc for popper-owning components on when to use `overlay-positioning`

[2022-03-31 21:11] #4282 closed

[2022-03-31 22:04] jcfranco opened #4355 "Improve `overlay-positioning` doc for popper-owning components"
### Description

Stems from https://github.com/Esri/calcite-components/issues/4282

We should add more info on when to use the `absolute` vs `fixed` positioning strategies.

### `absolute`

- should work for most cases
- when parent container is scroller
  - it will not escape it (positioned inside the scrolling container)
  - popper content affects the scrolling container's layout

### `fixed`

-

[2022-03-31 22:35] jcfranco opened #4357 "Revisit calcite-modal styles to avoid using `transform` on the modal element"
### Description

Stems from https://github.com/Esri/calcite-components/pull/4304

Currently, the `transform` usage in `modal`'s styles will cause poppers to not be placed correctly. An alternative approach should be considered to avoid this issue.

### Proposed Advantages

Would avoid improper placement from content containing popper-owning components.

### Which Component

`calcite-modal`

### Re

[2022-03-31 23:52] jcfranco commented on #2885
Installed.

Simplified repro case: https://codepen.io/jcfranco/pen/jOYGyBb

[2022-03-31 23:58] COV-GIS commented on #2885
Thanks for working on this @jcfranco and fixing https://github.com/Esri/calcite-components/pull/4351 too.

[2022-04-01 00:41] jcfranco commented on #4333
[Implementor's note] Both `calcite-value-list` and `calcite-pick-list` need to be updated.

#### Proposal

[code]

#### Question

* Should filtering affect the selected values (not the items)? Both components have methods to get the selected items, but we may need an additional convenience prop for filtered ones if filtering is independent of selection.

@driskull @eriklharper @Elijbet WDYT about

[2022-04-01 00:50] driskull commented on #4333
It depends on the purpose of the filter. If the filter is just to help the end user narrow results to select, it might not need to affect the value.

Maybe we shouldn't filter out selected values if we always want to show them?

[2022-04-01 00:51] driskull commented on #4333
The way the combobox gets away with this is that it is always showing the selected items as chips.

[2022-04-01 01:00] AdelheidF commented on #4333
Use case in table component.

User can filter a certain subset of fields then either hit select all or deselect all on that subset of fields. So it needs to know the subset of fields to make the adjustments in the table.

![image](https://user-images.githubusercontent.com/44481292/161174124-025fea01-73f3-4d7a-9708-47fd04c8f5a7.png)

[2022-04-01 17:12] asangma commented on #4336
@benelan I have a branch pretty much ready to go if we wanna up the priority on this one.

[2022-04-01 18:07] benelan commented on #4336
@asangma I assigned you and triaged it to the next sprint

[2022-04-01 18:44] benelan opened #4361 "Ensure flipPlacements are computed placements"
### Actual Behavior

### Discussed in https://github.com/Esri/calcite-components/discussions/4328

<div type='discussions-op-text'>

<sup>Originally posted by **benelan** March 29, 2022</sup>
Following up on our Teams discussion today.

Now that popper has start/end, we should consider removing the leading/trailing positions we added. I know @driskull needs to look into this a bit first.

Not a hi

[2022-04-01 20:21] macandcheese commented on #1228
I can't reproduce this anymore - https://codepen.io/mac_and_cheese/pen/bGaYNZr?editors=100

@AdelheidF can you confirm?

[2022-04-01 20:31] macandcheese commented on #1996
This seems to have been resolved in the JSAPI in version 4.20: https://codepen.io/mac_and_cheese/pen/LYeOEwY

@justingreco can you confirm?

[2022-04-01 20:36] macandcheese commented on #1630
Closing this - the unused value is no longer documented: https://github.com/Esri/calcite-components/tree/master/src/components/action#properties

[2022-04-01 20:36] #1630 closed

[2022-04-01 20:38] macandcheese commented on #2188
@eriklharper is this safe to close? It could be brought back up at a later time as a Discussion, if needed.

[2022-04-01 20:41] macandcheese commented on #2162
@avezina - checking in on this. Is this still valid?

[2022-04-01 20:44] macandcheese commented on #2446
@driskull does this PR resolve this issue? https://github.com/Esri/calcite-components/pull/4280

[2022-04-01 20:47] macandcheese commented on #2521
As far as I know this matches the native implementation - which provides no masking or character limitations: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/tel

Managing masking ourselves for type tel based on locale seems.... possible but complex and out of scope. Can this be closed?

[2022-04-01 20:48] macandcheese commented on #2445
Seems like this is the current behavior, to allow the heading to display at any length: https://codepen.io/mac_and_cheese/pen/wvpPaGp?editors=100

@zaramatheson can you confirm?

[2022-04-01 21:03] AdelheidF commented on #1228
I can still reproduce this with beta.80 in my React component, maybe it's related to React.
I can't find a way to repro this in a codepen https://codepen.io/afreitag/pen/popdJeQ .

Doesn't matter, I'll close.

[2022-04-01 21:03] #1228 closed

[2022-04-01 21:04] asangma commented on #4336
Thanks!

[2022-04-01 21:05] macandcheese commented on #2362
This doesn't seem to be an issue anymore after shadow DOM changes in the linked epic : https://esri.github.io/calcite-components/?path=/story/components-controls-radio-radio-button-group--light-theme

[2022-04-01 21:11] eriklharper commented on #2188
Yeah, we can let this go for now.  If the need to reconsider comes up again, we can create a discussion.

[2022-04-01 21:11] #2188 closed

[2022-04-01 21:12] macandcheese commented on #2866
@ethanbdev - going to close this - it should be addressed by https://github.com/Esri/calcite-components/issues/3312 / https://github.com/Esri/calcite-components/issues/863.

[2022-04-01 21:12] #2866 closed

[2022-04-01 21:19] macandcheese commented on #3544
Closing as stale - feel free to re-open with a reproduction case or further information.

[2022-04-01 21:20] #3544 closed

[2022-04-01 21:34] driskull commented on #2446
Nope, that PR Is not related to this issue.

[2022-04-01 22:06] zaramatheson commented on #2445
@macandcheese Hi, yes it looks like that is what is happening in MV now:
![image](https://user-images.githubusercontent.com/50747646/161347286-858cd90f-ff48-4505-8252-bf7e4bfb9190.png)

[2022-04-01 22:13] jcfranco commented on #2362
@macandcheese Correct. Thanks for the reminder. Closing as self-verified!

[2022-04-01 22:13] #2362 closed

[2022-04-01 22:18] eriklharper commented on #2521
We do currently restrict the number input to only valid numbers, including `e`, `-`, `+`, `.` for entering exponential format, negative and positive values and decimals so I can see how it could be relevant to do the same for telephone formats, and it would be easier to restrict input than implement input masks, which will vary based on locale.

However, if `type="tel"` is part of a broader effort

[2022-04-02 06:54] fendiaoxiaoshuazi opened #4363 "The calciteDatePickerChange event is not triggered when the value of input date picker is cleared"
### Actual Behavior

The calciteDatePickerChange event of the input date picker does not get triggered when the value is cleared.

### Expected Behavior

The calciteDatePickerChange event of the input date picker should be triggered when the value is cleared.

### Reproduction Sample

https://codepen.io/nan9266/pen/GRyOZLx?editors=1111

### Reproduction Steps

1. Open the console of the sample abo

[2022-04-02 07:00] fendiaoxiaoshuazi commented on #4363
This is a crucial issue for Survey123.
1. For a required date question, we are not able to prevent submission when the input value gets cleared.
2. When the value gets cleared, we are not able to change the actual submission value since we don't know the value has been changed.

[2022-04-02 07:18] fendiaoxiaoshuazi opened #4364 "The time picker of the input time picker appears in different positions"
### Actual Behavior

The time picker of the input time picker appears in different positions when the value gets cleared.

### Expected Behavior

The time picker should appear on the same position.

### Reproduction Sample
https://codepen.io/nan9266/pen/KKZymWx

### Reproduction Steps

1. Click on the input time picker, observe the position of the time picker
2. Clear the value of the input time p

[2022-04-02 12:49] ranga-tolapi opened #4365 "Closable Tab"
Possible to introduce **closable/dismissible** feature to Tab (calcite-tab)?

[2022-04-04 13:20] avezina commented on #2162
@macandcheese thanks for looping back on this. Yes this is still a valid request. For example, we are using the Combobox in the [UtilityNetworkTrace widget (see sample)](https://developers.arcgis.com/javascript/latest/sample-code/widgets-untrace/) where one or multiple values can be selected. While the text could be used to search a value, I feel like it should not persist?
![image](https://user-i

[2022-04-04 15:49] macandcheese commented on #2162
I can’t seem to preview that UX in the sample (it asks for authentication to view layers - after which the panel is disabled), however - the combobox shouldn’t persist text after making a selection - after it is entered and an item is selected, the text clears.

To confirm, this enhancement is to introduce a mode where no text is entered at all?

I wonder if a “multiple” select would be a better c

[2022-04-04 16:00] avezina commented on #2162
@macandcheese Username and password are provided below the sample embed, in the text. Does that work on your end?

I think having a way to type to search for a value from the dropdown is still valuable, but yes I think I would expect the value to then clear once the dropdown collapses (not necessarily after an item is selected since there could be more than one item being selected from the filtere

[2022-04-04 16:21] macandcheese commented on #2162
Whoops - my fault - I was viewing on a phone and the login information was just out of view.

That makes sense. As an implementation example - this is how MUI handles this: https://mui.com/components/autocomplete/#multiple-values

Basically - on blur, clear the user-entered text value.

[2022-04-04 16:26] macandcheese commented on #2311
Can we scope this particular issue to "Clear all" for combobox? I don't think we want to enable that for a dropdown at this point. "Select all" is up for conversation - I think in some ways that conflates with the "reduction" mindset / purpose of a combobox - but would be good to chat about that.

I do think having an in-field "clear" affordance for combobox makes sense in all states (currently -

[2022-04-04 17:14] driskull commented on #2445
Is this still an issue?

[2022-04-04 17:56] geospatialem commented on #2885
Closing this issue, verification provided by @jcfranco 👍🏻

[2022-04-04 17:56] #2885 closed

[2022-04-04 18:43] benelan commented on #4364
Hi @fendiaoxiaoshuazi, can you please provide a sample that reproduces the issue?

[2022-04-04 18:58] geospatialem commented on #4120
Verified on next ✅
![screenshot with no borders when leveraging the transparency appearance prop](https://user-images.githubusercontent.com/5023024/161612875-1034668a-9d01-4393-9266-22d9c9ea5541.png)

[2022-04-04 18:58] #4120 closed

[2022-04-04 19:13] geospatialem commented on #3931
Verified chevron icon 🔼 behavior when dropdown is open in next 👍🏻

[2022-04-04 19:13] #3931 closed

[2022-04-04 19:18] geospatialem commented on #4066
Verified in next ✔️

![screenshot with dropdown open using space bar](https://user-images.githubusercontent.com/5023024/161615855-9d50c263-66ad-4089-9439-d68149cf9563.png)

[2022-04-04 19:18] #4066 closed

[2022-04-04 19:27] geospatialem commented on #4279
Verified on [tooltip documentation site](https://developers.arcgis.com/calcite-design-system/components/tooltip) 👍🏻

[2022-04-04 19:27] #4279 closed

[2022-04-04 19:30] geospatialem commented on #4361
Verified on next 👍🏻

[2022-04-04 19:30] #4361 closed

[2022-04-04 19:48] macandcheese commented on #4365
Hi @ranga-tolapi - do you have a use case or intended design for this request? More context could help determine if this is an enhancement we'd like to pursue. Thanks!

[2022-04-04 20:32] benelan commented on #1785
verified on next
https://codepen.io/benesri/pen/yLppRpq

[2022-04-04 20:32] #1785 closed

[2022-04-04 20:35] avezina commented on #3931
Is the new behavior available to test here?: https://next.sites.afd.arcgis.com/calcite-design-system/components/combobox/
I'm trying to see it in Next also in our sample https://next.sites.afd.arcgis.com/javascript/latest/sample-code/widgets-untrace/

[2022-04-04 20:38] benelan commented on #3284
verified on master

[2022-04-04 20:38] #3284 closed

[2022-04-04 20:44] macandcheese commented on #3931
@avezina - There isn't a deployed preview of our documentation site for next releases - the `next.sites` in those paths refers to the documentation site preview build ... slightly confusing 😅.

You can use the `unpkg` assets to test `next` releases in Codepen: https://codepen.io/mac_and_cheese/pen/abEERje?editors=100

[2022-04-04 20:46] benelan commented on #3860
Do we have any action items for this issue? If not I will convert it into a discussion.

[2022-04-04 21:16] geospatialem commented on #2514
@paulcpederson noticed in the list you mentioned a list of items to implement with this issue. While running through a verification it looks like we were able to fulfill one of the requirements.

Can you verify we're fulfilling the expected behavior, as there is no current functionality for characters entered by the user. _Note that there is functionality for arrow keys (and home/end), spacebar, a

[2022-04-04 21:22] paulcpederson commented on #2514
Yeah looks good, IMO

[2022-04-04 21:23] #2514 closed

[2022-04-04 21:43] driskull commented on #3860
I believe the action item was to remove the `disableSpacing` property from `label`.

We will have classes or a grouping component outside of the label.

[2022-04-04 22:05] macandcheese commented on #3860
Agreed - I don’t think we should remove or deprecate the property before adding either / both of the above - to avoid breaking a lot of current designs.

[2022-04-04 22:39] ffaubry commented on #1642
Hello.
I use calcite-panel inside flow in the shell.
![image](https://user-images.githubusercontent.com/3506166/161643191-2b09f546-6e3d-437a-ba19-5cce295895cb.png)

I don't understand why the calcite-panel receives the focus when I try to navigate to its content or out of it's content.
I understand that the list should receive the focus as it can scroll. But when going out of the panel (from the d

[2022-04-04 23:20] macandcheese commented on #1642
@FelFly @geospatialem this may be a good thing to take another look at - some way of determining when we need to have the focusable element, and for other use cases allow the focusable element inside panel to receive focus to avoid the above.

[2022-04-04 23:38] driskull commented on #1642
we might be able to use a resize observer here to set the tabIndex only if scrolling is present.

[2022-04-05 01:34] jcfranco opened #4372 "Introduce tokens for z-index management (overlay layers)"
### Description

Stems from https://github.com/Esri/calcite-components/pull/4182#discussion_r840900777

It would be beneficial to introduce a set of tokens to represent different levels of z-indices used in the design system. This could help our components use the same index depending on the context and better inform users on how to override these values.

### Acceptance Criteria

1. A new set of

[2022-04-05 05:53] ranga-tolapi commented on #4365
Hi @macandcheese - our application allows users to search and add layers dynamically on to the map.

Would like to give below options for users...
- to open/view the attribute tables of their interested layer(s) in multiple tabs (This is possible with calcite-tabs)
- to close the attribute tables/tabs which they don't want to see anymore (This is currently **NOT** possible with calcite-tabs)

Hope

[2022-04-06 00:08] driskull commented on #1642
I have a PR open here: https://github.com/Esri/calcite-components/pull/4374

Just need to setup a test.

[2022-04-06 00:21] macandcheese commented on #1642
Is scrolling what we should key off of - or scrolling **without the existence of a focusable element** ?

For example, does this scrolling example need the focus ring, as it has focusable elements within?

https://codepen.io/mac_and_cheese/pen/gOovvzw?editors=1000

[2022-04-06 02:02] fendiaoxiaoshuazi commented on #4364
Hi @benelan , the sample and screen shot has been included in the description.

[2022-04-06 17:19] driskull commented on #1642
I think it should key off of scrollable regions . https://dequeuniversity.com/rules/axe/4.0/scrollable-region-focusable

[2022-04-06 17:29] macandcheese commented on #1642
Wouldn't it be an example of "passed example 2": https://www.w3.org/WAI/standards-guidelines/act/rules/0ssw9k/proposed/#testcases because "This scrollable section element contains a link that is included in sequential focus navigation." ?

@geospatialem any insight or thoughts here?

My interpretation is that if the panel content is scrollable, with no focusable element, it needs a tabIndex - howe

[2022-04-06 17:45] driskull commented on #1642
Yeah, that might be too complicated to handle that use case.

[2022-04-06 18:20] TheBlueDog commented on #4155
Is there any status on this? Field Maps is having to handle this currently with custom inputs.

[2022-04-06 19:20] macandcheese commented on #4155
No update at this time. As an implementation note for when this is looked at - the label functionality to focus the child control may need to have an "exclusionary click zone" or something along those lines to ensure clicking on a, tooltip trigger, for example, doesn't focus the control.

[2022-04-06 20:40] AdelheidF commented on #4240
looks good, tested with next

[2022-04-06 20:40] #4240 closed

[2022-04-06 23:41] benelan opened #4376 "Bug: Filter clear focus ring is black"
### Actual Behavior

The focus ring for filter's clear button is black and rounded.
![image](https://user-images.githubusercontent.com/10986395/162091520-69f6da1d-658a-449e-96ed-9390e9710020.png)

### Expected Behavior

Discussed with @macandcheese, and we both think that filter should just be a clearable input.
![image](https://user-images.githubusercontent.com/10986395/162091717-49e2fb3b-7799-4c

[2022-04-07 05:12] macandcheese opened #4378 "[Switch] preventDefault when using spacebar to interact"
### Description

Currently, using the `space` key to interact with the `calcite-switch` causes the page to scroll. We should mimic the behavior of `calcite-checkbox` (and `calcite-switch` itself with `enter` key), and allow users to interact with the `space` key in the same way they can an `enter` key - toggling the control and not scrolling the page.

### Acceptance Criteria

Using `space` key to

[2022-04-07 05:28] macandcheese opened #4379 "[Checkbox] Unexpected browser-provided focus ring"
### Actual Behavior

When focusing or toggling the `calcite-checkbox` with the `tab` `space` or `enter` - an unexpected additional focus ring is displayed:
Chrome:
<img width="385" alt="Screen Shot 2022-04-06 at 10 16 42 PM" src="https://user-images.githubusercontent.com/4733155/162125446-440351f1-ae27-4b63-9f54-8377f19d3583.png">

<img width="385" alt="Screen Shot 2022-04-06 at 10 16 29 PM" src="

[2022-04-07 14:29] geospatialem commented on #1642
@macandcheese Sorry for joining in late in this discussion... I think @driskull is on the right track with the scrollable regions with a resize observer.

A quote from the <a href="https://dequeuniversity.com/rules/axe/4.0/scrollable-region-focusable" target="_blank">Deque University site</a> Matt mentioned, re: making scrollable regions:

There are a few different strategies that we could take, b

[2022-04-07 14:42] macandcheese commented on #1642
Few thoughts based on that…

Should the focus ring at least be the styled version so it appears less broken?

Currently it only appears when tabbing into the panel, not shift tabbing back through it. Is this intentional?

For cases where designers / developers know there is a focusable element inside the panel and do not want to interrupt the flow with an extra focus / tab step - how should we fac

[2022-04-07 15:29] asangma opened #4383 "Suggest avoiding setting height on components"
### Description

Suggest not setting heights on components and instead leaning on prescribed font-size or content height and prescribed padding.

Some of our components have height set while others rely on content height (normally text with prescribed size) and padding.

The two approaches can result in different calculated heights.

In order to see how the two approaches differ, see [this demo](h

[2022-04-07 18:32] benelan commented on #3230
I doc'd the problem/workaround: https://developers.arcgis.com/calcite-design-system/frameworks/#gotchas

Moving this issue to the freezer until stencil fixes it on their end.

[2022-04-07 20:47] benelan commented on #4098
Can someone go through this list to determine which CSS variables should not be documented, and then I'll go through and document the rest? We can eventually use the same list to add `internal` to the variables that are not already named correctly. I know everyone is swamped, but this is a high priority for v1, so it would be good to get started soon.

[2022-04-07 20:57] benelan commented on #4199
I heard back from stencil and was able to set the react peerDep range to `>=16.7 <18`, which will be in the release early next week.

[2022-04-08 16:53] shawnmgoulet opened #4386 "Expose the version of CC within an app's dev files"
### Description

Much like you added the version [to the built dist file](https://github.com/Esri/calcite-components/pull/4303), maybe there's somewhere to add the version the app is using to the files generated on `npm run dev`.

### Acceptance Criteria

![67ef8912-894f-4d25-9046-6c5228fe7ff6](https://user-images.githubusercontent.com/3179974/162486832-78f2650b-f0fd-4bb7-a458-360439605139.jpg)

t

[2022-04-08 17:38] jcfranco commented on #4386
The installed version info is available in `package.json` or `package-lock.json` (if using a range in `package-lock.json`). Will that address your use case?

[2022-04-08 17:55] jcfranco commented on #4214
I'm going to go ahead and close this. Based on ☝️, I have a hunch that it is not related to the components. Please reopen if there's additional info on this.

[2022-04-08 17:55] #4214 closed

[2022-04-08 18:04] jcfranco commented on #4364
[Implementor's note]: The input time picker needs a `reposition` method (similar to [other](https://github.com/Esri/calcite-components/blob/master/src/components/tooltip/tooltip.tsx#L131) [popper](https://github.com/Esri/calcite-components/blob/master/src/components/input-date-picker/input-date-picker.tsx#L293)-[owner](https://github.com/Esri/calcite-components/blob/master/src/components/dropdown/

[2022-04-08 18:13] jcfranco commented on #4364
@fendiaoxiaoshuazi Here's one workaround in the meantime: https://codepen.io/jcfranco/pen/jOYxxNQ?editors=1010

[2022-04-08 18:20] jcfranco commented on #4350
[For implementor]: https://github.com/Esri/calcite-components/blob/083d283caf719eed91cb1f5bd71b4584864b5e61/src/components/inline-editable/inline-editable.tsx#L278 may be firing because of bubbling transition events.

[2022-04-08 22:00] benelan commented on #4386
I actually installed a PR for this a couple weeks ago (#4303). The version number is [already included in `next` releases](https://unpkg.com/@esri/calcite-components@1.0.0-next.438/dist/calcite/calcite.esm.js).

[2022-04-08 22:00] #4386 closed

[2022-04-08 22:07] benelan commented on #4386
Woops, I'm sorry I didn't original issue close enough. Yeah Franco's comment should cover local development. If it doesn't, then we can reopen this issue.

[2022-04-09 00:17] benelan commented on #1641
Tested on `next`. The event no longer emits on initial load, and it also doesn't emit twice per tab change. @nwhittaker can you verify that this is what you're looking for: https://codepen.io/benesri/pen/abEGRXa

[2022-04-09 00:54] mflewellingesri opened #4388 "Combobox items read back as "blank" by NVDA and JAWS"
### Actual Behavior

Navigating between form components, the screen reader reads out "list item" but not the label or role information. Radio group seems to be working as expected

### Expected Behavior

navigatign to each form component, the screen reader should read the label and appropriate role information

### Reproduction Sample

https://codepen.io/jcfranco/pen/vYmoKYq

### Reproduction Step

[2022-04-09 00:59] benelan commented on #4388
Note: the repro sample was made a while ago and is on `beta.62`. However it does still repro on `beta.80`.

[2022-04-11 15:07] nwhittaker commented on #1641
Thanks for the work on this. It does address the problem of handling the event before the tab title element is hydrated. However, for my particular use-case, it was important that the event was also emitted for the initially active tab too so I could get its Calcite-generated `id`.

I can think of a workaround or alternative approach for my code, but I suspect omitting the event for the initial ta

[2022-04-11 18:06] shawnmgoulet commented on #4386
Awesome, will take a look when then next release goes out - thanks all.

[2022-04-11 19:08] jcfranco commented on #1641
@nwhittaker You can set the ID on the tab title component and it will get set accordingly. The ID is auto-generated only when `id` is missing.

[2022-04-11 19:50] tyanthony opened #4390 "Tile description overflows"
### Actual Behavior

In the `Tile` component, the `description` property overflows outside of the tile boundaries.

Ex:
![unknown](https://user-images.githubusercontent.com/17069279/162818148-b2ef834f-d2b7-400a-9c69-b81d3124f779.jpg)

### Expected Behavior

The description should wrap (similar to the `heading`).

### Reproduction Sample

https://codepen.io/tyleranthony/pen/dyJjWeK?editors=100

###

[2022-04-11 20:22] benelan commented on #1641
Closing as verified on `next` based on ☝️

[2022-04-11 20:22] #1641 closed

[2022-04-11 20:26] benelan commented on #4117
verified on `next`
https://codepen.io/benesri/pen/PoEBKxR?editors=1010

[2022-04-11 20:26] #4117 closed

[2022-04-11 20:48] benelan commented on #4348
[Implementer Notes]: This is probably because the `forIn` function "Iterates over own and inherited enumerable properties of an object invoking iteratee for each property."

All of the combobox-items are matching the word "define"

[2022-04-11 23:47] Elijbet opened #4391 "Refactor: [combobox]: rework pageUp/down scroll test to do away with the fixed delay."
**monday.com sync:** #18048513826

### Description

Follow up to issue #4304

Specifically Keyboard Navigation test "when the combobox is focused & closed, Page up/down (fn arrow up/down) scrolls up and down the page"

PageDown/Up scroll test fails if not delayed.  Implemented page.waitForTimeout(500) to make it pass. WaitForChanges() won’t work either.

Needs to be revisited because we want to av

[2022-04-12 00:12] Olga8614 opened #4392 "[Map Viewer] [Charts] I18N-TXT-VI[Edge Chromium/FF/Chrome]: Inconsistent fonts displays on “Select chart type” menu of Configure charts tool."
<div><div style="box-sizing:border-box;"><span style="box-sizing:border-box;">Steps:<br style="box-sizing:border-box;"></span><div style="box-sizing:border-box;">1. Prepare a clean VI browser.<br style="box-sizing:border-box;"> </div><div style="box-sizing:border-box;">2. Sign in Qaext site (https://qaext.arcgis.com) successfully.<br style="box-sizing:border-box;"> </div><div style="box-sizing:bor

[2022-04-12 00:13] Olga8614 commented on #4392
https://github.com/ArcGIS/I18N-BYS-Bugs/issues/10331

[2022-04-12 00:13] Olga8614 commented on #4392
QV-B-Medium,CR-BY-Beyondsoft_I18N,QV-A-Bug,QV-C-I18N,QV-S-ToVerify,QV-S-DevAssigned,QV-C-VI,QV-P-Chrome;Edge;Firefox

[2022-04-12 00:14] Olga8614 commented on #4392
![image](https://user-images.githubusercontent.com/29614798/162853272-64e2a14d-4aa6-43a1-a3cb-9a26bb11dc1f.png)

[2022-04-12 00:14] Olga8614 commented on #4392
@paulcpederson

[2022-04-12 01:16] Elijbet opened #4394 "Combobox: create screener tests for keyboard navigation with scroll"
### Description

Follow up to #4304

Puppeteer Home/End press does not work, opened an issue with them.

Need to create a screener tests instead to check for:

- Home/End scroll is working when combobox is in focus but closed.
- When combobox listbox is opened and overflows, navigating up/down listbox items will bring combobox and listbox into view.

Screener test setup:

- Set body to overflow so

[2022-04-12 14:40] geospatialem commented on #3956
Verified in next for `lang='et'` ✔️ , but seeing the value reset to `-1` for the `lang='ar'`.
cc/ @benelan

[2022-04-12 16:26] benelan commented on #4040
Closing this issue as verified based on ☝️
This is the issue I requested due to the negative sign not delocalizing. I will keep working on the original issue #3956 for the `ar` locale, which was resolved in #4020 and then reverted for #4063.

[2022-04-12 16:26] #4040 closed

[2022-04-12 16:28] nwhittaker opened #4396 "Calcite components missing from Drag & Drop API's drag image in Firefox"
**monday.com sync:** #18048593137

### Actual Behavior

When using the HTML5 Drag & Drop API to drag an element that contains Calcite components, Firefox produces a drag image that omits the Calcite components.

<img width="644" alt="Screen Shot 2022-04-12 at 12 21 57 PM" src="https://user-images.githubusercontent.com/421496/163008842-911169fe-ba52-40e5-af63-b141c25bd8a0.png">

### Expected Behavi

[2022-04-12 16:37] benelan commented on #4336
Verified on next

[2022-04-12 16:37] #4336 closed

[2022-04-12 18:17] jcfranco commented on #2033
Change/Input-related events were installed. I'll create a separate issue for the remaining non-change/input events and anything we may have missed.

[2022-04-12 18:28] jcfranco commented on #4229
@eriklharper Do you think you can take a look at this? This block looks suspect: https://github.com/Esri/calcite-components/blob/ffff3d5933d3a00776adc90d78d2cb449ba7920a/src/components/input/input.tsx#L449-L451

[2022-04-12 18:44] jcfranco opened #4398 "Ensure events are emitted on user-interaction and not programmatically"
### Description

This is a continuation of https://github.com/Esri/calcite-components/issues/2033. Non-change/input events are listed here.

---

### Actual Behavior

Some components emit events regardless of internal or external (user) modifications.

### Expected Behavior

Public events should emit from user-interaction and not when props are modified programmatically.

### Relevant Info

#####

[2022-04-12 19:18] benelan commented on #4199
@gavinr or @mpayson can you please verify that you no longer get the peerDep install error in react 17x?

[2022-04-12 20:02] gavinr commented on #4199
## React v17 - fixed

Yes, for react v17 it does work. Here are my steps:

[code]

Create react app is now defaulting to react v18, so need to downgrade to react v17:
[code]

Finally, install `calcite-components-react`
[code]

The above works as expected! ✅

---

## React v18 - error
As I mentioned above, React 18 is now released (and standard with create-react-app) and when using it with that I g

[2022-04-12 22:18] benelan commented on #4199
Stencil said they haven't had a chance to make sure things work in react v18. I am going to do some testing on my end and then include 18 in the semver range if all goes well. I guess we can just use this same issue for that.

[2022-04-12 23:20] COV-GIS opened #4399 "Tooltips in beta 81 have a couple new unwanted behaviors"
### Actual Behavior

Tooltip no longer closes when the target, e.g. action or button, is clicked.

Tooltip randomly does not hide when target is no longer hovered, with occasional long hide delay. May result in several tooltips visible at once.

When using `tooltip-manager` with `slot="header-actions-end"` wrapping an action in a panel the tooltip is behind the content of the panel. Examples:

![i

[2022-04-13 00:28] benelan commented on #4211
verified on beta.81

[2022-04-13 00:28] #4211 closed

[2022-04-13 00:30] benelan commented on #4238
verified on `beta.81`

[2022-04-13 00:30] #4238 closed

[2022-04-13 00:31] benelan commented on #4265
@jcfranco / @macandcheese can one of you verify this one? Kitty and I don't have a Mac

[2022-04-13 00:48] benelan commented on #3956
Hi @zaramatheson and @Olga8614! I could use some help with a locale question again. Do either of you know why `-123` is `NaN` in Arabic? Here is a codepen: https://codepen.io/benesri/pen/RwxYKWv?editors=0012

[2022-04-13 07:19] fendiaoxiaoshuazi opened #4401 "The abbreviation of the weekday on the date picker calendar of RU is not correct"
### Actual Behavior

The abbreviation of the weekday on the date picker calendar of RU is not correct.

The abbreviation of the weekday of the RU calendar from left to right is Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday, and Monday. However, the first column on the calendar are Mondays, e.g April 4th, April 11th, etc.
![image](https://user-images.githubusercontent.com/26078106/16312030

[2022-04-13 11:06] fendiaoxiaoshuazi opened #4402 "The typed-in value on the input date picker is not honored by the component"
### Actual Behavior

When I try typing in a value in the input date picker, the typed-in value will be changed while typing or after losing focus.
![date picker](https://user-images.githubusercontent.com/26078106/163167054-6e541a75-8cc3-4523-a834-ee2e5c75c1ec.gif)

### Expected Behavior

The value that already exists should not be changed while typing or after losing focus.

### Reproduction Sampl

[2022-04-13 20:20] geospatialem commented on #3956
Verified in next, looks great!🎉

[2022-04-13 20:20] #3956 closed

[2022-04-13 21:15] driskull commented on #1642
Yes.

I'm not sure on that one. I wasn't seeing that but it should be consistent.

I think the extra step is necessary.

[2022-04-13 22:57] noahmulfinger commented on #3961
I also ran into this while updating to beta.79. Definitely a pretty difference in behavior from standard inputs, likely due to the shadow DOM.

[2022-04-14 17:20] AdelheidF opened #4414 "calcite-action with built-in tooltip"
### Description

Most calcite-action need a tooltip. It would be great if the component could take care of this instead of every action having to use calcite-tooltip-manager and managing a tooltip itself.

### Acceptance Criteria

Just using calcite-action with a tooltip label would create the calcite-tooltip component with the manager.

### Relevant Info

_No response_

### Which Component

calci

[2022-04-18 13:41] geospatialem commented on #4265
Was able to test on my personal Mac - verified on next. ✅ Also helps create a better experience for Windows users as well! 👍🏻

[2022-04-18 13:41] #4265 closed

[2022-04-18 13:58] geospatialem commented on #4294
Verified the tooltip does not close on click in `0.22.0`. 🖱️

[2022-04-18 13:58] #4294 closed

[2022-04-18 14:08] macandcheese commented on #4294
Seems like this could be better an opt-in / out behavior somehow? Some feedback on the functionality -https://github.com/Esri/calcite-components/issues/4399

[2022-04-18 14:31] geospatialem commented on #4294
@macandcheese Agreed, the reverted behavior doesn't seem useful for all use cases.

Maybe we can leverage that issue to add in an option, as discussed above, so the default functionality closes on click, but if the option is enabled, would have the functionality disabled. Perhaps also allowing the user to define the timeout.

What are your thoughts on adding this functionality as an option, as par

[2022-04-18 15:51] macandcheese opened #4418 "Improve input property descriptions for min/max and minLength/maxLength"
### Description

1. The current descriptions for `min`, `minLength`,`max`, and `maxLength` are not sufficient to explain the difference in use. We should update these to provide more information to a user.

### Which Component

Input (and eventually, input-number...)

### Resources

Stems from Teams discussion:
https://teams.microsoft.com/l/message/19:fd15b51dacd24e70895ec1218a54ae06@thread.skype/

[2022-04-18 17:38] #4392 closed

[2022-04-18 17:39] paulcpederson commented on #4392
after a bit of investigation, I've found this is not a calcite issue. Closing and will work with Olga to triage

[2022-04-18 21:20] benelan commented on #4196
Spoke with Paul and this is good to close, thanks Matt

[2022-04-18 21:20] #4196 closed

[2022-04-18 21:32] driskull commented on #4414
Would be nice to do once we deprecate the tooltip/popover manager components.

[2022-04-18 21:33] paulcpederson commented on #3074
+ 1 We'd love the single persist option as we use the single select combobox as a select menu where we want to always have an element selected.

[2022-04-18 21:35] driskull commented on #4399
@jcfranco the stacking part of this issue is likely related to the changes to panel with z-indexes removed.

[2022-04-18 21:47] macandcheese commented on #3074
For this "single-persist" use case, would you expect to default selection to the first item if no children are set to active?

[2022-04-18 21:51] paulcpederson commented on #3074
For our use case it's not super important as we have a default value that we always select up front. But would be good to allow either. Classic `<select>` element way to do this is to have a disabled option selected up front, which is sort of a hack, but they do allow for both:

[code]