[2020-10-12 22:07] AdelheidF commented on #1074
works fine now, tested locally

[2020-10-12 22:07] #1074 closed

[2020-10-12 22:31] jcfranco opened #1114 "Refactor: simplify stories"
Stories could be simplified by adopting a pattern used in `calcite-app-components`. This pattern consists of:

1.  adding a helper to build common attributes (e.g., https://github.com/Esri/calcite-components/blob/master/src/components/calcite-block/calcite-block.stories.ts#L19-L140)
2. sharing ☝ across all stories (see https://github.com/Esri/calcite-components/blob/master/src/components/calcite-b

[2020-10-12 23:59] Olga8614 commented on #979
We verified this defect on AGOL 8.3 Production site(10/12/2020) in zh-CN/AR/RO languages on FF/Chrome/Edge(chromium)/Safari browsers. The calendar still not localized in Start date/End date/Date option on Time slider options pane. So this defect still occurs. Thanks!

[2020-10-13 00:00] Olga8614 commented on #979
@paulcpederson

[2020-10-13 15:58] bstifle opened #1115 "Enhancement: Add Small and Large props to Slider"
![image](https://user-images.githubusercontent.com/14083530/95886006-9e9d2200-0d43-11eb-8fb4-214b7bfd4017.png)

![image](https://user-images.githubusercontent.com/14083530/95885826-5b42b380-0d43-11eb-8723-617a39ee21c0.png)

All of the other specs should be the same as Medium.

Though, we may need to fine tune how big/small histogram is

[2020-10-13 17:52] AdelheidF commented on #989
That seems to be fixed now. Thanks.

[2020-10-13 17:52] #989 closed

[2020-10-13 18:08] araedavis commented on #943
@macandcheese @julio8a It looks like similar behavior is happening for `<calcite-radio-button>` as well. The same lack of reset occurs whether or not they've been wrapped in `<calcite-radio-button-group>`. I've forked @noahmulfinger's CodePen and added radio button examples. Note that the reset works for standard radio buttons but not the calcite-radio-buttons:

https://codepen.io/davisdavis/pen/o

[2020-10-13 18:53] AdelheidF opened #1116 "calcite-pick-list-item click on icon not working"
It used to be like this:

<img src=https://user-images.githubusercontent.com/44481292/95902488-bf687600-0d49-11eb-9c16-65e8503195a0.png width=200/><img src=https://user-images.githubusercontent.com/44481292/95902954-5f260400-0d4a-11eb-8d3a-3aa7a3ac1cf2.png width=200/>

![image](https://user-images.githubusercontent.com/44481292/95902576-dad38100-0d49-11eb-9d2b-6de95e426f83.png)

Now it's like this

[2020-10-13 20:00] rslibed opened #1118 "Bug: calcite-action-bar ('Collapse' string misaligned in action bar for RTL languages)"
### Summary
I18N-RTL: String 'Collapse' is slightly misaligned with other tools in calcite-action-bar

![calcite-action-bar](https://user-images.githubusercontent.com/29421380/95909634-abc20d00-0d53-11eb-9fa6-c23cdf330ab0.png)

Actual result:
String 'Collapse' is slightly misaligned with other tools in Configuring page of app with Full Setup design.

Expected result:
String 'Collapse' should be al

[2020-10-13 20:23] AdelheidF opened #1119 "calcite-input type=number: not much space left for actual number"
The shell panel has a min-width of 240px.

This is how this looks now with that width
<img src=https://user-images.githubusercontent.com/44481292/96524874-46c45680-122e-11eb-96a9-2b1a8b023971.png width=300/>
There is barely enough space to see a 2 digit number.

With `beta.40` it looked better.
<img src=https://user-images.githubusercontent.com/44481292/95911804-cb0e6980-0d56-11eb-827a-ad19223a723

[2020-10-13 21:20] paulcpederson commented on #979
@Olga8614 they aren't using this version of calcite components yet, so it won't be fixed until they use the right one...

[2020-10-13 21:35] #1065 closed

[2020-10-13 22:16] AdelheidF opened #1121 "calcite-radio-button: shows with both buttons unselected"
I have a new issue that I'm only seeing with `@next`. It works fine on devext, it's using `beta.40` there. In both cases I use `calciteRadioButtonGroupChange`.

The first time I open the panel my correct radio button is selected. When I open the panel again, without making any changes, none of the radio buttons is selected.
[code]

<img src=https://user-images.githubusercontent.com/44481292/959209

[2020-10-13 22:29] AdelheidF opened #1122 "calcite-date: intl-next-month and intl-prev-month not working"
`intl-next-month` and `intl-prev-month` are not working. I never see any text on hover.
Reproducible with the storybook.

[2020-10-13 22:33] eriklharper commented on #1121
It looks like it is still that lingering issue where the component isn't initializing completely the second time around, evidenced by the lack of a `calcite-label` in the dom.

[2020-10-14 17:33] macandcheese commented on #1119
We could probably reduce the -end padding to half its current value for these, although from the screenshots it looks like  maybe there's a bit more padding on the panel itself?

We could also make the increment / decrement buttons take up less width, there's no reason for them to be that wide, or, maybe in this example the number button type could be set to "none" if they aren't needed?

[2020-10-14 17:42] AdelheidF commented on #1119
Yes, I see this now. Need to investigate because this must have happened from the calcite update.

Yes, I'd like that option the most.

Might still be nice to have that, especially once holding the arrows down to increase the speed is implemented.

[2020-10-14 17:53] AdelheidF commented on #1119
Padding used to be 8 all around for calcite-block content.
`padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);`

Now it's 12px right/left and 8 top/bottom.
`padding: var(--calcite-spacing-half) var(--calcite-spacing-three-quarters);`

cc @asangma

[2020-10-14 18:05] macandcheese commented on #358
Closing as outdated.

[2020-10-14 18:05] #358 closed

[2020-10-14 19:36] paulcpederson commented on #541
Adding @rpanichakit9541 as I think he may take a crack at the range work.

@macandcheese is this API good? I think this is where we left off:

[code]

[2020-10-14 19:41] macandcheese commented on #541
Yeah I think that's a clean way to handle opting in to a range, would we want to have defaults in case those weren't present?

[2020-10-14 19:43] paulcpederson commented on #541
I think for `value` in date we currently default to today. We could probably open both calendars to today if nothing is selected?

[2020-10-14 22:33] macandcheese opened #1125 "Enhancement: [Slider] Add option to show slider value on hover"
### Description
It would be nice to have an option to show the value of a slider in a tooltip for cases where the persistent value doesn't need to be there

@ddred11 can you attach the screenshot of your current use case? Thanks!

### Acceptance Criteria
Add an opt-in prop that shows the value of a slider on hover. Determine which prop "wins" between persisted value display and "show in tooltip on

[2020-10-14 23:27] AdelheidF opened #1126 "calcite-panel: doc says undefined is width 100%"
Typo 'height' and it says default is 100%
![image](https://user-images.githubusercontent.com/44481292/96055834-f61db980-0e39-11eb-9810-967a92dd7a81.png)

but it's set to default to m
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-panel/calcite-panel.tsx#L90
`@Prop({ reflect: true }) widthScale: CalciteScale = "m";`

Setting it to "l" makes it about 75% wide.

[2020-10-15 14:27] asangma opened #1127 "Bug: Storybook Input page freezes"
### Summary
The Input section on our Storybook freezes.

### Actual Behavior
![frozen](https://media.giphy.com/media/10vJoTT4oWZR84/giphy.gif)

### Expected Behavior
![not frozen](https://media.giphy.com/media/1sv8vtuj5vF2eV7K8W/giphy.gif)

### Reproduction Steps

1. Go to https://esri.github.io/calcite-components/?path=/story/components-input--with-label

### Relevant Info

[2020-10-15 14:45] jcfranco commented on #1127
Linking a comment about a condition that triggers an infinite loop in `calcite-input`: https://github.com/Esri/calcite-components/pull/1049#issuecomment-702275036

[2020-10-15 14:52] kevindoshier commented on #1107
@asangma - I can use both of these properties now, but it doesnt seem like setting width-scale="l" on the shell-panel in turn sets it on a calcite-panel within it?  should it do that?

[2020-10-15 20:02] #1106 closed

[2020-10-16 18:17] asangma opened #1131 "Bug: Block and Panel font sizes are wrong"
### Summary
* Block heading should be 0.875rem (currently it's 0.75rem)
* Block summary should be 0.75rem (currently it's 0.6875rem)
* Panel heading should be 1rem (currently it's 0.875rem)

cc @AdelheidF

[2020-10-16 22:37] paulcpederson commented on #1122
It's not a hover text, it's an aria label. However I did find a bug in how we're reading it so it was never updating. Pr open.

[2020-10-16 22:42] rpanichakit9541 commented on #541
@paulcpederson - I've posted a PR for this here https://github.com/Esri/calcite-components/pull/1136 .  Would you mind reviewing it when you get a chance? This is my first experience with Stencil, so thank you for your patience ahead of time 😄

[2020-10-16 22:47] AdelheidF opened #1137 "calcite-label: update font sizes for various scales so it fits to default text size"
### Summary
With `calcite-label` currently `scale=s` uses `font-size: 12px`, `scale=m` uses `font-size: 16px`, and `scale=l` uses `font-size: 20px`. The default font size for plain text in a panel is 14px.

If I display some plain text in the panel and then a label with a switch I have to decide between smaller and larger text. But I'd like to keep the text size the same.

<img src=https://user-im

[2020-10-16 22:56] AdelheidF commented on #1122
OK, could we update the doc them to make that clear? Thanks.

![image](https://user-images.githubusercontent.com/44481292/96320758-209d7d00-0fc8-11eb-962f-4f1110e2594b.png)

[2020-10-16 23:34] asangma commented on #1137
Looks like we may need to tweak the label and input scales or something so that the typographic hierarchy makes sense when an label + input is inside a Block which inside a Panel.

See also #1134.

[2020-10-16 23:42] macandcheese commented on #1137
Possible to make panel text 12px, panel header 14 and slightly bolder? Like the GH PR sidebar lockup?

[2020-10-16 23:54] paulcpederson commented on #1111
I looked into this a bit, not entirely sure why this is happening, but I can reproduce.

Note to self (or if somebody else wants to take a look): the easiest way to set timezone (without changing your whole OS) is to launch a new chrome instance passing a `TZ` config:

[code]

Will keep working on this one...

[2020-10-16 23:56] AdelheidF commented on #1137
text+label as 12px, headers as 14px:

<img src=https://user-images.githubusercontent.com/44481292/96323029-4a5aa200-0fd0-11eb-9af3-fb533383abaa.png width=300/>

[2020-10-19 16:29] macandcheese opened #1138 "Research: Document component-specific Keyboard functionality"
### Background
Useful for displaying in Storybook and upcoming documentation updates, where we want to make these functions readily available for reference.

### Desired Outcome
Each component should have an explicit list of how keyboard strokes function in each component, so we can display these in documentation and for general reference.

Example, for Stepper:

| Key | Function |
| --- | --- |
|

[2020-10-19 16:31] macandcheese commented on #943
@eriklharper do you know if this is the same as what was being looked at recently?

[2020-10-19 16:31] macandcheese commented on #863
@asangma have you had a chance to take a 👀  at this? Thanks!

[2020-10-19 16:47] ddred11 commented on #1125
@macandcheese Here is a screen shot of a current slider experience we have in BA web. When we adopt the calcite component we would like to have this option...

<img width="338" alt="Screen Shot 2020-10-14 at 3 58 59 PM" src="https://user-images.githubusercontent.com/5332496/96481241-1f4e9900-11f0-11eb-8d3c-33dbead84af0.png">

[2020-10-19 16:49] macandcheese commented on #1125
cc @bstifle for reference (note - it would just use our current calcite tooltip on hover). I think this is a good addition!

[2020-10-19 17:22] macandcheese commented on #304
@patrickarlt could you post a screenshot of the requirement in the new pricing selector you mentioned?

[2020-10-19 18:36] bstifle commented on #1125
Dig it!!!

[2020-10-19 20:52] eriklharper opened #1140 "calcite-radio-button renders calcite-label for each text node"
### Summary

When I add text for a radio-button like `<calcite-radio-button>{text}</calcite-radio-button>` the text is wrapped inside a calcite-label component. This is fine. When I use it this way in my code `<calcite-radio-button>{text1}{text2}</calcite-radio-button>` then text1 and text2 are each wrapped in a calcite-label, not together in a single calcite-label. Is this ok? When I do this `<ca

[2020-10-19 22:58] asangma commented on #1137
@macandcheese
Panel heading will be 16px demi.
Block heading will be 14px demi.
Block section heading will be 14px regular.

[2020-10-19 22:59] asangma commented on #1137
We generally avoid going as small as 12px for legibility/accessibility concerns.

[2020-10-19 23:11] macandcheese commented on #1137
Are those documented somewhere? Fine for now but would be great to look at ways to reduce size of some of these panels with a lot of controls.

I know Mapbox goes to 10px / 12px for basically their entire Studio product since folks can just increase browser size. Avenir would probably only work at 12 but 14/16 seems like it takes up a ton of room as in screenshots above. Topic for another day I gu

[2020-10-19 23:41] asangma commented on #1137
Some fonts do work nicely at 12px. Avenir is not great below 14 or 13px.
Our pattern is not documented anywhere in a comprehensive way.
We should do that.

And yes...a rich topic that we should discuss.

[2020-10-19 23:42] AdelheidF commented on #1126
looks good now, tested locally with next.23

[2020-10-19 23:42] #1126 closed

[2020-10-19 23:42] asangma commented on #1137
As far as the layout in the panels, we'd rather err on the side of using vertical space to keep things legible.

[2020-10-19 23:43] asangma commented on #1126
Yew! Thanks @AdelheidF.

[2020-10-19 23:47] asangma commented on #1131
@AdelheidF Would you mind checking this locally in order to verify?

[2020-10-19 23:50] ddred11 commented on #1125
@macandcheese  for our enterprise version, admins can change the dominant color of the app to match their branding. Does this component (and I guess most of the others) allow for this type of customization?

[2020-10-20 00:07] AdelheidF commented on #1131
verified locally with `next.24`.
panel header is 16px, block and block-section header are 14px.
panel header summary is 12px, 'normal' text is 14px, label scale=s is 12px, label scale=m is 16px.

[2020-10-20 00:32] macandcheese commented on #1125
Hey @ddred11 - yep, see this documentation page and playground: https://esri.github.io/calcite-components/?path=/story/overview-custom-theme--interactive-example

Currently you would replace the "blue" CSS variables with the desired app's branding. We may add another "brand" set of CSS variables so we can maintain blue for use cases like "info" status in the future.

[2020-10-20 14:21] asangma commented on #1131
Thanks for verifying @AdelheidF.
I'll close this one and leave the label size stuff to #1137.

[2020-10-20 14:21] #1131 closed

[2020-10-20 14:34] asangma commented on #1137
@macandcheese @bstifle @mitc7862 @bpatterson88 @paulcpederson
I feel like the UI issue we're seeing here is more about the 4px increments that the label component scale is indicating for its type scale.

In our panel interfaces, that 14px (0.875rem) size is used pretty regularly. And the contrast with 14px + demi or with 16px (1rem) works well.

I can start a separate issue for a broader proposal

[2020-10-20 17:14] kellyhutchins commented on #1073
@asangma  do you know what accessibility issues occurred when the item was fully draggable? Just curious because we may need to create our own component to handle this behavior if the calcite component stays as-is and just curious about issues we might face.

[2020-10-20 17:28] jcfranco opened #1143 "New Component: Datalist"
_placeholder issue for 1.0.0 work_ cc @macandcheese

### Description

#### User Stories

### Acceptance Criteria

#### Out of Scope

### Helpful Details

[2020-10-20 17:30] jcfranco opened #1144 "Refactor: Consistent style vars across components"
_placeholder issue for 1.0.0 work_

[2020-10-20 17:33] jcfranco opened #1145 "Refactor: API/nomenclature review"
Initial review notes: https://github.com/Esri/calcite-components/wiki/calcite-components-API-review

## Action items

**Note**: PRs for each item must include an update to our conventions doc.

~* [ ] ensure consistent boolean names (@jcfranco)~
  ~* prefer adjectives (e.g., collapsible, moveable, etc), if an appropriate one does not exist, `-disabled`/`-enabled` suffixes can be used to describe t

[2020-10-20 18:03] macandcheese opened #1146 "Enhancement: Rating - add opt-in ability to clear rating"
### Description
We should offer a `clearable` prop, to allow an option to clear a user-entered rating (`value`). Probably just an "x" icon preceding the star icons. It should not show up when `read-only` or `disabled` is active, and it should only appear when `value` is populated. Clearing a rating should emit the updated value (0), and remove the clear icon affordance to return the component to a

[2020-10-20 18:10] macandcheese commented on #1143
Datalist should be able to use the majority of the work from `calcite-select`, since the child items are options: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist

`optgroup` is not supported: https://github.com/w3c/html/issues/932

This will allow typeahead filtering of options, and we can hopefully leverage our input component (perhaps we will need to position a trailing caret

[2020-10-20 18:14] asangma opened #1147 "New Component: App region catalog and shortcut component or utility"
### Description
A component or utility that makes it easy to present a centralized list of regions in the app for quick keyboard and screen-reader accessibility.

#### User Stories

### Acceptance Criteria

#### Out of Scope

### Helpful Details

[2020-10-20 18:39] eriklharper commented on #943
No, this is unrelated to some of the recent issues, but this is something that should be addressed.  I'll prioritize this alongside some other bugs I'm assigned as well.

[2020-10-20 21:08] macandcheese commented on #1147
Related, basically just a styled code block but, from Hudle:

https://uniform.hudl.com/components/keyboard-shortcut/design

And then in use on their design system docs page (how meta):

![Screen Shot 2020-10-20 at 2 07 50 PM](https://user-images.githubusercontent.com/4733155/96644288-aded1400-12dd-11eb-8d0d-743476547927.png)

[2020-10-20 21:09] rslibed opened #1149 "A11y: calcite-action-bar (Unable to override text spacing of calcite actions)"
Reported from Level Access:

Module Name: 01 - Left Navigation

Issue: Spacing is unable to be overwritten on configuration panel buttons. As seen in screenshots below, when an alternative spacing option is applied, elements in the left hand panel do not update along with the remaining elements of the configuration panel and app.

Default Spacing:
![06902a00-e225-11ea-83d4-1ea61b75adab](https://us

[2020-10-20 21:27] macandcheese commented on #1147
Oh, that's not what you meant by shortcut component, ha. The above would probably still be nice though.

[2020-10-21 03:04] macandcheese commented on #918
Should be resolved in https://github.com/Esri/calcite-components/pull/1139#event-3901313088

[2020-10-21 03:04] #918 closed

[2020-10-21 17:26] macandcheese opened #1152 "Enhancement: A11y updates for Date"
### Description
Follow up from Teams chat:

- [ ] - Ensure label is able to be passed to input (render inside component based on passed string?)

- [ ] - Examine use of aria-hidden inside component.

@driskull feel free to tack more on here if found.

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-10-21 18:43] eriklharper opened #1155 "radio-button doesn't respond to form reset"
@macandcheese @julio8a It looks like similar behavior is happening for `<calcite-radio-button>` as well. The same lack of reset occurs whether or not they've been wrapped in `<calcite-radio-button-group>`. I've forked @noahmulfinger's CodePen and added radio button examples. Note that the reset works for standard radio buttons but not the calcite-radio-buttons:

https://codepen.io/davisdavis/pen/o

[2020-10-21 18:45] driskull opened #1156 "axe reports a11y issues on calcite-slider"
### Summary

The following violations are reported by axe on `calcite-slider`:

1. [ ] ARIA role should be appropriate for the element (for both single and double thumbs)
2. [ ] Ensures buttons have discernible text

#### Details

[code]

[code]

![Screen Shot 2021-12-28 at 11 11 12 AM](https://user-images.githubusercontent.com/197440/147599494-a889cfef-92ca-4a15-97b3-0bd0d606e56c.png)

### Actual

[2020-10-21 18:59] paulcpederson commented on #1156
@driskull thanks for writing these up, we'll probably need an additional prop like `intl-year` on the date component so we can get a localized string for this. The card will probably need props for strings as well. I can see app devs needing something like "select item {title}" and "deselect item {title}".

[2020-10-21 19:12] jgibson02 opened #1157 "Enhancement: Indicator for accordion-item"
### Description
I would like to be able to toggle an indicator on calcite-accordion-item that's similar to the one found on calcite-action to be able to notify the user to updates in that section without needing to programmatically open it which might interrupt the user.

### Acceptance Criteria
- [ ] calcite-accordion-item accepts a boolean `indicator` prop that controls whether to display an ind

[2020-10-21 19:33] macandcheese commented on #1032
As @eriklharper mentioned, changing to style:scoped on calcite-stepper (not item, since the parent handles the content transformation) works, but I'd like to keep styles of the stepper itself more locked down. If there's no other way, that's a quick fix that does work.

[2020-10-21 22:02] #943 closed

[2020-10-21 22:17] jcfranco opened #1159 "Tests: Add accessible tests"
Breakout issue from https://github.com/Esri/calcite-components/pull/1153#event-3906164330

The above PR addressed some a11y issues and each component's e2e test should be updated to cover the fix:

- [x] ~~`calcite-accordion`~~
- [x] ~~`calcite-accordion-item`~~
- [x] ~~`calcite-action`~~
- [x] ~~`calcite-action-bar`~~
- [x] ~~`calcite-action-group`~~
- [x] ~~`calcite-action-pad`~~
- [x] ~~`calcit

[2020-10-21 22:17] driskull commented on #1156
These could also be tested by...

- using e2e tests with the `accessible` helper.
- using the aXe toolbar to run on storybook or demo pages.

Ideally, we have the `accessible` e2e helper for all components but I don't think we could get 100% coverage because of all the combinations of props & attributes but if we did the majority or high impact ones we would be good.

[2020-10-21 22:38] jcfranco commented on #1156
Agreed. https://github.com/Esri/calcite-components/issues/964 could also lessen the burden on `accessible` tests.

[2020-10-21 22:41] driskull commented on #964
@kat10140 can you update this issue to add a checkbox list for all components? Then we can divvy up the work.

[2020-10-22 03:12] jcfranco commented on #302
Installed.

As discussed, I'll create follow-up issues for enhancements.

[2020-10-22 03:15] jcfranco opened #1160 "Enhancement: [calcite-select] style open state"
### Description

Breakout issue from https://github.com/Esri/calcite-components/issues/302#issuecomment-705267556

### Acceptance Criteria

### Relevant Info

#### Which Component

`calcite-select`, `calcite-option`, `calcite-option-group`

#### Example Use Case

[2020-10-22 03:17] jcfranco opened #1161 "Enhancement: [calcite-select] support native + styled rendering of options"
### Description

Breakout issue from https://github.com/Esri/calcite-components/issues/302#issuecomment-705267556 and https://github.com/Esri/calcite-components/pull/1112/

cc @macandcheese @eriklharper

### Acceptance Criteria

### Relevant Info

#### Which Component

`calcite-select`, `calcite-option`, `calcite-option-group`

#### Example Use Case

**Native UI**

[code]

**Calcite UI**

[code]

[2020-10-22 03:25] jcfranco opened #1162 "Enhancement: [calcite-select] allow typing in selected option area"
### Description

Breakout issue from https://github.com/Esri/calcite-components/issues/302#issuecomment-705267556

### Acceptance Criteria

### Relevant Info

#### Which Component

`calcite-select`

#### Example Use Case

[2020-10-22 03:27] jcfranco opened #1163 "Enhancement: [calcite-select] allow specifying separator between options"
### Description

Breakout issue from https://github.com/Esri/calcite-components/issues/302#issuecomment-705668096

### Acceptance Criteria

### Relevant Info

Depends on #1160

#### Which Component

`calcite-select`, `calcite-option`

#### Example Use Case

[2020-10-22 03:43] jcfranco opened #1164 "Enhancement: [calcite-select] allow icons/images for rendered options"
### Description

Breakout issue from https://github.com/Esri/calcite-components/issues/302#issuecomment-705689362

### Acceptance Criteria

### Relevant Info

Depends on https://github.com/Esri/calcite-components/issues/1160

#### Which Component

`calcite-select`, `calcite-option`

#### Example Use Case

[2020-10-22 03:51] jcfranco commented on #964
@driskull @kat10140 That would be after. First we need to do the research/work to wire this up.

[2020-10-22 15:54] #891 closed

[2020-10-22 16:11] driskull opened #1165 "Enhancement: Refactor CSS variables"
### Description

Refactor CSS variables so that components can easily be themed by users.

This will help support users and the JS API be able to theme the components easily.

Currently, the CSS variables are named in a way that makes theming them not ideal. The names are referencing colors and ideally the names of the variables should reference how they are used instead.

### Acceptance Criteria

[2020-10-22 16:22] jcfranco commented on #1161
Did a quick comparison on popular design system components and found none that supported a mixed approach:

**Native**

- https://www.carbondesignsystem.com/components/select/usage
- https://polaris.shopify.com/components/forms/select#navigation
- https://clarity.design/documentation/select#top

**Styled**

- https://atlassian.design/components/select/examples
- https://material-components.github.

[2020-10-22 16:28] macandcheese commented on #1161
Honestly it seems like maybe we should just render this as native always, to keep it simple. Dropdown can be used for a styled version (and perhaps we can add a "mobile docked" version of that to better simulate a spinner).

[2020-10-22 16:39] jcfranco commented on #1161
Simple is good. 😃

For me, all that matters is that the component sticks to one consistent experience.

[2020-10-22 16:47] macandcheese commented on #1161
Agreed. For datalist, browsers style the options very differently! I think we may (?) be able to style the non-mobile version while still getting the benefit of native spinner.

[2020-10-22 18:05] macandcheese commented on #1159
I can take card and dropdown.

[2020-10-22 18:07] bstifle opened #1166 "Enhancement: Add transparent ui-blue variable"
In need of a transparent blue variable, that can be replaced with a brand color theme in the future. Would be used on Date Range Component and can replace ArcGIS Online's `calcite-ui-foreground-current` as well.

rgba(0,122,194, 0.15) for light theme
rgba(0,160,255, 0.15) for dark theme

Suggested names for these variables:

`calcite-ui-blue-1-transparent`
`calcite-ui-blue-1-transparent-dark`

[2020-10-22 18:19] macandcheese opened #1167 "Enhancement: Consolidate FAB / Button functionality."
### Description
We should clean up the stories around FAB / Button-that-acts-as-fab:

`calcite-button`:
- Remove `floating` prop
- Remove "FAB" examples under button component in Storybook.

`calcite-fab`:
- Apply the shadow from `floating` to this component, at all times.
- Move `FAB` stories to general list since they aren't really layout?

### Acceptance Criteria

### Relevant Info

#### Which

[2020-10-22 18:42] macandcheese opened #1168 "Enhancement: Use popper.js for Date"
### Description

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-10-22 18:55] driskull opened #1169 "Research: Research using different focus trap npm helper"
### Background

Research: Research using different focus trap npm helper

https://www.npmjs.com/package/focus-trap

### Desired Outcome

Using best focus trap helper

[2020-10-22 20:20] driskull commented on #1159
I signed up for some. Some may already have a11y tests so we can just cross them out if necessary.

[2020-10-22 20:38] eriklharper commented on #1161
Agree 💯 %.  Does that mean this issue can be simplified to remove the `calcite-option` and `calcite-optgroup` components, or do you think there's still value in keeping them around?

[2020-10-22 21:18] jcfranco commented on #1161
I'm for keeping them. Mostly for future-proofing (feature & styling). It's nice that the markup looks consistent with other components. All of the listed design system components also have custom option/group elements.

[2020-10-22 22:17] eriklharper commented on #1155
Looks like I will have to address #1110 alongside this as the native form reset behavior triggers the "last checked wins" behavior.

[2020-10-23 12:53] ajturner commented on #863
@asangma I'm curious if the scope or intent of this component would be having a "text editor" inclusive text styling (similar to the text editing here in Github issues) - bold, bullets, links, etc.

[2020-10-23 17:42] bstifle commented on #576
Let's jump on this!

I like `neutral` and `inverted`

![image](https://user-images.githubusercontent.com/14083530/97036268-31e90b00-152d-11eb-9c58-bceb9c367ac2.png)

[2020-10-23 17:55] crowjonah commented on #576
As part of this work, we'll wanna make sure the `calcite-split-button`'s separator elements (border, background, and divider) match the color updates made here. (See https://github.com/Esri/calcite-components/pull/1141 for some background/context.)

[2020-10-23 19:57] #1110 closed

[2020-10-23 20:52] pemberdom opened #1171 "Bug: calcite-value-list: list incorrect after removing an item"
### Summary
Using a calcite-value-list with `removable` items, the list gets wrongly updated when we click on an item to remove it.

Here is an example of how the list is built:

[code]

<details><summary>HTML extract:</summary>

[code]

</details>

### Actual Behavior

When an item is clicked, it is sometimes removed, sometimes not. Sometimes it removes the other items.
In any case it seems to st

[2020-10-23 21:26] pemberdom opened #1172 "Bug: calcite-value-list-item: setting `removable` to true doesn't change the item"
### Summary

When we set a `removable` true on a `calcite-value-list-item`, it doesn't seen to change its visual. The doc says:

### Actual Behavior

We use a `calcite-value-list-item` in that way:

[code]

But it doesn't display anything

![image](https://user-images.githubusercontent.com/45367780/97053802-7037f780-1538-11eb-955b-093a9865fe85.png)

Clicking on it does something though.

### Expec

[2020-10-23 22:11] evanmosby commented on #1033
+1 ArcGIS Monitor team's looking forward to it

[2020-10-24 04:43] eriklharper opened #1174 "Research: explore using the fieldset element in calcite-radio-button-group for a11y"
### Background

The `fieldset` element improves accessibility and is perfectly suited for grouping related radios.
https://www.w3.org/WAI/tutorials/forms/grouping/

### Desired Outcome

Look at improving readability by wrapping radios with a fieldset rendered by calcite-radio-button-group.

[2020-10-26 23:11] macandcheese opened #1177 "Bug: Radio Group Styling is broken in IE11"
### Summary
![Screen Shot 2020-10-26 at 4 09 36 PM](https://user-images.githubusercontent.com/4733155/97238064-bfcf2b00-17a5-11eb-830a-e87f0483dd79.png)

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1. Open in IE11

### Relevant Info

[2020-10-27 15:12] mpriour opened #1178 "Bug: calcite-label not removing original textNode"
### Summary
The caclite-label text is repeated. The text node inside a the calcite-label element is not getting replaced, thus 2 "labels" are being shown. The first is wrapped in a span inside a label element while the second is a plain text node that was supposed to get removed.

### Actual Behavior
Here is the markup that is being produced:
[code]

### Expected Behavior
In the expected markup pr

[2020-10-27 16:25] eriklharper commented on #1178
Dupe of #1140

[2020-10-27 16:35] joshtaylor0404 opened #1179 "Bug: Calcite-Combobox calciteComboboxChipDismiss event is not firing"
### Summary
When using the calcite-combobox component, the `calciteComboboxChipDismiss` event does not seem to be firing.

![image](https://user-images.githubusercontent.com/3470614/97332202-6b748b80-1837-11eb-9857-720669ef85b8.png)

In the screenshot above, when I wire up my `handleRemoveTag` function to respond to the event, it never executes when the chip is removed.

CC @paulcpederson

[2020-10-27 16:40] joshtaylor0404 opened #1180 "Bug: Calcite-Pagination next button greyed out when last page has 1 result."
### Summary
When using the calcite-pagination component, if the last page only has 1 result the page will display in the pagination however the next button is greyed out before reaching the last page.

![image](https://user-images.githubusercontent.com/3470614/97333125-6e23b080-1838-11eb-854f-786f2e0d821e.png)

CC @paulcpederson

[2020-10-27 16:49] joshtaylor0404 opened #1181 "Enhancement: Calcite-Combobox white chip option"
### Description
When using the calcite-combobox component on Esri standard grey backgrounds, the chip blends in with the background. It would be nice if we could have an option for a chip with a white background in these scenarios.

#### Which Component
calcite-combobox

#### Example Use Case
![image](https://user-images.githubusercontent.com/3470614/97333754-205b7800-1839-11eb-82ac-d620a11341a6.p

[2020-10-27 16:56] paulcpederson commented on #1181
@bstifle wondering if a white variant might solve this issue? Either that or integrating the chips into the input of the combobox. Valid use case, though, for sure.

[2020-10-27 17:04] bstifle opened #1182 "Bug: Chip Clear styling not to spec"
Correct Spec using ui-text-3 (#6A6A6A) as border color:
![image](https://user-images.githubusercontent.com/14083530/97335893-5e15cc00-184c-11eb-8d78-ef3a27a84e22.png)

Master:
![image](https://user-images.githubusercontent.com/14083530/97335906-63731680-184c-11eb-8922-3a339e9d5e58.png)

[2020-10-27 17:04] macandcheese commented on #1181
Agreed @joshtaylor0404 - having a white variant would be great. We even sidestep it's absence in the storybook by placing it on a white background. In the meantime, using the "clear" appearance option will at least give you an outlin:

https://esri.github.io/calcite-components/?path=/story/components-chip--simple&knob-scale=m&knob-appearance=clear&knob-color=grey&knob-dismissible=true

[2020-10-27 17:04] bstifle commented on #1181
@paulcpederson @joshtaylor0404

Hey guys!

we have a few variants of chips. for this scenario, i suggest using chip clear:

![image](https://user-images.githubusercontent.com/14083530/97335620-0b3c1480-184c-11eb-84d8-f2f1dbb1e63f.png)

But, fun fact, the styling is off. so i'll open an issue for it.
#1182

[2020-10-27 17:13] joshtaylor0404 commented on #1181
@bstifle - I like that too. I don't think you can change the chip styling through the combobox component though, so we would need to allow for that.

[2020-10-27 18:01] bstifle commented on #1181
@joshtaylor0404 Oh good catch!! @macandcheese do you have any insight on how to do that?

[2020-10-27 18:17] macandcheese commented on #1181
Sure, we could add a pass-through prop to the combobox component to choose appearance type. We would want to limit it to that though, not expose all the options for a chip like color, etc.

I think there's some validity to somehow being able to pass content to the image / avatar slot in the chip from the combobox but, we can probably address that if it gets requested.

[2020-10-27 20:23] julio8a opened #1186 "Enhancement: font-scale updates"
### Description
MPV has a release fairly soon and some components need the updated font-scale.

### Acceptance Criteria
Consume the typography scale.

### Relevant Info
A new type scale was merged in this PR
https://github.com/Esri/calcite-components/pull/897#issue-471136053

#### Which Component
- [ ] accordion
- [ ] button
- [ ] checkbox
- [ ] label
- [ ] input
- [ ] radio (and other radio thing

[2020-10-27 20:35] macandcheese opened #1187 "Enhancement: Label - Add facilities for adding an indication of required / optional"
### Description
After discussion with @TheBlueDog and Nick, it would be nice to provide styled options for labels that wrap controls that are either a) required or b) optional.

While it would be nice (?) to have one recommended way to display these, in reality each consuming app will likely have their own needs and UX considerations for deciding to use a "* required" or "optional" display. Resear

[2020-10-27 21:58] asangma opened #1190 "Enhancement: BlockSection. Refactor switch mode to use CalciteLabel and CalciteSwitch"
### Description

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-10-27 22:37] #1155 closed

[2020-10-28 00:01] eriklharper commented on #1178
Having trouble reproducing this.  @mpriour if you could share the repository where this issue is happening so I can try and replicate locally, that will help move this along.

[2020-10-28 16:09] macandcheese opened #1192 "Enhancement: Improve scaling with updates to x-padding / margin of Dropdown Group and Items"
### Description
Once https://github.com/Esri/calcite-components/pull/1191 is merged, we should make changes to the x-spacing of dropdown group titles and items to better scale the dropdown component. Right now we don't make changes based on scale to that, just vertical height.

cc @bstifle
### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-10-28 22:02] driskull commented on #1169
@jcfranco I tried using the other focus trap package without any luck. The problem is that I couldn't find a good way to start the focus trap after the modal becomes active but after DOM nodes were already created or updated.

Do you want to take a stab at it?

[2020-10-28 22:14] driskull commented on #1159
I've updated the list and crossed out the components that already have at least one `accessible` test. If you would like to create more complete tests feel free to do so. Otherwise, I think we can just concentrate on the ones missing tests.

[2020-10-28 23:41] pemberdom commented on #1172
If we can squeeze this addition in the issue (otherwise I'll create another one): setting `removable` to `false` (explicitly or by not adding the attribute at all) doesn't seem to make any difference with `removable` being `true`.
In both cases the item is clickable (hand cursor), and itms are removed from the list.
cc @jcfranco

[2020-10-28 23:44] eriklharper opened #1196 "Tooling: Setup Screener Storybook Trial Integration"
Blocked by #1127 .  Because the input story freezes, Screener cannot take a screenshot and thus errors and causes the build to fail.

## Summary

Sets up `@esri/calcite-components` repo with our temporary trial account with Screener.io's Storybook feature.

## Measure of Success

See a test screenshot run of Storybook stories.

### Resources

https://screener.io/v2/docs

### Todos

- [ ] Fix #1127

[2020-10-28 23:46] eriklharper opened #1197 "Tooling: POC Demo Screener Runner Trial Integration"
## Summary

Setup [Screener Runner](https://github.com/screener-io/screener-runner) trial account to test with our component demo pages.

## Measure of Success

Successfully integrate our demo pages with Screener Runner to capture a visual record of all demo pages and then trigger a follow-up test run that changes the visual display of the demos to see Screener in action and evaluate the regular d

[2020-10-29 00:22] paulcpederson opened #1198 "Enhancement: Prop to constrain height of combobox menus"
### Description

Currently the max-height of an open dropdown is `90vh` and the combobox list is `100vh`. This is generally not desirable as the chances that the item is at the very top of the screen and you'd like it to take up the full screen is slim to none.

We should provide a `max-items` prop so that devs can style these UI's in ways that make sense for their application.

### Acceptance Cri

[2020-10-29 00:24] paulcpederson commented on #1198
Dropbox has this already! Just noticed, so really just making combobox work like this.

[2020-10-29 00:34] paulcpederson commented on #564
@driskull I think we should add a prop on dropdown/combobox to allow setting the popper position. AFter https://github.com/Esri/calcite-components/pull/207 you can disable flip of a popper instance, but there is no way to access that popper instance from the higher order components like dropdown and combobox. Could be nice to have a prop that set's the position and locks it, IMO

[2020-10-29 16:28] driskull commented on #564
@paulcpederson Have there been requests to modify it?

I'm just thinking that a native `<select>` doesn't give you this control, it just opens in the best spot. I'd rather not add the prop until there's a good use case for it.

[2020-10-29 18:35] paulcpederson commented on #564
OK, I'd buy that. We should close this issue, can always open a new one if we decide it needs to be addressed.

[2020-10-29 18:35] #564 closed

[2020-10-29 19:26] subgan82 opened #1200 "Bug: ICON_TYPES value usage in icon prop in calcite value list item throws build error in a stencil component"
### Summary

Using `icon` with `ICON_TYPES.circle` is throwing build error when used in another Stencil component.
Here is an example of the usage

[code]

### Actual Behavior

Build error
[code]

We also tested using icon="circle" this is not accepted by TSC throws Type error

![2020-10-29_14-01-34](https://user-images.githubusercontent.com/1017712/97622649-922af180-19f2-11eb-9a55-24daa9f1c3f2.pn

[2020-10-29 20:03] #1140 closed

[2020-10-29 20:26] asangma commented on #1186
Thanks @julio8a. Installed.

[2020-10-29 20:29] asangma commented on #1137
@AdelheidF Murged.

| scale | font-size |
|------:|:---------|
| small | 0.75rem (12px) |
| medium | 0.875rem (14px) |
| large | 1.125rem (18px) |

[2020-10-29 20:38] bstifle commented on #1137
![jake-love](https://user-images.githubusercontent.com/14083530/97629911-c9060500-19fc-11eb-942c-043457097221.png)

[2020-10-29 21:08] bcree11 opened #1201 "Bug: calcite-date: max date causing calendar navigation to disappear"
### Summary

When a max date is set and the user navigates to the max month the buttons to navigate disappear.

### Actual Behavior

Max date is set to 2020-11-18. Buttons to navigate disappear and user is unable to easily go to the previous month.

![image](https://user-images.githubusercontent.com/45497237/97632241-7c67fd00-19ef-11eb-9c04-f39ca3270fd0.png)

### Expected Behavior

I expect it to

[2020-10-29 22:11] bstifle opened #1203 "Enhancement: Add Line-hight values that match 4px scale and apply where necessary"
This issue is regarding the alignment of our components to the new scale. We will need to determine where current line-heights should be assigned, and then where scale-based line-heights can be applied.

Scales and rules as follows:

![Spacing Scale](https://user-images.githubusercontent.com/14083530/97637740-3324a700-1a09-11eb-8e8c-362ce50a73f4.png)
![2 Set System](https://user-images.githubuserc

[2020-10-29 22:35] macandcheese opened #1204 "Enhancement: [Alert / Notice] Add overrideable icon"
### Description

Copy the logic from input where we set defaults on each color, so when a user requests "icon" they get our recommended set, but they can still override it with a string for calcite ui icon in "icon" prop.

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-10-29 23:23] layesdesign commented on #1204
![Group overview - component option](https://user-images.githubusercontent.com/48816112/97642600-d3c39880-1a02-11eb-94b8-6c8728f8d86d.png)

[2020-10-29 23:32] layesdesign opened #1205 "Enhancement: Light gray background notice"
Need a notice option to help visually distinguish new features messages from other elements on white background.

### Acceptance Criteria: Light gray background

### Which Component: Notice component

### Example Use Case
<img width="805" alt="Screen Shot 2020-10-29 at 4 27 05 PM" src="https://user-images.githubusercontent.com/48816112/97642975-bd6a0c80-1a03-11eb-989c-20affa95caf5.png">

[2020-10-29 23:58] macandcheese commented on #1204
Thanks @layesdesign - this one might actually necessitate the other component we were discussing with @mitc7862 - but I'll keep this issue open to allow icon overrides with calcite-ui-icons. Thanks for adding!

[2020-10-30 18:06] asangma opened #1207 "Enhancement: ValueList & ValueListItem - add unselectable"
### Description
Allow users to use ValueListItems that have no "selection" functionality.

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-10-30 20:01] macandcheese opened #1209 "New Component: Onboarding / Tip Component Placeholder"
### Description
cc @layesdesign @mitc7862
#### User Stories

### Acceptance Criteria

#### Out of Scope

### Helpful Details

[2020-10-30 21:18] eriklharper commented on #1196
![image](https://user-images.githubusercontent.com/821864/97757822-cbc72f80-1aba-11eb-88aa-62507d749d10.png)

[2020-10-30 21:19] eriklharper commented on #1196
https://screener.io/v2/dashboard/1leJJn.Esri-calcite-components/(default)

[2020-11-02 17:38] AdelheidF commented on #1137
This got merged 4 days ago but the latest next is from 6 days ago. When will it be part of next?

[2020-11-02 23:50] pemberdom opened #1213 "Bug: calcite-date opening 2 calendars having 2 different styles"
### Summary

There is a bug while using an association calcite-label + calcite-date (unless they are misused), leading to opening 2 calendars in a row.

### Actual Behavior / Reproduction Steps

See [live example](https://codepen.io/pemberdom/pen/oNbxzVM):

[code]

- **Click 1 on the date input: it opens the expected calendar**

![image](https://user-images.githubusercontent.com/45367780/97931318-

[2020-11-02 23:53] macandcheese commented on #1213
Related FF Issues:
https://github.com/Esri/calcite-components/issues/953
https://github.com/Esri/calcite-components/issues/931#issuecomment-689197320

[2020-11-02 23:56] pemberdom commented on #1213
Oh damn I didn't check. Thanks
Closing it as it doesn't bring more information, and we don't need to track it on our current project

[2020-11-02 23:56] #1213 closed

[2020-11-02 23:58] macandcheese commented on #1213
It's a weird issue - FF has its own JS injected for date picking.

[2020-11-03 17:47] julio8a commented on #1186
Thanks, Alan!

[2020-11-03 17:47] #1186 closed

[2020-11-03 17:48] #689 closed

[2020-11-03 17:48] #687 closed

[2020-11-03 17:54] #1204 closed

[2020-11-03 19:04] jcfranco commented on #1171
@pemberdom I think the doc is misleading. `removable` will render the remove button, which emits `calciteListItemRemove` for the dev to listen and remove the item.

@driskull @asangma Do you remember why the list doesn't remove the item directly? I think the component should handle this instead of leaving it up to the dev.

---

WRT ☝, could it be outdated types? I couldn't repro locally.

[2020-11-03 19:26] driskull commented on #1171
I don't remember 🤷

[2020-11-03 19:44] nel11211 opened #1215 "Boolean "scrollable" option on calcite-panel"
The `content-container` element inside `calcite-panel` sets `overflow: auto` by default. It would be valuable (specifically for ArcGIS Charts) to have a `scrollable` prop on the `calcite-panel` to control this, similar to the existing `dismissible` prop. Setting this prop to `false` could set the CSS for the `content-container` to `overflow: hidden`.

e.g. switching `overflow: auto` to `overflow:

[2020-11-03 19:47] nel11211 commented on #1215
Use case is to address part 1 of [this issue](https://devtopia.esri.com/WebGIS/arcgis-charts/issues/2017) in the ArcGIS Charts repo.

[2020-11-03 21:12] kumarGayu opened #1217 "Bug: Calcite-dropdown: For a value list item, popover does not show for second list item."
### Summary
![image](https://user-images.githubusercontent.com/9862218/98040817-ca0cad00-1dd5-11eb-82a7-ddcacab321a4.png)

 Calcite-dropdown: For a value list item, popover does not show for second list item.

### Actual Behavior
For value list item, drop down menu is not visible with all the menu items.

### Expected Behavior
For value list item, drop down menu should open.

### Relevant Info

[2020-11-03 21:17] kumarGayu opened #1218 "Bug: Calcite-popover initial placement does not appear to the view portal"
### Summary
![image](https://user-images.githubusercontent.com/9862218/98041480-d80efd80-1dd6-11eb-86a6-58d19341cf5b.png)

initial placement does not show up on the view screen.

### Actual Behavior
Popover is not visible.

### Expected Behavior
Popover initial placement should be visible.

### Reproduction Steps

1.

### Relevant Info

[2020-11-04 00:17] jcfranco commented on #1172
Do you have an isolated test case? I can't reproduce this.

The component does not remove any items. This issue is coming from the consuming code.

[2020-11-04 00:20] jcfranco commented on #1171
I'll create a separate issue to look at enhancing the lists to handle item removal.

In any case it seems to stop displaying the textLabel in favor of the value after an item has been clicked:

Looked at this and the item removal issue is not coming from the component (clicking on the remove button only emits an event). Closing as invalid.

[2020-11-04 00:20] #1171 closed

[2020-11-04 00:27] jcfranco opened #1219 "Enhancement: [calcite-value-list, calcite-pick-list] handle item removal"
### Description

Currently, the list components don't handle item removal and push that logic onto the developer. For ease of use, removable items should be removed by the parent list.

cc  @pemberdom

### Acceptance Criteria

Parent list removes the list item that emits the `calciteListItemRemove` event.

### Relevant Info

#### Which Component

`calcite-pick-list`, `calcite-value-list`

#### Exa

[2020-11-04 00:33] macandcheese opened #1220 "Enhancement: Consolidate status colors across components"
### Description
Right now our "color" prop and what values it accepts is different across all components - it's used for styling an accent bar, and an icon if present / requested. The story around using that prop should be consistent where used. Note, it may change to a "status" or other name, but the resultant designs should not change

- Remove "red" as a color option for button, switch, link
-

[2020-11-04 00:36] jcfranco commented on #302
@subgan82 @AdelheidF Can either of you help verify this one? 🙇‍♂️

[2020-11-04 00:37] jcfranco commented on #750
Closing as self-verified.

[2020-11-04 00:37] #750 closed

[2020-11-04 01:27] AdelheidF commented on #302
I'll try using it in the next few days.

[2020-11-04 03:07] macandcheese opened #1221 "Bug: Radio Group with "width Full" not rendering correctly"
### Summary

### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info
<img width="1440" alt="Screen Shot 2020-11-03 at 7 06 12 PM" src="https://user-images.githubusercontent.com/4733155/98064676-b7ab6700-1e07-11eb-9afa-e5bda3b5b104.png">

Potentially related: https://github.com/Esri/calcite-components/issues/1177

[2020-11-04 19:49] AdelheidF commented on #1137
calcite-label scale=m now uses font size 14px. Verified locally using next.30.

[2020-11-04 19:49] #1137 closed

[2020-11-04 21:37] evanmosby opened #1225 "Bug: Accordion doesn't correctly apply transparent prop in FireFox"
### Summary
In FireFox, an Accordion component set to `appearance: transparent` appears white

### Actual Behavior
Component background is white

### Expected Behavior
Component background should be transparent

### Reproduction Steps

1. go to https://esri.github.io/calcite-components/?path=/story/components-accordion--simple
2. Set appearance to transparent
3. Observe background is still white

[2020-11-04 22:33] jcfranco opened #1226 "Bug: [calcite-select] programmatically adding/removing options leads to duplicate entries"
### Summary

`calcite-select` doesn't clean up internal option elements when `calcite-options` are added/removed programmatically.

### Actual Behavior

Duplicate options shown in select.

### Expected Behavior

One option/group is displayed per calcite-option/calcite-group.

### Reproduction Steps

See the following [codepen](https://codepen.io/jcfranco-the-scripter/pen/pobKKvP) or use the repro

[2020-11-05 00:48] AdelheidF opened #1228 "Bug: calcite-input: doesn't always default to scale=m"
### Summary

Correct look
<img src=https://user-images.githubusercontent.com/44481292/98183657-7ffef680-1ebd-11eb-861e-77e4fe4bc721.png width=200/>

Wrong look
<img src=https://user-images.githubusercontent.com/44481292/98183673-8a20f500-1ebd-11eb-83e7-bd52080e817f.png width=200/>

The calcite-input components are inside a calcite-block-section. If I start the block-section collapsed and then open

[2020-11-05 17:19] jcfranco commented on #1226
Installed.

@priya4991 Could you help verify this one with `@esri/calcite-components@next` (updating in a few mins)?

[2020-11-05 19:13] macandcheese opened #1230 "Enhancement: Add RTL support for tile-select"
### Description

Tile select needs to support `dir="rtl"`:

<img width="1547" alt="Screen Shot 2020-11-05 at 11 08 36 AM" src="https://user-images.githubusercontent.com/4733155/98285605-a4a7ac80-1f57-11eb-9554-a11e60055cc3.png">

~We should also change the nomenclature for "show-input" from "left/right" to "start/end"~ (this is already implemented - Cari)

### Acceptance Criteria

### Relevant Inf

[2020-11-05 19:14] pemberdom commented on #1172
After more discussion, the bug is not valid anymore. Thanks
Closing

[2020-11-05 19:14] #1172 closed

[2020-11-05 19:22] macandcheese commented on #1228
Is there another component wrapping it with a scale of "s"? Input component looks up the tree to find a scale. We could change how that works as well if desired.

[2020-11-05 19:43] AdelheidF commented on #1228
The `calcite-input` is inside a `calcite-tooltip-manager` and that's inside a `calcite-block-section` with a `scale=s`.

If that's the case that it would use the scale of the `calcite-block-section` it should always stay at `scale=s` then. But that's not what it does. Because when I open the panel with the block-section expanded, which still uses `scale=s`, the scale of the `calcite-input` switche

[2020-11-05 19:46] macandcheese commented on #510
Pick list can be used for this in single / multiple options: https://esri.github.io/calcite-components/?path=/story/app-components-pick-list--basic. Feel free to open another issue if that component needs improvements for a use case @bpatterson88

[2020-11-05 19:46] #510 closed

[2020-11-05 19:52] macandcheese commented on #1217
Is there a link to reproduce this? It looks like maybe the dropdown-trigger element is somehow positioned weirdly? When you say "popover" - you mean the dropdown container not the "popover" component yeah?

[2020-11-05 21:53] asangma commented on #863
@ajturner Hey...sorry for the late response.
This component wouldn't include those features and would focus on adding some UI and a bit of enhancement to a native text-area.

The slots for a footer or actions is to meet the common requirement to insert field or expression references.

[2020-11-05 21:53] jcfranco commented on #1179
This was installed a while back and should be in `@next`. @joshtaylor0404 Could you help verify?

[2020-11-05 22:04] macandcheese commented on #863
@ajturner That's probably a common enough use case to eventually have our own component for though... Those are used all over the place. There's likely (?) some wrappable library we can use.

[2020-11-05 22:46] nwhittaker commented on #1012
@driskull or @macandcheese, adding `flex-grow: 1`[1] for this issue caused a regression in the Field Maps web app with how some of our overflow buttons are positioned (see https://github.com/ArcGIS/field-apps-web/issues/1209).

These buttons are inside a `flex` layout, so they're now expanding to fill out the available space of the container instead of hugging their content. Since the default valu

[2020-11-05 23:22] macandcheese commented on #1012
@nwhittaker can you open a new issue so we can track this? And link this issue so if it's determined a change is needed on our end we don't undo this fix. Thanks!

[2020-11-06 00:18] nwhittaker opened #1232 "Bug: [calcite-dropdown] Inside a flex layout, component no longer hugs trigger content"
### Summary
Previously, when placed inside a flex layout, the `calcite-dropdown` component hugged its trigger content. Since https://github.com/Esri/calcite-components/issues/1012, it now expands to fill the available space of its container.

### Actual Behavior
With the below snippet, the dropdown trigger is positioned flush with the container's leading edge.

### Expected Behavior
Because the co

[2020-11-06 00:19] nwhittaker commented on #1012
Added https://github.com/Esri/calcite-components/issues/1232 for this.

[2020-11-06 00:24] macandcheese commented on #1232
Note : any fix here should maintain functionality that was fixed in linked issue.

[2020-11-06 00:27] #1063 closed

[2020-11-06 00:27] #1098 closed

[2020-11-06 00:28] macandcheese commented on #1063
@noahmulfinger can you confirm https://github.com/Esri/calcite-components/pull/1223 when the next release goes out (should be shortly)?

[2020-11-06 17:15] macandcheese commented on #1225
Ah, looking at the css, there are styles set with `host-context` that are based on the parent `calcite-accordion`'s props - so we will also see this issue with the `appearance=minimal` setting, and in IE and Safari as well (I think they both also have trouble with `host-context`). Also might need to check out setting CSS `calcite-accordion` on the parent that pass through.

Looks like we'll need t

[2020-11-06 18:14] macandcheese opened #1235 "Docs: Storybook - Add global Scale, Theme, and Dir toolbar prop dropdowns"
### Description
New Storybook version toolbars addon allows us to move these "app-level" settings to the toolbar.

Outstanding things to do:
- figure out a way to change the background of the page to match the theme on change. We could also offer two "theme" specific background options (fore/background for light/dark).
- choose icons for these options (the toolbar addon has a very limited set to c

[2020-11-06 23:02] AdelheidF commented on #302
The open dropdown is longer than my browser window. It does try and open it on top of the collapsed select if there is space, but in this case there's less space above than below.
Is there a way with the current implementation to limit the displayed items in the dropdown before vertical scrollbars appear?

<img src=https://user-images.githubusercontent.com/44481292/98422328-3d195c00-2040-11eb-88fc

[2020-11-06 23:18] macandcheese commented on #302
Unfortunately I think that's just the native behavior of selects... and it's variable between browsers:

Not sure if it's the same in Chromium Edge, but on Mac the scrollbar only appears when there isn't enough space to the bottom of the entire display, not the browser window (it overflows browser window like you show):

![Screen Shot 2020-11-06 at 3 13 11 PM](https://user-images.githubusercontent

[2020-11-07 01:27] AdelheidF commented on #302
So far calcite-select is working pretty well. Thanks!

[2020-11-07 01:32] AdelheidF commented on #302
When hovering over the select and a long label is selected it overlaps with the icon.

<img src=https://user-images.githubusercontent.com/44481292/98428367-fd5d6f00-2055-11eb-9149-fb30a71b83c4.png width=300/>

[2020-11-07 01:45] macandcheese commented on #302
Can you open an issue for overlap? We can probably add padding to the end of input to "protect" the icon there. Thanks!

[2020-11-09 15:59] AdelheidF opened #1238 "Bug: calcite-select - text overlaps icon"
### Summary
When hovering over the select (with or without dropdown open) and a long label is selected it overlaps with the icon.

<img src=https://user-images.githubusercontent.com/44481292/98428367-fd5d6f00-2055-11eb-9149-fb30a71b83c4.png width=300/>

![image](https://user-images.githubusercontent.com/44481292/98564644-75e44b80-2261-11eb-930d-06b617a585c6.png)

collapsed state without hover

<im

[2020-11-09 15:59] AdelheidF commented on #302
Issue for overlap of icon created: https://github.com/Esri/calcite-components/issues/1238

[2020-11-09 18:08] jcfranco commented on #302
Thanks for verifying, @AdelheidF! Closing this one.

The doc was updated after the release. https://esri.github.io/calcite-components/?path=/docs/components-select--basic

If there's something else missing, let me know and I'll make those changes.

[2020-11-09 18:08] #302 closed

[2020-11-09 18:18] jcfranco opened #1240 "Docs: [calcite-select] Add description and usage examples"
### Description

The doc for `calcite-select`, `calcite-option`, and `calcite-option-group` have no description nor usage examples. Users should have access to a few snippets.

cc @AdelheidF

### Which Component

`calcite-select`

### Resources

[2020-11-09 18:21] AdelheidF commented on #302
Sorry, should have been more specific. I meant a short descriptive sentences about what the component does and at least one example.

[2020-11-09 18:22] jcfranco commented on #302
https://github.com/Esri/calcite-components/issues/1240 created!

[2020-11-09 18:32] jcfranco commented on #1069
Closing, based on ☝.

@zaramatheson Please create a new issue if anything else comes up. Thanks!

[2020-11-09 18:32] #1069 closed

[2020-11-09 18:41] jcfranco commented on #1179
Closing as verified, based on ☝.

@joshtaylor0404 Please create a new issue if anything else comes up. Thanks!

[2020-11-09 18:41] #1179 closed

[2020-11-09 18:41] jcfranco commented on #1226
Closing as self-verified, based on ☝.

@priya4991 Please create a new issue if anything else comes up. Thanks!

[2020-11-09 18:41] #1226 closed

[2020-11-09 18:48] noahmulfinger opened #1241 "Bug: calcite-dropdown has broken styling in Firefox"
### Summary

The calcite-dropdown seems to be missing some styling. You can see the issue in storybook:
<img width="330" alt="Screen Shot 2020-11-09 at 10 40 20 AM" src="https://user-images.githubusercontent.com/6539297/98582797-4bea5380-2278-11eb-9b95-887c4065b84a.png">

### Relevant Info

Firefox 82.0.3
macOS 10.15.6

[2020-11-09 18:56] noahmulfinger commented on #1063
@macandcheese Looks good in the codepen. Thanks!

[2020-11-09 19:02] macandcheese commented on #1241
@asangma could this be a regression from https://github.com/Esri/calcite-components/pull/119?

[2020-11-09 19:18] eriklharper commented on #1197
This POC has been completed by the unmerged #1216.  We will revisit setting up Screener Runner support at a later date when we officially start our Screener.io subscription.

[2020-11-09 19:18] #1197 closed

[2020-11-09 19:29] eriklharper commented on #234
Is this issue still valid?  Also, can the code that reproduces this be posted here so we can attempt to verify it?

[2020-11-09 21:36] AdelheidF opened #1244 "Bug: calcite-select height issue"
### Summary

If I place a `calcite-input` right next to a `calcite-select` you can see that the `calcite-select` is higher than the `calcite-input`. It's weird because when I check the height of each they both say `32.6667px`.

![image](https://user-images.githubusercontent.com/44481292/98598950-1487a100-2290-11eb-87eb-0ae85a1e2cb6.png)

![image](https://user-images.githubusercontent.com/44481292/

[2020-11-09 21:38] noahmulfinger opened #1245 "Bug: Using calcite-radio inside of calcite-stepper causes broken styling and missing text"
### Summary

There is some inconsistency when using calcite-radio inside the calcite-stepper vs outside of it. This may affect other components as well, but I noticed it for calcite-radio.

### Actual Behavior

See this codepen: https://codepen.io/noahmulfinger/pen/bGemOgv

### Expected Behavior

Styling should be consistent.

[2020-11-09 22:58] AdelheidF opened #1246 "Bug: calcite-panel - section should not have tabindex=0"
### Summary
Not sure if this is a valid issue...

This is my component using calcite-panel. When the component starts I want it to focus on the close action.
<img src=https://user-images.githubusercontent.com/44481292/98605718-c330df00-229a-11eb-9f13-19608dd6bc9f.png width=200/>

Then on tab it should go directly to the Add expression fab button.
<img src=https://user-images.githubusercontent.com/

[2020-11-09 23:51] eriklharper commented on #874
Passing an input is no longer supported, so the documentation will reflect that once this pr is merged: #1247

[2020-11-10 16:38] mpriour commented on #1178
@eriklharper I've gotten a chance to loop back around to this. The project this is happening in is a "wizard" style form that uses a stepper to walk a user through the relevant choices.

I've created a very simplified version of this at https://github.com/mpriour/cc_preact.

I noticed that even in this simplified version the double labeling happens every time that the page is re-rendered.
In this

[2020-11-10 16:45] mpriour commented on #1178
@eriklharper The markup for the initial radio button choice screen is in https://github.com/mpriour/cc_preact/blob/main/src/components/SubTypes/AppSubType.tsx

The markup for the input form is in https://github.com/mpriour/cc_preact/blob/main/src/components/ListingDetails/ListingDetails.tsx

[2020-11-10 16:50] bstifle opened #1248 "Enhancement: New Current States and visual story"
@asangma
per design meeting, we agreed on these for a new Current style:

![image](https://user-images.githubusercontent.com/14083530/98704227-05f9c200-2342-11eb-9f79-0b66bbbd85b0.png)

### Light theme

_idle_
icons: ui-text-3
bg: ui-foreground-1

_hover_
icons: ui-text-1
bg: ui-foreground-2

_current_
icons: ui-text-1
bg: ui-foreground-3

_indicator_
ui-blue-1

### Dark theme

_idle_
icons: ui-te

[2020-11-10 17:48] jcfranco opened #1250 "Enhancement: [calcite-select] add selectedOption prop for convenience"
### Description

Currently, users have to query for option children to get the selected item. Adding a prop to make this simpler would be a great dev enhancement.

cc @AdelheidF @dhrumil83

### Acceptance Criteria

Add a read-only `selectedOption` prop to select with a reference to the active selection.

### Relevant Info

#### Which Component

`calcite-select`

#### Example Use Case

[code]

[2020-11-10 17:51] jcfranco commented on #1250
@macandcheese @bstifle @paulcpederson Would the design system allow for multiple selection on select in the future? That would determine whether we use `selectedOption` vs. `selectedOptions` (like native `select`).

[2020-11-10 18:10] macandcheese commented on #1250
That's a weird one since the... not-styled-ness of a native "multiple" select is VERY apparent (vs. just the options which we can hide behind a styled dropdown). I feel like we'd probably want to invite the combobox, or a tile-select with "multiple" and no inputs showing (which, gets you close to that functionality of native multiple select):

![Screen Shot 2020-11-10 at 10 07 23 AM](https://user-

[2020-11-10 18:14] jcfranco commented on #1250
FWIW, I'm not vouching to support all native permutations. 😄 I don't think the multiple select use case is valid **if** the design system has a better replacement for it, which I think is what you stated:

[2020-11-10 19:14] jcfranco commented on #1240
Installed.

Docs should reflect changes later today.

[2020-11-10 20:15] macandcheese opened #1255 "Enhancement: [Tile Select / Tile] Add Scales"
### Description
We should add scales to the Tile Select / Tile component
### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-11-10 21:21] AdelheidF commented on #1121
I had marked this as high, but it didn't make it into Map Viewer Beta 10 tonight.

This workflow is working fine currently on production, but not on devext.

https://www.arcgis.com/apps/mapviewer/index.html?url=https://maps.iema.state.il.us/arcgis/rest/services/NPP/WIND/FeatureServer/1

https://devext.arcgis.com/apps/mapviewer/index.html?url=https://maps.iema.state.il.us/arcgis/rest/services/NPP/W

[2020-11-10 21:23] #1241 closed

[2020-11-10 21:46] macandcheese commented on #522
Suggestion: when lines enabled, keep JUST the bar. When lines is disabled, keep JUST the dot cc @capeoples

[2020-11-10 21:51] #874 closed

[2020-11-10 22:05] rmstinson opened #1257 "Enhancement: Select component to open popovers on click"
### Description
Open popover with select component

### Acceptance Criteria
Expected behavior linked below

### Relevant Info
Unknown

#### Which Component
`select`

#### Example Use Case
https://www.figma.com/proto/fGtTqlfFtz84i4begbHIeq/charts_mapviewer?node-id=1592%3A3&scaling=min-zoom

@julio8a @asangma

[2020-11-10 22:12] noahmulfinger opened #1258 "Bug: calcite-stepper does not work with React DOM manipulation"
### Summary

When using calcite-stepper (with layout="horizontal") in a React component, React will throw an error any time you add/remove DOM elements. I'm guessing this is because of the way calcite-stepper moves DOM elements around depending on the active step.

### Actual Behavior

React will throw the error `Node.insertBefore: Child to insert before is not a child of this node` whenever you u

[2020-11-10 22:19] macandcheese commented on #1258
To confirm, this only happens in "horizontal" not "vertical" layout, correct?

[2020-11-10 22:22] noahmulfinger commented on #1258
@macandcheese Interesting, yeah only `horizontal`.

[2020-11-10 22:23] #1238 closed

[2020-11-10 22:26] macandcheese commented on #1258
"vertical" doesn't do anything with slotted content, just shows and hides. "Horizontal" basically functions as tabs and moves slotted content from the stepper item "up" to a single container in the parent calcite-stepper. It seems like this causes more hassle than is needed, there's probably an easier way. We might be able to try and totally re-think that.

[2020-11-10 22:43] macandcheese commented on #522
Multi select should also use "check" vs. single dot indicator with no lines.

[2020-11-10 23:04] capeoples commented on #1181
I wanted to give this issue a bump as I agree that the chips need to be styled to be visible on the grey background.

Also, I think that the input field should have:
- placeholder text to let you know you can search for tags
- a dropdown indicator to let you know you can browse a predefined list

[2020-11-10 23:09] capeoples commented on #803
+1 for this. I'm working on a project now with @joshtaylor0404 that could benefit from the medium scale size.

[2020-11-10 23:19] codylawson commented on #722
@paulcpederson This seems to have been reverted in the latest release. We're now getting update events from the date picker when the value is changed programatically.

[2020-11-10 23:45] paulcpederson commented on #722
@jcfranco was there something weird with the last release? I don't see any changes in this file that would have impacted this regression?

[2020-11-10 23:55] jcfranco commented on #722
I don't think think so, at least the most recent commit. All tests were passing. Do you have a repro case? We could use it to `git bisect` the culprit and maybe add another test.

[2020-11-11 15:52] asangma opened #1261 "Enhancement: active vs selected"
### Description
Our components seem to be inconsistently using `active` or `selected`.
Is this inconsistent? If so, seems like we'd wanna choose one.

Right now, seems like about 18 files use `active` and about 10 use `selected`.

<img src="https://media.giphy.com/media/XHVmD4RyXgSjd8aUMb/giphy-downsized.gif"/>

#### Which Component
Many...

[2020-11-11 16:36] codylawson commented on #722
@jcfranco I'll work on a repro case for you. We did revert to beta 42 and are no longer seeing the issue, so it seems something happened in the last two releases.

[2020-11-11 17:19] svlesiv opened #1262 "Bug [calcite-select]: calciteSelectChange event returns previous value as a result"
### Summary
Listener with `calciteSelectChange` event returns previous value as a result.

### Reproduction Steps
1. Attach event listener with`calciteSelectChange` event to `calcite-select` element.
2. Observe the values of the selected elements when changing options.
3. Every time the listener will return the previous value.

### Relevant Info
https://codepen.io/svlesiv/pen/oNLQooV

[2020-11-11 17:45] codylawson commented on #722
@jcfranco Could you give this a shot? https://codesandbox.io/s/gracious-sky-2772j?file=/src/components/HelloWorld.vue

Noticing I get two change events when setting the date via the date picker, and another one when I click the button. If you think there's a better way handle a controlled date picker let me know! Thanks

[2020-11-11 17:59] jcfranco commented on #722
I think I'm missing something, but I see all of the events you describe with beta 40 – 44.

[2020-11-11 18:08] codylawson commented on #722
Sorry, I should have removed the reference from package.json, I'm using the library from unpkg. Here's two forks with [beta.42](https://codesandbox.io/s/cc-date-picker-beta42-2772j) and [beta.44](https://codesandbox.io/s/cc-date-picker-beta44-t3xht)

[2020-11-11 18:47] jcfranco commented on #722
Got it, thanks! I managed to repro w/ beta 43, so I think the issue is in one of these: https://github.com/Esri/calcite-components/compare/v1.0.0-beta.42...v1.0.0-beta.43.

@codylawson Do you have a non-Vue repro case by any chance? This will help us `git bisect` the culprit.

[2020-11-11 19:40] bstifle opened #1263 "Enhancement: Add hover/press states to checkboxes"
Add hover and press states to checkboxes in checked and indeterminate states.

![image](https://user-images.githubusercontent.com/14083530/98856512-41b88880-2423-11eb-99b7-da53ca0fb66d.png)

[2020-11-11 19:54] codylawson commented on #722
@jcfranco I do not, would a react example be useful or does that have a similar problem as Vue?

[2020-11-11 21:39] capeoples opened #1265 "Bug: English placeholder text for date component is strange"
### Summary
Currently, the placeholder text for the date component is a bit weird.

### Actual Behavior
The current format is M/d/yy
<img width="365" alt="Screen Shot 2020-11-11 at 1 34 48 PM" src="https://user-images.githubusercontent.com/30473086/98867114-dff81e80-2422-11eb-9d50-2fef27a435ae.png">

### Expected Behavior
I think the casing should be consistent, and possibly follow a format like M

[2020-11-11 22:18] paulcpederson commented on #1265
This is a CLDR unicode spec, but agree it's not friendly to end users. Wondering how it should be in all languages, though. Assuming we'd want to have the letter of the actual unit in that language?

Maybe @raje9276 has ideas on how this should be handled?

[2020-11-11 22:27] macandcheese commented on #1265
It looks like in the definition .JSON there is a separate "placeholder" value, maybe we can for now update in en-* and update others as requests for change comes in? (currently all the palceholders from what I've seen just mirror the unitOrder"?

[2020-11-11 22:30] paulcpederson commented on #1265
Yeah when I spec'd this translations format the "placeholder" was meant to be an actual user-friendly translated value but I think it just got overlooked.

[2020-11-11 22:40] jcfranco commented on #822
Closing as self-verified.

[2020-11-11 22:40] #822 closed

[2020-11-11 22:41] jcfranco commented on #1240
Closing as verified.

[2020-11-11 22:43] #1240 closed

[2020-11-12 00:29] jcfranco commented on #1219
Installed.

[2020-11-12 00:34] paulcpederson commented on #301
Hey, this is a thing now!

[2020-11-12 00:34] #301 closed

[2020-11-12 00:35] paulcpederson commented on #833
I think this is out now, feel free to reopen if need be

[2020-11-12 00:35] #833 closed

[2020-11-12 21:50] asangma opened #1267 "Enhancement: Add alignment props for Button"
### Description
Allow users to define how the nodes in a Button align.

### Acceptance Criteria
- center (default)
- start
- end
- space between

This will make it so users will not need to hand-roll their own buttons to achieve this in their interfaces.

cc @paulcpederson @macandcheese @AdelheidF

### Relevant Info

#### Which Component
Button

#### Example Use Case

[2020-11-12 21:59] macandcheese commented on #1267
Is the intent with this to only have this work for widths other than auto - half and full?

[2020-11-12 22:03] asangma commented on #1267
Good point. It would "work" with all of them, but effects would be more apparent in half & full.

[2020-11-12 22:05] asangma commented on #1267
Also....this should probz be a "justify" prop.

[2020-11-12 22:05] AdelheidF commented on #1267
Is this a duplicate of this one? https://github.com/Esri/calcite-components/issues/922

[2020-11-12 22:06] macandcheese commented on #1267
Yeah, nomenclature for this is tough. Other "alignment" props so far are ... "alignment". I don't know if the prop needs to be 1:1 with the css property it sets.

[2020-11-12 22:06] asangma commented on #1267
Ah! Thanks @AdelheidF.

[2020-11-12 22:06] #1267 closed

[2020-11-12 22:06] asangma commented on #1267
Sorry @macandcheese. this is a dup. Moving over to #922

[2020-11-12 22:30] nwhittaker opened #1269 "Bug: Disabling a button in Chrome/Edge while its tooltip is visible makes the tooltip sticky"
### Summary
When a button is associated with a tooltip (in Chrome and Edge), disabling the button while the tooltip is visible causes the tooltip to never disappear.

Disabling a button when clicked is a typical pattern to enforce atomic event handling.

### Actual Behavior
Following the below reproduction steps, the tooltip never disappears until the web page is reloaded.

### Expected Behavior
T

[2020-11-12 22:32] bcree11 opened #1270 "Bug: calcite-pick-list and calcite-value-list dark theme text isn't visible"
### Summary

When dark theme is used for calcite-pick-list and calcite-value-list label text is not visible, description is barely visible, and action icons are also barely visible.

### Actual Behavior

![image](https://user-images.githubusercontent.com/45497237/99002866-02a53880-24f2-11eb-9488-b807781f3170.png)

### Expected Behavior

To be able to clearly see the text and actions on each item.

[2020-11-12 23:44] svlesiv opened #1272 "Enhancement: [calcite-input] background-color attribute"
### Description
The background color of `calcite-modal` is matching the background color of `calcite-input` component. It would be nice to distinguish the input field from the background.

<img width="788" alt="Screen Shot 2020-11-12 at 1 52 22 PM" src="https://user-images.githubusercontent.com/35533801/99002514-611de700-24f1-11eb-916c-c7de4d58843f.png">

### Acceptance Criteria
The background col

[2020-11-13 01:19] eriklharper commented on #1064
~When you pass in a checkbox (as shown in the README example), the formatting is off and the checkbox is not clickable~
☝️ this is no longer supported, and the docs were just updated recently to remove instructions for this.

- [x] When wrapped in a label that has the `for` attribute, the checkbox is not clickable
- [x] When you hit Space, the checkbox flashes as selected, but the becomes deselect

[2020-11-13 16:56] samanthahunter commented on #748
+1 for this enhancement

Our customers would like quick access to their site's theme colors while editing it, set it once and reuse everywhere. Would it be possible to provide the 'theme' colors as the default options in the saved colors area?

One pattern I saw in the [webflow editor](https://webflow.com) was 'global colors' had a triangle on them. So we can combine 'theme' colors with 'saved' co

[2020-11-13 17:22] macandcheese commented on #1272
Yeah I think this is valid... Even in instances where it's on white background vs. grey background in light theme this comes into play.

In the meantime, you could set "background-color" of modal to grey to get some contrast, not sure if that works for the rest of the design but its a currently available option until this gets added : https://esri.github.io/calcite-components/?path=/story/componen

[2020-11-13 17:43] svlesiv commented on #1272
Changing the modal background is not matching our designs. Thank you for looking into this issue.

[2020-11-13 18:20] samanthahunter commented on #748
Per @macandcheese idea, instead of combining 'theme' and 'saved' colors, could also use an accordion for swatch groups (in our case the theme colors) under the 'saved' colors area - which could also be a knob in the component to turn on/off.

[2020-11-13 20:29] nwhittaker commented on #1269
Digging into this, it looks like the failure is occurring with this conditional in `CalciteTooltipManager.focusedToggle()`:
https://github.com/Esri/calcite-components/blob/f055e85659382ab75c69916789ac8fc6135542b0/src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx#L75-L77

For the test case `referenceEl` and `hoveredReferenceEl` are still equal because the `mouseleave` event hasn't

[2020-11-13 20:47] macandcheese commented on #606
At this point we won't be adding custom border radius.. Closing for now!

[2020-11-13 20:47] #606 closed

[2020-11-13 20:47] #819 closed

[2020-11-13 20:48] macandcheese commented on #927
Is this still an issue?

[2020-11-13 20:51] jcfranco commented on #1262
Installed.

@svlesiv Could you verify with `@esri/calcite-components@next`?

[2020-11-13 20:56] bstifle opened #1274 "Enhancement: update Input borders to be AA accessible based on agreed designs"
![Standard Inputs](https://user-images.githubusercontent.com/14083530/99119954-adcff380-25bf-11eb-9bd7-3133b05e2e9c.png)

### Light Theme
Change borders to calcite-ui-border-input(#949494) as changed in this issue https://github.com/Esri/calcite-colors/pull/49

### Dark Theme
Change borders to calcite-ui-border-input-dark (#757575)
Change `read only` and `prefix` and `suffix` fills to ui-backgroun

[2020-11-13 21:02] AdelheidF opened #1275 "Bug: calcite-panel loading=true doesn't align footer buttons correctly"
### Summary

In my smartMapping component when I load a MapService sublayer it might take a while before I have all info to load the UI. So I create the panel, pretty empty, with loading=true. Somehow the Done and Cancel buttons don't appear at the bottom of the panel though, even though the panel height is correctly set as 100%. Once I update the panel with loading=false it's fine.

<img src=http

[2020-11-13 21:10] svlesiv commented on #1262
I've tested `calcite-select` component in the app, and I'm not getting that issue anymore. Thank you!

[2020-11-13 21:11] jcfranco commented on #1262
Awesome, thanks for verifying! 🙌

[2020-11-13 21:11] #1262 closed

[2020-11-13 21:27] haoliangyu opened #1276 "Enhancement: [calcite-date] disable input"
### Description

The `calcite-input` component can be disabled with the native `disabled` attribute. For example, with

[code]
the user cannot type any value in the input box.

However, the `disabled` attribute doesn't work in for the `calcite-date` input. It is always editable but sometimes we want to disable and lock the input.

### Acceptance Criteria

With the `disabled` attribute like

[code]

[2020-11-16 17:33] AdelheidF opened #1277 "Enhancement: calcite-panel setFocus also needs to focus flow back button"
### Description
Currently there is no way to set the focus on the back button of a flow panel.
`setFocus(focusId?: "dismiss-button")`

Also, would it make sense to automatically set the focus on the back button if the user travels through a flow?

<img src=https://user-images.githubusercontent.com/44481292/99287158-bfe3a900-27ee-11eb-8a2c-3e9b996ea19a.png width=200/>

cc @dhrumil83

### Acceptance

[2020-11-16 20:17] #1127 closed

[2020-11-17 17:08] eriklharper commented on #234
Closing this as this does not occur anymore.

[2020-11-17 17:08] #234 closed

[2020-11-17 19:25] jcfranco commented on #1219
Closing as self-verified.

@pemberdom Please create a new issue if this needs following up.

[2020-11-17 19:25] #1219 closed

[2020-11-17 19:27] #801 closed

[2020-11-17 19:28] jcfranco commented on #801
Components were fully migrated in beta.42.

[2020-11-17 21:20] eriklharper commented on #1058
@AdelheidF Looks like the group-item component has been removed from this UI.  I assume you abandoned using this component in favor of others to accomplish the same end goal?

I'll close this issue in favor of #1096 which will address the root cause of this issue, since it will refactor the `radio-group` and `group-item` components to work just like `radio-button-group/radio-button` works

[2020-11-17 21:20] #1058 closed

[2020-11-17 22:03] eriklharper commented on #1228
@AdelheidF Just attempted to reproduce this locally on the latest `master` (see attached video).  Are you still seeing this occur on your end?
[1228 Erik attempted repro.mov.zip](https://github.com/Esri/calcite-components/files/5556459/1228.Erik.attempted.repro.mov.zip)

[2020-11-17 23:37] AdelheidF commented on #1228
In the smartMapping component I set to to `scale=s`, I no longer rely on the default setting.
I took it out locally and still see the issue.

https://devtopia.esri.com/WebGIS/arcgis-components/blob/master/src/smartMapping/support/Transparency/index.tsx#L572
https://devtopia.esri.com/WebGIS/arcgis-components/blob/master/src/smartMapping/support/Transparency/index.tsx#L592

[2020-11-18 01:23] asangma commented on #1261
@macandcheese @paulcpederson @driskull @bpatterson88 @driskull

![anybody?](https://media.giphy.com/media/vHwGAMZfWj3mU/giphy.gif)

[2020-11-18 20:18] macandcheese commented on #1265
Is it valid to use the placeholder value, and for this particular issue just update en-* to the `MM/DD/YYYY` example Colleen provided until other language changes are requested? Was just pinged about this from Julio. cc @capeoples

[2020-11-18 20:24] paulcpederson commented on #1265
We could just update all of them and respect their ordering. Do you want me to take a crack at that?

[2020-11-18 22:52] driskull commented on #1261
I think it's ok to have both as long as we are using them consistently.

IMO `selected` can be used for form controls or components where the purpose of them is to select item(s).

`active` can be used for toggling UI specific things.

I think I would need to see where they are used to be able to comment on if we need to change any.

Thoughts?

[2020-11-19 00:21] macandcheese opened #1282 "Enhancement: Tree - multiple select items should use checkmarks as indicators"
### Description

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-11-19 00:47] macandcheese commented on #1265
It looks like placeholder is already set in the data... maybe just updating the "en" strings for now will be sufficient? Unless you meant you to handle passing a custom string instead as a prop.

[2020-11-19 01:09] paulcpederson commented on #1265
No I mean hand-editing the placeholder so it looks how we want it to look in each language (respect unit order). So in `ca`:

[code]

but in `en`:

[code]

[2020-11-19 02:36] #522 closed

[2020-11-19 16:50] asangma commented on #1261
Cool...I'll work on an audit.

[2020-11-19 17:41] asangma commented on #1261
Here's an audit. Feel free to correct.
| component | active | selected | when true | user concept |
|-------------|:------:|:--------:|-----------|--------------|
| accordion | X | | expanded and icon change | It's open. |
| action | X | | style change | It's "on". |
| alert | X | | displays | It's there or it's the top one in the list. |
| card | | X | checks box, style change | It's a selected o

[2020-11-19 17:48] driskull commented on #1261
From material design:

Selected
A selected state communicates a user choice.

Activated
An activated state communicates a highlighted destination, whether initiated by the user or by default.

Should we follow those? As a prop I do prefer `active` over `activated`

[2020-11-19 17:49] macandcheese commented on #654
Is this still relevant after dropdown changes?

[2020-11-19 17:59] asangma commented on #1261
Agree. Prefer `active` over `activated`.

It's interesting because in the doc of some components, it says "selected" when describing the `active` property.

Selected being about user choice makes a heap o' sense to me. I think this could make queries more consistent. E.g. when the app needs to query for what the user changed.

Active being more flexible also makes sense, e.g. "it's showing", "it's

[2020-11-19 18:00] driskull commented on #1261
Yep, I agree with your assessment about showing vs user choice. 👍

[2020-11-19 18:01] macandcheese commented on #1261
Thanks for putting that together. I agree, `activated` is weird - we should update `handle` to use active (or selected...).

From the list, it seems like `tip` should definitely be `active` based on other examples. Card makes sense for `selected`.

Then it's kind of a grey area with tree / accordion for me since either one can be in both a single or multiple select workflow.

All said, I think it'

[2020-11-19 18:17] asangma commented on #1261
I think some of those gray areas might benefit from the ability to use both props?
E.g. a childless tree-item could be `selected` but wouldn't be able to be `active` where as a parent could do both. Eh?

In regards to the selected item by default, in the majority of cases, the user will still be able to _deselect_ and select that item again. And it might have been something that they'd selected ye

[2020-11-19 18:25] macandcheese commented on #1261
This seems really, really confusing, ha.

I was really referring to tabs, and stepper (and single-persist example of accordion) here, where there shouldn't ever be a state when there *isn't* an active item.

Because of the available options for our components (tree, accordion, dropdown, etc., can all be either single or multiple select), I think the "selected for multiple" doesn't quite work.

[2020-11-19 20:41] macandcheese opened #1283 "Bug: Color - RGB / HSV values can extend past channel limit / below 0"
### Summary
It's possible to enter or increment / decrement values to less than zero or more than the channel limit.

### Actual Behavior

![Screencast 2020-11-19 at 12 39 44 PM (1)](https://user-images.githubusercontent.com/4733155/99721689-6dabbd80-2a64-11eb-9903-6935293a2f4a.gif)

### Expected Behavior
Incrementing / Decrementing these inputs should limit to the RGB / HSV value limit / 0
Enteri

[2020-11-19 21:03] jcfranco commented on #866
@macandcheese Nice. Shouldn't this be labeled as a `calcite-input` enhancement?

[2020-11-19 21:09] macandcheese commented on #866
Hm.. I was thinking it was only really applicable to the color picking workflow and would just handle it in that component and not change anything with underlying input.

Similarly the "shift key and arrows" in HEX input I would feel could be handled in the color-hex-input component (and also maybe as a follow up issue)?

The issue I linked above though certainly is input although only... somewhat

[2020-11-19 21:18] jcfranco commented on #1283
Weird, the color component [does clamp the value on input](https://github.com/Esri/calcite-components/blob/0482868d548f40f68ae02eb4a5e333fcd7d12443/src/components/calcite-color/calcite-color.tsx#L276-L278), but the underlying input doesn't seem to be updating.

[2020-11-19 21:41] macandcheese commented on #803
Suggestion: change "minimal" to default, and choose a new name for what's shown as "default" above. Because that would be a breaking change, we should keep what's currently the design as default. Maybe "bordered" for the new style cc @bstifle

[2020-11-19 21:42] joeyHarig opened #1284 "Bug: Popover placement"
## Summary
The `placement` property values of "top-end" and "bottom-end" aren't working in larger window / when there is horizontal space for "top-start" or "bottom-start" instead.

## Actual Behavior

#### When it does work
The "top-end" and "bottom-end" values work on smaller screens.

![popover-small-screen](https://user-images.githubusercontent.com/55154968/99726497-c9ca0e00-2a73-11eb-8c95-710

[2020-11-19 21:57] julio8a opened #1285 "Tooling: automate stale PRs"
## Summary
We have some PRs that are a few months old. We should have a process to manage these.

After a few weeks we should add a comment checking on the PR status. After a month or so, if there is no activity or updates, we should auto close the PR. Ideally, this process should be automated.

## Measure of Success

Not have a ton of stale/old PRs

### Resources

https://github.com/apps/stale
ht

[2020-11-19 22:13] driskull commented on #1285
Installed. action should run here: https://github.com/Esri/calcite-components/actions

[2020-11-19 22:16] julio8a commented on #1285
Awesome! Thanks for the quick turnaround.

[2020-11-19 22:16] #1285 closed

[2020-11-19 22:41] julio8a commented on #947
Thanks for bringing this up. This is something we’re working on. Will post updates here.

[2020-11-19 23:40] asangma commented on #922
@kat10140 Mind helping verfee?

[2020-11-19 23:55] AdelheidF commented on #922
Great, could you let me know once it's part of a next or full release?

[2020-11-20 01:11] asangma commented on #1261
Hmmm...I don't understand why `selected` wouldn't work for multiple.

re: tabs and stepper
That makes sense. I think those are closer to that "highlighted destination" concept. I think this might also apply to Action in ActionBar.

The more I think about it, the more it seems like `selected` could mostly be used for things that go in a list, e.g. pick-list-item, value-list-item, option, etc.

[2020-11-20 01:17] macandcheese commented on #1261
Because in those examples multiple selection is only one "mode" - they also exist in "single" select modes (by default)

[2020-11-20 01:26] asangma commented on #1261
Hmmm...doesn't the multiple or single select mode go on the containing component?
E.g.

- each **pick-list-item** can have `selected`
- **pick-list** has single or multiple selection modes

[2020-11-20 01:41] macandcheese commented on #1261
The comment you quoted was about accordion, dropdown, tree.. Which are single select by default. Tree is currently using selected, the other two active. It feels weird to call an open accordion item "selected", but my point was none of those can be pinned to a "single select gets active, multi select gets selected" rule.

[2020-11-20 02:12] AdelheidF commented on #1122
doc is updated

[2020-11-20 02:12] #1122 closed

[2020-11-20 02:13] AdelheidF commented on #1119
this is still a valid issue

[2020-11-20 02:16] AdelheidF commented on #1116
I still think this should be changed.

[2020-11-20 02:22] AdelheidF commented on #1104
You can still see this placeholder 'M/d/yy' when removing a valid date from the input.
Then when I then type in this string '5/5/13' the dropdown shows this date below.
So the placeholder string is definitely wrong.

<img src=https://user-images.githubusercontent.com/44481292/99749793-fc83fe80-2a93-11eb-9e47-fbfab21bc594.png width=200/>

[2020-11-20 02:30] macandcheese commented on #1104
Related https://github.com/Esri/calcite-components/issues/1265

[2020-11-20 16:06] macandcheese commented on #1149
Still valid, maybe a shadow dom limitation...

[2020-11-20 16:06] macandcheese commented on #1146
Still valid.

[2020-11-20 16:06] macandcheese commented on #1143
Still valid.

[2020-11-20 16:06] macandcheese commented on #1138
Still valid.

[2020-11-20 16:07] macandcheese commented on #1118
Still valid.

[2020-11-20 16:07] macandcheese commented on #1125
Still valid.

[2020-11-20 16:08] macandcheese commented on #1115
Still valid.

[2020-11-20 16:08] macandcheese commented on #1088
Still valid.

[2020-11-20 16:08] macandcheese commented on #1096
Still valid.

[2020-11-20 16:09] macandcheese commented on #1107
Still valid.

[2020-11-20 16:09] macandcheese commented on #1111
Still valid.

[2020-11-20 16:09] macandcheese commented on #1113
Still valid.

[2020-11-20 16:10] macandcheese commented on #1114
Still valid, combined with global props for dir, scale, theme this will be a great improvement.

[2020-11-20 16:57] zaramatheson commented on #1111
@paulcpederson @macandcheese Any updates on a potential fix for this one? We've had some more people come across it in MVB.

[2020-11-20 17:04] paulcpederson commented on #1111
One fix is to remove proxy input support. @eriklharper @driskull @jcfranco is that something that's on the table?

Otherwise it's going to be a matter of debugging exactly where this render loop is being caused and tiptoeing our way around it, somehow.

[2020-11-20 17:27] eriklharper commented on #1111
I'm in favor of removing proxy input support here, but is this bug only reproduced when using a proxy input?

[2020-11-20 17:31] paulcpederson commented on #1111
It's been a while since I investigated but removing `syncProxyToThis` and the problem went away, IIRC. The proxy syncing introduces two way data binding inside what's meant to be a unidirectional state machine, so it's not super surprising that it causes infinite render calls.

[2020-11-20 17:32] eriklharper commented on #1111
That makes all the sense in the world, and removing proxy input simplifies the component to boot, so yeah I'd go all in on removing that.

[2020-11-20 18:38] asangma commented on #922
@AdelheidF
Next builds are being done manually right now.
There are some tests that need to get fixed before the next `@next` release.

[2020-11-20 21:48] noahmulfinger commented on #1064
@eriklharper I'm still seeing the Space issue in beta.46. Still reproducible in my original Codepen.

[2020-11-20 22:02] bstifle commented on #803
@macandcheese Agreed!! bordered makes sense

[2020-11-20 22:24] julio8a commented on #98
Following up on this issue.

[2020-11-20 22:48] MikeTschudi opened #1289 "Enhancement: include group titles for triggering maxItems in a calcite-dropdown"
### Description
The `maxItems` property specifies "the max items to display before showing the scroller". If the dropdown is composed of groups with titles, then those title lines are not included for triggering the maxItems scroller.

### Acceptance Criteria
All lines of a dropdown are counted for triggering the maxItems scroller.

### Relevant Info

#### Which Component
calcite-dropdown

#### Ex

[2020-11-20 22:49] driskull commented on #1169
I think the issue is with the tubbable dependency not supporting shadow dom.

[2020-11-20 22:56] macandcheese commented on #1289
Hm, I wonder if this is a docs enhancement since the prop is technically working as expected, showing 4 items.

The title height is included in the calculation of drop down container height and (like items) could also be comprised of multiple lines of text.

Is the intention to just show the first 3 items? Kind of hesitant to change how it works to make “items” include “titles” since the nomenclat

[2020-11-20 22:58] eriklharper opened #1290 "Pressing space key on calcite-checkbox doesn't work on Firefox (v82 and v85)"
@eriklharper I'm still seeing the Space issue in beta.46. Still reproducible in my original Codepen.

_Originally posted by @noahmulfinger in https://github.com/Esri/calcite-components/issues/1064#issuecomment-731424640_

[2020-11-20 23:00] julio8a commented on #254
is this one still an issue?

[2020-11-20 23:01] julio8a commented on #283
what's the status of this one?

[2020-11-20 23:01] julio8a commented on #313
checking back in on this one.

[2020-11-20 23:32] asangma commented on #1261
Ah...misunderstanding.
I agree that "selected" wouldn't apply to accordion. I think it's more similar to a tab or a step in a stepper.

[2020-11-20 23:35] jcfranco commented on #866
Fair enough. 😄 I'll tackle both in the same since they're similar.

[2020-11-20 23:43] #1196 closed

[2020-11-20 23:56] #1064 closed

[2020-11-21 00:00] driskull commented on #1277
@jcfranco I'm wondering if we should update all of our default setFocus methods to by default somehow find the first focusable element inside the shadow dom?

We would need some kind of utility for this.

For now, i'll create a way to focus to the back button. sound good?

[2020-11-21 00:00] AdelheidF commented on #1121
@eriklharper will this make it for our MVB December release? Or at least I need a work-around, this is broken on production MVB since beta 10. Thanks!

cc @jcfranco

[2020-11-21 00:02] jcfranco commented on #1277
Great idea! Can you create an issue for this util for me?

[2020-11-21 00:04] driskull opened #1292 "Enhancement: Utility to select first focusable (tabbable) element within a component's shadow DOM"
### Description

Enhancement: Utility to select first focusable (tabbable) element within a component's shadow DOM

### Acceptance Criteria

A utility to find the first element to focus inside a component.

### Relevant Info

Would help define the default experience for setFocus() on a component. Some components may not have anything inside to focus and focus on its container.

#### Which Componen

[2020-11-21 00:04] driskull commented on #1277
Created! maybe we can get the `tabbable` dependency working for shadow dom?

[2020-11-21 00:11] eriklharper commented on #1121
I'll prioritize this.  It's quite a hard issue to track down and I have not yet determined a root cause.  There is another bug I've been diagnosing (#1245) that might be a clue as to what might also be causing this issue, so I'll look at these in tandem.

[2020-11-21 00:11] macandcheese commented on #254
yes

[2020-11-21 00:11] driskull commented on #1284
@joeyHarig I believe the Popper.js dependency is doing it's best to try and place the popover in the best location it can. I think if it doesn't fit in a position, it falls back to another position.

There are some FAQ's here: https://popper.js.org/docs/v2/faq/

[2020-11-21 00:11] macandcheese commented on #313
leave open as feature request

[2020-11-21 00:16] driskull commented on #1246
It goes to the section incase it needs to be scrolled. Panels that can scroll need to be able to be focused so the user can scroll them.

[2020-11-21 00:20] driskull commented on #1218
@kumarGayu This issue seems more specific to an app. Is there something reproducible you could share? It seems like configuration of the popover could fix this. The popover also depends on where it is placed in the DOM.

[2020-11-21 00:21] driskull commented on #1215
@asangma what do you think about this? To me it seems nice to just have the scrolling work without a prop.

[2020-11-21 00:23] AdelheidF commented on #1246
OK, I guess it could not figure out if there are scrollbars first...

[2020-11-21 00:23] #1246 closed

[2020-11-21 00:24] driskull commented on #1246
yeah it would be quite tricky to do that.

[2020-11-21 05:53] macandcheese commented on #1157
still valid

[2020-11-21 05:53] macandcheese commented on #1152
still valid

[2020-11-23 15:54] #1284 closed

[2020-11-23 16:07] lau11123 commented on #1070
The known issues with radio buttons remain, but the double button selection no longer seems to be happening. Closing this issue.

[2020-11-23 16:07] #1070 closed

[2020-11-23 16:34] macandcheese commented on #1014
Valid

[2020-11-23 16:58] driskull commented on #938
@kellyhutchins can you verify this one?

[2020-11-23 17:00] driskull commented on #1002
closing because its minor

[2020-11-23 17:00] #1002 closed

[2020-11-23 17:05] driskull commented on #1277
Installed

[2020-11-23 17:06] AdelheidF commented on #916
this is good now

<img src=https://user-images.githubusercontent.com/44481292/99992440-30e50c80-2d6b-11eb-8d2c-6d2ca542aabf.png width=200/>

[2020-11-23 17:06] #916 closed

[2020-11-23 17:10] AdelheidF commented on #936
I still see this happening...

[2020-11-23 17:19] kellyhutchins commented on #938
@driskull  are the changes out on the calcite sample page?

[2020-11-23 17:25] AdelheidF commented on #934
Still a valid request...

[2020-11-23 17:29] driskull commented on #938
I think so

[2020-11-23 18:40] macandcheese opened #1294 "Bug: Rating doesn't respond to clicks on wrapping calcite-label"
### Summary
I believe after this PR: https://github.com/Esri/calcite-components/pull/1264 - clicking on a wrapping calcite-label around a rating will no longer focus a rating item.

### Actual Behavior
![Screencast 2020-11-23 at 10 39 27 AM (1)](https://user-images.githubusercontent.com/4733155/100001580-385ee280-2d78-11eb-819f-efabeadac7ee.gif)
### Expected Behavior

Clicking on a wrapping calcit

[2020-11-23 19:17] eriklharper commented on #1290
Fixed by #1291

[2020-11-23 19:17] #1290 closed

[2020-11-23 22:05] macandcheese opened #1296 "Bug: Label - force directional alignment"
### Summary
When contained in a center-aligned container, labels should still be left (or right in rtl) aligned

### Actual Behavior
From storybook:
![Screen Shot 2020-11-23 at 1 57 26 PM](https://user-images.githubusercontent.com/4733155/100020335-85e94880-2d94-11eb-9a10-920bb8186fea.png)

### Expected Behavior

Left aligned form

I think we should probably enforce this directionality within labe

[2020-11-23 22:05] jcfranco commented on #866
Installed!

@macandcheese If you have some time, can you verify this one?

[2020-11-23 22:07] jcfranco opened #1297 "Enhancement: [calcite-color] Handle hue values of 0 and 360 as if they were separate values"
### Description

Although the behavior is correct (360 === 0), the immediate updating of the hue input and slider thumb to 0 may be jarring to users.

cc @macandcheese

### Acceptance Criteria

Update the color picker to handle 0 and 360 as if they were different values. When 0, the hue input should show 0 and the hue slider thumb should render at the leftmost edge, and when 360, the input will sh

[2020-11-23 22:08] macandcheese commented on #1297
Another option could be to let users cycle continuously forward or backward through all values...

[2020-11-23 22:12] macandcheese commented on #866
Verified on master. Looks good @jcfranco !

[2020-11-23 22:12] #866 closed

[2020-11-23 22:17] jcfranco commented on #866
@macandcheese Thanks!

[2020-11-23 22:28] driskull commented on #1167
@macandcheese want me to take this one?

[2020-11-23 22:28] driskull commented on #1168
@macandcheese want me to take this one?

[2020-11-23 22:32] macandcheese commented on #1167
Yeah if you have some extra time, I think this would be good to get out of the way.

[2020-11-23 22:36] jcfranco commented on #1297
@macandcheese I like your suggestion better. It would provide a consistent experience for all inputs. No special treatment of hue. #hueaintspecial😭

[2020-11-23 22:51] jcfranco commented on #1297
@macandcheese Sorry, I had misread your comment and thought it would be for all inputs. It was meant only for hue. 😅 Per our conversation, we will not allow values to cycle and instead update the color picker to handle 0 and 360 as if they were different values. When 0, the hue input should show 0 and the hue slider thumb should render at the leftmost edge, and when 360, the input will show 360 an

[2020-11-24 01:58] macandcheese commented on #734
Valid

[2020-11-24 01:58] macandcheese commented on #733
Valid

[2020-11-24 01:59] macandcheese commented on #720
Valid

[2020-11-24 02:49] AdelheidF commented on #922
Cool, `alignment=start` works well.

<img src=https://user-images.githubusercontent.com/44481292/100040627-7b42a980-2dbc-11eb-849a-50f92090c7a6.png width=200/>

RTL
<img src=https://user-images.githubusercontent.com/44481292/100040685-9b726880-2dbc-11eb-9533-3b3d85195d5e.png width=200/>

[2020-11-24 02:51] AdelheidF commented on #1277
Focus works well now but I don't see "back-button" in the doc. Had to look in the code.

[2020-11-24 17:25] driskull commented on #1277
Yeah release should get it in the doc.

[2020-11-24 17:25] #1277 closed

[2020-11-24 17:36] driskull commented on #1168
@macandcheese Combobox already uses Popper so updating title just for Date. Was there another component mistaken?

[2020-11-24 17:58] macandcheese commented on #1168
Hm, I think this was just a breakout issue from a meeting we had. Not sure what else would need it if Combobox already has been updated?

[2020-11-24 18:01] macandcheese commented on #697
This was resolved with the content-editable update.

[2020-11-24 18:01] #697 closed

[2020-11-24 18:25] bstifle opened #1301 "Enhancement: Update outline and clear prop border colors to match input borders"
![image](https://user-images.githubusercontent.com/14083530/100135801-c4900900-2e4f-11eb-9cb8-9f4817e82ddd.png)

### Light Theme
• UPDATE dark prop border color for outline and clear to use blk-100 (#949494)
matches input border color

### Dark Theme
• UPDATE light prop border color for outline and clear to use blk-130 (#757575)
matches input border color

[2020-11-24 19:26] pemberdom commented on #1219
@jcfranco A question about the implementation: the event seems to be available on the `calcite-pick-list-item`, but not to the `calcite-value-list-item`:

![image](https://user-images.githubusercontent.com/45367780/100141771-c35ade00-2e47-11eb-8c22-63cbc950d319.png)

![image](https://user-images.githubusercontent.com/45367780/100141794-cbb31900-2e47-11eb-8e07-7d26cf10a64d.png)

Is there a way to l

[2020-11-24 20:12] gpbmike opened #1305 "Bug: calcite-select should use inherited theme"
### Summary

A theme set on a parent element (`<body theme="dark">`) does not set the calcite-select theme to dark.

### Actual Behavior

When theme is set on a parent element, calcite-select still uses the default (light) theme.

### Expected Behavior

calcite-select should inherit theme from parent.

### Reproduction Steps

[code]

https://codepen.io/gpbmike/pen/OJRLbLr

### Relevant Info

[2020-11-24 20:25] jcfranco commented on #1219
Good catch. I'll create an issue and submit a PR for this.

[2020-11-24 20:39] jcfranco opened #1306 "Enhancement: [value-list-item] Expose `calciteListItemRemove` event"
### Description

Stems from https://github.com/Esri/calcite-components/issues/1219#issuecomment-733185191. `calcite-value-list-item` needs to expose the same event introduced by #1219 since it is wrapping a `calcite-pick-list-item`.

@pemberdom

### Acceptance Criteria

`calciteListItemRemove` shows up in `calcite-value-list-item` typing.

### Relevant Info

#### Which Component

`calcite-value-li

[2020-11-24 23:19] macandcheese commented on #1167
fab looks good, it looks like clear and outline buttons are referencing a `@mixin btn-outline-clear-floating` instead of `@mixin btn-outline-clear`... The former of which can probably be removed from the button css altogether:

![Screen Shot 2020-11-24 at 3 16 01 PM](https://user-images.githubusercontent.com/4733155/100162405-64599100-2e68-11eb-9560-f4ff9057f0c6.png)

[2020-11-24 23:23] macandcheese commented on #558
@paulcpederson was this something you were hoping to add in the UX pass? cc @noahmulfinger

[2020-11-24 23:27] macandcheese commented on #1168
Verified on master!

[2020-11-24 23:27] #1168 closed

[2020-11-24 23:28] paulcpederson commented on #558
Yes, definitely a part of the combobox rework as we'll need this in online.

[2020-11-24 23:56] driskull commented on #1167
Installed now. I forgot to merge. 🤦

[2020-11-25 00:14] macandcheese commented on #1167
Ha, yeah I was looking at the PR branch but it's still there post merge.

We can get rid of this mixin since the shadows are now just applied on the fab component yeah?: https://github.com/Esri/calcite-components/blob/139c9885df5cf6d1a2e77dd56863aff1c0339bbb/src/components/calcite-button/calcite-button.scss#L328

and use the `@include btn-outline-clear-floating` instead here : https://github.com/E

[2020-11-25 00:20] driskull commented on #1167
I'm not sure... that mixin is used a few time and doesn't seem to have to do with `floating` at all.

[2020-11-25 00:25] macandcheese commented on #1167
It looks like there was maybe a merge conflict? There are two declarations for the outline and clear button types now, one set is under this comment:

https://github.com/Esri/calcite-components/blob/139c9885df5cf6d1a2e77dd56863aff1c0339bbb/src/components/calcite-button/calcite-button.scss#L327

And these are overriding the "non floating" styles above it.  It's only being used in those 8 outline /

[2020-11-25 00:31] driskull commented on #1167
Gotcha. makes sense, ill open PR>

[2020-11-25 00:34] macandcheese commented on #1167
Thanks!

Apologies for not catching these in PR review, couple other things... It seems like FAB defaults to scale "s" if no scale is provided which seems a little weird as I think all other components default to "m"... and there looks to be a weird RTL styling thing on the demo with alignment (although I don't see the same thing with buttons in RTL so not sure where that is coming from)

![Screen

[2020-11-25 00:38] driskull commented on #1167
@asangma can you comment on the above? https://github.com/Esri/calcite-components/issues/1167#issuecomment-733368518

[2020-11-25 01:15] macandcheese commented on #548
@jwasilgeo this seems resolved at the above demo, can you confirm?

[2020-11-25 02:47] jwasilgeo commented on #548
What would the HTML generally look like to attach both a popover and tooltip to the same target button in recent versions?

Not really sure if this is headed in the right direction:

[code]

[2020-11-25 06:20] svlesiv opened #1312 "Enhancement: [calcite-select] multiple selection mode"
### Description
Multiple selection mode would be a nice addition to the `calcite-select` component.

#### Which Component
`calcite-select`

#### Example Use Case
Multiple items can be selected.
[code]

[2020-11-25 19:06] kat10140 commented on #1166
Bryan- assigning you to this so it doesn't get deleted by duh bot

[2020-11-25 19:17] bstifle commented on #1166
hmm i think we actually resolved this issue in a design meeting a couple weeks ago. did you still have a need for this @kat10140 ?

[2020-11-25 19:34] macandcheese opened #1316 "Enhancement: Card - use tooltips to display checkbox prompts"
### Description

Right now we just use "title" to display "Select" / "Deselect" (or their translated strings) - we should use calcite-tooltips instead.

### Acceptance Criteria

### Relevant Info

Breakout issue from : https://github.com/Esri/calcite-components/pull/1307
#### Which Component

#### Example Use Case

[2020-11-25 19:39] macandcheese commented on #957
@kat10140 no has not been fixed yet just low-ish priority 😬

[2020-11-25 19:42] macandcheese commented on #927
@asangma validity check ✅

[2020-11-25 19:47] AdelheidF opened #1317 "Bug: calcite-label and calcite-tooltip-manager cause a blank panel"
### Summary
<img src=https://user-images.githubusercontent.com/44481292/100273173-3a0fde00-2f11-11eb-8ef4-3c27ec6b3780.png width=300/>

A calcite-label with a switch inside a calcite-block-section in a calcite-block within a calcite-panel and calcite -flow is causing this.
If I only change the calcite-label to a native label all is good.

I see the same thing happening under the Rotation block whe

[2020-11-25 20:00] paulcpederson opened #1318 "A11y: Checkbox read twice from screen reader"
### Summary

When interacting with a checkbox from a screenreader like NVDA, the checkbox is read twice.

### Actual Behavior

Screen reader reads:

### Expected Behavior

Screen reader should read:

### Reproduction Steps

1. turn on screen reader
2. move focus to any checkbox component

### Suggestion

Either hide the internal checkbox from the screen-reader or stop treating the component host a

[2020-11-25 21:21] kat10140 commented on #1050
@paulcpederson can this be closed?

[2020-11-25 21:24] kat10140 commented on #1021
@macandcheese can this be closed?

[2020-11-25 21:25] kat10140 commented on #1020
close? @macandcheese

[2020-11-25 21:25] macandcheese commented on #1021
No, still valid, just low priority.

[2020-11-25 21:34] kat10140 commented on #977
@eriklharper can this be closed?

[2020-11-25 21:41] kat10140 commented on #931
hows this going @macandcheese ?

[2020-11-25 21:42] macandcheese commented on #931
No update unfortunately, feel free to take a crack ;)

[2020-11-25 21:52] kat10140 commented on #757
@jcfranco can this be closed?

[2020-11-25 22:05] macandcheese commented on #1003
@joeyHarig addressed in https://github.com/Esri/calcite-components/pull/1319 - assigned to you for verification after merge to master.

[2020-11-25 22:11] eriklharper commented on #977
I'm working on a fix for this in #1121, so I'll link that issue to this one and close #977 once I verify the fix in #1121.  Thanks for following up!

[2020-11-26 00:37] capeoples opened #1321 "A11y: Generic avatars should have an accessible color contrast ratio"
### Summary
In an accessibility audit performed by Level Access, it was flagged that the contrast ratio of the generic profile thumbnails does not pass accessibility standards. While most of the time these are decorative images, we could darken the text to a color like #6E6E6E to make this pass AA standards and still look good.

### Actual Behavior
<img width="146" alt="Screen Shot 2020-11-25 at 4

[2020-11-26 01:59] #555 closed

[2020-11-26 02:03] AdelheidF commented on #407
We still need this. Currently we use a plain text input box.

[2020-11-26 02:03] AdelheidF commented on #552
This is still an issue

[2020-11-26 02:04] AdelheidF commented on #567
This is still an issue.

[2020-11-26 02:34] macandcheese commented on #407
I think @eriklharper has this cooking in the oven !

[2020-11-26 05:01] bstifle commented on #945
This should be addressed in the overall spacing scale transition for all components

[2020-11-26 05:01] #945 closed

[2020-11-27 04:10] macandcheese commented on #1187
Valid

[2020-11-27 04:10] macandcheese commented on #1180
Valid

[2020-11-27 04:11] macandcheese commented on #1190
Valid

[2020-11-27 04:11] #955 closed

[2020-11-28 22:12] #1192 closed

[2020-11-30 15:25] rpanichakit9541 commented on #541
I apologize for the delay on this one.  Got pulled away to some other tasks, but planning to circle back around to look at the rest of the outstanding PR https://github.com/Esri/calcite-components/pull/1136#issuecomment-716717094 feedback on this one this week.

[2020-11-30 17:27] eriklharper commented on #407
That is indeed correct!  I've been working on this but haven't had time to get back on it in a while because of other high priority issues.  Hope to resume this again very soon!

[2020-11-30 17:44] eriklharper commented on #1027
This can be closed as the items have all been addressed in separate issues.

[2020-11-30 17:44] #1027 closed

[2020-11-30 18:49] jcfranco commented on #1306
Installed.

[2020-11-30 20:51] joeyHarig opened #1323 "Bug: Calcite File Input Padding"
### Summary
The file input could use some padding in between the button and the text.

<img width="340" alt="Screen Shot 2020-11-30 at 2 06 33 PM" src="https://user-images.githubusercontent.com/55154968/100663008-a92b6f00-3323-11eb-8945-dc1d9cb9bda8.png">

[2020-11-30 22:25] jcfranco opened #1324 "Bug: [calcite-radio-button-group] Radio buttons do not deselect when the group is within another host"
### Summary

When placed inside another host, the buttons do not toggle accordingly:

<img width="323" alt="Screen Shot 2020-11-30 at 2 20 57 PM" src="https://user-images.githubusercontent.com/197440/100672801-4af88f00-3317-11eb-952d-0c683a2b59ed.png">

cc @camtran

### Actual Behavior

👆

### Expected Behavior

Item selection should be mutually exclusive.

### Reproduction Steps

1. Use the follo

[2020-11-30 22:32] jcfranco opened #1325 "Bug: [calcite-radio-button] name is required even though parent group will pass it at runtime"
### Summary

`calcite-radio-button`'s `name` attribute is required by the typings even though it is not necessary when placed inside a group. Maybe this attribute can be made optional by the typings, but update the doc to stress that it is required when used standalone.

cc @camtran

### Actual Behavior

☝

### Expected Behavior

Not setting `name` should not complain in the test scenario (see bel

[2020-11-30 23:12] jcfranco commented on #955
Fixed by https://github.com/Esri/calcite-components/issues/1168

[2020-12-01 00:56] macandcheese commented on #1323
These are notoriously hard to style with overrides ... I know @bstifle had some ideas for a more “full replacement “

[2020-12-01 17:24] driskull commented on #1269
Installed. should be in the next release. Could you test when that happens @nwhittaker ?

Thanks!

[2020-12-01 17:46] #1003 closed

[2020-12-01 17:59] macandcheese commented on #961
@zaramatheson - what browsers does this appear in? I know that is how native browser inputs behave in Safari (for all three), and Firefox (for number)

Time: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time
Number: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number
Date: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date

I'm not sure if we

[2020-12-01 18:12] AdelheidF commented on #1317
Any suggestions for a work-around? We have our release in a week.

[2020-12-01 18:22] eriklharper commented on #1317
@AdelheidF @jcfranco

I'd suggest at this point using a plain `<label>` in place of calcite-label.  I noticed that when I sub in a plain label, the styling looks good because there are already CSS styles applied to them.

So far what I've discovered is that when I put in a `<slot>` tag inside `calcite-radio-button`'s render function, it causes the whole panel to error out just like this bug has de

[2020-12-01 19:13] macandcheese opened #1330 "Enhancement: Input Message - Allow custom icon"
### Description

Similar to notice and alert, we should allow a custom icon to be passed in addition to the status-based default recommendation.

### Acceptance Criteria
- update icon from boolean to boolean | string where a string of a valid calcite ui icon renders a custom icon instead of the recommended default (see logic in notice, alert)
- update stories
- update dev demo

### Relevant Info

[2020-12-01 19:37] AdelheidF commented on #1317
I'm fine with this.

[2020-12-01 19:39] macandcheese opened #1332 "Bug: Date doesn't respond to clicks on wrapping label"
### Summary
Similar to https://github.com/Esri/calcite-components/issues/1294

Should listen for the calcite-label emitted event and focus the input on click.
### Actual Behavior

### Expected Behavior

### Reproduction Steps

1.

### Relevant Info

[2020-12-01 19:53] driskull opened #1334 "Bug: calcite-alert accessible test fails color guidelines"
### Summary

Bug: calcite-alert accessible test fails color guidelines

### Actual Behavior

Bug: calcite-alert accessible test fails color guidelines

### Expected Behavior

a11y test passes color guidelines

### Reproduction Steps

1.

### Relevant Info

https://github.com/Esri/calcite-components/pull/1327/files#diff-1ec454f16fab1bf107bd7f8844ff923fbf024c2be81b961f56d40201f1d59056R13

https://gi

[2020-12-01 20:05] macandcheese commented on #1334
I can't get it to fail locally.

I'd imagine it might be failing on Travis because it's still in the process of "animating in" - if you look at the rendered colors of the elements it indicates as failures, they don't match what's actually rendered... maybe the accessible helper could accept an optional timeout duration to pass to accommodate for animations (which we do in the alert tests for other

[2020-12-01 20:10] driskull commented on #1334
Yeah we can do this.

[2020-12-01 21:12] jcfranco commented on #1306
@pemberdom could you help verify this one w/ @next?

[2020-12-01 21:23] pemberdom commented on #1306
ya

[2020-12-01 21:30] pemberdom commented on #1306
Made a simple [Codepen](https://codepen.io/pemberdom/pen/zYKvYZN?editors=1111), looks good to me 👍

[2020-12-01 21:38] pemberdom commented on #1306
Works good @jcfranco  👍. Tested on this [Codepen](https://codepen.io/pemberdom/pen/zYKvYZN?editors=1111) (checking the event this time).

[2020-12-01 22:10] jcfranco commented on #1306
Awesome. Thanks! 🙌🏼

[2020-12-01 22:10] #1306 closed

[2020-12-01 22:17] zaramatheson commented on #961
@macandcheese  I see the issue in both Firefox and Chrome at least.
![image](https://user-images.githubusercontent.com/50747646/100803284-c291f100-33df-11eb-81f8-9e6f4f9d15a6.png)

[2020-12-01 22:30] macandcheese commented on #961
Hm, I'm unable to reproduce the "test" in the Count input in Chrome: [storybook example](https://esri.github.io/calcite-components/?path=/story/components-input--with-label&knob-status=idle&knob-scale=m&knob-label%20text=My%20great%20label&knob-type=number&knob-alignment=start&knob-number-button-type=horizontal&knob-min=0&knob-max=100&knob-step=1&knob-prefix-text=&knob-suffix-text=&knob-loading=&k

[2020-12-01 22:31] macandcheese opened #1338 "Enhancement: Better handle adjacent input fields"
### Description

This currently causes an obnoxious "double border" stack... We should handle this somehow to allow for cleaner interfaces with side-by-side inputs (2 or more).

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-12-02 17:41] #1180 closed

[2020-12-02 17:43] paulcpederson opened #1341 "Bug: pagination arrows point wrong way in RTL"
### Summary

![Screen Shot 2020-12-02 at 9 42 40 AM](https://user-images.githubusercontent.com/1031758/100910368-bd39b280-3482-11eb-8022-6b6dca413da2.png)

### Actual Behavior

`> <`

### Expected Behavior

`< >`

### Reproduction Steps

1. Set `dir=rtl`
2. Observe

[2020-12-02 19:12] driskull commented on #974
Installed

[2020-12-02 19:27] macandcheese commented on #1205
Still relevant

[2020-12-02 19:32] driskull commented on #1289
Yeah i'm not sure I like this prop at all. Can't we just have a heightScale prop to define the height of the menu as s,m,l,xl?

[2020-12-02 19:49] macandcheese commented on #1289
I think "max-items" is justified, if it were height scale you'd end up with partially visible items... I think a solution here is just to document that "max-items" refers only to calcite-dropdown-items and not group-titles included in calcite-dropdown-groups.

[2020-12-03 00:46] paulcpederson commented on #1111
@zaramatheson have a pr open for a fix to this, should make the next release

[2020-12-03 01:48] #711 closed

[2020-12-03 01:48] #691 closed

[2020-12-03 01:48] #690 closed

[2020-12-03 01:48] #685 closed

[2020-12-03 01:48] #671 closed

[2020-12-03 01:48] #670 closed

[2020-12-03 01:48] #659 closed

[2020-12-03 01:48] #652 closed

[2020-12-03 01:48] #651 closed

[2020-12-03 01:48] #645 closed

[2020-12-03 01:49] #641 closed

[2020-12-03 01:49] #622 closed

[2020-12-03 01:49] #620 closed

[2020-12-03 01:49] #609 closed

[2020-12-03 01:49] #599 closed

[2020-12-03 01:49] #585 closed

[2020-12-03 01:49] #577 closed

[2020-12-03 01:49] #576 closed

[2020-12-03 01:49] #575 closed

[2020-12-03 01:49] #574 closed

[2020-12-03 01:49] #557 closed

[2020-12-03 01:49] #547 closed

[2020-12-03 01:49] #538 closed

[2020-12-03 01:49] #529 closed

[2020-12-03 01:49] #516 closed

[2020-12-03 01:49] #451 closed

[2020-12-03 01:49] #440 closed

[2020-12-03 01:49] #413 closed

[2020-12-03 01:49] #352 closed

[2020-12-03 01:49] #304 closed

[2020-12-03 01:49] #106 closed

[2020-12-03 02:14] macandcheese opened #1348 "Tooling: increase stale-to-closed duration"
## Summary
I think 7 days feels a bit short, considering that’s only 5 working days to check in. I think we suffered a bit from having to go through a few hundred, but a lot of the ones that were just closed after 7 days were probably still valid.

14/21 days from marked stale -> close seems a bit more lenient? Too long ?
## Measure of Success

### Resources

[2020-12-03 17:11] macandcheese commented on #1289
Updated docs in https://github.com/Esri/calcite-components/pull/1343

[2020-12-03 17:11] #1289 closed

[2020-12-03 19:33] driskull opened #1349 "Enhancement: Date - Separate Date picker from input"
### Description

Separate the built in input in the Date component from the DatePicker portion.

This will allow a developer to use the date picker without having to turn off the input and is more modular in nature.

### Acceptance Criteria

The input is not tied to the Date component.

If a user wants the date input and date component combined, they would have one of the following:

- calcite-inp

[2020-12-03 21:13] julio8a commented on #1203
this is still needed.

[2020-12-03 21:13] macandcheese commented on #567
I think the panel should end up with a higher z-index than the toolbar.. I don't think we are planning on changing the focus ring styling to be inset since so many of the button types rely on "outset" focus ring to be visible.

[2020-12-03 21:18] macandcheese commented on #548
@driskull

[2020-12-03 21:27] driskull commented on #548
I'm not sure we can support this use case as is. Is this a valid use case?

The issue is that they both use the `aria-describedby` attribute to open. We would have to adjust that logic.

Is it valid to have a FAB open a popover or an element with both a tooltip and popover?

[2020-12-03 21:36] driskull commented on #548
I think I can probably change this so that they both work.

[2020-12-03 21:37] macandcheese commented on #902
Safe to close @asangma ?

[2020-12-03 21:45] macandcheese opened #1350 "Enhancement: Apply Tailwind scale to all components"
### Description
cc @bstifle can you add description and resources needed for this? You can edit this issue to add here.

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2020-12-04 00:39] driskull commented on #1348
How about we bump the state from 30 to 45 and closed from 7 to 14? I think the default stale is 60 so we could maybe do that too.

What do you think @macandcheese?

[2020-12-04 00:45] macandcheese commented on #1348
Yeah happy with either. Just giving folks a little more time before it’s closed. I think this was mostly just an issue this first batch or two since we didn’t go through all couple hundred.

Proposed sounds gr8 to me.

[2020-12-04 01:25] AdelheidF commented on #1317
re-opening. This is still happening with the latest 1.0.0-next.50

[2020-12-04 01:30] AdelheidF commented on #1121
re-opening. When using the latest 1.0.0-next.50 I have to add `<span>` around the labels otherwise the radio buttons don't show at all. This is a breaking change for all existing calcite-radio-groups so we better wait for the proper fix.

[2020-12-04 04:51] AdelheidF commented on #567
OK, z-index doesn't help on the map side or if the panel has scroll bars.

<img src=https://user-images.githubusercontent.com/44481292/101123231-36332a00-35a9-11eb-9a58-dbcc8834d833.png width=200/>

[2020-12-04 15:51] macandcheese commented on #567
We can keep this open to track it.

[2020-12-04 17:22] paulcpederson opened #1355 "Bug: Slovak calendar should start on Monday instead of Sunday"
### Summary

The `sk.json` file is wrong.

### Actual Behavior

Weeks when `locale="sk"` start on Sunday.

### Expected Behavior

Should start on Monday

### Reproduction Steps

1. Set Calendar locale to `sk`
2. Observe!

[2020-12-04 17:23] paulcpederson commented on #1355
@caripizza this could be a good way to get to know the date's localization strategy, feel free to reassign 👍

[2020-12-04 17:37] macandcheese commented on #1348
Not sure how to verify this aside from looking at `stale.yml` file - but.. looks good 😅

[2020-12-04 17:37] #1348 closed

[2020-12-04 17:37] paulcpederson opened #1356 "Bug: Tab highlight is incorrect in RTL"
### Summary

When viewed in right to left languages (Hebrew, Arabic), the tabs component displays the highlight on the wrong side:

![Screen Shot 2020-12-04 at 9 34 31 AM](https://user-images.githubusercontent.com/1031758/101195308-1422c180-3614-11eb-8300-cb7631d3b939.png)

### Actual Behavior

Blue underline displays on left.

### Expected Behavior

Should display on right.

### Reproduction Step

[2020-12-04 17:38] driskull commented on #1348
I guess it's the wait and see approach :D

[2020-12-04 17:41] paulcpederson commented on #1356
@caripizza this could be a good way to learn how right to left works 😄

[2020-12-04 20:18] paulcpederson commented on #1261
It should probably be noted that the date component has both of these concepts. The day you have actually clicked and selected is "selected" but if you use arrow keys to navigate you'll see an "active" day that will become selected once you actually select.

[2020-12-04 20:25] patrickarlt opened #1359 "Enhancement: Only show focus outlines on keyboard interaction"
### Description

Most Calcite components show focus rings when clicked such as in the following case with `<calcite-button>`:

![image](https://user-images.githubusercontent.com/378557/101210509-7090db80-362a-11eb-9cd9-d3450a41846c.png)

These focus states are almost entirely unnecessary for mouse interactions and are a common complaint of people I see using Calcite Components. With Edge using Chr

[2020-12-04 20:33] patrickarlt commented on #1359
I thought IE 11 supported `@supports` but it doesn't https://caniuse.com/?search=%40supports. You can still do this like:

[code]

[2020-12-04 23:58] driskull opened #1365 "Bug: Unregister events used for tabs are not caught when component is removed from DOM"
### Summary

Bug: Unregister events used for tabs are not caught when component is removed from DOM

### Actual Behavior

### Expected Behavior

There are no warnings emitted during tests about emitting on elements no longer in the DOM.

We may want to evaluate all the events with "register" and "unregister" and instead either...

- Emit on the document
- Use an observer instead of these events

#

[2020-12-05 00:38] eriklharper commented on #977
The fix applied by #1344 fixes the original reported here, but because of a discovered Stencil + Maquette bug ionic-team/stencil#2758 the issue described in #1317 is now occurring.

A temporary fix while ionic-team/stencil#2758 is being fixed is to wrap `span`s around radio-button label text like:

[code]

[2020-12-06 23:52] patrickarlt commented on #1359
This seems to be the proper method for this that works everywhere. Chrome doesn't seem to support `@supports(:focus-within)`

[code]

[2020-12-07 18:08] driskull commented on #1365
For now, I opened a PR to move the events to the document. However, I think we should investigate using an observer instead of these events.

https://github.com/Esri/calcite-components/pull/1372

[2020-12-07 19:24] RSantosGIS opened #1373 "Enhancement: Y Axis value indication for Calcite slider-histogram"
### Description

I love the calcite-slider histogram except that there is no way to communicate to the user the y value at a particular point along the slider.  I am using a two thumb slider to represent a range of dates on the x-axis, with the y-axis histogram magnitude representing the feature count in a date-range increment.  An option to turn on a y-axis with a couple value labels to provide s

[2020-12-07 19:42] jcfranco opened #1374 "Refactor: use alternative style for components that should be hidden on initial render"
### Description

[This global style](https://github.com/Esri/calcite-components/blob/547594ab760d5eaebfef539865d923110763278f/src/assets/styles/global.scss#L49-L52) affects anything using `aria-hidden=true`, which may cause issues since it is a valid use case to have a component be hidden from screen readers, but still visible on the page.

### List of Changes

Use `calcite-hydrated-hidden` attrib

[2020-12-07 19:42] macandcheese commented on #1373
I think this is a valid use case.. although we are definitely getting into an “almost necessitates a separate graph/chart component that slider relies on” territory.

I could see a couple small niceties like options for rounding, stepped / bracketed data, etc. being useful, both with a slider and as a standalone element to make those UI usages more consistent across apps.

More scoped discussion,

[2020-12-07 20:14] paulcpederson commented on #1373
@RSantosGIS  would this axis labeling need to support exponential values, or is this just purely a linear scale?

[2020-12-07 20:33] RSantosGIS commented on #1373
Purely linear.  Like I said, my overarching goal here is only to give the client that I'm building this custom widget for some kind of context so they can tell more easily what the histogram values mean.  If they can at least tell what value the bottom of the y-axis represents (the point array minimum), what the top represents (the point array maximum), and a few ticks in between, that that does t

[2020-12-07 21:31] jcfranco commented on #1374
Here are a few options to replace this:

1. Use `calcite-hydrated-hidden={value}` – simplest and only requires updating host attributes (con: not really a boolean attribute since it will render "true" | "false" in the HTML).
2. ☝️ + reflected prop – adds boilerplate convenience prop to all components, but boolean attribute behaves as expected and gets toggled accordingly.
3. Manually toggle `calci

[2020-12-07 21:32] driskull commented on #1374
I like ☝️ + reflected prop" :)

[2020-12-07 21:37] rslibed commented on #974
Verified. Fix looks good!

[2020-12-07 21:37] paulcpederson commented on #1374
If we were manually toggling things on lifecycle methods I don't think we would need this attribute at all, we could just manage our own hydration visibility.

[2020-12-07 21:46] jcfranco commented on #1374
Are you proposing this lifecycle helpers to toggle `calcite-hydrated`? I think this could work, but would break any consumer styling/queries w/ the hydrated class.

[2020-12-07 21:47] paulcpederson commented on #1374
Yeah. I'm not 100% sure you can turn off the stencil hydrated stuff, though, and the docs are non-existent AFAIK

[2020-12-07 21:48] driskull commented on #1374
Maybe we should push a little harder for Stencil to make this easier?

It seems odd that every component should be made `visibility: visible` without a proper way to prevent that.

The solution they gave is to basically to undo what they are doing after it's already been done.

[2020-12-07 21:51] jcfranco commented on #1374
Agreed, but we need something in the meantime.

[2020-12-07 21:53] paulcpederson commented on #1374
@jcfranco so on your initial options, wouldn't we be adding this prop exclusively to components that need to be hidden even when hydrated?

[2020-12-07 21:55] jcfranco commented on #1374
Correct.

[2020-12-07 22:04] driskull commented on #1374
In the meantime, I think the reflected prop is the nicest. Hopefully we can get Stencil to cook up something better like what you had proposed on that issue @paulcpederson.

[2020-12-07 22:20] jcfranco commented on #1374
Would `hiddenOnHydrate` be a better prop name than `calciteHydratedHidden`?

[2020-12-07 22:24] driskull commented on #1374
I think it should probably have calcite in it so that it's known as a component prop.

[2020-12-07 23:47] paulcpederson commented on #1374
Another way to approach this would be to override in global style sheet:

[code]

[2020-12-07 23:51] patrickarlt opened #1375 "Bug: calcite-modal cannot have many Calcite Components as its firstFocus property"
### Summary

`<calcite-modal>` has a `firstFocus` attribute that allows you to configure which element should receive focus when the modal open. This is great except that many Calcite components do not have a `focus` method. So you end up not being able to set focus to say a `<calcite-checkbox>` or `<calcite-button>` inside a `<calcite-modal>`.

### Actual Behavior

A quick audit of what I need fo

[2020-12-08 00:00] jcfranco commented on #1374
I like how that only requires changing the global CSS, but some components rely on internal/unreflected props to determine visibility (e.g., popover and tooltip depend on a reference element).

[2020-12-08 01:21] jcfranco commented on #1374
Took a stab at 2. found the following additional drawbacks:

* Adds more code to watch other props to compute its value and triggers another render cycle.
* Prop technically gets surfaced on the component's API
* No way to enforce read-only.

---

Correction regarding option 1: attributes would behave as proper booleans.

I still think 1 would be the simplest way to go until there's an official wa

[2020-12-08 01:28] paulcpederson commented on #1374
Looking at that pr I agree 1 is the best option.

I don't think we have a test for FOUC right now, but if we did all components with slotted content would fail. They have HTML content, which may parse and render prior to JS running. The way stencil hides non-hydrated content relies on JS to append a style tag to the document, so it won't hide anything until JS is fully parsed. In that time gap all

[2020-12-08 07:51] rangasatishkumar opened #1378 "Storybook for calcite-shell-center-row"
Hi,

Is there a storybook for **calcite-shell-center-row**?

I would like to show FeatureTable widget in a bottom panel (is this available?), any advises please.

[2020-12-08 16:36] jcfranco commented on #1374
@paulcpederson Gotcha, thanks!

[2020-12-08 17:01] macandcheese commented on #1378
@asangma is it possible to add an example of this with a container in there? Maybe to the "advanced" story?

[2020-12-08 17:42] driskull commented on #1375
@macandcheese this should be somewhat easy. We just have to wrap the `isFocusable` method to check if the element has a `setFocus()` method and return true as well.

[2020-12-08 17:48] driskull opened #1379 "Enhancement: Remove use of register/unregister component events"
### Description

Enhancement: Remove use of register/unregister component events in favor of a MutationObserver.

If we do stick with using register events, we should also have unregister events tied to the document.body so if a child component is removed then the parent component can find out about it. Currently, I don't think some of these parent components know if a child component is removed b

[2020-12-08 18:09] macandcheese commented on #1359
I think aesthetically this is desirable but we need to make sure there aren't accessibility implications from it - I think the concern being some assistive devices use simulated mouse presses as a method of interaction.

An argument FOR this would be that Safari seems to disable these focus rings out of the box (using the example of Discover.com - in Chrome rings apply on click, in Safari they do

[2020-12-08 18:52] zaramatheson opened #1380 "Bug: Date format is hard-coded as "mm/dd/yyyy" in textbox of Calcite-Date"
The date format is always "mm/dd/yyyy" when it should be localized.

Related MV Beta issue: https://devtopia.esri.com/WebGIS/arcgis-webviewer-app/issues/1917

![image](https://user-images.githubusercontent.com/50747646/101527851-62510100-3943-11eb-9223-eb90f925d2ce.png)

@jcfranco

[2020-12-08 18:59] driskull commented on #1378
@rangasatishkumar this story already uses center row. https://esri.github.io/calcite-components/?path=/story/app-components-shell--advanced

You can place anything inside the center row slot.

[2020-12-08 19:14] nwhittaker opened #1381 "Bug: Dropdown on RTL page causes long horizontal scroll"
### Summary
The Dropdown component introduces a long horizontal scroll bar when placed on a page where the `dir="rtl"` attribute is set on the root element.

<img width="1504" alt="Screen Shot 2020-12-08 at 1 56 07 PM" src="https://user-images.githubusercontent.com/421496/101530078-70147f80-395f-11eb-9d7b-594c5d281d92.png">

The `.calcite-dropdown-wrapper` element uses a `left: -999999px` style to

[2020-12-08 19:44] MikeTschudi commented on #683
At calcite-components version 1.0.0-beta.46, the latest on [unpkg.com](https://unpkg.com/@esri/calcite-components/dist/calcite/calcite.esm.js), continues to be an issue.

[code]

[2020-12-08 19:55] macandcheese commented on #683
Thanks for reopening, our stale bot was a bit overeager to get started 😅.

This might be a good one for @caripizza to take a look at to get familiar with 🌲  component.

[2020-12-08 20:00] MikeTschudi commented on #678
At calcite-components version 1.0.0-beta.46, the latest on [unpkg.com](https://unpkg.com/@esri/calcite-components/dist/calcite/calcite.esm.js), continues to be an issue.

[code]

[2020-12-08 20:06] #1374 closed

[2020-12-08 20:54] MikeTschudi commented on #675
At calcite-components version 1.0.0-beta.46, the latest on [unpkg.com](https://unpkg.com/@esri/calcite-components/dist/calcite/calcite.esm.js),
* The change from `aria-selected` to `aria-checked` successfully solved the attribute flag
* Still need to change role from "menuitem" to "menuitemradio" (for selection-mode="single"; for "multi", "menuitemcheckbox") to complete the connection

[code]

[2020-12-08 21:02] MikeTschudi commented on #674
At calcite-components version 1.0.0-beta.46, the latest on [unpkg.com](https://unpkg.com/@esri/calcite-components/dist/calcite/calcite.esm.js), continues to be an issue.

[code]

[2020-12-08 21:12] MikeTschudi commented on #669
At calcite-components version 1.0.0-beta.46, the latest on [unpkg.com](https://unpkg.com/@esri/calcite-components/dist/calcite/calcite.esm.js), appears to be fixed!

[code]

[2020-12-08 21:21] MikeTschudi commented on #668
At calcite-components version 1.0.0-beta.46, the latest on [unpkg.com](https://unpkg.com/@esri/calcite-components/dist/calcite/calcite.esm.js), continues to be an issue.

![image](https://user-images.githubusercontent.com/2125181/101542695-004ec680-3958-11eb-8d88-7818aa583c50.png)

[code]

[2020-12-08 21:49] jcfranco commented on #646
Installed.

@FelFly Could you help verify this one w/ `@esri/calcite-components@next`?

[2020-12-08 22:22] MikeTschudi commented on #675
Using the test code in 77ae6f2ab1d56c95c8393125db966ce0f4bc7e6d,
[code]
shows the following in the Chrome debugger:
![image](https://user-images.githubusercontent.com/2125181/101548389-9d156200-3960-11eb-9211-6c5b833817cb.png)
![image](https://user-images.githubusercontent.com/2125181/101548405-a30b4300-3960-11eb-9b5d-c475963deeda.png)
![image](https://user-images.githubusercontent.com/2125181/101

[2020-12-08 22:50] macandcheese commented on #675
Ok - is role of menu still applicable for each containing group? Or the whole drop down? I know even between safari and chrome in voiceover those are interpreted differently, to say nothing of windows

[2020-12-08 23:33] MikeTschudi commented on #675
It percolates the role of the menu into the menu items, and works in Chrome, Firefox, Edge, Safari

[2020-12-09 00:00] MikeTschudi commented on #668
Within control of developer--not a bug. If creating a button that has no text, supply `aria-label`, e.g.,
[code]

[2020-12-09 00:00] #668 closed

[2020-12-09 00:27] driskull commented on #1378
Let me know if this doesn't answer your question. :)

[2020-12-09 00:27] #1378 closed

[2020-12-09 00:35] driskull commented on #1258
Looking at the stepper code, it could use quite a bit of cleanup. I see a lot of nodes being created without JSX and some IE specific testing going on.

[2020-12-09 02:02] jcfranco commented on #1250
Installed.

@AdelheidF @dhrumil83 @codylawson Would any of you be willing to verify this on `@next`? 🙇‍♂️

[2020-12-09 08:01] AdelheidF opened #1389 "Bug: calcite-input returns console errors for text and number type"
### Summary

While using `calcite-input` type number/text I see these errors. (Map Viewer beta on production)

![image](https://user-images.githubusercontent.com/44481292/101600245-e2ad4b80-39af-11eb-869a-d16101aaf3dd.png)

![image](https://user-images.githubusercontent.com/44481292/101600275-efca3a80-39af-11eb-8ee3-bcb641b02f6a.png)

max is an optional prop, but the watcher assumes the value exis

[2020-12-09 17:15] driskull commented on #1389
@AdelheidF I'll look into it. @macandcheese usually handles the `calcite-input` I think.

[2020-12-09 18:03] codylawson commented on #1250
Tested in our Vue app and can confirm it's working as expected! Thanks @jcfranco

[2020-12-09 18:04] jcfranco commented on #1250
Awesome, thanks @codylawson!

[2020-12-09 18:04] #1250 closed

[2020-12-09 18:16] codylawson commented on #722
@jcfranco while testing `next.56` I noticed this bug is no longer reproducible. Hoping that's expected 🎉

[2020-12-09 18:20] paulcpederson commented on #722
@codylawson simplified the date component render cycle for #1111  maybe that also solved this issue

[2020-12-09 19:25] kumarGayu commented on #1217
Yes it is reproducible. the dropdown is located inside a calcite-value-list-item. and if the list has only one item. In mapviewer beta with chart list which has only oone chart this issue is reproducible.

[2020-12-09 19:26] kumarGayu commented on #1217
Also it adds a scroll bar because it does not place based on available space.

[2020-12-09 19:26] macandcheese commented on #1217
Could you add a quick codepen to repro?

[2020-12-09 21:09] paulcpederson commented on #541
@julio8a this was installed and is ready for verification on `master`

Thanks @rpanichakit9541

[2020-12-10 00:02] patrickarlt opened #1394 "Bug: Calcite Modal does not remove overflow-hidden class on HTML if it removed from the DOM."
### Summary

If a open `<calcite-modal>` is removed from the DOM without being closed the `overflow-hidden` class persists on the `<html>` element.

### Actual Behavior

The  `overflow-hidden`  class persists on the `<html>` element.

### Expected Behavior

Removing a `<calcite-modal>` from the DOM should clean up after itself by removing the `overflow-hidden` class.

### Reproduction Steps

1. Op

[2020-12-10 17:15] julio8a commented on #541
Woah! awesome. Verified. thx!

[2020-12-10 17:15] #541 closed

[2020-12-10 19:04] kumarGayu commented on #1217
I think I am not able to repro it with new build.

[2020-12-10 19:04] #1217 closed

[2020-12-10 19:09] FelFly commented on #646
Verified - works as I'd expect.

[2020-12-10 19:09] #646 closed

[2020-12-10 19:10] jcfranco commented on #646
Thanks for verifying, @FelFly! 🙌

[2020-12-10 19:16] macandcheese commented on #1394
Hm, yeah I'll look into trying to remove that class, this would still occur if used with `beforeClose` yeah? https://github.com/Esri/calcite-components/tree/master/src/components/calcite-modal#properties

Seems like this also prevents a modal from "animating out"... What does that experience look like for a user? A quick flash before another modal replaces it while animating in? Could the content

[2020-12-10 21:22] tjameswhite opened #1398 "A11y: Button announced as group"
### Summary
Similar to https://github.com/Esri/calcite-components/issues/646

When using Jaws, buttons are announced as a group. User must then enter group to get button text.

### Actual Behavior
Screen reader announces "button group"

### Expected Behavior
Screen reader should announce the button text; eg: "submit"

### Reproduction Steps

### Relevant Info
Tested Jaws Chrome on Windows 10

###

[2020-12-11 02:00] #1182 closed

[2020-12-11 17:08] haoliangyu opened #1401 "Enhancement: Uneasy to get the selected option value from the calcite-select component on change"
### Description

Currently, there is no easy way to get the selected option value from the `calcite-select` component on change. The component can emit a `calciteSelectChange` event but it is in the `CustomEvent<void>` type with NO data.

In order to get the selected value on change, I need to listen to the `calciteSelectChange` event and iterate its option children to find the one with a `selecte

[2020-12-11 20:23] joshtaylor0404 commented on #407
We also have a need for this in Enterprise. Would this be built into the `calcite-date` component or would it be its own component?

[2020-12-13 02:00] #1201 closed

[2020-12-13 02:00] #1200 closed

[2020-12-14 02:02] #1209 closed

[2020-12-14 02:02] #1207 closed

[2020-12-14 15:32] justingreco opened #1402 "Docs: Update Header with Actions to use header-actions-start and header-actions-end slots"
### Description
Update sample code for the Header with Actions section to show the new slot names header-actions-start and header-actions-end in place of header-leading-content and header-trailing-content
### Which Component
Panel app component
### Resources
[code]
should now be

[code]

[2020-12-14 17:05] eriklharper commented on #407
It's currently being developed as its own standalone component `calcite-time`.

[2020-12-14 18:34] nwhittaker commented on #1381
@driskull, we're seeing a regression with this fix when a dropdown trigger is aligned to the trailing/end edge of a scrollable container: https://github.com/ArcGIS/field-apps-web/issues/1336.

For a contrived example:

1. Visit https://esri.github.io/calcite-components/?path=/story/components-dropdown--simple.
2. If needed, give the `.calcite-dropdown-wrapper` element a `left: auto;` style to mimi

[2020-12-14 20:28] driskull commented on #1381
Thanks @nwhittaker. I'll take a look. I'll see if I can use something other than positioning it to the left or right.

[2020-12-14 23:31] driskull commented on #1381
@nwhittaker Installed a fix! Let me know if you're still seeing an issue.

[2020-12-15 00:35] nwhittaker commented on #1269
Verified in `1.0.0-next.59` and this looks to be working. Thank you!

[2020-12-15 00:35] #1269 closed

[2020-12-15 19:32] julio8a commented on #1145
Hey guys, checking in on this one since it's a required item for the 1.0

[2020-12-15 22:12] paulcpederson commented on #1198
Completed

[2020-12-15 22:12] #1198 closed

[2020-12-15 22:25] capeoples opened #1406 "A11y: Can't use keyboard to navigate color areas in color picker"
### Summary
In the color picker, it is currently not possible to tab to the controls that operate the color field and slider (highlighted below).
<img width="319" alt="Screen Shot 2020-12-15 at 2 12 00 PM" src="https://user-images.githubusercontent.com/30473086/102279559-74e9ae00-3ee0-11eb-9b7f-917955c2035d.png">

### Expected Behavior
To make this accessible, a user should be able to tab to the c

[2020-12-16 15:10] Rohtash2020 opened #1408 "Bug: date picker's calendar size issue"
### Summary
With date picker component, the calendar which pops up, sizing it's width same as the size of date picker input box width. Due to of which sometimes it appears to squeezed or stretched(image attached)

### Actual Behavior
Calendar width adjusted as per width of date picker input box

![Calendar](https://user-images.githubusercontent.com/64084089/102366525-c5473580-3fde-11eb-96fa-e20d9f

[2020-12-16 16:45] nwhittaker opened #1409 "Bug: Select menu blank after Ember re-render"
### Summary
Possibly stems from a quirk with how Ember templates are updated, but re-rendering the `CalciteSelect` component causes the menu to appear blank.

### Actual Behavior
After re-render, opening the calcite select menu reveals a list of blank options.

### Expected Behavior
After a re-render, opening the calcite select menu reveals its list of options.

### Reproduction Steps
1. Visit htt

[2020-12-16 18:18] #1181 closed

[2020-12-16 19:37] AdelheidF commented on #1119
Would it be possible to hide the up and down arrows completely if the width of those calcite-inputs gets too small? So big screens would have it and small screens not, all automatically?

[2020-12-16 19:39] macandcheese commented on #1119
The app itself could set that to "none" at a certain width, I'm not sure if we want to have that in the component?

[2020-12-16 19:40] AdelheidF commented on #1119
oh, let me try that. I missed that feature...

[2020-12-16 19:46] macandcheese commented on #1119
Sorry, didn't mean to say the input has that capability as far as setting that prop at a certain width, but the "number-button-type:none" prop exists now: https://esri.github.io/calcite-components/?path=/story/components-input--without-label&knob-scale=m&knob-status=idle&knob-type=number&knob-alignment=start&knob-number-button-type=none&knob-min=0&knob-max=100&knob-step=1&knob-prefix-text=&knob-su

[2020-12-16 22:37] AdelheidF commented on #1119
OK, that works. But now it has to listen to the browser resize event to know if it has to change.

Closing this issue.

[2020-12-16 22:37] #1119 closed

[2020-12-17 00:20] cosbyr opened #1412 "Bug: Long modal header and action buttons cut off on Safari (Mobile)"
### Summary
- When a modal header is long it will leave the boundaries of the header div
- Buttons at the bottom of the modal are cut off

### Actual Behavior
![image](https://user-images.githubusercontent.com/11748268/102421698-e8132300-3fb9-11eb-8627-cd34467e288f.png)

### Expected Behavior
Chrome on Android mobile device shows the expected behavior:
![image](https://user-images.githubuserconten

[2020-12-17 19:02] noahmulfinger commented on #1375
Not sure if this should be broken off into a separate issue, but I'm also running into focus issues when using `calcite-tile-select` in a `calcite-modal`. There's no way to programmatically focus `calcite-tile-select`, so the `calcite-modal` ends up focusing on an element after it in the DOM.

[2020-12-17 19:05] jcfranco commented on #1401
Fixed by https://github.com/Esri/calcite-components/issues/1250 and will be available in the next beta release.

[2020-12-17 19:05] #1401 closed

[2020-12-17 23:06] nwhittaker opened #1416 "Enhancement: Improve styling of calcite-select disabled state"
### Description
When disabled, the calcite-select component continues to appear enabled and responds to the `:hover` state with cursor and background style changes. Any non-explicit style changes are inherited from the browser's built-in styling of disabled `<select>` elements.

### Acceptance Criteria
When disabled, the calcite-select component is given a distinct appearance indicative of its sta

[2020-12-17 23:29] #1394 closed

[2020-12-18 02:05] #1177 closed

[2020-12-18 02:05] #644 closed

[2020-12-18 02:32] jcfranco opened #1419 "Refactor: Extract component resources into <component>.resources.ts"
## Summary

For reusability between tests and components, CSS, TEXT, and additional resources should be extracted into a supporting `<calcite-component>.resources.ts` file.

## Measure of Success

- [ ] extract applicable entries (CSS, text, values) to component resources file
- [ ] Share resources between wherever applicable (component, tests, stories)
- [ ] Rename existing `resources.ts` to `<co

[2020-12-18 02:37] jcfranco opened #1420 "Research: Look into using test-attribute/class hooks to separate testing/styling concerns"
### Background

Component resource files contain a CSS lookup object that's used for testing purposes too. Adding test-specific hooks would help decouple this.

cc @julio8a

### Desired Outcome

- [ ] Pattern for using test attribute/classes
- [ ] Any hook used for testing must be removed as part of the Stencil build process to avoid bloating component source.

[2020-12-18 19:56] nwhittaker commented on #1381
Looking good in `1.0.0-next.62`, thanks

[2020-12-18 19:56] #1381 closed

[2020-12-18 20:30] #1416 closed

[2020-12-18 20:41] paulcpederson commented on #1145
Below is a summary of all the components and their props. This may help us spot inconsistencies.

---

#### calcite-accordion
appearance, iconPosition, iconType, scale, selectionMode, theme

#### calcite-accordion-item
active, icon, itemSubtitle, itemTitle

#### calcite-action
active, appearance, compact, disabled, icon, indicator, intlLoading, label, loading, scale, text, textEnabled, theme

####

[2020-12-18 20:55] macandcheese commented on #1416
@nwhittaker can you verify ? Thanks

[2020-12-18 23:47] #1178 closed

[2020-12-21 18:29] driskull commented on #1275
Hey @AdelheidF, can you not show the buttons until the panel is done loading?

The other option would be to set a 100% height div in the content until you have the actual content but it would probably be better to just not show the buttons until they can be used. What do you think?

[2020-12-21 18:38] driskull commented on #1294
@macandcheese we can get this to work by storing the `input` element as a variable and using that to focus it instead of querying `this.el`. The issue is that it can't query into the shadowDOM.

However, there is still some weird focus inconsistencies because when tabbing forward vs backwards either the first or last star is focused.

As a user, I would expect the whole thing to be focused and not

[2020-12-21 18:58] macandcheese commented on #1294
Yeah I think we can update the setfocus method now that it’s basically a hidden radio input under the hood.

Previously it was just a set of rendered elements so we were just focusing either the first if no user value was set, or the user set value if one had been.

[2020-12-21 21:20] jcfranco commented on #917
Installed!

@pemberdom Could you help verify this one?

[2020-12-21 21:26] jcfranco commented on #974
Closing as verified based on ☝️ .

[2020-12-21 21:26] #974 closed

[2020-12-21 21:27] jcfranco commented on #1389
@AdelheidF Could you help verify this one?

[2020-12-21 21:28] jcfranco commented on #548
@jwasilgeo Could you help verify this one?

[2020-12-21 21:30] pemberdom commented on #917
Sure. Is there a way to import the `@next` version through a script tag?

[2020-12-21 21:33] driskull commented on #1375
@noahmulfinger both `calcite-tile-select` and `calcite-tile` would need `setFocus` methods added to them. Can you create an issue for that?

[2020-12-21 21:34] driskull commented on #1375
Closing. If you see a problem feel free to reopen @patrickarlt .

[2020-12-21 21:34] #1375 closed

[2020-12-21 21:35] jcfranco commented on #917
You could point it to "http://unpkg.com/browse/@esri/calcite-components@next/".

[2020-12-21 21:36] #922 closed

[2020-12-21 21:37] #938 closed

[2020-12-21 21:38] driskull commented on #1029
@kat10140 can this be closed?

[2020-12-21 21:38] #1029 closed

[2020-12-21 21:43] jwasilgeo commented on #548
Sure, happy to. What’s the interface look like to make it work?

Is this valid? https://github.com/Esri/calcite-components/issues/548#issuecomment-733428024

[2020-12-21 21:44] driskull commented on #548
Yes that is valid

[2020-12-21 22:00] jwasilgeo commented on #548
Looks good and works. Thanks!

I changed all of the HTML in the codepen [above](https://github.com/Esri/calcite-components/issues/548#issuecomment-625473860) to the following to test it out like so:

[code]

[2020-12-21 22:05] #548 closed

[2020-12-21 22:43] pemberdom commented on #917
First tests look good, I'll do some more.
One thing though, about the doc mentioning `value: the type will be preserved as the color is updated`:
When the color picker is initialized with `null`, the following `onCalciteColorChange` payload carries colors using the hex format.
In our code when we initialize it with a proper color, we use the RGB format, which is more convenient to deal with.
Ideal

[2020-12-21 22:49] jcfranco commented on #917
Yeah, being able to set the format would be a good enhancement. As a workaround, I think you could initialize with a color object before `value` gets set to null.

[2020-12-21 23:36] pemberdom commented on #917
Yeah I though about that but I feel it will fire an extra `onCalciteColorChange` which will trigger our listener, so I wanted to avoid it.
For now it's all good though. I can open an enhancement request for the format, as enforcing the format can be useful in different situations.

[2020-12-21 23:48] pemberdom opened #1423 "Enhancement: calcite-color - setting explicitely the output format"
### Description

The `calcite-color` doc says about the `value` property:

Which can lead to deal with extra tests and conversions if ever the calcite-color is used in a context where the input color format can vary.

Also, if the first input color is `null` (when `allowEmpty` is `true`), the format is defaulted to RGB.

Ideally the `calcite-color` could be instructed to dispatch its selected valu

[2020-12-22 00:49] jcfranco commented on #917
👍

[2020-12-22 17:45] jcfranco opened #1425 "Docs: calcite-flow and calcite-panel stories are referencing outdated slots"
### Description

The following props on the `SLOTS` object are missing.

* https://github.com/Esri/calcite-components/blob/10266b61157b4b24988c5a89614491332e043c13/src/components/calcite-flow/calcite-flow.stories.ts#L74-L77

* https://github.com/Esri/calcite-components/blob/10266b61157b4b24988c5a89614491332e043c13/src/components/calcite-panel/calcite-panel.stories.ts#L89-L90

### Which Component

[2020-12-22 19:43] eriklharper opened #1426 "Tooling: Shadow DOM Test Helper"
## Summary

A test helper for reducing boilerplate when testing components inside a shadowRoot.

## Measure of Success

A reusable function in `commonTests` that can be used to test components in shadowRoot environments.

### Resources

https://github.com/Esri/calcite-components/pull/1422#pullrequestreview-556536476

[2020-12-22 23:17] #1389 closed

[2020-12-22 23:23] jcfranco opened #1427 "Bug: [FAB] defaults to small scale instead of medium"
### Summary

Stems from https://github.com/Esri/calcite-components/issues/1167#issuecomment-733368518

via @macandcheese

### Actual Behavior

FAB defaults to small scale when not provided.

### Expected Behavior

FAB defaults to medium scale when not provided.

### Reproduction Steps

1. Create FAB w/o `scale` attribute/prop.

### Relevant Info

[2020-12-22 23:24] jcfranco commented on #1167
Created follow-up issue for ☝️ . Closing as verified.

[2020-12-22 23:24] #1167 closed

[2020-12-23 00:24] driskull commented on #1427
Assigning to @asangma. Its just a simple change but we need his approval.

[2020-12-23 00:43] macandcheese commented on #1427
We could break the mentioned rtl bug into another issue if needed but seems simple enough to be addressed here as well.

[2020-12-23 01:23] driskull commented on #1427
Yeah I think the RTL is also a small styling issue probably best addressed by one of the designers.

[2020-12-24 01:18] mateuspontesmoraes opened #1430 "Question: Table component"
### Question
Hello, I didn't found the table component within the component list.
Could you help me?

[https://esri.github.io/calcite-components/?path=/story/overview-home--page](url)

### Helpful Details

[2020-12-24 02:44] macandcheese commented on #1430
Hi @mateuspontesmoraes - at this time we don’t have a table / datagrid component in the library.

We hope to add one in the future but don’t have a timeline for this.

[2020-12-24 14:48] mateuspontesmoraes commented on #1430
Hi @macandcheese, thank you to answer.

[2020-12-24 14:48] #1430 closed

[2020-12-28 19:23] patrickarlt commented on #1409
This is also affecting us when using React it looks like the mutation events MIGHT trigger before the select is rendered hence why `this.selectEl` is undefined.

[2020-12-28 23:34] bstifle opened #1431 "Enhancement: Adjust Level-2 elements. Add border-3 and dark theme foreground change"
In order to keep 1:1 change between light and dark theme, these changes have been vetted by design group:

![image](https://user-images.githubusercontent.com/14083530/103248827-f81ff080-4931-11eb-8fff-738f8ad595f9.png)

- Change border radius to 4px `--calcite-border-radius: 4px`
- Add `border-3` to light theme level 2 components
- Add `border-3-dark` to dark theme level 2 components
- Use `foregr

[2020-12-29 00:59] eriklharper commented on #1325
@jcfranco could you add specific steps to reproduce the TS error, such as which command on the command line you're running or perhaps what VS Code setup you need?  I'm having trouble seeing the TS errors on this locally when I run `npm start` or `npm run build`.

[2020-12-29 18:51] macandcheese commented on #1296
LGTM thanks @caripizza !

[2020-12-29 18:51] #1296 closed

[2020-12-29 20:36] #1324 closed

[2020-12-30 18:45] eriklharper commented on #1245
This should be resolved now.  @noahmulfinger can you verify on your end with the latest @next version of calcite?  Thanks!

[2020-12-30 18:45] #1245 closed

[2020-12-30 19:23] eriklharper commented on #407
I'm wondering in light of #1404 if we want to have separate components for time as well.  I'm thinking if we follow those conventions in #1404 then we would end up with these two components:

`calcite-time-picker`
This component shows just this time picking UI:
![image](https://user-images.githubusercontent.com/821864/103376346-439ce080-4a91-11eb-96ec-01efd778fa0d.png)

`calcite-input-time-picker`

[2020-12-30 19:34] bstifle commented on #407
I think thats a great idea

[2020-12-30 19:50] driskull commented on #407
I agree. We should do that.

[2020-12-31 15:29] #675 closed

[2020-12-31 23:10] driskull opened #1437 "Enhancement: Rename 'color' component to 'color-picker'."
### Description

For consistency and specificity, I think we should rename the `color` component to `color-picker`.

We should also consider renaming its child components.

- `calcite-color-hex-input` => `calcite-input-color-hex`. // input first since it's an input component.
- `calcite-color-swatch` => `calcite-color-picker-swatch`. If this could ever be used outside of this component then I woul

[2020-12-31 23:41] MikeTschudi opened #1438 "Bug: calcite-button containing calcite-icon is blank at 1.0.0-beta.47"
### Summary

The "X" icon is not appearing in a calcite-button at 1.0.0-beta.47; it does appear at 1.0.0-beta.46.

### Actual Behavior

![image](https://user-images.githubusercontent.com/2125181/103430923-9d7ad480-4b7d-11eb-9338-76e1d218f531.png) (in `div` with aliceblue background)

### Expected Behavior

![image](https://user-images.githubusercontent.com/2125181/103430927-a4a1e280-4b7d-11eb-979d

[2020-12-31 23:57] macandcheese commented on #1438
Hey @MikeTschudi - could you instead use the "icon-start" (or "icon-end") prop on the calcite-button itself, instead of wrapping the icon component in a button?

https://esri.github.io/calcite-components/?path=/story/components-button--with-icon-start&knob-appearance=transparent&knob-color=dark&knob-scale=m&knob-round=&knob-floating=&knob-href=&knob-loading=&knob-disabled=&knob-icon-start=x&knob-t

[2021-01-01 01:37] MikeTschudi commented on #1438
Thanks, @macandcheese, we just didn't think of using icon-start for a close button!

Is there a way to set the icon's size? I didn't see such a parameter, and my guess doesn't change the icon from "s" to "m":
![image](https://user-images.githubusercontent.com/2125181/103432093-d3748480-4b8e-11eb-89d0-f8688b810677.png)

Old method icon size on left; new method on right:
![image](https://user-images

[2021-01-04 17:52] AdelheidF commented on #1275
Yes, I can use this work-around. I originally wanted to show just the content part of the panel in a loading state.

[2021-01-04 17:52] #1275 closed

[2021-01-04 17:58] macandcheese commented on #1221
Valid

[2021-01-04 19:14] jcfranco commented on #1325
I'm having trouble reproducing this myself. The only way I can force an error is to explicitly mark the prop as required. @camtran, could you share info on the setup that showed this TS error?

[2021-01-04 19:16] AdelheidF commented on #1389
No longer seeing the issue on devext MVB.

[2021-01-05 00:09] jcfranco commented on #1425
Verified locally!

[2021-01-05 00:09] #1425 closed

[2021-01-05 00:32] jcfranco commented on #1437
Follow-up questions:

* Are we no longer using the main color-picker component name in supporting ones? E.g., `calcite-color-picker-<support-component-name>`
* Does this need to be a breaking change? I thought we would deprecate `calcite-color` when `calcite-color-picker` is introduced.
* I'd propose using `calcite-hex-input` vs `calcite-input-color-hex` since the pickers aren't following this con

[2021-01-05 00:45] driskull commented on #1437
I think we can do that if hex will only be used by color picker.

If we do it when we move to the new repo then it isn't a breaking change.

Sure, we will have `calcite-date-picker` and `calcite-time-picker`. We will also have `calcite-input-date-picker` which is the inline input that opens the date picker.

[2021-01-05 00:48] driskull commented on #1437
If it's an input component, it might make more sense for the input to be first. That will allow us to group the input components and have consistency there. However, if it would only be used internally then there might be an exception here.

[2021-01-05 01:04] jcfranco commented on #1409
Installed.

@nwhittaker, @patrickarlt could you help verify this with `@esri/calcite-components@next`?

[2021-01-05 01:12] macandcheese commented on #1437
I think the "input that launches the color picker" (with the preview swatch, that Mitch had specced) is valid as a "calcite-input-*", but that's separate from the current "hex input" correct?

[2021-01-05 05:45] macandcheese commented on #1023
Still valid

[2021-01-05 17:00] jcfranco commented on #1427
Verified locally!

[2021-01-05 17:00] #1427 closed

[2021-01-05 17:07] macandcheese commented on #1438
Yeah, that makes total sense. We generally avoid using the "large" icon size within components because it's so large, and use small icon for scale s/m of components, with medium icon for scale l, but it definitely causes some weird things like this. cc @bstifle

[2021-01-05 18:11] bstifle commented on #1438
@MikeTschudi We prescribe the icon size based on the component + scale. Like Adam said, we typically used the 16x16px icons for small and medium components (exception for things like modal X and a couple other areas)

and then we typically use 24x24px icons for large components.

In my opinion, it would be best to not be able to change the icon size within the component, since we want to keep cons

[2021-01-05 18:13] MikeTschudi commented on #1438
@bstifle, what is the modal X that you're referring to, please? I'm trying to create close button, and perhaps that's what I'm looking for.

[2021-01-05 18:28] macandcheese commented on #1438
Sorry for any confusion here... The icon component only comes in three sizes from the icon and illustration team. The largest icon size is generally too large to be used for any UI element except a standalone icon. So, we use the "small" icon for scale small AND medium, and the "medium" icon for scale large when rendering icons within a component (whether through requested props or by default like

[2021-01-05 18:30] bstifle commented on #1438
24x24px for the modal close button :)

[2021-01-05 20:47] driskull opened #1445 "Enhancement: showInput on calcite-tile-select refactoring"
### Summary

The `showInput` property has values of "left" | "right" | "none" but I think it should probably use `start/end` instead of left and right for RTL support.

It may also be a good time to do the following for it as well:

- reconsider property name
- Use interface for `"start" | "end" | "none"`

This would be a breaking change.

[2021-01-06 06:24] macandcheese commented on #1235
Valid

[2021-01-06 06:24] macandcheese commented on #1232
Still valid

[2021-01-06 06:24] macandcheese commented on #1225
Valid

[2021-01-07 17:19] nwhittaker commented on #1416
Looks good on latest macOS versions of Chrome, Firefox, and Safari -- thanks!

[2021-01-07 18:06] nwhittaker commented on #1409
I updated the js bin to reference the `@next` Calcite tag[1] and I no longer see the console error, but the menu is still blank for me after the second render. Per https://github.com/Esri/calcite-components/issues/1409#issuecomment-751835804, I think the underlying error is that for the second render, the `mutationObserver` is firing before `storeSelectRef()` is called.

For the first render, `mut

[2021-01-07 18:20] jcfranco commented on #1409
`storeSelectRef` executes the method from the mutation observer callback, so I think there's another issue here. I'll take another look.

Thanks for testing!

[2021-01-07 19:19] nwhittaker commented on #1409
I guess my point is that `selectEl` is currently set in `storeSelectRef`, so if that runs before the mutation callback fires, `selectEl` isn't populated yet:

https://github.com/Esri/calcite-components/blob/bba947b08753cc1f7aab0fddd4f6a6771bf3c355/src/components/calcite-select/calcite-select.tsx#L221-L222

[2021-01-07 19:43] macandcheese commented on #1445
Are we ok with `inputDisplay` as the new name for this?

[2021-01-07 19:54] driskull commented on #1445
What about `inputPosition`? I'm ok with inputDisplay though.

[2021-01-07 21:50] macandcheese commented on #1445
-position does make sense (or -alignment) but since there's a "none" option that seems weird whereas with -display it's... slightly less weird? I don't feel super strongly 🤷‍♂️

[2021-01-07 21:51] driskull commented on #1445
I agree with those feelings. It's like it maybe should be split into two properties. Once to deal with disabling the feature and one to do with positioning. What do you think?

[2021-01-07 21:54] macandcheese commented on #1445
`showInput` (boolean) +
`inputAlignment` as new prop.. then we could Extract start / end from the Alignment interface instead having to create a unique one for start / end / none

[2021-01-07 22:47] eriklharper commented on #1445
inputAlignment as new prop.. then we could Extract start / end from the Alignment interface instead having to create a unique one for start / end / none

I like that idea, let's go with that!

[2021-01-07 23:19] camtran commented on #1325
It has been a while so I cannot remember the exact setup.  So I went back to the component (inside the ArcGIS-Charts repo) that uses the calcite-radio-button, removed the name property and no longer got any error.

[2021-01-07 23:47] eriklharper commented on #1325
Cool, guess it's safe to close this.  We can always reopen if it starts happening again.

[2021-01-07 23:47] #1325 closed

[2021-01-08 19:46] eriklharper commented on #1121
Just verified this bug is fixed without the wrapping `<span>` on the radio label text with Stencil's `2.4.0-1` pre-release version that includes the fix for the bug we reported to them!

[2021-01-08 19:47] eriklharper commented on #977
Just verified this bug is fixed without the wrapping <span> on the radio label text with Stencil's 2.4.0-1 pre-release version that includes the fix for the bug we reported to them!

[2021-01-09 03:46] #917 closed

[2021-01-11 19:46] AdelheidF commented on #1121
Note: 1.0.0-beta.48 needs the `<span>` workaround too. Otherwise the radio buttons and labels don't show at all.

[2021-01-14 18:01] jcfranco commented on #1409
Took a look at this today and noticed that it works fine with the debug build, but not with the production one. I'll have to do some more digging. In the meantime, could you try using the `label` props? https://jsbin.com/vuqujuguko/edit?html,js,output

[2021-01-14 21:39] asangma opened #1458 "Enhancement: add focus-box-shadow to Tailwind config"
### Description
Replace the focus-box-shadow mixin with a utility or something in the Trailwind config.

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2021-01-14 22:57] eriklharper commented on #1317
New Stencil bug affecting this issue! https://github.com/ionic-team/stencil/issues/2801

[2021-01-14 23:42] asangma commented on #1165
I did the refactor.
Now the real work...

[2021-01-15 21:21] TheBlueDog opened #1460 "New Component / Enhancement: Handle large data lists"
### Description

Applications need to be able to provide an experience that allows a user to select from items in a CVD (Coded Value Domain) in their data. The experience needs to allow the user to see the entire list through a simple interaction, in addition to being able to filter the list of option shown by typing into the input.

This may require building a new component and/or enhancing exist

[2021-01-18 16:28] macandcheese commented on #1265
Still valid

[2021-01-19 06:09] macandcheese commented on #947
Valid

[2021-01-19 17:38] macandcheese opened #1462 "Enhancement: Panel - allow "full" height detached panels"
### Description
S/M/L are nice options for detached panels, but an "always full height" (minus margin) detached panel would be a good option to have (and, perhaps update "m" to be 50vh, maybe 25/50/75/full etc.) cc @asangma

### Acceptance Criteria

### Relevant Info

#### Which Component

#### Example Use Case

[2021-01-19 19:56] AdelheidF commented on #1228
It's still an issue, the default value is wrong, but the work-around to set scale=s is ok.

[2021-01-19 20:38] nwhittaker commented on #1409
Confirming this looks like a reasonable workaround for the time being -- thanks. I'll add a note to the issue description.

[2021-01-20 03:35] macandcheese commented on #1143
Valid?

[2021-01-20 03:36] macandcheese commented on #1125
Valid

[2021-01-20 03:36] macandcheese commented on #1115
Valid

[2021-01-20 20:01] AdelheidF commented on #1116
This is still an issue and it keeps annoying me when using the component in the UX.

<img src=https://user-images.githubusercontent.com/44481292/105225233-1fbe3f00-5b13-11eb-86e6-8f950c66720c.png width=200/>

If you click on the check nothing happens. You have to click on the title to uncheck it. Same for radio buttons. It should work on both the title and the checkbox.

The alignment of action-en

[2021-01-20 20:08] macandcheese commented on #1116
Agree this needs to be fixed, that’s super annoying. @asangma do you still have bandwidth for this or need someone else to pick up? TIA

[2021-01-21 16:57] macandcheese commented on #803
Valid

[2021-01-21 17:41] AdelheidF commented on #1104
Still the same...

[2021-01-21 19:05] ethanbdev opened #1464 "Bug: Value List component multiple select not working"
### Summary
Recently bumped the version of Calcite Components to next.76  to use the empty color picker option and saw this issue. Shift + click and ctrl + click seem to no longer be working with a value list. Still looking into it to make sure it is not on our end, please let me know if you can repro. Thanks!
### Actual Behavior
Click a value list item -> use shift + click or ctrl + click and sel

[2021-01-21 21:47] asangma opened #1466 "Enhancement: ActionGroup - max actions and overflow"
### Description
Add a way to limit the displayed actions and dump additional actions into an overflow link.

Gotcha: minimum of 2 actions in the overflow.

### Acceptance Criteria
* ActionGroup should listen for changes to the limit number so that users can update this dynamically in app.
* user should be able to position of popover menu?

### Relevant Info

#### Which Component
ActionGroup

####

[2021-01-22 18:53] jcfranco opened #1467 "Bug: [checkbox] internal input can be styled externally"
### Summary

A specific enough style can override the checkbox's hidden input.

cc @AdelheidF

### Actual Behavior

The internal hidden input is exposed to external styling.

### Expected Behavior

Internals to remain encapsulated.

### Reproduction Steps

Open the following pen to see the issue in action: https://codepen.io/jcfranco-the-scripter/pen/poEmRMr?editors=1000

### Relevant Info

[2021-01-22 22:01] ethanbdev opened #1468 "Bug: calciteColorChange event does not emit when setting the format property to "rgb""
### Summary
At next.76, trying to set the format prop of the color component to rgb to ensure it is in that format when the value is retrieved. When the format is set to "rgb", the calciteColorChange event does not emit and there is a warning in the console:

![image](https://user-images.githubusercontent.com/52869490/105553307-fb509700-5cb9-11eb-831a-9a0780ae61a5.png)

### Actual Behavior
Event d

[2021-01-23 01:19] macandcheese opened #1469 "Bug: Accordion should by default have 100% width"
### Summary
By default an accordion should take up the entire width of the parent container. Right now it's set to max-width: 100%, which means that if content within the accordion's open items is not being displayed, the longest piece of text will set the extent of the component.

Setting the component to 100% width will make it more predictable when placing within containers that have flex setti

[2021-01-23 03:37] macandcheese opened #1470 "Question: FAB inconsistencies / updates"
### Question
While building out component previews for the new docs sites, I found some oddities in the FAB button that I'd like to get updated:

It seems weird to me that FAB doesn't default to the same visual settings as button. A button defaults to blue / solid, whereas a FAB defaults to outline / light.

I know we just fixed FAB so the default is scale M to match other components, so I propose

[2021-01-23 03:57] paulcpederson commented on #1470
I agree with both points. API/nomenclature should match button, IMO

[2021-01-23 07:00] macandcheese commented on #1014
Valid

[2021-01-23 23:03] AdelheidF commented on #1244
Issue seems to have disappeared

<img src=https://user-images.githubusercontent.com/44481292/105616476-0a077e80-5d8c-11eb-9c15-ad3055b64df9.png width=400/>

[2021-01-23 23:06] AdelheidF commented on #1244
No, issue is still there. You can see it if you use the browser zoom.

<img src=https://user-images.githubusercontent.com/44481292/105616505-68346180-5d8c-11eb-93b7-f15b35782829.png width=400/>

[2021-01-23 23:20] AdelheidF commented on #936
This is still happening.

[2021-01-24 02:57] #1257 closed

[2021-01-24 02:57] #1255 closed

[2021-01-25 02:57] #1263 closed

[2021-01-25 13:18] macandcheese commented on #754
Valid

[2021-01-25 16:09] bstifle commented on #1470
1% agree 99% agreed

[2021-01-25 16:52] driskull commented on #1470
IMO, I don't really see this as an issue. The FAB Is there to present the button in the way the FAB should have it so I would expect some inconsistencies here. If they are both the same then there may not be a need for the FAB at all.

[2021-01-25 17:19] bstifle commented on #1470
It's just for consistency in defaults. FAB is a unicorn right now. We dont believe in unicorns matt!!!

[2021-01-25 17:22] driskull commented on #1470
🦄 THEY EXIST. :)

But honestly, if the FAB should be solid by default then that is okay. If they are consistent then there isn't a need for the FAB. The point of the FAB is to configure the button in the ideal state for a FAB.

[2021-01-25 17:31] driskull commented on #1470
The point of the FAB component is for users to not have to think about how to configure the button a specific way every time for a FAB. We want to promote consistency.

So by its design, it shouldn't be consistent with the button component.

[2021-01-25 22:00] asangma opened #1471 "New Utility: focus manager + ShellPanel enhancement"
### Description
Add a focus management utility that allows developers to consistently manage focus "tabbing" from UI triggers into the element that was invoked from that trigger and back to the trigger when the element is closed/destroyed.

Currently, app developers must implement their own solutions when browser focus needs to move in a non-linear fashion. For example, in ShellPanel, when an Acti

[2021-01-25 22:35] macandcheese commented on #1470
I think that argument works for the “default to plus icon”, so that to me is.. more understandable .. but it does prevent it from being used with just text, right?

I still think a fab should be blue and solid by default as a more actionable appearing FAB that could still be overridden if apps want to make them light like the above MVB example (IMO)

[2021-01-25 22:49] bstifle commented on #1294
verified is working

[2021-01-25 22:49] #1294 closed

[2021-01-25 23:25] julio8a commented on #1244
Thanks @AdelheidF

[2021-01-25 23:28] julio8a commented on #977
What's the status of this issue? Does it need verification or can it be closed?
@eriklharper, can you provide an update. Thx!

[2021-01-25 23:29] julio8a commented on #1265
@paulcpederson, Any updates on this one?

[2021-01-25 23:30] eriklharper commented on #977
Needs re-verification once Calcite ships the Stencil fix, which is currently in pre-release, so it is not quite prime time yet on Stencil's end.

[2021-01-25 23:31] julio8a commented on #1111
@paulcpederson, @zaramatheson

Does this just need verification?

[2021-01-25 23:32] julio8a commented on #931
@macandcheese,

Does this one need to be reassigned?

[2021-01-25 23:33] julio8a commented on #1121
Can we close this or should we wait for beta.49?

[2021-01-25 23:33] paulcpederson commented on #1111
@julio8a correct, it's installed

[2021-01-25 23:36] julio8a commented on #1438
@MikeTschudi, were you able to get the results you needed based on the info Adam provided?
if so, I'll close this issue.

[2021-01-25 23:37] AdelheidF commented on #1121
I don't think having to use the `<span>` is the correct solution.

[2021-01-25 23:37] julio8a commented on #1409
Thanks guys! Closing this out, please re-open if there are further issues.

[2021-01-25 23:38] paulcpederson commented on #1265
I have not done this, but it shouldn't be too hard

[2021-01-25 23:40] julio8a commented on #1445
Great collaboration on this guys. What's the status of this? has the naming been updated?

[2021-01-25 23:40] macandcheese commented on #931
Yes, if possible. Not sure if this will be achievable using native time input type with ff, but there is a custom time input that I think is close to being ready.

[2021-01-25 23:41] macandcheese commented on #1438
There’s an open pr for a fix for this

[2021-01-25 23:42] eriklharper commented on #1121
We need to wait until the aforementioned fix in Stencil 2.4.0-1 makes it out of pre-release (Stencil v2.4).  Looks like they're currently on 2.4.0-3 pre-release, so hopefully it will make it out soon.

[2021-01-25 23:42] caripizza commented on #1050
Hi @joeyHarig and/or @paulcpederson just checking in - what's the current status of this issue?

[2021-01-25 23:42] macandcheese commented on #1438
Need a check from @asangma https://github.com/Esri/calcite-components/pull/1449

[2021-01-25 23:43] jcfranco commented on #1409
There is a workaround, but this hasn't been fixed. Reopening to not lose track of this.

[2021-01-25 23:43] julio8a commented on #1121
Great, does this apply to #977?

Do we know a rough timeframe?

[2021-01-25 23:48] paulcpederson commented on #1050
I fixed 2. from the original post, but never verified that 1. was an issue or not. Basically put a disabled input inside a disabled label and make sure it's not too transparent

[2021-01-25 23:49] julio8a commented on #1409
Thanks @jcfranco

[2021-01-25 23:52] eriklharper commented on #1121
The original bug reported in #977 has definitely been resolved, so I think we can safely close #977 because a new related bug was later discovered after the fix made it in, which is also covered by other bugs like #1121 and #1317.

It is messy I know, but all of these issues stem from Stencil bugs that are failing to properly relocate slotted children in `scoped: true` components that use the defa

[2021-01-25 23:52] julio8a commented on #994
This issue is still valid.

[2021-01-25 23:54] eriklharper commented on #977
Closing this in favor of other open bugs that need re-verification once Stencil's bug fixes make it into their 2.4 release like #1317 and #1121.  The original subject of this ticket has been resolved.

[2021-01-25 23:54] #977 closed

[2021-01-25 23:55] julio8a commented on #1121
Thanks for the update @eriklharper.

[2021-01-25 23:56] eriklharper commented on #931
I'll address this issue as part of #407 !

[2021-01-25 23:57] julio8a commented on #931
Thanks @eriklharper!

[2021-01-26 00:07] caripizza commented on #1050
Verified 1. - looks to have been fixed in #1417, closing.

[2021-01-26 00:07] #1050 closed

[2021-01-26 00:50] caripizza commented on #1218
Hi @kumarGayu, I'm closing this one per @driskull's comment above - please reopen if/when you have more details for us.

[2021-01-26 00:50] #1218 closed

[2021-01-26 01:10] driskull commented on #1466
@asangma thinking about this more... A Prop doesn't make sense since these actions are all slotted content and we don't want to move some of them into the shadow DOM.

I think creating a slot for `menu-actions` makes the most sense here. We can make sure that the slot has more than 2 actions before showing if we want to. Or throw some sort of warning.

Thoughts?

[2021-01-26 01:19] jcfranco commented on #1464
Thanks for reporting this, @ethanbdev!

Did a `git bisect` and narrowed it down to this commit: 1e3f17c61c382c8a338ed298149e7a5caddffa59 @asangma Can you take a look at this? Basically, the styling for multiple selected value list items got lost. It looked like this before:

![value-list-toggling](https://user-images.githubusercontent.com/197440/105786163-5fc95b80-5f31-11eb-8d15-f3249473e0fe.gif)

[2021-01-26 01:32] jcfranco commented on #1039
Verified locally.

[2021-01-26 01:32] #1039 closed

[2021-01-26 01:51] caripizza commented on #1270
Hi @bcree11, I reproduced this issue in the components' stories, per your link example. However, I can't repro this issue in the component demos/html - the labels appear visible as do the icons. I'm wondering if this is just a Storybook-related issue due to the components sitting in an iframe. Can you please clarify for me if you have reproducible steps in a non-Storybook environment?

[2021-01-26 04:25] bstifle commented on #994
agreed. there's no real way to make yellow 3:1 on white backgrounds. The text is primary for alerts, so the icon and bar are more flourish and supportive

[2021-01-26 16:55] julio8a commented on #994
@bstifle, this is something we should document in the alert page on the doc site. The yellow is more decorative and users should not rely on it to convey their message.

[2021-01-26 17:16] driskull opened #1473 "Enhancement: CalciteButton cleanup"
### Description

CalciteButton applies a prop that doesn't exist to the host of the component.
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-button/calcite-button.tsx#L141

It should probably apply a css class inside of the component instead if it needs to adjust styling.

Also, the getAttributes internal method seems to apply both attributes and properties. Some ar

[2021-01-26 17:26] driskull commented on #1460
I think doing a deferred approach is going to be the best from a performance and UX standpoint. There isn't a scenario where you would need to present more than 100 different options to a user and even that is pushing it from a UX standpoint. There's really no reason to create over 100 nodes and place them in the DOM for a combobox/select.

Maybe someone can work on a sample using a deferred appro

[2021-01-26 17:40] AdelheidF commented on #552
Still an issue. I do think that the popup should have a higher z-index than the popover. Otherwise every user will have to overwrite that.

[2021-01-26 18:06] ethanbdev opened #1474 "Bug: Color component slider does not work with some initial color values"
### Summary
It looks like when an initial color value is set that has both the canvas and slider color pickers all the way to the left, the slider does not activate with clicking or dragging. Tested a few different default values that this occurs with.
### Actual Behavior
If a value is set on the color component that pushes the slider and canvas pickers to the left, the slider will not work
![C544

[2021-01-26 18:07] macandcheese commented on #1473
Yeah let’s just make sure it works with both “icon-start” and “iconStart” placed in dom and doesn’t place either on the child. Maybe both need to be there in the “don’t spread” list.

[2021-01-26 19:44] macandcheese commented on #552
Agreed, tooltips should sit above popover

[2021-01-26 19:51] eriklharper opened #1475 "Enhancement: l10n support for input-time-picker and time-picker components"
### Description

Adds locale-specific formatting to `calcite-time-picker` and `calcite-input-time-picker` based on `Intl.DateTimeFormat`.

### Acceptance Criteria

Formats time appropriately based on locale in both the popup time-picker UI and in the corresponding input.

### Relevant Info

Consult `calcite-date` for implementation details, which will be similar.

#### Which Component

`calcite-ti

[2021-01-26 20:12] caripizza commented on #1270
Closing for now, if we have some repro steps in a non-Storybook environment we can re-open this one.

[2021-01-26 20:30] Csmith246 commented on #1270
@caripizza Here's an example of the issue in a non-storybook environment: https://codepen.io/csmith55/pen/oNzKoKd?editors=1000. I'm loading the calcite resources from the unpkg CDN here

[2021-01-26 20:37] caripizza commented on #1270
@Csmith246 isn't it still sitting in an iframe?

[2021-01-26 20:42] Csmith246 commented on #1270
@caripizza That is true for CodePen. I just copy/pasted that code to my machine and ran it locally. I'm getting the same thing. Here's a screenshot:

![image](https://user-images.githubusercontent.com/22039422/105902590-b4bdae00-5fd3-11eb-883a-a2516d7eea68.png)

In this context, it's definitely outside of an Iframe

[2021-01-26 22:26] MikeTschudi opened #1476 "Docs: Simple modal documentation doesn't scroll if page loaded in Canvas view"
### Description

Go to https://esri.github.io/calcite-components/?path=/docs/components-modal--simple and select the Canvas tab if not already selected. Refresh the page, and then select the Docs tab; the page is not scrollable (the iframe's html is set to class "override-hidden"). If you refresh the page while the Docs tab is active, however, the page is scrollable.

### Which Component

Simple m

[2021-01-26 23:32] MikeTschudi opened #1477 "Docs: simple modal HTML shows obsolete property"
### Description

The HTML section for the [simple modal](https://esri.github.io/calcite-components/?path=/story/components-modal--simple) contains the property `close-label`, which was changed in [v1.0.0-beta.32](https://github.com/Esri/calcite-components/blob/master/CHANGELOG.md#v100-beta32) to `intl-close`.

### Which Component

simple modal

### Resources

[code]

[2021-01-26 23:55] AdelheidF opened #1478 "Bug: calcite-pick-list - should not focus or fire event (space bar) on disabled pick-list-item"
### Summary
(1) When tabbing through a pick-list it sets the focus on the title and then the end-action of an active pick-list-item, this is fine. If a pick-list-item is disabled it still sets the focus on the title. It should not do this, correct? It skips over the end-action of the disabled pick-list-item.

![image](https://user-images.githubusercontent.com/44481292/105921906-6b2e8c80-5fee-11eb-

[2021-01-27 00:13] AdelheidF commented on #1478
Actually it's more than just the focus. If I click with the mouse on a disabled pick-list-item nothing happens, this is good. If I hit the space bar on a disabled pick-list-item it gets selected. It calls the "calciteListChange" event handler.

[2021-01-27 00:20] julio8a commented on #837
@kevindoshier is this issue still valid?

[2021-01-27 00:23] julio8a commented on #927
Checking back in on this one