[2021-08-29 00:47] driskull commented on #2942
@svlesiv you can move the tooltip outside of the dropdown and it works fine.

[2021-08-30 15:27] jcfranco opened #2946 "Unstable Test: calcite-input › number type › allows decimals when step is any"
## Summary

**Which component?:** `calcite-input`

**Which test(s)?:**  `calcite-input › number type › allows decimals when step is any`

**Test error:**

[code]

**PR that skipped the test:** https://github.com/Esri/calcite-components/pull/2945

## Additional Info

N/A

[2021-08-30 15:43] samMatenaer opened #2947 "Bug: Slider handle not centered vertically on Safari"
The center of the handle on the slider component does not fall on the line in Safari

### Actual Behavior
Safari:
<img width="275" alt="image" src="https://user-images.githubusercontent.com/50883428/131365572-b0916e46-8b9f-4ab6-97de-0035f7f95439.png">
<img width="273" alt="image" src="https://user-images.githubusercontent.com/50883428/131366118-5ebf823e-5de4-4959-a086-f8e2cc64b2f4.png">

### Expec

[2021-08-30 16:29] julio8a commented on #2947
@caripizza, can you fix this one as part of the slider work you are working on?

[2021-08-30 16:29] caripizza opened #2948 "Research: revisit calcite-graph's default SVG width"
### Background
I'm opening up this issue [per Franco's request](https://github.com/Esri/calcite-components/pull/2867#issuecomment-908473509) in my slider style update pr:

### Desired Outcome
Answer the above questions and determine path forward with calcite-graph (and calcite-slider's histogram).

[2021-08-30 17:40] asangma commented on #2577
@julio8a I think we can just remove the margins on the switch inside BlockSection.

Unless I'm missing something @caripizza ?

[2021-08-30 17:50] AdelheidF commented on #2577
these orange ones here...

![image](https://user-images.githubusercontent.com/44481292/131382487-b3a086b5-cc33-4267-ba7a-da40f8cda680.png)

I'll look like this if I remove the margins:
![image](https://user-images.githubusercontent.com/44481292/131382217-de98abf2-cf85-4419-9b11-2ff471b24f2b.png)

[2021-08-30 17:56] caripizza commented on #2577
@julio8a it sounds like this issue is needed, who should work on it?

[2021-08-30 18:00] asangma commented on #2577
I can do it.

[2021-08-30 18:02] julio8a commented on #2577
Thanks, @asangma, Do you just want to update this PR or create a new one?
https://github.com/Esri/calcite-components/pull/2839

[2021-08-30 19:18] caripizza commented on #2706
Related: #2948

[2021-08-30 19:22] julio8a commented on #1220
If an icon is required, the `info` icon would be more fitting to a general use case.

[2021-08-30 19:25] julio8a commented on #1549
This is needed for accessibility on the input. The underline doesn't meet A11y requirements

[2021-08-30 19:54] julio8a commented on #2458
https://github.com/Esri/calcite-components/issues/2864

[2021-08-30 20:34] jcfranco commented on #1608
Closing as self-verified based on latest Travis builds. cc @benelan

[2021-08-30 20:34] #1608 closed

[2021-08-30 20:38] asangma commented on #2577
@julio8a I'll create a new one.

[2021-08-30 20:39] jcfranco commented on #1626
Closing as self-verified based on latest Travis builds. cc @benelan

[2021-08-30 20:39] #1626 closed

[2021-08-30 22:42] #2918 closed

[2021-08-31 00:15] macandcheese opened #2949 "Enhancement: Input - support "inputmode""
### Description
As a follow up to https://github.com/Esri/calcite-components/issues/2726, we should add support for inputmode: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/inputmode

### Acceptance Criteria
inputmode is a usable attribute on the input component

#### Which Component
Input

#### Example Use Case
Implementer should have control over the type of inputmode

####

[2021-08-31 00:31] jcfranco commented on #749
Moving to the next sprint. This should land this week. I've got some review feedback to address and tests to add.

![dog-so-close](https://user-images.githubusercontent.com/197440/131422816-66a60690-3b6f-4989-bffe-8ddacb1718b3.gif)

[2021-08-31 04:42] jcfranco commented on #2113
Installed.

[2021-08-31 15:52] AdelheidF commented on #2918
Nice, fixed with beta.63.

I'll close issues that I opened after verifying...

[2021-08-31 15:56] AdelheidF commented on #2936
Slot is gone from popovers doc. Thanks.

[2021-08-31 15:56] #2936 closed

[2021-08-31 16:06] jcfranco commented on #2894
Closing as self-verified based on latest successful Travis builds.

[2021-08-31 16:06] #2894 closed

[2021-08-31 16:07] jcfranco commented on #1876
Closing as self-verified based on latest successful Travis builds. cc @benelan

[2021-08-31 16:07] #1876 closed

[2021-08-31 16:25] svlesiv commented on #2942
Thank you for your response, but I'm not sure how it can fix the problem.
The task is to display tooltips for dropdown items.

[2021-08-31 16:29] driskull commented on #2942
[code]

[2021-08-31 16:30] macandcheese commented on #2942
From a UX perspective, having a tooltip invoked by hovering over individual dropdown items, already inside a floating window, probably isn't the best choice.

Is it possible to display supplementary text within the dropdown item?

[2021-08-31 16:44] paulcpederson commented on #2514
@jcfranco if you get a second, we should figure out how to prioritize this one

[2021-08-31 16:51] svlesiv commented on #2942
Thank you for the quick response.

The use case is to disable certain menu items depending on permission level and explain why they are disabled when hovering over them.

<img width="572" alt="131202431-19c3ad0d-9459-42e3-975f-17d0793f9801" src="https://user-images.githubusercontent.com/35533801/131542952-231702f4-8183-4408-b49c-d629b9c80eb8.png">

But if that issue is tricky to fix, we will try t

[2021-08-31 16:52] jcfranco commented on #2514
@paulcpederson Can you share info on the a11y issues and provide an effort estimate on this one? Seems low effort to me.

[2021-08-31 16:53] macandcheese commented on #2131
@asangma @bpatterson88 this seems like it's still relevant after seeing the Dashboard designs. This is our implementation in the developer site - we have to fudge a bit of padding, margin, border color... so perhaps a slot as originally proposed (without any of the action slot or flow stuff, just placing tabs inside a single panel item), is a simple solution:

![Screen Shot 2021-08-31 at 9 52 11 A

[2021-08-31 16:59] benelan commented on #817
@asangma do we still need this issue?

[2021-08-31 17:03] benelan commented on #868
Closing this issue. If this comes up again in a different issue we can take a closer look

[2021-08-31 17:03] #868 closed

[2021-08-31 17:09] benelan commented on #933
Closing this issue as no longer valid.

[2021-08-31 17:09] #933 closed

[2021-08-31 17:21] jcfranco commented on #654
@ffaubry @bpatterson88 can you confirm if this is still affecting you?

[2021-08-31 17:48] justinhough commented on #2864
@asangma and @julio8a Pushed the updates for this issue into the following PR -> https://github.com/Esri/calcite-components/pull/2786. Have a look and let me know.

[2021-08-31 17:55] justinhough commented on #1082
@asangma Any feedback on this one? I can proceed with the hover bg changes, but not sure if there was a consensus around these questions that @caripizza had asked prior.

- Do we need to update the :active background color for all calcite-action appearances ("clear" | "outline" | "solid"), or only solid?
- Should we add designs for the "outline" appearance in Figma, or is that not a valid appearan

[2021-08-31 18:00] justinhough commented on #1926
@TheBlueDog Do you have a working example of this that I can take a look at?

I don't have access to the "Map View Beta and Field Maps" and not sure if this would be a local project fix or something in relation to action bar within calcite.

Let me know. Thanks.

cc @julio8a @caripizza

[2021-08-31 19:08] benelan opened #2952 "Bug: Input type submit should not be supported"
### Actual Behavior

Setting type="submit" breaks the calcite-input component. [Submit](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/submit) should not be supported at this time. There is no submit value option in our [input doc](https://developers.arcgis.com/calcite-design-system/components/input/#component-api-properties-type).

### Expected Behavior
If type="submit", don't tr

[2021-08-31 21:14] justinhough commented on #2856
@asangma @julio8a  For this issue, do you have any insight into the line that was referenced for this issue: https://github.com/Esri/calcite-components/blob/master/src/components/calcite-action/calcite-action.tsx#L171.

That one change could resolve this issue since it appears to be overriding the action size to be "M" if set to large.

[2021-08-31 22:28] julio8a commented on #2810
Verified on master demo pages

[2021-08-31 22:28] #2810 closed

[2021-08-31 22:44] julio8a commented on #2471
Verified on master demo pages.

[2021-08-31 22:44] #2471 closed

[2021-08-31 22:55] julio8a commented on #2469
Verified on master demo pages.

[2021-08-31 22:55] #2469 closed

[2021-08-31 22:57] paulcpederson commented on #2514
The [spec for combobox](https://www.w3.org/TR/wai-aria-practices-1.1/#combobox) sort of allows for multiple interpretations:

Currently we use `It is displayed as soon as the textbox is focused` but for the single select, because it's more like a select menu, I think we'd like to make it comparable to a select menu, meaning moving to `It is displayed when the Down Arrow key is pressed or the show

[2021-08-31 23:11] julio8a commented on #2874
verified on demo pages

[2021-08-31 23:11] #2874 closed

[2021-08-31 23:13] julio8a commented on #2789
verified on demo pages

[2021-08-31 23:13] #2789 closed

[2021-08-31 23:15] julio8a commented on #2686
verified on demo pages

[2021-08-31 23:15] #2686 closed

[2021-08-31 23:18] julio8a commented on #2631
verified on demo pages

[2021-08-31 23:18] #2631 closed

[2021-08-31 23:19] julio8a commented on #2629
verified on demo pages

[2021-08-31 23:19] #2629 closed

[2021-08-31 23:20] julio8a commented on #2483
verified on demo pages

[2021-08-31 23:20] #2483 closed

[2021-08-31 23:22] julio8a commented on #2691
verified on demo pages

[2021-08-31 23:22] #2691 closed

[2021-08-31 23:23] julio8a commented on #2781
verified on demo pages

[2021-08-31 23:23] #2781 closed

[2021-08-31 23:33] driskull commented on #2942
It works with the snippet I provided

Can we close this issue?

[2021-08-31 23:38] svlesiv commented on #2942
Yes, thank you for your help :grinning:

[2021-08-31 23:40] #2942 closed

[2021-08-31 23:40] driskull commented on #2942
Thanks! closed

[2021-09-01 00:33] kellyhutchins opened #2955 "Bug: Calcite-input-date-picker value doesn't update"
### Actual Behavior
I'm trying to use the calcite-input-date-picker in an app and the value property doesn't seem to get updated when I select a new date. If you look at the console for the test app I created you'll note that the value for the calcite input date picker isn't updated when dates are selected.

### Expected Behavior
Selecting a new date using the date dropdown should update the value

[2021-09-01 16:22] benelan commented on #2113
Doesn't look quite right, I'm assigning it back to you @jcfranco.
[code]

[2021-09-01 16:26] benelan commented on #2623
Doesn't look quite right, I'm assigning it back to you @jcfranco
[code]

[2021-09-01 16:38] benelan commented on #2113
[Verified](https://codepen.io/benesri/pen/RwgrjEx) on `1.0.0-beta.63`

[2021-09-01 16:38] #2113 closed

[2021-09-01 17:52] asangma opened #2957 "Bug: Panel UI regressions"
### Actual Behavior
Panel had some UI updates that may not have been full vetted.
* The [back-button scale](https://github.com/Esri/calcite-components/commit/c211b04c6df10ab3695a7581781c2a97e95984ef#diff-fdbe551fa08339a23b3f85cd7119b1d75fa4cc666cd4d36369a8ce37355397edR235) is now medium which puts it on the same hierarchical level as other actions that might be added.
* The [increased padding](htt

[2021-09-01 17:53] asangma commented on #2957
@jcfranco Would like to handle this before V1.

@macandcheese Any feedback on this?

[2021-09-01 17:55] julio8a commented on #1220
Moving this one to the next sprint will be a big change.

CC'ing @jcfranco

[2021-09-01 18:20] julio8a commented on #2458
Closing this one.

[2021-09-01 18:20] #2458 closed

[2021-09-01 18:30] macandcheese commented on #2957
@asangma agreed re: both, let's move to small scale for the back button - the icon inside stays the same size and it just shrinks it horizontally.

Re: heading - they are super large now, maybe we could in the future look to the heading text lockup to get more vertical real estate.

[2021-09-01 18:32] julio8a commented on #2460
Is this one considered installed and ready for verification?
I see there's a break out issue for selection updates: #2082

[2021-09-01 18:41] julio8a commented on #2957
@asangma, we can tackle in this sprint if 9.3 needs this update.

[2021-09-01 19:10] macandcheese opened #2959 "Enhancement: Notice (e.g.) - Update spacing to improve alignment of text lockups"
### Description
Currently our text lockups are not equally spaced, leading to visually misaligned components.

Here we apply only margin-bottom: https://github.com/Esri/calcite-components/blob/master/src/components/calcite-notice/calcite-notice.scss#L14.

Perhaps instead we instead apply equal `"0.5": "0.125rem"` top / bottom margin (or, conditionally apply margin-bottom based on existence of sibl

[2021-09-01 21:09] justinhough commented on #1926
@TheBlueDog I added a demo for action bar to show when position is used and used the color recommendation from @bstifle

[2021-09-01 21:09] justinhough commented on #1926
cc @julio8a

[2021-09-01 23:02] AdelheidF opened #2961 "Bug: calcite-tip heading displaying past tip border"
![image](https://user-images.githubusercontent.com/44481292/131756537-779797d4-f2bb-427d-bcc3-13353cfe731c.png)

### Actual Behavior

### Expected Behavior

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM package

[2021-09-01 23:29] benelan opened #2962 "Tooling: create GitHub Action to make sure new bug issues have samples"
## Summary
We will now be requiring sample code to reproduce bug issues. The issue template will say this, but I will make a GH Action just in case. The action should:
1. check for no link to sample code (codepen/jsbin/jsfiddle/etc)
2. automate comment / add needs more info label if there is no sample
3. if no new comment with URL after 5 days, close issue with comment
4. if follow up comment has

[2021-09-01 23:46] julio8a commented on #2041
Looks like this one is complete, changing to installed.

[2021-09-01 23:48] julio8a commented on #1921
@justinhough, can you change this one to installed

[2021-09-01 23:49] benelan opened #2964 "Tooling: create GH Action to automatically add the current milestone to PRs"
## Summary
We now (#2954) have an action to add the proper labels to PRs. Next up is the current milestone. I'll likely need to write something that uses [date-fns](https://date-fns.org/) to check which date range of the milestone titles we are currently in.

## Measure of Success
A working GH Action that adds the current milestone to PRs

### Resources
[This action](https://github.com/Code-Hex/au

[2021-09-02 01:45] #2384 closed

[2021-09-02 14:28] TheBlueDog commented on #1926
@justinhough You might want to check with @asangma to see what the relationship of this is when used inside vs outside the app-shell.

[2021-09-02 14:29] TheBlueDog commented on #1926
@julio8a This Figma library needs to be update to use a boarder left/right

[2021-09-02 14:36] julio8a commented on #1926
One of the things we want to improve is when a design change or addition get added to Figma/code. This update wouldn't be officially out until the beta 64 release on the 9/13. This is when the Figma library will reflect the change.

[2021-09-02 14:44] TheBlueDog commented on #1926
Well... the lack of border in the Figma library is where I initially found the issue, which spurred creating this issue to hopefully get it fixed and my designs accurate by the time it got to our devs for implementation. Something to consider.

[2021-09-02 14:54] asangma commented on #1926
The ActionBar shouldn't need to add borders.
If a dev needs a border on it, they can add that in the app.

That being said, ShellPanel should already be [adding borders](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-shell-panel/calcite-shell-panel.scss#L102-L110) when an ActionBar is placed in an `action-bar` slot.

[2021-09-02 14:54] COV-GIS opened #2965 "Bug: tab-nav z-index causes tabs to appear above active popover"
### Actual Behavior

The z-index applied here https://github.com/Esri/calcite-components/blob/master/src/components/calcite-tab-nav/calcite-tab-nav.scss#L2 causes tabs to appear over active popover.

![image](https://user-images.githubusercontent.com/14297903/131864722-434a0ed6-a1d9-4a31-b32a-fda4eec1a857.png)

![image](https://user-images.githubusercontent.com/14297903/131866173-da025204-0d2e-48b

[2021-09-02 15:00] asangma commented on #2957
Yeah...let's make it happen.

[2021-09-02 15:03] TheBlueDog commented on #1926
Thanks @asangma ... So this may only be a Figma change that's needed.

[2021-09-02 15:47] caripizza commented on #2460
@julio8a I'm not sure. Figma still shows "pipes" and selection-mode "checkbox" where it should show "lines" and "ancestors" selection-mode. Bryan updated the tree comps midway through development in order to accommodate the 2 additional selection-modes that weren't initially considered. The latest designs don't yet appear in the blue selection area in Figma yet, they appear to the right of it.

Sh

[2021-09-02 15:48] macandcheese opened #2966 "Enhancement: Improve behavior of calcite-shell `content-behind` when used with `detached` shell panel"
### Description
I'd like to surface an issue I've encountered when using a `detached` `calcite-shell-panel` in combination with the `content-behind` prop on `calcite-shell`

Consider a layout with a map in the center, a non-`detached` `calcite-shell-panel`, and a `detached` `shell-panel`:

![Screen Shot 2021-09-02 at 8 39 24 AM](https://user-images.githubusercontent.com/4733155/131874348-8919a779-

[2021-09-02 16:13] julio8a commented on #2460
If it's just design work in Figma, we shouldn't wait to close this issue. I'll be creating an issue in the UI kit project for design updates to Figma and tie the work done here.

[2021-09-02 16:26] justinhough commented on #1921
@julio8a Updated.

[2021-09-02 16:29] julio8a commented on #1926
Thanks for the info guys, I will create issues to update Figma (ui kit repo) and link to this issue. Closing.

[2021-09-02 16:29] #1926 closed

[2021-09-02 16:41] caripizza commented on #2460
Sounds good @julio8a

[2021-09-02 17:20] apfister commented on #2857
@driskull removing the `textEnabled` property does not appear to solve the problem.

[2021-09-02 17:36] driskull commented on #2857
@apfister you probably need to maintain a state for the 'expanded' property. If it renders again it will open it up no matter what.

1 - Don't set textEnabled on the actions
2 - Maintain a state for expanded property.

[2021-09-02 18:04] gavinr commented on #2652
If using "steps", it would be nice to have an event _only_ when the slider pops into one of the steps (`calciteSliderStep` event, or something like that)

[2021-09-02 18:18] benelan commented on #2964
Installed. @jcfranco or @julio8a, next time one of you makes a PR, can you verify by making sure the current milestone is added?

[2021-09-02 18:59] caripizza opened #2969 "Enhancement: improve `form` stories for Screener visual regression tracking + docs"
### Description
Add stories for Screener which articulate form configurations we support.

These stories should include `calcite-label` wrapping any relevant form control components, in each of its `layouts`. (I'm not sure where they should live, maybe just under the existing "Label > Wrapping components other than Input" stories?)

### Acceptance Criteria
New stories are added to Storybook which

[2021-09-02 19:02] caripizza commented on #2969
@jcfranco this is the issue you asked me to ping you about from this week's core team meeting wiki agenda. I believe it started from @driskull's "Should we support native form elements inside calcite-label?" topic. Please re-word/edit as needed.

[2021-09-02 19:33] jcfranco commented on #2801
@asangma I'll verfee!

[2021-09-02 19:34] jcfranco commented on #2761
Verified w/ repro case.

[2021-09-02 19:34] #2761 closed

[2021-09-02 19:54] jcfranco commented on #2801
Verified w/ https://codepen.io/jcfranco/pen/abwZwLr?editors=1000

@asangma Sidebar, the scrim's default slot should used specifically for the overlay, but not to place the main content, right?

[code]

[code]

If so, I think it'd be useful to add the content nodes in the usage examples to make it a bit clearer: https://esri.github.io/calcite-components/?path=/docs/components-scrim--simple cc @bene

[2021-09-02 19:54] #2801 closed

[2021-09-02 20:03] caripizza commented on #2965
@COV-GIS can you move your calcite-popover to be outside of the tabs markup? I think that should fix this issue.

[2021-09-02 20:06] jcfranco commented on #2807
@benelan Aside from `calcite-tree` and `calcite-tree-item`, everything looks good!

* `calcite-tree` – has a default slot, but doc has `children` slot
* `calcite-tree-item` – has default and `children` slot, but doc has none

[2021-09-02 20:07] benelan commented on #2807
Thanks @jcfranco, should I be documenting default slots by the way? Mat was wondering that too cc @driskull

[2021-09-02 20:13] jcfranco commented on #2807
I think it makes sense to do so. Otherwise, there's no way to find out if any user-content will be displayed or not.

[2021-09-02 20:15] jcfranco commented on #2851
I found a straggler in dropdown: https://github.com/Esri/calcite-components/blob/0950e3d62c019f7396aa8716bc91acdae06cde84/src/components/calcite-dropdown/calcite-dropdown.tsx#L149

Aside from that, looks great!

[2021-09-02 20:33] driskull commented on #2807
Also, I think in the future we could have a custom JSDoc tag for whether a component allows slotting elements inside and maybe a link to see the usage doc.

[2021-09-02 20:39] COV-GIS commented on #2965
@caripizza I tried that but the reference-element is in the tab and doesn't work otherwise. The reference-element ended up being in a different position and with placement the popover being over the tab-nav can be avoided.

[2021-09-02 21:35] asangma opened #2972 "Research: Review spacing and scale through components"
### Background
Our components have some spacing, alignment, and font size discrepancies.
And those discrepancies also appear across different scales.

As discussed by the team, we need to review our components.

Primary tasks per component would be
* review spacing values and look for divergent values
* look for inconsistencies in scale properties that are rendered internally (e.g. Action renderin

[2021-09-02 21:42] asangma commented on #2972
cc @macandcheese

[2021-09-02 21:48] benelan commented on #2494
Installed! @asangma, @bstifle, can one of you verify? Thanks!

[2021-09-02 22:24] julio8a commented on #2041
@macandcheese, can you verify this one?

[2021-09-02 22:52] macandcheese commented on #2041
Spot checking this looks good!

[2021-09-02 22:53] julio8a commented on #1082
Unless @macandcheese or @asangma have any objections, short term, let's go with the biggest visual difference with `:active` (all appearances), fg-1, we can have a follow-up issue/discussion to look at all the states and appearances for `action` holistically.

[2021-09-02 22:54] #2041 closed

[2021-09-02 23:07] julio8a commented on #2856
@asangma, would be the best person to answer this ^

[2021-09-02 23:16] benelan opened #2974 "Docs: add missing default slots"
### Description
The following components have undocumented default slots that need to be documented. We decided that the default slot should be the first one so I will go through all of the components to fix that in this issue as well.

### Which Component
[code]

### Resources
**Related Issue:**: #2807

[2021-09-02 23:43] asangma commented on #2494
yup

[2021-09-02 23:49] asangma commented on #2972
This is somewhat related to the research project for [cascading styles](#2868) (e.g. scale).
It will help that project if we have highly consistent (particularly mathematically consistent) pattern for how spacing changes across scales.

[2021-09-02 23:52] asangma commented on #2494
Verfee!

[2021-09-02 23:52] #2494 closed

[2021-09-03 00:08] asangma commented on #2972
@benelan Updated the list with all the things. I think it's a complete list.

[2021-09-03 00:12] asangma commented on #2856
👀

[2021-09-03 00:22] asangma commented on #2856
@justinhough If you want Action to show an icon of a scale other than the one it prescribes, inside TipManager

1. don't use Action's `icon` property
2. put a CalciteIcon inside [Action used for the close button](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-tip-manager/calcite-tip-manager.tsx#L283-L289) and set scale to taste.
3. profit.

[code]

[2021-09-03 00:26] asangma commented on #2856
This is setting the icon's scale based on Action's scale.
Per design: S and M Actions use small icons and only use large icons when scale is L.

[2021-09-03 00:29] asangma commented on #2856
To be clear, that could be a new issue we probably want to be consistent when a parent renders a child component, and make sure the child component uses the same scale.

[2021-09-03 00:35] justinhough commented on #2856
@asangma So the code would change to this then in `calcite-tip-manager.tsx` to get the desired effect. It seems that would be the only real change besides disabling the icon rendering from `calcite-action`.

![CleanShot 2021-09-02 at 18 33 44](https://user-images.githubusercontent.com/9469422/131932916-a81d49d3-8db6-4c93-9ba8-8839dc953399.png)

[2021-09-03 00:38] asangma commented on #2856
Yup! That looks about right.

[2021-09-03 00:39] justinhough commented on #2856
👍🏻 Cool. That works for me.

[2021-09-03 00:40] asangma commented on #2856
Although you should still be able to use the `ICONS.close` value.

[2021-09-03 00:41] justinhough commented on #2856
For sure. I just did that real quick.

[2021-09-03 15:20] justinhough commented on #2957
@asangma I have made the following adjustments. From the screenshot that is using the original code and the bottom panel is using the updates below. Let me know if these changes look about right from the issue and I can get this changes pushed into a PR for review.

To note we could also use the calcite-action medium since that doesn't affect the vertical space, but only makes the button wider. Th

[2021-09-03 15:41] benelan commented on #2972
@asangma once you figure out what the spacing should be I can go make the manual changes for you.

[2021-09-03 15:52] benelan commented on #2851
@jcfranco, @julio8a, ready for verification!

[2021-09-03 15:53] benelan commented on #2807
@jcfranco, @julio8a, ready for verification!

[2021-09-03 15:54] macandcheese opened #2979 "Enhancement: Alert - remove bespoke mobile styles"
### Description
Let’s remove our subtle mobile styling change for Alerts. Currently they dock at the bottom which can cause them to be missed, or placed too close to the bottom of phones where swipes for OS functions may be used.

### Acceptance Criteria
Remove the media query styles.

### Relevant Info
Came up as part of larger discussion re/mobile. Certain components justify mobile styling (a do

[2021-09-03 15:55] jcfranco commented on #2851
Verified locally!

[2021-09-03 15:55] #2851 closed

[2021-09-03 17:40] jcfranco commented on #2807
Verified locally!

[2021-09-03 17:40] #2807 closed

[2021-09-03 19:08] julio8a commented on #1431
This issue needs another design review (Figma) before moving into code.

[2021-09-03 20:10] benelan opened #2980 "Bug: next releases are not suffixed"
### Actual Behavior
There is an issue with our next releases where they are not suffixed. It looks like we have already released v1
https://www.npmjs.com/package/@esri/calcite-components?activeTab=versions
https://github.com/Esri/calcite-components/tags

### Expected Behavior
The next releases are suffixed properly

[2021-09-03 20:24] caripizza commented on #2457
@julio8a should we create an issue in the ui-kits repo to add Slider's histogram variant(s) to Figma?

[2021-09-03 20:32] julio8a commented on #2457
Good catch, yes, I'll create and link to this issue.

[2021-09-03 22:05] asangma commented on #2577
@julio8a this fix has been installed. Not sure who should verfee.

cc @AdelheidF

[2021-09-03 22:10] julio8a commented on #2577
@AdelheidF, can you help verify this one?

[2021-09-03 22:11] asangma commented on #2856
@julio8a Do you want me to verfee?

[2021-09-03 22:13] julio8a commented on #2856
That would be very helpful, thank you.

[2021-09-03 22:19] asangma commented on #2856
Dang that icon looks good 24px a day!

[2021-09-03 22:19] #2856 closed

[2021-09-03 22:27] asangma commented on #2972
@macandcheese I chunked up the list some. If you wanna take a chunk, put your name next to the heading.

[2021-09-03 23:29] asangma commented on #2961
This should be straightforward fix.

[2021-09-03 23:31] benelan commented on #2597
This has been installed, @asangma can you please verify?

[2021-09-03 23:39] asangma commented on #2597
@anveshmekala Sorry. Looks like we missed the `icon-position--start` case. With the update, the open icon should be pointing down.
![Screen Shot 2021-09-03 at 4 34 31 PM](https://user-images.githubusercontent.com/12503298/132074462-bdd31089-0bb5-4bd3-843f-843eb71ce8de.png)

The animation should also go the other way. Right now, the icon spins the wrong way.

[2021-09-07 16:38] caripizza commented on #2480
Happened upon this one while looking into slider issues with #2457.

Beyond the thumb button placement issue mentioned here, the `min` label handle also displays `0` when it should show `-100`:

![image](https://user-images.githubusercontent.com/42423180/132380560-31b397bf-1940-4be7-9276-6d4ab504328e.png)

[2021-09-07 16:43] anveshmekala commented on #2597
Will fix it. Thanks @asangma .

[2021-09-07 20:11] anveshmekala commented on #2597
@asangma can you please attach the expected icon spin direction when `icon-position` set to start . Thanks.

[2021-09-07 22:32] benelan commented on #2887
Installed, can one of you please verify @jcfranco @julio8a?

[2021-09-08 16:12] asangma commented on #2850
Noice. Thanks @benelan.

[2021-09-08 16:12] #2850 closed

[2021-09-08 16:39] asangma commented on #2597
### LTR icon in start position
* closed to open, rotate clockwise from `>` to `v`
* open to closed, rotate counterclockwise from `v` to `>`

### RTL icon in start position
* closed to open, rotate counterclockwise from `<` to `v`
* open to closed, rotate clockwise from `v` to `<`

Does that help @anveshmekala? :)

[2021-09-08 17:18] caripizza commented on #2480
I'm stuck on this issue. The main problem to me seems to be that when slider has a negative `min` value in its range, it disallows a `minValue` of `0`; the handle get's `left: 0%` positioning added to it, which forces it to appear to the far left of the track.

It's like slider's range was designed to assume that the minimum value would be 0, not a negative number.

[2021-09-08 17:24] jcfranco commented on #2887
I'll verify.

[2021-09-08 18:24] jcfranco commented on #404
@Esri/calcite-design-representatives Do we need to make the width customizable? If so, what are the primary use cases?

I took a look at some other component libs (from https://open-wc.org/guides/community/component-libraries/) and it seems like the dropdown content is at least the width of the trigger.

1. https://patternflyelements.org/components/dropdown/
1. https://shoelace.style/components/dr

[2021-09-08 19:03] benelan opened #2991 "Enhancement: change Slider's label-handle to an input"
**monday.com sync:** #18005546271

### Description
In the JS API the user is able to input a number into the slider's thumb. The JSAPI and Online team requested this functionality for our component.

### Acceptance Criteria
The user can input a number for the slider thumb.

#### Which Component
calcite-slider

#### Example Use Case
https://developers.arcgis.com/javascript/latest/api-reference/esri

[2021-09-08 19:04] ellenupp opened #2992 "Enhancement: Ability to customize borders on calcite-shell contents"
### Description
We would like a way to remove the borders from the main content slot in calcite-shell. At the moment there is a 1px top and bottom border on the "main" div and a 1px left and right border on the "content” div within that. A few reasons we don't want these borders:
- Our header has its own border style, so the content doesn’t need a top border
- The primary shell panel can be hidden

[2021-09-08 19:23] macandcheese commented on #404
I find the current a s, m, l width scale to be unneeded. The chances one of our "other" options happens to work for a use case seems low. We should just default to a single width per scale.

That said, I think the easiest way to allow customizable might be to expose a custom css property on `calcite-dropdown`, similar to modal? This way the vast majority of dropdowns would be of consistent default

[2021-09-08 20:00] anveshmekala commented on #2597
Yup. Exactly what I am looking for. Thanks @asangma

[2021-09-08 20:56] driskull commented on #2955
@julio8a @jcfranco can we triage this for this sprint and assign to me?

[2021-09-08 21:00] benelan commented on #2992
Hi @ellenupp, you can set the color of the border to transparent, which effectively removes the border. Here is a sample:
https://codepen.io/benesri/pen/ZEyLZJj

Here is some information about the calcite color css vars:
https://developers.arcgis.com/calcite-design-system/foundations/colors/#themes

[2021-09-08 21:07] ptmdmusique commented on #2515
verified!

[2021-09-08 21:07] #2515 closed

[2021-09-08 22:48] AdelheidF opened #2994 "Bug: calcite-color-picker ignores initial value"
beta.63

[code]

any hex color value displays blue swatch
<img src=https://user-images.githubusercontent.com/44481292/132595662-a213ad95-5635-4999-a581-d46231a49545.png width=300/>

I tried to 're-set' the value again in ref, but this doesn't help.

If I remove `format` it works fine.

Repro case: https://codepen.io/jcfranco/pen/dyRvVpX?editors=1000

[2021-09-09 00:01] jcfranco commented on #2857
I agree w/ @driskull's solution. Closing since this is not a component issue.

[2021-09-09 00:01] #2857 closed

[2021-09-09 16:12] julio8a commented on #2765
this one needs to be triaged

[2021-09-09 16:20] julio8a commented on #2964
verified on latest created PR

[2021-09-09 16:20] #2964 closed

[2021-09-09 16:49] jcfranco commented on #2952
Closing. The `submit` type is not supported in the doc, we have no plans for it and type-wise it's not a valid value.

[2021-09-09 16:49] #2952 closed

[2021-09-09 17:05] eriklharper commented on #2765
I think we'll want to make language-specific issues for this effort.  After spending some time researching this, we'll have to employ some third party JS libraries (or write them ourselves) for translating, for example Arabic characters into English for the purpose of storing the english equivalent values in state and in event emitters.  We can start with Arabic, since this is one language we defi

[2021-09-09 17:43] benelan opened #2999 "Bug: Broken doc link for the color assets"
### Actual Behavior

There is a broken link for the color assets in this [readme](https://github.com/Esri/calcite-components/blob/master/src/assets/styles/readme.md#color). The color assets are in the `calcite-colors` repo, so the link should point here: https://github.com/Esri/calcite-colors/blob/master/dist/colors.scss

### Expected Behavior
Link isn't broken

[2021-09-09 18:47] anveshmekala commented on #2524
@asangma @bstifle I assume we are going ahead with 1rem for panel header x-space .Correct me if I am wrong. Thanks.

[2021-09-09 19:10] asangma commented on #2966
Admittedly, it's confusing. Here's the explanation. Note that I'm open to rethinking this.

`content-behind` is meant to work with a mapview's [view-padding](https://developers.arcgis.com/javascript/latest/sample-code/view-padding/) so that the view ui (container that holds the on-map widgets) can update without affecting the position of the map.

Not moving the map as panels open/close has histor

[2021-09-09 20:24] jcfranco commented on #2440
Verified w/ repro case.

[2021-09-09 20:24] #2440 closed

[2021-09-09 20:25] jcfranco commented on #2706
Verified w/ repro case!

[2021-09-09 20:25] #2706 closed

[2021-09-09 20:28] jcfranco commented on #913
Verified w/ latest storybook: https://esri.github.io/calcite-components/?path=/story/components-label--wrapping-components-other-than-input

![Screen Shot 2021-09-09 at 1 27 05 PM](https://user-images.githubusercontent.com/197440/132757918-1f2ffde5-c72a-4a45-8782-732c02e4b14b.png)

[2021-09-09 20:28] #913 closed

[2021-09-09 20:31] jcfranco commented on #2813
Verified w/ https://codepen.io/jcfranco/pen/eYRvrPL?editors=1000

[2021-09-09 20:31] #2813 closed

[2021-09-09 21:03] benelan commented on #2824
I changed block's heading to required in the doc, @jcfranco can you please please verify?

[2021-09-09 21:33] AdelheidF opened #3003 "Bug: calcite-input type=number not always updating value in box"
beta.63

When updating a input box value programmatically the value inside the input box does not always update.
In the test case below I use it for the valid range of values, but it is not specific to that case.

I can reproduce it with SymbolStyler and I built a simple codepen.

The value of that input box should never be greater than 5. If the user types in a number that's bigger I want to set

[2021-09-09 21:39] benelan commented on #2999
Installed, can @jcfranco or @julio8a verify please

[2021-09-09 21:44] julio8a commented on #1082
verified on master, local build demo pages.

[2021-09-09 21:44] #1082 closed

[2021-09-09 21:50] julio8a commented on #2453
verified on master, local build demo pages.

[2021-09-09 21:50] #2453 closed

[2021-09-09 21:50] julio8a commented on #2454
verified on master, local build demo pages.

[2021-09-09 21:50] #2454 closed

[2021-09-09 21:52] julio8a commented on #2864
verified on master, local build demo pages.

[2021-09-09 21:52] #2864 closed

[2021-09-09 21:54] julio8a commented on #2947
verified on master branch local build demo page.

[2021-09-09 21:54] #2947 closed

[2021-09-09 21:56] julio8a commented on #2824
verified on master

[2021-09-09 21:56] #2824 closed

[2021-09-09 22:13] julio8a commented on #2926
verified on master local build demo pages

[2021-09-09 22:13] #2926 closed

[2021-09-09 23:20] driskull commented on #3003
I think we discussed this previously... We need better error states for components where users can input data.

I don't think we want to "reset" values input by a user but display that the component has an invalid value.

[2021-09-09 23:28] AdelheidF commented on #3003
Yes, this is another issue. The issue here is just that when I programmatically update values in the input they don't show.
I happen to use them for the min/max range because that's not implemented yet.

This other issue here got closed even though it's still valid too: https://github.com/Esri/calcite-components/issues/2477

[2021-09-10 01:11] noahmulfinger opened #3007 "Bug: calcite-dropdown cut off when expanded inside of a small calcite-tab"
### Actual Behavior

When a `calcite-dropdown` is triggered/expanded inside of a `calcite-tab` that has a height smaller than the dropdown, the dropdown is cut off and some items are not clickable.

### Expected Behavior

I would expect the dropdown to expand outside of the `calcite-tab`, similar to the behavior of a popover or tooltip.

### Reproduction Steps or Sample

1. Go to https://codepen.i

[2021-09-10 05:27] jcfranco commented on #1818
@ethanbdev I can't reproduce this issue. Do you have an isolated test case I can take a look at?

Here's the snippet I used to attempt to repro (using [Stencil's component starter](https://github.com/ionic-team/stencil-component-starter) as a base):

[code]

The build succeeds with the above. The type is also picked-up properly and the build will fail if I try to access non-existent props.

[2021-09-10 15:30] ethanbdev commented on #1818
Hm, I am still getting it. In `calcite-value-list.d.ts` it has this import:
![image](https://user-images.githubusercontent.com/52869490/132878629-c8f0a90b-c1aa-4ac5-8c99-22bdc5827593.png)

To reproduce exactly, you could return a `HTMLCalciteValueListElement` from a private function, then call it from the render to render a value list
[code]

[2021-09-10 17:18] jcfranco commented on #1818
I'm still not able to reproduce this after updating my test case:

[code]

![Screen Shot 2021-09-10 at 9 58 31 AM](https://user-images.githubusercontent.com/197440/132891125-430476f0-a5a3-4183-81ec-85d4bcece82a.png)

---

Any chance something is referencing `calcite-value-list.d.ts` directly?

[2021-09-10 17:25] jcfranco commented on #2623
Installed!

[2021-09-10 17:27] ethanbdev commented on #1818
Okay, thanks for checking. I wonder if it is because the types are included in the tsconfig? I don't see any imports right from that type file.. Maybe this is not quite the right approach?
[code]
iirc this is done to _not_ have to add an import but still get the types.

[2021-09-10 17:42] justinhough commented on #2957
@asangma Have you had a chance to look at this?

[2021-09-10 17:43] julio8a commented on #2957
@macandcheese any thoughts on this? ^

[2021-09-10 17:45] macandcheese commented on #2957
I think the resolution after chatting with @asangma last week was to proceed with the "bottom" example above. We will perhaps be able to further address this in https://github.com/Esri/calcite-components/issues/2972.

[2021-09-10 17:49] anveshmekala commented on #2652
@gavinr that would be great add-on if using steps. Would it be expected to just emit `calciteSliderStep` ignoring `calciteSliderChange` when the slider pops into one of the steps ?

[2021-09-10 17:50] jcfranco commented on #1818
I still can't repro after updating `tsconfig.json` to explicitly include the component types.

[2021-09-10 18:12] jcfranco commented on #1818
I'm going to go ahead and close this since I can't proceed without a repro case.

FWIW, here's my test case repo in case you wanted to take a stab at reproducing the issue there (and reopening this issue): https://github.com/jcfranco/repro-case-components-building-with-calcite-components.

[2021-09-10 18:12] #1818 closed

[2021-09-10 18:14] macandcheese commented on #2966
This will only work if the map itself is the only content, correct? If I put my map inside a calcite-panel (so I can have access to set a heading, and slot actions above the map), this approach doesn't work and I still need to set margin to move the center panel out from behind the shell-panel...

an example:
![Screen Shot 2021-09-10 at 11 12 12 AM](https://user-images.githubusercontent.com/473315

[2021-09-10 18:32] jcfranco commented on #2652
@gavinr Thanks for the suggestion. Since that would introduce a new event, can you create a separate issue for that?

[2021-09-10 18:36] gavinr commented on #2652
@jcfranco sure - what name would you suggest for the event?

[2021-09-10 18:39] jcfranco commented on #2652
Thanks! Any name would work for now, I just wanted a separate issue for discussion and to flesh out the requirements if we decide to proceed.

[2021-09-10 18:42] caripizza commented on #2701
Looks like we're still missing docs on these guys:

[code]

[2021-09-10 18:43] gavinr opened #3011 "Enhancement: Slider should support "step" change events"
### Description

If using "steps", it would be nice to have an event only when the slider pops into one of the steps (calciteSliderStep event, or something like that)

### Acceptance Criteria

Can set up an event listener that only gets called when the slider moves into a new "step" position.

### Relevant Info

Originally requested here: https://github.com/Esri/calcite-components/issues/2652#issu

[2021-09-10 18:44] caripizza commented on #2701
@driskull should I address the above today or are you already on that?

[2021-09-10 18:46] driskull commented on #2701
I'll add those setFocus ones. Must have missed them. PR coming shortly.

[2021-09-10 19:34] caripizza commented on #2701
Verified no more warnings appear when running repro steps on latest master. Thanks Matt!

[2021-09-10 19:34] #2701 closed

[2021-09-10 20:16] ethanbdev commented on #1818
Okay, thanks for checking

[2021-09-10 20:46] asangma commented on #2961
@benelan I can knock this out real quick if you want me to take it.

[2021-09-10 20:47] benelan commented on #2961
@asangma All yours!

[2021-09-10 21:17] asangma opened #3016 "Bug: Updating dir on page doesn't consistently update components."
### Actual Behavior
In the demo pages, when turning the RTL toggle on, components don't consistently re-render. Accordion is a good example.

### Expected Behavior
Updating `dir` should result in a consistent behavior across components.

### Reproduction Steps or Sample

1. view Accordion demo page
2. toggle RTL

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] N

[2021-09-10 21:21] caripizza opened #3017 "Unstable Test: calcite-input › number type › allows decimals only when the step is a decimal"
## Summary

**Which component?:**
calcite-input

**Which test(s)?:**
[code]
**Test error:**

[code]

**PR that skipped the test:** # (coming shortly)

## Additional Info

[2021-09-10 21:35] jcfranco commented on #3017
@eriklharper Can you take a look at this?

[2021-09-10 22:37] anveshmekala commented on #2597
@benelan can you please verify this issue. Thanks

[2021-09-10 22:49] driskull commented on #3007
Seems like the `position:relative` needs to be removed on the dropdown host.

[2021-09-10 22:52] asangma commented on #2889
Simple solution for this would be to add a default style that lays content out in a column.

A more involve (though not much more involved) solution would be to add a `layout` property that defaults to "vertical".

[2021-09-10 22:52] asangma commented on #2889
I can do either.

[2021-09-10 23:19] driskull commented on #3016
I think this is just #2079

[2021-09-13 02:54] macandcheese commented on #1316
Valid

[2021-09-13 02:57] #925 closed

[2021-09-13 15:45] asangma commented on #2961
@benelan Assigning to you if you wanna verfee or pass it to someone else to do so.

[2021-09-13 18:50] ellenupp commented on #2992
Thanks @benelan, I had explored this option before but it's not an ideal solution. When the color is set to transparent, there is still 1px space there so for example you still get the gap below the action bar. Also I wouldn't want to override the border color for the whole shell (since I do need borders elsewhere), only on those shadow divs- but I can't target those with CSS unless I'm missing so

[2021-09-13 20:17] kevindoshier opened #3025 "Bug: calcite-action-bar: we dont see a scrollbar anymore when the window size is small"
### Actual Behavior

When the window size is shrunk vertically we no longer see the scrollbar

### Expected Behavior

We should see a scrollbar so we can access the other actions
![scrollbar](https://user-images.githubusercontent.com/11093161/133150518-852a2239-14ba-49e0-b3cb-7195bdf15eb9.png)

### Reproduction Steps or Sample

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

[2021-09-13 20:19] driskull commented on #3025
@jcfranco @julio8a can we triage this for this sprint?

[2021-09-13 20:21] jcfranco commented on #3025
Added to current sprint! I assigned it to you in the meantime. cc @benelan

[2021-09-13 21:11] ffaubry opened #3027 "Bug: calcite-list focus and key navigation not behaving like the value list"
### Actual Behavior

The List keyboard navigation is not consistent with the Value List navigation.

### Expected Behavior

The value list is correctly behaving with arrow up/down moving the focus on the previous/next item. The tab is switching the focus inside the value list item and them out of the list. I think this is the correct navigation for lists.
However the current implementation for Cal

[2021-09-13 21:15] macandcheese opened #3028 "Enhancement: Improve hover transition style of icon / text in Radio Group"
### Description
Currently the icon has a transition but the color property of the text does not. It's more obvious in dark theme:

https://user-images.githubusercontent.com/4733155/133157270-3bd8b791-4227-46b4-a3ea-6cd97cd10b0d.mp4

These should ideally be the same, so there isn't a choppy appearance when the icon transitions to the hover state color more slowly.

### Acceptance Criteria
The icon

[2021-09-13 21:19] ffaubry opened #3029 "Bug: calcite-list-item styles is overlapping with panel"
### Actual Behavior

![image](https://user-images.githubusercontent.com/3506166/133157043-e5935676-455e-4641-a87d-c10f15989d1a.png)

As you can see the action-end styling is overlapping with the panel focus.

https://codepen.io/faubry/pen/JjJyXWz?editors=100

### Expected Behavior

The panel blue line for the focus is not overlapped.

### Reproduction Steps or Sample

1. Create a panel
2. Add a li

[2021-09-13 22:07] jcfranco commented on #2994
Installed.

[2021-09-13 22:46] benelan commented on #2992
Some components have a prop to remove the border, like `appearance='minimal'` for [color picker](https://developers.arcgis.com/calcite-design-system/components/color-picker/#component-api-properties-appearance). Is that what you are looking for, except only the top and bottom border?

[2021-09-14 00:06] ffaubry opened #3032 "Enhancement: Add a slot in List Item for specialized content or a slot for label and a slot for description"
### Description

Currently, the only way to have content is by providing label and/or description.
It would be useful to also support a slot 'content' for specialized content.
In my particular case, we would like a second line for the description:

Label
Description 1
Description 2

### Acceptance Criteria

### Relevant Info

#### Which Component

calcire-list-item

#### Example Use Case

Support

[2021-09-14 10:06] hccampos opened #3033 "Enhancement: Alert - provide various placement options"
### Description

We would like to be able to place alerts in different locations.

### Acceptance Criteria

- `<calcite-alert>` should have a property/attribute to specify its placement.
- Valid options could be similar to what we have to tooltips.

### Relevant Info

#### Which Component

`<calcite-alert>`

#### Example Use Case
- An app with a sidebar on the left side would like to place the ale

[2021-09-14 15:15] asangma commented on #2577
@benelan Do you think you could have a verify? Let me know if you have questions.

[2021-09-14 15:36] benelan commented on #2940
Installed, @jcfranco or @julio8a can you verify using the sample in the issue post?

[2021-09-14 15:38] AdelheidF commented on #2577
Using beta.64 it looks good now.

![image](https://user-images.githubusercontent.com/44481292/133289021-d76eabc3-0dd2-49ce-b483-c0e364c340f9.png)

[2021-09-14 15:38] #2577 closed

[2021-09-14 15:40] benelan commented on #2577
Ah beat me to it, I was just looking at Julio's sample. Thanks!

[2021-09-14 15:40] kellyhutchins commented on #2955
Looks good

[2021-09-14 15:50] #2999 closed

[2021-09-14 15:51] AdelheidF commented on #2961
Using beta.64 it looks good now. Thanks

![image](https://user-images.githubusercontent.com/44481292/133291208-97ebae00-85b2-4d95-9f81-79185fd56860.png)

[2021-09-14 15:51] #2961 closed

[2021-09-14 15:53] AdelheidF commented on #2994
Tested with beta.64, all good now. Thanks.

[2021-09-14 15:53] #2994 closed

[2021-09-14 16:45] jcfranco commented on #2940
Verified with repro case!

[2021-09-14 16:45] #2940 closed

[2021-09-14 17:07] benelan commented on #2623
verified in the readme after beta.64 released

[2021-09-14 17:07] #2623 closed

[2021-09-14 17:24] macandcheese commented on #3033
I think this is reasonable.

I wonder if a slot within the shell makes sense for this, so the positioning could be controlled absolutely. Currently, it's a fixed position item which prevents the alert from staying affixed to a shell that is not full-screen (which, may be good in some cases, and not in others, so some affordance to choose this?)

I feel like we'd probably want to limit the options

[2021-09-14 17:28] benelan commented on #2659
I can't tell if the unchecked colors are the same in this sample:
https://codepen.io/benesri/pen/PojJbpw?editors=1000

@julio8a can you take a quick look? It may just be my eyes playing tricks on me due to the different outlines.

[2021-09-14 17:57] jcfranco opened #3035 "Bug: [color-picker] dragging the color field thumb gets offset by content above when placed in a component's shadow DOM"
### Actual Behavior

When the color-picker is placed in a shadow DOM, any content above will mess up the positioning used when dragging the color field around.

### Expected Behavior

The color-picker's color field drag interaction should behave consistently regardless of where it is placed (light or shadow DOM).

### Reproduction Steps or Sample

1. Open https://codepen.io/jcfranco/pen/xxrXEPr?ed

[2021-09-14 18:17] tjameswhite commented on #2876
We have a similar problem -- there instances in components where we need to change the link color (see screen shot). For buttons we can use the `color=inverse` property.

I suggest adding the same property to calcite-links.

![blue-link](https://user-images.githubusercontent.com/2693135/133311927-15152e2b-8103-4236-9734-5ea781f9c5ef.png)

[2021-09-14 18:38] julio8a commented on #2659
I can verify this one, thanks Ben.

[2021-09-14 19:32] macandcheese commented on #1933
@julio8a @benelan - can we take a look at adding some priority to this?

[2021-09-14 19:37] macandcheese opened #3037 "Docs: [Shell] Fix incorrect slot name"
### Description
The `calcite-shell` documentation references a `bottom-panel` slot that doesn't exist in the tsx file. This should be changed to reference `center-row`.

### Which Component
Calcite-shell : https://github.com/Esri/calcite-components/blob/750e5d421e99e14b1c0cda911ee31f5ada942935/src/components/calcite-shell/calcite-shell.tsx#L10

### Resources
cc @asangma

[2021-09-14 19:46] mitc7862 commented on #1933
This looks great!
We really need this in Map Viewer and Analysis Studio.

[2021-09-14 21:46] benelan commented on #2962
Installed! @julio8a or @jcfranco, can I get a verifier

[2021-09-14 23:32] benelan commented on #2597
Hi @anveshmekala, It looks like the closed icon is still pointing down in beta.64

https://codepen.io/benesri/pen/PojJeyL?editors=1000

Can you take another look?

[2021-09-14 23:34] driskull commented on #3025
@jcfranco @kevindoshier I'm unable to locally reproduce this so I think it might be a timing issue. However, I have some improvements that may fix it. PR coming.

[2021-09-14 23:44] benelan commented on #2460
@julio8a, LGTM but can I get a designer's eyes on this for verification?

[2021-09-14 23:45] benelan commented on #2473
Same with this one @julio8a, LGTM but if I can get a designer to look at this one for verification that would be great. Thanks!

[2021-09-14 23:56] benelan commented on #2082
Verified on storybook after beta.64 release. Awesome stuff!
https://esri.github.io/calcite-components/?path=/story/components-tree--simple

[2021-09-14 23:56] #2082 closed

[2021-09-15 00:09] macandcheese commented on #2473
LGTM @benelan

[2021-09-15 00:09] macandcheese commented on #2460
LGTM @benelan

[2021-09-15 00:10] benelan commented on #2473
Thanks, verified and closing

[2021-09-15 00:10] #2473 closed

[2021-09-15 00:10] benelan commented on #2460
Thanks, verified and closing

[2021-09-15 00:10] #2460 closed

[2021-09-15 00:45] macandcheese opened #3043 "Enhancement: [Rating] Add ability to clear a user-set rating"
### Description
Currently there is no built-in functionality to allow a user to clear the rating.

### Acceptance Criteria
A user is able to clear their rating.

### Relevant Info
The suggestion is to allow a click, space, or enter interaction on the current value star to "reset" the value.
If this is the new default behavior, should a "disable this" prop be available?

#### Which Component
Rating

[2021-09-15 00:47] benelan commented on #3043
"indelible" is a prop name that comes to mind but we might need a more common word.

[2021-09-15 01:49] #2439 closed

[2021-09-15 01:49] #654 closed

[2021-09-15 03:47] julio8a commented on #2863
verified with local build

[2021-09-15 03:47] #2863 closed

[2021-09-15 03:49] julio8a commented on #2659
Verified on master, demo pages.

[2021-09-15 03:49] #2659 closed

[2021-09-15 03:52] julio8a commented on #2962
🔥 verified on master

[2021-09-15 03:52] #2962 closed

[2021-09-15 04:32] julio8a commented on #1921
verified on master

[2021-09-15 04:32] #1921 closed

[2021-09-15 15:49] anveshmekala commented on #2597
@benelan That's the expected behavior. Icon when positioned at end will point down when closed and up when open.

[2021-09-15 15:51] benelan commented on #2597
Oh maybe I misunderstood the instructions, @asangma can you verify this one for me please?

[2021-09-15 16:02] jcfranco commented on #3035
Installed

[2021-09-15 17:31] macandcheese commented on #2624
@benelan @julio8a can we bump the priority of this? Should be an easy change.

[2021-09-15 17:35] jcfranco commented on #2806
Agreed, making sure that the root container (not host) creates a stacking-context is the way to go. I'll see if there's a way we can add a lint rule for this and avoid checking at test time.

Apologies for the delay.

[2021-09-15 17:44] benelan commented on #2624
@macandcheese moved to the backburner, which means you can grab it during any sprint that you have time

[2021-09-15 18:08] driskull commented on #3043
It might be better to add a prop `required` in which case unset is disabled.

[2021-09-15 19:50] benelan commented on #2597
Alan verified

[2021-09-15 19:50] #2597 closed

[2021-09-15 21:27] AdelheidF opened #3046 "Bug: calcite-radio-button labels display under radio button"
Worked with beta.61, broke with beta.62 with this install https://github.com/Esri/calcite-components/commit/ee2c5a515826e68b6a086622d585274db7ac934d.

In case you're wondering, I can't use `calcite-label` inside `calcite-radio-button-group` because of https://github.com/Esri/calcite-components/issues/1121.

beta.61:
![image](https://user-images.githubusercontent.com/44481292/133511597-73f51f31-b6f

[2021-09-15 21:31] AdelheidF commented on #3046
I did provide a code snippet

[2021-09-15 21:33] benelan commented on #3046
Can you please provide a link to a codepen, codesandbox, jsbin instead of pasting the code into the issue? The links above have template samples that you can use. Thanks!

[2021-09-15 22:29] benelan commented on #2860
Components that still have missing usage examples:
- [ ] card
- [ ] input-date-picker
- [ ] input-time-picker
- [ ] calcite-radio-group
- [ ] calcite-rating (needs another)
- [ ] link
- [ ] pagination (needs rework)
- [ ] progress (has a TODO header??)
- [ ] tile

[2021-09-15 23:10] asangma opened #3048 "Bug: Dropdown wrapper causes UI bug when combined with a Panel in a PickList"
### Actual Behavior
Because the `calcite-dropdown-wrapper` node still has a height when its hidden, it can cause height calculation issues in small containers.

### Expected Behavior
Dropdown item container shouldn't have a height when hidden.

### Reproduction Steps and Sample

_Sample_: https://codepen.io/mtb-alan/pen/wvePErY

1. Use filter to search for "lisa"
2. Observe as the items disappear.

[2021-09-15 23:13] asangma commented on #3048
@jcfranco @julio8a  @benelan This could use some priority. The combo of PickList in a Panel (often in a Popover) with actions is a regular occurrence in existing and upcoming interfaces.

[2021-09-15 23:14] benelan commented on #3048
@asangma This sprint is already quite hefty, I'll put it in the next one

[2021-09-15 23:15] asangma commented on #3048
Thanks @benelan!

[2021-09-15 23:47] ethanbdev opened #3051 "Docs: List the allowed values for the placement attribute for `calcite-popover` and `calcite-tooltip`"
### Description
In the developers doc, the allowed placement values for a calcite popover/tooltip are not listed. It is difficult to tell what the placements are without going to popperjs and looking.

https://developers.arcgis.com/calcite-design-system/components/popover/#component-api-properties-placement
![image](https://user-images.githubusercontent.com/52869490/133527378-9eb4080a-3ef7-4bf0-81

[2021-09-16 00:00] macandcheese commented on #3051
cc @caripizza - related to our previous documentation site issues.

[2021-09-16 00:01] benelan commented on #3051
@ethanbdev, It's in storybook, you can get the options there for now: https://esri.github.io/calcite-components/?path=/story/components-popover--simple

[2021-09-16 00:04] macandcheese commented on #3051
For the documentation site, we looked at using the @see tag in the docs-json output, but that would just send people off the documentation site anyway.

If there's a way to get the values into that output file, we can then pull them into the docs site.

[2021-09-16 00:05] benelan commented on #3051
I'll look into that @macandcheese

[2021-09-16 00:08] ethanbdev commented on #3051
Ah thanks, I didn't see them in the readme and just assumed. I'll pass it along!

[2021-09-16 00:45] macandcheese commented on #3051
@ethanbdev I've opened a tracking issue for this on the developer site side of things: https://github.com/ArcGIS/afd-calcite-documentation/issues/203.

This should help clean up other instances of properties (and some event detail items) like this across components besides the ones shown here.

[2021-09-16 16:43] AdelheidF opened #3053 "Bug: calcite-input type:number allows multiple dashes"
https://developers.arcgis.com/calcite-design-system/components/input/
![image](https://user-images.githubusercontent.com/44481292/133652330-df000f96-f1e0-49d2-8fee-ab9a0e8a170c.png)

or 5-5-5-5

### Actual Behavior

### Expected Behavior

### Reproduction Steps and Sample

_Sample_:

1.

### Relevant Info

_Version_: `@esri/calcite-components@<version>`

- [ ] CDN
- [ ] NPM package

[2021-09-16 17:37] asangma commented on #2597
![yay](https://media.giphy.com/media/j6NbehBiL808NVgDY5/giphy.gif)

[2021-09-16 17:37] macandcheese commented on #3051
@ethanbdev This PR https://github.com/ArcGIS/afd-calcite-documentation/pull/204 should resolve the documentation site side of things - we should be able to verify the changes after next week's Developer site deployment.

[2021-09-16 17:38] macandcheese commented on #3051
@ethanbdev This PR https://github.com/ArcGIS/afd-calcite-documentation/pull/204 should resolve the documentation site side of things - we should be able to verify the changes after next week's Developer site deployment.

@benelan feel free to adjust tags and labels as needed based on the above.

[2021-09-16 17:48] macandcheese opened #3055 "Enhancement: [Combobox] - Always display chevron, regardless of selection-mode"
### Description
Currently, the chevron affordance is only displayed for `selection-mode="single"`. It strikes me as a little strange to have it for one selection mode, but not others. I understand that when a chip is in a combobox, that affordance may become superfluous, but at idle, the selection mode dropdowns behave the same, - I'd like to update them all to have the chevron at idle.

This is c

[2021-09-16 18:13] caripizza commented on #1549
@julio8a what does this mean exactly? Can you clarify?

[2021-09-16 18:59] ellenupp commented on #2992
Something like that would be great, but for all the borders around the content not just top/bottom.

[2021-09-16 19:13] benelan commented on #3035
Verified in beta.65 using the codepen in the issue.

[2021-09-16 19:13] #3035 closed

[2021-09-16 19:15] benelan commented on #2860
Installed, @julio8a or @jcfranco, can I get a verification please.

[2021-09-16 19:42] zaramatheson commented on #3025
@kevindoshier @driskull Is it expected that this should be in the MV today? We are still seeing an issue on 1280x1024 monitor and smaller window sizes

![image](https://user-images.githubusercontent.com/50747646/133675803-8498eb95-7f19-47fb-95a4-1316a037ba75.png)

[2021-09-16 19:44] benelan commented on #3025
@zaramatheson it should be in beta.65, is that the version being used?

[2021-09-16 19:46] kevindoshier commented on #3025
Todays build is using beta.65,  also Im able to repro here if I shrink the window really small

https://esri.github.io/calcite-components/?path=/story/components-shell--basic

[2021-09-16 19:54] driskull commented on #3025
@kevindoshier there's not enough icons to reproduce it in that sample.

[2021-09-16 19:59] kevindoshier commented on #3025
@driskull - thats true, will this work?
https://codepen.io/kevindoshier/pen/rNwpKVe

[2021-09-16 20:09] driskull commented on #3025
Seems like its working correctly there if you set the height to 400px in the code instead of 800.

@kevindoshier Can you tell me why this shell container has a height of 0? seems like that might be an issue.

![image](https://user-images.githubusercontent.com/1231455/133679068-058a284e-8067-4981-b8f5-006f04ce58c4.png)

Also, seems like the body of the page should have a margin and padding of 0 set

[2021-09-16 20:12] kevindoshier commented on #3025
I set it to 400 and still dont see a scrollbar on the actionBar

![image](https://user-images.githubusercontent.com/11093161/133679327-80c5f1ee-c658-4221-80b0-6e12dbd75baa.png)

Im he height of 0 coming from the mapViewer?

[2021-09-16 20:13] driskull commented on #3025
Yes.

[2021-09-16 20:14] kevindoshier commented on #3025
Im not sure why that would be 0 in the mapViewer

[2021-09-16 20:17] driskull commented on #3025
The body of the MV should set the margin/padding to 0 and a height/width of 100% I think.

[2021-09-16 20:18] kevindoshier commented on #3025
Sounds good Ill make those changes 👍

[2021-09-16 22:48] AdelheidF opened #3058 "Bug: calcite-combobox should close with dropdown open when clicking on box"
Click twice on the yellow highlighted area of the combobox. It should close the dropdown on the second click.
If you do this to the also highlighted calcite-select box for overlay-positioning then this is how it works there.

https://developers.arcgis.com/calcite-design-system/components/combobox/
![image](https://user-images.githubusercontent.com/44481292/133695041-56692161-6326-4e83-8395-e1edfbc

[2021-09-16 22:58] AdelheidF commented on #3058
from @kevindoshier

https://codepen.io/kevindoshier/pen/YzQYRZm

[2021-09-16 23:27] macandcheese commented on #3058
This is a reasonable enhancement (not sure if it's a bug - just never addressed in design or implementation). This change would match how `calcite-dropdown` works in regards to the trigger being a toggle (as well as anywhere else on the page).

Regarding `calcite-select`, it looks like our "cursor: pointer" that is set for an open `calcite-select` persists across other elements on the page. It sho

[2021-09-16 23:39] macandcheese opened #3059 "Bug: [Combobox] - Incorrect display of long strings and single select value"
### Actual Behavior
There is a scrolling behavior that currently occurs inside a combobox input when the string is "too long". However, it appears that width is not as wide as the input.

For `selection-mode=single`, the above is not an issue but there is a gap between the border of the input and where the text is placed...

### Expected Behavior
The input should be as wide as the container allows

[2021-09-16 23:44] macandcheese commented on #3059
It looks like the "selection-mode=single" alignment issue is caused by the combobox inheriting the `text-align:center` from the jsbin sample code... Probably similar to https://github.com/Esri/calcite-components/pull/3039#issuecomment-920208922

I am of the opinion that for both of those instances, the combobox should not inherit either text-align:center or the font-weight in the above comment. Ho

[2021-09-17 15:45] caripizza commented on #2928
Adding guidance from @driskull when I asked about this issue in Teams yesterday:

[2021-09-17 15:49] benelan commented on #3053
As mentioned, this issue is reproducible in the doc so the request for additional information is not applicable, thanks!

[2021-09-17 16:47] jcfranco opened #3063 "Tooling: Ensure demo pages are axe-compliant"
## Summary

Running axe on the demo pages will help catch invalid use cases that may be referenced as samples. For example, [this label example](https://github.com/Esri/calcite-components/blob/de25ec6/src/demos/calcite-label.html#L200-L252) is not valid as nested label elements are not supported per https://www.w3.org/TR/2013/CR-html5-20130806/forms.html#the-label-element.

As a first step, the [`

[2021-09-17 17:09] driskull commented on #3025
Seems like its still an issue. I think I might know what the problem is but we should probably pick it up next release.

@kevindoshier we can try a MV workaround to trigger a resize on the action-bar elements possibly.

Can you try setting an initial height on the action-bar elements like `height: 0px;` and then remove that style once the page is loaded? Maybe via a class or something?

[2021-09-17 17:14] kevindoshier commented on #3025
Yeah Ill experiment with that, but I agree I think lets fix this at 9.4, its already like this on production too

[2021-09-17 17:53] BlakeStearman opened #3064 "A11Y: [calcite-modal] Focus trapping issue with disable-close-button"
**Issue**
When `disable-close-button` is set on the `calcite-modal`, focus trapping doesn't work and the user is allowed to tab out of the modal to other page or browser elements.

I've attached a simple test case illustrating this with `disable-close-button` active. If you simply remove the `disable-close-button` attribute, focus trapping will work.

Discovered in beta 65.

**Sample**
https://cod

[2021-09-17 18:57] macandcheese commented on #2974
Following up re: Teams chat about ‘action’ - we should also make sure the verbiage used for default slot documentation across the all components is generalized and made consistent.

[2021-09-17 19:08] dozer76 opened #3066 "Bug: calcite-select component does not show values on iOS"
### Actual Behavior

The calcite-select component does not show the dropdown values on iOS devices.
![IMG_9DFDA7DDFC61-1](https://user-images.githubusercontent.com/72032353/133840985-f8801a63-4c76-412f-91bc-e3a0c7ce004c.jpeg)

![IMG_BE763B42C0A5-1](https://user-images.githubusercontent.com/72032353/133841247-04182083-fa94-47dd-8cd8-f7c29bbf065e.jpeg)

### Expected Behavior

The values should be sh

[2021-09-17 19:08] benelan commented on #2974
@macandcheese yeah this issue is part of an upcoming epic already planned out for syntax/verbiage consistency throughout usage, prop, and slot doc

[2021-09-17 19:13] dozer76 commented on #3066
It turns out this is fixed in v63, closing.
https://codepen.io/svlesiv/pen/rNLQvaQ

[2021-09-17 19:13] #3066 closed

[2021-09-18 00:07] AdelheidF opened #3069 "Bug: calcite-block-section long header text does not wrap"
https://esri.github.io/calcite-components/?path=/story/components-block--basic

- add `width: 400px;` to the `calcite-block` element
- Change `Animals` text and make it longer, make sure not to add spaces

![image](https://user-images.githubusercontent.com/44481292/133864862-5f708f92-cee5-4ba3-be33-b59beb669702.png)

`calcite-block` handles this fine.

### Actual Behavior

header does not wrap

##

[2021-09-18 01:48] #1458 closed

[2021-09-18 01:48] #1420 closed

[2021-09-18 01:48] #1398 closed

[2021-09-18 01:48] #1379 closed

[2021-09-18 01:48] #1297 closed

[2021-09-18 01:48] #1159 closed

[2021-09-18 01:48] #1078 closed

[2021-09-18 01:48] #1025 closed

[2021-09-18 01:48] #1010 closed

[2021-09-18 16:35] dhrumil83 opened #3071 "Bug: calcite-dropdown displays max-items correctly but adds scrolling"
### Actual Behavior
beta.65 you can scroll as in the gif. If you click on the dropdown first, cannot scroll.
Note: This only occurs if you have many items in the dropdown, and the display is controlled via max-items.

![draw](https://user-images.githubusercontent.com/14285436/133895758-c269b5e2-1e2b-40b3-99f9-b055a4249f3b.gif)

### Expected Behavior
Change to beta.59 and things works as expected,

[2021-09-19 01:47] #971 closed

[2021-09-20 01:47] #969 closed

[2021-09-20 01:47] #890 closed

[2021-09-20 16:24] julio8a commented on #1549
It has to do with the tappable appearance, example:
<img width="397" alt="image" src="https://user-images.githubusercontent.com/6144462/134038257-e41e3454-f181-4191-89ed-546af9c8ffd3.png">

@arjavbadjatiya had brought this up before. Anything to add @arjavbadjatiya for accessibility other than the tappable appearance?

[2021-09-20 18:16] arjavbadjatiya commented on #1549
@julio8a Yes, the main thing reiterated by Level Access as well was the ability to understand the interactive area for any input. The minimal style is a concern for someone with vision issues that uses a magnifying tool to interact with a page. They would either have trouble recognizing a decorative line vs input or knowing where to click/tap to get started.

[2021-09-20 18:25] macandcheese opened #3074 "Enhancement: Add clear affordance to combobox"
### Description
Follow up from Teams chat:

I'd like to propose adding a default clear button affordance, on single / multi select mode on combobox.

Consider these two comboboxes, both in (current) single mode:

https://jsbin.com/qodekogepi/1/edit?html,output

The first, as a user, is empty. If I select a value, I have no way to remove that now. The second, as a user, is already populated. This w

[2021-09-20 20:32] asangma commented on #2957
Toight!

[2021-09-20 20:32] #2957 closed

[2021-09-20 21:52] asangma opened #3075 "Enhancement: Block loading state when not open"
### Description
Add a way to see if Block is `loading` when its not `open`.

### Acceptance Criteria
* Design should use existing slots

### Relevant Info

#### Which Component
Block

#### Example Use Case
Have a consistent design for a Block that is in a loading state but is not open.

#### Proposed design
![image](https://user-images.githubusercontent.com/12503298/134081542-8a48c08d-03db-491a-b8

[2021-09-20 23:23] AdelheidF opened #3079 "Bug: calcite-input showing Arabic characters for numbers only, add an option to switch to western numbers"
Original issue submitted by Olga.

In FF and Safari when language is set to ar numbers in the input boxes appear in Arabic. Chrome doesn't have this problem, it is always showing English numbers. We only want to see English numbers, no matter the user's language.

![image](https://user-images.githubusercontent.com/44481292/134092650-58cda652-dd47-4d9f-8d40-7515e7abd9f2.png)

![image](https://user-

[2021-09-20 23:48] caripizza commented on #2481
Installed via pr #3078

[2021-09-21 00:55] jcfranco opened #3081 "Enhancement: allow customizing the animation/transition duration of components"
### Description

Allowing users to customize the animation/transition duration will help with:

1. Accessibility – end-users can modify the duration based on https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
2. Testing – for screenshot testing,  it is crucial to be able to set the animation/transition duration to 0 to avoid unrelated failures

For now, this issue shoul

[2021-09-21 01:47] #940 closed

[2021-09-21 17:29] benelan commented on #3079
Reproducible in firefox: https://jsbin.com/yarikuquji/edit?html,output

[2021-09-21 18:26] AdelheidF commented on #2889
not yet fixed with beta.65 https://codepen.io/afreitag/pen/jOwKGmK?editors=1010

[2021-09-21 18:38] AdelheidF commented on #2113
@mitc7862 do you still want the icon for the polygon layer? There is no good place for it yet.

![image](https://user-images.githubusercontent.com/44481292/134228293-4c6ec0df-a4ae-4dc5-97bc-8803b537e569.png)

[2021-09-21 20:10] benelan commented on #3051
verified in next sites afd

[2021-09-21 20:10] #3051 closed

[2021-09-21 20:32] caripizza commented on #2480
Installed via pr #3083

[2021-09-21 20:53] benelan commented on #2881
Whoops I'll fix that. @jcfranco or @julio8a can I get a verification on this issue?

[2021-09-21 21:32] jcfranco commented on #2881
I'll verify.

[2021-09-21 22:20] caripizza commented on #2807
Can we add documentation for stepper/stepper-item's slots too?

[2021-09-22 15:58] caripizza commented on #2480
@benelan it looks like this also happens in a histogram range - I'll open a pr for that edge case fix today since I missed that before.

[2021-09-22 17:46] julio8a commented on #2860
Verified on master

[2021-09-22 17:46] #2860 closed

[2021-09-22 18:02] julio8a commented on #2901
Verified on master demo pages.

[2021-09-22 18:02] #2901 closed

[2021-09-22 18:40] julio8a commented on #2808
Verified on master demo pages.

[2021-09-22 18:40] #2808 closed

[2021-09-22 20:19] julio8a commented on #2880
I took screenshots in the HTML demo pages and placed them side by side.

Widths looks good:
![image](https://user-images.githubusercontent.com/6144462/134415796-0e993fa7-22de-4705-b156-0e0603c4b1b5.png)

However, the height of the checked non-focused checkbox is 1px smaller than the rest.
![image](https://user-images.githubusercontent.com/6144462/134415684-44defeb1-8149-4d99-8773-5a5f08701983.png)

[2021-09-22 23:10] caripizza commented on #2480
Additional histogram fix installed via pr #3092.

[2021-09-22 23:28] julio8a commented on #3016
Closing this one. Let's use #2079

[2021-09-22 23:28] #3016 closed

[2021-09-22 23:30] julio8a commented on #3007
maybe related #3071

[2021-09-22 23:34] julio8a commented on #2765
@babakbolour What's the best approach here?

[2021-09-22 23:39] jcfranco commented on #2112
@paulcpederson @caripizza Can either of you look at this for the incoming sprint?

[2021-09-22 23:40] jcfranco opened #3096 "`calcite-select.tsx`"

[2021-09-22 23:41] caripizza commented on #2112
@jcfranco yep I can!

[2021-09-22 23:45] jcfranco commented on #3096
Testing out the task-to-issue feature in GitHub task lists. Closing!

[2021-09-22 23:45] #3096 closed

[2021-09-23 00:43] benelan commented on #2765
Related issue: #3079

[2021-09-23 04:18] babakbolour commented on #2765
@julio8a I have to pull in @raje9276  to comment on the approach/solution. we may need one for Web apps and a diff approach for Windows. (side note - it was just lately that MS removed the 'Native digit' setting from the Region setting)

[2021-09-23 05:44] raje9276 commented on #2765
@julio8a Is the requirements to accept both Western and Arabic numbers?

[2021-09-23 05:51] raje9276 commented on #2765
Chrome Arabic issue: https://bugs.chromium.org/p/chromium/issues/detail?id=694391. When UI language is set to Arabic, input type number accepts Arabic numbers.

[2021-09-23 16:21] kevindoshier commented on #3025
I tested the scenario of setting the height on the calcite-action-bar to 0 using a class, then once the page loads removing it, but it doesnt seem to change anything, the overflow menus still do not appear

[2021-09-23 16:29] driskull commented on #1097
I think we can close this one.

[2021-09-23 16:29] #1097 closed

[2021-09-23 16:37] driskull commented on #3025
Ok, I think we need to pick it up in next release then.

[2021-09-23 16:42] julio8a commented on #2765
@raje9276 and @babakbolour, this issue references the use of local number support. However, this issue #3079 is requesting only English number support. We are looking for guidance and best practices from the i18n team on the best way to move forward.

[2021-09-23 18:53] benelan opened #3097 "Docs: generalize default slots that are too specific"
### Description
Some of the default slots are too specific which has caused some confusion for users who want to add their own custom content. As an example, `calcite-action`'s default slot is "A slot for adding a `calcite-icon`." However, users can also add their own custom content, such as images to this default slot.

@macandcheese suggested that all of the default slots that aren't specificall

[2021-09-23 18:57] macandcheese commented on #3097
I prefer the "generic" copy for non-child-component slots - although maybe I'm just opposed to that specific recommendation of `calcite-icon` inside `calcite-action`, since the built in icon prop should be used _almost_ all the time there.

[2021-09-23 19:06] babakbolour commented on #2765
@julio8a  our team recommendation is to support Arabic native digits in inout and display. this is industry standard. Many esri apps do support this and some don't. However with Calcite going public, it emphasizes more on this nativie digit support requirement.  FF, Chrome/Edge, Safari all support this.  @raje9276 can work with you and others if you need some coding best practices.

[2021-09-23 19:16] benelan commented on #3097
Maybe `calcite-action` isn't a good example since it has a prop for the icon. Another example would be `calcite-scrim`. It could be generic, but it may be better to provide some additional insight so people use it correctly. For example: "

[2021-09-23 19:32] julio8a commented on #3079
@AdelheidF, where does the requirement to only support English numbers come from?
@babakbolour mentioned that showing Arabic characters is the best practice, see comment here: https://github.com/Esri/calcite-components/issues/2765#issuecomment-926079026

[2021-09-23 19:39] AdelheidF commented on #3079
Map Viewer issue 3854

[2021-09-23 20:01] benelan opened #3099 "Bug: combobox inside of modal not overflowing correctly"
### Actual Behavior
The `calcite-combobox` list container opens inside of the `calcite-modal` content div rather than overflowing.

### Expected Behavior
The `calcite-combobox` list container overflows correctly like it does with `calcite-select`.

### Reproduction Steps and Sample

_Sample_:
`calcite-select`: https://codepen.io/benesri/pen/NWgLgJJ
`calcite-combobox`: https://codepen.io/benesri/pe

[2021-09-23 20:06] benelan commented on #3099
Changing the modal class to `overflow-visible` has worked for me in the past with bootstrap, but since it currently works for `calcite-select` there may be a different approach?

[2021-09-23 20:53] caripizza opened #3101 "Bug: a range slider's minValue thumb should appear on bottom near max edge when handles collide"
### Actual Behavior
In a `mirrored` range slider with `label-handles` ~

#### A.
When the minValue thumb is moved via keyboard or mouse towards the max edge, it's positioned **above** the maxValue thumb on the range with the maxValue thumb below (bug):

![image](https://user-images.githubusercontent.com/42423180/134575979-bb03d780-3789-409e-9405-f3962b3d0e7c.png)

#### B.
The `.hyphen` class gets

[2021-09-23 21:01] caripizza commented on #1431
Should the updated box-shadows correspond to the output of this calcite-base mixin?

https://github.com/Esri/calcite-base/blob/master/dist/_shadow.scss

(Currently only referenced in [calcite-slider](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-slider/calcite-slider.scss#L256).)

[2021-09-23 21:36] caripizza commented on #2928
This doesn't just apply to the value coming through in the event, it also seems to apply to the tick values getting generated in slider's [`while` loop](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-slider/calcite-slider.tsx#L839).

While working on #2457, I noticed that when `ticks` is a decimal (ex: 0.1), some of the generated tick values end up like `-1.387778780

[2021-09-23 21:51] jgibson02 opened #3102 "Bug: Multiselect dropdown reverts to single select when remounted"
This may be specific to calcite-components-react

### Actual Behavior
When a multiselect dropdown is unmounted and remounted to the DOM, the calcite-dropdown-items seem to revert to single selection mode.

Before unmount:
![image](https://user-images.githubusercontent.com/5069711/134588856-197086c2-7649-4d31-9df8-14edbf77ff62.png)

After remount:
![image](https://user-images.githubusercontent.com/

[2021-09-23 22:52] driskull commented on #2928
@caripizza we may need to try something like...

[code]

I think we should have a `@State stepDecimals: number;` that is generated when steps are set.

[2021-09-23 23:30] macandcheese opened #3103 "Bug: [Combobox] - Do not open dropdown when clicking on chip dismiss button."
### Description
Currently, if a user interacts with the dismiss button on a chip inside a combobox, the dropdown menu opens.

### Acceptance Criteria
The dropdown state should not be affected by interactions with the dismiss button of a chip.

#### Which Component
Combobox

#### Example Use Case

[2021-09-23 23:32] babakbolour commented on #3079
@AdelheidF here is my perspective on this:  What Map Viewer has implemented or restricted users to (English numbers), is Map Viewer (or even Esri app) app specific. Calcite is not only for internal esri-developed apps, but also for public to use and create solutions/GIS apps. For that, it would be best to not exclude or restrict our users to only use English/western digits.
Also, @raje9276 is sayi

[2021-09-23 23:57] AdelheidF commented on #3079
Ok, is there an option to change it to western?

[2021-09-24 06:10] babakbolour commented on #3079
@AdelheidF let me talk to Olga and get back to you and clarify.

[2021-09-24 16:57] jcfranco opened #3105 "Bug: [slider] clicking directly on thumb should not change value"
### Actual Behavior

Clicking on either of the slider's thumbs directly will change the value.

**`calcite-slider`**
![slider-thumb-offset](https://user-images.githubusercontent.com/197440/134712667-82814895-eb36-421a-a6f0-2abab4620cf1.gif)

### Expected Behavior

Clicking on a thumb should not change the value. Once the mouse moves after pressing on a thumb should it update the value.

**`input`

[2021-09-24 17:22] julio8a commented on #3011
There is a task in progress that should address this: https://github.com/Esri/calcite-components/issues/2652

[2021-09-24 17:25] anveshmekala commented on #3011
@julio8a this issue is an extension for #2652.

[2021-09-24 17:37] jcfranco commented on #2914
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/calcite-5f7d10460071bf0024e66277/issues/Esri/calcite-components/2914?planning-poker) with ZenHub @caripizza

[2021-09-24 17:47] jcfranco commented on #2835
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/calcite-5f7d10460071bf0024e66277/issues/Esri/calcite-components/2835?planning-poker) with ZenHub @macandcheese

[2021-09-24 17:50] julio8a commented on #2800
Tweaking values would be the best approach here. @asangma and @macandcheese can you guys work on this to find the optimal timing updates.

[2021-09-24 17:51] macandcheese commented on #2835
@jcfranco - added, although this still needs design. I'll add it to my queue (ha... )

I would, if possible, like to avoid the need for a wrapping component that handled the dismissal of "revealed" stack of alerts.

However there does need to be an affordance added outside of the alerts themselves that would allow a user to "collapse all".

[2021-09-24 17:53] julio8a commented on #2793
This still needs more design for different layouts on input, i.e. inline.

[2021-09-24 17:55] KatelynSeitz commented on #2848
Does the Calcite checkbox have to use this icon: https://esri.github.io/calcite-ui-icons/#check
or are there components that are designed outside the icon library perhaps with HTML? I am thinking of other UI elements that are small, but not Calcite UI icons such as toggles, radio button, etc.

[2021-09-24 17:56] macandcheese commented on #2800
Will be hard to find values that please everyone, can we consider having a single default that is overridable (and has a minimum speed set and documented to prevent folks putting an alert up for .005 ms or whatever)

[2021-09-24 18:00] julio8a commented on #2770
This should be done in `shell-panel` as @driskull suggested.

[2021-09-24 18:05] benelan commented on #2767
@asangma Is this still valid?

[2021-09-24 18:19] benelan commented on #2992
@ellenupp, can you please provide some more information about your use case, and if possible a codepen that demonstrates the issue?

[2021-09-24 18:22] jcfranco commented on #2800
Let's see if we can fine-tune the existing values first. Granted, it may not please everyone, but at least we'll have a consistent way of defining durations across components.

[2021-09-24 18:23] benelan commented on #3103
The issue is reproducible in the doc:
https://developers.arcgis.com/calcite-design-system/components/combobox/#sample

1) Select a couple combobox items
2) Unfocus the dropdown
3) Close one of the chips and the dropdown will open

[2021-09-24 18:25] macandcheese commented on #3103
@benelan - Sorry for not having the example -  I had added a video, realized I uploaded the wrong video, edited the video out, had an issue with screen recording software, and forgot to re-add the example 😄 . Thanks for linking.

[2021-09-24 18:26] benelan commented on #3103
@macandcheese no worries, enhancements don't need samples. We just decided it was more of a bug so it asked for one when I changed it.

[2021-09-24 18:27] jcfranco commented on #3011
@gavinr I forgot to do this sooner, but can you share an example or provide more info on your use case? When `steps` are configured, the events are only emitted when the thumbs go between steps. Once #2562 lands, you'll have access to both input and change events.

[2021-09-24 18:37] jcfranco commented on #2878
I think content slots are not interactive by design, but I could be wrong. @asangma Can you chime on this one?

[2021-09-24 19:13] macandcheese commented on #2012
I'm going to close this since it should be achievable with this issue that updates the alert to accept slotted actions like Notice: https://github.com/Esri/calcite-components/issues/2382.

[2021-09-24 19:13] #2012 closed

[2021-09-24 19:24] KatelynSeitz commented on #2848
Request submitted for new check icon to live in this component. Thanks for the suggestion, @janett-baresel

[2021-09-24 19:27] julio8a commented on #1431
This one was moved to the Oct 11 sprint. @macandcheese will need to give this another design review.

[2021-09-24 19:43] gavinr commented on #3011
When using this component to control which layer is on the map, if you setup a slider like this, you can see on the event we have to check if it changed. Would like to not have to do that and only get an event once per change.

[code]

I am not aware of `steps` - only the `step` property. Can you tell me more about `steps` and where I can find that documentation? Maybe that's a solution/workaround

[2021-09-24 21:30] jcfranco commented on #3011
My bad, I meant to write `step`. Going back to this issue, #2562 should address this concern. To summarize it will update the slider to:

1. emit `calciteSliderInput` events whenever the value changes
2. emit `calciteSliderChange` events whenever the value changes (except updates between thumb dragging)
3. only emit either of the above when the underlying value has truly changed

[2021-09-24 21:41] babakbolour commented on #3079
@AdelheidF I chatted with Olga on what she recommended originally and the different recommendations between Olga's and mine.  What Olga did not know when she gave her recommendation, is that Calcite is now a customer-facing product/platform, released to global non-Esri people. Given this new information, she agrees with my recommendation - to support Arabic indic digit in Calcite input. pls let us

[2021-09-24 21:47] annelfitz opened #3107 "Bug: Can't type multiple zeros to create decimals when input < 1 for CalciteInput type=number"
### Actual Behavior

I am not able to type 0s after a decimal point if the input is less than 1. For instance, `0.01` or `0.505` is not a possible input, the 0s after the decimal place simply cannot be typed. I can access these numbers if I use the up/down arrows, but not by typing. This only occurs when the input is less than 1.

### Expected Behavior

I expect that I would be able to type zeros

[2021-09-24 21:58] benelan commented on #3107
Whoever works on this should also do #3053. It looks like the number validation methods need some love.

[2021-09-24 22:01] macandcheese commented on #2624
For posterity - I spoke with @anveshmekala regarding the `a CSS transition makes the height change in a smooth fashion.` portion of the OP - that can be re-examined if needed in a follow up issue.

[2021-09-24 22:02] annelfitz commented on #3107
also https://github.com/Esri/calcite-components/issues/3017
I was surprised I had to set the `step` property just to be able to type in decimals in the first place

[2021-09-24 22:30] AdelheidF commented on #3079
Talked to Olga again and we do want western numbers inside the Map Viewer, because every other piece displayed in that app uses western numbers.

Could we add an option so we can switch between western and Arabic numbers for `calcite-input`?

[2021-09-24 22:41] arjavbadjatiya opened #3108 "New Component: Color contrast/legibility checker"
### Description
Color contrast checker component that indicates legibility of a selected foreground color (or multiple foreground colors) on a selected background color.

#### Current implementation
An initial version of this was implemented in ArcGIS Online under Organization > Security > Information banner and Organization > General > Shared themes. A more accessible and improved version was imp

[2021-09-24 23:53] jcfranco opened #3109 "Bug: [slider] clicks on a range slider cause the max-value thumb to be focused"
### Actual Behavior

Clicking on the min-value thumb or the track always focuses the max-value thumb.

![max-value-thumb-always-focused](https://user-images.githubusercontent.com/197440/134750123-c4aeaad0-82f3-4070-ab54-a97d37c9abcc.gif)

### Expected Behavior

1. Clicking on min-value thumb, should focus the corresponding thumb
2. When clicking outside the track, the closest thumb should be focus

[2021-09-24 23:55] caripizza commented on #3109
The Expected Behavior sounds correct to me 👍

[2021-09-25 00:24] benelan commented on #2972
@macandcheese and @asangma, I put together a table to keep track of the components' spacing/scale once you start working on this issue.

https://github.com/Esri/calcite-components/wiki/Scale-Spacing-Table

[2021-09-27 15:53] gavinr commented on #3011
Great, yes sounds like #2652 will address the concern. I'll close this for now, and re-open if needed after that issue is completed.

[2021-09-27 15:53] #3011 closed

[2021-09-27 16:18] benelan commented on #2517
verified on storybook

[2021-09-27 16:18] #2517 closed

[2021-09-27 20:45] joeyHarig opened #3117 "Bug: calcite-tree selection-mode of multi"
### Actual Behavior
When `selection-mode` for `calcite-tree` is set to `multi` or `multi-children`, the user is still unable to select multiple `calcite-tree-items`.

### Expected Behavior
A `selection-mode` of `multi` or `multi-children` should allow the user to select multiple `calcite-tree-items`. The event `calciteTreeSelect` should also return an array of all selected items, not just the most

[2021-09-27 21:15] benelan opened #3119 "Unstable Test: calcite-action-bar › 'calciteActionMenuOpenChange' event should set other 'calcite-action-group' - 'menuOpen' to false"
## Summary

**Which component?:**
`calcite-action-bar`
**Which test(s)?:**
` 'calciteActionMenuOpenChange' event should set other 'calcite-action-group' - 'menuOpen' to false`
**Test error:**
[code]

**PR that skipped the test:** #3118

## Additional Info

[2021-09-27 21:31] jmanke opened #3120 "Bug: calcite-radio-group emits multiple calciteRadioGroupChange events"
### Actual Behavior
The calcite-radio-group emits multiple calciteRadioGroupChange events, with the event's detail alternating between the previous and the selected value. Note that this bug was originally found in EmberJs.

### Expected Behavior
Only one calciteRadioGroupChange should be fired when making a selection to be consistent with how this event is usually emitted.

### Reproduction Steps

[2021-09-27 21:56] caripizza commented on #3117
@joeyHarig as far as I know, the "shift" key is required when selecting multiple tree-items with either "multi" or "multi-children" selection-modes. (I made a run-down of the behavior I noticed [here](https://github.com/Esri/calcite-components/pull/2803#issue-969712281) for reference.)

[2021-09-27 22:02] caripizza commented on #3064
@BlakeStearman modal also has a `disable-outside-close` attribute, would that work for you here?

[2021-09-28 00:10] ellenupp commented on #2992
[Example 1](https://nickelbuilder.esri.com/buildStore/PR-5357/dashboards/76f961fb0eea4cdbaa5f2b13ba3cd496#mode=edit)
We are always using the shell in light mode but the contents (i.e. a dashboard) could be in light or dark mode. The problem is easier to see when the contents is in dark mode as in this sample. Hit shift+S to switch from edit to view mode. In view mode, the content is still in the s

[2021-09-28 16:10] caripizza commented on #3117
I had the same thought myself @joeyHarig. AFAIK, tree's multi-select behavior was added via these specs (which mention the Shift key to select multiple list items design pattern):
-  https://www.w3.org/TR/wai-aria-practices-1.1/#:~:text=Selection%20in%20multi-select%20trees
- https://www.w3.org/TR/wai-aria-practices-1.1/#:~:text=Alternative%20selection%20model%20--%20Moving%20focus%20without%20hol

[2021-09-28 16:18] caripizza opened #3121 "Enhancement: [calcite-tree] add selection-mode "none""
### Description
Support a calcite-tree selection-mode of "none", for displaying a hierarchical list of tree-items which display no icons on hover/focus, and do not allow any items to be selected.

### Acceptance Criteria
A new selection-mode of "none" is added to the [TreeSelectionMode](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-tree/interfaces.ts#L5) type values

[2021-09-28 16:18] macandcheese commented on #3117
Agree with above - having the shift key there seems a little unexpected, even if it's technically within spec. We should allow click / key interaction to select multiple. At which point I'm not sure there would be any support needed for the shift key at all?

[2021-09-28 16:30] caripizza commented on #3121
Here's one example I found in the wild of "none" selection-mode with IntegralUI's TreeView component for Angular:
https://www.lidorsystems.com/support/articles/angular/treeview/treeview-multi-select.aspx

[2021-09-28 16:36] macandcheese opened #3122 "Update Dark Mode color mapping for 4.0"
### Description
As a follow-up from a Teams conversation, we should explore "inverting" the dark mode paradigm to provide a better experience. Foreground colors should be lighter than background colors.

This is pretty standard across competitor design systems and seems like a good improvement.

Link to Teams meeting where this was discussed: https://teams.microsoft.com/l/message/19:fd15b51dacd24e

[2021-09-28 16:51] macandcheese commented on #3117
Here are some examples of multi-select trees that allow users to select with mouse / keyboard (not shift):

SAP: https://sap.github.io/ui5-webcomponents/playground/components/Tree/
Infor: https://design.infor.com/code/ids-enterprise/latest/demo/components/tree/example-select-multiple

I guess the application for "shift" could be for selecting more than one (select one, then shift-click to select f

[2021-09-28 17:15] joeyHarig commented on #3117
@macandcheese @caripizza Thank you both for looking into this

[2021-09-28 17:18] macandcheese commented on #3121
This implementation from SAP also uses "none":  https://sap.github.io/ui5-webcomponents/playground/components/Tree/

[2021-09-28 17:48] caripizza commented on #2624
@macandcheese why not add a transition like this to the `.wrapper` class to accommodate the height change?

[code]

[2021-09-28 18:28] macandcheese commented on #2624
When the chips are appended they are placed without a transition so there's still a jump in height. I'm not sure if we'd want to delay that since the immediacy is nice.

I think the visual "jaggedness" (for lack of a better term, ha) is actually due to the "x" icon inside the chip appearing in slightly after the chip text - at least to my eyes.

[2021-09-28 18:30] caripizza commented on #2624
@macandcheese got it, thank you. I'll go ahead and nix the CSS portion from this issue.

[2021-09-28 18:32] ellenupp commented on #3121
Use case for Dashboards:
We are using a tree to represent the layout of the elements in the dashboard. The tree does not need a selection state. Clicking a tree item should place focus on that item but not otherwise change its state. Tree items don't need bullet point and instead child items have a custom icon.
![image](https://user-images.githubusercontent.com/14304581/135142106-bee99dcb-0f19-488

[2021-09-28 19:02] benelan commented on #3071
verified in beta.66

[2021-09-28 19:02] #3071 closed

[2021-09-28 19:17] benelan commented on #2826
Verified on beta.66
https://codepen.io/benesri/pen/KKqJPod

[2021-09-28 19:17] #2826 closed

[2021-09-28 19:18] benelan commented on #2728
verified on beta.66

[2021-09-28 19:18] #2728 closed

[2021-09-28 19:23] benelan commented on #1549
verified in storybook
https://esri.github.io/calcite-components/?path=/story/components-pick-list--basic

[2021-09-28 19:23] #1549 closed

[2021-09-28 19:29] benelan commented on #2480
verified on beta.66

[2021-09-28 19:29] #2480 closed

[2021-09-28 19:29] benelan commented on #2481
verified on beta.66

[2021-09-28 19:29] #2481 closed

[2021-09-28 20:54] macandcheese commented on #2800
I'm happy to defer to whatever values @asangma wants here.

[2021-09-28 21:47] ellenupp opened #3123 "A11y: [calcite-tree] Can't navigate through all tree items using arrow keys"
### Summary
The arrow key navigation in `calcite-tree` does not function as expected and it is not always possible to reach every item using the keyboard alone.

### Actual Behavior
Left arrow key: works as expected
Right arrow key: with focus on expanded parent, right arrow moves focus up instead of to first child
Up/down arrow keys: work fine for first level of tree, but when focus is on a deepe

[2021-09-28 22:36] eriklharper opened #3125 "Bug: calcite-action alignment="center" doesn't work"
### Actual Behavior

[code]
Results in:

![image](https://user-images.githubusercontent.com/821864/135174878-f4e1316b-f318-4684-9474-15b64c21c857.png)

### Expected Behavior

The above code should produce this instead:

![image](https://user-images.githubusercontent.com/821864/135174908-cd82024a-e23a-43da-9d7a-a64ce1976d7d.png)

### Reproduction Steps and Sample

1. Start the dev server
2. Open `s

[2021-09-28 23:50] ellenupp opened #3127 "Enhancement: [calcite-tree] Support actions/menu in tree items"
### Description
We would like to include a menu of actions in each tree item, ex:
![image](https://user-images.githubusercontent.com/14304581/135178348-7963846b-a815-4f82-9fa9-341b39caa7f1.png)

Including a calcite-dropdown within a calcite-tree-item does not render in a usable way as the dropdown is constrained to the current tree level. It would be great to have a slot in the tree item to accomm

[2021-09-29 00:46] macandcheese commented on #3127
Seems like this could adopt the action / content start / end slot paradigm to allow for these customizations, similar to a list item.

[2021-09-29 12:34] jul11557 opened #3131 "Bug: color-picker selection area isolated in Safari"
### Actual Behavior
While testing in Safari, the color-picker component has a limited drag area. In the gif below, you can see that the knob is restricting movement to a small area in the center of the gradient selector. This has been tested in ArcGIS Mission Manager and the new map viewer. In codepen it appears to be fine.

![2021-09-28 16 46 09](https://user-images.githubusercontent.com/83983300

[2021-09-29 15:49] COV-GIS opened #3132 "Question: Add overlay positioning to split button"
### Description

Add `overlayPositioning` property to split button.

### Acceptance Criteria

Be able to have a split button in fixed container.

### Relevant Info

I tried wrapping the dropdown group in a dropdown to use its overlay positioning but this causes split button to not work.

#### Which Component

Split button.

#### Example Use Case

[2021-09-29 17:37] jcfranco opened #3133 "Refactor: Move switch host attributes/props to shadow DOM"
### Summary

#3091 modified `calcite-switch`'s host to preserve focus styling and to pass accessibility tests (https://github.com/Esri/calcite-components/pull/3091/commits/0a62d68d474e685585e19f5ced9d90105d003561, https://github.com/Esri/calcite-components/pull/3091/commits/bb3ce8b669e7f1e76fcad067347912d95d3c8e6e). These changes should be moved back into the shadow DOM without affecting focus sty

[2021-09-29 18:27] ellenupp opened #3134 "Bug: [calcite-tree] Visibility of child elements can be out of sync with parent's expanded state"
### Actual Behavior

In some scenarios the visibility of a child element can be out of sync with its parent's expanded state, i.e. the parent is set to expanded but the child is hidden. I've encountered this is in two scenarios:
1. When a tree item is set to expanded by default and the tree is hidden and re-rendered
2. When an item is dynamically added to the tree while it is in an expanded state

[2021-09-29 18:48] joeyHarig opened #3136 "Bug: calcite-dropdown not closing on outside click when disable-close-on-select is true"
### Actual Behavior
If `disable-close-on-select` is true, the dropdown will not close when the user clicks outside of the dropdown. It will only close if the user clicks on the dropdown trigger again or another dropdown is opened.

This behavior did not exist prior to v1.0.0-beta.56. If this behavior is expected and added intentionally then this issue can be disregarded, but I believe it to be fru

[2021-09-29 20:25] caripizza commented on #3101
I think I might have found an easy fix for this while working on #2457, so I'm going to take a stab at it.

[2021-09-29 20:51] caripizza commented on #3123
Thanks for adding this issue @ellenupp, can you please share this link with me when you have a moment?

[2021-09-29 22:01] sam11927 opened #3138 "Calcite Filter Enhancement:"
### Description
Should have some way of knowing if the calcite-filter has text currently typed into the input, or knowing what the text is.

### Acceptance Criteria
When text is entered into the input element of the calcite-filter, an outside component should be able to read the entered text and know if it is empty or not.

### Relevant Info
It would be nice to have both a public `isEmpty` and a `

[2021-09-30 01:50] #885 closed

[2021-09-30 15:59] jcfranco commented on #2881
Verified with https://codepen.io/jcfranco/pen/vYZPWZb?editors=1000

[2021-09-30 15:59] #2881 closed

[2021-09-30 17:53] jcfranco opened #3142 "Bug: [slider] odd slider value range"
### Actual Behavior

Configuring a slider the following way will show the highest value tick outside of the max-allowed range:

[code]

![Screen Shot 2021-09-30 at 10 50 55 AM](https://user-images.githubusercontent.com/197440/135506051-fe2642d2-7adc-4716-b3e8-8ef51373851f.png)

### Expected Behavior

Max tick value is capped at the specified value (100).

### Reproduction Steps and Sample

_Sample

[2021-09-30 17:58] jcfranco commented on #2974
`calcite-checkbox` is missing its default slot. The rest look good! I'll create a follow-up issue for checkbox.

[2021-09-30 17:58] #2974 closed

[2021-09-30 18:02] caripizza commented on #3142
This bug can also be reproduced when using a decimal for ticks like "0.1"; it overlays an additional tick on top of the max tick: ([Storybook iframe url](https://esri.github.io/calcite-components/iframe.html?id=components-controls-slider--range&args=&knob-min=0&knob-min-label=Temperature,%20lower%20bound&knob-min-value=0&knob-max=1&knob-max-label=Temperature,%20upper%20bound&knob-max-value=0&knob-

[2021-09-30 18:04] jcfranco commented on #2974
Actually, after looking at the implementation and stories, checkbox's slot appears to be internal and should not be doc'd.

[2021-09-30 18:04] jcfranco commented on #2974
@benelan Can you confirm? ☝🏼

[2021-09-30 22:06] caripizza opened #3144 "Bug: combobox-item height should match dropdown-item height (24/32/44)"
### Actual Behavior
calcite-combobox-item non-wrapping text heights are 32/40/52 but should match calcite-dropdown-item heights and be 24px for small, 32px for medium, and 44px high for large scale items.

### Expected Behavior
A small combobox-item total height is 24px, a medium total height is 32px, and a large total item height is 44px.

### Reproduction Steps and Sample
Each scale of combobox-

[2021-09-30 22:09] caripizza commented on #3144
@macandcheese should we add combobox-item to the "Combobox" Figma page so it matches Dropdown?

[2021-09-30 22:12] macandcheese commented on #3144
Yeah, there should probably be versions in Figma of the various indentation levels and states for combobox items.

[2021-09-30 22:23] caripizza commented on #3132
@COV-GIS can you add your code?

[2021-09-30 22:46] caripizza commented on #3016
IMO we should remove the RTL switch from the demo page header. It sends the wrong impression- that components will dynamically update their UI and display mirrored after a dir change on the root html tag. Or are we actually saying that "our components programmatically respond to dir changes"?

It really seems like the only true way to test rtl is to add the `dir="rtl"` attribute to the html tag, a

[2021-09-30 22:49] driskull commented on #3016
@caripizza This is the end goal. If we get complaints, we should prioritize removing `getElementDir()` and using CSS logical properties instead.

[2021-09-30 22:57] caripizza commented on #3016
I understand it will help yes, but what is the use case for dynamically responding to dir updates? Is there an app somewhere that's actually asking for this behavior and if so can you specify?

[2021-09-30 22:59] driskull commented on #3016
I'm not sure if anyone is asking for it but it's the best practice for having a component automatically work correctly when the text direction changes. Otherwise we have to rely on a re-render of the component.

Our story should be that we should handle CSS `direction` changes automatically by using CSS logical properties.

[2021-09-30 23:03] driskull commented on #2079
I think we should bump the priority on this @jcfranco @julio8a.

We can proceed with this without upgrading to tailwind2 or using a tailwind plugin I think?

[2021-09-30 23:08] rmstinson opened #3145 "A11y: Global Styles - Light Mode Warning Yellow not hitting contrast ratio standard"
Light mode warning yellow doesn't hit contrast ratio standards on a white background. Dark mode warning yellow is fine as long as it's on the prescribed background colors.
![Screen Shot 2021-09-30 at 3 46 43 PM](https://user-images.githubusercontent.com/12650705/135541198-cced34b2-1e76-458d-9505-15b9676da7b7.png)

Recommend we use the dark yellow `#7D7227` we use for headlines and links on the hom

[2021-09-30 23:42] jcfranco commented on #2174
Closing as verified based on linked issues from the description.

@julio8a please reopen if further action is needed.

[2021-09-30 23:42] #2174 closed

[2021-09-30 23:55] macandcheese commented on #3145
This came up in a previous issue and because the icon / accent bar color is purely decorative - and the text content itself should convey severity - it was deemed non-actionable: https://github.com/Esri/calcite-components/issues/994#issuecomment-842527676

I'll leave this issue open if others want to chime in here.

[2021-10-01 01:50] #993 closed

[2021-10-01 14:12] MikeTschudi commented on #669
@1.0.0-beta.66, still found by Firefox' Accessibility developer tool

[2021-10-01 14:15] MikeTschudi commented on #674
@1.0.0-beta.66 & NVDA 2021.2, menu items are read but group headings are still not seen. Earlier example is now read as
[code]

[2021-10-01 15:26] jcfranco opened #3146 "Bug: first radio button always selected when clicking other buttons in a radio-button-group"
### Actual Behavior

Clicking a `calcite-radio-button` in a `calcite-radio-button-group` results in the first one always being selected.

### Expected Behavior

The clicked `calcite-radio-button` should be selected.

### Reproduction Steps and Sample

_Sample_: https://codepen.io/jcfranco/pen/RwgORaY

1. Click on any radio button except the first
2. Notice how the first option is always selected

[2021-10-01 15:30] jcfranco commented on #2079
Yeah, I think we need to tackle the logical props part before 1.0.0. cc @julio8a @benelan

https://github.com/Esri/calcite-components/issues/2868 is sort of related to this, right?

[2021-10-01 15:32] benelan commented on #2079
I agree about tackling logical props before 1.0.0 but I'm not sure the cascading scale thing is related. @jcfranco

[2021-10-01 16:05] jcfranco commented on #2079
Gotcha. Never mind then. I was under the impression that logical properties would also work through the cascade, but I can't find any examples.

@caripizza Can this be done with our current version of Tailwind? I see that `tailwindcss-logical` is compatible w/ 1.2.0+.

[2021-10-01 16:35] driskull commented on #2079
In some places, we're already using logical properties without tailwind. https://github.com/Esri/calcite-components/blob/master/src/components/calcite-radio-group-item/calcite-radio-group-item.scss#L81-L107

[2021-10-01 16:35] benelan commented on #2974
@jcfranco yeah I saw the slot but I don't think we want users putting anything in there so I left it out of the doc.

[2021-10-01 16:37] jcfranco commented on #2079
@driskull Thanks, that's good to know. FWIW, I want to determine if we need to split this up into another issue or if we can tackle this one as is.

[2021-10-01 16:38] jcfranco commented on #2570
@benelan The work for `calcite-label` was installed and shipped in beta.66. One issue came up already: https://github.com/Esri/calcite-components/issues/2868

[2021-10-01 16:40] benelan commented on #2570
@jcfranco are you sure that's the right issue?

[2021-10-01 16:42] jcfranco commented on #2570
Updated, sorry about that (clipboard-history fingers working on their own this morning 😅 ).

[2021-10-01 16:49] benelan commented on #2889
verified in beta.66 using the sample above

[2021-10-01 16:49] #2889 closed

[2021-10-01 16:51] benelan commented on #2715
verified on master

[2021-10-01 16:51] #2715 closed

[2021-10-01 16:52] driskull commented on #3146
@jcfranco this might be the problem. I had this previously...

<img width="515" alt="Screen Shot 2021-10-01 at 9 48 51 AM" src="https://user-images.githubusercontent.com/1231455/135658311-2d8e4d5f-99b1-4c87-a910-5e761ff42841.png">

[2021-10-01 16:52] driskull commented on #3146
Seems like it should be querying within the label instead of the rootNode.

[2021-10-01 17:07] benelan commented on #3119
@driskull, the test failed when I ran it locally. Can you try running the tests locally on your end?

[2021-10-01 17:09] macandcheese commented on #1258
Still valid - ideally the css grid approach can work.

[2021-10-01 20:01] benelan commented on #3059
verified on master

[2021-10-01 20:01] #3059 closed

[2021-10-01 20:04] benelan commented on #3055
@macandcheese can you please verify this one for me?

[2021-10-01 20:11] driskull commented on #3119
Skipped it again. I'll try to make it more reliable.

[2021-10-01 20:15] benelan commented on #2965
Verified on master in the popover demo page

[2021-10-01 20:15] #2965 closed

[2021-10-01 20:25] benelan commented on #2112
verified locally on master in the `calcite-tree-scales` demo page. @caripizza, should that page be added to the demo `index` file? If so I can do that.

[2021-10-01 20:25] #2112 closed

[2021-10-01 20:25] benelan commented on #2112
Or at least linked to in the tree demo page?

[2021-10-01 21:39] benelan commented on #2624
verified locally on master

[2021-10-01 21:39] #2624 closed

[2021-10-01 21:56] benelan opened #3150 "Docs: add examples and an explanation for changing theme and css vars"
### Description
I have seen a lot of questions about changing the theme or using css vars. The theme classes are not listed in the colors and themes section, so they should be added there:
https://developers.arcgis.com/calcite-design-system/foundations/colors/#themes

It is currently in the conventions doc which is not very user facing:
https://github.com/Esri/calcite-components/tree/master/conven

[2021-10-01 22:29] rmstinson commented on #3145
@macandcheese Gotcha! I'm wondering tho, if an icon isn't unimportant enough to not be legible for some users, should we be using the icon at all? It feels like it's not just an accessibility issue, the globe icons in the chips are barely legible to me and I don't have any visual impairments.

![Screen Shot 2021-10-01 at 3 28 16 PM](https://user-images.githubusercontent.com/12650705/135692549-f129

[2021-10-01 22:37] macandcheese commented on #3145
Yeah, maybe we could look at adjusting the yellow value (although, if the result of that is a brown-yellow, folks will likely just override it). As far as using the icon - it's already opt-in / user-overridable so it is ultimately up to the implementing design team.

What do you mean by this?

[2021-10-01 22:59] benelan commented on #1338
@macandcheese is this still valid?

[2021-10-01 23:04] benelan commented on #1647
@paulcpederson, Are there any action items for this issue? It looks like Chrome handles this by default as Dasa mentioned.

[2021-10-01 23:16] benelan commented on #1941
closing this issue as a duplicate of #2697

[2021-10-01 23:16] #1941 closed

[2021-10-01 23:27] #1338 closed

[2021-10-01 23:28] benelan commented on #2110
@tkamiya0625, I apologize for the delayed response. We are working on a `calcite-styles` repo that will provided the tailwind config we use. However, the classes from Calcite Web will not be used in the new Calcite Components.

[2021-10-01 23:30] benelan commented on #2815
Closing this case since the question was answered. If there are follow up questions I can reopen it.

[2021-10-01 23:30] #2815 closed

[2021-10-01 23:48] paulcpederson commented on #1647
I think it's perfectly valid to expect the user to set this. Doing nothing is an acceptable outcome IMO.

[2021-10-01 23:50] benelan commented on #1647
That seems like the consensus. I'll close this issue next week so @asangma if you want to chime in now's your chance.

[2021-10-02 00:05] macandcheese commented on #1647
I believe we would need to add explicit props here (and on button) like ionic does (https://github.com/ionic-team/ionic-framework/blob/25eb8cdf98fe455433ca6185e89d9e1223a6d3ae/core/src/components/button/button.tsx#L95) since the props are no longer spread, right?

[2021-10-02 00:14] benelan commented on #1647
Yeah good point. Seems like we have an action item so I won't close this one.

[2021-10-02 00:21] driskull commented on #2019
I merged storybook changes for popover/tooltip

[2021-10-03 01:51] #3131 closed

[2021-10-04 16:25] amandathomas-90 opened #3152 "Enhancement: Calcite-Card style options for Rounded corners & shadow"
### Description
On the Hub team, we're exploring a redesign of our components - several of which utilize calcite cards. I specifically wanted to alter the appearance of the `<calcite-card-container>` but it seems that we do not have that ability. Is this something that could potentially be doable in the future?

I'm happy to clarify this further if needed.

### Acceptance Criteria
Ability to edit

[2021-10-04 19:01] anveshmekala opened #3153 "Bug:"
### Actual Behavior

When we click on the track  close to the edge the thumb isn't centered with the click co-ordinates

![Oct-04-2021 12-36-07](https://user-images.githubusercontent.com/88453586/135908106-32cb4414-e4b0-4783-9f76-751aaaa30fda.gif)

### Expected Behavior

The thumb should be centered with the click co-ordinates.

### Reproduction Steps and Sample

_Sample_: https://codepen.io/ANVES

[2021-10-04 20:55] anveshmekala commented on #2880
@julio8a Unable to reproduce the issue. Can you provide the reproduction steps or a sample repo would be helpful too.

[2021-10-04 20:56] rmstinson commented on #3145
@macandcheese Must have lost a word in editing should be "since it's the only _inaccessible_ global style."

[2021-10-04 20:56] julio8a commented on #2880
Will create a new issue, since work has been merged to master, don't want to hold up original work.

[2021-10-04 20:57] #2880 closed

[2021-10-04 21:20] benelan commented on #2433
@caripizza, I've seen that too. My understanding is that when code changes happen, specifically types or jsdoc, re-building the doc will show those new values. Those new values won't be there yet in storybook since storybook is usually only released every two weeks along with cc.

[2021-10-04 21:21] benelan commented on #2433
They also won't be committed to the repo until they are manually built or built during a release, which is why you see it in the diff.

[2021-10-04 21:24] sam11927 opened #3154 "Enhancement: calcite-filter searching across entire object and not just rendered text"
### Description
When using the `calcite-filter`'s built in search, results will be displayed based on non-rendered text (e.g. if an object has that property). Additionally the text-based search is not 100% and does not return all results with the matching input.

### Acceptance Criteria
Either provide an option to search only rendered text (e.g. a title) or to search across the entire object. And

[2021-10-04 22:44] benelan commented on #2433
If what I said above is correct this seems like a non-issue. @driskull / @jcfranco  can you confirm?

[2021-10-05 17:45] benelan commented on #3131
Hi @jul11557, this issue should be resolved in the newest version. See:

#3035
#2335

[2021-10-05 17:45] rmstinson commented on #3145
![Warning Icons](https://user-images.githubusercontent.com/12650705/136075117-69188d9f-4d27-4fe1-8f86-0f991526d52e.png)

Discussing it with @mitc7862 and other members of the design team, we got a lot of consensus around this direction - maintaining the yellow color theme, while keeping the warning icon as the default gray to ensure legibility - icons that are emphasizing messaging need to hit at

[2021-10-05 17:47] jul11557 commented on #3131
Thanks @benelan I noticed that this morning. I didn't see the issues when I first looked through the repo (I was searching open issues, not closed). Appreciate it!

[2021-10-05 17:51] benelan commented on #3131
No problem! When using older versions it can be helpful to check the [changelog](https://github.com/Esri/calcite-components/blob/master/CHANGELOG.md#bug-fixes-1) for any fixes.

[2021-10-05 18:44] macandcheese commented on #3145
Per conversation with @rmstinson and @mitc7862 - design work / proposal to follow.

[2021-10-05 19:36] driskull commented on #2433
I think the automated build puts the "any" there. I'm not sure why a local build does a better job with the typings.

[2021-10-05 21:21] sam11927 opened #3159 "Enhancement: Calcite-Lists need a way to show content beneath description"
### Description
There is no general content slot in list, pick list, or value list to show content beneath description

### Acceptance Criteria
should have a slot to add content beneath description in a list

### Relevant Info
here is an example:
![image](https://user-images.githubusercontent.com/90291307/136104135-19fd8565-96a5-4172-b7b4-bc7b7f462abb.png)
depicted is a list-item without a descrip

[2021-10-05 21:54] benelan commented on #3159
I may have misunderstood the issue at first, I thought it was about adding `content-start` and `content-end` slots. Have you tried using the default slot? eg https://codepen.io/benesri/pen/zYzVbyK

[2021-10-05 22:09] jmanke opened #3160 "Bug: calcite-color-picker-swatch border does not respect class="calcite-theme-light""
### Actual Behavior

The calcite-color-picker-swatch's border is transparent when a parent element has class="calcite-theme-dark" and the calcite-color-picker-swatch has class="calcite-theme-light".

### Expected Behavior

The calcite-color-picker-swatch's border should be the visible when class="calcite-theme-light", regardless if there is a class="calcite-theme-dark" in a parent element. Otherwi

[2021-10-05 22:12] sam11927 commented on #3159
![image](https://user-images.githubusercontent.com/90291307/136109646-91cd879b-e2f6-4d63-8fd2-60cdb0bf1cfa.png)
This is using the default slot, but it does not work when nested in another component, say a popover:
![image](https://user-images.githubusercontent.com/90291307/136109785-d4b877f6-f785-4e53-832b-1ee6255f6107.png)
(this second screenshot is using the default slot)

[2021-10-06 16:32] caripizza commented on #2112
@benelan yep we can handle that in #2622 if that sounds good to you?

[2021-10-06 16:37] benelan commented on #2112
@caripizza sounds great, thanks!

[2021-10-06 17:09] driskull opened #3163 "Refactor: CalciteSwitch - modify calciteSwitchChange event payload before 1.0 release"
We should modify `modify calciteSwitchChange` event payload to not emit redundant props before 1.0 release.

As part of https://github.com/Esri/calcite-components/pull/3162, we deprecated the `switched` property in favor of `checked` but the event payload still has a switched property on it.

[2021-10-06 17:25] macandcheese commented on #2835
Needs design - in progress.

[2021-10-06 17:56] jcfranco commented on #2079
Thanks for the info, @caripizza.

In that case, let's create a separate issue to go ahead with the CSS logical properties work and repurpose this as a refactor issue. Does that sound alright? cc @benelan

[2021-10-06 18:05] jcfranco commented on #3146
Installed.

[2021-10-06 18:57] caripizza opened #3167 "Bug: [RTL calcite-slider] displays negative numbers with minus signs after numbers"
**monday.com sync:** #18048441817

### Actual Behavior
When a calcite-slider sits on an rtl page, it displays negative values with hyphens **_after_** the tick-label and handle-label numbers. (Ex: `10-`)

Negative values should have their minus sign before the number, regardless of dir on the page.

Also reported by the Maps SDK for JS team on 1/2/2024:

[code]
![image](https://github.com/Esri/cal

[2021-10-06 19:29] tyanthony opened #3168 "Enhancement: calcite-input type="file" to accept only specified file types"
### Description
Enhancement to the `Input` component, of `type="file"`, to specify types of files to accept.

### Acceptance Criteria
- [ ] Add a property to allow files of the accepted type(s)
- [ ] Prevent files from being added that are not in the "accepted files"

### Relevant Info
This can be done currently in the default html `<input>` element, using the `accept` property which takes a strin

[2021-10-06 23:31] driskull opened #3170 "Docs: calcite-input-time-picker value should document that it uses 24 hour time always"
### Description

Docs: calcite-input-time-picker value should document that it uses 24 hour time always

### Which Component

calcite-input-time-picker

### Resources

The value property on the component just says 'selected value'. We should document that this value is a string of the time in 24 hour (military) format.

[2021-10-06 23:38] babakbolour commented on #3167
cc: @raje9276

[2021-10-07 00:37] ellenupp opened #3171 "Bug: calcite-tooltip doesn't dismiss after hovering over it"
### Actual Behavior

If you mouse over the tooltip, it doesn't dismiss until you hover over the reference element again.
![2021-10-06_17-25-11 (1)](https://user-images.githubusercontent.com/14304581/136301655-fa509be3-c179-491f-933a-c1fdc297543e.gif)

### Expected Behavior

Tooltip should dismiss after mousing off the reference element and/or tooltip itself.

### Reproduction Steps and Sample

_Sa

[2021-10-07 02:07] AdelheidF opened #3173 "Bug: calcite-tooltip not working on disabled calcite-tile"
I want to display a tooltip for a disabled tile to tell the user why this option is not available. But the tooltip doesn't show if a tile is disabled.

### Actual Behavior

no tooltip shows

### Expected Behavior

tooltip should show

### Reproduction Steps and Sample

https://codepen.io/afreitag/pen/VwWoGVV?editors=1000

### Relevant Info

_Version_: `@esri/calcite-components@1.0.0-beta.65`

- [

[2021-10-07 16:53] jcfranco commented on #3173
**TL;DR**: `calcite-tile`'s only interactive portion is the internal link, so removing the host pointer-events could suffice.

Went on a bit of a rabbit hole. 😅

1. It looks like `disabled` is only applicable when the `href` property is set as it makes the tile interactive
2. Supporting `disabled` when non-interactive (w/o `href`) seems to contradict https://github.com/Esri/calcite-components/issu

[2021-10-07 17:02] AdelheidF commented on #3173
Here is a related issue to allow focus on a tile: https://github.com/Esri/calcite-components/issues/2141

[2021-10-07 17:04] driskull opened #3174 "Bug: calcite-input-time-picker does not reset correctly with a form"
### Actual Behavior

When a form is reset, the input-time-picker is set to an empty string when it should reset to the default behavior.

### Expected Behavior

When a form is reset, the input-time-picker should be set to the default value

### Reproduction Steps and Sample

1. https://codepen.io/driskull/pen/PoKYoGK?editors=1000
2. Click the native reset button
3. Notice that the input is cleared

[2021-10-07 17:04] driskull commented on #3174
@jcfranco @benelan  I triaged this, hope thats ok.

[2021-10-07 17:38] tyanthony opened #3175 "Bug: Tile Select does not emit a custom change event"
### Actual Behavior

Tile Select does not emit a custom change event.

### Expected Behavior

- The Tile Select component should emit a custom change event for both type= "radio" and "checkbox"

### Reproduction Steps and Sample

- Create a Tile Select component.
- Select or change the selected Tile.
- Notice that when a tile is selected, or changed, no events are emitted.

_Documentation_:

[This

[2021-10-08 16:42] mjuniper opened #3181 "Enhancement: calcite-card has horizontal layout mode"
### Description
Horizontal layout mode of calcite card so you can get a layout with the thumbnail adjacent to the main content like this:

![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/942837/136593141-e0b93e96-91b6-42de-b8d3-d703418a3786.png)

### Acceptance Criteria

### Relevant Info

Maybe it takes a `layout` attribute with a value of `horizontal` or something.

#### Wh

[2021-10-08 21:26] benelan opened #3184 "Enhancement: allow unrestricted typing of numbers in input type="number""
### Description
Currently, in input type="number", there is validation that restricts valid numbers from being entered. For example:
- If step is 1, you can't enter decimals
- #3107

Our component should not be so restrictive based on number validation. Validation can be handled by the form. This change is in line with the [HTML spec](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputEleme

[2021-10-08 21:32] benelan opened #3185 "Enhancement: allow exponential numbers for input type="number""
### Description
We should allow exponential numbers to be entered in `calcite-input` type="number". For example: `2e25` or `5e-4`

### Acceptance Criteria
- Exponential numbers can be entered into the number input
- The exponential number string is converted into an actual number, which is used for the value

#### Which Component
`calcite-input`
#### Example Use Case
Inputting numbers with a lot o

[2021-10-08 21:46] jcfranco commented on #1955
@eriklharper Could you details on which event listeners remain? The pointer events are removed at the end of a drag interaction, but we can also remove them on `disconnectedCallback`.

[2021-10-08 21:50] jcfranco commented on #3171
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/calcite-5f7d10460071bf0024e66277/issues/Esri/calcite-components/3171?planning-poker) with ZenHub @driskull

[2021-10-08 21:54] benelan commented on #2152
closing as a duplicate of #3153 (button uses link)

[2021-10-08 21:54] #2152 closed

[2021-10-08 22:00] bpatterson88 opened #3186 "Bug: block header and block content x-spacing don't match"
### Actual Behavior
![Screen Shot 2021-10-08 at 2 39 32 PM](https://user-images.githubusercontent.com/15875886/136628175-7f3684d7-e7ec-4159-a46d-b4c70c5b3386.png)

### Expected Behavior

The left edge of the header label should align with the left edge of the labels below

### Reproduction Steps and Sample

Codepen: https://codepen.io/benpatterson/pen/abyoNrx

### Relevant Info

_Version_: `@esri/

[2021-10-08 22:11] asangma commented on #2972
Yew! Done (enough).

[2021-10-08 22:59] eriklharper commented on #1955
Ah, this looks to be resolved now, probably can close this issue then.

[2021-10-09 00:32] nwhittaker commented on #2152
@benelan, can you please verify the duplicated issue? The one you linked in doesn't look related.

[2021-10-09 01:31] KatelynSeitz commented on #2848
The follow SVG code can now live in the checkbox component to replace the Calcite UI check icon:
`<svg id="icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M5.5 10.38L2.56 7.44l.88-.88L5.5 8.62l5.06-5.06.88.88z"/><path fill="none" d="M0 0h14v14H0z"/></svg>`

Reach out if there are any follow up questions.

[2021-10-09 01:45] #817 closed

[2021-10-09 03:04] jcfranco commented on #1955
I'll change this to a refactor ticket instead to ensure manually-added event listeners are removed when the component is disconnected.

[2021-10-09 18:52] lejara commented on #3186
hello,
Its cool if i can work on this?

[2021-10-10 01:47] #998 closed

[2021-10-11 13:15] apfister opened #3191 "Bug: onCalciteListItemChange fires without user interaction"
### Actual Behavior
Setting the `selected` property of a `CalcitePickListItem` programmatically will cause the `onCalciteListItemChange` event to fire.

### Expected Behavior
The `onCalciteListItemChange` should not fire as there was no user interaction.

### Reproduction Steps and Sample
Steps to reproduce are in the codesandbox

https://codesandbox.io/s/nostalgic-roman-vl78n?file=/src/App.js

##

[2021-10-11 16:33] benelan commented on #2887
@jcfranco can you verify this one?

[2021-10-11 16:40] benelan commented on #3186
Sure, we appreciate the help! Can you quickly read through the [contributing documentation](https://github.com/Esri/calcite-components/blob/master/CONTRIBUTING.md) first? For now you can fork the repo and create a PR. The checks on the PR won't pass unless you use conventional commits as [mentioned here](https://github.com/Esri/calcite-components/blob/master/CONTRIBUTING.md#commit-message-format)

[2021-10-11 20:44] caripizza opened #3195 "Enhancement: [calcite-label] make container's bottom margin a CSS variable"
### Description
calcite-label currently has hard-coded bottom margins for each of its container scales (s: 8px, m: 12px, l: 16px):
https://github.com/Esri/calcite-components/blob/master/src/components/calcite-label/calcite-label.scss#L17-L27

This issue should refactor the bottom margin to be a CSS Custom Property instead. Doing so will allow a consuming app to apply the bottom-margin to all label

[2021-10-11 21:51] AdelheidF opened #3196 "Enhancement: placement for large popovers on top of shell-panels"
In the Map Viewer we often display larger popovers on top of the right or left shell-panel, e.g. when users have to select a field. These popovers cover about half the vertical size of the panel and the reference element, e.g. button, that opens this popover can be anywhere on the panel.

The problem we encounter is that the popup is not always placed well and might even have its top cut off. Is t

[2021-10-11 22:01] AdelheidF opened #3198 "New Component: combined input for x-offset and y-offset"
### Description
A component to drag the dot around the box. The component then reports the x and y offset of the dot. min/max values would need to be set via a property.
![image](https://user-images.githubusercontent.com/44481292/136860201-eea0b798-c3b8-48e8-941a-298aed8761e6.png)

See Chome dev tools UI for configuring drop-shadow: https://twitter.com/i/status/1447456939466706946
![image](https:/

[2021-10-11 22:29] caripizza opened #3200 "Enhancement: support customizing calcite-icon's color via new global CSS variable"
### Description
Refactor calcite-icon to utilize a new optional CSS Custom Property for its color (ex, `--calcite-ui-icon-color` or similar).

This change should allow for calcite-icon - when used inside a calcite-component - to derive its color value either from the new CSS var, or from its [`currentColor`](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#currentcolor_keyword) propert

[2021-10-11 22:33] caripizza commented on #3200
(Added discussion label to this issue since I think it may benefit from a bit more fine-tuned AC before assignment.)

One question I have is - should we prevent changing the color of calcite-icon when it's used as a dismissible "x" icon, like in chip?

[2021-10-12 00:47] paulcpederson opened #3209 "A11y: Value list item with non-interactive prop should not read in screen reader or be in the tab order"
### Summary

The `non-interactive` prop should make the value list item completely non-interactive. While currently it prevents clicking via mouse, it's still interactive to keyboard users and is read as an interactive menu item to users using a screen reader.

### Actual Behavior

1. NVDA reads "Clickable _[label]_, _[label]_ menu item, not checked"
2. Label is still in the tab order and has a fo

[2021-10-12 09:09] Soreon opened #3212 "Bug: Nested Calcite Accordions incorrectly toggle parent"
### Actual Behavior

When you nest two accordion components with the parent being in `selection-mode="single"`, clicking on one of the items of the child accordion toggle the parent `<calcite-accordion-item>` instead of toggling the child.

If you remove `selection-mode="single"` on the parent accordion, this issue dissapear but the child accordion is not clickable.

### Expected Behavior

Clickin

[2021-10-12 17:26] jcfranco opened #3213 "Test: ensure test page is ready after the initial page setup"
We currently have a mix of the following patterns when setting up tests:

**1. inline**

[code]

**2. via `setContent` (also used by Stencil)**

[code]

We should pick a pattern and set up a custom rule to enforce it. We could probably stick w/ 2 to align w/ Stencil and may be easier to catch instances of 1.

[2021-10-12 17:56] jcfranco opened #3214 "Bug: [label + input-date-picker(range)] clicking on start date input focuses end date input"
### Actual Behavior

When you have a labeled input-date-picker (range), clicking on start date input focuses end date input.

### Expected Behavior

Clicking on either start or end input should end up owning the focus.

### Reproduction Steps and Sample

_Sample_: https://codepen.io/jcfranco/pen/LYjVYxq

1. Click on the first input field
2. Note how the 2nd input field gets focused

### Relevant I

[2021-10-12 18:54] AdelheidF opened #3215 "Bug: calcite-tile doesn't handle long heading correctly"
![image](https://user-images.githubusercontent.com/44481292/137012689-2f84b52b-05fa-41a8-b8e5-14c8b2bf50d5.png)

### Actual Behavior

text moves beyond tile

### Expected Behavior

text ends with ellipses

### Reproduction Steps and Sample

https://codepen.io/afreitag/pen/qBXdEoN?editors=1000

_Sample_:

1.

### Relevant Info

_Version_: `@esri/calcite-components@1.0.0-beta.65`

- [ ] CDN
- [ ] NP

[2021-10-12 21:13] benelan commented on #3007
Dashboard is having issues due to the PR for this issue. Can you take another look?

cc @ellenupp

[2021-10-12 22:52] anveshmekala commented on #3007
I did tried to simulate the issue in code-pen and the dropdown worked as expected in chrome,Firefox and edge.
https://codepen.io/ANVESHMEKALA/pen/gOxpPyz

The reason behind removing the `position:relative` on host is to give the end users the flexibility to set the position. Would recommend setting the `position:relative` on host element in the application and verify if the issue persists.

cc @el

[2021-10-13 00:09] benelan commented on #3017
This test is no longer valid after #3184

[2021-10-13 00:17] caripizza opened #3223 "Enhancement: [calcite-tree-item] limit padding-y CSS var to top/bottom spacing, remove end indent"
### Description
Pr #3001 refactored tree-item to match latest Figma designs. In doing so, I repurposed a `--calcite-tree-padding-y` CSS var for the item's [margin-inline](https://github.com/Esri/calcite-components/pull/3001/files#diff-2e52adbf1fa3a525a8c3f837ff0826ffe6e472e9fac455b37fb21d50e68b0bebR114) styles as well. However, it came up recently with the Dashboards team that they'd like to fine-

[2021-10-13 00:41] jcfranco commented on #947
@benelan Moving this to the current sprint as Stencil 2.9.0 fixed the preamble functionality.

[2021-10-13 01:02] benelan commented on #3007
It looks like it has something to do with `placement`. In @anveshmekala's sample, creating the dropdown with a placement prop also has weird issues:
` <calcite-dropdown placement='bottom'>`

[2021-10-13 15:44] joeyHarig opened #3225 "Bug: calcite-input-time-picker disabled not being applied correclty"
### Actual Behavior
When `disabled` is set on `calcite-input-time-picker` the component still functions as if it were not disabled. The time-picker popover still opens and the controls still work.

### Expected Behavior
The `calcite-input-time-picker` should meet the following criteria when set to disabled.
- The cursor should be the default cursor, not pointer or text (just like `calcite-input` w

[2021-10-13 15:51] caripizza commented on #1431
Moving this issue to the Freezer after discussion with @macandcheese.

[2021-10-13 17:02] kevindoshier opened #3226 "Bug: calcite-fab: click event fires even when its disabled"
calcite-fab will fire the click event even when its disabled, a calcite-button correctly does not

### Actual Behavior

### Expected Behavior

It should not fire the click event, in the sample below I place both the fab and a button, disable both, and the button does not fire the event

### Reproduction Steps and Sample

_Sample_:

1.https://codepen.io/kevindoshier/pen/bGrdQrp

### Relevant Info

[2021-10-13 17:48] benelan commented on #3175
verified on beta.67
https://codepen.io/benesri/pen/jOLPXYp?editors=1010

[2021-10-13 17:48] #3175 closed, assigned to benelan

[2021-10-13 17:51] #3146 closed

[2021-10-13 18:07] apfister opened #3230 "Bug: selected property of CalcitePickListItem incorrectly rendering all items as selected"
### Actual Behavior
There are two issues happening that this issue can address:

1. When using a `CalcitePickList`, the `CalcitePickListItem`s are all showing as selected regardless of their selected property value.
2. A blue circle icon is displaying instead of a check mark icon

![image](https://user-images.githubusercontent.com/5233042/137188607-9939d174-9a8b-426a-b9fb-81746e6c11e1.png)

### Ex

[2021-10-13 19:41] driskull commented on #3079
https://github.com/Esri/calcite-components/issues/2321

[2021-10-13 20:20] AdelheidF commented on #3079
Sorry, I still don't understand how this should work.
FF doesn't seem fixed to me when I use `locale="en"`, then it has the wrong decimal.

Below, you can see that French and Arabic both have comma decimals. If I overwrite `locale` (and in the future `lang`) with `"en"` I'm loosing the correct decimal separator.

Tested a bit using FF
![image](https://user-images.githubusercontent.com/44481292/137

[2021-10-13 20:30] jcfranco commented on #1928
FYI: At the time of writing, Firefox's implementation doesn't align with the HTML spec:

https://caniuse.com/?search=stepdown
https://caniuse.com/?search=stepup

[2021-10-13 20:35] #3195 closed, assigned to nobody

[2021-10-13 21:00] benelan commented on #2767
@asangma can you elaborate on what styles you want to provide for Handle?

[2021-10-13 21:25] benelan commented on #3196
Hey @AdelheidF, do you have a sample that reproduces this issue?

[2021-10-13 22:02] benelan commented on #3007
@ellenupp yeah a new issue for that would be great, thanks!

[2021-10-13 22:13] ellenupp opened #3234 "Bug: calcite-dropdown does not flip when there isn't enough space in preferred placement"
### Actual Behavior

When a placement is set on a dropdown, it will open in that placement even if it doesn't fit.
![image](https://user-images.githubusercontent.com/14304581/137219581-1f77fef3-3263-4323-8e8b-259588f6357b.png)

### Expected Behavior

The dropdown should fallback to another placement where it has enough space to render without being cut off (if one exists).
![image](https://user-im

[2021-10-13 22:29] dasa commented on #3079
Can the locale include the numbering system? This is how we override the default numbering system for `ar` (`arab`) in the API by using the locale value of `ar-u-nu-latn`.

[2021-10-13 22:29] driskull commented on #3234
Seems like this broke it: https://github.com/Esri/calcite-components/pull/3116

[2021-10-13 22:40] caripizza commented on #3055
Adding an update for posterity that @macandcheese clarified my question [above](https://github.com/Esri/calcite-components/issues/3055#issuecomment-940386487) isn't necessary for this one (the chevron will point downwards for now).

[2021-10-13 23:07] ellenupp opened #3236 "Bug: calcite-fab in calcite-panel slot overlaps content in Firefox"
### Actual Behavior

When a calcite-fab is used in the `fab` slot of a calcite-panel, and the content takes up the entire vertical height of the panel, the fab overlaps the panel even when scrolling to the bottom (in firefox).
![image](https://user-images.githubusercontent.com/14304581/137018297-d0b93f2a-b43b-4734-838f-783fa8f629f7.png)

### Expected Behavior

The fab should be sticky'd to the bot

[2021-10-13 23:24] benelan commented on #3236
reproducible in beta.67 too using the sample ^

[2021-10-13 23:47] babakbolour commented on #3079
@dasa which API is that? just wondering if all browsers honor this 'u' extension

[2021-10-13 23:48] jcfranco commented on #1500
Thanks for the info, @caripizza.

I'll leave it up to @macandcheese and @HeathMeyette to decide how to proceed with this issue and the remaining tasks from the description that have no associated PR/issues.

[2021-10-14 01:30] nwhittaker opened #3239 "Bug: `CalciteSelect.selectedOption` can become stale"
### Actual Behavior
If a `<calcite-select>` component's selected option is chosen in a way that does not trigger the `calciteSelectChange` event, the component's `selectedOption` property points at the old option instead of the new one.

### Expected Behavior
The `<calcite-select>` component's `selectedOption` property always points at the `<calcite-option>` element that has the `selected` attribu

[2021-10-14 02:05] nwhittaker opened #3240 "Bug: `<calcite-option>` value attribute missing when set via handlebars"
### Actual Behavior
The `<calcite-option>` component's `value` attribute is absent. Interestingly, the component's `value` property is set correctly.

### Expected Behavior
The `<calcite-option>` component's `value` attribute is present in the DOM and accessible via `Element.getAttribute()`.

### Reproduction Steps and Sample

[code]

_Sample_: https://jsbin.com/boxakokado/1/edit?html,js,output

1

[2021-10-14 03:30] nwhittaker opened #3241 "Bug: `CalciteSelect.selectedOption` is briefly `undefined` post hydration on re-render"
### Actual Behavior
When re-rendering a `<calcite-select>` component, there is a brief period of time after its `calcite-hydrated` attribute is set but its `selectedOption` property is `undefined`.

### Expected Behavior
On re-render, the `selectedOption` property is populated before hydration completes.

### Reproduction Steps and Sample

_Sample_: https://jsbin.com/xixamuwupa/1/edit?html,js,outp

[2021-10-14 13:56] CodeBarker commented on #3226
This is need for the December update in Online

[2021-10-14 15:19] nwhittaker opened #3242 "Bug: Changes to `<calcite-option>` text content not propagated to shadow DOM"
### Actual Behavior
Changes to the text content of a `<calcite-option>` element are not reflected in the select menu.

### Expected Behavior
Changes to the text content of a `<calcite-option>` element are reflected in the select menu.

### Reproduction Steps and Sample

_Sample_: https://ember-twiddle.com/d6f427deeec2a6ae2c9dcf62ecedb61f/db6e00bf0ce2799502ac73f9f730ec3bcae2d66e

1. Visit the twidd

[2021-10-14 17:00] nwhittaker opened #3243 "Enhancement: Add Ember Twiddle to list of code sample providers"
### Description
Issues can become automatically closed if they do not include a link to a documentation sample or some sort of invokable code sample. Please consider adding _[Ember Twiddle](https://ember-twiddle.com)_ to the list of accepted code sample providers.

### Acceptance Criteria
Issues that include an _Ember Twiddle_ are not marked for early closure.

### Relevant Info
I see _CodeSandbox

[2021-10-14 17:22] caripizza commented on #2848
@KatelynSeitz I don't think that svg isn't going to scale properly unfortunately.

It looks to me like we just need to revert the path changes back to what they were before this pr change:
https://github.com/Esri/calcite-components/pull/2205/files#diff-652d8517a10478f41cf540118f5d3246cd42490b69fd1a164933515f47f35c0dL91

Before (current)
![image](https://user-images.githubusercontent.com/42423180/1

[2021-10-14 17:53] nwhittaker opened #3246 "Bug: Changes to `checked` and `indeterminate` attributes not reflected in wrapped checkbox input"
### Actual Behavior
Changes to the `checked` and `indeterminate` attributes on a `<calcite-checkbox>` element are not reflected in the checkbox input that the component wraps.

### Expected Behavior
When set on the `<calcite-checkbox>` element, the `checked` and `indeterminate` attributes are also set on the wrapped checkbox.

Maintaining an accurate state on the wrapped checkbox is helpful in tes

[2021-10-14 17:57] caripizza commented on #3134
@ellenupp can you help me replicate Sample 1 in vanilla js? I can see the issue clearly in Sample 2, but it's less clear to me in that first sample you provided.

[2021-10-14 18:03] jmanke opened #3247 "Bug: calcite-value-list duplicates item when dragging an item to the end of the list"
### Actual Behavior

When dragging a `<calcite-value-list-item>` to the end of the list, the item is duplicated.

### Expected Behavior

When dragging a `<calcite-value-list-item>` to the end of the list, the item should not be duplicated.

### Reproduction Steps and Sample

#### Code setup

1. Create a `<calcite-value-list drag-enabled>`
2. Use `<calcite-value-list-item>`s that are backed by a co

[2021-10-14 18:27] caripizza commented on #2848
@macandcheese AFAIK, checkbox has to support indeterminate state, so it's using `getPath` to apply the proper [`d` attribute values](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-checkbox/calcite-checkbox.tsx#L99-L101) to the conditionally rendered svg's path. Then for each scale, it sets the height/width of the checkbox to a font-size (ie., 12px sm/ 14px m / 16px l

[2021-10-14 18:32] caripizza commented on #2848
I'd like to add an additional to-do to this issue - let's remove the [`test` class](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-checkbox/calcite-checkbox.tsx#L265) that got added to the svg's containing div (Matt confirmed was added [on accident](https://github.com/Esri/calcite-components/pull/3161#discussion_r729221746)).

[2021-10-14 20:43] jcfranco opened #3249 "Refactor: Migrate Sass to be 2.0.0-friendly"
### Description

The latest dependency bump led to the following build warnings:

[code]

We should migrate our style files to be Sass 2.0.0 ready. The following are some changes that will be needed:

* [ ] use `math.div` instead of `/`
* [ ] use `@use` (and `@forward`) instead of `@import`

### Proposed Advantages

Prevent moving to the latest dependencies when they move to Sass 2.0.0.

### Relev

[2021-10-14 21:04] anveshmekala commented on #3048
issue  #3071  resolved this bug.

[2021-10-14 21:46] ellenupp commented on #3134
Hi @caripizza, I'm not sure how to accomplish that in vanilla js since you can't do conditional rendering like that. The closest thing I could think to try is removing the tree from the dom then creating and adding it back again but that works fine...

[2021-10-14 22:03] caripizza commented on #3134
Gotcha, yep I noticed the same behavior as well. Thanks @ellenupp

[2021-10-14 22:43] driskull opened #3257 "Unstable Test: calcite-input › number type › allows any valid number"
## Summary

**Which component?:**

input

**Which test(s)?:**

**Test error:**

[code]

**PR that skipped the test:** #3258

## Additional Info

[2021-10-14 22:57] jcfranco commented on #3257
cc @benelan

[2021-10-14 23:17] benelan commented on #3134
Idk if this helps but I was able to repro an ember issue in vanilla js with a hacky conditional rendering sample:
https://codepen.io/benesri/pen/eYENJBX?editors=1010

[2021-10-14 23:42] jcfranco commented on #3257
Yeah. It could also be a timing issue after `setFocus` is called. ⏲️

[2021-10-15 02:26] #3037 closed

[2021-10-15 02:28] jcfranco commented on #1476
Verified!

[2021-10-15 02:28] #1476 closed

[2021-10-15 14:45] jul11557 opened #3265 "[Chip]: truncate calcite-chip label"
**monday.com sync:** #9485737858

### Description
It would be helpful if the calcite-chip had a built-in function to truncate or abbreviate the chip label at either (1) a max number of characters, or (2) once it fills 100% of its available space on the page.

Although the best practice is _not_ to create long chip labels, it cannot always be avoided. For example:
* Some users may _need to_ or _cho

[2021-10-15 16:01] caripizza commented on #3265
This reminds me of the trim dom util Matt and I discussed in https://github.com/Esri/calcite-components/issues/2096.

Should we can make the trim util available for use in consuming apps?

[2021-10-15 16:55] macandcheese opened #3267 "Enhancement: Correctly type "value" property across components"
### Description
Follow up from Team's discussion - there are some components that have a `value` prop, currently typed as `any`, that should likely be updated to `string`.

### Acceptance Criteria
The properties are correctly typed.

#### Which Component
The ones I found are: checkbox, chip, combobox-item, option, pick-list-item, radio-button, radio-group-item, switch, tile-select, value-list-item

[2021-10-15 17:44] anveshmekala commented on #3105
This issue is addressed in #3004

[2021-10-15 19:51] caripizza opened #3271 "Bug: [calcite-card] clicking a selectable card should update the card's `selected` state"
### Actual Behavior
When clicking on the checkbox of a `selectable` calcite-card, the calcite-checkbox's `checked` state (and the card's `selected` prop) aren't updated.

### Expected Behavior

### Reproduction Steps and Sample

_Sample_:

1. Visit repro ex: https://codepen.io/caripizza-the-animator/pen/OJjMRzW
2. Click on the checkbox
3. Notice the checkbox doesn't appear as selected

(Or, view t

[2021-10-15 20:08] jmanke opened #3272 "Enhancement: Disable/remove drag handle when there is only one calcite-value-list-item in a calcite-value-list"
### Description
The `<calcite-value-list drag-enabled>` currently lets the user drag a `<calcite-value-list-item>` even when there is only one item in the list. Since there is no where the user can drag the item, it would make sense to either disable or remove the drag handle.

### Acceptance Criteria
Either disable or remove the drag handle when there is only one item in `<calcite-value-list drag

[2021-10-15 21:47] mjuniper commented on #3181
I took a quick stab at this and came up with this:

![image](https://user-images.githubusercontent.com/942837/137557015-52cb058c-1467-407d-aa10-f1a87d2d8fdf.png)

I don't have push access to this repo and it sounds like we will want to go through a design process for this but the branch is [here](https://github.com/mjuniper/calcite-components/pull/1);

[2021-10-15 21:51] macandcheese commented on #3181
I almost wonder if a `thumbnail-position:inline-start,inline-end,block-start,block-end` property (defaulting to the current `block-start`) would be the way to go here.
It would allow for the above, along with other alignments that might be needed?

[2021-10-15 22:01] AdelheidF opened #3275 "Bug: calcite-list is missing setFocus()"
`calcite-value-list` and `calcite-pick-list` both have a `setFocus` method. `calcite-list` doesn't even though I can tab through each list-item and focus it this way.

### Actual Behavior

no setFocus method

### Expected Behavior

add setFocus method

### Reproduction Steps and Sample

https://codepen.io/afreitag/pen/zYdrogo
_Sample_:

1.

### Relevant Info

_Version_: `@esri/calcite-components@1

[2021-10-15 22:21] asangma opened #3279 "Bug: TabNav causes scrolling issue when container has set width"
### Actual Behavior
When in a container with a set width, TabNav causes a horizontal scrollbar.
It seems to be related to the combo of [the padding and negative margin](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-tab-nav/calcite-tab-nav.scss#L23-L24).

### Expected Behavior
Not have horizontal scrollbars.

### Reproduction Steps and Sample

_Sample_: https://codep

[2021-10-15 22:39] anveshmekala opened #3280 "Add Chromatic Test for text wrap for block"
### Description
Add a screener test to verify text wrap in `calcite-block-section`
### Acceptance Criteria
Parse a  long string or URL in the `calcite-block-section` and verfiy if the content is wrapped when the width of the `calcite-`block is set to `400px`
### Relevant Info
Refer to issue #3069
#### Which Component
`calcite-block-section`

[2021-10-15 22:41] macandcheese commented on #3181
@benelan see above for a potential update to the issue framing.

[2021-10-16 00:37] jcfranco commented on #2145
`no-padding` does seem to remove the top/bottom padding, but it looks like the loader isn't positioned correctly within the host.

https://codepen.io/jcfranco/pen/vYJLxYo?editors=1000

![Screen Shot 2021-10-15 at 5 33 36 PM](https://user-images.githubusercontent.com/197440/137566774-dd5a6c3c-7e32-45a1-9b79-013a7734b78d.png)

FWIW, `no-padding` got introduced by https://github.com/Esri/calcite-comp

[2021-10-16 05:13] benelan commented on #3243
@nwhittaker can you please verify this issue the next time you log a bug with ember twiddle? Thanks!

[2021-10-16 12:07] jcfranco commented on #2865
@ssylvia https://github.com/Esri/calcite-components/pull/3224 got rid of `index.mjs`, so this may no longer be an issue. Could you try testing with `@next`?

[2021-10-18 15:27] COV-GIS commented on #3132
Sorry for the delay @caripizza. I was out.

I tried to reproduce the issue but was unable. It was similar to https://github.com/Esri/calcite-components/pull/3182. I believe it was two versions back. I should have put the version in the initial issue.

[2021-10-18 16:40] driskull opened #3284 "Refactor: remove 'childElType' from button and link components."
### Description

Refactor: remove 'childElType' from button and link components.

### Proposed Advantages

Calculate the child element type during rendering.

### Relevant Info

https://github.com/Esri/calcite-components/pull/3248#discussion_r730255124
https://github.com/Esri/calcite-components/pull/3222#discussion_r730255535

#### Which Component

- calcite-button
- calcite-link

[2021-10-18 22:39] benelan commented on #3275
yessir @driskull

[2021-10-18 23:39] jmanke opened #3295 "Bug: calcite-dropdown max-items not respected when dynamically adding calcite-dropdown-items"
### Actual Behavior

`calcite-dropdown` will not update its height according to the `max-items` attribute when dynamically adding `calcite-dropdown-items`.

### Expected Behavior

`calcite-dropdown` should update its height according to the `max-items` attribute when dynamically adding `calcite-dropdown-items`. Regardless of when items are added to the dropdown, max-items should be respected.

###

[2021-10-19 22:21] anveshmekala commented on #3142
After this fix , the labels might overlap on smaller screens . We might need to move the max value tick label to the `right ` by 1% so that `labels` won't overlap. Any thoughts?

 @jcfranco @caripizza

![227BAD91-C8B6-469A-9563-FC891A9E5FD1_4_5005_c](https://user-images.githubusercontent.com/88453586/137998553-d765da1e-4bc4-439d-b43a-0e907d37ac9c.jpeg)
[The above image is simulating ipad screen ]

[2021-10-20 14:51] COV-GIS commented on #1856
Here's an pen: https://codepen.io/COV-GIS/pen/dyzpMbL

I was converting tsx widgets from html to calcite and in the case of calcite input `oninput` was not capturing the clear button click. `onchange` does but as per this issue the value returned was value before clear.

This is technically an issue, however wiring up two events is the incorrect pattern since `calciteInputInput` works including wh

[2021-10-20 15:24] yannikmesserli opened #3309 "Bug: calcite-button in outline appearence, when focused, has two outline"
### Actual Behavior

When in outline appearence, the calcite button gets a second blue outline when focused:
![Screenshot 2021-10-20 at 17 21 09](https://user-images.githubusercontent.com/1910449/138122603-b08c0890-eda9-40cb-8890-83724873f10d.png)

### Expected Behavior

Indicate the focus state only with the first outline

### Reproduction Steps and Sample

[Calcite-button in outline mode](https:

[2021-10-20 18:09] tyanthony opened #3312 "Enhancement: Input type="textarea" prevent resize and set width/height of component"
### Description
This enhancement request is for the component `Input` of type="textarea". There are cases when it is desired to prevent the textarea element from being resized and to set a specified height and/or width of the element. This enhancement request is to add those capabilities to the `input` component or to provide additional context for an individual component.

### Acceptance Criteria

[2021-10-20 18:16] macandcheese commented on #3312
Related:
https://github.com/Esri/calcite-components/issues/2866
https://github.com/Esri/calcite-components/issues/863

[2021-10-20 20:35] joeyHarig opened #3317 "Bug: calcite-input-date-picker min and max not updating"
### Actual Behavior

When the properties `min` or `max` are  updated on a `calcite-input-date-picker`, the min and max values within the date picker are not updated.

### Expected Behavior

The date picker update min and max values when they are updated on the `calcite-input-date-picker`

### Reproduction Steps and Sample
The following code pen includes steps to reproduce this bug.
https://codepen

[2021-10-20 20:41] anveshmekala commented on #3142
@caripizza  The issue is visible in  #3087  when we use the code mentioned in the [codepen ](https://codepen.io/jcfranco/pen/zYzbWPp?editors=1000) authored by franco. My bad, I should have specified in the earlier comment.

[2021-10-20 23:16] jcfranco commented on #3226
This should be addressed by https://github.com/Esri/calcite-components/issues/2655

[2021-10-20 23:23] macandcheese commented on #3271
Looks like this broke between 65 and 66.

[2021-10-20 23:25] #3309 closed, assigned to nobody

[2021-10-20 23:34] caripizza commented on #1537
I'd suggest closing at this point, unless @asangma has further requirements he'd like to address on this one. (It seems like we have hotter fires to address.)

[2021-10-20 23:39] #1500 closed

[2021-10-20 23:40] jcfranco commented on #2948
Discussed with @benelan and @macandcheese during triage and decided we should refactor `calcite-graph`'s styling so that it is full-width by default.

[2021-10-21 15:00] kevindoshier commented on #3025
@driskull - this looks good!  Thank you

[2021-10-21 16:05] y0n4 commented on #2914
I found out that one of the reason why the histogram is not matching the negative points accurately is because the `calcite-graph` range is basing it off from the histogram data (taken from the above example use case)
[code]
Notice that 0 is actually not the lowest range- it's where the histogram actually starts but calcite-graph is reads this data as the lowest range instead of accessing the prop

[2021-10-21 16:14] macandcheese commented on #2381
Suggested change reduces amount of keystrokes needed for keyboard users to move through input controls. This also would match our "number up / number down" controls - they cannot be focused since the action can be performed in-field.

[2021-10-21 16:59] benelan commented on #3275
verified on next

[2021-10-21 16:59] #3275 closed, assigned to benelan

[2021-10-21 17:02] benelan commented on #2848
verified on next

[2021-10-21 17:02] #2848 closed

[2021-10-21 18:35] jmanke commented on #3243
It would be fantastic to have a template for this in the contributing doc as well

[2021-10-22 16:08] #3186 closed, assigned to lejara

[2021-10-22 16:51] #3171 closed, assigned to benelan

[2021-10-22 19:20] caripizza opened #3334 "Enhancement: [pick-list-item] meld the icon's selection states with item's label when it has no `actions-start` slot content"
### Description
When hovering over or selecting a pick-list-item that includes an `icon`, it currently shows as 2 separate selection hit states:

#### Current
(hover)
![image](https://user-images.githubusercontent.com/42423180/138507190-76f83035-1076-4469-8309-8639fb6628bd.png)

(focused)
![image](https://user-images.githubusercontent.com/42423180/138505977-ec19c631-ed75-4ac9-a606-d43773c3edf0.png

[2021-10-22 19:37] caripizza opened #3335 "Question: [pick-list-item, value-list-item] icons - what icon prop values should they both support?"
### Description
Value-list-item and pick-list-item currently both accept the following icon prop values, "circle", "square", or "grip" - as specified here: https://github.com/Esri/calcite-components/blob/master/src/components/calcite-pick-list/resources.ts#L5

#### Value List Item
In cc/code - value-list-item only shows the "drag" icon when the "grip" icon prop value is passed into it. It doesn't

[2021-10-22 21:20] asangma opened #3337 "Enhancement: ActionPad. Remove max-width."
### Description
ActionPad's max-width is probably unnecessary and is likely to cause issues in smaller window sizes.

### Acceptance Criteria
Remove max-width.

### Relevant Info

#### Which Component
ActionPad

#### Example Use Case
ActionPad in a small browser window.
<img width="341" alt="Screen Shot 2021-10-22 at 2 19 42 PM" src="https://user-images.githubusercontent.com/12503298/138524236-da8

[2021-10-22 21:27] macandcheese opened #3338 "Enhancement: Alert - Usability improvements to auto-dismiss."
### Description
Two related proposals to solve potential annoyances for users:

- If an alert is auto-dismissible, currently we remove the close button. We should keep the close button there.

- If an alert is auto-dismissible, it may dismiss while a user tries to interact with it. We should pause the dismiss timer while a user is hovering over, or focusing on an element within an alert. I've seen

[2021-10-23 00:43] caripizza opened #3341 "Bug: [combobox] longer strings aren't truncated anymore when in fixed-width container"
### Actual Behavior
Starting at next.290, longer combobox strings are no longer truncated when the combobox is nested in a smaller fixed-width container:

![image](https://user-images.githubusercontent.com/42423180/138535494-6bd55a35-8d68-46f5-8026-c03695326a1b.png)

### Expected Behavior
Longer combobox strings should be truncated when the combobox is nested in a smaller fixed-width container. Th

[2021-10-23 00:48] caripizza commented on #3341
(Self-assigning this per Teams conversation with @macandcheese)

[2021-10-25 01:14] mpayson opened #3344 "Bug: Can't type in input with slotted action"
### Actual Behavior

When clicking on an input with a slotted action to type a value, the focus automatically goes to the action, preventing text from being entered.

### Expected Behavior

The focus stays on the input so the user can type.

### Reproduction Steps and Sample

[Current documentation](https://developers.arcgis.com/calcite-design-system/components/input/) under "With slotted action".

[2021-10-25 17:05] caripizza opened #3345 "Epic: audit interactive components' `:focus` styles for compatibility across supported browsers"
### Background
We currently support the last 2 versions of Chrome, Firefox, Safari, and Edge. We should ensure focus outlines appear consistently across these browsers in our interactive components.

Per Figma > Calcite Components > _Master Styles, here are the "Focus State Rules":

#### Rule 1. First choice:

[code]

#### Rule 2. Second choice (when first choice isn't possible):

[code]

![image]

[2021-10-25 17:47] asangma opened #3346 "Bug: Block heading and summary don't seem to align correctly in RTL"
### Actual Behavior
In RTL, Block heading and summary don't seem to align correctly.
This seems to only happen when the Block is `collapsible`

![Screen Shot 2021-10-25 at 10 47 30 AM](https://user-images.githubusercontent.com/12503298/138744958-8f08db15-404f-4910-a6e8-de29600cf91e.png)

### Expected Behavior
Align correctly in RTL.

### Reproduction Steps and Sample

_Sample_: https://codepen.io/

[2021-10-25 19:22] ellenupp opened #3349 "Bug: Styling inconsistencies in dropdown items (link vs non-link, RTL)"
### Actual Behavior

There are some inconsistencies in the styling of dropdown items:
- horizontal padding is different in RTL vs LTR
- vertical padding is different between links and non-links (extra padding on links makes them 40px in height while non-links are 32px at medium scale)
- focus and hover states are different between links and non-links (text color does not change for links)

![image

[2021-10-26 00:53] benelan opened #3353 "Unstable Test:"
## Summary

**Which component?:**
globalStyles
**Which test(s)?:**
(should support rendering component with ${className} animation`
**Test error:**
expect(received).not.toBe(expected
Expected: not "0"

**PR that skipped the test:** #3352

## Additional Info

[2021-10-26 00:57] #3353 closed, assigned to nobody

[2021-10-26 18:50] caripizza opened #3355 "Testing: [calcite-graph] add corresponding test coverage for utils"
**monday.com sync:** #18048508849

## Summary
Currently the utils used by calcite-graph have no corresponding tests, making it difficult to know what types of data the helpers should accept. (There are only JSDoc descriptions above each helper function describing what they're _supposed_ to do.)

## Measure of Success
Specs are added which assert the primary logic for functions in the following fil

[2021-10-26 21:32] alexanderela opened #3357 "Enhancement: add new events for Calcite Inline Editable"
### Description
Request to add following events to Calcite Inline Editable component:
* calciteInlineEditableConfirmEdit
* calciteInlineEditableCancelEdit

### Acceptance Criteria
* Allow users to listen for above events to facilitate integrating Calcite Input component with custom state management.

![Screen Shot 2021-10-26 at 3 26 11 PM](https://user-images.githubusercontent.com/30238776/1389633

[2021-10-27 18:06] asangma opened #3362 "Enhancement: ListItem - add padding when no description"
### Description
When there is no description, list items are very small.
In order to retain good hit area, we should add some additional padding when there is no description.

### Acceptance Criteria
Add 0.25rem top and bottom padding to `.content` or `.label` when `.label` is the only child.

### Relevant Info
See demo example here: https://codepen.io/mtb-alan/pen/XWagXRG

#### Which Component
Ca

[2021-10-27 22:20] caripizza opened #3364 "Docs: [value-list] remove erroneous Label-editing-and-single-select usage example"
### Description
The following doc shows a `label-editing-enabled` attribute that doesn't seem to do anything in the corresponding usage snippet:
https://github.com/Esri/calcite-components/blob/master/src/components/value-list/readme.md#label-editing-and-single-select

We should remove this example from value-list docs.

### Which Component
calcite-value-list

### Resources
n/a

[2021-10-27 23:09] noahmulfinger opened #3366 "Bug: calcite-alert stays open beyond animation end when another alert is added"
### Actual Behavior

When an auto-dismiss calcite alert is open and second alert is is added, there seems to be a delay between the progress bar animation ending and the first alert closing. You can see in this video:

https://user-images.githubusercontent.com/6539297/139159791-544070bc-0eec-456f-888c-2fb36a02bdf7.mov

### Expected Behavior

I would expect the alert close behavior to be the same r

[2021-10-28 12:03] hccampos opened #3368 "Bug: calcite-dropdown-group attributes not respected when using custom elements bundles"
### Actual Behavior

When using the custom elements bundles (`@esri/calcite-components/dist/components/*`), the `selection-mode` (and possible other attributes) of the `<calcite-dropdown-group>` are not respected.

### Expected Behavior

<table>
<thead>
<th>Expected</th>
<th>Actual</th>
</thead>
<tbody>
<td><img src="https://user-images.githubusercontent.com/3759114/139247652-1a57824f-0573-4753-b5

[2021-10-28 17:09] jcfranco opened #3371 "Bug: [calcite-switch] the switched property is not picked up when initialized"
### Actual Behavior

The `switched` property of calcite-switch no longer picked up initially.

### Expected Behavior

Changes to the `switched` property are only picked up after initialization

### Reproduction Steps and Sample

_Sample_: https://codepen.io/jcfranco/pen/PoKjgPN

1. Observe how the first example works with `checked` and the second one does not with `switched`

### Relevant Info

_R

[2021-10-28 17:22] AdelheidF opened #3372 "Bug: calcite-popover causes notice not to be full width"
If there is a notice with width=full inside a popover it's not as wide as the popover.

![image](https://user-images.githubusercontent.com/44481292/139304579-0100095f-4d27-45d3-a80d-36cf65fcc7f0.png)

From Alan: popover's content node needs to have something like `flex: 1 0 auto` defined on it.

### Actual Behavior

notice with width=full is not taking full width of popover

### Expected Behavior

[2021-10-28 17:35] ptmdmusique opened #3373 "Bug: calcite-value-list-item's label takes up space even if there is no content specified"
### Actual Behavior

calcite-value-list-item's label (which is inside calcite-pick-list-item) takes up space even if no label is passed as prop

### Expected Behavior

the label should not take up space and we can stretch the `actions-end` or `actions-start`

### Reproduction Steps and Sample

https://codepen.io/ptmdmusique/pen/YzxZaZK

cc @paulcpederson @abi11500

### Relevant Info

---

[2021-10-28 18:52] joeyHarig opened #3374 "Enhancement: calcite-chip allow for custom colors"
### Description
Allow for custom hex colors to be passed into the `calcite-chip` component.

Consider revising the style of chips when using dark theme. Full color chips can be too contrasting on dark backgrounds. Under 'Relevant Info' is an example of how GitHub alters their chip styles on dark backgrounds.

### Acceptance Criteria
- Allow hex values to be passed as the color to `calcite-chip`
-

[2021-10-28 23:47] caripizza opened #3379 "A11y Audit: [calcite-panel] - inactive elements should not be focusable, remove `tabindex` from section tag"
### Issue Summary

Panel's "content-container" section - which houses its default slotted content - has [`tabindex="0"`](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-panel/calcite-panel.tsx#L394) set on it, which places it in the focus order. This should be removed.

When inactive elements are allowed to receive keyboard focus, unnecessary tab stops are added for s

[2021-10-29 17:36] macandcheese opened #3381 "Bug: Inconsistent event detail returned from `calciteInputInput` when using `clearable`"
### Actual Behavior
Using the `clearable` affordances (`esc` key, "x button") on an input causes inconsistent value to be set: `null` instead of `""`.

### Expected Behavior

Consistently value - `""` for both use cases.

### Reproduction Steps and Sample

_Sample_:

JSBIN: https://jsbin.com/puwuvuxofa/1/edit?html,js,console,output
Step 1: enter text into input
Step 2: delete text with "delete" ke

[2021-10-29 18:01] macandcheese opened #3383 "Enhancement: Input - add `enterkeyhint`"
### Description
Similar to the recently added `inputmode` - this is a useful native attribute that can help devs provide a better UX to end users:

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/enterkeyhint#values

### Acceptance Criteria
`enterkeyhint` is available as an attribute.

### Relevant Info

Should we just audit all native attributes and add them - there are others

[2021-10-29 21:26] y0n4 opened #3389 "Bug: calcite-tab will not show horizontal scroll if the content width gets too large"
### Actual Behavior
When the width is already set and wrapped around the tabs component, and the tab content becomes larger than the width length, there is no scroll to view the rest of the content

### Expected Behavior
Have a scroll shown when the content gets larger than the given height/width

### Reproduction Steps and Sample

_Sample_: https://codepen.io/yonachos/pen/GRvvGwd
1. view content

[2021-10-29 22:08] joeyHarig opened #3392 "Enhancement: Focus outline inset"
### Description
Allow specification of focus outline on components to be inset. Components like `calcite-action` and `calcite-input` utilize inset outlines when focused on while `calcite-button` and `calcite-dropdown` utilize an outset outline. When the surrounding elements prevent overflow, outset outlines can be covered hidden.

### Acceptance Criteria
- add prop to components with outset focus

[2021-10-29 22:56] macandcheese commented on #3392
We will need to examine how to allow this while ensuring focus is visible, for example a focus outline that is inset on a filled blue button is not perceivable.

[2021-10-29 23:17] patrickarlt commented on #404
We have run into this on pages like https://developers.arcgis.com/net/wpf/sample-code/choose-camera-controller/#sample-code at narrow screen widths there filenames are cut off.

![139301719-dd11540d-fcee-442c-9f96-38e0ee5dc274](https://user-images.githubusercontent.com/378557/139510654-ea754686-3656-4ca6-a6f0-caa61894f15a.png)

This usually cuts off the extension which is essential since sometimes

[2021-10-31 01:47] #2125 closed

[2021-11-01 12:23] MikeTschudi commented on #669
@1.0.0-beta.68, still found by Firefox' Accessibility developer tool

[2021-11-01 12:31] MikeTschudi commented on #674
@1.0.0-beta.68 & NVDA 2021.2, same as https://github.com/Esri/calcite-components/issues/674#issuecomment-932269008: menu items are read but group headings are not read.

There seems to be an error in NVDA: when one types Enter on the Open Dropdown button, one hears only "menu" but one sees in the NVDA log
[code]
One only hears "Orange..." if one arrows away and then back.

[2021-11-01 16:47] jgrayson-apl commented on #3120
+1

[2021-11-01 18:40] benelan commented on #3069
verified on `beta.68`
https://codepen.io/benesri/pen/bGrYVvJ?editors=1000

[2021-11-01 18:40] #3069 closed

[2021-11-01 19:12] benelan commented on #3341
verified on `beta.68` in repro sample

[2021-11-01 19:12] #3341 closed

[2021-11-01 19:15] benelan commented on #3075
verified on `beta.68` in the doc
https://developers.arcgis.com/calcite-design-system/components/block/#sample

[2021-11-01 19:15] #3075 closed

[2021-11-01 19:18] benelan commented on #3028
verified on `beta,68` in the doc
https://developers.arcgis.com/calcite-design-system/components/radio-group/#sample

[2021-11-01 19:18] #3028 closed

[2021-11-01 19:20] benelan commented on #3055
@macandcheese can you please verify this one for me?

[2021-11-01 19:23] benelan commented on #2979
verified on `beta.68`

[2021-11-01 19:23] #2979 closed

[2021-11-01 19:39] macandcheese commented on #3055
@benelan lgtm

[2021-11-01 20:08] #3055 closed

[2021-11-01 20:31] jcfranco commented on #3383
@benelan Can we refactor the prop this sprint to follow prop-naming conventions (`enterKeyHint`)? For consistency, we want to avoid having mixed casing in our APIs. This should also apply to https://github.com/Esri/calcite-components/issues/2949 cc @macandcheese

[2021-11-01 23:48] benelan opened #3398 "Bug: setting the selected prop changes the size of Tip component"
### Actual Behavior
Setting the `selected` property on the `calcite-tip` component changes the size/margins of the component and makes everything look strange.

### Expected Behavior
Setting the `selected` property doesn't make things look weird

### Reproduction Steps and Sample

_Sample_: https://developers.arcgis.com/calcite-design-system/components/tip/#sample

1. Add the `selected` property

[2021-11-02 06:06] jcfranco commented on #3170
Verified locally!

[2021-11-02 06:06] #3170 closed

[2021-11-02 14:19] sam11927 opened #3406 "Enhancement: combobox invalid prop and status"
### Description
Combobox should have an invalid state (add a status prop)
### Acceptance Criteria
Combobox shows red border and can accept an input-message as well.
#### Which Component
`calcite-combobox`
#### Example Use Case
want to show that the combobox is a required field, so when someone clicks in and doesn't select something, set the status to invalid and display an error message (in the fo

[2021-11-02 14:46] jcfranco commented on #2033
Updated description with note on HTML spec on input/change events.

[2021-11-02 14:48] jcfranco commented on #2125
FWIW, emitting input/change on user interaction follows [the HTML spec on input/change events](https://html.spec.whatwg.org/multipage/input.html#common-input-element-events):

#2033 has been updated accordingly.

[2021-11-02 15:09] asangma commented on #3362
@benelan I'd like to bust this one out in this sprint. Low risk, better UI.

[2021-11-02 16:36] caripizza commented on #2914
The fix doesn't seem to work if the slider histogram has a max and maxValue equal to 0. Does that sound correct @y0n4, or do I need to modify the histogram data to be different? Can you please clarify?

[code]

![image](https://user-images.githubusercontent.com/42423180/139907293-c1a5fbb5-4408-42a5-b718-964a33424f92.png)

[2021-11-02 23:00] asangma commented on #2524
![image](https://user-images.githubusercontent.com/12503298/139963355-299dc251-af64-45ed-b2d2-81a4e5df5246.png)

So clean!

[2021-11-02 23:00] #2524 closed

[2021-11-03 16:56] driskull commented on #3379
@caripizza the reason for the tabindex is because when the panel is scrollable, it needs to be able to receive focus. It will fail to be scrollable by keyboard if we remove the tabindex.

[2021-11-03 16:58] driskull commented on #3379
Same as this issue: https://github.com/Esri/calcite-components/issues/1642

https://dequeuniversity.com/rules/axe/4.0/scrollable-region-focusable

[2021-11-03 16:59] driskull commented on #3379
This has come up a few times so maybe we need to add a comment or something to the code.

[2021-11-03 17:01] caripizza commented on #3379
@driskull are you saying this is not a valid Level Access issue and we can close it?

[2021-11-03 17:02] jcfranco commented on #3379
@driskull Thanks for clarifying. As a (separate) enhancement, could we check if the content has a scrollbar and in that case make the area focusable?

[2021-11-03 17:19] driskull commented on #3379
I can't think of a great way to do that but that would work.

[2021-11-03 17:21] driskull commented on #3379
We've talked to level access about this before and they recommended to have it focusable.

[2021-11-03 17:59] benelan commented on #3362
@asangma sure, I'm adding it to this sprint

[2021-11-03 18:03] asangma commented on #3362
Whoop!

[2021-11-03 19:32] #635 closed

[2021-11-03 19:44] MikeTschudi opened #3420 "calcite-tree interferes with normal tab flow in Firefox"
### Summary

When one tabs into a calcite-tree in Firefox, tabbing out--forwards or backwards--jumps to unexpected locations.

### Actual Behavior

One can tab into a calcite-tree, but shift-tabbing back out doesn't go to previous element. Tabbing out the bottom doesn't go to the next element.

### Expected Behavior

Expect to tab into and through a calcite-tree and back again

### Reproduction St

[2021-11-03 21:23] tim-white-esri commented on #3081
Can we add reduced motion support to the `animation.scss` file? I've tested this locally:
[code]

[2021-11-03 22:18] anveshmekala opened #3423 "Bug:[calcite-panel] Dropdown items are hidden when combined with picklist in a panel"
### Actual Behavior

When we click on dropdown action icon , dropdown menu is hidden when the container width is `<225px` and the no of `dropdown-items` are <= 2

### Expected Behavior

when the dropdown is active, the items should be visible.

### Reproduction Steps and Sample

1. Click on the dropdown action icon
2. Observe the dropdown menu wont pop-up.
3. Now change the width of the container

[2021-11-03 23:15] benelan commented on #3398
@asangma what is the `selected` prop used for?

[2021-11-03 23:18] jcfranco commented on #3420
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/calcite-5f7d10460071bf0024e66277/issues/Esri/calcite-components/3420?planning-poker) with ZenHub @caripizza

[2021-11-03 23:26] caripizza opened #3425 "A11y Audit: [calcite-date-month-header] - `.year` input is missing associated label describing its purpose"
### Issue Summary
The [.year input](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-date-picker-month-header/calcite-date-picker-month-header.tsx#L144) in Calcite Date Month Header needs an associated aria-label.

From the Violation Instance:
[Issue]
There are form fields that do not provide a programmatically associated label that describes the purpose of each field.

[2021-11-03 23:42] asangma opened #3426 "CalciteNotice - make the floating look opt-in"
### Description
Notice sometimes needs to be on a white background, and its box-shadow doesn't always work.
Also, in context with other UI language, the box-shadow may actually be a distraction.

Suggest
* only showing box-shadow when a `floating` prop is added.
* in default add a 1px border-color-3
* also consider remove the accent border for the "neutral" color.
* probably should deprecate `colo

[2021-11-03 23:55] jcfranco commented on #3381
Possibly related to https://github.com/Esri/calcite-components/issues/1856

[2021-11-04 01:00] nwhittaker commented on #2138
@benelan, say I wanted the trailing padding on all my labels in a form except the last one. Would this approach support having a different trailing padding per label w/in the same form?

[2021-11-04 15:35] asangma commented on #3426
@macandcheese Would dig getting your thoughts on this.

[2021-11-04 15:48] caripizza commented on #3420
@MikeTschudi are on Mac, and does this happen with other components in Firefox? It almost looks to me like this issue instead: https://css-tricks.com/proper-tabbing-to-interactive-elements-in-firefox-on-macos/

[2021-11-04 16:11] benelan commented on #2138
@nwhittaker yeah you could do something like

[code]

[2021-11-04 16:27] jmanke commented on #3247
It looks like using  'key' inside of {{each}} will prevent items from duplicating. For example:

`{{each this.items key='id' as |item|}}`

After adding 'key' inside of {{each}} the calcite-value-list with draggable items works as intended.

[2021-11-04 16:32] MikeTschudi commented on #3420
@caripizza, it's on Windows 10 and we've only seen tabbing into/out of issues with calcite-tree. Backwards nav used to be a problem in Chrome, but that was fixed via #683.

[2021-11-04 16:51] driskull opened #3427 "Dropdown group is displayed as inline but should be a block or flex displayed element"
### Actual Behavior

Dropdown group is displayed as inline

### Expected Behavior

Dropdown group should be a block or flex displayed element

### Reproduction Steps and Sample

N/A

_Sample_:

1. https://codepen.io/driskull/pen/WNEMGgv

### Relevant Info

_Reproducible version_: `@esri/calcite-components@1.0.0-<version>`

- [x] CDN
- [ ] NPM package

Regression? _Last working version_: `@esri/cal

[2021-11-04 16:53] benelan opened #3428 "Enhancement: allow dragging start/end dates for Date Picker ranges"
### Description
Add the ability drag the start/end dates to change the selected day when using the date picker.

### Acceptance Criteria
Dragging changes the selected day

### Relevant Info
From holistic feedback

#### Which Component
`calcite-date-picker`

#### Example Use Case

[2021-11-04 16:54] benelan commented on #3427
reproducible in the doc sample: https://developers.arcgis.com/calcite-design-system/components/dropdown/#sample

[2021-11-04 17:16] benelan opened #3429 "Date Picker: clicking on the current month opens a dropdown of months"
### Description
Currently the only way to change months is the forward/back buttons. Adding a month dropdown would make changing the month easier. Not completely related, but the native `input type="date"` has a dropdown where you can select month/year.
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date

### Acceptance Criteria
Clicking on the current month opens a dropdown where

[2021-11-04 17:32] benelan opened #3430 "Icon: components with icons are not aligned with ones that do not"
### Actual Behavior
The Avatars in the documentation are not aligned properly

### Expected Behavior
All of the avatars are aligned properly, regardless of the content

### Reproduction Steps and Sample

_Sample_: https://developers.arcgis.com/calcite-design-system/components/avatar/#sample

1. Reproducible in the "Variety of Avatars" documentation sample

### Relevant Info
from holistic feedback

[2021-11-04 17:43] macandcheese commented on #3426
Some thoughts:

The proposed design overlaps with the `calcite-tip` component - and invites fragmentation of notice use across products. I know the tip is structured differently with slots, but visually they end up almost the same.

For the third screenshot - wouldn't the current notice design with shadow work since it's on a grey bg - perhaps preferential there (folks can also change the white ba

[2021-11-04 18:01] driskull commented on #3138
@jcfranco Seems like combobox should also have this ability, right? I think we should add a value prop to both of these components.

[2021-11-04 18:07] caripizza opened #3431 "A11y Audit: [calcite-radio-group-item] - missing associated label describing its purpose"
### Issue Summary

[Issue]
Radio Group Items do not provide a programmatically associated label that describes the purpose of the radio button.

[User Impact]
Users may not be able to fill out form fields correctly if the visible label is not programmatically associated with its field.

[Code Reference]
`<calcite-radio-group-item value="react" tabindex="0" aria-checked="true" role="radio" icon-pos

[2021-11-04 18:16] driskull commented on #3138
I wonder if we should also add a property for filtered items? Like "selectedItems" or "filteredItems".

[2021-11-04 19:35] macandcheese commented on #3074
Related : https://github.com/Esri/calcite-components/issues/2311

[2021-11-04 19:40] macandcheese commented on #2311
I think we'll want to re-evaluate the above design - I also don't think this is valid for Dropdown.

The screenshot workflow in OP is valid for Combobox as shown, but likely also Pick List as described. @asangma do you have thoughts on select / deselect workflow in pick List?

Do we want to separate this out to scope the enhancements to Combobox from those to Pick List?

[2021-11-04 20:35] MikeTschudi opened #3434 "Icons are not appearing in a button in iOS"
### Actual Behavior

A pair of buttons with icons and no text are invisible in iOS (Safari & Chrome) until clicked; they appear successfully in Windows (Chrome & Firefox)

Windows vs. iOS:
![image](https://user-images.githubusercontent.com/2125181/140413988-34098038-a424-481b-bf78-50af66d323df.png)  ![image](https://user-images.githubusercontent.com/2125181/140414107-eb86508c-ea10-4bbc-ae9c-bf4014

[2021-11-04 23:49] anveshmekala opened #3436 "Bug[slider]: range slider maxValue label is missing CSS class"
### Actual Behavior

The range slider maxValue label is missing `.tick__label--max`

### Expected Behavior

maxValue label  in range slider should have `.tick__label--max`

### Reproduction Steps and Sample

Inspect the maxValue tick and observe the <span> element doesn't have class `.tick__label--max`

_Sample_:

1.https://codepen.io/ANVESHMEKALA/pen/wvqyJYw

### Relevant Info

The bug is introdu

[2021-11-05 15:38] joeyHarig opened #3437 "calcite-tab: remove host color styles"
### Actual Behavior

The `calcite-tab` content text color is being set to calcite-ui-text-3.

### Expected Behavior

The color of the content should not be set. This should be up to the developer to set if they choose to.

### Reproduction Steps and Sample
_Sample_:
https://developers.arcgis.com/calcite-design-system/components/tabs/
1. Go to the tabs example in docs
2. Inspect element on the text

[2021-11-05 16:17] benelan commented on #3437
@joeyHarig, for future reference, it just asked for more info because the `Relevant Info` header is missing. No worries on this issue it won't be closed.

[2021-11-05 16:24] caripizza opened #3438 "Bug: [global CSS Vars] - font-family generic names should not have surrounding quotes"
### Actual Behavior

Remove surrounding quotes around global CSS vars for font-families: https://github.com/Esri/calcite-components/blob/master/src/assets/styles/_type.scss#L2-L3

Current (incorrect, bug):
[code]

With the sans-family var, this causes Times New Roman to render instead of a sans-serif font in Windows:

![image](https://user-images.githubusercontent.com/42423180/140543808-d50f1450-0

[2021-11-05 17:18] Elijbet commented on #3212
@Soreon Could you please provide steps on how to reproduce the issue? Eg which accordion-item do I need to click to observe the unwanted behavior?

[2021-11-05 17:44] Elijbet commented on #1688
@gpbmike Does the issue still exist? Clicking on the dropdown button to close the dropdown seems to be firing calciteDropdownClose twice instead.

[2021-11-05 18:12] gpbmike commented on #1688
@Elijbet You're right. I should have pinned the calcite-components version when I created the issue.

Still a bug I would think, just the opposite bug now. 😄

[2021-11-05 18:23] macandcheese commented on #2141
I think the ask here is for a `setFocus()` method on `calcite-tile` @jcfranco @AdelheidF  ?

[2021-11-05 18:29] macandcheese commented on #2133
@AdelheidF can you put together a codepen that illustrates this bug? Thanks!

[2021-11-05 18:30] macandcheese commented on #3173
@jcfranco above sounds good in combination with https://github.com/Esri/calcite-components/issues/2141

[2021-11-05 18:51] caripizza opened #3440 "Enhancement: [type] Improve font fallback stack for `--calcite-sans-family` global CSS var"
### Description
Our current [default font stack](https://github.com/Esri/calcite-components/blob/master/src/assets/styles/global.scss#L47) is tied to the [`--calcite-sans-family`](https://github.com/Esri/calcite-components/blob/master/src/assets/styles/_type.scss#L3) global CSS var: `"Avenir Next", "Avenir", "Helvetica Neue", "sans-serif";`.

Can we improve this list of fallback fonts, and if so h

[2021-11-05 19:11] macandcheese commented on #3440
Thanks for opening! Aside from resolving the quotes issue, maybe leveraging system font for Mac and Windows when available in the stack makes more sense instead of / in addition to Helvetica?

[2021-11-05 20:05] benelan opened #3442 "Action Bar: add onHover text when expand-disabled or when text is cut off"
### Description
If the width of the Action Bar is small the text gets cut off
![image](https://user-images.githubusercontent.com/10986395/140571652-093938d7-e9a3-41c6-8121-dfe0680720a6.png)
Additionally, when using the `expand-disabled` there is no text.
![image](https://user-images.githubusercontent.com/10986395/140571855-ad3a3ae3-3e62-472c-9d1f-5621b8545281.png)

The user would like to display t

[2021-11-05 21:24] noahmulfinger commented on #1258
Is there a way to prevent this issue from getting marked as stale?

[2021-11-05 21:30] macandcheese commented on #1258
@benelan I think we should re-triage this.

[2021-11-05 21:39] driskull commented on #3138
Will be addressed by making the component public via #2208.

[2021-11-05 22:13] Elijbet opened #3443 "Bug: [calcite-input] incrementing/decrementing number input with a decimal step sometimes results in a very long precision decimal"
### Actual Behavior

The input is giving a very long precision on decimal steps. Seems to be something that can happen when you’re adding and subtracting (using math) in JS.

### Expected Behavior

The stepping should match the precision of the provided step.

### Reproduction Steps and Sample

Increment/Decrement several times to observe the behavior here: https://codepen.io/elijbet/pen/gOxebyE

[2021-11-05 23:01] jcfranco commented on #3344
Installed.

[2021-11-06 01:37] AdelheidF commented on #2938
FYI, the other day I noticed that `calcite-radio-group` has the same issue.

[2021-11-08 15:59] jcfranco commented on #3027
@driskull Could we assign an appropriate role based on a prop for this behavior? Functionality-wise, I don't see why list couldn't support the same keyboard interactions as the other list components.

@asangma @driskull Do we have a use case for a list having **both** interactive and non-interactive items? If it's always one or the other, we could move `nonInteractive` to the list to toggle role a

[2021-11-08 17:27] driskull commented on #3027
I don't think so.

Maybe we should just get rid of the nonInteractive option?

[2021-11-08 19:43] caripizza commented on #3215
Can we remove the [`10%` width](https://github.com/Esri/calcite-components/blob/master/src/components/calcite-tile/calcite-tile.scss#L50) I see set on the .content class? It's ignored since that element already has `flex-auto` set on it (which includes flex-basis for width).

[2021-11-08 22:14] jcfranco commented on #3212
@Elijbet I updated the repro case to make it clearer to see. If you expand one accordion group and then expand the other one, the first one closes.

[2021-11-08 22:21] benelan commented on #2928
What about using a library, e.g. https://github.com/MikeMcl/big.js/#bigjs